@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CentralGeneracionModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    string sSelected = "";
}

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>

<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<script src="~/Areas/SistemasTransmision/Content/Scripts/CentralGeneracion.js"></script>

@using (Html.BeginForm("Save", "centralgeneracion", FormMethod.Post, new { id = "frmCentralGeneracion", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "centralgeneracion", new { id = Model.Entidad.Stgenrcodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:800px;">
            @Html.HiddenFor(model => model.Entidad.Stcntgcodi)
            @Html.HiddenFor(model => model.Entidad.Stgenrcodi)
            <table cellspacing="2" cellpadding="5" style="width: 800px;">
                <tr>
                    <td><div class="editor-label">Central de Generación(*) :</div></td>
                    <td>
                        <div>
                            <select id="Entidad_Equicodi" name="Entidad.Equicodi" style=" width: 500px;">
                                @foreach (var item in Model.ListaCentralGeneracion)
                                {
                                    sSelected = "";
                                    if (@item.CentGeneCodi == Model.Entidad.Equicodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.CentGeneCodi" @sSelected>@item.CentGeneNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra(*) :</div></td>
                    <td>
                        <div>
                            <select id="Entidad_Barrcodi" name="Entidad.Barrcodi" style=" width: 500px;">
                                @foreach (var item in Model.ListaBarra)
                                {
                                    sSelected = "";
                                    if (@item.BarrCodi == Model.Entidad.Barrcodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.BarrCodi" @sSelected>@item.BarrNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">(*) Campo Obligatorio</div></td>
                </tr>
            </table>
        </div>

    </div>
}
