@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CentralGeneracionModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Centrales de Generacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sPerinombre = TempData["Perinombre"];
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/SistemasTransmision/Content/Scripts/CentralGeneracion.js"></script>
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".mensaje").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300);
        }, 3000)
    })
</script>

<div>
    @if (sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title">
        @Html.HiddenFor(model => model.EntidadRecalculo.Stpercodi)
        @Html.HiddenFor(model => model.EntidadRecalculo.Strecacodi)
        @Html.HiddenFor(model => model.EntidadGenerador.Stgenrcodi)
        @if (@Model.EntidadGenerador != null)
        {
            <div class="content-titulo">@Model.EntidadRecalculo.Stpernombre/@Model.EntidadRecalculo.Strecanombre: Lista de Centrales de Generación - @Model.EntidadGenerador.Emprnomb</div>
        }
        else
        {
            <div class="content-titulo">@Model.EntidadRecalculo.Stpernombre/@Model.EntidadRecalculo.Strecanombre: Lista de Centrales de Generación</div>
        }
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Regresar" id="btnRegresar" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>