@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ConfiguracionRpfModel

<script type="text/javascript">
    $(function () {
        $('#btnGrabarParametro').click(function () {
            grabarParametro();
        });

        $('#btnConsultarHistorico').click(function () {
            mostrarHistorico();
        });

        $('#txtFechaVigencia').Zebra_DatePicker({
        });
    });
</script>

<div style="width:700px">

<div style="float:right; margin-bottom:20px">
    <input type="button" id="btnGrabarParametro" value="Grabar" />
</div>
<table class="tabla-formulario" border="1" >
    <thead>
        <tr>
            <th>Parámetro</th>
            <th>Valor Vigente</th>
            <td>Próximo valor vigente a partir de</td>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estatismo</td>
            <td style="text-align:center">
                <input type="text" id="txtEstatismo" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.Estatismo).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>%RPrimaria</td>
            <td style="text-align:center">
                <input type="text" id="txtRPrimaria" onkeypress="return validarNumero(this,event)" style="width:100px" disabled="disabled"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.RPrimaria).First().PARAMVALUE" />
                
             </td>
            <td>  
                <table style="width:auto" border="0">
                    <tr>
                        <td style="border:1px none"><input type="text" id="txtRPrimariaNew" onkeypress="return validarNumero(this,event)" style="width:100px" /></td>
                        <td style="border:1px none"><input type="text" style="width:100px" id="txtFechaVigencia"  /></td>
                        <td style="border:1px none"><input type="button" id="btnConsultarHistorico" value="Ver histórico" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Frecuencia Nominal(HZ)</td>
            <td style="text-align:center">
                <input type="text" id="txtFrecNominal" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaNominal).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Porcentaje de cumplimiento</td>
            <td style="text-align:center">
                <input type="text" id="txtPorCumplimiento" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.PorcentajeEvaluacion).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>% Variación potencia</td>
            <td style="text-align:center">
                <input type="text" id="txtVarPotencia" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.VariacionPotencia).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>% Variación frecuencia</td>
            <td style="text-align:center">
                <input type="text" id="txtVarFrecuencia" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.VariacionFrecuencia).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Número de Intentos</td>
            <td style="text-align:center">
                <input type="text" id="txtNroIntentos" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.NumeroIntentos).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Cantidad mínima sin rango</td>
            <td style="text-align:center">
                <input type="text" id="txtSinRango" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.MinimoExlusion).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Tamaño banda evaluación(HZ)</td>
            <td style="text-align:center">
                <input type="text" id="txtBanda" onkeypress="return validarNumero(this,event)" style="width:100px"
                    value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.TamanioBanda).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Número de datos (n):</td>
            <td style="text-align:center">
                <input type="text" id="txtNroDatos" onkeypress="return validarNumero(this,event)" style="width:100px"
                       value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.NumeroDatosNormal).First().PARAMVALUE" />
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

</div>

<div class="general-popup" id="popupHistorico">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de parámetros</span></div>
    <div class="popup-text" id="contenidoHistorico">

    </div>
</div>