@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.AnalisisModel

<script type="text/javascript">
    $(function () {
        $('#btnExportar').click(function () {
            exportar();
        });
    });
</script>

<div style="float:right; margin-bottom:20px">
    <input type="button" id="btnExportar" value="Exportar" />
</div>

<table class="tabla-formulario" border="1" >
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Pto medición</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>% Cumplimiento</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporte)
        { 
            <tr>
                <td>@item.EMPRNOMB</td>
                <td>@item.EQUINOMB</td>
                <td>@item.EQUIABREV</td>
                <td>@item.PTOMEDICODI</td>
                <td>@item.HORAINICIO</td>
                <td>@item.HORAFIN</td>
                <td>@(item.PORCENTAJE.ToString("#,###.00") + "%")</td>
                <td>@item.INDCUMPLIMIENTO</td>
            </tr>
        }        
    </tbody>
</table>
