@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaModel

<div id="mensajeEdit" class="action-message">Por favor complete los datos</div>
<div id="div-edit-empresa" class="content-registro">

    <div id="tabs1-js">
        <form id="frmRegistro">
            <table style="width:100%">
                <tr>
                    <td class="registro-label" style="padding-top:5px">Domiciliada</td>
                    <td class="registro-control" style="cursor: pointer; line-height: 25px" @*style="padding-top:3px"*@>
                        <select id="ddl-domicilioda" edit="location-id" name="Emprdomiciliada">
                            <option value="-1">[Seleccione]</option>
                            <option value="N">Nacional</option>
                            <option value="E">Extranjero</option>
                        </select>
                    </td>
                </tr>
                <!--<tr id="trRuc">--> <tr>
                <td class="registro-label">RUC:</td>
                <td class="registro-control">
                    <input type="text" id="txtRuc" style="width:350px" value="@Model.Entidad.Emprruc" name="Emprruc" />
                    <input type="button" id="btnBuscarRuc" value="..." />
                </td>
                </tr>
                <tr>
            <td class="registro-label">Abreviatura:</td>
            <td class="registro-control">
                <input type="text" id="txtAbreviatura" style="width:350px" value="@Model.Entidad.Emprabrev" name="Emprabrev" maxlength="6" />
            </td>
        </tr>
                 <tr>
            <td class="registro-label">Código Osinergmin:</td>
            <td class="registro-control">
                <input type="text" id="txtOsinergmin" style="width:350px" value="@Model.Entidad.EmprCodOsinergmin" name="EmprCodOsinergmin" maxlength="30" />
            </td>
        </tr>
                <tr>
                    <td class="registro-label">Nombre:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombre" style="width:350px" value="@Model.Entidad.Emprnomb" name="Emprnomb" maxlength="50" @*readonly="readonly"*@ />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Razón Social:</td>
                    <td class="registro-control">
                        <input type="text" id="txtRazonSocial" style="width:350px" value="@Model.Entidad.Emprrazsocial" name="Emprrazsocial" maxlength="300" @*readonly="readonly"*@ />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Es Agente:</td>
                    <td class="registro-control" style="cursor: pointer; line-height: 25px">
                        <div style="cursor: pointer;margin-top:5px">

                            <select id="ddl-options" edit="option-id" style="width:350px" name="Empragente">
                                <option value="NA">[Seleccione]</option>
                                <option value="S">Si</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr id="trSein">
                    <td class="registro-label">Conectado al SEIN:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaSein" style="width:350px" value="0" name="Emprsein">
                            <option value="0">-SELECCIONE-</option>
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" id="hfEmpresaSein" name="Emprsein" value="@Model.Entidad.Emprsein" /></td>
                    <td></td>
                </tr>
                <tr id="trTipoAgente">
                    <td class="registro-label">Tipo Agente:</td>
                    <td class="registro-control">
                        @*<select id="cbTipoEmpresa" style="width:350px" name="Tipoemprcodi">
                    @foreach (var item in Model.ListaTipoEmpresa)
                    {
                        <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                    }
                </select>*@

                        <table class="pretty tabla-adicional" id="tbTipoEmpresa">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Descripción</th>
                                    <th>Principal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaTipoEmpresa)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="cb-tipoempresa" onclick="JavaScript:validarTipoEmpresa(this)" value="@item.Tipoemprcodi" />
                                        </td>
                                        <td>@item.Tipoemprdesc</td>
                                        <td>
                                            <input type="radio" name="rbtipoempresa" onclick="JavaScript:validarTipoPrincipal(this)" value="@item.Tipoemprcodi" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="hfTipoEmpresa" name="Tipoemprcodi" value="@Model.Entidad.Tipoemprcodi" />
                        <input type="hidden" id="hfListaEmpresa" name="ListaEmpresas" value="@Model.Entidad.TiposEmpresas" />

                    </td>
                </tr>
                <tr id="trEmpPrivada">
                    <td class="registro-label" style="padding-top:10px">Sector</td>
                    <td class="registro-control" style="padding-top:10px">
                        <select id="cbAmbito" style="width:350px" name="Emprambito">
                            <option value="0">-SELECCIONE-</option>
                            <option value="Pu">Público</option>
                            <option value="Pr">Privado</option>
                        </select>
                    </td>
                </tr>
                <tr id="trRubro">
                    <td class="registro-label">Rubro o Negocio</td>
                    <td class="registro-control">
                        <span><input type="radio" id="rdBienes" name="value" value="1" />Bienes</span><br />
                        <span><input type="radio" id="rdServicios" name="value" value="2" />Servicio de Consultoría</span><br />
                        <span><input type="radio" id="rdOtros" name="value" value="3" />Otros servicios</span>
                        <input type="hidden" id="hddRubro" value="@Model.Entidad.Emprrubro" name="Emprrubro" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Estado:</td>
                    <td class="registro-control">
                        <select id="cbEstado" style="width:350px" name="Emprestado">
                            <option value="A">Activo</option>
                            <option value="B">Baja</option>
                        </select>
                        <input type="hidden" id="hfEstado" value="@Model.Entidad.Emprestado" />
                    </td>
                </tr>
                <tr id="trproveedor">
                    <td class="registro-label">Proveedor:</td>
                    <td class="registro-control">
                        <select id="cbProveedor" style="width:350px" value="0" name="Emprindproveedor">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </td>
                </tr>
                <tr id="trDemanda" style="display:none">
                    <td class="registro-label">Demanda mayor o igual a 10MW</td>
                    <td class="registro-control">
                        <input type="checkbox" id="cbIndDemanda" />
                        <input type="hidden" id="hfIndDemanda" value="@Model.Entidad.Inddemanda" name="Inddemanda" />
                    </td>
                </tr>
                @if (Model.IndicadorIntegrante == "S")
                {
                    <tr>
                        <td class="registro-label">Es empresa integrante:</td>
                        <td class="registro-control">
                            <select id="cbIntegrante" style="width:350px" name="Emprcoes">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                            <input type="hidden" id="hfIntegrante" value="@Model.Entidad.Emprcoes" />
                        </td>
                    </tr>
                }
                else
                {
                    <input type="hidden" id="hfIntegrante" name="Emprcoes" value="@Model.Entidad.Emprcoes" />
                }
            </table>

            @if (Model.IndicadorGrabar == "S")
            {
                <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                    <input type="button" id="btnGrabar" value="Grabar" />
                    <input type="button" id="btnCancelar" value="Cancelar" />
                </div>
            }

            <input type="hidden" id="hfCodigoEmpresa" value="@Model.Entidad.Emprcodi" name="Emprcodi" />
        </form>
    </div>   
</div>