@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaMMEModel

<script src="~/Areas/Admin/Content/Scripts/empresamme.js?v=1.0"></script>


<div id="mensajeEditMME" class="action-message">Por favor complete los datos</div>
<div id="div-edit-empresa-mme" class="content-registro">

    <div id="tabs1-js">
        <form id="frmRegistro">
            <table style="width:100%">

                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaMME" name="Emprcodi" style="width:250px;">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfTipoEmprCodiMME" value="@Model.Entidad.TipoEmprcodi" name="TipoEmprCodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Fecha Inicio de Participación:</td>
                    <td class="registro-control">
                        <input type="text" id="txtFecParitcipacion" name="Emprfecparticipacion" style="width:120px;" value="@Model.Entidad.Emprfecparticipacion" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Fecha de Retiro:</td>
                    <td class="registro-control">
                        <input type="text" id="txtFecRetiro" name="Emprfecretiro" style="width:120px;" value="@Model.Entidad.Emprfecretiro" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Observación:</td>
                    <td class="registro-control">
                        <textarea id="txtEmprComentario" name="Emprcomentario" maxlength="255">@Model.Entidad.Emprcomentario</textarea>
                    </td>
                </tr>
            </table>

            <!--if (Model.IndicadorGrabar == "S") -->

            <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                <input type="button" id="btnGrabarMME" value="Grabar" />
                <input type="button" id="btnCancelarMME" value="Cancelar" />
            </div>

            <input type="hidden" id="hfCodigoEmpresaMME" value="@Model.Entidad.Emprmmecodi" name="Emprmmecodi" />
            <input type="hidden" id="hfCodigoEmpresa" value="@Model.Entidad.Emprcodi" name="Emprcodi" />
        </form>
    </div>
</div>