@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaMMEModel

<table border="0" class="pretty tabla-icono" id="HistorialMME">
    <thead>
        <tr>
            <th>Fec.Inicio Partic.</th>
            <th>Fec. de Retiro</th>
            <th>Actualización</th>
            <th>Usu. Creación</th>
            <th>Fecha Creación</th>
            <th>Usu. Modifi.</th>
            <th>Fec.Modificacion</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaHistorialMME.Count > 0)
        {
        foreach (var item in Model.ListaHistorialMME)
        {
        <tr>
            <td>
                @if (item.Emprfecparticipacion != null)
                {
                <span>@(((DateTime)item.Emprfecparticipacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>
                @if (item.Emprfecretiro != null)
                {
                <span>@(((DateTime)item.Emprfecretiro).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>@item.Emprcomentario</td>
            <td>@item.Emprusucreacion</td>
            <td>
                @if (item.Emprfeccreacion != null)
                {
                <span>@(((DateTime)item.Emprfeccreacion).ToString("dd/MM/yyyy hh:mm"))</span>
                }
            </td>
            <td>@item.Emprusumodificacion</td>
            <td>
                @if (item.Emprfecmodificacion != null)
                {
                <span>@(((DateTime)item.Emprfecmodificacion).ToString("dd/MM/yyyy hh:mm"))</span>
                }
            </td>
        </tr>
        }
        }
    </tbody>
</table>