@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaMMEModel

<table border="0" class="pretty tabla-icono" id="tablaMME">
    <thead>
        <tr>
            <th></th>            
            <th>Nombre</th>
            <th>Tipo Participante</th>
            <th>RUC</th>
            <th>Estado</th>
            <th>Fec. Inicio Participación</th>
            <th>Fec. de Retiro</th>
            <th>Actualización</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEmpresaMME.Count > 0)
        {
            foreach (var item in Model.ListaEmpresaMME)
            {
        <tr>
            <td>
                <a href="JavaScript:editarEmpresaMME(@item.Emprmmecodi, @item.Emprcodi);">
                    <img src="~/Content/Images/btn-edit.png" title="Editar datos de la Empresa" />
                </a>
                <a href="JavaScript:historialMME(@item.Emprcodi);">
                    <img src="~/Content/Images/btn-properties.png" title="Historial de Cambios" />
                </a>
                @if (Model.IndicadorGrabar == "S" && Model.Indicador != "S")
                {
                    <a href="JavaScript:eliminarEmpresaMME(@item.Emprcodi);">
                        <img src="~/Content/Images/btn-cancel.png" title="Eliminar Empresa" />
                    </a>
                }
            </td>
            <td>@item.Emprnomb</td>
            <td>@item.EmprTipoParticipante</td>
            <td>@item.Emprruc</td>
            <td>@item.Emprestado</td>
            <td>
                @if (item.Emprfecparticipacion != null)
                {
                    <span>@(((DateTime)item.Emprfecparticipacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>
                @if (item.Emprfecretiro != null)
                {
                    <span>@(((DateTime)item.Emprfecretiro).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>@item.Emprcomentario</td>                       
        </tr>
            }
        }
    </tbody>
</table>