@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Abreviatura</th>
            <th>Nombre</th>
            <th>Tipo Empresa</th>
            <th>RUC</th>
            <th>Razón Social</th>
            <th>Pertenece SEIN</th>
            <th>Es integrante</th>
            <th>Estado</th>
            <th>Usu. Creación</th>
            <th>Fec. Creación</th>
            <th>Usu. Modifi.</th>
            <th>Fec. Modifi</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEmpresa.Count > 0)
        {
            foreach (var item in Model.ListaEmpresa)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarEmpresa(@item.Emprcodi);">
                            <img src="~/Content/Images/btn-edit.png" title="Editar datos de la Empresa" />
                        </a>
                        @if (Model.IndicadorGrabar == "S" && Model.Indicador != "S")
                        {
                            <a href="JavaScript:darBajaEmpresa(@item.Emprcodi);">
                                <img src="~/Content/Images/btn-baja.png" title="Dar de baja" />
                            </a>
                            <a href="JavaScript:eliminarEmpresa(@item.Emprcodi);">
                                <img src="~/Content/Images/btn-cancel.png" title="Eliminar Empresa" />
                            </a>
                        }
                    </td>
                    <td>@item.Emprabrev</td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Tipoemprdesc</td>
                    <td>@item.Emprruc</td>
                    <td>@item.Emprrazsocial</td>
                     <td>
                @if (item.Emprsein == "S")
                {
                    <span>Si</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @if (item.Emprcoes == "S")
                {
                    <span>Si</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
                    <td>@item.Emprestado</td>
                    <td>@item.Emprusucreacion</td>
            <td>
                @if (item.Emprfeccreacion != null)
                {
                    <span>@(((DateTime)item.Emprfeccreacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>@item.Emprusumodificacion</td>
            <td>
                @if (item.Emprfecmodificacion != null)
                {
                    <span>@(((DateTime)item.Emprfecmodificacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
                </tr>
            }
        }
    </tbody>
</table>