@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaModel
<div style="clear:both; height:10px"></div>

<div class="estado_empresa_mensaje">@Html.Raw(Model.Mensaje)</div>

<table id="listadoEmpresa" border="0" class="pretty tabla-icono" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <th colspan="5">Empresa</th>
            <th colspan="2">Última modificación</th>
        </tr>
        <tr>
            <th>Código</th>
            <th>Abreviatura</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha de Vigencia</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSiEmpresadat)
        {
            <tr>
                <td>@item.Emprcodi</td>
                <td>@item.Emprabrev</td>
                <td>@item.Emprnomb</td>
                <td>@item.EmprestadoDesc</td>
                <td>@item.EmprestadoFechaDesc</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
            </tr>
        }
    </tbody>
</table>
