@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = Model.TituloWeb;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Siosein/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js?v=1.5.2"></script>

<div class="form-title">
    <div class="content-titulo">@Model.TituloTabla</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>

<input type="hidden" id="hdTpriecodi" value="@Model.Tpriecodi" />

<div style="padding: 15px; padding-bottom: 0px;">
    <!-- id="mainLayout"-->
    <div class='@Model.Resultado' id='mensaje' style="margin-bottom: 5px; margin-top: 0; display: none;">@Model.Mensaje</div>

    <div class="search-content" style="margin-bottom: 0px;padding-top: 10px; padding-bottom: 10px;">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <input type="text" disabled="disabled" id="txtFecha" name="Fecha" value="@Model.Mes" style="width: 80px;" />
                </td>
                <td>
                    <input type="button" id="btnValidar" value="Validar" />
                </td>
                <!--SIOSEIN-PRIE-2021-->
                <td>
                    <input type="button" id="btnExportarExcel" value="Exportar a Excel" />
                </td>
                <td>
                    <input type="button" id="btnExportarTexto" value="Exportar a Texto" />
                </td>
                <!-- -->
                <td>
                <td>
                    <a href="JavaScript:abrirVentanaHistorialVerificacion('@Model.TituloTabla','@Model.Tpriecodi', '@Model.Tprieabrev');" title="Historial">
                        <img src="~/Content/images/envios.png" alt="" />
                    </a>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <!--Leyenda-->
    <div class="action-alert" id='leyenda_prie' style="margin-bottom: 5px; margin-top: 10px; display: none;">

    </div>
</div>

@RenderBody()

<div id="popupHistorial" class="general-popup" style="width: 570px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span></span></div>

    <div class="table-list" id="div_historial">
    </div>
</div>
