@model COES.MVC.Intranet.Areas.IEOD.Models.EquiposSEINModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaSEIN">
    <thead>

        <tr>

            <th onclick="ordenar('Emprnomb');">Empresa</th>
            <th onclick="ordenar('Famnomb');">Tipo de Equipo</th>
            <th onclick="ordenar('Equinomb');">Equipo</th>
            <th onclick="ordenar('Subcausadesc');">Motivo</th>
            <th onclick="ordenar('Eeqfechaini');">Fecha</th>
            @*<th onclick="ordenar('Eeqestado');">Estado</th>*@
        </tr>


    </thead>
    <tbody>

        @foreach (var item in Model.ListaEquipoSEIN)
        {

            <tr>
                <!-- if (Model.OpcionEditar)
                 {
                     <td>
                         <a href="JavaScript:mostrarDetalle(item.Ptomedicodi);"><img src="Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a>
                         <a href="JavaScript:eliminar(item.Ptomedicodi);"><img src="Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar" alt="Eliminar" /></a>
                     </td>
                 }
                 else
                 {
                     <td><a href="#"><img src="Url.Content("~/Content/Images/btn-edit-disabled.png")" title="Sin acceso" alt="Ver Formatos" /></a></td>
                 }-->
                <!--<td>item.Emprcodi</td>-->
                <td>@item.Emprnomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Subcausadesc</td>
                <td>@item.Eeqfechaini</td>
                @*@if (@item.Eeqestado == 1)
                {
                    <td><span style="color: #ff770d;"><strong>PENDIENTE</strong></span></td>
                }
                else
                {
                    if (@item.Eeqestado == 2)
                    {
                        <td><span style="color:green;"><strong>ATENDIDO</strong></span></td>
                    }
                    else
                    {
                        if (@item.Eeqestado == 3)
                        {
                            <td><span style="color:red;"><strong>ANULADO</strong></span></td>
                        }
                    }
                }*@
            </tr>
        }<!---->

    </tbody>
</table>

