@model COES.MVC.Intranet.Areas.IEOD.Models.EquiposSEINModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        
        <tr>

            <th scope="col" style="visibility: hidden; width: 0px; display: none;">Codigo</th>
            <th scope="col" style="visibility: hidden; width: 0px; display: none;">ID</th>
            <th scope="col" style="visibility: hidden; width: 0px; display: none;">MotivoID</th>
            <th scope="col" style="visibility: hidden; width: 0px; display: none;">TipoID</th>
            <th scope="col" style="visibility: hidden; width: 0px; display: none;">EquipoID</th>
            <th scope="col" onclick="ordenar('Emprnomb');">Empresa</th>
            <th scope="col" onclick="ordenar('Famnomb');">Tipo de Equipo</th>
            <th scope="col" onclick="ordenar('Equinomb');">Equipo</th>
            <th scope="col" onclick="ordenar('Subcausadesc');">Motivo</th>
            <th scope="col" onclick="ordenar('Eeqfechaini');">Fecha</th>
            <th scope="col" onclick="ordenar('Eeqestado');">Estado</th>
            <th scope="col">Opcion</th>
        </tr>
        <!-- }   style="visibility: hidden" -->

    </thead>
    <tbody>

        @foreach (var item in Model.ListaEquipoSEIN)
        {

            <tr>
                <!-- if (Model.OpcionEditar)
                 {
                     <td>
                         <a href="JavaScript:mostrarDetalle(item.Ptomedicodi);"><img src="Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a>
                         <a href="JavaScript:eliminar(item.Ptomedicodi);"><img src="Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar" alt="Eliminar" /></a>
                     </td>
                 }
                 else
                 {
                     <td><a href="#"><img src="Url.Content("~/Content/Images/btn-edit-disabled.png")" title="Sin acceso" alt="Ver Formatos" /></a></td>
                 }-->
                <td style="visibility: hidden; width: 0px; display: none;">@item.Emprcodi</td>
                <td style="visibility: hidden; width: 0px; display: none;">@item.Eeqcodi</td>
                <td style="visibility: hidden; width: 0px; display: none;">@item.Subcausacodi</td>
                <td style="visibility: hidden; width: 0px; display: none;">@item.Famcodi</td>
                <td style="visibility: hidden; width: 0px; display: none;">@item.Equicodi</td>
                <td>@item.Emprnomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Subcausadesc</td>
                <td>@item.Eeqfechaini</td>
                @if (@item.Eeqestado == 1)
                {
                    <td><span style="color: #ff770d;"><strong>PENDIENTE</strong></span></td>
                }
                else
                {
                    if (@item.Eeqestado == 2)
                    {
                    <td><span style="color:green;"><strong>ATENDIDO</strong></span></td>
                    }
                    else
                    {
                        if (@item.Eeqestado == 3)
                        {
                    <td><span style="color:red;"><strong>ANULADO</strong></span></td>
                        }
                    }
                }
                <td>
                    @if (@item.Eeqestado == 2) {
                        <a href="#"><img src="@Url.Content("~/Content/Images/btn-ok-disabled.png")" title="Aprobar" alt="Aprobar" /></a>
                        <a href="#"><img src="@Url.Content("~/Content/Images/btn-cancel-disabled.png")" title="Rechazar" alt="Rechazar" /></a>                    
                    }
                    else 
                    {
                        <a href="JavaScript:aprobar(@item.Eeqcodi);"><img src="@Url.Content("~/Content/Images/btn-ok.png")" title="Aprobar" alt="Aprobar" /></a>
                        
                       if (@item.Eeqestado == 3)
                        {
                           <a href="#"><img src="@Url.Content("~/Content/Images/btn-cancel-disabled.png")" title="Rechazar" alt="Rechazar" /></a>
                        }
                       else { 
                            <a href="JavaScript:rechazar(@item.Eeqcodi);"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Rechazar" alt="Rechazar" /></a>
                        }
                    }                    
                    
                </td>
            </tr>
        }<!---->

    </tbody>
</table>

