@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var EMPRNOMB = TempData["EMPRNOMB"];
    var BARRCODISUM = (List<COES.Dominio.DTO.Transferencias.BarraDTO>)TempData["BARRCODISUM"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/solicitudCodigoEdit.js?v=@DateTime.Now.Millisecond"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

@using (Html.BeginForm("Update", "solicitudcodigo", FormMethod.Post, new { id = "frmCodigoRetiro", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ListaPotenciasContratadasVTP)
    @Html.HiddenFor(model => model.Entidad.PeridcCodi)
    @Html.Hidden("Entidad.EmprNombre", EMPRNOMB)
    @Html.HiddenFor(model => model.Entidad.SoliCodiRetiCodi)
    @Html.HiddenFor(model => model.Entidad.BarrCodi)
    @Html.HiddenFor(model => model.Entidad.esPrimerRegistro)
    @Html.HiddenFor(model => model.Entidad.SoliCodiRetiObservacion, new { id = "detalle" })
    <div class="ast" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
        <div class="form-title">@sTitulo - @EMPRNOMB</div>
        <div class="content-hijo" style="padding-top:8px;">
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">@Model.sError</div>
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="2">
                        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                            <table cellspacing="2" cellpadding="5">
                                <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                    <td colspan="5">
                                        <div class="editor-label "><b>Datos Comunes</b></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="border-bottom:1px solid #CBD3CF">
                                        <div class="editor-label">
                                            <label>Periodo de Declaracion:</label>
                                            <span>
                                                @Model.Entidad.PeridcNombre
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="editor-label etiqueta-vertical">
                                            @Html.LabelFor(model => model.Entidad.CliCodi, "Cliente")

                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label etiqueta-vertical">
                                            @Html.LabelFor(model => model.Entidad.TipoContCodi, "Tipo de Contrato")

                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label etiqueta-vertical">
                                            @Html.LabelFor(model => model.Entidad.TipoUsuaCodi, "Tipo de Usuario")

                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label etiqueta-vertical">
                                            @Html.LabelFor(model => model.Solicodiretifechainicio, "Fecha de Inicio ")

                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label etiqueta-vertical">
                                            @Html.LabelFor(model => model.Solicodiretifechafin, "Fecha Fin")

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="min-width:281px">
                                        <div class="editor-field">@Html.DisplayFor(model => model.Entidad.CliNombre)</div>
                                        <div>
                                            <a href="javascript:void(0)" id="btnSolicitarCliente">En caso no encuentre el cliente hacer click aqui</a>
                                        </div>
                                    </td>
                                    <td width="210px">
                                        <div class="editor-field">
                                            @Html.DisplayFor(model => model.Entidad.TipoContNombre)
                                        </div>
                                    </td>
                                    <td width="210px">
                                        <div class="editor-field">
                                            @Html.DisplayFor(model => model.Entidad.TipoUsuaNombre)
                                        </div>
                                    </td>
                                    <td width="220px">
                                        <div class="editor-label">@Html.TextBoxFor(model => model.Entidad.SoliCodiRetiFechaInicio, "{0:dd/MM/yyyy}", new { @readonly = true, style = "background-color: #FFFFFF; border: 0px; color: #111; font-size: 12px; text-indent: 0px;" })</div>
                                    </td>
                                    <td>
                                        <div class="editor-label">@Html.TextBoxFor(model => model.Entidad.SoliCodiRetiFechaFin, "{0:dd/MM/yyyy}", new { @readonly = true, style = "background-color: #FFFFFF; border: 0px; color: #111; font-size: 12px; text-indent: 0px;" })</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                            <table cellspacing="2" cellpadding="5">
                                <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                    <td colspan="2">Datos LVTEA</td>
                                </tr>
                                <tr>
                                    <td class="etiqueta-horizontal">
                                        <div class="editor-label ">
                                            @Html.LabelFor(model => model.Entidad.BarrCodi, "Barra Transferencia")
                                            (*)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label">
                                            @Html.DisplayFor(model => model.Entidad.BarrNombBarrTran)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="etiqueta-horizontal">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.Entidad.SoliCodiRetiCodigo, "Código")
                                            (*)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-label">
                                            @Html.DisplayFor(model => model.Entidad.SoliCodiRetiCodigo)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="etiqueta-horizontal">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.Entidad.SoliCodiRetiDescripcion, "Descripción")
                                            (*)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(model => model.Entidad.SoliCodiRetiDescripcion, new { cols = 80, @rows = 2, disabled = "disabled", style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 250px; height: 45px;" })

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="etiqueta-horizontal">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.Entidad.SoliCodiRetiDetalleAmplio, "Mayor Detalle")
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(model => model.Entidad.SoliCodiRetiDetalleAmplio, new { cols = 80, @rows = 2, disabled = "disabled", style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 250px; height: 65px;" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>

                    <td width="50%">
                        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px; height:100%; ">
                            <table cellspacing="2" cellpadding="5">
                                <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                    <td colspan="2">Datos LVTP</td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="160px">
                                        <div class="listado" id="listaSuministro">
                                            @Html.Partial("ListaDetalle", Model)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        @if (!Model.Entidad.SoliCodiRetiEstado.Equals("REC") && !Model.Entidad.SoliCodiRetiEstado.Equals("BAJ") && !Model.Entidad.SoliCodiRetiEstado.Equals("SBJ"))
                                        {
                                            <input type="button" id="btnAgregar" value="Agregar suministro" alt="Agregar barra suministro" title="Agregar barra suministro" />
                                        }
                                    </td>
                                    <td>
                                        <div class="editor-label">
                                            @if (!Model.Entidad.SoliCodiRetiEstado.Equals("REC") && !Model.Entidad.SoliCodiRetiEstado.Equals("BAJ") && !Model.Entidad.SoliCodiRetiEstado.Equals("SBJ"))
                                            {
                                                <select id="BARRCODISUM" name="BARRCODISUM">
                                                    @foreach (var item in @BARRCODISUM)
                                                    {
                                                        <option value="@item.BarrCodi">@item.BarrNombre </option>
                                                    }
                                                </select>
                                            }

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                            <!--<table cellspacing="2" cellpadding="5">
                                <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                    <td colspan="2">Datos de Potencias Contratadas</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="editor-label  " style="display:inline-block">
                                            <label for="rdbNivelCargaPotenciaTransferencia">


                                                @Html.RadioButtonFor(m => m.Entidad.TrnpcTipoCasoAgrupado, "AGRVTA", new { @id = "rdbNivelCargaPotenciaTransferencia" })
                                                <span>Potencia contratada a nivel de barra transferencia</span>
                                            </label>
                                        </div>
                                        <div class="editor-label inline" style="display:inline-block">
                                            <label for="rdbNivelCargaPotenciaSuministro">
                                                @Html.RadioButtonFor(m => m.Entidad.TrnpcTipoCasoAgrupado, "AGRVTP", new { @id = "rdbNivelCargaPotenciaSuministro" })
                                                <span>Potencia contratada a nivel de barras de suministros</span>
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2" data-for-potencia="AGRVTA" style="display:none">
                                        <table width="100%" class="table-potencia-form" cellpadding="3" cellspacing="0">
                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Pot.Contratada Fija H.P</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                         
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctHpmwFija, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctHpmwFija)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Pot.Contratada Fija H.F.P</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctHfpmwFija, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctHfpmwFija)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Total Fija</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctTotalmwFija, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctTotalmwFija)
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Pot.Contratada Var H.P</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctHpmwFijaVariable, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctHpmwFijaVariable)
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Pot.Contratada Var H.F.P</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctHfpmwFijaVariable, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctHfpmwFijaVariable)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-potencia-label">
                                                    <div class="editor-label">
                                                        <span>Total Var</span><span>(*)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field disabled">
                                                        @Html.TextBoxFor(model => model.Entidad.TrnPctTotalmwVariable, new { @class = "numeroDecimal", @maxlength = "10" })
                                                        @Html.ValidationMessageFor(model => model.Entidad.TrnPctTotalmwVariable)
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td colspan="2" data-for-potencia="AGRVTP" style="display:none">
                                        <table width="100%" class="pretty tabla-icono thead-fixed" id="tblAgrvtp">
                                            <thead>
                                                <tr>
                                                    <th>BARRA SUMINISTRO</th>
                                                    <th>Pot.Contr. Fija H.P(MW)</th>
                                                    <th>Pot.Contr. Fija H.F.P(MW)</th>
                                                    <th>Tot.Fija</th>
                                                    <th>Pot.Contr. Var.H.P(MW)</th>
                                                    <th>Pot.Contr. Var.H.F.P(MW)</th>
                                                    <th>Tot.Variable</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    if (Model.Entidad.TrnpcTipoCasoAgrupado == "AGRVTP")
                                                    {

                                                        foreach (var item in Model.Entidad.ListaPotenciaContratadas)
                                                        {
                                                            <tr data-id-generado="@item.CoregeCodi" data-id-row="@item.CoregeCodi">
                                                                <td>
                                                                    @item.BarrSuministro
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctHpMwFija" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctHfpMwFija" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctTotalMwFija" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctHpMwFijaVariable" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctHfpMwFijaVariable" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="editor-field disabled">
                                                                        <input type="text" class="numeroDecimal"
                                                                               maxlength="10" style='width:85px;margin:2px'
                                                                               value="@item.TrnPctTotalMwVariable" />
                                                                        <span class="error error-hide">*</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                         
                                        </table>
                                    </td>
                                </tr>

                                <tfoot>
                                    <tr>
                                        <td colspan="5" style=" padding-top: 10px; padding-bottom: 10px; background: white; color: #989494;">
                                            <b>Nota:</b>
                                            <span class="mensaje-pie">
                                                Debe llenar las potencias contratadas a nivel de barra de transferencia o
                                                bien a nivel de barra de suministro, Los valores ingresados los podra
                                                editar en la pestaña "Potencia Contratada" de la pestaña de listado de códigos.
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","solicitudcodigo")'" alt="Retornar" title="Retornar" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        @if (Model.Entidad.PeridcEstado == "ABI")
                        {
                            if (!Model.Entidad.SoliCodiRetiEstado.Equals("REC") && !Model.Entidad.SoliCodiRetiEstado.Equals("BAJ") && !Model.Entidad.SoliCodiRetiEstado.Equals("SBJ"))
                            {
                                <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" id="submit" style="visibility:hidden" />
                                <button type="button" id="btnGrabar">Grabar</button>
                            }
                        }

                    </td>
                </tr>

            </table>
        </div>
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>


    function FormatFecha(sFecha) {   //DD/MM/AAAA
        var sDia = sFecha.substring(0, 2);
        var sMes = sFecha.substring(3, 5);
        var sAnio = sFecha.substring(6, 10);
        return new Date(sAnio, sMes, sDia);
    }
    $.validator.setDefaults({
        ignore: ".ignore"
    });

    $("#frmCodigoRetiro").validate({

        //$('#listaSuministro table').each(function () {
        //    console.log($(this));
        //    var customerId = $(this).find("td").eq(1).html();

        //});



        rules: {

            "Entidad.TrnPctHpmwFija": {
                required: true,
            }, "Entidad.TrnPctHfpmwFija": {
                required: true,
            }, "Entidad.TrnPctTotalmwFija": {
                required: true,
            }, "Entidad.TrnPctHpmwFijaVariable": {
                required: true,
            }, "Entidad.TrnPctHfpmwFijaVariable": {
                required: true,
            }, "Entidad.TrnPctTotalmwVariable": {
                required: true,
            }
        }
    });

    jQuery.validator.addMethod("MasGrandeQue", function (value, element, params) {
        //value: (val)fechafinal / params: (tag)fechainicial
        if (!/Invalid|NaN/.test(FormatFecha(value))) {
            //Si la fechafinal no es nulo compara
            return FormatFecha(value) >= FormatFecha($(params).val());
        }
        //caso contrario si la fechafinal es vacia, devuelve true
        return !isNaN(value);
    }, '<br>Debe ser mayor que la fecha de Inicio de Operación.');


</script>
