@model COES.MVC.Extranet.Areas.Transferencias.Models.EmpresaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Seleccionar una empresa";
}
@using (Html.BeginForm("EmpresaElegida", "solicitudcodigo", FormMethod.Post, new { id = "frmEmpresa", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">Por favor, seleccionar la empresa con la que desea trabajar</div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5" border="0">
                <tr>
                    <td style="width:100px;">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.EmprNombre, "Empresa") (*)
                        </div>
                    </td>
                    <td style="width:300px;">
                        <div class="editor-field">
                            <select id="EmprCodi" name="EmprCodi">
                                <option value="">--SELECCIONE UNA EMPRESA--</option>
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.EmprCodi">@item.EmprNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td style="text-align:center">
                        <input type="submit" value="Validar" alt="Validar" title="Validar" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <span class="button b-close"><span>X</span></span>
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmEmpresa").validate({
        rules: {
            EmprCodi: {
                required: true
            }
        }
    });
</script>
