@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>BARRA DE SUMINISTRO</th>
            <th>CÓDIGO</th>
            <th style="width:30px;">OPCIÓN</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCodigoRetiroDetalle)
        {
            if (item.coregeestado.Equals("BAJ"))
            {
                <tr id="fila_@item.Coresdcodi">
                    <td class="iddet" style="display:none;">@item.Coresdcodi</td>
                    <td class="idsum" style="display:none;">@item.Barracodisum</td>
                    <td class="idcod" style="display:none;">@item.Coregecodigo</td>
                    <td class="baja">@item.Barranomsum</td>
                    <td class="baja codvtp">@item.Codigovtp</td>
                    <td class="baja">
                    </td>
                </tr>
            }
            else
            {
                var codigo = item.IdGenerado == null ? item.Coregecodigo.ToString() : item.IdGenerado;

                <tr id="fila_@item.Coresdcodi" data-id-row="@codigo">
                    <td class="iddet" style="display:none;">@item.Coresdcodi</td>
                    <td class="idsum" style="display:none;">@item.Barracodisum</td>
                    <td class="idcod" style="display:none;">@item.Coregecodigo</td>
                    <td>@item.Barranomsum</td>
                    <td class="codvtp">@item.Codigovtp</td>
                    @if (Model.Entidad != null)
                    {
                        if (Model.Entidad.SoliCodiRetiEstado.Equals("REC") || Model.Entidad.SoliCodiRetiEstado.Equals("BAJ") || Model.Entidad.SoliCodiRetiEstado.Equals("SBJ"))
                        {
                            <td></td>
                        }
                        else
                        {
                            if (item.coregeestado.Equals("PAP") || item.coregeestado.Equals("PVT"))
                            {
                                <td>
                                    @if (Model.bEditar)
                                    {
                                        <a href="" id="quitar_@item.Barracodisum" class="quitar"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Quitar" alt="Quitar" /></a>
                                    }

                                </td>
                            }
                            else
                            {
                                <td>
                                </td>
                            }
                        }
                    }
                    else
                    {
                        if (item.coregeestado.Equals("PAP") || item.coregeestado.Equals("PVT"))
                        {
                            <td>
                                @*@if (Model.bEditar)
                                    {*@
                                <a href="" id="quitar_@item.Barracodisum" class="quitar"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Quitar" alt="Quitar" /></a>
                                @*  }
                                *@

                            </td>
                        }
                        else
                        {
                            <td>
                            </td>
                        }
                    }


                </tr>
            }

        }
    </tbody>
</table>