@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>BARRA DE SUMINISTRO</th>
            <th>NRO REGISTROS</th>
            <th style="width:30px;">QUITAR</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRelacionBarras)
        {
            <tr id="fila_@item.BareBarrCodiSum" data-id-row="@item.IdGenerado">
                <td class="id" style="display:none;">@item.BareBarrCodiSum</td>
                <td class="nombre">@item.BarrNombSum</td>
                <td class="nro">
                    @Html.TextBoxFor(modelItem => item.NroRegistros, new { type = "number", min = 1, max = 20, htmlAttributes = new { min = 1, max = 20 }, @class = "numeric" })
                </td>
                <td style="width:30px;">
                    <a id="quitar_@item.BareBarrCodiSum" class="quitar"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Quitar" alt="Quitar" /></a>
                </td>
            </tr>
        }

    </tbody>
</table>
