@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css?v=@DateTime.Now.Minute" rel="stylesheet" />

<style>
    #frmSolicitudCliente input[type="text"], #frmSolicitudCliente textarea {
        background: white;
    }
    .disable {
        background-color: #f8f8f8 !important
    }
</style>
@using (Html.BeginForm("solicitudCliente", "solicitudcodigo", FormMethod.Post, new { id = "frmSolicitudCliente", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(m=>m.EmpresaGeneradora)
    <div class="ast" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
        <div class="content-hijo" style="padding-top:8px;height:auto">
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td>
                        Ingrese RUC del Cliente
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RucCliente, new {  @maxlength = 11 })
                        @Html.ValidationMessageFor(model => model.RucCliente)

                    </td>
                </tr>
                <tr>
                    <td>
                        Ingrese razón del Cliente
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RazonSocial, new { @class = "disable", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RazonSocial)
                    </td>
                </tr>
                <tr>
                    <td>
                        Ingrese un comentario
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Comentario, new { cols = 80, @rows = 2, style = " border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 250px; height: 65px;" })
                        @Html.ValidationMessageFor(model => model.Comentario)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnGrabarSolicitudCliente" value="Solicitar" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Cancelar" id="btnCerrarSolicitudCliente" alt="Cancelar" title="Cancelar" class="b-close" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

<script>

    $("#frmSolicitudCliente").validate({

        //$('#listaSuministro table').each(function () {
        //    console.log($(this));
        //    var customerId = $(this).find("td").eq(1).html();

        //});


        rules: {
            "RucCliente": {
                required: true,
                maxlength: 11,
                minlength: 11,
            },
            "RazonSocial": {
                required: true,
            },
            Comentario: {
                required: true,
            },
        }
    });
</script>