@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Siosein/Content/Css/jquery.timeentry.css" rel="stylesheet" />
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/indexreporte.js"></script>
<script src="~/Content/Scripts/highcharts.js"></script>
<link href="~/Areas/Siosein/Content/Css/reportesopesein.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo" style="width:100%">Reporte en el Portal COES de Resultados de la Declaración Mensual de Suministro de Información de la Operación del SEIN del COES al OSINERGMIN</div>
</div>
<div class="content-tabla" style="margin-left:-10px;">
    <div class="table-list" id="menuOpe" style="float:left;"></div>
    <div style="float:left;">
        <div style="clear:both; height:15px"></div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td><input type="radio" id="chkRepo" name="tiporepor" checked="checked" />Reporte<input type="radio" id="chkGraf" name="tiporepor" />Grafico</td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <table class="tabla-search" style="width:auto">
                            <tr>
                                <td>Comparacion del Tipo:</td>
                                <td>
                                    <select id="cbComparar" name="cbComparar" style="width: 120px;">
                                        <option value="1">Mensual</option>
                                        <option value="2">Trimestral</option>
                                        <option value="3">Anual</option>
                                    </select>
                                </td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;"></td>
                                <td>
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                </td>
                                <td>
                                    <input type="button" id="btnExportar" value="Exportar" />
                                </td>
                            </tr>
                            <tr id="idTr1">
                                <td>Inicio</td>
                                <td><input type="text" id="txtFecha" value="@Model.Fecha" style="width: 120px;" /></td>
                            </tr>
                            <tr id="idTr2">
                                <td>Año</td>
                                <td><input type="text" id="Anho" value="@Model.Anho" style="width: 120px;" /></td>
                                <td>Trimestres</td>
                                <td>
                                    <select id="cbTrimestre" name="cbTrimestre" style="width: 120px;">
                                        <option value="3">Trimestre 1</option>
                                        <option value="6">Trimestre 2</option>
                                        <option value="9">Trimestre 3</option>
                                        <option value="12">Trimestre 4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="idTr3">
                                <td>Año Inicio</td>
                                <td><input type="text" id="AnhoIni" value="@Model.Anho" style="width: 120px;" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>Comparativos Acumulativos</td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <table class="tabla-search" style="width:auto">
                            <tr>
                                <td>Intervalo de Periodo</td>
                                <td>De</td>
                                <td>
                                    <select id="cbMesIni" name="cbMesIni" style="width: 120px;">
                                        @foreach (var item in Model.Meses)
                                        {
                                            <option value="@item.id">@item.text</option>
                                        }
                                    </select>
                                </td>
                                <td>Hasta</td>
                                <td>
                                    <select id="cbMesFin" name="cbMesFin" style="width: 120px;">
                                        @foreach (var item in Model.Meses)
                                        {
                                            <option value="@item.id">@item.text</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <input type="button" id="btnConsultarA" value="Consultar" />
                                </td>
                                <td>
                                    <input type="button" id="btnExportarA" value="Exportar" />
                                </td>
                            </tr>
                            <tr>
                                <td>Numero de Periodos</td>
                                <td>De</td>
                                <td><input type="text" id="AnhoIniA" value="@Model.Anho" style="width: 120px;" /></td>
                                <td>Hasta</td>
                                <td><input type="text" id="AnhoFinA" value="@Model.Anho" style="width: 120px;" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="content-hijo" id="mainLayout" style="padding: 20px;">
    <div style="clear:both; height:15px"></div>
    <div class="table-list" id="listado" style="float:left;"></div>
    <div id="idGrafico" style="height:500px; width:1000px; margin:0 auto"></div>
</div>
