@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div id="mensajeEditBarraEMSAdicional" class="action-message">Por favor complete los datos</div>
<div class="content-registro">

    <form id="frmRegistroBarraEMSAdicional">

        Seleccione barra EMS:
        <select id="cbBarraEMSAdicional">
            <option value="">-SELECCIONE-</option>
            @foreach (var item in Model.ListaBarrasEMS)
            {
                <option value="@item.Cnfbarcodi">@item.Cnfbarnombre</option>
            }
        </select>
        <input type="button" value="Agregar" id="btnAgregarBarraEMSAdicional" />
        <div style="clear:both; height:20px"></div>
        <table class="tabla-formulario" id="tablaBarraEMSAdicional">
            <thead>
                <tr>
                    <th>Quitar</th>
                    <th>Nombre de Barra</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaBarraEMSAdicionales)
                {
                    <tr>
                        <td style="text-align:center">
                            <input type="hidden" id="hfBarraEMSItem" value="@item.Cnfbarcodi" />
                            <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                        </td>
                        <td>@item.Barranombre</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="hfListaBarrasEMSAdicional" name="IdsBarrasEMSAdicional" />


        <div style="clear:both; width:150px; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnGrabarBarraEMSAdicional" />
            <input type="button" value="Cancelar" id="btnCancelarBarraEMSAdicional" />
            <input type="hidden" name="CodigoBarra" value="@Model.CodigoBarra" />
            <input type="hidden" id="hfIdBarraEMSPrincipal" value="@Model.IdBarraEMS" />
        </div>
    </form>
</div>
