@model COES.MVC.Intranet.Areas.CortoPlazo.Models.VersionReporteModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaReporte">
    <thead>
        <tr>
            <th>Dia</th>
            <th>Periodo Inicial</th>
            <th>Periodo Final</th>
            <th>Barra desenergizada</th>
            <th>Barra de referencia para el CMgCP</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaReporteBarra.Count > 0)
        {
            foreach (var item in Model.ListaReporteBarra)
            {
        <tr>

            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
            <td>@item.Inicio</td>
            <td>@item.Fin</td>
            <td>@item.BarraDesenergizada</td>
            <td>@item.BarraReferencia</td>
        </tr>
            }
        }
    </tbody>
</table>