@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div id="mensajeEditPeriodo" class="action-message">Por favor complete los datos</div>
<div class="content-registro">

    <form id="frmRegistroPeriodo">

        <table style="width:100%">
            <tr>
                <td class="registro-label">Periodo Base: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="PeriodoBase" id="txtPeriodoBase" value="@Model.EntidadPeriodo.Cmperbase" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Periodo Media: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="PeriodoMedia" id="txtPeriodoMedia" value="@Model.EntidadPeriodo.Cmpermedia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Periodo Punta: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="PeriodoPunta" id="txtPeriodoPunta" value="@Model.EntidadPeriodo.Cmperpunta" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Vigente a partir de: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="FechaVigencia" id="txtFechaVigenciaPeriodo" value="@Model.FechaVigencia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha expiración:</td>
                <td class="registro-control">
                    <input type="text" name="FechaExpiracion" id="txtFechaExpiracionPeriodo" value="@Model.FechaExpiracion" />
                </td>
            </tr>

        </table>
        <div style="clear:both; width:150px; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnGrabarPeriodo" />
            <input type="button" value="Cancelar" id="btnCancelarPeriodo" />           
            <input type="hidden" name="CodigoPeriodo" value="@Model.EntidadPeriodo.Cmpercodi" />
        </div>
    </form>
</div>
