@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div id="mensajeEdit" class="action-message">Por favor complete los datos</div>
<div class="content-registro">
    
    <form id="frmRegistro">

        <table style="width:100%">
            <tr id="trTipoRelacion">
                <td class="registro-label">Tipo de Relación:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbTipoRelacion" name="TipoRelacion">
                        <option value="">-SELECCIONE-</option>
                        <option value="0">Conocida</option>
                        <option value="1">Desconocida</option>
                        <option value="2">Adicional</option>
                        <option value="3">Conocida / Desconocida</option>
                    </select>
                    <input type="hidden" id="hfTipoRelacion" value="@Model.Entidad.Cmbaretiprel" />
                </td>
            </tr>
            <tr id="trBarraTransferencia">
                <td class="registro-label">Barra de Transferencia:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbBarraTransferencia" name="BarraTransferencia">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaBarrasTransf)
                        {
                            <option value="@item.BarrCodi">@item.BarrNombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraTransferencia" value="@Model.Entidad.Barrcodi" />
                </td>
            </tr>
            <tr id="trBarraDesconocida">
                <td class="registro-label">Barra de Transferencia:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbBarraDesconocida" name="BarraDesconocida">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaBarrasDesconocida)
                        {
                            <option value="@item.BarrCodi">@item.BarrNombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraDesconocida" value="@Model.Entidad.Barrcodi" />
                </td>
            </tr>
            <tr id="trBarraTransferencia2">
                <td class="registro-label">Barra de Transferencia 2:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbBarraTransferencia2" name="BarraTransferencia2">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaBarrasTransf)
                        {
                            <option value="@item.BarrCodi">@item.BarrNombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraTransferencia2" value="@Model.Entidad.Barrcodi2" />
                </td>
            </tr>
            <tr id="trBarraEMS">
                <td class="registro-label"><span id="spanBarraEMS">Barra EMS </span>:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbBarraEMS" name="BarraEMS">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaBarrasEMS)
                        {
                            <option value="@item.Cnfbarcodi">@item.Cnfbarnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraEMS" value="@Model.Entidad.Cnfbarcodi" />
                </td>
            </tr>
            <tr id="trBarraEMS2">
                <td class="registro-label"><span id="spanBarraEMS2">Barra EMS (Desconocida)</span>:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbBarraEMS2" name="BarraEMS2">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaBarrasEMS)
                        {
                            <option value="@item.Cnfbarcodi">@item.Cnfbarnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraEMS2" value="@Model.Entidad.Cnfbarcodi2" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Vigente a partir de: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="FechaVigencia" id="txtFechaVigencia" value="@Model.FechaVigencia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha expiración:</td>
                <td class="registro-control">
                    <input type="text" name="FechaExpiracion" id="txtFechaExpiracion" value="@Model.FechaExpiracion" />
                </td>
            </tr>
            <tr id="trMostrarReporte">
                <td class="registro-label">Mostrar en reporte:</td>
                <td class="registro-control">
                    <select id="cbMostrarReporte" name="MostrarReporte">
                        <option value="">-SELECCIONE-</option>
                        <option value="S">SI</option>
                        <option value="N">NO</option>
                    </select>
                    <input type="hidden" id="hfMostrarReporte" value="@Model.Entidad.Cmbarereporte" />
                </td>
            </tr>

        </table>
        <div style="clear:both; width:150px; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnGrabar" />
            <input type="button" value="Cancelar" id="btnCancelar" />
            <input type="hidden" name="TipoRegistro" value="@Model.TipoRegistro" id="hfTipoRegistro" />
            <input type="hidden" name="CodigoBarra" value="@Model.Entidad.Cmbarecodi" />
        </div>
    </form>
</div>
