@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div id="mensajeEditUmbral" class="action-message">Por favor complete los datos</div>
<div class="content-registro">

    <form id="frmRegistroUmbral">

        <table style="width:100%">
            <tr>
                <td class="registro-label">Umbral máximo CMg Total:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="TotalMaximo" id="txtTotalMaximo" value="@Model.EntidadUmbral.Cmurmaxbarra" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral mínimo CMg Total:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="TotalMinimo" id="txtTotalMinimo" value="@Model.EntidadUmbral.Cmurminbarra"  />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral máximo CMg Energía:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="EnergiaMaximo" id="txtEnergiaMaximo" value="@Model.EntidadUmbral.Cmurmaxenergia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral mínimo CMg Energía:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="EnergiaMinimo" id="txtEnergiaMinimo" value="@Model.EntidadUmbral.Cmurminenergia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral máximo CMg Congestión:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="CongestionMaximo" id="txtCongestionMaximo" value="@Model.EntidadUmbral.Cmurmaxconges" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral mínimo CMg Congestión:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="CongestionMinimo" id="txtCongestionMinimo" value="@Model.EntidadUmbral.Cmurminconges" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Umbral diferencia:<span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="UmbralDiferencia" id="txtUmbralDiferencia" value="@Model.EntidadUmbral.Cmurdiferencia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Vigente a partir de: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="FechaVigencia" id="txtFechaVigenciaUmbral" value="@Model.FechaVigencia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha expiración:</td>
                <td class="registro-control">
                    <input type="text" name="FechaExpiracion" id="txtFechaExpiracionUmbral" value="@Model.FechaExpiracion" />
                </td>
            </tr>

        </table>
        <div style="clear:both; width:150px; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnGrabarUmbral" />
            <input type="button" value="Cancelar" id="btnCancelarUmbral" />
            <input type="hidden" name="CodigoUmbral" value="@Model.EntidadUmbral.Cmurcodi" />
        </div>
    </form>
</div>
