@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div id="mensajeEditEquipo" class="action-message">Por favor complete los datos</div>
<div class="content-registro">

    <form id="frmRegistroEquipo">

        <table style="width:100%">
            <tr>
                <td class="registro-label">Equipo: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <select id="cbEquipo" name="Equipo">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEquiposCongestion)
                        {
                            <option value="@item.Configcodi">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEquipo" value="@Model.EntidadEquipo.Configcodi" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Vigente a partir de: <span style="color:red; font-weight:bold">*</span></td>
                <td class="registro-control">
                    <input type="text" name="FechaVigencia" id="txtFechaVigenciaEquipo" value="@Model.FechaVigencia" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha expiración:</td>
                <td class="registro-control">
                    <input type="text" name="FechaExpiracion" id="txtFechaExpiracionEquipo" value="@Model.FechaExpiracion" />
                </td>
            </tr>

        </table>
        <div style="clear:both; height:20px"></div>
        Seleccione barra:
        <select id="cbBarraAdicional">
            <option value="">-SELECCIONE-</option>
            @foreach (var item in Model.ListaBarraAdicional)
            {
                <option value="@item.Barrcodi">@item.Barrnombre</option>
            }
        </select>
        <input type="button" value="Agregar" id="btnAgregarBarra" />
        <div style="clear:both; height:20px"></div>
        <table class="tabla-formulario" id="tablaEquipoAdicional">
            <thead>
                <tr>
                    <th>Quitar</th>
                    <th>Nombre de Barra</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EntidadEquipo.ListaDetalle)
                {
                    <tr>
                        <td style="text-align:center">
                            <input type="hidden" id="hfEquipoItem" value="@item.Barrcodi" />
                            <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                        </td>
                        <td>@item.Barrnombre</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="hfListaBarras" name="IdsBarras" />


        <div style="clear:both; width:150px; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnGrabarEquipo" />
            <input type="button" value="Cancelar" id="btnCancelarEquipo" />
            <input type="hidden" name="CodigoEquipo" value="@Model.EntidadEquipo.Cmeqbacodi" />
        </div>
    </form>
</div>
