@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>

            @if (Model.TipoRegistro == "0")
            {
                <th>Barra Transferencia</th>
            }
            @if (Model.TipoRegistro == "1")
            {
                <th>Tipo Relación</th>
                <th>Barra Transferencia</th>
                <th>Barra EMS</th>
            }
            @if (Model.TipoRegistro == "2")
            {
                <th>Barra Transferencia</th>             
                <th>Barra Transferencia 02</th>
            }            
            <th>Fecha Vigencia</th>
            <th>Fecha Expiración</th>
            <th>Usu. Mod.</th>
            <th>Fec. Mod.</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListadoHistorico.Count > 0)
        {
            foreach (var item in Model.ListadoHistorico)
            {
            <tr>
                @if (Model.TipoRegistro == "0")
                {
                    <td>@item.Barrnombre</td>
                }
                @if (Model.TipoRegistro == "1")
                {
                    <td>@item.TipoRelacion</td>
                    <td>@item.Barrnombre</td>
                    <td>@item.Cnfbarnombre</td>
                }
                @if (Model.TipoRegistro == "2")
                {
                    <td>@item.Barrnombre</td>
                    <td>@item.Barrnombre2</td>
                }

                <td>@item.Vigencia</td>
                <td>@item.Expirtacion</td>
                <td>@item.Cmbareusumodificacion</td>
                <td>@item.Modificacion</td>
             </tr>
        }
    }
    </tbody>
</table>