@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>
            <th>Periodo Base</th>
            <th>Periodo Media</th>
            <th>Periodo Punta</th>
            <th>Fecha Vigencia</th>
            <th>Fecha Expiración</th>
            <th>Usu. Mod.</th>
            <th>Fec. Mod.</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaHistoricoPeriodo.Count > 0)
        {
            foreach (var item in Model.ListaHistoricoPeriodo)
            {
        <tr>
            <td>@item.Cmperbase</td>
            <td>@item.Cmpermedia</td>
            <td>@item.Cmperpunta</td>
            <td>@item.Vigencia</td>
            <td>@item.Expiracion</td>
            <td>@item.Cmperusumodificacion</td>
            <td>@item.Modificacion</td>
        </tr>
            }
        }
    </tbody>
</table>