@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>
            <th colspan="7">Umbrales</th>            
            <th rowspan="2">Fecha Vigencia</th>
            <th rowspan="2">Fecha Expiración</th>
            <th rowspan="2">Usu. Mod.</th>
            <th rowspan="2">Fec. Mod.</th>
        </tr>
        <tr>
            <th>Max CMg Total</th>
            <th>Min CMg Total</th>
            <th>Max CMg Energía</th>
            <th>Min CMg Enegía</th>
            <th>Max CMg Congestión</th>
            <th>Min CMg Congestión</th>
            <th>Diferencia</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaHistoricoUmbral.Count > 0)
        {
            foreach (var item in Model.ListaHistoricoUmbral)
            {
        <tr>
            <td>@item.Cmurmaxbarra</td>
            <td>@item.Cmurminbarra</td>
            <td>@item.Cmurmaxenergia</td>
            <td>@item.Cmurminenergia</td>
            <td>@item.Cmurmaxconges</td>
            <td>@item.Cmurminconges</td>
            <td>@item.Cmurdiferencia</td>
            <td>@item.Vigencia</td>
            <td>@item.Expiracion</td>
            <td>@item.Cmurusumodificacion</td>
            <td>@item.Modificacion</td>
        </tr>
            }
        }
    </tbody>
</table>