@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Barras adicionales</th>           
            <th>Fecha Vigencia</th>
            <th>Fecha Expiración</th>
            <th>Usu. Mod.</th>
            <th>Fec. Mod.</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListHistoricoEquipo.Count > 0)
        {
            var index = 0;
            foreach (var item in Model.ListHistoricoEquipo)
            {
                int count = 1;
                if (item.ListaDetalle.Count > 0)
                {
                    count = item.ListaDetalle.Count;
                }

        <tr>
            <td rowspan="@count">@item.Equinomb</td>
            @{ if (item.ListaDetalle.Count > 0)
                {
                    <td>@item.ListaDetalle[0].Barrnombre</td>                   
                }
            }
            <td rowspan="@count">@item.Vigencia</td>
            <td rowspan="@count">@item.Expiracion</td>
            <td rowspan="@count">@item.Cmeqbausumodificacion</td>
            <td rowspan="@count">@item.Modificacion</td>
        </tr>
                if (item.ListaDetalle.Count > 1)
                {
                    for (var j = 1; j < item.ListaDetalle.Count; j++)
                    {
                        <tr>
                            <td>@item.ListaDetalle[j].Barrnombre</td>
                        </tr>
                    }
                }
            }
            index++;
        }
    </tbody>
</table>