@model COES.MVC.Intranet.Areas.CortoPlazo.Models.VersionReporteModel
<div style="clear:both; height:20px"></div>
<table border="0" class="pretty tabla-icono" id="tablaReporte">
    <thead>
        <tr>
            <th>Revisión</th>
            <th>Final</th>
            <th>Verificación</th>
            <th>Fecha</th>
            <th>Versión</th>
            <th>Fecha generación</th>
            <th>Usuario generación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaReporte.Count > 0)
        {
            foreach (var item in Model.ListaReporte)
            {
                <tr>
                    <td>
                        <a href="JavaScript:procesarReporte(@item.Cmrepcodi, 1);"><img src="~/Content/Images/excel.png" /></a>
                    </td>
                    <td>
                        <a href="JavaScript:procesarReporte(@item.Cmrepcodi, 2);"><img src="~/Content/Images/excel.png" /></a>
                    </td>
                    <td>
                        <a href="JavaScript:procesarReporte(@item.Cmrepcodi, 3);"><img src="~/Content/Images/excel.png" /></a>
                    </td>
                    <td>@item.FechaReporte</td>
                    <td>@item.Cmrepversion</td>
                    <td>@item.FechaModificacion</td>
                    <td>@item.Cmrepusumodificacion</td>            
                </tr>
            }
        }
    </tbody>
</table>