@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RangoValDatosModel
    @{
        ViewBag.Title = "Transferencia de Potencia y Compensación - Rango de Validación de Datos";
        Layout = "~/Views/Shared/_Layout.cshtml";
        string sSelected = "";
    }

    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    <link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
    <link href="~/Areas/TransfPotencia/Content/Css/rangovaldatos.css" rel="stylesheet" />
    <script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
    <script src="~/Areas/TransfPotencia/Content/Scripts/rangovaldatos.js"></script>
    <script src="~/Content/Scripts/multiselect.js"></script>
    <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
    <script src="~/Content/Scripts/handsontable.full.min.js"></script>
    <link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/plupload.full.min.js"></script>

    <div class="form-title">
        <div class="content-titulo">Rango para Validación de Datos</div>
    </div>

    <div class="content-hijo">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; "></div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a id="aPaso1" href="#paso1" onclick="Fn_Change_Lista(1);">Comparación con Datos Históricos</a></li>
                <li class='tab'><a id="aPaso2" href="#paso2" onclick="Fn_Change_Lista(2);">Comparación con Datos de VTEA</a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <div id="idpanel" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="" style="margin-bottom:0px; padding:10px 0px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="width:800px; height:40px;">
                                                    <div class="editor-label">Porcentaje por defecto</div>
                                                    <div class="editor-line" style="width: 500px;"></div>
                                                    <div class="div-flex-inline-items" style="margin-bottom: 15px;">
                                                        <div style="margin-right: 30px;">
                                                            Porcentaje por defecto(%)
                                                        </div>
                                                        <div style="margin-right: 30px;">
                                                            <input type="number" id="porcentajeDefectoHistorico" name="porcentajeDefecto" value="@Model.VarempprocentajeHistorico" />
                                                        </div>
                                                        <div>
                                                            <input type="button" value="Grabar" id="btnGrabarPorcentajeDefectoHistorico" name="btnGrabarPorcentajeDefecto" class="form-action" />
                                                        </div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div class="editor-label" style="width: 45%; padding-top: 5px;">Porcentaje por empresa</div>
                                                        <div class="editor-label" style="width: 20%; padding-top: 5px; margin-right: 5px;">Buscar por empresa:</div>
                                                        <div style="width: 30%"><input id="txtBuscarEmpresa1" type="text" /></div>
                                                        <div style="width: 5%">
                                                            <a href="#" id="view" onclick="buscarPorEmpresa()" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Buscar" alt="Buscar" /></a>
                                                        </div>
                                                        </div>
                                                        <div class="editor-line" style="width: 800px;"></div>
                                                        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
                                                        <div class="table-list listadoTabla listadoVtp" id="listado"></div>
                                                        <br />
                                                        <div class="tabla-header">
                                                            <div class="table-paginado paginadoTabla" id="paginadoVtp">
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <div style="display: flex; justify-content: center; align-items: center;">
                                                            <input type="button" value="Grabar" id="btnGrabarPorcentajePorEmpresa" name="btnGrabarPorcentajePorEmpresa" class="form-action" />
                                                        </div>
                                                </td>
                                                <td style="width: 50px">
                                                </td>
                                                <td style="width:800px; height:40px;">
                                                    <div style="display: flex; margin-top: 90px;">
                                                        <div class="editor-label" style="width: 45%; padding-top: 5px;">Porcentaje por codigo</div>
                                                        <div class="editor-label" style="width: 20%; padding-top: 5px; margin-right: 5px;">Buscar por codigo:</div>
                                                        <div style="width: 30%"><input id="txtBuscarCodigo" type="text" /></div>
                                                        <div style="width: 5%">
                                                            <a href="#" id="view" onclick="buscarPorCodigo()" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Buscar" alt="Buscar" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="editor-line" style="width: 800px;"></div>
                                                    <input type="hidden" id="hfNroPaginaCodigoVariacion" name="NroPagina2" value="1" />
                                                    <div class="table-list listadoTabla2 listadoCodVtp"></div>
                                                    <br />
                                                    <div class="tabla-header">
                                                        <div class="table-paginado paginadoTabla2" id="paginadoCodVtp">
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                        <input type="button" value="Grabar" id="btnGrabarPorcentajePorCodigo" name="btnGrabarPorcentajePorCodigo" class="form-action" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="paso2">
                    <div id="idpanel2" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="" style="margin-bottom:0px; padding:10px 0px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="width:800px; height:40px;">
                                                    <div class="editor-label">Porcentaje por defecto</div>
                                                    <div class="editor-line" style="width: 800px;"></div>
                                                    <div class="div-flex-inline-items" style="margin-bottom: 15px;">
                                                        <div style="margin-right: 30px;">
                                                            Porcentaje por defecto(%)
                                                        </div>
                                                        <div style="margin-right: 30px;">
                                                            <input type="number" id="porcentajeDefectoVTEA" name="porcentajeDefecto" value="@Model.VarempprocentajeVTP" />
                                                        </div>
                                                        <div>
                                                            <input type="button" value="Grabar" id="btnGrabarPorcentajeDefectoVtp" name="btnGrabarPorcentajeDefecto" class="form-action" />
                                                        </div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div class="editor-label" style="width: 45%; padding-top: 5px;">Porcentaje por empresa</div>
                                                        <div class="editor-label" style="width: 20%; padding-top: 5px; margin-right: 5px;">Buscar por empresa:</div>
                                                        <div style="width: 30%"><input id="txtBuscarEmpresa2" type="text" /></div>
                                                        <div style="width: 5%">
                                                            <a href="#" id="view" onclick="buscarPorEmpresa()" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Buscar" alt="Buscar" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="editor-line" style="width: 800px;"></div>
                                                    <input type="hidden" id="hfNroPagina3" name="NroPagina2" value="1" />
                                                    <div class="table-list listadoTabla listadoVtea" id="listado"></div>
                                                    <br />
                                                    <div class="tabla-header">
                                                        <div class="table-paginado paginadoTabla" id="paginadoVtea">
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                        <input type="button" value="Grabar" id="btnGrabarPorcentajePorEmpresa2" name="btnGrabarPorcentajePorEmpresa2" class="form-action" />
                                                    </div>
                                                </td>
                                                <td style="width: 50px">
                                                </td>
                                                <td style="width:800px; height:40px;">
                                                    <div style="display: flex; margin-top: 90px;">
                                                        <div class="editor-label" style="width: 45%; padding-top: 5px;">Porcentaje por codigo</div>
                                                        <div class="editor-label" style="width: 20%; padding-top: 5px; margin-right: 5px;">Buscar por codigo:</div>
                                                        <div style="width: 30%"><input id="txtBuscarCodigo2" type="text" /></div>
                                                        <div style="width: 5%">
                                                            <a href="#" id="view" onclick="buscarPorCodigo()" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Buscar" alt="Buscar" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="editor-line" style="width: 800px;"></div>
                                                    <input type="hidden" id="hfNroPaginaCodigoVariacion2" name="NroPagina2" value="1" />
                                                    <div class="table-list listadoTabla2 listadoCodVtea" id="listado2"></div>
                                                    <br />
                                                    <div class="tabla-header">
                                                        <div class="table-paginado paginadoTabla2" id="paginadoCodVtea">
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                        <input type="button" value="Grabar" id="btnGrabarPorcentajePorCodigo2" name="btnGrabarPorcentajePorCodigo" class="form-action" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="popup"></div>
