@model  COES.MVC.Intranet.Areas.TransfPotencia.Models.RangoValDatosModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Porcentaje</th>
            <th>Vigencia a partir de</th>
            <th style="width:30px;" rowspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaVaricionEmpresa)
        {
        var test = Model.Varempcodigo == true ? 2 : 1;
        <tr>
            <td class="text_left">@item.Emprnomb</td>
            <td class="text_left"><input type="number" id="txtPercent_@item.Siemprcodi" onkeyup='Fn_Change_Amount(@item.Siemprcodi,@item.Siemprcodi)' value="@item.Varempprocentaje" /></td>
            <td class="text_left">@item.Varempvigencia</td>
            <td>
                @*@if (!Model.Varempcodigo)
        {*@
                <a href="#" id="view" onclick="buscarCodigosVariacion(@item.Siemprcodi)" class="view"><img src="@Url.Content("~/Content/Images/btn-add.png")" title="Ver codigos de envío" alt="Ver codigos de envío" /></a>
                @* }*@
                &nbsp;
                <a href="#" id="view2" onclick="Fn_ListaHistorialPorcentaje(@item.Siemprcodi)" class="view"><img src="@Url.Content("~/Content/Images/btn-properties.png")" title="Ver historial de cambios" alt="Ver historial de cambios" /></a>
            </td>
                </tr>
                }
            </tbody>
        </table>
        <div id="popup2"></div>
