@model  COES.MVC.Intranet.Areas.TransfPotencia.Models.RangoValDatosModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Cliente</th>
            @if (Model.VarTipoComp == 2)
            {
        <th>Barra Suministro</th>
            }
            else
            {
        <th>Barra Transferencia</th>
            }
            
            @if (Model.VarTipoComp == 2)
            {
                <th>Codigo VTP</th>
            }
            else
            {
                <th>Codigo VTEA</th>
            }
            <th>Porcentaje</th>
            <th style="width:30px;" rowspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaVariacionCodigo)
        {
        <tr>
            <td class="text_left">@item.EmprNomb</td>
            <td class="text_left">@item.Cliente</td>
            <td class="text_left">@item.Barra</td>
            <td class="text_left">@item.CodCnCodiVtp</td>
            <td class="text_left"><input type="number" id="txtPercentVariacion_@item.Fila" onkeyup='Fn_Change_Amount_CodigoVariacion(@item.EmprCodi,@item.CliCodi,@item.BarrCodi,"@item.CodCnCodiVtp",@item.Fila, @Model.VarTipoComp)' value="@item.VarCodPorcentaje" /></td>
            <td>
                <a href="#" id="view2" onclick='Fn_ListaHistorialVariacionCodigo("@item.CodCnCodiVtp")' class="view"><img src="@Url.Content("~/Content/Images/btn-properties.png")" title="Ver historial de cambios" alt="Ver historial de cambios" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="popup2"></div>
