@model COES.MVC.Intranet.Areas.Eventos.Models.EvePruebaunidadModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/Eventos/Content/Scripts/pruebaunidadeditar.js?v=1.0"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Prueba Unidad Sorteada</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>

</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>


        <table style="width: auto">
            <tr>
                <td>
                    <input type="hidden" id="hfPrundCodi" value="@Model.EvePruebaunidad.Prundcodi" name="PrundCodi" />
                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                </td>
            </tr>
            <tr>
                <td id="lblPrundFecha">Fecha</td>
                <td>
                    @{
                        var fechaPrundFecha = "";
                        if (Model.EvePruebaunidad.Prundfecha != null)
                        {
                            fechaPrundFecha = ((DateTime)Model.EvePruebaunidad.Prundfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                    }
                    <input id="txtPrundFecha" type="text" name="PrundFecha" value="@fechaPrundFecha" />
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundUnidad">Unidad sorteada</span>
                </td>
                <td>
                    <input id="txtPrundUnidad2" type="text" name="PrundUnidad2" readonly="readonly" style="width: 700px;">
                </td>
            </tr>

        </table>
        <table></table>
        <table class="pretty tabla-adicional" id="tablaBase" style="width: auto">
            <tr>
                <th style="color:white;">Par&aacute;metro de Base de datos (MODO DE OP. SELECCIONADO POR EL USUARIO y CAMPO [*EDITABLE*])</th>
                <th style="color:white;"></th>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundUnidad">Unidad sorteada</span>
                </td>
                <td>
                    <input id="txtPrundUnidad" type="text" name="PrundUnidad" readonly="readonly" value="@Model.EvePruebaunidad.PrundUnidad">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundModo">Modo de Operaci&oacute;n</span>
                </td>
                <td>
                    <select id="cbModo" name="Modo">
                        @foreach (var item in Model.ListaGrupo)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfModo" name="Grupocodi" value="@Model.EvePruebaunidad.Grupocodi" />
                    <input type="hidden" id="hfEquicodi" name="Equicodi" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundPotencia">Potencia efectiva [*EDITABLE*]</span>
                </td>
                <td>
                    <input id="txtPrundPotencia" type="text" name="PotenciaEfectiva" @*readonly="readonly"*@ value="@Model.EvePruebaunidad.Prundpotefectiva">
                </td>
            </tr>

            <tr id="lblPrundTiempoarranqueBase3">
                <td id="lblPrundTiempoarranqueBase">
                    <span id="lblPrundTiempoarranque">Tiempo entre arranque (min) [*EDITABLE*]</span>
                </td>
                <td id="lblPrundTiempoarranqueBase2">
                    <input id="txtPrundTiempoarranque" type="text" name="TiempoEntreArranques" @*readonly="readonly"*@ value="@Model.EvePruebaunidad.Prundtiempoentarranq">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundTiempoarranqueSinc">Desde el arranque hasta la sincronizaci&oacute;n (min) [*EDITABLE*]</span>
                </td>
                <td>
                    <input id="txtPrundTiempoarranqueSinc" type="text" name="TiempoArranqueSinc" @*readonly="readonly"*@ value="@Model.EvePruebaunidad.Prundtiempoarranqasinc">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundTiempoarranqueSincPef">Desde sincronizaci&oacute;n hasta la potencia efectiva (min) [*EDITABLE*]</span>
                </td>
                <td>
                    <input id="txtPrundTiempoarranqueSincPef" type="text" name="TiempoSincPotEf" @*readonly="readonly"*@ value="@Model.EvePruebaunidad.Prundtiemposincapotefect">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundRpf">RPF</span>
                </td>
                <td>
                    @{
                        var rpf = 0;
                    }
                    <input id="txtPrundRpf" type="text" name="Prundrpf" readonly="readonly" value="@rpf">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblPrundTiempoprueba">Tiempo de prueba (h)</span>
                </td>
                <td>
                    @{
                        var tiempoPrueba = 0;
                    }
                    <input id="txtPrundTiempoprueba" type="text" name="Prundtiempoprueba" readonly="readonly" value="@tiempoPrueba">
                </td>
            </tr>

            <tr>
                <td>
                    <span id="lblPrundRatio">Ratio P.Calculada/Pefectiva</span>
                </td>
                <td>
                    <input id="txtPrundRatio" type="text" name="PrundRatio" readonly="readonly">
                </td>
            </tr>



            <tr>
                <th style="color:white;">Escenario (DATOS INGRESADOS POR EL USUARIO)</th>
                <th></th>
            </tr>
            <tr>
                <td><span id="lblPrundEscenario"></span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundEscenario">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundEscenario" name="PrundEscenario" value="@Model.EvePruebaunidad.Prundescenario" />
                                            <input type="radio" id="rbPrundEscenario1" name="rbPrundEscenario" value="1" />No hay problemas en la unidad<br>
                                            <input type="radio" id="rbPrundEscenario2" name="rbPrundEscenario" value="2" />Falla entre arranque y sincronizaci&oacute;n<br>
                                            <input type="radio" id="rbPrundEscenario3" name="rbPrundEscenario" value="3" />Falla en primera rampa de toma de carga<br>
                                            <input type="radio" id="rbPrundEscenario4" name="rbPrundEscenario" value="4" />Falla a plena carga
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="color:white;">Falla (DATOS INGRESADOS POR EL USUARIO)</th>
                <th></th>
            <tr>
                <td><span id="lblPrundFallaotranosincronz">Falla en otra instalaci&oacute;n que imposibilita sincronizar</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundFallaotranosincronz">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundFallaotranosincronz" name="PrundFallaotranosincronz" value="@Model.EvePruebaunidad.Prundfallaotranosincronz" />
                                            <input type="radio" id="rbPrundFallaotranosincronzS" name="rbPrundFallaotranosincronz" value="S" />Si
                                            <input type="radio" id="rbPrundFallaotranosincronzN" name="rbPrundFallaotranosincronz" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><span id="lblPrundFallaotraunidsincronz">Falla en otra instalaci&oacute;n cuando la unidad est&aacute; sincronizada</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundFallaotraunidsincronz">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundFallaotraunidsincronz" name="PrundFallaotraunidsincronz" value="@Model.EvePruebaunidad.Prundfallaotraunidsincronz" />
                                            <input type="radio" id="rbPrundFallaotraunidsincronzS" name="rbPrundFallaotraunidsincronz" value="S" />Si
                                            <input type="radio" id="rbPrundFallaotraunidsincronzN" name="rbPrundFallaotraunidsincronz" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><span id="lblPrundFallaequiposinreingreso">Falla de equipo sin reingreso</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundFallaequiposinreingreso">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundFallaequiposinreingreso" name="PrundFallaequiposinreingreso" value="@Model.EvePruebaunidad.Prundfallaequiposinreingreso" />
                                            <input type="radio" id="rbPrundFallaequiposinreingresoS" name="rbPrundFallaequiposinreingreso" value="S" />Si
                                            <input type="radio" id="rbPrundFallaequiposinreingresoN" name="rbPrundFallaequiposinreingreso" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="color:white;">Par&aacute;metros (DATOS INGRESADOS POR EL USUARIO)</th>
                <th></th>
            </tr>
            <tr>
                <td id="lblPrundHoraordenarranque">Hora Orden Arranque (HO)</td>
                <td>
                    @{
                        var fechaPrundHoraordenarranque = "";
                        if (Model.EvePruebaunidad.Prundhoraordenarranque != null)
                        {
                            fechaPrundHoraordenarranque = ((DateTime)Model.EvePruebaunidad.Prundhoraordenarranque).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHoraordenarranque" type="text" name="PrundHoraordenarranque" value="@fechaPrundHoraordenarranque" />
                </td>
            </tr>
            <tr id="txtPrundHorasincronzBase" style='display:none'>
                <td id="lblPrundHorasincronizacion">Hora Sincronizaci&oacute;n (HS)</td>
                <td>
                    @{
                        var fechaPrundHorasincronizacion = "";
                        if (Model.EvePruebaunidad.Prundhorasincronizacion != null)
                        {
                            fechaPrundHorasincronizacion = ((DateTime)Model.EvePruebaunidad.Prundhorasincronizacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHorasincronizacion" type="text" name="PrundHorasincronizacion" value="@fechaPrundHorasincronizacion" />
                </td>
            </tr>
            <tr id="txtPrundHorainiplenacargaBase" style='display:none'>
                <td id="lblPrundHorainiplenacarga">Hora Inicio Plena Carga (HPE)</td>
                <td>
                    @{
                        var fechaPrundHorainiplenacarga = "";
                        if (Model.EvePruebaunidad.Prundhorainiplenacarga != null)
                        {
                            fechaPrundHorainiplenacarga = ((DateTime)Model.EvePruebaunidad.Prundhorainiplenacarga).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHorainiplenacarga" type="text" name="PrundHorainiplenacarga" value="@fechaPrundHorainiplenacarga" />
                </td>
            </tr>
            <tr id="txtPrundHorafallaBase" style='display:none'>
                <td id="lblPrundHorafalla">Hora Falla (HFalla)</td>
                <td>
                    @{
                        var fechaPrundHorafalla = "";
                        if (Model.EvePruebaunidad.Prundhorafalla != null)
                        {
                            fechaPrundHorafalla = ((DateTime)Model.EvePruebaunidad.Prundhorafalla).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHorafalla" type="text" name="PrundHorafalla" value="@fechaPrundHorafalla" />
                </td>
            </tr>
            <tr id="txtPrundHo2Base" style='display:none'>
                <td id="lblPrundHoraordenarranque2">Hora Orden Arranque 2 (HO2)</td>
                <td>
                    @{
                        var fechaPrundHoraordenarranque2 = "";
                        if (Model.EvePruebaunidad.Prundhoraordenarranque2 != null)
                        {
                            fechaPrundHoraordenarranque2 = ((DateTime)Model.EvePruebaunidad.Prundhoraordenarranque2).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHoraordenarranque2" type="text" name="PrundHoraordenarranque2" value="@fechaPrundHoraordenarranque2" />
                </td>
            </tr>
            <tr id="txtPrundHs2Base" style='display:none'>
                <td id="lblPrundHorasincronizacion2">Hora Sincronizaci&oacute;n 2 (HS2)</td>
                <td>
                    @{
                        var fechaPrundHorasincronizacion2 = "";
                        if (Model.EvePruebaunidad.Prundhorasincronizacion2 != null)
                        {
                            fechaPrundHorasincronizacion2 = ((DateTime)Model.EvePruebaunidad.Prundhorasincronizacion2).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHorasincronizacion2" type="text" name="PrundHorasincronizacion2" value="@fechaPrundHorasincronizacion2" />
                </td>
            </tr>
            <tr id="txtPrundHpe2Base" style='display:none'>
                <td id="lblPrundHorainiplenacarga2">Hora Inicio Plena Carga 2 (HPE2)</td>
                <td>
                    @{
                        var fechaPrundHorainiplenacarga2 = "";
                        if (Model.EvePruebaunidad.Prundhorainiplenacarga2 != null)
                        {
                            fechaPrundHorainiplenacarga2 = ((DateTime)Model.EvePruebaunidad.Prundhorainiplenacarga2).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundHorainiplenacarga2" type="text" name="PrundHorainiplenacarga2" value="@fechaPrundHorainiplenacarga2" />
                </td>
            </tr>
            <tr id="txtPrundSegDescBase" style='display:none'>
                <td><span id="lblPrundSegundadesconx">Segunda Desconexi&oacute;n</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundSegundadesconx">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundSegundadesconx" name="PrundSegundadesconx" value="@Model.EvePruebaunidad.Prundsegundadesconx" />
                                            <input type="radio" id="rbPrundSegundadesconxS" name="rbPrundSegundadesconx" value="S" />Si
                                            <input type="radio" id="rbPrundSegundadesconxN" name="rbPrundSegundadesconx" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="color:white;">C&aacute;lculo</th>
                <th></th>
            </tr>
            <tr>
                <td><span id="lblPrundCalchayregmedid">Hay registro de Medidores</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalchayregmedid">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalchayregmedid" name="PrundCalchayregmedid" value="@Model.EvePruebaunidad.Prundcalchayregmedid" />
                                            <input type="radio" id="rbPrundCalchayregmedidS" name="rbPrundCalchayregmedid" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalchayregmedidN" name="rbPrundCalchayregmedid" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalchayregmedidX" name="rbPrundCalchayregmedid" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="txtPrundCalcperiodoprogpruebaBase" style='display:none'>
                <td>
                    <span id="lblPrundCalcperiodoprogprueba">Periodo Programado Prueba (T) h.</span>
                </td>
                <td>
                    <input id="txtPrundCalcperiodoprogprueba" type="text" name="PrundCalcperiodoprogprueba" value="@Model.EvePruebaunidad.Prundcalcperiodoprogprueba" readonly="readonly">
                </td>
            </tr>
            <tr id="txtPrundCalccondhoratarrBase" style='display:none'>
                <td><span id="lblPrundCalccondhoratarr">HO2 - HFalla > Tarr</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalccondhoratarr">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalccondhoratarr" name="PrundCalccondhoratarr" value="@Model.EvePruebaunidad.Prundcalccondhoratarr" />
                                            <input type="radio" id="rbPrundCalccondhoratarrS" name="rbPrundCalccondhoratarr" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalccondhoratarrN" name="rbPrundCalccondhoratarr" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalccondhoratarrX" name="rbPrundCalccondhoratarr" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="txtPrundCalccondhoraprogtarrBase" style='display:none'>
                <td><span id="lblPrundCalccondhoraprogtarr">HO2 - HFalla > min(T,Tarr)</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalccondhoraprogtarr">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalccondhoraprogtarr" name="PrundCalccondhoraprogtarr" value="@Model.EvePruebaunidad.Prundcalccondhoraprogtarr" />
                                            <input type="radio" id="rbPrundCalccondhoraprogtarrS" name="rbPrundCalccondhoraprogtarr" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalccondhoraprogtarrN" name="rbPrundCalccondhoraprogtarr" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalccondhoraprogtarrX" name="rbPrundCalccondhoraprogtarr" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td id="lblPrundCalchorafineval">Hora Final Evaluaci&oacute;n</td>
                <td>
                    @{
                        var fechaPrundCalchorafineval = "";
                        if (Model.EvePruebaunidad.Prundcalchorafineval != null)
                        {
                            fechaPrundCalchorafineval = ((DateTime)Model.EvePruebaunidad.Prundcalchorafineval).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora);
                        }
                    }
                    <input id="txtPrundCalchorafineval" type="text" name="PrundCalchorafineval" value="@fechaPrundCalchorafineval" readonly="readonly" />
                </td>
            </tr>
            <tr id="txtPrundCalhayindispBase" style='display:none'>
                <td><span id="lblPrundCalhayindisp">Presenta Indisponibilidad (Referencial)</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalhayindisp">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalhayindisp" name="PrundCalhayindisp" value="@Model.EvePruebaunidad.Prundcalhayindisp" />
                                            <input type="radio" id="rbPrundCalhayindispS" name="rbPrundCalhayindisp" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalhayindispN" name="rbPrundCalhayindisp" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalhayindispX" name="rbPrundCalhayindisp" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr id="txtPrundCalcindispprimtramoBase" style='display:none'>
                <td><span id="lblPrundCalcindispprimtramo">Presenta Indisp. (Primer Tramo antes Falla)</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalcindispprimtramo">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalcindispprimtramo" name="PrundCalcindispprimtramo" value="@Model.EvePruebaunidad.Prundcalcindispprimtramo" />
                                            <input type="radio" id="rbPrundCalcindispprimtramoS" name="rbPrundCalcindispprimtramo" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalcindispprimtramoN" name="rbPrundCalcindispprimtramo" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalcindispprimtramoX" name="rbPrundCalcindispprimtramo" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="txtPrundCalcindispsegtramoBase" style='display:none'>
                <td><span id="lblPrundCalcindispsegtramo">Presenta indisp. (Segundo Tramo despu&eacute;s Falla)</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalcindispsegtramo">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalcindispsegtramo" name="PrundCalcindispsegtramo" value="@Model.EvePruebaunidad.Prundcalcindispsegtramo" />
                                            <input type="radio" id="rbPrundCalcindispsegtramoS" name="rbPrundCalcindispsegtramo" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalcindispsegtramoN" name="rbPrundCalcindispsegtramo" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalcindispsegtramoX" name="rbPrundCalcindispsegtramo" value="X" onclick="return false;" />No determinado
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><span id="lblPrundCalcpruebaexitosa">Resultado: Prueba Exitosa</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundCalcpruebaexitosa">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundCalcpruebaexitosa" name="PrundCalcpruebaexitosa" value="@Model.EvePruebaunidad.Prundcalcpruebaexitosa" />
                                            <input type="radio" id="rbPrundCalcpruebaexitosaS" name="rbPrundCalcpruebaexitosa" value="S" onclick="return false;" />Si
                                            <input type="radio" id="rbPrundCalcpruebaexitosaN" name="rbPrundCalcpruebaexitosa" value="N" onclick="return false;" />No
                                            <input type="radio" id="rbPrundCalcpruebaexitosaX" name="rbPrundCalcpruebaexitosa" value="X" onclick="return false;" />No determinado
                                        </td>
                                        <td><input id="lblResult" style='display:none' type="text" name="lblResult" readonly="readonly" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="color:white;">Registro Eliminado (DATO INGRESADO POR EL USUARIO)</th>
                <th></th>
            </tr>

            <tr>
                <td><span id="lblPrundEliminado">Registro Eliminado</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbPrundEliminado">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfPrundEliminado" name="PrundEliminado" value="@Model.EvePruebaunidad.Prundeliminado" />
                                            <input type="radio" id="rbPrundEliminadoS" name="rbPrundEliminado" value="S" />Si
                                            <input type="radio" id="rbPrundEliminadoN" name="rbPrundEliminado" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table class="tabla-formulario" id="tablaParametro">
            <thead>

            </thead>
            <tbody></tbody>
        </table>
        <table class="tabla-formulario" id="tablaCalculo">

            <tbody></tbody>
        </table>

    </form>
</div>


