@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEvePruebaunidadModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Fecha</th>
                <th>Unidad</th>
                <th>Escenario</th>
                <th>Prueba Exitosa</th>

                <th>Usuario Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Usuario Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEvePruebaunidad)
            {                
                <tr>
                    <td style="width:60px; min-width:60px">
                @{
                var hayprueba = item.PrundUnidad != "No hay prueba";
                
                if (hayprueba)
                {
                    <a href="JavaScript:editar(@item.Prundcodi,0)" title="Ver...">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
    
                    if (Model.AccionEditar)
                    {
                        <a href="JavaScript:editar(@item.Prundcodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                    }
                    else
                    {
                        <a>
                        </a>
                    }
                }
                else
                {
                    <a>
                        <img src="~/Content/Images/btn-open.png" />
                    </a>    

                    if (Model.AccionEditar)
                    {
                        <a href="JavaScript:editar(@item.Prundcodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                    }
                    else
                    {
                        <a>
                        </a>
                    }
                }


                if (Model.AccionEliminar)
                {
                            <a href="JavaScript:eliminar(@item.Prundcodi)" title="Eliminar...">
                                <img src="~/Content/Images/btn-cancel.png" />
                            </a>
                        }
                        else
                        {
                            <a>
                            </a>
                        }

                }
                    </td>
                    <td>
                        @{
                            var fechaPrundFecha = "";
                            if (item.Prundfecha != null)
                            {
                                fechaPrundFecha = ((DateTime)item.Prundfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        @fechaPrundFecha
                    </td>
                    <td>@item.PrundUnidad</td>

                    @{                            
                        var escenario="";
                        switch (item.Prundescenario)
                        { 
                            case 1:

                                if (item.Grupocodi != 0)
                                {
                                    escenario = "No hay problemas en la unidad";
                                }
                                else
                                {
                                    escenario = "";
                                }
                                break;
                            case 2:
                                escenario = "Falla entre arranque y sincronización";
                                break;
                            case 3:
                                escenario = "Falla en primera rampa de toma de carga";
                                break;
                            case 4:
                                escenario = "Falla a plena carga";
                                break;
                            default:
                                escenario = "";
                                break;
                        }
                    } 
                    <td>@escenario</td>
                    <td>@item.Prundcalcpruebaexitosa</td>

                    <td>@item.Prundusucreacion</td>
                    <td>
                        @{
                            var fechaPrundFeccreacion = "";
                            if (item.Prundfeccreacion != null)
                            {
                                fechaPrundFeccreacion = ((DateTime)item.Prundfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);                                                                
                            }
                        }
                        @fechaPrundFeccreacion
                    </td>
                    <td>@item.Prundusumodificacion</td>
                    <td>
                        @{
                            var fechaPrundFecmodificacion = "";
                            if (item.Prundfecmodificacion != null)
                            {
                                fechaPrundFecmodificacion = ((DateTime)item.Prundfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaPrundFecmodificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
