@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RepaRecaPeajeModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
}
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "reparecapeaje", FormMethod.Post, new { id = "frmFormulario", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index", "reparecapeaje", new { pericodi = Model.Entidad.Pericodi, recpotcodi = Model.Entidad.Recpotcodi })'" alt="Regresar" title="Regresar" />
            </div>
        </div>
        <div style="padding:20px; width:700px;">
            @Html.HiddenFor(model => model.Entidad.Rrpecodi)
            @Html.HiddenFor(model => model.Entidad.Recpotcodi)
            @Html.HiddenFor(model => model.Entidad.Pericodi)
            @Html.HiddenFor(model => model.Entidad.Rrpeusucreacion)
            
            @if (Model.sError != "" && Model.sError != null)
            {
                <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">@Model.sError</div>

            }
            <table cellspacing="2" cellpadding="5">
               
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Rrpenombre, "Nombre de reparto de racudación") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Entidad.Rrpenombre, new { size = 100, maxLength = 100 })</div></td>
                </tr>                         
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>



    </div>
}
<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmFormulario").validate({
        rules: {
            "Entidad.Rrpenombre": {
                required: true
            }
        }
    });
</script>