@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RepaRecaPeajeModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Lista de Repartos de Recaudación de Peajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/reparecapeaje.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre - Lista de Repartos de Recaudación de Peajes</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" id="btnNuevo" value="Nuevo" onclick="location.href='@Url.Action("New", "reparecapeaje", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                <input type="button" value="Desarrollo de reparto" onclick="location.href='@Url.Action("Index", "reparecapeajedetalle", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Retornar" title="Retornar" />
            }
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","recalculopotencia")'" alt="Regresar" title="Regresar" />           
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "reparecapeaje", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        @if (@sMensajeExito != null)
        {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@sMensajeExito</div>}
        <div class="listado" id="listado">       </div>
    </div>
</div>
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Pericodi)
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Recpotcodi)