@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th colspan="9">Empresa: @((Model.EntidadEmpresa != null) ? (Model.EntidadEmpresa.EmprNombre) : "")</th>
        </tr>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>item</th>
            <th>Central</th>
            <th>Fecha y hora de inicio</th>
            <th>Fecha y hora de término</th>
            <th>Origen</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;
        }
        @foreach (var item in Model.ListaSolicitudEDI)
        {
            string sPK = item.Rersedcodi + "_";
            <tr id="fila_@sPK">
                <td style="width:30px;"><a href="#" id="view_@sPK" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Consultar registro" alt="Consultar registro" /></a></td>
                <td>
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { rersedcodi = item.Rersedcodi}) "><img src="@Url.Content("~/Content/Images/btn-edit.png") " title="Editar registro" alt="Editar registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="fila_@sPK" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar registro" alt="Eliminar registro" /></a>
                    }
                </td>
                <td>@contador</td>
                <td>@item.Equinomb</td>
                <td>@item.Rersedfechahorainicio</td>
                <td>@item.Rersedfechahorafin</td>
                <td>@item.Reroridesc</td>
                <td>@item.Rerseddesc</td>
            </tr>
            contador++;
        }
    </tbody>
</table>
