@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Solicitud EDI";
}
<fieldset>
    <legend>Solicitud EDI</legend>
    @Html.HiddenFor(model => model.EntidadSolicitudEDI.Rersedcodi)
    @Html.HiddenFor(model => model.EntidadSolicitudEDI.Rercencodi)
    @Html.HiddenFor(model => model.Fechainicio)
    @Html.HiddenFor(model => model.Fechafin)
    @Html.HiddenFor(model => model.iperimes)
    @Html.HiddenFor(model => model.iperianio)
    @Html.HiddenFor(model => model.EntidadSolicitudEDI.Rersedsustento)
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadSolicitudEDI.Equinomb, "Central RER")</div></td>
            <td colspan="2"><div class="editor-field">@Html.DisplayFor(model => model.EntidadSolicitudEDI.Equinomb)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadSolicitudEDI.Rersedfechahorainicio, "Fecha y hora de inicio")</div></td>
            <td colspan="2"><div class="editor-field">@Html.DisplayFor(model => model.Fechainicio)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadSolicitudEDI.Rersedfechahorafin, "Fecha y hora de fin")</div></td>
            <td colspan="2"><div class="editor-field">@Html.DisplayFor(model => model.Fechafin)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadSolicitudEDI.Reroridesc, "Origen")</div></td>
            <td colspan="2"><div class="editor-field">@Html.DisplayFor(model => model.EntidadSolicitudEDI.Reroridesc)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadSolicitudEDI.Rerseddesc, "Detalle")</div></td>
            <td colspan="2"><div class="editor-field">@Html.DisplayFor(model => model.EntidadSolicitudEDI.Rerseddesc)</div></td>
        </tr>
        <tr style="text-align:left;">
            <td></td>
            <td>
                <div class="editor-field">
                    <img id="descargarFormato" class="img_event" src="~/Content/Images/ExportExcel.png" height="40" onclick="descargarFormato()" />
                </div>Descargar <br> formato
            </td>
            <td>
                <div class="editor-field">
                    <img id="descargarSustento" class="img_event" src="~/Content/Images/bajar.png" height="40" onclick="descargarSustento()" />
                </div>Descargar <br> sustento
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

