@model COES.MVC.Intranet.Areas.Migraciones.Models.MigracionesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DIgSILENT";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/datepickerMultiFecha.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Areas/Migraciones/Content/Scripts/procesodigsilent.js?v=1.4.1"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css?v=1.4.0" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Proceso DIgSILENT </div>
    <div class="content-botonera">
        <input type="button" id="btnIrEquivalencia" value="Ir a Equivalencia" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow-x:hidden">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="border-right: 1px solid #4da5d8;">
                    <table>
                        <tr>
                            <td id="tdTipoProgram" style="width: 144px;">
                                <input type="radio" name="cbDespachoSICOES" value="1" checked="checked">Tipo de Programación:
                            </td>
                            <td id="tdD8">
                                <select id="cbProg1" name="cbProg" style="width:200px">
                                    @foreach (var item in Model.TipoProgramacion)
                                    {
                                        <option value="@item.Lectcodi">@item.Lectnomb</option>
                                    }
                                </select>
                            </td>

                        </tr>
                        <tr id="trFuenteReprog" style="display: none">
                            <td>
                            </td>
                            <td>
                                <span style="font-weight: bold">Fuente</span>:
                                <input type="radio" name="cbFuenteReprog" value="1" checked="checked">Final
                                <input type="radio" name="cbFuenteReprog" value="2">Preliminar
                            </td>
                        </tr>
                        <tr>
                            <td id="div_informacion_yupana" colspan="5">
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td id="tdY7" style="padding-bottom: 15px;">
                                <input type="radio" name="cbDespachoSICOES" value="2">Datos YUPANA:
                            </td>
                            <td id="tdY8">
                                <select id="cbProgY1" style="width:200px">
                                    @foreach (var item in Model.TipoProgramacion4)
                                    {
                                        <option value="@item.Lectcodi">@item.Lectnomb</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="padding-top: 15px;">
                                <fieldset style="padding-bottom: 15px;">
                                    <input type="radio" id="rd1" name="radio" value="1" />Linea
                                    <input type="radio" id="rd2" name="radio" value="2" checked="checked" />Generador
                                    <input type="radio" id="rd3" name="radio" value="3" />Transformador
                                    <input type="radio" id="rd4" name="radio" value="4" />SVC
                                    <input type="radio" id="rd5" name="radio" value="5" />Demanda
                                    <input type="radio" id="rd0" name="radio" value="0" />Todos
                                </fieldset>
                            </td>
                        </tr>

                    </table>
                </td>

                <td style="padding-left: 15px;">
                    <table>
                        <tr>
                            <td style="text-align: right;padding-bottom: 15px;">Fecha:</td>
                            <td colspan="3" style="padding-right: 0px; width: 250px">
                                <div class="td_inline" style="width:79px">
                                    <div class="editor-label">
                                        <input type="text" class="txtFecha" id="txtFecha" value="@Model.Fecha" style="width: 92px" />
                                        <input type="hidden" class="txtFechaFin" id="txtFechaFin" value="" />

                                    </div>
                                </div>
                                <div class="td_inline" style="width:23px">
                                    <input class="td_inline" type="button" value="Seleccionar fecha" id="btnSelectFecha" />
                                </div>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>Bloque Horario:</td>
                            <td>
                                <select id="lbTeamA" size="6" style="width:70px" multiple>
                                    @foreach (var item in Model.ListaString)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </td>
                            <td style="text-align: center; width: 8%">
                                <input type="button" id="btnMoveRight" value=">" style="width: 30px; text-align: center;" /><br />
                                <input type="button" id="btnMoveAllRight" value=">>" style="width: 30px; text-align: center; " /><br />
                                <input type="button" id="btnMoveLeft" value="<" style="width: 30px; text-align: center; " /><br />
                                <input type="button" id="btnMoveAllLeft" value="<<" style="width: 30px; text-align: center; " /><br />
                            </td>
                            <td>
                                <select id="lbTeamB" size="6" style="width:70px" multiple="multiple"></select>
                                <input type="hidden" id="hdBloques" />
                            </td>
                            <td>
                                <input type="button" id="btnProcesar" value="Procesar" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
    <div class="search-content" style="margin-bottom: 0px; display: none;" id="barra">

        <div id="validacionForeignKey" class="action-error" style="margin-bottom: 5px; margin-top: 10px; display: none;text-indent: 0px;padding-left: 34px;">

        </div>

        <div id="tab-container" class='tab-container'>
            <ul id="tabss" class='etabs'>
                <li id="tab_3" class='tab'><a href="#configuracionOpera">Configuración</a></li>
                <li id="tab_2" class='tab'><a href="#observaciones">Observaciones</a></li>
                <li id="tab_1" class='tab'><a href="#file_digsilent">Archivo DIgSILENT</a></li>
            </ul>
            <div class='panel-container'>
                <div id="configuracionOpera">
                    <ul>
                        <li>Solo se consideran los equipos que tienen estado Activo o Fuera de COES y los puntos de medición con estado Activo.</li>
                        <li>La configuración de las propiedades de las unidades de generación se encuentra en <span style="color: #428BD3; font-size: 12px;text-indent: 5px;padding-right: 5px;">Equipamiento / Equipos </span>:</li>
                        <dd>Potencia mínima: GENERADOR TERMOELÉCTRICO y GENERADOR HIDROELÉCTRICO usan la propiedad <b>Potencia Mínima  (*)</b>.</dd>
                        <dd>Potencia máxima: GENERADOR TERMOELÉCTRICO usa <b>Potencia Máxima  (*)</b>, GENERADOR HIDROELÉCTRICO usa <b>Pefectiva  (*)</b>, CENTRAL EOLICA usa <b>Potencia Instalada Nominal Central</b> y CENTRAL SOLAR usa <b>PotInst Nominal</b>.</dd>
                        <dd>DIgSILENT: GENERADOR TERMOELÉCTRICO y GENERADOR HIDROELÉCTRICO usan la propiedad <b>Codigo DIgSILENT (Foreign Key)</b>.</dd>
                    </ul>

                    <div></div>
                    <div id='listaConfiguracionOpera'></div>
                </div>
                <div id="observaciones">
                    <div class="content-tabla">
                        <div class="bodyexcel" id='listaObservaciones'></div>
                    </div>
                </div>
                <div id="file_digsilent">
                    <input type="button" id="btnGrabarDig" value="Grabar .dle" />
                    <div class="bodyexcel" id="listadoDigsilent"></div>
                    <input type="hidden" id="hdDigsilent" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--popup Seleccionar fecha -->
<div id="popupSeleccionarFecha" class="general-popup">
</div>