@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RepresentanteModel

<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>


<div class="popup-title"><span>Modificar Representante Legal</span></div>
<div class="popup-text" id="contenidoEdicion1">
    <div id="mensaje" class="action-message" style="display: none;">Por favor complete los datos solicitados.</div>  
    <div class="content-registro">
        <table style="width:auto">
            <tr>
                <td class="registro-label">Tipo de Representante:</td>
                <td class="registro-control">
                    <select name="TipoRepresentanteLegal" id="tiporepresentante">
                        <option value="T">TITULAR</option>
                        <option value="A">ALTERNO</option>
                    </select>
                    <input type="hidden" id="hfTipoRepresentante" value="@Model.TipoRepresentanteLegal" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">DNI / Carné de Extranjería:</td>
                <td class="registro-control">
                    <input type="text" id="txtDNIRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Documento" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Documento de Identidad:</td>
                <td class="registro-control">
                    <a href="JavaScript:verDocumentoIdentidad();" id="verDocumentoIdentidad" title="Ver">
                        <img src="~/Content/Images/btn-open.png" style="width:20px" />
                    </a>
                    <a href="JavaScript:descargarDocumentoIdentidad();" id="descargarDocumentoIdentidad" title="Descargar">
                        <img src="~/Content/Images/btn-download.png" style="width:20px" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombres:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombresRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Nombres" maxlength="255" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Apellidos:</td>
                <td class="registro-control">
                    <input type="text" id="txtApellidosRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Apellidos" maxlength="255" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Vigencia de Poder:</td>
                <td class="registro-control">
                    <a href="JavaScript:verVigenciaPoder();" id="verVigenciaPoder" title="Ver">
                        <img src="~/Content/Images/btn-open.png" style="width:20px" />
                    </a>
                    <a href="JavaScript:descargarVigenciaPoder();" id="descargarVigenciaPoder" title="Descargar">
                        <img src="~/Content/Images/btn-download.png" style="width:20px" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Vigencia Poder:</td>
                <td class="registro-control">
                    @if (@Model.FechaVigenciaPoder == null)
                    {
                        <input type="text" id="txtFechaVigenciaPoder" style="width:120px" />
                    }
                    else
                    {
                        <input type="text" id="txtFechaVigenciaPoder" value="@Model.FechaVigenciaPoder.Value.ToString("dd/MM/yyyy")" style="width:120px" />
                    }
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cargo de la Empresa:</td>
                <td class="registro-control">
                    <input type="text" id="txtCargoEmpresaRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.CargoEmpresa" maxlength="50" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono:</td>
                <td class="registro-control">
                    <input type="text" id="txtTelefonoRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Telefono" maxlength="50" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono Móvil:</td>
                <td class="registro-control">
                    <input type="text" id="txtMovilRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.TelefonoMovil" maxlength="50" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Correo electrónico:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreoRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.CorreoElectronico" maxlength="255" />
                </td>
            </tr>           
        </table>
        <div style="width:200px; margin:auto">
            <input id="btnCancelarRL" type="button" value="Cancelar" style="margin: 5px 0 5px 0;" />
            <input id="btnGrabarRL" type="button" value="Grabar" style="margin: 5px 0 5px 0;" />
        </div>
    </div>
    </div>

<input type="hidden" id="hdfNombreArchivoDocumentoIdentidad" value="@Model.DocumentoAdjuntoFileName" />
<input type="hidden" id="hdfAdjuntoDocumentoIdentidad" value="@Model.DocumentoAdjunto" />

<input type="hidden" id="hdfNombreArchivoVigenciaPoder" value="@Model.VigenciaPoderAdjuntoFileName" />
<input type="hidden" id="hdfAdjuntoVigenciaPoder" value="@Model.VigenciaPoderAdjunto" />




