@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RepresentanteModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;

<table id="tablaRepresentanteLegal" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Editar</th>
            <th>Representante</th>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Telefono</th>
            <th>Correo</th>
            
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListaRepresentantes.Count > 0)
        {
            int i = 0;
            foreach (var item in Model.ListaRepresentantes)
            {
                <tr>
                    <td>
                        <a href="#" onclick="EditarRepresentanteLegal(@item.Rptecodi)" id="btnEditarRepresentanteLegal">
                            <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                        </a>
                        <a href="#" onclick="DarBajaRepresentanteLegal(@item.Rptecodi)" title="Dar de baja" id="btnBajaRepresentanteLegal">
                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                    @if (@item.Rptetiprepresentantelegal.ToString() == ConstantesRegistroIntegrantes.RepresentanteLegalTipoTitular)
                    {
                        <td>@ConstantesRegistroIntegrantes.RepresentanteLegalTitular</td>
                    }
                    else
                    {
                        i++;
                        <td>@ConstantesRegistroIntegrantes.RepresentanteLegalAlterno @i</td>
                    }
                    <td>@item.Rptedocidentidad</td>
                    <td>@item.Rptenombres</td>
                    <td>@item.Rpteapellidos</td>
                    <td>@item.Rptecargoempresa</td>
                    <td>@item.Rptetelefono</td>
                    <td>@item.Rptecorreoelectronico</td>
                  
                </tr>
            }
        }
    </tbody>
</table>



