@model COES.MVC.Intranet.Areas.Equipamiento.Models.FtPlantillaCorreo

@{
    ViewBag.Title = "Configuración de Plantillas de correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/ft_ConfiguracionPlantillaCorreo.js?v=1.1.1"></script>

<div class="form-title">
    <div class="content-titulo">
        Configuración de Plantillas de Correo
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="hfLogoEmail" value="@Model.LogoEmail" />

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>

                <td>Tipo de plantilla:</td>
                <td>
                    <select id="cbTipoPlantilla" style="width: 325px;">
                        @foreach (var item in Model.ListaTipoPlantilla)
                        {
                            <option value="@item.Tpcorrcodi">@item.Tpcorrdescrip</option>
                        }
                    </select>
                </td>

                <td>Etapa:</td>
                <td>
                    <select id="cbEtapa" style="width: 235px;">
                        @foreach (var item in Model.ListaEtapa)
                        {
                            <option value="@item.Ftetcodi">@item.Ftetnombre</option>
                        }
                    </select>
                </td>

                <td></td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabLista">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>

            <div id="tabLista">
                <div id="mensaje_Listado"></div>
                <div id="vistaListado">

                    <div id="div_listado" class="content-tabla">

                    </div>
                </div>

            </div>

            <div id="tabDetalle">

                <div id="mensaje_Detalle"></div>

                <div id="div_detalle" class="content-tabla" style="overflow-x: scroll;">

                </div>
            </div>

        </div>
    </div>

    <div id="html_prueba" style="display: none">

    </div>
</div>

<div id="popupAgregarVariable" class="general-popup" style="width: 550px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Variable</span></div>
    <div id="mensaje_popupCargos"></div>
    <div class="table-list" id="seccionListadoVariables" style="margin: 20px">


    </div>
</div>