@model COES.MVC.Intranet.Areas.GMM.Models.AgenteModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaAgentelIncumplimientos">
        <thead>
            <tr>
                <th>Trienio</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Incumplimientos</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listadoIncumplimientos)
            {
                <tr class="menu-contextual">

                    <td>@item.EmprTriSecuencia</td>

                    @if (@item.EmprFecIniTrienio != null)
                    {
                        <td>
                            @Convert.ToDateTime(item.EmprFecIniTrienio).ToString("dd/MM/yyyy")
                        </td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                    @if (@item.EmprFecFinTrienio != null)
                    {
                        <td>
                            @Convert.ToDateTime(item.EmprFecFinTrienio).ToString("dd/MM/yyyy")
                        </td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    
                    <td>@item.EmprTotalInc</td>
                    
                </tr>
            }
        </tbody>
    </table>
</form>