@model COES.MVC.Intranet.Areas.GMM.Models.AgenteModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaAgentes">
        <thead>
            <tr>
                <!-- HABILITADO | RAZON SOCIAL | TIPO | FECHA VECIMIENTO | MODALIDAD | MOTO S/. | INCUMPLIMIENTO | EDITAR -->
                <th>Estado</th>
                <th>Razón Social</th>
                <th>Tipo</th>
                <th>Fecha Vencimiento</th>
                <th>Modalidad</th>
                <th>T. Certificado/Monto G.</th>
                <th>Incumplimiento</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listadoAgentes)
            {
                <tr class="menu-contextual">
                    <td style="text-align: center; width: 100px;">@item.Emprestado</td>
                    <td style="text-align: left; width: 120px;">@item.Emprnombrecomercial</td>
                    <td style="text-align: center; width: 120px;">@item.Emprtipoparticipante</td>
                    @if (item.EmprFechaFin != null)
                    {
                        <td style="text-align: center; width: 100px;">@(((DateTime)item.EmprFechaFin).ToString("dd/MM/yyyy"))</td>
                    }
                    else
                    {
                        <td style="text-align: center; width: 100px;">-</td>
                    }

                    <td style="text-align: center; width: 100px;">@item.EmprmodalidadBusqueda</td>
                    <td style="text-align: right; width: 100px;">@item.EmprMontoGarantia</td>
                    <td style="text-align: center; width: 100px;">@item.Emprnumeincumplimientos</td>
                    <td style="width:80px;">
                        <a href="JavaScript:modificarAgentes('@item.EMPGCODI');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                        <a href="JavaScript:eliminarAgentes('@item.EMPGCODI');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
