@model COES.MVC.Intranet.Areas.GMM.Models.AgenteModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <div style="width: 100%; overflow: scroll; white-space: nowrap; display: inline-block; ">
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaAgenteModalildades">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Modalidad</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Archivo</th>
                    <th>Trienio</th>
                    <th>Incumplimientos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listadoModalidades)
                {
                    <tr class="menu-contextual">
                        @if (@item.EmprFechaInicio != null)
                        {
                            <td>
                                @Convert.ToDateTime(item.EmprFechaInicio).ToString("dd/MM/yyyy")
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }

                        @if (@item.EmprFechaFin != null)
                        {
                            <td>
                                @Convert.ToDateTime(item.EmprFechaFin).ToString("dd/MM/yyyy")
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }

                        <td>@item.EmprModalidad</td>
                        <td>@item.EmprCertifica</td>
                        <td>@item.EmprMonto</td>
                        <td><a onclick="descargarFile('@item.EmprArchivo');">@item.EmprArchivo</a></td>
                        <td>@item.EmprTrienio</td>
                        <td>@item.EmprTotalIncM</td>
                        <td style="width:80px;">
                            <a href="JavaScript:modificarModalidad('@item.EmprGaraCodi');" title="Modificar">
                                <img src="~/Content/Images/btn-edit.png" alt="">
                            </a>
                            <a href="JavaScript:eliminarModalidad('@item.EmprGaraCodi');" title="Eliminar">
                                <img src="~/Content/Images/btn-cancel.png" alt="">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>