@model COES.MVC.Intranet.Areas.Transferencias.Models.AuditoriaModel
 
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Nro Item</th>
            <th>LoginUsuario</th>
            <th>Procesos/Actividad</th>
            <th>Fecha y Hora de Ejecución</th>
            <th>Estado</th>
              <th>Detalle</th>

        </tr>
    </thead>
    <tbody>
        @{
            // Here the initialization happens outside of the loop
            var i = 1;
        }

        @foreach (var item in Model.ListaAuditoriaProceso)
        {
        <tr id="fila_@item.Audprocodi">
            <td class="text_left">@i</td>
            <td class="text_left">@item.Audprousucreacion</td>
            <td class="text_left">@item.Tipprodescripcion</td>
            <td class="text_left">@item.Audprofeccreacion.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td class="text_left">@item.Estddescripcion</td>
            <td class="text_left">@item.Audprodescripcion</td>
         

        </tr>
            i++;
        }
    </tbody>
</table>