@model COES.MVC.Intranet.Areas.Proteccion.Models.ProyectoActualizacionModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }

    textarea {
        resize: none;
    }

    #popupProyecto {
        z-index: 99995 !important;
    }

    #popupBusquedaEO {
        z-index: 99996 !important;
    }
</style>
<div id="mensaje"></div>
<div id="divPrincipal" name="divPrincipal">
    <div class="form-title">
        <div class="content-titulo">Proyectos de Actualización</div>
        <div class="content-botonera">
            <input type="button" value="Consultar" id="btnBuscar" name="btnBuscar" class="form-action" style="margin-top: 15px" />
            <input type="button" value="Nuevo" id="btnNuevoProyecto" name="btnNuevoProyecto" class="form-action" style="margin-top: 15px" />
        </div>
    </div>


    <div class="content-hijo" id="mainLayout">
        <div id="idpanel" style="overflow:auto; background-color:#fff!important;">

            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:20%"></th>
                        <th style="width:4%"></th>
                        <th style="width:20%"></th>
                        <th style="width:9%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                    </tr>
                    <tr id="SeccionProgramaExistente">
                        <td>Área COES: </td>
                        <td>
                            <select id="fArea" style="width:100%">
                                <option value="0">TODOS</option>
                                @foreach (var item in Model.ListaArea)
                                {
                                    <option value="@item.Areacodi">@item.Areanomb</option>
                                }
                            </select>
                        </td>
                        <td>Nombre: </td>
                        <td>
                            <input type="text" id="fNombre" name="fNombre" style="width: 100%;" value="" maxlength="20" />
                        </td>
                        <td>Realizado desde: </td>
                        <td>
                            <input type="text" id="fFechaInicio" name="fFechaInicio" style="width: 100%;" />
                        </td>
                        <td>Realizado hasta: </td>
                        <td>
                            <input type="text" id="fFechaFin" name="fFechaFin" style="width: 100%;" />
                        </td>

                    </tr>
                </table>
            </div>
            <br />
            <div class="content-hijo" id="mainLayout">
                <div id='lista'></div>
            </div>

            <div id="popupProyecto" class="general-popup" style="width: 600px">
                <span class="button b-close"><span>X</span></span>
                <div class="popup-title"><span id="tituloPopup"></span></div>
                <div class="panel-container">

                    <div class="search-content" style="margin-bottom:0px; padding:15px">
                        <div id="mensaje_popupProyecto"></div>
                        <input type="hidden" id="hCodigo" />

                        <table style="width:100%; margin-right: auto" class="table-form-show">
                            <tr>
                                <th style="width:20%"></td>
                                <th style="width:80%"></td>
                            </tr>
                            <tr>
                                <td class="tbform-label">
                                    ¿Tiene Estudio EO?
                                </td>
                                <td class="tbform-control">
                                    @foreach (var item in Model.ListaEstadoFlag)
                                    {
                                        <label>
                                            <input type="radio" name="CtgFlagExcluyente" id="optRadio@(item.EstadoCodigo)" value="@item.EstadoCodigo">
                                            <span>@item.EstadoDescripcion</span>
                                        </label>
                                    }

                                    <input id="btnBuscarEO" value="Buscar EO" type="button" style="float: right;">
                                </td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Área COES(*):</td>
                                <td class="tbform-control">
                                    <select id="area" style="width: 100%;">
                                        <option value="0">SELECCIONAR</option>
                                        @foreach (var item in Model.ListaArea)
                                        {
                                            <option value="@item.Areacodi">@item.Areanomb</option>
                                        }
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Titular(*):</td>
                                <td class="tbform-control">
                                    <select id="titular" style="width: 100%;">
                                        <option value="0">SELECCIONAR</option>
                                        @foreach (var item in Model.listaTitular)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Código(*):</td>
                                <td class="tbform-control">
                                    <input type="text" id="codigoNemoTecnico" name="codigo" style="width: 99%;" value="" maxlength="20" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Nombre(*):</td>
                                <td class="tbform-control">
                                    <input type="text" id="nombres" name="nombres" style="width: 99%;" value="" maxlength="200" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Fecha(*):</td>
                                <td class="tbform-control">
                                    <input type="text" id="fecha" name="fecha" style="width: 100%;" value="" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Descripción:</td>
                                <td class="tbform-control">
                                    <textarea type="text" id="descripcion" name="descripcion" style="background-color: #fff; width: 99%;" rows="10" cols="32" maxlength="1000"></textarea>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div id="bloqueBotones">
                    <div style="width: 150px; margin: 0 auto;">
                        <input type="submit" id="btnGrabar" value="Guardar" style="margin-top: 15px;">
                        <input type="button" id="" value="Cancelar" onclick="cerrarPopup('popupProyecto')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mensaje" style="width:300px; margin:0"></div>



<div id="popupBusquedaEO" class="popup-class-1 general-popup" style="width: 800px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Búsqueda Estudio EO</span></div>
    <div class="panel-container">
        <div id="mensaje_popupBusquedaEO"></div>
        <div id="" style="margin-top: 10px;"></div>

        <div class="search-content">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="padding-right: 5px;">Tipo Empresa:</td>
                    <td>
                        <select id="cbPBEOTipoEmpresa">
                            <option value="-2">SELECCIONAR</option>
                            @foreach (var item in Model.listaTipoEmpresa)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                    </td>

                    <td style="padding-right: 5px;">Empresa:</td>
                    <td>
                        <select id="cbPBEOEmpresa" style="width: 350px;">
                            <option value="-5">--  Seleccione Empresa  --</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div id="listadoEstudio"></div>
        </div>
        <div>
            <div style="width: 200px; margin: 0 auto;">
                <input type="submit" id="btnConfirmarEO" value="Confirmar" style="margin-top: 15px;">
                <input type="button" id="" value="Cancelar" onclick="cerrarPopup('popupBusquedaEO')">
            </div>
        </div>

    </div>
</div>

<div id="popUpEqModificacion">
    <div class="form-title">
        <div class="content-titulo">
            <span> Equipamiento Modificado por Proyecto</span>
        </div>
        <div class="content-botonera">
            <input type="button" value="Exportar" id="btnExportarEqModificacion" name="btnExportarEqModificacion" class="form-action" style="margin-top: 12px" />
            <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 12px; margin-right:0px" />
        </div>
    </div>
    <div class="content-hijo" id="mainLayout">
        <div id="equipamientoModificacion"></div>
    </div>
</div>

<!--Menu contextual-->
<link href="~/Areas/Proteccion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Proteccion/Content/Scripts/proyectoActualizacion.js"></script>

<script src="~/Areas/Proteccion/Content/Scripts/util.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreemenu.js"></script>
<link href="~/Content/Css/uitree.css" rel="stylesheet" />

