@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoProyectoModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:10%">Acciones</th>
            <th style="width:15%">Área COES</th>
            <th style="width:15%">Código</th>
            <th style="width:35%">Nombre</th>
            <th style="width:15%">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaProyecto.Count > 0)
        {
            foreach (var item in Model.ListaProyecto)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarProyecto(@item.Epproycodi,'3');" title="Consultar datos generales del proyecto"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                        <a href="JavaScript:editarProyecto(@item.Epproycodi,'2');" title="Editar datos generales del proyecto"><img src="~/Content/Images/btn-edit.png" alt="Editar"></a>
                        <a href="JavaScript:eliminar(@item.Epproycodi);" title="Eliminar proyecto"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar"></a>
                        <a href="JavaScript:consultarEquipamiento(@item.Epproycodi);" title="Consultar relación de Equipamiento modificado por el proyecto"><img src="~/Content/Images/btn-properties.png" alt="Consultar"></a>
                    </td>
                    <td>@item.Area</td>
                    <td>@item.Epproynemotecnico</td>
                    <td>@item.Epproynomb</td>
                    <td>@item.Epproyfecregistro</td>
                </tr>
            }
        }

    </tbody>
</table>