@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoEqModificadoModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListadoEqModificado">
    <thead>
        <tr>
            <th style="width:12%">Subestación</th>
            <th style="width:10% ">Celda</th>
            <th style="width:10%">Relé</th>
            <th style="width:7%">Tensión</th>
            <th style="width:10%">Sitema Relé</th>
            <th style="width:10%">Marca</th>
            <th style="width:10%">Modelo</th>
            <th style="width:7%">Tipo Uso</th>
            <th style="width:7%">Estado</th>
            <th style="width:10%">Memoria de Cálculo</th>
            <th style="width:10%">Acción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEqModificado.Count > 0)
        {
            foreach (var item in Model.ListaEqModificado)
            {
                <tr>
                    <td>@item.SubestacionNomb</td>
                    <td>@item.Celda</td>
                    <td>@item.Rele</td>
                    <td>@item.Tension</td>
                    <td>@item.SistemaRele</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.TipoUso</td>
                    <td>@item.Estado</td>
                    <td>
                        @if (@item.MemoriaCalculo != "")
                        {
                            <a href="Javascript:descargarArchivo('@item.MemoriaCalculo')">@item.MemoriaCalculoTexo</a>
                        }
                    </td>
                    <td>@item.Accion</td>
                </tr>
            }
        }

    </tbody>
</table>