@model COES.MVC.Intranet.Areas.Hidrologia.Models.HidrologiaModel
@{
    ViewBag.Title = "Reporte Powel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Hidrologia/Content/Css/reportePowel.css?v=1.0.1" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/reporteAppPowel.js?v=1.0.1"></script>

<script type="text/javascript">
    function CargarSemanaAnho2() {
        CargarSemanaAnho();
    }
</script>

<div class="form-title">
    <div class="content-titulo">Reporte Información Hidrológica Aplicativo Powel</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Reporte:</td>
                <td style="width:200px;">
                    <select id="cbTipoReporte" name="cbTipoReporte">
                        <option value="-1">--Seleccione--</option>
                        <option value="1">Diario</option>
                        <option value="2">Semanal</option>
                    </select>
                </td>

                <td class="filaDia" style="display: none">Fecha Inicio:</td>
                <td class="filaDia" style="display: none">
                    <input type="text" name="fechaInicio" id="fechaInicio" value="@Model.FechaInicio" style="width:100px" />
                    <input type="hidden" id="hfFechaInicio" value="@Model.FechaInicio" />
                </td>

                <td class="filaDia" style="display: none">Fecha Fin:</td>
                <td class="filaDia" style="display: none">
                    <input type="text" name="fechaFin" id="fechaFin" value="@Model.FechaFin" style="width:100px" />
                    <input type="hidden" id="hfFechaFin" value="@Model.FechaFin" />
                </td>

                <td class="filaSemana" style="display: none">Año:</td>
                <td class="filaSemana" style="display: none">
                    <input type="text" id="anhoIni" name="anhoIni" style="width:70px;" value="@Model.Anho" />
                    <input type="hidden" id="hfAnhoIni" value="@Model.Anho" />
                </td>
                <td class="filaSemana" style="display: none">Semana Inicio:</td>
                <td class="filaSemana" style="display: none">
                    <div id="divSemana"> </div>
                    <input type="hidden" id="hfSemanaIni" value="@Model.NroSemana" />
                </td>
                <td class="filaSemana" style="display: none">Año:</td>
                <td class="filaSemana" style="display: none">
                    <input type="text" id="anhoFin" name="anhoFin" style="width:70px;" value="@Model.Anho" />
                    <input type="hidden" id="hfAnhoFin" value="@Model.Anho" />
                </td>
                <td class="filaSemana" style="display: none">Semana Fin:</td>
                <td class="filaSemana" style="display: none">
                    <div id="divSemana2"> </div>
                    <input type="hidden" id="hfSemanaFin" value="@Model.NroSemana" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>