@{
    ViewBag.Title = "ViewDetalleFaltante";
}

<div>
    <table>
        <tr>
            <td>Empresa:</td>
            <td>@Model.EmpresaDesc</td>
        </tr>
        <tr>
            <td>Ubicación:</td>
            <td>@Model.UbicacionDesc</td>
        </tr>
        <tr>
            <td>Descripción:</td>
            <td>@Model.PuntoCalculadoDesc</td>
        </tr>
    </table>

    <br />

    <table class="pretty">
        <thead>
            <tr>
                <th>Punto de medición</th>
                <th>Descripción</th>
                <th>Factor</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaMedicion1)
            {
                <tr>
                    <td>@item.OrigenPtomedicodi</td>
                    <td>@item.OrigenPtomedidesc</td>
                    <td>@item.CalculadoFactor</td>
                    <td>@item.H1</td>
                </tr>
            }
        </tbody>
    </table>

    <br/><br />

    <table>
        <tr>
            <td>
                <input type="button" id="btnCerrarVerDetalle" value="Cerrar" />
            </td>
        </tr>
    </table>
</div>

