@model COES.MVC.Publico.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalle de Ficha Técnica";
}

<script src="~/Content/Scripts/jqueryui.js"></script>
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=1.2.4" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Script/fichatecnica/fichatecnicadetalle.js?v=1.2.4"></script>
<script src="~/Areas/Equipamiento/Content/Script/fichatecnica/fichatecnicadetallevista.js?v=1.2.4"></script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/RegistroDeIntegrantes.jpg)">
</div>
<div style="clear:both"></div>

<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            <div class="coes-box mb-3">
                <div class="coes-box--header coes-box--header--left-aligned">
                    <h3 class="coes-box--title">@Model.Elemento.TituloFicha</h3>
                </div>
                <div class="coes-box--content container">

                    <div class="coes-filters d-flex ">
                        <form action="" class="w-100">
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">

                                <div class="coes-form-item">
                                    <label class="label_filtro td_empresa">Empresa:</label>
                                    <label class="valor_filtro td_empresa" id="filtro_empresa"></label>
                                </div>

                                <div class="coes-form-item">
                                    <label class="label_filtro td_ubicacion" id="filtro_tipo_ubicacion">Ubicación:</label>
                                    <label class="valor_filtro td_ubicacion" id="filtro_valor_ubicacion"></label>
                                </div>

                                <div class="coes-form-item">
                                    <label class="label_filtro" id="filtro_tipo_elemento">Equipo:</label>
                                    <label class="valor_filtro" id="filtro_nombre_elemento"></label>
                                </div>
                                <div class="coes-form-item label_filtro cb_empresa">
                                    <label class="label_filtro cb_empresa">Empresa:</label>
                                    <select class="valor_filtro cb_empresa" id="cbEmpresaDetalle" name="Emprcodi" style="width: 250px">
                                        @foreach (var item in Model.ListaEmpresa)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>

                                <div class="coes-form-item">
                                    <input type="button" id="btnExportarReporte" class="coes-form-item--submit" value="Exportar">
                                </div>
                                <div class="coes-form-item">
                                    <input type="button" id="btnRegresar" class="coes-form-item--submit" value="Regresar">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>

                <div class="container" id="mainLayout" style="margin-bottom: 200px;">
                    <div id="textoMensaje"></div>

                    <div class="content-tabla">
                        <div class="table-list" id="detalle_ficha_tecnica"></div>
                    </div>

                    <div style="clear:both; height:30px"></div>
                </div>

                <!-- Matriz -->
                <div id="popupMatriz" class="general-popup" style="width: 400px !important; max-width: 1200px !important; min-height: 200px;">
                    <span class="button b-close"><span>X</span></span>
                    <div class="popup-title"><span>Configuración Ficha Técnica</span></div>
                    <div style="clear:both; height:20px"></div>
                    <div id="divTablapMatriz">

                    </div>
                </div>

                <!--popup tipo de exportación -->
                <div id="popupExportarReporte" class="general-popup" style="z-index:9999999998;">
                    <div> <span class="button b-close"><span>X</span></span></div>
                    <div class="popup-title"><span>Exportar Reporte</span></div>

                    <div class="popup-text" style="margin-top:5px">
                        <div id="vistaExportar">
                            <div class="content-tabla">

                                <div style="width:250px; padding-left: 30px;">
                                    <div style="width:250px; padding-top:30px;">
                                        <div>
                                            <input type="radio" id="rd1" name="tipoExportar" value="1" checked> Incluir comentario <br />
                                            <input type="radio" id="rd2" name="tipoExportar" value="2"> No incluir comentario <br />
                                        </div>
                                    </div>
                                </div>
                                <div style="width:250px; text-align:center; padding:30px;">
                                    <div style="width:250px;">
                                        <input type="button" id="btnExportar" value="Exportar" />
                                        <input type="button" id="btnCancelarExportacion" value="Cancelar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div style="clear:both"></div>
            </div>
        </div>
</div>
<input type="hidden" id="hfTipoElemento" value="@Model.TipoElemento" />
<input type="hidden" id="hfTipoElementoId" value="@Model.TipoElementoId" />
<input type="hidden" id="hfCodigo" value="@Model.Codigo" />
<input type="hidden" id="hfCodigoFicha" value="@Model.IdFicha" />

<input type="hidden" id="hfExisteElemento" value="@Model.Elemento.Existe" />
<input type="hidden" id="hfEmpresa" value="@Model.Elemento.Empresa" />
<input type="hidden" id="hfTituloFicha" value="@Model.Elemento.TituloFicha" />
<input type="hidden" id="hfOrigenTipoDesc" value="@Model.Elemento.OrigenTipoDesc" />
<input type="hidden" id="hfOrigenPadreTipoDesc" value="@Model.Elemento.OrigenPadreTipoDesc" />
<input type="hidden" id="hfNombre" value="@Model.Elemento.Nombre" />
<input type="hidden" id="hfUbicacion" value="@Model.Elemento.Ubicacion" />

<input type="hidden" id="hfFlagExisteComentario" value="0" />