@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@if (Model.NRegistros > 0)
{
    if (Model.MostrarCarga)
    {
        <div id="tab-container" class='tab-container'>
            <ul id='tabss' class='etabs'>
                <li id='tab_1' class='tab'><a href='#barra'>Cmg Barra</a></li>
                <li id='tab_2' class='tab'><a href='#energ'>Cmg Energia</a></li>
                <li id='tab_3' class='tab'><a href='#conge'>Cmg Congestion</a></li>
            </ul>
            <div class='panel-container'>
                <div id='barra'>
                    @Html.Raw(Model.Resultado)
                </div>
                <div id='energ'>
                    @Html.Raw(Model.Resultado2)
                </div>
                <div id='conge'>
                    @Html.Raw(Model.Resultado3)
                </div>
            </div>
        </div>
        <script>
            mostrarExito("Carga Exitosa!!");
            
            $("#tr_fechaDia").hide();

            $("#tabla1").dataTable({ "pageLength": 48, "bLengthChange": false, "ordering": false });
            $("#tabla2").dataTable({ "pageLength": 48, "bLengthChange": false, "ordering": false });
            $("#tabla3").dataTable({ "pageLength": 48, "bLengthChange": false, "ordering": false });
            $('#tab-container').easytabs({ animate: false });
        </script>
    }
    else {
        <table id="tb_comen" class='pretty tabla-icono' style="width:60%">
            <thead><tr><th>Resultado</th></tr></thead>
            <tbody>
                @foreach (var d in Model.TipoEmpresas)
                {
                    <tr><td style="text-align:left;border:none">@d</td></tr>
                }
            </tbody>
        </table>
        <script>
            $("#btnCargar").hide();
            $('#mensaje').removeClass();
            $('#mensaje').html('Error en la Carga');
            $('#mensaje').addClass('action-error');
            $("#tb_comen").dataTable({ "pageLength": 50, "bLengthChange": false, "ordering": false });
        </script>
    }
}
else
{
    <script>
        $("#btnCargar").hide();
        $('#mensaje').removeClass();
        $('#mensaje').html('@Model.Mensaje');
        $('#mensaje').addClass('action-message');
    </script>
} 