@model COES.MVC.Intranet.Areas.Transferencias.Models.EvaluacionParticipanteModel
@{

}
<script src="~/Areas/Transferencias/Content/Scripts/ConfiguracionCna.js"></script>
<div id="mensajeDias" class="action-message">Por favor complete los datos</div>
<div class="">
    <b>Semana:</b>
    <select id="cbSemana" style="width: 104px">
        @foreach (var item in Model.ListaGenSemanas)
        {
            <option value="@item.String2">@item.String1</option>
        }
    </select>
    <b>Del </b>
    <label id="txtFechaInicio" disabled style="background-color: #acfdb9;"></label>
    <b> al </b>
    <label id="txtFechaFin" disabled style="background-color: #f9a0a0; "></label>
</div>
<div style="clear:both; height:10px"></div>
<div id="div-configDias" class="panel-container">
    <table class=" ">
        <tr>
            <td class="tbform-label">Lunes:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dl == "S")
                {
                    <input type="checkbox" name="chkLunes" id="chkLunes" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkLunes" id="chkLunes"><br>
                }
            </td>
            <td class="tbform-label">Martes:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dm == "S")
                {
                    <input type="checkbox" name="chkMartes" id="chkMartes" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkMartes" id="chkMartes"><br>
                }
            </td>
            <td class="tbform-label">Miércoles:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dmm == "S")
                {
                    <input type="checkbox" name="chkMiercoles" id="chkMiercoles" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkMiercoles" id="chkMiercoles"><br>
                }
            </td>
            <td class="tbform-label">Jueves:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dj == "S")
                {
                    <input type="checkbox" name="chkJueves" id="chkJueves" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkJueves" id="chkJueves"><br>
                }
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Viernes:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dvr == "S")
                {
                    <input type="checkbox" name="chkViernes" id="chkViernes" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkViernes" id="chkViernes"><br>
                }
            </td>
            <td class="tbform-label">Sábado:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Ds == "S")
                {
                    <input type="checkbox" name="chkSabado" id="chkSabado" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkSabado" id="chkSabado"><br>
                }
            </td>
            <td class="tbform-label">Domingo:</td>
            <td class="tbform-label">
                @if (Model.EntidadConfiguracionDias.Dd == "S")
                {
                    <input type="checkbox" name="chkDomingo" id="chkDomingo" checked="checked"><br>
                }
                else
                {
                    <input type="checkbox" name="chkDomingo" id="chkDomingo"><br>
                }
            </td>
        </tr>
    </table>
</div>
<div class="container" style="display: flex; padding-top: 10px;">
    <div style="margin: 0 auto;">
        <input type="button" value="Guardar" id="btnGrabarNewDia" />
        <input type="button" value="Cancelar" id="btnCancelarNewDia" />
    </div>
</div>
<div style="clear:both; height:15px"></div>
<div class="popup-title"><span>Reiniciar contador participante.</span></div>
<div class="search-content" style="margin-bottom:10px">
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>Participante:</td>
            <td>
                <select id="cbEmpresaConfig" name="cbEmpresaConfig" style="width:115px">
                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
            </td>
            <td>
                <input type="button" id="btnReiniciar" value="Reiniciar" style="margin-left:0" />
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="semanaActual" value="@Model.SemanaPeriodo" />
