@model COES.MVC.Intranet.Areas.Transferencias.Models.EvaluacionParticipanteModel
@{

}
<script src="~/Areas/Transferencias/Content/Scripts/evaluacionparticipante.js"></script>
<div id="mensajeEdit" class="action-message">Por favor complete los datos</div>

<div id="div-configptoMME" class="panel-container">

    <table class=" ">
        <tr>
            <td class="tbform-label">Participante:</td>
            <td class="tbform-control">
                <select id="cbEmpresaConfg">

                    @foreach (var item in Model.ListaEmpresas)
                    {
                        string seleccionado = "";
                        if (Model.ConfiguracionPto != null)
                        {
                            seleccionado = item.Emprcodi == Model.ConfiguracionPto.Emprcodi ? "selected" : "";
                        }

                        <option @seleccionado value="@item.Emprcodi">@item.Emprnomb</option>

                    }
                </select>
                @if (Model.ConfiguracionPto != null)
                {
                    <input type="hidden" id="hdPtoMedicodi" class="form-control" value="@Model.ConfiguracionPto.Ptomedicodi" />
                    <input type="hidden" id="hdConfconcodi" class="form-control" value="@Model.ConfiguracionPto.Confconcodi" />
                }
                else
                {
                    <input type="hidden" id="hdPtoMedicodi" class="form-control" value="0" />
                }

            </td>
        </tr>
        <tr>
            <td class="tbform-label">Pto. Medición:</td>
            <td class="tbform-control">
                <select id="cbPtoMedicion">
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Vigencia:</td>
            <td class="tbform-control">
                <select id="cbVigencia">
                    <option value="0">Seleccionar</option>
                    <option value="1">Vigente</option>
                    <option value="2">No Vigente</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha Vigencia:</td>
            <td class="tbform-control">
                <input type="text" id="FechaVigencia" name="FechaVigencia" value="@Model.FechaVigencia" style="width:120px" />
            </td>
        </tr>
    </table>
</div>
<div class="container" style="display: flex; padding-top: 10px;">
    <div style="margin: 0 auto;">
        <input type="button" value="Agregar" id="btnGrabarNewConfiguracion" />
        <input type="button" value="Cancelar" id="btnCancelarNewConfiguracion" />
    </div>

</div>
<input type="hidden" id="hdtipoGuardado" />

