@model COES.MVC.Intranet.Areas.Transferencias.Models.EvaluacionParticipanteModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th scope="col" style="width:65px; min-width:65px">Acción</th>          
            <th scope="col">Participante</th>
            <th scope="col">Pto. de Conexión</th>
            <th scope="col">Fecha de Vigencia</th>
            <th scope="col">Valor</th>
            <th scope="col">Usuario de modificación</th>
            <th scope="col">Fecha de modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConfiguracionPtos)
        {
            <tr>
                <td style="width: 50px; min-width: 50px; text-align: left;">
                    <a href="#" onclick="EditarConfiguracionPtoMME(@item.Confconcodi)" title="Editar">
                        <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                    </a>
                    <a href="#" onclick="EliminarConfiguracionPtoMME(@item.Confconcodi)" title="Eliminar">
                        <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                    </a>
                </td>
                <td>@item.EmprNomb</td>
                <td>@item.PtoMediDesc</td>
                <td>
                    @if (item.Fechavigencia != null)
                    {
                        <span>@(((DateTime)item.Fechavigencia).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td>@item.Vigencia</td>
                <td>@item.Lastuser</td>
                <td>
                    @if (item.Lastdate != null)
                    {
                        <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm"))</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>