@model COES.MVC.Intranet.Areas.Transferencias.Models.EvaluacionParticipanteModel
@{

}
<script>
    $('#FechaDesdeLog').Zebra_DatePicker({
    });

    $('#FechaHastaLog').Zebra_DatePicker({
    });
    $('#btnBuscarLogEval').click(function () {
        ListadoCNAProcesado();
    });
</script>
<div class="search-content" style="margin-bottom:10px">
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>Desde:</td>
            <td><input type="text"  id="FechaDesdeLog" name="FechaInicioLog" value="@Model.FechaInicio" style="width:92px" /></td>
            <td>Hasta:</td>
            <td><input type="text"  id="FechaHastaLog" name="FechaFinLog" value="@Model.FechaFin" style="width: 92px" /></td>
            <td>
                <input type="button" id="btnBuscarLogEval" name="btnBuscarLogEval" value="Consultar" class="form-action" style="margin-left:0" />
            </td>
        </tr>
    </table>
</div>
<div class="content-tabla">
    <table border="0" class="pretty tabla-adicional" style='table-layout: fixed;'>
        <thead>
            <tr>
                <th style='width: 150px'>Participante</th>
                <th style='width: 50px'>Fecha de Proceso</th>
                <th style='width: 50px'>Cantidad de CNA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaLogCna)
            {
                <tr>
                    <td style="text-align: center">@item.Emprrazsocial</td>
                    <td>
                        @if (item.FechaProceso != null)
                        {
                            <span>@(((DateTime)item.FechaProceso).ToString("dd/MM/yyyy HH:mm"))</span>
                        }
                    </td>
                    <td style="text-align: center">@item.Cantcna</td>

                </tr>
            }

        </tbody>
    </table>
</div>


    
