@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var mes = (IEnumerable<SelectListItem>)TempData["Mescodigo"];
    var anio = (IEnumerable<SelectListItem>)TempData["Aniocodigo"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/periodo.js"></script>
@using (Html.BeginForm("Save", "periodo", FormMethod.Post, new { id = "frmPeriodo", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","periodo")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.Entidad.PeriCodi)
            @Html.HiddenFor(model => model.Entidad.PeriAnioMes)
            @Html.HiddenFor(model => model.Entidad.RecaNombre)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError!="")
                {
                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;">
                            @Model.sError
                        </div>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.PeriNombre, "Periodo")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.PeriNombre)
                            @Html.ValidationMessageFor(model => model.Entidad.PeriNombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.MesCodi, "Mes")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Mescodi", @mes, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.Entidad.MesCodi)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.AnioCodi, "Año")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Aniocodi", @anio, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.Entidad.AnioCodi)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Perifechavalorizacion, "Fecha Valorización")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Perifechavalorizacion, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Perifechavalorizacion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Perifechalimite, "Fecha Límite")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Perifechalimite, "{0:dd/MM/yyyy }", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Perifechalimite)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.PeriHoraLimite, "Hora Límite")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.PeriHoraLimite)
                            @Html.ValidationMessageFor(model => model.Entidad.PeriHoraLimite)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Perifechaobservacion, "Fecha Observaciones")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Perifechaobservacion, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Perifechaobservacion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.PeriEstado, "Estado")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.PeriEstado, "Abierto")En proceso</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.PeriEstado, "Publicar")Publicación Preliminar</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.PeriEstado, "Cerrado")Cerrado</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    
   </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmPeriodo").validate({
        rules: {
            "Entidad.PeriNombre": {
                required: true
            },
            "Entidad.PeriCodi": {
                required: true,
                number: true
            },
            "Entidad.MesCodi": {
                required: true
            },
            "Entidad.AnioCodi": {
                required: true
            },
            Perifechavalorizacion: {
                required: true,
            },
            Perifechalimite: {
                required: true,
            },
            "Entidad.PeriHoraLimite": {
                required: true,
            },
            Perifechaobservacion: {
                required: true,
            }
        }
    });
</script>
<script>
    var sAccion = '@sAccion';
    if (sAccion == "Insertar") {
        document.forms[0].Entidad_Periestado[0].checked = true;
    }
</script>