@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th class="sorting_desc">Periodo</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Fecha Valorización</th>
            <th>Fecha Limite</th>
            <th>Hora Limite</th>
            <th>Fecha Observaciones</th>
            <th>Ult.Revisión</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
     <tbody>
        @foreach (var item in Model.ListaPeriodos)
        {
            <tr id="fila_@item.PeriCodi">
                <td style="text-align:left;">@item.PeriNombre</td>
                <td>@item.AnioCodi</td>
                <td>@item.MesCodi</td>
                <td>@item.PeriFechaValorizacion.ToString("dd/MM/yyyy")</td>
                <td>@item.PeriFechaLimite.ToString("dd/MM/yyyy")</td>
                <td>@item.PeriHoraLimite</td>
                <td>@item.PeriFechaObservacion.ToString("dd/MM/yyyy")</td>
                <td>@item.RecaNombre</td>
                <td>@item.PeriEstado</td>
                <td style="width:30px;"><a href="#" id="view_@item.PeriCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { id = item.PeriCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
                </td>
                <td style="width:30px;"><a href="@Url.Action("Index", "compensacion", new { id = item.PeriCodi })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/compensacion.jpg")" title="Crear la compensacion" alt="Crear la compensacion" /></a></td>
                <td style="width:30px;"><a href="@Url.Action("Index", "recalculo", new { id = item.PeriCodi })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/recalculo.jpg")" title="Crear el recalculo" alt="Crear el recalculo" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.PeriCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>