@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel
@{
   ViewBag.Title = "Transferencias - Mes de Valorización";    
}
<fieldset>
    <legend>Periodo</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriNombre, "Periodo : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.MesCodi, "Mes :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.MesCodi)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.AnioCodi, "Año : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.AnioCodi )</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriFechaValorizacion, "Fecha valorización : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriFechaValorizacion)</div>
            </td>
        </tr>

         <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriFechaLimite, "Fecha límite : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriFechaLimite)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriHoraLimite, "Hora límite : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriHoraLimite)</div>
            </td>
        </tr>

         <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriFechaObservacion, "Fecha observaciones : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriFechaObservacion)</div>
            </td>
        </tr>

         <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.PeriEstado, "Estado : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.PeriEstado)</div>
            </td>
        </tr>
     
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>
