@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleModel
@{
    ViewBag.Title = "PR31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/combustible.js?v=1.8.4"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css?v=1.8.3" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Envío de Costo de Combustibles </div>
    <div class="content-botonera">

        <input type="button" id="btnParametros" value="Configuración de Aplicativo" style="" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfEstado" />
    <input type="hidden" id="hfCentral" />
    <input type="hidden" id="hdIdEstado" value="@Model.IdEstado" />

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Central:</td>
                <td>
                    <div id="div_central_filtro">
                        <select id="cbCentral" name="IdCentral" multiple="multiple">
                            @foreach (var item in Model.ListaCentral)
                            {
                                <option value="@item.Equicodi">@item.Equinomb</option>
                            }
                        </select>
                    </div>
                </td>

                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />

                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar" />
                    <input type="button" id="btnExpotar" value="Exportar Solicitudes" />
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>

        <!--Listado de envios por carpetas-->
        <div class="table-list" id="listado">

            <div style="float:left;width:174px;height:460px; background-color:Gainsboro" id="bandeja">
                <div id="div_carpetas" style="margin:10px;">

                </div>
            </div>

            <div id="reporte" style=" display: inline-block; float: left; width: 1000px;">
            </div>

        </div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<div id="popupAmpl" class="general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Habilitar plazo del módulo</span></div>
    <div class="table-list" id="detalleAmpliacion">

        <input type="hidden" id="hfEnvio" value="0" />

        <table class="table-form-vertical" style="width: auto">
            <tr>
                <td>Central:</td>
                <td><span id="ampl_central"></span></td>
            </tr>
            <tr>
                <td>Tipo de combustible:</td>
                <td><span id="ampl_comb"></span></td>
            </tr>

            <tr>
                <td>Código de envío:</td>
                <td><span id="ampl_enviocodi"></span></td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px;">Fecha de solicitud:</td>
                <td style="padding-bottom: 20px;"><span id="ampl_fec_sol"></span></td>
            </tr>

            <tr>
                <td>Fin de plazo:</td>
                <td>
                    <input type="text" id="idFechaAmp" value="" style="width: 90px;" />
                    <select id="cbHora" name="IdHora" style="width: 90px;">
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="button" id="idAgregarAmpl" value="Guardar" />
                </td>
                <td>
                    <input type="button" id="idCancelarAmpl" value="Cancelar" />
                </td>
            </tr>
        </table>

    </div>
</div>