@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    string strTipoDesc = string.Empty;
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
<link href="~/Content/Css/Bootstrap/bootstrap-grid.min.css" rel="stylesheet" />
<script src="~/Areas/Hidrologia/Content/Scripts/GraficosSeries.js"></script>


<script>

    $('#cbPuntoMedicionTab5').multipleSelect({
        width: '195px',
        filter: true,
        placeholder: '--SELECCIONE--',

    });
    $('#cbPuntoMedicionTab5').multipleSelect('disable');

</script>
<div class="search-content" style="margin-bottom:0px; padding:10px; width: 100%;">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <span> Tipo de Serie : </span>
                </div>
                <div class="col-md-8">
                    <select id="cbTipoSerieTab5" name="cbTipoSerieTab5" style="width: -webkit-fill-available !important;">
                        @foreach (var item in Model.ListaTipoSerie)
                        {
                        <option value="@item.Tiposeriecodi">@item.Tiposerienomb</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span> Tipo de Punto de Medición : </span>
                </div>
                <div class="col-md-6">
                    <select id="cbTipoPuntoMedicionTab5" name="cbTipoPuntoMedicionTab5" onchange="habilitarRangeFecha(this);">
                        <option value="">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaTipoPuntoMedicion)
                        {
                        strTipoDesc = strTipoDesc + item.TipoPtoMediCodi + ":" + item.TipoInfoDesc + "|";
                        <option value="@item.TipoPtoMediCodi">@item.TipoPtoMediNomb</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <span>Desde: </span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="txtFechaDesdeTab5" name="FechaInicio" value="@Model.FechaIni" disabled="disabled" style="width: 100% !important;" />
                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <span> Hasta: </span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="txtFechaHastaTab5" name="FechaFin" value="@Model.FechaFin" disabled="disabled" style="width: 100% !important;" />
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span> Cuenca : </span>
                </div>
                <div class="col-md-6">
                    <select id="cbCuencaTab5" name="cbCuencaTab5" disabled="disabled" onchange="habilitarPtoMedicion(this);">
                        <option value="">--SELECCIONE--</option>

                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <span> Punto de Medición : </span>
                </div>
                <div class="col-md-7">
                    <select id="cbPuntoMedicionTab5" name="cbPuntoMedicionTab5" multiple="multiple" onchange="habilitarBtnConsultar(this);">
                        <option value="">--SELECCIONE--</option>
                    </select>
                    <input type="hidden" id="hfPuntoMedicionTab5" />
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-3" style="text-align: center;">
        <div class="col-md-12">
            <input type="hidden" name="hdfTipoPtoMedDescTab5" id="hdfTipoPtoMedDescTab5" value="@strTipoDesc" />
            <input type="button" id="btnConsultarTab5" value="Consultar" onclick="habilitarBtnDescargarComparativaLineaTendencia();" disabled="disabled" style="margin-top: 10px" />
            <input type="button" id="btnExportarTab5" value="Exportar Excel" onclick="exportarExcelGraficoComparativaLineaTendencia()" disabled="disabled" style="margin-top: 10px" />
            <input type="button" id="btnDescargarTab5" value="Descargar Gráfico" onclick="descargarImagenTab5()" disabled="disabled" style="margin-top: 10px" />

        </div>

    </div>

</div>

<div class="table-grafica" id="graficoComparativaLineaTendencia"></div>

