@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    string strTipoDesc = string.Empty;
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script>

    $('#cbAnioTab4').multipleSelect({
        // width: '200px',
        filter: true,
        placeholder: '--SELECCIONE--',

    });
    $('#cbAnioTab4').multipleSelect('disable');

</script>
<table style="width:100%">
    <tr>
        <td>
            <div class="search-content" style="margin-bottom:0px; padding:10px">
                <table class="table-search">
                    <tr style="height: 30px;">

                        <td>Tipo de Serie :</td>
                        <td>
                            <select id="cbTipoSerieTab4" name="cbTipoSerieTab4">
                                @foreach (var item in Model.ListaTipoSerie)
                                {
                                    <option value="@item.Tiposeriecodi">@item.Tiposerienomb</option>
                                }
                            </select>
                            <input type="hidden" id="hfTipoSerie" value="@Model.TipoSerie" />
                        </td>
                        <td>Tipo de año :</td>
                        <td>
                            <select name="cbTipoAnio4" id="cbTipoAnio4" onchange="habilitarTipoPuntoMedicion(this);">
                                <option value="">--SELECCIONE--</option>
                                <option value="1">Año Hidrológico</option>
                                <option value="2">Año Calendario</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo de Punto de Medición :</td>
                        <td>
                            <select id="cbTipoPuntoMedicionTab4" name="cbTipoPuntoMedicionTab4" disabled="disabled" onchange="habilitarRangeFecha(this);">
                                <option value="">--SELECCIONE--</option>
                                @foreach (var item in Model.ListaTipoPuntoMedicion)
                                {
                                    strTipoDesc = strTipoDesc + item.TipoPtoMediCodi + ":" + item.TipoInfoDesc + "|";
                                    <option value="@item.TipoPtoMediCodi">@item.TipoPtoMediNomb</option>
                                }
                            </select>
                        </td>
                        <td style="vertical-align: middle">Años de comparación :</td>
                        <td>
                            <select id="cbAnioTab4" name="cbAnioTab4" multiple="multiple" onchange="habilitarCuenca(this);">
                                @foreach (var year in Model.ListAnio)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                            <input type="hidden" id="hfAnioComparacion" />
                        </td>
                    </tr>

                    <tr style="height: 35px;">
                        <td>Cuenca :</td>
                        <td>
                            <select id="cbCuencaTab4" name="cbCuencaTab4" disabled="disabled" onchange="habilitarPtoMedicion(this);">
                                <option value="">--SELECCIONE--</option>

                            </select>
                        </td>
                        <td>Punto de Medición :</td>
                        <td>
                            <select id="cbPuntoMedicionTab4" name="cbPuntoMedicionTab4" disabled="disabled" onchange="habilitarBtnConsultar(this);">
                                <option value="">--SELECCIONE--</option>
                            </select>

                        </td>
                    </tr>
                    <tr>

                        <td style="text-align: right">
                            <input type="button" id="btnConsultarTab4" value="Consultar" onclick="habilitarBtnDescargarComparativaNaturalEvaporada();" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td style="text-align: center">
                            <input type="button" id="btnExportarTab4" value="Exportar Excel" onclick="exportarExcelGraficoComparativaNaturalEvaporada()" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td>
                            <input type="button" id="btnDescargarTab4" value="Descargar Gráfico" onclick="descargarImagenTab4()" disabled="disabled" style="margin-top: 10px" />
                        </td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div class="table-grafica" id="graficoComparativaNaturalEvaporada"></div>



