@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    string strTipoDesc = string.Empty;
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script>

    $('#cbAnioTab4').multipleSelect({
        // width: '200px',
        filter: true,
        placeholder: '--SELECCIONE--',

    });
    $('#cbAnioTab4').multipleSelect('disable');

</script>
<table style="width:100%">
    <tr>
        <td>
            <div class="search-content" style="margin-bottom:0px; padding:10px">
                <table class="table-search">
                    <tr style="height: 30px;">

                        <td>Tipo de Serie:</td>
                        <td>
                            <select id="cbTipoSerieTab6" name="cbTipoSerieTab6">
                                @foreach (var item in Model.ListaTipoSerie)
                                {
                                <option value="@item.Tiposeriecodi">@item.Tiposerienomb</option>
                                }
                            </select>
                            <input type="hidden" id="hfTipoSerie" value="@Model.TipoSerie" />
                        </td>
                        <td>Tipo de Punto de Medición:</td>
                        <td>
                            <select id="cbTipoPuntoMedicionTab6" name="cbTipoPuntoMedicionTab6" onchange="habilitarPtoMedicionPorTipo(this);">
                                <option value="">--SELECCIONE--</option>
                                @foreach (var item in Model.ListaTipoPuntoMedicion)
                                {
                                strTipoDesc = strTipoDesc + item.TipoPtoMediCodi + ":" + item.TipoInfoDesc + "|";
                                <option value="@item.TipoPtoMediCodi">@item.TipoPtoMediNomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr style="height: 35px;">
                        <td style="vertical-align: middle">Desde:</td>
                        <td><input type="text" id="txtFechaDesdeTab6" name="FechaInicio" value="@Model.FechaIni" style="width:143px" /></td>
                        <td style="vertical-align: middle">Hasta:</td>
                        <td><input type="text" id="txtFechaHastaTab6" name="FechaFin" value="@Model.FechaFin" style="width:140px" /></td>
                        <td>Cuenca:</td>
                        <td>
                            <select id="cbCuencaTab6" name="cbCuencaTab6" onchange="habilitarPtoMedicion(this);">
                                <option value="">--SELECCIONE--</option>
                                @foreach (var item in Model.ListadoCuenca)
                                {
                                <option value="@item.Equicodi">@item.Equinomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr style="height: 30px;">
                        <td>Punto de Medición :</td>
                        <td>
                            <select id="cbPuntoMedicionTab6" name="cbPuntoMedicionTab6" disabled="disabled">
                                <option value="">--SELECCIONE--</option>
                            </select>

                        </td>
                        <td>Estadístico :</td>
                        <td>
                            <select id="cbEstadistico" name="cbEstadistico" onchange="habilitarBtnConsultar(this);">
                                <option value="">--SELECCIONE--</option>
                                <option value="1">Máximo</option>
                                <option value="2">Mínimo</option>
                                <option value="3">Promedio</option>
                                <option value="4">Desviación Estándar</option>
                            </select>
                        </td>
                    </tr>
                    <tr>

                        <td style="text-align: right">
                            <input type="hidden" name="hdfTipoPtoMedDescTab6" id="hdfTipoPtoMedDescTab6" value="@strTipoDesc" />
                            <input type="button" id="btnConsultarTab6" value="Consultar" onclick="habilitarBtnDescargarEstadisticasAnuales();" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td style="text-align: center">
                            <input type="button" id="btnExportarTab6" value="Exportar Excel" onclick="exportarGraficoEstadisticasAnuales()" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td>
                            <input type="button" id="btnDescargarTab6" value="Descargar Gráfico" onclick="descargarImagenEstadisticasAnuales()" disabled="disabled" style="margin-top: 10px" />
                        </td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div class="table-grafica" id="graficoEstadisticasAnuales"></div>



