@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    string strTipoDesc = string.Empty;
}

<table style="width:100%">
    <tr>
        <td>
            <div class="search-content" style="margin-bottom:0px; padding:10px">
                <table class="table-search">
                    <tr>

                        <td>Tipo de Serie</td>
                        <td>
                            <select id="cbTipoSerieTab2" name="cbTipoSerieTab2">
                                @foreach (var item in Model.ListaTipoSerie)
                                {
                                    <option value="@item.Tiposeriecodi">@item.Tiposerienomb</option>
                                }
                            </select>
                            <input type="hidden" id="hfTipoSerie" value="@Model.TipoSerie" />
                        </td>
                        <td style="vertical-align: middle;">Tipo de año:</td>
                        <td>
                            <select name="cbTipoAnio2" id="cbTipoAnio2" onchange="habilitarTipoPuntoMedicion(this);">
                                <option value="">--SELECCIONE--</option>
                                <option value="1">Año Hidrológico</option>
                                <option value="2">Año Calendario</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo de Punto de Medición</td>
                        <td>
                            <select id="cbTipoPuntoMedicionTab2" name="cbTipoPuntoMedicionTab2" disabled="disabled" onchange="habilitarRangeFecha(this);">
                                <option value="">--SELECCIONE--</option>
                                @foreach (var item in Model.ListaTipoPuntoMedicion)
                                {
                                    strTipoDesc = strTipoDesc + item.TipoPtoMediCodi + ":" + item.TipoInfoDesc + "|";
                                    <option value="@item.TipoPtoMediCodi">@item.TipoPtoMediNomb</option>
                                }
                            </select>
                        </td>
                        <td style="vertical-align: middle">Año:</td>
                        <td>
                            <select id="cbAnioTab2" name="cbAnioTab2" disabled="disabled" onchange="habilitarCuenca(this);">
                                <option value="">--SELECCIONE--</option>

                                @foreach (var year in Model.ListAnio)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </td>


                    </tr>
                    <tr>

                        <td>Cuenca:</td>
                        <td>
                            <select id="cbCuencaTab2" name="cbCuencaTab2" disabled="disabled" onchange="habilitarPtoMedicion(this);">
                                <option value="">--SELECCIONE--</option>

                            </select>
                        </td>
                        <td>Punto de Medición:</td>
                        <td>
                            <select id="cbPuntoMedicionTab2" name="cbPuntoMedicionTab2" disabled="disabled" onchange="habilitarBtnConsultar(this);">
                                <option value="">--SELECCIONE--</option>
                            </select>

                        </td>
                    </tr>
                    <tr>

                        <td style="text-align: right">
                            <input type="hidden" name="hdfTipoPtoMedDescTab2" id="hdfTipoPtoMedDescTab2" value="@strTipoDesc" />
                            <input type="button" id="btnConsultarTab2" value="Consultar" onclick="habilitarBtnDescargarMensual();" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td style="text-align: center">
                            <input type="button" id="btnExportarTab2" value="Exportar Excel" onclick="exportarExcelGraficoMensual()" disabled="disabled" style="margin-top: 10px" />
                        </td>
                        <td>
                            <input type="button" id="btnDescargarTab2" value="Descargar Gráfico" onclick="descargarImagenTab2()" disabled="disabled" style="margin-top: 10px" />
                        </td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div class="table-grafica" id="graficoMensual"></div>



