@model COES.MVC.Intranet.Areas.Evaluacion.Models.BuscarReactorListaModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width: 10px"></th>
            <th style="width: 50px">Código ID</th>
            <th style="width: 70px">Código</th>
            <th>Ubicación</th>
            <th style="width: 70px">Área</th>
            <th>Empresa</th>
            <th style="width: 70px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaBuscarReactor)
        {
            <tr>
                <td>
                    @if (@item.EquipoEstado == "A")
                    {
                        <input type="radio" name="seleccionGrupo" value="@item.EquipoEstado" />
                    }
                </td>
                <td style="text-align: left;">@item.Equicodi</td>
                <td style="text-align: left;">@item.Codigo </td>
                <td style="text-align: left;">@item.Ubicacion</td>
                <td style="text-align: left;">@item.AreaDescripcion</td>
                <td style="text-align: left;">@item.Empresa </td>
                <td style="text-align: left;">@item.EquipoEstadoDescripcion </td>

            </tr>
        }

    </tbody>
</table>