﻿@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoReactorModel

<style>

    #tablaListado td.tooltip-celda {
        position: relative;
    }

        #tablaListado td.tooltip-celda:hover::after {
            content: attr(data-comment);
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #f1f1f1;
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 12px;
            white-space: pre-line;
            word-wrap: break-word;
            max-width: 300px;
            width: 200px;
            max-height: 300px;
            overflow-y: auto;
            z-index: 2000;
            display: block;
            box-sizing: border-box;
            text-align: justify;
        }

    #tablaListado .tooltip-celda .badge {
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        aspect-ratio: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        background: red;
    }
</style>

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width: 100px">Acciones</th>
            <th style="width: 50px">Código ID</th>
            <th style="width: 70px">Código</th>
            <th>Ubicación</th>
            <th>Área</th>
            <th>Empresa</th>
            <th style="width: 70px">Nivel de tensión <br />(kV)</th>
            <th style="width: 70px">Capacidad de <br />transmisión (A)</th>
            <th style="width: 70px">Capacidad de <br />transmisión  (MVar)</th>
            <th style="width: 70px">Factor limitante <br />final</th>
            <th style="width: 70px">Actualizado por</th>
            <th style="width: 70px">Actualizado el</th>
            <th style="width: 50px">Estado</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaReactor)
        {
            <tr>
                <td>
                    <a href="JavaScript:consultarEquipo(@item.Equicodi);" title="Consultar"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                    @if (ViewBag.PermisoEditar == "1")
                    {
                        <a href="Javascript:incluirProyecto(@item.Equicodi)" title="Modificar"><img src="~/Content/Images/btn-edit.png" alt="Modificar"></a>
                    }
                    <a href="JavaScript:historialCambio(@item.Equicodi);" title="Ver historial de actualizaciones"><img src="~/Content/Images/btn-properties.png" alt="Ver historial de actualizaciones"></a>

                    @if (ViewBag.PermisoEliminar == "1")
                    {
                        <a href="JavaScript:confirmarExcluir(@item.Equicodi);" title="Excluir"><img src="~/Content/Images/btn-cancel.png" alt="Excluir"></a>
                    }
                </td>
                <td>@item.Equicodi</td>
                <td style="text-align: left;">@item.Codigo</td>
                <td style="text-align: left;">@item.Ubicacion</td>
                <td style="text-align: left;">@item.Area</td>
                <td style="text-align: left;">@item.Empresa</td>
                <td>@item.Tension</td>
                @if (!string.IsNullOrEmpty(@item.CapacidadAComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacidadAComent">
                        @item.CapacidadA
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacidadA
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.CapacidadMvaComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacidadMvaComent">
                        @item.CapacidadMvar
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacidadMvar
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.FactorLimitanteFinalComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.FactorLimitanteFinalComent">
                        @item.FactorLimitanteFinal
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.FactorLimitanteFinal
                    </td>
                }
                <td style="text-align: left;">@item.ActualizadoPor</td>
                <td style="text-align: left;">@item.ActualizadoEl</td>
                <td style="text-align: left;">@item.Estado</td>
            </tr>
        }

    </tbody>
</table>