<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="display:none;">Pericodi</th>
            <th style="display:none;">Mes Recpotcodi</th>
            <th>Mes Valorización</th>
            <th>Versión Recálculo</th>
            <th>Informe VTP</th>
            <th>F.I Contrat.</th>
            <th>F.I Despacho</th>
            <th>Máx Demand. Mes</th>
            <th>Inter.Punta Mes</th>
            <th>PPM S/. /kW-mes</th>
            <th>Peaje S/. /kW-mes</th>
            <th>CRac S/. /kW-mes</th>
            <th>Reca.VEA</th>
            <th>Incluir</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecalculoPotencia)
        {
            string sPK = item.Pericodi + "_" + item.Recpotcodi;
        <tr id="fila_@sPK">
            <td style="display:none;">@item.Pericodi</td>
            <td style="display:none;">@item.Recpotcodi</td>
            <td class="text_left">@item.Perinombre</td>
            <td class="text_left">@item.Recpotnombre</td>
            <td class="text_left">@item.Recpotinfovtp</td>
            <td style="text-align:right">@item.Recpotfactincecontrantacion.ToString("#,##0.000")</td>
            <td style="text-align:right">@item.Recpotfactincedespacho.ToString("#,##0.000")</td>
            <td style="text-align:right">@item.Recpotmaxidemamensual.ToString("#,##0.000")</td>
            <td>@item.Recpotinterpuntames.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td style="text-align:right">@item.Recpotpreciopoteppm.ToString("#,##0.000")</td>
            <td style="text-align:right">@item.Recpotpreciopeajeppm.ToString("#,##0.000")</td>
            <td style="text-align:right">@item.Recpotpreciocostracionamiento.ToString("#,##0.000")</td>
            <td class="text_left">@item.Recanombre</td>
            <td class="text_left">@item.Perinombredestino</td>
            <td class="text_left">@item.Recpotestado</td>
            <td style="width:30px;"><a href="@Url.Action("Index", "reparecapeaje", new { pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Areas/Transfpotencia/Content/Images/reparto.png")" title="Reparto de Recaudación de Peajes" alt="Reparto de Recaudación de Peajes" /></a></td>
            <td style="width:30px;"><a href="@Url.Action("Index", "peajeingreso", new { pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Areas/Transfpotencia/Content/Images/ingreso.png")" title="Gestionar la lista de peajes e ingresos tarifarios" alt="Gestionar la lista de peajes e ingresos tarifarios" /></a></td>
            <td style="width:30px;"><a href="#" id="view_@sPK" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
            </td>
            <td style="width:30px;">
                @if (Model.bEliminar)
                {
                    <a href="#" id="eliminar_@sPK" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="popup"></div>
