@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RecalculoPotenciaModel
@{
    ViewBag.Title = "Transferencia de Potencia - Versión de recálculo";
}
<fieldset>
    <legend>Versión de recálculo de potencia y compensación</legend>
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Pericodi, "Mes de Valorización")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Perinombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotnombre, "Nombre de la versión")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotinfovtp, "Informe VTP")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotinfovtp)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotfactincecontrantacion, "Factor de incentivo a la contratación")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotfactincecontrantacion)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotfactincedespacho, "Factor de incentivo al despacho")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotfactincedespacho)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotmaxidemamensual, "Máxima demanda mensual")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotmaxidemamensual)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Recpotinterpuntames, "Intervalo de punta del mes") (*)</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.Entidad.Recpotinterpuntames, "{0:dd/MM/yyyy}")</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotpreciopoteppm, "Precio de potencia PPM S/. /kW-mes")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotpreciopoteppm)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotpreciopeajeppm, "Precio de Peaje Unitario S/. /kW-mes")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotpreciopeajeppm)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotpreciocostracionamiento, "Costo de racionamiento S/. /kW-mes")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotpreciocostracionamiento)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotpreciodemaservauxiliares, "Demanda de servicios auxiliares kW")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotpreciodemaservauxiliares)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotconsumidademanda, "Potencia consumida por demanda kW")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotconsumidademanda)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotfechalimite, "Fecha límite : ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotfechalimite)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpothoralimite, "Hora límite : ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpothoralimite)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotcomegeneral, "Comentario general")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotcomegeneral)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recanombre, "Recalculo VEA")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recanombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Perinombredestino, "Incluir en el periodo")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Perinombredestino)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Recpotestado, "Estado")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Recpotestado)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>