@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var mes = (IEnumerable<SelectListItem>)TempData["Mescodigo"];
    var anio = (IEnumerable<SelectListItem>)TempData["Aniocodigo"];
}
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/periodo.js"></script>
@using (Html.BeginForm("Save", "periodo", FormMethod.Post, new { id = "frmPeriodo", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","periodo")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.Entidad.Stpercodi)
            @Html.HiddenFor(model => model.Entidad.Stperaniomes)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Stpernombre, "Periodo")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.Stpernombre)
                            @Html.ValidationMessageFor(model => model.Entidad.Stpernombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Stperanio, "Año")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Stperanio", @anio, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.Entidad.Stperanio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Stpermes, "Mes")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Stpermes", @mes, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.Entidad.Stpermes)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}


<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmPeriodo").validate({
        rules: {
            "Entidad.Stpernombre": {
                required: true
            },
            "Entidad.Stperanio": {
                required: true,
            },
            "Entidad.Stpermes": {
                required: true
            }
        }
    });
</script>