@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="text-align:left">Periodo</th>
            <th style="text-align:left; display:none;"></th>
            <th style="text-align:left">Año</th>
            <th style="text-align:left">Mes</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPeriodos)
        {
            <tr id="fila_@item.Stpercodi">
                <td style="text-align:left">@item.Stpernombre</td>
                <td style="text-align:left; display:none;">@item.Stperaniomes</td>
                <td style="text-align:left">@item.Stperanio</td>
                <td style="text-align:left">@item.NombreMes</td>
                <td style="width:30px;"><a href="#" id="view_@item.Stpercodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Stpercodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;"><a href="@Url.Action("Index", "recalculo", new { id = item.Stpercodi })"><img src="@Url.Content("~/Content/Images/recalculo.jpg")" title="Crear el recalculo" alt="Crear el recalculo" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Stpercodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
