@model COES.MVC.Intranet.Areas.Evaluacion.Models.ReporteLimiteCapacidadEditarModel

<script>
    $(function () {
        if ($("#Accion").val() == "Crear") {
            $("#trRevision").hide();
        } else {
            $("#trRevision").show();
            $("#Revision").prop("disabled", true);
        }

        $('#btnGrabar').click(function () {
            guardarReporte();
        });

        $('#EmitidoEl').Zebra_DatePicker({
            show_clear_date: 0
        });

    });

</script>

<div id="mensaje"></div>


<div class="panel-container">

    @using (Html.BeginForm("Editar", "ReporteLimiteCapacidad", FormMethod.Post, new { @name = "frmEditarReporteLimiteCapacidad", id = "frmEditarReporteLimiteCapacidad" }))
    {
        <input type="hidden" id="Codigo" value="@Model.Codigo" />
        <input type="hidden" id="Accion" value="@Model.Accion" />

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table style="width:100%;margin-right: auto" class="table-form-show">
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:40%"></th>
                    <th style="width:10%"></th>
                    <th style="width:40%"></th>
                </tr>
                <tr id="trRevision">
                    <td class="tbform-label">Revisión:</td>
                    <td class="control-no-padding">
                        <input type="text" id="Revision" value="@Model.Revision" style="width:95%" />
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="tbform-label">Descripción(*):</td>
                    <td class="control-no-padding">
                        <input type="text" id="Descripcion" value="@Model.Descripcion" style="width: 95%" maxlength="150" />
                    </td>
                    <td class="tbform-label">Emitido el(*):</td>
                    <td class="control-no-padding">
                        <input type="text" id="EmitidoEl" value="@Model.EmitidoEl" style="width: 95%" />
                    </td>
                </tr>
                <tr>
                    <td class="tbform-label">Elaborado por(*):</td>
                    <td class="control-no-padding">
                        <input type="text" id="ElaboradoPor" value="@Model.ElaboradoPor" style="width: 95%" maxlength="50" />
                    </td>
                    <td class="tbform-label">Revisado por(*):</td>
                    <td class="control-no-padding">
                        <input type="text" id="RevisadoPor" value="@Model.RevisadoPor" style="width: 95%" maxlength="50" />
                    </td>
                </tr>
                <tr>
                    <td class="tbform-label">Aprobado por(*):</td>
                    <td class="control-no-padding">
                        <input type="text" id="AprobadoPor" value="@Model.AprobadoPor" style="width:95%" maxlength="50" />
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        <br />
        <input id="btnCerrar" value="Cerrar" type="button"> <input id="btnGrabar" value="Grabar" type="button">
    }
</div>

