@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoReporteLimiteCapacidadModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:100px">Acciones</th>
            <th style="width:40px">Revisión</th>
            <th>Descripción</th>
            <th>Elaborado por</th>
            <th>Revisado por</th>
            <th>Aprobado por</th>
            <th style="width:100px">Emitido el</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaReporteLimiteCapacidad)
        {
            <tr>
                <td>
                    @if (@item.EprtlcRevision == Model.RevisionMax)
                    {
                        if (ViewBag.PermisoEditar == "1")
                        {
                            <a href="JavaScript:editar(@item.EprtlcCodi);" title="Modificar"><img src="~/Content/Images/btn-edit.png" alt="Modificar"></a>
                        }

                        if (ViewBag.PermisoExportar == "1")
                        {
                            <a href="JavaScript:descargarReporteWord();" title="Generar reporte"><img src="~/Content/Images/btn-reporte.png" alt="Consultar"></a>
                        }

                        if (ViewBag.PermisoEliminar == "1")
                        {
                            <a href="JavaScript:eliminar(@item.EprtlcCodi);" title="Eliminar"><img src="~/Content/Images/btn-cancel.png" alt="Excluir"></a>
                        }
                    }

                    @if (@item.EprtlcNoarchivo == null || @item.EprtlcNoarchivo == "")
                    {
                        if (ViewBag.PermisoImportar == "1")
                        {
                            <a href="JavaScript:abrirImportarArchivo(@item.EprtlcCodi,@item.EprtlcRevision);" title="Adjuntar archivo del reporte"><img src="~/Content/Images/Import.png" alt="Adjuntar archivo del reporte"></a>
                        }
                        
                    }

                    @if (@item.EprtlcNoarchivo != null && @item.EprtlcNoarchivo != "")
                    {
                        if (ViewBag.PermisoExportar == "1")
                        {
                            <a href="JavaScript:descargarArchivoReporte(@item.EprtlcCodi);" title="Descargar archivo del reporte"><img src="~/Content/Images/DownFile.png" alt="Descargar archivo del reporte"></a>
                        }

                        if (ViewBag.PermisoEliminar == "1")
                        {
                            <a href="JavaScript:eliminarArchivoReporte(@item.EprtlcCodi);" title="Eliminar archivo del reporte"><img src="~/Content/Images/prnlimpiar.png" alt="Eliminar archivo del reporte"></a>
                        }
                    }

                </td>
                <td style="text-align: left;">@item.EprtlcRevision</td>
                <td style="text-align: left;">@item.EprtlcDescripcion</td>
                <td style="text-align: left;">@item.EprtlcUsuelabora</td>
                <td style="text-align: left;">@item.EprtlcUsurevisa</td>
                <td style="text-align: left;">@item.EprtlcUsuaprueba</td>
                <td style="text-align: left;">@item.EprtlcFecemision</td>

            </tr>
        }

    </tbody>
</table>