@model COES.MVC.Intranet.Areas.Transferencias.Models.DemandaMercadoLibreModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table>       
        <tr>
            <td class="content-titulo" style="font-size:14px">
                Datos Remitidos a Osinergmin (SICLI) - MW
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaComparativaOsinergmin">
                    <thead>
                        <tr>
                            <th>Empresas</th>
                            @foreach (var periodo in Model.PeriodosEvaluados)
                            {
                                <th>@periodo.ToString("MMM yy", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</th>
                            }
                            <th>Demanda Máxima</th>
                            <th>Potencia Máxima a Retirar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaInformacionOsinergmin)
                        {
                            <tr class="menu-contextual">
                                <td style="text-align: left; width: 120px;">@item.EmprRazSocial</td>
                                @if (item.DemandaMes1 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes1.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }

                                @if (item.DemandaMes2 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes2.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes3 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes3.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes4 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes4.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes5 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes5.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: left; width: 120px;background-color:red"></td>
                                }
                                @if (item.DemandaMes6 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes6.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes7 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes7.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes8 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes8.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes9 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes9.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: left; width: 120px;background-color:red"></td>
                                }
                                @if (item.DemandaMes10 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes10.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }

                                @if (item.DemandaMes11 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes11.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }
                                @if (item.DemandaMes12 > 0)
                                {
                                    <td style="text-align: right; width: 120px;">@item.DemandaMes12.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 120px; background-color: red"></td>
                                }

                                <td style="text-align: right; width: 120px;">@item.DemandaMaxima.ToString("N2")</td>

                                @if (item.PotenciaMaximaRetirar > 0)
                                {
                                    <td style="text-align: right; width: 100px;">@item.PotenciaMaximaRetirar.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="text-align: right; width: 100px;"></td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    
</form>
