@model COES.MVC.Intranet.Areas.PMPO.Models.EscenarioSDDPModel

<div style="clear:both; height:10px"></div>

<p class="leyenda" id="versionMostrada" style="padding-right: 95px;"> <b>Version Mostrada: @Model.VersionMostrada </b>  </p>
<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />

<div class="content-hijos" id="mainLayout">

    <div class="search-content">
        <table class="table-search" style="width:100%;" role="presentation">
            <tbody>
                <tr>
                    <td style=" padding-left: 20px;">
                        <div style="width:200px; float:left; padding-top: 7px;">
                            <div class="tbform-label" style="width:60px; float:left;">
                                Periodo:
                            </div>
                            <div style="width:105px; float:left;">

                                @Model.Periodo
                            </div>
                        </div>
                        <div style="width:200px; float:left; padding-top: 7px;">
                            <div class="tbform-label" style="width:80px; float:left;">
                                Resolución:
                            </div>
                            <div style="width:105px; float:left;">
                                @Model.Resolucion
                            </div>
                        </div>

                        <div style="width:100px; float:right; ">
                            <div style="width:45px; float:left;">
                                <input type="button" id="btnGenerarDat" value="Generar Dat" />
                            </div>

                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="content-tabla">
        @*<div class='action-alert' id='mensajeNuevoOficial' style="margin-bottom:5px; margin-top:0; display:none; "></div>
            <p class="leyenda" style="padding-right: 155px;">
                <b>
                    <div id="nota" style="font-weight:bold; font-size:15px;"></div>
                </b>
            </p>*@

        <div>
            <table class='pretty tabla-adicional tabla_detalles' border='0' cellspacing='0' style="width: 400px;">
                <thead>
                    <tr>
                        <th style='width: 80px;'>Acciones</th>
                        <th style='width: 200px;'>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 80px;">
                            @if (Model.Accion == 2)
                            {
                                <a class='' href='JavaScript:mostrarCopiaCentralesSddp(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-edit.png") alt='Editar Centrales Hidroeléctricas' title='Editar Centrales Hidroeléctricas' /></a>
                            }
                            @if (Model.Accion == 3)
                            {
                                <a class='' href='JavaScript:mostrarCopiaCentralesSddp(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-open.png") alt='Ver Centrales Hidroeléctricas' title='Ver Centrales Hidroeléctricas' /></a>
                            }

                        </td>
                        <td style="width: 200px; text-align:center;">
                            Centrales Hidroeléctricas
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 80px;">
                            @if (Model.Accion == 2)
                            {
                                <a class='' href='JavaScript:mostrarCopiaModificaciones(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-edit.png") alt='Editar Modificaciones' title='Editar Modificaciones' /></a>
                            }
                            @if (Model.Accion == 3)
                            {
                                <a class='' href='JavaScript:mostrarCopiaModificaciones(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-open.png") alt='Ver Modificaciones' title='Ver Modificaciones' /></a>
                            }
                        </td>
                        <td style="width: 200px; text-align:center;">
                            Modificaciones
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 80px;">
                            @if (Model.Accion == 2)
                            {
                                <a class='' href='JavaScript:mostrarCopiaVolumenes(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-edit.png") alt='Editar Volumen de Embalse' title='Editar Volumen de Embalse' /></a>
                            }
                            @if (Model.Accion == 3)
                            {
                                <a class='' href='JavaScript:mostrarCopiaVolumenes(@Model.CodigoEscenario, @Model.Accion);'><img style='padding-left: 45px; margin-top: 4px; margin-bottom: 4px;' src=@Url.Content("~/Content/Images/btn-open.png") alt='Ver Volumen de Embalse' title='Ver Volumen de Embalse' /></a>
                            }
                        </td>
                        <td style="width: 200px; text-align:center;">
                            Volúmenes
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <iframe id="myiframe" frameborder="0" src="" scrolling="no" height="250" style="margin-top: 35px;">
        </iframe>
    </div>

</div>




