@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ExogenasModel

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/PronosticoDemanda/Content/Scripts/exogenas.js?v=3.2"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<div class="h-panel">
    <div class="h-panel-tool">    
        <div class="tool-item">
            <label id="btn-api" title="Obtener datos directamente del API">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-api.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <a href="~/Areas/PronosticoDemanda/Content/Docs/Manual_Usuario_PronosticoDemandaE3_Intranet.docx"><img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" /></a>
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div>
            <div class="h-panel" style="margin-bottom: 5px;">
                <div class="filters">
                    <div>Desde</div>
                    <input id="id-desde" type="text" class="f-fecha" value="@Model.FechaIni" />
                </div>
                <div class="filters">
                    <div>Hasta</div>
                    <input id="id-hasta" type="text" class="f-fecha" value="@Model.FechaFin" />
                </div>
                <div class="filters">
                    <div>Ciudades</div>
                    <select id="id-ciudad" class="f-select" multiple>
                        @foreach (var item in Model.ListaCiudad)
                        {
                            <option value="@item.Areamedcodi">@item.Areanomb</option>
                        }
                    </select>
                </div>
                <!--<div style="float: right">
                    <input type="button" id="btnEjecutar" value="Obtener Variables" style="width: 200px;" />-->
                    @*<input type="button" id="btnExportar" value="Exportar" style="width: 100px;" />*@
                <!--</div>-->
            </div>
        </div>
        <div><!--Tabla-->
            <div id="ht" style="height: 500px; overflow: auto;"></div>
        </div>
    </div>
</div>

<div id="popup" class="general-popup" style="min-width: 350px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Obtener datos directamente del API</span>        
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div id="pop-alert" style="display: none"></div>
        <div class="v-panel">
            <input id="pop-api"
                   style="float: right;"
                   type="button"
                   value="Obtener datos" />
        </div>
    </div>
</div>