@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.FormulasModel

<script src="~/Areas/PronosticoDemanda/Content/Scripts/formulas.js?v=3.2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/calendar.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>

<div class="h-panel">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-limpiar" title="Limpiar campos de texto de los parámetros">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-limpiar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div class="search-content" style="padding: 5px; width: 270px">
            <table class="content-tabla-search">
                <tr>
                    <td style="width: 120px">
                        <label>
                            <input class="rdevt" type="radio" name="info" value="1" checked /> Distribuidoras
                        </label>
                    </td>
                    <td style="width: 120px">
                        <label>
                            <input class="rdevt" type="radio" name="info" value="2" /> Usuarios Libres
                        </label>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="tabDistribuidores" class="search-content" style="padding: 10px; background-color: #ECF0F1">
            <table class="content-tabla-search">
                <tr>
                    <td>Área Operativa</td>
                    <td>Empresa</td>
                    <td>Punto de Medición</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 250px">
                        <select id="cboArea" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaAreaOperativa)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td style="width: 250px">
                        <select id="cboEmpresa" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="cboPunto" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaPtomedicion)
                            {
                                <option value="@item.Ptomedicodi">@item.Famnomb - @item.Equinomb (@item.Ptomedicodi)</option>
                            }
                        </select>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="tabAgrupaciones" class="search-content" style="padding: 10px; background-color: #ECF0F1; display: none">
            <table class="content-tabla-search">
                <tr>
                    <td>Área Operativa</td>
                    <td>Empresa</td>
                    <td>Agrupación</td>
                </tr>
                <tr>
                    <td style="width: 250px">
                        <select id="cboAreaUL" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaAreaOperativa)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td style="width: 250px">
                        <select id="cboEmpresaUL" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="cboAgrupacion" class="clsFiltros" style="width: 200px">
                            <option value="0" selected="selected">-Seleccione</option>
                            @foreach (var item in Model.ListaAgrupacion)
                            {
                                <option value="@item.Ptomedicodi">@item.Ptomedidesc (@item.Ptomedicodi)</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="search-content" style="padding: 10px; background-color: #ECF0F1">
            <table class="content-tabla-search">
                <thead>
                    <tr>
                        <td style="width: 80px;">Seleccionado :</td>
                        <td style="width: 422px;">
                            <input id="txtPtomedicion" type="text" style="width: 400px;" disabled />
                        </td>
                        <td>
                            <div>
                                @*<input type="button" id="btnGrabar" value="Grabar" style="width: 100px;" />*@
                            </div>
                        </td>
                    </tr>
                </thead>

            </table>
        </div>


        <div style="height: 480px;">
            <div id="divSeleccionado" style="width: 600px; height: 400px; float: left; overflow-y: scroll;">
                <table id="DtSeleccionado" class="pretty tabla-icono">
                    <thead>
                        <tr>
                            <th colspan="4">SELECCIONADOS</th>
                        </tr>
                        <tr>
                            <th width="100px;">Código</th>
                            <th>Nombre</th>
                            <th width="20px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="divTodos" style="width: 600px; height: 400px; float: left; overflow-y: scroll;">
                <table id="DtTodos" class="pretty tabla-icono">
                    <thead>
                        <tr>
                            <th colspan="4">SELECCIONE</th>
                        </tr>
                        <tr>
                            <th width="100px;">Código</th>
                            <th>Nombre</th>
                            <th width="20px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div></div>
    </div>
</div>

