@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.AgrupacionesModel

    <div style="border: 1px solid #D9E8F3; border-radius: 1em;">
        <div style="display: table-row">
            <div style="display: table; border-collapse: separate; border-spacing: 20px;">
                <div style=" display: table-row">
                    <div class="popup-text" style="display: table-cell;">
                        Nombre:
                    </div>
                    <div style="display: table-cell">
                        <input id="txtNombre" type="text" />
                    </div>
                    <div style="display: table-cell; ">
                        <label class="popup-text" title="Incluir agrupación en el Pronóstico">
                            <input id="chkPronostico" type="checkbox" style="vertical-align: middle" /> Pronóstico
                        </label>
                    </div>
                </div>
                <div style=" display: table-row;">
                    <div class="popup-text" style="display: table-cell;">
                        Area Operativa:
                    </div>
                    <div style="display: table-cell">
                        <select id="cboPopupArea" class="cboPopupMant">
                            @foreach (var item in Model.ListaAreaOperativa)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </div>
                    <div class="popup-text" style="display: table-cell; ">
                        Empresa:
                    </div>
                    <div style="display: table-cell">
                        <select id="cboPopupEmpresa" class="cboPopupMant">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div style="display: table-row">
            <div style="padding: 15px;">
                <div id="dbSeleccionados" data-seleccionados="@Model.JSeleccionados" style="width: 420px; float: left;">
                    <table id="tbA" class="pretty tabla-icono">
                        <thead>
                            <tr>
                                <th colspan="4">SELECCIONADOS</th>
                            </tr>
                            <tr>
                                <th>Codigo</th>
                                <th width="20px;"></th>
                                <th>Punto de Medición</th>
                                <th width="30px;" title="Factor de Multiplicación">F.M</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div style="float: left; padding: 5px;">

                </div>
                <div id="dbDisponibles" data-disponibles="@Model.JDisponibles" style="width: 420px; float: left;">
                    <table id="tbB" class="pretty tabla-icono">
                        <thead>
                            <tr>
                                <th colspan="4">DISPONIBLES</th>
                            </tr>
                            <tr>
                                <th>Codigo</th>
                                <th width="20px;"></th>
                                <th>Punto de Medición</th>
                                <th width="30px;" title="Factor de Multiplicación">F.M</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: table-row">
            <div style="padding: 10px; float: right;">
                <input id="btnRegistrar" type="button" value="Registrar" />
            </div>
        </div>
    </div>
