@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ParametrosModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/parametros_puntos.js?v=3.2"></script>

<div class="h-panel" style="min-height:432px;">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-defecto" title="Actualizar los parámetros por defecto">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-defecto.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-limpiar" title="Limpiar campos de texto de los parámetros">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-limpiar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <a href="~/Areas/PronosticoDemanda/Content/Docs/Manual_Usuario_PronosticoDemandaE3_Intranet.docx"><img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" /></a>
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje" data-mdl="@Model.IdModulo">
        <div class="h-panel" style="padding: 10px 5px 5px 5px;">
            <div class="box" style="margin-right:10px;">
                <div class="box-title">Parámetros</div>
                <div class="box-body" style="width: 190px; min-width: 190px; height: 400px; overflow-y:scroll;"><!--Determina la altura del módulo-->
                    <div class="parametros-group-title chk-group">
                        <label>
                            Depuración Automática
                            <input type="checkbox" />
                        </label>
                    </div>
                    <div class="parametros-group">
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgporcerrormin" type="checkbox" />Error Mínimo(%)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgporcerrormax" type="checkbox" />Error Máximo(%)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgmagcargamin" type="checkbox" />Mag. Carga Mínima(MW)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgmagcargamax" type="checkbox" />Mag. Carga Máxima(MW)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgporcmuestra" type="checkbox" />Muestra(%)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgporcdsvptrn" type="checkbox" />Desviación(%)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="parametros-group-title chk-group">
                        <label>
                            Extranet
                            <input type="checkbox" />
                        </label>
                    </div>
                    <div class="parametros-group">
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgporcdsvcnsc" type="checkbox" />Desviación(%)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgnrocoincidn" type="checkbox" />Coincidencias(#)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="parametros-group-title chk-group">
                        <label>
                            Otros
                            <input type="checkbox" />
                        </label>
                    </div>
                    <div class="parametros-group">
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgnumdiapatron" type="checkbox" />Días Patrón(#)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgtipopatron" type="checkbox" />Patrón
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="patron" value="P" disabled />Promedio
                                </label><br />
                                <label>
                                    <input type="radio" name="patron" value="M" disabled />Mediana
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgflagveda" type="checkbox" />Veda
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="veda" value="S" disabled />Si
                                </label>
                                <label>
                                    <input type="radio" name="veda" value="N" disabled />No
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgflagferiado" type="checkbox" />Feriado
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="feriado" value="S" disabled />Si
                                </label>
                                <label>
                                    <input type="radio" name="feriado" value="N" disabled />No
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgflagatipico" type="checkbox" />Atípico
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="atipico" value="S" disabled />Si
                                </label>
                                <label>
                                    <input type="radio" name="atipico" value="N" disabled />No
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgflagdepauto" type="checkbox" />Depuración Automática
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="depuracion" value="S" disabled />Si
                                </label>
                                <label>
                                    <input type="radio" name="depuracion" value="N" disabled />No
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="chk-single">
                                <label>
                                    <input id="Prncfgflagdefecto" type="checkbox" />Patrón Defecto
                                </label>
                            </div>
                            <div style="margin-left: 10px">
                                <label>
                                    <input type="radio" name="defecto" value="S" disabled />Si
                                </label>
                                <label>
                                    <input type="radio" name="defecto" value="N" disabled />No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;">
                <div class="h-panel" style="margin-bottom: 5px;">
                    <div class="filters">
                        <div>Desde</div>
                        <input id="id-desde" type="text" class="f-fecha" value="@Model.FechaIni" />
                    </div>
                    <div class="filters">
                        <div>Hasta</div>
                        <input id="id-hasta" type="text" class="f-fecha" value="@Model.FechaFin" />
                    </div>
                    <div class="filters">
                        <div>Buscar por ID</div>
                        <input id="id-byid" type="number"/>
                    </div>
                    @*<div class="filters">
                        <div>Area Operativa</div>
                        <select id="id-area" class="f-select" multiple>
                            @foreach (var item in Model.ListArea)
                            {
                                <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                            }
                        </select>
                    </div>*@
                    <div class="filters">
                        <div>Subestación</div>
                        <select id="id-subestacion" class="f-select" multiple>
                            @foreach (var item in Model.ListSubestacion)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Empresa</div>
                        <select id="id-empresa" class="f-select" multiple>
                            @foreach (var item in Model.ListEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Punto de Medición</div>
                        <select id="id-punto" class="f-select" multiple>
                            @foreach (var item in Model.ListPtomedicion)
                            {
                                <option value="@item.Ptomedicodi">@item.FullPtomedidesc (@item.Ptomedicodi)</option>
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <table id="dtgrid" class="pretty tabla-icono"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Actualizar defecto</span>
        <div style="float: right;">
            <input id="btn-pop-guardar" type="button" value="Actualizar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="message-popup" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-right: 10px;">
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Depuración Automática
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcerrormin" type="checkbox" />Error Mínimo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcerrormax" type="checkbox" />Error Máximo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgmagcargamin" type="checkbox" />Mag. Carga Mínima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgmagcargamax" type="checkbox" />Mag. Carga Máxima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcmuestra" type="checkbox" />Muestra(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcdsvptrn" type="checkbox" />Desviación(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-right: 10px;">
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Extranet
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcdsvcnsc" type="checkbox" />Desviación(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgnrocoincidn" type="checkbox" />Coincidencias(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Otros
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgnumdiapatron" type="checkbox" />Días Patrón(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    @*<div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgpse" type="checkbox" title="Parámetro de suavizado exponencial"/>PSE(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgfactorf" type="checkbox" />Factor F(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgtipopatron" type="checkbox" />Patrón
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="patron" value="P" disabled />Promedio
                            </label><br />
                            <label>
                                <input type="radio" name="patron" value="M" disabled />Mediana
                            </label>
                            @*<br />
                <label>
                    <input type="radio" name="patron" value="lineal" disabled />Regresión Lineal
                </label>*@
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgflagveda" type="checkbox" />Veda
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="veda" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="veda" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgflagferiado" type="checkbox" />Feriado
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="feriado" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="feriado" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgflagatipico" type="checkbox" />Atípico
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="atipico" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="atipico" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgflagdepauto" type="checkbox" />Depuración Automática
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="depuracion" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="depuracion" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgflagdefecto" type="checkbox" />Patrón Defecto
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="defecto" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="defecto" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>