@model COES.MVC.Intranet.Areas.Campanias.Models.PeriodoModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px">#</th>
            <th>Periodo</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Hora Final</th>
            <th>Estado</th>
            <th>Accion</th>  
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPeriodos.Count > 0)
        {
            foreach (var item in Model.ListaPeriodos)
            {
                <tr>
                    <td style="width:70px">@item.PeriCodigo</td>
                    <td style="text-align:left; ">@item.PeriNombre</td>
                    <td>@item.PeriFechaInicio.ToString("dd/MM/yyyy")  </td>
                    <td>@item.PeriFechaFin.ToString("dd/MM/yyyy")</td>
                    <td>@item.PeriHoraFin.ToString("HH:mm")</td>
                    <td>@(@item.PeriEstado.Equals("1") ? "ACTIVO" : "CERRADO")  </td>
                    <td>
                        <a href="JavaScript:editar(@item.PeriCodigo);"> <img src="~/Content/Images/edit.png" /> </a>
                        &nbsp;
                        <a href="JavaScript:eliminarPopup(@item.PeriCodigo, '@item.PeriNombre');"><img src="~/Content/Images/eliminar.png" /></a>
                    </td>
                </tr>
            }
        }
        else {
            <tr><td colspan="7" style='text-align:center'>No existen registros.</td></tr>
        }

    </tbody>
</table>