@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleDatosMOViewModel
@{
	ViewBag.Title = "Detalle de modo de operación";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Despacho/Content/Scripts/DetalleDataMO.js"></script>
<link href="~/Areas/Despacho/Content/Css/Despacho.css" rel="stylesheet" />
<div class="form-title">
	<div class="content-titulo">Detalle del modo de operación</div>
	<div class="content-botonera">
		<input type="button" id="btnBuscar" value="Consultar" />
		<input type="button" id="btnCancelar" value="Regresar" />
	</div>
</div>
<div class="content-hijo">
	@using (Html.BeginForm("ListaDetalle", "DatosModoOperacion", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
		<div class='panel-container'>
			<table class="content-tabla-search" style="width:auto">
				<tr>
					<td class="tbform-label">Código:</td>
					<td class="tbform-control">@Model.AbreviaturaModo</td>
					<td class="tbform-label">Nombre:</td>
					<td class="tbform-control">@Model.NombreModo</td>
					<td class="tbform-label">Empresa:</td>
				    <td class="tbform-control">@Model.Empresa</td>
                    <td class="tbform-label">Fecha:</td>
                    <td class="tbform-control">@Model.FechaRepCV.ToString("dd/MM/yyyy")</td>
				</tr>
				<tr>
					<td class="tbform-label">Tipo:</td>
					<td class="tbform-control">@Model.Tipo</td>
					<td class="tbform-label">Estado:</td>
					<td class="tbform-control">@Model.Estado</td>
					<td class="tbform-label">Ficha Técnica:</td>
					<td class="tbform-control">@Html.CheckBoxFor(m=>m.cbFicha)</td>
					<td>
						<div id="mensaje" style="width:300px; margin:0px"></div>
					</td>
				</tr>
			</table>
		</div>
		@Html.HiddenFor(m=>Model.iGrupoCodi)
        <input id="hdfRepCodi" type="hidden" value="@Model.repCodi" name="repCodi"/>
    }
    <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
	<div style="clear:both"></div>
	<div class="content-tabla">
		<div class="tabla-header">
			<div class="table-paginado" id="paginado"></div>
		</div>
		<div class="table-list" id="listado"></div>
	</div>
</div>

<div id="popupParametro">
	<span class="button b-close"><span>X</span></span>
	<div class="popup-title"><span>Edición de parámetro</span></div>
	<div id="edicionParametro"></div>
</div>

<div id="popupHistorico">
	<span class="button b-close"><span>X</span></span>
	<div class="popup-title"><span>Histórico de parámetro</span></div>
	<div id="historicoParametro"></div>
</div>

<div id="popupNuevo">
	<span class="button b-close"><span>X</span></span>
	<div class="popup-title"><span>Nuevo valor de parámetro</span></div>
	<div id="nuevoParametro"></div>
</div>