@model COES.MVC.Intranet.Areas.Despacho.ViewModels.EditarNuevoDatoMOViewModel
<script>
    $(function () {
        $('#FechaDat').Zebra_DatePicker({});
        $('#btnActualizar').click(function () {
            //var modo = $("#hfModoEdicion").val();
            //var concepto = $("#hfConcepCodi").val();
            //var grupo = $("#hfGrupoCodi").val();
            //var valor = $("#Formula").val();
            //var FechaDat = $("#FechaDat").val();
            //actualizar(modo, grupo, concepto, valor, FechaDat);
            actualizar();
        });
    });
</script>
<div class='panel-container'>
    @if (Model.sModoEdicion == "EDITAR")
    {
        <table class="table-form-vertical2 content-tabla-search" style="width:360px">
            <tr>
                <td class="tbform-label">Concepto:</td>
                <td class="tbform-control">
                    @Model.NombreConcepto
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha:</td>
                <td class="tbform-control">
                    <input type="text" id="FechaDat" name="FechaDat" value="@Model.FechaDat" style="width:120px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Valor:</td>
                <td class="tbform-control">
                    <input id="Formula" type="text" style="width:120px">
                </td>
            </tr>
        </table>
    }
    @if (Model.sModoEdicion == "NUEVO")
    {
        <script type='text/javascript'>
            $(function () {
                $('#cbConcepto').change(function () {
                    var x = $(this).val();
                    $('#hfConcepCodi').val(x);
                });
            });
        </script>
        <table class="table-form-vertical2 content-tabla-search" style="width:360px">
            <tr>
                <td class="tbform-label">Concepto:</td>
                <td class="tbform-control">
                    <select id="cbConcepto">
                        @foreach (var item in Model.ListadoConceptos)
                        {
                            <option value="@item.Concepcodi">@item.Concepdesc</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha:</td>
                <td class="tbform-control">
                    <input type="text" id="FechaDat" name="FechaDat" value="@Model.FechaDat" style="width:120px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Valor:</td>
                <td class="tbform-control">
                    <input id="Formula" type="text" style="width:120px">
                </td>
            </tr>
        </table>
    }
    <input type="hidden" id="hfConcepCodi" value="@Model.ConcepCodi" />
    <input type="hidden" id="hfGrupoCodi" value="@Model.GrupoCodi" />
    <input type="hidden" id="hfModoEdicion" value="@Model.sModoEdicion"/>
    <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
        <input type="button" value="Actualizar" id="btnActualizar" />
    </div>
</div>
