@model COES.MVC.Intranet.Areas.Despacho.ViewModels.HistorialParametroViewModel

<div class='panel-container'>
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td class="tbform-label">@Model.NombreConcepto.Trim()</td>
        </tr>
    </table>
</div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="50%" id="tabla">
    <thead style="display:block">
        <tr style="display:block">
            <th style="padding: 3px;width: 130px">Fecha</th>
            <th style="padding: 3px;width: 130px">Valor/Fórmula</th>
            <th style="padding: 3px;width:480px">Usuario</th>
            <th style="padding: 3px;width: 53px">Eliminado</th>

        </tr>
    </thead>
    <tbody style="height: 100px;overflow: auto;display:block">
        @foreach (var item in Model.ListadoHistorico)
        {
            <tr>
                <td style="padding: 3px;width: 130px">@item.Fechadat.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                <td style="padding: 3px;width: 130px">@(string.IsNullOrEmpty(item.Formuladat) ? "" : item.Formuladat.Trim())</td>
                <td style="padding: 3px;width:482px">@(string.IsNullOrEmpty(item.Lastuser) ? "" : item.Lastuser.Trim())</td>
                <td style="padding: 3px;width: 53px">@item.Deleted</td>
            </tr>
        }
    </tbody>
</table>