@model COES.MVC.Intranet.Areas.Despacho.ViewModels.IndexDatosMOViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Despacho/Content/Scripts/IndexDataMO.js"></script>

<div class="form-title">
    <div class="content-titulo">Datos de modos de operación</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("Listar", "DatosModoOperacion", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="EmpresaId">
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.EmpresaLista)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Estado:</td>
                <td>
                    <select id="cbEstado" name="EstadoId">
                        @foreach (var item in Model.EstadoLista)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
                <td class="tbform-label">Nombre de modo:</td>
                <td><input type="text" id="txtNombreModo" name="NombreModo" value="@Model.NombreModo" /></td>
                <td class="tbform-label">Fecha:</td>
                <td><input type="text" id="txtFechaRep" name="FechaRep" value="@Model.FechaRepCV.ToString("dd/MM/yyyy")" disabled="disabled"/></td>
            </tr>
        </table>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        <input type="hidden" id="hfRepCodi" name="RepCodi" value="@Model.RepCodi" />
    }
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>