@model COES.MVC.Intranet.Areas.Despacho.ViewModels.IndexDatosMOViewModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Cod. Modo</th>
            <th>Modo Operación</th>
            <th>Empresa</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultadoLista)
        {
            <tr>
                <td>@item.Grupoabrev</td>
                <td>@item.Gruponomb</td>
                <td>@item.EmprNomb</td>
                <td>@item.Grupotipo</td>
                <td>@item.Grupoactivo</td>
                <td>
                    <a href="JavaScript:mostrarDetalle(@item.Grupocodi,@Model.RepCodi);" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Consultar" alt="Consultar" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>