@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleDatosMOViewModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Parámetro</th>
            <th>Abreviatura</th>
            <th>Unidad</th>
            <th>Fórmula</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaResultado)
        {
            <tr>
                <td>@item.Fechadat.ToString("dd/MM/yyyy hh:mm tt")</td>
                <td>@item.Concepdesc</td>
                <td>@item.Concepabrev</td>
                <td>@item.Concepunid</td>
                <td>@item.Formuladat</td>
                <td>
                    <a href="JavaScript:mostrarHistorial(@item.Grupocodi,@item.Concepcodi)" class="view"><img src="@Url.Content("~/Content/Images/Visualizar.png")" title="Consultar Historial" alt="Consultar Historial" /></a>
                    <a href="JavaScript:editarParametro(@item.Grupocodi, @item.Concepcodi)" class="view @Model.EnableEditar"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar" alt="Editar parámetro" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>