@model COES.MVC.Intranet.Areas.IND.Models.CumplimientoDiarioModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "INDISPONIBILIDADES - Cumplimiento Diario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/IND/Content/Scripts/cumplimiento_diario.js?v=2.1"></script>
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Cumplimiento Diario</div>
        <div class="content-botonera"></div>
    </div>
    <div class="content-hijo">
        <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
            <div class="menu">
                <table class="content-tabla-search">
                    <tr>
                        <td>Version</td>
                        <td>Empresa</td>
                        <td>En Plazo</td>
                    </tr>
                    <tr>
                        <td style="width: 50px;">
                            <select id="cboPeriodo" class="f-select">
                                @foreach (var item in Model.ListaPeriodo)
                                {
                                    <option value="@item.Ipericodi">@item.Iperinombre</option>
                                }
                            </select>
                        </td>
                        <td style="width: 50px;">
                            <select id="cboEmpresa" class="f-select">
                                @foreach (var item in Model.ListaEmpresa)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>
                        <td style="width: 50px;">
                            <select id="cboEstado" class="f-select">
                                <option value="0" selected>Todos</option>
                                <option value="1">En Plazo</option>
                                <option value="2">Fuera Plazo</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" id="btnConsultar" value="Consultar" />
                        </td>
                        @*<td>
                            <input type="button" id="btnReporte" value="Reporte" />
                        </td>*@
                    </tr>
                </table>
            </div>
        </div>
        <div id="message" style="display: none"></div>
        <div>
            <table id="dt-cumplimiento" class="pretty tabla-icono"></table>
        </div>
    </div>
</div>

<div id="popupVer" class="general-popup" style="min-width: 720px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Estado de la informacion Reportada por el usuario</span>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje-ver" style="display: none"></div>
        <div>
            <div id="ver" style="height: 100px;">
                <div id="htVer" style="margin-right: 5px; width: 100%; overflow: auto;"></div>
            </div>
        </div>
    </div>
</div>

<div id="popupEditar" class="general-popup" style="min-width: 720px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Editar el estado de la informacion Reportada por el usuario</span>
        <div style="float: right;">
            <input id="btn-pop-ejecutar" type="button" value="Grabar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje-editar" style="display: none"></div>
        <div>
            <div id="editar" style="height: 100px;">
                <div id="htEditar" style="margin-right: 5px; width: 100%; overflow: auto;"></div>
            </div>
            <div>
                <input type="text" id="crdCodigo" hidden/>
            </div>
        </div>
    </div>
</div>