@model  COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroEquivalenciaModel

@using COES.MVC.Intranet.Areas.Transferencias.Helper
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            
            <th colspan="6" class="table-header-vtea" style="background: #ff770d; border: 1px solid #ff770d;">
                Código VTEA
            </th>
            <th colspan="6" class="table-header-vtp" style="background: #3aca17; border: 1px solid #3aca17;">
                Código VTP
            </th>

            <th rowspan="2">
                % Var máximo
            </th>
            <th rowspan="2">
                % Var calculado
            </th>

            <th rowspan="2">
                Potencia VTP
            </th>

            <th rowspan="2">
                Energía VTEA
            </th>
            <th rowspan="2">
                Diferencia VTP - VTEA
            </th>
        </tr>
        <tr>
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Contrato</th>
            <th>Tipo Usuario</th>
            <th>Barra</th>
            <th>Código</th>
            <!--vtp-->
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Contrato</th>
            <th>Tipo Usuario</th>
            <th>Barra</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCodigoRetiroRelacion)
        {
            int index = -1;
            int totalRowsPan = item.ListarRelacion.Count;

            foreach (var child in item.ListarRelacion)
            {
                index++;

        <tr>
           
            <!--vtea-->
            <td>@child.Genemprnombvtea</td>
            <td>@child.Cliemprnombvtea</td>
            <td>@child.Tipocontratovtea</td>
            <td>@child.Tipousuariovtea</td>
            <td>@child.Barrnombvtea</td>
            <td>@child.Codigovtea</td>
            <!--vtp-->
            <td>@child.Genemprnombvtp</td>
            <td>@child.Cliemprnombvtp</td>
            <td>@child.Tipocontratovtp</td>
            <td>@child.Tipousuariovtp</td>
            <td>@child.Barrnombvtp</td>
            <td>@child.Codigovtp</td>
            @if (index == 0)
            {
                <td rowspan="@totalRowsPan">@item.Retrelvari %</td>
                <td style="color:red; font-weight: bold;" rowspan="@totalRowsPan">@item.PorcentajeVariacionCalculado %</td>
                <td style="color:red; font-weight: bold;" rowspan="@totalRowsPan">@item.PotenciaVtp</td>
                <td style="color:red; font-weight: bold;" rowspan="@totalRowsPan">@item.EnergiaVtea</td>
                <td style="color:red; font-weight: bold;" rowspan="@totalRowsPan">@item.DiferenciaVteaVtp</td>
            }
        </tr>
            }


        }
    </tbody>
</table>
<div id="popup"></div>


<div id="popupEq" class="general-popup" style="width:1000px;height:520px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div id="popup-title" class="popup-title"><span></span></div>
    <div class="popup-text" id="contenidoPopup">
    </div>
</div>

