@model COES.MVC.Extranet.Areas.IEOD.Models.RestriccionesOperativasModel

<script src="~/Areas/IEOD/Content/Scripts/restricedit.js?v=1.1"></script>
<link href="~/Areas/IEOD/Content/Css/formulario.css" rel="stylesheet" />
@using (Html.BeginForm("Listar", "Evento", FormMethod.Get, new { @class = "form-search", name = "frmEnvio", id = "frmEnvio" }))
{
    <div class="content-registro">
        <table>
            <tr>
                <td class="tbform-label">Tipo Equipo:</td>
                <td class="tbform-control">
                    <select id="cbTipoEquipo" name="cbTipoEquipo" @Model.ActFiltro>
                        <option value="0">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaTipoEquipo)
                        {
                            <option value="@item.Famcodi/@item.Famabrev">@item.Famnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr id="trEquipo">
                <td class="tbform-label">Equipo:</td>
                <td class="tbform-control">
                    <div id="equipos"></div>
                </td>
            </tr>
            <tr id="trFechaInicio">
                <td class="tbform-label">Fecha inicio:</td>
                <td class="tbform-control">
                    @*<input type="Text" id="txtFechaIni" name="HoraIni" style="width:220px;" value="@Model.HoraIni" />*@
                    <input type="text" id="txtFechaIni" style="width:120px;" value="@Model.Fecha" readonly="readonly" /> <input type="Text" id="txtHoraIni" name="HoraIni" style="width:100px;" value="@Model.HoraIni" />
                </td>
            </tr>
            <tr id="trFechaFin">
                <td class="tbform-label">Fecha Fin:</td>
                <td class="tbform-control">
                    @*<input type="Text" id="txtFechaFin" name="HoraFin" style="width:220px;" value="@Model.HoraFin" />*@
                    <input type="text" id="txtFechaFin" style="width:120px;" value="@Model.FechaFin" /> <input type="Text" id="txtHoraFin" class="txtFechaFin" name="HoraFin" style="width:100px;" value="@Model.HoraFin" />
                </td>
            </tr>
            <tr id="trDescripcion">
                <td class="tbform-label">Descripción:</td>
                <td class="tbform-control">
                    <textarea cols=50 rows=3 id='txtDescripcion' name='IcDescrip1'> @Model.IcDescrip1 </textarea>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Información:</td>
                <td class="tbform-control">
                    <div style="width:120px">
                        <input type="button" id="btnSelectFile" value="Agregar Archivo" />
                    </div>
                    <div id="nombreArchivo"></div>
                </td>
            </tr>
        </table>

        <div class="content-botoneraPopup" id="container">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
    <input type="hidden" id="hcodenvio" name="Enviocodi" value="@Model.Enviocodi" />
    <input type="hidden" id="hIdSubcausacodi" value="@Model.Subcausacodi" />
    <input type="hidden" id="hfecha" name="Fecha" value="@Model.Fecha" />
    <input type="hidden" id="hfEquiCodi" name="Equicodi" value="@Model.Equicodi" />
    <input type="hidden" id="hfFamcodi" name="hfFamcodi" value="@Model.FamcodiSelect" />
    <input type="hidden" id="hfActFiltro" name="hfActFiltro" value="@Model.ActFiltro" />
    <input type="hidden" id="hfIccodi" name="Iccodi" value="@Model.Iccodi" />
    <input type="hidden" id="hfLastUser" name="hfLastUser" value="@Model.Lastuser" />
    <input type="hidden" id="hfNameArchEnvio" name="hfNameArchEnvio" value="@Model.Icnombarchenvio" />
    <input type="hidden" id="hfNameArchFisico" name="hfNameArchFisico" value="@Model.Icnombarchfisico" />
    <input type="hidden" id="hfCambioArchivo" name="hfCambioArchivo" value="@Model.CambioArchivo" />

}