@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.BitacoraModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "PRODEM - Bitacora";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/PronosticoDemanda/Content/Scripts/bitacora.js?v=3.3"></script>
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Bitacora</div>
        <div class="content-botonera"></div>
    </div>
    <div class="content-hijo">
        <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
            <div class="h-panel" style="margin-bottom: 5px;">
                <div class="filters">
                    <div>Fecha inicio</div>
                    <input id="fechaIni" type="text" class="f-fecha" value="@Model.FechaIni" />
                </div>
                <div class="filters">
                    <div>Fecha fin</div>
                    <input id="fechaFin" type="text" class="f-fecha" value="@Model.FechaFin" />
                </div>
                <div class="filters">
                    <div>Tipo de empresa</div>
                    <select id="id-tpempresa" class="f-select-m" multiple>
                        @foreach (var item in Model.ListTipoEmpresa)
                        {
                            if (item.Item1 == 4)
                            {
                                <option value="@item.Item1" selected>@item.Item2</option>
                            }
                            else
                            {
                                <option value="@item.Item1">@item.Item2</option>
                            }
                        }
                        </select>
                </div>
                <div class="filters">
                    <div>Tipo de demanda</div>
                    <select id="id-tpdemanda" class="f-select-m" multiple>
                        @foreach (var item in Model.ListTipoDemanda)
                        {
                            <option value="@item.Item1" selected>@item.Item2</option>

                        }
                    </select>
                </div>

                <!-- ASSETEC 2022-03-07-->
                <div class="filters" style="padding: 15px;">
                    <input type="radio" id="rdAutomatico" name="rblTipoRegistro" value="0">Registro Automatico
                    <input type="radio" id="rdManual" name="rblTipoRegistro" value="1" checked="checked">Registro Manual
                </div>
                <!-- FIN ASSETEC 2022-03-07-->

                <div class="filters">
                    <br />

                    <!-- ASSETEC 2022-03-07-->
                    <input type="button" id="btnConsultar" value="Consultar" />
                    <!-- FIN ASSETEC 2022-03-07-->

                    <input type="button" id="btnExportar" value="Exportar" />
                </div>

            </div>
            <div class="v-panel">
                <div>
                    <table id="dtDetalle" class="pretty tabla-icono"></table>
                </div>
            </div>

        </div>
    </div>
</div>