@model COES.MVC.Intranet.Areas.Mediciones.Models.ConfiguracionModel

<script type="text/javascript">
    $(document).ready(function () {

        $('#cbEditTipoGrupo').val($('#hfTipoGrupo').val());
        $('#cbEditTipoGrupo2').val($('#hfTipoGrupo2').val());
        $('#cbAdjudicado').val($('#hfAdjudicada').val());

        $('#btnActualizar').click(function () {
            actualizar();
        });

        $('#cbEditTipoGrupo').change(function ()
        {
            $('#divGeneracionRer').css("display", "none");            
            if ($('#cbEditTipoGrupo').val() == "2") $('#divGeneracionRer').css("display", "block");            
        });
    });
</script>

<table class="table-form-vertical2" style="width:360px">
    <tr>
        <td style=" width:190px">Empresa:</td>
        <td>
            @Model.EmpresaNombre
        </td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>
            @Model.GrupoNombre
        </td>
    </tr>
    <tr>
        <td>Abreviación:</td>
        <td>
            @Model.GrupoAbreviacion
        </td>
    </tr>
    <tr>
        <td style="text-align:left">Tipo grupo:</td>
        <td style="text-align:left">
            <select id="cbEditTipoGrupo">
                @foreach (var item in Model.ListaTipoGrupo)
                {
                    <option value="@item.Tipogrupocodi">@item.Tipogruponomb</option>
                }
            </select>
            <input type="hidden" id="hfTipoGrupo" value="@Model.TipoGrupoCodi" />
        </td>
    </tr>
</table>

@{
    var style = "display:none";
    if (Model.TipoGrupoCodi == 2)
    {
        style = "display:block";
    }
}

<div id="divGeneracionRer" style="@style">
    <table class="table-form-vertical2" style="width:360px">
        <tr>
            <td style="text-align:left">¿Es adjudicada?:</td>
            <td style="text-align:left">
                <select id="cbAdjudicado">
                    <option value="N">No</option>
                    <option value="S">Si</option>
                </select>
                <input type="hidden" id="hfAdjudicada" value="@Model.IndAdjudicada" />
            </td>
        </tr>
        <tr>
            <td style=" width:190px; text-align:left">¿Es cogeneración?:</td>
            <td style="text-align:left">
                <select id="cbEditTipoGrupo2">
                    <option value="-1">No</option>
                    <option value="3">Si</option>
                </select>
                <input type="hidden" id="hfTipoGrupo2" value="@Model.TipoGrupoCodi2" />
            </td>
        </tr>
        
    </table>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar" />
</div>

<input type="hidden" value="@Model.IdGrupo" id="hfIdGrupo" />
