@model COES.MVC.Intranet.Areas.Mediciones.Models.ConfiguracionModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Tipo Grupo</th>
            @if (Model.TipoGrupoCodi == 2) 
            {
                <th>Adjudicada</th>
                <th>Cogeneración</th>
            }
            @if (Model.TipoGrupoCodi == 3) 
            {
                <th>RER</th>
            }
            <th>Nombre</th>
            <th>Abreviación</th>
            <th>Usuario Act.</th>
            <th>Fecha Act.</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaGrupo.Count > 0)
        {
            foreach (var item in Model.ListaGrupo)
            {
                <tr>
                    <td>@item.EmprNomb.Trim()</td>
                    
                        @if (Model.TipoGrupoCodi == 3)
                        {
                            if (item.Tipogrupocodi == 2)
                            {
                                <td>COGENERACION</td>
                            }
                            else
                            {
                            <td>@item.DesTipoGrupo</td>
                            }
                        }
                        else
                        {
                            <td>@item.DesTipoGrupo</td>
                        }  
                    
                    @if (Model.TipoGrupoCodi == 2)
                    {
                        var esCogeneracion = (item.TipoGrupoCodi2 == 3) ? "Si" : "No";
                        var esAdjudicada = (item.TipoGenerRer == "S") ? "Si" : "No";
                        <td>@esAdjudicada</td>
                        <td>@esCogeneracion</td>                       
                    }                    
                    @if (Model.TipoGrupoCodi == 3)
                    {
                        if (item.Tipogrupocodi == 2)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    }
                    
                    <td>@item.Gruponomb</td>
                    <td>@item.Grupoabrev</td>
                    <td>@item.Lastuser</td>
                    <td>
                        @if (item.Lastdate != null)
                        {
                            var fecha = ((DateTime)item.Lastdate).ToString("dd/MM/yyyy");
                            <span>@fecha</span>
                        }
                    </td>
                    <td>
                        <a href="JavaScript:editarRegistro(@item.Grupocodi, '@item.EmprNomb','@item.Gruponomb','@item.Grupoabrev',@item.Tipogrupocodi, @item.TipoGrupoCodi2, '@item.TipoGenerRer')">Editar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

