@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroCorreoModel

<table border="0" class="pretty tabla-icono" id="tablaCuenta">
    <thead>
        <tr>
            <th></th>            
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Estado</th>     
            <th>Usuario Mod.</th>      
            <th>Fecha Mod.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCuentas)
        {
            <tr>
                <td>                   
                     <a href="JavaScript:editarCuenta(@item.Obscorcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                     <a href="JavaScript:eliminarCuenta(@item.Obscorcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>                  
                </td>                
                <td>@item.Emprnomb</td>
                <td>@item.Obscornombre</td>
                <td>@item.Obscoremail</td>
                <td>
                    @if (item.Obscorestado == "A")
                    {
                        <span>Activo</span>
                    }
                    else if (item.Obscorestado == "B")
                    {
                        <span>Baja</span>
                    }
                </td>
                <td>@item.Obscorusumodificacion</td>
                <td>@item.Obscorfecmodificacion</td>           
        </tr>
        }
    </tbody>
</table>