@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sala de Prensa";
}

@model COES.MVC.Intranet.Areas.Migraciones.Models.SalaPrensaModel

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/jquery.dataTables.rowReordering.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/salaprensa.js?v=2.6"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo"> Publicación de Comunicados en Sala de Prensa </div>
    <div class="content-botonera">
        <input type="button" id="btnCrear" value="Nuevo" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Listado</a></li>
            <li class='tab'><a href="#paso2">Ingresar datos</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <h2>Comunicados sala de prensa</h2>

                <div style="clear:both; height:5px"></div>
                <div class="pretty tabla-icono display compact" id="listado1" style="width:95%"> </div>

            </div>
            <div id="paso2">
                <div class="search-content">

                    <form id="formRegistro">
                        <table style="width:100%">
                            <tr>
                                <td style="width:60%" valign="top">
                                    <table class="tabla-search" style="width:100%">
                                        <tr>
                                            <td hidden>Fecha:</td>
                                            <td hidden><input type="text" id="txtFecha" value="@Model.Fecha" name="Fecha" /></td>
                                        </tr>
                                        <tr>
                                            <td>Título:</td>
                                            <td><textarea id="txtTitulo" style="width:100%;height: 30px;resize: none" name="Titulo"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Descripción Breve:</td>
                                            <td><textarea id="txtResumen" style="width:100%;height: 60px;resize: none" name="Resumen"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Descripción:</td>
                                            <td><textarea id="txtDescripcion" style="width:100%;height: 300px;resize: none;" name="Descripcion"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Fecha Inicio:</td>
                                            <td><input type="text" id="txtFechaini" value="@Model.Fecha" name="Fechaini" /></td>
                                        </tr>

                                        <tr>
                                            <td>Fecha Término:</td>
                                            <td><input type="text" id="txtFechafin" value="@Model.Fecha" name="Fechafin" /></td>
                                        </tr>
                                        <tr>
                                            <td>Imagen (máx 2MB):</td>
                                            <td>
                                                <input type="button" id="btnFoto" value="Seleccionar una imagen" />

                                                <div class="formulario-control" style="width:120px" id="container">

                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="progreso"></div>
                                                <div id="fileInfo"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:2%"></td>
                                <td valign="top" style="width:38%">
                                    <table class="tabla-search" style="width:auto; margin:auto">
                                        <tr>
                                            <td>
                                                <img src="@Model.Imagen" id="imgComunicado" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        
                        <input type="hidden" id="comcodi" value="0" name="Codigo" />
                        <input type="hidden" id="hfEstado" name="Estado" />
                        <input type="hidden" id="hfTipo" value="S" name="Tipo" />
                        <input type="hidden" id="hfEvento" name="Evento" />
                    </form>

                    
                </div>
                <div style="width:200px; margin:auto">
                    <input type="button" id="btnGrabar" value="Grabar" />
                    <input type="button" id="btnCancelarEdit" value="Cancelar" />
                </div>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="event" value="1" />

<input type="hidden" id="ff" value="@Model.Fecha" />


<script type="text/javascript">

    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'btnFoto',
        container: document.getElementById('container'),
        url: siteRoot + 'Migraciones/SalaPrensa/Upload',
        flash_swf_url: '~/Content/Scripts/Moxie.swf',
        silverlight_xap_url: '~/Content/Scripts/Moxie.xap',
        multi_selection: false,
        filters: {
            max_file_size: '2mb',
            mime_types: [
                { title: "imágenes jpg, png", extensions: "jpg,png" }
            ]
        },
        init:
        {
            //PostInit: function () {
            //    document.getElementById('btnGrabar').onclick = function () {
            //        if (uploader.files.length > 0) {
            //            uploader.start();
            //        }
            //        else
            //            loadValidacionFile("Seleccione archivo.");
            //        return false;
            //    };
            //},
            FilesAdded: function (up, files) {
                if (uploader.files.length == 2) {
                    uploader.removeFile(uploader.files[0]);
                }
                plupload.each(files, function (file) {
                    //loadInfoFile(file.name);
                    $('#fileInfo').html(file.name + " (imagen a publicar)");
                });
                up.refresh();
                up.start();
            },
            UploadProgress: function (up, file) {
                mostrarProgreso(file.percent);
            },

            Error: function (up, err) {
                loadValidacionFile(err.code + "-" + err.message);
            }
        }
    });

    uploader.init();

    function loadValidacionFile(mensaje) {
        $('#fileInfo').html(mensaje);
    }

    function mostrarProgreso(porcentaje) {
        $('#progreso').text(porcentaje + "%");
    }


</script>

