@using COES.MVC.Intranet.Areas.RechazoCarga.Helper
@model COES.MVC.Intranet.Areas.RechazoCarga.Models.GeneracionCuadrosRechazoCargaModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="width:100%;table-layout:fixed;">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th style="width:8%">Horizonte</th>
                <th style="width: 20%;">Motivo</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Configuración</th>
                <th>U. Regulados</th>
                <th>Estado</th>
                @if (Model.Perfil == ConstantesRechazoCarga.PerfilSEV)
                {
                    <th>Evento CTAF</th>
                }
                <th style="width:100px;">Acciones</th>
                <th style="width:100px;">Creado Por</th>
            </tr>
        </thead>
        <tbody>
                           
                @foreach (var item in Model.ListCuadroProgramaDetalle)
                {
                    <tr>
                        <td style="width: 90px;">@item.Rcprogabrev</td>
                        <td style="width: 80px;">@item.Rchorpnombre</td>
                        <td style="text-align: left; width: 20%;">
                            @item.Rccuadmotivo.Trim()
                        </td>

                        <td style="text-align: left; width: 80px;">@(((DateTime)item.Rccuadfechorinicio).ToString("dd/MM/yyyy HH:mm"))</td>
                        <td style="text-align: left; width: 80px;">@(((DateTime)item.Rccuadfechorfin).ToString("dd/MM/yyyy HH:mm"))</td>
                        <td style="text-align: left; width: 80px;">@item.Rcconpnombre</td>
                        @if (item.Rccuadflagregulado.Equals("1"))
                        {
                            <td style="text-align: left; width: 80px;">Si</td>
                        }
                        else
                        {
                            <td style="text-align: left; width: 80px;">No</td>
                        }
                        @if (item.Rcestacodi == ConstantesRechazoCarga.EstadoCuadroProgramado)
                        {
                            <td style="text-align: left; width: 80px;">@item.Rcestanombre</td>
                        }
                        else
                        {
                            <td style="text-align: left; background-color: red; width: 80px;">@item.Rcestanombre</td>
                        }
                        @if (Model.Perfil == ConstantesRechazoCarga.PerfilSEV)
                        {
                            <td style="text-align: left; width: 80px;">@item.Rccuadcodeventoctaf</td>
                        }

                        <td style="width:100px;">
                            @if (Model.Perfil == ConstantesRechazoCarga.PerfilSCO)
                            {
                                <a href="JavaScript:modificarCuadroProgramacion('@item.Rcprogcodi','@item.Rccuadcodi');" title="Reprogramar">
                                    <img src="~/Content/Images/calendar.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado) ? "inline" : "none")">
                                </a>
                                <a href="JavaScript:modificarCuadroProgramacion('@item.Rcprogcodi','@item.Rccuadcodi');" title="Modificar">
                                    <img src="~/Content/Images/btn-edit.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroReprogramado) || item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado)? "inline" : "none")">
                                </a>
                                <a href="JavaScript:modificarCuadroProgramacion('@item.Rcprogcodi','@item.Rccuadcodi');" title="Ejecutar">
                                    <img src="~/Content/Images/verificar.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado) || item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroReprogramado) ? "inline" : "none")">
                                </a>
                                <a href="JavaScript:noEjecutarCuadroProgramacion('@item.Rccuadcodi');" title="No Ejecutar">
                                    <img src="~/Content/Images/btn-cancel.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado) ? "inline" : "none")">
                                </a>
                                <a href="JavaScript:mostrarCuadroDuplicar('@item.Rcprogcodi','@item.Rccuadcodi');" title="Duplicar">
                                    <img src="~/Content/Images/copiar.png" alt="" style="display:inline">
                                </a>

                        }
                        else if (Model.Perfil == ConstantesRechazoCarga.PerfilSPR)
                        {
                            <a href="JavaScript:modificarCuadroProgramacion('@item.Rcprogcodi','@item.Rccuadcodi');" title="Modificar">
                                <img src="~/Content/Images/btn-edit.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado) ? "inline" : "none")">
                            </a>
                            <a href="JavaScript:eliminarCuadroProgramacion('@item.Rccuadcodi');" title="Eliminar">
                                <img src="~/Content/Images/btn-cancel.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroProgramado) ? "inline" : "none")">
                            </a>
                            <a href="JavaScript:mostrarCuadroDuplicar('@item.Rcprogcodi','@item.Rccuadcodi');" title="Duplicar">
                                <img src="~/Content/Images/copiar.png" alt="" style="display:inline">
                            </a>
                        }
                        <a href="JavaScript:modificarCuadroProgramacion('@item.Rcprogcodi','@item.Rccuadcodi');" title="Consultar">
                            <img src="~/Content/Images/btn-properties.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroEjecutado) || item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroNoEjecutado) ? "inline" : "none")">
                        </a>

                        @if (Model.Perfil == ConstantesRechazoCarga.PerfilSEV)
                        {
                            <a href="JavaScript:mostrarAsignarEvento('@item.Rccuadcodi');" title="Asignar Evento CTAF">
                                <img src="~/Content/Images/Informe.png" alt="" style="display:@(item.Rcestacodi.Equals(ConstantesRechazoCarga.EstadoCuadroEjecutado) ? "inline" : "none")">
                            </a>
                        }

                        </td>
                        <td style="width: 100px;">@item.Rccuadusucreacion</td>
                   </tr>
                }
            
        </tbody>
    </table>

</form>



