@model COES.MVC.Intranet.Areas.RechazoCarga.Models.ProgramaRechazoCargaModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <div>
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaListaEmpresas">
            <thead>
                <tr>
                    <th><input type="checkbox" name="SeleccionarTodo" value="1" id="SeleccionarTodo"></th>
                    <th>Razón Social</th>
                    <th>Suministrador</th>
                    <th>Sub Estación</th>
                    <th>Nombre Punto Medición</th>
                    <th>Demanda (MW)</th>
                    <th>Fuente</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListProgramaRechazoCargaEmpresa)
                {
                    <tr class="menu-contextual">
                        <td style="text-align:left">@(item.Emprcodi + "/" + item.Equicodi+"/"+item.Empresa.Replace("&", "_#38_").Replace("/", "_#47_") +"/" +
                        item.Suministrador + "/" + item.Subestacion + "/" + item.Puntomedicion + "/" + item.Rcproudemanda + "/" + item.Rcproufuente+"/" + item.Rcprouemprcodisuministrador)                           
                        </td>
                        <td style="text-align:left">@item.Empresa</td>
                        <td style="text-align:left">@item.Suministrador</td>
                        <td style="text-align:left">@item.Subestacion</td>
                        <td style="text-align:left">@item.Puntomedicion</td>
                        <td style="text-align:left">@item.Rcproudemanda</td>
                        <td style="text-align:left">@item.Rcproufuente</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
</form>

