@model COES.MVC.Intranet.Areas.Transferencias.Models.ConsultaEnviosModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Consulta de envios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/transferencias/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/consultaenvios.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Consulta de envío de Entregas y Retiros</div>
        <div class="content-botonera">
        </div>
    </div>
    <input type="hidden" name="trnenvcodi" id="trnenvcodi" value="" />
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.pericodi > 0 && Model.recacodi > 0)
            {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@Model.EntidadPeriodo.PeriNombre  / @Model.EntidadRecalculo.RecaNombre</div> }
        else
        { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo</div>}
            <table>
                <tr>
                    <td>
                        <div class="search-content" style="margin-bottom:0px; padding:10px">
                            <table class="table-search" style="width:auto">
                                <tr>
                                    <td style="width:120px; height:40px;"><div class="editor-label">Mes de Valorización:</div></td>
                                    <td style="width:180px; height:40px;">
                                        <div class="editor-field">
                                            <select id="pericodi" name="pericodi" onchange="recargar();">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    sSelected = "";
                                                    if (@item.PeriCodi == Model.pericodi)
                                                    { sSelected = "selected"; }
                                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:55px; height:40px;">Versión:</td>
                                    <td style="width:110px; height:40px;">
                                        <select id="recacodi" name="recacodi" style="width:100px">
                                            @foreach (var item in Model.ListaRecalculos)
                                            {
                                                <option value="@item.RecaCodi">@item.RecaNombre</option>
                                            }
                                        </select>
                                    </td>
                                    <td style="width:60px; height:40px;">Empresa:</td>
                                    <td style="width:180px; height:40px;">
                                        <select id="emprcodi" name="emprcodi" style="width:170px">
                                            <option value="0">-TODOS-</option>
                                            @foreach (var item in Model.ListaEmpresas)
                                            {
                                                <option value="@item.EmprCodi">@item.EmprNombre</option>
                                            }
                                        </select>
                                    </td>
                                    <td style="width:120px; height:40px;">Tipo de información:</td>
                                    <td style="width:170px; height:40px;">
                                        <select id="trnenvtipinf" name="trnenvtipinf" style="width: 160px;">
                                            <option value="-1">-TODOS-</option>
                                            @foreach (var item in Model.ListaTipoInfo)
                                            {
                                                sSelected = "";
                                                if (@item.TipoInfoCodi == Model.trnenvtipinf)
                                                { sSelected = "selected"; }
                                                <option value="@item.TipoInfoCodi" @sSelected>@item.TipoInfoNombre</option>
                                            }
                                        </select>
                                    </td>
                                    <td style="width:50px; height:40px;">En plazo:</td>
                                    <td style="width:90px; height:40px;">
                                        <select id="trnenvplazo" name="trnenvplazo" style="width: 80px;">
                                            <option value="X">-TODOS-</option>
                                            <option value="S">-SI-</option>
                                            <option value="N">-NO-</option>
                                        </select>
                                    </td>
                                    <td style="width:160px; height:40px;">Considerado en valorización:</td>
                                    <td style="width:100px; height:40px;">
                                        <select id="trnenvliqvt" name="trnenvliqvt" style="width: 80px;">
                                            <option value="X">-TODOS-</option>
                                            <option value="S">-SI-</option>
                                            <option value="N">-NO-</option>
                                        </select>
                                    </td>
                                    <td style="width:200px; height:40px;">
                                        @if (Model.pericodi > 0 && Model.recacodi > 0)
                                        {
                                            <input type="button" id="btnListarEnvios" value="Consultar" title="Ver Lista de Envios de Entregas y Retiros" />
                                            <input type="button" id="btnListarSeleccionados" value="Grabar" title="Pasar a liquidación" />
                                        }
                                    </td>
                                    <td style="width:20px; height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado"> </div>
        <div id="popup" style="width:1000px; height:800px;">    </div>
        <div id="popup2"></div>
    </div>
</div>