@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel

<div style="clear:both; height:15px"></div>
<table id="tabla_agrupacion" border="0" class="pretty tabla-icono" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 50px"></th>
            <th style="width: 50px">Código</th>
            <th style="width: 240px">Nombre</th>
            <th style="width: 120px">Usuario modificación</th>
            <th style="width: 120px">Fecha Modificación</th>
            <th style="width: 120px">Usuario registro</th>
            <th style="width: 120px">Fecha registro</th>
            <th style="width: 70px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAgrupacion)
        {
            string claseFila = "";
            if (item.Agrupestado == "B" || item.Agrupestado == "X") { claseFila = "clase_eliminado"; }
            <tr class="@claseFila">
                <td>
                    <a href="JavaScript:verAgrupacion(@item.Agrupcodi);" title="Ver Agrupación"><img src="~/Content/Images/btn-open.png" alt="Ver Agrupación" /></a>
                    @if (item.Agrupestado != "B" && item.Agrupestado != "X")
                    {
                        <a href="JavaScript:editarAgrupacion(@item.Agrupcodi);" title="Editar Agrupación"><img src="~/Content/Images/btn-edit.png" alt="Editar Agrupación" /></a>
                        <a href="JavaScript:eliminarAgrupacion(@item.Agrupcodi);" title="Eliminar Agrupación"><img src="~/Content/Images/Trash.png" alt="Eliminar Agrupación" /></a>
                    }
                </td>
                <td style="text-align: center">@item.Agrupcodi</td>
                <td>@item.Agrupnombre</td>
                <td>@item.Agrupusumodificacion</td>
                <td>@item.AgrupfecmodificacionDesc</td>
                <td>@item.Agrupusucreacion</td>
                <td>@item.AgrupfeccreacionDesc</td>
                <td>@item.AgrupestadoDesc</td>
            </tr>
        }
    </tbody>
</table>