@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel

<div style="clear:both; height:10px"></div>
<table id="tabla_modo" border="0" class="pretty tabla-icono" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="">Acciones</th>

            <th style="">Empresa</th>
            <th style="">Ubicación</th>
            <th style="">Categoría</th>

            <th style="">Código</th>
            <th style="">Nombre </th>
            <th style="">Abreviatura</th>

            <th style="">Estado</th>
            <th style="">Activo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGrupo)
        {
        <tr>
            <td style="@item.EstiloEstado">
                <a onclick="editarPrGrupo(@item.Grupocodi, '1');" title="Editar Grupo" style="cursor: pointer;"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                <a onclick="verDetalle(@item.Grupocodi);" title="Ver Parámetros" style="cursor: pointer;"><img src="~/Content/Images/btn-properties.png" alt=""></a>
                @if (Model.TienePermisoImportar)
                {
                    @*<a href="JavaScript:asignarGrupoExtranetFT(@item.Grupocodi);" title="Asiganr Grupo / Modo de Operación aplicativo Extranet – Ficha Técnica"><img src="~/Content/Images/btn-add.png" alt=""></a>*@
                    <a onclick="asignarGrupoExtranetFT(@item.Grupocodi);" title="Asignar Grupo / Modo de Operación aplicativo Extranet – Ficha Técnica"><img src="~/Content/Images/btn-add.png" alt=""></a>
                }
                <span id="grupocodi_@(item.Grupocodi)_emprcodi_@(item.Emprcodi)_areacodi_@(item.Areacodi)"></span>
            </td>

            <td style="@item.EstiloEstado" class="empresa">@item.Emprnomb</td>
            <td style="@item.EstiloEstado" class="empresa">@item.Areadesc</td>
            <td style="text-align: center; @item.EstiloEstado" class="categoria">@item.Catenomb</td>

            <td style="@item.EstiloEstado" class="codigo">@item.Grupocodi</td>
            <td style="@item.EstiloEstado" class="nombre">@item.Gruponomb</td>
            <td style="@item.EstiloEstado" class="abrev">@item.Grupoabrev</td>
            <td style="@item.EstiloEstado" class="tipo">@item.GrupoEstadoDesc</td>
            <td style="@item.EstiloEstado" class="estado">@item.GrupoactivoDesc</td>
        </tr>
        }
    </tbody>
</table>