@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel

<div class="search-content">
    <table class="content-tabla-search" style="width: 1500px">
        <tbody>
            <tr>
                <td class="tbform-label" style="text-align: right">Código:</td>
                <td>
                    @Model.Grupo.Grupocodi
                </td>
                <td colspan="2" class="tbform-label" style="text-align: right">Grupo / Modo de Operación:</td>
                <td colspan="5">
                    @Model.Grupo.GruponombPadre  @Model.Grupo.Gruponomb
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tbform-label" style="text-align: right">Fecha de Consulta:</td>
                <td>
                    <input type="text" id="txtFechaData" value="@Model.Fecha" />
                </td>
                <td class="tbform-label" style="text-align: right">
                    Unidad:
                </td>
                <td>
                    <select id="cbUnidad" style="width:250px;">
                        <option value="-1">[TODOS]</option>
                        @foreach (var item in Model.ListaUnidad)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td class="tbform-label" style="text-align: right; color: blue">Agrupación:</td>
                <td>
                    <select id="cbAgrupacion" style="width:250px;">
                        <option value="-1">[TODOS]</option>
                        @foreach (var item in Model.ListaAgrupacion)
                        {
                            var selected = item.Agrupcodi == Model.IdAgrupacion ? "selected" : "";
                            <option value="@item.Agrupcodi" @selected>@item.Agrupnombre</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Filtro de conceptos:</td>
                <td>
                    <input type="radio" name="rbFiltro" value="1">Ficha Técnica <br />
                    <input type="radio" name="rbFiltro" value="-1" checked>Todos
                </td>

                @if (Model.HabilitaCargaMasiva)
                {
                    <td>
                        <input type="button" id="btnExportarReporte" value="Exportar Reporte" />
                        @if (Model.TienePermisoImportar)
                        {
                            <input type="button" id="btnImportarReporte" value="Importar Reporte" />
                        }
                    </td>
                }

            </tr>
        </tbody>
    </table>
</div>

<div id="leyenda_detalle_grupomop">
    <p>LEYENDA:</p>
    <table border="0" style="width: 500px;">
        <tbody>
            <tr>
                <td style="width: 50px; border: 1px solid black; background-color: white !important; color: white;"></td>
                <td>Parámetros del Modo de Operación</td>
            </tr>
            <tr>
                <td style="width: 50px; border: 1px solid black; background-color: #69c3ff !important; color: white;"></td>
                <td>Parámetros del Grupo Despacho</td>
            </tr>
            <tr>
                <td style="width: 50px; border: 1px solid black; background-color: #fffd8d !important; color: white;"></td>
                <td>Parámetros de la Central</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="div_tabla_data">

</div>

<input type="hidden" id="hfGrupocodi" value="@Model.Grupo.Grupocodi" />

<div style="clear:both; height:10px"></div>
