@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel


<div style="clear:both; height:10px"></div>

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

<table id="tabla_parametro_general" border="0" class="pretty tabla-adicional" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 50px">Acciones</th>
            <th>Fecha de Vigencia</th>
            <th>Código</th>
            <th>Concepto</th>
            <th>Abreviatura</th>
            <th>Unidad</th>
            <th>Valor/Expresión</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaParametros)
        {
            <tr>
                <td>
                    <a onclick="verHistoricoConcepto('S',@item.Grupocodi,@item.Concepcodi, '@item.GrupoNomb', '@item.ConcepDesc', @item.Conceppropeq);" title="Ver Histórico"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    @if (Model.AccesoEditar)
                    {
                        <a onclick="editarDataConcepto('S',@item.Grupocodi,@item.Concepcodi, '@item.GrupoNomb', '@item.ConcepDesc', @item.Conceppropeq)" title="Modificación"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    }
                </td>
                <td class="fecha">@item.FechadatDesc</td>
                <td class="codigo">@item.Concepcodi</td>
                <td class="concepto">@item.ConcepDesc</td>
                <td class="abrev">@item.Concepabrev</td>
                <td class="unidad">@item.ConcepUni</td>
                <td class="valor">@item.Formuladat</td>
                <td class="tipo">@item.Lastuser</td>
                <td class="tipo">@item.FechaactDesc</td>
            </tr>
        }
    </tbody>
</table>
