@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reporte de Control de Cambios";
}
<script src="~/Areas/Migraciones/Content/Scripts/parametrogrupomop/reporteControlCambio.js"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Migraciones/Content/Css/parametro.css?v=1.2" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Reporte de Control de Cambios</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" style=" margin: 0; margin-bottom: 10px;"></div>

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label" style="text-align: right">Fecha:</td>
                <td>
                    <input type="text" id="txtFechaData" value="@Model.Fecha" />
                </td>

                <td>Parámetro:</td>
                <td>
                    <select id="cbAgrupacion" style="width:250px;">
                        <option value="-1">[TODOS]</option>
                        @foreach (var item in Model.ListaAgrupacion)
                        {
                            <option value="@item.Agrupcodi">@item.Agrupnombre</option>
                        }
                    </select>
                </td>

                <td>Tipo de Central:</td>
                <td>
                    <select id="cbCategoria" style="width: 250px;">
                        <option value="-2">--TODOS--</option>
                        @foreach (var item in Model.ListaCategoria)
                        {
                            <option value="@item.Catecodi">@item.Catenomb</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
