@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel

<div style="clear:both; height:10px"></div>
<table id='tabla_pr_concepto' class='pretty tabla-icono'>
    <thead>
        <tr>
            <th width='12%'></th>
            <th width='12%'>Configurado</th>
            <th width='12%'>Código</th>
            <th width='18%'>Categoría de Grupo</th>
            <th width='40%'>Nombre</th>
            <th width='18%'>Abreviatura</th>
            <th width='6%'>Unidad</th>
            <th width='6%'>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConcepto)
        {
            <tr>
                <td>
                    <a onclick="verAreaUsuario(@item.Concepcodi,'@item.Catenomb', '@item.Concepabrev', '@item.Concepdesc', '@item.Concepunid', '@item.Conceptipo');" title="Ver Configuración">
                        <img src="~/Content/Images/btn-open.png" alt="Ver Configuración">
                    </a>
                    @if (Model.AccesoEditar)
                    {
                        <a onclick="editarAreaUsuario(@item.Concepcodi,'@item.Catenomb', '@item.Concepabrev', '@item.Concepdesc', '@item.Concepunid', '@item.Conceptipo');" title="Modificar Configuración">
                            <img src="~/Content/Images/btn-edit.png" alt="Modificar Configuración">
                        </a>
                    }
                </td>
                <td class="codigo">@item.ConfiguradoVisualizacionDesc</td>
                <td class="codigo">@item.Concepcodi</td>
                <td class="categoria">@item.Catenomb</td>
                <td class="empresa">@item.Concepdesc</td>
                <td class="nombre">@item.Concepabrev</td>
                <td class="abrev">@item.Concepunid</td>
                <td class="tipo">@item.Conceptipo</td>
            </tr>
        }
    </tbody>
</table>