@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMaximaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/DemandaMaxima/Content/Scripts/cumplimiento.js"></script>
<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div>Reporte de Cumplimiento de Carga de Información de Medidores de Energía</div>
    </div>
    <div class="content-hijo" id="mainLayout">
        <table>
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:15px">
                        <table class="content-tabla-search" style="width:auto">
                            <tr>
                                <td>Tipo de Empresa:</td>
                                <td colspan="4">
                                    <select id="cbTipoEmpresa" name="cbTipoEmpresa" style="width:550px;">
                                        <option value=""> -- SELECCIONE -- </option>
                                        @foreach (var item in Model.ListaTipoempresa)
                                        {
                                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:120px">Periodo Desde*:</td>
                                <td>
                                    <select id="cbPeriodoIni" name="cbPeriodoIni" style="width:120px;">
                                        @foreach (var item in Model.ListaPeriodo)
                                        {
                                            <option value="@item.IniRemision.ToString("dd/MM/yyyy")">@item.Periodo</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:20px"> </td>
                                <td style="width:80px">Hasta*:</td>
                                <td>
                                    <select id="cbPeriodoFin" name="cbPeriodoFin" style="width:120px;">
                                        @foreach (var item in Model.ListaPeriodo)
                                        {
                                            <option value="@item.IniRemision.ToString("dd/MM/yyyy")">@item.Periodo</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:120px">Cumplimiento:</td>
                                <td>
                                    <select id="cbCumplimiento" name="cbCumplimiento" multiple="multiple">
                                        <option value="'1'">Dentro del Plazo</option>
                                        <option value="'2'">Fuera del Plazo</option>
                                        <option value="'4'">No Cumplió</option>
                                    </select>
                                </td>
                                <td style="width:20px"> </td>
                                <td style="width:80px">Empresas:</td>
                                <td>
                                    <select id="cbEmpresa" name="cbEmpresa" multiple="multiple">
                                    </select>
                                </td>
                                <td></td>
                                <td>
                                    <input type="checkbox" id="chkUlcoes" /> UL COES
                                </td>
                            </tr>
                        </table>
                            <br />
                            <div >
                                <input type="button" id="btnConsultar" value='Buscar'/>
                                <input type="button" id="btnExportar" value="Exportar a Excel"/>
                            </div>
                    </div>
                    <div class="content-tabla">
                        <div style="clear:both"></div>
                        <div id="listado"></div>
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="bodyexcel" id='detalleFormato'></div>
    </div>
</div>
<input type="hidden" id="hfEmpresa" value="" />
<input type="hidden" id="hfCumplimiento" value="" />
<input type="hidden" id="hfUlCoes" value="" />