@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMaximaModel

<table class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>Código Cliente</th>
            <th>RUC de la Empresa</th>
            <th>Fecha Ingreso</th>
            @for (int i = 0; i <= Model.MesesReporteCumplimiento; i++)
            {
                <th>@Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MM yyyy")</th>
            }

        </tr>
    </thead>
    <tbody>
        @using (var dr = Model.ListaReporteCumplimiento)       
        {
            while (dr.Read())
            {
             <tr class="menu-contextual">
                 <td style="text-align:left">@(dr["NOMBRE_EMPRESA"] != null ? dr["NOMBRE_EMPRESA"].ToString() : "")</td>
                 <td>@(dr["EQUIABREV"] != null ? dr["EQUIABREV"].ToString() : "")</td>
                 <td>@(dr["RUC_EMPRESA"] != null ? dr["RUC_EMPRESA"].ToString() : "")</td>
                 <td>@(dr["EMPRFECINGRESO"] != null && !string.IsNullOrEmpty(dr["EMPRFECINGRESO"].ToString()) ?
                 Convert.ToDateTime(dr["EMPRFECINGRESO"]).ToString("dd/MM/yyyy") : "")</td>
                 @for (int i = 0; i <= Model.MesesReporteCumplimiento; i++)
                 {
                     if (dr[Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MMyyyy")].ToString() == "5")
                     {
                         <td style="background: #F9C3C3;">No determinado</td>
                     }

                     if (dr[Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MMyyyy")].ToString() == "4")
                     {
                         <td style="background: #F9C3C3;">No Cumplió</td>
                     }

                     if (dr[Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MMyyyy")].ToString() == "3")
                     {
                         <td style="background: #F9C3C3;">Inconsistente</td>
                     }

                     if (dr[Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MMyyyy")].ToString() == "2")
                     {
                         <td style="background: #FFDF75;">Fuera del Plazo</td>
                     }

                     if (dr[Model.FechaInicioReporteCumplimiento.AddMonths(i).ToString("MMyyyy")].ToString() == "1")
                     {
                         <td style="background: #97F9B0;">Dentro del Plazo</td>
                     }
                 }


             </tr>
            }
           
        }
    </tbody>
</table>