@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoInfoBaseModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    
    var CENTGENECODI2 = (COES.MVC.Intranet.Areas.Transferencias.Models.CentralGeneracionModel)TempData["CENTGENECODI2"];
    var EMPRCODI2 = (COES.MVC.Intranet.Areas.Transferencias.Models.EmpresaModel)TempData["EMPRCODI2"];
    var BARRCODI2 = (COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel)TempData["BARRCODI2"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/codigoinfobase.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
@using (Html.BeginForm("Save", "codigoinfobase", FormMethod.Post, new { id = "frmCodigoInfoBase", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","codigoinfobase")'" alt="Retornar" title="Retornar" />
            </div>
        </div>

        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.Entidad.CoInfBCodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.CentGeneCodi, "Unidad Generadora")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            <select id="CENTGENECODI2" name="Entidad.CENTGENECODI" multiple="multiple">
                                @foreach (var item in @CENTGENECODI2.ListaCentralGeneracion)
                                {
                                    <option value="@item.CentGeneCodi">@item.CentGeneNombre </option>
                                }
                            </select>

                        </div>
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.BarrCodi, "Barra de Transferencia")
                            (*)
                        </div>
                    </td>
                    <td>
                        <select id="BARRCODI2" name="Entidad.BARRCODI" multiple="multiple">
                            @foreach (var item in @BARRCODI2.ListaBarras)
                            {
                                <option value="@item.BarrCodi">@item.BarrNombBarrTran </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Entidad.BarrCodi)
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.EmprCodi, "Empresa generadora")
                            (*)
                        </div>
                    </td>
                    <td>
                        <select id="EMPRCODI2" name="Entidad.EMPRCODI" multiple="multiple">
                            @foreach (var item in @EMPRCODI2.ListaEmpresas)
                            {
                                <option value="@item.EmprCodi">@item.EmprNombre </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Entidad.EmprCodi)
                    </td>      
                  
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Coinfbfechainicio, "Fecha de Inicio de Operación")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Coinfbfechainicio, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Coinfbfechainicio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Coinfbfechafin, "Fecha Fin de Operación")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Coinfbfechafin, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Coinfbfechafin)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.CoInfBCodigo, "Código")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.CoInfBCodigo)
                            @Html.ValidationMessageFor(model => model.Entidad.CoInfBCodigo)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.CoInfBEstado, "Estado")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.CoInfBEstado, "ACT")Activo</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.CoInfBEstado, "INA")Inactivo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
                </table>
            </div>
    
   </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    function FormatFecha(sFecha) {   //DD/MM/AAAA
        if (sFecha == "") return false;
        var sDia = sFecha.substring(0, 2);
        var sMes = sFecha.substring(3, 5);
        var sAnio = sFecha.substring(6, 10);
        return new Date(sAnio, sMes, sDia);
    }

    jQuery.validator.addMethod("MasGrandeQue", function (value, element, params) {
        //value: (val)fechafinal / params: (tag)fechainicial
        if (FormatFecha(value)) {
            //Si la fechafinal no es nulo compara
            return FormatFecha(value) >= FormatFecha($(params).val());
        }
        //caso contrario si la fechafinal es vacia, devuelve true
        return !isNaN(value);
    }, '<br>Debe ser mayor que la fecha de Inicio de Operación.');

    $("#frmCodigoInfoBase").validate({
        rules: {
            "Entidad.CoInfBCodigo": {
                required: true,
            },
            Coinfbfechainicio: {
                required: true,
            },
            "Entidad.EMPRCODI": {
                required: true,
            },
            "Entidad.BARRCODI": {
                required: true,
            },
            "Entidad.CENTGENECODI": {
                required: true,
            },
            Coinfbfechafin: {
                MasGrandeQue: "#Coinfbfechainicio"
            }
        }
    });

</script>
<script>
    var sAccion = '@ViewData["sAccion"].ToString()';
    if (sAccion == "Insertar") {
        document.forms[0].Coinfbfechafin.value = '';
        document.forms[0].Entidad_Coinfbestado[0].checked = true;
    }


   
    if (sAccion == "Actualizar") {


        $("#CENTGENECODI2").val(["@CENTGENECODI2.Entidad.CentGeneCodi"]).prop("selected", true);
        $("#BARRCODI2").val(["@BARRCODI2.Entidad.BarrCodi"]).prop("selected", true);
        $("#EMPRCODI2").val(["@EMPRCODI2.Entidad.EmprCodi"]).prop("selected", true);
    }

    function mostrarPaginado()
    { }
</script>
