@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoInfoBaseModel

@{
    ViewBag.Title = "Vista preliminar";
}
<fieldset>
    <legend>Código de Información Base</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CentGeneNombre, "Central Generadora : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CentGeneNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.BarrNombBarrTran, "Barra Transferencia :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.BarrNombBarrTran)</div>
            </td>
        </tr>
        <tr>           
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.EmprNomb, "Empresa  : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.EmprNomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CoInfBFechaInicio, "Fecha de Inicio :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CoInfBFechaInicio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CoInfBFechaFin, "Fecha Fin :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CoInfBFechaFin)</div>
            </td>
        </tr>
        <tr>           
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CoInfBCodigo, "Código de Infor. Base :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CoInfBCodigo)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>