

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Descripcion</th>
            <th>Fecha y hora de Ejecución</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in (List<COES.Dominio.DTO.Sic.WbNotificacionDTO>)ViewBag.Listado)
        {
            <tr>
                <td>
                    <a href="JavaScript:editar(@item.NotiCodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                    <a href="JavaScript:eliminar(@item.NotiCodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                </td>
                <td>@item.NotiTitulo</td>
                <td>@item.NotiDescripcion</td>
                <td>
                    <span>@(((DateTime)item.NotiEjecucion).ToString("dd/MM/yyyy HH:mm"))</span>
                </td>
                <td>
                    @if (item.NotiStatus == 1)
                    {
                        <span>Enviado</span>
                    }
                    else
                    {
                        <span>Pendiente</span>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>