@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.InformacionFrecuenciaModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha Hora</th>
            <th class="sorting_desc">Equipo GPS</th>
            <th>Frecuencia</th>
            <th class="sorting_desc">Equipo GPS - Comp.</th>
            <th>Frecuencia Comp.</th>
            <th>Dif.</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @if (Model.ListaDesviacionFrecuencia != null)
        {
            foreach (var item in Model.ListaDesviacionFrecuencia)
            {
                <tr>
                    <td style="font-weight:bold">@contador</td>
                    <td style="text-align:left;">@item.FechaHora</td>
                    <td style="text-align:left;">@item.GPSNombre</td>
                    <td style="text-align:left;">@item.Frecuencia</td>
                    <td style="text-align:left;">@item.GPSNombreComparar</td>
                    <td style="text-align:left;">@item.FrecuenciaComparar</td>
                    <td style="text-align:left;">@item.FrecuenciaDiferencia.ToString("#.##0")</td>
                </tr>
                contador = contador + 1;
            }
        }

    </tbody>
</table>
<div id="popup">
</div>