@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteSegundosFaltantesModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Carga Virtual";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<script src="~/Areas/ReportesFrecuencia/Content/Scripts/InformacionFrecuencia.js"></script>
<div class="ast">
    @if (@sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title">
        <div class="content-titulo">Reporte - Eventos Frecuencia</div>
        <div class="content-botonera">
            <input type="button" value="Reporte - Eventos Frecuencia" onclick="location.href='@Url.Action("ReporteEventosFrecuencia","AnalisisInformacion")'" alt="Reporte - Eventos Frecuencia" title="Reporte - Eventos Frecuencia" />
            <input type="button" value="Reporte - Segundos Faltantes" onclick="location.href='@Url.Action("ReporteSegundosFaltantes","AnalisisInformacion")'" alt="Reporte - Segundos Faltantes" title="Reporte - Segundos Faltantes" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("ReporteEventosFrecuencia","AnalisisInformacion")'" alt="Refrescar" title="Refrescar" />

            <input type="button" value="Enviar Correo" onclick="javascript: enviarCorreosReporteSegFaltantes();" alt="Enviar Correo" title="Enviar Correo" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
            @Html.Action("ListaSegundosFaltantes")
        </div>
    </div>

</div>

