@model COES.MVC.Intranet.Areas.CortoPlazo.Models.CongestionModel

<div class="content-registro">
    <form id="frmRegistroEjecutado">
        <div id="mensajeEditEjecutado" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Tipo:</td>
                <td class="registro-control">
                    <select id="cbTipoEjecutado" name="IndTipo">
                        <option value="S">Lineas simples</option>
                        <option value="C">Grupo de Líneas</option>
                    </select>
                    <input type="hidden" id="hfTipoEjecutado" value="@Model.Entidad.Indtipo" />
                </td>
            </tr>
            <tr id="trLinea" style="display:none">
                <td class="registro-label">Línea:</td>
                <td class="registro-control">
                    <select id="cbLineaEjecutado" name="CodigoLinea" style="width:300px">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaLinea)
                        {
                            <option value="@item.Configcodi">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfLineaEjecutado" value="@Model.Entidad.Configcodi" />
                </td>
            </tr>
            <tr id="trBarra1" style="display:none">
                <td class="registro-label">Barra A:</td>
                <td class="registro-control">
                    <select id="cbBarra1" name="Barra1">
                        @foreach (var item in Model.ListaBarra1)
                        { 
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarra1" value="@Model.Entidad.Nombarra1" />
                </td>
            </tr>
            <tr id="trBarra2" style="display:none">
                <td class="registro-label">Barra B:</td>
                <td class="registro-control">
                    <select id="cbBarra2" name="Barra2">
                        @foreach (var item in Model.ListaBarra2)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarra2" value="@Model.Entidad.Nombarra2" />
                </td>
            </tr>
            <tr id="trConjunto" style="display:none">
                <td class="registro-label">Conjunto:</td>
                <td class="registro-control">
                    <select id="cbConjuntoLinea" name="CodigoGrupo">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaGrupo)
                        {
                            <option value="@item.Grulincodi">@item.Grulinnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfConjuntoLinea" value="@Model.Entidad.Grulincodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Inicio</td>
                <td class="registro-control">
                    <input type="text" id="txtInicioEditEjecutado" name="FechaInicio" value="@Model.FechaInicio" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Final:</td>
                <td class="registro-control">
                    <input type="text" id="txtFinEditEjecutado" name="FechaFin" value="@Model.FechaFin">
                </td>
            </tr>           
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarEjecutado" value="Grabar" />
            <input type="button" id="btnCancelarEjecutado" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdEjecutado" name="Codigo" value="@Model.Entidad.Congescodi" />
    </form>
</div>
