@model COES.MVC.Intranet.Areas.CortoPlazo.Models.CongestionModel

<div class="popup-title"><span>Congestión de Líneas</span></div>

<table border="0" class="pretty tabla-icono" id="tablaEjecutadoSimple">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Línea</th>
            <th>Barra 1</th>
            <th>Barra 2</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Last User</th>
            <th>Last Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaCongestionSimple.Count > 0)
        {
            foreach (var item in Model.ListaCongestionSimple)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarEjecutado(@item.Congescodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarEjecutado(@item.Congescodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@*@item.Emprnomb*@</td>
                    <td>@item.Equinomb</td>
                    <td>@*@item.Nombarra1*@</td>
                    <td>@*@item.Nombarra2*@</td>
                    <td>
                        @if (item.Congesfecinicio != null)
                        {
                            <span>@(((DateTime)item.Congesfecinicio).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>
                        @if (item.Congesfecfin != null)
                        {
                            <span>@(((DateTime)item.Congesfecfin).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>@item.Lastuser</td>
                    <td>
                        @if (item.Lastdate != null)
                        {
                            <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="popup-title" style="margin-top:20px"><span>Congestión de Conjuntos de Líneas</span></div>

<table border="0" class="pretty tabla-icono" id="tablaEjecutadoConjunto">
    <thead>
        <tr>
            <th></th>
            <th>Conjunto de Línea</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Last User</th>
            <th>Last Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaCongestionConjunto.Count > 0)
        {
            foreach (var item in Model.ListaCongestionConjunto)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarEjecutado(@item.Congescodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarEjecutado(@item.Congescodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Grulinnombre</td>
                    <td>
                        @if (item.Congesfecinicio != null)
                        {
                            <span>@(((DateTime)item.Congesfecinicio).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>
                        @if (item.Congesfecfin != null)
                        {
                            <span>@(((DateTime)item.Congesfecfin).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>@item.Lastuser</td>
                    <td>
                        @if (item.Lastdate != null)
                        {
                            <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>