@model COES.MVC.Intranet.Areas.CortoPlazo.Models.CongestionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/CortoPlazo/Content/Scripts/congestionmanual.js?v=4.0"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>


<style>
    .handsontable table thead th {
        background-color: #2980B9;
        color: white;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Congesti&oacute;n Manual</div>
    <div class="content-botonera">    
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>
    </form>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" style="width:120px" /></td>
                @*<td>Hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" /></td>*@                                
                <td>
                    <input type="button" id="btnVer" value="Consultar" />
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <input type="hidden" id="hfDatos" value="@Model.Datos" />
    <table style="width:100%">
        <tr>
            <td>
                <table style="width:100%">
                    <tr>
                        <td style="width:73%" >
                            <div class="popup-title"><span>Congestión Ejecutada</span></div>
                            <div style="clear:both; height:5px"></div>
                            <div id="contenedor"></div>
                        </td>
                        <td style="width:2%; padding-top:40px">

                            <a href="JavaScript:copiarContenido();">
                                <img src="~/Content/Images/copiartodo.png" title="Permite copiar lo programado al real." />
                            </a>
                        </td>
                        <td style="width:25%">
                            <div class="popup-title"><span>Congestión Programada</span></div>
                            <div style="clear:both; height:5px"></div>
                            <div id="contenedorProgramado"></div>
                        </td>
                    </tr>
                </table>
                
            <td>
        </tr>
    </table>
</div>


<div id="popupGrupo" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Grupos de Despacho</span></div>
    <div class="popup-text" id="contenidoGrupo">
        Seleccione: 
        <select id="cbGrupo">
            <option value="">-SELECCIONE-</option>
            @foreach (var item in Model.ListaGrupoDespacho)
            {
                <option value="@item.Grupocodi">@item.Gruponomb</option>
            }
        </select>
        <input type="button" id="btnAgregarGrupo" value="Agregar" />
                    
        <div style="clear:both; height:20px"></div>
        <table id="tablaGrupo" class="pretty tabla-icono" >
            <thead>
                <tr>
                    <th>Código</th>                   
                    <th>Grupo Despacho</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <input type="hidden" id="hfFila" />
        <input type="hidden" id="hfCodigosDespacho" />

        <div style="width:100px; margin:20px auto">
            <input type="button" id="btnAceptarGrupo" value="Aceptar" />
        </div>
    </div>
</div>
