@model COES.MVC.Intranet.Areas.SupervisionPlanificacion.Models.RpfEnergiaPotenciaModel

<div style="clear:both; height:15px"></div>
<table border="0" class="tabla-formulario" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>RPF Energía total (GWh)</th>
            <th>RPF Potencia media (MW)</th>
            <th>Energía Hid. Ind. (GWh)</th>
            <th>Potencia Hid.Ind (MW)</th>

        </tr>
    </thead>
    <tbody>

        @if (Model.ListaRPF != null && Model.ListaRPF.Count > 0)
        {
            foreach (var item in Model.ListaRPF)
            {

                <tr onclick="mostrarDetalle('@item.Rpfhidfecha.ToString("dd/MM/yyyy")');" style="cursor:pointer">
                    <td>@item.Rpfhidfecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Rpfenetotal.ToString("#0.000")</td>
                    <td>@item.Rpfpotmedia.ToString("#0.000")</td>
                    <td>@item.Eneindhidra.ToString("#0.000")</td>
                    <td>@item.Potindhidra.ToString("#0.000")</td>

                </tr>


            }
        }

    </tbody>
</table>