@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel


@{int i = 0;} 
@{int j = 0;} 
<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th>ZONA</th>
            <th>CODIGO ICCP</th>
            <th>NOMBRE</th>
            <th>UNIDAD</th>
            <th>% DISPONIBILIDAD</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.GetDispDiaSignal7Version != null)
            {
                foreach (var item in Model.GetDispDiaSignal7Version)
                {
                    i++;
                <tr>
                    <td align="center">@item.Zonanomb</td>
                    <td align="center">@item.Canaliccp</td>
                    <td align="center">@item.Canalnomb</td>
                    <td align="center">@item.Canalunidad</td>
                    <td align="center">@item.Estcnltvalido</td>
                </tr>
                }
            }
        }
    </tbody>
</table>

<input type="hidden" id="hfContador" value=@i />
<input type="hidden" id="hfVersion" value=@Model.Version />


