@model COES.MVC.Intranet.Areas.Sorteo.Models.HistoricoSorteoModel

<table id="tablaHistorico" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Especialista</th>
            <th>Coordinador</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListarHistorico.Count() > 0)
        {
            var it = 0;
            foreach (var item in Model.ListarHistorico)
            {
                it = it + 1;
        <tr>
            <td>@it</td>
            <td>@item.Logusuario</td>


            <!-- <td>@item.Logfecha</td>-->
            <td>
                @if (@item.Logfecha != null)
                {
                    @item.Logfecha.ToString("dd/MM/yyyy");
                }
            </td>

            <td>@item.Logdescrip</td>
            <td>@item.Logtipo</td>
            <td>@item.Logcoordinador</td>
            <td>@item.Logdocoes</td>
        </tr>
            }
        }
    </tbody>
</table>