@model COES.MVC.Intranet.Areas.Sorteo.Models.ListarAreasModel

<table id="tablaArea" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Código</th>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>Unidad</th>
            @*<th>PADRE</th>*@
            <th>Quitar</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListarAreas.Count() > 0)
            {
                var it = 0;
                foreach (var item in Model.ListarAreas)
                {
                    it = it + 1;
                <tr>
                    <td>@it</td>
                    <td>@item.equicodi</td>
                    <td>@item.emprnomb</td>
                    <td>@item.areanomb</td>
                    @*<td>@item.equiabrev</td>*@
                    <td>@item.equiabrev</td>
                    <td>
                        <a href="#" id="btnEliminarArea">
                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>