@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ValorPropiedadModel

<div class="form-title">
    <div class="content-titulo">Capacidad de regulaci&oacute;n</div>
    <div class="content-botonera">

        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />

    </div>

</div>

<div class="panel-container" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>


        <table>
            <tr>
                <td>
                    <input type="hidden" id="hfPropCodi" value="@Model.Propcodi" name="Propcodi" />
                    <input type="hidden" id="hfEquiCodi" value="@Model.Equicodi" name="Equicodi" />

                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                </td>
            </tr>

            <tr>
                <td id="lblEquiAbrev">Fecha</td>

                <td><input type="text" id="txtfecha" name="txtfecha" value="@Model.Fecha" style="width:120px" /></td>

            </tr>

            <tr>
                <td><span id="lblEquiEstado">Valor</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbEquiEstado">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfEquiEstado" name="EquiEstado" value="@Model.Valor" />
                                            <input type="radio" id="rbEquiEstadoN" name="rbEquiEstado" value="NO TIENE" />NO TIENE
                                            <input type="radio" id="rbEquiEstadoE" name="rbEquiEstado" value="ESTACIONAL" />ESTACIONAL
                                            <input type="radio" id="rbEquiEstadoH" name="rbEquiEstado" value="HORARIA" />HORARIA
                                            <input type="radio" id="rbEquiEstadoD" name="rbEquiEstado" value="DIARIA" />DIARIA
                                            <input type="radio" id="rbEquiEstadoS" name="rbEquiEstado" value="SEMANAL" />SEMANAL
                                            <input type="radio" id="rbEquiEstadoM" name="rbEquiEstado" value="MENSUAL" />MENSUAL
                                            <input type="radio" id="rbEquiEstadoA" name="rbEquiEstado" value="ANUAL" />ANUAL
                                            <input type="radio" id="rbEquiEstadoP" name="rbEquiEstado" value="PLURIANUAL" />PLURIANUAL

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </form>



</div>


