@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.ReporteModel

<table class="pretty tabla-adicional" border="0" @*class="pretty tabla-adicional"*@ cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th onclick="ordenar('EMPRNOMB');">Empresa</th>
            <th onclick="ordenar('AREANOMB');">Subestaci&oacute;n</th>
            <th onclick="ordenar('EQUIABREV');">Equipo</th>
            <th onclick="ordenar('SRMRECTITULO');">T&iacute;tulo Recomendaci&oacute;n</th>
            <th onclick="ordenar('USERNAME');">Responsable</th>
            <th onclick="ordenar('SRMRECFECHAVENCIM');">Fecha vencimiento</th>
            <th onclick="ordenar('SRMRECDIANOTIFPLAZO');">Plazo (d&iacute;as)</th>
            <th onclick="ordenar('SRMCRTDESRIP');">Criticidad</th>
            <th onclick="ordenar('SRMSTDDESRIP');">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecomendacion)
        {
            <tr>
                <td>@item.Emprnomb</td>
                <td>@item.Areanomb</td>
                <td>@item.Equiabrev</td>
                <td>@item.Srmrectitulo</td>
                <td>@item.Username</td>
                <td>
                    @if (item.Srmrecfechavencim != null)
                    {
                        <span>@(((DateTime)item.Srmrecfechavencim).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td style="text-align:right">@item.Srmrecdianotifplazo</td>
                <td style='text-align:center; background: #@item.Srmcrtcolor;'>


                    @*@if (item.Srmcrtcolor != "F8F32B")
        {
            <font color="#fff">@item.Srmcrtdescrip</font>
        }
        else
        {
            <font color="#000000">@item.Srmcrtdescrip</font>

        }*@
                    @item.Srmcrtdescrip
                </td>
                <td style='text-align:center; background: #@item.Srmstdcolor'>

                    @*@if (item.Srmstdcolor != "F8F32B")
                    {
                        <font color="#fff">@item.Srmstddescrip</font>
                    }
                    else
                    {
                        <font color="#000000">@item.Srmstddescrip</font>*@

                   @* }*@
                    @item.Srmstddescrip
                </td>
            </tr>
        }
    </tbody>
</table>