@model COES.MVC.Intranet.Areas.Despacho.ViewModels.CostosVariableRepCvViewModel
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tablaCostos">
    <thead>
        <tr>
            <th>Grupo</th>
            <th>Escenario</th>
            <th>Pe</th>
            <th>EficBTUKwh</th>
            <th>EficTerm</th>
            <th>CComb</th>
            <th>CVC</th>
            <th>CVNC</th>
            <th>FPMax</th>
            <th>FPMed</th>
            <th>FPMin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCostosVariables)
        {
            <tr>
                <td>@item.Gruponomb</td>
                <td>@item.Escenomb</td>
                <td>@item.Pe</td>
                <td>@item.Eficbtukwh</td>
                <td>@item.Eficterm</td>
                <td>@item.Ccomb</td>
                <td>@item.Cvc</td>
                <td>@item.Cvnc</td>
                <td>@item.Fpmax</td>
                <td>@item.Fpmed</td>
                <td>@item.Fpmin</td>
            </tr>
        }
    </tbody>
</table>