@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleCostoVariableViewModel
@{
    ViewBag.Title = "Detalle de Costo Variable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Despacho/Content/Scripts/DetalleRepcv.js"></script>
<div class="form-title">
    <div class="content-titulo">Detalle de actualización</div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>
<div class="content-hijo">
    <input id="hdnRepCodi" type="hidden" value="@Model.iRepCodi" />
    <input id="hdnTipo" type="hidden" value="@Model.sTipoRepCV" />
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:100%;">
            <tr>
                <td class="tbform-label">Tipo</td>
                <td>
                    <select id="cbTipo" name="iTipo" @Model.Enabled>
                        @foreach (var item in Model.lsTipo)
                        {
                            <option value="@item.Valor">@item.Descripcion</option>
                        }
                    </select>

                </td>
                <td class="tbform-label">Nombre</td>
                <td>
                    <input type="text" id="txtNombreRepcv" value="@Model.sNombreRepCV" style="width:200px" @Model.Enabled />
                </td>
                <td class="tbform-label">Fecha</td>
                <td>
                    <input type="text" id="txtFechaRepcv" value="@Model.dFechaRepCV.ToString("dd/MM/yyyy")" style="width:120px" @Model.Enabled />
                </td>
                <td class="tbform-label">Detalle</td>
                <td>
                    <textarea id="txtDetalle" value="@Model.sDetalleRepCV" @Model.Enabled style="width:700px" multiple="">@Model.sDetalleRepCV</textarea>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Observaciones</td>
                <td>
                    <input type="text" id="txtNombreRepcv" value="@Model.sObservaciones" @Model.Enabled />
                </td>
                <td ></td>
                <td>
                    @*<select id="cbEscenarios">
                        @foreach (var item in Model.lsEscenarios)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>*@
                </td>
            </tr>
        </table>
    </div>
    <table class="content-tabla-search" style="width:100%;">
        <tr>
            <td class="tbform-label">Parametros actualizados</td>
        </tr>
    </table>
    <div id="listadoParametros"></div>
    
    <table class="content-tabla-search" style="width:100%;">
        <tr>
            <td class="tbform-label">Costos variables almacenados en la B.D. SICOES <input type="button" id="btnExportarCV" value="Exportar a Excel" /></td>
        </tr>
    </table>
    <div id="listadoCV"></div>
</div>
