@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleCostoVariableViewModel

<table class="content-tabla-search" style="width:auto">
    <tr>
        <td>Tipo de Programa:</td>
        <td>
            <select id="cbTipoProgramaNew" name="cbTipoProgramaNew" style="width: 190px; margin-bottom: 6px;">
                @foreach (var item in Model.ListaTipoPrograma)
                {
                    <option value="@item.Valor">@item.Descripcion</option>
                }
            </select>

        </td>

        <!-- Diario-->
        <td class="tp_diario_new">Fecha:</td>
        <td class="tp_diario_new">
            <input type="text" id="FechaNew" name="FechaNew" value="@Model.FechaDia" style="width: 100px" />
        </td>

        <!-- Semanal -->
        <td class="tp_semanal_new" style="display: none">Año:</td>
        <td class="tp_semanal_new" style="display: none">
            <input type="text" id="anhonew" name="anhonew" style="width:70px;" value="@Model.Anho" class="filtro-contenido" />
        </td>
        <td class="tp_semanal_new" style="display: none">Semana Operativa:</td>
        <td class="tp_semanal_new" style="display: none">
            <div id="divSemanaNew" style="display: inline-block">
                <select id="cbSemananew" name="IdSemananew" style="width: 155px"></select>
            </div>
        </td>
    </tr>

    <tr>
        <td class="">Nombre:</td>
        <td class="">
            <input type="text" id="nombreNew" name="nombreNew" value="@Model.sNombreRepCV" style="width:188px" />
        </td>
        <td class="">Fecha Emisión:</td>
        <td class="">
            <input type="text" id="FechaEmiNew" name="FechaEmiNew" value="@Model.FechaDiaEmision" style="width:140px" />
        </td>
    </tr>

    <tr>
        <td class="">Detalle:</td>
        <td class="" colspan="7">
            <textarea id="txtDetalleNew" style="width:700px">@Model.sDetalleRepCV</textarea>
        </td>
    </tr>

    <tr>
        <td class="">Observaciones:</td>
        <td class="" colspan="7">
            <textarea id="txtObsNew" style="width:700px">@Model.sObservaciones</textarea>
        </td>
    </tr>
</table>

<div style="clear:both; height:20px"></div>
<table style="width:200px;">
    <tr>
        <td id="tdGuardar" style="display: none">
            <input id="btnGuardar" type="button" value="Guardar">
        </td>
        <td id="tdCancelar" style="display: none">
            <input id="btnCancelar" type="button" value="Cancelar">
        </td>
        <td id="tdCancelar2" style="display: none">
            <input id="btnCancelar2" type="button" value="Cerrar">
        </td>
    </tr>
</table>

<input type="hidden" id="hfTipoProgramaNew" value="@Model.sTipoRepCV" />
<input type="hidden" id="hfSemanaNew" value="@Model.SemanaActual" />
<input type="hidden" id="hfCodigoNew" value="@Model.iRepCodi" />