@model COES.MVC.Intranet.Areas.Despacho.ViewModels.IndexCostosVariablesViewModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Código</th>
            <th>Fecha-Hora</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Fecha Emisión</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>         
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoCostos)
        {
            <tr>
                <td>@item.Repcodi</td>
                <td>@item.RepfechaDesc</td>
                <td>@item.ReptipoDesc</td>
                <td>@item.Repnomb</td>
                <td style="text-align: left; padding-left: 20px">@item.Repdetalle</td>
                <td>@item.RepfechaemDesc</td>
                <td>@item.Repobserva</td>
                <td>
                    <a href="JavaScript:editarDetAct(@item.Repcodi);"><img style="height: 18px; margin-left: 2px; width: 18px;" src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar detalle" alt="Editar detalle" /></a>
                    <a href="JavaScript:mostrarDetalle(@item.Repcodi);"><img style="height: 18px; margin-left: 2px; width: 18px;" src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver detalle" alt="Ver detalle" /></a>
                    @**<a href="JavaScript:actualizarCostoVariable(@item.Repcodi);"><img style="height: 18px; margin-left: 2px; width: 18px;"  src="@Url.Content("~/Content/Images/Copiado.png")" title="Actualizar" alt="Actualizar" /></a>*@
                    <a href="JavaScript:reporteCostoVariable(@item.Repcodi);"><img style="height: 18px; margin-left: 2px; width: 18px;" src="@Url.Content("~/Content/Images/btn-properties.png")" title="Reporte" alt="Reporte" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
