@model COES.MVC.Intranet.Areas.Despacho.ViewModels.ParametrosRepCvViewModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tablaParametros">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Abreviatura</th>
            <th>Unidad</th>
            <th>Valor/Expresión</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaParametros)
        {
            <tr>
                <td>@item.Fechadat</td>
                <td>@item.ConcepDesc</td>
                <td>@item.Concepabrev</td>
                <td>@item.ConcepUni</td>
                <td>@item.Formuladat</td>
            </tr>
        }
    </tbody>
</table>