@model COES.MVC.Intranet.Areas.Despacho.ViewModels.CostosVariableRepCvViewModel
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tablaCostos">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Grupo</th>
            <th>Modo operación</th>
            <th>Abreviatura</th>
            <th>Cec SI</th>
            <th>Pe</th>
            <th>Rend SI</th>
            <th>C. Comb.</th>
            <th>CVNC</th>
            <th>CVC</th>
            <th>CV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCostosVariables)
        {
            <tr>
                <td>@item.Emprnomb</td>
                <td>@item.GruponombPadre</td>
                <td>@item.Gruponomb</td>
                <td>@item.Grupoabrev</td>
                <td>@item.CecSi</td>
                <td>@item.Pe</td>
                <td>@item.RendSi</td>
                <td>@item.Ccomb</td>
                <td>@item.Cvnc</td>
                <td>@item.Cvc</td>
                <td>@item.Cv</td>
            </tr>
        }
    </tbody>
</table>
