@model COES.MVC.Intranet.Areas.Despacho.ViewModels.ParametrosRepCvViewModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Grupo</th>
            <th>Propiedad</th>
            <th>Abreviatura</th>
            <th>Valor</th>
            <th>Unidad</th>
            <th>Fecha</th>
            <th>Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaParametros)
        {
            <tr>
                <td>@item.GrupoNomb</td>
                <td>@item.ConcepDesc</td>
                <td>@item.Concepabrev</td>
                <td>@item.Formuladat</td>
                <td>@item.ConcepUni</td>
                <td>@item.Fechadat.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                <td>@item.Lastuser</td>
            </tr>
        }
    </tbody>
</table>