@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleCostoVariableViewModel
@{
    ViewBag.Title = "Reporte de Costo Variable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Despacho/Content/Scripts/ReporteCostosVariables.js?v=1.3"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<style>
    select:disabled {
        background: lightgray;
        color: #4876AA;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }

    fieldset {
        margin-bottom: 15px;
        padding-right: 7px;
        padding-bottom: 7px;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Reporte de costos variables</div>
    <div class="content-botonera">
        <input type="button" id="btnReporte" value="Generar reporte @Model.NombreGenerarReporte" />
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width: auto">
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td>
                    <input type="text" id="txtNombreRepcv" value="@Model.sNombreRepCV" style="width:200px" @Model.Enabled />
                </td>
                <td class="tbform-label">Fecha:</td>
                <td>
                    <input type="text" id="txtFechaRepcv" value="@Model.dFechaRepCV.ToString("dd/MM/yyyy")" style="width:120px" @Model.Enabled />
                </td>
                <td class="tbform-label">Fecha Emisión:</td>
                <td>
                    <input type="text" id="txtFechaRepcv" value="@Model.dFechaEmision.ToString("dd/MM/yyyy hh:mm:ss")" style="width:120px" @Model.Enabled />
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both; height:10px"></div>

    <fieldset>
        <legend>Detalle</legend>

        <textarea id="txtDetalle" @Model.Enabled style="width:700px">@Model.sDetalleRepCV</textarea>
    </fieldset>

    <div id="tab-container-principal" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#costosVar">Tabla de costos variables</a></li>
            <li class='tab'><a href="#parametrosGenerales">Parámetros generales</a></li>
        </ul>
        <div class='panel-container'>
            <div id="costosVar">
                <div id="listaCostoVariables"></div>
            </div>
            <div id="parametrosGenerales">
                <div id="listaParametrosGen"></div>
            </div>

        </div>
    </div>
</div>

<input id="hdnRepCodi" type="hidden" value="@Model.iRepCodi" />