@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleCostoVariableViewModel
@{
    ViewBag.Title = "Detalle de Costo Variable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Despacho/Content/Scripts/DetalleRepcv.js?v=1.3"></script>

<style>
    select:disabled {
        background: lightgray;
        color: #4876AA;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }

    fieldset {
        margin-bottom: 15px;
        padding-right: 7px;
        padding-bottom: 7px;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Detalle de Actualización</div>
    <div class="content-botonera">
        <input type="button" id="btnActualizar" value="Actualizar Parámetros" />
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width: auto">
            <tr>
                <td class="tbform-label">Tipo de Programa:</td>
                <td>
                    <select id="cbTipo" name="iTipo" @Model.Enabled>
                        @foreach (var item in Model.lsTipo)
                        {
                            <option value="@item.Valor">@item.Descripcion</option>
                        }
                    </select>
                </td>
                <td class="tbform-label">Nombre:</td>
                <td>
                    <input type="text" id="txtNombreRepcv" value="@Model.sNombreRepCV" style="width:200px" @Model.Enabled />
                </td>
                <td class="tbform-label">Fecha:</td>
                <td>
                    <input type="text" id="txtFechaRepcv" value="@Model.dFechaRepCV.ToString("dd/MM/yyyy")" style="width:120px" @Model.Enabled />
                </td>
            </tr>
        </table>
    </div>

    <fieldset>
        <legend>Detalle</legend>

        <textarea id="txtDetalle" @Model.Enabled style="width:700px">@Model.sDetalleRepCV</textarea>
    </fieldset>

    <fieldset>
        <legend>Parámetros actualizados</legend>

        <div id="listadoParametros" style="width: auto"></div>

    </fieldset>

    <fieldset>
        <legend>Observaciones</legend>

        <textarea id="txtNombreRepcv" @Model.Enabled style="width:700px">@Model.sObservaciones</textarea>
    </fieldset>

    <fieldset>
        <legend>Costos variables almacenados en la B.D. SICOES</legend>
        

        <div id="listadoCV" style="width: auto"></div>
    </fieldset>
</div>

<input id="hdnRepCodi" type="hidden" value="@Model.iRepCodi" />
<input id="hdnTipo" type="hidden" value="@Model.sTipoRepCV" />