@model COES.MVC.Intranet.Areas.Equipamiento.Models.PropiedadModel
@{
    ViewBag.Title = "Listado de propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/propiedad.js?v=1.2.0"></script>
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Listado de propiedades</div>
    <div class="content-botonera">
        <input type="button" id="btnDescargar" value="Descargar" />
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnImportar" value="Importar" />
        }
        @*<input type="button" id="btnBuscar" value="Consultar" />*@
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnNuevo" value="Nuevo" />
        }
    </div>
</div>

<input type="hidden" id="TienePermiso" value="@Model.TienePermiso" />
<div class="content-hijo" id="mainLayout">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td>
                    <select id="cbFamilia" name="famcodi" style="width: 220px">
                        <option value="-2">-SELECCIONE-</option>
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.ListaFamilia)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Ficha técnica:</td>
                <td>
                    <select id="cbFichaTecnica" name="propficha">
                        @foreach (var item in Model.ListaFichatecnica)
                        {
                            <option value="@item.Valor">@item.Descripcion</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Nombre de propiedad:</td>
                <td><input type="text" id="txtNombrePropiedad" name="NombrePropiedad" value="" /></td>


                <td class="tbform-label">Estado:</td>
                <td>
                    <select id="cbEstadoConsulta" name="propactivo">
                        <option value="-1">-TODOS-</option>
                        <option value="1">Activo</option>
                        <option value="0">Baja</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>
                @*<td>
            <input type="checkbox" id="checkEstadoConsulta" checked style="margin-top: 5px;" />
            <span style="display: inline-table; ">Estado Todos</span>
        </td>*@

            </tr>
        </table>
    </div>

    <div class="table-list" id="listado">
    </div>

    <div style="clear:both; height:30px"></div>
</div>


<!--Ventana flotante de Formulacion de Propiedad-->
<div id="popupFormPropiedad" class="general-popup">

</div>

<div id="popupEditarFormula" class="general-popup" style="height:600px;width:1000px"> 
    <div class="popup-title">
        <span id="tituloInicio">Editar Fórmula</span>
        <div class="content-botonera">
            <input type="button" value="Cerrar" id="btnCerrar" class='b-close' style='float: right; margin-left: 35px;' />
        </div>
    </div>
    <div>
        <table id="tblCarga" style="width:95%">
            <tr>
                <td class="tbform-label">Funciones</td>
                <td class="tbform-label">Formulación</td>
            </tr>
            <tr>
                <td>
                    <div id="idTFunciones" style="height:230px;">

                    </div>
                </td>
                <td rowspan="3" style="vertical-align:top;"><textarea id="PropformulaEdit" name="PropformulaEdit" style="width:240px; height: 480px; resize: none;"></textarea></td>
            </tr>
            <tr>
                <td class="tbform-label">Propiedades</td>
                <td class="tbform-label">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <div id="idTPropiedades" style="height:250px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type="button" value="Actualizar" id="btnActualizarFormula" name="btnActualizarFormula" class="form-action" style='float: right; margin-left: 35px;' />
    </div>
</div>