@model COES.MVC.Publico.Areas.Medidores.Models.BusquedaMaximaDemandaModel
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<script src="~/Areas/Medidores/Content/Scripts/maximademanda.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Máxima Demanda Diaria</div>
    <div class="content-botonera">      
        <input type="button" id="btnExportar" value="Exportar" />  
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="home-txt" style="float:left; margin-bottom:20px; font-size:11px">
        CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
        * PR-N° 27: EGRESOS POR COMPRA DE POTENCIA<br />
        * PR-N° 28: INGRESOS GARANTIZADOS POR POTENCIA FIRME
    </div>
    <div style="clear:both"></div>

    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>Mes Año:</td>
            <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" /></td>
            <td>Tipo de empresa:</td>
            <td>
                <select id="cbTipoEmpresa" multiple="multiple">
                    @foreach (var item in Model.ListaTipoEmpresas)
                    {
                        <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                    }
                </select>
                <input type="hidden" id="hfTipoEmpresa" />
            </td>
            <td>Empresa:</td>
            <td>
                <div id="empresas"></div>
                <input type="hidden" id="hfEmpresa" />
            </td>
        </tr>
        <tr>
            <td>Tipo de Generación</td>
            <td>
                <select id="cbTipoGeneracion" name="IdTipoGeneracion" multiple="multiple">
                    @foreach (var item in Model.ListaTipoGeneracion)
                    {
                        <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                    }
                </select>
                <input type="hidden" id="hfTipoGeneracion" />
            </td>
            <td>Central:</td>
            <td>
                <select id="cbCentral" style="width:140px">
                    <option value="0">TODOS</option>
                    <option value="1" selected="selected">COES</option>
                    <option value="2">NO COES</option>
                    <option value="3">GENERACION RER</option>
                </select>
            </td>
            <td colspan="2">
                <input type="button" id="btnBuscar" value="Buscar" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>