@model COES.MVC.Publico.Areas.Medidores.Models.MaximaDemanda
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
}

<div style="clear:both; height:15px"></div>

  <table class="pretty tabla-adicional" id="tabla" role="grid" border="1">
    <thead>
        <tr>
            <th rowspan="2">Fecha</th>
            <th colspan="2">HFP</th>
            <th colspan="2">HP</th>
        </tr>
        <tr>
            <th class="celda-amarrilla">MW</th>
            <th class="celda-amarrilla">HORA</th>
            <th class="celda-amarrilla">MW</th>
            <th class="celda-amarrilla">HORA</th>
        </tr>
    </thead>
    <tbody>
        @{             
        var i = 0;
        var styleHFP = "text-align: center;";
        var styleHP = "text-align: center;";
        foreach (var reg in Model.ListaDemandaDia_HFP_HP)
        {
            styleHFP = "text-align: center;";
            styleHP = "text-align: center;";
            if (Model.IndexHFP == i) 
            {
                styleHFP = "background-color:#C4E8FF;text-align: center;";
            }
           
            if (Model.IndexHP == i)
            {
                styleHP = "background-color:#C4E8FF;text-align: center;";
            }
                    
           <tr>
                <td style="text-align: center;">@reg.Medifecha.ToString("dd/MM/yyyy")</td>
                <td style="@styleHFP">@reg.ValorHFP.ToString("N", nfi)</td>
                <td style="@styleHFP">@reg.MedifechaHFP</td>
                <td style="@styleHP">@reg.ValorHP.ToString("N", nfi)</td>  
                <td style="@styleHP">@reg.MedifechaHP</td>
           </tr>
            i++;
        }
        }
    </tbody>
</table>