@model COES.MVC.Publico.Areas.Medidores.Models.MaximaDemanda
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
    string ValorMD = "";
}



<div style="clear:both; height:15px"></div>

 <table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Tipo de Generación</th>
            <th>Central</th>
            <th>Grupo</th>

            @for (var i = 1; i <= Model.ndiasXMes; i++)
            {
                <th>@i</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model.ListaDemandaDia)
        {

            <tr>
                <td>@reg.Empresanomb</td>
                <td>@reg.Tipogeneracion</td>
                <td>@reg.Centralnomb</td>
                <td>@reg.Gruponomb</td>
                @for (var i = 0; i < Model.ndiasXMes; i++)
                {
                    if (reg.valores.Count > i)
                    {
                        ValorMD = reg.valores[i].ToString("N", nfi);
                    }
                    else
                    {
                        ValorMD = "";
                    }
                    <td style="text-align: right;">@ValorMD</td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        @foreach (var reg in Model.ListaDemandaDiaTotalResumen)
        {

            <tr>
                <td>@reg.Empresanomb</td>
                <td>@reg.Tipogeneracion</td>
                <td>@reg.Centralnomb</td>
                <td>@reg.Gruponomb</td>
                @if (reg.Gruponomb == "TOTAL")
                {
                    for (var i = 0; i < Model.ndiasXMes; i++)
                    {
                        <td style="text-align: right;">@reg.valores[i].ToString("N", nfi)</td>
                    }
                }
                else
                {
                    for (var i = 0; i < Model.ndiasXMes; i++)
                    {
                        <td style="text-align: right;">@reg.horamin[i]</td>
                    }
                }
            </tr>
        }
    </tfoot>
</table>



 