@model COES.MVC.Intranet.Areas.Admin.Models.IntegranteModel
<table border="0" class="pretty tabla-icono" id="tablaCuenta">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Cargo</th>
            <th>Teléfono</th>
            <th>Móvil</th>
            <th>Notificar</th>
            <th>Estado</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEmpresaCorreo)
        {
        <tr>
            <td>
                <a href="JavaScript:editar(@item.Empcorcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminarCuenta(@item.Empcorcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Emprnomb</td>
            <td>@item.Empcornomb</td>
            <td>@item.Empcoremail</td>
            <td>@item.Empcorcargo</td>
            <td>@item.Empcortelefono</td>
            <td>@item.Empcormovil</td>
            <td>
                @if (item.Empcorindnotic == "S")
                {
                    <span>SI</span>
                }
                else 
                {
                    <span>NO</span>
                }
            </td>
            <td>
                @if (item.Empcorestado == "A")
                {
                    <span>Activo</span>
                }
                else if (item.Empcorestado == "I")
                {
                    <span>Inactivo</span>
                }
            </td>

        </tr>
        }
    </tbody>
</table>
