@model COES.MVC.Intranet.Areas.Admin.Models.IntegranteModel

<div class="popup-title">
    <span>Datos Representante Legal</span>
</div>

<div class="content-registro">

    <form id="frmRegistroAdicional" name="frmRegistroAdicional">
        <div id="mensajeCuenta" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            @if (Model.Integrante == "N")
            {
                <tr>
                    <td class="registro-label">Nombre:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombreRepresentante" name="Rptenombres" value="@Model.Representante.Rptenombres" />
                    </td>
                </tr>

                <tr>
                    <td class="registro-label">Apellidos:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombreCuenta" name="Rpteapellidos" value="@Model.Representante.Rpteapellidos" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Cargo:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCargo" name="Rptecargoempresa" value="@Model.Representante.Rptecargoempresa" />
                    </td>
                </tr>

                <tr>
                    <td class="registro-label">Correo:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCorreoCuenta" name="Rptecorreoelectronico" value="@Model.Representante.Rptecorreoelectronico" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Teléfono:</td>
                    <td class="registro-control">
                        <input type="text" id="txtTelefono" name="Rptetelefono" value="@Model.Representante.Rptetelefono" />
                    </td>
                </tr>

                <tr>
                    <td class="registro-label">Móvil:</td>
                    <td class="registro-control">
                        <input type="text" id="txtMovil" name="Rptetelfmovil" value="@Model.Representante.Rptetelfmovil" />
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="registro-label">Nombre:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombreRepresentante" name="Rptenombres" value="@(Model.Representante.Rptenombres + " " + Model.Representante.Rpteapellidos)" readonly="readonly" />
                    </td>
                </tr>
            }


            <tr>
                <td class="registro-label">¿Incluir en notificación?:</td>
                <td class="registro-control">
                    <select id="cbIndNotificacion" name="Rpteindnotic">
                        <option value="S">Si</option>
                        <option value="N">No</option>
                    </select>
                    <input type="hidden" id="hfIndNotificacion" value="@Model.Representante.Rpteindnotic" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRepresentante" value="Grabar" />
            <input type="button" id="btnCancelarRepresentante" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdRepresentante" name="Rptecodi" value="@Model.Representante.Rptecodi" />
        <input type="hidden" id="hfIdRepresentanteEmpr" name="Emprcodi" value="@Model.Representante.Emprcodi" />


    </form>
</div>
