@model COES.MVC.Intranet.Areas.Admin.Models.IntegranteModel

<table border = "0" class="pretty tabla-icono" id="tabla">
<thead>
    <tr>
        <th>Acciones</th>
        <th>Empresa</th>
        <th>RUC</th>
        <th>Razón social</th>
        <th>Tipo Empresa</th>
        <th>Acceso Virtual</th>
        <th>Fecha Acceso</th>
    </tr>
</thead>
<tbody>
    @if (Model.ListadoEmpresa.Count > 0)
    {
        foreach (var item in Model.ListadoEmpresa)
        {
            <tr>
                <td>
                    <a href="JavaScript:enviarCredenciales(@item.Emprcodi);">
                        <img src="~/Content/Images/btn-ok.png" title="Generar credencial" />
                    </a>
                    <a href="JavaScript:verCorreos(@item.Emprcodi, '@item.Emprcoes');">
                        <img src="~/Content/Images/btn-edit.png" title="Registrar correos de notificación" />
                    </a>
                </td>
                <td>@item.Emprnomb</td>
                <td>@item.Emprruc</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.Tipoemprdesc</td>         
                <td>
                    @if (item.Emprindusutramite == "S")
                    {
                        <span>SI</span>
                    }
                    else
                    {
                        <span>NO</span>
                    }
                </td>
                <td>
                    @if (item.Emprfecusutramite != null)
                    {
                        <span>@(((DateTime)item.Emprfecusutramite).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
            </tr>
        }
    }
</tbody>
</table>