@model COES.MVC.Intranet.Areas.Admin.Models.IntegranteModel
<table border="0" class="pretty tabla-icono" id="tablaRepresentante">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>RUC</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Tipo</th>
            <th>Notificar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaRepresentantes.Count > 0)
        {
            foreach (var item in Model.ListaRepresentantes)
            {
        <tr>
            <td>
                <a href="JavaScript:editarRepresentante(@item.Rptecodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                @if (Model.Integrante == "N")
                {
                    <a href="JavaScript:eliminarRepresentante(@item.Rptecodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                }

            </td>
            <td>@item.Emprnomb</td>
            <td>@item.Emprruc</td>
            <td>@item.Rptenombres</td>
            <td>@item.Rpteapellidos</td>
            <td>@item.Rptecargoempresa</td>
            <td>@item.Rptecorreoelectronico</td>
            <td>@item.Rptetelefono</td>
            <td>@item.Rptetelfmovil</td>
            <td>@item.Rptetiprepresentantelegal</td>
           
            <td>
                @if (item.Rpteindnotic == "S")
                {
                    <span>SI</span>
                }
                else
                {
                    <span>NO</span>
                }
            </td>
        </tr>
            }
        }
    </tbody>
</table>
