@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.PronosticoModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/DemandaBarras/pronostico_barras.js?v=3.0"></script>

<div class="h-panel" style="min-height:600px;">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar los cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-pronostico" title="Ejecutar pronóstico de la demanda para todas las barras CP">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-export" title="Exportar Pronóstico por Barras">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
            </label>
        </div>        
        <div class="tool-item">
            <label id="btn-duplicar" title="Duplicar versión">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-duplicate.png" 
                     style="max-width:30px; max-height: 30px;" />
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div class="h-panel" style="margin-bottom: 5px;">
            <div class="filters">
                <div>Fecha(C)</div>
                <input id="id-fecha" type="text" class="f-fecha" value="@Model.Fecha" />
            </div>
            <div class="filters">
                <div>Barras CP</div>
                <select id="id-barra" class="f-select">
                    @foreach (var item in Model.ListBarraCP)
                    {
                        <option value="@item.Prnredbarracp">@item.Gruponomb</option>
                    }
                </select>
            </div>
            <div class="filters">
                <div>Agrupaciones</div>
                <select id="id-agrupacion" class="f-select">
                    @foreach (var item in Model.ListRelacionTna)
                    {
                        <option value="@item.Reltnacodi">@item.Reltnanom</option>
                    }
                </select>
            </div>
            <div class="filters">
                <div>Versiones</div>
                <select id="id-version" class="f-select">
                    @foreach (var item in Model.ListVersionFecha)
                    {
                        <option value="@item.Vergrpcodi" selected>@item.Vergrpnomb</option>
                    }
                </select>
            </div>
        </div>
        <div id="workspace" class="h-panel" style="height: 630px;">
            <div id="ht" style="margin-right: 5px; min-width: 500px; overflow: auto;"></div>
            <div id="hc" style="width: 100%;"></div>
            <div class="box" style="height: 250px;">
                <div class="box-title">Opciones</div>
                <div class="box-body">
                    <div style="min-width: 140px; padding: 5px;">
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <div>Fuente de información</div>
                            <div>
                                <label>
                                    <input type="radio" name="id-tipoFuente" value="total" checked> Total
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="id-tipoFuente" value="vegetativa"> Vegetativa
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="id-tipoFuente" value="industrial"> Industrial
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="bq" style="min-width: 140px; padding: 5px;">
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <label>Bloque Base :</label>
                            <input id="base" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque base" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <label>Bloque Media :</label>
                            <input id="media" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque media" />
                        </div>
                        <div class="simple-box" style="padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <label>Bloque Punta :</label>
                            <input id="punta" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque punta" />
                        </div>
                    </div>
                    <div id="fh" style="min-width: 140px; padding: 5px;">
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med1" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med2" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med3" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med4" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med5" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med6" type="text" class="toolHistorico" style="width: 100px;" />
                        </div>
                        <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                            <input id="med7" type="text" class="toolHistorico ws-tool-calendar" style="width: 100px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="general-popup" style="min-width: 350px; min-height: 200px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Configuraciones para el pronóstico</span>
        <div style="float: right;">
            <input id="btn-pop-ejecutar" type="button" value="Ejecutar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div id="pop-alert" style="display: none"></div>
        <div class="v-panel">
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters flx-col-2">
                    <div>Fecha de referencia</div>
                    <input id="id-fecha-ejecutar" type="text" style="width: 150px;" value="@Model.Fecha" />
                </div>
                <div class="filters flx-col-2">
                    <div>Barras CP</div>
                    <select id="id-pop-barra" multiple>
                        @foreach (var item in Model.ListBarraCP)
                        {
                            <option value="@item.Prnredbarracp">@item.Gruponomb</option>
                        }
                    </select>
                </div>
            </div>
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters flx-col-2">
                    <div>Tipo de pronóstico</div>
                    <select id="id-tipo" class="f-pop-select" style="width: 200px;">
                        <option value="D" selected>Diario</option>
                        <option value="S">Semanal</option>
                    </select>
                </div>
                <div class="filters flx-col-2">
                    <div>Nro. Dias/Semanas</div>
                    <select id="id-nro" class="f-pop-select" style="width: 200px;"></select>
                </div>
            </div>
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters flx-col-2">
                    <div>Fuente de información</div>
                    <label>
                        <input type="radio" name="id-fuente" value="tna"> TNA
                    </label>
                    <label>
                        <input type="radio" name="id-fuente" value="pr03" checked> PR-03
                    </label>
                </div>
                <div class="filters flx-col-2">
                    <div>Método</div>
                    <select id="id-metodo" class="f-pop-select" style="width: 200px;">
                        <option value="S" selected>Suavizado Exponencial</option>
                        <option value="P">Promedio Aritmético</option>
                    </select>
                </div>
            </div>
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters flx-col-2">
                    <div style="margin-top:6px;">Nro. Dias Cálculo Factor de aporte</div>
                    <select id="id-dias-aporte" class="f-pop-select" style="width: 200px;">
                        @for (int i = 1; i < 6; i++)
                        {
                            if (i == 1)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <div class="filters flx-col-2">
                    <div>
                        <label>
                            <input type="checkbox" id="chk-negativo" />Corregir Valores negativos
                        </label>
                    </div>
                    <div>
                        <input type="number"
                               id="id-negativo"
                               style="width: 195px;"
                               disabled/>
                    </div>
                </div>                
            </div>
            <div class="h-panel">                
                <div class="filters flx-col-2">
                    <div>Versión</div>
                    <div>
                        <input type="text" id="id-nom-version" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupExport" class="general-popup" style="min-width: 350px; min-height: 200px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Configuraciones para exportar el pronóstico</span>
        <div style="float: right;">
            <input id="btn-pop-exportar" type="button" value="Exportar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje-export" style="display: none"></div>
        <div id="pop-alert-export" style="display: none"></div>
        <div class="v-panel">
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters">
                    <div>Fecha de inicio</div>
                    <input id="id-fecha-inicio"
                           class="f-fecha-reporte"
                           type="text"
                           style="width: 150px;"
                           value="@Model.Fecha" />
                </div>
                <div class="filters">
                    <div>Fecha de fin</div>
                    <input id="id-fecha-fin"
                           class="f-fecha-reporte"
                           type="text"
                           style="width: 150px;"
                           value="@Model.FechaFin" />
                </div>
                <div class="filters">
                    <div>Versión</div>
                    <select id="id-exportar-version">
                        @foreach (var item in Model.ListVersionFecha)
                        {
                            <option value="@item.Vergrpcodi">@item.Vergrpnomb</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupDuplicar" class="general-popup" style="min-width: 350px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Duplicar Versión</span>
        <div style="float: right;">
            <input id="btn-duplicar-guardar" type="button" value="Guardar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-duplicar-mensaje" style="display: none"></div>
        <div id="pop-duplicar-alert" style="display: none"></div>
        <div class="v-panel">
            <div class="h-panel" style="margin-bottom: 10px">
                <div class="filters">
                    <div>Seleccionar Fecha</div>
                    <input id="id-duplicar-fecha" type="text" style="width: 150px;" value="@Model.Fecha" />
                </div>
                <div class="filters">
                    <div>Version</div>
                    <div>
                        <input type="text" id="id-duplicar-nombre" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>