@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.PronosticoModel

<script src="~/Areas/PronosticoDemanda/Content/Scripts/DemandaBarras/traslado_carga.js?v=3.0"></script>

<div class="h-panel" style="min-height:600px;">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guarda los cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div class="h-panel" style="margin-bottom: 5px;">
            <div class="filters">
                <div>Fecha</div>
                <input id="idFecha" type="text" class="f-fecha" value="@Model.Fecha" />
            </div>
            <div class="filters">
                <div>Versiones</div>
                <select id="idVersion" class="filtroSimple">
                    @foreach (var item in Model.ListVersionFecha)
                    {
                        <option value="@item.Vergrpcodi">@item.Vergrpnomb</option>
                    }
                </select>
            </div>
            <div class="filters">
                <div>Barra Orígen</div>
                <select id="idBarraOrigen" class="filtroSimple">
                    @foreach (var item in Model.ListBarrasOrigen)
                    {
                        <option data-contador="@item.PrnmgrTrasladoCount" value="@item.Grupocodi">@item.Gruponomb</option>
                    }
                </select>
            </div>
            <div class="filters">
                <div>Barra Destino</div>
                <select id="idBarraDestino" class="filtroSimple">
                    @foreach (var item in Model.ListBarrasOrigen)
                    {
                        <option data-contador="@item.PrnmgrTrasladoCount" value="@item.Grupocodi">@item.Gruponomb</option>
                    }
                </select>
            </div>
        </div>
        <div id="workspace" class="h-panel" style="height: 530px;">
            <div id="ht" style="margin-right: 5px; min-width: 800px; overflow: auto;"></div>
        </div>
    </div>
</div>
