@model  COES.MVC.Intranet.Areas.Monitoreo.Models.IndicadorModel

@{
    ViewBag.Title = "Dashboard MME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Monitoreo/Content/Css/css.css?v=1.4" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>
<script>
    var Highstock = Highcharts;
    Highcharts = null;
</script>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-more.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>
<script src="~/Areas/Monitoreo/Content/Scripts/dashBoard.js?v=1.9.3"></script>


<div class="form-title">
    <div class="content-titulo">Dashboard MME</div>

</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#IMME-1">IMME-1</a></li>
            <li class='tab'><a href="#IMME-2">IMME-2</a></li>
            <li class='tab'><a href="#IMME-3">IMME-3</a></li>
            <li class='tab'><a href="#IMME-4">IMME-4</a></li>
            <li class='tab'><a href="#IMME-5">IMME-5</a></li>
            <li class='tab'><a href="#IMME-6">IMME-6</a></li>
        </ul>

        <div id="IMME-1">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>

                        <td>
                            <select id="cbPeriodoIndicador1" name="cbEmpresa" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>
                            <div id="fechaDescripcion">
                                Fecha:
                            </div>
                        </td>
                        <td>
                            <div id="divDiaMesAnioIndicador1">
                                <input type="text" id="txtPeriodoDiaIndicador1" name="txtFechaInicio" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador1">
                                <input type="text" id="txtPeriodoSemanaIndicador1" name="txtFechaInicio" />
                            </div>

                            <div id="divMesAnioIndicador1">
                                <input type="text" id="txtPeriodoMesIndicador1" name="txtFechaInicio" />
                                <input type="hidden" id="hfAnhoIni" />
                            </div>
                        </td>

                        <td>

                            <div id="divSemanaIndicador1"> </div>
                            <input type="hidden" id="hfSemanaIniIndicador1" value="@Model.NroSemana" />
                        </td>

                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-1" name="cbEmpresa" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="button" id="btnProcesarIndicador1" value="Consultar">

                        </td>

                    </tr>
                </table>

            </div>

            <div style=" float: left; width: 50%; height: 400px;">

                <div id="divMedidorIndicador1" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style=" float: left; width: 50%; height: 400px;">

                <div id="divGrupoDespachoIndicador1" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style=" width: 70%; height: 400px;">

                <div id="divReporteBarraEmpresaIndicador1" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

            <div style="float: right; width: 30%;">

                <div id="divTotalMwIndicador1" style="height: auto; "></div>
            </div>

        </div>
        <div id="IMME-2">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>

                        <td>
                            <select id="cbPeriodoIndicador2" name="cbPeriodo2" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>Fecha:</td>
                        <td>
                            <div id="divDiaMesAnioIndicador2">
                                <input type="text" id="txtPeriodoDiaIndicador2" name="txtFechaInicio" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador2">
                                <input type="text" id="txtPeriodoSemanaIndicador2" name="txtFechaInicio" />
                            </div>

                            <div id="divMesAnioIndicador2">
                                <input type="text" id="txtPeriodoMesIndicador2" name="txtFechaInicio" />
                                <input type="hidden" id="hfAnhoIni" />
                            </div>
                            <input type="hidden" id="hfSemanaIniIndicador2" value="@Model.NroSemana" />
                        </td>


                        <td>

                            <div id="divSemanaIndicador2"> </div>
                            <input type="hidden" id="hfSemanaIn2" value="@Model.NroSemana" />
                        </td>

                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-2" name="cbEmpresa2" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador2" value="Consultar">

                        </td>
                    </tr>
                </table>
            </div>

            <div style=" float: left; width: 50%; height: 400px;">

                <div id="divCurvasIndicador2" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style=" float: left; width: 50%; height: 400px;">

                <div id="divReporteHHITotal" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style=" width: 70%; height: 400px;">

                <div id="divReporteBarraGrafica2" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

            <div style="float: right; width: 30%;">

                <div id="divResultadoIndicador2" style="height: auto; "></div>
            </div>


        </div>

        <div id="IMME-3">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>

                        <td>
                            <select id="cbPeriodoIndicador3" name="cbEmpresa3" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>Fecha:</td>
                        <td>
                            <div id="divDiaMesAnioIndicador3">
                                <input type="text" id="txtPeriodoDiaIndicador3" name="txtPeriodoDiaIndicador4" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador3">
                                <input type="text" id="txtPeriodoSemanaIndicador3" name="txtPeriodoSemanaIndicador3" />
                            </div>
                            <div id="divMesAnioIndicador3">
                                <input type="text" id="txtPeriodoMesIndicador3" name="txtPeriodoMesIndicador3" />
                            </div>
                        </td>

                        <td>
                            <div id="divSemanaIndicador3"> </div>
                            <input type="hidden" id="hfSemanaIniIndicador3" value="@Model.NroSemana" />
                        </td>


                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-3" name="cbEmpresa" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador3" value="Consultar">

                        </td>
                    </tr>
                </table>

            </div>


            <div style=" float: left; width: 100%; height: 400px;">

                <div id="divCurvasIndicador3" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style="width: 70%; height: 400px;">

                <div id="divBarraGraficaIndicador3" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

            <div style="float: right; width: 30%;">

                <div id="divResultado1Indicador3" style=" height: auto; "></div>
            </div>
        </div>


        <div id="IMME-4">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>

                        <td>
                            <select id="cbPeriodoIndicador4" name="cbEmpresa4" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>Fecha:</td>
                        <td>
                            <div id="divDiaMesAnioIndicador4">
                                <input type="text" id="txtPeriodoDiaIndicador4" name="txtPeriodoDiaIndicador4" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador4">
                                <input type="text" id="txtPeriodoSemanaIndicador4" name="txtPeriodoSemanaIndicador4" />
                                <input type="hidden" id="hfSemanaIniIndicador4" value="@Model.NroSemana" />
                            </div>
                            <div id="divMesAnioIndicador4">
                                <input type="text" id="txtPeriodoMesIndicador4" name="txtPeriodoMesIndicador4" />
                            </div>
                        </td>

                        <td>
                            <div id="divSemanaIndicador4"> </div>
                            <input type="hidden" id="hfSemanaIn4" value="@Model.NroSemana" />
                        </td>


                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-4" name="cbEmpresa" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador4" value="Consultar">

                        </td>
                    </tr>
                </table>

            </div>


            <div style=" float: left; width: 100%; height: 400px;">

                <div id="divCurvasIndicador4" style="float: left; width: 100%; height: auto;"></div>
            </div>

            <div style=" float: left; width: 70%; height: 400px;">

                <div id="divBarraGraficaIndicador4" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

            <div style="float: right; width: 30%;">

                <div id="divResultado1Indicador4" style="height: auto; "></div>
            </div>


        </div>


        <div id="IMME-5">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>

                        <td>
                            <select id="cbPeriodoIndicador5" name="cbEmpresa5" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>Fecha:</td>
                        <td>
                            <div id="divDiaMesAnioIndicador5">
                                <input type="text" id="txtPeriodoDiaIndicador5" name="txtPeriodoDiaIndicador5" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador5">
                                <input type="text" id="txtPeriodoSemanaIndicador5" name="txtPeriodoSemanaIndicador5" />
                            </div>
                            <div id="divMesAnioIndicador5">
                                <input type="text" id="txtPeriodoMesIndicador5" name="txtPeriodoMesIndicador5" />
                            </div>
                        </td>


                        <td>
                            <div id="divSemanaIndicador5"> </div>

                            <input type="hidden" id="hfSemanaIniIndicador5" value="@Model.NroSemana" />
                        </td>

                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-5" name="cbEmpresa5" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>

                        <td>
                            <div id="divBarraIndicador5">
                            </div>

                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador5" value="Consultar">

                        </td>
                    </tr>
                </table>

            </div>

            <div style=" width: 98%;">

                <div id="panelGraficoIndicador5" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

        </div>


        <div id="IMME-6">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Período:</td>


                        <td>
                            <select id="cbPeriodoIndicador6" name="cbEmpresa6" style="width:90px;">

                                <option value=01>Diario</option>
                                <option value=02>Semanal</option>
                                <option value=03>Mensual</option>
                            </select>
                        </td>

                        <td>Fecha:</td>
                        <td>
                            <div id="divDiaMesAnioIndicador6">
                                <input type="text" id="txtPeriodoDiaIndicador6" name="txtPeriodoDiaIndicador5" value="@Model.FechaInicio" />
                            </div>

                            <div id="divDiaSemanaIndicador6">
                                <input type="text" id="txtPeriodoSemanaIndicador6" name="txtPeriodoSemanaIndicador6" />
                            </div>
                            <div id="divMesAnioIndicador6">
                                <input type="text" id="txtPeriodoMesIndicador6" name="txtPeriodoMesIndicador6" />
                            </div>
                        </td>


                        <td>
                            <div id="divSemanaIndicador6"> </div>
                            <input type="hidden" id="hfSemanaIniIndicador6" value="@Model.NroSemana" />
                        </td>

                        <td>Empresas:</td>

                        <td>
                            <select id="cbEmpresaIMM-6" name="cbEmpresa6" style="width:250px;" multiple="multiple">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>

                        <td>
                            <div id="divBarraIndicador6">
                            </div>

                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador6" value="Consultar">

                        </td>

                    </tr>
                </table>

            </div>

            <div style=" width: 98%;">

                <div id="panelGraficoIndicador6" style="float: left; width: 100%; height: auto; margin-bottom: 10px;"></div>
            </div>

        </div>

    </div>
    <input type="hidden" id="hfMes" value="@Model.DiaMes" />

</div>