@model COES.MVC.Intranet.Areas.DemandaCP.Models.ReprogramaModel
<script src="~/Areas/DemandaCP/Content/Scripts/reprograma/ajuste_barras.js?v=1.1"></script>

<div id="contentModulo"
     class="submodules"
     style="height: 500px;"
     data-modulo="@Model.IdModulo">
    <div class="flex-row">
        <div class="rep-ajustebarra-box"
             style="min-width:250px">
            <div class="rep-ajustebarra-filtro">
                Hora de análisis: 
                <select id="selRabIntervalo"
                        style="width: 120px; margin-left: 10px;">
                    @foreach (var item in Model.ListaIntervalos)
                    {
                        <option value="@item[0]">@item[1]</option>
                    }
                </select>
            </div>
            <div style="margin-bottom: 20px;">
                <table id="dtDiffPositiva"
                       class="pretty tabla-icono diff-positiva"></table>
            </div>
            <div>
                <table id="dtDiffNegativa"
                       class="pretty tabla-icono diff-negativa"></table>
            </div>
        </div>
        <div class="rep-ajustebarra-box"
             style="min-width:500px">
            <div class="rep-ajustebarra-filtro">
                Barra seleccionada:
                <select id="selRabBarra"
                        style="width: 250px; margin-left: 10px;">
                    @foreach (var item in Model.ListaBarras)
                    {
                        <option value="@item.Ptomedicodi">@item.Ptomedibarranomb</option>
                    }
                </select>
            </div>
            <div>
                <div id="ht" 
                     style="min-width: 490px; height: 430px; overflow: auto;"></div>
            </div>            
        </div>
        <div class="rep-ajustebarra-box"
             style="width: 100%;">
            <div class="rep-areasein-filtro"
                 style="float: right;">
                @*<input id="btnConsultar"
                       type="button"
                       value="Consultar" />*@
                <input id="btnGuardar"
                       type="button"
                       value="Guardar" />
            </div>
            <div id="hc"
                 style="width: 100%;"></div>
        </div>
    </div>
</div>
