@model COES.MVC.Intranet.Areas.DemandaCP.Models.ReprogramaModel
<script src="~/Areas/DemandaCP/Content/Scripts/reprograma/module.js?v=1.6"></script>

<div id="message" class="msg-warning" style="display: none;">
    No existe una versión para el día consultado, debe crear una para "Guardar cambios"
</div>
<div class="nt-header">
    <div id="subopt-vegetativa"
         class="nt-header-option suboptions active">
        Vegetativa (V)
    </div>
    <div id="subopt-usuarioslibres"
         class="nt-header-option suboptions">
        Usuarios Libres (UL)
    </div>
    <div id="subopt-ajustebarras"
         class="nt-header-option suboptions nt-header-green">
        Ajuste por Barras
    </div>
    <div id="subopt-areassein"
         class="nt-header-option suboptions nt-header-green">
        Ajustes por áreas SEIN
    </div>
    <div id="subopt-ajustesein"
         class="nt-header-option suboptions nt-header-green">
        Ajuste SEIN
    </div>
    <div id="subopt-totalbarras"
         class="nt-header-option suboptions">
        Total por Barras (V + UL)
    </div>
    <div class="nt-header-last">
        <div class="set-float-r set-flex-row set-align-item-center">
            <div class="i-btn">
                <label id="btnNuevo"
                       title="Crear una nueva versión">
                    <img src="~/Content/Images/insertar.png" />
                    <br />
                    <label>Crear Versión</label>
                </label>
            </div>
            <div class="i-btn">
                <label id="btnImportar"
                       title="Importar datos de otra versión">
                    <img src="~/Content/Images/subir.png" />
                    <br />
                    <label>Importar Datos</label>
                </label>
            </div>
            <div style="margin-right: 10px;">
                <div style="margin-bottom: 7px;">
                    <div>
                        <label>Fecha Consultada</label>
                    </div>
                    <input id="repSelFecha"
                           type="text"
                           value="@Model.Fecha"
                           style="width: 100px;" />
                </div>
                <div style="margin-bottom: 7px;">
                    <div>
                        <label>Día Anterior</label>
                    </div>
                    <input id="repSelFechaAnte"
                           type="text"
                           value="@Model.FechaAnterior"
                           style="width: 100px;" />
                </div>
                <div>
                    <div>
                        <label>Fecha Comparación</label>
                    </div>
                    <input id="repSelFechaComp"
                           type="text"
                           value="@Model.Fecha"
                           style="width: 100px;" />
                </div>
            </div>
            <div>
                <div style="margin-bottom: 7px;">
                    <div>
                        <label>Versión Consultada</label>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div style="margin-right: 3px;">
                            <select id="repSelVersion">
                                @foreach (var item in Model.ListaVersion)
                                {
                                    <option value="@item.Vergrpcodi">@item.Vergrpnomb</option>
                                }
                            </select>
                        </div>
                        <div>
                            <img id="btnConsVersion"
                                 style="cursor: pointer"
                                 src="~/Content/Images/btn-open.png" />
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 7px;">
                    <div>
                        <label>Versión Consultada</label>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div style="margin-right: 3px;">
                            <select id="repSelVersionAnte">
                                @foreach (var item in Model.ListaVersionAnte)
                                {
                                    <option value="@item.Vergrpcodi">@item.Vergrpnomb</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Versión Comparación</label>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div style="margin-right: 3px;">
                            <select id="repSelVersionComp">
                                @foreach (var item in Model.ListaVersionComp)
                                {
                                    <option value="@item.Vergrpcodi">@item.Vergrpnomb</option>
                                }
                            </select>
                        </div>
                        <div>
                            <img id="btnConsComparacion"
                                 style="cursor: pointer"
                                 src="~/Content/Images/btn-open.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="submodule-container"
     class="nt-body"></div>


<div id="repPopNuevo"
     class="general-popup"
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Crear una versión</span>
        <div style="float: right;">
            <input id="rpnBtnNuevo" type="button" value="Aceptar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-bottom: 10px;">
                <div>Fecha</div>
                <input id="rpnInpFecha"
                       type="text"
                       style="width:292px"
                       value="@Model.Fecha" />
            </div>
            <div>
                <div>Nombre</div>
                <input id="rpnInpNombre"
                       type="text"
                       style="width:292px"
                       value="" />
            </div>
        </div>
    </div>
</div>

<div id="repPopImportar"
     class="general-popup"
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Importar Datos</span>
        <div style="float: right;">
            <input id="rpiBtnImportar" 
                   type="button" 
                   value="Aceptar" />
        </div>
    </div>
    <div class="popup-text">
        <div class="msg-warning">
            • Se importarán los datos de la <b>"Versión"</b><br>
            &nbsp;&nbsp; y <b>"Fecha Versión"</b> seleccionados.<br>
            • Los datos importados se <b>"Guardarán"</b><br>
            &nbsp;&nbsp;como los nuevos datos de la versión.
        </div>
        <div class="h-panel">
            <div style="margin-bottom: 10px;">
                <div>Fecha Versión</div>
                <input id="rpiInpFechaVersion"
                       type="text"
                       style="width:292px"
                       value="@Model.Fecha" />
            </div>
            <div style="margin-bottom: 10px;">
                <div>Versión</div>
                <select id="rpiSelVersion"
                        style="width: 300px;">                    
                </select>
            </div>            
        </div>
    </div>
</div>

<div id="repPopDuplicar"
     class="general-popup"
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Duplicar datos de otra versión</span>
        <div style="float: right;">
            <input id="rpdBtnDuplicar"
                   type="button" 
                   value="Duplicar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-bottom: 10px;">
                <div>Fecha Versión</div>
                <input id="rpdInpFechaVersion"
                       type="text"
                       style="width:292px"
                       value="@Model.Fecha" />
            </div>
            <div style="margin-bottom: 10px;">
                <div>Versión</div>
                <select id="rpdSelVersion"
                        style="width: 300px;">
                </select>
            </div>
            <div style="margin-bottom: 10px;">
                <div>Fecha</div>
                <input id="rpdInpFecha"
                       type="text"
                       style="width:292px"
                       value="17/03/2023" />
            </div>
            <div>
                <div>Nombre</div>
                <input id="rpdInpNombre"
                       type="text"
                       style="width:292px"
                       value="" />
            </div>
        </div>
    </div>
</div>


