@model COES.MVC.Extranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "Envío de Formatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $("#btnAceptarOK").click(function () {
        $('#popupFormatoEnviadoOk').bPopup().close();
    });
</script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<link href="~/Areas/Ensayo/Content/Css/popup.css?v=1.1.2" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Ensayo/Content/Scripts/envioformato.js?v=1.1.6"></script>
<script src="~/Areas/Ensayo/Content/Scripts/helper.js?v=1.1.2"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Envío de Formatos para el Ensayo de Potencia</div>
    <div class="content-botonera" id="container">
        <input type="button" id="btnCancelar" value="Regresar" />
    </div>
</div>
<div style="margin:15px;height:800px;">
    <div style="float:initial" id="tablaEmpresaUnidad">
        <div>
            <div class="form-label">Empresa: <b>@Model.Emprnomb</b>  </div>
            <div></div>
            <div style="clear:both; height:10px"></div>
            <div class="form-label">Central: <b> @Model.Equinomb </b> </div>
            <div></div>
            <div style="clear:both; height:10px"></div>
        </div>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'></ul>
        <div class='panel-container'>
        </div>
    </div>
</div>

<div id="popupFormatoEnviadoOk" style="min-height:100px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>¡Formato enviado exitosamente!</span></div>
    <div style="text-align:center; margin:auto;">
        <div style="clear:both; height:10px"></div>
        <div>
            <input type="button" id="btnAceptarOK" value="Aceptar" />
        </div>
    </div>
</div>

<input type="hidden" id="hfCodigo" value="@Model.Ensayocodi" />
<input type="hidden" id="hfListaFormato" value="@Model.ListaFormatoJson" />
<input type="hidden" id="hfListaEquipo" value="@Model.ListaEquipoJson" />