@model COES.MVC.Extranet.Areas.Ensayo.Models.BusquedaEnsayoModel
@{
    ViewBag.Title = "Ensayos de Potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.ListaEmpresas.Count == 0)
    {
        <p>Usuario no tiene empresas asignadas</p>
    }
    else
    {
        <link href="~/Areas/Ensayo/Content/Css/popup.css" rel="stylesheet" />
        <script src="~/Content/Scripts/jquery.format.js"></script>
        <script src="~/Content/Scripts/multiselect.js"></script>
        <link href="~/Areas/Ensayo/Content/Css/css.css?v=1.3" rel="stylesheet" />
        <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
        <script src="~/Areas/Ensayo/Content/Scripts/ensayo.js?v=1.1.3"></script>
        <script src="~/Areas/Ensayo/Content/Scripts/globalesEnsayo.js?v=1.1.3"></script>

        <div class="form-title_intranet">
            <div class="content-titulo">Ensayos de Potencia</div>
            <div class="content-botonera">
                @if (Model.OpNuevo)
                {
                    <input type="button" id="btnAgregarNuevoEnsayo" value="Agregar Nuevo Ensayo" />
                }
                <input type="button" id="btnBuscar" value="Buscar" />
                <input type="button" id="btnExcel" value="Exportar a Excel" />
            </div>
        </div>
        <div class="content-hijo" id="mainLayout">

            @using (Html.BeginForm("Listar", "Evento", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
            {
                <div class="spfilter-container">
                    <table class="content-tabla-search" style="width:auto;display:block">
                        <tr>
                            <td>Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Fecha desde:</td>
                            <td>
                                <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" style="width: 90px" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Central:</td>
                            <td>
                                <div id="centrales">
                                    <select id="cbCentral" name="IdCentral" multiple="multiple">
                                        @foreach (var item in Model.ListaEquipo)
                                        {
                                            <option value="@item.Equicodi">@item.Equinomb</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>Fecha hasta:</td>
                            <td>
                                <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" style="width: 90px" />
                            </td>
                        </tr>
                        <tr></tr>
                    </table>
                    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

                    <input type="hidden" id="hfEmpresa" />
                    <input type="hidden" id="hfCentral" />
                    <input type="hidden" id="hfEstado" />

                </div>
            }

            <div class="content-tabla">
                <div class="table-list" id="listado" style="margin-top: 10px;"></div>
                <div class="tabla-header">
                    <div class="table-paginado" id="paginado"></div>
                </div>
            </div>

            <div style="clear:both; height:30px"></div>

        </div>

        <div id="popupAutorizarEnsayo" style="min-height:300px">
            <span class="button b-close"><span>X</span></span>
            <div class="popup-title"><span>Autorizar Ensayo</span></div>
            <div id="AutorizarEnsayo"></div>
            <input type="hidden" id="hEnsayoCodi" />
        </div>

        <div id="miPopupRegistrarNuevoEnsayo" style="min-height:300px; width: 500px" class="general-popup">
            <span class="button b-close"><span>X</span></span>
            <div class="popup-title"><span>Registrar Nuevo Ensayo</span></div>
            <div id="idRegistrarNuevoEnsayo"></div>
        </div>

        <div id="popupModosOperacion" style="min-height: 100px; min-width: 200px" class="general-popup">
            <span class="button b-close"><span>X</span></span>
            <div class="popup-title"><span>Modos de Operación</span></div>
            <div id="idMostrarMO"></div>
        </div>
    }
}