@model COES.MVC.Extranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "ListaFormato";
    var color = "";
}

<script type="text/javascript">
    salir = function () {
        $('#popupEnsayoHistorialFormato').bPopup().close();
    };
</script>
<div style="clear:both; height:15px"></div>
<div id="reporte">
    <table border="0" class="pretty tabla-adicional" style="width:400px; height:auto" cellspacing="0">
        <thead>
            <tr>
                <th>Formato &nbsp;  <img width="16px;" style="vertical-align: middle" src="@Url.Content("~/Content/Images/bajar.png")" title="Selecciona Archivo a Descargar" alt="" /></th>
                <th>Usuario</th>
                <th>Fecha de envío</th>
                <th>Estado    &nbsp;  <img width="16px;" style="vertical-align: middle" src="@Url.Content("~/Content/Images/Visualizar.png")" title="Selecciona Historial a mostrar" alt="" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstArchEnvioEnsayo)
            {
                if (item.Formatocodi == @Model.Formatocodi)
                {
                    color = "background-color:yellow";

                }
                else
                {
                    color = "";
                }

                <tr style="">
                    <td style="@color; cursor:pointer" title="Descargar Archivo" onclick="abrirArchivo('@item.Ensformatnomblogico');">@item.Formatodesc</td>
                    <td style="@color">@item.Lastuser </td>
                    <td style="@color">@item.Lastdate</td>
                    <td style="cursor:pointer; color:@item.Estadocolor; @color;" title="Ver Historial del Formato" onclick="popupHistorialFormato(@item.Enunidadcodi, @item.Equicodi, @item.Formatocodi);">@item.Estenvnomb </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="popupEnsayoHistorialFormato_eq_@(Model.Equicodi)" style="min-height:200px;" class="bMulti">
    <span class="button b-close"><span>X</span></span>
    <div id="HistorialFormato_eq_@(Model.Equicodi)"></div>
    <input type="hidden" id="hformatoDesc" />
</div>

<input type="hidden" id="hRowChange" value="" />