@model COES.MVC.Extranet.Areas.Ensayo.Models.EnsayoModel

@using (Html.BeginForm("GuardarEnsayo", "ensayo", FormMethod.Post, new { @class = "form-search", name = "formRegistro", id = "formRegistro" }))
{
    <div class="content-registro">
        <table>
            <tr>
                <td class="tbform-label" style="text-align: right">Empresa:</td>
                <td class="tbform-control">
                    <select id="cbEmpresa2" name="cbEmpresa2" style="width:220px;">
                        @if (Model.ListaEmpresas.Count > 0)
                        {
                            foreach (var item in Model.ListaEmpresas)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        }
                    </select>
                    <input type="hidden" id="hfcbEmpresa2" name="Emprcodi" value="@Model.Emprcodi" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label" style="text-align: right">Central:</td>
                <td class="tbform-control">

                    <select id="cbCentral2" name="cbCentral2" style="width:220px;">
                        @if (Model.ListaEquipo.Count > 0)
                        {
                            foreach (var item in Model.ListaEquipo)
                            {
                                <option value="@item.Equicodi">@item.Equinomb</option>
                            }
                        }
                        else
                        {
                            <option value="-1">--SELECCIONE--</option>
                        }

                    </select>
                    <input type="hidden" id="hfcbCentral2" name="Equicodi" value="@Model.Equicodi" />
                </td>
            </tr>

            <tr class="tr-grupo-modo">
                <td class="tbform-label" style="text-align: right;vertical-align: top;">Modo de operación:</td>
                <td class="tbform-control">
                    <table>
                        <tbody>
                            <tr>
                                <td class="" style="vertical-align: top;">
                                    <div id="listaArea">
                                        <table id='tabla_area' style="display: none; margin-top: 15px; width: 70px"></table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>

        <table class="btnAcciones" style="margin-top: 10px !important;  margin: 0 auto;">
            <tr style=" border:1px solid blue">
                <td>
                    <input type="button" id="btnAceptar3" value="Aceptar" />
                </td>
                <td>
                    <input type="button" id="btnCancelar3" value="Cancelar" />
                </td>
            </tr>
        </table>

        <input type="hidden" id="hEnsayoCodi" name="Ensayocodi" value="0" />
    </div>
}

<div id="popupEnsNuevoOK">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Ensayo Guardado Exitosamente..</span></div>
    <div style="clear:both; height:10px"></div>
    <div style="text-align:center; margin:auto">
        <input type="button" id="btnPAceptarEnsayo" value="Aceptar" />
    </div>
</div>