@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteSegundosFaltantesModel
@{
    var sMensajeExito = TempData["sMensajeExito"];
}
@if (@sMensajeExito != null)
{
    <div class="exito mensajes"><font color="red">@sMensajeExito</font></div>
}

<table border="0" class="pretty tabla-icono thead-fixed" id="tablaGral">
    <tr>
        <td>
            <table border="0" class="pretty tabla-icono thead-fixed" id="tabla">
                <thead>
                    <tr>
                        <th style="width:120px">Fecha</th>
                        <th style="width:120px">Hora</th>
                        <th style="width:120px">Frecuencia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaFrecuencia)
                    {
                        <tr>
                            <td style="text-align: center;">@item.Fecha</td>
                            <td style="text-align: center;">@item.Hora</td>
                            <td style="text-align: center;">@item.Frecuencia</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        
        <td valign="top" style="vertical-align:top;">
            <table border="0" class="pretty tabla-icono thead-fixed" id="tabla2">
                <thead>
                    <tr>
                        <th style="width:120px">Fecha Hora</th>
                        <th style="width:120px">Frecuencia</th>
                        <th style="width:120px">Subita</th>
                        <th style="width:120px">Máximo</th>
                        <th style="width:120px">Mínimo</th>
                        <th style="width:120px">Tensión</th>
                        <th style="width:120px">Seg.Disp.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaFrecuenciaMinuto)
                    {
                    <tr>
                        <td style="text-align: center;">@item.FechaHora.ToString()</td>
                        <td style="text-align: center;">@item.H0</td>
                        <td style="text-align: center;">@item.Subita</td>
                        <td style="text-align: center;">@item.Maximo</td>
                        <td style="text-align: center;">@item.Minimo</td>
                        <td style="text-align: center;">@item.Tension</td>
                        <td style="text-align: center;">@item.NumSeg</td>
                    </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>

</table>

    
    <div id="popup">
    </div>
