@model COES.MVC.Intranet.Areas.Hidrologia.Models.HidrologiaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/enviodetallado.js"></script>

<div class="form-title">
    <div class="content-titulo">Envios de información</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Consultar" />
          <input type="button" id="btnExportar" value="Exportar excel" />           
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="spfilter-container">
         <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa"/>
                </td>
                <td>Tipo de Formato:</td>
                <td>
                   <select id="cbTipoFormato" name="IdTipoFormato" multiple="multiple">
                        @foreach (var item in Model.ListaTipoFormato)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoFormato" />
                </td>
                <td>Punto de medición:</td>
                <td style="width:200px;">
                    <select id="cbMedicion" name="IdMedicion" multiple="multiple">
                        @foreach (var item in Model.ListaPtoMedida)
                        {
                            <option value="@item.IdMedida">@item.NombreMedida</option>
                        }
                    </select>
                    <input type="hidden" id="hfMedicion" />
                </td>
            </tr>
             <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  />
                    <input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
                
             </tr>

        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>