@model COES.MVC.Intranet.Areas.Hidrologia.Models.HidrologiaModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>ID Envío</th>
            <th>Periodo</th>
            <th>Fecha Periodo</th>
            <th>Empresa</th>
            <th>Estado</th>
            <th>Cumplimiento</th>
            <th>Fecha Envío</th>
            <th>Lectura</th>
            <th>Formato</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item  in Model.ListaEnvio)
        {
            var eplazo = "";
            DateTime fecha = (DateTime)item.Enviofecha;
            if (item.Envioplazo == "F")
            {
                eplazo = "Fuera de Plazo";
            }
            else
            {
                eplazo = "En Plazo";
            }
            var colorEstado = "";
            switch (@item.Estenvcodi)
            {
                case 3:
                    colorEstado = "SeaGreen";
                    break;
                default:
                    colorEstado = "red";
                    eplazo = "";
                    break;
            }
           
            <tr >
                <td>@item.Enviocodi</td>
                <td>@item.Periodo</td>
                <td>@item.FechaPeriodo</td>
                <td>@item.Emprnomb</td>
                <td style="color:@colorEstado">@item.Estenvnombre</td>
                <td>@eplazo</td>
                <td>@fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@item.Lectnomb</td>
                <td>@item.Formatnombre</td>
                <td>@item.Username</td>
                <td>@item.Lastuser</td>
                <td>@item.Usertlf</td>
                <td onclick="descargarEnvio(@item.Enviocodi);" style="width:30px;cursor:pointer;"><img src="~/Content/Images/csv.png" /><a href ="#" ></a></td>
            </tr>
        }
    </tbody>
</table>