@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ExtraerFrecuenciaModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];

}
<link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
<link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/ExtraerFrecuencia.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "ExtraerFrecuencia", FormMethod.Post, new { id = "frmExtraerFrecuencia", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Entidad.UsuCreacion", User.Identity.Name)
    @Html.Hidden("sAccion", sAccion)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Cancelar" onclick="javascript:cancelarExtraerInformacion();" alt="Retornar" title="Retornar" />
                <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","ExtraerFrecuencia")'" alt="Regresar" title="Regresar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5" id="tblFormExtrerFrecuencia">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;" id="sError">

                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Equipo GPS")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">

                                @if (sAccion == "Eliminar")
                                {
                                    @Html.DropDownList("Entidad.GPSCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("Entidad.GPSCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo GPS Virtual es requerido.", onchange= "limpiarMensajeError();" })
                                }
                            </div>
                        </td>
                    </tr>






                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Hora Inicio")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraInicio, new { @class = "formatFechaHora", @type = "datetime-local", @step = "1", required = "required", data_msg_required = "Campo Fecha Inicio es requerido.", onblur= "limpiarMensajeError();" })

                                @Html.ValidationMessageFor(model => model.Entidad.FechaHoraInicio)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Hora Final")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraFin, new { @class = "formatFechaHora", @type = "datetime-local", @step = "1", required = "required", data_msg_required = "Campo Fecha Fin es requerido.", onblur = "limpiarMensajeError();" })

                                @Html.ValidationMessageFor(model => model.Entidad.FechaHoraFin)
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
            <br />
            Nota(*): Información obligatoria
        </div>

    </div>
}
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmExtraerFrecuencia").validate({
        rules: {
            "Entidad.GPSCodi": {
                required: true
            },
            "Entidad.FechaHoraInicio": {
                required: true,
            },
            "Entidad.FechaHoraFin": {
                required: true,
            },


        }
    });


</script>
<script>
    var sAccion = '@sAccion';
    if (sAccion == "Insertar") {
        //document.forms[0].Entidad_EstdAbrev[0].checked = true;
    }
</script>