@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ExtraerFrecuenciaModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Equipo GPS</th>
            <th>Fecha Hora Inicio</th>
            <th>Fecha Hora Fin</th>
            <th>Fecha Carga</th>
            <th>Usuario</th>
            <th>Ver</th>
            <th>Exportar</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaExtraerFrecuencia)
        {
        <tr id="fila_@item.IdCarga">
            <td style="font-weight:bold">@contador</td>
            <td style="text-align:left;">@item.GPSNombre</td>
            <td style="text-align:left;">@item.FechaHoraInicioString</td>
            <td style="text-align:left;">@item.FechaHoraFinString</td>
            <td style="text-align:left;">@item.FechaCreacionString</td>
            <td style="text-align:left;">@item.UsuCreacion</td>
            <td><a href="@Url.Action("VerRegistroCarga", new { IdCarga = item.IdCarga })"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver" alt="Ver" /></a></td>
            <td><a href="#" onclick="javascript: exportarExcel(@item.IdCarga);"><img src="@Url.Content("~/Content/Images/exportarExcel.png")" title="Exportar" alt="Exportar" /></a></td>


        </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>
