@model COES.MVC.Intranet.Areas.Coordinacion.Models.RelacionModel

<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>        
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Equipo</th>
            <th>Cod. SGOCOES</th>
            <th>Nom. Barra</th>
            <th>ID</th>
            <th>Código Canal</th>
            <th>ICCP GEN</th>
            <th>ICCP INT</th>
            <th>Utilizar ICCP de:</th>
            <th>Cambiar signo SCADA?</th>            
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaRelacion.Count > 0)
        {
            foreach (var item in Model.ListaRelacion)
            {
        <tr>
            <td>
                <a href="JavaScript:editarRelacion(@item.Relacioncodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                @if (item.Indfuente != "G")
                {
                    <a href="JavaScript:eliminarRelacion(@item.Relacioncodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                }
            </td>
            <td>@item.Emprnomb.Trim()</td>
            <td>@item.Equinomb</td>
            <td>@item.Equicodi</td>
            <td>@item.Nombarra</td>
            <td>@item.Idgener</td>
            <td>@item.Canalcodi</td>
            <td>@item.Canaliccp</td>
            <td>@item.Canaliccpint</td>
            <td>@item.Canaluso</td>
            <td>@item.Canalsigno</td>            
            <td>@item.Estadorvarte</td>               
        </tr>
            }
        }
    </tbody>
</table>