@model COES.MVC.Intranet.Areas.Coordinacion.Models.RelacionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeRelacion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresaEdit">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" value="@Model.Entidad.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Equipo:</td>
                <td class="registro-control">
                    <select id="cbEquipoEdit" name="Equicodi">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEquipo)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEquipo" value="@Model.Entidad.Equicodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre Barra (PSSE):</td>
                <td class="registro-control">
                    <input type="text" id="txtNomBarra" name="Nombarra" value="@Model.Entidad.Nombarra" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">ID Generador (PSSE):</td>
                <td class="registro-control">
                    <input type="text" id="txtIdGenerador" name="Idgener" value="@Model.Entidad.Idgener" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Código Canal:</td>
                <td class="registro-control">
                    <input type="text" id="txtCodigoCanal" name="Canalcodi" value="@Model.Entidad.Canalcodi" onkeypress="return validarNumero(this,event)" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">ICCP:</td>
                <td class="registro-control">
                    <input type="text" id="txtICCP" name="Canaliccp" value="@Model.Entidad.Canaliccp" maxlength="57" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">ICCP Interruptor:</td>
                <td class="registro-control">
                    <input type="text" id="txtICCPInt" name="Canaliccpint" value="@Model.Entidad.Canaliccpint" maxlength="57" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Utilizar medición de ICCP:</td>
                <td class="registro-control">
                    <select id="cbCanalUso" name="Canaluso">
                        <option value="G">GENERADOR</option>
                        <option value="I">INTERRUPTOR</option>
                    </select>
                    <input type="hidden" id="hfCanalUso" value="@Model.Entidad.Canaluso" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cambiar signo:</td>
                <td class="registro-control">
                    <select id="cbCanalSigno" name="Canalsigno">
                        <option value="S">SI</option>
                        <option value="N">NO</option>
                    </select>
                    <input type="hidden" id="hfCanalSigno" value="@Model.Entidad.Canalsigno" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoEdit" name="Estado">
                        <option value="">-SELECCIONE-</option>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Estadorvarte" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRelacion" value="Grabar" />
            <input type="button" id="btnCancelarRelacion" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdRelacion" name="Relacioncodi" value="@Model.Entidad.Relacioncodi" />
        <input type="hidden" id="hfIndFuente" name="Fuente" value="@Model.Entidad.Indfuente" />

    </form>
</div>
