@model COES.MVC.Intranet.Areas.Subastas.Models.UsuariosUrsModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Areas/Subastas/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/messaje-operation.js"></script>
<script src="~/Areas/Subastas/Content/Scripts/registrousuarios.js?v=1.2"></script>
<link href="~/Areas/Subastas/Content/Css/css.css?v=1.1" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Registro de Usuarios por URS</div>
    <div class="content-botonera" style="margin-left:auto">
        @if (Model.TienePermiso)
        {
            <input class="btnNuevoUsuario" type="button" value="Nuevo" title="Crear un nuevo usuario" />
        }
    </div>
</div>

<div class="content-hijo content-frame">
    <div class="field-group">
        <div class="field-group">
            <div class="field-wrap">
                <div>
                    <div align="center">
                        <table class="pretty tabla-formulario" style="width:100%">
                            <thead>
                                <tr>
                                    @if (Model.TienePermiso)
                                    {
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    }
                                    <th>Usuario</th>
                                    <th>Correo</th>
                                    <th>URS</th>
                                    <th>Fecha de Creación</th>
                                    <th>Usuario de Creación</th>
                                    <th>Fecha Modificada</th>
                                    <th>Usuario que Modificó</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mp in Model.ListaUsuarioUrs)
                                {
                                    string @urs = "urs" + @mp.Urscodi;
                                <tr>
                                    @if (Model.TienePermiso)
                                    {
                                        <td><a data-registro="@mp.Uurscodi" class="btnEditarUsuario btn-table" style="display:block;cursor:pointer" title="Editar Usuario"><img src="~/Content/Images/btn-edit.png" /></a></td>
                                        <td><a data-registro="@mp.Uurscodi" data-strurs="@mp.Ursnomb" class="btnEliminarUsuario btn-table" style="display:block;cursor:pointer" title="Eliminar Usuario"><img src="~/Content/Images/btn-cancel.png" /></a></td>
                                    }
                                    <td>@mp.Username</td>
                                    <td>@mp.Useremail</td>
                                    <td id="@urs">@mp.Ursnomb</td>
                                    <td>@mp.Uursfeccreacion</td>
                                    <td>@mp.Uursusucreacion</td>
                                    <td>@mp.Uursfecmodificacion</td>
                                    <td>@mp.Uursusumodificacion</td>


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script>
                        $('.tabla-formulario').dataTable({
                            "scrollY": "400px",
                            "scrollCollapse": true,
                            "paging": false
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>
<div id="MessagesClose" class="general-popup">
    <div class="popup-title"><span>Mensaje de Operación</span></div>
    <div class="popup-text content-messajes-text">
    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>