@model COES.MVC.Intranet.Areas.Subastas.Models.UsuariosUrsModel
@{
    Layout = null;
    List<COES.MVC.Intranet.Areas.Subastas.Models.UrsModoOperacionModel> ListaUrsEditar = ViewBag.Listaurs;
}

<link href="~/Areas/Subastas/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/popup.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Areas/Subastas/Content/Scripts/registrousuariosoperaciones.js?v=1.3"></script>

<div class="search-content" style="width:700px; height:auto">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:50px; margin-right:10px">Empresa:</span>
            <div class="field-control" style="float:left">
                @Html.DropDownList("empresaedit", ViewData["empresaedit"] as List<SelectListItem>, new { @style = "width:150px",})
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width: 50px; float: left; margin-left: 10px; margin-right:10px">Usuario: </span>
            <div class="field-control" style="float:left">
                <select style="width:160px" name="usernameedit" id="usernameedit">
                    {
                    <option value="@ViewData["usercode"]">@ViewData["username"]</option>
                    }
                </select>
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width:50px; margin-right: 10px; text-align:right">URS: </span>
            <div class="field-control" style="float:left">
                <select id="urs" style="width:200px">
                    <option value="@ViewData["urscodi"]">@ViewData["ursnomb"]</option>
                    @foreach (var item in ListaUrsEditar)
                    {
                        <option value="@item.UrsCodi">@item.UrsNomb</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="field-group">
        <center>
            <div align="center">
                <input data-registro="@ViewData["uurscodi"]" style="margin-top:25px" id="btnModificarUsuario" type="button" value="Modificar" />
                <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
            </div>
        </center>
    </div>

</div>
