@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel

@if (Model.TieneFiltroDobleFecha)
{
    <td>Fecha Inicio:</td>
    <td class="content-action">
        <a href="#" id="btnFilterFechas">
            <div class="content-item-action">
                <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" />
            </div>
        </a>
    </td>
    <td>Fecha Fin:</td>
    <td class="content-action">
        <a href="#" id="btnFilterFechas">
            <div class="content-item-action">
                <input type="text" id="txtFechaFin" value="@Model.FechaFin" />
            </div>
        </a>
    </td>
}
else
{
    <td>Fecha:</td>
    <td class="content-action">
        <a href="#" id="btnFilterFechas">
            <div class="content-item-action">
                <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" />
            </div>
        </a>
    </td>
    <td class="content-action" style="display: none">
        <a href="#" id="btnFilterFechas">
            <div class="content-item-action">
                <input type="text" id="txtFechaFin" value="@Model.FechaFin" />
            </div>
        </a>
    </td>
}

<td class="content-action">
    <a href="#" id="btnSearch">
        <div class="content-item-action">
            <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar" />
        </div>
    </a>
</td>


<td class="content-action">
    <a href="#" id="btnExportExcel">
        <div class="content-item-action">
            <img src="~/Content/Images/ExportExcel.png" style="width:20px; height:20px" title="Exportar a archivo Excel" /><br />
            <input type="hidden" id="hdReporcodi" value="@Model.Reporcodi" />
        </div>
    </a>
</td>
<td class="content-action">
    <a href="#" id="btnRegresar">
        <div class="content-item-action">
            <img src="~/Content/Images/btn-regresar.png" style="width:20px; height:20px" title="Regresar a Anexo A" />
        </div>
    </a>
</td>