<script>
   
    $(function () {
        
            $('#cbSemanaI').val($('#hfcboSemanaI').val());
            $('#cbSemanaF').val($('#hfcboSemanaF').val());           

            var modelo = "@Model.Resultado";
            $('#hidden').attr("id", "hf" + modelo);

            SemanaI();
        }
        );


    function SemanaI() {
        $('#hfcboSemanaI').val($('#cboSemanaI').val());
        $('#hfcboSemanaF').val($('#cboSemanaF').val());
      
    }




</script>
<select id="@Model.Resultado" name="@Model.Resultado" style="width:110px;" onchange="SemanaI()">

    @foreach (var item in Model.ListaSemanas)
    {
        <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
    }
</select>
<input type="hidden" id="hidden" name="hidden" />

