@model COES.MVC.Intranet.Areas.IEOD.Models.UnidadesRFriaModel

<div class="content-registro">

    <form id="frmRegistroRFria">
        <div id="mensajeReservaFria" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Fecha:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaRFria" value="@Model.Fecha" />
                    <input type="hidden" id="hfFechaRFria" name="Fecha" value="@Model.Fecha"  />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Hora inicio:</td>
                <td class="registro-control">
                    <input type="text" id="txtHoraInicioRFria" name="HoraInicio" value="@Model.HoraInicio" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Hora fin:</td>
                <td class="registro-control">
                    <input type="text" id="txtHoraFinRFria" name="HoraFin" value="@Model.HoraFin" />
                </td>
            </tr>    
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresaRFria">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresaRFria" value="@Model.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Central:</td>
                <td class="registro-control">
                    <select id="cbCentralRFria">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaCentral)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfCentralRFria" value="@Model.Centralcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Unidad:</td>
                <td class="registro-control">
                    <select id="cbUnidadRFria" >
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaGrupo)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfUnidadRFria" name="Grupocodi" value="@Model.Grupocodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Observación:</td>
                <td class="registro-control">
                    <textarea id="txtObservacionRFria" name="Observacion" maxlength="200">@Model.Entidad.Urfriaobservacion</textarea>
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRFria" value="Grabar" />
            <input type="button" id="btnCancelarRFria" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigoRFria" name="Codigo" value="@Model.Entidad.Urfriacodi" />

    </form>

</div>
