@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5cargarmenu.js?v=1.6"></script>
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5globalFuncion.js?v=1.5"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/horaindisponibilidad.js?id=1.5.3"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>

                <td>Tipo Central:</td>
                <td>
                    <select id="cbTipoCentral" name="cbTipoCentral" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaTipoCentral)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoCentral" name="hfTipoCentral" />
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>

    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>