@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    Layout = "~/Areas/IEOD/Views/AnexoA/ViewSharedAnexoA.cshtml";
}

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/despachoregistrado.js?id=1.9"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="radio" name="cbLectura48" value="2" checked="checked">Unidad de generación <br>
                    <input type="radio" name="cbLectura48" value="1">Grupos de Despacho
                </td>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                    <input type="hidden" id="hfTipoGeneracion" name="hfTipoGeneracion" value="-1" /> <!--mostrar todos los tipos de generación. No es necesario mostrar un filtro seleccionable-->
                </td>

                <td>Central:</td>
                <td>
                    <div id="central"></div>
                </td>

                <td>Potencia:</td>
                <td>
                    <select id="cbTPotencia" name="cbTPotencia" style="width: 90px; height: 26px;">
                        <option value="1">ACTIVA</option>
                        <option value="2">REACTIVA</option>
                    </select>
                </td>

                <td style="display: none">
                    <input type="checkbox" id="ckRecursos" /> Solo RER
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>

    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

</div>