@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    Layout = "~/Areas/IEOD/Views/AnexoA/ViewSharedAnexoA.cshtml";
}

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/recursoenergetico.js?id=1.9"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="radio" name="cbLectura48" value="2" checked="checked">Unidad de generación <br>
                    <input type="radio" name="cbLectura48" value="1">Grupos de Despacho
                </td>
                <td>
                    <input type="checkbox" id="ckRecursos" /> Solo RER
                </td>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>

                <td>Central:</td>
                <td>
                    <div id="centrales"></div>
                </td>
                <td>Tipo de Recurso:</td>
                <td>
                    <div id="cbTipoCombustible"></div>
                </td>
                <td>
                    <input type="button" id="btnGraficoDiagramaCarga" value="Diagrama de Carga" style="display: none" />
                    <input type="button" id="btnGraficoParticipacionTipoRecurso" value="Participación Tipo de Recurso" style="display: none;margin-top: 5px;" />
                    <input type="button" id="btnGraficoCentralRER" value="Gráfico de Centrales RER" style="display: none" />
                    <input type="button" id="btnGraficoTipoGeneracionRER" value="Gráfico Tipo de Generación" style="display: none;margin-top: 5px;" />
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>

        <input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
        <input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />
    </div>

    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 0px; display: inline-flex;">
            La configuración de las centrales se encuentra en <span style="color: #428BD3; font-size: 12px;text-indent: 5px;padding-right: 5px;">Equipamiento / Clasificación de equipo </span> Categoría: TIPO FUENTE ENERGIA GAS, TIPO FUENTE ENERGIA AGUA.
        </div>

        <div id="html_mensaje_fenerg">
        </div>

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado">
        </div>

        <div style="clear:both; height:25px"></div>
        <div class="table-list" id="listadoHidro">
        </div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idGrafico1" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica1" style="height:450px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico2" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica2" style="height:450px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico3" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica3" style="height:800px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico4" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica4" style="height:450px; width:1250px;">
        </div>
    </div>
</div>