@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
    var urlReporte = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=21";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Content/Scripts/highstock.js"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5cargarmenu.js?v=1.7"></script>
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5globalFuncion.js?v=1.5"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/caudalescentralhidroelectrica.js?id=1.6"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>
                <td>
                    Instalación:
                </td>
                <td>
                    <select id="cbFamilia" name="cbFamilia" multiple="multiple">
                        @foreach (var item in Model.ListaTipoCentral)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfFamilia" />
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
            <tr>
                @*<td>
                        <input type="button" id="btnGrafico" value="Ver Gráfico" />
                    </td>*@
            </tr>
        </table>
    </div>

    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 0px; display: block;">
            La configuración de los puntos de medición para el reporte se encuentra en <a target="_blank" href="@(urlReporte)">Generador de Reporte</a>.
        </div>

        <div style="clear:both; height:5px"></div>

        <div class="table-list" id="listado1"></div>

        <div class="table-list" id="listado2"></div>
    </div>

</div>

<div id="idGrafico2">
    <span class="button b-close"><span>X</span></span>

    <div class="popup-title"><span>Vista Gráfica</span></div>
    <div style="clear:both; height:10px"></div>


    <div id="idVistaGrafica" style="height:450px; width:1250px;">
    </div>
</div>