@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Areas/IEOD/Views/AnexoA/ViewSharedAnexoA.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/reservaFria.js?id=1.8.2"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="padding-top: 5px; padding-bottom: 0px;">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="checkbox" name="filtro_RF" value="1"><div class="symbol" style="width: 18PX; height: 18px; background-color:#ADD8E6"></div> Reserva Fría total<br>
                    <input type="checkbox" name="filtro_RF" value="2" checked><div class="symbol" style="width: 18PX; height: 18px; background-color:#0000FF"></div> Reserva Fría<br>
                    <input type="checkbox" name="filtro_RF" value="3"><div class="symbol" style="width: 18PX; height: 18px; background-color:#FF0000"></div> Reserva Fría mínima (PR-12)<br>
                    <input type="checkbox" name="filtro_RF" value="4" checked><div class="symbol" style="width: 18PX; height: 18px; background-color:#007200"></div> Indisponibilidad<br>
                </td>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>

                <td>Estado físico del combustible:</td>
                <td>
                    <select id="cbTipoCombustible" style="width:250px;" multiple="multiple">
                        <option value="1">LÍQUIDO (m3)</option>
                        <option value="2">SÓLIDO (kg)</option>
                        <option value="3">GAS (m3)</option>
                        <option value="4">BIOGAS (m3)</option>
                    </select>
                    <input type="hidden" id="hfTipoCombustible" name="hfTipoCombustible" />
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#div_1_reporte">Reporte</a></li>
            <li class='tab'><a href="#div_3_grafico">Gráfico</a></li>
            <li class='tab'><a href="#div_2_unidades">Unidades con Restricción</a></li>
        </ul>
        <div class='panel-container'>
            <div id="div_1_reporte">

                <div class="content-tabla" style="height: 865px;">
                    <div style="clear:both; height:5px"></div>
                    <div class="table-list" id="listado"></div>
                </div>

                <div style="clear:both; height:30px"></div>


            </div>
            <div id="div_3_grafico">
                <div id="idVistaGrafica" style="display: inline-block;"></div>
            </div>
            <div id="div_2_unidades">
                <div style="width:200px; text-align:right; float:right">
                    <input type="button" id="btnAgregarRFria" value="Nuevo" />
                    <input type="button" id="btnExportarRFria" value="Exportar" />
                </div>
                <div style="clear:both; height:20px"></div>
                <div id="listaRFria">

                </div>
                <input type="hidden" id="hfFechaRFria" />
            </div>
        </div>
    </div>



</div>

<div id="popupRFria" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Unidades con restricción</span></div>
    <div class="popup-text" id="contenidoRFria">

    </div>
</div>