@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    Layout = "~/Areas/IEOD/Views/AnexoA/ViewSharedAnexoA.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js?v=7.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/demandaporarea.js?id=1.9"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="radio" name="cbLectura48" value="2" checked="checked">Unidad de generación <br>
                    <input type="radio" name="cbLectura48" value="1">Grupos de Despacho
                </td>
                <td>Área:</td>
                <td>
                    <select id="cbAreaOperativa" name="cbAreaOperativa" style="width:250px;" multiple="multiple">
                        @if (Model.ListaAreaOperativa.Count > 0)
                        {
                            foreach (var item in Model.ListaAreaOperativa)
                            {
                                <option value="@item.Ptomedicodi">@item.Repptonomb</option>
                            }
                        }
                        else
                        {
                            <option value="0">No existen registros..</option>
                        }
                    </select>

                    <input type="hidden" id="hfAreaOperativa" name="hfAreaOperativa" />
                </td>

                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>

    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>

        <div id="leyenda" style="display: none">
            <p>LEYENDA:</p>
            <table border='0' style='width: 500px;'>
                <tbody>
                    <tr>
                        <td style='width: 50px; border: 1px solid black; background-color: #c0504d !important; color: white;'></td>
                        <td>Potencia recibida del Ecuador</td>
                    </tr>
                    <tr>
                        <td style='width: 50px; border: 1px solid black; background-color: #4f81bd !important; color: white;'></td>
                        <td>Potencia entregada al Ecuador</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idGraficoContainer" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto; display: none;"></div>

    <div id="grafico1" style="height: 450px; margin: 0 auto;"></div>
</div>