@model COES.MVC.Intranet.Areas.IEOD.Models.UnidadesRFriaModel

<table border="0" class="pretty tabla-icono" id="tablaRFria">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Fecha</th>
            <th>Hora inicio</th>
            <th>Hora fin</th>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListadoUnidades.Count > 0)
        {
            foreach (var item in Model.ListadoUnidades)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarRFria(@item.Urfriacodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarRFria(@item.Urfriacodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@(((DateTime)item.Urfriafechaperiodo).ToString("dd/MM/yyyy"))</td>
                    <td>@(((DateTime)item.Urfriafechaini).ToString("HH:mm"))</td>
                    <td>@(((DateTime)item.Urfriafechafin).ToString("HH:mm"))</td>
                    <td>@item.Empresanomb</td>
                    <td>@item.Centralnomb</td>
                    <td>@item.Unidadnomb</td>
                    <td>@item.Urfriaobservacion</td>
                </tr>
            }
        }
    </tbody>
</table>
