@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroObservacionModel
@{
    ViewBag.Title = ".::Registro de Observaciones de señales SCADA::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/registrobservacionedit.js?v=1.74"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Registro de Observaciones</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnAgregarCanal" value="Agregar señales" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo">

    <div class="action-message" id="mensajeEditar">Por favor complete los datos</div>

    <div class="content-registro">
        <table>
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresa" name="IdEmpresa">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprenomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfIdEmpresa" value="@Model.Entidad.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <input type="text" id="txtEstado" value="@Model.Entidad.Desestado" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Tipo de Observación:</td>
                <td class="registro-control">
                    @if (Model.IdObservacion == 0)
                    {
                        <select id="cbTipoObservacion">
                            <option value="">-SELECCIONE-</option>
                            <option value="C">Caida Enlace</option>
                            <option value="O">Observaciones en las Señales</option>
                        </select>
                    }
                    else
                    {
                        <select id="cbTipoObservacion" disabled="true">
                            <option value="">-SELECCIONE-</option>
                            <option value="C">Caida Enlace</option>
                            <option value="O">Observaciones en las Señales</option>
                        </select>
                    }

                    <input type="hidden" id="hfTipo" value="@Model.Entidad.Obscantipo" />

                </td>
            </tr>
            <tr>
                <td class="registro-label">Observación</td>
                <td class="registro-control">
                    <textarea id="txtObservacion" maxlength="200" name="Comentarios" class="areaevento">@Model.Entidad.Obscancomentario</textarea>
                </td>
            </tr>

        </table>
    </div>
    <div style="clear:both; height:20px"></div>

    <div class="content-botonera" id="botonera">
        <input type="button" id="btnObtenerSenalesObservadas" value="Obtener Señales Observadas" />
        <input type="button" id="btnProcesarSenalesObservadas" value="Procesar Señales Observadas" />
    </div>
    <div class="popup-title" id="title" style="width:200px; margin-bottom:20px"><span>Listado de Señales</span></div>



    <div id="contenidoItems">

    </div>

</div>

<div id="popupBusquedaCanal" class="general-popup" style="width:900px; height:620px;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Búsqueda de Señales</span></div>
    <div class="popup-text" id="contenidoBusquedaCanal" style="margin-top:0">

    </div>
</div>

<div id="popupHistoria" class="general-popup" style="width:450px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial de cambios</span></div>
    <div class="popup-text" id="contenidoHistoria">

    </div>
</div>



<input type="hidden" id="hfIdObservacion" value="@Model.IdObservacion" />
<input type="hidden" id="hfIndEdicion" value="@Model.Entidad.IndEdicion" />

