@model COES.MVC.Intranet.Areas.Coordinacion.Models.AsociacionEmpresanModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">SICOES</th>
            <th colspan="3">SCADA SP7</th>
            <th colspan="2">Auditoria</th>
        </tr>
        <tr>
            <th></th>
            <th>Código SICOES</th>
            <th>Descripción SICOES</th>
            <th></th>
            <th>Código SP7</th>
            <th style="min-width:300px">Descripción SP7</th>            
            <th>Usuario Mod</th>
            <th>Fecha Mod</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
        <tr>
            <td>
                <a href="JavaScript:eliminar(@item.Emprcodi,  @item.Emprcodisic);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Emprcodisic</td>
            <td>@item.Emprnomb</td>
            <td>
                <a href="JavaScript:editar(@item.Emprcodi, '@item.Emprenomb');"><img src="~/Content/Images/btn-edit.png" title="Editar nombre empresa en SP7" /></a>
            </td>
            <td>@item.Emprcodi</td>            
            <td style="min-width:300px">@item.Emprenomb</td>
            <td>@item.Emprusumodificacion</td>
            <td>@item.Emprfecmodificacion</td>
        </tr>
            }
        }
    </tbody>
</table>

