@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.RecalculoModel

@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var PeriodoNombre = TempData["Periodonombre"].ToString();
    var cboPeriodoDestino = (IEnumerable<SelectListItem>)TempData["PeriodoDestino"];
}
<script src="~/Areas/SistemasTransmision/Content/Scripts/recalculo.js"></script>
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />

@using (Html.BeginForm("Save", "recalculo", FormMethod.Post, new { id = "frmRecalculo", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "recalculo", new { id = Model.Entidad.Stpercodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:800px;">
            @Html.HiddenFor(model => model.Entidad.Strecacodi)
            @Html.HiddenFor(model => model.Entidad.Stpercodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr><td colspan="2"><div class="editor-label" style="color:red;">@Model.sError</div></td></tr>
                }
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Strecacodi, "Periodo")</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.sError, new { @Value = PeriodoNombre, @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Strecanombre, "Nombre Recalculo") (*)</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.Strecanombre)
                            @Html.ValidationMessageFor(model => model.Entidad.Strecanombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Strecainforme, "Informe")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.Strecainforme, new { cols = 80, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 150px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.Strecainforme)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Strecafacajuste, "Factor Ajuste") (*)</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.Strecafacajuste)
                            @Html.ValidationMessageFor(model => model.Entidad.Strecafacajuste)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Strecacomentario, "Comentario")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.Strecacomentario, new { cols = 80, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 150px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.Strecacomentario)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:150px;">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}


<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmRecalculo").validate({
        rules: {
            "Entidad.Strecanombre": {
                required: true
            },
            "Entidad.Strecafacajuste": {
                required: true,
                number: true
            },
            "Entidad.Strecacomentario": {
                required: true
            },
            "Entidad.Strecainforme": {
                required: true
            }
        }
    });
</script>