@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Recalculos por Periodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sPerinombre = TempData["Perinombre"];
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/SistemasTransmision/Content/Scripts/recalculo.js"></script>
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".mensaje").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300);
        }, 3000)
    })
</script>
<div>
    @if (sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title">
        @Html.HiddenFor(model => model.Entidad.Stpercodi)
        <div class="content-titulo">Lista de Recálculos del Periodo: @sPerinombre</div>
        <div class="content-botonera">
            @Html.HiddenFor(model => model.Entidad.Stpercodi)
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Regresar" id="btnRegresar" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>