@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.MedicionBornesModel
@{
    ViewBag.Title = "Compensación de RSF - Medición de Bornes (MB)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/CompensacionRSF/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/CompensacionRSF/Content/Scripts/MedicionBornes.js?v=1.0"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Medición de Bornes (MB)</div>
    </div>
    @if (Model.EntidadPeriodo.PeriCodi > 0 && Model.EntidadRecalculo != null && Model.EntidadRecalculo.Vcrecacodi > 0)
    { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Periodo de consulta: @Model.EntidadPeriodo.PeriNombre / @Model.EntidadRecalculo.Vcrecanombre</div> }
    else
    { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un periodo y versión de cálculo</div> }
    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Copia de información del SGOCOES</a></li>
                <li class='tab'><a href="#paso2">Seleccionar unidades considerados en el cargo del incumplimiento</a></li>
            </ul>

            <div class='panel-container'>
                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para ejecutar las siguientes opciones:</b></div></td>
                            </tr>
                            <tr>
                                <td><div style="width:50px">Periodo: </div></td>
                                <td style="width:300px">
                                        <select id="pericodi" name="pericodi" onchange="refrescar();">
                                            @foreach (var item in Model.ListaPeriodos)
                                            {
                                                sSelected = ""; 
                                                if (@item.PeriCodi == Model.Pericodi)
                                                {
                                                    sSelected = "selected";
                                                }
                                                <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                            }
                                        </select>
                                </td>
                                <td style="width:100px">Recalculo: </td>
                                <td style="width:300px">
                                    <select id="vcrecacodi" name="vcrecacodi">
                                        @foreach (var item in Model.ListaRecalculo)
                                        {
                                            sSelected = "";
                                            if (@item.Vcrecacodi == Model.Vcrecacodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                        }
                                    </select>
                                </td>
                                <td colspan="2" style="width:450px;">
                                    @if (Model.bNuevo && Model.Pericodi > 0 && Model.Vcrecacodi > 0)
                                    {
                                        <table cellpadding="0" cellspacing="0" border="0" style="width:400px">
                                            <tr>
                                                <td><input type="button" value="Copiar Medición de Bornes" id="btnCopiarMB" alt="Copiar Medición de Bornes" title="Copiar Medición de Bornes" /></td>
                                                <td><input type="button" value="Exportar Medición de Bornes" id="btnExportarMB" alt="Exportar Medición de Bornes - SGOCOES" title="Exportar Medición de Bornes - SGOCOES" /></td>
                                                <td><input type="button" value="Cargar Medición de Bornes" id="btnImportarMB" alt="Cargar Medición de Bornes" title="Cargar Medición de Bornes" /></td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para ejecutar las siguientes opciones:</b></div></td>
                            </tr>
                            <tr>
                                <td><div style="width:50px">Periodo: </div></td>
                                <td style="width:300px">
                                    <select id="pericodiCI" name="pericodiCI" onchange="refrescarCI();">
                                        @foreach (var item in Model.ListaPeriodos)
                                        {
                                            sSelected = "";
                                            if (@item.PeriCodi == Model.Pericodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:100px">Recalculo: </td>
                                <td style="width:300px">
                                    <select id="vcrecacodiCI" name="vcrecacodiCI" onchange="refrescarCI()";>
                                        @foreach (var item in Model.ListaRecalculo)
                                        {
                                            sSelected = "";
                                            if (@item.Vcrecacodi == Model.Vcrecacodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                        }
                                    </select>
                                </td>
                                <td colspan="2" style="width:450px;">
                                    @if (Model.bNuevo && Model.Pericodi > 0 && Model.Vcrecacodi > 0)
                                    {
                                        <table cellpadding="0" cellspacing="0" border="0" style="width:400px">
                                            <tr>
                                                <td><input type="button" value="Grabar cambios" id="btnGrabar" alt="Grabar cambios" title="Grabar cambios" /></td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="listado" id="listado">       </div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------------->
    </div>
</div>

