<form name="frmBrowse">
    <table border="0" class="pretty tabla-icono">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Central de generación</th>
                <th>Unidad  de generación</th>
                <th><input name="chkAll" type="checkbox" onclick="SelectAll()" checked="checked"><font class="fontTextBlanco"><b>SI a todos</b></font></th>
            </tr>
        </thead>
        <tbody>
            @{
                int iCount = 0;
            }
            @foreach (var item in Model.ListaMedBorneCargoIncp)
            {
                int sPK = item.Vcmbcicodi;
                iCount++;
                <tr id="fila_@sPK">
                    <td class="text_left">@item.Emprnomb</td>
                    <td class="text_left">@item.Equinombcen</td>
                    <td class="text_left">@item.Equinombuni</td>
                    <td>
                        @if (item.Vcmbciconsiderar.Equals("S"))
                        {	<input name="chkItem" type="checkbox" value="@sPK" checked="checked"> }
                        else
                        {	<input name="chkItem" type="checkbox" value="@sPK"> }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="Count" name="Count" value="@iCount">
</form>
