@model COES.MVC.Intranet.Areas.Eventos.Models.RegistroModel
@{
    ViewBag.Title = "Aseguramiento de la Operación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/aseguramiento.js"></script>

<div class="form-title">
    <div class="content-titulo">Registro de Aseguramiento</div>
    <div class="content-botonera">
        <table cellpadding="0" cellspacing="0" style="margin-top:12px">
            <tr style="line-height:10px">

                @if (Model.IndicadorGrabarAseg)
                {
                    <td><input type="button" id="btnGrabar" value="Grabar" /></td>
                }

                <td><input type="button" id="btnCancelar" value="Ir al listado" /></td>
            </tr>
        </table>
    </div>
</div>

<div class="content-hijo">
    <div class="action-message" id="mensaje">Complete los datos del evento y presione "Grabar"</div>
    <div class="content-registro">

        <form id="frmRegistro" name="formRegistro">
            <table>

                @*<tr>
                        <td class="registro-label">Tipo de Evento:</td>
                        <td class="registro-control">
                            <select id="cbTipoEvento" name="IdTipoEvento">
                                <option value="">-SELECCIONE-</option>
                                @foreach (var item in Model.ListaTipoEvento)
                                {
                                    <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                                }
                            </select>
                            <input type="hidden" id="hfTipoEvento" value="@Model.IdTipoEvento" />
                        </td>
                    </tr>*@

                <tr>
                    <td class="registro-label">Tipo de Operaci&oacute;n:</td>
                    <td class="registro-control">
                        <select id="cbTipoOperacion" name="IdTipoOperacion">
                            @*<option value="-1">NO DEFINIDO</option>*@
                            @foreach (var item in Model.ListaTipoOperacion)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>

                            }
                        </select>
                        <input type="hidden" id="hfTipoOperacion" value="@Model.IdTipoOperacion" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Equipo:</td>
                    <td class="registro-control">
                        <span id="spanEquipo">@Model.Entidad.Equiabrev</span>

                        @if (Model.IndicadorGrabar)
                        {
                            <input type="button" value="Seleccionar" id="btnBuscarEquipo" />
                        }

                        <input type="hidden" id="hfIdEquipo" name="IdEquipo" value="@Model.Entidad.Equicodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaEvento" name="IdEmpresa">
                            <option value="">-Seleccione-</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfIdEmpresaEvento" value="@Model.Entidad.Emprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Hora inicial</td>
                    <td class="registro-control">
                        <input type="text" id="txtHoraInicial" name="HoraInicial" value="@Model.HoraInicial" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Hora final</td>
                    <td class="registro-control">
                        <input type="text" id="txtHoraFinal" name="HoraFinal" value="@Model.HoraFinal" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Causa</td>
                    <td class="registro-control">
                        <select id="cbSubCausaEvento" name="IdSubCausaEvento">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaSubCausaEvento)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfSubCausaEvento" value="@Model.Entidad.Subcausacodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Descripción(Resúmen)</td>
                    <td class="registro-control">
                        <textarea id="txtDescripcion" maxlength="250" name="Descripcion" class="areaevento">@Model.Entidad.Evenasunto</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Detalle adicional:</td>
                    <td class="registro-control">
                        <textarea id="txtDetalleAdicional" maxlength="4000" name="Detalle" class="areaevento">@Model.Entidad.Evendesc</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Comentarios Internos:</td>
                    <td class="registro-control">
                        <textarea id="txtComentarioInterno" maxlength="4000" name="Comentarios" class="areaevento">@Model.Entidad.Evencomentarios</textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="hfCodigoEvento" name="IdEvento" value="@Model.Entidad.Evencodi" />
        </form>
    </div>
</div>

<div id="busquedaEquipo" style="display:none">
</div>
