@model COES.MVC.Intranet.Areas.Eventos.Models.RegistroModel

<table class="tabla-formulario" id="tablaEquipo">
    <thead>
        <tr>
            <th>Empresa</th>           
            <th>Ubicación</th>
            <th>Tipo</th>
            <th>Central</th>
            <th>Equipo</th>
            <th>Nivel Tensión</th>
            <th>Quitar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipo)
        {
            <tr>
                <td>@item.EMPRNOMB</td>
                <td>@item.TAREAABREV @item.AREANOMB</td>
                <td>@item.FAMABREV</td>
                <td>@item.DESCENTRAL</td>                
                <td>@item.Equiabrev</td>
                <td>@item.Equitension</td>
                <td style="text-align:center">

                @if (Model.IndicadorGrabar) {
                    <a href="JavaScript:quitarEquipo(@item.Equicodi)">
                        <img src="~/Content/Images/btn-cancel.png" />
                    </a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
