@model COES.MVC.Intranet.Areas.Eventos.Models.InterrupcionModel

<h2>Interrupciones en Informes</h2>
<table class="pretty tabla-adicional" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width:50px">Agregar</th>
            <th>Suministro</th>
            <th>Potencia MW</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Duración</th>
            <th>Protección</th>            
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.ListaInterrupcionInforme)
            {
                <tr>
                    <td style="width:50px; padding-left:20px">
                        <a href="JavaScript:asignarPuntoInterrupcion(@item.Duracion, @item.Potenciamw, @item.Infitemcodi);" title="Permite asignar punto de interrupción.">
                            <img src="~/Content/Images/Plus.png" />
                        </a>
                    </td>
                    <td>@item.Sumininistro</td>
                    <td>@item.Potenciamw</td>
                    <td>@(((DateTime)item.Intinicio).ToString("dd/MM/yyyy HH:mm:ss"))</td>
                    <td>@(((DateTime)item.Intfin).ToString("dd/MM/yyyy HH:mm:ss"))</td>
                    <td>@item.Duracion</td>
                    <td>@item.Proteccion</td>
                </tr>
            }
        }
    </tbody>
</table>