@model COES.MVC.Intranet.Areas.Eventos.Models.InterrupcionModel

<script type="text/javascript">
    $(function () {       
        $('#cbBajoCarga').click(function () {

            if($('#cbBajoCarga').is(':checked')){
                $('#tablaBajoCargaDeA').css('display','block');
                //$('#tablaBajoCargaTotal').css('display','none');
            }
            else{
                $('#tablaBajoCargaDeA').css('display','none');
                //$('#tablaBajoCargaTotal').css('display','block');
            }
        });

        if ($('#hfIndBajoCarga').val() == "S") {
            $('#tablaBajoCargaDeA').css('display', 'block');
            $('#tablaBajoCargaTotal').css('display', 'none');
            $('#cbBajoCarga').prop('checked', true);
        }
        else {
            $('#tablaBajoCargaDeA').css('display', 'none');
            $('#tablaBajoCargaTotal').css('display', 'block');
            $('#cbBajoCarga').prop('checked', false);
        }

        if ($('#hfIndRacmf').val() == "S") {
            $('#cbRacmf').prop('checked', true);
        }
        else {
            $('#cbRacmf').prop('checked', false);
        }       

        if ($('#cbRechazoManual').val() == "S") {
            $('#cbRechazoManual').prop('checked', true);
        }
        else {
            $('#cbRechazoManual').prop('checked', false);
        }

        $('#cbInterEtapa').val($('#hfIdEtapaInter').val());
    });
</script>

<table style="width:auto">
    <tr>
        <td valign="top">
            <div class="popup-title"><span>Punto de Interrupción</span></div>
            <div id="cntPuntoInterrupcion" style="width:500px">  
                    <table id="listaPuntoInterrupcion" class="pretty tabla-sinpadding" border="1">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Punto de Interrupción</th>
                                <th>Punto de entrega</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaPuntos)
                            {
                                <tr onclick="seleccionarPuntoInterrupcion(@item.Ptointerrcodi, '@item.Emprnomb', '@item.Ptointerrupnomb', '@item.Ptoentrenomb');" style="cursor:pointer">
                                    <td>@item.Emprnomb</td>
                                    <td>@item.Ptointerrupnomb</td>
                                    <td>@item.Ptoentrenomb</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>            
        </td>
        <td style="width:30px"></td>
        <td valign="top">
            <div class="popup-title"><span>Datos de Interrupción</span></div>

            <form id="frmInterrupcion" name="frmInterrupcion">
                
                <div class="content-registro" style="width:400px; margin-top:20px">

                    <div id="mensajeInterrupcion" class="action-message">Complete los datos por favor.</div>

                    <table style=" width:auto">
                        <tr>
                            <td class="registro-label" style="padding-right:40px; width:200px">Pto Interrupción</td>
                            <td class="registro-control">
                                <span id="spanPtoInterrupcion">@Model.Entidad.PtoInterrupNomb</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Pto Entrega:</td>
                            <td class="registro-control">
                                <span id="spanPtoEntrega">@Model.Entidad.PtoEntreNomb</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Empresa:</td>
                            <td class="registro-control">
                                <span id="spanEmpresa">@Model.Entidad.EmprNomb</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Tiempo (min):</td>
                            <td class="registro-control" style="padding-right:15px">
                                <input type="text" name="Interrminu" id="txtInterTiempo" value="@Model.Entidad.Interrminu" onkeypress="return validarNumero(this,event)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Bajo carga:</td>
                            <td class="registro-control" style="padding-right:15px">
                                <input type="checkbox" id="cbBajoCarga" />
                            </td>
                        </tr>
                    </table>
                    <table style="width:auto; display:none" id="tablaBajoCargaDeA">
                        <tr>
                            <td class="registro-label" style="padding-right:40px; width:200px">De (MW):</td>
                            <td class="registro-control">
                                <input type="text" id="txtInterDe" name="InterrmwDe" value="@Model.Entidad.InterrmwDe" onkeypress="return validarNumero(this,event)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">A (MW):</td>
                            <td class="registro-control" style="padding-right:15px">
                                <input type="text" id="txtInterA" name="InterrmwA" value="@Model.Entidad.InterrmwA" onkeypress="return validarNumero(this,event)" />
                            </td>
                        </tr>
                    </table>                  
                    <table>
                        <tr>
                            <td class="registro-label" style="padding-right:40px; width:200px">Total (MW):</td>
                            <td class="registro-control" style="padding-right:15px">
                                <input type="text" name="Interrmw" value="@Model.Entidad.Interrmw" id="txtInterTotal" onkeypress="return validarNumero(this,event)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label" style="padding-right:40px; width:200px">Observaciones:</td>
                            <td class="registro-control" style="padding-right:15px">
                                <textarea name="Interrdesc" id="txtInterObservacion" style="width:215px" maxlength="200">@Model.Entidad.Interrdesc</textarea>                                
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">RACMF:</td>
                            <td class="registro-control">
                                <input type="checkbox" id="cbRacmf" />
                                <select id="cbInterEtapa" name="Interrmfetapa" style="width:100px">
                                    <option value="">-Seleccione-</option>
                                    <option value="1">1° Etapa</option>
                                    <option value="2">2° Etapa</option>
                                    <option value="3">3° Etapa</option>
                                    <option value="4">4° Etapa</option>
                                    <option value="5">5° Etapa</option>
                                    <option value="6">6° Etapa</option>
                                    <option value="7">7° Etapa</option>
                                    <option value="8">8° Etapa</option>
                                    <option value="10">df / dt</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Rechazo Manual</td>
                            <td class="registro-control">
                                <input type="checkbox" id="cbRechazoManual" />
                            </td>
                        </tr>
                    </table>
                </div>

                <input type="hidden" id="hfIdPtoInterrupcion" name="Ptointerrcodi" value="@Model.Entidad.Ptointerrcodi" />
                <input type="hidden" id="hfIdInterrupcion" name="Interrupcodi" value="@Model.Entidad.Interrupcodi" />
                <input type="hidden" id="hfIdEventoInter" name="Evencodi" value="@Model.Entidad.Evencodi" />
                <input type="hidden" id="hfIndBajoCarga" name="Interrnivel" value="@Model.Entidad.Interrnivel" />
                <input type="hidden" id="hfIndRacmf" name="Interrracmf" value="@Model.Entidad.Interrracmf" />
                <input type="hidden" id="hfIdEtapaInter" value="@Model.Entidad.Interrmfetapa" />
                <input type="hidden" id="hfIndManualr" name="Interrmanualr" value="@Model.Entidad.Interrmanualr" />
                <input type="hidden" id="hfIdItemInforme" name="IdItemInforme" value="@Model.IdItemInforme" />

            </form>
        </td>
    </tr>
</table>
    




