@model COES.MVC.Intranet.Areas.Eventos.Models.RegistroModel

<table id="tablaInterrupcion" border="0" class="pretty tabla-adicional" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Pto Interrupción</th>
            <th>Cliente</th>
            <th>Pto Entrega DESC.</th>
            <th>MW</th>
            <th>Minutos</th>
            <th>Observ.</th>
            <th>Pto entrega SSEE</th>
            <th>Barra entrega</th>
            <th>Tens.</th>
            <th>Bajo Carga</th>
            <th>racMF</th>
            <th>etapaMF</th>
            <th>RM</th>
            <th>Última actualización</th>
            <th>Fecha act.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInterrupciones)
        {
            <tr>
                <td style="text-align:center; padding-left:20px">
                    <a href="JavaScript:openInterrupcion(@item.Interrupcodi, 0, 0, 0);"><img src="~/Content/Images/btn-edit.png" /></a>

                    @if (Model.IndicadorGrabar) { 
                        <a href="JavaScript:deleteInterrupcion(@item.Interrupcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    }
                </td>
                <td>@item.PtoInterrupNomb</td>
                <td>@item.EmprNomb</td>
                <td>@item.PtoEntreNomb</td>
                <td>@item.Interrmw</td>
                <td>@item.Interrminu</td>
                <td>@item.Interrdesc</td>
                <td>@item.AreaNomb</td>
                <td>@item.EquiAbrev</td>
                <td>@(item.EquiTension.ToString("#,###.00") + "kV")</td>
                <td>
                    @if (item.Interrnivel == "S")
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </td>
                <td>
                    @if (item.Interrracmf == "S")
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </td>
                <td>@item.Interrmfetapa</td>
                <td>
                    @if (item.Interrmanualr == "S")
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </td>
                <td>@item.Lastuser</td>
                <td>@item.Lastdate</td>
            </tr>
        }
    </tbody>
</table>