
<style>

    .datatables_filter {
    
        clear:none !important;
    }

</style>

<table border="0" class="tabla-icono table table-hover" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro.</th>
            <th>Empresa</th>
            <th>Tipo de Participante</th>
            <th>F. de inicio de participación</th>
            <th>F. de retiro</th>
            <th>Estado</th>
            <th style="width:250px">Actualización</th>
        </tr>
    </thead>
    <tbody>

        @{
            int contador = 1;
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td>@contador</td>
                    <td style="text-align:left">@item.Emprnomb</td>
                    <td>@item.EmprTipoParticipante</td>
                    <td>

                        @if (item.Emprfecparticipacion != null)
                        {
                            <span>@(((DateTime)item.Emprfecparticipacion).ToString("dd/MM/yyyy"))</span>
                        }

                    </td>
                    <td>
                        @if (item.Emprfecretiro != null)
                        {
                            <span>@(((DateTime)item.Emprfecretiro).ToString("dd/MM/yyyy"))</span>
                        }
                    </td>
                    <td>Habilitado</td>
                    <td style="width:250px">
                        <span>
                            @item.Emprcomentario
                        </span>
                    </td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

