@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "IndexRequerimientosPropios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/requerimientospropios.js?v=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">12. Pruebas de unidades de generación por requerimientos propios y por pruebas aleatorias de disponibilidad - (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
<input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div style="overflow:auto" class="table-list" id="listado1"></div>
        <div style="clear:both; height:15px"></div>
        <div style="overflow:auto" class="table-list" id="listado2"></div>
        <div style="clear:both; height:15px"></div>
        <div style="overflow:auto" class="table-list" id="listado3"></div>
        <div style="clear:both; height:15px"></div>
        <div style="overflow:auto" class="table-list" id="listado4"></div>
    </div>
</div>
<div id="winAnexoA" style="display:none;">
    <span class="button b-close"><span>X</span></span>

    <div style="clear:both; height:5px"></div>
    <div style="overflow:auto" class="table-list" id="listado"></div>
</div>
