@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/validacionesFiltros.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/reporterestricciones.js?id=1.4"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
<input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Reporte de las principales restricciones operativas y mantenimiento de las Unidades de Generación y de los equipos del Sistema de Transmisión. (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>Empresas:</td>
            <td>
                <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
                <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
            </td>
            <td>Ubicación:</td>
            <td>
                <div id="cbTipoRecursos"></div>
            </td>          
        </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-paginado" id="paginado"></div>
        <div class="table-list" id="listado" style=' overflow: auto; width: 1000px ;height :auto'></div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idGraficoContainer" style="min-width:310px; height:400px; max-width:800px; margin:0 auto"></div>
</div>