@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/globalFuncionPR5.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/generacionsein.js?id=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")

<script src="~/Content/Scripts/highcharts.js"></script>

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Máxima Generación Instantánea del SEIN(MW) (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="display: none">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha Fin:</td>
                <td>
                    <input type="text" id="txtFechaFin" name="txtFechaFin" value="@Model.FechaFin" />
                </td>
                <td>
                    <input type="button" id="btnGrafico1" value="Gráfico1" />
                    <input type="button" id="btnGrafico2" value="Gráfico2" />
                    <input type="button" id="btnGrafico3" value="Gráfico3" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idGraficoContainer" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto; display: none"></div>

    <div style="clear:both; height:30px"></div>

    <div id="grafico1" style="height: 450px; margin: 0 auto;"></div>
    <div id="grafico2" style="height: 450px; margin: 0 auto;"></div>
    <div id="grafico3" style="height: 450px; margin: 0 auto;"></div>
</div>

