@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/globalFuncionPR5.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/asignacionRRPFyRRSF.js?id=1"></script>

<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")

<script src="~/Content/Scripts/highcharts.js"></script>

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Registro de asignación de la RRPF y RRSF (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: none">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        El porcentaje de magnitud de Reserva Rotante para la RPF a todas las centrales del SEIN según el PR-21 es: @Model.MagnitudRPF
        <br/><br />

        Las centrales que realizaron la Regulación Secundaria de Frecuencia fueron:
        <br/><br />

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>
