@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel

@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/quemagas.js?id=1.2"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />


@Html.Partial("CargarMenu")

<div class="form-title" style="text-indent:10px">
    <div class="content-titulo" style="width:auto;">Volúmenes de quema de gas no empleados en generación eléctrica. (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo Agente:</td>
                <td>
                    <select id="cbTipoAgente" name="IdTipoAgente" multiple="multiple">
                        @foreach (var item in Model.ListaTipoAgente)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoAgente" name="tipoagente" />
                </td>
                <td>Central Integrante:</td>
                <td>
                    <select id="cbCentralInt" name="IdCentralInt" multiple="multiple">
                        @foreach (var item in Model.ListaCentralIntegrante)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfCentralInt" />
                </td>
                <td>Agente:</td>
                <td>
                    <div id="agentes"></div>
                </td>

            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
