@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/validacionesFiltros.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/caudalescentralhidroelectrica.js?id=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
<input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Reporte Caudales de las Centrales Hidroelectricas (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>
                <td>
                    Instalación:
                </td>
                <td>
                    <select id="cbFamilia" name="cbFamilia" multiple="multiple">
                        @foreach (var item in Model.ListaTipoRecursos)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfFamilia" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="btnGrafico" value="Ver Gráfico" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        
        <div class="table-list" style="overflow:auto" id="listado1"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>

        <div class="table-list" id="listado2"></div>
    </div>

</div>

<div id="idGrafico2">
    <span class="button b-close"><span>X</span></span>

    <div class="popup-title"><span>Vista Gráfica</span></div>
    <div style="clear:both; height:10px"></div>


    <div id="idVistaGrafica" style="height:450px; width:1250px;">
    </div>
</div>