@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/validacionesFiltros.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/horariocaudalesvolumenescentralhidroelectrica.js?id=1.3"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
<input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Descarga de lagunas y embalses y Volúmenes horarios asociados a las Centrales Hidroeléctricas (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#item14">Volúmenes horarios de Embalses</a></li>
            <li class='tab'><a href="#item15">Descarga de Lagunas</a></li>
        </ul>
        <div class='panel-container'>
            <div id="item14">
                <div class="content-tabla">
                    <div style="clear:both; height:5px"></div>
                    <div class="table-list" id="listado1"></div>
                </div>
            </div>
            <div id="item15">
                <div class="content-tabla">
                    <div style="clear:both; height:5px"></div>
                    <div class="table-list" id="listado2" style="width: 800px"></div>
                </div>
            </div>
        </div>
    </div>

</div>

