@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/costomarginales.js?id=1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

@Html.Partial("CargarMenu")
<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Reporte de los Costos Marginales de Corto Plazo en las Barras del SEIN (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <table class="content-tabla-search" style="width: auto; display: none">
        <tr>
            <td>Fecha Inicio:</td>
            <td>
                <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
            </td>
            <td>Fecha Fin:</td>
            <td>
                <input type="text" id="txtFechaFin" name="txtFechaFin" value="@Model.FechaFin" />
            </td>
        </tr>
    </table>

    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:20px;">
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>
</div>
