@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/recursoenergetico.js?id=2.3.5"></script>

<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
<input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />
<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Recursos energéticos y diagrama de duración de demanda del SEIN (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="checkbox" id="ckRecursos" /> Solo Recursos Energéticos RER
                </td>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaPotenciaxTipoRecurso)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>

                <td> Tipo Central:</td>
                <td>
                    <div id="tipocentral"></div>
                </td>
                <td>Tipo de Recurso:</td>
                <td>
                    <div id="cbTipoRecursos"></div>
                </td>
                <td>
                    <input type="button" id="btnGraficoDiagramaCarga" value="Diagrama de Carga" style="display: none" />
                    <input type="button" id="btnGraficoParticipacionTipoRecurso" value="Participación Tipo de Recurso" style="display: none" />
                    <input type="button" id="btnGraficoCentralRER" value="Gráfico de Centrales RER" style="display: none" />
                    <input type="button" id="btnGraficoTipoGeneracionRER" value="Gráfico Tipo de Generación" style="display: none" />
                </td>
            </tr>
        </table>

        <input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
        <input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />
    </div>


    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado">
            <div id="reporte" style="overflow: auto; height: auto; margin: 0 auto;"></div>
        </div>

        <div style="clear:both; height:25px"></div>
        <div class="table-list" id="listadoHidro">
        </div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idGrafico1" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica1" style="height:450px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico2" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica2" style="height:450px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico3" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica3" style="height:800px; width:1250px;">
        </div>
    </div>

    <div id="idGrafico4" class="popup_grafico" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Vista Gráfica</span></div>
        <div style="clear:both; height:10px"></div>
        <div id="idVistaGrafica4" style="height:450px; width:1250px;">
        </div>
    </div>
</div>