@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/desviacionpronostico.js?id=1.3"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Desviaciones de la Demanda Respecto a su Pronóstico (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="txtFechaInicio" value="@Model.FechaInicio" />
    <input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="float:left;"></div>
        <div id="graficos" style="height: 600px; width: 850px; float: left;"></div>
        <div style="clear:both; height:10px"></div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    </div>
</div>