@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/congestiones.js?id=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")

<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Reporte de los Registro de las Congestiones del Sistema de Transmisión (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display:none">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha Fin:</td>
                <td>
                    <input type="text" id="txtFechaFin" name="txtFechaFin" value="@Model.FechaFin" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
    
    <div style="clear:both; height:30px"></div>

    <div id="idGraficoContainer" style="min-width:310px; height:400px; max-width:800px; margin:0 auto"></div>
</div>
