@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/globalFuncionPR5.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/validacionesFiltros.js?id=1"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/horaindisponibilidad.js?id=1.3"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>

@Html.Partial("CargarMenu")
<div class="form-title" style="text-indent:10px">
    <div style="width:auto" class="content-titulo">Hora Inicio y Fin de Indisponibilidades de las Unidades de Generación  SEIN (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>


                <td>Central:</td>
                <td>
                    <div id="central"></div>
                </td>

                <td>
                    Equipo:
                </td>
                <td>
                    <div id="equipos"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>
                    <input type="hidden" id="txtFechaFin" name="txtFechaFin" value="@Model.FechaFin" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>


    <div style="clear:both; height:30px"></div>

</div>