@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.AjusteEmpresaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Parametro de Empresas / ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    var tipo = "";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/load.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/ajusteempresa.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes" id=respuestaRegistro>@sMensajeExito</div>}
    <div class="exito mensajes" id="respuestaImport"></div>
    <div class="form-title">
        @Html.HiddenFor(model => model.EntidadAjuste.Caiajcodi)
        @Html.HiddenFor(model => model.Caiajetipoinfo)
        @if (Model.Caiajetipoinfo.Equals("E"))
        { tipo = "Energía"; }
        else
        { tipo = "Transmisión"; }
        <div class="content-titulo">@Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre : @tipo</div>
        <div class="content-botonera">
            @if (Model.bNuevo || true)
            {
                <input type="button" value="Descargar excel" id="btnDescargarExcelAE" alt="Descargar todos los registros" title="Descargar todos los registros" />
                <input type="button" value="Importar excel" id="btnSelecionarExcelAE" alt="Importar datos de un excel" title="Importar datos de un excel" />
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Retornar" id="btnRetornar" onclick="location.href='@Url.Action("Index", "Ajuste", new { caiprscodi = Model.EntidadPresupuesto.Caiprscodi })'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>