@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.AjusteEmpresaModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th rowspan="2" style="text-align:left">Empresa</th>
            <th rowspan="2" style="text-align:left">Punto Medición</th>
            <th rowspan="2" style="text-align:left">Tipo empresa</th>
            @if (Model.Caiajetipoinfo.Equals("E"))
            {       
            <th colspan="6" scope="colgroup">Retiro/Produccion Energia (Mw.H)</th>
            }
            else
            {
            <th colspan="6" scope="colgroup">Ingreso por Transmisión (S/)</th>
            }
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
        <tr>
            <th scope="col">Ejecutada Inicio</th>
            <th scope="col">Ejecutada Fin</th>
            <th scope="col">Proyectado "A" Inicio</th>
            <th scope="col">Proyectado "A" Fin</th>
            <th scope="col">Proyectado "A+1" Inicio</th>
            <th scope="col">Proyectado "A+1" Fin</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAjusteEmpresa)
        {
            <tr id="fila_@item.Caiajecodi">
                <td style="text-align:left">@item.Emprnomb</td>
                <td style="text-align:left">@item.Ptomedielenomb</td>
                <td style="text-align:left">@item.Tipoemprdesc</td>
                <td>@if (item.Caiajereteneejeini != null) 
                { <span>@item.Caiajereteneejeini.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Caiajereteneejefin != null) 
                { <span>@item.Caiajereteneejefin.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Caiajeretenepryaini != null)
                { <span>@item.Caiajeretenepryaini.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Caiajeretenepryafin != null)
                { <span>@item.Caiajeretenepryafin.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Caiajereteneprybini != null)
                { <span>@item.Caiajereteneprybini.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Caiajereteneprybfin != null)
                { <span>@item.Caiajereteneprybfin.Value.ToString("dd/MM/yyyy")</span>}</td>
                <td style="width:30px;"><a href="#" id="view_@item.Caiajecodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { caiajecodi = item.Caiajecodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Caiajecodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>