@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.AjusteEmpresaModel
@{
    ViewBag.Titulo = "Detalle de Parametro Empresa";
}
<fieldset>
    <legend>Presupuesto</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Emprnomb, "Empresa : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Emprnomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Ptomedielenomb, "Punto Medición : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Ptomedielenomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajetipoinfo, "Tipo : ")</div>
            </td>
            <td>@*Para que no te muestre solo E o T*@
                @if(Model.EntidadAjusteEmpresa.Caiajetipoinfo.Equals("E")){
                    <div class="editor-label">Retiro Energía</div>
                }
                else
                {
                    <div class="editor-label">Ingreso por Transmisión</div>
                }
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajereteneejeini, "Retiro Energía (Mw.H) - Ejecutada Inicio : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajereteneejeini)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajereteneejefin, "Retiro Energía (Mw.H) - Ejecutada Fin : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajereteneejefin)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajeretenepryaini, "Retiro Energía (Mw.H) - Proyectado A Inicio : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajeretenepryaini)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajeretenepryafin, "Retiro Energía (Mw.H) - Proyectado A Fin : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajeretenepryafin)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajereteneprybini, "Retiro Energía (Mw.H) - Proyectado B Inicio : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajereteneprybini)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadAjusteEmpresa.Caiajereteneprybfin, "Retiro Energía (Mw.H) - Proyectado B Fin : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadAjusteEmpresa.Caiajereteneprybfin)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>