@model COES.MVC.Intranet.Areas.Siosein.Models.GestorModel

@{
   int tipo = 0;/* (int)Session["TIPO_LISTA"];*/
    string titulo = "OBSERVACIONES";

 /*   if (tipo == 1) { titulo = "Bandeja de Entrada"; }
    else { titulo = "Bandeja de Salida"; }*/
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">            
            <!--<a class="brand" href="#">Observaciones</a>
            <input type="button" id="btnNuevo" value="Redactar Correo" style="width:120px;" />-->
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="JavaScript:AgregarObservacion(1);">Nuevo</a></li>

                    <li ><a href="#">Eliminar</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Asignar a <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                   
                </ul>
               
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>





<div class="mail-box-header">
   
    <h2>
        @titulo
    </h2>
    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-lg-4" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-lg-4" style="padding-left: 0px;padding-right: 0px;">
                <span>Tabla</span>
            </div>
            <div class="col-lg-8" style="padding-left: 0px;padding-right: 0px;">
                <select id="cbtablaPrie" name="IdTablaPrie" style="width:100% !important;">
                    @foreach (var item in Model.ListaTablasPrie)
                    {
                        <option value="@item.Tpriecodi">@item.Tpriedscripcion</option>
                    }
                </select>
            </div>

        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="col-lg-11" style="height:5px;"></div>

    <div class="table-paginado" id="paginado" style="position:relative; top:-25px"></div>
    <div class="mail-tools tooltip-demo m-t-md">
        
    </div>
</div>


<div class="mail-box">

    @*<table class="table table-hover table-mail">
        <thead>
            <tr><td>#</td>
                <td>Tabla</td>
                <td>Periodo</td>
                <td>Usuario</td>
                <td>Observacion</td>
                <td>Fecha</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaMensajes)
            {
                string estadoCls = "unread";
                if (@item.EstMsgCodi == 1) { estadoCls = "read"; }

                <tr class="@estadoCls">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact" style="font-size:11px;">@item.MsgAsunto</td>
                    <td class="mail-ontact" style="font-size:11px;">@item.MsgFechaPeriodo</td>
                    <td class="mail-ontact" style="font-size:11px;">@item.MsgUsuCreacion</td>
                    <td class="mail-ontact" style="font-size:11px;">@item.MsgContenido</td>


                    <td class="text-right mail-date" style="font-size:11px;">@item.MsgFecha</td>
                </tr>



            }

        </tbody>
    </table>*@

    <div id="reporte1">
        @Html.Raw(Model.Resultado)
    </div>


    <div style="height:10px;"></div>
    <div id="validaciones">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Ingresar Observacion</span></div>
        <div class="table-list" id="detalleObservacion"></div>
    </div><!---->
</div>