@model COES.MVC.Intranet.Areas.Siosein.Models.GestorModel
           @{
               var mensaje = Model.MsgContenido;
               var correoD = Model.MsgTo;
               var asuntoA = Model.MsgAsunto;
               int tipo = (int)Session["TIPO_LISTA"];
           }

<script>
    $(document).ready(function () {
        $('#FchPeriodo').Zebra_DatePicker({
            direction: -1,
            format: 'm/Y'
        });       
    });
</script>


    <div>
        <div class="pull-right">
            <a href="JavaScript:EnviarMail(1);" class="btn2 btn-primary" title="Enviar"><i class="fa fa-envelope"></i> Enviar</a>
            <a href="JavaScript:Volver(@tipo);" class="btn2 btn-danger" title="Descartar"><i class="fa fa-times"></i> Descartar</a>
        </div>
        <h2>
           Redactar Mensaje
        </h2>
    </div>
    <div>
        <div>

            <form class="form-horizontal" method="get">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Tabla:</label>
                    <div class="col-lg-8">
                        <select id="cbTablaMensaje" name="IdTablaMensaje">
                            @foreach (var item in Model.ListaTablasPrie)
                            {
                                if (Convert.ToInt32(Model.FormatCodi) == item.Tpriecodi)
                                {
                                    <option value="@item.Tpriecodi" selected>@item.Tpriedscripcion</option>
                                }
                                else
                                {
                                    <option value="@item.Tpriecodi">@item.Tpriedscripcion</option>
                                }

                            }
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Para:</label>
                    <div class="col-lg-8"><input type="text" class="form-control" id="CorreoDest" value="@correoD" style="width:50%;"></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Asunto:</label>

                    <div class="col-lg-8"><input type="text" class="form-control" value="@asuntoA" id="asuntoM" style="width:50%;"></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Categoria Mensaje:</label>
                    <div class="col-lg-8">
                        <select id="cbcategoriaMensaje" name="IdCategoriaMensaje">
                            @foreach (var item in Model.ListaTipoMensaje)
                            {
                                <option value="@item.Tmsgcodi">@item.Tmsgnombre</option>
                            }
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Periodo:</label>
                    <div class="col-lg-8">
                        <input type="text" id="FchPeriodo" value="@Model.FechaFiltro" />
                    </div>
                    <input type="hidden" id="idEstado" value="@Model.EstMsgCodi" />
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Contenido:</label>
                    <div class="col-lg-8">
                        <textarea class="summernote" id="ContentMsg"">
                         @mensaje
                        </textarea>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-lg-2 control-label">.</label>
                </div>
            </form>
        </div>
    </div>

