@model  COES.MVC.Intranet.Areas.TransfPotencia.Models.ConsultaDatosModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            @if (Model.TipoComp == 0)
            {
                <th>Central / Unidad</th>
            }
            @if (Model.TipoComp == 2)
            {
                <th>Cargo</th>
            }
            @foreach (var item in Model.ListaPeriodos)
            {
                <th>@item</th>
            }
            <th>Variación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TipoComp == 0)
        {
            foreach (var item in Model.ListaConsulta)
            {
                <tr>
                    <td class="text_left">@item.Emprnomb</td>
                    <td class="text_left">@item.Equinomb</td>
                    @foreach (var item2 in item.lstImportesPromd)
                    {
                        <td class="text_left">@item2</td>
                    }
                    <td class="text_left">@item.PorcentajeVariacion %</td>
                </tr>
            }
        }
        @if (Model.TipoComp == 1)
        {
            foreach (var item in Model.ListaConsultaValorizacionPotencia)
            {
                <tr>
                    <td class="text_left">@item.Emprnombpago</td>
                    @foreach (var item2 in item.lstImportesPromd)
                    {
                        <td class="text_left">@item2</td>
                    }
                    <td class="text_left">@item.PorcentajeVariacion %</td>
                </tr>
            }
        }
        @if (Model.TipoComp == 2)
        {
            foreach (var item in Model.ListaConsultaPeajeEmpresaPago)
            {
    <tr>
        <td class="text_left">@item.Emprnombcargo</td>
        <td class="text_left">@item.Pingnombre</td>
        @foreach (var item2 in item.lstImportesPromd)
        {
            <td class="text_left">@item2</td>
        }
        <td class="text_left">@item.PorcentajeVariacion %</td>
    </tr>
            }
        }
    </tbody>
</table>