@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Importacion.DetallePeriodoImportacionModel

@{
    ViewBag.Title = "Ejecutar remisión de información a Osinergmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var disabled = new { @class = "form-control form-control-half", disabled = "disabled", @readonly = "readonly" };
}

<!--Hoja de estilos-->
<link href="~/Areas/IntercambioOsinergmin/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@ViewBag.Title</div>
</div>

<div class="content-hijo">
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Datos Generales</div>
    <div class="search-content">
        <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:160px;">
                    @Html.LabelFor(model => model.FiltroPeriodoImportacion.Periodo, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.PeriodoImportacionModel.Periodo, new { @class = "form-control form-control-half" })
                </td>
                <td style="width:300px;">
                    @Html.LabelFor(model => model.PeriodoImportacionModel.FechaActualCoes, new { @class = "form-label" })
                    @if (Model.PeriodoImportacionModel.FechaActualCoes > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <input type="text" value="@Model.PeriodoImportacionModel.FechaActualCoes" disabled="disabled" style="width:160px;" />
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PeriodoImportacionModel.fechaVacia, disabled)
                    }
                </td>
                <td style="width:300px;">
                    @Html.LabelFor(model => model.PeriodoImportacionModel.FechaActualOsinergmin, new { @class = "form-label" })
                    @if (Model.PeriodoImportacionModel.FechaActualOsinergmin > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <input type="text" value="@Model.PeriodoImportacionModel.FechaActualOsinergmin" disabled="disabled" style="width:160px;" />
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PeriodoImportacionModel.fechaVacia, disabled)
                    }
                </td>
                <td style="width:50px;">
                    <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" class="form-action" />
                </td>
            </tr>
        </table>
    </div>
    <div id="mensaje"></div>
</div>

<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet"/>

<script src="~/Areas/IntercambioOsinergmin/Content/Scripts/importacionesCrear.js"></script>

