@model System.Collections.Generic.IEnumerable<COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Importacion.PeriodoImportacionModel>

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Periodo)</th>
                <th>@Html.DisplayNameFor(model => model.FechaActualCoes)</th>
                <th>Fecha Sincronizacion COES</th>
                <th>Pend. Tablas-Empresas</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var item1 = @item;
            <tr class="menu-contextual" id="@item.Periodo">
                <td>@Html.DisplayFor(modelItem => item1.Periodo)</td>
                <td>
                    @if (item1.FechaActualCoes > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        @item1.FechaActualCoes.ToString("dd/MM/yyyy HH:mm")
                    }
                </td>
                <td>
                    @if (item1.FechaSincronizacionCoes > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        @item1.FechaSincronizacionCoes.ToString("dd/MM/yyyy HH:mm")
                    }
                </td>
                <td>
                    @item1.TablasEmpresasProcesar.ToString("")
                </td>
                <td>
                    @if (item1.PsicliCerrado == "1")
                    {
                        <b>Cerrado</b>
                    }
                    else
                    {
                        <b>Abierto</b>
                    }
                </td>
                <td>
                    <a href="JavaScript:editarRegistro('@item.Periodo');" title=""><img src="~/Content/Images/btn-open.png" alt="Ver Remisión" title="Ver Remisión"></a>
                    
                    @if (item1.PsicliCerrado == "1")
                    {
                        <a href="JavaScript:abrirPeriodo(@item.PsicliCodi,'Abrir');" title=""><img src="~/Content/Images/folder_open.png" alt="Abrir Periodo" title="Abrir Periodo"></a>
                    }
                    else
                    {
                        <a href="JavaScript:procesarEnvioCoes('@item.Periodo',@item1.TablasEmpresasProcesar);" title=""><img src="~/Content/Images/enviar.png" alt="Procesar" title="Enviar a Medidores"></a>
                        <a href="JavaScript:cerrarPeriodo(@item.PsicliCodi, 'Cerrar',@item1.TablasEmpresasProcesar);" title=""><img src="~/Content/Images/folder_open_red.png" alt="Cerrar Periodo" title="Cerrar Periodo"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>