@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Importacion.EntidadImportacionModel

<table class="pretty tabla-icono" id="tabla04">
    <thead>
        <tr>
            @* HDT Inicio 02/04/2017 *@
            <th><input type="checkbox" onchange="checkAll(this)" /></th>
            @* HDT Fin *@
            <th>Estado</th>
            <th>Entidad</th>
            <th>Cantidad Registros Osinergmin</th>
            <th>Cantidad Registros Descargados COES</th>
        </tr>
    </thead>
    @* HDT Inicio 02/04/2017 *@
    @* <tbody id="tbSeleccionados"> *@
    <tbody id="tbSeleccionados04">
        @* HDT Fin *@
        @foreach (var item in Model.ListaControlTabla04)
        {
            <tr class="menu-contextual">
                @* HDT Inicio 02/04/2017 *@
                <td>
                    <input type="checkbox" id="@item.Rcimempresa.Trim()" name="@item.Rcimempresa.Trim()" />
                </td>
                @* HDT Fin *@

                @* HDT Inicio 02/04/2017 *@
                @*
                    @if (item.Rcimestadoimportacion == "1")
                    {
                        <td><a title="Remisión exitosa"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_green.png"></a></td>
                    }
                    else
                    {
                        <td>
                            <a title="Remisión con errores" href="javascript:mostrarIncidencias(@item.Rcimcodi.ToString())" >
                                <img src="~/Areas/IntercambioOsinergmin/Content/images/flag_red.png">
                            </a>
                        </td>
                    }
                *@

                @if (item.Rcimestadoimportacion == "1")
                {
                    <td><a title="Remisión exitosa"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_green.png"></a></td>
                }
                else if (item.Rcimestadoimportacion == "0")
                {
                    <td>
                        <a title="Remisión con errores" href="javascript:mostrarIncidencias(@item.Rcimcodi.ToString())">
                            <img src="~/Areas/IntercambioOsinergmin/Content/images/flag_red.png">
                        </a>
                    </td>
                }
                else
                {
                     <td>
                        
                    </td>
                }


                @* HDT Fin *@
    
                <td>@item.Rcimempresadesc.Trim()</td>
                <td>@item.Rcimnroregistros</td>
                <td>@item.Rcimnroregistroscoes</td>
            </tr>
        }
    </tbody>
</table>
