@model COES.MVC.Extranet.Areas.Transferencias.Models.RatioCumplimientoModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Requerido</th>
            <th>Informado</th>
            <th>Inform. Final</th>
            <th>Cumplimiento con inform. final</th>
            <th width="30%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRatioCumplimiento)
        {
            decimal b = 0;
            decimal r = item.Requerido;
            if (item.Infofinal == 0)
            {
                b = 0;
            }
            else
            {
                if (item.Requerido == 0)
                { r = 1; }
                b = (item.Infofinal / r) * 100;
            }
            var a = 100 - b;
            <tr id="fila_@item.EmprCodi">
                <td class="text_left">@item.EmprNomb</td>
                <td style="text-align:right">@item.Requerido</td>
                <td style="text-align:right">@item.Informado</td>
                <td style="text-align:right;">@item.Infofinal</td>
                @if (item.Infofinal == 0)
                {
                    <td style="text-align:right">0% </td>
                    <td><div><div style="background-color:green !important;width:0%;float:left">&nbsp;</div><div style="background-color:red !important;width:100%;float:right">&nbsp;</div></div></td>
                }
                else
                {
                    <td style="text-align:right">@(((@item.Infofinal / r) * 100).ToString("##0")) %</td>
                    <td ><div><div style="background-color:green !important;width:@(b)%;float:left">&nbsp;</div> <div style="background-color:red !important;width:@(a)%;float:right">&nbsp;</div></div></td>
                }
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
