@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consultas</div>
    <div class="content-botonera"></div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="tab-container" class="tab-container" style="min-height:700px">
        <ul class='etabs'>
            <li class='tab'><a href="#MontoPorEnergia">Monto Por Energía</a></li>
            <li class='tab'><a href="#MontoPorCapacidad">Monto Por Capacidad</a></li>
            <li class='tab'><a href="#MontoPorPeaje">Monto por Peaje por conexión en SPT y peaje por trans. en el SGT</a></li>
            <li class='tab'><a href="#CalculosSCIO">Montos por SC e IO</a></li>
            <li class='tab'><a href="#MontoPorExceso">Monto Por Exceso de consumo de Energía Reactiva</a></li>
        </ul>

        <div id="MontoPorEnergia">
            <div style="padding-top:20px;">
            </div>
            <div class="search-content">
                <label>Empresa:</label>
                <select id="cbxEmpresaME">
                    @foreach (var empresa in Model.Empresa)
                    {
                        <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
                Fecha de Inicio: <input type="text" id="txtFechaInicioMR" value="@ViewBag.Fecha" />
                Fecha Final: <input type="text" id="txtFechaFinalMR" value="@ViewBag.Fecha" />
                <input type="button" id="btnBuscarMontoEnergia" value="Consultar" />
                <input type="button" id="btnExportarExcelME" value="Exportar" />
            </div>

            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="PaginadoMontoEnergia"></div>
                </div>
                <div style="clear:both; margin-bottom:10px"></div>
                <div class="table-list" id="ListadoMontoPorEnergia"></div>

                <div style="clear:both; margin-bottom:40px"></div>
            </div>
        </div>

        <div id="MontoPorCapacidad">
            <div style="padding-top:20px;">
            </div>
            <div class="search-content">
                <label>Empresa:</label>
                <select id="cbxEmpresaMC">
                    @foreach (var empresa in Model.Empresa)
                    {
                        <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
                Fecha de Inicio: <input type="text" id="txtFechaInicioMC" value="@ViewBag.FechaFormatoMesAnio" />
                Fecha Final: <input type="text" id="txtFechaFinalMC" value="@ViewBag.FechaFormatoMesAnio" />
                <input type="button" id="btnBuscarMontoCapacidad" value="Consultar" />
                <input type="button" id="btnExportarExcelMC" value="Exportar" />
            </div>

            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="PaginadoMontoCapacidad"></div>
                </div>
                <div style="clear:both; margin-bottom:10px"></div>
                <div class="table-list" id="ListadoMontoCapacidad"></div>

                <div style="clear:both; margin-bottom:40px"></div>
            </div>
        </div>

        <div id="MontoPorPeaje">
            <div style="padding-top:20px;">
            </div>
            <div class="search-content">
                <label>Empresa:</label>
                <select id="cbxEmpresaMP">
                    @foreach (var empresa in Model.Empresa)
                    {
                        <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
                Fecha de Inicio: <input type="text" id="txtFechaInicioMP" value="@ViewBag.FechaFormatoMesAnio" />
                Fecha Final: <input type="text" id="txtFechaFinalMP" value="@ViewBag.FechaFormatoMesAnio" />
                <input type="button" id="btnBuscarMontoPeaje" value="Consultar" />
                <input type="button" id="btnExportarExcelMP" value="Exportar" />
            </div>

            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="PaginadoMontoPeaje"></div>
                </div>
                <div style="clear:both; margin-bottom:10px"></div>

                <div class="table-list" id="ListadoMontoPorPeaje"></div>

                <div style="clear:both; margin-bottom:40px"></div>
            </div>
        </div>

        <div id="CalculosSCIO">
            <div style="padding-top:20px;">
            </div>
            <div class="search-content">
                <label>Empresa:</label>
                <select id="cbxEmpresaMSCeIO">
                    @foreach (var empresa in Model.Empresa)
                    {
                        <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
                <label>Fecha de Inicio: </label><input type="text" id="txtFechaInicioSCeIO" value="@ViewBag.Fecha" />
                <label>Fecha Final: </label><input type="text" id="txtFechaFinalSCeIO" value="@ViewBag.Fecha" />
                <input type="button" id="btnBuscarMontoSCeIO" value="Consultar" />
                <input type="button" id="btnExportarExcelSCeIO" value="Exportar" />
            </div>
            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="PaginadoMontoSCeIO"></div>
                </div>
                <div style="clear:both; margin-bottom:10px"></div>
                <div class="table-list" id="ListadoMontoSCeIO"></div>
                <div style="clear:both; margin-bottom:40px"></div>
            </div>
        </div>

        <div id="MontoPorExceso">
            <div style="padding-top:20px;">
            </div>
            <div class="search-content">
                <label>Empresa:</label>
                <select id="cbxEmpresaMEx">
                    @foreach (var empresa in Model.Empresa)
                    {
                        <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
                Fecha de Inicio: <input type="text" id="txtFechaInicioMEx" value="@ViewBag.Fecha" />
                Fecha Final: <input type="text" id="txtFechaFinalMEx" value="@ViewBag.Fecha" />
                <input type="button" id="btnBuscarMontoPorExceso" value="Consultar" />
                <input type="button" id="btnExportarExcelMEx" value="Exportar" />
            </div>
            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="PaginadoMontoCapacidad"></div>
                </div>
                <div style="clear:both; margin-bottom:10px"></div>
                <div class="table-list" id="ListadoMontoPorExceso"></div>
                <div style="clear:both; margin-bottom:40px"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/jquery.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/popup.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoPorECR.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoPorEnergia.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoPorCapacidad.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoPorPeaje.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoPorExceso.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/MontoSCeIO.js"></script>
<script>
    IniciarTabs();
</script>
