@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel

@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Reporte de Valorizaciones Diarias</div>
    <div class="content-botonera">
        <input type="button" id="btnExportarExcelVD" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <label>Empresa:</label>
        <select id="cbxEmpresa">
            <option value="0">TODOS</option>
            @foreach (var empresa in Model.Empresa)
            {
                <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
            }
        </select>
        <label>Fecha de Inicio:</label>
        <input type="text" name="Fecha" id="txtFechaInicioVD" value="@ViewBag.FormatoFechaAnioMesDia" />
        <label>Fecha Final:</label>
        <input type="text" name="Fecha" id="txtFechaFinalVD" value="@ViewBag.FormatoFechaAnioMesDia" />
        <input type="button" id="btnBuscarValorizacionD" value="Consultar" />
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="PaginadoValorizacionDiaria"></div>
        </div>
        <div style="clear:both; margin-bottom:10px"></div>
        <div class="table-list" id="ListadoValorizacionDiaria"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>
</div>

<script src="~/Content/Scripts/jquery.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/popup.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/ValorizacionDiaria.js"></script>