@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.MontoPorPeaje.Count == 0)
{

    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Participante</th>
                <th>Demanda Clientes (MW)</th>
                <th>Monto por Peaje unitario (S/./kw-mes)</th>
                <th>Monto por Peaje (S/.)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MontoPorPeaje)
            {
                <tr>
                    <td>@item.Valofecha.ToString("MMMM-yyyy")</td>
                    <td>@item.Emprnomb</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", item.Valddemandacoincidente)</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", item.Valdpeajeuni)</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", (item.Valddemandacoincidente * item.Valdpeajeuni))</td>
                </tr>
            }
        </tbody>
    </table>
}