@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.MontoSCeIO.Count == 0)
{

    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Participante</td>
                <td>Fpgm</td>
                <td>% perdida</td>
                <td>Factor P</td>
                <td>MCio (S/.)</td>
                <td>PDsc (S/.)</td>
                <td>CO (S/.)</td>
                <td>RA (S/)</td>
                <td>RA Sub (MW-dia)</td>
                <td>RA Baj (MW-dia)</td>
                <td>Demanda MW COES</td>
                <td>Factor de Reparto</td>
                <td>Comp. Costo Ope (S/.)</td>
                <td>Of max Sub (S//MW-mes)</td>
                <td>Of max Baj (S//MW-mes)</td>
                <td>PAGOio (S/.)</td>
                <td>PAGOsc (S/.)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MontoSCeIO)
            {
            <tr>
                <td>@item.Valofecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Emprnomb</td>
                <td style="text-align:right">@String.Format("{0:0.0000}", item.Valdfpgm)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valoporcentajeperdida)</td>
                <td style="text-align:right">@String.Format("{0:0.0000}", item.Valdfactorp)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valdmcio)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valdpdsc)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valoco)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valora)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.ValoraSub)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.ValoraBaj)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valodemandacoes)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valofactorreparto)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valocompcostosoper)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valoofmax)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.ValoofmaxBaj)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valdpagoio)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valdpagosc)</td>
            </tr>
            }
        </tbody>
    </table>
}