@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.MontoPorExceso.Count == 0)
{

    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Participante</td>
                <td>Frec Total (S/./dia)</td>
                <td>Otros Equipos (S/./dia)</td>
                <td>Costos Fuera Banda (S/./dia)</td>
                <td>Comp. Term. RT (S/./dia)</td>
                <td>Cargos por Consumo en Exceso (S/./dia)</td>
                <td>Aportes Adicionales (S/./dia)</td>
                <td>Total (S/./dia)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MontoPorExceso)
            {
                <tr>
                   <td>@item.Valofecha.ToString("dd/MM/yyyy")</td>
                   <td>@item.Emprnomb</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valofrectotal)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valootrosequipos)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valocostofuerabanda)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valocomptermrt)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valdcargoconsumo)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", item.Valdaportesadicional)</td>
                   <td style="text-align:right">@String.Format("{0:0.00}", (item.Valdcargoconsumo + item.Valdaportesadicional))</td>
                </tr>
            }
        </tbody>
    </table>
}