@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.MontoPorEnergia.Count == 0)
{

    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Participante</th>
                <th>Montos de Retiro S/.</th>
                <th>Montos de Entrega S/.</th>
                <th>Montos Neto de Energía S/.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MontoPorEnergia)
            {
                <tr>
                    <td>@item.Valofecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Emprnomb</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", item.Valdretiro)</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", item.Valdentrega)</td>
                    <td style="text-align:right">@String.Format("{0:0.00}", (item.Valdretiro - item.Valdentrega))</td>
                </tr>
            }
        </tbody>
    </table>
}