@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Remision.EntidadRemisionModel

<table id="tbDocumentLibrary" class="pretty tabla-icono">
    <thead>
        <tr>
            <th></th>
            <th>Documento</th>
            <th>Fecha y Hora</th>
            <th>Errores</th>
            <th>Tamaño</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDocumentos)
        {
            <tr style="cursor:pointer">

                <td onclick="descargarArchivo('@item.FileUrl', '@item.FileType', '@item.Extension')"><img src="~/Areas/IntercambioOsinergmin/Content/images/@item.Icono" /></td>
                <td onclick="descargarArchivo('@item.FileUrl', '@item.FileType', '@item.Extension')">@item.FileName</td>
                <td>@item.LastWriteTime</td>

                @if (item.FileName.Contains("_BAD"))
                {
                    <td onclick="descargarLog('@item.tabla', '@item.idEnvio')"><img src="~/Areas/IntercambioOsinergmin/Content/images/system-error-alt-02.png" /></td>
                }
                else
                {
                    <td></td>
                }


                <td>@item.FileSize</td>
            </tr>
        }
    </tbody>
</table>