@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Remision.DetallePeriodoRemisionModel

@{
    ViewBag.Title = "Ejecutar remisión de información a Osinergmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var disabled = new { @class = "form-control form-control-half", disabled = "disabled", @readonly = "readonly" };
}

<!--Hoja de estilos-->
<link href="~/Areas/IntercambioOsinergmin/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@ViewBag.Title</div>
</div>

<div class="content-hijo">
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Datos Generales</div>
    <div class="search-content">
        <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:160px;">
                    @Html.LabelFor(model => model.FiltroPeriodoRemision.Periodo, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.PeriodoRemisionModel.Periodo, disabled)
                </td>
                <td style="width:300px;">
                    @Html.LabelFor(model => model.PeriodoRemisionModel.PrimerEnvioDate, new { @class = "form-label" })
                    @if (Model.PeriodoRemisionModel.PrimerEnvioDate > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <input type="text" value="@Model.PeriodoRemisionModel.PrimerEnvioDate" disabled="disabled" style="width:160px;" />
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PeriodoRemisionModel.fechaVacia, disabled)
                    }
                </td>
                <td style="width:300px;">
                    @Html.LabelFor(model => model.PeriodoRemisionModel.UltimoEnvioDate, new { @class = "form-label" })
                    @if (Model.PeriodoRemisionModel.UltimoEnvioDate > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <input type="text" value="@Model.PeriodoRemisionModel.UltimoEnvioDate" disabled="disabled" style="width:160px;" />
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PeriodoRemisionModel.fechaVacia, disabled)
                    }
                </td>
                <td style="width:40%;text-align:right">
                    <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" />
                    <input type="button" value="Remitir Seleccionados" id="btnRemitir" name="btnRemitir" />
                </td>
            </tr>
        </table>
    </div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tap1">Tablas de Remisión</a></li>
            <li class='tab'><a href="#tap2">Archivos Cargados</a></li>
        </ul>
        <div class='panel-container' style="min-height:200px">
            <div id="tap1">
                <table style="width:auto">
                    <tr>
                        <td>
                            Excel
                            <input type="radio" name="rbTipo" value="X" class="rbTipo" checked="checked" />
                        </td>
                        <td>
                            Csv
                            <input type="radio" name="rbTipo" value="C" class="rbTipo"/>
                        </td>
                        <td>
                            Zip
                            <input type="radio" name="rbTipo" value="Z" class="rbTipo" />
                        </td>
                    </tr>
                </table>
                <br />
                <div class="listado">
                    <div class="content-tabla">
                        <div class="table-list" id="listado"></div>
                    </div>
                </div>
                <br />
                <div>
                    <table cellpadding="1" cellspacing="1" class="pretty tabla-icono">
                        <thead>
                            <tr>
                                <th colspan="4">Leyenda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="4%" align="center"><span class="textos"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_green.png" alt=""></span></td>
                                <td width="48%"><span class="textos">Indica que el archivo cargado no presenta errores.</span></td>
                                <td width="4%" align="center"><span class="textos"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_yellow.png" alt=""></span></td>
                                <td width="44%"><span class="textos">Indica que no se han encontrado registros en la tabla.</span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="textos"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_red.png" alt=""></span></td>
                                <td><span class="textos">Indica que el archivo cargado presenta errores.</span></td>
                                <td align="center"><span class="textos"><img src="~/Areas/IntercambioOsinergmin/Content/images/system-error-alt-02.png" alt=""></span></td>
                                <td><span class="textos">Descarga un archivo con el detalle de los errores en la carga.</span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="textos"><img src="~/Areas/IntercambioOsinergmin/Content/images/settings.png" width="18px" alt=""></span></td>
                                <td><span class="textos">Permite enviar la información de la tabla.</span></td>
                                <td align="center"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tap2">
                <div class="listado">
                    <div class="content-tabla">
                        <div id="listaArchivos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet"/>

<!--Tabs-->
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Areas/IntercambioOsinergmin/Content/Scripts/remisionesEditar.js"></script>