@model System.Collections.Generic.IEnumerable<COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Remision.PeriodoRemisionModel>

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Periodo)</th>
                <th>@Html.DisplayNameFor(model => model.PrimerEnvioDate)</th>
                <th>@Html.DisplayNameFor(model => model.UltimoEnvioDate)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var item1 = @item;
                <tr class="menu-contextual" id="@item.Periodo">
                    <td>@item1.Periodo</td>
                    <td>@if (item1.PrimerEnvioDate > new DateTime(1, 1, 1, 0, 0, 0))
                        {
                            @item1.PrimerEnvioDate
                        }
                    </td>
                    <td>
                        @if (item1.UltimoEnvioDate > new DateTime(1, 1, 1, 0, 0, 0))
                        {
                            @item1.UltimoEnvioDate
                        }
                    </td>
                    <td>
                        <a href="JavaScript:editarRegistro('@item.Periodo');" title=""><img src="~/Content/Images/btn-open.png" alt="Ver Remisión" title="Ver Remisión"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>