@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Remision.EntidadRemisionModel

<table class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th><input type="checkbox" onchange="checkAll(this)" /></th>
            <th></th>
            <th>Acciones</th>
            <th>Entidad</th>
            <th>N° Registros enviados</th>
            <th>Fecha y Hora de último envío</th>  
            <th>Usuario</th>        
        </tr>
    </thead>
    <tbody id="tbSeleccionados">
        @foreach (var item in Model.ListarEntidades)
        {
            <tr class="menu-contextual">
                <td>
                    <input type="checkbox" id="@item.RtabCodi.Trim()" name="@item.RtabCodi.Trim()" />
                </td>
                @if (item.RccaEstadoEnvio == "1")
                {
                    <td><a title="Remisión exitosa"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_green.png"></a></td>
                }
                else if (item.RccaEstadoEnvio == "0")
                {
                    <td><a title="Remisión con errores"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_red.png"></a></td>
                }
                else if (item.RccaEstadoEnvio == "2")
                {
                    <td><a title="No se encontraron registros"><img src="~/Areas/IntercambioOsinergmin/Content/images/flag_yellow.png"></a></td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a href="JavaScript:remitirRegistro('@item.RtabCodi.Trim()');" title="Procesar remisión"><img src="~/Areas/IntercambioOsinergmin/Content/images/settings.png" alt="Procesar remisión"></a>
                    @if (item.RccaEstadoEnvio == "0")
                    {
                        <a href="JavaScript:descargarLog('@item.RtabCodi.Trim()', '0');" title="Descargar log"><img src="~/Areas/IntercambioOsinergmin/Content/images/system-error-alt-02.png" alt="Descargar log"></a>
                    }
                </td>

                <td style="text-align:left"><a href="JavaScript:obtenerFile('@item.RtabCodi.Trim()');">   @item.RtabDescripcionTabla</a></td>

                @if (item.RccaEstadoEnvio != null)
                {
                    <td>@item.RccaNroRegistros</td>
                    <td>@item.RccaFecHorEnvio</td>
                    <td>@item.RccaUsuario</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>