
<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/centrales.js?v=3.0"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<div>
    <div class="search-content">
        <div class="h-panel">
            <div class="flex-row" style="margin-right: 35px;">
                <div style="display: flex; align-items: center; margin-right: 10px;">Central generación :</div>
                <select id="cbofiltroCentral" class="filtro-select" style="width: 200px; margin-right:20px;">
                    <option value="-1" selected>Seleccione</option>
                    @foreach (var item in Model.filtroCentralesIntegrantes)
                    {
                        <option value="@item.Equicodi">@item.Equinombconcatenado</option>

                    }
                </select>

                <div style="display: flex; align-items: center; margin-right: 10px; margin-left: 20px; white-space: nowrap; ">Empresa :</div>
                <select id="cbofiltroEmpresa" class="filtro-select" style="width: 250px; margin-right:20px;">
                    <option value="-1" selected>Seleccione</option>
                    @foreach (var item in Model.filtroEmpresasIntegrantes)
                    {
                        <option value="@item.Emprcodi">@item.Emprnombconcatenado</option>

                    }
                </select>
                <div style="margin-top:20px;">
                    
                </div>
                <div style="display: flex; align-items: center; margin-right: 10px; margin-left: 20px; white-space: nowrap; ">Barra Transferencia :</div>
                <select id="cbofiltroBarraTransferencia" class="filtro-select" style="width: 200px; margin-right:20px;">
                    <option value="-1" selected>Seleccione</option>
                    @foreach (var item in Model.filtroBarrasTransIntegrantes)
                    {
                        <option value="@item.BarrCodi">@item.BarrNombreConcatenado</option>

                    }
                </select>
            </div>
            <div style="margin-top:20px;">
                <input type="button" id="btnConsultar" value="Consultar" style="margin-right: 10px;">
                <input type="button" id="btnRefrescar" value="Limpiar" style="margin-right: 10px;">
                <input type="button" id="btnExportar" value="Exportar Excel" style="margin-right: 10px;">
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10px;">
        <table id="dtListaCentralesGeneracion"
               class="pretty tabla-icono">
            <thead>
                <tr>
                    <th rowspan="2" width="15%"></th>
                    <th rowspan="2">Cpacntcodi</th>
                    <th rowspan="2">Cpaempcodi</th>
                    <th rowspan="2">Cparcodi</th>
                    <th rowspan="2">Equicodi</th>
                    <th rowspan="2">Central</th>
                    <th rowspan="2">InicioComercial</th>
                    <th rowspan="2">FinComercial</th>
                    <th rowspan="2">Emprcodi</th>
                    <th rowspan="2">Empresa</th>
                    <th colspan="2">Generación Ejecutada</th>
                    <th colspan="2">Generación Programada</th>
                    <th rowspan="2">Barrcodi</th>
                    <th rowspan="2">Barra Transferencia'</th>
                    <th rowspan="2">Ptomedicodi</th>
                    <th rowspan="2">Barra PMPO'</th>
                    <th rowspan="2">Tipo</th>
                    <th rowspan="2">Estado</th>
                    <th rowspan="2">Usuario Actualización</th>
                    <th rowspan="2">Fecha Actualización</th>
                    <th rowspan="2">CentralesPMPO</th>
                </tr>
                <tr>
                    <th colspan="1">Fecha inicio</th>
                    <th colspan="1">Fecha fin</th>
                    <th colspan="1">Fecha inicio</th>
                    <th colspan="1">Fecha fin</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="popupEditarCentral" class="general-popup" style="min-width: 570px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Parámetros de Central de generación participante</span>
    </div>
    <div class="popup-text">
        <div>
            <label id="popupDescripcionAjuste">Ajuste</label>
        </div>
        <div>
            <label id="popupDescripcionCentral">Central de generacion</label>
        </div>
        <div style="margin-bottom: 10px;">
            <label id="popupDescripcionEmpresa">Empresa</label>
        </div>
        <div id="message-popupEditarCentral" style="display: none"></div>
        <div>
            <label style="margin-right: 10px;">Barra Transferencia :</label>
            <select id="popupGeneracionTransferencia" class="f-select" style="width: 300px; margin-right:10px;">
                <option value="-1" selected>Seleccione</option>
                @foreach (var item in Model.popupfiltroBarrasTransferencia)
                {
                    <option value="@item.BarrCodi">@item.BarrNombreConcatenado</option>

                }
            </select>
        </div>
        <div class="box" style="margin-right:10px; margin-top: 30px; width: 570px;">
            <div class="box-title">Datos PMPO</div>
            <div class="box-body" style="width: 450px; height: 250px;">
                <div class="h-panel">
                    <label style="margin-right: 10px; display: inline-block; width: 110px;">Barra :</label>
                    <select id="popupGeneracionBarra" class="f-select" style="width: 200px; margin-right:10px; margin-bottom: 10px;">
                        <option value="-1" selected>Seleccione</option>
                        @foreach (var item in Model.popupfiltroBarrasPMPO)
                        {
                            <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>

                        }
                    </select>
                </div>
                <div class="h-panel" style="margin-top: 10px; ">
                    <label style="margin-right: 10px; display: inline-block; width: 110px;">Central generación :</label>
                    <select id="popupGeneracionCentral" class="f-select" style="width: 200px; margin-right:25px;">
                        <option value="-1" selected>Seleccione</option>
                        @foreach (var item in Model.popupfiltroCentralesPMPO)
                        {
                            <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>

                        }
                    </select>
                    <input type="button" id="popupGeneracionAgregar" value="Agregar">
                </div>
                <div style="margin-top: 20px;">
                    <table id="popupdtCentralAgregada" class="pretty tabla-icono" style="width: 340px;">
                    </table>
                </div>
            </div>
        </div>
        @*<div class="box" style="margin-right: 10px; margin-top: 20px; width: 430px;">
            <div class="box-title">Generacion Ejecutada/Programada</div>
            <div class="box-body" style="width: 420px; height: 70px;">
                <div style="display: flex; align-items: flex-start;">
                        <table border="1" class="pretty tabla-icono" style="width: 300px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ejecutada</td>
                                    <td>
                                        <input id="popFechaInicioEjecutada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                    </td>
                                    <td>
                                        <input id="popFechaFinEjecutada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Programada</td>
                                    <td>
                                        <input id="popFechaInicioProgramada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                    </td>
                                    <td>
                                        <input id="popFechaFinProgramada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <div>
                        <input type="button" id="popbtnRefrescar" value="Limpiar" style="margin-left: 60px; display: none;">
                    </div>
                </div>
            </div>
        </div>*@
        <div class="box" style="margin-right: 10px; margin-top: 20px; width: 570px;">
            <div class="box-title">Generacion Ejecutada/Programada</div>
            <div class="box-body" style="width: 450px; height: 70px;">
                <div style="display: flex; align-items: flex-start;">
                    <table border="1" class="pretty tabla-icono" style="width: 400px;">
                        <thead>
                            <tr>
                                <th colspan="2">Ejecutada</th>
                                <th colspan="2">Programada</th>
                            </tr>
                            <tr>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div style="display: flex;">
                                        <input id="popFechaInicioEjecutada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                        <button type="button" class="btn-icon" style="border: none; background-color: transparent; display: none;" id="btnFechaInicioEjecutada">
                                            <img src="~/Content/Images/btn-cancel.png" style="width: 20px; height: 20px;" />
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <input id="popFechaFinEjecutada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                        <button type="button" class="btn-icon" style="border: none; background-color: transparent; display: none;" id="btnFechaFinEjecutada">
                                            <img src="~/Content/Images/btn-cancel.png" style="width: 20px; height: 20px;" />
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <input id="popFechaInicioProgramada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                        <button type="button" class="btn-icon" style="border: none; background-color: transparent; display: none;" id="btnFechaInicioProgramada">
                                            <img src="~/Content/Images/btn-cancel.png" style="width: 20px; height: 20px;" />
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <input id="popFechaFinProgramada" type="text" class="popupFecha" style="width: 100px;" disabled />
                                        <button type="button" class="btn-icon" style="border: none; background-color: transparent; display: none;" id="btnFechaFinProgramada">
                                            <img src="~/Content/Images/btn-cancel.png" style="width: 20px; height: 20px;" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div>
                        <input type="button" id="popbtnRefrescar" value="Limpiar" style="margin-left: 60px; display: none;">
                    </div>*@
                </div>
            </div>
        </div>
        <div style="margin-top: 20px; text-align: center;">
            <input type="button" id="popbtnGrabar" value="Grabar" style="margin-right: 10px;">
            <input type="button" id="popbtnCancelar" value="Cancelar" style="margin-right: 10px;">
        </div>
    </div>
</div>



