@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/listaCentrales.js?v=2.0"></script>

@{
    ViewBag.Title = "Pronóstico de Demanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css1.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/CPPA/Content/Css/css.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Lista de Envíos de archivos presupuesto anual</div>
    </div>
    <div class="content-hijo">
        <div>
            <label id="descripcionAjuste">Ajuste</label>
        </div>
        <div style="margin-bottom: 10px;">
            <label id="descripcionEmpresa">Listado de Centrales de generación</label>
        </div>
        <div id="message" style="display: none">
            Aquí se agregan los posibles mensajes...
        </div>
        <div class="search-content">
            <div class="flex-row">
                <div class="flex-row" style="margin-right: 5px;">
                    <div>
                        <input id="indexFecha"
                               type="text"
                               value="@ViewBag.Fecha"
                               disabled
                               style="width: 100px; display: none;" />
                    </div>
                    <div>
                        <input id="indexAjuste"
                               type="text"
                               value="@ViewBag.Ajuste"
                               disabled
                               style="width:100px; display: none;" />
                    </div>
                    <div>
                        <input id="indexRevision"
                               type="text"
                               value="@ViewBag.Revision"
                               disabled
                               style="width:100px; display:none;" />
                    </div>
                    <div>
                        <input id="indexIdRevision"
                               type="text"
                               value="@ViewBag.IdRevision"
                               disabled
                               style="width:100px; display:none;" />
                    </div>
                    <div>
                        <input id="indexIdEmpresa"
                               type="text"
                               value="@ViewBag.idEmpresa"
                               disabled
                               style="width:100px; display:none;" />
                    </div>
                    <div>
                        <input id="indexEmpresa"
                               type="text"
                               value="@ViewBag.Empresa"
                               disabled
                               style="width:100px; display:none;" />
                    </div>
                    <div style="margin-top: 5px;">
                        <label>
                            Estado:
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="cenEstado" value="A" checked />Activo
                        </label>
                        <label>
                            <input type="radio" name="cenEstado" value="X" />Anulado
                        </label>
                    </div>
                </div>
                <input type="button" id="btnCenConsultar" value="Consultar" style="margin-right: 10px;">
                <input type="button" id="btnCenExportar" value="Exportar Excel" style="margin-right: 10px;">
                <input type="button" id="btnCenNuevo" value="Nuevo" style="margin-right: 10px;">
                <input type="button" id="btnCenRegresar" value="Regresar" style="margin-right: 10px;">
            </div>
        </div>
        <div>
            <table id="dtCentrales" class="pretty tabla-icono"></table>
        </div>
    </div>
</div>


<div id="popupNuevaCentral" class="general-popup" style="min-width: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span id="popupTitleNuevaCentral">Nueva Central de empresa</span>
    </div>
    <div class="popup-text">
        <div id="message-popupcentral" style="display: none"></div>
        <div class="h-panel" style="margin-bottom: 10px;">
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap;">Central :</div>
                <select id="cboPopCentral" class="f-select" style="width: 450px">
                    @foreach (var item in Model.ListCentralesGeneradoras)
                    {
                        <option value="@item.Equicodi">@item.EquinombConcatenado</option>

                    }
                </select>
            </div>
            <div style="text-align: center;">
                <input id="btnPopGuardarCentral" type="button" value="Grabar" style="margin-right: 10px;" />
                <input id="btnPopCancelarCentral" type="button" value="Cancelar" />
            </div>
        </div>
    </div>
</div>