@model COES.MVC.Intranet.Areas.Compensacion.Models.CompensacionManualGeneralModel
@{
    ViewBag.Title = "Compensación Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" style="height: 700px;">

    <div class="form-title">
        <div class="content-titulo">Compensación Manual</div>
    </div>
       
    <div class="formulario-item" style="width:600px">
        <div class="formulario-label" style="width:250px">Seleccionar archivo (Extensión: .XLSX):</div>
        <div class="formulario-control" style="width:0px; margin-right: 0px">
            <input type="button"  id="btnDescargar" value="Descargar Formato" />
        </div>
        <div class="formulario-control" style="width:100px" id="container">
            <input type="button" id="btnProcesarFile" value="Procesar" />
        </div>
        <div class="formulario-control" style="width:100px">
            <input type="button" id="btnSelectFile" value="Seleccionar" />
        </div>
    </div>
   
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td style="width: 65px;">Periodo:</td>
                            <td >
                                <select id="pericodi" name="pericodi">
                                    @foreach (var item in Model.ListTrnPeriodo)
                                    {
                                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                                    }
                                </select>
                            </td>
                            <td style="width: 65px;">Versión:</td>
                            <td>
                                <select id="pecacodi" name="pecacodi">
                                </select>
                            </td>
                            <td colspan="6">                               
                                <input type="button" value="Eliminar" id="btnEliminar" name="btnEliminar" class="form-action" />
                            </td>
                        </tr>
                        <tr>
                            <td>Empresa: </td>
                            <td>
                                <select id="empresa" name="empresa">
                                    <option value="">-- SELECCIONE --</option>
                                    @foreach (var item in Model.ListSiEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Central: </td>
                            <td>
                                <select id="central" name="central"></select>
                            </td>
                            <td>Tipo Operación: </td>
                            <td>
                                <select id="tipo" name="tipo" style="width:250px;">
                                    <option value="">-- SELECCIONE --</option>
                                    @foreach (var item in Model.ListEveSubcausaevento)
                                    {
                                        <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                                    }
                                </select>
                            </td>
                            <td style="display:none">Grupo: </td>
                            <td style="display:none">
                                <select id="grupo" name="grupo"></select>
                            </td>
                            <td style="display:none">Modo Operación: </td>
                            <td style="display:none">
                                <select id="modo" name="modo"></select>
                            </td>

                        </tr>
                        <tr>
                            <td>Desde: </td>
                            <td>
                                <input style="width:120px;" type="text" id="fechaini" name="fechaini" />
                            </td>
                            <td>Hasta: </td>
                            <td colspan="7">
                                <input style="width:120px;" type="text" id="fechafin" name="fechafin" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10"><br /></td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" />
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div class="content-tabla">       
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<script src="~/Areas/Compensacion/Content/Scripts/compensacionManual.js?v=1.0"></script>
<script src="~/Areas/Compensacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/json2.js"></script>