@model COES.MVC.Intranet.Areas.Compensacion.Models.EditorPtoGrupoGeneralModel
@{
    ViewBag.Title = "Editor Puntos de Medición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" >
    <div class="form-title">
        @if (Model.mePtomedicion.Ptomedicodi == 0)
        {
            <div id="divTitulo">Nuevo Punto de Medición</div>
        }
        else
        {
            <div>Editor Punto de Medición</div>
        }
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0">Por favor complete los campos</div>
    <input type="hidden" value="@Model.mePtomedicion.Ptomedicodi" id="medicodi" name="medicodi" class="form-action" />
    <div class="content" style="margin-bottom:0px; padding:15px">
        <fieldset>
            <legend>Datos Generales</legend><table class="content-tabla-search" style="width:auto">
                <tbody>
                    <tr>
                        <td>Periodo :</td>
                        <td><b>@Model.TrnPeriodoDTO.PeriNombre</b></td>
                        <td>
                            Versión: <b>@Model.VcePeriodoCalculoDTO.PecaNombre</b>
                            <input type="hidden" id="pecacodi" name="pecacodi" value="@Model.VcePeriodoCalculoDTO.PecaCodi" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Punto de Medición:
                        </td>
                        <td colspan="3">
                            @*<input type="hidden" id="ptomedicodi" name="ptomedicodi" value="@Model.mePtomedicion.Ptomedicodi" />*@
                            @if (Model.mePtomedicion.Ptomedicodi == 0)
                            {
                                <select id="ptomedicodi" name="ptomedicodi">
                                    @foreach (var item in Model.ListMePtomedicion)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Ptomedielenomb</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="ptomedicodi" name="ptomedicodi" disabled>
                                    @foreach (var item in Model.ListMePtomedicion)
                                    {
                                        if (Model.mePtomedicion.Ptomedicodi == item.Ptomedicodi)
                                        {
                                            <option selected value="@item.Ptomedicodi">@item.Ptomedielenomb</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Ptomedicodi">@item.Ptomedielenomb</option>
                                        }
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modo Operación:
                        </td>
                        <td>
                            <select id="grupocodi" name="grupocodi">
                                @foreach (var item in Model.ListPrGrupodat)
                                {
                                    <option value="@item.Grupocodi">@item.GrupoNomb</option>
                                }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Agregar" id="btnAgregar" name="btnAgregar" class="form-action" />
                            <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" class="form-action" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset><br>
        <div class="content-tabla">
            <div class="content-tabla">
                <div class="table-list" id="listado"></div>
            </div>
        </div>
        <br />

    </div>

</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/modoOperacion.js"></script>