@model COES.MVC.Intranet.Areas.Compensacion.Models.CostosVariablesGeneralModel
@{
    ViewBag.Title = "Parámetros de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div>Editor de Parámetros de Generación</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor complete los campos</div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <fieldset>
                        <legend>Datos Generales</legend><table class="content-tabla-search" style="width:auto">
                            <tbody>
                                <tr>
                                    <td>
                                        Periodo:
                                    </td>
                                    <td>
                                        <input type="hidden" id="pecacodi" name="pecacodi" value="@Model.VceDatCalculo.pecacodi" />
                                        <input type="hidden" id="grupocodi" name="grupocodi" value="@Model.VceDatCalculo.GrupoCodi" />
                                        <input type="text" id="periodo" name="periodo" value="@Model.VceDatCalculo.Periodo" disabled="disabled" style="margin-bottom: 5px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Modo Operación:
                                    </td>
                                    <td>
                                        <input type="text" id="modo" name="modo" value="@Model.VceDatCalculo.GrupoNomb" disabled="disabled">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset><br>
                    <fieldset>
                        <legend>Edición</legend><table class="content-tabla-search" style="width:auto">
                            <tbody>
                                <tr>
                                    
                                    <td colspan="2">
                                        @if (Model.VceDatCalculo.ConsiderarPotNominal.Equals("SI"))
                                        {
                                            <input type="checkbox" value="SI" id="considera" name="considera" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="SI" id="considera" name="considera"/>
                                        }
                                        Considerar Potencia Nominal
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Barra de Transferencia *:
                                    </td>
                                    <td>
                                        <select style="margin-bottom: 5px;" id="barrcodi" name="barrcodi">
                                            @foreach (var item in Model.ListTrnBarra)
                                            {
                                                if (Model.VceDatCalculo.BarrCodi == item.BarrCodi)
                                                {                                                
                                                    <option selected value="@item.BarrCodi">@item.BarrBarraTransferencia</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.BarrCodi">@item.BarrBarraTransferencia</option>                                            
                                                }   
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Energía(MWh) *:                                       
                                    </td>
                                    <td>
                                        <input type="text" id="energia" name="energia" style="margin-bottom: 5px;" value="@Model.VceDatCalculo.VceDCMEnergia">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tiempo(Hrs) *:
                                    </td>
                                    <td>
                                        <input type="text" id="tiempo" name="tiempo" value="@Model.VceDatCalculo.VceDCMTiempo">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br />
                    <table class="content-tabla-search" style="width:auto">                       
                        <tr>
                            <td>
                                <input type="button" value="Grabar" id="btnGrabar" name="btnGrabar" class="form-action" />
                                <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" class="form-action" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/costosVariables.js"></script>