@model COES.MVC.Intranet.Areas.Compensacion.Models.HorasOperacionGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
        <thead>
            <tr>
                <th rowspan="2">Modo Operación</th>
                <th colspan="4">Rango Horario 1</th>
                <th colspan="4">Rango Horario 2</th>
            </tr>
            <tr>
                <th>Código</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Tipo Operación</th>
                <th>Código</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Tipo Operación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListHoraOperacion)
            {
                <tr class="menu-contextual">
                    <td style="text-align:left">@item.ModoOperacion</td>
                    <td style="text-align:left">@item.Hopcodi</td>

                    <!-- Rango Horario 1 -->
                    @if ((((DateTime)item.Crhophorini).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorini).ToString("dd/MM/yyyy HH:mm"))</td>
                    }

                    @if ((((DateTime)item.Crhophorfin).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorfin).ToString("dd/MM/yyyy HH:mm"))</td>
                    }
                    <td style="text-align:left">@item.TipoOperacion</td>

                    <!-- Rango Horario 2 -->
                    <td style="text-align:left">@item.Hopcodi2</td>
                    @if ((((DateTime)item.Crhophorini2).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorini2).ToString("dd/MM/yyyy HH:mm"))</td>
                    }

                    @if ((((DateTime)item.Crhophorfin2).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorfin2).ToString("dd/MM/yyyy HH:mm"))</td>
                    }
                    <td style="text-align:left">@item.TipoOperacion2</td>
                </tr>
            }
        </tbody>
    </table>
</form>
