@model COES.MVC.Intranet.Areas.Compensacion.Models.ModosOperacionModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>                
                <th>Código</th>
                <th>Modo de Operación</th>                
                <th>Activo</th>
                <th>Horas Operación (h)</th>
                <th>Cálculo</th>
                <th>Barra</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListModosOperacion)
            {                
                <tr class="menu-contextual">                   

                    <td style="text-align:left">@item.Grupocodi</td>

                    @if(!string.IsNullOrEmpty(item.Calificacion) && item.Calificacion.Equals("Nuevo"))
                    {
                        <td style="text-align:left;color:red">@item.Gruponomb</td>
                    }
                    else
                    {
                        <td style="text-align:left">@item.Gruponomb</td>
                    }
                    
                    <td style="text-align:left">@item.Grupoactivo</td>
                    <td style="text-align:right">@item.HorasOperacion</td>                                        
                    <td style="text-align:center">
                        <a href="JavaScript:accionModo('@item.AccionCalculo','@item.Grupocodi');">
                            @item.AccionCalculo
                    </a>
                    </td>
                   
                    <td style="text-align:center" align="center">
                        <a href="JavaScript:modificarModoOperacion('@item.Grupocodi');" title="Modificar">
                            <img src="~/Content/Images/verificar.png" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

