@model COES.MVC.Intranet.Areas.Compensacion.Models.HorasOperacionGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Empresa</th>
                <th>Central</th>
                <th>Grupo</th>
                <th>Modo Operación</th>
                <th>Código</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>O. Arranque</th>
                <th>O. Parada</th>
                <th>Tipo Operación</th>
                <th>Sistema</th>
                <th>Lim. Transmisión</th>
                <th>Comp. Arranques</th>
                <th>Comp. Paradas</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListHoraOperacion)
            {
                
                <tr class="menu-contextual">
                    <td>
                        <a href="JavaScript:modificarRangoHora('@item.PecaCodi', '@item.Hopcodi');" title="Modificar" >
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                        <a href="JavaScript:eliminarRangoHora('@item.PecaCodi', '@item.Hopcodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>

                    <td style="text-align:left">@item.Empresa</td>
                    <td style="text-align:left">@item.Central</td>
                    <td style="text-align:left">@item.Grupo</td>
                    <td style="text-align:left">@item.ModoOperacion</td>
                    <td >@item.Hopcodi</td>

                    @if ((((DateTime)item.Crhophorini).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorini).ToString("dd/MM/yyyy HH:mm"))</td>
                    }

                    @if ((((DateTime)item.Crhophorfin).ToString("dd/MM/yyyy HH:mm")) == "01/01/0001 00:00")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorfin).ToString("dd/MM/yyyy HH:mm"))</td>
                    }

                    @if (item.Crhophorarranq == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorarranq).ToString("dd/MM/yyyy HH:mm"))</td>
                    }

                    @if (item.Crhophorparada == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td style="width:90px;">@(((DateTime)item.Crhophorparada).ToString("dd/MM/yyyy HH:mm"))</td>
                    }
                    <td style="text-align:left">@item.TipoOperacion</td>
                    <td style="text-align:right">@item.Crhopsaislado</td>
                    <td style="text-align:left">@item.Crhoplimtrans</td>
                    <td>@item.Crhopcompordarrq</td>
                    <td>@item.Crhopcompordpard</td>
                    <td style="text-align:left">@item.Crhopdesc</td>
                </tr>
            }
        </tbody>
    </table>
</form>

