<!--
// =======================================================================================
//
// (c) COES Sinac. Todos los derechos reservados.
//
// Autor: Henry Manuel Díaz Tuesta
// Acronimo: HDT
// Requerimiento: compensaciones
//
// Fecha creacion: 21/03/2017
// Descripcion: Archivo para la atencion del requerimiento.
//
// Historial de cambios:
//
// Correlativo	Fecha		Requerimiento		Comentario
//
// =======================================================================================
-->
@model COES.MVC.Intranet.Areas.Compensacion.Models.CompensacionEspecialIlo2GeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th></th>
                <th>Modo Operación</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Operación</th>
                <th>Carga Final</th>
                <th>Energía Producida</th>
                <th>Rend. Vigente</th>
                <th>Precio Combustible</th>
                <th>Comb. Base</th>
                <th>Comb. de Rampa</th>
                <th>Comb. Reconocido Transf.</th>
                <th>Precio Combustible (Alt.)</th>
                <th>Comb. Base (Alt.)</th>
                <th>Comb. de Rampa (Alt.)</th>
                <th>Comb. Reconocido Transf.(Alt.)</th>
                <th>Compensación</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListVceArrparCompEspDTO)
            {
                <tr class="menu-contextual">                
                    <td>
                        <a href="JavaScript:eliminarCompensacionEspecialIlo2('@item.PecaCodi', '@item.Grupocodi', '@item.Apespfechadesc','@item.Apstocodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Apespfechadesc</td>
                    <td>@item.Aptopnombre</td>
                    <td>@item.Apstonombre</td>
                    <td>@item.Apespcargafinal</td>
                    <td>@item.Apespenergprod</td>
                    <td>@item.Apesprendvigente</td>
                    <td>@item.Apesppreciocomb</td>
                    <td>@item.Apespcombbase</td>
                    <td>@item.Apespcombrampa</td>
                    <td>@item.Apespcombreconocxtransf</td>
                    <td>@item.Apesppreciocombalt</td>
                    <td>@item.Apespcombbasealt</td>
                    <td>@item.Apespcombrampaalt</td>
                    <td>@item.Apespcombreconocxtransfalt</td>
                    <td>@item.Apespcompensacion</td>                    
                </tr>
            }
        </tbody>
    </table>
</form>

