@model COES.MVC.Intranet.Areas.Compensacion.Models.MesValorizacionGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Periodo</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Informe</th>
                <th>Ult. Revisión</th>
                <th>Estado </th>
                <th>Versión VTEA </th>
                <th>Estado VTEA</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListTrnPeriodo)
            {
            <tr class="menu-contextual">

                <td style="text-align:left">@item.PeriNombre</td>
                <td>@item.AnioCodi</td>
                <td>@item.MesCodi</td>
                <td style="text-align:left">@item.PeriInforme</td>
                <td style="text-align:left">@item.PecaNombre</td>
                <td>@item.PecaEstadoRegistro</td>
                <td>@item.RecaNombreComp</td>
                <td>@item.PeriEstado</td>
                <td style="width:80px;">
                    <a href="JavaScript:editarRegistro(@item.PeriCodi);" title=""><img src="~/Content/Images/btn-edit.png" alt="Editar Registro" title="Editar Registro"></a>
                    <a href="JavaScript:editarInforme('@item.PeriCodi', '@item.PeriNombre', '@item.PeriInforme');" title=""><img src="~/Content/Images/Informe.png" alt="Editar Informe" title="Editar Informe"></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>