@model COES.MVC.Intranet.Areas.Compensacion.Models.CompensacionManualGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>    
                <th>Eliminar</th>           
                <th>Empresa</th>
                <th>Calificación</th>
                <th>Modo Operación</th>
                <th>Fecha Hora</th>                
                <th>Potencia</th>
                <th>Consumo</th>
                <th>CVC</th>
                <th>CVNC</th>
                <th>Precio</th>
                <th>Compensación (S/.) </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListCompensacionesManuales)
            {
                <tr class="menu-contextual">    
                    <td>
                        <a href="JavaScript:eliminarCompensacionManual('@item.PecaCodi', '@item.Grupocodi','@item.Subcausacodi','@item.Cmmedmhora');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>              
                    <td style="text-align:left">@item.Emprnomb</td>
                    <td style="text-align:left">@item.Subcausadesc</td>
                    <td style="text-align:left">@item.Gruponomb</td>
                    <td>@(((DateTime)item.Cmmedmhora).ToString("dd/MM/yyyy HH:mm"))</td>                               
                    <td style="text-align:right">@item.Cmmedmpotencia</td>
                    <td style="text-align:right">@item.Cmmedmconsumocomb</td>
                    <td style="text-align:right">@item.Cmmedmcvc</td>
                    <td style="text-align:right">@item.Cmmedmcvnc</td>
                    <td style="text-align:right">@item.Cmmedmprecioaplic</td>
                    <td style="text-align:right">@item.Cmmedmcompensacion</td>
                </tr>
            }
        </tbody>
    </table>
</form>

