@model COES.MVC.Intranet.Areas.Compensacion.Models.ModosOperacionModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th>Fecha Vigencia</th>                
                <th>Barra Transferencia</th>                              
                <th>Usuario</th>                              
                <th>Fecha Actualización</th>    
                <th>Opciones</th>                                   
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListAsignacionBarras)
            {                
                <tr class="menu-contextual">                   
                    <td style="text-align:left;">@(item.Fechadat.Value.ToString("dd/MM/yyyy hh:mm"))</td>                    
                    <td style="text-align: left">@item.Barrbarratransferencia</td>     
                    <td style="text-align:left;">@item.Lastuser</td>      
                    <td style="text-align:left;">@(item.Fechaact.Value.ToString("dd/MM/yyyy hh:mm"))</td>   
                    <td style="text-align:center" align="center">
                        <a href="JavaScript:modificarAsignacion('@item.Formuladat','@(item.Fechadat.Value.ToString("dd/MM/yyyy"))');" title="Modificar">
                            <img src="~/Content/Images/verificar.png" alt="">
                        </a>
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
</form>

