@model COES.MVC.Intranet.Areas.Compensacion.Models.CostosVariablesGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Modo de Operación</th>
                <th>Fuente Energía</th>
                <th>Combustible</th>
                <th>BARRA / Día Per.</th>
                <th>Considerar Potencia Nominal</th>
                <th>LHV (KJ/m3) / (KJ/Kg)</th>
                <th>Transporte (S//gal)</th>
                <th>Trat. Mecánico (S//gal)</th>
                <th>Trat. Químico (S//gal)</th>
                <th>Días costo financiero</th>
                <th>CVNC $/kWh</th>
                <th>CVNC S//KWh</th>
                <th>Precio Combustible</th>
                <th>Energía MWh</th>
                <th>Tiempo Hrs</th>
                <th>N arr/par</th>
                <th>Potencia Efectiva MW</th>
                <th>Consumo Comb. Pot.Efe</th>
                <th>Potencia parcial 1 MW</th>
                <th>Consumo Comb. Pot.Parcial 1</th>
                <th>Potencia parcial 2 MW</th>
                <th>Consumo Comb. Pot.Parcial 2</th>
                <th>Potencia parcial 3 MW</th>
                <th>Consumo Comb. Pot.Parcial 3</th>
                <th>Potencia parcial 4 MW</th>
                <th>Consumo Comb. Pot.Parcial 4</th>
                <th>Potencia Mínima MW</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListDatCalculo)
            {
                <tr class="menu-contextual">                
                    <td>@item.Emprnomb</td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Fenergnomb</td>
                    <td>@item.Crdcgtipcom</td>
                    <td>@item.Barradiaper</td>
                    <td>@item.Considerarpotnominal</td>
                    <td>@item.Crdcglhv</td>
                    <td>@item.Crdcgtranspor</td>
                    <td>@item.Crdcgtratmec</td>
                    <td>@item.Crdcgtratquim</td>
                    <td>@item.Crdcgdiasfinanc</td>
                    <td>@item.Crdcgcvncdol</td>
                    <td>@item.Crdcgcvncsol</td>
                    <td>@item.Crdcgprecomb</td>
                    <td>@item.Vcedcmenergia</td>
                    <td>@item.Vcedcmtiempo</td>
                    <td>@item.Crdcgnumarrpar</td>
                    <td>@item.Crdcgpotefe</td>
                    <td>@item.Crdcgccpotefe</td>
                    <td>@item.Crdcgpotpar1</td>
                    <td>@item.Crdcgconcompp1</td>
                    <td>@item.Crdcgpotpar2</td>
                    <td>@item.Crdcgconcompp2</td>
                    <td>@item.Crdcgpotpar3</td>
                    <td>@item.Crdcgconcompp3</td>
                    <td>@item.Crdcgpotpar4</td>
                    <td>@item.Crdcgconcompp4</td>
                    <td>@item.Crdcgpotmin</td>
                </tr>
            }
        </tbody>
    </table>
</form>

