@model COES.MVC.Intranet.Areas.Compensacion.Models.TextoReporteGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Acción</th>
                <th>Codigo Reporte</th>
                <th>Codigo Texto</th>
                <th>Texto</th>
                <th>Usuario</th>
                <th>Ultima Actualización</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListTextoReporte)
            {
                <tr class="menu-contextual">
                    <td>
                        <a href="JavaScript:modificarTextoReporte('@item.PecaCodi', '@item.Txtrepcodreporte', '@item.Txtrepcodtexto');" title="Modificar">
                        <img src="~/Content/Images/menuedit.png" alt="">
                    </a>
                    </td>
                    <td style="text-align:left">@item.Txtrepcodreporte</td>
                    <td style="text-align:left">@item.Txtrepcodtexto</td>
                    <td style="text-align:left">@item.Txtreptexto</td>

                    @if (@item.Txtrepusumodificacion == null)
                    {
                        <td style="text-align:left">@item.Txtrepusucreacion</td>
                    }
                    else
                    {
                        <td style="text-align:left">@item.Txtrepusumodificacion</td>
                    }

                    @if (item.Txtrepfecmodificacion == null)
                    {
                        <td style="text-align:left">@item.Txtrepfeccreacion</td>
                    }
                    else
                    {
                        <td>@item.Txtrepfecmodificacion</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>