@model COES.MVC.Intranet.Areas.Compensacion.Models.MesValorizacionGeneralModel

<form id="Form2" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tablaVersiones">
        <thead>
            <tr>

                <th>Selección</th>
                <th>Versión</th>
                <th>Tipo de Cambio</th>
                <th>Estado</th>
                <th>Revisión de VTEA</th>
                <th>Estado VTEA</th>
                <th>Motivo</th>
                <th style="width:100px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListVcePeriodoCalculo)
            {
            <tr class="menu-contextual">
                <td style="text-align:center"><input type="radio" name="codVersion" id="optRadio@(item.PecaCodi)" value="@(item.PecaCodi.ToString())" onclick="verProcesos('@item.PecaCodi','@item.PecaNombre')"></td>
                <td style="text-align:left">@item.PecaNombre</td>
                <td>@item.PecaTipoCambio.ToString("#0.##0")</td>
                @if (item.PecaEstRegistro == "0")
                {
                    <td>Cerrado</td>
                }
                else
                {
                    <td>En Proceso</td>
                }
                <td>@item.RecaNombre</td>
                <td>@item.PeriEstado</td>
                <td>@item.PecaMotivo</td>
                <td>
                    @if (item.PecaEstRegistro == "0")
                    {
                        <a href="JavaScript:grabarEstadoPeriodo('1',@item.PecaCodi);" title=""><img src="~/Content/Images/folder_open.png" alt="Abrir Periodo" title="Abrir Periodo"></a>
                    }
                    else if (item.PecaEstRegistro == "1")
                    {
                        <a href="JavaScript:editarPeriodo(@item.PecaCodi);" title=""><img src="~/Content/Images/btn-edit.png" alt="Editar" title="Editar"></a>
                        <a href="JavaScript:inicializarMesValorizacion(@item.PecaCodi);" title=""><img src="~/Content/Images/recalculo.jpg" alt="Inicializar Datos" title="Inicializar Datos"></a>
                        <a href="JavaScript:grabarEstadoPeriodo('0',@item.PecaCodi);" title=""><img src="~/Content/Images/Document/foldericon.gif" alt="Cerrar Periodo" title="Cerrar Periodo"></a>
                        <a href="JavaScript:eliminarPeriodo(@item.PecaCodi,'@item.PeriEstado');" title=""><img src="~/Content/Images/ContextMenu/menudelete.png" alt="Eliminar Versión" title="Eliminar Versión"></a>
                    }

                </td>

            </tr>
            }
        </tbody>
    </table>
</form>