@model COES.MVC.Intranet.Areas.Compensacion.Models.MesValorizacionGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                
                <th>Entidad</th>
                <th>Nro. Registros</th>
                <th>Fecha Última Importación</th>
                <th>Fecha Última Actualización</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListEntidades)
            {
                <tr class="menu-contextual">
                    
                    <td style="text-align:left">@item.Crlccentidad</td>
                    <td>@item.Crlcdnroregistros</td>
                    
                    @if (item.Crlcdhoraimport > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <td>@item.Crlcdhoraimport</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.Fecultactualizacion > new DateTime(1, 1, 1, 0, 0, 0))
                    {
                        <td>@item.Fecultactualizacion</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (item.Crlccnombtabla == "TRN_COSTO_MARGINAL")
                    {
                        <td style="width:80px;"></td>
                    }else
                    {
                        
                        if (@Model.VcePeriodoCalculoDTO.PecaEstRegistro == "1")
                        {
                            <td style="width:80px;"><a href="JavaScript:obtenerData('@item.Crlcccodi', '@item.Crlccnombtabla', '@item.PecaCodi');" title=""><img src="~/Content/Images/Copiado.png" alt="Obtener Data" title="Obtener Data"></a></td>     
                        }
                        else
                        {
                            <td style="width:80px;"></td>
                        }
                        
                    }
                </tr>
            }
        </tbody>
    </table>
</form>