<!--
// =======================================================================================
//
// (c) COES Sinac. Todos los derechos reservados.
//
// Autor: Henry Manuel Díaz Tuesta
// Acronimo: HDT
// Requerimiento: compensaciones
//
// Fecha creacion: 29/03/2017
// Descripcion: Archivo para la atencion del requerimiento.
//
// Historial de cambios:
//
// Correlativo	Fecha		Requerimiento		Comentario
//
// =======================================================================================
-->
@model COES.MVC.Intranet.Areas.Compensacion.Models.General.RegistroCalculoManualModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Modo Operación</th>
                <th>Compensación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListVceArrparGrupoCabDTO)
            {
                <tr class="menu-contextual">                
                    <td>@item.Gruponomb</td>
                    <td>@item.Apgcabccbef</td>
                    <td>
                        <a href="JavaScript:modificarRegistroManual('@item.PecaCodi', '@item.Grupocodi', '@item.Apgcfccodi');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                        <a href="JavaScript:eliminarRegistroManual('@item.PecaCodi', '@item.Grupocodi', '@item.Apgcfccodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

