<!--
// =======================================================================================
//
// (c) COES Sinac. Todos los derechos reservados.
//
// Autor: Henry Manuel Díaz Tuesta
// Acronimo: HDT
// Requerimiento: compensaciones
//
// Fecha creacion: 29/03/2017
// Descripcion: Archivo para la atencion del requerimiento.
//
// Historial de cambios:
//
// Correlativo	Fecha		Requerimiento		Comentario
//
// =======================================================================================
-->

@model COES.MVC.Intranet.Areas.Compensacion.Models.General.RegistroCalculoManualModel
@{
    ViewBag.Title = "Registro de Cálculos Manuales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div>Calculos Manuales</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">
        Por favor complete los campos
    </div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <fieldset>
                        <legend>
                            Datos Generales
                        </legend>
                        <table class="content-tabla-search" style="width:auto">
                            <tbody>
                                <tr>
                                    <td>
                                        <span>Periodo: <b>@Model.TrnPeriodoDTO.PeriNombre</b></span>
                                    </td>
                                    <td>
                                        <span>Versión: <b>@Model.VcePeriodoCalculoDTO.PecaNombre</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <br />
                <input type="button" value="Nuevo registro" id="btnNuevoRegistro" name="btnNuevoRegistro" class="form-action" />
                <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" />               
            </td>
        </tr>
    </table>
    <br />
    <div class="content-tabla" style="margin-bottom:0px;">
        <div id="mensaje"></div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>

    <div id="popupEdicion" class="general-popup">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Registro del Cálculo Manual</span>
       </div>        
        <div class="popup-text" id="contenidoEdicion">
            <table width="100%">
                <tr>
                    <td>
                        Modo de operación*:
                    </td>
                    <td>
                        <select id="modoOperacion" name="version" style="width:250px;">
                            @foreach (var item in Model.ListPrGrupodatDTO)
                            {
                                if (Model.VceArrparGrupoCabDTO.Grupocodi == item.Grupocodi)
                                {                                                
                                    <option selected value="@item.Grupocodi" title="@item.GrupoNomb">@item.GrupoNomb</option>
                                }
                                else
                                {
                                    <option value="@item.Grupocodi" title="@item.GrupoNomb">@item.GrupoNomb</option>
                                }  
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Compensación*:
                    </td>
                    <td>
                        <input type="text"
                               id="apgcabccbef"
                               name="apgcabccbef"
                               value="@Model.VceArrparGrupoCabDTO.Apgcabccbef"
                               onkeypress="return soloNumeros(event)"
                               style="width:120px;" />
                    </td>
                </tr>
                <tr>   
                    <td colspan="2" >
                        <br /><br />
                        <div style="float: right;">
                            <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                            <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                        </div>
                    </td>
                </tr>
            </table>    
            <input type="hidden" value="@Model.VceArrparGrupoCabDTO.Apgcfccodi" id="apgcfccodi" name="apgcfccodi" />        
            <input type="hidden" id="esNuevo" name="esNuevo" />        
        </div>
    </div>
    
</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->

<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/registroCalculoManual.js"></script>