@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.RepresentanteModel
<link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>


<div class="popup-title"><span>Modificar Representante Legal</span></div>
<div class="popup-text" id="contenidoEdicion">
    <div id="mensaje" class="action-message" style="display: none;">Por favor complete los datos solicitados.</div>    
    <table class="table-form-content">
        <tr>
            <td class="label">DNI / Carné de Extranjería:</td>
            <td>
                <input type="text" id="txtDNIRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Documento" maxlength="20"/>
            </td>
        </tr>
        <tr>
            <td class="label">Documento de Identidad:</td>
            <td>
                <a href="JavaScript:verDocumentoIdentidad();" id="verDocumentoIdentidad" title="Ver">
                    <img src="~/Content/Images/Visualizar.png" />
                </a>
                <a href="JavaScript:descargarDocumentoIdentidad();" id="descargarDocumentoIdentidad" title="Descargar">
                    <img src="~/Content/Images/Download.png" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="label">Nombres:</td>
            <td>
                <input type="text" id="txtNombresRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Nombres" maxlength="255"/>
            </td>
        </tr>
        <tr>
            <td class="label">Apellidos:</td>
            <td>
                <input type="text" id="txtApellidosRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Apellidos" maxlength="255"/>
            </td>
        </tr>
        <tr>
            <td class="label">Vigencia de Poder:</td>
            <td>
                <a href="JavaScript:verVigenciaPoder();" id="verVigenciaPoder" title="Ver">
                    <img src="~/Content/Images/Visualizar.png" />
                </a>
                <a href="JavaScript:descargarVigenciaPoder();" id="descargarVigenciaPoder" title="Descargar">
                    <img src="~/Content/Images/Download.png" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="label">Cargo de la Empresa:</td>
            <td>
                <input type="text" id="txtCargoEmpresaRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.CargoEmpresa" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="label">Teléfono:</td>
            <td>
                <input type="text" id="txtTelefonoRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.Telefono" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="label">Teléfono Móvil:</td>
            <td>
                <input type="text" id="txtMovilRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.TelefonoMovil" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="label">Correo electrónico:</td>
            <td>
                <input type="text" id="txtCorreoRL" class="RepresentanteLegal  " style="width: 330px" value="@Model.CorreoElectronico" maxlength="255"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input id="btnCancelarRL" type="button" value="Cancelar" style="margin: 5px 0 5px 0;" />
                <input id="btnGrabarRL" type="button" value="Grabar" style="margin: 5px 0 5px 0;" />
            </td>
        </tr>
    </table>
</div>


<input type="hidden" id="hdfNombreArchivoDocumentoIdentidad" value="@Model.DocumentoAdjuntoFileName" />
<input type="hidden" id="hdfAdjuntoDocumentoIdentidad" value="@Model.DocumentoAdjunto" />

<input type="hidden" id="hdfNombreArchivoVigenciaPoder" value="@Model.VigenciaPoderAdjuntoFileName" />
<input type="hidden" id="hdfAdjuntoVigenciaPoder" value="@Model.VigenciaPoderAdjunto" />

