@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.MeMedicion48Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/ReservaFriaNodoEnergetico/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/medicion48editar.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<div class="form-title">
        <div class="content-titulo">Mediciones 30"</div>
        <div class="content-botonera">

            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />

        </div>

</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>


        <table style="text-align: left" class="content-registro">

            <tr>
                <td id="lblNrpcFecha " style="width: 10%;">Fecha</td>
                <td>
                    @{
                        var fecha = "";
                        if (Model.MeMedicion48.Medifecha != null)
                        {
                            fecha = ((DateTime)Model.MeMedicion48.Medifecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                    }
                    <input id="txtMedifecha" type="text" name="Medifecha" value="@fecha" />
                </td>
            </tr>

            <tr>
                <td style="width: 10%;">Lectura</td>
                <td>
                    <select id="cbxLectcodi" name="cbxLectcodi" style="width:150px">
                        @foreach (var item in Model.ListaMeLectura)
                        {
                            <option value="@item.Lectcodi">@item.Lectnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfLectcodi" value="@Model.MeMedicion48.Lectcodi" name="Lectcodi" />
                </td>
            </tr>

            <tr>
                <td style="width: 10%;">Descripci&oacute;n</td>
                <td>
                    <select id="cbxPtomedicodi" name="cbxPtomedicodi" style="width:300px">
                        @foreach (var item in Model.ListaMePtomedicion)
                        {
                            <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfPtomedicodi" value="@Model.MeMedicion48.Ptomedicodi" name="Ptomedicodi" />
                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                </td>
            </tr>

            <tr>
                <td style="width: 10%;">Tipo Informaci&oacute;n</td>
                <td>
                    <select id="cbxTipoinfocodi" name="cbxTipoinfocodi" style="width:100px">
                        @foreach (var item in Model.ListaSiTipoinformacion)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoinfocodi" value="@Model.MeMedicion48.Tipoinfocodi" name="Tipoinfocodi" />
                    <input type="hidden" id="hfDatos" value="@Model.Datos" />
                </td>
            </tr>



        </table>

        <table >


            <tr>
                <td>
                    <div id="contenedor"></div>
                </td>
            </tr>
        </table>
    </form>



</div>

<div id="busqueda" style="display:none">
</div>


