@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaMeMedicion48Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/medicion48.js"></script>
<link href="~/Areas/ReservaFriaNodoEnergetico/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Mediciones 30"</div>
        <div class="content-botonera">
            @{
                if (Model.AccionNuevo)
                {
                    <input type="button" id="btnNuevo" value="Nuevo"/>
                }
            }
        </div>
    </div>
</div>

        <div class="content-hijo" id="mainLayout">
            <div class="search-content" style="margin-bottom:10px">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Lectura:</td>
                        <td>
                            <select id="cbLectAbrev" name="LectAbrev" style="width:150px">
                                @*<option value="0">TODOS</option>*@
                                @foreach (var item in Model.ListaMeLectura)
                                {
                                    <option value="@item.Lectcodi">@item.Lectnomb</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="hidden" id="hfLectAbrev" value="@Model.Lectura" name="Lectura" />
                        </td>
                        
                        <td>Descripci&oacute;n:</td>
                        <td>
                            <select id="cbPtomediDesc" name="PtomediDesc" style="width:300px">
                                <option value="0">TODOS</option>
                                @foreach (var item in Model.ListaMePtomedicion)
                                {
                                    <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="hidden" id="hfPtomediDesc" value="@Model.GrupoCentral" name="GrupoCentral" />
                        </td>

                        <td>Tipo informaci&oacute;n:</td>
                        <td>
                            <select id="cbTipoinfoAbrev" name="TipoinfoAbrev" style="width:100px">
                                <option value="0">TODOS</option>
                                @foreach (var item in Model.ListaSiTipoinformacion)
                                {
                                    <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                                }
                            </select>
                        </td>
                        <td>Desde:</td>
                        <td><input type="text" id="txtFechaDesde" name="FechaInicio" value="@Model.FechaIni" style="width:120px" /></td>
                        <td>Hasta:</td>
                        <td><input type="text" id="txtFechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" /></td>
                        <td>
                            <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                        </td>

                    </tr>

                </table>
            </div>

            <div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="paginado"></div>
                </div>
                <div class="table-list" id="listado"></div>
            </div>
        </div>

