@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaMeMedicion48Model
@using System.Globalization


<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:60px; min-width:60px">Acciones</th>
                <th>Lectura</th>
                <th>Descripci&oacute;n</th>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>00:30</th>
                <th>01:00</th>
                <th>01:30</th>
                <th>02:00</th>
                <th>02:30</th>
                <th>03:00</th>
                <th>03:30</th>
                <th>04:00</th>
                <th>04:30</th>
                <th>05:00</th>
                <th>05:30</th>
                <th>06:00</th>
                <th>06:30</th>
                <th>07:00</th>
                <th>07:30</th>
                <th>08:00</th>
                <th>08:30</th>
                <th>09:00</th>
                <th>09:30</th>
                <th>10:00</th>
                <th>10:30</th>
                <th>11:00</th>
                <th>11:30</th>
                <th>12:00</th>
                <th>12:30</th>
                <th>13:00</th>
                <th>13:30</th>
                <th>14:00</th>
                <th>14:30</th>
                <th>15:00</th>
                <th>15:30</th>
                <th>16:00</th>
                <th>16:30</th>
                <th>17:00</th>
                <th>17:30</th>
                <th>18:00</th>
                <th>18:30</th>
                <th>19:00</th>
                <th>19:30</th>
                <th>20:00</th>
                <th>20:30</th>
                <th>21:00</th>
                <th>21:30</th>
                <th>22:00</th>
                <th>22:30</th>
                <th>23:00</th>
                <th>23:30</th>
                <th>00:00</th>
                <th>Usuario</th>
                <th>Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaMeMedicion48)
            {
                var dd = (item.Medifecha.Day < 10 ? "0" : "") + item.Medifecha.Day;
                var mm = (item.Medifecha.Month < 10 ? "0" : "") + item.Medifecha.Month;
                var yyyy = item.Medifecha.Year;
                //var fecha = "'" + yyyy + "-" + mm + "-" + dd + "'";
                var fecha = "'" + yyyy + mm + dd + "'";
                var fechadmy = dd + "/" + mm + "/" + yyyy;

                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Lectcodi,@fecha,@item.Tipoinfocodi,@item.Ptomedicodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                if (Model.AccionEditar)
                {
                    <a href="JavaScript:editar(@item.Lectcodi,@fecha,@item.Tipoinfocodi,@item.Ptomedicodi,1)" title="Editar...">
                        <img src="~/Content/Images/btn-edit.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }

                if (Model.AccionEliminar)
                {
                    <a href="JavaScript:eliminar(@item.Lectcodi,@fecha,@item.Tipoinfocodi,@item.Ptomedicodi)" title="Eliminar...">
                        <img src="~/Content/Images/btn-cancel.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }
                        }
                    </td>
                    <td>@item.Lectnomb</td>
                    <td>@item.Ptomedidesc</td>
                    <td>@item.Tipoinfoabrev</td>
                    <td>@fechadmy</td>
                    <td>@item.H1</td>
                    <td>@item.H2</td>
                    <td>@item.H3</td>
                    <td>@item.H4</td>
                    <td>@item.H5</td>
                    <td>@item.H6</td>
                    <td>@item.H7</td>
                    <td>@item.H8</td>
                    <td>@item.H9</td>
                    <td>@item.H10</td>
                    <td>@item.H11</td>
                    <td>@item.H12</td>
                    <td>@item.H13</td>
                    <td>@item.H14</td>
                    <td>@item.H15</td>
                    <td>@item.H16</td>
                    <td>@item.H17</td>
                    <td>@item.H18</td>
                    <td>@item.H19</td>
                    <td>@item.H20</td>
                    <td>@item.H21</td>
                    <td>@item.H22</td>
                    <td>@item.H23</td>
                    <td>@item.H24</td>
                    <td>@item.H25</td>
                    <td>@item.H26</td>
                    <td>@item.H27</td>
                    <td>@item.H28</td>
                    <td>@item.H29</td>
                    <td>@item.H30</td>
                    <td>@item.H31</td>
                    <td>@item.H32</td>
                    <td>@item.H33</td>
                    <td>@item.H34</td>
                    <td>@item.H35</td>
                    <td>@item.H36</td>
                    <td>@item.H37</td>
                    <td>@item.H38</td>
                    <td>@item.H39</td>
                    <td>@item.H40</td>
                    <td>@item.H41</td>
                    <td>@item.H42</td>
                    <td>@item.H43</td>
                    <td>@item.H44</td>
                    <td>@item.H45</td>
                    <td>@item.H46</td>
                    <td>@item.H47</td>
                    <td>@item.H48</td>
                    <td>@item.Lastuser</td>
                    <td>
                        @{
                var fechaLastdate = "";
                if (item.Lastdate != null)
                {
                    fechaLastdate = ((DateTime)item.Lastdate).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaLastdate
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
