@model COES.MVC.Extranet.Areas.CalculoResarcimiento.Model.RechazoCargaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/rechazocarga.js?v=1.23"></script>
<link href="~/Areas/CalculoResarcimiento/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/base.js?v=1.25"></script>
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/grillarc.js?v=1.25"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>

<div class="form-title">
    INTERRUPCIONES DE SUMINISTRO POR RECHAZO DE CARGA -
    <span id="lbEmpresa">@Model.Emprnombre</span>
    <span class="form-title-action" id="spanCambiarEmpresa">[CAMBIAR EMPRESA]</span>
    <input type="hidden" id="hfIdEmpresa" value="@Model.Emprcodi" />
    <input type="hidden" id="hfIndEmpresa" value="@Model.IndicadorEmpresa" />
</div>
<div class="form-main">

    <div id="mensaje" class="action-message">Por favor seleccione empresa y periodo</div>

    <div class="action-header">
        <div class="action-content">
            <table id="tablaBusqueda">
                <tr>
                    <td>Año:</td>
                    <td>Periodo:</td>
                    <td rowspan="2">
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="txtAnio" value="@Model.Anio" />
                    </td>
                    <td>
                        <select id="cbPeriodo">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaPeriodo)
                            {
                                <option value="@item.Repercodi">@item.Repernombre</option>
                            }
                        </select>
                    </td>

                </tr>
            </table>

        </div>
        <div id="divAcciones" class="action-content">
            <a href="#" id="btnDescargarFormato">
                <div>
                    <img src="~/Areas/DemandaBarras/Content/Images/bajar.png" />
                </div>
                <span>Descargar formato</span>

            </a>
            <a href="#" id="btnSubirFormato">
                <div>
                    <img src="~/Areas/DemandaBarras/Content/Images/subir.png" />
                </div>
                <span>Importar formato</span>

            </a>
            <a href="#" id="btnEnviarDatos">
                <div>
                    <img src="~/Areas/DemandaBarras/Content/Images/enviar.png" />
                </div>
                <span>Enviar datos</span>

            </a>
            <a href="#" id="btnMostrarErrores">
                <div>
                    <img src="~/Areas/DemandaBarras/Content/Images/errores.png" />
                </div>
                <span>Mostrar errores</span>

            </a>
            <a href="#" id="btnVerEnvios">
                <div>
                    <img src="~/Areas/DemandaBarras/Content/Images/envios.png" />
                </div>
                <span>Ver envíos</span>

            </a>
            <a href="#" id="btnAgregarFila">
                <div>
                    <img src="~/Content/Images/write.png" />
                </div>
                <span>Agregar fila</span>

            </a>
            <a href="#" id="btnOcultarColumna">
                <div>
                    <img src="~/Content/Images/historial.png" />
                </div>
                <span>Ocultar columnas</span>

            </a>
        </div>
    </div>

    <div id="detalleFormato"></div>
</div>

<div id="popupEmpresa" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Seleccionar empresa</span></div>
    <div class="popup-text" id="contenidoEmpresa">

    </div>
</div>

<div id="popupColumna" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Ocultar o mostrar columnas</span></div>

    <div class="popup-text">
        <div id="mensajeColumna"></div>
        <div id="contenedorColumnas" class="contenedor-columnas"></div>
        <div class="popup-button">
            <input type="button" id="btnOcultar" value="Aceptar" />
        </div>
    </div>
</div>

<div id="popupErrores" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Errores en el ingreso de datos</span></div>
    <div class="popup-text" id="contenidoError">

    </div>
</div>

<div id="popupEnvio" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Envío fuera de plazo</span></div>
    <div class="popup-text" id="contenidoEnvio">
        <div id="mensajeComentario"></div>
        <div class="form-element ">
            <div>Ingrese comentario:</div>
            <div>
                <textarea id="txtComentario" maxlength="200"></textarea>
            </div>
        </div>
        <div class="popup-button">
            <input type="button" id="btnEnviarComentario" value="Aceptar" />
        </div>
    </div>
</div>

<div id="popupAnulacion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Anular interrupción</span></div>
    <div class="popup-text" id="contenidoAnulacion">
        <div id="mensajeAnulacion"></div>
        <div class="form-element ">
            <div>Ingrese comentario (máximo 200 caracteres):</div>
            <div>
                <textarea id="txtComentarioAnulacion" maxlength="200"></textarea>
            </div>
        </div>
        <div class="popup-text" id="contenidoErrorAnulacion" style="overflow-y:scroll; max-height:220px">

        </div>
        <div class="form-element" id="confirmarRecalculoAnulacion">
            <div>Desea modificar los cálculos?</div>
            <div>
                <input type="checkbox" id="cbRecalcularAnulacion" />
            </div>
        </div>
        <div class="popup-button" style="width:200px">
            <input type="button" id="btnEnviarAnulacion" value="Aceptar" />
            <input type="button" id="btnCancelarAnulacion" value="Cancelar" />
        </div>
        <input type="hidden" id="hfIdInterrupcion" />
        <input type="hidden" id="hfRowAnular" />
    </div>
</div>

<div id="popupEnvios" class="general-popup" style="min-width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Envío de interrupciones de suministro</span></div>
    <div class="popup-text" id="contenidoEnvios">

    </div>
</div>

<input type="hidden" id="hfPlazoEnvio" />