@model COES.MVC.Intranet.Areas.IndicadoresSup.Models.NumeralModel
@*<p>Numeral 5.1 PRODUCCION ENERGETICA REAL vs PRODUCCION ENERGETICA DETERMINADA EN LA PLANIFICACION A MEDIANO PLAZO </p>*@

@Html.Raw(Model.TablaNum1)
@Html.Raw(Model.TablaNum2)
@Html.Raw(Model.TablaNum3)
@Html.Raw(Model.TablaNum4)
@Html.Raw(Model.TablaNum5)
@Html.Raw(Model.TablaNum6)
@Html.Raw(Model.TablaNum7)
@Html.Raw(Model.TablaNum8)
@Html.Raw(Model.TablaNum9)
@Html.Raw(Model.TablaNum10)
@Html.Raw(Model.TablaNum11)