@model COES.MVC.Intranet.Areas.IndicadoresSup.Models.NumeralModel
@{
    ViewBag.Title = "Lista";
}

<script type="text/javascript">
    $(function () {
        $('#tab-container').easytabs();
    });

</script>

    <div> Listado de Indicadores Numeral del 5.1 al 5.11</div>
    <div id="tab-container" class='tab-container' style="display: block;">

        <ul class='etabs'>
            <li class='tab'><a href="#num1">5.1</a></li>
            <li class='tab'><a href="#num2">5.2</a></li>
            <li class='tab'><a href="#num3">5.3</a></li>
            <li class='tab'><a href="#num4">5.4</a></li>
            <li class='tab'><a href="#num5">5.5</a></li>
            <li class='tab'><a href="#num6">5.6</a></li>
            <li class='tab'><a href="#num7">5.7</a></li>
            <li class='tab'><a href="#num8">5.8</a></li>
            <li class='tab'><a href="#num9">5.9</a></li>
            <li class='tab'><a href="#num10">5.10</a></li>
            <li class='tab'><a href="#num11">5.11</a></li>
        </ul>
        <div class='panel-container'>
            <div id="num1" style="background-color:white">
                @Html.Raw(Model.TablaNum1)
            </div>
            <div id="num2" style="background-color:white">
                @Html.Raw(Model.TablaNum2)
            </div>
            <div id="num3" style="background-color:white">
                @Html.Raw(Model.TablaNum3)
            </div>
            <div id="num4" style="background-color:white">
                @Html.Raw(Model.TablaNum4)
            </div>
            <div id="num5" style="background-color:white">
                @Html.Raw(Model.TablaNum5)
            </div>
            <div id="num6" style="background-color:white">
                @Html.Raw(Model.TablaNum6)
            </div>
            <div id="num7" style="background-color:white">
                @Html.Raw(Model.TablaNum7)
            </div>
            <div id="num8" style="background-color:white">
                @Html.Raw(Model.TablaNum8)
            </div>
            <div id="num9" style="background-color:white">
                @Html.Raw(Model.TablaNum9)
            </div>
            <div id="num10" style="background-color:white">
                @Html.Raw(Model.TablaNum10)
            </div>
            <div id="num11" style="background-color:white">
                @Html.Raw(Model.TablaNum11)
            </div>
        </div>
    </div>
