<!-- ASSETEC 2019-11 -->
@model COES.MVC.Intranet.Areas.Transferencias.Models.ModeloModel
@Html.HiddenFor(model => model.EntidadModeloRetiro.TrnMreCodi, new { id = "idCodigoRetiro" })
@Html.HiddenFor(model => model.EntidadModeloRetiro.CoresoCodi, new { id = "CoresoCodi" })
<table id="tabla" class="pretty tabla-icono" border="0">
    <thead>
        <tr>
            <th style="width:60px;">&nbsp;</th>
            <th style="width:100px;">Barra</th>
            <th style="width:70px;">Código ER</th>
            <th>Generador</th>
            <th style="width:70px;">Inicio</th>
            <th style="width:70px;">Fin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaModelosRetiro)
        { 
        <tr id="fila_@item.TrnMreCodi">
            <td>
                <a href="#" onclick="PopupCodigoModeloRetiro(@item.TrnMreCodi, @item.TrnModCodi, @item.BarrCodi, '@item.CoresoCodi');"><img src="~/Content/Images/btn-edit.png" title="Editar el registro" alt="Editar el registro" /></a>
                <a href="#" onclick="EliminarCodigoRetiro(@item.TrnMreCodi, @item.TrnModCodi);"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
            </td>
            <td class="text_left" style="width:100px;text-align:left">@item.BarrBarraTransferencia</td>
            <td class="text_left" style="width:70px;text-align:left">@item.CoresoCodigo</td>
            <td class="text_left" style="text-align:left">@item.TrnModRetUseAct</td>
            <td class="text_left" style="width:70px;text-align:center">@item.TrnModRetFecIns.ToString("dd/MM/yyyy")</td>
            <td class="text_left" style="width:70px;text-align:center">@item.TrnModRetFecAct.ToString("dd/MM/yyyy")</td>
        </tr>
        }
    </tbody>
</table>
