<!-- ASSETEC 2019-11 -->
@model COES.MVC.Intranet.Areas.Transferencias.Models.ModeloModel
@Html.HiddenFor(model => model.EntidadModelo.TrnModCodi, new { id = "idModelo" })
<table id="tablaModelo" class="pretty tabla-icono" border="0">
    <thead>
        <tr>
            <th style="width:60px;">&nbsp;</th>
            <th>Nombre de Modelo</th>
            <th>Coordinador</th>
            <th style="width:70px;"itemid=" gusta">Fecha de Registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaModelos)
        {
            <tr id="fila_@item.TrnModCodi">
                <td>
                    <a href="#" onclick="PopupModelo(@item.TrnModCodi, '@item.TrnModNombre', @item.EmprCodi);"><img src="~/Content/Images/btn-edit.png" title="Editar el registro" alt="Editar el registro" /></a>
                    <a href="#" onclick="EliminarModelo(@item.TrnModCodi);"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                </td>
                <td class="text_left" style="text-align:left">@item.TrnModNombre</td>
                <td class="text_left" style="text-align:left">@item.EmprNomb</td>
                <td class="text_left" style="width:70px;text-align:left">@item.TrnModFecIns.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
