@model COES.MVC.Publico.Areas.Eventos.Models.BusquedaMantenimientoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Areas/Eventos/Content/Scripts/mantenimiento.js?v=5.0"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/multiselect.js?v=1.1"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/CaracteristicasSEIN.jpg)">
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoProgramadoDiario" class="sidebar-nav--link">Despacho Programado Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoProgramadoSemanal" class="sidebar-nav--link">Despacho Programado Semanal</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/CostoVariables" class="sidebar-nav--link">Costos Variables</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoEjecutadoDiario" class="sidebar-nav--link">Despacho Ejecutado Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/eventos/mantenimiento/" class="sidebar-nav--link sidebar-nav--link-active">Consulta de Mantenimientos</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/PotenciaMediaHorariaIndisponible" class="sidebar-nav--link">Potencia Media Horaria Indisponible de Unidades de Generación, Enlaces de Transmisión y Subestaciones</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/mediciones/medidoresgeneracion" class="sidebar-nav--link">Medidores de Generación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/Transferencias/CostosMarginales" class="sidebar-nav--link">Costos Marginales</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/ConsultaFrecuenciaDiariaNTCSE" class="sidebar-nav--link">Consulta de Frecuencia Diaria (NTCSE)</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-2">
            <div class="coes-box mb-3" style="overflow: inherit;">
                <div class="coes-box--header coes-box--header--center-aligned">
                    <h3 class="coes-box--title">Consulta de Mantenimientos</h3>
                </div>
                <div class="coes-box--content container" id="mainLayout">
                    <div class="coes-form-item--error coes-form-item coes-box coes-box--content pt-3 pe-3 ps-3 mb-3" id="mensaje" style="display: none;">
                    </div>
                    <div class="coes-filters d-flex ">
                        <form action="" class="w-100">
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                <div class="coes-form-item">
                                    <label class="d-block">Fecha desde:</label>
                                    <input type="date" id="FechaDesde" name="FechaInicio" class="coes-form-item--date" value="@Model.FechaInicio" />
                                </div>
                                <div class="coes-form-item">
                                    <label class="d-block">Fecha hasta:</label>
                                    <input type="date" id="FechaHasta" name="FechaFin" class="coes-form-item--date" value="@Model.FechaFin" />
                                </div>
                                <div class="coes-form-item">
                                    <label>Mantenimiento:</label>
                                    <select id="cbTipoMantenimiento" name="IdTipoMantenimiento" multiple="multiple">
                                        @foreach (var item in Model.ListaTipoMantenimiento)
                                        {
                                            if (item.Evenclasecodi != 5 && item.Evenclasecodi != 6)
                                            {
                                                <option value="@item.Evenclasecodi">@item.Evenclasedesc @item.Evenclaseabrev</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="coes-form-item">
                                    <label>Tipo de Mantenimiento:</label>
                                    <select id="cbTipoMantto" name="IdTipoMantto" multiple="multiple">
                                        @foreach (var item in Model.ListaTipoEvento)
                                        {
                                            <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap mt-2">
                                <div class="coes-form-item">
                                    <label>Con Interrupción:</label>
                                    <select id="cbInterrupcion" name="IndInterrupcion">
                                        <option value="-1">--TODOS--</option>
                                        <option value="S">SI</option>
                                        <option value="N">NO</option>
                                    </select>
                                </div>
                                <div class="coes-form-item">
                                    <label>Tipo de Empresa:</label>
                                    <select id="cbTipoEmpresa" name="IdTipoEmpresa" multiple="multiple">
                                        @foreach (var item in Model.ListaTipoEmpresas)
                                        {
                                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                        }
                                    </select>
                                </div>
                                <div class="coes-form-item">
                                    <label>Empresa:</label>
                                    @*<div id="empresas"></div>*@
                                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>
                                <div class="coes-form-item">
                                    <label>Tipo de Equipo:</label>
                                    <select id="cbFamilia" name="IdFamilia" multiple="multiple">
                                        @foreach (var item in Model.ListaFamilias)
                                        {
                                            <option value="@item.FAMCODI">@item.FAMNOMB</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap mt-4 mb-2">
                                <div class="coes-form-item">
                                    <input type="button" id="btnBuscar" class="coes-form-item--submit" value="Ver Reporte" />
                                </div>
                                <div class="coes-form-item">
                                    <input type="button" id="btnExpotar" class="coes-form-item--submit" value="Exportar Reporte" />
                                </div>
                                <div class="coes-form-item">
                                    <input type="button" id="btnGrafico" class="coes-form-item--submit" value="Ver Gráfico" />
                                </div>
                            </div>
                            <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
                            <input type="hidden" id="hfEmpresa" />
                            <input type="hidden" id="hfTipoMantenimiento" />
                            <input type="hidden" id="hfTipoEmpresa" />
                            <input type="hidden" id="hfTipoEquipo" />
                            <input type="hidden" id="hfTipoMantto" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 mb-md-2">
                <div class="table-responsive">
                    <div class="tabla-header">

                    </div>
                    <div class="table-list" id="listado">

                    </div>
                    <div class="table-paginado" id="paginado"></div>
                </div>
            </div>
           
        </div>
       
        </div>
    </div>
