@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoHistorialCambioSEModel
<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:10%">Acciones</th>
            <th style="width:15%">Subestación</th>
            <th style="width:15%">Proyecto</th>
            <th style="width:15%">Motivo</th>
            <th style="width:35%">Fecha de cambio</th>
            <th style="width:15%">Memoria de cálculo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaHistorialCambioSE.Count > 0)
        {
            foreach (var item in Model.ListaHistorialCambioSE)
            {
                var rowClass = item.UltMemoriaCalculo =="S" ? "utlimo-se" : "";

                <tr >
                    <td class="@rowClass">
                        <a href="JavaScript:editar(@item.Epsubecodi, 'CONSULTAR');" title="Mostrar Detalles"><img src="~/Content/Images/btn-open.png" alt="Mostrar"></a>
                        <a href="JavaScript:editar(@item.Epsubecodi, 'EDITAR');" title="Editar Memoria de Cálculo"><img src="~/Content/Images/btn-edit.png" alt="Editar"></a>
                        <a href="JavaScript:eliminar(@item.Epsubecodi);" title="Eliminar Fila"><img src="~/Content/Images/eliminar.png" alt="Eliminar"></a>
                    </td>
                    
                    <td class="@rowClass">@item.Areanomb</td>
                    <td class="@rowClass">@item.Epproynomb</td>
                    <td class="@rowClass">@item.Epsubemotivo</td>
                    <td class="@rowClass">@item.Epsubefecha</td>
                    <td class="@rowClass">
                        @if (@item.Epsubememoriacalculo != "") {
                            <a href="JavaScript:descargarArchivo('@item.Epsubememoriacalculo',@item.Epsubecodi)">@item.EpsubememoriacalculoText</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>