@model COES.MVC.Intranet.Areas.Intervenciones.Models.FactorF1F2Model
@{
    ViewBag.Title = "Consultas Cruzadas F1 – F2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.5" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesArchivo.js?v=9.0.5"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesFormulario.js?v=9.0.5"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesSustento.js?v=9.0.5"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesCruzadasHandsonTable.js?v=9.0.5"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesCruzadas.js?v=9.0.5"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/FactorF1F2/consultasCruzadasF1F2.js?v=9.0.5"></script>

<div class="form-title">
    <div class="content-titulo">Consultas Cruzadas F1 – F2</div>
    <div class="content-botonera">
        <input type="button" id="btnExportarCruzadas" value="Exportar">
        <input type="button" id="btnRegresarCruzada" value="Regresar">
    </div>
</div>

<input type="hidden" id="hfVersionF1F2" value="@Model.Version" />
<input type="hidden" id="hfHojaF1F2" value="-1" />

<input hidden type="text" id="infvercodi" value="@Model.Infvercodi" />
<input hidden type="text" id="infvernro" value="@Model.Version" />
<input hidden type="text" id="mes" value="@Model.NumMes" />
<input hidden type="text" id="anio" value="@Model.NumAnio" />
<input hidden type="text" id="infverfechaperiodo" value="@Model.Infverfechaperiodo" />

<div class="ast">
    <div class="content-hijo" style="">
        <div class="row">
            <table class="content-tabla-search" border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

                <thead>
                    <tr class="THCabecera">
                        <td colspan="10">
                            <div class="editor-label" style="color:#FFFFFF;">
                                <b>Filtros de búsqueda</b>
                                <input type="button" value="🡅" class="btn-contraer_intv" style="" id="btnContraer">
                                <input type="button" value="🡇" class="btn-contraer_intv" style="display:none" id="btnDescontraer">
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody id="Contenido">
                    <tr>
                        <td>
                            <div class="td_inline" style="width: 182px;">
                                <div>Tipo de Equipo:</div>
                                <div>
                                    <select style="background-color:white; width: 180px">
                                        <option>Generación</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 182px;">
                                <div>Disponibilidad:</div>
                                <div>
                                    <select id="cboF1F2Disponibilidad" style="background-color:white; width: 180px">
                                        <option value="0">--TODOS--</option>
                                        <option value="F">F/S (fuera de servicio)</option>
                                        <option value="E">E/S (en servicio)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 227px;">
                                <div>Mantenimiento:</div>
                                <div>
                                    <select style="background-color:white; width: 236px" id="cboMantenimiento" multiple="multiple">
                                        <option value="1">Mantenimiento mayor 24hrs</option>
                                        <option value="2">Mantenimientos menores 24hrs</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 227px;">
                                <div>Frecuencia:</div>
                                <div>
                                    <select style="background-color:white; width: 236px" id="cboFrecuencia" multiple="multiple">
                                        <option value="Mmay" id="option1">Mant. Mensual – M</option>
                                        <option value="Smay" id="option2">Mant. Semanal – S</option>
                                        <option value="Dmay" id="option3">Mant. Diario -D</option>
                                        <option value="Emay" id="option4">Mant. Ejecutado Mayor (>=24h) – E</option>
                                        <option value="emen" id="option5">Mant. Ejecutado Menor del mensual (&lt;24h) - em</option>
                                        <option value="etr" id="option6">Mant. Ejecutado Menor (&lt;24h) - e</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 100px;">
                                <div>F1 = @Model.InfverF1</div>
                                <div>F2 = @Model.InfverF2</div>
                            </div>
                        </td>
                    </tr>

                    <!--2da fila-->
                    <tr>
                        <td>

                            <div class="td_inline" style="">
                                <div>Empresa:</div>
                                <div id="div_empresa_filtroF1F2">
                                    <select id="cbEmpresaF1F2">
                                        <option value="-1">--TODOS--</option>
                                        @foreach (var item in Model.ListaEmpresa)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="">
                                <div>Ubicación:</div>
                                <div id="div_ubicacion_filtroF1F2">
                                    <select id="cbUbicacionF1F2">
                                        <option value="-1">--TODOS--</option>
                                        @foreach (var item in Model.ListaUbicacion)
                                        {
                                            <option value="@item.Areacodi">@item.Areanomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="">
                                <div>Equipo:</div>
                                <div id="div_equipo_filtroF1F2">
                                    <select id="cbEquipoF1F2">
                                        <option value="-1">--TODOS--</option>
                                    </select>
                                </div>
                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="action-exito mensajes" style="display: none;"></div>

        <div id="grillaExcel" style="overflow-x: auto; overflow-y: hidden; margin-top: 16px;"></div>
    </div>
</div>


<!--Ventana flotante de Formulacion de Intervención-->
<div id="popupFormIntervencion" class="general-popup popup_formulario" style="width: 1070px; min-height: 600px; max-width: 1070px">
</div>

<div id="idPopupReporte" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Criterios para Exportación de Reporte F1 y F2</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td style="width: 340px;">
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <input type="radio" id="rbMantMayor" name="rbMantenimiento" value="1" checked />
                    <label for="rbMantMayor">Mantenimiento con periodos mayores o iguales a 24 horas</label>
                </div>
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <input type="radio" id="rbMantEjecutado" name="rbMantenimiento" value="2" />
                    <label for="rbMantEjecutado" style="padding-top: 5px;">Mantenimiento ejecutado menor a 24 horas</label>
                </div>
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <input type="radio" id="rbMantTodo" name="rbMantenimiento" value="-1" />
                    <label for="rbMantTodo" style="padding-top: 5px;">TODOS</label>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGenerarReporte" value="Exportar" />
            </td>

            <td colspan="2" style="text-align:right">
                <input type="button" id="btnCancelar" value="Cancelar" />
            </td>
        </tr>
    </table>
</div>

<!--popup para sustento-->
<div id="popupFormSustento" class="general-popup popup_equipo" style="display: none; width: 950px; height:610px;"></div>