@model COES.Dominio.DTO.Transferencias.PeriodoDTO
@{
    ViewBag.Title = "Transferencias - Factor de Perdida Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var periodo = (IEnumerable<SelectListItem>)TempData["Pericodigo"];
    var periodo1 = (IEnumerable<SelectListItem>)TempData["Pericodigo1"];
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/factorperdidamedia.js"></script>
<link href="~/Areas/Transferencias/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script>
    
</script>
<div class="ast">

    <div class="form-title">
        <div class="content-titulo">Factor de Perdida Media por Mes de Valorización</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un periodo y versión de valorización</div>
    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Carga Factor de Perdida Media / Mediciones Bornes</a></li>
                <li class='tab'><a href="#paso2">Consultar</a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Información de carga de datos</b></div></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.PeriCodi, "Periodo")
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownList("Pericodi", @periodo, "--Seleccione--")
                                        @Html.ValidationMessageFor(model => model.PeriCodi)
                                    </div>
                                </td>
                                <td><div class="editor-label">Versión </div></td>
                                <td><div class="editor-field"><select id="Version" style="width:100px;"></select></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="formulario-item" style="width:1000px" id="divOpcionCarga">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td><div class="formulario-label" style="width:400px">Seleccionar archivo de factor de proporción (Extensión: .xlsx):</div></td>
                                                <td><div class="formulario-control" style="width:90px"><input type="button" id="btnSelectFile" value="Seleccionar" /></div></td>
                                                <td><div class="formulario-control" style="width:80px" id="container"><input type="button" id="btnProcesarFile" value="Procesar" /></div></td>
                                                @*//ASSETEC 20190104*@
                                                <td><div class="formulario-control" style="width:180px"><input type="button" value="Copiar Medición de Bornes" id="btnCopiarMB" alt="Copiar Medición de Bornes" title="Copiar Medición de Bornes" /></div></td>
                                                <td><div class="formulario-control" style="width:180px"><input type="button" value="Exportar Medición de Bornes" id="btnExportarMB" alt="Exportar Medición de Bornes - SGOCOES" title="Exportar Medición de Bornes - SGOCOES" /></div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="progreso"></div>
                    <div id="fileInfo"></div>
                </div>
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="6" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros</b></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">@Html.LabelFor(model => model.PeriCodi, "Periodo")</div></td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownList("Pericodi2", @periodo1, "--Seleccione--")
                                        @Html.ValidationMessageFor(model => model.PeriCodi)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-label">Versión </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        <select id="VersionB" style="width:100px;"></select>
                                    </div>
                                </td>
                                <td style="text-align:left;"><div><input type="button" id="btnBuscar" value="Consultar" /></div></td>
                                <td style="text-align:left;"><div><input type="button" id="btnGenerarExcel" value="Exportar Datos" /></div></td>
                            </tr>
                        </table>
                    </div>
                    <div class="listado" id="listado"> </div>
                </div>
            </div>
        </div>
    </div>
</div>