@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel



<script type="text/javascript">
    jQuery(document).ready(function ($) {
        "use strict";
        $('#contentHolder').perfectScrollbar({ suppressScrollY: true });
    });
</script>

      <style>
        
        /* Change the alignment of scrollbars */
        /* Recommended: You can just modify the CSS file directly. */
        .ps-container .ps-scrollbar-x-rail {
          top: 3px;
          bottom: auto; /* If using `top`, there shouldn't be a `bottom`. */
        }
       
      </style>


<div id="contentHolder" class="content-holder">
 <div style="clear:both; height:10px"></div>
<table id="tablaDatos" class="tabla-formulario">    
   
    <tr id="trSeleccion" class="formula-head">
        <td></td>
        <td></td>
        @foreach (var item in Model.ListaScada)
        {
            var fecha = "removeSerie(this);";            
            <td style="padding:0 10px;">
                <input type="checkbox" value="@item.MEDIFECHA.ToString("dd/MM/yyyy")" onclick="@fecha" checked="checked"  />
                <span>@item.MEDIFECHA.ToString("dd/MM/yyyy")</span>
            </td>
        }
    </tr>
    
    <tbody>
    @for (int i = 1; i <= 48; i++) {        
        <tr>
            <td>@i</td>
            <td>@COES.MVC.Intranet.Helper.Tools.ObtenerHoraMedicion(i)</td>       
            @foreach (var item in Model.ListaScada)
            {
                var valor = item.GetType().GetProperty("H" + (i * 2).ToString()).GetValue(item, null);
                string texto = "";
                if (valor != null)
                { 
                    texto = Convert.ToDecimal(valor).ToString("#,###.00");                    
                }           
                <td class="td-filaformula">@texto</td>           
            }   
        </tr>     
    }
        </tbody>
</table>

</div>