@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Formulas/Content/Scripts/detalle.js?v=1"></script>
<link href="~/Areas/Formulas/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Perfiles SCADA</div>    
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">    
    <div class="search-content">
        <table class="table-form-show" style="width:auto">
            <tr>
                <td class="tbform-label">Fecha creación:</td>
                <td class="tbform-control">@(((DateTime)Model.PerfilScada.FECREGISTRO).ToString("dd/MM/yyyy"))</td>
                <td class="tbform-label">Fuente:</td>
                <td class="tbform-control">
                    @if (Model.PerfilScada.PERFORIG == "D")
                    {
                        <span>Demanda en barras</span>
                    }
                    @if (Model.PerfilScada.PERFORIG == "E")
                    {
                        <span>Ejecutado SCADA</span>
                    }
                </td>
                <td class="tbform-label">Subestación: </td>
                <td class="tbform-control">@Model.PerfilScada.PRRUABREV</td>
                <td class="tbform-label">Área: </td>
                <td class="tbform-control">@Model.PerfilScada.PRRUNOMB</td>
            </tr>
        </table>
    </div>

    <div style="clear:both; height:10px"></div>
    <table style="border-collapse:collapse; border-spacing: 0px;">
        <tr>
            <td>
                <table border="0" class="tabla-formulario" >
                    <tr>
                        <td style=" border:1px solid #fff">&nbsp;</td>
                    </tr>
                    <tr class="formula-head">
                        <td>Hora</td>
                    </tr>
                    @for (int i = 1; i <= 48; i++)
                    {
                        <tr>
                            <td>@COES.MVC.Intranet.Helper.Tools.ObtenerHoraMedicion(i)</td>
                        </tr>
                    }
                </table>
            </td>

            @foreach (var item in Model.PerfilScada.LISTAITEMS)
            {
                <td>
                    <table class="tabla-formulario"> 
                        <tr class="formula-group">
                            <td colspan="2" style="background-color:#ffd800">@COES.MVC.Intranet.Helper.Tools.ObtenerClasificacion(item.PERFCLASI)</td>
                        </tr> 
                        <tr class="formula-head">
                            <td>Valor</td>
                            <td>Tunnig</td>
                        </tr>
                        @for (int i = 1; i <= 48; i++)
                        { 
                            <tr>
                                @{
                                    var txt = string.Empty;
                                    var valor = item.GetType().GetProperty("H" + i).GetValue(item, null);
                                    if (valor != null)
                                    {
                                        txt = Convert.ToDecimal(valor).ToString("#,###.00");
                                    }
                                    <td>@txt</td>
                                    var txtT = string.Empty;
                                    var valorT = item.GetType().GetProperty("TH" + i).GetValue(item, null);
                                    if (valorT != null)
                                    {
                                        txtT = Convert.ToDecimal(valorT).ToString("#,###.00");
                                    }
                                    <td>@txtT</td>
                                }
                            </tr>
                        }
                    </table>
                </td>
            }
        </tr>
    </table>
</div>
