@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Consultar</th>
            <th>ID</th>
            <th>Subestación</th>
            <th>Área Operativa</th>
            <th>Día Típico</th>
            <th>Registro</th>
            <th>Fecha Inicial</th>
            <th>Fecha Fin</th>
            <th>Usuario</th>
            <th>Actualización</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Listado ) {
        <tr >                        
            <td>
                <a href="JavaScript:mostrarDetalle(@item.PERFCODI);">
                    <img src="~/Content/Images/btn-edit.png" alt="">
                </a>
            </td>
            <td>@item.PERFCODI</td>
            <td>@item.PRRUABREV</td>
            <td>@item.PRRUNOMB</td>
            <td>@COES.MVC.Intranet.Helper.Tools.ObtenerClasificacion(@item.PERFCLASI)</td>
            <td>@(((DateTime)item.FECREGISTRO).ToString("dd/MM/yyyy"))</td>
            <td>@(((DateTime)item.FECINICIO).ToString("dd/MM/yyyy"))</td>
            <td>@(((DateTime)item.FECFIN).ToString("dd/MM/yyyy"))</td>
            <td>@item.LASTUSER</td>
            <td>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm"))</td>
        </tr>
    }
    </tbody>
</table>
