@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CargaVirtualModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
    var lista_empresas = (IEnumerable<SelectListItem>)TempData["ListaEmpresas"];
    var lista_central = (IEnumerable<SelectListItem>)TempData["ListaCentral"];
    var lista_unidad = (IEnumerable<SelectListItem>)TempData["ListaUnidad"];

}
<link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
<link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/CargaVirtual.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "CargaVirtual", FormMethod.Post, new { id = "frmCargaVirtual", @class = "cmxform"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Entidad.UsuCarga", User.Identity.Name)
    @Html.Hidden("sAccion", sAccion)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Cancelar" onclick="javascript:cancelarCargaReportePR21();" alt="Cancelar" title="Retornar" />
                <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","CargaVirtual")'" alt="Regresar" title="Regresar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5" id="tblFormGPSVirtual">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;" id="sError">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("GPS Virtual")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">

                                @if (sAccion == "Eliminar")
                                {
                                    @Html.DropDownList("Entidad.GPSCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("Entidad.GPSCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo GPS Virtual es requerido." })
                                }
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Empresa")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @if (sAccion == "Eliminar")
                                {
                                    @Html.DropDownList("Entidad.CodEmpresa", @lista_empresas, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("Entidad.CodEmpresa", @lista_empresas, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Empresa es requerido." })
                                }
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Central")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @if (sAccion == "Eliminar")
                                {
                                    @Html.DropDownList("Entidad.CodCentral", @lista_central, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Central es requerido.", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("Entidad.CodCentral", @lista_central, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Central es requerido." })
                                }

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Unidad")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @if (sAccion == "Eliminar")
                                {
                                    @Html.DropDownList("Entidad.CodUnidad", @lista_unidad, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Unidad es requerido.", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("Entidad.CodUnidad", @lista_unidad, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Unidad es requerido." })
                                }

                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Inicio")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.Entidad.FechaCargaInicio, new { @class = "form-control2", maxlength = 10, @style = "width:120px !important", required = "required", data_msg_required = "Campo Fecha Inicio es requerido.", onblur="limpiarMensajeError();"})

                                @Html.ValidationMessageFor(model => model.Entidad.FechaCargaInicio)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Final")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.Entidad.FechaCargaFin, new { @class = "form-control2", maxlength = 10, @style = "width:120px !important", required = "required", data_msg_required = "Campo Fecha Final es requerido.", onblur = "limpiarMensajeError();" })

                                @Html.ValidationMessageFor(model => model.Entidad.FechaCargaFin)
                            </div>
                        </td>
                    </tr>


                    




                </tbody>
            </table>
            <br />
            Nota(*): Información obligatoria
        </div>

    </div>
}
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmCargaVirtual").validate({
        rules: {
            "Entidad.GPSCodi": {
                required: true
            },
            "Entidad.CodEmpresa": {
                required: true,
            },
            "Entidad.CodCentral": {
                required: true,
            },
            "Entidad.CodUnidad": {
                required: true,
            },
            "Entidad.FechaCargaInicio": {
                required: true,
            },
            "Entidad.FechaCargaFin": {
                required: true,
            },

        }
    });


</script>
<script>
    var sAccion = '@sAccion';
    if (sAccion == "Insertar") {
        //document.forms[0].Entidad_EstdAbrev[0].checked = true;
    }
</script>