@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CargaVirtualModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Equipo GPS</th>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Archivo</th>
            <th>Tipo Carga</th>
            <th>Fecha Registro</th>
            <th>Usuario Registro</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaCargaVirtual)
        {
        <tr id="fila_@item.IdCarga">
            <td style="font-weight:bold">@contador</td>
            <td style="text-align:left;">@item.NombreEquipo</td>
            <td style="text-align:left;">@item.NombreEmpresa</td>
            <td style="text-align:left;">@item.CodCentral</td>
            <td style="text-align:left;">@item.NombreUnidad</td>
            <td style="text-align:left;">@item.FechaCargaIni</td>
            <td style="text-align:left;">@item.FechaCargaFin</td>
            <td style="text-align:left;">@item.ArchivoCarga</td>
            <td style="text-align:left;">@item.TipoCarga</td>
            <td style="text-align:left;">@item.FechaCreacion</td>
            <td style="text-align:left;">@item.UsuCreacion</td>
            <td style="width:30px;">
                <a href="@Url.Action("VerRegistroCarga", new { IdCarga = item.IdCarga })"><img src="@Url.Content("~/Content/Images/Visualizar.png")" title="Ver el registro" alt="Ver el registro" /></a>
            </td>

        </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>