@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    ViewBag.Title = "Ampliación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/StockCombustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/StockCombustibles/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/ampliacion.js"></script>
<script src="~/Content/Scripts/dataTables.fixedColumns.min.js"></script>

<div class="form-title">
    <div class="content-titulo">Ampliación de Plazos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />
        <input type="button" id="btnAmpliar" value="Ampliar Plazo" />
    </div>
</div>


<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Formato:</td>
                <td>
                    <select id="cbFormato" style="width:200px;">
                        @foreach (var item in Model.ListaCombo)
                        {
                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfFormato" />
                </td>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <div id="empresas"></div>
                </td>
            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                    <input type="hidden" id="hfFechaDesde" value="@Model.FechaInicio" />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaInicio" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
        </div>
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>

<div id="validaciones">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingresar Ampliacion</span></div>
    <div class="table-list" id="detalleAmpliacion"></div>
</div>