@model COES.MVC.Intranet.Areas.GMM.Models.IncumplimientoModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaIncumplimientoArchivos">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Fecha Recepción</th>
                <th>Archivo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listadoArchivos)
            {
                <tr class="menu-contextual">
                    <td>@item.DetTipInforme</td>

                    @if (@item.DetIncFecEntregaDet != null)
                    {
                        <td>
                            @Convert.ToDateTime(item.DetIncFecEntregaDet).ToString("yyyy/MM/dd")
                        </td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                    <td>@item.DetIncArchivoDet</td>
                    <td>
                        <a href="JavaScript:eliminarArchivo('@item.Detdinccodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>