@model COES.MVC.Intranet.Areas.GMM.Models.IncumplimientoModel

    <form id="Form1" method="post" enctype="multipart/form-data">
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaIncumplimientos">
            <thead>
                <tr>
                    <!-- ANHO/MES | EMPRESA AFECTADA | EMPRESA DEUDORA | MONTO AFECTADO | INFORME | DOCUMENTO | FECHA RECEPCION -->
                    <th>Año / Mes</th>
                    <th>Empresa Afectada</th>
                    <th>Empresa Deudora</th>
                    <th>Monto Afectado</th>
                    <th>Informe</th>
                    <th style="width:80px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listadoIncumplimientos)
                {
                    <tr class="menu-contextual">
                        <td style="text-align: center; width: 100px;">@item.IncumAnioMes</td>
                        <td style="text-align: left; width: 120px;">@item.IncumEmprAfectada</td>
                        <td style="text-align: left; width: 120px;">@item.IncumEmprDeudora</td>
                        <td style="text-align: right; width: 100px;">@item.IncumMonto</td>
                        <td style="text-align: left; width: 100px;">@item.IncumInforme</td>
                        <td style="width:80px;">
                            <a href="JavaScript:modificarIncumplimientos('@item.IncucodiEdit');" title="Modificar">
                                <img src="~/Content/Images/btn-edit.png" alt="">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
