@model COES.MVC.Extranet.Areas.CPPA.Models.CargaArchivosIntegrantesModel

@{
    ViewBag.Title = "Información Operativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nombre = Convert.ToString(ViewBag.Emprnomb);
}

@*<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>*@
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
@*<link href="~/Areas/CortoPlazo/Content/Css/css.css?v=1.20" rel="stylesheet" />*@
@*<script src="~/Content/Scripts/plupload.full.min.js"></script>*@
<link href="~/Areas/CortoPlazo/Content/Css/cssfile.css" rel="stylesheet" />
@*<script src="~/Areas/CortoPlazo/Content/Scripts/multidownload.js"></script>*@
<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css1.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/CPPA/Content/Scripts/documentosDetalle.js?v=4.1"></script>
@*<link href="~/Content/Css/multiselect.css" rel="stylesheet" />*@

<link href="~/Content/Css/calendar.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Listado de Envíos de archivos presupuesto anual</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="messageDetalle" style="display: none">
        Aquí se agregan los posibles mensajes...
    </div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="padding-left: 10px; width: 300px; white-space: nowrap;">
                    <span style="font-weight: bold;">Archivos presupuesto anual de Envío </span> @ViewBag.Envio (@ViewBag.Anio @ViewBag.Ajuste @ViewBag.RevisionName)
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px; width: 300px; white-space: nowrap;">
                    <span style="font-weight: bold;">Empresa: </span> @nombre
                </td>

               @* <td style="width: 100%;"></td>*@
            </tr>
        </table>
    </div>
    <div style="margin-top: 20px;">
        <table id="dtDetalle" class="pretty tabla-icono" style="width: 340px;">
        </table>
    </div>
    <div style="margin-top: 30px; text-align: center;">
        <input type="button" id="btnRetornar" value="Retornar" style="margin-right: 10px;">
    </div>
    <div style="display: none">
        <input id="Documento"
               type="text"
               value="@ViewBag.Documento"
               disabled
               style="width: 100px; display: none;" />
        <input id="Anio"
               type="text"
               value="@ViewBag.Anio"
               disabled
               style="width: 100px; display: none;" />
        <input id="Ajuste"
               type="text"
               value="@ViewBag.Ajuste"
               disabled
               style="width: 100px; display: none;" />
        <input id="Revision"
               type="text"
               value="@ViewBag.Revision"
               disabled
               style="width: 100px; display: none;" />
        @*<input id="Desde"
               type="text"
               value="@ViewBag.Desde"
               disabled
               style="width: 100px; display: none;" />
        <input id="Hasta"
               type="text"
               value="@ViewBag.Hasta"
               disabled
               style="width: 100px; display: none;" />*@
        <input id="Emprcodi"
               type="text"
               value="@ViewBag.Emprcodi"
               disabled
               style="width: 100px; display: none;" />
        <input id="Emprnomb"
               type="text"
               value="@ViewBag.Emprnomb"
               disabled
               style="width: 100px; display: none;" />
    </div>
</div>

@*<div id="popDetalle" class="general-popup" style="min-width: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title" style="display: flex; flex-direction: column;">
        <span id="popTitleDetalle">Archivos presupuesto anual de Envío 2554 (2024 A1 Revisión 1)</span>
        <span id="popSubTitleDetalle">Empresa : RED DE ENERGIA DEL PERU S.A.</span>
    </div>
    <div class="popup-text">
        <div id="mpop-detalle" style="display: none"></div>
        <div style="margin-top: 20px;">
            <table id="dtDetalle" class="pretty tabla-icono" style="width:100%;">
            </table>
        </div>
        <div style="margin-top: 30px; text-align: center;">
            <input type="button" id="btnRetornar" value="Retornar" style="margin-right: 10px;">
        </div>
    </div>
</div>*@
