@model COES.MVC.Intranet.Areas.RechazoCarga.Models.RegistroSvrmModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th colspan="2" style="background-color:lightgreen">HP</th>
                <th colspan="2" style="background-color:green">HFP</th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
            </tr>          
            <tr>
                <th>Razón Social</th>
                <th>Suministrador</th>
                <th>Subestación</th>
                <th>Nombre Punto Medición</th>
                <th>Max Dem Contratada</th>
                <th style="background-color:lightgreen">ERACMF</th>
                <th style="background-color:lightgreen">ERACMT</th>
                <th style="background-color:green">ERACMF</th>
                <th style="background-color:green">ERACMT</th>
                <th>Max Dem Disponible</th>
                <th>Max Dem Comprometida (SVRM)</th>
                <th>Documento</th>
                <th>Fecha de Vigencia</th>
                <th>Estado</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListRegistroSvrm)
            {
                <tr class="menu-contextual">
                    <td style="text-align:left">@item.Emprrazsocial</td>
                    <td style="text-align:left">@item.Emprsum</td>
                    <td style="text-align:left">@item.Areanomb</td>
                    <td style="text-align:left">@item.Equinomb</td>
                    <td style="text-align:left">@item.Rcsvrmmaxdemcont</td>
                    <td style="text-align:left">@item.Rcsvrmhperacmf</td>
                    <td style="text-align:left">@item.Rcsvrmhperacmt</td>
                    <td style="text-align:left">@item.Rcsvrmhfperacmf</td>
                    <td style="text-align:left">@item.Rcsvrmhfperacmt</td>
                    <td style="text-align:left">@item.Rcsvrmmaxdemdisp</td>
                    <td style="text-align:left">@item.Rcsvrmmaxdemcomp</td>
                    <td style="text-align:left">@item.Rcsvrmdocumento</td>
                    <td style="text-align:left">@(((DateTime)item.Rcsvrmfechavigencia).ToString("dd/MM/yyyy"))</td>
                    @if (item.Rcsvrmestado == "1")
                    {
                        <td style="text-align:left">Vigente</td>
                    }
                    else
                    {
                        <td style="text-align:left;background-color:red">No Vigente</td>
                    }                   

                    <td style="width:80px;">
                        <a href="JavaScript:modificarRegistroSvrm('@item.Rcsvrmcodi');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>                       
                        <a href="JavaScript:eliminarRegistroSvrm('@item.Rcsvrmcodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</form>


