@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Copiar parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];

    string sSelected = "";

}
<script type="text/javascript">
    var listRevision = @Html.Raw(ViewBag.ListRevision);
</script>

<script src="~/Areas/CPPA/Content/Scripts/copyparameter.js?v=1.0.0"></script>
<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />

@using (Html.BeginForm("Save", "ajustepresupuestal", FormMethod.Post, new { id = "frmCopyParameter", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">Copiar parámetros</div>
            <div class="content-botonera">
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "ajustepresupuestal")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div class="content-hijo" style="padding-top:8px">
            @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>*@
            <div id="message" style="margin-bottom:5px; margin-top:0; display: none; ">
                Aquí se agregan los posibles mensajes...
            </div>
            <br>
            <fieldset style="width:40%">
                <legend>Historial de cambios</legend>
                <div>
                    <input id="IdRevision"
                           type="text"
                           value="@ViewBag.IdRevision"
                           disabled
                           style="width:100px; display:none;" />
                </div>
                <table border="0" class="pretty tabla-icono" id="tabla">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Año</th>
                            <th>Ajuste</th>
                            <th>Revisión</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center; vertical-align: middle; padding: 5px;"> Hacia </td>
                            <td class="text_center">@ViewBag.Anio</td>
                            <td class="text_center">@ViewBag.Ajuste</td>
                            <td class="text_center">@ViewBag.Revision</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; vertical-align: middle; padding: 5px;"> Desde </td>
                            <td>
                                <div class="editor-label">
                                    <select id="cbAnio" name="Year">
                                        <option value="">Seleccione un año</option>
                                        @foreach (var item in Model.ListaAnio)
                                        {
                                            <option value="@item.Entero1">@item.String1</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                    <select id="cbAjuste" name="ajuste" disabled>
                                        <option value="">Seleccione un ajuste</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                    <select id="cbRevision" name="revision" disabled>
                                        <option value="">Seleccione una revisión</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <input type="button" id="btnCopiar" value="Copiar" style="margin-right: 10px;">
                </div>
            </fieldset>
        </div>
    </div>
}
