@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@{
    string sTitulo = ViewData["sTitulo"].ToString();
    string sAccion = ViewData["sAccion"].ToString();
    string btnGuardar = ViewData["btnGuardar"].ToString();
    string sSelected = "";
}
<script src="~/Areas/CPPA/Content/Scripts/ajustepresupuestalform.js?v=1.0.0"></script>

@using (Html.BeginForm("Save", "AjustePresupuestal", FormMethod.Post, new { id = "frmAjustePresupuestal", name = "frmAjustePresupuestal", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                <input id="@btnGuardar" type="submit" value="Grabar" alt="Grabar" title="Grabar" />
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "AjustePresupuestal")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:700px;">
            
            <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
            
            <br>
            <fieldset>
                <legend>Información del Ajuste del Año Presupuestal</legend>
                @Html.TextBoxFor(model => model.Revision.Cparcodi, new { @type="hidden" , @id = "codiForm" })
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cpaapanio, "Año") (*):</div></td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Actualizar")
                            {
                                @Html.TextBoxFor(model => model.Revision.Cpaapanio, new { @readonly = "readonly" })
                            }
                            else if (sAccion == "Insertar")
                            {
                                @Html.TextBoxFor(model => model.Revision.Cpaapanio, new { @class = "txtFecha", @id = "anioForm" })
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cpaapajuste, "Ajuste") (*):</div></td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Actualizar")
                            {
                                @Html.TextBoxFor(model => model.Revision.Cpaapajuste, new { @readonly = "readonly" })
                            }
                            else if (sAccion == "Insertar")
                            {
                                @Html.DropDownListFor(model => model.Revision.Cpaapajuste,
                                    new SelectList(
                                        new List<Object>{
                                            new { value = "A1" , text = "A1" },
                                            new { value = "A2" , text = "A2" },
                                            new { value = "A3" , text = "A3" },
                                            new { value = "A4" , text = "A4" },
                                            new { value = "A5" , text = "A5" },
                                        },
                                        "value",
                                        "text",
                                        "A1"),
                                    new { id = "ajusteForm" }
                                )
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparrevision, "Revisión") (*):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.Cparrevision, new { id = "revisionForm", @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparestado, "Estado") (*):</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Revision.Cparestado,
                                new SelectList(
                                    new List<Object>{
                                        new { value = "A" , text = "Abierto"  },
                                        new { value = "C" , text = "Cerrado" }
                                    },
                                    "value",
                                    "text",
                                    "A"),
                                new { id = "estadoForm" }
                            )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparcmpmpo, "CMg PMPO") (*):</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Revision.Cparcmpmpo, new { @id = "cmpmpoForm", @length = "6" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
            </fieldset>
        </div>
    </div>
}
