<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Año</th>
            <th>Ajuste</th>
            <th>Revisión</th>
            <th>Estado</th>
            <th>CMg PMPO</th>
            <th>Usuario creación</th>
            <th>Fecha creación</th>
            <th>Usuario actualización</th>
            <th>Fecha actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListRevision) {
            <tr id="fila_@item.Cparcodi">
                <td style="width:150px; text-align: left;">
                    @if (item.Cparestado != "X")
                    {
                        <a href="JavaScript:Edit(@item.Cparcodi);"><img src="~/Content/Images/btn-edit.png" title="Editar" /></a>
                        <a href="JavaScript:Register('@item.Cparcodi', '@item.Cpaapanio', '@item.Cpaapajuste', '@item.Cparrevision')"><img src="~/Content/Images/envios.png" title="Registrar parámetros" /></a>
                        <a href="JavaScript:CopyParameter('@item.Cparcodi', '@item.Cpaapanio', '@item.Cpaapajuste', '@item.Cparrevision')"><img src="~/Areas/CPPA/Content/Images/duplicate.png" title="Copiar parámetros" /></a>
                    }
                    <a href="JavaScript:ViewLog(@item.Cparcodi)"><img src="~/Content/Images/btn-open.png" title="Ver histórico de cambios" /></a>
                    @if (item.Cparestado != "X" && item.Cparultimo == "S")
                    {
                        <a href="JavaScript:Annul(@item.Cparcodi, '@item.Cpaapanio', '@item.Cpaapajuste', '@item.Cparrevision')"><img src="~/Content/Images/btn-cancel.png" title="Anular" /></a>
                    }
                </td>
                <td class="text_center">@item.Cpaapanio</td>
                <td class="text_center">@item.Cpaapajuste</td>
                <td class="text_left">&nbsp;@item.Cparrevision</td>
                <td class="text_left">&nbsp;@item.CparestadoDesc</td>
                <td class="text_center">&nbsp;@item.Cparcmpmpo</td>
                <td class="text_left">&nbsp;@item.Cparusucreacion</td>
                <td class="text_center">@item.CparfeccreacionDesc</td>
                <td class="text_left">&nbsp;@item.Cparusumodificacion</td>
                <td class="text_center">@item.CparfecmodificacionDesc</td>
            </tr>
        }
    </tbody>
</table>
