@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Cambios realizados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];

    string sSelected = "";
}

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Historial de cambios del Ajuste del Año Presupuestal</div>
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "AjustePresupuestal")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <!--<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>-->
        <br>
        <fieldset>
            <legend>Información del Ajuste del Año Presupuestal</legend>
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cpaapanio, "Año"):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.Cpaapanio, new { @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cpaapajuste, "Ajuste"):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.Cpaapajuste, new { @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparrevision, "Revisión"):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.Cparrevision, new { id = "revisionForm", @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparestado, "Estado"):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.CparestadoDesc, new { id = "estadoForm", @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Revision.Cparcmpmpo, "CMg PMPO"):</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Revision.Cparcmpmpo, new { id = "cmpmpoForm", @readonly = "readonly" })</div></td>
                </tr>
            </table>
        </fieldset>
        <br>
        <fieldset>
            <legend>Historial de cambios</legend>
            <table border="0" class="pretty tabla-icono" id="tabla">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Fecha/hora de actualización</th>
                        <th>Tipo registro</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListHistorico)
                    {
                        <tr id="fila_@item.Cpahcodi">
                            <td class="text_left">&nbsp;@item.Cpahusumodificacion</td>
                            <td class="text_center">@item.CpahfecmodificacionDesc</td>
                            <td class="text_left">&nbsp;@item.CpahtipoDesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
