@model COES.MVC.Publico.Areas.Medidores.Models.ReporteMaximaDemandaModel
@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
    ViewBag.Title = "Máxima Demanda";
}

<script src="~/Areas/Medidores/Content/Scripts/reporteMaximaDemanda.js?id=20180105"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Medidores/Content/Css/medidores.css" rel="stylesheet" />

<script src="~/Content/Scripts/toastr.min.js"></script>
<link href="~/Content/Css/toastr.css" rel="stylesheet" />

@{
    string mostrarCentral = @Model.EsPortal ? "none" : "table-cell";
}
<div class="col col-md-12 mb-md-4">
    <div class="coes-box mb-2">
        <div class="coes-box--header coes-box--header--center-aligned">
            <h3 class="coes-box--title">Reporte de Máxima Demanda</h3>
        </div>
        <div class="coes-box--content container">
            <div class="coes-filters d-flex ">
                <form action="" class="w-100">
                    <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap ps-3">
                       <div class="coes-form-item" style="display: @mostrarCentral;margin-right: 15px;">
                                <label class="d-block" for="">Central:</label>
                                <select id="cbCentral" name="IdCentral">
                                    @foreach (var item in Model.ListaIntegrante)
                                    {
                                        <option value="@item.Codigo">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="coes-form-item" style="margin-right: 15px;">
                                <label class="d-block" for="">Tipo de Generación:</label>
                                <select id="cbTipoGen" name="IdTipoGen">
                                    <option value="-1">TODOS</option>
                                    @foreach (var item in Model.ListaTipoGeneracion)
                                    {
                                        <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                                    }
                                </select>
                            </div>
                            <div class="coes-form-item" style="margin-right: 15px;">
                                <label class="d-block" for="">Empresa:</label>
                                <select id="cbEmpresa" name="IdEmpresa">
                                    <option value="-1">TODOS</option>
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </div>
                            <div class="coes-form-item" style="margin-right: 15px;">
                                <label class="d-block" for="">Período:</label>
                                <input type="month" class="coes-form-item--date control-month" id="mes" name="mes" value="@Model.Mes" />
                            </div>
                            <div class="coes-form-item" style="margin-right: 15px;">
                                <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Consultar" />
                            </div>
                            <div class="coes-form-item" style="margin-right: 15px;">
                                <input type="button" id="btnExportar" class="coes-form-item--submit" value="Exportar" />
                            </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@*<div class="form-title">

        <div class="content-titulo">Reporte de Máxima Demanda</div>
        <div class="content-botonera">
            <input type="button" id="btnConsultar" value="Consultar" />
            <input type="button" id="btnExportar" value="Exportar" />
        </div>
    </div>*@


<div class="container">
    <div class="row">
        <div class="home-txt" style="float:left; margin-bottom:20px; font-size:10px; line-height:17px; text-align: left">
            CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
            <strong>* PR-N° 30:</strong> VALORIZACIÓN DE LAS TRANSFERENCIAS DE POTENCIA Y COMPENSACIONES AL SISTEMA PRINCIPAL Y SISTEMA GARANTIZADO DE TRANSMISIÓN (Vigente desde el 01 de junio de 2015)<br />
            <strong>* PR-N° 43:</strong> INTERCAMBIOS INTERNACIONALES DE ELECTRICIDAD EN EL MARCO DE LA DECISIÓN 757 DE LA CAN<br />
            @foreach (var reg in Model.ListaNormativa)
            {
                <strong>* @reg.Nombre</strong>@reg.Descripcion<br />
            }
        </div>
        <div style="clear:both"></div>

        <div class="content-tabla">
            <div id="reporteMaxDemanda"></div>
        </div>

        <div style="clear:both; height:30px"></div>
    </div>
</div>

<input type="hidden" id="parametro" value="@Model.IdParametro" />
