@model COES.MVC.Publico.Areas.Medidores.Models.ReporteDemandaPeriodoModel
@using System.Globalization
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalDigits = 3;
    nfi.NumberDecimalSeparator = ",";
}

<div style="max-width: 1116px; margin: 0 auto; ">
    <p style="margin-top: 30px; margin-bottom: 26px; ">
        <span class="mensaje-fecha-consulta">@Model.MensajeFechaConsulta</span>
        @{
            if (Model.MensajePorcentajeConsulta != string.Empty)
            {
                <span class="mensaje-envio-empresa">@Model.MensajePorcentajeConsulta</span>
            }
        }
    </p>

    <table class="tabla-formulario" style="max-width: 1100px;">
        <thead>
            <tr>
                <th colspan="3"></th>
                <th colspan="2" style="text-align: center; background-color: PowderBlue; color: #2980B9">Interconexión</th>
                <th></th>
            </tr>
            <tr>
                <th>Bloque Horario</th>
                <th>Fecha</th>
                <th>Hora</th>

                <th style="background-color: PowderBlue; color: #2980B9">PER-ECU Exportación <br /> MW</th>
                <th style="background-color: PowderBlue; color: #2980B9">ECU-PER Importación <br /> MW</th>
                <th>SEIN <br /> MW</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.ListaResumenDemanda)
                {
                    if (item.TipoHorario != "INTERCONEXION")
                    {
                        var export = 0M;
                        var import = 0M;
                        if (item.ValorInter > 0)
                        {
                            export = item.ValorInter;
                        }
                        else
                        {
                            import = item.ValorInter * -1;
                        }
                        <tr>
                            <td>@item.TipoHorario</td>
                            <td style="text-align:center;">@item.FechaOnlyDia</td>
                            <td style="text-align:center;">@item.FechaOnlyHora</td>
                            <td style="text-align:center;">@export.ToString("N", nfi)</td>
                            <td style="text-align:center;">@import.ToString("N", nfi)</td>
                            <td style="text-align:center;">@item.Valor.ToString("N", nfi)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<br /><br />
<hr />
<br /><br />

<div style="max-width: 1116px; margin: 0 auto; ">
    <table class="tabla-formulario" id="tablaConsolidado" role="grid" border="1" style="max-width: 1100px;">
        <thead>
            <tr>
                <th style="">Empresa</th>
                <th style="">Central</th>
                <th>Unidad</th>
                <th>MW</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.ListaConsolidadoDemanda)
                {
                    <tr>
                        <td>@item.Empresa</td>
                        <td>@item.Central</td>
                        <td>@item.GrupSSAA</td>
                        <td style=" text-align: right;">@item.Total.ToString("N", nfi)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

