@model COES.MVC.Intranet.Areas.Transferencias.Models.TramiteLevantamientoModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var Tipotramnombre = TempData["Tipotramnombre"].ToString();
    var PeriodoNombre = TempData["Periodonombre"].ToString();
    var EmprNombre = TempData["EmprNombre"].ToString();
    var NombreVersion = TempData["NombreVersion"].ToString();
    var iPeriCodi = TempData["iPeriCodi"].ToString();
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "levantamiento", FormMethod.Post, new { id = "frmLevantamiento", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "levantamiento", new { iPeriCodi = iPeriCodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding-left: 20px; width: 500px;">
            @Html.HiddenFor(model => model.Entidad.TramCodi)
            @Html.HiddenFor(model => model.Entidad.TipoTramcodi)
            @Html.HiddenFor(model => model.Entidad.PeriCodi)
            @Html.HiddenFor(model => model.Entidad.TramVersion)
            @Html.HiddenFor(model => model.Entidad.EmprCodi)
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td>
                        <div class="editor-label" style="width:120px;">
                            @Html.LabelFor(model => model.PeriodoNombre, "Periodo")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.PeriodoNombre, new { @Value = PeriodoNombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label" style="width:120px;">
                            @Html.LabelFor(model => model.NombreVersion, "Versión")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NombreVersion, new { @Value = NombreVersion, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TipoTramNombre, "Tipo")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.TipoTramNombre, new { @Value = Tipotramnombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.EmprNombre, "Empresa")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.EmprNombre, new { @Value = EmprNombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.UsuaSeinCodi, "Usuario extranet")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.UsuaSeinCodi, new { @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramFecReg, "Fecha de Registro")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.TramFecReg, new { @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Entidad.TramFecReg)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramDescripcion, "Descripcion")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.TramDescripcion, new { cols = 50, @rows = 5, @readonly = true, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 80px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.TramDescripcion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramRespuesta, "Respuesta")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.TramRespuesta, new { cols = 50, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 80px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.TramRespuesta)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramCorrInf, "Corrigio Informe")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.TramCorrInf, "Si")Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.TramCorrInf, "No")No</label>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Campos Requeridos</td></tr>

            </table>
        </div>
    
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmLevantamiento").validate({
        rules: {
            "Entidad.TramCorrInf": {
                required: true
            },
            "Entidad.TramRespuesta": {
                required: true,
                maxlength: 1000
            },
        }
    });
</script>