@model COES.Dominio.DTO.Transferencias.PeriodoDTO
@{
    ViewBag.Title = "Transferencias - Respuesta de observaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var periodo = (IEnumerable<SelectListItem>)TempData["Periodocodigo"];
    var sMensajeExito = TempData["sMensajeExito"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/levantamiento.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Lista de observaciones o comentarios</div>
        <div class="content-botonera">
            <input type="button" id="btnBuscar" value="Filtrar" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "levantamiento")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>

    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2">
                <tr class="THCabecera">
                    <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td valign="middle"><div class="editor-label">Periodo</div></td>
                    <td><div class="editor-field">@Html.DropDownList("Pericodi", @periodo, "--Seleccione--")</div></td>
                    <td valign="middle"><div class="editor-label">Versión</div></td>
                    <td><div class="editor-field"><select id="VersionB" style="width:100px;"></select></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">¿Corrigio informe?</div></td>
                    <td colspan="1">
                        <div class="editor-field">
                            @Html.RadioButton("radio", "Ambos", true) AMBOS
                            @Html.RadioButton("radio", "Si", false) SI
                            @Html.RadioButton("radio", "No", false) NO
                        </div>
                    </td>
                    <td valign="middle"><div class="editor-label">Fecha de registro</div></td>
                    <td><div class="editor-field"><input type="text" id="txtFecha" class="txtFecha" /></div></td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado">
        </div>
    </div>

</div>