@model COES.MVC.Intranet.Areas.Transferencias.Models.LevantamientoModel
@Html.AntiForgeryToken()
        <table border="0" class="pretty tabla-icono" id="tabla">
            <thead>
                <tr>
                    <th>Fecha de Registro</th>
                    <th>Empresa</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th>Usuario Intranet</th>
                    <th>Respuesta</th>
                    <th>Fecha de Respuesta</th>
                    <th>¿Corrigio informe?</th>
                    <th style="width:30px;">&nbsp;</th>
                    <th style="width:30px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ListaTramites)
            {
                    <tr id="fila_@item.TramCodi" >
                        <td class="text_left">@item.TramFecReg.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td class="text_left">@item.EmprNombre</td>
                        <td class="text_left">@item.UsuaSeinCodi</td>  
                        <td class="text_left">@item.TipoTramNombre</td>
                        <td class="text_left">@item.TramDescripcion</td>
                        <td class="text_left">@item.UsuaCoesCodi</td>  
                        <td class="text_left">@item.TramRespuesta</td>  
                        <td>@if (item.TramFecRes != null)
                        { <span>@item.TramFecRes.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm:ss")</span>}</td>  
                        <td>@item.TramCorrInf</td>
                        <td style="width:30px;"><a href="#" id="view_@item.TramCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                        <td style="width:30px;">
                            @if (Model.bEditar)
                            {
                                <a href="@Url.Action("Edit", new { id = item.TramCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                            }
                        </td>
                    </tr>
            }
            </tbody>
        </table>
        <div id="popup">    </div>

  