@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ForzadaModel

<div class="content-registro">
    <form id="frmRegistroHidraulico">
        <div id="mensajeEditHidraulico" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Generador:</td>
                <td class="registro-control">
                    <select id="cbGeneradorHidraulico" name="CodigoRelacion" style="width:300px">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaRelacion)
                        {
                            <option value="@item.Relacioncodi">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfGeneradorHidraulico" value="@Model.Entidad.Relacioncodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Símbolo:</td>
                <td class="registro-control">
                    <select id="cbSimboloHidraulico" name="Simbolo" style="width:300px">
                        <option value="=">=</option>
                        <option value="<"><</option>
                        <option value=">">></option>
                    </select>
                    <input type="hidden" id="hfSimboloHidraulico" value="@Model.Entidad.Genforsimbolo" />
                </td>
            </tr>    
            <tr>
                <td class="registro-label">Inicio</td>
                <td class="registro-control">
                    <input type="text" id="txtInicioEditHidraulico" name="FechaHidroInicio" value="@Model.FechaHidroInicio" />
                </td>
            </tr>    
            <tr>
                <td class="registro-label">Final:</td>
                <td class="registro-control">
                    <input type="text" id="txtFinalEditHidraulico" name="FechaHidroFin" value="@Model.FechaHidroFin">
                </td>
            </tr>          
            <tr>
                <td class="registro-label">Calificación:</td>
                <td class="registro-control">
                    <select id="cbSubcausaevento" name="Subcausa" style="width:300px">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaSubCausa)
                        {
                            <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfSubcausaevento" value="@Model.Entidad.Subcausacodi" />
                </td>
            </tr>  
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarHidraulico" value="Grabar" />
            <input type="button" id="btnCancelarHidraulico" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdHidraulico" name="Codigo" value="@Model.Entidad.Genforcodi" />
    </form>
</div>
