@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ForzadaModel

<table border="0" class="pretty tabla-icono" id="tablaHidraulico">
    <thead>
        <tr>
            <th></th>
            <th>Equipo</th>
            <th>Barra</th>
            <th>Id Generador</th>
            <th>Símbolo</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Calificación</th>
            <th>Last User</th>
            <th>Last Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaGeneracionForzada.Count > 0)
        {
            foreach (var item in Model.ListaGeneracionForzada)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarHidraulico(@item.Genforcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarHidraulico(@item.Genforcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Equinomb</td>
                    <td>@item.Nombarra</td>
                    <td>@item.Idgener</td>
                    <td>@item.Genforsimbolo</td>
                    <td>
                        @if(item.Genforinicio!= null)
                        {
                            <span>@(((DateTime)item.Genforinicio).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>
                        @if (item.Genforfin != null)
                        {
                            <span>@(((DateTime)item.Genforfin).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                    <td>@item.Subcausadesc</td>
                    <td>@item.Lastuser</td>
                    <td>
                        @if (item.Lastdate != null)
                        {
                            <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>