@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ForzadaMaestroModel

<table border="0" class="pretty tabla-icono" id="tablaMaestro">
    <thead>
        <tr>
            <th></th>
            <th>Grupo Generador</th>
            <th>Barra.</th>
            <th>Id Generador.</th>
            <th>Símbolo</th>
            <th>Tipo</th>
            <th>Calificación</th>
            <th>Estado</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaMaestro.Count > 0)
        {
            foreach (var item in Model.ListaMaestro)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarMaestro(@item.Genformaecodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarMaestro(@item.Genformaecodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Equinomb</td>
                    <td>@item.Nombarra</td>
                    <td>@item.Idgener</td> 
                    <td>@item.Genformaesimbolo</td>
                    <td>@item.Genfortipo</td>
                    <td>@item.Subcausadesc</td>   
                    <td>@item.Indestado</td>                                                        
                </tr>
            }
        }
    </tbody>
</table>