
@model COES.MVC.Intranet.Areas.Evaluacion.Models.CeldaAcoplamientoIncluirModificarModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">@Model.Accion celda acoplamiento</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Calcular" id="btnCalcular" name="btnIncluir" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Grabar" id="btnGuardar" name="btnGuardar" class="form-action" style="margin-top: 15px" />

    </div>

</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div class="panel-container">

        @using (Html.BeginForm("IncluirModificar", "CeldaAcoplamiento", FormMethod.Post, new { @name = "frmIncluirModificarCeldaAcoplamiento", id = "frmIncluirModificarCeldaAcoplamiento" }))
        {
            <input type="hidden" id="Accion" value="@Model.Accion" />
            <input type="hidden" id="IdCeldaAcoplamiento" value="@Model.IdCeldaAcoplamiento" />
            <input type="hidden" id="IdProyecto" value="@Model.IdProyecto" />
            <input type="hidden" id="IdEquipo" value="@Model.IdEquipo" />

            <div style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:36%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                    <tr>
                        <td><strong> Identificación del equipo</strong></td>
                        <td class="tbform-label">Motivo de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" id="MotivoActualizacion" value="@Model.MotivoActualizacion" style="width:95%" disabled />
                        </td>
                        <td class="tbform-label">Fecha de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" id="FechaActualizacion" value="@Model.FechaActualizacion" style="width:95%" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label">Código ID:</td>
                        <td class="control-no-padding">
                            <input type="text" id="CodigoId" value="@Model.Equicodi" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Código:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Codigo" value="@Model.Codigo" disabled style="width: 95%" />
                        </td>
                        <td class="tbform-label">Ubicación:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Ubicacion" value="@Model.Ubicacion" disabled style="width: 95%" />
                        </td>
                        <td class="tbform-label">Área:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Area" value="@Model.Area" disabled style="width: 95%" />
                        </td>
                    </tr>
                </table>

            </div>
            <div style="margin-bottom:0px; padding:15px">
                <strong>Características del equipo</strong>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición núcleo TC (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="PosicionNucleoTc" value="@Model.PosicionNucleoTc" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">I pick up 1 (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="PickUp" value="@Model.PickUp" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h4>Interruptor de acoplamiento</h4>
                        </td>
                    </tr>
                    <!--IdInterruptor-->
                    <tr>
                        <td class="tbform-label">Interruptor(*):</td>
                        <td colspan="5">
                            <input type="hidden" id="hiddenIdInterruptor" value="@Model.IdInterruptor" />
                            <select id="IdInterruptor" style="width: 100%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.ListaInterruptor)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi.ToString() == Model.IdInterruptor ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        <td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Empresa:</td>
                        <td class="control-no-padding" colspan="5">
                            <input type="text" id="InterruptorEmpresa" value="@Model.InterruptorEmpresa" disabled style="width:98%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Tensión (kV):</td>
                        <td class="control-no-padding">
                            <input type="text" id="InterruptorTension" value="@Model.InterruptorTension" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Capacidad (A)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="InterruptorCapacidadAComent" value="@Model.InterruptorCapacidadAComent" />
                                <input type="text" id="InterruptorCapacidadA" value="@Model.InterruptorCapacidadA" style="width:77%" maxlength="20" />
                                <a href="JavaScript:editarComentario('InterruptorCapacidadAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (MVA)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="InterruptorCapacidadMvaComent" value="@Model.InterruptorCapacidadMvaComent" />
                                <input type="text" id="InterruptorCapacidadMva" value="@Model.InterruptorCapacidadMva" disabled style="width:77%" />
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                                <a href="JavaScript:editarComentario('InterruptorCapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h4>Transmisión</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión (A):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="CapacidadTransmisionAComent" value="@Model.CapacidadTransmisionAComent" />
                                <input type="text" id="CapacidadTransmisionA" value="@Model.CapacidadTransmisionA" disabled style="width:77%" />
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                                <a href="JavaScript:editarComentario('CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de Transmisión (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="CapacidadTransmisionMvaComent" value="@Model.CapacidadTransmisionMvaComent" />
                                <input type="text" id="CapacidadTransmisionMva" value="@Model.CapacidadTransmisionMva" disabled style="width:77%" />
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                                <a href="JavaScript:editarComentario('CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Factor limitante</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="FactorLimitanteCalcComent" value="@Model.FactorLimitanteCalcComent" />
                                <input type="text" id="FactorLimitanteCalc" value="@Model.FactorLimitanteCalc" disabled style="width:77%" />
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                                <a href="JavaScript:editarComentario('FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="FactorLimitanteFinalComent" value="@Model.FactorLimitanteFinalComent" />
                                <input type="text" id="FactorLimitanteFinal" value="@Model.FactorLimitanteFinal" disabled style="width:77%" />
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                                <a href="JavaScript:editarComentario('FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h4>Otros</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Observaciones:</td>
                        <td colspan="5">
                            <textarea id="Observaciones" value="" style="width:100%" rows="10" maxlength="500">@Model.Observaciones</textarea>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Actualizado por:</td>
                        <td class="control-no-padding">
                            <input type="text" id="ActualizadoPor" value="@Model.UsuarioModificacion" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Actualizado el:</td>
                        <td class="control-no-padding">
                            <input type="text" id="ActualizadoEl" value="@Model.FechaModificacion" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>

<div id="popUpEditarComentario">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Registrar Comentario</span></div>
    <div id="editarComentario"></div>
</div>


<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/IncluirCeldaAcoplamiento.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>