@model COES.MVC.Intranet.Areas.RechazoCarga.Models.CumplimientoEnvioMagnitudModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th colspan="5" style="border:0;background-color: transparent;"></th>
                <th>Programado</th>
                <th colspan="3">Preliminar</th>
                <th colspan="3">Final</th>
                <th style="border:0;background-color: transparent;"></th>
            </tr>
            <tr>
                <th>Suministrador</th>
                <th>Cliente Libre</th>
                <th>Subestación</th>
                <th>Nombre Punto medición</th>
                <th style="width:70px;">Demanda en HFP (MW)</th>
                <th style="width:70px;">Rechazo de carga</th>
                <th style="width:90px;">Rechazo de carga Ejecutado</th>
                <th>Fecha Hora Inicio</th>
                <th>Fecha Hora Fin</th>
                <th style="width:90px;">Rechazo de carga Ejecutado</th>
                <th>Fecha Hora Inicio</th>
                <th>Fecha Hora Fin</th>
                <th style="background-color:green; color:white;">Cumplió</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reporte)
            {
                <tr class="menu-contextual">
                    <td style="text-align:left">@item.Suministrador</td>
                    <td style="text-align:left">@item.Empresa</td>
                    <td style="text-align:left">@item.Subestacion</td>
                    <td style="text-align:left">@item.Puntomedicion</td>
                    <td style="text-align:right; background-color:lightgreen">@item.Rcproudemanda</td>
                    <td style="text-align: right">@item.Rcproudemandaracionar</td>
                    <td style="text-align: right">@item.Rcejeucargarechazadapreliminar</td>
                    <td style="text-align: right">@(item.Rcejeufechoriniciopreliminar == DateTime.MinValue ? String.Empty : item.Rcejeufechoriniciopreliminar.ToString("dd/MM/yyyy HH:mm"))</td>
                    <td style="text-align: right">@(item.Rcejeufechorfinpreliminar == DateTime.MinValue ? String.Empty : item.Rcejeufechorfinpreliminar.ToString("dd/MM/yyyy HH:mm"))</td>
                    <td style="text-align: right">@item.Rcejeucargarechazada</td>
                    <td style="text-align: right">@(item.Rcejeufechorinicio == DateTime.MinValue ? String.Empty : item.Rcejeufechorinicio.ToString("dd/MM/yyyy HH:mm"))</td>
                    <td style="text-align: right">@(item.Rcejeufechorfin == DateTime.MinValue ? String.Empty : item.Rcejeufechorfin.ToString("dd/MM/yyyy HH:mm"))</td>
                    @if (item.Cumplio == "S")
                    {
                        <td style="text-align:center">Sí</td>
                    }
                    else
                    {
                        <td style="text-align:center;background-color:red; color:white">No</td>
                    }

                </tr>
            }
        </tbody>
    </table>
</form>

