@model COES.MVC.Intranet.Areas.Titularidad.Models.TransferenciaModel
@{
    ViewBag.Title = "Titularidad de Instalaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Titularidad/Content/Scripts/global.js?v=1.5"></script>
<script src="~/Areas/Titularidad/Content/Scripts/transfIndex.js?v=1.5"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<style>
    .tabla-adicional tbody tr td a img {
        float: none !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Transferencia de Instalaciones de las Empresas</div>
    <div class="content-botonera">
        @if (Model.AccionNuevo)
        {
            <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
        }
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div id="mainLayout" class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label" style="width:104px">Empresa origen:</td>
                <td>
                    <select id="cbEmpresasOfIndex" style="width:250px">
                        <option value="-2">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresaOrigen)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td class="tbform-label" style="width:104px">Empresa destino:</td>
                <td>
                    <select id="cbEmpresasDOfIndex" style="width:250px">
                        <option value="-2">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresaDestino)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="checkbox" id="check_estado_todos" name="check_estado_todos" style="margin-top: 5px;">
                    <span style="display: inline-table; ">Todos</span>
                </td>
                <td class="tbform-label">Descripción:</td>
                <td class="tbform-contro1l" colspan="7">
                    <input type="text" id="txtDescripcion" name="txtDescripcion" style="width: 200px" maxlength="200" />
                </td>
                <td>
                    <input type="button" id="btnConsultarMigracion" value='Consultar' />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado" style="height: auto;">
    </div>
</div>