@model COES.MVC.Intranet.Areas.Titularidad.Models.TransferenciaModel

<table class="pretty tabla-adicional" id="resultado" style="table-layout: fixed; width: 2080px">
    <thead>
        <tr>
            <th style="word-wrap: break-word; white-space: normal;width: 15px" rowspan="2">Acciones</th>
            <th style="word-wrap: break-word; white-space: normal;width: 20px" rowspan="2">ID Migración</th>
            <th style="word-wrap: break-word; white-space: normal;width: 120px;background-color: #43a243;" rowspan="2">Empresa Origen</th>
            <th style="word-wrap: break-word; white-space: normal;width: 80px" rowspan="2">Tipo Operación</th>
            <th style="word-wrap: break-word; white-space: normal;width: 30px" rowspan="2">Fecha de Corte</th>
            <th style="word-wrap: break-word; white-space: normal;width: 120px;background-color: #fd4444;" rowspan="2">Empresa Destino</th>
            <th style="word-wrap: break-word; white-space: normal;width: 20px" rowspan="2">#Eq afect.</th>
            <th style="word-wrap: break-word; white-space: normal;width: 180px" rowspan="2">Descripción</th>
            <th style="word-wrap: break-word; white-space: normal;width: 170px" colspan="2">Última modificación</th>
        </tr>
        <tr>
            <th style="word-wrap: break-word; white-space: normal;width: 80px">Usuario</th>
            <th style="word-wrap: break-word; white-space: normal;width: 80px">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoTransferencias)
        {
            <tr id="@("id-" + @item.Migracodi)">
                @if (item.Migrareldeleted > 0)
                {
                    <td style="@item.ColorFila; padding-left: 19px;">
                        <a href="~/Titularidad/Transferencia/DetalleTransferencia?idTransferencia=@item.Migracodi" title="Mostrar Detalle de Migración">
                            <img src="~/Content/Images/btn-open.png" alt="" style="">
                        </a>
                        <a href="~/Titularidad/Transferencia/DetalleTransferencia?idTransferencia=@item.Migrareldeleted" title="Mostrar Detalle de Anulación">
                            <img src="~/Content/Images/error.png" alt="" style="">
                        </a>
                    </td>
                }
                else
                {
                    <td style="@item.ColorFila; padding-left: 19px;">
                        <a href="~/Titularidad/Transferencia/DetalleTransferencia?idTransferencia=@item.Migracodi" title="Mostrar Detalle de Migración">
                            <img src="~/Content/Images/btn-open.png" alt="" style="">
                        </a>
                    </td>
                }
                <td style="@item.ColorFila; text-align: center;">@item.Migracodi</td>
                <td style="@item.ColorFila;">@item.Emprnomborigen</td>
                <td style="@item.ColorFila; text-align: center;">@item.Tmoperdescripcion</td>
                <td style="@item.ColorFila; text-align: center;">@item.MigrafeccorteDesc</td>
                <td style="@item.ColorFila;">@item.Emprnombdestino</td>
                <td style="@item.ColorFila; text-align: center;">@item.TotalDesc</td>
                <td style="@item.ColorFila;">@item.Migradescripcion</td>
                <td style="@item.ColorFila; text-align: center;">@item.UltimaModificacionUsuarioDesc</td>
                <td style="@item.ColorFila; text-align: center;">@item.UltimaModificacionFechaDesc</td>

            </tr>
        }
    </tbody>
</table>

<div id="leyenda" style="float: left;margin-bottom: 10px;">
    <p>LEYENDA:</p>
    <table border="0" style="width: 140px;">
        <tbody>
            <tr>
                <td style="width: 50px; border: 1px solid black; background-color: #A4A4A4 !important; color: white;"></td>
                <td> Anulado</td>
            </tr>
        </tbody>
    </table>
</div>
