@model COES.MVC.Intranet.Areas.Titularidad.Models.TransferenciaModel

@{
    ViewBag.Title = "Transferencia de Instalaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.steps.min.js"></script>
<link href="~/Content/Css/jquery.steps.css" rel="stylesheet" />

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.validate.min.js"></script>

<script src="~/Areas/Titularidad/Content/Scripts/global.js?v=1.1.8"></script>
<script src="~/Areas/Titularidad/Content/Scripts/transNuevo.js?v=1.1.9"></script>

<link href="~/Areas/Titularidad/Content/Css/transferencia.css?v=1.1.6" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Nueva Transferencia de Instalaciones</div>
    <div class="content-botonera">
        <input type="button" value="Ir al listado" id="btnIrAlListado" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="min-width: 1180px;min-height: 750px">

    <div id="mensaje" class="action-message" style="display: none;padding-left: 37px; text-indent: 0px;">Complete los datos de la Nueva Transferencia y presione el botón "Procesar"</div>

    <div class="panel-container">
        <form id="stepTransf" action="#" style="margin-top: 10px; display: none">
            <div>
                <h3>Datos de Transferencia</h3>
                <div>
                    <div id="div_tipo_operacion" class="search-content" style="display: none">

                        <div class="row">
                            <div style="float: left;width: 60%">
                                <table class="content-tabla-search" style="width:auto">
                                    <!--Tipo de operación-->
                                    <tr>
                                        <td class="tbform-label">Tipo de operación:</td>
                                        <td>
                                            <select id="cbTipoMigracion" style="width:360px" class="required">
                                                @foreach (var item in Model.ListaTipoOperacion)
                                                {
                                                    <option value="@item.Tmopercodi">@item.Tmoperdescripcion</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="fecha_form tbform-label" style="width:50px; display: none">Fecha:</td>
                                        <td class="fecha_form" style="display: none; width: 95px;">
                                            <input type="text" id="txtFecha" value="@Model.Fecha" style="width: 95px;" />
                                            <input type="hidden" id="hdFecha" value="@Model.Fecha" />
                                        </td>
                                    </tr>

                                    <!-- Comentario -->
                                    <tr class="fila_transf">
                                        <td class="tbform-label">Descripción:</td>
                                        <td class="tbform-contro1l" colspan="3">
                                            <textarea id="txtDescripcion" maxlength="200" class="required" style="width:600px;max-width: 600px;min-width: 600px; height:40px;min-height:40px;max-height:80px; background-color:#fff"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div style="float: left;width: 39%">
                                <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
                                    <p id="nota_x_tipo_form">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- origen -->
                    <fieldset id="orig_field_empresa" class="div_empresa" style="display: none">
                        <legend>Origen</legend>

                        <table>
                            <tr>
                                <td class="tbform-label">Empresa (*):</td>
                                <td class="tbform-control" style="width: 500px;" colspan="7">
                                    <select id="orig_empr_codigo" class="required" style="width: 450px">
                                        <option value="0">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaEmpresaAnidada)
                                        {
                                            <option value="@item.Emprcodi">@item.EmprnombAnidado</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hd_orig_empr_codigo" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">RUC:</td>
                                <td class="tbform-control">
                                    <input type="text" id="orig_empr_ruc" disabled style="width: 109px;" />
                                </td>

                                <td class="tbform-label">Razón social:</td>
                                <td class="tbform-control" colspan="5">
                                    <input type="text" id="orig_empr_razon" disabled style="width: 673px;" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Código:</td>
                                <td class="tbform-control">
                                    <input type="text" id="orig_empr_codi" disabled style="width: 73px;" />
                                </td>

                                <td class="tbform-label">Abreviatura:</td>
                                <td class="tbform-control" style="width: 150px;">
                                    <input type="text" id="orig_empr_abrev" disabled style="width: 73px;" />
                                </td>

                                <td class="tbform-label" style="width: 88px;">Nombre:</td>
                                <td class="tbform-control" colspan="3">
                                    <input type="text" id="orig_empr_nombre" disabled style="width: 433px;" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Estado:</td>
                                <td class="tbform-control">
                                    <input type="text" id="orig_empr_estado" disabled style="width: 72px;" class="td_color" />
                                </td>

                                <td class="tbform-label">Agente:</td>
                                <td class="tbform-control">
                                    <input type="text" id="orig_empr_agente" disabled style="width: 50px;" class="td_color" />
                                </td>
                                <td class="tbform-label" style="width: 88px;">COES:</td>
                                <td class="tbform-control" style="width: 86px;">
                                    <input type="text" id="orig_empr_coes" disabled style="width: 50px;" class="td_color" />
                                </td>
                                <td class="tbform-label" style="width: 63px;">Tipo:</td>
                                <td class="tbform-control">
                                    <input type="text" id="orig_empr_tipo" disabled style="width: 109px;" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <!-- destino -->
                    <fieldset id="dest_field_empresa" class="div_empresa" style="display: none;margin-bottom: 10px;">
                        <legend>Destino</legend>

                        <table>
                            <tr>
                                <td class="tbform-label">Empresa (*):</td>
                                <td class="tbform-control" style="width: 500px;" colspan="10">
                                    <select id="dest_empr_codigo" class="required" style="width: 450px">
                                        <option value="0">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaEmpresaAnidada)
                                        {
                                            <option value="@item.Emprcodi">@item.EmprnombAnidado</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hd_dest_empr_codigo" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">RUC:</td>
                                <td class="tbform-control">
                                    <input type="text" id="dest_empr_ruc" disabled style="width: 109px;" />
                                </td>

                                <td class="tbform-label">Razón social:</td>
                                <td class="tbform-control" colspan="5">
                                    <input type="text" id="dest_empr_razon" disabled style="width: 673px;" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Código:</td>
                                <td class="tbform-control">
                                    <input type="text" id="dest_empr_codi" disabled style="width: 73px;" />
                                </td>

                                <td class="tbform-label">Abreviatura:</td>
                                <td class="tbform-control" style="width: 150px;">
                                    <input type="text" id="dest_empr_abrev" disabled style="width: 73px;" />
                                </td>

                                <td class="tbform-label" style="width: 88px;">Nombre:</td>
                                <td class="tbform-control" colspan="3">
                                    <input type="text" id="dest_empr_nombre" disabled style="width: 433px;" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Estado:</td>
                                <td class="tbform-control">
                                    <input type="text" id="dest_empr_estado" disabled style="width: 72px;" class="td_color" />
                                </td>


                                <td class="tbform-label">Agente:</td>
                                <td class="tbform-control">
                                    <input type="text" id="dest_empr_agente" disabled style="width: 50px;" class="td_color" />
                                </td>
                                <td class="tbform-label" style="width: 88px;">COES:</td>
                                <td class="tbform-control" style="width: 86px;">
                                    <input type="text" id="dest_empr_coes" disabled style="width: 50px;" class="td_color" />
                                </td>
                                <td class="tbform-label" style="width: 63px;">Tipo:</td>
                                <td class="tbform-control">
                                    <input type="text" id="dest_empr_tipo" disabled style="width: 109px;" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <span>(*) Empresa que pertenece al SEIN</span>
                </div>

                <h3>Selección de Equipos</h3>
                <div>
                    <div id="resumen_transf" class="search-content" style="display: none">
                        <table class="content-tabla-search" style="width: 100%">
                            <!--Tipo de operación-->
                            <tr>
                                <td class="tbform-label" style="width: 118px;">Tipo de operación:</td>
                                <td>
                                    <select id="final_cbTipoMigracionORegistrar" style="width:360px" class="required" disabled>
                                        <option value="0">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaTipoOperacion)
                                        {
                                            <option value="@item.Tmopercodi">@item.Tmoperdescripcion</option>
                                        }
                                    </select>
                                </td>

                                <td class="final_fecha_form tbform-label" width="50px">Fecha:</td>
                                <td class="final_fecha_form">
                                    <input type="text" id="final_txtFecha" value="@Model.Fecha" style="width: 95px" disabled />
                                </td>
                            </tr>

                            <!--Empresa-->
                            <tr>
                                <td class="tbform-label" style="width: 118px;">Empresa origen:</td>
                                <td>
                                    <select id="final_orig_empr_codigo" class="required" style="width: 360px" disabled>
                                        <option value="0">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaEmpresaAnidada)
                                        {
                                            <option value="@item.Emprcodi">@item.EmprnombAnidado</option>
                                        }
                                    </select>
                                </td>
                                <td class="tbform-label" style="width: 118px;">Empresa destino:</td>
                                <td>
                                    <select id="final_dest_empr_codigo" class="required" style="width: 360px" disabled>
                                        <option value="0">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaEmpresaAnidada)
                                        {
                                            <option value="@item.Emprcodi">@item.EmprnombAnidado</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="leyenda" style="float: left; width: 100%;">
                        <p>LEYENDA:</p>
                        <table border="0" style="width: 740px;">
                            <tbody>
                                <tr>
                                    <td style="width: 50px; border: 1px solid black; background-color: white !important; color: white;"></td>
                                    <td style="padding-right: 20px;">Activo</td>

                                    <td style="width: 50px; border: 1px solid black; background-color: #ffff00 !important; color: white;"></td>
                                    <td style="padding-right: 20px;">En Proyecto</td>

                                    <td style="width: 50px; border: 1px solid black; background-color: #5b6ff9 !important; color: white;"></td>
                                    <td style="padding-right: 20px;">Fuera de COES</td>

                                    <td style="width: 50px; border: 1px solid black; background-color: #FFDDDD !important; color: white;"></td>
                                    <td style="padding-right: 20px;">Equipo de Baja</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div id="orig_div_empresa" class="column div_empresa">
                            <!-- origen -->
                            <fieldset style="margin-top: 10px;margin-right: 2px; height: 528px">
                                <legend>Origen</legend>

                                <table id="orig_tblFormEquipo" style="display: none;">
                                    <tr>
                                        <td style="width: 90%;vertical-align: top;">
                                            <div id="orig_equipos" style="">

                                            </div>
                                        </td>
                                        <td style="text-align: center; width: 8%;vertical-align: top; padding-top: 240px;">
                                            <input type="button" id="eq_btnMoveRight" value=">>" style="width: 30px; text-align: center; background-color: #fd4444;background-image: none;" /><br />
                                        </td>
                                    </tr>
                                </table>

                            </fieldset>
                        </div>

                        <div id="dest_div_empresa" class="column div_empresa">
                            <!-- destino -->
                            <fieldset style="margin-top: 10px;margin-left: 2px; height: 528px">
                                <legend>Destino</legend>

                                <table id="dest_tblFormEquipo" style="display: none;">
                                    <tr>
                                        <td style="text-align: center; width: 8%;vertical-align: top; padding-top: 290px;">
                                            <input type="button" id="eq_btnMoveLeft" value="<<" style="width: 30px; text-align: center; background-color: #43a243;background-image: none;" /><br />
                                        </td>
                                        <td style="width: 90%;vertical-align: top;">
                                            <div id="dest_equipos" style="">

                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </fieldset>

                        </div>

                    </div>

                </div>

                <h3>Procesar</h3>
                <div>
                    <div id="div_procesar" class="row">
                    </div>

                    <div class="row" style="display: none">
                        <input type="checkbox" id="check_hist" checked style="margin-top: 5px;">
                        <span style="display: inline-table; ">Guardar transferencias históricas</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="leyenda" style="z-index:9999999999;" class="popup_app">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Leyenda</span></div>
    <div id="idLeyenda" style="height:370px;">
        <div style='clear:both; height:5px'></div>
        <table id='tablaLeyenda' border='1' class='pretty tabla-adicional' cellspacing='0'>
            <thead><tr><th>Fila</th><th>Estado</th></tr></thead>
            <tbody>
                <tr>
                    <td style="background-color: #FFDDDD !important; color: white;"></td>
                    <td style='text-align: left;'>Baja</td>
                </tr>
                <tr>
                    <td style="background-color: #A4A4A4 !important; color: white;"></td>
                    <td style='text-align: left;'>Eliminado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>