@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CDispatch";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<link href="~/Areas/Migraciones/Content/Css/css.css?v=6.0.5" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/cdispatch.js?v=6.0.6"></script>

<style>
    .rotate {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        height: 150px;
        text-align: -webkit-left;
        writing-mode: vertical-rl;
    }

    .tabla-adicional tbody tr td {
        text-align: center;
    }
</style>

<div class="content-hijo" id="mainLayout">
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione <b>Carga de Datos</b></div>

    <div id="filtros_cdispatch" class="search-content" style="margin-bottom: 10px;padding-bottom: 7px; padding-top: 7px;">
        <table class="content-tabla-search" style="width:auto">

            <!-- Fila 2: Desde SICOES-->
            <tr>
                <td>
                    <input type="radio" name="cbCargaDatos" value="2" checked="checked">Carga de datos <b>Desde SICOES</b>:
                </td>

                <td colspan="3"></td>

                <!--Tipo de Despacho desde SICOES-->
                <td class="fila_cargaDatos_2" style="display: none">
                    <table>
                        <tr>
                            <td>Fecha Inicio:</td>
                            <td><input type="text" id="txtFechaini" value="@Model.Fecha" /></td>

                            <td>Fecha Final:</td>
                            <td><input type="text" id="txtFechafin" value="@Model.Fecha" /></td>

                            <td>
                                Tipo de Despacho:
                            </td>
                            <td>
                                <select id="cbProg1" style="width:200px">
                                    @foreach (var item in Model.TipoProgramacion)
                                    {
                                        <option value="@item.Lectcodi">@item.Lectnomb</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>

                <!--Filtros-->
                <td id="idCombo1" class="fila_cargaDatos_2 content-action" colspan="5" rowspan="2" style="line-height: 0px;max-width: 610px; display: none">

                    <fieldset style="padding-bottom: 5px; padding-top: 5px;">
                        <table class="content-tabla-search" style="width:auto">
                            <tr>
                                <td style="padding-right: 0px;">
                                    <select id="cbTipoinfo" style="width: 132px;">
                                        @foreach (var item in Model.ListaTipoInfo)
                                        {
                                            <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                                        }
                                    </select>
                                </td>
                                <td style=" width: 185px;">
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                    <input type="button" id="btnRecalcularCO" value="Recalcular CO" style="display: none;" />
                                </td>
                                <td rowspan="2">
                                    <a href="#" id="btnExportar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/ExportExcel.png" width="22" /><br><span>Exportar</span>
                                        </div>
                                    </a>
                                </td>
                                <td rowspan="2" style="padding-left: 27px;">
                                    <input type="checkbox" id="check_detalleAdicional" style="margin-top: -4px;">
                                    <span style="display: inline-table;">Exportar con detalle adicional</span>
                                </td>
                                <td rowspan="2">
                                    <a href="#" id="btnSaveTmp" style="display: none">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/prnsave.png" width="22" /><br><span>Guardar</span>
                                        </div>
                                    </a>
                                    <a href="#" id="btnSaveTmpRecalcularCO" style="display: none">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/prnsave.png" width="22" /><br><span>Guardar</span>
                                        </div>
                                    </a>
                                    <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; margin-top: -1px; margin-left: 26px;">
                                        <div style="text-align: center; line-height: 15px; font-size: 12px;">
                                            <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; display: block; margin: 0 auto 5px;">
                                            <span style="color: #278CCC;">Manual de Usuario</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <table class="content-tabla-search" style="width:auto;font-weight:bold"><tr><td><div id="txtCostoTotal"></div></td></tr></table>

                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </td>
            </tr>

            <!-- Fila 1: Desde Excel-->
            <tr>
                <td>
                    <input type="radio" name="cbCargaDatos" value="1">Carga de datos <b>Desde Excel</b>:
                </td>

                <!--Tipo de Despacho Archivo Excel-->
                <td class="fila_cargaDatos_1">Tipo de Despacho:</td>
                <td class="fila_cargaDatos_1">
                    <select id="cbProg3" style="width:200px">
                        @foreach (var item in Model.TipoProgramacion3)
                        {
                            <option value="@item.Lectcodi">@item.Lectnomb</option>
                        }
                    </select>
                </td>

                <!--Boton para subir archivos excel y/o zip-->
                <td class="fila_cargaDatos_1 content-action">
                    <a href="#" id="btnSelect1">
                        <div class="content-item-action"><img src="~/Content/Images/ContextMenu/menuopen.png" /><br /><span>Cargar</span></div>
                    </a>
                </td>
            </tr>

        </table>
    </div>

    <!-- listado html -->
    <div class="content-tabla">
        <div class='action-alert' id='mensaje2' style="margin-bottom:5px; margin-top:0; display: none"></div>

        <div id="mensajeValidacionApp" style="display: none;margin-bottom: 15px;"></div>

        <div id="tab-container" class='tab-container'>
            <ul id="tabss" class='etabs'>
                <li id="tab_1" class='tab'><a href="#data">Datos Despacho</a></li>
                <li id="tab_2" class='tab'><a href="#observaciones">Observaciones</a></li>
            </ul>
            <div class='panel-container'>
                <div id="data">
                    <div class="table-list" id="listado"></div>
                </div>

                <div id="observaciones">
                    <div class="content-tabla">
                        <div class="bodyexcel" id='listaObservaciones' style="height: 485px; overflow-y: auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="leyenda" style="display: none">
        <div>
            <b>Nota:</b>
            <ul>
                <li>Los grupos de despacho se encuentran ordenados por "orden de empresa", "nombre de empresa", "orden de grupo" y "nombre de grupo". Estos datos se visualizan con el check "detalle adicional".</li>
                <li>Los resultados de los cálculos "Reserva Fría, Reserva Rotante, MWxMantto, Eficiente Gas, Eficiente Carbón" para centrales que tienen ciclos combinados se mostrarán en el punto de medición de la TV.</li>
            </ul>
        </div>
        <br />
        <table style="width: auto">
            <tbody>
                <tr>
                    <td style="font-weight: bold;" colspan="6">Leyenda de Grupos de Despacho: </td>
                </tr>
                <tr>
                    <td class="td_leyenda th_cdisptach_integrante">
                        Integrante
                    </td>

                    <td style="width: 5px">&nbsp;</td>

                    <td class="td_leyenda th_cdisptach_no_integrante">
                        No Integrante
                    </td>

                    <td style="width: 5px">&nbsp;</td>

                    <td class="td_leyenda th_cdisptach_cogeneracion">
                        Cogeneración
                    </td>

                    <td style="width: 5px">&nbsp;</td>

                    <td class="td_leyenda th_cdisptach_rer">
                        RER
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
