@model COES.MVC.Intranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "PoputAutorizarEnsayo";
}


<script type="text/javascript">
    $(function () {

        $('#txtFechaEnsayo').Zebra_DatePicker({
        });
        $('#btnAutorizar').click(function () {
            autorizarEnsayo($('#hEnsayoCodi').val());

        });
        $('#btnCancelar').click(function () {
            cancelarAutorizarEnsayo();

        });
        function validarAutorizar() {
            var resultado = "";
            var fecha = $('#txtFechaEnsayo').val();
            var f = new Date();
            var dia2 = fecha.substring(0, 2);
            var mes2 = fecha.substring(3, 5);
            var anho2 = fecha.substring(6, 10);
            var dFechaLimite = new Date(anho2, mes2 - 1, dia2);
            var timeDiff = dFechaLimite.getTime() - f.getTime();
            if (fecha == "") {
                resultado = "Seleccionar fecha de ensayo";
                return resultado;
            }
            if (timeDiff < 0) {
                resultado = "Seleccionar fecha de ensayo posterior a la fecha actual";
                return resultado;
            }
            return resultado;
        }
    })
</script>

<table>
    <tr>
        <td style="color:#66A9BD"><strong>Empresa:</strong></td>
        <td>
            <strong>@Model.Emprnomb</strong>
        </td>
    </tr>
    <tr>
        <td style="color:#66A9BD"><strong>Central:</strong></td>
        <td>
            <strong>@Model.Equinomb</strong>
        </td>
    </tr>
    <tr>
        <td style="color:#66A9BD"><strong>Modo de operación:</strong></td>
        <td>
            @foreach (var item in Model.ListaModosOperacion)
            {
                <h4>@item.Gruponomb</h4>

            }
        </td>
    </tr>
    <tr>
        <td style="color:#66A9BD"><strong>Unidades del ensayo:</strong></td>
        <td>
            @foreach (var item in Model.ListaEquipo)
            {
                <h4>@item.Equinomb</h4>
            }
        </td>
    </tr>

    <tr>
        <td colspan="2"><div style="clear:both; height:20px"></div></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center; margin:auto">
            <input type="button" id="btnAutorizar" value="Autorizar ensayo" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </td>
    </tr>

</table>

<input type="hidden" id="hEnsayoCodi" value="@Model.Ensayocodi" />