@model COES.MVC.Intranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "HistorialFormato";
}
<script type="text/javascript">
    $(function () {

        $('#btnSalir').click(function () {
            salir();
        });
    })

</script>
<div class="popup-title"><span>Historial Formato</span></div>
<table>
    <tr>
        <td>
            <div>
                <table class="pretty tabla-adicional" cellspacing="0">
                    <div style="clear:both; height:10px"></div>
                    <thead>
                        <tr>
                            <th>Formato</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstEstFormatosEnsayo)
                        {
                            <tr style="cursor:pointer">
                                <td>@item.Formatodesc</td>
                                <td>@item.Estfmtlastdate</td>
                                <td>@item.Estfmtlastuser</td>
                                <td style="color:@item.Estadocolor">@item.Estadonombre</td>
                                <td>@item.Estfmtdescrip</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr><td><div style="clear:both; height:10px"></div></td></tr>
    <tr>
        <td style="text-align:center; margin:auto;"><input type="button" id="btnSalir" value="Salir" /></td>
    </tr>
</table>