@model COES.MVC.Intranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "ListaFormato";
    var color = "";
    var row = Model.RowChange;
}

<script type="text/javascript">
    salir = function () {
        $('#popupEnsayoHistorialFormato').bPopup().close();
    }
</script>
<div style="clear:both; height:15px"></div>
<div id="reporte">
    <table border="0" class="pretty tabla-adicional" style="width:400px; height:auto" cellspacing="0" >     
                        <thead>
                        <tr>
                            <th>Formato</th>
                            <th>Usuario</th>
                            <th>Fecha de envio</th>
                            <th>Estado</th>   
                        </tr>
                       </thead>
                      <tbody>
                        @foreach (var item in Model.LstArchEnvioEnsayo)
                        {
                            if (item.Formatocodi == row)
                            {
                                color = "background-color:yellow";
                                
                            }
                            else
                            {
                                color = "";
                            }

                        <tr  style="cursor:pointer">
                            <td style="@color" onclick="abrirArchivo('@item.Ensformatnomblogico');">@item.Formatodesc</td>
                            <td style="@color">@item.Lastuser </td>
                            <td style="@color">@item.Lastdate</td>
                            <td style="cursor:pointer; color:@item.Estadocolor; @color;" onclick="popupHistorialFormato(@item.Ensayocodi, @item.Formatocodi);">@item.Estenvnomb</td>                                              
                        </tr>
                        }   
                    </tbody>
    </table>
</div>
<div id="popupEnsayoHistorialFormato" style="min-height:200px">
    <span class="button b-close"><span>X</span></span>        
    <div id="HistorialFormato"></div>
    <input type="hidden" id="hformatoDesc" /> 
</div>
    <input type="hidden" id="hRowChange" value ="" />