@model COES.MVC.Intranet.Areas.Ensayo.Models.EnsayoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<script src="~/Content/Scripts/jquery.format.js"></script>
<link href="~/Areas/Ensayo/Content/Css/css.css?v=1.1" rel="stylesheet" />
<link href="~/Areas/Ensayo/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Areas/Ensayo/Content/Scripts/nuevoEnsayo.js"></script>
<script type="text/javascript">
    $(function () {
        $('#cbEmpresa').val($('#hfcbEmpresa').val());
        $('#cbCentral').val($('#hfcbCentral').val());
        $('#btnPAceptarEnsayo').click(function () {
            cerrarpopupEnsNuevoOK();
        });
    });

</script>
<div class="form-title_intranet">
    <div class="content-titulo">Nuevo Registro de Ensayo de Potencia</div>
    <div class="content-botonera">
        <input type="button" id="btnAceptar" value="Aceptar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

@using (Html.BeginForm("GrabarEnsayo", "ensayo", FormMethod.Post, new { @class = "form-search", name = "frmRegistro", id = "frmRegistro" }))
{
    <div class="content-hijo" id="mainLayout">

        <div class="formulario-item" style="width:350px; margin:0 auto">
            <div class="formulario-label" style="width:50px">
                Empresa:
            </div>
            <div class="formulario-control" style="width:250px">
                <select id="cbEmpresa" name="Emprcodi">
                    <option value="0" selected>[Seleccionar Empresa]</option>
                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
                <input type="hidden" id="hfcbEmpresa" value="@Model.Emprcodi" />
            </div>
        </div>
        <div style="clear:both; height:10px"></div>
        <div class="formulario-item" style="width:350px; margin:0 auto">
            <div class="formulario-label" style="width:50px">
                Central:
            </div>
            <div class="formulario-control" style="width:250px">
                <select id="cbCentral" name="Equicodi">
                    <option value="0">[Seleccionar Central]</option>
                    @foreach (var item in Model.ListaEquipo)
                    {
                        <option value="@item.Equicodi">@item.Equinomb</option>
                    }
                </select>
                <input type="hidden" id="hfcbCentral" value="@Model.Equicodi" />
            </div>
        </div>
        <div style="clear:both; height:10px"></div>
        <div class="formulario-item" style="width:420px; margin:0 auto">
            <div class="formulario-label" style="width:150px">
                Modo de operación:
            </div>
            <div class="formulario-control" style="width:250px">
                <input type="text" id="txtModoOp" name="Ensayomodoper">
                <input type="hidden" id="hftxtModoOp" value="@Model.Ensayomodoper" />
            </div>
        </div>
        <div style="clear:both; height:10px"></div>
        <div class="form-texto-cuadro" style="width:400px; margin:0 auto">
            <div style="margin:0 auto; text-align:center"><b>UNIDADES PARA EL ENSAYO</b></div>
            <div style="clear:both; height:10px"></div>
            <div id="available-fields">
                <a id="btnAgregar" onclick="return ingresarUnidadesEnsayo();" href="javascript:;">
                    Agregar Unidad
                </a>

                @* <a id="btnEliminar" onclick="return eliminarUnidad();" href="javascript:;">
                        Eliminar Unidad
                    </a>*@
            </div>
            <div id="idTunidad">
                <table class="pretty tabla-adicional" cellspacing="0" style="width:400px" id="listaUnidades">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Unidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstUnidadEnsayo)
                        {
                            <tr style="cursor:pointer">
                                <td>@item.Equicodi</td>
                                <td>@item.Equinomb</td>
                                <td style="width: 18px">
                                    <a onclick="return eliminarUnidad(@i);" href="javascript:;">
                                        <img src="~/Areas/Ensayo/Content/Images/delete.png" />
                                </td>
                            </tr>
                            <input type="hidden" id="@(i = i + 1)" />
                        }
                    </tbody>
                </table>
            </div>
        </div>




        <input type="hidden" id="hstrVectorUnidad" name="strVectorUnidad" value="@Model.StrVectorUnidad" />
        <input type="hidden" id="hEnsayoCodi" name="Ensayocodi" value="@Model.Ensayocodi" />
    </div>
}


<div id="popupUnidad">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingresar Unidad</span></div>
    <div id="edicionEnsayo"></div>
</div>

<div id="popupEnsNuevoOK">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Registro Guardado Exitosamente..</span></div>
    <div style="clear:both; height:10px"></div>
    <div style="text-align:center; margin:auto">
        <input type="button" id="btnPAceptarEnsayo" value="Aceptar" />
    </div>
</div>