@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    ViewBag.Title = "Reportes Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTReporteHistorico/reportehistoricoFT.js?v=2.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Generador de Reportes Históricos por Ficha Técnica </div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" class="action-message" style="margin:0; margin-bottom:10px">Seleccione opciones y presiona Consultar.</div>

    <!--filtros-->
    <div class="search-content reporte_hist_ft" style="padding: 10px;">
        <div style="display: inline-table; ">
            <div class="celda_label">
                Etapa:
            </div>
            <div class="celda_input">
                <select id="cbEtapa" style="background-color: white; width: 170px;">
                    @foreach (var item in Model.ListaEtapas)
                    {
                        var esSelected = item.EtapaDefault ? " selected ": "";
                        <option value="@item.Ftetcodi" @esSelected >@item.Ftetnombre</option>
                    }
                </select>
            </div>
        </div>

        <div style="display: inline-table; ">
            <div class="celda_label">
                Ficha Maestra:
            </div>
            <div class="celda_input">
                <select id="cbFichaMaestra" style="background-color: white; width: 170px;">
                    @foreach (var item in Model.ListaFichaMaestra)
                    {
                        <option value="@item.Fteccodi">@item.Ftecnombre</option>
                    }
                </select>
            </div>
        </div>

        <div style="display: inline-table; ">
            <div class="celda_label">
                Ficha Técnica:
            </div>
            <div class="celda_input">
                <select id="cbFichaTecnica" style="background-color: white; width: 170px;">
                    @foreach (var item in Model.ListaFichaTecnicaSelec)
                    {
                        <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                    }
                </select>
            </div>
        </div>

        <div style="display: inline-table; ">
            <div class="celda_label">
                Tipo de dato:
            </div>
            <div class="celda_input">
                <select id="cbTipoDato" style="background-color: white; width: 170px;">
                    <option value="1">Fecha de vigencia</option>
                    <option value="2" selected>Valor </option>
                    <option value="3" selected>Valor cero (0) correcto</option>
                    <option value="4">Comentario</option>
                    <option value="5">Sustento</option>
                    <option value="6">Usuario modificación</option>
                    <option value="7">Fecha Modificación</option>
                </select>
            </div>
        </div>

        <div style="display: none;" id="tr_fecha_consulta">
            <div class="celda_label">
                Histórico <input type="checkbox" id="chkHistorico" name="chkHistorico" value="">
            </div>
            <div class="celda_input">
                Fórmula en Valor <input type="checkbox" id="chkFormulaEnValor" name="chkFormulaEnValor" value="">
            </div>

            <div class="celda_input td_fechaconsulta" style="margin-right: 20px; width: 276px;">
                Consulta:
                <input type="text" id="FechaConsulta" style="width: 88px;" name="FechaConsulta" value="@Model.FechaFin" />
            </div>

            <div class="celda_label td_historico" style="display: inline; margin-right: 91px; ">
                Desde:
                <input type="text" id="FechaDesde" style="width: 88px;" name="FechaInicio" value="@Model.FechaInicio" />
                <span style="padding-left: 115px;">Hasta:</span>
                <input type="text" id="FechaHasta" style="width: 88px;" name="FechaFin" value="@Model.FechaFin" />
            </div>
        </div>

        <div style="display: inline-table; " id="tr_emp">
            <div class="celda_label">
                Empresa:
            </div>
            <div class="celda_input">
                <select id="cbEmpresa" style="background-color: white; width: 170px;" multiple="multiple">
                    @foreach (var item in Model.ListaEmpresa)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
            </div>
        </div>

        <div style="display: inline-table; ">
            <div class="celda_label">
                Estado:
            </div>
            <div class="celda_input">
                <select id="cbEstado" style="background-color: white; width: 170px;">
                    <option value="-1">--TODOS--</option>
                    <option value="A">Activo</option>
                    <option value="P">En Proyecto</option>
                    <option value="F">Fuera de COES</option>
                    <option value="B">Baja</option>
                </select>
            </div>
        </div>

    </div>

    <!--listado de elementos-->
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>