@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.ReporteModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>RUC</th>
            <th>Sigla</th>
            <th>Razón Social</th>
            <th>Nombre Comercial</th>            
            <th>Representante Legal</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntegrantes)
            {
            <tr>
                <td>
                    @item.Emprcodi
                </td>
                <td>@item.Emprestado</td>
                <td>@item.Tipoemprdesc</td>
                <td>@item.Emprruc</td>                                
                <td>@item.Emprsigla</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.Emprnombrecomercial</td>
                <td>@item.RpteNombres</td>
                <td>@item.RpteCorreoElectronico</td>
                <td>@item.RpteTelefono</td>
   
            </tr>
        }
    </tbody>
</table>
