@model COES.MVC.Intranet.Areas.DemandaBarras.Models.PseeModel

<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>Tipo de Equipo</th>
            <th>Equipo</th>
            <th>Cod. SGOCOES</th>
            <th>Nom. Barra PSSE</th>           
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaRelacion.Count > 0)
        {
            foreach (var item in Model.ListaRelacion)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarRelacion(@item.Relacioncodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarRelacion(@item.Relacioncodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>                    
                    <td>@item.Emprnomb</td>
                    <td>@item.Desubicacion</td>
                    <td>@item.Famnomb</td>
                    <td>@item.Equinomb</td>
                    <td>@item.Equicodi</td>
                    <td>@item.Nombarra</td>                    
                    <td>@item.Estado</td>
                </tr>
            }
        }
    </tbody>
</table>