@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.DefSupResNoSuminModel
@{
    ViewBag.Title = "Reserva No Suministrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/CompensacionRSF/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/defsupresnosuminhot.js"></script>

<div class="ast">
    <div class="form-title">
        @if (Model.EntidadVersiondsrn != null)
        {
            <div class="content-titulo">Reserva No Suministrada: @Model.EntidadPeriodo.PeriNombre / @Model.EntidadVersiondsrn.Vcrdsrnombre</div>
        }
        else
        {
            <div class="content-titulo">Reserva No Suministrada: @Model.EntidadPeriodo.PeriNombre</div>
        }
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "DefSupResNoSumin")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Puede consultar la información</div>
    
    <div class="content-hijo" style="padding-top:8px">
        @Html.HiddenFor(model => model.vcrdsrcodi)

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Déficit de Reserva (DT)</a></li>
                <li class='tab'><a href="#paso2">Superávit de Reserva (ST)</a></li>
                <li class='tab'><a href="#paso3">Reserva No Suministrada <sub>subir</sub>(RNS<sub>s</sub>)</a></li>
                <li class='tab'><a href="#paso4">[2021].Reserva No Suministrada <sub>bajar</sub>(RNS<sub>b</sub>)</a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <div id="idpanel" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelDT">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" alt="Descargar" /><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelDT">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Subir"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosDT">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Borrar"/><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelDT">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar"/><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelDT" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="paso2">
                    <div id="idpane2" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelST">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" alt="Descarga"/><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelST">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Seleccionar"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosST">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Eliminar"/><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelST">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar"/><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelST" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="paso3">
                    <div id="idpane3" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelRNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" alt="Descargar"/><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelRNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Seleccionar"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosRNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Eliminar" /><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelRNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar"/><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelRNS" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="paso4">
                    <div id="idpane4" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelRNSb">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" /><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelRNSb">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Seleccionar"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosRNSb">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Eliminar"/><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelRNSb">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar"/><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelRNSb" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------------->
    </div>
</div>
