@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.DefSupResNoSuminModel
@{
    ViewBag.Title = "Versión de Déficit, Superávit y Reserva No Suministrada";
}
<fieldset>
    <legend>Versión de Déficit, Superávit y Reserva No Suministrada</legend>
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadVersiondsrn.Pericodi, "Periodo")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadVersiondsrn.Perinombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadVersiondsrn.Vcrdsrnombre, "Nombre de la versión")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadVersiondsrn.Vcrdsrnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadVersiondsrn.Vcrdsrestado, "Estado")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadVersiondsrn.Vcrdsrestado)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

