@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
<script>
    $(function () {

        $('#btnGuardarEdit').click(function () {
            updateMeses();
        });
    });
</script>
<div class="popup-title"><span>@Model.ParametroRER.Rerpprmesaniodesc</span></div>
<div class='panel-container'>

    @using (Html.BeginForm("UpdateMeses", "ParametroRER", FormMethod.Post, new { @class = "form-search", name = "frmEditParametroRERMeses", id = "frmEditParametroRERMeses" }))
    {
        <input type="hidden" name="ParametroRER.Rerpprcodi" id="Rerpprcodi" value="@Model.ParametroRER.Rerpprcodi"/>
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Tipo de cambio:</td>
                <td class="tbform-control">
                    <input type="number" id="Rerpprtipocambio" name="ParametroRER.Rerpprtipocambio" value="@Model.ParametroRER.Rerpprtipocambio" style="width:240px" min="0" step="0.001"/>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Origen:</td>
                <td>
                    <div class="tbform-control">
                        <input type="radio" id="VTEA" name="ParametroRER.Rerpprorigen" value="VTEA" @(Model.ParametroRER.Rerpprorigen == "VTEA"  ? "checked" : "") onchange="habilitarCombo()"/>VTEA
                        <input type="radio" id="PMPO" name="ParametroRER.Rerpprorigen" value="PMPO" @(Model.ParametroRER.Rerpprorigen == "PMPO" ? "checked" : "") onchange="habilitarCombo()"/>PMPO
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Revisión:</td>
                <td class="tbform-control">
                    <select id="ListaRecalculo" name="ParametroRER.Rerpprrevision" @(Model.ParametroRER.Rerpprorigen == "PMPO" ? "disabled" : "")>
                        @foreach (var item in Model.ListaRecalculo)
                        {
                            <option value="@item.RecaCodi-@item.RecaPeriCodi" @(item.RecaNombre == Model.ParametroRER.Rerpprrevision && Model.ParametroRER.Rerpprorigen == "VTEA" ? "selected" : "")>@item.RecaNombre</option>
                        }
                    </select>
                    @if (Model.ListaRecalculo == null || Model.ListaRecalculo.Count == 0)
                    {
                        <div id="mensajeListaRecalculo" style="font-size: 12px; color: red;">
                            No existen revisiones para el mes seleccionado.
                        </div>
                    }
                </td>
            </tr>
        </table>
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarEdit" />
</div>

<script>
    verificarCombo();

</script>