@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel

<div class="popup-title"><span>@Model.ParametroRER.Rerpprmesaniodesc</span></div>
<input type="hidden" name="Rerpprcodi" id="indexRevisionesRerpprcodi" value="@Model.ParametroRER.Rerpprcodi" />
<div class='panel-container' >
    <div id="listaRevisiones" style='display: flex;'>
        <table border="0" class="pretty tabla-icono" id="VTEA" style='margin-right: 10px;'>
            <thead>
                <tr>
                    <th>Periodo VTEA</th>
                    <th>Revisión</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemVTEA in Model.ListaRevisionVTEA)
                {
                    <tr id="fila_@itemVTEA.Rerprecodi">
                        <td class="text_center" style="white-space: nowrap; padding: 5px;">@itemVTEA.Perinombre</td>
                        <td class="text_center" style="white-space: nowrap; padding: 5px;">@itemVTEA.Recanombre</td>
                        <td style="width:30px;"><a href="#" id="eliminar_@itemVTEA.Rerprecodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a></td>
                    </tr>
                }
            </tbody>
        </table>

        <table border="0" class="pretty tabla-icono" id="VTP">
            <thead>
                <tr>
                    <th>Periodo VTP</th>
                    <th>Revisión</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemVTP in Model.ListaRevisionVTP)
                {
                    <tr id="fila_@itemVTP.Rerprecodi">
                        <td class="text_center" style="white-space: nowrap; padding: 5px;">@itemVTP.Perinombre</td>
                        <td class="text_center" style="white-space: nowrap; padding: 5px;">@itemVTP.Recanombre</td>
                        <td style="width:30px;"><a href="#" id="eliminar_@itemVTP.Rerprecodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div style="text-align: center; margin-top: 20px;">
    <input type="button" id="btnRecargarRevisiones" value="Volver a cargar" onclick="recargarRevisiones()"/>
</div>
