
<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />

<table border="0" class="pretty tabla-icono" id="tablameses">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Tipo de Cambio</th>
            <th>Origen</th>
            <th>Revisión</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListParametroDTO)
        {
            <tr id="fila_@item.Rerpprcodi">
                <td class="text_center">@item.Rerpprmesaniodesc</td>
                <td class="text_center">@item.Rerpprtipocambio</td>
                <td class="text_center">@item.Rerpprorigen</td>
                <td class="text_center">@item.Rerpprrevision</td>
                <td style="width:30px;"><a href="JavaScript:editarMes(@item.Rerpprcodi)" title="Editar registro"><img src="~/Content/Images/btn-edit.png" alt=""></a></td>
                <td style="width:30px;"><a href="JavaScript:indexRevisiones(@item.Rerpprcodi)" title="Lista de revisiones"><img src="~/Areas/PrimasRER/Content/Images/compensacion.jpg" alt=""></a></td>
                <td style="width:30px;"><a href="JavaScript:relacionCentralRER(@item.Rerpprcodi)"><img src="~/Areas/PrimasRER/Content/Images/ingreso.png" title="Relaciones" alt="Relaciones"></a></td>
            </tr>
        }
    </tbody>
</table>

