@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model
@{
    ViewBag.Title = "Form";
    string sTitulo = ViewData["sTitulo"].ToString();
    string sAccion = ViewData["sAccion"].ToString();
    string sSelected = "";
}

<link href="~/Areas/CompensacionRSF/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/CompensacionRSF/Content/Scripts/IncumpPR21.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>

@using (Html.BeginForm("Save", "IncumpPR21", FormMethod.Post, new { id = "frmFormulario", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "IncumpPR21")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:800px;">
            @Html.HiddenFor(model => model.EntidadIncumpPR21.Vcrinccodi)
            @if (Model.sError != "" && Model.sError != null)
            {
                <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">@Model.sError</div>
            }
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Pericodi, "Periodo") (*)</div></td>
                    @if (Model.EntidadIncumpPR21.Vcrinccodi > 0)
                    {   @Html.HiddenFor(model => model.EntidadIncumpPR21.Pericodi)
                        <td>
                            <div class="editor-field">
                                <select id="Pericod" name="Perinom" disabled>
                                    @foreach (var item in Model.ListaPeriodos)
                                    {
                                        sSelected = "";
                                        if (@item.PeriCodi == Model.EntidadIncumpPR21.Pericodi)
                                        { sSelected = "selected"; }
                                        <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                    }
                                </select>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="editor-field">
                                <select id="EntidadIncumpPR21_Pericodi" name="EntidadIncumpPR21.Pericodi" class="cbo">
                                    @foreach (var item in Model.ListaPeriodos)
                                    {
                                        sSelected = "";
                                        if (@item.PeriCodi == Model.EntidadIncumpPR21.Pericodi)
                                        { sSelected = "selected"; }
                                        <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                    }
                                </select>
                            </div>
                        </td>
                    }
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Vcrincnombre, "Nombre de la versión") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.EntidadIncumpPR21.Vcrincnombre, new { size = 50, maxLength = 50 })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Vcrincestado, "Estado")</div></td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.EntidadIncumpPR21.Vcrincestado, "Abierto")Abierto</label>
                            <label>@Html.RadioButtonFor(model => model.EntidadIncumpPR21.Vcrincestado, "Cerrado")Cerrado</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:150px;">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    </div>
}
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmFormulario").validate({
        rules: {
            "EntidadIncumpPR21.Vcrincnombre": {
                required: true
            }
        }
    });
</script>
