@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model
@{
    ViewBag.Title = "Incumplimiento PR-21";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/CompensacionRSF/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/incumppr21hot.js"></script>

<div class="ast">
    <div class="form-title">
        @if (Model.EntidadIncumpPR21 != null)
        {
            <div class="content-titulo">RSF: @Model.EntidadPeriodo.PeriNombre / @Model.EntidadIncumpPR21.Vcrincnombre</div>
        }
        else
        {
            <div class="content-titulo">RSF: @Model.EntidadPeriodo.PeriNombre</div>
        }
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "IncumpPR21")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Puede consultar la información</div>

    <div class="content-hijo" style="padding-top:8px">
        @Html.HiddenFor(model => model.vcrinccodi)
        @Html.HiddenFor(model => model.Pericodi)
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Incumplimientos PR-21</a></li>
                <li class='tab'><a href="#paso2">Reserva Primaria no Suministrada </a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <div id="idpanel" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelPR21">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" alt="Descargar"/><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelPR21">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Seleccionar"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosPR21">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Eliminar"/><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelPR21">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar" /><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelPR21" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="paso2">
                    <div id="idpane2" style="overflow:auto; background-color:#fff">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                        <table class="table-search" style="width:auto">
                                            <tr>
                                                <td style="height:40px;">
                                                    <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                                        <tr>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnDescargarExcelRPNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" alt="Descargar"/><br />
                                                                        <span>Descargar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnSelecionarExcelRPNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" alt="Seleccionar"/><br />
                                                                        <span>Importar Excel</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnEliminarDatosRPNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" alt="Eliminar"/><br />
                                                                        <span>Eliminar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                                <a href="#" id="btnGrabarExcelRPNS">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" alt="Enviar"/><br />
                                                                        <span>Enviar datos</span>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="grillaExcelRPNS" style="height:auto"></div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------------------->
            </div>
        </div>
    </div>
</div>