<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="display:none;">.</th>
            <th>Periodo</th>
            <th>Nombre de versión</th>
            <th>Usuario de creación</th>
            <th>Fecha de creación</th>
            <th>Usuario de actualización</th>
            <th>Fecha de actualización</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIncumpPR21)
        {
            string sPK = item.Pericodi + "_" + item.Vcrinccodi;
            <tr id="fila_@sPK">
                <td style="display:none;">@item.Vcrinccodi</td>
                <td class="text_left" style="text-align:left">@item.Perinombre</td>
                <td class="text_left" style="text-align:left">@item.Vcrincnombre</td>
                <td class="text_left" style="text-align:left">@item.Vcrincusucreacion</td>
                <td class="text_left" style="text-align:left">@item.Vcrincfeccreacion</td>
                <td class="text_left" style="text-align:left">@item.Vcrincusumodificacion</td>
                <td class="text_left" style="text-align:left">@item.Vcrincfecmodificacion</td>
                <td class="text_left" style="text-align:left">@item.Vcrincestado</td>
                <td style="width:30px;"><a onclick="location.href='@Url.Action("Incumplimiento", new { Vcrinccodi = item.Vcrinccodi, pericodi = item.Pericodi })'"><img src="@Url.Content("~/Content/Images/recalculo.jpg")" title="Asignar Incumplimiento PR-21" alt="Asignar Incumplimiento PR-21" /></a></td>
                <td style="width:30px;"><a href="#" id="view_@sPK" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { vcrinccodi = item.Vcrinccodi, pericodi = item.Pericodi }) "><img src="@Url.Content("~/Content/Images/btn-edit.png") " title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="view_@sPK" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>
