@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model
@{
    ViewBag.Title = "Versión de Incumplimiento PR-21";
}
<fieldset>
    <legend>Versión de Incumplimiento PR-21</legend>
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Pericodi, "Periodo")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadIncumpPR21.Perinombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Vcrincnombre, "Nombre de la versión")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadIncumpPR21.Vcrincnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadIncumpPR21.Vcrincestado, "Estado")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadIncumpPR21.Vcrincestado)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

