@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
<div style="clear:both; height:10px"></div>
<table id="tabla_parametro" border="0" class="pretty tabla-icono" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width: 50px">Acciones</th>
            <th>Fecha de Vigencia</th>
            <th>Parámetro</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th style="width: 120px">Usuario  modificación</th>
            <th style="width: 120px">Fecha  modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaParametros.OrderBy(x=>x.ConcepDesc).ThenBy(x=>x.ConcepDesc2))
        {
            <tr>
                <td>
                    <a onclick="verHistoricoParametro(@item.Grupocodi,@item.Concepcodi, '@item.ConcepDesc')" title="Ver Histórico"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    @if (Model.TienePermiso)
                    {
                        <a onclick="editarParametroConfig(@item.Grupocodi,@item.Concepcodi, '@item.ConcepDesc')" title="Modificación"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    }
                </td>
                <td>@item.FechadatDesc</td>
                <td>@item.ConcepDesc</td>
                <td>@item.ConcepDesc2</td>
                <td>@item.Formuladat</td>
                <td>@item.Lastuser</td>
                <td>@item.FechaactDesc</td>
            </tr>
        }
    </tbody>
</table>