@model COES.MVC.Intranet.Areas.GMM.Models.ComplementarioModel
<form id="Form2" method="post" enctype="multipart/form-data">

    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaInsumos">
        <thead>
            <tr>
                <th>Participante</th>
                @*<th><p>Entregas</p><p>(MWh)</p></th>*@
                <th><p>Monto SSCC</p><p>S/.mes</p></th>
                <th><p>Monto</p><p>Inflexibilidades</p><p>Operativas</p><p>S/.mes</p></th>
                <th><p>Monto</p><p>recaudado</p>Exceso</p><p>Energia Reactiva</p><p>S/.mes</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listadoInsumos)
            {
                <tr class="menu-contextual" data-id="@item.LISTEMPGCODI">
                    <td style="text-align: left; width: 30%;"> @item.LISTEMPRNOMB</td>
                    @*<td style="text-align: left; width: 50px;">
                        @Html.TextBox("ENTREGAS", String.Format("{0:0.00}", item.ENTREGAS), new { @class = "form-control", @data_empgcodi = @item.LISTEMPGCODI, onblur = "return false;" })
                    </td>*@
                    <td style="text-align: left; width: 50px;">
                        @Html.TextBox("SC", String.Format("{0:0.00}", item.SC), new { @class = "form-control", @data_empgcodi = @item.LISTEMPGCODI, onblur = "return false;" })
                    </td>
                    <td style="text-align: left; width: 50px;">
                        @Html.TextBox("INFLEX", String.Format("{0:0.00}", item.INFLEX), new { @class = "form-control", @data_empgcodi = @item.LISTEMPGCODI, onblur = "return false;" })
                    </td>
                    <td style="text-align: left; width: 50px;">
                        @Html.TextBox("RECAU", String.Format("{0:0.00}", item.RECAU), new { @class = "form-control", @data_empgcodi = @item.LISTEMPGCODI, onblur = "return false;" })
                    </td>
                </tr>
            }

    </table>
    <div>
        <div style="text-align:left; width:100%;">
            <input type="button" value="Grabar" id="btnGrabarSegundoMes" name="btnGrabarSegundoMes" class="form-action-l" style=" float: right;margin-right: 5px;" />

        </div>
    </div>
</form>
<script>
    $('#btnGrabarSegundoMes').click(function () {
        fnGrabarSegundoMes();
    });

    if ($("#hdnPeriodoEstado").val() == "C") {
        
        $("#btnGrabarSegundoMes").attr('disabled', true);

    } else {
        $("#btnGrabarSegundoMes").removeAttr("disabled");
    }
</script>