@model COES.MVC.Intranet.Areas.GMM.Models.ComplementarioModel
@{
    Layout = null;
}

<table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaInsumosGen">
    <thead>
        <tr>
            <th><p>Participante</p></th>
            <th><p>Margen</p><p>Reserva (%)</p></th>
            <th><p>Monto total</p><p>SSCC</p><p>S/.mes</p></th>
            <th><p>Monto total</p><p>Inflexibilidades Operativas</p><p>S/.mes</p></th>
            <th><p>Monto total recaudado</p><p>Exceso Energia Reactiva</p><p>S/.mes</p></th>
            <th><p>Acciones</p></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listadoinsumos1vez)
        {
            <tr class="menu-contextual" data-code="@(item.EMPRCODI)" data-codepart="@(item.EMPGCODI)">
                <td style="text-align: left; width: 30%;">
                    <input type="text" id="@(item.EMPRCODI)_mempresa" name="@(item.EMPRCODI)_mempresa" class="form-control" style="width:100%"
                           value="@item.EMPRESA" disabled />
                </td>
                <td style="text-align: left; width: 15%;">
                    <input type="text" id="@(item.EMPRCODI)_mreserva" name="@(item.EMPRCODI)_mreserva" class="form-control" style="width:100%"
                           value="@item.MRESERVA" disabled />
                </td>
                <td style="text-align: left; width: 15%;">
                    <input type="text" id="@(item.EMPRCODI)_sscc" name="@(item.EMPRCODI)_sscc" class="form-control" style="width:100%"
                           value="@item.SSCC" disabled />
                </td>
                <td style="text-align: left; width: 15%;">
                    <input type="text" id="@(item.EMPRCODI)_tinflex" name=@(item.EMPRCODI) _"tinflex" class="form-control" style="width:100%"
                           value="@item.TINFLEX" disabled />
                </td>
                <td style="text-align: left; width: 15%;">
                    <input type="text" id="@(item.EMPRCODI)_texceso" name="@(item.EMPRCODI)_texceso" class="form-control" style="width:100%"
                           value="@item.TEXCESO" disabled />
                </td>

                <td style="width:40px;">
                    <a  class="btnEditPrimerMes" href="JavaScript:modificarAgentes('@(item.EMPRCODI)');" title="Modificar">
                        <img src="~/Content/Images/btn-edit.png" title="Editar" />
                    </a>
                    <a  class="btnEditPrimerMes" href="JavaScript:eliminarAgentes('@(item.EMPRCODI)');" title="Eliminar">
                        <img src="~/Content/Images/Trash.png" title="Eliminar" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="hdnPeriodoEstado" value="@Model.Estado" />
<script>
    $(document).ready(function () {
              

        if ($("#hdnPeriodoEstado").val() == "C") {
            $("#divMensajePeriodoCerrado").show();
            $(".btnEditPrimerMes").attr('disabled', true);
            $("#btnAgregarEmpresa").attr('disabled', true);
            $("#btnGrabar").attr('disabled', true);
            $("#btnGrabarSegundoMes").attr('disabled', true);

        } else {
            $("#divMensajePeriodoCerrado").hide();
            $(".btnEditPrimerMes").removeAttr("disabled");
            $("#btnAgregarEmpresa").removeAttr("disabled");
            $("#btnGrabar").removeAttr("disabled");
            $("#btnGrabarSegundoMes").removeAttr("disabled");
        }

        $('a').click(function (e) {
            var x = $(this).attr('disabled');
            if (x === 'disabled') {
                e.preventDefault();
            }
        });
    });
</script>