@model COES.MVC.Intranet.Areas.RegionesDeSeguridad.Models.RegionSeguridadModel

<table id="tablaRegion" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th style="width:80px"></th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Mínima</th>
            <th>Media</th>
            <th>Máxima</th>
            <th>Estado</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRegion)
        {
        <tr>
            <td>
                @if (item.Regestado == "A")
                {
                    <a href="JavaScript:eliminarRegion(@item.Regcodi,'B');" title="Eliminar Región"><img src="~/Content/Images/Trash.png" alt="Eliminar Región" /></a>
                }
                else
                {
                    <a href="JavaScript:eliminarRegion(@item.Regcodi,'A');" title="Activar Región"><img src="~/Content/Images/btn-ok.png" alt="Activar Región" /></a>
                }

                <a href="JavaScript:editarRegion(@item.Regcodi);" title="Editar Región"><img src="~/Content/Images/btn-edit.png" alt="Editar Región" /></a>
            </td>
            <td>@item.Regcodi</td>
            <td>@item.Regnombre</td>
            <td>
                <a href="JavaScript:verRestriccion(@item.Regcodi,0);" title="Ver Restricciones"><img src="~/Content/Images/btn-open.png" alt="Ver Restricción" /></a>
                @{
                    var find = item.Listatipo.Find(x => x.Segcotipo == 0);
                    if (find != null)
                    {
                        if (find.Totalrestriccion > 0)
                        {
                            <a href="JavaScript:configuracionRegionSeguridad(@item.Regcodi,0);" title="Ver Equipos"><img src="~/Content/Images/btn-properties.png" alt="Editar Equipos" /></a>
                        }
                    }
                }

            </td>
            <td>
                <a href="JavaScript:verRestriccion(@item.Regcodi,1);" title="Ver Restricciones"><img src="~/Content/Images/btn-open.png" alt="Ver Restricción" /></a>
                @{
                    var find2 = item.Listatipo.Find(x => x.Segcotipo == 1);
                    if (find2 != null)
                    {
                        if (find2.Totalrestriccion > 0)
                        {
                            <a href="JavaScript:configuracionRegionSeguridad(@item.Regcodi,1);" title="Ver Equipos"><img src="~/Content/Images/btn-properties.png" alt="Editar Equipos" /></a>
                        }
                    }
                }
                
            </td>
            <td>
                <a href="JavaScript:verRestriccion(@item.Regcodi,2);" title="Ver Restricciones"><img src="~/Content/Images/btn-open.png" alt="Ver Restricción" /></a>
                @{
                    var find3 = item.Listatipo.Find(x => x.Segcotipo == 2);
                    if (find3 != null)
                    {
                        if (find3.Totalrestriccion > 0)
                        {
                            <a href="JavaScript:configuracionRegionSeguridad(@item.Regcodi,2);" title="Ver Equipos"><img src="~/Content/Images/btn-properties.png" alt="Editar Equipos" /></a>
                        }
                    }
                }
                
            </td>
            <td>@item.RegestadoDesc</td>
            <td>@item.Regusumodificacion</td>
            <td>@item.RegfecmodificacionDesc</td>
        </tr>
        }
    </tbody>
</table>