@model COES.MVC.Intranet.Areas.RegionesDeSeguridad.Models.RestriccionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Flujo Inicio:</td>
                <td class="registro-control">
                    <input type="text" id="txtFlujo1" name="Segcoflujo1" value="@Model.Restriccion.Segcoflujo1" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Generación Inicio:</td>
                <td class="registro-control">
                    <input type="text" id="txtGeneracion1" name="Segcogener1" value="@Model.Restriccion.Segcogener1" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Flujo Fin:</td>
                <td class="registro-control">
                    <input type="text" id="txtFlujo2" name="Segcoflujo2" value="@Model.Restriccion.Segcoflujo2" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Generación Fin :</td>
                <td class="registro-control">
                    <input type="text" id="txtGeneracion2" name="Segcogener2" value="@Model.Restriccion.Segcogener2" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Tipo Demanda:</td>
                <td class="registro-label">
                    <select id="cboTipoDemanda" name="Segcotipo">
                        <option value="0">Mínima</option>
                        <option value="1">Media</option>
                        <option value="2">Máxima</option>
                    </select>
                    <input type="hidden" id="hfTipoDemanda" value="@Model.Restriccion.Segcotipo" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Zona Seguridad 3 :</td>
                <td class="registro-control">
                    <select id="cboZona" name="Zoncodi">
                        @foreach (var item in Model.ListaZona)
                        {
                             <option value="@item.Zoncodi">@item.Zonnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoZona" value="@Model.Restriccion.Zoncodi" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRestriccion" value="Grabar" />
            <input type="button" id="btnCancelarRestriccion" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdCoordenada" name="Segcocodi" value="@Model.Restriccion.Segcocodi" />
        <input type="hidden" id="hfIdRegion" name="Regcodi" value="@Model.Restriccion.Regcodi" />

    </form>

</div>
