@model COES.MVC.Intranet.Areas.RegionesDeSeguridad.Models.RestriccionModel
<table border="0" class="pretty tabla-icono" id="tablaRestriccion">
    <thead>
        <tr>
            <th></th>
            <th>Orden</th>
            <th>Flujo Inicio</th>
            <th>Generación Inicio</th>
            <th>Flujo Fin</th>
            <th>Generación Fin</th>
            <th>Zona Seguridad</th>
            <th>Tipo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaRestricciones.Count > 0)
        {
            foreach (var item in Model.ListaRestricciones)
            {
        <tr>
            <td>
                <a href="JavaScript:editarRestriccion(@item.Segcocodi, @item.Regcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                @if (item.Segcoestado == "A")
                {
                    <a href="JavaScript:eliminarRestriccion(@item.Segcocodi,'B');"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Restricción" /></a>
                }
                else
                {
                    <a href="JavaScript:eliminarRestriccion(@item.Segcocodi,'A');"><img src="~/Content/Images/btn-ok.png" alt="Activar Restricción" /></a>
                }

            </td>
            <td>@item.Segconro</td>
            <td>@item.Segcoflujo1</td>
            <td>@item.Segcogener1</td>
            <td>@item.Segcoflujo2</td>
            <td>@item.Segcogener2</td>
            <td>@item.Zonnombre</td>
            <td>@item.TipoDesc</td>
            <td>@item.Segcoestado</td>
        </tr>
            }
        }
    </tbody>
</table>