@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel

@{
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
}

<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/editar.css?v=2.0" rel="stylesheet" />
<script type="text/javascript">
    var tipoEventoAgenda = "@Html.Raw(Model.Tipo)";
</script>

<script type="text/javascript">
    $(function () {
        $('.header').hide();
        $('.menu').hide();
        $('.footer').hide();
    })
</script>

<script src="~/Content/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>
<script src="~/Areas/DirectorioImpugnaciones/Contents/Scripts/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/DirectorioImpugnaciones/Contents/Scripts/editarAgenda.js"></script>

<div class="container">
    

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <br />
            <form id="frmRegistro" name="frmRegistro">
                <div class="action-message">* Campos obligatorios</div>
                <input id="nuevo" name="Nuevo" value="@Model.Nuevo" type="hidden" />
                <input id="tipoEvento" name="Tipo" type="hidden" value="@Html.Raw(Model.Tipo)" />
                <input id="extension" name="Extension" type="hidden" value="@Model.EventoAgenda.Eveagextension" />
                <input id="extensionAntiguo" name="ExtensionAntiguo" type="hidden" value="@Model.EventoAgenda.Eveagextension"/>
                <input id="nombreArchivo" name="NombreArchivo" type="hidden" value="@Model.EventoAgenda.Eveagcodi"/>
                <input id="cambiarArchivo" name="CambiarArchivo" type="hidden" value="N" />
                @if (Model.Nuevo == "N") {
                    <input id="codigo" name="Codigo" type="hidden" value="@Model.EventoAgenda.Eveagcodi"/>
                }

                <div class="form-group">
                    <label>Título del Evento *</label>
                    <div class="row">
                        <div class="col-md-3">
                            <input id="titulo" name="titulo" type="text" class="form-control" value="@Model.EventoAgenda.Eveagtitulo"/>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-2"><label id="textoNombre"></label><label id="tipoArchivo">.@Model.EventoAgenda.Eveagextension</label> <label id="progreso"></label></div>
                                <div class="col-md-2">
                                    <input id="btnCambiarArchivo" type="button" value="Archivo" />
                                </div>
                                <div class="col-md-2">
                                    <input id="btnRegresar" type="button" value="Regresar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha inicio *</label>
                            <input id="horaInicio" type="text" name="HoraInicio" value="@if (Model.EventoAgenda.Eveagfechinicio != null) { @Model.EventoAgenda.Eveagfechinicio.Value.ToString("dd/MM/yyyy HH:mm");}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha fin *</label>
                            <input id="horaFin" type="text" name="HoraFin" value="@if (Model.EventoAgenda.Eveagfechfin != null) { @Model.EventoAgenda.Eveagfechfin.Value.ToString("dd/MM/yyyy HH:mm");}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ubicación *</label>
                    <textarea id="Ubicacion" name="Ubicacion">@Model.EventoAgenda.Eveagubicacion</textarea>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea id="Descripcion" name="Descripcion">@Model.EventoAgenda.Eveagdescripcion</textarea>
                </div>
                <center>
                    <input id="btnGrabar" type="button" value="Grabar" />
                    <input type="reset" value="Limpiar" />
                </center>
                <br />
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div style="clear:both"></div>