@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel

<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Fecha del Evento</th>
            <th>Descripción</th>
            <th>Ubicación</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model.ListaEventosAgenda)
        {
            <tr>
                <td>
                    <a href="JavaScript:downloadBlob(@evento.Eveagcodi)">
                        @if (evento.Eveagextension == "pdf" || evento.Eveagextension == "PDF")
                        {
                            <img src="~/Content/Images/pdficon.png">
                        }
                        else if (evento.Eveagextension == "zip" || evento.Eveagextension == "ZIP" || evento.Eveagextension == "rar" || evento.Eveagextension == "RAR")
                        {
                            <img src="~/Content/Images/zipicon.gif" />
                        }
                    </a>
                </td>
                <td>@evento.Eveagtitulo</td>
                <td>@if (evento.Eveagfechinicio != null) { @evento.Eveagfechinicio.Value.ToString("dd'/'MM'/'yyyy hh:mm tt"); } hasta @if (evento.Eveagfechfin != null) { @evento.Eveagfechfin.Value.ToString("dd'/'MM'/'yyyy hh:mm tt"); }</td>
                <td>@Html.Raw(evento.Eveagdescripcion)</td>
                <td>@Html.Raw(evento.Eveagubicacion)</td>
                <td><a href="Javascript:editarEvento(@evento.Eveagcodi)"><img src="~/Content/Images/btn-edit.png" /></a></td>
                <td><a href="JavaScript:eliminarEvento(@evento.Eveagcodi)"><img src="~/Content/Images/btn-cancel.png" /></a></td>
            </tr>
        }
    </tbody>
</table>