@model COES.MVC.Intranet.Areas.Monitoreo.Models.IndicadorModel

@{
    ViewBag.Title = "Control de Cambios MME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Areas/Monitoreo/Content/Css/css.css?v=1.3.7" rel="stylesheet" />
<script src="~/Areas/Monitoreo/Content/Scripts/controlCambios.js?v=1.4"></script>

<div class="form-title">
    <div class="content-titulo">
        Control de Cambios MME
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class='tab-container'>

        <ul class='etabs'>
            <li class='tab'><a href="#IMME-1">IMME-1</a></li>
            <li class='tab'><a href="#IMME-2">IMME-2</a></li>
            <li class='tab'><a href="#IMME-3">IMME-3</a></li>
            <li class='tab'><a href="#IMME-4">IMME-4</a></li>
            <li class='tab'><a href="#IMME-5">IMME-5</a></li>
            <li class='tab'><a href="#IMME-6">IMME-6</a></li>
            <li class='tab'><a href="#IMME-7">IMME-7</a></li>
        </ul>


        <div id="IMME-1">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">

                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-1" name="txtFechaInicio" value="@Model.FechaInicio" />

                        </td>

                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador1">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador1">
                            </div>

                        </td>


                        <td>
                            <input type="button" id="btnProcesarIndicador1" value="Consultar">

                        </td>


                    </tr>
                </table>
            </div>


            <div style="clear:both; height:5px"></div>
            <div id="listado1"></div>

        </div>

        <div id="IMME-2">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-2" name="txtFechaInicio" value="@Model.FechaInicio" />

                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador2">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador2">
                            </div>

                        </td>


                        <td>
                            <input type="button" id="btnProcesarIndicador2" value="Consultar">

                        </td>

                    </tr>
                </table>
            </div>

            <div class="content-tabla">
          
                <div style="clear:both; height:5px"></div>
                <div class="table-list" id="listado2"></div>
            </div>
        </div>
        <div id="IMME-3">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-3" name="txtFechaInicio" value="@Model.FechaInicio" />

                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador3">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador3">
                            </div>

                        </td>


                        <td>
                            <input type="button" id="btnProcesarIndicador3" value="Consultar">

                        </td>
                    </tr>
                </table>
            </div>
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>
                <div class="table-list" id="listado3"></div>
            </div>
        </div>

        <div id="IMME-4">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-4" name="txtFechaInicio" value="@Model.FechaInicio" />
                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador4">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador4">
                            </div>

                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador4" value="Consultar">

                        </td>

                    </tr>
                </table>
            </div>
            <div class="content-tabla">
  
                <div style="clear:both; height:5px"></div>
                <div class="table-list" id="listado4"></div>
            </div>
        </div>

        <div id="IMME-5">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-5" name="txtFechaInicio" value="@Model.FechaInicio" />
                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador5">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador5">
                            </div>

                        </td>

                        <td>
                            <div id="divBarraIndicador5">
                            </div>
                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador5" value="Consultar">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content-tabla">
    
                <div style="clear:both; height:5px"></div>
                <div id="listado5"></div>
            </div>
        </div>
        <div id="IMME-6">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-6" name="txtFechaInicio" value="@Model.FechaInicio" />
                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador6">
                            </div>

                        </td>

                        <td>Empresas:</td>

                        <td>
                            <div id="divEmpresaIndicador6">
                            </div>

                        </td>


                        <td>
                            <div id="divBarraIndicador6">
                            </div>
                        </td>


                        <td>
                            <input type="button" id="btnProcesarIndicador6" value="Consultar">

                        </td>

                    </tr>
                </table>
            </div>
            <div class="content-tabla">
        
                <div style="clear:both; height:5px"></div>
                <div id="listado6"></div>
            </div>
        </div>

        <div id="IMME-7">

            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <input type="text" id="txtMesIMM-7" name="txtFechaInicio" value="@Model.FechaInicio" />
                        </td>
                        <td>Versión:</td>


                        <td>
                            <div id="divVersionIndicador7">
                            </div>

                        </td>

                        <td>Empresas:</td>
                        <td>
                            <div id="divEmpresaIndicador7">
                            </div>

                        </td>


                        <td>
                            <div id="divBarraIndicador7">
                            </div>
                        </td>

                        <td>
                            <input type="button" id="btnProcesarIndicador7" value="Consultar">

                        </td>
                    </tr>
                </table>
            </div>
            <div class="content-tabla">
    
                <div style="clear:both; height:5px"></div>
                <div class="table-list" id="listado7"></div>
            </div>

        </div>
    </div>
</div>
