@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.NrSobrecostoModel


<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="panel-container"  id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensajeEditar">Ingrese los datos</div>
            <table>
                <tr>
                    <td>
                        <input type="hidden" id="hfNrscCodi" value="@Model.NrSobrecosto.Nrsccodi" name="NrscCodi" />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    </td>
                </tr>
                <tr>
                    <td id="lblNrscFecha ">Fecha</td>
                    <td>
                        @{
                            var fechaNrscFecha = "";
                            if (Model.NrSobrecosto.Nrscfecha != null)
                            {
                                fechaNrscFecha = ((DateTime)Model.NrSobrecosto.Nrscfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        <input id="txtNrscFecha"  type="text" name="NrscFecha" value="@fechaNrscFecha" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrscCodespacho0">CO Despacho0</span>
                    </td>
                    <td>
                        <input id="txtNrscCodespacho0" type="text" name="NrscCodespacho0" value="@Model.NrSobrecosto.Nrsccodespacho0">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrscCodespacho1">CO Despacho1</span>
                    </td>
                    <td>
                        <input id="txtNrscCodespacho1" type="text" name="NrscCodespacho1" value="@Model.NrSobrecosto.Nrsccodespacho1">
                    </td>
                </tr>
                <tr>
                    <td id="lblNrscNota" >Nota</td>
                    <td class="registro-control">
                        <textarea id="txtNrscNota"  maxlength="100" name="NrscNota" cols="60" rows="3">@Model.NrSobrecosto.Nrscnota</textarea>
                    </td>
                </tr>
                
                <tr>                                        
                    <td>
                        <input type="hidden" id="hfNrscPadre" name="NrscPadre" value="@Model.NrSobrecosto.Nrscpadre">
                    </td>

                    <td>
                        <input type="hidden" id="hfNrscUsucreacion" maxlength="60" name="NrscUsucreacion" value="@Model.NrSobrecosto.Nrscusucreacion"/>
                    </td>

                    <td>
                        @{
                            var fechaNrscFecCreacion = "";
                            if (Model.NrSobrecosto.Nrscfeccreacion != null)
                            {
                                fechaNrscFecCreacion = ((DateTime)Model.NrSobrecosto.Nrscfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfNrscFecCreacion" name="NrscFecCreacion" value="@fechaNrscFecCreacion" />
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrscEliminado" >Eliminado</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrscEliminado"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrscEliminado" name="NrscEliminado" value="@Model.NrSobrecosto.Nrsceliminado" />
                                                <input type="radio" id="rbNrscEliminadoS" name="rbNrscEliminado" value="S" />Si
                                                <input type="radio" id="rbNrscEliminadoN" name="rbNrscEliminado" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <input type="button" id="btnGrabar" value="Grabar" />
                    </td>
                </tr>
            </table>
    </form>
</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Sobrecosto</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>
