@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrSobrecostoModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Fecha</th>
                <th>CO Despacho0</th>
                <th>CO Despacho1</th>
                <th>Sobrecosto</th>
                <th>Eliminado</th>
                <th>Nota</th>       
                <th>Cre&oacute;</th>
                <th>Fecha de Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha de Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaNrSobrecosto)
            {                
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Nrsccodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                            if (Model.AccionEditar)
                            {
                                <a href="JavaScript:editar(@item.Nrsccodi,1)" title="Editar...">
                                    <img src="~/Content/Images/btn-edit.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }

                            if (Model.AccionEliminar)
                            {
                                <a href="JavaScript:eliminar(@item.Nrsccodi)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }
                        }
                    </td>
                    <td>
                        @{
                            var fechaNrscFecha = "";
                            if (item.Nrscfecha != null)
                            {
                                fechaNrscFecha = ((DateTime)item.Nrscfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        @fechaNrscFecha
                    </td>
                    <td>@item.Nrsccodespacho0</td>
                    <td>@item.Nrsccodespacho1</td>
                    <td>@item.Nrscsobrecosto</td>
                    <td>@item.Nrsceliminado</td>
                    <td>@item.Nrscnota</td>
                    
                    <td>@item.Nrscusucreacion</td>
                    <td>
                        @{
                            var fechaNrscFecCreacion = "";
                            if (item.Nrscfeccreacion != null)
                            {
                                fechaNrscFecCreacion = ((DateTime)item.Nrscfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrscFecCreacion
                    </td>
                    <td>@item.Nrscusumodificacion</td>
                    <td>
                        @{
                            var fechaNrscFecModificacion = "";
                            if (item.Nrscfecmodificacion != null)
                            {
                                fechaNrscFecModificacion = ((DateTime)item.Nrscfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrscFecModificacion
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
