@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion

<table class="tabla-formulario" id="tabla">
    <thead>
        <tr>
            <th>Area</th>
            <th>Empresa</th>
            <th>Tipo de equipo</th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipo)
        {
            <tr onclick="seleccionarEquipo(@item.Equicodi,'@item.Equiabrev','@item.Areanomb','@item.Emprnomb', '@item.Famabrev', '@item.Emprcodi', '@item.Areacodi','@item.Famcodi', '@item.Grupotipocogen');" style="cursor:pointer">
                <td>@item.Areanomb</td>
                <td>@item.Emprnomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
            </tr>
        }
    </tbody>
</table>
