@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
<table>
    <thead>
        <tr>
            <th>EMPRESA</th>
            <th>UBICACIÓN</th>
            <th>TIPO</th>
            <th>EQUIPO</th>
            <th>EVENTO</th>
            <th>FECHA INICIO</th>
            <th>FECHA FIN</th>
            <th>MANT. DESC.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntervenciones)
        {
        <tr>
            <td>@item.EmprNomb</td>
            <td>@item.AreaNomb</td>
            <td>@item.Famabrev</td>
            <td>@item.Equiabrev</td>
            @if (@item.Tipoevencodi == 1)
            {
                <td>
                    PREVENTIVO
                </td>
            }
            else
            {
                <td>
                    CORRECTIVO
                </td>

            }
            <td>@item.Interfechaini.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td>@item.Interfechafin.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td>@item.Interdescrip</td>
        </tr>
        }
    </tbody>
</table>