@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Consultas Tabulares";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.0" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesConsulta.js?v=9.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Consulta de Intervenciones</div>
</div>

<div class="ast" id="Reemplazable">

    <div class="content-hijo" id="mainLayout">
        <div class="row">
            <table class="content-tabla-search" border="0" cellpadding="5" cellspacing="2" style="width: 100%; overflow: auto; background-color: #e5efff">

                <thead>
                    <tr class="THCabecera">
                        <td colspan="10">
                            <div class="editor-label" style="color:#FFFFFF;">
                                <b>Filtros de búsqueda</b>
                                <input type="button" value="🡅" class="btn-contraer_intv" id="btnContraer">
                                <input type="button" value="🡇" class="btn-contraer_intv" style="display:none" id="btnDescontraer">
                            </div>
                        </td>
                    </tr>
                </thead>

                <tbody id="Contenido">
                    <tr>
                        <td colspan="9" style="text-align:center">
                            <div class="td_inline content-action">
                                <a href="#" id="btnConsultar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/Visualizar.png" class="set_size" /><br />
                                        <span>Consultar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnExportarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/exportarExcel.png" class="set_size" /><br />
                                        <span>Reporte</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoConsulta">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/ExportExcel.png" class="set_size" /><br />
                                        <span>Reporte en plantilla</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoPlantilla">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/DownFile.png" class="set_size" /><br />
                                        <span>Plantilla</span>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td width="130">Tipo de Programación: </td>
                        <td width="100">
                            <select style="width: 165px; background-color: white" id="cboTipoProgramacion">
                                <option value="0">-- Seleccionar --</option>
                                @foreach (var item in Model.ListaTiposProgramacion)
                                {
                                    if (@item.Evenclasecodi == Model.IdTipoProgramacion)
                                    {
                                        <option value=@item.Evenclasecodi selected>@item.Evenclasedesc</option>
                                    }
                                    else
                                    {
                                        <option value=@item.Evenclasecodi>@item.Evenclasedesc</option>
                                    }
                                }
                            </select>
                        </td>

                        <td width="100">Programación: </td>
                        <td width="250">
                            <select style="background-color:white; width: 362px" id="Programacion">
                                <option value="0">--Todos--</option>
                            </select>
                        </td>

                        <td width="115">Tipo de Intervención: </td>
                        <td width="100">
                            <select style="background-color:white;width:210px" id="cboTipoIntervencion" multiple="multiple">
                                @foreach (var item in Model.ListaCboIntervencion)
                                {
                                    <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                                }
                            </select>
                        </td>
                        <td width="55">Estado: </td>
                        <td width="100">
                            <select style="background-color: white" id="estadocodi" multiple="multiple">
                                @foreach (var item in Model.ListacboEstado)
                                {
                                    <option value="@item.Estadocodi">@item.Estadonomb</option>
                                }
                            </select>
                        </td>

                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="130">Ubicación: </td>
                        <td>
                            <select style="background-color:white; width:165px;" id="cboUbicacion" multiple="multiple">
                                @foreach (var item in Model.ListaCboUbicacion)
                                {
                                    <option value="@item.Areacodi">@item.Areanomb</option>
                                }
                            </select>
                        </td>
                        <td width="115">Tipo de equipo: </td>
                        <td>
                            <select style="background-color:white; width:210px" id="cboFamilia" multiple="multiple">
                                @foreach (var item in Model.ListaFamilias)
                                {
                                    <option value="@item.Famcodi">@item.Famnomb</option>
                                }
                            </select>
                        </td>
                        <td width="55">Equipo: </td>
                        <td>
                            <select style="background-color:white;" id="cboEquipo" multiple="multiple">
                            </select>
                        </td>

                        <td width="80"> Empresa:</td>
                        <td>
                            <div>
                                <select style="background-color:white" id="cboEmpresa" multiple="multiple">
                                    @foreach (var item in Model.ListaCboEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td width="130">Disponibilidad: </td>
                        <td>
                            <select style="width: 165px; background-color: white" id="InterDispo" multiple="multiple">
                                <option value="F">FS (Fuera de Servicio)</option>
                                <option value="E">ES (En Servicio)</option>
                            </select>
                        </td>

                        <td colspan="2">
                            Fecha Inicio:
                            <div class="editor-label" style="display: inline; margin-right: 21px;">
                                <input type="text" id="InterfechainiD" value="@Model.Progrfechaini" style="width: 110px" class="txtFecha" />
                            </div>

                            Fecha Fin:
                            <div class="editor-label" style="display: inline;">
                                <input type="text" id="InterfechafinD" value="@Model.Progrfechafin" style="width: 110px" class="txtFecha" />
                            </div>

                        </td>

                        @*<td width="115">Fecha Inicio: </td>
                            <td>
                                <div class="editor-label">
                                    <input type="text" id="InterfechainiD" value="@Model.Progrfechaini" style="width: 110px" class="txtFecha" />
                                </div>
                            </td>
                            <td width="60">Fecha Fin: </td>
                            <td>
                                <div class="editor-label">
                                    <input type="text" id="InterfechafinD" value="@Model.Progrfechafin" style="width: 110px" class="txtFecha" />
                                </div>
                            </td>*@

                        <td width="110">Conjunto de equipo:</td>
                        <td>
                            <div class="editor-label">
                                <select style="background-color:white;width:173px" id="cboConjuntoEq">
                                    <option value="0">TODOS</option>
                                    <option value="1">Generación</option>
                                    <option value="2">Líneas</option>
                                    <option value="3">SSEE</option>
                                    <option value="4">SSEE/Líneas</option>
                                </select>
                            </div>
                        </td>

                        <td width="80">Descripción:</td>
                        <td>
                            <input type="text" id="txtNombreFiltro" style="background-color: white;" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <div id="mensajeAviso" class="action-alert" style="display: none; margin: 0; margin-bottom: 10px; margin-top: -10px;"></div>

            <div style="align-content:space-between;">
                <div style="float: left; height: 25px;">
                    <label>
                        <input type="text" disabled style="background-color: #FF2C2C; border-radius: 50%; height: 13px; width: 15px; margin: 3px;" /> Rechazados
                    </label>
                </div>
            </div>

            <div class="s">
                <div id="listado">

                </div>
            </div>
        </div>

        <div class="tabla-header">
            <div class="table-paginado" id="paginado">

                <br />
                <br />
                <b>Nota:</b><span> El filtro de Equipo depende de la seleccion de ubicación y tipo de equipo. </span>
            </div>
        </div>

    </div>
</div>
