@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion

@if (Model.Resultado != "-1")
{
    <script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesCambiarEstado.js?v=9.0.1"></script>

    <input type="hidden" id="intercodis" value="@Model.Intercodis" />
    <div class="popup-title">
        <span>Cambiar Estado de Intervención</span>
        <div class="content-botonera">

            <input type="button" value="Actualizar" id="btnActualizarEstadoPopup" style="float: right; display: block">
            <input type="button" value="Salir" id="btnSalirEstadoPopup" style="float: right;">
        </div>
    </div>

    <div id="divAlertaActualizarEstadoPopup" class="action-alert" style="display: none">El sistema está realizando el cambio de estado. Por favor, espere...</div>

    <table id="tablaDatos" cellpadding="5" style='width: 100%;'>
        <thead>
            <tr>
                <td align="left" width="60">Estado:</td>
                <td>
                    <select style="background-color:white" id="cboEstado" name="Estadocodi">
                        @foreach (var item in Model.ListacboEstado)
                        {
                            <option value="@item.Estadocodi">@item.Estadonomb</option>
                        }
                    </select>
                </td>
            </tr>
        </thead>
    </table>
    <br />
    <div style="width:1050px; height: auto;max-height: 650px;overflow-y: auto;overflow-x: scroll;">
        <table border="0" class="pretty tabla-icono" id="TablaConsultaMensajes" style="width:1500px; height: auto;overflow-y: auto;overflow-x: scroll; max-height: 500px">

            <thead>
                <tr>
                    <th style="text-align:left"></th>
                    <th style="text-align:left">Fec/Hor.Sistema</th>
                    <th style="text-align:left">Código de Seguimiento</th>
                    <th style="text-align:left">Usuario</th>
                    <th style="text-align:left">Justificacion</th>
                    <th style="text-align:left">Clase</th>
                    <th style="text-align:left">Estado</th>
                    <th style="text-align:left">Tip.Interv.</th>
                    <th style="text-align:left">Empresa</th>
                    <th style="text-align:left">Ubicación</th>
                    <th style="text-align:left">Equipo</th>
                    <th style="text-align:left">Fec.Inicio</th>
                    <th style="text-align:left">Fec.Fin</th>
                    <th style="text-align:left">MWI</th>
                    <th style="text-align:left">Ind</th>
                    <th style="text-align:left">Int</th>
                    <th style="text-align:left">Descripción</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ListaIntervenciones)
                {
                    var sClass = "odd";
                    var sStyle = "";
                    var sEstado = "EN PROCESO";
                    //if (iReg % 2 == 1) { sClass = "even"; }

                    if (item.Estadocodi == 2)
                    {   //Aprobado
                        sEstado = "APROBADO";
                    }
                    if (item.Estadocodi == 3)
                    {   //Rechazado
                        sStyle = "background-color:#FFC4C4; text-decoration:line-through";
                        sEstado = "RECHAZADO";
                    }
                    else if (item.Interdeleted == 1)
                    {   //Eliminado
                        sStyle = "background-color:#E0DADA; text-decoration:line-through";
                        sEstado = "ELIMINADO";
                    }
                    <tr id="fila_@item.Intercodi" class="@sClass">
                        <td style="text-align:center  @sStyle"><b>@item.IntNombTipoProgramacion</b></td>
                        <td style="text-align:center; @sStyle">@item.UltimaModificacionFechaDesc</td>
                        <td style="text-align:center; @sStyle"><b>@item.Intercodsegempr</b></td>
                        <td style="text-align:center; @sStyle">@item.UltimaModificacionUsuarioDesc</td>
                        <td style="text-align:left; @sStyle">@item.Interjustifaprobrechaz</td>
                        <td style="text-align:left; @sStyle">@item.ClaseProgramacion</td>
                        <td style="text-align:left; @sStyle">@item.EstadoRegistro</td>
                        <td style="text-align:left; @sStyle">@item.TipoEvenDesc</td>
                        <td style="text-align:left; @sStyle">@item.AreaNomb</td>
                        <td style="text-align:left; @sStyle">@item.FamNomb</td>
                        <td style="text-align:left; @sStyle">@item.Equiabrev</td>
                        <td style="text-align:center; @sStyle">@Convert.ToDateTime(item.Interfechaini).ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align:center; @sStyle">@Convert.ToDateTime(item.Interfechafin).ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align:center; @sStyle">@item.Intermwindispo</td>
                        <td style="text-align:center; @sStyle">@item.Interindispo</td>
                        <td style="text-align:center; @sStyle">@item.Interinterrup</td>
                        <td style="text-align:left; @sStyle">@item.Interdescrip</td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
    <div>
        <span class="button b-close btnClose"><span>X</span></span>
    </div>

}

