@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Enviar comunicación";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<link href="~/Content/Css/validacion.css" rel="stylesheet" />

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.1" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesArchivo.js?v=9.0.1"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesMensajeRegistro.js?v=9.0.1"></script>

<div class="form-title" id="container">
    <div class="content-titulo">Enviar comunicación</div>
    <div class="content-botonera">
        <input type="button" value="Regresar a listado" id="btnRegresar" />
    </div>
</div>

<div class="ast">
    <input type="hidden" id="hfIntercodis" value="@Model.Intercodis" />
    <input type="hidden" id="hfProgrcodi" value="@Model.IdProgramacion" />
    <input type="hidden" id="hfIdTipoProgramacion" value="@Model.IdTipoProgramacion" />
    <input type="hidden" id="hfCorreoFrom" value="@Model.Correo" />
    <input type="hidden" id="hfMsjCarpetaFiles" value="@Model.CarpetaFiles" />
    <input type="hidden" id="hfLogoEmail" value="@Model.LogoEmail" />
    <input type="hidden" id="hfOrigen" value="@Model.Origen" />

    <div class="content-hijo" id="mainLayout" style="padding-top:8px">

        <div class="row">

            <fieldset id="fsListado" style="padding-bottom: 10px;">
                <h3 style="margin-top: 0; margin-bottom: 0;">Información de intervencion(es) seleccionada(s)</h3>
                <div id="tabla_intervenciones">

                    <div id="listado">

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Mensaje</legend>
                <div id="mensaje_validacion" class="action-error" style="display: none;"></div>

                <table id="tablaMensaje">
                    <tbody>
                        <tr>
                            <td colspan="3" style="padding-top: 2px; text-align: right;">
                                <input type="button" id="btnEnviar" value="Enviar">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:120px" class="tbform-label">De:</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="From" id="From" value="@Model.Correo" maxlength="900" style="width:1090px;" disabled></td>
                        </tr>

                        <tr>
                            <td class="tbform-label">Para (*):</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="To" id="To" value="" maxlength="100" style="width:1090px; background-color: white"></td>
                        </tr>

                        <tr>
                            <td class="tbform-label">CC:</td>
                            <td class="registro-control" style="width:1100px;"><input name="CC" id="CC" type="text" value="" maxlength="120" style="width: 1090px; background-color: white"></td>
                        </tr>
                        <tr>
                            <td class="tbform-label"> BCC:</td>
                            <td class="registro-control" style="width:1100px;"><input name="BCC" id="BCC" type="text" value="" maxlength="120" style="width: 1090px; background-color: white"></td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Asunto (*):</td>
                            <td class="registro-control" style="width:1100px;">
                                <textarea maxlength="450" name="Asunto" id="Asuntos" value="" cols="" rows="3" style="resize: none; width: 1090px; background-color: white"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Especialista:</td>
                            <td class="registro-control" style="width:1100px;">
                                <select style="background-color:white;width:173px" name="txtListaEspecialista" id="cboListaEspecialista">
                                    @foreach (var reg in Model.ListaEspecialista)
                                    {
                                        if (reg.Percodi == Model.IdEspecialista)
                                        {
                                            <option value="@reg.Percodi" selected>@reg.Pernomb</option>
                                        }
                                        else
                                        {
                                            <option value="@reg.Percodi">@reg.Pernomb</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:120px" class="tbform-label">Cargo:</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="CargoEspecialista" id="idCargoEspecialista" value="@Model.CargoEspecialista" maxlength="100" style="width:1090px; background-color: white"></td>
                        </tr>
                        <tr>
                            <td style="width:120px" class="tbform-label">Teléfono:</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="TelefonoEspecialista" id="idTelefonoEspecialista" value="@Model.TelefonoEspecialista" maxlength="100" style="width:1090px; background-color: white"></td>
                        </tr>
                        <tr>
                            <td class="tbform-label"> Contenido (*):</td>
                            <td class="registro-control" style="width:1100px;">
                                <textarea name="Contenido" id="Contenido" maxlength="2000" cols="180" rows="15">
                        
                                </textarea>
                                (*): Campos obligatorios.
                            </td>
                            <td class="registro-label">
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" colspan="2">

                                <div id="html_archivos_mensaje" style="margin-top: 10px;">

                                </div>

                                <div>
                                    <iframe id="vistaprevia_mensaje" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>

            </fieldset>

        </div>
    </div>
</div>


