@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion

<div style="clear:both; height:15px"></div>
<table id="tablaListadoIntervAgente" border="0" class="pretty tabla-icono" cellspacing="0" style='width: 100%'>
    <thead>
        <tr>
            <th style="width: 120px">Nombre Empresa</th>
            <th style="width: 120px">Ubicación equipo</th>
            <th style="width: 120px">Nombre equipo</th>
            <th style="width: 80px">Fecha Inicio</th>
            <th style="width: 80px">Fecha Fin</th>
            <th style="width: 50px">Disp</th>
            <th style="width: 300px">Descripción</th>
            <th style="width: 100px">Fecha registro</th>
            <th style="width: 100px">Usuario</th>
            <th style="width: 80px">Ip cliente</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.ListaIntervenciones.Count > 0)
            {
                foreach (var item in Model.ListaIntervenciones)
                {
                    <tr>
                        <td style="text-align:left;">@item.EmprNomb</td>
                        <td style="text-align:left;">@item.AreaNomb</td>
                        <td style="text-align:left;">@item.Equiabrev</td>
                        <td style="text-align:left;">@item.InterfechainiDesc</td>
                        <td style="text-align:left;">@item.InterfechafinDesc</td>
                        <td style="text-align:center;">@item.InterindispoDesc</td>
                        <td style="text-align:left;">@item.Interdescrip</td>
                        <td style="text-align:left;">@item.FechaCambioAgenteDesc</td>
                        <td style="text-align:left;">@item.UsuarioCambioAgenteDesc</td>
                        <td style="text-align:left;">@item.Interipagente</td>
                    </tr>
                }
            }
        </tbody>
</table>
