@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
<script type="text/javascript">
    $('#idFechaAmp').Zebra_DatePicker({
        direction: true
    });

    $("#idAgregar").unbind();
    $("#idAgregar").click(function () {
        guardarAmpliacion();
    });
    $("#idCancelar").click(function () {
        $('#popupAmpliacion').bPopup().close();
    });

    $("#amplihora").unbind();
    $("#ampliminuto").unbind();

    $('#amplihora, #ampliminuto').blur(function (params) {
        while ($(this).val().length < 2)
            $(this).val('0' + $(this).val());
    });
</script>

<div style="clear:both; height:15px"></div>
<table id="tablaListadoCabecera" class="content-tabla-search" style="width:auto">

    <tr>
        <td>Programa:</td>
        <td>@Model.NombPrograDetallado</td>
    </tr>

    <tr>
        <td>Límite:</td>
        <td><input type="text" id="idFechaLimite" value="@Model.FechProgramacion" disabled="disabled" /></td>
    </tr>

    @if (Model.ULtimaAmpliacion != null)
    {
        <tr>
            <td>Límite  Modificado:</td>
            <td><input type="text" id="idUltAmpliacion" value="@Model.ULtimaAmpliacion" /></td>
        </tr>
    }
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Nuevo Límite:</td>
        <td><input type="text" id="idFechaAmp" value="" /></td>
    </tr>
    <tr>
        <td>Hora Plazo:</td>
        <td>
            <table style="width:30px;float: left;">
                <tr>
                    <td style="padding-top: 0px;">
                        <input type="text" id="amplihora" value="" style="background-color: white; width: 30px" min="0" max="24" maxlength="2" autocomplete="off" />
                    <td style="padding-top: 0px"><strong>:</strong></td>
                    <td style="padding-top: 0px">
                        <input type="text" id="ampliminuto" value="" style="background-color: white; width: 30px" min="0" max="59" maxlength="2" autocomplete="off" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>Descripción:</td>
        <td><input id="descripcion" type="text" name="descripcion" value="" /></td>
        <td><input id="progrcodi" value="@Model.EntidadProgramacion.Progrcodi" type="hidden" /> </td>
    </tr>

    <tr>
        <td>
            <input type="button" id="idAgregar" value="Agregar" />
        </td>
        <td>
            <input type="button" id="idCancelar" value="Cancelar" />
        </td>
    </tr>
</table>
<div class="popup-title titulo_listado" style="padding-top: 15px; font-size: 13px;"><span>Listado</span></div>
<table id="tablaListadoGrupodat" border="0" class="pretty tabla-icono" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 80px">Fecha Límite</th>
            <th style="width: 80px">Fecha Ampliación</th>
            <th style="width: 180px">Descripción</th>
            <th style="width: 120px">Usuario Creación</th>
            <th style="width: 120px">Fecha Creación</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.EntidadProgramacion.Ampliaciones.Count > 0)
            {
                foreach (var item in Model.EntidadProgramacion.Ampliaciones)
                {
                    string claseFila = "";
                    if (item.Progrcodi == 1) { claseFila = "clase_eliminado"; }
                    <tr class="@claseFila">
                        <td>@item.Parplafecdesde.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@item.Parplafechasta.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@item.Parpladesc</td>
                        <td>@item.Parplasucreacion</td>
                        <td>@item.Parplafeccreacion.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                }
            }
        </tbody>
</table>
