@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Programaciones";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.3.4" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/Programaciones.js?v=9.3.4"></script>

<style>
    .content-hijo .content-frame table tr td {
        vertical-align: middle;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Intervenciones</div>

    <div class="content-botonera">
        <a href="#" id="btnManualUsuario" style="text-decoration: none;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="ast">
    <div class="content-hijo" style="padding-top:8px">

        <div id="mensaje"></div>

        <div class="row">

            <table id="Contenido" border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div>
                    </td>
                </tr>

                <tr style="padding-top:200px">
                    <td style="width:65px;    padding-top: 10px;">Horizonte: </td>
                    <td style="width: 250px;">
                        <select style="background-color:white" id="tipoProgramacion">
                            <option value="0">-- Seleccionar --</option>
                            @foreach (var item in Model.ListaTiposProgramacion)
                            {
                                var selected = Model.IdTipoProgramacion == item.Evenclasecodi ? "selected" : "";
                                <option value="@item.Evenclasecodi" @selected>@item.Evenclasedesc</option>
                            }
                        </select>
                    </td>
                    <td style="width:57px;    padding-top: 10px;">Empresa:</td>
                    <td style="width:150px">
                        <select style="background-color:white" id="Empresa" multiple="multiple">
                            @foreach (var item in Model.ListaCboEmpresa)
                            {
                                <option id="opidprogra" value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>

                    <td colspan="15">
                        <!--Filtro de fechas-->
                        <div class="celda-item" style="width: 48px;padding-left: 6px;">
                            Desde:
                        </div>
                        @*diario ejecutado*@
                        <div class="filtroDiario filtro-contenido" style="padding-right: 5px;padding-left: 5px;">
                            <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.Progrfechaini" style="width:120px" class="filtro-contenido" />
                            <input type="hidden" id="hdfechaini" name="hdfechaini" value="@Model.Progrfechaini" />
                        </div>
                        @*semanal*@
                        <div class="filtroSemanal filtro-contenido" style="display: table-cell; padding-right: 4px;  padding-left: 5px; display: none">
                            <input type="text" id="AnhoFiltroIni" name="AnhoFiltroIni" style="width:62px;" value="@Model.AnhoIni" class="filtro-contenido" />
                        </div>
                        <div class="filtroSemanal filtro-contenido" style="display: table-cell; padding-right: 5px; display: none">
                            <div id="divSemanaIni" style="display:inline-block">
                                <select id="cboSemanaIni" name="IdSemanaIni" style="width: 100px">
                                    @foreach (var item in Model.ListaSemanasIni)
                                    {
                                        var selected = item.FechaIniSem == Model.FechaInicio ? "selected" : "";
                                        <option value="@item.FechaIniSem" @selected>@item.NombreTipoInfo</option>
                                    }
                                </select>
                                <input type="hidden" id="hdSemanaIni" name="hdSemanaIni" value="@Model.FechaInicio" />
                            </div>
                        </div>
                        @*mensual*@
                        <div class="filtroMensual filtro-contenido" style="padding-right: 5px;padding-left: 5px;">
                            <input type="text" id="tdmesini" name="tdmesini" value="@Model.MesIni" style="width: 80px" class="filtro-contenido" />
                            <input type="hidden" id="hdMesIni" name="hdMesIni" value="@Model.MesIni" />
                        </div>


                        <div class="celda-item" style="width: 48px;padding-left: 6px;">
                            Hasta:
                        </div>
                        @*diario ejecutado*@
                        <div class="filtroDiario filtro-contenido" style="padding-right: 5px;padding-left: 5px;">
                            <input type="text" id="FechaHasta" name="FechaFin" value="@Model.Progrfechafin" style="width:120px" class="filtro-contenido" />
                            <input type="hidden" id="hdEjecutadofin" name="hdEjecutadofin" value="@Model.Progrfechafin" />
                            <input type="hidden" id="hdDiariofin" name="hdDiariofin" value="@Model.ProgrfechafinH" />
                        </div>
                        @*semanal*@
                        <div class="filtroSemanal filtro-contenido" style="display: table-cell; padding-right: 4px;  padding-left: 5px; display: none">
                            <input type="text" id="AnhoFiltroFin" name="AnhoFiltroFin" style="width:62px;" value="@Model.AnhoFin" class="filtro-contenido" />
                        </div>

                        <div class="filtroSemanal filtro-contenido" style="display: table-cell; padding-right: 5px; display: none">
                            <div id="divSemanaFin" style="display:inline-block">
                                <select id="cboSemanaFin" name="IdSemanaFin" style="width: 100px">
                                    @foreach (var item in Model.ListaSemanasFin)
                                    {
                                        var selected = item.FechaIniSem == Model.FechaFin ? "selected" : "";
                                        <option value="@item.FechaIniSem" @selected>@item.NombreTipoInfo</option>
                                    }
                                </select>
                                <input type="hidden" id="hdSemanaFin" name="hdSemanaFin" value="@Model.FechaFin" />
                            </div>
                        </div>
                        @*mensual*@
                        <div class="filtroMensual filtro-contenido" style="padding-right: 5px;padding-left: 5px;">
                            <input type="text" id="tdmesfin" name="tdmesfin" value="@Model.MesFin" style="width: 80px" class="filtro-contenido" />
                            <input type="hidden" id="hdMesFin" name="hdMesFin" value="@Model.MesFin" />
                        </div>

                        <!--check sello semanal-->
                        <div class="filtroSello filtro-contenido" style="padding-right: 5px;padding-left: 5px;">
                            Sello <input type="checkbox" id="chkSello" checked>
                        </div>

                    </td>


                    <td style="text-align:left;">
                        <div class="botonera-item" style="width: 120px;">
                            <input type="button" value="Nuevo Programa" id="CrearProgramacion" style="visibility:hidden" />
                        </div>
                    </td>

                </tr>

            </table>

        </div>

        <div class="listado" id="listado" style="margin-top: 10px"></div>

    </div>

</div>

<!-- Histórico -->

<div id="popupAmpliacion" class="general-popup" style="width: 850px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Modificación del límite para el programado</span></div>
    <div class="panel-container">
        <div class="content-botonera" style="display: none; margin-top: 5px;">
            <input type="button" id="btnGrupodatNuevo" value="Nuevo" />
            <input type="button" id="btnGrupodatConsultar" value="Consultar" />
        </div>

        <div class="content-tabla">
            <div class="table-list" id="listadoGrupoDat"></div>
        </div>
    </div>

</div>

<!-- Nueva programación -->
<div id="popupProgramacion" class="general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Programación</span></div>
    <div class="panel-container">
        <div class="content-botonera" style="display: none; margin-top: 5px;">
        </div>

        <div class="content-tabla">
            <div class="table-list" id="listadoProgramas"></div>
        </div>
    </div>

</div>

