@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    var strColorAlerta = "background: #585858;";
    var strColor = "color: white;";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje" value="@Model.StrMensaje" />
    <input type="hidden" id="hdDetalle" value="@Model.Detalle" />

    return;
}

<input type="hidden" id="hdInterindispo" value="@Model.Entidad.Interindispo" />

<div class='panel-container'>
    <div class="form-search">

        Datos de la intervención que tiene alerta:
        <table class="pretty tabla-icono tabla-ems" style="width: 700px;">
            <thead>
                <tr>
                    <th style="">Empresa</th>
                    <th style="">Ubicación</th>
                    <th style="">Equipo</th>
                    <th>Tip. Interv.</th>
                    <th style="">Hora Inicio</th>
                    <th style="">Hora Fin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>  @Model.Entidad.EmprNomb</td>
                    <td style="">   @Model.Entidad.AreaNomb</td>
                    <td style="">   @Model.Entidad.Equiabrev</td>
                    <td style="text-align:left;">@Model.Entidad.Tipoevenabrev</td>
                    <td>@Model.Entidad.InterfechainiDesc</td>
                    <td>@Model.Entidad.InterfechafinDesc</td>
                </tr>
            </tbody>
        </table>

        <br />

        @if (Model.Entidad.Interindispo == "F")
        {
            <span>Unidades que tienen datos RPF:</span>

            <table class="pretty tabla-icono tabla-ems" style="width: 300px;">
                <thead>
                    <tr>
                        <th style="@strColorAlerta @strColor">Equipo</th>
                        <th style="@strColorAlerta @strColor">Medida</th>
                        <th style="@strColorAlerta @strColor">Hora Inicio</th>
                        <th style="@strColorAlerta @strColor">Hora Fin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaValidacionPR21)
                    {
                        <tr>
                            <td>@item.Equinomb</td>
                            <td>@item.Tipoinfoabrev</td>
                            <td>@item.FechaIniDesc</td>
                            <td>@item.FechaFinDesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>Rangos de fecha cuyos equipos no presentan datos RPF:</span>

            <table class="pretty tabla-icono tabla-ems" style="width: 300px;">
                <thead>
                    <tr>
                        <th style="@strColorAlerta @strColor">Equipo</th>
                        <th style="@strColorAlerta @strColor">Medida</th>
                        <th style="@strColorAlerta @strColor">Hora Inicio</th>
                        <th style="@strColorAlerta @strColor">Hora Fin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaValidacionPR21)
                    {
                        <tr>
                            <td>@item.Equinomb</td>
                            <td>@item.Tipoinfoabrev</td>
                            <td>@item.FechaIniDesc</td>
                            <td>@item.FechaFinDesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>