@model COES.MVC.Intranet.Areas.Medidores.Models.EquivalenciaModel

<table style="width:100%">
    <tr>
        <td valign="top" style="width:47%">
            <div class="popup-title" style="margin-bottom:10px"><span>Códigos de Medidores</span></div>
            <table cellpadding="0" cellspacing="0" class="pretty tabla-icono" id="tbMedidores">
                <thead>
                    <tr>
                        <th></th>
                        <th>Central</th>
                        <th>Equipo</th>
                        <th>Punto Medición</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaMedicion)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="rbMedidor" value="@item.Ptomedicodi" onclick="seleccionarFila(this);" />
                            </td>
                            <td>@item.Central</td>
                            <td>@item.Equinomb</td>
                            <td>@item.Ptomedicodi</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td style="width:6%"></td>
        <td valign="top" style="width:47%">
            <div class="popup-title" style="margin-bottom:10px"><span>Códigos de Despacho</span></div>
            <table cellpadding="0" cellspacing="0" class="pretty tabla-icono" id="tbDespacho">
                <thead>
                    <tr>
                        <th></th>
                        <th>Central</th>
                        <th>Equipo</th>
                        <th>Punto Medición</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDespacho)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="rbDespacho" value="@item.Ptomedicodi" onclick="seleccionarFila(this);" />
                            </td>
                            <td>@item.Central</td>
                            <td>@item.Equinomb</td>
                            <td>@item.Ptomedicodi</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>