@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleModel
@{
    ViewBag.Title = "Configuración de Límites mínimos y máximos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Combustibles/Content/Css/css.css?v=1.7.8" rel="stylesheet" />
<link href="~/Areas/Combustibles/Content/Css/formularioweb.css?v=1.7.8" rel="stylesheet" />
<script src="~/Areas/Combustibles/Content/Scripts/detalleParametro.js?v=1.7.8"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de Límites mínimos y máximos </div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnInicio"/>
    </div>
</div>
<style>
    td.resultado {
        text-align: left !important;
        text-indent: 10px;
    }
</style>

<div class="content-hijo" id="mainLayout">

    <div class="search-content3">

        <div style="display:table">
            <div style="display:table-row">
                <div style="display:table-cell;padding-top: 5px;  padding-bottom: 5px;">
                    <div style="display:table">
                        <div style="display:table-row">
                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Empresa:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 170px; padding-right: 5px;">
                                <select id="cbEmpresa" style="width:170px;" disabled>
                                    <option value="">@Model.Centralxfenerg.Emprnomb</option>
                                </select>
                            </div>

                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Central:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 170px; padding-right: 5px;">
                                <select id="cbCentral" style="width:170px;" disabled>
                                    <option value="">@Model.Centralxfenerg.Equinomb</option>
                                </select>
                            </div>

                            <div class="celda-item" style="display:table-cell;width:200px;">
                                Combustible:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 150px; padding-right: 5px;">
                                <select id="cbFenerg" style="width:150px;" disabled>
                                    <option value="">@Model.Centralxfenerg.Fenergnomb</option>
                                </select>
                            </div>
                            <div class="filtro-contenido" style="display: table-cell;">
                                <input type="button" id="btnGrupomop" value="Ir a Parámetros Grupos/Mop" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: table-cell;width:100%">
                </div>
                <div style="display: table-cell; text-align: right;">
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="txtCbcxfecodi" value="@Model.Centralxfenerg.Cbcxfecodi" />
    <input type="hidden" id="hdIdGrupo" value="@Model.IdGrupo" />
    <input type="hidden" id="hdIdAgrup" value="@Model.IdAgrup" />
    <input type="hidden" id="hdFechaConsulta" value="@Model.FechaConsulta" />

    <div class="content-tabla" style=" margin-top: 15px;">

        <div style="width:auto" id="listado">
        </div>
        <br />
        <div style="text-align: right;width:52%">
            <input type="button" id="btnGuardar" value="Guardar" />
        </div>
    </div>

</div>