@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Factor K";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />

<link href="~/Areas/IND/Content/Css/css.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Areas/IND/Content/Scripts/insumo_factork.js?v=1.0.1"></script>

<div class="form-title">
    <div class="content-titulo">Factor K</div>
</div>

<div id="mainLayout" class="content-hijo">

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaConsulta">Consulta</a></li>
            <li class='tab'><a href="#vistaImportacion">Importación</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaConsulta">
                <div id="mensaje_consultar" class="action-message" style="margin:0; margin-bottom:10px">
                    Por favor seleccione una empresa, una central y una unidad, y luego presione el botón Consultar.
                </div>
                <div class="search-content">
                    <table style="width:auto" role="presentation" class="content-tabla-search">
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                            <td>
                                <select id="cbAnio" style="width: 57px;">
                                    @foreach (var item in Model.ListaAnio)
                                    {
                                        var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                        <option value="@item.Entero1" @(selected)>@item.String1</option>
                                    }
                                </select>
                                <select id="cbPeriodo" style="width: 120px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                                        <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                                    }
                                </select>
                            </td>
                            <td class="tbform-label" style=""></td>
                            <td></td>
                            <td class="tbform-label" style=""></td>
                            <td></td>
                            <td class="tbform-label" style=""></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Tipo Empresa:</td>
                            <td>
                                <select id="cbTipoEmpresa" name="cbTipoEmpresa">
                                    @foreach (var item in Model.ListaTipoEmpresa)
                                    {
                                        <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoEmpresa" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="cbEmpresa">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfEmpresa" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Central:</td>
                            <td>
                                <select id="cbCentral" name="cbCentral">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaCentral)
                                    {
                                        <option value="@item.Equicodi">@item.Equinomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfCentral" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Unidad:</td>
                            <td>
                                <select id="cbUnidadNombre" name="cbUnidadNombre">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaUnidadNombre)
                                    {
                                        <option value="@item.Relempcodi">@item.Relempunidadnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfUnidadNombre" value="-1" />
                            </td>
                            <td>
                                <input type="button" id="btnBuscar" value="Consultar" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="mensajeListado1" style="margin-bottom: 5px; margin-top: 0px; color: red;"></div>
                <div id="cabeceraListado1" style="margin-bottom: 10px; margin-top: 0px; display: none;">
                    <input type="hidden" id="txtInsfckcodi" name="Insfckcodi" />
                    <table style="width:auto" role="presentation" class="content-tabla-search">
                        <tr>
                            <td class="tbform-label" style="">Periodo</td>
                            <td><input type="text" id="txtIperinombre" name="Iperinombre" style="width:200px" disabled /></td>
                            <td class="tbform-label" style="">Empresa</td>
                            <td><input type="text" id="txtEmprnomb" name="Emprnomb" style="width:200px" disabled /></td>
                            <td class="tbform-label" style="">Central</td>
                            <td><input type="text" id="txtEquinombcentral" name="Equinombcentral" style="width:200px" disabled /></td>
                            <td class="tbform-label" style="">Unidad</td>
                            <td><input type="text" id="txtRelempunidadnomb" name="Relempunidadnomb" style="width:200px" disabled /></td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="">FRC</td>
                            <td><input type="text" id="txtInsfckfrc" name="Insfckfrc" style="width:120px" required onkeypress="return validarNumero(this, event)" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="position: absolute; right: 75px;"><input type="button" id="btnGuardar" value="Guardar" /></td>
                        </tr>
                    </table>
                </div>
                <div id="listado1" class="table-list" style=" min-height: 250px;"></div>
                <div id="popupErrores" style="padding: 20px; border-radius: 10px; background-color:#FFFFFF"></div>
            </div>
            <div id="vistaImportacion">
                <div class="search-content">
                    <table style="width:auto" role="presentation" class="content-tabla-search">
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                            <td>
                                <select id="cbAnio2" style="width: 57px;">
                                    @foreach (var item in Model.ListaAnio)
                                    {
                                        var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                        <option value="@item.Entero1" @(selected)>@item.String1</option>
                                    }
                                </select>
                                <select id="cbPeriodo2" style="width: 120px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                                        <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                                    }
                                </select>
                            </td>
                            <td class="tbform-label" style="">Fecha inicio:</td>
                            <td>
                                <input type="text" id="dtFechaInicio2" value="" style="width: 95px" />
                            </td>
                            <td class="tbform-label" style="">Fecha fin:</td>
                            <td>
                                <input type="text" id="dtFechaFin2" value="" style="width: 95px" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Tipo Empresa:</td>
                            <td>
                                <select id="cbTipoEmpresa2" name="cbTipoEmpresa2">
                                    @foreach (var item in Model.ListaTipoEmpresa)
                                    {
                                        <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoEmpresa2" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Empresa:</td>
                            <td>
                                <select id="cbEmpresa2" name="cbEmpresa2">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfEmpresa2" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Central:</td>
                            <td>
                                <select id="cbCentral2" name="cbCentral2">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaCentral)
                                    {
                                        <option value="@item.Equicodi">@item.Equinomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfCentral2" value="-1" />
                            </td>
                            <td class="tbform-label" style="">Unidad:</td>
                            <td>
                                <select id="cbUnidadNombre2" name="cbUnidadNombre2">
                                    <option value="0">TODOS</option>
                                    @foreach (var item in Model.ListaUnidadNombre)
                                    {
                                        <option value="@item.Relempcodi">@item.Relempunidadnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfUnidadNombre" value="-1" />
                            </td>
                            <td>
                                <input type="button" id="btnImportar" value="Importar" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="notaImportante" style="margin-bottom:5px; margin-top:0px">
                    <span style="color:red;">Nota Importante:</span><br /><br />
                    La importación será desde la Extranet hacia la Intranet y se realizará para el periodo, fechas, tipo de empresa, empresa, central y unidad especificados.<br />
                    En el caso que existan registros en la Intranet para el filtro especificado, los datos se perderán y serán reemplazados por los datos de la Extranet.
                </div>
            </div>
        </div>
    </div>
</div>