@model COES.MVC.Extranet.Areas.Resarcimientos.Models.RechazoCargaListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".::Extranet COES::.";
    List<Tuple<int, string>> listEmpresaGeneradora = ViewBag.empresaGeneradora;
}

<link type="text/css" rel="stylesheet" href="~/content/css/tabs.css" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/Resarcimientos/Content/Css/reporte.css" rel="stylesheet" />

<script type="text/javascript" src="~/content/scripts/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="~/content/scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-reporte.js"></script>

<div class="form-title" style="height:16px;">
    <div class="content-titulo" style="width:90%;margin:auto">Resarcimientos - Consulta de Envíos de Información</div>
    <div class="content-botonera" style="width:10%; margin-right:0">
        <input type="button" id="btn-consultar" value="Consultar" />
    </div>
</div>
<div class="content-hijo">
    <div class="tools-content" style="margin-bottom:15px">
        <div class="button-content">
            <div class="button-item">
                <div class="button-item">
                    <span class="field-label" style="width:150px;">Empresa Generadora</span>
                    <div class="field-control">
                        @Html.DropDownList("CboEmpresasGeneradoras", ViewData["CboEmpresasGeneradoras"] as List<SelectListItem>, new { @style = "width:200px;" })
                    </div>
                </div>
                <div class="button-item" style="margin-left: 10px">
                    <span class="field-label" style="width:150px;">Per&iacute;odo</span>
                    <div class="field-control">
                        @Html.DropDownList("CboPeriodo", ViewData["CboPeriodo"] as List<SelectListItem>, new { @style = "width:200px;" })
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="button-content">
            <div class="button-item">
                <input type="button" id="btn-tabla_envios" value="Ocultar Tabla Envios" class="btn-aditional btn-ocultar-grilla" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-excel-descargar" value="Descargar Excel" class="btn-aditional btn-download-excel" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both"></div>
        <div id="resultado"></div>
    </div>

    <div id='jqxWidget'>
        <div id="mainSplitter">
            <div class="splitter-panel">
                <div id="panel" style="margin:5px; overflow-y:scroll; height:400px">
                    <table id="tblTramites" border="0" class="pretty tabla-formulario">
                        <thead>
                            <tr>
                                <th colspan="6">Tabla de Envios NTCSE</th>
                            </tr>
                            <tr>
                                <th>
                                    Código de Envío
                                </th>
                                <th>
                                    Empresa Generadora
                                </th>
                                <th>
                                    Periodo
                                </th>
                                <th>
                                    Usuario de Envío
                                </th>
                                <th>
                                    Fecha de Envío
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mp in Model.ListTable)
                            {
                                <tr>
                                    <td style="text-align:center"><a data-ofercodi="@mp.EnvioCodi" class="codenvio"> @mp.EnvioCodi</a></td>
                                    <td style="text-align:center">@mp.RpeEmpresaGeneradoraNombre</td>
                                    <td style="text-align:center">@mp.PeriodoDesc</td>
                                    <td style="text-align:center">@mp.RpeUsuarioCreacion</td>
                                    <td style="text-align:center">@string.Format("{0:" + @COES.MVC.Extranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RpeFechaCreacion)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="splitter-panel">
                <div id="mensaje"></div>
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tab-pe">PE</a></li>
                        <li class='tab'><a href="#tab-rc">RC</a></li>
                    </ul>
                    <div id="tab-pe">
                        <div id="hst-grilla-pe" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 600px; width: 100%; overflow: hidden;"></div>
                    </div>
                    <div id="tab-rc">
                        <div id="hst-grilla-rc" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 600px; width: 100%; overflow: hidden;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>