@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Maestros.FiltroDetalleEntidadSincronizada


<div class="clear-right">
    <div class="title-seccion">@Html.DisplayFor(model => model.EntidadLabel)</div>
</div>
<div class="search-content">
 
    @if (Model.EntidadLabel.Equals("Entidad: Resultado"))
    {
    <table style="width:auto">
        <tr>
            <td>Entidad:</td>
            <td colspan="2">          
                <select style="width:260px;" id="entCodi" name="entCodi">
                    <option value="">-- Todos --</option>
                    @foreach (var item in Model.ListEntidades)
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Estado de sincronización: </td>
            <td>
                Registros Pendientes
                <input type="radio" name="rbTipo" value="P" class="rbTipo" checked="checked" />
            </td>
            <td>
                    Registros Listos
                <input type="radio" name="rbTipo" value="L" class="rbTipo"/>
            </td>
        </tr>
        <tr>
            <td style="width:200px;">Sincronización mas reciente:</td>
            <td colspan="2">
                <input style="width:260px;" type="text" readonly value="@Model.FechaUltSincronizacion" />
            </td>
        </tr>
    </table>
        
        <input type="button" value="Buscar" id="submit" class="form-action" />
        
    }
    else
    { 
        
        @Html.LabelFor(model => model.NombreEntidad, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.NombreEntidad, new { @class = "form-control" })
       
        <input type="button" value="Buscar" id="submit" class="form-action" />
        <input type="button" id="btnExportar" name="btnExportar" value="Exportar XLS" class="form-action" />
        
        @*HDT Inicio 29/06/2017*@
    <input type="button" id="btnExportarDatosOsi" name="btnExportarDatosOsi" value="Exportar Datos Osinergmin" class="form-action" />
        @*HDT Fin*@
    }


</div>

<div id="popupEdicion" class="general-popup" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Homologación de Código</span></div>
    <div class="action-message" id="mensaje2">Por favor complete los datos y guarde los cambios.</div>

    <fieldset>
        <legend>Entidad: <span id="lblEntidad"> </span></legend>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width:120px;">Código:</td>
                <td colspan="2">
                    <input style="width:80px;" type="text" readonly value="" id="lblCodigo"/>
                </td>
            </tr>
            <tr>
                <td style="width:120px;">Descripción:</td>
                <td colspan="2">
                    <input style="width:320px;" type="text" readonly value="" id="lblDescripcion" />
                </td>
            </tr>
            <tr>
                <td style="width:120px;">Entidad Osinergmin:</td>
                <td colspan="2">
                    <select style="width:320px;" id="entidades" name="entidades">
                    </select>
                    <input style="width:120px;"  id="textBarra" name="textBarra" />
                </td>
            </tr>
        </table>
    </fieldset><br>

    <div style="clear:both; height:20px"></div>
    <center>
        <input type="submit" id="btnGrabarEditor" value="Asignar" />
        @*<input type="button" id="btnCancelar" value="Cancelar" />*@
    </center>
</div>

<input type="hidden" id="hfEnt" value="@Model.EntidadLabel" />
<script src="~/Areas/IntercambioOsinergmin/Content/Scripts/sincronizacionFiltro.js"></script>
<link href="~/Areas/IntercambioOsinergmin/Content/Css/css.css" rel="stylesheet" />
