@using System.Linq
@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Maestros.ListadoEntidades

<table class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            @if (Model.Entidad == "Ninguno")
            {
                <th>Entidad</th>
                <th>Código Registro Entidad</th>
                <th>Descripción</th>
                <th>Indicación del Estado</th>
                if (Model.Radio == "P")
                {
                    <th>Acciones</th>
                }
            }
            else
            { 
                <th>Código</th>
                if (Model.Entidad == "Empresa" || Model.Entidad == "UsuarioLibre")
                {
                    <th>Nombre</th>
                }
                else
                { 
                    <th>Descripción</th>
                }
                <th>Código Osinergmin</th>
                if (Model.Entidad == "Empresa")
                {
                    <th>Tipo de Empresa</th>
                }
                <th>Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetalleEntidadModelList)
        {
            <tr class="menu-contextual" id="@item.Codigo">
                @if (Model.Entidad == "Ninguno")
                {
                    <td>@item.EntidadDescripcion</td>
                    <td>@item.CodigoOsinergmin</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Estado</td>
                    
                    if (Model.Radio == "P")
                    {                   
                        <td>
                            <a href="JavaScript:asignar('@item.EntidadDescripcion', '@item.CodigoOsinergmin', '@item.Descripcion', '');" title="Asignar Homologación"><img src="~/Content/Images/btn-ok.png" alt=""></a>
                        </td>
                    }
                } 
                else
                { 
                    <td>@item.Codigo</td>
                    <td>@item.Descripcion</td>
                    <td>@item.CodigoOsinergmin</td>
                    if (Model.Entidad == "Empresa")
                    {
                        <td>@item.EntidadDescripcion</td>
                    } 
                    <td>
                        @if (item.CodigoOsinergmin != null)
                        { 
                            <a href="JavaScript:asignar('@Model.Entidad', '@item.Codigo', '@item.Descripcion', '@item.CodigoOsinergmin.Trim()');" title="Asignar Homologación"><img src="~/Content/Images/btn-ok.png" alt=""></a>
                            <a href="JavaScript:quitarAsignacion('@Model.Entidad', '@item.Codigo.Trim()', '@item.CodigoOsinergmin.Trim()');" title="Deshacer Homologación"><img src="~/Content/Images/btn-cancel.png" alt=""></a>
                        }
                        else
                        {
                            <a href="JavaScript:asignar('@Model.Entidad', '@item.Codigo', '@item.Descripcion', '@item.CodigoOsinergmin');" title="Asignar Homologación"><img src="~/Content/Images/btn-ok.png" alt=""></a>
                        }                                             
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

