@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.PronosticoModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/DemandaGeneracion/demanda_historica.js"></script>

<div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
    <div class="ws-wrapper" style="min-height: 600px;">
        <div class="ws-options is-left">
            <div class="tool-item">
                <label id="btn-manual" title="Manual de funciones">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
                </label>
            </div>
        </div>
        <div class="ws-content is-middle">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Fecha</div>
                    <input id="id-fecha" type="text" class="f-fecha" value="@Model.Fecha" />
                </div>
                <div class="filters">
                    <div>Área Operativa</div>
                    <select id="id-area" class="f-select">
                        @foreach (var item in Model.ListArea)
                        {
                            if (item.Item4)
                            {
                                <option value="@item.Item1" selected>@item.Item3</option>
                            }
                            else
                            {
                                <option value="@item.Item1">@item.Item3</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="ws-content-body">
                <div class="ws-wrapper" style="height: 500px;">
                    <div id="ht"
                         style="min-width: 500px; overflow: auto;"></div>
                    <div id="hc"
                         style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="ws-tools as-box-container is-right">
            <div class="box">
                <div class="box-title">
                    Herramientas
                </div>
                <div id="zd" style="min-width: 140px; padding: 5px;"></div>
            </div>
        </div>
    </div>
</div>
