@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoUbicacionesModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Zona</th>
            <th>Nuevo Nombre</th>
            <th>Tipo</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaUbicaciones.Count > 0)
        {
            foreach (var item in Model.ListaUbicaciones)
            {
                <tr>
                    <td>
                        @if (item.Flagenprotec == "1")
                        {
                            <a href="JavaScript:editarUbicacion(@item.Areacodi, @item.Epareacodi);" title="Editar la Zona o el Nombre"><img src="~/Content/Images/btn-edit.png" alt="Editar"></a>
                            <a href="JavaScript:eliminar(@item.Epareacodi);" title="Quitar del módulo de Protecciones"><img src="~/Content/Images/btn-cancel.png" alt="Quitar"></a>
                        }
                        else
                        {
                            <a href="JavaScript:agregarUbicacion(@item.Areacodi);" title="Agregar al módulo de Protecciones"><img src="~/Content/Images/btn-add.png" alt="Agregar"></a>
                        }

                    </td>
                    <td>@item.Zona</td>
                    <td>@item.Areanombenprotec</td>
                    <td>@item.Tareaabrev</td>
                    <td>@item.Areanomb</td>
                </tr>
            }
        }

    </tbody>
</table>