@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEquipoModel


<table class="tabla-formulario" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>T. Equipo</th>
            <th>Equipo</th>           
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model.ListaEquipo)
         {   
              <tr onclick="seleccionarEquipo(@item.EQUICODI, '@item.AREANOMB', '@item.EQUIABREV', '@item.EMPRENOMB', @item.EMPRCODI);" style="cursor:pointer">
                  <td>@item.EMPRENOMB</td>
                  <td>@item.TAREAABREV</td> 
                  <td>@item.AREANOMB</td>
                  <td>@item.FAMABREV</td>
                  <td>@item.EQUIABREV</td>                  
              </tr>
         }
    </tbody>
</table>

