@model COES.MVC.Intranet.Areas.Mediciones.Models.GeneracionRERModel

<table border="0" class="tabla-formulario" id="tabla_reporte" style="max-width: 1100px;">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha de Envío</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporte)
        {
            var colorFondo = "";
            if (item.Envioplazo == "P")
            {
                colorFondo = "text-align: center; background-color:SteelBlue;color:white";

            }
            if (item.Envioplazo == "F")
            {
                colorFondo = "text-align: center; background-color:orange;color:white";
            }

            <tr>
                <td>@item.Emprnomb</td>
                <td style="@colorFondo">@item.EnvioplazoDesc</td>
                <td>@item.Lastuser</td>
                <td style="text-align: center">@item.Enviofecha2</td>
            </tr>
        }
    </tbody>
</table>

