@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.PeriodoModel
<table border="0" class="pretty tabla-icono" id="tablaPeriodo">
    <thead>
        <tr>
            <th style="width:100px">Acciones</th>
            <th>Año</th>
            <th>Tipo</th>
            <th>Periodo</th>
            <th>Orden anual</th>
            <th>Periodo padre</th>
            <th>F. Inicio</th>
            <th>F. Fin</th>
            <th>T. Cambio</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>F. Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Listado)
        {
        <tr>
            <td style="width:100px">
                <a href="JavaScript:editar(@item.Repercodi);"><img src="~/Content/Images/btn-edit.png" alt="Editar Periodo" /></a>

                @if (Model.Grabar)
                {

                    <a href="JavaScript:eliminar(@item.Repercodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Periodo" /></a>
                }
                <a href="JavaScript:habilitarCarga(@item.Repercodi);"><img src="~/Content/Images/btn-ok.png" alt="Habilitar Carga" /></a>
                @if (Model.Grabar) { 
                    if (item.Repertipo == "Semestral" && item.Reperrevision != "S")
                    {
                        <a href="JavaScript:confirmarActualizacion(@item.Repercodi);"><img src="~/Content/Images/btn-properties.png" alt="Actualizar desde el trimestral" title="Copiar desde el trimestral" /></a>
                    }
                }

                </td>
            <td>@item.Reperanio</td>
            <td>@item.Repertipo</td>
            <td>@item.Repernombre</td>
            <td>@item.Reperorden</td>
            <td>@item.Repernombrepadre</td>
            <td>@(((DateTime)item.Reperfecinicio).ToString("dd/MM/yyyy"))</td>
            <td>@(((DateTime)item.Reperfecfin).ToString("dd/MM/yyyy"))</td>
            <td>@(((decimal)item.Repertcambio).ToString("#,###.00"))</td>
            <td>@item.Reperestado</td>
            <td>@item.Reperusumodificacion</td>
            <td>@item.Reperfecmodificacion</td>
        </tr>
        }
    </tbody>
</table>