@model COES.MVC.Intranet.Areas.Equipamiento.Models.ManiobraModel

<div style="clear:both; height:10px"></div>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>            
            <th>Empresa</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>T. Equipo</th>
            <th>Equipo</th> 
            <th>Abreaviación</th>     
            <th>Procedimiento Maniobra</th>   
            <th>Actualizar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipos)
        {
            <tr>
                <td>@item.EMPRNOMB</td>
                <td>@item.TAREAABREV</td>
                <td>@item.AREANOMB</td>
                <td>@item.FAMABREV</td>
                <td>@item.Equiabrev</td>
                <td>@item.Equinomb</td>
                <td style="text-align:center">
                    @if (item.Urlmaniobra != null)
                    {
                        if (item.Urlmaniobra != string.Empty)
                        { 
                            <a href="@item.Urlmaniobra">Descargar</a>
                        }
                    }
                </td>
                <td style="text-align:center">
                    
                    <a href="JavaScript:actualizarProcedimiento(@item.Equicodi, @item.Famcodi, '@item.Urlmaniobra')"><img src="~/Content/Images/btn-edit.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>