@model COES.MVC.Extranet.Areas.Account.Models.RepresentanteModel
<link href="~/Areas/Account/Content/Css/css.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<script type="text/javascript" charset="utf-8">
       
    $(document).ready(function () {
        cargarEmpresas();     
    });

</script>

<div class="action-message" id="mensajeEdit" style="margin-bottom:5px">Datos del usuario que envía datos al COES</div>
<div class="content-registro" style="margin-top:0">
   
    <form id="frmRegistro" name="frmRegistro">       
        <table>
            <tr>
                <td style="width:49%" valign="top">
                    <div class="popup-title"><span>Datos del Usuario</span></div>
                    <div style="clear:both; height:10px"></div>

                    <table style="width:100%">
                        <tr>
                            <td class="registro-label" style="width:170px">Nombre y Apellido:</td>
                            <td class="registro-control" style="padding-right:50px">
                                @Model.Entidad.UsernName
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Correo electrónico:</td>
                            <td class="registro-control" style="padding-right:50px">
                                @Model.Entidad.UserLogin
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="registro-label">Teléfono:</td>
                            <td class="registro-control">
                                @Model.Entidad.UserTlf &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Área laboral:</td>
                            <td class="registro-control">
                               @Model.Entidad.AreaLaboral &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Cargo:</td>
                            <td class="registro-control">
                                @Model.Entidad.UserCargo &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Motivo de contacto:</td>
                            <td class="registro-control">
                                @Model.Entidad.MotivoContacto &nbsp;
                            </td>
                        </tr>
                    </table>
                    
                    <input type="hidden" id="hfIdUsuario" value="@Model.Entidad.UserCode" name="UserCode" />
                    <input type="hidden" id="hfModulos" name="Modulos" />

                    <div style="clear:both; height:20px"></div>
                    <div class="popup-title"><span>Datos de Auditoría</span></div>
                    <div style="clear:both; height:15px;"></div>
                    <table style="width:100%">
                        <tr>
                            <td class="registro-label">Creado por:</td>
                            <td class="registro-control">@Model.Entidad.UserUCreacion</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Fecha creación:</td>
                            <td class="registro-control">@Model.Entidad.UserFCreacion</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Actualizado por:</td>
                            <td class="registro-control">@Model.Entidad.LastUser</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Fecha actualización</td>
                            <td class="registro-control">@Model.Entidad.LastDate</td>
                        </tr>
                    </table>
                </td>
                <td style="width:2%"></td>
                <td style="width:49%" valign="top">
                    <div class="popup-title"><span>Módulos a los que accede</span></div>
                    <div style="clear:both; height:15px"></div>
                    <table class="pretty tabla-icono" id="tablaModulos">
                        <thead>
                            <tr>
                                <th>
                                    
                                </th>
                                <th>Módulo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaModulo)
                            {
                                <tr>
                                    <td>
                                        @if (item.Selected > 0)
                                        {
                                            <input type="checkbox" checked="checked" id="cbSelect" value="@item.ModCodi" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="cbSelect" value="@item.ModCodi" disabled="disabled" />
                                        }
                                    </td>
                                    <td>@item.ModNombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="clear:both; height:15px"></div>
                    <div class="popup-title"><span>Empresas donde carga</span></div>
                    <div style="clear:both; height:15px"></div>
                    
                    <div id="empresa-selected">
                    </div>

                </td>
            </tr>
        </table>
        <div style="width:70px; margin:auto; margin-top:20px">          
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </form>
</div>
