@model COES.MVC.Extranet.Areas.Account.Models.RepresentanteModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:60px">Ver</th>
            <th>Empresa</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th style="width:90px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaUsuarios.Count > 0)
        {
            foreach (var item in Model.ListaUsuarios)
            {
                <tr>
                    <td style="width:60px">
                        <a href="JavaScript:editar(@item.UserCode);"><img src="~/Content/Images/btn-edit.png" title="Ver datos del usuario" /></a>                      
                    </td>
                    <td>@item.EmpresaNombre</td>
                    <td>@item.UserLogin</td>
                    <td>@item.UsernName</td>
                    <td>@item.UserTlf</td>
                    <td style="width:90px">
                        @if (item.UserState == "P")
                        {
                            <span style="color:#ffd800">Pendiente</span>
                        }
                        else if (item.UserState == "A")
                        {
                            <span style="color:green">Activo</span>
                        }
                        else if (item.UserState == "B")
                        {
                            <span style="color:#ff0000">Baja</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>