@model COES.MVC.Intranet.Areas.Resarcimientos.Models.RechazoCargaListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".::Intranet COES::.";
}

<link type="text/css" rel="stylesheet" href="~/content/css/tabs.css" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.js"></script>

<script src="~/Areas/Resarcimientos/Content/Scripts/validCampoFranz.js"></script>
<script type="text/javascript" src="~/content/scripts/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="~/content/scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-reporte.js"></script>

<div class="form-title">
    <div class="content-titulo" style="width:40%">Resarcimientos - Reporte Hist&oacute;rico</div>
    <div class="content-botonera">
        <input type="button" id="btn-excel-descargar" value="Descargar Excel" />
    </div>
    <div class="content-botonera">
        <input type="button" id="btn-tabla_envios" value="Ocultar Tabla Envios" />
    </div>
    <div class="content-botonera">
        <input type="button" id="btn-consultar" value="Consultar" />

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#CodEnvio').validCampoFranz('0123456789');
    });
</script>

<div class="content-hijo">
    <div class="tools-content" style="margin-bottom:15px">
        <div class="button-content">
            <span class="field-label" style="width:130px;">Empresa Generadora</span>
            <div class="field-control">
                @Html.DropDownList("CboEmpresasGeneradoras", ViewData["CboEmpresasGeneradoras"] as List<SelectListItem>, new { @style = "width:200px; margin-right:15px;", @autofocus = "autofocus", @autocorrect = "off", @autocomplete = "off" })
            </div>
            <span class="field-label" style="width:50px;margin-left:10px">Per&iacute;odo</span>
            <div class="field-control">
                @Html.DropDownList("CboPeriodo", ViewData["CboPeriodo"] as List<SelectListItem>, new { @style = "width:200px;margin-right:15px" })
            </div>

            <span class="field-label" style="width:100px">Código de Envio:</span>
            <div class="field-control">
                <input type="text" name="CodEnvio" id="CodEnvio" value="" placeholder="Ingrese Código de Envio" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both"></div>
        <div id="resultado"></div>
    </div>

    <div id="panel-historico">
        <div id="panel-detalle">
            <div id="panel-01" style="margin:5px; overflow-y:scroll; height:400px">
                <table id="tblTramites" border="0" class="pretty tabla-formulario">
                    <thead>
                        <tr>
                            <th colspan="6">Tabla de Envios NTCSE</th>
                        </tr>
                        <tr>
                            <th>
                                Código de Envío
                            </th>
                            <th>
                                Empresa Generadora
                            </th>
                            <th>
                                Periodo
                            </th>
                            <th>
                                Usuario de Envío
                            </th>
                            <th>
                                Fecha de Envío
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListTable != null)
                        {
                            foreach (var mp in Model.ListTable)
                            {
                                <tr>
                                    <td style="text-align: center;"><a data-ofercodi="@mp.EnvioCodi" class="codenvio"> <span style="color: #3366CC">@mp.EnvioCodi</span></a></td>
                                    <td style="text-align:center">@mp.RpeEmpresaGeneradoraNombre</td>
                                    <td style="text-align:center">@mp.PeriodoDesc</td>
                                    <td style="text-align:center">@mp.RpeUsuarioCreacion</td>
                                    <td style="text-align:center">@string.Format("{0:" + @COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RpeFechaCreacion)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div id="panel-02">
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tab-pe">PE</a></li>
                        <li class='tab'><a href="#tab-rc">RC</a></li>
                    </ul>
                    <div id="tab-pe">
                        <div id="hst-grilla-pe" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 500px; width: 100%; overflow: hidden;"></div>
                    </div>
                    <div id="tab-rc">
                        <div id="hst-grilla-rc" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 500px; width: 100%; overflow: hidden;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#CboEmpresasGeneradoras').selectToAutocomplete();
    });
</script>
