@model COES.MVC.Extranet.Areas.Account.Models.SolicitudUsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Account/Content/Scripts/nuevosolicitud.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo" style="text-align:left; padding-left:20px">
                
        @if (Model.TipoSolicitud == string.Empty)
        {
            <span>Registro  de Solicitud</span> <strong>Empresa: @Model.EmpresaNombre</strong>
        }
        else
        {
            if (Model.TipoSolicitud == "N")
            {
                <span>Solicitud de Creación de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>
            }

            else if (Model.TipoSolicitud == "M")
            {
                <span>Solicitud de Modificación de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>
            }
            else if (Model.TipoSolicitud == "B")
            {
                <span>Solicitud de Baja de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>

            }
        }
    
    </div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Enviar solicitud"/>
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>
<div style="clear:both"></div>
<div class="content-hijo">        
    <div class="action-message" id="contentTipo">
        <strong>1.</strong> Seleccione tipo de solicitud:
        <input type="radio" id="rbCreacion" name="rblTipoSolicitud" value="N" /><strong>Creación de usuarios</strong>
        <input type="radio" id="rbModificacion" name="rblTipoSolicitud" value="M" /><strong>Modificar accesos del usuario</strong>
        <input type="radio" id="rbBaja" name="rblTipoSolicitud" value="B" /><strong>Baja de usuarios</strong>
        <input type="hidden" id="hfTipoSolicitud" value="@Model.Entidad.SolicTipo" />
    </div>
    <div id="mensaje" class="action-message" style="display:none"></div>
       
    <div id="contenedor" style="margin:auto">
    </div>   
    <input type="hidden" id="hfEmpresa" value="@Model.EmpresaId" />
    <input type="hidden" id="hfIdSolicitud" value="@Model.IdSolicitud" />
</div>