@model COES.MVC.Extranet.Areas.Account.Models.RepresentanteModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            @if (Model.IdSolicitud == 0) { 
                <th>Seleccionar</th>
            }
            <th>Empresa</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaUsuarios.Count > 0)
        {
            foreach (var item in Model.ListaUsuarios)
            {
                <tr>
                    @if (Model.IdSolicitud == 0) {
                         <td>
                            <input type="checkbox" value="@item.UserCode" />
                         </td>
                    }
                    <td>@item.EmpresaNombre</td>
                    <td>@item.UserLogin</td>
                    <td>@item.UsernName</td>
                    <td>@item.UserTlf</td>
                    <td>
                        @if (item.UserState == "P")
                        {
                            <span style="color:#ffd800">Pendiente</span>
                        }
                        else if (item.UserState == "A")
                        {
                            <span style="color:green">Activo</span>
                        }
                        else if (item.UserState == "B")
                        {
                            <span style="color:#ff0000">Baja</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>