@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.DepuracionModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/depuracion_agrupaciones.js?v=3.2"></script>

<div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje" data-mdl="@Model.IdModulo">
    <div class="h-panel" style="margin-bottom: 10px;">
        <div class="h-panel-tool">
            <div class="tool-item">
                <label id="btn-manual" title="Manual de funciones">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
                </label>
            </div>
        </div>
        <div class="h-panel-main">
            <div class="v-panel" style="padding: 10px 5px 5px 5px;">
                <div class="h-panel" style="margin-bottom: 5px;">
                    <div class="filters">
                        <div>Fecha</div>
                        <input id="id-fecha" type="text" class="f-fecha" value="@Model.Fecha" />
                    </div>
                    <div class="filters" style="display: none;">
                        <div>Buscar por ID</div>
                        <input id="id-byid" type="number" />
                    </div>
                    <div class="filters">
                        <div>Tipo de demanda</div>
                        <select id="id-tpdemanda" class="f-select-s">
                            @foreach (var item in Model.ListTipoDemanda)
                            {
                                if (item.Item3)
                                {
                                    <option value="@item.Item1" selected>@item.Item2</option>
                                }
                                else
                                {
                                    <option value="@item.Item1">@item.Item2</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Área operativa</div>
                        <select id="id-area" class="f-select-m" multiple>
                            @foreach (var item in Model.ListArea)
                            {
                                <option value="@item.Item2">@item.Item3</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Empresa</div>
                        <select id="id-empresa" class="f-select-m" multiple>
                            @foreach (var item in Model.ListEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Agrupación</div>
                        <select id="id-agrupacion" class="f-select-m" multiple>
                            @foreach (var item in Model.ListAgrupacion)
                            {
                                <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>Pronóstico</div>
                        <select id="id-pronostico" class="f-select-s">
                            <option value="S" selected>Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div>
                    <table id="dt2" class="pretty tabla-icono" style="width: 100%;"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="workspace" class="h-panel" style="min-height:400px; display: none;">
        <div class="h-panel-tool">
            <div class="tool-item">
                <label id="btn-guardar" title="Guardar cambios">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btn-manual" title="Manual de funciones">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
                </label>
            </div>
        </div>
        <div class="h-panel-main">
            <div class="h-panel" style="height: 400px; padding: 10px 5px 5px 5px;">
                <div id="ht" style="margin-right: 5px; min-width: 500px; overflow: auto;"></div>
                <div id="hc" style="width: 100%;"></div>
                <div class="box">
                    <div class="box-title">Opciones</div>
                    <div class="box-body" style="overflow-y: scroll; height: 375px;">
                        <div id="bq" style="min-width: 140px; padding: 5px;">
                            <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                                <label>Bloque Base :</label>
                                <input id="base" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque base" />
                            </div>
                            <div class="simple-box" style="margin-bottom: 10px; padding: 5px 0px 5px 9px; border-radius: 4px;">
                                <label>Bloque Media :</label>
                                <input id="media" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque media" />
                            </div>
                            <div class="simple-box" style="padding: 5px 0px 5px 9px; border-radius: 4px;">
                                <label>Bloque Punta :</label>
                                <input id="punta" class="cls-bloque" type="number" style="width: 100px;" title="Ajusta directamente el bloque punta" />
                            </div>
                        </div>
                        <div id="zd" style="min-width: 140px; padding: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>