@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel

<script src="~/Content/Scripts/jquery.mask.js"></script>
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Areas/ReportesMedicion/Content/Scripts/reportegrabar.js?v=1.2"></script>

<form id="frmFormato" class="form-search" method="post" action="">
    <div class="search-content">
        <input type="hidden" id="hfIdReporte" name="IdReporte" value="@Model.IdReporte" />
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Nombre:</td>
                            <td><input type="Text" id="Nombre" name="Nombre" value="@Model.Nombre" style="width:650px;" /></td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><input type="Text" id="Descripcion" name="Descripcion" value="@Model.Descripcion" style="width:650px;" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Tipo de Lectura:</td>
                                        <td>
                                            <select id="IdLectura" name="IdLectura" style="width: 200px;">
                                                @foreach (var reg in Model.ListaLectura)
                                                {
                                                    <option value="@reg.Lectcodi">@reg.Lectnomb</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfLectura" value="@Model.IdLectura" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Módulo:</td>
                                        <td>
                                            <select id="IdModulo" name="IdModulo" style="width: 200px;">
                                                <option value="0">--SELECCIONE--</option>
                                                @foreach (var reg in Model.ListaModulos)
                                                {
                                                    <option value="@reg.Modcodi">@reg.Modnombre</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfModulo" value="@Model.IdModulo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tipo de Reporte:</td>
                                        <td>
                                            <select id="cbTipoReporte" name="cbTipoReporte" style="width: 200px;">
                                                @foreach (var reg in Model.ListaTipoReporte)
                                                {
                                                    <option value="@reg.Mreptipcodi">@reg.Mreptipdescripcion</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfTipoReporteItem" value="@Model.Reptiprepcodi" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Reporte - items:</td>
                                        <td>
                                            <select id="Mrepcodi" name="Mrepcodi" style="width: 200px;">
                                                @foreach (var reg in Model.ListaMenuReporte)
                                                {
                                                    <option value="@reg.Repcodi">@reg.Repdescripcion</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfReporteItem" value="@Model.Mrepcodi" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>

                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Área:</td>
                                        <td>
                                            <select id="IdArea" name="IdArea" style="width: 200px;">
                                                <option value="0">--SELECCIONE--</option>
                                                @foreach (var item in Model.ListaAreasCoes)
                                                {
                                                    <option value="@item.Areacode">@item.Areaname</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfArea" value="@Model.IdArea" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Filtros:</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Empresa
                                            <input type="checkbox" id="chbEmpresa" />
                                            <input type="hidden" id="hfCheckEmpresa" name="CheckEmpresa" value="@Model.CheckEmpresa" />
                                        </td>
                                        <td>
                                            Equipo <input type="checkbox" id="chbEquipo" />
                                            <input type="hidden" id="hfCheckEquipo" name="CheckEquipo" value="@Model.CheckEquipo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tipo de Equipo
                                            <input type="checkbox" id="chbTipoEquipo" />
                                            <input type="hidden" id="hfCheckTipoEquipo" name="CheckTipoEquipo" value="@Model.CheckTipoEquipo" />
                                        </td>
                                        <td>
                                            Tipo de medida <input type="checkbox" id="chbTipoMedida" />
                                            <input type="hidden" id="hfCheckTipoMedida" name="CheckTipoMedida" value="@Model.CheckTipoMedida" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <div class="search-content">        
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Descripción en Eje Y (gráfico):</td>
                            <td><input type="Text" id="NombreEjeY" name="NombreEjeY" value="@Model.NombreEjeY" style="width:650px;" /></td>
                        </tr>
                        <tr>
                            <td>
                                ¿Es gráfico?<input type="checkbox" id="chbEsGrafico" />
                                <input type="hidden" id="hfCheckEsGrafico" name="CheckEsGrafico" value="@Model.CheckEsGrafico" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="popup-title"><span></span></div>
    <div style="clear:both; height:20px"></div>
    <table style="width:200px;">

        <tr>
            <td>
                <input class="submit" type="submit" value="Grabar">
            </td>
            <td>
                <input id="btnCancelar" type="button" value="Cancelar">
            </td>
        </tr>
    </table>
</form>
