@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@{
    ViewBag.Title = "Detalle de Punto de medición calculado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/ReportesMedicion/Content/Scripts/reporteCalculado.js?v=1.3.4"></script>
<link href="~/Areas/ReportesMedicion/Content/Css/popup.css" rel="stylesheet" />
<script>
    function validateDecimalInput(event) {
        const input = event.target;
        const value = input.value;

        // Regular expression to match valid input (up to 2 integers and up to 4 decimal places)
        const regex = /^-?\d{0,2}(\.\d{0,4})?$/;

        // If the value does not match the regex, show an alert and remove the last character
        if (!regex.test(value)) {
            alert("Solo se puede registrar hasta dos enteros y hasta cuatro decimales.");
            input.value = value.slice(0, -1);
        }
    }

</script>
<div class="form-title">
    <div class="content-titulo">Detalle de Punto de medición calculado</div>
    <div class="content-botonera">
        <input type="button" id="btnPtoCal" value="Ir a Puntos Calculado" />
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnPunto" value="Agregar Punto" />
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Punto de medición calculado:</td>
                <td>@Model.Ptomedicodi</td>
                <td>@Model.Nombre</td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
        </div>
        <div class="table-list" id="listpto">
        </div>
    </div>
</div>

<input type="hidden" id="hfPtocalculado" value="@Model.Ptomedicodi" />

<div id="popupmpto">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Modificar Punto de Medición</span></div>
    <div id="modificarPto">
        <div style="clear:both; height:30px"></div>
        <table style="width:100%">

            <tr>
                <td class="tbform-label">Punto de medición:</td>
                <td class="tbform-control" id="modifPto"></td>
            </tr>
            <tr>
                <td class="tbform-label">Origen de Lectura:</td>
                <td class="tbform-control">
                    <select id="modifidorigenlectura" disabled>
                        <option value="-1"> [Seleccione Origen Lectura] </option>
                        @foreach (var reg in Model.ListaOrigenLectura)
                        {
                            <option value="@reg.Origlectcodi">@reg.Origlectnombre</option>
                        }
                    </select>
                </td>
            </tr>

            <!--separación-->
            <tr><td><div style="clear:both; height:10px"></div></td></tr>
            <tr><td colspan="2"><div class="popup-title"><span></span></div></td></tr>
            <tr><td><div style="clear:both; height:10px"></div></td></tr>

            <tr>
                <td class="tbform-label">Tipo de Lectura</td>
                <td class="tbform-control">
                    <select id="modifidLectura">
                        <option value="0"> [Seleccione Lectura] </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Medida:</td>
                <td class="tbform-control">
                    <select id="modifidMedida">
                        <option value="0"> [Seleccione Medida] </option>
                        @foreach (var reg in Model.ListaMedidas)
                        {
                            <option value="@reg.Tipoinfocodi">@reg.Tipoinfoabrev</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Tipo de Medida:</td>
                <td class="tbform-control">
                    <select id="modifidTipoMedida">
                        <option value="-1"> [Seleccione Tipo de Medida] </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Frecuencia:</td>
                <td class="tbform-control">
                    <select id="modifidFrecuencia">
                        <option value="-1"> [Seleccione Frecuencia] </option>
                        @foreach (var reg in Model.ListaResolucionPto)
                        {
                            <option value="@reg.IdTipoInfo">@reg.NombreTipoInfo</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Factor de potencia:</td>
                <td class="tbform-control">
                    <input type="Text" id="potencia" name="potencia" value="" style="width: 215px; text-align: right;" maxlength="100" oninput="validateDecimalInput(event)">
                </td>
            <tr>
                <td class="tbform-label">Factor de calculo:</td>
                <td class="tbform-control">
                    <input type="Text" id="factor" name="factor" value="" style="width: 215px; text-align: right;" maxlength="100" oninput="validateDecimalInput(event)">
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfRelptocodi" />

        <div style="clear:both; height:30px"></div>

        <table>
            <tr>
                <td>
                    <input type="button" value="Actualizar" id="btnActualizar" />
                </td>
                <td>
                    <input type="button" value="Cancelar" id="btnCancelar" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="busquedaEquipo">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Punto de Medición</span></div>
    <div id="agregarPto"></div>
</div>