@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@{
    ViewBag.Title = Model.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/ReportesMedicion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/ReportesMedicion/Content/Scripts/visualizacionreporte.js?v=1.1"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<input type="hidden" id="hfReporte" value="@Model.IdReporte" />
<input type="hidden" id="hfCheckEmpresa" value="@Model.CheckEmpresa" />
<input type="hidden" id="hfCheckEquipo" value="@Model.CheckEquipo" />
<input type="hidden" id="hfCheckTipoEquipo" value="@Model.CheckTipoEquipo" />
<input type="hidden" id="hfCheckTipoMedida" value="@Model.CheckTipoMedida" />

<div class="form-title">
    <div class="content-titulo">@Model.Nombre</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="position:relative">
        <div style="display:table">
            <div style="display:table-row">
                <div id="fecha" class="filtro-label" style="display:table-cell">
                    Fecha Inicio:
                </div>
                <div id="fecha" class="filtro-contenido" style="display:table-cell">
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                </div>
                <div class="filtro-label" style="display:table-cell">
                    Fecha Fin:
                </div>
                <div class="filtro-contenido" style="display:table-cell">
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                </div>
            </div>
            <!--Filtros-->
            <div id="div_filtro" style="display:none">
                <div class="filtro_empresa filtro-label" style="display: none">
                    Empresa:
                </div>
                <div class="filtro_empresa filtro-contenido" style="display: none; padding-right: 10px;">
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple"></select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </div>


                <div class="filtro_tipo_equipo filtro-label" style="display:none">
                    Tipo Equipo
                </div>
                <div class="filtro_tipo_equipo filtro-contenido" style="display: none; padding-right: 10px; ">
                    <select id="cbTipoEquipo" name="cbTipoEquipo" style="width:250px;" multiple="multiple">
                        <option></option>
                    </select>
                    <input type="hidden" id="hfTipoEquipo" name="hfTipoEquipo" />
                </div>


                <div class="filtro_equipo filtro-label" style="display: none">
                    Equipo
                </div>
                <div class="filtro_equipo filtro-contenido" style="display: none; padding-right: 10px; ">
                    <select id="cbEquipo" name="cbEquipo" style="width:250px;" multiple="multiple">
                        <option></option>
                    </select>
                    <input type="hidden" id="hfEquipo" name="hfEquipo" />
                </div>


                <div class="filtro_tipo_medida filtro-label" style="display: none">
                    Tipo Información
                </div>
                <div class="filtro_tipo_medida filtro-contenido" style="display: none; padding-right: 10px; ">
                    <select id="cbTipoInformacion" name="cbTipoInformacion" style="width:100px;" multiple="multiple">
                        <option></option>
                    </select>
                    <input type="hidden" id="hfTipoMedida" name="hfTipoMedida" />
                </div>
            </div>
        </div>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
    <div style="clear:both; height:30px"></div>

</div>
