@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Acción</th>
            <th>Codigo</th>
            <th>Reporte</th>
            <th>Área</th>
            <th>Módulo</th>
            <th>Usuario</th>
            <th>Creacion</th>
            <th>Modificacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporte)
        {
            <tr>
                <td>
                    <a href="JavaScript:nuevoReporte(@item.Reporcodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Reporte" /></a>
                    <a href="JavaScript:mostrarDetalle(@item.Reporcodi);"><img src="@Url.Content("~/Content/Images/file.png")" title="Editar Configuración de puntos de medición" /></a>
                    <!--<a href="JavaScript:mostrarDetalleConsulta(@item.Reporcodi);"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver Configuración de puntos de medición" /></a>-->
                </td>
                <td>@item.Reporcodi</td>
                <td style="text-align: left; padding-left: 5px; ">@item.Repordescrip</td>
                <td>@item.Areaabrev</td>
                <td>@item.Modnombre</td>
                <td>@item.Reporusucreacion</td>
                <td>@item.ReporfeccreacionDesc</td>
                <td>@item.ReporfecmodificacionDesc</td>
            </tr>
        }
    </tbody>
</table>
