@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@using COES.Servicios.Aplicacion.ReportesMedicion.Helper;

<table class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaPtos">
    <thead>
        <tr>
            <th>Pto</th>
            <th>Origen Lectura</th>
            <th>Empresa</th>
            <th style="background-color: #FFBF00;">Nombre</th>

            <th>Ubicación</th>
            <th>Tipo</th>
            <th>Equipo</th>
            <th>Lectura</th>
            <th>Medida</th>

            <th>Calculado</th>
            <th>Resolución</th>
            <th>Factor</th>
            <th>Potencia</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPtos)
        {
            <tr>
                <td>@item.PtomedicodiOrigen</td>
                <td>@item.Origlectnombre</td>
                <td>@item.EmprnombOrigen</td>
                <td>@item.PtomedicodidescOrigen</td>

                <td>@item.Areanomb</td>
                <td>@item.FamabrevOrigen</td>
                <td>@item.EquiabrevOrigen</td>
                <td>@item.Lectnomb</td>
                <td>@item.Tipoptomedinomb (@item.Tipoinfoabrev)</td>

                <td>
                    @if (item.PtomediCalculado == ConstantesReportesMedicion.PtoCalculadoSiCodigo)
                    {
                        @item.PtomediCalculadoDescrip
                    }
                </td>
                <td>@item.RepptotabmedDesc</td>
                <td>@item.FactorOrigen</td>
                <td>@item.FactorPotencia</td>
                <td>
                    <a href="JavaScript:modificarPtoDeCalculado(@item.Relptocodi,@item.FactorOrigen, @item.TipoinfocodiOrigen,@item.PtomedicodiOrigen, '@item.PtomedicodidescOrigen', @item.Origlectcodi,@item.Lectcodi ,@item.Tipoptomedicodi, @item.Repptotabmed,@item.FactorPotencia)">
                        <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Punto" alt="Editar Punto" />
                    </a>
                    <a href="JavaScript:deletePtoDeCalculado(@item.Relptocodi)">
                        <img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar punto" alt="Eliminar Punto" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
