@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@using COES.Servicios.Aplicacion.ReportesMedicion.Helper;

<table class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaPtos">
    <thead>
        <tr>
            <th>Pto</th>
            <th>Origen Lectura</th>
            <th>Empresa</th>
            <th>Pto Medición</th>
            <th>Tipo</th>
            <th>Equipo</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReportPtoCal)
        {
            <tr id="@item.Ptomedicodi">
                <td>@item.Ptomedicodi</td>
                <td>@item.Origlectnombre</td>
                <td>@item.Emprnomb</td>
                <td style="text-align:left">&nbsp;@item.Ptomedidesc</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
                <td>@item.Ptomediestadodescrip</td>
                <td>
                    @if (item.PtomediCalculado == ConstantesReportesMedicion.PtoCalculadoSiCodigo)
                    {                       
                        <a href="JavaScript:verPuntoCalculado(@item.Ptomedicodi)">
                            <img src="@Url.Content("~/Content/Images/file.png")" title="Ver puntos" alt="Ver puntos" />
                        </a>                       
                    }
                    <a href="JavaScript:modificarPtoCal(@item.Ptomedicodi,'@item.Ptomediestado', '@item.Ptomedibarranomb', '@item.Ptomedielenomb', '@item.Ptomedidesc')">
                        <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Punto" alt="Editar Punto" />
                    </a>
                    <a href="JavaScript:eliminarPtoCal(@item.Ptomedicodi)">
                        <img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar punto" alt="Eliminar Punto" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
