@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<table style="width:100%">
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr>
        <td class="tbform-label">Origen Lectura:</td>
        <td class="tbform-control">
            <div id="listaOrigenLectura">
                <select id="idorigenlectura" style="width:300px">
                    @foreach (var reg in Model.ListaOrigenLectura)
                    {
                        <option value="@reg.Origlectcodi">@reg.Origlectnombre</option>
                    }
                </select>
            </div>
        </td>
    </tr>

    <!--separación-->
    <tr><td><div style="clear:both; height:10px"></div></td></tr>
    <tr><td colspan="2"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:10px"></div></td></tr>

    <tr>
        <td class="tbform-label">Tipo de empresa:</td>
        <td class="tbform-control">
            <select id="cbTipoEmpresa" name="iTipoEmpresa" style="width:300px">
                <option value="-2"> [Todos] </option>
                @foreach (var item in Model.ListaTipoEmpresa)
                {
                    <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                }
            </select>
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Empresa: </td>
        <td class="tbform-control">
            <div id="listaEmpresa">
                <select id="cbEmpresa" style="width:300px">
                    <option value="0"> [Seleccionar Empresa] </option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Tipo de Equipo:</td>
        <td class="tbform-control">
            <select id="idFamilia" style="width:300px">
                <option value="0"> [Seleccionar Tipo de Equipo] </option>
                @foreach (var reg in Model.ListaFamilia)
                {
                    <option value="@reg.Famcodi">@reg.Famnomb</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Equipo:</td>
        <td class="tbform-control">
            <div id="listaEquipo">
                <select id="idequipo" style="width:300px">
                    <option value="0"> [Seleccionar Equipo] </option>
                </select>
            </div>
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Nombre:</td>
        <td class="tbform-control">
            <input type="Text" id="txtPtomedibarranomb" name="idPtomedibarranomb" value="" style="width: 400px;" maxlength="100">
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Abreviatura:</td>
        <td class="tbform-control">
            <input type="Text" id="txtPtomedielenomb" name="idPtomedielenomb" value="" style="width: 400px;" maxlength="100">
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Descripción:</td>
        <td class="tbform-control">
            <input type="Text" id="txtDescripcion" name="descripcion" value="" style="width: 400px;" maxlength="100">
        </td>
    </tr>

    <!--separación-->
    <tr><td colspan="2"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr>
        <td></td>
        <td>
            <input type="button" value="Agregar" id="btnAgregarPtoCalculado" />
        </td>
    </tr>
</table>

<input type="hidden" id="hfReporte" value="@Model.IdReporte" />
