@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel

<style>
    .tbform-label {
        text-align: right;
    }
</style>
<script>
    function validateDecimalInput(event) {
        const input = event.target;
        const value = input.value;

        // Regular expression to match valid input (up to 2 integers and up to 4 decimal places)
        const regex = /^-?\d{0,2}(\.\d{0,4})?$/;

        // If the value does not match the regex, show an alert and remove the last character
        if (!regex.test(value)) {
            alert("Solo se puede registrar hasta dos enteros y hasta cuatro decimales.");
            input.value = value.slice(0, -1);
        }
    }

</script>
<table style="width:100%">
    <tr><td><div style="clear:both; height:20px"></div></td></tr>
    <tr>
        <td class="tbform-label" style="text-align: left" >Tipo de Punto:</td>
        <td class="tbform-control">
            <select id="cbTipoPto" name="icbTipoPto" style="width: 300px;">
                <option value="N">Pto Medicion</option>
                <option value="S">Pto Calculado</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Origen de Lectura:</td>
        <td class="tbform-control">
            <div id="listaOrigenLectura">
                <select id="idorigenlectura" style="width: 300px;">
                    <option value="0"> [Seleccione Origen Lectura] </option>
                    @foreach (var reg in Model.ListaOrigenLectura)
                    {
                        <option value="@reg.Origlectcodi">@reg.Origlectnombre</option>
                    }
                </select>
            </div>
        </td>

        <td class="tbform-label" style="text-align: left">Filtro Pto:</td>
        <td class="tbform-control" style="padding-left: 0px; padding-right: 0px;">
            <input type="text" id="txtFiltroPo" style="width: 49px;" />
        </td>
        <td>
            <a href="#" id="btnFiltroPto">
                <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar" />
            </a>
        </td>
    </tr>

    <!--separación-->
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr id="fila_tipo_empresa">
        <td class="tbform-label" style="text-align: left">Tipo de empresa:</td>
        <td class="tbform-control">
            <select id="cbTipoEmpresa" name="iTipoEmpresa" style="width: 300px;">
                <option value="-2"> [Todos] </option>
                @foreach (var item in Model.ListaTipoEmpresa)
                {
                    <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Empresa: </td>
        <td class="tbform-control">
            <select id="cbEmpresa" style="width:300px">
                <option value="0"> [Seleccionar Empresa] </option>
                @foreach (var reg in Model.ListaEmpresa)
                {
                    <option value="@reg.Emprcodi">@reg.Emprnomb</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Tipo de Equipo:</td>
        <td class="tbform-control">
            <select id="idFamilia" style="width: 300px;">
                <option value="0"> [Seleccionar Tipo de Equipo] </option>
                @foreach (var reg in Model.ListaFamilia)
                {
                    <option value="@reg.Famcodi">@reg.Famnomb</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Equipo:</td>
        <td class="tbform-control">
            <select id="idequipo" style="width:300px">
                <option value="0"> [Seleccionar Equipo] </option>
            </select>
        </td>
    </tr>
    <tr id="id1">
        <td class="tbform-label" style="text-align: left">Tipo de Lectura:</td>
        <td class="tbform-control">
            <div id="listaLectura">
                <select id="idLectura" style="width: 300px;">
                    <option value="0"> [Seleccione Lectura] </option>
                    @foreach (var reg in Model.ListaLectura)
                    {
                        <option value="@reg.Lectcodi">@reg.Lectnomb</option>
                    }
                </select>
            </div>
        </td>
    </tr>
    <tr id="id2">
        <td class="tbform-label" style="text-align: left">Código Pto:</td>
        <td colspan="4" class="tbform-control">
            <select id="idPunto" style="width: 300px;">
                <option value="0"> [Seleccionar Pto] </option>
            </select>
        </td>
    </tr>
    <tr id="id5" style="display:none">
        <td class="tbform-label" style="text-align: left">Ptos Calculados:</td>
        <td class="tbform-control">
            <div id="listaPtosCal">
                <select id="idPtosCal" style="width: 300px;">
                    <option value="0"> [Seleccione Pto Calculado] </option>
                    @foreach (var reg in Model.ListaReportPtoCal)
                    {
                        <option value="@reg.Ptomedicodi">@reg.Ptomedidesc</option>
                    }
                </select>
            </div>
        </td>
    </tr>

    <!--separación-->
    <tr><td><div style="clear:both; height:10px"></div></td></tr>
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:10px"></div></td></tr>

    <tr>
        <td class="tbform-label" style="text-align: left">Medida:</td>
        <td class="tbform-control">
            <select id="idMedida" style="width: 300px;">
                <option value="0"> [Seleccione Medida] </option>
                @foreach (var reg in Model.ListaMedidas)
                {
                    <option value="@reg.Tipoinfocodi">@reg.Tipoinfoabrev</option>
                }
            </select>
        </td>
    </tr>
    <tr style="display: none">
        <td class="tbform-label" style="text-align: left">Tipo de Medida:</td>
        <td class="tbform-control">
            <select id="idTipoMedida" style="width: 300px;">
                <option value="-1"> [Seleccione Tipo de Medida] </option>
            </select>
        </td>
    </tr>
    <tr id="id6">
        <td class="tbform-label" style="text-align: left">Resolución:</td>
        <td class="tbform-control">
            <select id="idFrecuencia" style="width: 300px;">
                <option value="0"> [Seleccione Resolución] </option>
                @foreach (var reg in Model.ListaResolucionPto)
                {
                    <option value="@reg.IdTipoInfo">@reg.NombreTipoInfo</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Factor de potencia:</td>
        <td class="tbform-control">
            <input type="Text" id="factorPotencia" name="factorPotencia" value="1" style="width: 295px; text-align: right;" maxlength="100" oninput="validateDecimalInput(event)">
        </td>
    </tr>
    <tr>
        <td class="tbform-label" style="text-align: left">Factor de calculo:</td>
        <td class="tbform-control">
            <input type="Text" id="factorNuevo" name="factorNuevo" value="1" style="width: 295px; text-align: right;" maxlength="100" oninput="validateDecimalInput(event)">
        </td>
    </tr>

    <!--separación-->
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr>
        <td></td>
        <td>
            <input type="button" value="Agregar" id="btnAgregarPto" />
        </td>
    </tr>
</table>

<input type="hidden" id="hfPuntoCalculado" value="N" />
<input type="hidden" id="hfPtocalculado" value="@Model.Ptomedicodi" />
<input type="hidden" id="hfOriglectcodi" value="@Model.Origlectcodi" />
<input type="hidden" id="hfIdLectura" value="@Model.IdLectura" />