@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel
<script>
    $(function () {
        $('#btnActualizarEquivalencia').click(function () {
            actualizarEquivalencia();
        });

        $("#btnCancelarEquivalencia").click(function () {
            cancelarEquivalencia();
        });

        var estado = '@(Model.PtomedcanalActual.Pcanestado)';
        $("#cbEstadoEdit").val(estado);

        var chkValor = '@(Model.PtomedcanalActual.Pcanfactor)';
        chkValor = Number(chkValor) || 0;
        if (chkValor < 0) {
            $("#chkValorInversoEdit").prop('checked', true)
        }
    });
</script>

<input type="hidden" id="canalcodiEdit" value="@Model.PtomedcanalActual.Canalcodi" />
<input type="hidden" id="ptomedicodiEdit" value="@Model.PtomedcanalActual.Ptomedicodi" />
<input type="hidden" id="tipoinfocodiEdit" value="@Model.PtomedcanalActual.Tipoinfocodi" />

<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">PUNTOS MEDICIÓN:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PuntoPR5</td>
        </tr>
        <tr>
            <td class="tbform-label">CANAL SCADA:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PuntoCanalScada</td>
        </tr>
        <tr>
            <td class="tbform-label">Unidad:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.Tipoinfoabrev</td>
        </tr>
        <tr>
            <td class="tbform-label">Valor Inverso:</td>
            <td class="tbform-control"><input type="checkbox" id="chkValorInversoEdit" name="chkValorInversoEdit"></td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">
                <select id="cbEstadoEdit" name="Ctgestado">
                    @foreach (var item in Model.ListaEstado)
                    {
                        <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                    }
                </select>
            </td>
        </tr>

    </table>
</div>

<div style="clear:both; width:200px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" id="btnActualizarEquivalencia" value="Actualizar">
    <input type="button" id="btnCancelarEquivalencia" value="Cancelar" />
</div>