@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

@{
    ViewBag.Title = "Equivalencia de Equipos y Canal Scada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tabla-icono tbody tr td a img {
        margin-right: 3px !important;
    }

    .tabla-icono tbody tr td {
        padding: 4px !important;
    }

    .content-tabla-search tr td {
        padding-right: 7px;
    }

    fieldset {
        padding-bottom: 10px;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }
</style>

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/IEOD/Content/Scripts/equivalencia/equivalenciaEquipoScada.js?v=1.4.9"></script>

<div class="form-title">
    <div class="content-titulo">Equivalencia de Equipos y Canal Scada</div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Ir a Proceso DIgSILENT" />
        <input type="button" id="btnNuevaRelacion" value="Nueva relación" />
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Area COES:</td>
                <td>
                    <select id="cbArea">
                        <option value="-1">[Todos]</option>
                        @foreach (var item in Model.ListaAreasCoes)
                        {
                            <option value="@item.Areacode">@item.Areaname</option>
                        }
                    </select>
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">[Todos]</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Tipo Equipo:</td>
                <td>
                    <select id="cbFamilia">
                        <option value="-1">[Todos]</option>
                        @foreach (var item in Model.ListaFamilia)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>

                <td>Unidad:</td>
                <td>
                    <select id="cbMedida" style="width:85px">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaMedida)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                        }
                    </select>
                </td>

                <td><input type="button" id="btnConsultar" value="Consultar" /></td>
            </tr>
        </table>
    </div>

    <div style="clear:both"></div>
    <div id="listado"></div>
</div>

<div id="popupNuevaEquivalencia" class="general-popup" style="max-width: 1525px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Relación</span></div>
    <div id="nuevaEquivalencia"></div>
</div>

<div id="popupEditarEquivalencia" class="general-popup" style="max-width: 700px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Edición de Relación</span></div>
    <div id="editarEquivalencia"></div>
</div>

<div id="popupVerEquivalencia" class="general-popup" style="max-width: 700px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Relación</span></div>
    <div id="verEquivalencia"></div>
</div>

<div id="busquedaEquipo" class="general-popup" style="z-index: 9999999999; display: none; width: 950px; height:500px">
</div>