@model COES.MVC.Intranet.Models.FuenteDatosModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#idFechaEnvio').Zebra_DatePicker({
            direction: -1
        });

        $("#idAgregar").click(function () {
            grabarAmpliacion();
        });
        $("#idCancelar").click(function () {
            $('#validaciones').bPopup().close();
        });
    });

    $('#cbFuenteDatos2').change(function () {
        cargarEmpresasPopUp();
    });

    cargarEmpresasPopUp();
</script>

<table class="table-form-vertical">
    <tr>
        <td>Fuente de Datos:</td>
        <td>
            <select id="cbFuenteDatos2" style="width: 330px;">
                @foreach (var item in Model.ListaFuentedatos)
                {
                    <option value="@item.Fdatcodi">@item.Fdatnombre</option>
                }
            </select>
            <input type="hidden" id="hfFdatcodi2" />
        </td>
    </tr>

    <tr>
        <td>Empresa:</td>
        <td>
            <div id="empresasPopUp"></div>
        </td>
    </tr>

    <tr>
        <td>Fecha Período:</td>
        <td><input type="text" id="idFechaEnvio" value="@Model.FechaPeriodo" /></td>
    </tr>
    <tr>
        <td>Fecha Ampliación:</td>
        <td><input type="text" id="idFechaAmp" value="@Model.FechaAmpliacion" disabled="disabled" /></td>
    </tr>

    <tr>
        <td>Hora Plazo:</td>
        <td>
            <select id="cbHora" name="IdHora">
                @for (var i = Model.HoraPlazo; i < 48; i++)
                {
                    string hora = "0" + ((i + 1) / 2).ToString();
                    hora = hora.Substring((hora.Length > 2) ? 1 : 0, 2);
                    string minuto = "0" + (((i + 1) % 2) * 30).ToString();
                    minuto = minuto.Substring((minuto.Length > 2) ? 1 : 0, 2);
                    string horarmin = hora + ":" + minuto;
                    <option value="@(i+1)">@horarmin</option>
                }
            </select>

        </td>
    </tr>

    <tr>
        <td>
            <input type="button" id="idAgregar" value="Agregar" />
        </td>
        <td>
            <input type="button" id="idCancelar" value="Cancelar" />
        </td>
    </tr>
</table>
