@model COES.MVC.Intranet.Models.FuenteDatosModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Fecha Período</th>
            <th>Empresa</th>
            <th>Fuente Datos</th>
            <th>Fecha Ampliación</th>
            <th>Usuario</th>
            <th>Fecha de Modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSiAmplazoenvio)
        {
            <tr>
                <td style="text-align: center">@item.AmplzfechaperiodoDesc</td>
                <td style="text-align: left">@item.Emprnomb</td>
                <td style="text-align: center">@item.Fdatnombre</td>
                <td style="text-align: center">@item.AmplzfechaDesc</td>
                <td style="text-align: center">@item.Amplzusucreacion</td>
                <td style="text-align: center">@item.AmplzfeccreacionDesc</td>
            </tr>
        }
    </tbody>
</table>