@model COES.MVC.Intranet.Models.FuenteDatosModel

<script>
    $(function () {
        $('#btnGuardar').click(function () {
            actualizarPlazo();
        });
        $('#btnCancelar').click(function () {
            cerrarPopupPlazo();
        });

        $('#iniDia').change(function () {
            actualizarVistaPrevia();
        });
        $('#txtIniMin').change(function () {
            actualizarVistaPrevia();
        });
        $('#finDia').change(function () {
            actualizarVistaPrevia();
        });
        $('#txtFinMin').change(function () {
            actualizarVistaPrevia();
        });
        $('#fueraDia').change(function () {
            actualizarVistaPrevia();
        });
        $('#txtFueraMin').change(function () {
            actualizarVistaPrevia();
        });

        $('#iniDia').keyup(function () {
            actualizarVistaPrevia();
        });
        $('#txtIniMin').keyup(function () {
            actualizarVistaPrevia();
        });
        $('#finDia').keyup(function () {
            actualizarVistaPrevia();
        });
        $('#txtFinMin').keyup(function () {
            actualizarVistaPrevia();
        });
        $('#fueraDia').keyup(function () {
            actualizarVistaPrevia();
        });
        $('#txtFueraMin').keyup(function () {
            actualizarVistaPrevia();
        });

        $('#iniDia').blur(function () {
            actualizarVistaPrevia();
        });
        $('#txtIniMin').blur(function () {
            actualizarVistaPrevia();
        });
        $('#finDia').blur(function () {
            actualizarVistaPrevia();
        });
        $('#txtFinMin').blur(function () {
            actualizarVistaPrevia();
        });
        $('#fueraDia').blur(function () {
            actualizarVistaPrevia();
        });
        $('#txtFueraMin').blur(function () {
            actualizarVistaPrevia();
        });

        inicializarFormPlazo();
    });
</script>

<style>
    input[type = number] {
        width: 40px;
        text-align: right;
    }

    .search-content {
        margin-bottom: 0px !important;
    }
</style>

<div class="search-content">
    <input type="hidden" id="hfPlazcodi" name="hfPlazcodi" value="@Model.PlazoEnvioEdicion.Plazcodi" />
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Nombre:</td>
                        <td><input type="Text" id="Nombre" name="Nombre" value="@Model.PlazoEnvioEdicion.Fdatnombre" readonly style="width:650px;" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="vertical-align:top">
                        <div class="search-content">
                            <table>
                                <tr>
                                    <td>Periodo:</td>
                                    <td>
                                        <select id="cbPeriodo" name="cbPeriodo">
                                            <option value="0">--SELECCIONE--</option>
                                            <option value="1">Diario</option>
                                            <option value="2">Semanal</option>
                                            <option value="3">Mensual</option>
                                            <option value="4">Anual</option>
                                            <option value="5">Semanal x Mes</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="search-content" style="background-color: #acfdb9 !important;">
                            <table>
                                <tr>
                                    <td colspan="4">Inicio de Plazo</td>
                                </tr>
                                <tr>
                                    <td>Días:</td>
                                    <td>
                                        <input type="number" id="iniDia" name="iniDia" data-mask="00" value="@Model.PlazoEnvioEdicion.Plazinidia" />
                                    </td>
                                    <td>Horas:</td>
                                    <td>
                                        <input type="time" id="txtIniMin" name="txtIniMin" data-mask="00:00" data-mask-selectonfocus="true" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>


                    <td>
                        <div class="search-content" style="background-color: #acfdb9 !important;">
                            <table>
                                <tr>
                                    <td colspan="4">Fin de Plazo</td>
                                </tr>
                                <tr>
                                    <td>Días:</td>
                                    <td>
                                        <input type="number" id="finDia" name="finDia" data-mask="00" value="@Model.PlazoEnvioEdicion.Plazfindia" />
                                    </td>
                                    <td>Horas:</td>
                                    <td>
                                        <input type="time" id="txtFinMin" name="txtFinMin" data-mask="00:00" data-mask-selectonfocus="true" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>


                    <td>

                        <div class="search-content" style="background-color: #f9a0a0 !important;">
                            <table>
                                <tr>
                                    <td colspan="4">Fuera de Plazo</td>
                                </tr>
                                <tr>
                                    <td>Días:</td>
                                    <td>
                                        <input type="number" id="fueraDia" name="fueraDia" data-mask="00" value="@Model.PlazoEnvioEdicion.Plazfueradia" />
                                    </td>
                                    <td>Horas:</td>
                                    <td>
                                        <input type="time" id="txtFueraMin" name="txtFueraMin" data-mask="00:00" data-mask-selectonfocus="true" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>


                </tr>

            </table>
        </td>
    </tr>
</table>


<div style="clear:both; height:15px"></div>
<div class="popup-title"><span>Vista Previa con Fecha Periodo: <span style="    color: black;" id="txtFechaPeriodo"></span></span></div>
<div style="clear:both; height:5px"></div>

<table>
    <tr>
        <td>
            <table>
                <tr>

                    <td>
                        <div class="search-content" style="background-color: #acfdb9 !important;">
                            <table>
                                <tr>
                                    <td style=" width: 90px;">En Plazo</td>
                                    <td><span id="txtFechaEnPlazo1"></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="txtFechaEnPlazo2"></span></td>
                                </tr>
                            </table>
                        </div>
                    </td>

                    <td>
                        <div class="search-content" style="background-color: #f9a0a0 !important;">
                            <table>
                                <tr>
                                    <td style=" width: 90px;">Fuera Plazo</td>
                                    <td><span id="txtFechaFueraPlazo1"></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="txtFechaFueraPlazo2"></span></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<div class="popup-title"><span></span></div>
<div style="clear:both; height:20px"></div>
<table style="width:200px;">

    <tr>
        <td>
            <input id="btnGuardar" type="button" value="Grabar">
        </td>
        <td>
            <input id="btnCancelar" type="button" value="Cancelar">
        </td>
    </tr>
</table>

<input type="hidden" id="hfPlazcodi" value="@Model.PlazoEnvioEdicion.Plazcodi" />
<input type="hidden" id="hfPeriodo" value="@Model.PlazoEnvioEdicion.Plazperiodo" />
<input type="hidden" id="hfIniMin" name="iniMin" value="@Model.PlazoEnvioEdicion.Plazinimin" />
<input type="hidden" id="hfFinMin" name="finMin" value="@Model.PlazoEnvioEdicion.Plazfinmin" />
<input type="hidden" id="hfFueraMin" name="fueraMin" value="@Model.PlazoEnvioEdicion.Plazfueramin" />
<input type="hidden" id="hfFechaPeriodo" name="hfFechaPeriodo" value="@Model.FechaPeriodo" />