@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

<script>
    $(function () {
        inicializarPopupNuevaEquivalencia();
    });
</script>

<div class="content-registro">

    <div style="clear:both; height:15px"></div>

    <fieldset style="MARGIN-TOP: 10px;">
        <legend>Equipo</legend>

        <div class="search-content" style="margin-bottom:0px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Empresa:</td>
                    <td>
                        <input type="text" id="iEmpresaNuevo" style="width: 220px" placeholder="" tabindex="2" disabled />
                        <input type="hidden" id="cbEmpresaNuevo" value="-1" />
                    </td>
                    <td>Ubicación:</td>
                    <td>
                        <input type="text" id="iUbicacionNuevo" style="width: 220px" placeholder="" tabindex="3" disabled />
                    </td>
                    <td>Tipo Equipo:</td>
                    <td>
                        <input type="text" id="iFamiliaNuevo" style="width: 75px" placeholder="" tabindex="3" disabled />
                        <input type="hidden" id="cbFamiliaNuevo" value="-1" />
                    </td>
                    <td style="color: white; background-color: #61c13a; padding-left: 7px; ">EQUIPO:</td>
                    <td>
                        <input type="text" id="iEquipoNuevo" style="width: 160px" placeholder="" tabindex="4" disabled />
                        <input type="hidden" id="cbEquipoNuevo" value="-1" />
                        <input type="hidden" id="cbEquipoNuevoNombre" value="" />
                        <input type="hidden" id="cbEquipoNuevoUbicacion" value="" />
                        <input type="hidden" id="cbEquipoNuevoEmpresa" value="" />
                        <input type="hidden" id="cbEquipoNuevoFamilia" value="" />

                        <input type="button" value="Buscar" id="btnBuscarEquipoRelacion" title="Seleccionar equipo" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>

    <fieldset style="MARGIN-TOP: 10px;">
        <legend>Canal Scada</legend>

        <div class="search-content" style="margin-bottom:0px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Empresa:</td>
                    <td>
                        <select id="cbTrEmpresaNuevo">
                            @foreach (var item in Model.ListaTrEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprenomb</option>
                            }
                        </select>
                    </td>
                    <td>Zona:</td>
                    <td id="td_zona_nuevo">
                        <select id="cbTrZonaNuevo">
                        </select>
                    </td>

                    <td>Unidad:</td>
                    <td>
                        <select id="cbMedidaNuevo" style="width:85px" tabindex="1">
                            @foreach (var item in Model.ListaMedida)
                            {
                                <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                            }
                        </select>
                    </td>
                    <td>
                        Area COES:
                        <select id="cbAreaNuevo" style="width: 60px;">
                            @foreach (var item in Model.ListaAreasCoes)
                            {
                                <option value="@item.Areacode">@item.Areaabrev</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>

                    <td style="color: white; background-color: #FFBF00; padding-left: 7px; ">CANAL:</td>
                    <td colspan="5" id="td_canal_nuevo">
                        <select id="cbTrCanalNuevo">
                        </select>
                    </td>
                    <td>
                        Valor inverso
                        <input type="checkbox" id="chkValorInverso" name="chkValorInverso">

                        <input type="button" id="btnAgregarEquivalencia" value="+" title="Agregar Relación" />

                    </td>
                </tr>
            </table>
        </div>
    </fieldset>

    <div id="divTablaRelacion">

    </div>

</div>

<div style="width:200px; margin:auto;margin-top:20px; text-align:center">
    <input type="button" id="btnGrabarEquivalencia" value="Grabar" tabindex="8" />
    <input type="button" id="btnCancelarEquivalencia" value="Cancelar" tabindex="9" />
</div>