@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

<script>
    $(function () {
        var chkValor = '@(Model.EquicanalActual.Ecanfactor)';
        chkValor = Number(chkValor) || 0;
        if (chkValor < 0) {
            $("#chkValorInversoVer").prop('checked', true)
        }
    });
</script>

<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">EQUIPO:</td>
            <td class="tbform-control">@Model.EquicanalActual.EquipoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">CANAL SCADA:</td>
            <td class="tbform-control">@Model.EquicanalActual.CanalScadaDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Unidad:</td>
            <td class="tbform-control">@Model.EquicanalActual.Tipoinfoabrev</td>
        </tr>
        <tr>
            <td class="tbform-label">Valor inverso:</td>
            <td class="tbform-control"><input type="checkbox" id="chkValorInversoVer" name="chkValorInversoVer" disabled></td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.EquicanalActual.EcanestadoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.EquicanalActual.Ecanusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.EquicanalActual.EcanfeccreacionDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.EquicanalActual.Ecanusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.EquicanalActual.EcanfecmodificacionDesc</td>
        </tr>
    </table>
</div>