@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

<script>
    $(function () {
        var chkValor = '@(Model.PtomedcanalActual.Pcanfactor)';
        chkValor = Number(chkValor) || 0;
        if (chkValor < 0) {
            $("#chkValorInversoVer").prop('checked', true)
        }
    });
</script>

<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">PUNTOS MEDICIÓN:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PuntoPR5</td>
        </tr>
        <tr>
            <td class="tbform-label">CANAL SCADA:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PuntoCanalScada</td>
        </tr>
        <tr>
            <td class="tbform-label">Unidad:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.Tipoinfoabrev</td>
        </tr>
        <tr>
            <td class="tbform-label">Valor inverso:</td>
            <td class="tbform-control"><input type="checkbox" id="chkValorInversoVer" name="chkValorInversoVer" disabled></td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PcanestadoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.Pcanusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PcanfeccreacionDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.Pcanusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.PtomedcanalActual.PcanfecmodificacionDesc</td>
        </tr>
    </table>
</div>