@model COES.MVC.Publico.Areas.Operacion.Models.BrowserModel

<script type="text/javascript">
    $(function () {

        $('#cbSelectAll2').click(function (e) {
            
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });
</script>


<div class="bread-crumb" style="margin-left:3px">
    <ul>
        @foreach (var item in Model.BreadList)
        {
            <li><a href="JavaScript:openDirectory('@item.Url')">@item.Name</a></li>
        }
    </ul>
</div>
<div style="clear:both"></div>

@*<table style="width:100%" class="form-general" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width:100%" valign="top">*@
            <div id="cntPaginado"></div>
            <div id="contentBusqueda">
                <table id="tbDocumentLibrary" class="tabla-icono table-hover">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="cbSelectAll2" />
                            </th>
                            <th></th>
                            <th>Documento</th>
                            <th>Tamaño</th>
                            <th>Fecha Modificación</th>
                            <th>Url</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DocumentList)
                        {
                            string clase = (item.FileType == "F") ? "class=selector-file-contextual" : "class=selector-directory-contextual";
                            <tr style="cursor:pointer" @clase id="@item.FileUrl" title="@item.FileName">
                                <td>
                                    @if (item.FileType == "F")
                                    {
                                        <input type="checkbox" id="@item.FileName" name="cbSelect" value="@item.FileUrl" />
                                    }
                                </td>
                                <td onclick="openBlob('@item.FileUrl', '@item.FileType', '@item.Extension')"><img src="~/Areas/Operacion/Content/Images/Document/@item.Icono" /></td>
                                <td onclick="openBlob('@item.FileUrl', '@item.FileType', '@item.Extension')">@item.FileName</td>
                                <td>@item.FileSize</td>
                                <td>@item.FechaModificacion</td>
                                <td>@item.FileUrl</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        @*</td>
    </tr>
</table>*@

