
<style type="text/css">
    input[text] {
        width: auto !important
    }
</style>

<script>
    $(document).ready(function () {
        $("#btnRegresarCronograma").click(function () {
            $('#popupCronograma').bPopup().close();
        });

        $("#btnDescargarCronograma").click(function () {
            descargarCronograma($("#hdAporcodi").val());
        });
    });
</script>

<div class="content-registro">
    <form id="frmRegistro">
        <input type="hidden" id="hdAporcodi" value="@ViewBag.Aporcodi" />
        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control" colspan="5">
                    <input type="text" id="txtEmpresa"  value="@ViewBag.Empresa" disabled style="width:430px !important" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Año inversión:</td>
                <td class="registro-control">
                    <input type="text" id="txtAnio" value="@ViewBag.Anio" disabled style="width:70px !important" />
                </td>
                <td class="registro-label">Monto:</td>
                <td class="registro-control">
                    <input type="text" id="txtMonto" disabled value="@(string.Format("{0:n}", ViewBag.Monto))" style="width:70px !important" /> $
                </td>
                <td class="registro-label">Cuotas:</td>
                <td class="registro-control">
                    <input type="text" id="txtCuotas" disabled value="@ViewBag.Cuota" style="width:70px !important" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Monto Aportado:</td>
                <td class="registro-control">
                    <input type="text" id="txtMonto" disabled value="@(string.Format("{0:n}", ViewBag.MontoParticipacion))" style="width:70px !important" />
                </td>
                <td class="registro-label">Años sin Aportar:</td>
                <td class="registro-control">
                    <input type="text" id="txtAnio" disabled value="@ViewBag.AnioSinAportar" style="width:70px !important" /> $
                </td>
            </tr>
        </table>

        <div class="clear"></div>
        <div class="content-tabla" >
            <div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
            </div>
            <div class="table-list" id="cronograma" style="width: 550px !important"></div>
            <div style="clear:both; margin-bottom:40px"></div>
        </div>

        <div style="width:300px; margin:auto; text-align:center; margin-top:20px">
            
            <input type="button" id="btnDescargarCronograma" value="Descargar Cronograma" />
            <input type="button" id="btnRegresarCronograma" value="Regresar" />
        </div>

    </form>
</div>