@model  IEnumerable<COES.Dominio.DTO.Sic.DaiCalendariopagoDTO>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaCronograma">
    <thead>
        <tr>
            <th>N°</th>
            <th>Año</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Amortización</th>
            <th>Saldo</th>
            <th>Carta pago</th>
            <th>N° cheque amortización</th>
            <th>N° cheque de interes</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="text-align:center; ">@item.Calenroamortizacion</td>
            <td style="text-align:center; ">@item.Caleanio</td>
            <td style="text-align:right; ">@string.Format("{0:n}", item.Calecapital)</td>
            <td style="text-align:right; ">@string.Format("{0:n}", item.Caleinteres)</td>
            <td style="text-align:right; ">@string.Format("{0:n}", item.Caleamortizacion)</td>
            <td style="text-align:right; ">
                @string.Format("{0:n}", item.Caletotal)
            </td>
            <td>
                @item.Calecartapago
            </td>
            <td>
                @item.Calechequeamortpago
            </td>
            <td>
                @item.Calechequeintpago
            </td>
            <td>
                @item.Tabddescripcion
            </td>
        </tr>
        }
    </tbody>
</table>

