@model  IEnumerable<COES.Dominio.DTO.Sic.DaiAportanteDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaAportes">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>Estado</th>
            <th>Sin Aportar</th>
            <th>Procesar</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="fila">
                <td width="2%" style="display:none">@item.Aporcodi</td>
                <td class="text-left" width="25%">@item.Emprnomb</td>
                <td class="text-left" width="25%">@item.Emprrazsocial</td>
                <td width="20%">@item.Estadoaportante</td>
                <td  width="10%"><input id="txtSinAportar_@item.Aporcodi" type="number" onchange="javascript: anioSinAportar(@item.Aporcodi,this)" style="width: 80px !important" min="0" value="@(item.Aporaniosinaporte.HasValue?item.Aporaniosinaporte.Value:0)" step="1" max="@ViewBag.Presamortizacion" @(item.Tabcdcodiestado == Convert.ToInt32(COES.Framework.Base.Tools.DaiEstadoAportante.SinProcesar) ? "" : "disabled") /></td>
                <td  width="10%"><input class="reprocesar" id="chkReProcesar_@item.Aporcodi" value="@(item.Aporcodi + "_" + item.Tabcdcodiestado)" onclick="javascript: seleccionar(@item.Aporcodi, @item.Tabcdcodiestado)" type="checkbox" /></td>
                <td  width="8%">
                    @if (item.Tabcdcodiestado == Convert.ToInt32(COES.Framework.Base.Tools.DaiEstadoAportante.SinProcesar))
                    {
                        <img src="~/Areas/DevolucionAporte/Content/Images/ic_find.png" />
                    }
                    else
                    {
                        <a href="#" onclick="javascript: VerCronograma(@item.Aporcodi)"><img src="~/Areas/DevolucionAporte/Content/Images/ic_find.png" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
