@model COES.MVC.Intranet.Areas.ServicioRPF.Models.ServicioModel

<script type="text/javascript">  
    $(function () {      
        $('#cbSelectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });               
    });
</script>

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Pto Medición</th>
            <th>Estado</th>
            <th><input type="checkbox" id="cbSelectAll" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConsulta)
        {
            <tr>
                <td>@item.EMPRNOMB</td>
                <td>@item.EQUINOMB</td>
                <td>@item.EQUIABREV</td>
                <td>@item.PTOMEDICODI</td>
                <td>@item.INDICADOR</td>
                <td><input type="checkbox" id="cbSelect" name="cbSelect" value="@item.PTOMEDICODI" /></td>
            </tr>
        }
    </tbody>
</table>

