@model COES.MVC.Intranet.Areas.ServicioRPF.Models.ServicioModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Pto Medición</th>
            <th>Potencia Máxima</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConsulta)
        {
            <tr>
                <td>@item.EMPRNOMB</td>
                <td>@item.EQUINOMB</td>
                <td>@item.EQUIABREV</td>
                <td>@item.PTOMEDICODI</td>
                <td>@item.POTENCIAMAX.ToString("#,###.00")</td>                
            </tr>
        }
    </tbody>
</table>
