@model COES.MVC.Intranet.Areas.DemandaBarras.Models.NotificacionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeCuenta" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresaCuenta">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {   
                            <option value="@item.Emprcodi">@item.Emprnomb</option> 
                        }                            
                    </select>
                    <input type="hidden" id="hfEmpresaCuenta" value="@Model.EntidadCuenta.Emprcodi" />                    
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre:</td>
                <td class="registro-control">
                   <input type="text" id="txtNombreCuenta" value="@Model.EntidadCuenta.Empcornomb" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cuenta correo:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreoCuenta" value="@Model.EntidadCuenta.Empcoremail" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Comentarios:</td>
                <td class="registro-control">
                    <input type="text" id="txtComentarioCuenta" value="@Model.EntidadCuenta.Empcordesc" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoCuenta">
                        <option value="">-SELECCIONE-</option>
                        <option value="A">Activo</option>
                        <option value="B">Baja</option>                                 
                    </select>
                    <input type="hidden" id="hfEstadoCuenta" value="@Model.EntidadCuenta.Empcorestado" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarCuenta" value="Grabar" />
            <input type="button" id="btnCancelarCuenta" value="Cancelar" />
        </div>
        
        <input type="hidden" id="hfIdCuenta" value="@Model.EntidadCuenta.Empcorcodi" />
                
    </form>
</div>
