@model COES.MVC.Intranet.Areas.DemandaBarras.Models.NotificacionModel

<table border="0" class="pretty tabla-icono" id="tablaLog">
    <thead>
        <tr>
            <th>Detalle</th>
            <th>Asunto</th>
            <th>Empresa</th>            
            <th>Destinatarios</th>            
            <th>Remitente</th>
            <th>Fecha Envío</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCorreos)
        {
            <tr>
                <td>                   
                    <a href="JavaScript:verContenido(@item.Corrcodi);"><img src="~/Content/Images/btn-edit.png" /></a>                    
                </td>
                <td>@item.Corrasunto</td>
                <td>@item.Emprnomb</td>
                <td>@item.Corrto</td>
                <td>@item.Corrfrom</td>
                <td>@(((DateTime)item.Corrfechaenvio).ToString("dd/MM/yyyy HH:mm"))</td>            
            </tr>
        }
    </tbody>
</table>