@model COES.MVC.Intranet.Areas.DemandaBarras.Models.NotificacionModel

<table border="0" class="pretty tabla-icono" id="tablaCuenta">
    <thead>
        <tr>
            <th></th>                        
            <th>Tipo empresa</th>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Tipo</th>

        </tr>
    </thead>
    <tbody>       
            @foreach (var item in Model.ListaCuentas)
            {
                <tr>
                    <td>
                        @if (item.Empcorcodi != -1)
                        { 
                            <a href="JavaScript:editarCuenta(@item.Empcorcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                            <a href="JavaScript:eliminarCuenta(@item.Empcorcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                        }
                        else { 
                            <a href="JavaScript:return;"><img src="~/Content/Images/btn-edit.png" style="opacity:0.5" /></a>
                            <a href="JavaScript:return;"><img src="~/Content/Images/btn-cancel.png" style="opacity:0.5" /></a>
                        }
                    </td>
                    <td>@item.Tipoemprnomb</td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Empcornomb</td>
                    <td>@item.Empcoremail</td>
                    <td>@if (item.Empcorestado == "A") { 
                            <span>Activo</span>
                        }
                        else if(item.Empcorestado == "B") { 
                            <span>Baja</span>
                        }   
                    </td>
                    <td>
                        @if (item.Empcorcodi == -1) { 
                            <span>Módulo de Accesos</span>
                        }
                        else { 
                            <span>Adicional</span>
                        }
                    </td>
                </tr>
            }
    </tbody>
</table>