@model COES.MVC.Intranet.Areas.DemandaBarras.Models.NotificacionModel

<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {

        $('#cbSelectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });

        $('#btnGrabarConfiguracion').on('click', function () {
            grabarConfiguracion();
        });

        $('#cbNotificacion').on('change', function () {

            var estado = 'A';

            if ($('#cbNotificacion').prop('checked')) {
                estado = 'I';
            }

            configurarProceso(estado);
        });

        if ($('#hfIndProceso').val() == "I") {
            $('#cbNotificacion').prop('checked', true)
        }
        else{
            $('#cbNotificacion').prop('checked', false)
        }
    });

</script>


<div class="search-content" style="margin-bottom:10px; margin-top:5px">
    
    <div style="float:left; width:250px">
        <strong>Detener proceso de notificación:</strong>
        <input type="checkbox" id="cbNotificacion" />
    </div>
    <div style="width:100px; float:right; margin-right:40px">
        <input type="button" id="btnGrabarConfiguracion" value="Grabar configuración" />
    </div>
          
    <div style="clear:both"></div>
</div>

<input type="hidden" id="hfIndProceso" value="@Model.EstadoProceso" />

<table border="0" class="pretty tabla-icono" id="tablaEmpresas">
    <thead>
        <tr>            
            <th>Código</th>
            <th>Empresa</th>
            <th>Indicador Notificación</th>
            <th>
                
                <input type="checkbox" id="cbSelectAll" />
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEmpresaConfiguracion)
        {
            <tr>                
                <td>@item.Emprcodi</td>
                <td>@item.Emprnomb</td>
                <td>

                    @if (item.Indnotificacion == "S")
                    {
                      <span>Si</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>              
                <td>
               
                    @if (item.Indnotificacion == "S")
                    {
                        <input type="checkbox" checked="checked" id="cbSelect" value="@item.Emprcodi" />
                    }
                    else
                    {
                        <input type="checkbox" id="cbSelect" value="@item.Emprcodi" />
                    }
                </td>                
           </tr>
        }
    </tbody>
</table>


