@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel


<table class="pretty tabla-icono">
    <thead>
        <tr>
            @*<th>F.DE MUESTRA</th>*@
            <th>CODIGO ICCP(*)</th>
            <th>NOMBRE</th>
            <th>FLAG CALIDAD(*)</th>
            <th>VALOR</th>
            <th>F.EMPRESA(*)</th>
            <th>F. COES</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.GetMuestraRis7 != null)
            {
                foreach (var item in Model.GetMuestraRis7)
                {
                    var colorEstado = "";
                    if (@item.Delta == 1)
                    {
                        colorEstado = "LightSalmon";
                    }
                    else if (@item.Delta == -1)
                    {
                        colorEstado = "Chartreuse";
                    }
                    else
                    {
                        colorEstado = "";
                    }
                    if (@item.Canalcalidad == 136)
                    {
                        colorEstado = "LightSalmon";
                    }
                    if (@item.Canalcalidad == 137)
                    {
                        colorEstado = "Chartreuse";
                    }
                    <tr>
                        @*<td style="background-color:@colorEstado" align="center">@item.fecharep</td>*@
                        <td style="background-color:@colorEstado " align="center">@item.CanalIccp</td>
                        <td style="background-color:@colorEstado " align="center">@item.canalnomb</td>
                        <td style="background-color:@colorEstado " align="center">@item.CALIDAD2</td>
                        <td style="background-color:@colorEstado " align="center">@item.CANALVALOR</td>
                        <td style="background-color:@colorEstado " align="center">@item.HoraEmpresa</td>
                        <td style="background-color:@colorEstado " align="center">@item.HoraCoes</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>



