@model COES.MVC.Extranet.Areas.Eventos.Models.DatoInformeModel

@if(Model.Indicador == "S")
{ 
    <div class="popup-title"><span>Informes del COES</span></div>
    <div class="popup-text">
        <table cellpadding="0" cellspacing="0" class="pretty tabla-adicional tabla-iconofinal" style="width:700px">
            <thead>
                <tr>
                    <th scope="col">Área</th>
                    <th scope="col">Informe preliminar inicial</th>
                    <th scope="col">Informe preliminar</th>
                    <th scope="col">Informe final</th>
                    <th scope="col">Informe complementario</th>
                    <th scope="col">Ver informe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReporteSCO)
                {
                    <tr>
                        <td>CENTRO CONTROL COES</td>
                        <td>@item.EstadoPreliminarInicial</td>
                        <td>@item.EstadoPreliminar</td>
                        <td>@item.EstadoFinal</td>
                        <td>@item.EstadoComplementario</td>
                        <td>
                            <a href="JavaScript:showInforme(@item.Emprcodi, @item.Evencodi);" title="Visualizar el informe">
                                <img src="~/Content/Images/Visualizar.png" alt="Ver" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Indicador == "S") { 
    <div class="popup-title"><span>Informes de otras empresas</span></div>
}
else
{
    <div class="popup-title"><span>Estado de los Informes</span></div>
}


<div class="popup-text">
    <table cellpadding="0" cellspacing="0" class="pretty tabla-adicional" id="tablaReporte">
        <thead>
            <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Informe preliminar</th>
                <th scope="col">Informe final</th>
                <th scope="col">Informe complementario</th>
                <th scope="col">Ver informe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reporte)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.EstadoPreliminar</td>
                    <td>@item.EstadoFinal</td>
                    <td>@item.EstadoComplementario</td>
                    <td> 
                        <a href="JavaScript:showInforme(@item.Emprcodi, @item.Evencodi);" title="Visualizar el informe">
                            <img src="~/Content/Images/Visualizar.png" alt="Ver"/>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>