@model COES.MVC.Extranet.Areas.Eventos.Models.EventoModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Tipo Evento</th>
            <th scope="col">Empresa</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Equipo</th>
            <th scope="col">Inicio</th>
            <th scope="col">Final</th>
            <th scope="col">Descripción</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEvento)
        {
            <tr>
                <td style="width:70px">
                    <a href="JavaScript:cargarInforme(@item.Evencodi)" title="Ir a la pantalla de informes">
                        <img src="~/Content/Images/Visualizar.png" alt="Ir a pantalla" />
                    </a>

                    <a href="JavaScript:verEstadoInformes(@item.Evencodi)" title="Ver estado de mis informes">
                        <img src="~/Content/Images/Informe.png" alt="Ver estado"/>

                    </a>
                    <a href="JavaScript:cargarOtrosInformes(@item.Evencodi)" title="Visualizar el informe de otras empresas">
                        <img src="~/Content/Images/Verificar.png" alt="Verificar" />
                    </a>
                </td>
                <td>@item.Tipoevenabrev</td>
                <td>@item.Emprnomb</td>
                <td>@item.Tareaabrev  @item.Areanomb</td>
                <td>@item.Equiabrev</td>
                <td>
                    @if (item.Evenini != null)
                    {
                        <span>@(((DateTime)item.Evenini).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>
                <td>
                    @if (item.Evenfin != null)
                    {
                        <span>@(((DateTime)item.Evenfin).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>
                <td>@item.Evenasunto</td>
            </tr>
        }
    </tbody>
</table>