@{
    ViewBag.Title = ".::Intranet SGOCOES COES::.";
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Areas/PMPO/Content/Scripts/jquery.countdown.min.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/moment.min.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/pmpo-obras-index.js"></script>


<div id="div-obra-index" data-date-for-submission="@Model.DateForSubmission.ToString("yyyy/MM/dd HH:mm:ss")">
    <div class="form-title">
        <div class="content-titulo">Programa de Obras</div>
        <div class="content-botonera" style="margin-left:auto">
            <input id="btn-obra-new" type="button" value="Nuevo" />
            <input id="btn-obra-search" type="button" value="Buscar" />
        </div>
    </div>

    <style>
        th {
            text-align: right;
        }
    </style>
    <div class="content-hijo">
        <div id="div-message"></div>
        <div class="action-message">
            <div class="pull">
                <b class="color-blue">Periodo:</b>
                <span id="lbl-period">@Model.Period.Start.ToString("MMM yyyy").ToUpper() - @Model.Period.End.ToString("MMM yyyy").ToUpper()</span>
            </div>
            <div id="div-fecha-max-remision" class="pull">
                <b class="color-blue">Fecha máxima de remisión:</b>
                <span id="lbl-deadline-for-submission">@Model.DeadlineForSubmission.ToString("dd \\de MMMM yyyy HH:mm")</span>
            </div>
            <div id="div-tiempo-restante" class="pull">
                <b class="color-blue">Apertura de envío de información:</b>
                <span id="lbl-clock"></span>
            </div>
        </div>
        <div class="search-content" style="padding:10px">
            <div class="field-control-group">
                <div class="field-group">
                    <span class="field-label">
                        Empresa :
                    </span>
                    <div class="field-control">
                        @Html.DropDownList("cboEmpresa", ViewData["cboEmpresa"] as List<SelectListItem>, new { @style = "width:220px" })
                    </div>
                </div>
            </div>
            <div class="field-control-group">
                <div class="field-group">
                    <span class="field-label">
                        Tipo de Obra :
                    </span>
                    <div class="field-control">
                        @Html.DropDownList("cboTipoObra", ViewData["cboTipoObra"] as List<SelectListItem>, new { @style = "width:220px" })
                    </div>
                </div>
            </div>
            <div class="field-control-group">
                <div class="field-group">
                    <span class="field-label">
                        Fecha :
                    </span>
                    <div class="field-control">
                        <input type="text" id="txt-fecha" name="name" value="@(String.Format("{0:MM / yyyy}", Model.DateForSubmission))" />
                    </div>
                </div>
            </div>
            <br /><br />
            <fieldset class="field-control-group">
                <legend>Reporte Históricos:</legend>
                <div class="field-control-group">
                    <div class="field-group">
                        <span class="field-label">
                            Ver Reporte Históricos :
                        </span>
                        <div class="field-control">
                            <input type="checkbox" id="chk-historicos" style="vertical-align:middle" />
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="field-control-group">
                    <div class="field-group">
                        <span class="field-label">
                            Fecha Inicio :
                        </span>
                        <div class="field-control">
                            <input type="text" id="txt-date-since" name="name" value="@DateTime.Now.AddMonths(-12).ToString("MM / yyyy")" />
                        </div>
                    </div>
                </div>
                <div class="field-control-group">
                    <div class="field-group">
                        <span class="field-label">
                            Fecha Fin :
                        </span>
                        <div class="field-control">
                            <input type="text" id="txt-date-until" name="name" value="@DateTime.Now.ToString("MM / yyyy")" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <table id="tbl-obras" class="tabla-formulario pretty"></table>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $('#div-obra-index').form();
    })
</script>