@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.GeneradorModel

<table border="0" class="pretty tabla-icono" id="tabla_2">
    <thead>
        <tr>
            <th style="width:150px">Empresa Generadora</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEmpresaGeneradora)
        {
            <tr id="filaEG_@item.Stgenrcodi">
                <td style="text-align:left">@item.Emprnomb</td>
                <td style="width:30px;"><a href="@Url.Action("Index", "centralGeneracion", new { id = item.Stgenrcodi })"><img src="@Url.Content("~/Content/Images/recalculo.jpg")" title="Crear Central Generacion" alt="Crear Central Generacion" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Stgenrcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Stgenrcodi" class="deleteEG"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>