@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

<div class="content-registro">
    <table role="presentation">
        <tr>
            <td class="tbform-label">Empresa:</td>
            <td class="tbform-control">@Model.Ieodcuadro.Emprnomb</td>
        </tr>

        <tr>
            <td class="tbform-label">Ubicación:</td>
            <td class="tbform-control">@Model.Ieodcuadro.Areanomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Equipo:</td>
            <td class="tbform-control">@Model.Ieodcuadro.Equiabrev</td>
        </tr>

        <tr>
            <td class="tbform-label">Inicio:</td>
            <td class="tbform-control">@Model.Ieodcuadro.Ichorini</td>

            <td class="tbform-label">Final:</td>
            <td class="tbform-control">@Model.Ieodcuadro.Ichorfin</td>
        </tr>

        <tr>
            <td colspan="4" class="tbform-label">Descripción: </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-control" style=" padding-bottom: 15px;">
                @Model.Ieodcuadro.Descripcion
            </td>
        </tr>
    </table>
</div>