@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />
    <h2>@Model.Mensaje</h2>

    return;
}

<table id="tabla_hist" class="pretty tabla-adicional " style="width: 500px" role="presentation">
    <thead>
        <tr>
            <th style="width: 200px" scope="col">Estado</th>
            <th scope="col">Indisponibilidad</th>
            <th scope="col">Pr (MW)</th>
            <th scope="col">Usuario modificación</th>
            <th scope="col">Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIndIeodcuadro)
        {

            <tr>
                <td>@item.IiccoestadoDesc</td>
                <td>@item.Iiccotipoindisp</td>
                <td>@item.Iiccopr</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
            </tr>
        }
    </tbody>
</table>