@model COES.MVC.Intranet.Areas.Eventos.Models.InformeModel

@foreach (var item in Model.ListaFiles)
{
    <div class="formato-file">
        <div class="formato-boton">
            @if (Model.IndicadorEdicion == "S")
            {
                <a href="JavaScript:editarFile(@item.Eveninffilecodi, '@item.Desfile');"><img src="~/Content/Images/Pen.png" title="Editar descripción" /></a>
                <a href="JavaScript:deleteFile(@item.Eveninffilecodi);"><img src="~/Content/Images/Trash.png" title="Eliminar" /></a>
            }
        </div>
        <div class="formato-icon">

            <a href="http://www.coes.org.pe/appfileserver/documentos/@item.FileName" target="_blank">
                @if (item.Extfile == "pdf")
                {
                    <img src="~/Content/Images/pdf.png" />
                }
                else if (item.Extfile == "xls" || item.Extfile == "xlsx")
                {
                    <img src="~/Content/Images/excel.png" />
                }
                else if (item.Extfile == "doc" || item.Extfile == "docx")
                {
                    <img src="~/Content/Images/doc.png" />
                }
                else
                {
                    <img src="~/Content/Images/archivo.png" />
                }
            </a>
        </div>
        <div class="formato-name">
            @item.Desfile
        </div>
    </div>
}

<input type="hidden" id="hfCodigoInforme" value="@Model.IdInforme" />

