@model COES.MVC.Intranet.Areas.Eventos.Models.InformeModel

<div class="content-registro">
    <table style="width:400px">
        <tr>
            <td class="registro-label" style="width:140px">Estado del informe:</td>
            <td class="registro-control">@Model.EstadoInforme</td>
        </tr>
        <tr>
            <td class="registro-label">Cumplimiento:</td>
            <td class="registro-control">@Model.PlazoInforme</td>
        </tr>
    </table>

    @if (@Model.IndicadorCompletoInforme == "S")
    {    
        <table style="width:400px" >
            <tr>
                <td class="registro-label" style="width:140px; border-top:1px none" >Usuario que informó:</td>
                <td class="registro-control" style="border-top:1px none">@Model.UsuarioInforme</td>
            </tr>
            <tr>
                <td class="registro-label">Fecha del informe:</td>
                <td class="registro-control">@Model.FechaInforme</td>
            </tr>
        </table>
    }   
    <table style="width:400px">
        <tr>
            <td class="registro-label" style="width:140px; border-top:1px none">Usuario que revisó:</td>
            <td class="registro-control" style="border-top:1px none">@Model.UsuarioRevisionInforme</td>
        </tr>
        <tr>
            <td class="registro-label">Fecha de revisión:</td>
            <td class="registro-control">@Model.FechaRevisionInforme</td>
        </tr>
    </table>
</div>
