@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleBarraModelado

<div class="content-registro">
    <table>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                @Model.BarraModelada.Gruponomb
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                @Model.BarraModelada.Grupoabrev
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tensión:</td>
            <td class="tbform-control">
                @Model.BarraModelada.Grupotension
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Barras Equipamiento:</td>
            <td class="tbform-control"></td>
        </tr>
    </table>
    <br/>
    <div id="listadoBarrasEquipo">
        <table border="0" class="pretty tabla-icono display compact" id="tablaListadoBarras">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Ubicación</th>
                    <th>Tipo</th>
                    <th>Abreviatura</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListabarrasEquipo.Count > 0)
                {
                    foreach (var item in Model.ListabarrasEquipo)
                    {
                        <tr>
                            <td>@item.EMPRNOMB</td>
                            <td>@item.AREANOMB</td>
                            <td>@item.Famnomb</td>
                            <td>@item.Equiabrev</td>
                            <td>@item.Equinomb</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>