@model COES.MVC.Intranet.Areas.Despacho.ViewModels.DetalleBarraModelado
<script src="~/Areas/Despacho/Content/Scripts/EditarBarraModelada.js"></script>
<div class="content-registro">
    <table>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                <input type="text" id="txtGruponomb" value="@Model.BarraModelada.Gruponomb" name="Gruponomb" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                <input type="text" id="txtGrupoabrev" value="@Model.BarraModelada.Grupoabrev" name="Grupoabrev" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tensión:</td>
            <td class="tbform-control">
                <input type="text" id="txtGrupotension" value="@Model.BarraModelada.Grupotension" name="Grupotension" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Barras Equipamiento:</td>
            <td class="tbform-control"></td>
        </tr>
    </table>
    <input type="hidden" value="@Model.BarraModelada.Grupocodi" id="hdnGrupoCodi"/>
    <br />
    <div id="listadoBarrasEquipoDisponible">
        <table border="0" class="pretty tabla-icono display compact" id="tablaEquiposTotales">
            <thead>
                <tr>
                    <th></th>
                    <th>Empresa</th>
                    <th>Ubicación</th>
                    @*<th>Tipo</th>*@
                    <th>Abreviatura</th>
                    <th>Nombre</th>
                    <th>Chek</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListabarrasEquipo.Count > 0)
                {
                    foreach (var item in Model.ListabarrasEquipo)
                    {
                        <tr>
                            <td>@item.Equicodi</td>
                            <td>@item.EMPRNOMB</td>
                            <td>@item.AREANOMB</td>
                            @*<td>@item.Famnomb</td>*@
                            <td>@item.Equiabrev</td>
                            <td>@item.Equinomb</td>
                            <td>@item.Grupocodi</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div style="width:200px; margin:auto">
    <input type="button" id="btnGrabarEdit" value="Grabar" />
    <input type="button" id="btnCancelarEdit" value="Cancelar" />
</div>