@model COES.MVC.Intranet.Areas.Despacho.ViewModels.ListaBarrasModeladasViewModel
<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th></th>
            <th>Abreviatura</th>
            <th>Nombre</th>
            <th>Tensión</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaBarras.Count > 0)
        {
            foreach (var item in Model.ListaBarras)
            {
                <tr>
                    <td>
                        <a href="JavaScript:detalleBarraModelada(@item.Grupocodi);" title="Mostar detalle Barra Modelada"><img src="~/Content/Images/btn-open.png" alt=""></a>
                        <a href="JavaScript:editarBarraModelada(@item.Grupocodi);" title="Editar Barra Modelada"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    </td>
                    <td>@item.Grupoabrev</td>
                    <td>@item.Gruponomb</td>
                    <td>@(item.Grupotension.HasValue ? item.Grupotension.Value.ToString() : "")</td>
                </tr>
            }
        }
    </tbody>
</table>