@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamiliaDetalleModel

@*<div style="clear:both; height:30px"></div>*@
<div>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Código:</td>
            <td class="tbform-control">@Model.Famcodi</td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">@Model.Famnomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">@Model.Famabrev</td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo E Codi:</td>
            <td class="tbform-control">@Model.Tipoecodi</td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo de ubicación:</td>
           @* <td class="tbform-control">@Model.AreaUsuIns</td>*@
        </tr>
        <tr>
            <td class="tbform-label">Número de conexión:</td>
            <td class="tbform-control">@Model.Famnumconec</td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre de gráfico:</td>
            <td class="tbform-control">@Model.Famnombgraf</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.EstadoDescripcion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creción:</td>
            <td class="tbform-control">@Model.UsuarioCreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creción:</td>
            <td class="tbform-control">@Model.FechaCreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.UsuarioUpdate</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de modificación:</td>
            <td class="tbform-control">@Model.FechaUpdate</td>
        </tr>
        @*<tr>
            <td></td>
            <td><input id="btnRegresar" value="Regresar" type="button"></td>
        </tr>*@
    </table>
</div>
@*<script>
    $('#btnRegresar').click(function () {
        window.history.back();
        return false;
    });
</script>*@