@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamiliaDetalleModel
<script>
    $(function () {

        $('#btnGuardarEdit').click(function () {
            actualizarFamilia();
        });
        $('#cbTipoArea').val($('#hdnTareacodi').val());
        $('#cbEstadoFamEdit').val($('#hdnEstado').val());
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("GuardarFamilia", "Familia", FormMethod.Post, new { @class = "form-search", name = "frmEditFamilia", id = "frmEditFamilia" }))
    {
        <input id="hdnFamcodi" type="hidden" value="@Model.Famcodi" name="Famcodi" />
        <input id="hdnTareacodi" type="hidden" value="@Model.Tareacodi" />
        <input id="hdnEstado" type="hidden" value="@Model.Famestado" />
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnomb" name="Famnomb" value="@Model.Famnomb" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Abreviatura:</td>
                <td class="tbform-control">
                    <input type="text" id="Famabrev" name="Famabrev" value="@Model.Famabrev" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo E Codi:</td>
                <td class="tbform-control">

                    <input type="text" id="Tipoecodi" name="Tipoecodi" value="@Model.Tipoecodi" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de ubicación:</td>
                <td class="tbform-control">
                    <select id="cbTipoArea" name="Tareacodi">
                        @foreach (var item in Model.ListaTipoArea)
                        {
                            <option value="@item.Tareacodi">@item.Tareanomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Número de conexión:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnumconec" name="Famnumconec" value="@Model.Famnumconec" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Nombre de gráfico:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnombgraf" name="Famnombgraf" value="@Model.Famnombgraf" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoFamEdit" name="Famestado">
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarEdit" />
</div>