@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamiliaListaModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="70%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Nombre Gráfico</th>
            <th>Num. de Conexiones</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaFamilia)
        {
            <tr>
                <td style="@item.UsuarioCreacion">
                    <a onclick="mostrarDetalle(@item.Famcodi);" title="Mostar detalle tipo equipo"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarFamilia(@item.Famcodi)" title="Editar tipo equipo" class="@Model.EnableEditar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                </td>
                <td style="@item.UsuarioCreacion">@item.Famnomb</td>
                <td style="@item.UsuarioCreacion">@item.Famabrev</td>
                <td style="@item.UsuarioCreacion">@item.Famnombgraf</td>
                <td style="@item.UsuarioCreacion">@item.Famnumconec</td>
                <td style="@item.UsuarioCreacion">@item.EstadoDescripcion</td>
            </tr>
        }
    </tbody>
</table>
