@model COES.MVC.Intranet.Areas.Admin.Models.SolicitudModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Content/Scripts/nuevosolicitud.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">
               
        @if (Model.TipoSolicitud == "N")
        {
            <span>Solicitud de Creación de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>
        }

        else if (Model.TipoSolicitud == "M")
        {
            <span>Solicitud de Modificación de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>
        }
        else if (Model.TipoSolicitud == "B")
        {
            <span>Solicitud de Baja de Usuarios Nro:</span> <strong>@Model.IdSolicitud</strong><span> Empresa:</span>  <strong>@Model.EmpresaNombre</strong>
        }     

    </div>
    <div class="content-botonera">
        <input type="button" id="btnCancelar" value="Regresar" />
    </div>
</div>
<div style="clear:both"></div>
<div class="content-hijo">   
    <div id="mensaje" class="action-message" >Revise los datos de la solicitud</div>

    <div id="contenedor" style="margin:auto">
    </div>

    <input type="hidden" id="hfIdSolicitud" value="@Model.IdSolicitud" />
    <input type="hidden" id="hfTipoSolicitud" value="@Model.TipoSolicitud" />

</div>