@model COES.MVC.Intranet.Areas.Admin.Models.SolicitudModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:80px">Acciones</th>
            <th>Nro. Solicitud</th>
            <th>Empresa</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Estado</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaSolicitud.Count > 0)
        {
            foreach (var item in Model.ListaSolicitud)
            {
                <tr>
                    <td style="width:80px">
                        <a href="JavaScript:verSolicitud(@item.SolicCodi);"><img src="~/Content/Images/btn-edit.png" title="Ver los datos de la solicitud" /></a>
                        @if (item.SolicEstado == "P")
                        {
                            <a href="JavaScript:anularSolicitud(@item.SolicCodi);"><img src="~/Content/Images/btn-cancel.png" title="Anular solicitud" /></a>
                            <a href="JavaScript:aprobarSolicitud(@item.SolicCodi);"><img src="~/Content/Images/btn-ok.png" title="Aprobar solicitud" /></a>
                        }
                    </td>
                    <td>@item.SolicCodi</td>
                    <td>@item.EmprNomb</td>
                    <td>@item.UserCreate</td>
                    <td>@(((DateTime)item.SolicFecha).ToString("dd/MM/yyyy"))</td>
                    <td>
                        @if (item.SolicTipo == "B")
                        {
                            <span>Baja de usuarios</span>
                        }
                        else if (item.SolicTipo == "N")
                        {
                            <span>Creación de usuarios</span>
                        }
                        else if (item.SolicTipo == "M")
                        {
                            <span>Modificación de usuarios</span>
                        }
                    </td>
                    <td>
                        @if (item.SolicEstado == "P")
                        {
                            <span>Pendiente</span>
                        }
                        else if (item.SolicEstado == "A")
                        {
                            <span>Aprobado</span>
                        }
                        else if (item.SolicEstado == "X")
                        {
                            <span>Anulado</span>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>