@{
    ViewBag.Title = "Lista";
}

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Fecha Envío</th>
            <th>Empresa</th>
            <th>Formato</th>
            <th>Fecha Ampliación</th>
            <th>Último Usuario</th>
            <th>Fecha de Modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAmpliacion)
        {
            DateTime fecha = (DateTime)item.Amplifecha;
            DateTime fechaPlazo = (DateTime)item.Amplifechaplazo;
            DateTime lastdate = (DateTime)item.Lastdate;

            <tr >
                <td>@fecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Emprnomb</td>
                <td>@item.Formatnombre</td>
                <td>@fechaPlazo.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                <td>@item.Lastuser</td>
                <td>@lastdate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
            </tr>
        }
    </tbody>
</table>