@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaMeScadaSp7Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/TiempoReal/Content/Scripts/scadasp7.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Scada Sp7</div>
        <div class="content-botonera">
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px">
        La información presentada refleja un desfase de hasta 30 minutos, debido al intervalo de actualización del sistema.
    </div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td width="200">
                    <div id="rbSSEEDiv">
                        <input type="radio" id="rbSSEE" name="rbSSEEFiltro" value="S" onclick="activarSSEEoFiltro()" />Ubicaci&oacute;n<br>
                    </div>
                    <div id="rbFiltroDiv">
                        <input type="radio" id="rbFiltro" name="rbSSEEFiltro" value="N" onclick="activarSSEEoFiltro()" />Filtro
                    </div>
                </td>

                <td>
                    <select id="cbZona" name="cbZona" style="width:300px">
                        @foreach (var item in Model.ListaTrZonaSp7)
                        {
                            string cad1 = @item.Zonanomb.Trim() + "          (" + @item.Zonaabrev.Trim() + ")";
                            <option style="font-family: 'Courier New'" value="@item.Zonacodi">@cad1</option>
                        }
                    </select>
                </td>

                <td>
                    <select id="cbFiltro" name="cbFiltro" style="width:300px">
                        @foreach (var item in Model.ListaMeScadaFiltroSp7)
                        {
                            string cad1 = "";
                            try
                            {
                                cad1 = @item.Filtronomb.Trim() + "          (" + @item.Filtrouser.Trim() + ")";
                            }
                            catch
                            {
                                cad1 = @item.Filtronomb.Trim() + "          ( )";
                            }
                            <option style="font-family: 'Courier New'" value="@item.Filtrocodi">@cad1</option>
                        }
                    </select>
                </td>


                <td>Desde:</td>
                <td><input type="date" id="txtFechaDesde" name="FechaInicio" value="@Model.FechaIni" style="width:120px" /></td>
                <td>Hasta:</td>
                <td><input type="date" id="txtFechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" max="@Model.FechaFin" /></td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                </td>

                <td>
                    <table border="1">
                        <tr>
                            <td>
                                <table border="1">
                                    <tr>
                                        <td bgcolor="#FFFFCC"><input id="rb30min" name="rbexcel" type="radio" value="" />30"</td>
                                        <td bgcolor="#FFFFCC"><input id="rb15min" name="rbexcel" type="radio" value="" />15"</td>

                                    </tr>

                                    <tr>
                                        <td colspan="2" bgcolor="#FFFFCC"><input name="btnExcel" type="button" id="btnExcel" value="Excel" /></td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>


