@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ParametroModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .Selected {
        background-color: #ffd800;
    }
</style>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/Parametro.js?V=112.2"></script>

<div class="form-title">
    <div class="content-titulo">
        Parámetros
    </div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <div id="tab-container" class="tab-container" style="min-height:700px">
        <ul class='etabs'>
            <li class='tab'><a href="#Proceso">Proceso</a></li>
            <li class='tab'><a href="#MontoporCapacidad">Pago por Capacidad</a></li>
            <li class='tab'><a href="#MontoporServicio">SC e IO</a></li>
            <li class='tab'><a href="#MontoporReactiva">Monto por Reactiva</a></li>
        </ul>

        <div id="Proceso" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Proceso</span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='PProceso' style="margin-bottom:5px; margin-top:0; "></div>

                <div class="search-content">
                    <div>
                        <label>Hora de Ejecución: </label>
                        <input type="text" id="txtHoraEjecucion" value="@Model.HoraEjecucion" /> (hh:mm)
                    </div>
                    <div><input type="button" value="Guardar" id="btnGuardarHoraE" name="btnGuardarHoraE" /></div>
                </div>
            </div>
        </div>

        <div id="MontoporCapacidad" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Pago por Capacidad</span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='mensajeMargenR' style="margin-bottom:5px; margin-top:0; "></div>
            </div>

            <div class="search-content">
                <h3>Margen de Reserva</h3>

                <div><label>Margen de Reserva: </label><input type="number" id="txtValorMargenR" name="txtValorMargenR" value=" @ViewBag.MargenReserva" /> (%)</div>

                <div><input type="button" value="Guardar" id="btnGuardarMargenR" name="btnGuardarMargenR" /></div>

            </div>
        </div>

        <div id="MontoporServicio" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Monto por Servicio complementario e inflexibilidades operativas</span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='mensajeGeneral' style="margin-bottom:5px; margin-top:0; "></div>

            </div>


            <div class="search-content">
                <h3>Factores de Reparto de energía semanal</h3>
                <table class="pretty tabla-formulario" style="width:30%;">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>N°</th>
                            <th>Factor de Reparto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sábado</td>
                            <td>1</td>
                            <td><input type="number" id="txtSabado" name="" value="@ViewBag.FactorRepartoSabado" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td>2</td>
                            <td><input type="number" id="txtDomingo" name="" value="@ViewBag.FactorRepartoDomingo" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Lunes</td>
                            <td>3</td>
                            <td><input type="number" id="txtLunes" name="" value="@ViewBag.FactorRepartoLunes" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Martes</td>
                            <td>4</td>
                            <td><input type="number" id="txtMartes" name="" value="@ViewBag.FactorRepartoMartes" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Miercoles</td>
                            <td>5</td>
                            <td><input type="number" id="txtMiercoles" name="" value="@ViewBag.FactorRepartoMiercoles" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Jueves</td>
                            <td>6</td>
                            <td><input type="number" id="txtJueves" name="" value="@ViewBag.FactorRepartoJueves" maxlength="6" /></td>
                        </tr>
                        <tr>
                            <td>Viernes</td>
                            <td>7</td>
                            <td><input type="number" id="txtViernes" name="" value="@ViewBag.FactorRepartoViernes" maxlength="6" /></td>
                        </tr>

                    </tbody>
                </table>
                <div><h3>Nota: La suma de los Factores de Reparto debe ser 1</h3></div>
                <div><h3>Porcentaje de Pérdidas del Sistema</h3></div>
                <div>Porcentaje de Pérdidas: <input type="number" id="txtPorcentajePerdida" value=" @ViewBag.PorcentajePerdida" /> %</div>

                <div><h3>Cálculos de los montos por Servicios complementarios e Inflexibilidad Operativa</h3></div>
                <div>Costo de Oportunidad S/. <input type="number" id="txtCostoOportunidad" value="@ViewBag.CostoOportunidad" />(S/./dia)</div>
                <div style="clear:both; height:5px;"></div>
                <div><input type="button" value="Guardar" id="btnGuardarMontoServicio" name="btnGuardarMontoServicio" /></div>

            </div>
        </div>

        <div id="MontoporReactiva" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Monto por Energía reactiva</span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='mensajeCargoC' style="margin-bottom:5px; margin-top:0; "></div>
            </div>

            <div class="search-content">
                <h3>Pago promedio de los costos considerados en las valorizaciones de transferencias de Energía Reactiva</h3>
                <table style="width:60%;">
                    <tr><td>Costo Fuera de Banda (CUGFdBR)  </td><td><input type="number" id="txtFueraBanda" value="@ViewBag.CostoFueraBanda" /> (S/./dia)</td></tr>
                    <tr><td>Costos Otros Equipos (CECR)  </td><td><input type="number" id="txtCostoOtrosEquipos" value="@ViewBag.CostosOtrosEquipos" /> (S/./dia)</td></tr>
                    <tr><td>FREC Total (FREC) </td><td><input type="number" id="txtFRECTotal" value="@ViewBag.FRECTotal" /> (S/./dia)</td></tr>
                </table>
                <div><input type="button" value="Guardar" id="btnGuardarCargosC" /></div> @*cambios*@
                <div><h3>Cargos por consumo en exceso de Energía Reactiva</h3></div>
                <table style="width:60%;margin-bottom: 20px;">
                    <tr>
                        <td>
                            Participante:
                            <select id="cbEmpresa">
                                <option value="0">** Participante **</option> @*cambios*@
                                @foreach (var empresa in Model.Empresas)
                                {

                                    <option value="@empresa.Emprcodi" data-id="@empresa.Emprcodi">@empresa.Emprnomb</option>
                                }
                            </select>
                        </td>
                        <td>
                            Fecha: 
                            <input type="text" id="txtFechaEneReactiva" value="@ViewBag.FechaFormatoMesAnio" />
                        </td>
                        <td>
                            Monto :
                            <input type="number" id="monto" style="width:100px" value="0.0" /> (S /./ dia)
                        </td>
                        <td>
                            <input type="button" value="Añadir" id="btnAñadirEmpresaEneReactiva" />
                        </td>
                    </tr>
                </table>

                <div class="table-list" id="ListarCargosENR" style="width: 60%"></div>  
            </div>
        </div>
    </div>
</div>



