@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.EnergiaReactiva.Count == 0)
{
    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla" style="overflow-y: auto">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Fecha de Modificación</th>
                <th>Participante</th>
                <th>Monto</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EnergiaReactiva)
            {
                <tr>
                    <td>@item.Caerfecha.ToString("MM/yyyy")</td>
                    <td>@item.Caerfecmodificacion</td>
                    <td>@item.Emprnomb</td>
                    <td style="text-align: right;">@String.Format("{0:0.00}", item.Caermonto)</td>
                    <td>
                        <a href="JavaScript:eliminarEneReactiva(@item.Emprcodi, '@item.Caerfecha.ToString("dd/MM/yyyy")')">
                            <img src="~/Content/Images/btn-cancel.png" title="Eliminar punto" alt="Eliminar Punto">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
