@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaViewModel
<script>
    $(function () {
        $('#btnActualizar').click(function () {
            actualizarCategoria();
        });

        $("#cbTipoEquipo").change(function () {
            actualizarListaCategoriaPadre();
        });

        var padrectg = $("#hfCtgpadre").val();
        padrectg = padrectg != null && padrectg != "" ? padrectg : 0;
        $("#cbCategoriaPadre").val(padrectg);
        $('input:radio[name=CtgFlagExcluyente][value=' + $("#hfCtgFlagExcluyente").val() + ']').attr('checked', true);
        $("#cbEstadoCategoria").val($("#hfEstado").val());
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("EditarCategoria", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmEditCategoria", id = "frmEditCategoria" }))
    {
        <input type="hidden" id="hfCtgcodi" value="@Model.Ctgcodi" name="Ctgcodi" />
        <input type="hidden" id="hfFamcodi" value="@Model.Famcodi" />
        <input type="hidden" id="hfCtgpadre" value="@Model.Ctgpadre" />
        <input type="hidden" id="hfCtgFlagExcluyente" value="@Model.CtgFlagExcluyente" />
        <input type="hidden" id="hfEstado" value="@Model.Ctgestado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td class="tbform-control">
                    <select id="cbTipoEquipo" name="Famcodi" disabled>
                        @foreach (var item in Model.ListaTipoEquipo)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Categoria padre:</td>
                <td class="tbform-control">
                    <select id="cbCategoriaPadre" name="Ctgpadre" disabled>
                        <option value="0">Ninguno</option>
                        @foreach (var item in Model.listaCategoria)
                        {
                            <option value="@item.Ctgcodi">@item.Ctgnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="text" id="Ctgnomb" name="Ctgnomb" value="@Model.Ctgnomb" style="width:218px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Excluyente de otras categorias:</td>
                <td class="tbform-control">
                    @foreach (var item in Model.ListaEstadoFlag)
                    {
                        <label>
                            <input type="radio" name="CtgFlagExcluyente" id="optRadio@(item.EstadoCodigo)" value="@item.EstadoCodigo">
                            <span>@item.EstadoDescripcion</span>
                        </label>
                    }
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoCategoria" name="Ctgestado">
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    }

</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar">
</div>