@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaEquipoViewModel
<script>
    $(function () {
        $('#' + idFormEdit + ' #cbCategoria').val('@(Model.Ctgcodi)');
        $('#' + idFormEdit + ' #cbSubclasificacion').val('@(Model.Ctgdetcodi)');

        $('#btnActualizar').click(function () {
            actualizarClasificacion();
        });

        $("#cbCtgequiestado").val($("#hfCtgequiestado").val());

        $('#' + idFormEdit + ' #cbCategoria').change(function () {
            cargarSubclasificacion(idFormEdit, tipoComboSeleccione);
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("EditarClasificacionEquipo", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmEditCategoriaEquipo", id = "frmEditCategoriaEquipo" }))
    {
        <input type="hidden" id="hfCtgequiestado" value="@Model.Ctgequiestado" />
        <input type="hidden" id="hfCtgcodi" value="@Model.Ctgcodi" name="Ctgcodi" />
        <input type="hidden" id="hfEquicodi" value="@Model.Equicodi" name="Equicodi" />
        <input type="hidden" id="hfCtgdetcodiOld" value="@Model.CtgdetcodiOld" name="CtgdetcodiOld" />
        <input type="hidden" id="hfEquicodiOld" value="@Model.EquicodiOld" name="EquicodiOld" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Empresa:</td>
                <td class="tbform-control">@Model.Emprnomb</td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td class="tbform-control">@Model.Famnomb</td>
            </tr>
            <tr>
                <td class="tbform-label">Equipo:</td>
                <td class="tbform-control">@Model.Equinomb</td>
            </tr>
            <tr>
                <td class="tbform-label">Categoria:</td>
                <td class="tbform-control">
                    <select id="cbCategoria" name="iCategoria">
                        <option value="-3">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaCategoria)
                        {
                            <option value="@item.Ctgcodi">@item.Ctgnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Subcategoria:</td>
                <td class="tbform-control">
                    <select id="cbSubclasificacion" name="Ctgdetcodi">
                        <option value="-3">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaSubclasificacion)
                        {
                            <option value="@item.Ctgdetcodi">@item.Ctgdetnomb</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbCtgequiestado" name="Ctgequiestado">
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    }

</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar">
</div>