@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaDetViewModel
<script>
    $(function () {
        $('#btnActualizar').click(function () {
            actualizarCategoriaDetalle();
        });

        $("#cbEstadoCategoria").val($("#hfCtgdetestado").val());
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("EditarCategoriaDetalle", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmEditCategoriaDetalle", id = "frmEditCategoriaDetalle" }))
    {
        <input type="hidden" id="hfCtgdetcodi" value="@Model.Ctgdetcodi" name="Ctgdetcodi" />
        <input type="hidden" id="hfCtgdetestado" value="@Model.Ctgdetestado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Categoria:</td>
                <td class="tbform-control">
                    @Model.Ctgnomb
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                <input type="text" id="Ctgdetnomb" name="Ctgdetnomb" value="@Model.Ctgdetnomb" style="width:218px" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">
                <select id="cbEstadoCategoria" name="Ctgdetestado">
                    @foreach (var item in Model.ListaEstados)
                    {
                        <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    }

</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar">
</div>