@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaIndexModel
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/categoria.js?id=2"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Listado de Categorías</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        @if (Model.AccesoNuevo)
        {
            <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
    <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
    <div class="search-content" style="margin-bottom:0">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Tipo equipo:</td>
                <td>
                    <select id="cbTipoEquipoFiltro" name="iTipoEquipo">
                        <option value="-2">-TODOS-</option>
                        @foreach (var item in Model.ListaTipoEquipo)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Estado:</td>
                <td>
                    <select id="cbEstadoCategoriaFiltro" name="EstadoCodigo">
                        <option value="-2">-TODOS-</option>
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="mensaje" style="width:500px; margin:0"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado" align="center"></div>
    </div>
    <div style="clear:both; height:30px"></div>
</div>

<div id="popupVerCategoria" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Categoria</span></div>
    <div id="verCategoria"></div>
</div>
<div id="popupNuevaCategoria" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Categoria</span></div>
    <div id="nuevaCategoria"></div>
</div>
<div id="popupEditarCategoria" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Categoria</span></div>
    <div id="editarCategoria"></div>
</div>