@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaDetIndexModel
@{
    ViewBag.Title = "Detalle de Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/categoriaDetalle.js?id=3"></script>

<div class="form-title">
    <div class="content-titulo">Subcategorias</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        @if (Model.AccesoNuevo)
        {
            <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
        }
        <input type="button" id="btnRegresar" value="Regresar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
    <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
    <input id="hfCtgcodi" type="hidden" value="@Model.Ctgcodi" />

    <div class="search-content" style="margin-bottom:0">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Categoria:</td>
                <td>@Model.Ctgnomb</td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="mensaje" style="width:500px; margin:0"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado" align="center"></div>
    </div>
    <div style="clear:both; height:30px"></div>
</div>

<div id="popupVerCategoriaDetalle" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Subcategoria</span></div>
    <div id="verCategoriaDetalle"></div>
</div>
<div id="popupNuevoCategoriaDetalle" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Subcategoria</span></div>
    <div id="nuevaCategoriaDetalle"></div>
</div>
<div id="popupEditarCategoria" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Subcategoria</span></div>
    <div id="editarCategoria"></div>
</div>