@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaEquipoIndexModel
@{
    ViewBag.Title = "Clasificación de Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/categoriaEquipo.js?id=2.1"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Categorías y subcategorías de Equipos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        @if (Model.AccesoEditar)
        {
            <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmBusquedaClasificacion", id = "frmBusquedaClasificacion" }))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
        <input id="hfCtg" type="hidden" value="@Model.iCategoria" />

        <div class="search-content" style="margin-bottom:0">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td class="tbform-label">Tipo de empresa:</td>
                    <td>
                        <select id="cbTipoEmpresa" name="iTipoEmpresa">
                            <option value="-2">-TODOS-</option>
                            @foreach (var item in Model.ListaTipoEmpresa)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                    </td>

                    <td class="tbform-label">Empresa:</td>
                    <td>
                        <select id="cbEmpresa" name="iEmpresa">
                            <option value="-2">-TODOS-</option>
                        </select>
                    </td>
                    <td class="tbform-label">Tipo equipo:</td>
                    <td>
                        <select id="cbTipoEquipo" name="iTipoEquipo">
                            <option value="-2">TODOS</option>
                            @foreach (var item in Model.ListaTipoEquipo)
                            {
                                <option value="@item.Famcodi">@item.Famnomb</option>
                            }
                        </select>
                    </td>
                    <td class="tbform-label">Equipo:</td>
                    <td>
                        <select id="cbEquipo" name="iEquipo">
                            <option value="-2">TODOS</option>
                            @foreach (var item in Model.ListaEquipo)
                            {
                                <option value="@item.Equicodi">@item.Equinomb</option>
                            }
                        </select>
                    </td>
                    <td class="tbform-label">Categoria:</td>
                    <td>
                        <select id="cbCategoria" name="iCategoria">
                            <option value="-3">TODOS</option>
                            @foreach (var item in Model.ListaCategoria)
                            {
                                <option value="@item.Ctgcodi">@item.Ctgnomb</option>
                            }
                        </select>
                    </td>
                    <td class="tbform-label">Subcategoria:</td>
                    <td>
                        <select id="cbSubclasificacion" name="iSubclasificacion">
                            <option value="-3">TODOS</option>
                            @foreach (var item in Model.ListaSubclasificacion)
                            {
                                <option value="@item.Ctgdetcodi">@item.Ctgdetnomb</option>
                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="tbform-label">Código de Equipo:</td>
                    <td>
                        <input type="text" id="txtCodigoEquipo" name="CodigoEquipo" value="@Model.CodigoEquipo" />
                    </td>
                    <td class="tbform-label">Nombre de equipo:</td>
                    <td><input type="text" id="txtNombreEquipo" name="NombreEquipo" value="@Model.NombreEquipo" /></td>
                </tr>
            </table>
            <div id="mensaje" style="width:700px; margin:0"></div>
        </div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    }

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<div id="popupVerClasificacion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Clasificación de equipo</span></div>
    <div id="verClasificacion"></div>
</div>
<div id="popupNuevaClasificacion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Clasificación de equipo</span></div>
    <div id="nuevaClasificacion"></div>
</div>
<div id="popupEditarClasificacion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Clasificación de equipo</span></div>
    <div id="editarClasificacion"></div>
</div>