@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaDetListaModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" style="width:70%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Tipo de equipo</th>
            <th>Categoria superior</th>
            <th>Nombre de categoria</th>
            <th>Nombre de subcategoria</th>
            <th>Total de equipos</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCategoriaDetalle)
        {
            <tr>
                <td>
                    <a onclick="verCategoriaDetalle(@item.Ctgdetcodi);" title="Mostrar subcategoria"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarCategoriaDetalle(@item.Ctgdetcodi)" title="Editar subcategoria" class="@Model.EnableEditar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    <a href="JavaScript:eliminarCategoriaDetalle(@item.Ctgdetcodi)" title="Eliminar subcategoria" class="@Model.EnableEditar"><img src="~/Content/Images/Trash.png" alt=""></a>
                </td>
                <td>@item.Famnomb</td>
                <td>@item.Ctgpadrenomb</td>
                <td>@item.Ctgnomb</td>
                <td>@item.Ctgdetnomb</td>
                <td>@item.TotalEquipo</td>
                <td>@item.CtgdetestadoDescripcion</td>
            </tr>
        }
    </tbody>
</table>