@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaListaModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" style="width:70%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Tipo de equipo</th>
            <th>Categoria superior</th>
            <th>Nombre categoría</th>
            <th>Total categoría hijas</th>
            <th>Total subcategoría</th>
            <th>Excluyente</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCategoria)
        {
            <tr>
                <td>
                    <a onclick="verCategoria(@item.Ctgcodi);" title="Mostrar categoría"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarCategoria(@item.Ctgcodi)" title="Editar categoría" class="@Model.EnableEditar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    <a href="JavaScript:eliminarCategoria(@item.Ctgcodi)" title="Eliminar categoría" class="@Model.EnableEditar"><img src="~/Content/Images/Trash.png" alt=""></a>
                    <a href="JavaScript:detallesEquipo(@item.Ctgcodi);" title="Ver detalles"><img src="~/Content/Images/btn-properties.png" alt=""></a>
                </td>
                <td>@item.Famnomb</td>
                <td>@item.Ctgpadrenomb</td>
                <td>@item.Ctgnomb</td>
                <td>@item.TotalHijo</td>
                <td>@item.TotalDetalle</td>
                <td>@item.CtgFlagExcluyenteDescripcion</td>
                <td>@item.CtgestadoDescripcion</td>
            </tr>
        }
    </tbody>
</table>