@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaEquipoIndexModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<div style="clear:both; height:10px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Empresa</th>
            <th>Tipo de Equipo</th>
            <th>Ubicación</th>
            <th>Categoria Superior</th>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Nombre de equipo</th>
            <th>Abreviatura</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCategoriaEquipo)
        {
            <tr>
                <td>
                    <a onclick="mostrarClasificacion(@item.Equicodi, @item.Ctgdetcodi);" title="Ver clasificación de equipo"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarClasificacion(@item.Equicodi, @item.Ctgdetcodi);" title="Editar clasificación de equipo" class="@Model.EnableEditar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                </td>
                <td>@item.Emprnomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Areanomb</td>
                <td>@item.Ctgpadrenomb</td>
                <td>@item.Ctgnomb</td>
                <td>@item.Ctgdetnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Equiabrev</td>
                <td>@item.Ctgequiestadodescripcion</td>
            </tr>
        }
    </tbody>
</table>
