@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaEquipoViewModel
<script>
    $(function () {
        $('#btnGuardar').click(function () {
            registrarClasificacion();
        });

        $('#' + idFormNew + ' #cbTipoEmpresa').change(function () {
            cargarEmpresas(idFormNew, tipoComboSeleccione);
        });
        $('#' + idFormNew + ' #cbEmpresa').change(function () {
            cargarEquipo(idFormNew, tipoComboSeleccione);
        });
        $('#' + idFormNew + ' #cbTipoEquipo').change(function () {
            cargarCategoria(idFormNew, tipoComboSeleccione);
            cargarEquipo(idFormNew, tipoComboSeleccione);
        });
        $('#' + idFormNew + ' #cbCategoria').change(function () {
            cargarSubclasificacion(idFormNew, tipoComboSeleccione);
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("RegistrarCategoriaEquipo", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmNewCategoriaEquipo", id = "frmNewCategoriaEquipo" }))
    {
        <br/>
        <table style="width:100%;margin-right: auto" class="table-form-show">

            <tr>
                <td class="tbform-label">Tipo de empresa:</td>
                <td>
                    <select id="cbTipoEmpresa" name="iTipoEmpresa">
                        <option value="-2">-TODOS-</option>
                        @foreach (var item in Model.ListaTipoEmpresa)
                        {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="iEmpresa">
                        <option value="-2">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td>
                    <select id="cbTipoEquipo" name="Famcodi">
                        @foreach (var item in Model.ListaTipoEquipo)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Equipo:</td>
                <td>
                    <select id="cbEquipo" name="Equicodi">
                        <option value="-2">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEquipo)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="tbform-label">Categoria:</td>
                <td>
                    <select id="cbCategoria" name="iCategoria">
                        <option value="-3">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaCategoria)
                        {
                            <option value="@item.Ctgcodi">@item.Ctgnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Subcategoria:</td>
                <td>
                    <select id="cbSubclasificacion" name="Ctgdetcodi">
                        <option value="-3">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaSubclasificacion)
                        {
                            <option value="@item.Ctgdetcodi">@item.Ctgdetnomb</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    }
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardar" />
</div>