@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaViewModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Tipo de equipo:</td>
            <td class="tbform-control">@Model.Famnomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Categoria padre:</td>
            <td class="tbform-control">@Model.Ctgpadrenomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">@Model.Ctgnomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Excluyente de otras categorias:</td>
            <td class="tbform-control">@Model.CtgFlagExcluyenteDescripcion</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.CtgestadoDescripcion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.UsuarioCreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.FechaCreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.UsuarioUpdate</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.FechaUpdate</td>
        </tr>
    </table>
</div>