@{
    ViewBag.Title = "Transferencias - Revisión de Desviaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var iBarrCodi = TempData["iBarrCodi"];
    var BarrNombBarrTran = TempData["BarrNombBarrTran"];
    var iDesbalance = TempData["iDesbalance"].ToString();
    var iPeriCodi = TempData["iPeriCodi"];
    var PeriNombre = TempData["PeriNombre"];
    var iVersion = TempData["iVersion"].ToString();
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/infodesviacion.js"></script>
@Html.Hidden("iBarrCodi",iBarrCodi)
@Html.Hidden("iPeriCodi", iPeriCodi)
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Revisión de la Desviación de energía: Entregas / Retiros</div>
        <div class="content-botonera">
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index", "infodesbalance", new { iDesbalance = iDesbalance, iPeriCodi = iPeriCodi, iVersion = iVersion })'" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Periodo</div></td>
                    <td><div class="editor-field">@Html.TextBox("PeriNombre", PeriNombre, new { disabled = "disabled" })</div></td>
                    <td><div class="editor-label">Versión </div></td>
                    <td><div class="editor-field">@Html.TextBox("iVersion", iVersion, new { disabled = "disabled" })</div></td>
                    <td><div class="editor-label">Porcentaje de Desviación [%]</div></td>
                    <td><div class="editor-field">@Html.TextBox("iDesbalance", iDesbalance, new { disabled = "disabled" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra de transferencia</div></td>
                    <td><div class="editor-field">@Html.TextBox("BarrNombBarrTran", BarrNombBarrTran, new { disabled = "disabled" })</div></td>
                    <td><div class="editor-label">Nro. Valorizaciones pasadas</div></td>
                    <td><div class="editor-field">@Html.TextBox("iValorizacion", "1")</div></td>
                    <td style="text-align:left;"><div class="busqueda-item"><input type="button" id="btnBuscar" value="Buscar" /></div></td>
                    <td style="text-align:left;"><div><input type="button" id="btnGenerarExcel" value="Exportar Datos" /></div></td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado">
        </div>
    </div>

</div>