@model COES.MVC.Intranet.Areas.Transferencias.Models.InfoDesviacionModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Código</th>
            <th>Generador</th>
            <th>Cliente</th>
            <th>Energía MWh</th>
            <th>Energía Anterior MWh</th>
            <th>Desviación (%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInfoDesviacion)
        {
            <tr id="fila_@item.Codigo">
                <td class="text_left">@item.Codigo</td>
                <td class="text_left">@item.Generador</td>
                <td class="text_left">@item.Cliente</td>
                <td style="text-align:right;">@item.Energia.ToString("#,##0.000")</td>
                <td style="text-align:right;">@item.EnergiaAnterior.ToString("#,##0.000")</td>
                <td style="text-align:right;">@item.Desviacion.ToString("#,##0.00")</td>
            </tr>
        }
    </tbody>
</table>