@model COES.MVC.Intranet.Areas.Hidrologia.Models.HidrologiaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/cumplimiento.js"></script>
<link href="~/Areas/Hidrologia/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/dataTables.fixedColumns.min.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/globales.js"></script>
<div class="form-title">
    <div class="content-titulo">Reporte de Cumplimiento</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Consultar" />    
          <input type="button" id="btnExportar" value="Exportar" />        
    </div>
</div>
<input type="hidden" id="hfFormatCodi" value="@Model.StrFormatCodi"/>
<input type="hidden" id="hfFormatPeriodo" value="@Model.StrFormatPeriodo"/>
<input type="hidden" id="hfSemana" value="@Model.NroSemana"/>
<input type="hidden" id="hfPrueba" value="@Model.NroSemana"/>
<input type="hidden" id="hfMes"  value="@Model.Mes"/>
<input type="hidden" id="hfAnho"  value="@Model.Anho" />

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <select id="cbEmpresa" name="IdEmpresa" >
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa"/>
                </td>
                <td>Tipo de Lectura:</td>
                <td>
                   <select id="cbLectura" style="width:200px;">                          
                            @foreach (var item in Model.ListaLectura)
                                {
                                    <option value="@item.Lectcodi" >@item.Lectnomb</option>
                                }
                    </select>
                    <input type="hidden" id="hfLectura" />
                </td>
                <td >
                    <div id="cntFecha">
                    Fecha desde:
                        <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                        <input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
                    </div>
                    <div id="cntSemana" style="display:none">
                        Año Inicio:
                        <input type="text" id="Anho" name="Año" style="width:70px;" value="@Model.Anho" onchange=CargarSemanaAnho2()/>
                        
                        Semana Inicio:
                        <select id="cbSemana1" style="width:110px;">
                            @foreach (var item in Model.ListaSemanas)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }                          
                        </select>
                    </div>
                    <div id="cntMes" style="display:none">
                        Mes-Año Inicio: <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                    </div>
                </td>

            </tr>
            <tr>
                <td>Formato:</td>
                <td colspan="2">
                    <select id="cbFormato" style="width:300px;">    
                            @foreach (var item in Model.ListaFormato)
                            {
                                <option value="@item.Formatcodi" >@item.Formatnombre</option>
                            }
                    </select>
                </td>
                <td></td>
                <td>
                    <div id="cntFecha2">
                        Fecha hasta:&nbsp;
                        <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                        <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                    </div>
                    <div id="cntSemana2" style="display:none">
                        Año Fin:&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" id="Anho2" name="Año" style="width:70px;" value="@Model.Anho" onchange=CargarSemanaAnho2()/>
                        <input type="hidden" id="hfAnho2"  value="@Model.Anho"  />
                        Semana Fin:&nbsp;&nbsp;&nbsp;&nbsp;
                        <select id="cbSemana2" style="width:110px;">
                            @foreach (var item in Model.ListaSemanas)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }                          
                        </select>
                    </div>
                    <div id="cntMes2" style="display:none">
                        Mes-Año Fin: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Mes" id="txtMes2" value="@Model.Mes" />
                    </div>

                </td>
                <td></td>
                <td></td>
             </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">       
        </div>
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>      
    </div>

</div>


