@{
    ViewBag.Title = "Transferencias - Solicitud de Códigos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CLICODI2 = (IEnumerable<SelectListItem>)TempData["CLICODI2"];
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI2"];
    var TIPOCONTCODI2 = (IEnumerable<SelectListItem>)TempData["TIPOCONTCODI2"];
    var TIPOUSUACODI2 = (IEnumerable<SelectListItem>)TempData["TIPOUSUACODI2"];
    var EMPRNOMB = TempData["EMPRNOMB"];
    int EMPRNRO = Convert.ToInt32(TempData["EMPRNRO"]);
    var sMensajeExito = TempData["sMensajeExito"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/codigoretiroex.js?v=32"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script>
$(document).ready(function () {
    setTimeout(function ()
    { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
);
</script>
<div class="ast">
    @if (@EMPRNOMB == "")
    {
        if (@EMPRNRO < 0)
        { <div class="form-title">
            ESTA CUENTA DE USUARIO NO ESTA RELACIONADO A NINGUNA EMPRESA PARA VER LA INFORMACIÓN DE ESTA PANTALLA
          </div>
        }
        else
        {
            <script>seleccionarEmpresa();</script>
            <div class="form-title">
                DEBE SELECCIONAR UNA EMPRESA PARA VER LA INFORMACIÓN DE ESTA PANTALLA
                @if (@EMPRNRO > 1)
                { <a onclick="seleccionarEmpresa();" class="paginate_active">[Seleccionar una empresa]</a>}
            </div>
            <div id="popup"></div>
        }
    }
    else
    {
        if (@sMensajeExito != null)
        {<div class="exito mensajes">@sMensajeExito</div>}
        <div class="form-title">
            SOLICITUDES DE CÓDIGOS DE @EMPRNOMB @if (@EMPRNRO > 1)
            { <a onclick="seleccionarEmpresa();" class="paginate_button">[Cambiar empresa]</a>}
        </div>
        <div class="content-hijo" style="padding-top:8px">
            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                <table cellspacing="2" cellpadding="5">
                    <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                        <td colspan="6"><div class="editor-label"><b>Filtros de búsqueda</b></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">Cliente</div>
                        </td>
                        <td>
                            <div class="editor-field">@Html.DropDownList("CLICODI", @CLICODI2, "--Seleccione--")</div>
                        </td>

                        <td>
                            <div class="editor-label">Barra de transferencia</div>
                        </td>
                        <td>
                            <div class="editor-field">@Html.DropDownList("BARRTRANCODI", @BARRCODI2, "--Seleccione--")</div>
                        </td>

                        <td>
                            <div class="editor-label">Fecha de Inicio</div>
                        </td>
                        <td>
                            <div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">Tipo de contrato</div>
                        </td>
                        <td>
                            <div class="editor-field">@Html.DropDownList("TIPOCONTCODI", @TIPOCONTCODI2, "--Seleccione--")</div>
                        </td>

                        <td>
                            <div class="editor-label">Tipo de usuario</div>
                        </td>
                        <td>
                            <div class="editor-field">@Html.DropDownList("TIPOUSUACODI", @TIPOUSUACODI2, "--Seleccione--")</div>
                        </td>
                        <td>
                            <div class="editor-label">Fecha fin</div>
                        </td>
                        <td>
                            <div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            <div class="busqueda-item">
                                <input type="button" id="btnBuscar" value="Consultar" />
                                <input type="button" id="btnGenerarExcel" value="Generar Excel" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="listado" id="listado"></div>
        </div>
    }
</div>
            
<div id="popupEmpresa" class="general-popup">
    <div id="seleccionEmpresa"></div>

</div>