@model COES.MVC.Extranet.Areas.Transferencias.Models.CodigoRetiroModel

@Html.AntiForgeryToken()
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Barra Transferencia</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tipo de Contrato</th>
            <th>Tipo de Usuairo</th>
            <th>Descripción</th>
            <th>Código</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCodigoRetiro)
        {
            if (item.SoliCodiRetiObservacion.Equals("SOLBAJANO"))
            {
                @:
                <tr id="fila_@item.SoliCodiRetiCodi">
                    <td class="text_left">@item.CliNombre</td>
                    <td class="text_left">@item.BarrNombBarrTran</td>
                    <td>@item.SoliCodiRetiFechaInicio.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td>@item.SoliCodiRetiFechaFin.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td class="text_left">@item.TipoContNombre</td>
                    <td class="text_left">@item.TipoUsuaNombre</td>
                    <td class="text_left">@item.SoliCodiRetiDescripcion</td>
                    <td class="text_left">@item.SoliCodiRetiCodigo</td>
                    <td style="width:30px;"><a href="#" id="view_@item.SoliCodiRetiCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                    <td style="width:30px;"><a href="#" id="eliminar_@item.SoliCodiRetiCodi" class="delete"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Solicitar dar de Baja" alt="Solicitar dar de Baja" /></a></td>
                </tr>
            }
            else if (item.SoliCodiRetiObservacion.Equals("SOLBAJAOK"))
            {
                @:
                <tr id="fila_@item.SoliCodiRetiCodi">
                    <td class="text_left" style="background-color: #FFDDDD;">@item.CliNombre</td>
                    <td class="text_left" style="background-color: #FFDDDD;">@item.BarrNombBarrTran</td>
                    <td style="background-color: #FFDDDD;">@item.SoliCodiRetiFechaInicio.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td style="background-color: #FFDDDD;">@item.SoliCodiRetiFechaFin.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td class="text_left" style="background-color: #FFDDDD;">@item.TipoContNombre</td>
                    <td class="text_left" style="background-color: #FFDDDD;">@item.TipoUsuaNombre</td>
                    <td class="text_left" style="background-color: #FFDDDD;">@item.SoliCodiRetiDescripcion</td>
                    <td class="text_left" style="background-color: #FFDDDD;">@item.SoliCodiRetiCodigo</td>
                    <td style="width:30px; background-color: #FFDDDD;"><a href="#" id="view_@item.SoliCodiRetiCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                    <td style="width:30px; background-color: #FFDDDD;"></td>
                </tr>
            }
            else if (item.SoliCodiRetiObservacion.Equals("SOLBAJAPEN"))
            {
                @:
                <tr id="fila_@item.SoliCodiRetiCodi" class="amarillo">
                    <td class="text_left">@item.CliNombre</td>
                    <td class="text_left">@item.BarrNombBarrTran</td>
                    <td class="text_left">@item.SoliCodiRetiFechaInicio.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td class="text_left">@item.SoliCodiRetiFechaFin.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td class="text_left">@item.TipoContNombre</td>
                    <td class="text_left">@item.TipoUsuaNombre</td>
                    <td class="text_left">@item.SoliCodiRetiDescripcion</td>
                    <td class="text_left">@item.SoliCodiRetiCodigo</td>
                    <td style="width:30px;"><a href=" #" id="view_@item.SoliCodiRetiCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                    <td style="width:30px;"></td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="popup">
</div>
<br />
<div style="text-align:center">
    <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New","codigoretiro")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","codigoretiro")'" alt="Limpiar" title="Limpiar" />
</div>