@model COES.MVC.Intranet.Areas.PMPO.Models.ModificacionCentralModel

<div style="clear:both; height:10px"></div>

<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />

<table style="">
    <tr>
        <td style="width: 100%">
            <table style="">
                <tr>
                    <td>
                        <fieldset style="margin-top: 15px;">
                            <legend>Datos Generales</legend>
                            <div id="contenedorDatosGenerales" style="height: 150px; ">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td class="tbform-label" style="padding-left: 15px;">Nombre SDDP:</td>
                                        <td>
                                            <select id="cboRecurso" style="width: 280px;">
                                                <option value="0">[ Escoge un SDDP ]</option>
                                                @foreach (var item in Model.ListaSddp)
                                                {
                                                    <option value="@item.Mrecurcodi">@item.NombreSDDP</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hdrecurscodi" value="@Model.ModificacionCentral.RecursoSddp.Mrecurcodi" />
                                            <input type="hidden" id="hdtopcodi" value="@Model.ModificacionCentral.Mtopcodi" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tbform-label" style="padding-left: 15px;">Código SDDP:</td>
                                        <td>
                                            <input type="text" id="txtCodigoSddp" maxlength="4" value="" style=" background-color: transparent; border: none; width: 200px;" disabled/>
                                            @*<input type="hidden" id="hfCodigoSddp" value="" />*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tbform-label" style="padding-left: 15px;">Descripción:</td>
                                        <td>
                                            <input type="text" id="txtDescripcionSddp" maxlength="120" value="" style="background-color: transparent; border: none; width: 200px;" disabled/>
                                            @*<input type="hidden" id="hfDescripcionSddp" value="" />*@
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="tbform-label" style="padding-left: 15px;">Fecha Modificación:</td>
                                        <td>
                                            <input type="text" id="txtFechaFutura" value="@Model.FechaFutura" style="width:90px;" />
                                            <input type="hidden" id="hfFechaFutura" value="@Model.FechaFutura" />
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </fieldset>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <fieldset style="margin-top: 25px; ">
                <legend>Datos Actualizados de Central Hidroeléctrica/Embalse </legend>

                <div id="contenedorDatosActualizados" @*style="height: 433px;"*@>
                    <table class="content-tabla-search" style="width:auto" role="presentation">
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Potencia (MW):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtPotencia" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiPotencia" value="@Model.propcodiPotencia" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Coef. de Producción (MW/m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtCoefProduccion" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiCoefProd" value="@Model.propcodiCoefProd" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Factor de Indisp. Forzada - ICP (%):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtICP" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiICP" value="@Model.propcodiICP" />
                            </td>
                        </tr>

                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Caudal mínimo turbinable (m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtCaudalMinTur" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiCaudalMinTur" value="@Model.propcodiCaudalMinTur" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Factor de Indisp. Histórica - IH (%):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtIH" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiIH" value="@Model.propcodiIH" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Caudal máximo turbinable (m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtCaudalMaxTur" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiCaudalMaxTur" value="@Model.propcodiCaudalMaxTur" />
                            </td>

                            <td class="tbform-label" colspan="1" style="padding-left: 40px;">Indicador EA:</td>
                            <td colspan="2" style="padding-left: 30px;">
                                <input type="radio" id="rdCHSiEA" name="IndicadorEA" value="Si" checked="checked">
                                <label for="si">Si</label>
                                <input type="radio" id="rdCHNoEA" name="IndicadorEA" value="No">
                                <label for="no">No</label><br>
                                <input type="hidden" id="propcodiIndicadorEA" value="@Model.propcodiIndicadorEA" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Defluencia Total Mínima (m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtDefluenciaTotMin" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiDefluenciaTotMin" value="@Model.propcodiDefluenciaTotMin" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Volumen Máximo (hm3):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="text" id="txtVolumenMax" value="" style="width: 80px;" />
                                <input type="hidden" id="propcodiVolumenMax" value="@Model.propcodiVolumenMax" />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center; padding: 15px;">
            @if (Model.TienePermisoNuevo)
            {
                if (Model.EsNuevo)
                {
                    <input style="" type="button" id="btnGrabarModificacion" value="Grabar" />
                }
                else
                {
                    <input style="" type="button" id="btnActualizarModificacion" value="Actualizar" />
                }

                <input style="" type="button" id="btnCancelarModifiacion" value="Cancelar" />
            }
        </td>
    </tr>
</table>







