@model COES.MVC.Intranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "Consulta Histórica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Interconexiones/Content/Scripts/reporteshistinter.js"></script>
<link href="~/Areas/Interconexiones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consulta Histórica de Intercambios Internacionales</div>
    <div class="content-botonera">
        <input type="button" id="btnExpotar" value="Exportar" />
        <input type="button" id="btnErrores" value="Verificar periodos" />
        <input type="button" id="btnPublicar" value="Publicar Portal Web" />
        
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Interconexión:</td>
                            <td style="width:300px">
                                <select id="cbInterconexion" name="IdInterconexion" style="width:280px;">
                                    @foreach (var item in Model.ListaInterconexion)
                                    {
                                        <option value="@item.Intercodi">@item.Interdecrip @item.Interenlace</option>
                                    }
                                </select>
                                <input type="hidden" id="hfInterconexion" value="@Model.IdPtomedicion" />
                            </td>
                            <td>Medidor:</td>
                            <td style="width:300px">
                                <select id="cbMedidor" name="cbMedidor" style="width:280px;">
                                    @foreach (var item in Model.ListaMedidor)
                                    {
                                        <option value="@item.Medicodi">@item.Medinombre</option>
                                    }
                                </select>
                                <input type="hidden" id="hfMedidor" value="@Model.IdMedidor" />
                            </td>
                            <td>Fecha desde:</td>
                            <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" /></td>
                            <td>Fecha hasta:</td>
                            <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" /></td>
                            <td><input type="button" id="btnBuscar" value="Buscar" /></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table></table>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
    <div style="clear:both; height:30px"></div>

</div>


<div id="popupErrores" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Consulta de Log de Errores</span></div>
    <div class="popup-text" id="contenidoErrores">
        
    </div>
</div>