@model COES.MVC.Intranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;    
    }
<div style="clear:both; height:15px"></div>
<div id="reporte" class="marcoGrafico" style="float:left">
<table border="0" class="pretty tabla-icono" cellspacing="0" width="430" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Energía <br />Exportada <br />(MWh)</th>
            <th>Máxima Potencia <br />Exportada <br />(MW)</th>
            <th>Energía <br />Importada <br />(MWh)</th>
            <th>Máxima Potencia <br />Importada <br />(MW)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model.ListaReporteEvolucion)
        {
            var enerExp = ((decimal)reg.EnergiaExportada).ToString("N", nfi);
            var mdExp = ((decimal)reg.MaximaEnergiaExportada).ToString("N", nfi);
            var enerImp = ((decimal)reg.EnergiaImportada).ToString("N", nfi);
            var mdImp = ((decimal)reg.MaximaEnergiaImportada).ToString("N", nfi);

            if (reg.FlagAgrupacion)
            {
                <tr>
                    <td rowspan="@reg.Rowspan">@reg.Fecha</td>
                    <td>@reg.Inicio</td>
                    <td>@reg.Fin</td>
                    <td rowspan="@reg.Rowspan">@enerExp</td>
                    <td rowspan="@reg.Rowspan">@mdExp</td>
                    <td rowspan="@reg.Rowspan">@enerImp</td>
                    <td rowspan="@reg.Rowspan">@mdImp</td>
                </tr>
            }
            else
            {
                <tr>
                    
                    <td>@reg.Inicio</td>
                    <td>@reg.Fin</td>                   
                </tr>
            }


        }
    </tbody>
</table>
</div>

<div class="chart-wrapper" style="position: relative;width:50%;float:left;">
<div id="graficos" class="marcoGrafico" style="width: 100%;height:600px;">
</div>    
</div>