@model COES.MVC.Intranet.Areas.Interconexiones.Models.InterconexionesModel

<table border="0" class="pretty tabla-icono" id="tablaComite">
    <thead>
        <tr>
            <th>Línea</th>
            <th>Medidor</th>
            <th>Parámetro</th>
            <th>Fecha</th>
            <th>Detalle de observación</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaErrores.Count > 0)
        {
            foreach (var item in Model.ListaErrores)
            {
        <tr>
            <td>@item.Linea</td>
            <td>@item.Medidor</td>
            <td>@item.Parametro</td>
            <td>@item.Fecha</td>
            <td>@item.Comentario</td>
        </tr>
            }
        }
    </tbody>
</table>
