@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Registros del archivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}
<link href="~/Areas/PrimasRER/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/factorperdidaDetalle.js"></script>
@*Paso 1: Se anexa la libreria que permite el adjunto de un archivo*@
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Registro de archivos cargados</div>
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "FactorPerdida")'" alt="Retornar" title="Retornar" />
        </div>
        
    </div>
    <input type="hidden" name="IdFacPerMedDTO" id="IdFacPerMedDTO" value="@Model.IdFacPerMedDTO" />
    <div class="content-hijo">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
        <div style="padding:20px; width:800px;">
            <table cellspacing="2" cellpadding="5">
                @if (Model.IdFacPerMedDTO == 0)
                {
                    <tr>
                        <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmdesde, "Fecha desde:")</div></td>
                        <td><div class="editor-field"><input type="text" id="txtFecDesde" class="txtFecha" value="@DateTime.Now.ToString("dd/MM/yyyy")" /></div></td>
                        <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmhasta, "Fecha hasta:")</div></td>
                        <td><div class="editor-field"><input type="text" id="txtFecHasta" class="txtFecha" value="@DateTime.Now.ToString("dd/MM/yyyy")" /></div></td>
                        <td><div class="content-botonera"><input type="button" id="btnCargarArchivo" value="Cargar archivo" alt="Cargar archivo" title="Cargar archivo" /></div></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmdesde, "Fecha desde:") @Model.FacPerMedDTO.Rerfpmdesde.ToString("dd/MM/yyyy")</div></td>
                        <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmhasta, "Fecha hasta:") @Model.FacPerMedDTO.Rerfpmhasta.ToString("dd/MM/yyyy")</div></td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-list" id="listado"></div>

        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>
</div>

<div id="popupEditFactorDetalle">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Parámetro</span></div>
    <div id="edit"></div>
</div>