<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Código Entrega</th>
            <th>Barra de transferencia</th>
            <th>Empresa</th>
            <th>Central/Grupo generación</th>
            <th>Fáctor de Pérdidas Medias</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListFacPerMedDetDTO)
        {
            string sRER_FPD_FactPerdida = item.Rerfpdfactperdida.ToString();
            if (item.Rerfpdfactperdida == -1)
            { sRER_FPD_FactPerdida = "M"; }
        <tr id="fila_@item.Rerfpdcodi">
            <td class="text_center">@item.Codentcodigo</td>
            <td class="text_center">@item.Barrnombre</td>
            <td class="text_center">@item.Empresanombre</td>
            <td class="text_center">@item.Equiponombre</td>
            <td class="text_center">@sRER_FPD_FactPerdida</td>
            <td style="width:30px;"><a href="JavaScript:editar(Rerfpdcodi = @item.Rerfpdcodi)" title="Editar registro"><img src="~/Content/Images/btn-edit.png" alt=""></a></td>
        </tr>
        }

    </tbody>
</table>
<div id="popup"></div>