@model COES.MVC.Extranet.Areas.InformacionAgentes.Models.FileUploadViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    http://stackoverflow.com/questions/11240127/uploading-image-to-amazon-s3-with-html-javascript-jquery-with-ajax-request-n
    http://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously
*@
<script src="~/Areas/InformacionAgentes/Content/InformacionAgentes.js"></script>
<div class="form-title_intranet">INFORMACIÓN AGENTES SEIN</div>
<div style="float:right; margin-right:40px">

</div>
<div style="clear:both"></div>
<div class="content-hijo" id="mainLayout">
    <div class="form-content">
        <div class="form-item">
            <form action="@Model.FormAction" method="post" enctype="multipart/form-data" id="formCarga">
                <input type="hidden" id="hdnBucket" value="@Model.Bucket"/>
                <input type="hidden" name="iEmpresa" id="hdnEmpresa" />
                <input type="hidden" name="key" value="" id="hdnKeyFile">
                <input type="hidden" name="AWSAccessKeyId" value="@Model.AWSAccessKey" id="hdnAccessKEy">
                <input type="hidden" name="acl" value="@Model.Acl">
                <input type="hidden" name="policy" value="@Model.Base64Policy" id="hdnPolicy">
                <input type="hidden" name="signature" value="@Model.Signature" id="hdnSignature">
                <input type="hidden" name="Content-Type" value="binary/octet-stream">
                <table>
                    <tr>
                        <td><div class="form-item">Empresa:</div></td>
                        <td>
                            <div class="form-control">
                                <select id="cbEmpresa">
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td><div class="form-item">Archivo:</div></td>
                        <td>
                            <div class="form-control">
                                <input type="file" name="file" id="file" />
                            </div>
                        </td>
                        <td><input type="submit" value="Cargar Archivo" id="btnCargar"></td>
                    </tr>
                </table>
                <div id="progressNumber"></div>
                <progress id="progresoCarga"></progress>
                <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
            </form>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>