@model COES.MVC.Extranet.Areas.InformacionAgentes.Models.FileUploadViewModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Nombre Archivo</th>
            <th>Fecha de carga</th>
            <th>Usuario</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaResultados)
        {
            <tr>
                <td>@item.Emprnomb</td>
                <td>@item.Archinomb</td>
                <td>@item.Lastdate</td>
                <td>@item.Lastuser</td>
                <td>@Html.Raw(item.Archiruta)</td>
            </tr>
        }
    </tbody>
</table>