@using System.Web.Mvc.Html
@model COES.MVC.Intranet.Areas.TiempoReal.Models.MePtomedicionModel


<div class="panel-container">
    @using (Html.BeginForm("EditarPMedicion", "PMedicion", FormMethod.Post, new { @name = "frmEditarPMedicion", id = "frmEditarPMedicion" }))
    {
        <input type="hidden" id="hfPtomediCodi" value="@Model.MePtomedicion.Ptomedicodi" name="PtomediCodi" />
        <input type="hidden" id="hfAccion" value="@Model.Accion" />

        <div class="content-registro">
            <table style="width:auto;">


                <tr>
                    <td class="registro-label" id="lblPtomediEleNomb" style="width:100px">NCP</td>
                    <td class="registro-control">
                        <textarea id="txtPtomediEleNomb" maxlength="100" name="PtomediEleNomb" cols="60" rows="3">@Model.MePtomedicion.Ptomedielenomb</textarea>
                    </td>
                </tr>

                <tr>
                    <td class="registro-label" id="lblPtomediBarraNomb">B2</td>
                    <td class="registro-control">
                        <textarea id="txtPtomediBarraNomb" maxlength="100" name="PtomediBarraNomb" cols="60" rows="3">@Model.MePtomedicion.Ptomedibarranomb</textarea>
                    </td>
                </tr>

                <tr>
                    <td class="registro-label" id="lblPtomediDesc">B3</td>
                    <td class="registro-control">
                        <textarea id="txtPtomediDesc" maxlength="200" name="PtomediDesc" cols="60" rows="3">@Model.MePtomedicion.Ptomedidesc</textarea>
                    </td>
                </tr>

            </table>
        </div>
    }
</div>

<div style="text-align: center;">
    <input id="btnGrabarPtoMedicion" value="Grabar" type="button">
</div>
