@using System.Web.Mvc.Html
@model COES.MVC.Intranet.Areas.TiempoReal.Models.MePtomedicionModel


<div class="panel-container">
    @using (Html.BeginForm("EditarCostoVariableAGC", "CostoVariableAGC", FormMethod.Post, new { @name = "frmEditarCostoVariableAGC", id = "frmEditarCostoVariableAGC" }))
    {
        <div class="content-registro">
            <input type="hidden" id="hfPtomediCodi" value="@Model.MePtomedicion.Ptomedicodi" name="PtomediCodi" />
            <input type="hidden" id="hfAccion" value="@Model.Accion" />

            <table style="width:auto">


                <tr>
                    <td class="registro-label" style="width:200px">Modo Operaci&oacute;n</td>
                    <td class="registro-control">
                        <select id="cbGrupoCodi" name="GrupoCodi" style="width:300px">
                            @foreach (var item in Model.ListaPrGrupo)
                            {
                                <option value="@item.Grupocodi">@item.Gruponomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfGrupoCodi" name="GrupoCodi" value="@Model.MePtomedicion.Grupocodi" />,
                    </td>
                </tr>



                <tr>
                    <td class="registro-label" id="lblPtomediBarraNomb">B2</td>
                    <td class="registro-control">
                        <textarea id="txtPtomediBarraNomb" maxlength="100" name="PtomediBarraNomb" cols="60" rows="3">@Model.MePtomedicion.Ptomedibarranomb</textarea>
                    </td>
                </tr>

                <tr>
                    <td class="registro-label" id="lblPtomediDesc">B3</td>
                    <td class="registro-control">
                        <textarea id="txtPtomediDesc" maxlength="200" name="PtomediDesc" cols="60" rows="3">@Model.MePtomedicion.Ptomedidesc</textarea>
                    </td>
                </tr>

            </table>

        </div>
    }
</div>

<div style="text-align: center;">
    <input id="btnGrabarCVariable" value="Grabar" type="button">
</div>

