@model COES.MVC.Intranet.Areas.TiempoReal.Models.AgcControlModel

<div class="panel-container">
    @using (Html.BeginForm("EditarControl", "Control", FormMethod.Post, new { @name = "frmControl", id = "frmControl" }))
    {
        <div class="content-registro">

            <input type="hidden" id="hfAgccCodi" value="@Model.AgcControl.Agcccodi" name="AgccCodi" />
            <input type="hidden" id="hfAccion" value="@Model.Accion" />

            <table style="width:auto">

                <tr>
                    <td class="registro-label" style="width:150px"><span id="lblAgccTipo">Tipo Control</span></td>
                    <td class="registro-control">
                        <input type="hidden" id="hfAgccTipo" name="AgccTipo" value="@Model.AgcControl.Agcctipo" />
                        <input type="radio" id="rbAgccTipoC" name="rbAgccTipo" value="C" onclick="configuraControlElegido('C')" />Centralizado
                        <input type="radio" id="rbAgccTipoP" name="rbAgccTipo" value="P" onclick="configuraControlElegido('P')" />Proporcional
                    </td>
                </tr>
                <tr>
                    <td class="registro-label" id="lblAgccDescrip">Descripci&oacute;n</td>
                    <td class="registro-control">
                        <textarea id="txtAgccDescrip" maxlength="50" name="AgccDescrip" cols="60" rows="3">@Model.AgcControl.Agccdescrip</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label" id="ptonomb">Punto Medici&oacute;n</td>
                    <td class="registro-control">
                        <select id="cbPtomediCodi" name="PtomediCodi" style="width:500px">
                            @foreach (var item in Model.ListaMePtomedicion)
                            {
                                <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfPtomediCodi" name="PtomediCodi" value="@Model.AgcControl.Ptomedicodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label" id="lblAgccB2">B2</td>
                    <td class="registro-control">
                        <input type="text" id="txtAgccB2" maxlength="30" name="AgccB2" value="@Model.AgcControl.Agccb2" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label" id="lblAgccB3">B3</td>
                    <td class="registro-control">
                        <input type="text" id="txtAgccB3" maxlength="30" name="AgccB3" value="@Model.AgcControl.Agccb3" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label"><span id="lblAgccValido">Activo</span></td>
                    <td class="registro-control">
                        <input type="hidden" id="hfAgccValido" name="AgccValido" value="@Model.AgcControl.Agccvalido" />
                        <input type="radio" id="rbAgccValidoS" name="rbAgccValido" value="S" />Si
                        <input type="radio" id="rbAgccValidoN" name="rbAgccValido" value="N" />No
                    </td>
                </tr>
            </table>

            <input type="hidden" id="txtAgccUsuCreacion" maxlength="60" name="AgccUsuCreacion" value="@Model.AgcControl.Agccusucreacion" />
            @{
                            var fechaAgccFecCreacion = "";
                            if (Model.AgcControl.Agccfeccreacion != null)
                            {
                                fechaAgccFecCreacion = ((DateTime)Model.AgcControl.Agccfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
            }
            <input type="hidden" id="txtAgccFecCreacion" name="AgccFecCreacion" value="@fechaAgccFecCreacion" />

        </div>
        <div class="popup-title"><span>Listado de Puntos</span></div>
        <div>
            <div style="width:70px; float:right; margin:10px 0">
                <input type="button" id="btnAgregar" name="btnAgregar" value="Agregar" />
            </div>


            <input type="hidden" id="hfDatos" />
            <table id="tablaControlPunto" align="center" border="1" class="pretty tabla-adicional" width="auto">

                <thead>
                    <tr>
                        <th style='display: none'><b>Fila</b></th>
                        <th style='display: none'><b>Cod</b></th>
                        <th style='display: none'><b>Punto</b></th>
                        <th style='display: none'><b>Equipo</b></th>
                        <th id="punto-1"><b>Listado de Puntos</b></th>
                        <th id="equipo-1"><b>Desc. Equipo</b></th>
                        <th id="txtAgccB2-1"><b>B2</b></th>
                        <th id="txtAgccB3-1"><b>B3</b></th>


                        <th><b>Elim</b></th>
                    </tr>
                </thead>
                <tbody>
                    @{int fila1 = 0;}
                    @foreach (var itemCP in Model.ListaControlPunto)
                    {
                        var comboPunto = "cbPtomedidesc" + @fila1;
                        var comboEquipo = "cbEquiabrev" + @fila1;
                        var punto = "punto" + @fila1;
                        var equipo = "equipo" + @fila1;
                        var b2 = "txtAgccB2" + @fila1;
                        var b3 = "txtAgccB3" + @fila1;

                        <tr id="@fila1">

                            <td style='display: none'>@fila1</td>
                            <td style='display: none'>@itemCP.Agccpcodi</td>
                            <td style='display: none'>@itemCP.Ptomedicodi</td>
                            <td style='display: none'>@itemCP.Equicodi</td>


                            <td id="@punto">
                                <select id="@comboPunto" name="PtomediCodi" style="width:350px">
                                    @foreach (var item in Model.ListaMePtomedicion)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                    }
                                </select>

                            </td>

                            <td id="@equipo">
                                <select id="@comboEquipo" name="EquiCodi" style="width:250px">
                                    @foreach (var item in Model.ListaEqEquipo)
                                    {
                                        <option value="@item.Equicodi">@item.Equiabrev</option>
                                    }
                                </select>

                            </td>

                            <td id="@b2">
                                <input type="text" id="txtAgccB2_@fila1" maxlength="30" name="AgccB2" value="@itemCP.Agccpb2" />

                            </td>

                            <td id="@b3">
                                <input type="text" id="txtAgccB3_@fila1" maxlength="30" name="AgccB3" value="@itemCP.Agccpb3" />

                            </td>

                            <td>

                                <a href="JavaScript:eliminarPuntoControl(@fila1)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            </td>


                        </tr>

                                    fila1++;
                    }

                </tbody>

            </table>



            <table border="0">
                <tr>
                    <td id="PuntoBase">
                        <select id="cbPuntoBase" name="cbPuntoBase" style="display: none">
                            @foreach (var item in Model.ListaMePtomedicion)
                            {
                                <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                            }
                        </select>
                    </td>

                    <td id="EquipoBase">
                        <select id="cbEquipoBase" name="EquipoBase" style="display: none">
                            @foreach (var item in Model.ListaEqEquipo)
                            {
                                <option value="@item.Equicodi">@item.Equiabrev</option>
                            }
                        </select>

                    </td>


                </tr>




            </table>

            @if (Model.Accion == 1)
            {
                <div style="width:80px; margin:10px auto">
                    <input id="btnGrabarControl" value="Grabar" type="button">
                </div>
            }

        </div>
    }
</div>
