@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaAgcControlModel

<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

    <link href="~/Areas/TiempoReal/Content/Css/normal.css" rel="stylesheet" />
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />


}

<script src="~/Areas/TiempoReal/Content/Scripts/control.js?v=1"></script>
<link href="~/Areas/TiempoReal/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Formatos AGC</div>
        <div class="content-botonera">
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">

        @{
            List<SelectListItem> listaHoras = new List<SelectListItem>();

            listaHoras.Add(new SelectListItem { Text = "00:30", Value = "1" });
            listaHoras.Add(new SelectListItem { Text = "01:00", Value = "2" });
            listaHoras.Add(new SelectListItem { Text = "01:30", Value = "3" });
            listaHoras.Add(new SelectListItem { Text = "02:00", Value = "4" });
            listaHoras.Add(new SelectListItem { Text = "02:30", Value = "5" });
            listaHoras.Add(new SelectListItem { Text = "03:00", Value = "6" });
            listaHoras.Add(new SelectListItem { Text = "03:30", Value = "7" });
            listaHoras.Add(new SelectListItem { Text = "04:00", Value = "8" });
            listaHoras.Add(new SelectListItem { Text = "04:30", Value = "9" });
            listaHoras.Add(new SelectListItem { Text = "05:00", Value = "10" });
            listaHoras.Add(new SelectListItem { Text = "05:30", Value = "11" });
            listaHoras.Add(new SelectListItem { Text = "06:00", Value = "12" });
            listaHoras.Add(new SelectListItem { Text = "06:30", Value = "13" });
            listaHoras.Add(new SelectListItem { Text = "07:00", Value = "14" });
            listaHoras.Add(new SelectListItem { Text = "07:30", Value = "15" });
            listaHoras.Add(new SelectListItem { Text = "08:00", Value = "16" });
            listaHoras.Add(new SelectListItem { Text = "08:30", Value = "17" });
            listaHoras.Add(new SelectListItem { Text = "09:00", Value = "18" });
            listaHoras.Add(new SelectListItem { Text = "09:30", Value = "19" });
            listaHoras.Add(new SelectListItem { Text = "10:00", Value = "20" });
            listaHoras.Add(new SelectListItem { Text = "10:30", Value = "21" });
            listaHoras.Add(new SelectListItem { Text = "11:00", Value = "22" });
            listaHoras.Add(new SelectListItem { Text = "11:30", Value = "23" });
            listaHoras.Add(new SelectListItem { Text = "12:00", Value = "24" });
            listaHoras.Add(new SelectListItem { Text = "12:30", Value = "25" });
            listaHoras.Add(new SelectListItem { Text = "13:00", Value = "26" });
            listaHoras.Add(new SelectListItem { Text = "13:30", Value = "27" });
            listaHoras.Add(new SelectListItem { Text = "14:00", Value = "28" });
            listaHoras.Add(new SelectListItem { Text = "14:30", Value = "29" });
            listaHoras.Add(new SelectListItem { Text = "15:00", Value = "30" });
            listaHoras.Add(new SelectListItem { Text = "15:30", Value = "31" });
            listaHoras.Add(new SelectListItem { Text = "16:00", Value = "32" });
            listaHoras.Add(new SelectListItem { Text = "16:30", Value = "33" });
            listaHoras.Add(new SelectListItem { Text = "17:00", Value = "34" });
            listaHoras.Add(new SelectListItem { Text = "17:30", Value = "35" });
            listaHoras.Add(new SelectListItem { Text = "18:00", Value = "36" });
            listaHoras.Add(new SelectListItem { Text = "18:30", Value = "37" });
            listaHoras.Add(new SelectListItem { Text = "19:00", Value = "38" });
            listaHoras.Add(new SelectListItem { Text = "19:30", Value = "39" });
            listaHoras.Add(new SelectListItem { Text = "20:00", Value = "40" });
            listaHoras.Add(new SelectListItem { Text = "20:30", Value = "41" });
            listaHoras.Add(new SelectListItem { Text = "21:00", Value = "42" });
            listaHoras.Add(new SelectListItem { Text = "21:30", Value = "43" });
            listaHoras.Add(new SelectListItem { Text = "22:00", Value = "44" });
            listaHoras.Add(new SelectListItem { Text = "22:30", Value = "45" });
            listaHoras.Add(new SelectListItem { Text = "23:00", Value = "46" });
            listaHoras.Add(new SelectListItem { Text = "23:30", Value = "47" });


        }

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td><input id="txtFecha" name="FechaGeneral" value="@Model.FechaGeneral" type="text" /></td>
            </tr>

        </table>
    </div>

    <div class="content-tabla">
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab' id="tab1"><a href="#Despacho">Despacho AGC</a></li>
            <li class='tab'><a href="#Valoragua">Valor Agua</a></li>
            <li class='tab'><a href="#Costovariable">Costo Variable</a></li>
            <li class='tab'><a href="#Mantenimiento">Mantenimiento</a></li>
            <li class='tab'><a href="#Regulacionasignada">Regulaci&oacute;n Asignada</a></li>
            <li class='tab'><a href="#Log">Log</a></li>

        </ul>
        <div class='panel-container'>
            <div id="Despacho">
                <div id="tab-containerDespacho" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab-alter'><a href="#DespachoExportacion">Exportaci&oacute;n</a></li>
                        <li class='tab-alter'><a href="#DespachoConfiguracionPrincipal">Configuraci&oacute;n Unidades</a></li>
                    </ul>

                    <div class='panel-container'>

                        <div id="DespachoExportacion">
                            <table border="0">
                                <tr>
                                    <td>
                                        <fieldset>
                                            <legend>Opciones de exportaci&oacute;n</legend>
                                            <input id="rbDespExpOpcPdiario" name="rbDespExpOpc" type="radio" />Programa Diario <br>
                                            <input id="rbDespExpOpcReprograma" name="rbDespExpOpc" type="radio" value=listaHoras />Reprograma
                                            @Html.DropDownListFor(model => model.DespExpOpcReprograma, listaHoras)

                                        </fieldset>
                                    </td>
                                    <td rowspan="2">
                                        <p><p><input id="btnDespExpExportar" type="button" value="Exportar XML" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset>
                                            <legend>Mantenimiento / Restricciones Operativas</legend>
                                            <input id="rbDespExpMantEjecutado" name="rbDespExpMant" type="radio" value="" />Ejecutado<br>
                                            <input id="rbDespExpMantPdiario" name="rbDespExpMant" type="radio" value="" />Programa Diario
                                        </fieldset>


                                    </td>

                                </tr>
                            </table>
                        </div>

                        <div id="DespachoConfiguracionPrincipal">

                            <table>
                                <tr>
                                    <td>
                                        Estado:
                                        <input id="rbControlActivo" name="rbControl" type="radio" value="radiobutton" />Activo
                                        <input id="rbControlInactivo" name="rbControl" type="radio" value="radiobutton" />No activo
                                        <input id="rbControlTodos" name="rbControl" type="radio" value="radiobutton" />Todos
                                        <input id="btnControlRecuperar" type="button" value="Recuperar" />

                                        <input id="btnControlNuevo" type="button" value="Nuevo" />

                                    </td>
                                </tr>
                            </table>
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginado"></div>
                            </div>
                            <div id="DespachoConfiguracion">
                            </div>

                        </div>

                    </div>


                </div>


            </div>

            <div id="Valoragua">

                <table border="0">
                    <tr>
                        <td>
                            <fieldset>
                                <legend>Opciones de importaci&oacute;n / exportaci&oacute;n</legend>
                                <input id="rbVaguaOpcPdiario" name="rbVaguaOpc" type="radio" value="" />Programa Diario <br>
                                <input id="rbVaguaOpcReprograma" name="rbVaguaOpc" type="radio" value="" />Reprograma
                                @Html.DropDownListFor(model => model.VaguaOpcReprograma, listaHoras, "-- Bloque --", new { @disabled = "disabled" })
                            </fieldset>
                        </td>
                        <td>&nbsp;</td>
                        <td>

                            <input id="btnVaguaImportar" type="button" value="Importar" />
                            <label id="fileInfoVagua" class="info">No se eligió un archivo.</label>
                            <label id="progreso" class="info"></label>
                            <div id="containerVagua"></div>
                            <input id="nombrearchivoVagua" type="hidden" name="Archivo" value="@Model.Archivo" />
                            <input type="hidden" id="hfArchivoVagua" />
                        </td>

                        <td><p><p><input id="btnVaguaExportar" type="button" value="Exportar XML" disabled /></td>
                        <td><p><p><input id="btnVaguaRecuperar" type="button" value="Recuperar" disabled /></td>
                    </tr>
                </table>

                <div id="ValoraguaTab">
                    <div id="tab-containerValoragua" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#ValoraguaDatos">Datos</a></li>
                            <li class='tab-alter'><a href="#ValoraguaConfiguracion">Configuraci&oacute;n</a></li>

                        </ul>

                        <div class='panel-container'>
                            <div id="ValoraguaDatos"></div>
                            <div id="ValoraguaConfiguracion"></div>
                        </div>


                    </div>


                </div>


            </div>


            <div id="Costovariable">

                <div id="CostovariableTab">
                    <div id="tab-containerCostovariable" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#CostovariableExportacion">Exportaci&oacute;n</a></li>
                            <li class='tab-alter'><a href="#CostovariableConfiguracion">Configuraci&oacute;n</a></li>


                        </ul>

                        <div class='panel-container'>
                            <div id="CostovariableExportacion">

                                <table border="0">
                                    <tr>
                                        <td>
                                            <table border="0">
                                                <tr>
                                                    <td>Inicio</td>
                                                    <td><input id="txtCvarExpFechaIni" name="FechaCVIni" value="@Model.FechaCVIni" type="text" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Final</td>
                                                    <td><input id="txtCvarExpFechaFin" name="FechaCVFin" value="@Model.FechaCVFin" type="text" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td><input id="btnCvarExpRecuperar" type="button" value="Recuperar" /></td>
                                        <td><input id="btnCvarExpExportar" type="button" value="Exportar XML" /></td>

                                    </tr>
                                </table>

                                <div id="CostovariableEscenario"></div>


                            </div>
                            <div id="CostovariableConfiguracion"></div>

                        </div>


                    </div>


                </div>


            </div>


            <div id="Mantenimiento">



                <div id="MantenimientoTab">
                    <div id="tab-containerMantenimiento" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#MantenimientoExportacion">Exportaci&oacute;n</a></li>
                            <li class='tab-alter'><a href="#MantenimientoUnidades">Unidades Configuradas</a></li>

                        </ul>

                        <div class='panel-container'>
                            <div id="MantenimientoExportacion">

                                <table border="0">
                                    <tr>
                                        <td>
                                            <fieldset>
                                                <legend>Opciones de exportaci&oacute;n</legend>
                                                <input id="rbMantExpOpcPdiario" name="rbMantExpOpc" type="radio" value="" />Programa Diario <br>
                                                <input id="rbMantExpOpcEjecutado" name="rbMantExpOpc" type="radio" value="" />Ejecutado

                                            </fieldset>
                                        </td>
                                        <td>&nbsp;</td>

                                        <td><p><p><input id="btnMantExpExportar" type="button" value="Exportar XML" /></td>

                                    </tr>
                                </table>

                            </div>
                            <div id="MantenimientoUnidades"></div>
                        </div>


                    </div>


                </div>


            </div>



            <div id="Regulacionasignada">

                <table border="0">
                    <tr>
                        <td>
                            <fieldset>
                                <legend>Opciones de importaci&oacute;n / exportaci&oacute;n</legend>
                                <input id="rbPotenciaOpcPdiario" name="rbPotenciaOpc" type="radio" value="" />Programa Diario <br>
                                <input id="rbPotenciaOpcReprograma" name="rbPotenciaOpc" type="radio" value="" />Reprograma
                                @Html.DropDownListFor(model => model.PotenciaOpcReprograma, listaHoras, "-- Bloque --", new { @disabled = "disabled" })
                            </fieldset>
                        </td>
                        <td>&nbsp;</td>
                        <td></td>

                        <td>
                            <fieldset>
                                <legend>Archivo</legend>

                                <table>
                                    <tr>
                                        <td>
                                            <input id="rbPotenciaDatosHidro" name="rbPotenciaDatos" type="radio" value="" />Hidroeléctrica
                                        </td>
                                        <td rowspan="2">

                                            <input id="btnPotenciaImportar" type="button" value="Importar" />
                                            <label id="fileInfoPActiva" class="info">No se eligió un archivo.</label>
                                            <label id="progreso" class="info"></label>
                                            <div id="containerPActiva"></div>
                                            <input id="nombrearchivoPActiva" type="hidden" name="Archivo" value="@Model.Archivo" />
                                            <input type="hidden" id="hfPActiva" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="rbPotenciaDatosTermo" name="rbPotenciaDatos" type="radio" value="" />Termoeléctrica
                                        </td>

                                    </tr>
                                </table>
                            </fieldset>
                        </td>


                        <td><p><p><input id="btnPotenciaExportar" type="button" value="Exportar RSF (XML)" disabled /></td>
                        <td><p><p><input id="btnPotenciaRecuperar" type="button" value="Recuperar" disabled /></td>
                    </tr>
                </table>

                <div id="RegulacionasignadaTab">
                    <div id="tab-containerRegulacionasignada" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#RegulacionasignadaDatos">Datos</a></li>
                            <li class='tab-alter'><a href="#RegulacionasignadaConfiguracion">Configuraci&oacute;n</a></li>

                        </ul>

                        <div class='panel-container'>
                            <div id="RegulacionasignadaDatos">
                                <div id="PotenciaDatos">
                                </div>
                            </div>
                            <div id="RegulacionasignadaConfiguracion">
                                <div id="tab-RegulacionasignadaConfiguracionTab" class='tab-container'>
                                    <ul class='etabs'>
                                        <li class='tab'><a href="#RegulacionasignadaConfiguracionTabHidro">Hidroeléctrica</a></li>
                                        <li class='tab'><a href="#RegulacionasignadaConfiguracionTabTermo">Termoeléctrica</a></li>

                                    </ul>

                                    <div class='panel-container'>
                                        <div id="RegulacionasignadaConfiguracionTabHidro">




                                        </div>
                                        <div id="RegulacionasignadaConfiguracionTabTermo"></div>
                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>


                </div>


            </div>



            <div id="Log">


                <textarea id="txtLog" name="AgccDescrip" cols="100" rows="20" readonly></textarea>

            </div>


        </div>
    </div>
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Control</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>

<div id="popUpEditarPMedicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Editar Punto</span></div>
    <div class="popup-text" id="contenidoEdicion">
        <div id="editarPMedicion"></div>
    </div>
</div>

<div id="popUpEditarCVariable" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Editar Costo Variable</span></div>
    <div class="popup-text" id="contenidoEdicion">
        <div id="editarCVariable"></div>
    </div>
</div>

<div id="popUpEditarControl" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Editar Control</span></div>
    <div class="popup-text" id="contenidoEdicion">
        <div id="editarControl"></div>
    </div>
</div>
