@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaAgcControlModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id=container style=width:10px; heigth:10px>
</div>

<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tablacvagc" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:20px; min-width:20px"></th>
                <th>&nbsp;</th>
                <th>Modo Operaci&oacute;n</th>
                <th>B2</th>
                <th>B3</th>
                <th>Modificador</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaMePtomedicion)
            {
                <tr>
                    <td style="width:20px; min-width:20px">
                        <a href="JavaScript:editarCVariable(@item.Ptomedicodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Ptomedibarranomb</td>
                    <td>@item.Ptomedidesc</td>
                    <td>@item.Lastuser</td>
                    <td>
                        @{
                var lastdate = "";
                if (item.Lastdate != null)
                {
                    lastdate = ((DateTime)item.Lastdate).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @lastdate
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
