@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaAgcControlModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center; " class="content-registro">
    <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>&nbsp;</th>
                <th>Tipo Control</th>
                <th>Descripci&oacute;n</th>
                <th>B2</th>
                <th>B3</th>
                <th>Creador</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modificador</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaAgcControl)
            {
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editarControl(@item.Agcccodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>

                        <a href="JavaScript:editarControl(@item.Agcccodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>

                        <a href="JavaScript:desactivarControl(@item.Agcccodi)" title="Desactivar...">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>

                    </td>
                    <td>&nbsp;</td>
                    <td>
                        @{
                var tipoControl = "";
                if (item.Agcctipo == "C")
                {
                    tipoControl = "Centralizado";
                }
                else
                {
                    tipoControl = "Proporcional";
                }
                        }
                        @tipoControl
                    </td>
                    <td>@item.Agccdescrip</td>
                    <td>@item.Agccb2</td>
                    <td>@item.Agccb3</td>
                    <td>@item.Agccusucreacion</td>
                    <td>
                        @{
                var fechaAgccFecCreacion = "";
                if (item.Agccfeccreacion != null)
                {
                    fechaAgccFecCreacion = ((DateTime)item.Agccfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaAgccFecCreacion
                    </td>
                    <td>@item.Agccusumodificacion</td>
                    <td>
                        @{
                var fechaAgccFecModificacion = "";
                if (item.Agccfecmodificacion != null)
                {
                    fechaAgccFecModificacion = ((DateTime)item.Agccfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaAgccFecModificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
