@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaAgcControlModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                
                <th style="width:20px; min-width:20px">Acci&oacute;n</th>
                <th>&nbsp;</th>
                <th>NCP</th>                
                <th>B2</th>
                <th>B3</th>
                <th>Modificador</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>        
            @foreach (var item in Model.ListaMePtomedicion)
            {                
                <tr>
                    <td style="width:20px; min-width:20px">
                        <a href="JavaScript:editarPMedicion(@item.Ptomedicodi,1,'@item.Origlectnombre')" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                     

                    </td>
                    <td>&nbsp;</td>
                    <td>@item.Ptomedielenomb</td>    
                    <td>@item.Ptomedibarranomb</td>    
                    <td>@item.Ptomedidesc</td>    
                    <td>@item.Lastuser</td>  
                    

                    <td>
                        @{
                            var Lastdate = "";
                            if (item.Lastdate != null)
                            {
                                Lastdate = ((DateTime)item.Lastdate).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @Lastdate
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
