@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaAgcControlModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th>Empresa</th>                
                <th>Subestaci&oacute;n</th>                
                <th>Tipo de Equipo</th>                
                <th>Equipo</th>                
                <th>B2</th>
                <th>B3</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEqEquipoPropiedad)
            {                
                <tr>
                    
                    <td>@item.Emprnomb</td>                        
                    <td>@item.Areanomb</td>    
                    <td>@item.Famnomb</td>    
                    <td>@item.Equiabrev</td>  
                    <td>@item.B2</td>  
                    <td>@item.B3</td>  
                                        

                </tr>
            }
        </tbody>
    </table>
</div>
