@model  IEnumerable<COES.Dominio.DTO.Sic.DaiAportanteDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .label-warning {
        color:red !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Empresa</th>
            <th>Ruc</th>
            <th>Razón Social</th>
            <th>Porcentaje(%)</th>
            <th>Monto Participación</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">@item.Emprnomb</td>
                <td>@item.Tipoempresa</td>
                <td>@item.Emprruc</td>
                <td class="text-left">@item.Emprrazsocial</td>
                <td class="text-right">@item.Aporporcentajeparticipacion</td>
                <td class="text-right">@(Convert.ToDecimal(item.Apormontoparticipacion).ToString("#,##0.00000000"))</td>
                <td >@item.EstadoImportado</td>
            </tr>
        }
    </tbody>
</table>