@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.NrPeriodoModel


<div class="panel-container"  id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>

        <table>
            <tr>
                <td>
                    <input type="hidden" id="hfNrperCodi" value="@Model.NrPeriodo.Nrpercodi" name="NrperCodi" />
                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                </td>
            </tr>
            <tr>
                <td id="lblNrperMes ">Mes</td>
                <td>
                    @{
                        var fechaNrperMes = "";
                        if (Model.NrPeriodo.Nrpermes != null)
                        {
                            fechaNrperMes = ((DateTime)Model.NrPeriodo.Nrpermes).ToString(COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Helper.ConstanteReservaFriaNodoEnergetico.FormatoAnioMes);//.FormatoFecha);
                        }
                    }
                    <input id="txtNrperMes" type="text" name="NrperMes" value="@fechaNrperMes" />
                </td>
            </tr>
            <tr>
                <td><span id="lblNrperEliminado">Eliminado</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbNrperEliminado">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfNrperEliminado" name="NrperEliminado" value="@Model.NrPeriodo.Nrpereliminado" />
                                            <input type="radio" id="rbNrperEliminadoS" name="rbNrperEliminado" value="S" />Si
                                            <input type="radio" id="rbNrperEliminadoN" name="rbNrperEliminado" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="registro-control">
                    <input type="hidden" id="hfNrperUsuCreacion" name="NrperUsuCreacion" value="@Model.NrPeriodo.Nrperusucreacion" />
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var fechaNrperFecCreacion = "";
                        if (Model.NrPeriodo.Nrperfeccreacion != null)
                        {
                            fechaNrperFecCreacion = ((DateTime)Model.NrPeriodo.Nrperfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                    }
                    <input type="hidden" id="hfNrperFecCreacion" name="NrperFecCreacion" value="@fechaNrperFecCreacion" />
                </td>
            </tr>
            <tr>
                <td class="registro-control">
                    <input type="hidden" id="hfNrperUsuModificacion" name="NrperUsuModificacion" value="@Model.NrPeriodo.Nrperusumodificacion" />
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var fechaNrperFecModificacion = "";
                        if (Model.NrPeriodo.Nrperfecmodificacion != null)
                        {
                            fechaNrperFecModificacion = ((DateTime)Model.NrPeriodo.Nrperfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                    }
                    <input type="hidden" id="hfNrperFecModificacion" name="NrperFecModificacion" value="@fechaNrperFecModificacion" />
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <input type="button" id="btnGrabar" value="Grabar" />
                    @*<input type="button" id="btnCancelar2" value="Cancelar" />*@
                </td>
            </tr>
        </table>
    </form>



</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Periodo</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>
