@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrPeriodoModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Periodo</th>
                <th>Eliminado</th>
                <th>Cre&oacute;</th>
                <th>Fecha de Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha de Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaNrPeriodo)
            {                
                <tr>
                    <td style="width: 60px; min-width: 60px">
                        <a href="JavaScript:editar(@item.Nrpercodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                            if (Model.AccionEditar)
                            {
                                <a href="JavaScript:editar(@item.Nrpercodi,1)" title="Editar...">
                                    <img src="~/Content/Images/btn-edit.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }

                            if (Model.AccionEliminar)
                            {
                                <a href="JavaScript:eliminar(@item.Nrpercodi)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }
                        }
                    </td>
                    <td>@{ var fechaPeriodo =
                        ((DateTime)@item.Nrpermes).ToString(COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Helper.ConstanteReservaFriaNodoEnergetico.FormatoAnioMes);
                            }@fechaPeriodo</td>
                    <td>@item.Nrpereliminado</td>
                    <td>@item.Nrperusucreacion</td>
                    <td>
                        @{
                            var fechaNrperFecCreacion = "";
                            if (item.Nrperfeccreacion != null)
                            {
                                fechaNrperFecCreacion = ((DateTime)item.Nrperfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrperFecCreacion
                    </td>
                    <td>@item.Nrperusumodificacion</td>
                    <td>
                        @{
                            var fechaNrperFecModificacion = "";
                            if (item.Nrperfecmodificacion != null)
                            {
                                fechaNrperFecModificacion = ((DateTime)item.Nrperfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrperFecModificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
