@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaReporteModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />    
}

<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/Reporte.js"></script>
<link href="~/Areas/ReservaFriaNodoEnergetico/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Reporte Mensual</div>
        <div class="content-botonera">
            <input type="button" id="btnExportar" value="Exportar" />
        </div>
    </div>
</div>

        <div class="content-hijo" id="mainLayout">
            <div class="search-content" style="margin-bottom:10px">


                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Periodo</td>
                        <td>
                            <select id="cbNrperCodi" name="cbNrperCodi" onchanged="" style="width:100px">
                                @foreach (var item in Model.ListaNrPeriodo)
                                {
                                    var aniomes = item.Nrpermes.Year + "-" + (item.Nrpermes.Month < 10 ? "0" : "") + item.Nrpermes.Month;

                                    <option value="@item.Nrpercodi">@aniomes</option>
                                }
                            </select>
                            <input type="hidden" id="hfcbNrperCodi" name="cbNrperCodi" value="@Model.NrperCodi" />
                        </td>

                        <td>M&oacute;dulo</td>
                        <td>
                            <select id="cbNrsmodCodi" name="cbNrsmodCodi" onchanged="" style="width:300px">
                                @foreach (var item in Model.ListaNrSubmodulo)
                                {
                                    <option value="@item.Nrsmodcodi">@item.Nrsmodnombre</option>
                                }
                            </select>
                            <input type="hidden" id="hfNrsmodCodi" name="NrsmodCodi" value="@Model.Submodulo" />
                        </td>
                        <td><input type="button" id="btnProcesar" value="Procesar" /></td>
                    </tr>

                </table>
            </div>

            <div class="content-tabla">
            </div>

            <div id="tab-container" class='tab-container'>
                <ul class='etabs'>
                    <li class='tab' id="ede2"><a href="#EDE">EDE</a></li>
                    <li class='tab' id="edeipp2"><a href="#EDEIPP">EDE IPP</a></li>
                    <li class='tab' id="edeipf2"><a href="#EDEIPF">EDE IPF</a></li>
                    <li class='tab' id="edeitp2"><a href="#EDEITP">EDE ITP</a></li>
                    <li class='tab' id="edeitf2"><a href="#EDEITF">EDE ITF</a></li>
                    <li class='tab' id="hora2"><a href="#Hora">Hora</a></li>
                    <li class='tab' id="sitf2"><a href="#SobrecostoITF">Sobrecosto ITF</a></li>
                    <li class='tab' id="sipf2"><a href="#SobrecostoIPF">Sobrecosto IPF</a></li>
                    <li class='tab' id="horada2"><a href="#HoraDA">Hora DA</a></li>
                    <li class='tab' id="horampe2"><a href="#HoraMPE">Hora MPE</a></li>
                    <li class='tab' id="horamce2"><a href="#HoraMCE">Hora MCE</a></li>

                </ul>
                <div class='panel-container'>
                    <div id="EDE">
                        <div class='panel-container'>
                            <div id="ederpta"></div>
                        </div>
                    </div>
                    
                    <div id="EDEIPP">
                        <div class='panel-container'>
                            <div id="edeipprpta"></div>
                        </div>
                    </div>
                    
                    <div id="EDEIPF">
                        <div class='panel-container'>
                            <div id="edeipfrpta"></div>
                        </div>
                    </div>
                    
                    <div id="EDEITP">
                        <div class='panel-container'>
                            <div id="edeitprpta"></div>
                        </div>
                    </div>
                    
                    <div id="EDEITF">
                        <div class='panel-container'>
                            <div id="edeitfrpta"></div>
                        </div>
                    </div>

                    <div id="Hora">
                        <div class='panel-container'>
                            <div id="horarpta"></div>
                        </div>
                    </div>


                    <div id="SobrecostoITF">
                        <div class='panel-container'>
                            <div id="sitfrpta"></div>
                        </div>
                    </div>

                    <div id="SobrecostoIPF">
                        <div class='panel-container'>
                            <div id="sipfrpta"></div>
                        </div>
                    </div>

                    <div id="HoraDA">
                        <div class='panel-container'>
                            <div id="hdarpta"></div>
                        </div>
                    </div>

                    <div id="HoraMPE">
                        <div class='panel-container'>
                            <div id="hmperpta"></div>
                        </div>
                    </div>
                    
                    <div id="HoraMCE">
                        <div class='panel-container'>
                            <div id="hmcerpta"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


