@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaReporteModel
@using System.Globalization
@using COES.MVC.Intranet.Helper

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="@Model.Tag" class="pretty tabla-adicional" cellspacing="0">
        <thead>
        <tr>
            <th>Empresa</th>
            <th>Equipo</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>00:15</th>
            <th>00:30</th>
            <th>00:45</th>
            <th>01:00</th>
            <th>01:15</th>
            <th>01:30</th>
            <th>01:45</th>
            <th>02:00</th>
            <th>02:15</th>
            <th>02:30</th>
            <th>02:45</th>
            <th>03:00</th>
            <th>03:15</th>
            <th>03:30</th>
            <th>03:45</th>
            <th>04:00</th>
            <th>04:15</th>
            <th>04:30</th>
            <th>04:45</th>
            <th>05:00</th>
            <th>05:15</th>
            <th>05:30</th>
            <th>05:45</th>
            <th>06:00</th>
            <th>06:15</th>
            <th>06:30</th>
            <th>06:45</th>
            <th>07:00</th>
            <th>07:15</th>
            <th>07:30</th>
            <th>07:45</th>
            <th>08:00</th>
            <th>08:15</th>
            <th>08:30</th>
            <th>08:45</th>
            <th>09:00</th>
            <th>09:15</th>
            <th>09:30</th>
            <th>09:45</th>
            <th>10:00</th>
            <th>10:15</th>
            <th>10:30</th>
            <th>10:45</th>
            <th>11:00</th>
            <th>11:15</th>
            <th>11:30</th>
            <th>11:45</th>
            <th>12:00</th>
            <th>12:15</th>
            <th>12:30</th>
            <th>12:45</th>
            <th>13:00</th>
            <th>13:15</th>
            <th>13:30</th>
            <th>13:45</th>
            <th>14:00</th>
            <th>14:15</th>
            <th>14:30</th>
            <th>14:45</th>
            <th>15:00</th>
            <th>15:15</th>
            <th>15:30</th>
            <th>15:45</th>
            <th>16:00</th>
            <th>16:15</th>
            <th>16:30</th>
            <th>16:45</th>
            <th>17:00</th>
            <th>17:15</th>
            <th>17:30</th>
            <th>17:45</th>
            <th>18:00</th>
            <th>18:15</th>
            <th>18:30</th>
            <th>18:45</th>
            <th>19:00</th>
            <th>19:15</th>
            <th>19:30</th>
            <th>19:45</th>
            <th>20:00</th>
            <th>20:15</th>
            <th>20:30</th>
            <th>20:45</th>
            <th>21:00</th>
            <th>21:15</th>
            <th>21:30</th>
            <th>21:45</th>
            <th>22:00</th>
            <th>22:15</th>
            <th>22:30</th>
            <th>22:45</th>
            <th>23:00</th>
            <th>23:15</th>
            <th>23:30</th>
            <th>23:45</th>
            <th>0:00</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaMeMedicion96)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.Ptomedielenomb</td>
                    @{
                        var fechaNrpcFecha = "";
                        if (item.Medifecha != null)
                        {
                            fechaNrpcFecha = ((DateTime) item.Medifecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                    }
                    <td> @fechaNrpcFecha</td>
                    <td>@item.Meditotal</td>
                    <td>@item.H1</td>
                    <td>@item.H2</td>
                    <td>@item.H3</td>
                    <td>@item.H4</td>
                    <td>@item.H5</td>
                    <td>@item.H6</td>
                    <td>@item.H7</td>
                    <td>@item.H8</td>
                    <td>@item.H9</td>
                    <td>@item.H10</td>
                    <td>@item.H11</td>
                    <td>@item.H12</td>
                    <td>@item.H13</td>
                    <td>@item.H14</td>
                    <td>@item.H15</td>
                    <td>@item.H16</td>
                    <td>@item.H17</td>
                    <td>@item.H18</td>
                    <td>@item.H19</td>
                    <td>@item.H20</td>
                    <td>@item.H21</td>
                    <td>@item.H22</td>
                    <td>@item.H23</td>
                    <td>@item.H24</td>
                    <td>@item.H25</td>
                    <td>@item.H26</td>
                    <td>@item.H27</td>
                    <td>@item.H28</td>
                    <td>@item.H29</td>
                    <td>@item.H30</td>
                    <td>@item.H31</td>
                    <td>@item.H32</td>
                    <td>@item.H33</td>
                    <td>@item.H34</td>
                    <td>@item.H35</td>
                    <td>@item.H36</td>
                    <td>@item.H37</td>
                    <td>@item.H38</td>
                    <td>@item.H39</td>
                    <td>@item.H40</td>
                    <td>@item.H41</td>
                    <td>@item.H42</td>
                    <td>@item.H43</td>
                    <td>@item.H44</td>
                    <td>@item.H45</td>
                    <td>@item.H46</td>
                    <td>@item.H47</td>
                    <td>@item.H48</td>
                    <td>@item.H49</td>
                    <td>@item.H50</td>
                    <td>@item.H51</td>
                    <td>@item.H52</td>
                    <td>@item.H53</td>
                    <td>@item.H54</td>
                    <td>@item.H55</td>
                    <td>@item.H56</td>
                    <td>@item.H57</td>
                    <td>@item.H58</td>
                    <td>@item.H59</td>
                    <td>@item.H60</td>
                    <td>@item.H61</td>
                    <td>@item.H62</td>
                    <td>@item.H63</td>
                    <td>@item.H64</td>
                    <td>@item.H65</td>
                    <td>@item.H66</td>
                    <td>@item.H67</td>
                    <td>@item.H68</td>
                    <td>@item.H69</td>
                    <td>@item.H70</td>
                    <td>@item.H71</td>
                    <td>@item.H72</td>
                    <td>@item.H73</td>
                    <td>@item.H74</td>
                    <td>@item.H75</td>
                    <td>@item.H76</td>
                    <td>@item.H77</td>
                    <td>@item.H78</td>
                    <td>@item.H79</td>
                    <td>@item.H80</td>
                    <td>@item.H81</td>
                    <td>@item.H82</td>
                    <td>@item.H83</td>
                    <td>@item.H84</td>
                    <td>@item.H85</td>
                    <td>@item.H86</td>
                    <td>@item.H87</td>
                    <td>@item.H88</td>
                    <td>@item.H89</td>
                    <td>@item.H90</td>
                    <td>@item.H91</td>
                    <td>@item.H92</td>
                    <td>@item.H93</td>
                    <td>@item.H94</td>
                    <td>@item.H95</td>
                    <td>@item.H96</td>
                </tr>
            }
        </tbody>
    </table>
</div>
