<script src="~/Areas/DemandaPO/Content/Scripts/consultaPrefiltrado/datosTna.js?v=3.0"></script>
<div id="main"
     data-msg="@Model.Mensaje"
     data-tpo="@Model.TipoMensaje"
     style="margin-bottom: 5px;">
    <div class="flex-row" style="margin-bottom: 10px;">
        <div style="margin-right: 10px;">
            <div>Año</div>
            <select id="selAnio">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                <option value="2038">2038</option>
                <option value="2039">2039</option>
                <option value="2040">2040</option>
                <option value="2041">2041</option>
            </select>
        </div>
        <div style="margin-right: 5px;">
            <div>Meses</div>
            <select id="selMes" multiple>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <div style="display: flex; align-items: end;margin-left: 5px;">
            <input id="btnConsultar"
                   type="button"
                   value="Consultar Versión" />
        </div>
        @*<div style="display: flex; align-items: end;">
            <input id="btnCorregir"
                   type="button"
                   value="Corregir Datos" />
        </div>*@
    </div>
    <div class="flex-row" style="margin-bottom: 10px;">
        <div style="margin-right: 10px;">
            <div>Version</div>
            <select id="selVersion">
                @foreach (var item in Model.ListaVersiones)
                {
                <option value="@item.Vergrpcodi">@item.Vergrpnomb [@item.Vergrpcodi]</option>
                }
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Variable</div>
            <select id="selVariable">
                <option value="1">Potencia Activa (MW)</option>
                <option value="2">Potencia Reactiva (MW)</option>
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Pto. Medicion</div>
            <select id="selPunto" multiple>
                @foreach (var item in Model.ListaPuntosTNA)
                {
                    <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                }
            </select>
        </div>
    </div>
    <div id="div-graficotna"></div>
</div>