@model COES.MVC.Intranet.Areas.DemandaPO.Models.ConsultaPrefiltradoModel

<script src="~/Areas/DemandaPO/Content/Scripts/consultaPrefiltrado/formulaSpl.js?v=5.2"></script>
<div id="main"
     data-msg="@Model.Mensaje"
     data-tpo="@Model.TipoMensaje"
     style="margin-bottom: 5px;">
    <div class="flex-row" style="margin-bottom: 10px;">
        <div style="margin-right: 10px;">
            <div>Version</div>
            <select id="selVersion">
                @foreach (var item in Model.ListaVersiones)
                {
                    <option value="@item.Vergrpcodi">@item.Vergrpnomb [@item.Vergrpcodi]</option>
                }
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Año</div>
            <select id="selAnio">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                <option value="2038">2038</option>
                <option value="2039">2039</option>
                <option value="2040">2040</option>
                <option value="2041">2041</option>
            </select>
        </div>
        <div style="margin-right: 5px;">
            <div>Meses</div>
            <select id="selMes" multiple>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <div style="display: flex; align-items: end;">
            <input id="btnConsultar"
                   type="button"
                   value="Consultar Datos" />
        </div>
        <div style="display: flex; align-items: end;">
            <input id="btnCorregir"
                   type="button"
                   value="Corregir Datos" />
        </div>
        <div style="display: flex; align-items: end;">
            <input id="btnGrabar"
                   type="button"
                   value="Grabar Versión" />
        </div>
        <div style="display: flex; align-items: end;">
            <input id="btnExportar"
                   type="button"
                   value="Exportar Versión" />
        </div>
    </div>
    <div class="flex-row" style="margin-bottom: 10px;">
        <div style="margin-right: 10px;">
            <div>Relacion</div>
            <select id="selFormula">
                @foreach (var item in Model.ListaFormulas)
                {
                    <option value="@item.Dposplcodi">@item.Dposplnombre</option>
                }
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Fuente</div>
            <select id="selFuente">
                <option value="1">SIRPIT</option>
                <option value="2">SICLI</option>
                <option value="3">TNA</option>
                <option value="4">Formulas SPL</option>
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Area Demanda</div>
            <select id="selAreaDemanda">
                <option value="1">Area Demanda 1</option>
                <option value="2">Area Demanda 2</option>
                <option value="3">Area Demanda 3</option>
                <option value="4">Area Demanda 4</option>
                <option value="5">Area Demanda 5</option>
                <option value="6">Area Demanda 6</option>
                <option value="7">Area Demanda 7</option>
                <option value="8">Area Demanda 8</option>
                <option value="9">Area Demanda 9</option>
                <option value="10">Area Demanda 10</option>
                <option value="11">Area Demanda 11</option>
                <option value="12">Area Demanda 12</option>
                <option value="13">Area Demanda 13</option>
                <option value="14">Area Demanda 14</option>
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Variable</div>
            <select id="selVariable">
                <option value="1">Potencia Activa (MW)</option>
                <option value="2">Potencia Reactiva (MVA)</option>
            </select>
        </div>
        <div>
            <input type="checkbox" id="ckbFormula" checked>
        </div>
        <div style="margin-right: 10px;">
            <div>Formula DPO</div>
            <select id="selFormulasDpo">
                @foreach (var item in Model.ListaFormulasDpo)
                {
                    <option value="@item.Prrucodi">@item.Prruabrev</option>
                }
            </select>
        </div>
        <div style="margin-right: 10px;">
            <div>Carga</div>
            <select id="selCarga" multiple>
                @foreach (var item in Model.ListaCargas)
                {
                    <option value="@item.filtroCodigo">@item.filtroNombre</option>
                }
            </select>
        </div>
        <div>
            <input id="txtMetodo" type="text" style="display: none" />
            <input id="txtMetodoNombre" type="text" style="display: none" />
        </div>
    </div>
    <div id="div-graficos"></div>
</div>

<div id="popup-grabar" class="general-popup" style="min-width: 300px; min-height: 200px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Grabar Versión</span>
        <div style="float: right;">
            <input id="btnPopGrabar" class="ws-float-r" type="button" value="Grabar" />
        </div>
    </div>
    <div class="popup-text">
        <div class="v-panel">
            <div id="pop-mensaje-grabar" style="display: none"></div>
            <div class="v-panel" style="margin-bottom: 10px;">
                <div>Seleccione una opción</div>
                <div class="h-panel">
                    <div class="filters">
                        <input type="radio" name="opcion" id="opcionExistente" value="1" checked> Existente
                    </div>
                    <div class="filters">
                        <input type="radio" name="opcion" id="opcionNuevo" value="2"> Nuevo
                    </div>
                </div>
            </div>
            <div class="filters" id="s-version" style="min-width: 300px;">
                <div>Lista de versiones</div>
                <select id="selPopVersion">
                    @foreach (var item in Model.ListaVersionesPop)
                    {
                    <option value="@item.Vergrpcodi">@item.Vergrpnomb [@item.Vergrpcodi]</option>
                    }
                </select>
            </div>
            <div class="filters" id="s-nombre" style="min-width: 300px;">
                <div>Nombre de la versión</div>
                <input id="txtPopNombreVersion" type="text" />
            </div>
        </div>
    </div>
</div>

<div id="popup-corregir" class="general-popup" style="min-width: 250px; min-height: 120px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Corregir Datos</span>
        <div style="float: right;">
            <input id="btnPopCorregir" class="ws-float-r" type="button" value="Corregir" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje-corregir" style="display: none"></div>
        <div class="v-panel">
            <div style="width: 100%; margin-bottom: 10px;">
                <div>
                    Seleccione el método
                </div>
                <select id="selMetodo" style="min-width: 300px">
                    <option value="0" selected>Seleccione...</option>
                    <option value="1">Filtrado por cambios bruscos en los datos</option>
                    <option value="2">Filtrado por día típico</option>
                    <option value="3">Opción de completado a partir de datos del TNA</option>
                </select>
            </div>
        </div>
    </div>
</div>