@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel
<div class="popup-title" style="margin-bottom:10px"><span>Reserva Asignada Ejecutada</span></div>

<table border="0" class="pretty tabla-icono" id="tablaLiquidacion">
    <thead>
        <tr>

            <th>Fecha </th>
            <th>URS</th>
            <th>Bloque horario</th>
            <th>Minutos</th>
            <th>RA Sub</th>
            <th>RA Baj</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.ListaRADetalle.Count > 0)
        {
            foreach (var item in Model.ListaRADetalle)
            {
        <tr>
            <td>
                @if (item.Coradefecha != null)
                {
                    <span>@(((DateTime)item.Coradefecha).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>@item.Gruponomb</td>
            <td>@item.Bloquehorario</td>
            <td>@item.Corademinutos</td>
            <td>@item.Coraderasub</td>
            <td>@item.Coraderabaj</td>
        </tr>
            }
        }
    </tbody>
</table>
