@model COES.MVC.Intranet.Areas.Equipamiento.Models.DetalleEquipoModel
<div class='panel-container'>
    <table class="table-form-vertical2 content-tabla-search" style="width:700px">
        <tr>
            <td class="tbform-label">Código:</td>
            <td class="tbform-control">
                @Model.Equicodi
            </td>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                @Model.Equinomb
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                @Model.Equiabrev
            </td>
            <td class="tbform-label">Abreviatura 2:</td>
            <td class="tbform-control">
                @Model.Equiabrev2
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Empresa:</td>
            <td class="tbform-control">
                @Model.EMPRNOMB
            </td>
            <td class="tbform-label">Ubicación:</td>
            <td class="tbform-control">
                @Model.AREANOMB
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo equipo:</td>
            <td class="tbform-control">
                @Model.Famnomb
            </td>
            <td class="tbform-label">Código único:</td>
            <td class="tbform-control">
                @Model.Ecodigo
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Es componente:</td>
            <td class="tbform-control">
                @Model.EquipadreDesc
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tensión:</td>
            <td class="tbform-control">
                @Model.Equitension
            </td>
            <td class="tbform-label">Proc. de Maniobra:</td>
            <td class="tbform-control">
                @Model.EquiManiobraDesc
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Código Osinergmin:</td>
            <td class="tbform-control">
                @Model.Osinergcodi
            </td>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">
                @Model.EquiestadoDesc
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario creación:</td>
            <td class="tbform-control">
                @Model.Lastuser
            </td>
            <td class="tbform-label">Fecha creación:</td>
            <td class="tbform-control">
                @(Model.Lastdate.HasValue ? Model.Lastdate.Value.ToString("dd/MM/yyyy HH:mm") : "")
            </td>
        </tr>
        <tr>
            <td class="tbform-label"></td>
            <td class="tbform-control">
                <input type="button" value="Auditoría Cambios" id="btnAuditoriaCambio" onclick="mostrarPopupAuditoriaCambio(@Model.Equicodi)" />
            </td>
            <td class="tbform-label"></td>
            <td class="tbform-control">
            </td>
        </tr>
    </table>
</div>
