@model COES.MVC.Intranet.Areas.Equipamiento.Models.IndexEquipoModel
@{
    ViewBag.Title = "Copiar propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/copiaEquipo.js?v=1.0"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Listado de equipos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar"/>
    </div>
</div>
<div class="content-hijo" id="mainLayout">


    @using (Html.BeginForm("", "Equipo", FormMethod.Post, new { @class = "form-search", name = "frmBusquedaEquipo", id = "frmBusquedaEquipo" }))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
        <div class="search-content" style="margin-bottom:0">
            <table class="content-tabla-search" style="width: auto">
                <tr>
                    <td class="tbform-label">Tipo de empresa:</td>
                    <td>
                        <select id="cbTipoEmpresa" name="iTipoEmpresa">
                            @foreach (var item in Model.ListaTipoEmpresa)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                    </td>

                    <td class="tbform-label">Empresa:</td>
                    <td>
                        <select id="cbEmpresa" name="iEmpresa">
                            </select>
                    </td>
                    <td class="tbform-label">Tipo equipo:</td>
                    <td>
                        <select id="cbTipoEquipo" name="iTipoEquipo">
                            @foreach (var item in Model.ListaTipoEquipo)
                            {
                                <option value="@item.Famcodi">@item.Famnomb</option>
                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="tbform-label">Estado:</td>
                    <td>
                        <select id="cbEstado" name="sEstadoCodi">
                            <option value=" ">-TODOS-</option>
                            @foreach (var item in Model.ListaEstados)
                            {
                                <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                            }
                        </select>
                    </td>
                    <td class="tbform-label"></td>
                    <td>
                        <input type="text" id="txtCodigoEquipo" name="CodigoEquipo" value="@Model.CodigoEquipo" style="display: none" />
                    </td>
                    <td class="tbform-label"></td>
                    <td><input type="text" id="txtNombreEquipo" name="NombreEquipo" value="@Model.NombreEquipo" style="display: none" /></td>
                </tr>
            </table>
            <div id="mensaje" style="width:300px; margin:0"></div>
        </div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    }
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear: both; height: 30px"></div>
    <div align="center">
        <input type="button" id="btnCopiar" value="Copiar" />
    </div>
</div>