@model COES.MVC.Intranet.Areas.Equipamiento.Models.EquipoPropiedadesModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Propiedad</th>
            <th>Unidad</th>
            <th>Valor</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Editar</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoValoresPropiedades)
        {
            <tr>
                <td onclick="mostrarHistoricoPropiedad(@item.Equicodi,@item.Propcodi);" style="cursor:pointer">@item.Propnomb</td>
                <td onclick="mostrarHistoricoPropiedad(@item.Equicodi,@item.Propcodi);" style="cursor:pointer">@item.Propunidad</td>
                <td onclick="mostrarHistoricoPropiedad(@item.Equicodi,@item.Propcodi);" style="cursor:pointer">@item.Valor</td>
                <td onclick="mostrarHistoricoPropiedad(@item.Equicodi,@item.Propcodi);" style="cursor:pointer">@item.Lastuser</td>
                <td onclick="mostrarHistoricoPropiedad(@item.Equicodi,@item.Propcodi);" style="cursor:pointer">@item.Fechapropequi</td>
                <td>
                    <a href="JavaScript:agregarValorPropiedad(@item.Equicodi,@item.Propcodi)" class="@Model.EnableEditar" >Agregar</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>