@model COES.MVC.Intranet.Areas.Equipamiento.Models.IndexEquipoModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<div style="clear: both; height: 10px"></div>
<table id="tablaListas">
    <tr>
        <td valign="top" style="width: 47%">
            <table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
                <thead>
                    <tr>
                        <th colspan="4" style="background-color: #efa408">EQUIPO ORIGEN</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre de equipo</th>
                        <th>Abreviatura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListadoEquipamiento)
                    {
                        <tr>
                            <td>
                                <input id="@item.Equicodi" type="radio" name="equipoOrigen" data-codigo="@item.Equicodi" />
                            </td>
                            <td style="@item.Osigrupocodi">@item.Equicodi</td>
                            <td style="@item.Osigrupocodi">@item.Equinomb</td>
                            <td style="@item.Osigrupocodi">@item.Equiabrev</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td style="width: 6%"></td>
        <td valign="top" style="width: 47%">
            <table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla2">
                <thead>
                    <tr>
                        <th colspan="4" style="background-color: #18a129">EQUIPO DESTINO</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre de equipo</th>
                        <th>Abreviatura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListadoEquipamiento)
                    {
                        <tr>
                            <td>
                                <input id="@item.Equicodi" type="radio" name="equipoDestino" data-codigo="@item.Equicodi" />
                            </td>
                            <td style="@item.Osigrupocodi">@item.Equicodi</td>
                            <td style="@item.Osigrupocodi">@item.Equinomb</td>
                            <td style="@item.Osigrupocodi">@item.Equiabrev</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>
