@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
<script src="~/Areas/CPPA/Content/Scripts/descargaArchivosIntegrantes.js?v=2.1"></script>

@{
    ViewBag.Title = "Ajuste Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css1.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script type="text/javascript">
    var listRevision = @Html.Raw(ViewBag.ListRevision);
</script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Listado de Envíos de archivos presupuesto anual</div>
    </div>
    <div class="content-hijo">
        <div id="message" style="display: none">
            Aquí se agregan los posibles mensajes...
        </div>
        <div class="search-content">
            <div class="h-panel">
                <div class="flex-row" style="margin-right: 35px;">
                    <div style="display: flex; align-items: center; margin-right: 10px; width: 30px;">Año :</div>
                    <select id="cbAnio" class="filtro-select" style="width: 108px; margin-right: 38px;">
                        <option value="" selected>Seleccione</option>
                        @foreach (var item in Model.ListaAnio)
                        {
                            <option value="@item.Entero1">@item.String1</option>
                        }
                    </select>

                    <div style="display: flex; align-items: center; margin-right: 10px; white-space: nowrap; width: 40px;">Ajuste :</div>
                    <select id="cbAjuste" class="filtro-select" style="width: 108px; margin-right: 40px;" disabled>
                        <option value="" selected>Seleccione</option>
                    </select>

                    <div style="display: flex; align-items: center; margin-right: 10px; white-space: nowrap; ">Revisión :</div>
                    <select id="cbRevision" class="filtro-select" style="width: 120px; margin-right: 40px;" disabled>
                        <option value="" selected>Seleccione</option>
                    </select>

                    <div style="display: flex; align-items: center; margin-right: 10px; white-space: nowrap; ">Empresa :</div>
                    <select id="cboEmpresa" class="filtro-select" style="width: 250px; margin-right: 50px;">
                        <option value="" selected>Seleccione</option>
                        @foreach (var item in Model.ListaEmpresasDescarga)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>

                        }
                    </select>

                    <input type="button" id="btnConsultar" value="Consultar" style="margin-right: 10px; margin-left: 20px;">
                </div>

            </div>
            @*<div class="h-panel" style="margin-top: 20px;">
                <div class="flex-row" style="margin-right: 35px;">
                    <div style="display: flex; align-items: center; margin-right: 10px; width: 80px;">Envío Desde :</div>
                    <input id="fechaDesde" type="text" class="filterFecha" style="width: 100px; " />

                    <div style="display: flex; align-items: center; margin-right: 10px; white-space: nowrap; margin-left: 40px; width: 80px;">Envío Hasta :</div>
                    <input id="fechaHasta" type="text" class="filterFecha" style="width: 100px;" />
                </div>
            </div>*@
        </div>
        <div>
            <table id="dtListado" class="pretty tabla-icono"></table>
        </div>
    </div>
</div>

<div id="popDetalle" class="general-popup" style="min-width: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title" style="display: flex; flex-direction: column;">
        <span id="popTitleDetalle">Archivos presupuesto anual de Envío 2554 (2024 A1 Revisión 1)</span>
        <span id="popSubTitleDetalle">Empresa : RED DE ENERGIA DEL PERU S.A.</span>
    </div>
    <div class="popup-text">
        <div id="message-popup" style="display: none"></div>
        <div style="margin-top: 20px;">
            <table id="dtDetalle" class="pretty tabla-icono" style="width:100%;">
            </table>
        </div>
        <div style="margin-top: 30px; text-align: center;">
            <input type="button" id="btnDescargar" value="Descargar" style="margin-right: 10px;">
            <input type="button" id="btnRetornar" value="Retornar" style="margin-right: 10px;">
        </div>
    </div>
    <div style="display: none">
        <input id="Anio"
               type="text"
               value="@ViewBag.Anio"
               disabled
               style="width: 100px; display: none;" />
        <input id="Ajuste"
               type="text"
               value="@ViewBag.Ajuste"
               disabled
               style="width: 100px; display: none;" />
        <input id="Revision"
               type="text"
               value="@ViewBag.Revision"
               disabled
               style="width: 100px; display: none;" />
        @*<input id="Desde"
               type="text"
               value="@ViewBag.Desde"
               disabled
               style="width: 100px; display: none;" />
        <input id="Hasta"
               type="text"
               value="@ViewBag.Hasta"
               disabled
               style="width: 100px; display: none;" />*@
        <input id="Emprcodi"
               type="text"
               value="@ViewBag.Emprcodi"
               disabled
               style="width: 100px; display: none;" />
        <input id="Emprnomb"
               type="text"
               value="@ViewBag.Emprnomb"
               disabled
               style="width: 100px; display: none;" />
    </div>
</div>