@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
<script src="~/Areas/CPPA/Content/Scripts/documentosDetalle.js?v=2.1"></script>

@{
    ViewBag.Title = "Ajuste Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css1.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>


<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Listado de Envíos de archivos presupuesto anual</div>
    </div>
    <div class="content-hijo">
        <div id="message" style="display: none">
            Aquí se agregan los posibles mensajes...
        </div>
        <div class="search-content">
            <div class="h-panel">
                <div class="flex-row" style="margin-right: 35px;">
                    <div style="display: flex; align-items: center; margin-right: 10px; width: 500px;">
                        <span style="font-weight: bold;">Archivos presupuesto anual de Envío </span>                                                                  <span style="margin-left: 5px;" data-envio="@ViewBag.Envio" data-revision="@ViewBag.RevisionName"> @ViewBag.Envio (@ViewBag.Anio @ViewBag.Ajuste @ViewBag.RevisionName)</span>
                    </div>
                </div>
                <div class="flex-row" style="margin-right: 35px;">
                    <div style="display: flex; align-items: center; margin-right: 10px; width: 500px;">Empresa: @ViewBag.Emprnomb</div>
                </div>
            </div>
        </div>
        <div>
            <table id="dtDetalle" class="pretty tabla-icono"></table>
        </div>
        <div style="margin-top: 30px; text-align: center;">
            <input type="button" id="btnDescargar" value="Descargar" style="margin-right: 10px;">
            <input type="button" id="btnRetornar" value="Retornar" style="margin-right: 10px;">
        </div>
        <div style="display: none">
            <input id="Documento"
                   type="text"
                   value="@ViewBag.Documento"
                   disabled
                   style="width: 100px; display: none;" />
            <input id="Anio"
                   type="text"
                   value="@ViewBag.Anio"
                   disabled
                   style="width: 100px; display: none;" />
            <input id="Ajuste"
                   type="text"
                   value="@ViewBag.Ajuste"
                   disabled
                   style="width: 100px; display: none;" />
            <input id="Revision"
                   type="text"
                   value="@ViewBag.Revision"
                   disabled
                   style="width: 100px; display: none;" />
            <input id="Emprcodi"
                   type="text"
                   value="@ViewBag.Emprcodi"
                   disabled
                   style="width: 100px; display: none;" />
            <input id="Emprnomb"
                   type="text"
                   value="@ViewBag.Emprnomb"
                   disabled
                   style="width: 100px; display: none;" />
        </div>
    </div>
</div>