@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.UnidadExoneradaModel
@{
    ViewBag.Title = "Exonerar";
}

<script src="~/Areas/CompensacionRSF/Content/Scripts/UnidadExonerada.js"></script>

@using (Html.BeginForm("actualizarCampos", "UnidadExonerada", FormMethod.Post, new { id = "frmFormulario", @class = "cmxform" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.EntidadUnidadExonerada.Vcruexcodi)
        <legend>Registro de Unidades Unidades exoneradas del Pago de RSF</legend>
        <table cellspacing="2" cellpadding="2">         
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EntidadUnidadExonerada.Emprnomb, "Empresa")</div></td>
                <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadUnidadExonerada.Emprnomb)</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EntidadUnidadExonerada.Equinombcen, "Cental de Generación")</div></td>
                <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadUnidadExonerada.Equinombcen)</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EntidadUnidadExonerada.Equinombuni, "Unidad de Generación")</div></td>
                <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadUnidadExonerada.Equinombuni)</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EntidadUnidadExonerada.Vcruexonerar, "Estado (*)")</div></td>
                <td>
                    <div class="editor-field">
                        <label><input id="EntidadUnidadExonerada_Vcruexonerar1" name="EntidadUnidadExonerada_Vcruexonerar" type="radio" value="S" checked/>Si</label>
                        <label><input id="EntidadUnidadExonerada_Vcruexonerar2" name="EntidadUnidadExonerada_Vcruexonerar" type="radio" value="N" />No</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EntidadUnidadExonerada.Vcruexobservacion, "Motivo de la exoneración (*)")</div></td>
                <td><div class="editor-field">@Html.TextAreaFor(model => model.EntidadUnidadExonerada.Vcruexobservacion, new { cols = 80, @rows = 2, style = "background-color: #f8f8f8; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 300px; height: 40px;" })</div></td>
            </tr>
            <tr>
                <td style="width:150px;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Registrar" id="btnActualizar" alt="Registrar" title="Registrar" />
                </td>
            </tr>
            <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
        </table>
    </fieldset>
}  
<div>
    <span class="button b-close"><span>X</span></span>
</div>


