<form name="frmBrowse">
    <table border="0" class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Centrales de Generación</th>
                <th>Unidad  de generación</th>
                <th>Comentario</th>
                <th>Exonerar</th>
                <th><input name="chkAll" type="checkbox" onclick="SelectAll()" checked="checked"><font class="fontTextBlanco"><b>SI a todos</b></font></th>
                <th style="width:30px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                int iCount = 0;
            }
            @foreach (var item in Model.ListaUnidadExonerada)
            {
                int sPK = item.Vcruexcodi;
                iCount++;
                <tr id="fila_@sPK">
                    <td class="text_left" style="text-align:left">@item.Emprnomb</td>
                    <td class="text_left" style="text-align:left">@item.Equinombcen</td>
                    <td class="text_left" style="text-align:left">@item.Equinombuni</td>
                    <td class="text_left" style="text-align:left">@item.Vcruexobservacion</td>
                    <td class="text_left" style="text-align:left">@item.Vcruexonerar</td>
                    <td>
                        @if (item.Vcruexonerar.Equals("S"))
                        {	<input name="chkItem" type="checkbox" value="@sPK" checked="checked"> }
                        else
                        {	<input name="chkItem" type="checkbox" value="@sPK"> }
                    </td>
                    <td style="width:30px;">
                        <a href="#" id="exonerar_@sPK" class="exonerar"><img src="@Url.Content("~/Content/Images/recalculo.jpg")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="Count" name="Count" value="@iCount">
    <div id="popup"></div>
</form>
