@model COES.MVC.Intranet.Areas.Subastas.Models.ProcesoModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Areas/Subastas/Content/Scripts/procesarOferta.js?v=1.3.1"></script>
<link href="~/Areas/Subastas/Content/Css/css.css?v=1.1" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Desencriptar Ofertas</div>
</div>

<div class="content-hijo" id="mainLayout">

    <fieldset style="width:150px; padding-bottom:20px">
        <legend>Proceso</legend>

        <table style="margin: 0 15px; width: 220px;">
            <tr>
                <td>
                    Tipo de Oferta:
                </td>
                <td>
                    <input type="radio" name="cbTipo" value="1" checked="checked">Diaria <br>
                    <input type="radio" name="cbTipo" value="0">Defecto
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">Fecha de Oferta:</td>
                <td>
                    <input type="text" id="txtFechaData" name="txtFechaData" style="width:92px" value="@Model.Fecha" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="padding-top: 15px;">
                    <input type="button" id="btnProcesar" value="Ejecutar" style="margin-left: 0px" />
                </td>
            </tr>
        </table>



    </fieldset>

    <!--Solo estará habilitado una vez-->
    @if (Model.TieneOpcionEspecialHabilitado)
    {
        <fieldset style="width: 470px; padding-bottom: 20px; margin-top: 15px;">
            <legend>Proceso Especial</legend>
            <b>Desencriptar envíos históricos anteriores.</b> <br/>
            <b>Esta opción solo se habilitará el día del despliegue de las mejoras de Subastas.</b>
            <table style="margin: 0 15px; width: 220px;margin-top: 15px;">
                <tr>
                    <td style="vertical-align: middle;">Fecha de Oferta:</td>
                    <td>
                        <input type="text" id="txtFechaData2" name="txtFechaData2" style="width:92px" value="@Model.Fecha2" disabled />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top: 15px;">
                        <input type="button" id="btnProcesar2" value="Ejecutar" style="margin-left: 0px" />
                    </td>
                </tr>
            </table>

        </fieldset>
    }
</div>