@model COES.Dominio.DTO.Sic.SmaOfertaSimetricaHorarioDTO

@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

@*<script src="~/Areas/Subastas/Content/Scripts/procesarOferta.js?v=1.3.1"></script>*@
@*<link href="~/Areas/Subastas/Content/Css/css.css?v=1.1" rel="stylesheet" />*@

<div class="form-title">
    <div class="content-titulo">Programar ofertas simétricas</div>
</div>

<div class="content-hijo" id="mainLayout">

    <fieldset style="width:150px; padding-bottom:20px">
        <legend>Registrar horario:</legend>
        <form>
            <table style="margin: 0 15px; width: 220px;">
                <tr>
                    <td>
                        Desde<br />
                        <input type="text" id="FechaConsultaIni" name="FechaConsultaIni" value="@Model.HorarioInicio.ToString("dd/MM/yyyy HH:mm")" style="width:120px" /><br /><br />
                        Hasta<br />
                        <input type="text" id="FechaConsultaFin" name="FechaConsultaFin" value="@Model.HorarioFin.ToString("dd/MM/yyyy HH:mm")" style="width:120px" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 15px;">
                        <input type="submit" id="btnRegistrar" name="btnRegistrar" value="Registrar horario" style="margin-left: 0px" />
                    </td>
                </tr>
            </table>
        </form>


    </fieldset>

    <div class="content-hijo content-frame" style="padding: 0px; margin-top: 10px; min-height: 0px;">
        <div class="field-group" style="width:50%">
            <div class="field-wrap">
                <div style="height:300px ; overflow-y:auto">
                    <table class="pretty tabla-formulario" style="margin-top: 0px; max-width: 360px">
                        <thead>
                            <tr>
                                <th colspan="4">Hora Inicio</th>
                            </tr>
                            <tr>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                                <th>Estado</th>
                                <th>Revertir estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @try
                            {
                                foreach (var item in ViewBag.registros)
                                {
                                    <tr>
                                        <td>@item.HorarioInicio.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.HorarioFin.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@(@item.Estado ? "Activo" : "Inactivo")</td>
                                        <td>
                                            <a href="?idRevertirEstado=@item.Id&estado=@(@item.Estado ? "1" : "0")">
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path fill="currentColor" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" />
                                                </svg>
                                            </a>
                                        </td>
                                        @*
                                                <td>@item.Papomaxdiasoferta</td>
                                            <td>@item.Papohorainicio</td>
                                            <td>@item.Papohorafin</td>
                                            <td>@item.Papohoraenvioncp</td>
                                            <td>@item.PapofeccreacionDesc</td>
                                            <td>@(@item.Papoestado == "A" ? "Vigente" : "Inactivo")</td>

                                        *@
                                    </tr>
                                }

                                if (ViewBag.registros.Count == 0)
                                {
                                    <tr>
                                        <td colspan="4" style="text-align: center">SIN REGISTROS</td>
                                    </tr>
                                }
                            }
                            catch (Exception ex)
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center">SIN REGISTROS</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                <script>
                    $('#FechaConsultaIni').Zebra_DatePicker({
                        direction: true,
                        //pair: $('#FechaConsultaFin'),
                        format: 'd/m/Y H:i'
                    });
                    $('#FechaConsultaFin').Zebra_DatePicker({
                        direction: true,
                        format: 'd/m/Y H:i'
                    });
                </script>
