@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaOperacionesVariasModel

<form id="formCopiarBloque" name="formCopiarBloque">
    <p>
        <input id="cbxCopiarTexto" name="cbxCopiarTexto" type="checkbox" value="checkbox" >
        <input type="hidden" id="hfCopiarTexto" name="copiartexto" value="@Model.Copiartexto">
        Copiar textos
    </p>
    <p>&nbsp;</p>
    <table class="form-ov-hora" border="1">
        <tr>
            <td>Seleccione una alternativa de copiado: </td>
        </tr>
        <tr>
            <td style="background-color: #d1e6fa">
                Copiar para el día siguiente
                <input type="button" id="btnCopiarBloqueDia" value="Copiar">
            </td>
            <td>
                <input type="hidden" id="hfIccodis" name="iccodis" value="@Model.Iccodis">
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFCC">
                Copiar para la semana<input type="button" id="btnCopiarBloqueSemana" name="Submit2" value="Copiar">
                <table border="1">
                    <tr>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar1" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck1" name="copiar1" value="@Model.Copiar1">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar2" name="checkbox22" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck2" name="copiar2" value="@Model.Copiar2">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar3" name="checkbox23" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck3" name="copiar3" value="@Model.Copiar3">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar4" name="checkbox24" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck4" name="copiar4" value="@Model.Copiar4">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar5" name="checkbox25" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck5" name="copiar5" value="@Model.Copiar5">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar6" name="checkbox26" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck6" name="copiar6" value="@Model.Copiar6">
                                Copiar
                            </div>
                        </td>
                        <td>
                            <div align="left">
                                <input id="cbxCopiar7" name="checkbox27" type="checkbox" value="checkbox" checked>
                                <input type="hidden" id="hfIccheck7" name="copiar7" value="@Model.Copiar7">
                                Copiar
                            </div>
                        </td>
                    </tr>
                    <tr>
                        @{
                            DateTime fecha;
                            string fecha1, fecha2, fecha3, fecha4, fecha5, fecha6, fecha7;

                            if (Model.Fechafin != null)
                            {
                                fecha = DateTime.ParseExact(Model.Fechafin, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                                fecha1 = fecha.AddDays(1).ToString("dd/MM/yyyy");
                                fecha2 = fecha.AddDays(2).ToString("dd/MM/yyyy");
                                fecha3 = fecha.AddDays(3).ToString("dd/MM/yyyy");
                                fecha4 = fecha.AddDays(4).ToString("dd/MM/yyyy");
                                fecha5 = fecha.AddDays(5).ToString("dd/MM/yyyy");
                                fecha6 = fecha.AddDays(6).ToString("dd/MM/yyyy");
                                fecha7 = fecha.AddDays(7).ToString("dd/MM/yyyy");

                                Model.Fecha1 = fecha1;
                                Model.Fecha2 = fecha2;
                                Model.Fecha3 = fecha3;
                                Model.Fecha4 = fecha4;
                                Model.Fecha5 = fecha5;
                                Model.Fecha6 = fecha6;
                                Model.Fecha7 = fecha7;

                                <td><input type="hidden" id="hfFecha1" name="fecha1" value="@Model.Fecha1" />@Model.Fecha1</td>
                                <td><input type="hidden" id="hfFecha2" name="fecha2" value="@Model.Fecha2" />@Model.Fecha2</td>
                                <td><input type="hidden" id="hfFecha3" name="fecha3" value="@Model.Fecha3" />@Model.Fecha3</td>
                                <td><input type="hidden" id="hfFecha4" name="fecha4" value="@Model.Fecha4" />@Model.Fecha4</td>
                                <td><input type="hidden" id="hfFecha5" name="fecha5" value="@Model.Fecha5" />@Model.Fecha5</td>
                                <td><input type="hidden" id="hfFecha6" name="fecha6" value="@Model.Fecha6" />@Model.Fecha6</td>
                                <td><input type="hidden" id="hfFecha7" name="fecha7" value="@Model.Fecha7" />@Model.Fecha7</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td><input type="text" id="horaini1" name="horaini1" value="00:00">@Model.Horaini1</td>
                        <td><input type="text" id="horaini2" name="horaini2" value="00:00">@Model.Horaini2</td>
                        <td><input type="text" id="horaini3" name="horaini3" value="00:00">@Model.Horaini3</td>
                        <td><input type="text" id="horaini4" name="horaini4" value="00:00">@Model.Horaini4</td>
                        <td><input type="text" id="horaini5" name="horaini5" value="00:00">@Model.Horaini5</td>
                        <td><input type="text" id="horaini6" name="horaini6" value="00:00">@Model.Horaini6</td>
                        <td><input type="text" id="horaini7" name="horaini7" value="00:00">@Model.Horaini7</td>
                    </tr>
                    <tr>
                        <td><input type="text" id="horafin1" name="horafin1" value="24:00">@Model.Horafin1</td>
                        <td><input type="text" id="horafin2" name="horafin2" value="24:00">@Model.Horafin2</td>
                        <td><input type="text" id="horafin3" name="horafin3" value="24:00">@Model.Horafin3</td>
                        <td><input type="text" id="horafin4" name="horafin4" value="24:00">@Model.Horafin4</td>
                        <td><input type="text" id="horafin5" name="horafin5" value="24:00">@Model.Horafin5</td>
                        <td><input type="text" id="horafin6" name="horafin6" value="24:00">@Model.Horafin6</td>
                        <td><input type="text" id="horafin7" name="horafin7" value="24:00">@Model.Horafin7</td>
                    </tr>
                </table>
                <p>&nbsp;</p>
            </td>

        </tr>
    </table>

    <input id="btncancelcopy" type="button" name="Submit" value="Cancelar">
    <p>&nbsp;</p>
</form>
