@model COES.MVC.Intranet.Areas.Eventos.Models.OperacionesVariasModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Eventos/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/operacionesvariasEditar.js?v=3.1.9"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Operaciones Varias</div>
        <div class="content-botonera">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <form id="formEvento" name="formEvento">
        <div class="action-message" id="mensaje">Ingrese los datos</div>
        <table class="content-registro">
            <tr>
                <td class="registro-label">Horizonte</td>
                <td class="registro-control">
                    <select id="cbHorizonte" name="Horizonte" style="width:250px">
                        @foreach (var item in Model.ListaEvenclase)
                        {
                            <option value="@item.Evenclasecodi">@item.Evenclasedesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfEvenclasecodi" name="Evenclasecodi" value="@Model.IeodCuadro.Evenclasecodi" />
                </td>
            </tr>
            <tr>
                <td>Tipo de operación</td>
                <td>
                    <select id="cbTipoOpera" name="TipoOperacion" style="width:300px">
                        @foreach (var item in Model.ListaEvensubcausa)
                        {
                            <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfSubcausacodi" name="Subcausacodi" value="@Model.IeodCuadro.Subcausacodi" />
                </td>
            </tr>
        </table>
        <table width="886">
            <tr>
                <th @*width="416"*@>
                    <table width="200" class="pretty tabla-adicional">
                        <tr>
                            <th style="color:white;"><b>Empresa</b></th>
                            <td>
                                <input type="text" id="txtEmpresa" name="txtEmpresa" value="@Model.IeodCuadro.Emprnomb" disabled />
                            </td>
                            <td>
                                <input type="button" id="btnSeleccionar" name="btnSeleccionar" value="Seleccionar Equipo" />
                            </td>
                        </tr>
                        <tr>
                            <th style="color:white;"><b>Ubicaci&oacute;n</b></th>
                            <td><input type="text" id="txtUbicacion" name="txtUbicacion" value="@Model.IeodCuadro.Areanomb" disabled /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th style="color:white;"><b>Equipo</b></th>
                            <td><input type="text" id="txtEquipo" name="txtEquipo" value="@Model.IeodCuadro.Equiabrev" disabled /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th style="color:white;"><b>Tipo Equipo </b></th>
                            <td><input type="text" id="txtTipoEquipo" name="txtTipoEquipo" value="@Model.IeodCuadro.Famabrev" disabled /></td>
                            <td>
                                &nbsp;
                                <input type="hidden" id="hfEquicodi" value="@Model.IeodCuadro.Equicodi" name="Equicodi" />
                                <input type="hidden" id="hfAccion" value="@Model.Accion" />
                                <input type="hidden" id="hfEquipoInvolucrado" value="@Model.EquipoInvolucrado" name="EquipoInvolucrado" />
                                <input type="hidden" id="hfGrupoInvolucrado" value="@Model.GrupoInvolucrado" name="GrupoInvolucrado" />
                                <input type="hidden" id="hfStrAislado" value="@Model.StrAislado" name="StrAislado" />
                                <input type="hidden" id="hfStrAisladoFlagPpal" value="@Model.StrAisladoFlagPpal" name="StrAisladoFlagPpal" />
                            </td>
                        </tr>
                    </table>
                    <table width="200">
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <input type="hidden" id="hficcodi" value="@Model.IeodCuadro.Iccodi" name="Iccodi" />
                    <div id="btnSeleccionar2" class="formula-subtitulo" style="margin-top:25px">Equipos involucrados<input type="button" name="btnSeleccionar2" value="Agregar" /></div>
                    <div id="tblCentral2">
                    </div>

                    <div id="btnAgregarGps" class="formula-subtitulo" style="margin-top:25px;display: none">
                        Gps involucrados<input id="btnSeleccionarGps" type="button" name="btnSeleccionarGps" value="Agregar" />

                        <div id="div_tabla_Gps" style="display:none; width: 700px"></div>
                    </div>

                <td>
                    <table class="form-ovh" id="formHoras">
                        <tr>
                            <td>&nbsp;</td>
                            <td id="ctnhorcoord" style='display:none'>
                                <span id="lblhorcoord">Hora Coordinaci&oacute;n</span>
                                <input id="txthorcoord" type="text" name="Ichor3" value="@Model.IeodCuadro.Ichor3" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td id="ctnhorcoord2" style='display:none'>
                                <span id="lblhorcoord2">Hora Coordinaci&oacute;n2</span>
                                <input id="txthorcoord2" type="text" name="Ichor4" value="@Model.IeodCuadro.Ichor4" />
                            </td>
                        </tr>
                        <tr id="ctnhoraisla" style='display:none'>
                            <td id="txthorinicarga">Hora Inicio: Aislado sin carga</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td id="ctnhoraisla2" style='display:none'>
                                @{
                                    var fecha0 = "";
                                    if (Model.IeodCuadro.Ichorinicarga != null)
                                    {
                                        fecha0 = ((DateTime)Model.IeodCuadro.Ichorinicarga).ToString("dd/MM/yyyy HH:mm:ss");
                                    }
                                }

                                <input id="valhorinicarga" type="text" name="Ichorinicarga" value="@fecha0" />
                            </td>
                            @if (Model.GrabarEvento)
                            {
                                <!--<td>
                                    <input id="cbxgeneveninicarga" style='display:none' type="checkbox" name="cbxGenEvenInicarga" value="GenEvenInicarga" />
                                    <span id="lblgeneveninicarga" style='display:none'>Generar Evento</span>
                                </td>-->
                            }

                        </tr>
                        <tr>
                            <td id="txthorini">Hora Inicio</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    var fecha = "";
                                    if (Model.IeodCuadro.Ichorini != null)
                                    {
                                        fecha = ((DateTime)Model.IeodCuadro.Ichorini).ToString("dd/MM/yyyy HH:mm:ss");
                                    }
                                }

                                <input id="valhorini" type="text" name="Ichorini" value="@fecha" />
                            </td>
                            @if (Model.GrabarEvento)
                            {
                                <td>
                                    <input id="cbxgenevenini" style='display:none' type="checkbox" name="cbxGenEvenIni" value="GenEvenIni" />
                                    <span id="lblgenevenini" style='display:none'>Generar Evento</span>
                                </td>
                            }

                        </tr>
                        <tr>
                            <td id="txthorfin">Hora Fin</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    var fecha2 = "";
                                    if (Model.IeodCuadro.Ichorfin != null)
                                    {
                                        fecha2 = ((DateTime)Model.IeodCuadro.Ichorfin).ToString("dd/MM/yyyy HH:mm:ss");
                                    }
                                }
                                <input id="valhorfin" type="text" name="Ichorfin" value="@fecha2" />
                            </td>
                            @if (Model.GrabarEvento)
                            {
                                <td>
                                    <input id="cbxgenevenfin" style='display:none' type="checkbox" name="cbxGenEvenFin" value="GenEvenFin" />
                                    <span id="lblgenevenfin" style='display:none'>Generar Evento</span>
                                </td>
                            }
                            <td>
                                <input type="hidden" id="hfGrabarEvento" value="@Model.GrabarEvento" name="GrabarEvento" />
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <input id="cbxIccheck2" style='display:none' type="checkbox" onclick="activarControlCondicional()" />
                                <input type="hidden" id="hfIccheck2" name="Iccheck2" value="@Model.IeodCuadro.Iccheck2" />
                                <span id="lbliccheck2" style='display:none'>Iccheck2</span>
                            </td>
                            <td>
                                <span id="lblvalor1" style='display:none'>Icvalor1</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input id="cbxIccheck1" style='display:none' type="checkbox" />
                                <input type="hidden" id="hfIccheck1" name="Iccheck1" value="@Model.IeodCuadro.Iccheck1" />
                                <span id="lblIccheck1" style='display:none'>Iccheck1</span>
                            </td>
                            <td><input id="txtvalor1" style='display:none' type="text" name="Icvalor1" value="@Model.IeodCuadro.Icvalor1" /></td>
                        </tr>

                    </table>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <table class="form-ov-hpfp">
                        <tr>
                            <td>
                                <input id="cbxindisp" style='display:none' type="checkbox" name="cbxIccheck3" value="checkbox" onclick="activarControlCondicional()" />
                                <input type="hidden" id="hfIccheck3" name="Iccheck3" value="@Model.IeodCuadro.Iccheck3" />

                                <span id="lblindisp" style='display:none'>Indisp</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;">
                                <input id="cbxindparc" style='display:none' type="checkbox" name="cbxIccheck4" value="checkbox" onclick="activarControlCondicional()" />
                                <input type="hidden" id="hfIccheck4" name="Iccheck4" value="@Model.IeodCuadro.Iccheck4" />
                                <span id="lblindparc" style='display:none'>Indisp. Parcial</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span id="lblgendisp" style='display:none'>Gen. Disponible (MW)</span>
                                <input id="txtgendisp" style='display:none' type="text" name="Icvalor2" value="@Model.IeodCuadro.Icvalor2" />
                            </td>
                        </tr>

                        <tr id="ctnhp" style='display:none'>
                            <td><span id="lblhp" style='display:none'>Hora Punta</span> </td>
                        </tr>
                        <tr id="ctnhp2" style='display:none'>
                            <td><input id="txthp" style='display:none' type="text" name="txtGenDisp2" readonly="readonly" /></td>
                        </tr>
                        <tr id="ctnfp" style='display:none'>
                            <td><span id="lblfp" style='display:none'>Fuera de Punta</span> </td>
                        </tr>
                        <tr id="ctnfp2" style='display:none'>
                            <td><input id="txtfp" style='display:none' type="text" name="txtGenDisp3" readonly="readonly" /></td>
                        </tr>
                    </table>
                    <p>&nbsp;      </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </table>

        <table>

            <tr>
                <td>
                    <table class="content-registro">
                        <tr>
                            <td class="content-label" id="lblDetalleAdicional1" style='display:none'> </td>
                            <td class="registro-control">
                                <textarea id="txtDetalleAdicional1" style='display:none' maxlength="255" name="Icdescrip1" cols="60" rows="4">@Model.IeodCuadro.Icdescrip1</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-label" id="lblDetalleAdicional2" style='display:none'></td>
                            <td class="registro-control">
                                <textarea id="txtDetalleAdicional2" style='display:none' maxlength="255" name="Icdescrip2" cols="60" rows="4">@Model.IeodCuadro.Icdescrip2</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-label" id="lblDetalleAdicional3" style='display:none'></td>
                            <td class="registro-control">
                                <textarea id="txtDetalleAdicional3" style='display:none' maxlength="255" name="Icdescrip3" cols="60" rows="4">@Model.IeodCuadro.Icdescrip3</textarea>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <!-- NUEVO -->
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                <input type="hidden" id="hfAccionCuadro" value="@Model.Accioncuadro" />
                                <input type="hidden" id="hfIccheckCuadro" name="Ictipcuadro" value="@Model.IeodCuadro.Ictipcuadro" />
                                <input id="cbxIccheckCuadro1" style='display:none' type="radio" name="cbxIccheckCuadro" value="1" (@Model.IeodCuadro.Ictipcuadro=1 ? checked) />
                                <span id="lblIccheckCuadro1" style='display:none'>IccheckCuadro1</span>
                            </td>
                            <td><input id="txtvalorCuadro1" style='display:none' type="text" name="IcvalorCuadro1" value="" /></td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                <input id="cbxIccheckCuadro2" style='display:none' type="radio" name="cbxIccheckCuadro" value="2" (@Model.IeodCuadro.Ictipcuadro=2 ? checked) />
                                <span id="lblIccheckCuadro2" style='display:none'>IccheckCuadro2</span>
                            </td>
                            <td><input id="txtvalorCuadro2" style='display:none' type="text" name="IcvalorCuadro2" value="" /></td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                <input id="cbxIccheckCuadro3" style='display:none' type="radio" name="cbxIccheckCuadro" value="3" (@Model.IeodCuadro.Ictipcuadro=3 ? checked) />
                                <span id="lblIccheckCuadro3" style='display:none'>IccheckCuadro3</span>
                            </td>
                            <td><input id="txtvalorCuadro3" style='display:none' type="text" name="IcvalorCuadro3" value="" /></td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                <input id="cbxIccheckCuadro4" style='display:none' type="radio" name="cbxIccheckCuadro" value="0" (@Model.IeodCuadro.Ictipcuadro=0 ? checked) />
                                <span id="lblIccheckCuadro4" style='display:none'>IccheckCuadro4</span>
                            </td>
                            <td><input id="txtvalorCuadro4" style='display:none' type="text" name="IcvalorCuadro4" value="" /></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <!--<table class="content-registro" style="float:left">
        <tr>
            <td class="content-label" id="lblDetalleAdicional1" style='display:none'> </td>
            <td class="registro-control">
                <textarea id="txtDetalleAdicional1" style='display:none' maxlength="255" name="Icdescrip1" cols="60" rows="4">@Model.IeodCuadro.Icdescrip1</textarea>
            </td>
        </tr>
        <tr>
            <td class="content-label" id="lblDetalleAdicional2" style='display:none'></td>
            <td class="registro-control">
                <textarea id="txtDetalleAdicional2" style='display:none' maxlength="255" name="Icdescrip2" cols="60" rows="4">@Model.IeodCuadro.Icdescrip2</textarea>
            </td>
        </tr>
        <tr>
            <td class="content-label" id="lblDetalleAdicional3" style='display:none'></td>
            <td class="registro-control">
                <textarea id="txtDetalleAdicional3" style='display:none' maxlength="255" name="Icdescrip3" cols="60" rows="4">@Model.IeodCuadro.Icdescrip3</textarea>
            </td>
        </tr>
    </table>-->

        


        <input type="hidden" id="hficcodi" value="@Model.IeodCuadro.Iccodi" name="Iccodi" />
        <div id="tblCentral2">
        </div>

        <div id="btnAgregarGru" class="formula-subtitulo" style="margin-top:25px">
            Grupo de despacho<input id="btnDespacho" type="button" name="btnDespacho" value="Agregar" />

            <div id="div_tabla_pr_Grupo" style="display:none; width: 700px"></div>
        </div>
    </form>
</div>

<div id="busquedaEquipo" style="display:none"></div>

<div id="busquedaDespachoPopup" style="display:none" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Lista grupo de despacho</span></div>
    <div style="clear:both; height:5px"></div>

    <table class="table-search" style="width:auto">
        <tr>
            <td><label class="formula-subtitulo">Fecha Inicio</label><br /></td>
            <td><label class="formula-subtitulo">Fecha Fin</label><br /></td>
        </tr>
        <tr>
            <td><input id="valhoriniGrupo" type="text" disabled value="@fecha" /></td>
            <td><input id="valhorFinGrupo" type="text" disabled value="@fecha2" /></td>
        </tr>
    </table>

    <table class="table-search" style="width:auto">

        <tr>
            <td>
                <div id="div_tabla_pr_concepto" style="display: none">

                </div>

                <div style="clear:both; height:5px"></div>
            </td>
        </tr>
    </table>
</div>

<!--Seleccionar Gps-->
<div id="busquedaGpsPopup" style="display:none" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Lista GPS</span></div>
    <div style="clear:both; height:5px"></div>
    
    <table class="table-search" style="width:auto">

        <tr>
            <td>
                <div id="div_tabla_popup_gps" style="display: none">

                </div>

                <div style="clear:both; height:5px"></div>
            </td>
        </tr>
    </table>
</div>