@model COES.MVC.Intranet.Areas.Eventos.Models.OperacionesVariasModel

<table class="tabla-formulario" id="tablaEquipo">
    <thead>
    <tr>
        <th>ID</th>
        <th>Empresa</th>
        <th>Ubicación</th>
        <th>Tipo</th>            
        <th>Equipo</th>
        <th ><span id="check1">Se limitó</span></th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.IeodCuadroDet)
    {
        var id = "tr" + item.Equicodi;
        <tr id="@id">
            <td>@item.Equicodi</td>
            <td>@item.Emprnomb</td>
            <td>@item.Areanomb</td>
            <td>@item.Famabrev</td>
            <td>@item.Equiabrev</td>
            <td><a href="JavaScript:cambiarOpcion(@item.Equicodi)"><span id="det">@item.Icdetcheck1</span></a></td>
            <td style="text-align:center">
                <a href="JavaScript:eliminarEquipo(@item.Equicodi)">
                    <img src="~/Content/Images/Trash.png" />
                </a>

            </td>
        </tr>
    }
    </tbody>
</table>
