@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaOperacionesVariasModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Eventos/Content/Scripts/operacionesvarias.js?v=2.6"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">

    <div class="form-title">
        <div class="content-titulo">Operaciones Varias</div>
        <div class="content-botonera">
            @{
                if (Model.AccionNuevo)
                {
                    <input type="button" id="btnNuevo" value="Nuevo" />
                    <input type="button" id="btnCopiarBloque" value="Copiar bloque" />
                    <input type="button" id="btnCopiarHorizonte" value="Opciones" />
                }
            }
            <input type="button" id="btnExportar" value="Exportar" />
            @{
                if (Model.AccionNuevo)
                {
                    <input type="button" id="btnEliminarMasivo" value="Eliminar Bloque" />
                }
            }
            <input type="button" id="btnGuardarLineasMasivo" value="Guardar Equipos" />
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Horizonte:</td>
                <td>
                    <select id="cbEvenclase" name="Evenclase" style="width:300px">
                        @foreach (var item in Model.ListaEvenclase)
                        {
                            <option value="@item.Evenclasecodi">@item.Evenclasedesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfHorizonte" name="Horizonte" value="@Model.Horizonte" />
                </td>
                <td>Desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.Fechaini" style="width:120px" /></td>
                <td>Hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.Fechafin" style="width:120px" /></td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                </td>
            </tr>
            <tr>
                <td>Tipo de operación:</td>
                <td>
                    <select id="cbSubcausa" name="Subcausa" style="width:300px">
                        <option value="0">TODOS</option>

                        @foreach (var item in Model.ListaEvensubcausa)
                        {
                            <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoOperacion" name="TipoOperacion" value="@Model.TipoOperacion" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
    <div style="clear:both; height:30px"></div>
</div>
<div id="popupEditar" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div id="contenedorEditar">
        <div class="popup-text">
            <table class="content-registro">
                <tr>
                    <td class="registro-label">Horizonte</td>
                    <td class="registro-control">
                        <select id="cbHorizonte" name="Horizonte" style="width:120px">
                            <option value="1">EJECUTADOS</option>
                            <option value="2">PROGRAMADO DIARIO</option>
                            <option value="3">PROGRAMADO SEMANAL</option>
                            <option value="4">PROGRAMADO MENSUAL</option>
                            <option value="5">PROGRAMADO ANUAL</option>
                            <option value="6">PROGRAMADO AJUSTE DIARIO</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tipo de operación</td>
                    <td>
                        <select id="cbTurno" name="Turno" style="width:300px">
                            <option value="1">CENTRALES F/S POR DESPACHO</option>
                            <option value="2">CONGESTION EN GASODUCTO DE CAMISEA</option>
                            <option value="3">CONGESTION</option>
                            <option value="4">DESCARGA LAGUNAS</option>
                            <option value="5">DISPONIBILIDAD DE GAS</option>
                            <option value="6">ENERGIA DEJADA DE INYECTAR RER</option>
                            <option value="7">INTERCONEXIONES INTERNACIONALES</option>
                            <option value="8">OPERACION DE CALDEROS</option>
                            <option value="9">OPERACION DE EQUIPOS DE COMPENSACION</option>
                            <option value="10">POR PRUEBAS (no termoelectrico)</option>
                            <option value="11">REDUCCION DE CARGA</option>
                            <option value="12">REGULACION DE TENSION</option>
                            <option value="13">REGULACION ESPECIAL DE FRECUENCIA</option>
                            <option value="14">REGULACION PRIMARIA DE FRECUENCIA</option>
                            <option value="15">REGULACION SECUNDARIA DE FRECUENCIA</option>
                            <option value="16">RESERVA MAP-COES</option>
                            <option value="17">RESTRICCION DE SUMINISTROS</option>
                            <option value="18">RESTRICCIONES OPERATIVAS</option>
                            <option value="19">SISTEMAS AISLADOS</option>
                            <option value="20">SISTEMAS AISLADOS F/S</option>
                            <option value="21">UNIDADES DE REGULACION SECUNDARIA</option>
                            <option value="22">VARIACION DE DEMANDA CLIENTE LIBRE >10 MW</option>
                            <option value="23">VENTEO DE GAS</option>
                            <option value="24">VERTIMIENTO DE EMBALSES Y PRESAS</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:#d1e6fa">
                        <table>
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <input type="text" id="txtEmpresa" value="EDEGEL" disabled />
                                </td>
                                <td>
                                    <input type="button" id="btnSeleccionar" value="Seleccionar" />
                                </td>
                            </tr>
                            <tr>
                                <td>Equipo</td>
                                <td>
                                    <input type="text" id="txtUbicacion" value="MOYOPAMPA" disabled />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Equipo</td>
                    <td>
                        <input type="text" id="txtNombre" value="CENTRAL" disabled />
                    </td>
                </tr>
                <tr>
                    <td>Tipo de Equipo:</td>
                    <td>
                        <input type="text" id="txtNombre" value="CENTRAL HIDROELECTRICA" disabled />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" id="btnGrabar" value="Grabar" />
                        <input type="button" id="btnCancelar" value="Cancelar" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Copiar bloque</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>