@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaOperacionesVariasModel
@using System.Globalization

@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 1;
}
<div style="clear:both; height:15px"></div>
<div id="reporte">
    <table id="tablaArea" border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
        <thead>
            <tr>
                <th style="width:80px; min-width:80px">Acciones</th>
                <th>Empresa</th>
                <th>Ubicación</th>
                <th>T.Eq.</th>
                <th>Equipo</th>
                <th>Inicio</th>
                <th>Final</th>
                <th>Tipo de Operación</th>
                <th>
                    <input id="cbSelectAll" type="checkbox" name="cbx1" value="cbx1" />
                </th>
                <th>Usuario</th>
                <th>Última modificación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaIeodcuadro)
            {
                DateTime icHorIni = (DateTime)item.Ichorini;
                DateTime icHorFin = (DateTime)item.Ichorfin;
                var itemJson = Newtonsoft.Json.JsonConvert.SerializeObject(item);
                <tr>
                    @if (item.Lastuser != "AUTO")
                    {
                        <td style="width:80px; min-width:80px">
                            <a href="JavaScript:editar(@item.Iccodi,0,0,0)" title="Ver...">
                                <img src="~/Content/Images/btn-open.png" />
                            </a>

                            @{
                                if (Model.AccionEditar)
                                {
                                    <a href="JavaScript:editar(@item.Iccodi,1,0,0)" title="Editar...">
                                        <img src="~/Content/Images/btn-edit.png" />
                                    </a>
                                }
                                else
                                {
                                    <a>
                                    </a>
                                }

                                if (Model.AccionEliminar)
                                {
                                    <a href="JavaScript:eliminarEvento(@item.Iccodi)" title="Eliminar...">
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                }
                                else
                                {
                                    <a>
                                    </a>
                                }

                                if (Model.AccionNuevo)
                                {
                                    <a href="JavaScript:editar(@item.Iccodi,2,0,0)" title="Copiar a nuevo...">
                                        <img src="~/Content/Images/copiar.png" />
                                    </a>
                                }
                                else
                                {
                                    <a>
                                    </a>
                                }

                            }



                        </td>
                    }
                    else
                    {
                <td>
                    <a href="JavaScript:grabarAutomatico('@Html.Raw(itemJson)')" title="Grabar...">
                        <img src="~/Content/Images/prnsave.png" />
                    </a>
                </td>
                }

                    <td>@item.Emprnomb</td>
                    <td>@item.Areanomb</td>
                    <td>@item.Famabrev</td>
                    <td>@item.Equiabrev</td>
                    <td>@icHorIni.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@icHorFin.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@item.Subcausadesc </td>
                    <td>
                        @if (item.Lastuser != "AUTO")
                        {
                            <input id="cbxselex" class="checkbox-grupo" type="checkbox" name="cbx1" value="@item.Iccodi" />
                        }else{
                            <input id="cbxselex2" class="checkbox-grupo-lineas" type="checkbox" name="cbx2" value="@Html.Raw(itemJson)" />
                        } 
                            
                    </td>
                    <td>@item.Lastuser</td>
                    <td>@item.Lastdate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
