@model COES.MVC.Intranet.Areas.Eventos.Models.RelacionAreaSubcausaModel

<div style="clear:both; height:10px"></div>
<table id='tabla_subcausa' class='pretty tabla-icono'>
    <thead>
        <tr>
            <th width='10%'></th>
            <th width='10%'>Configurado</th>
            <th width='15%'>Código</th>
            <th width='60%'>Tipo de Operación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEvensubcausa)
        {
            <tr>
                <td>
                    <a onclick="verAreaUsuario(@item.Subcausacodi,'@item.Subcausadesc', '@item.ConfiguradoRelacionAreaDesc');" title="Ver Configuración">
                        <img src="~/Content/Images/btn-open.png" alt="Ver Configuración">
                    </a>
                    @if (Model.AccesoNuevo && Model.AccesoEditar)
                    {
                        <a onclick="editarAreaUsuario(@item.Subcausacodi,'@item.Subcausadesc', '@item.ConfiguradoRelacionAreaDesc');" title="Modificar Configuración">
                            <img src="~/Content/Images/btn-edit.png" alt="Modificar Configuración">
                        </a>
                    }
                </td>
                <td class="">@item.ConfiguradoRelacionAreaDesc</td>
                <td class="">@item.Subcausacodi</td>
                <td style="text-align: left; padding-left: 5px; padding-right: 5px; ">@item.Subcausadesc</td>
            </tr>
        }
    </tbody>
</table>