@model COES.MVC.Intranet.Areas.Hidrologia.Models.CambioEnvioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/cambioenvio.js"></script>
<script src="~/Content/Scripts/dataTables.fixedColumns.min.js"></script>
<div class="form-title">
    <div class="content-titulo">Listado de Cambios en los Envíos</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Consultar" /> 
        <input type="button" id="btnExportar" value="Exportar" />         
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
         <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa"/>
                </td>
                <td>Tipo de Lectura:</td>
                <td>
                   <select id="cbLectura" >                          
                            @foreach (var item in Model.ListaLectura)
                                {
                                    <option value="@item.Lectcodi">@item.Lectnomb</option>
                                }
                    </select>
                    <input type="hidden" id="hfLectura" />
                </td>
                <td>Formato:</td>
                <td >
                    <select id="cbFormato" style="width:200px;">    
                            @foreach (var item in Model.ListaFormato)
                            {
                                <option value="@item.Formatcodi" >@item.Formatnombre</option>
                            }
                    </select>
                </td>
              
                <td>
                     <div class="form-item" id="cntFecha">
                        Fecha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="txtFecha" style="width:100px;" value="@Model.Fecha" />
                     </div>

                    <div class="form-item" id="cntSemana" style="display:none">
                        Año Inicio:
                        <input type="text" id="Anho" name="Año" style="width:70px;" value="@Model.Anho" onchange=CargarSemanaAnho()/>
                        <input type="hidden" id="hfAnho"  value="@Model.Anho"  />
                        Semana Inicio:
                        <select id="cbSemana" style="width:110px;">
                            @foreach (var item in Model.ListaSemanas)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }                          
                        </select>
                            <input type="hidden" id="hfSemana" value="@Model.NroSemana" />
                   </div>

                    <div class="form-item" id="cntMes" style="display:none">
                        Año Mes:
                            <input type="text" id="txtMes" value="@Model.Mes" />
                    </div>               
                </td>                              
             </tr>

        </table>
    </div>
    <input type="hidden" id="hfFormatCodi" value="@Model.StrFormatCodi"/>
    <input type="hidden" id="hfFormatPeriodo" value="@Model.StrFormatPeriodo"/>
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />  
    <input type="hidden" id="hfIdModulo" value="@Model.IdModulo"/>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>