@model COES.MVC.Intranet.Areas.Equipamiento.Models.AreaDetalleModel

<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<div class="panel-container">
    <table style="width:100%;margin-right: auto;height: 50%" class="table-form-show">
        <tr>
            <td class="tbform-label">Código:</td>
            <td class="tbform-control">@Model.Areacodi</td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">@Model.Areanomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">@Model.Areaabrev</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.EstadoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.AreaUsuIns</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.FechaIns</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.AreaUsuUpd</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.FechaUpd</td>
        </tr>
    </table>
</div>
