@model COES.MVC.Intranet.Areas.Equipamiento.Models.AreaDetalleModel

<script src="~/Areas/Equipamiento/Content/Scripts/area.js"></script>
<script>
    $(function () {

        $('#btnGrabar').click(function () {
            actualizar();
        });
    });
</script>
<div class="panel-container">
    @using (Html.BeginForm("Editar", "Area", FormMethod.Post, new { @name = "frmEditarArea", id = "frmEditarArea" }))
    {
        @Html.HiddenFor(m => m.Tareacodi)
        @Html.HiddenFor(m => m.EstadoCodigo)
        @Html.HiddenFor(m => m.Areacodi)
        <table style="width:50%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Código:</td>
                <td class="tbform-control">
                    @Html.DisplayTextFor(m => m.Areacodi)
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    @Html.TextBoxFor(m => m.Areanomb)
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Abreviatura:</td>
                <td class="tbform-control">
                    @Html.TextBoxFor(m => m.Areaabrev)
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de ubicación:</td>
                <td class="tbform-control">
                    <select id="idTipoAreaDet" name="idTipoArea">
                        @foreach (var item in Model.ListaTipoArea)
                        {
                            <option value="@item.Tareacodi">@item.Tareanomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstado" name="cbEstado">
                        @foreach (var item in Model.lsEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><input id="btnGrabar" value="Grabar" type="button"></td>
                <td></td>
            </tr>
        </table>
    }
</div>
<script>
    $('#btnRegresar').click(function () {
        window.history.back();
        return false;
    });
    $(function () {
        $('#idTipoAreaDet').val($('#Tareacodi').val());
    });
    $(function () {
        $('#cbEstado').val($('#EstadoCodigo').val());
    });
</script>