@model COES.MVC.Intranet.Areas.Equipamiento.Models.AreaModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Areas/Equipamiento/Content/Css/cupertino/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Areas/Equipamiento/Content/Css/ui.jqgrid.css" rel="stylesheet" />*@
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />

<script src="~/Areas/Equipamiento/Content/Scripts/area.js"></script>


<div class="form-title">
    <div class="content-titulo">Ubicaciones</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />
        <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("Index", "Area", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de ubicación:</td>
                <td>
                    <select id="cbTipoArea" name="idTipoArea">
                        @foreach (var item in Model.ListaTipoArea)
                        {
                            <option value="@item.Tareacodi">@item.Tareanomb</option>
                        }
                    </select>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstadoArea" name="EstadoCodigo">
                        <option value="">Todos</option>
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
                <td>Nombre de ubicación:</td>
                <td>
                <td><input type="text" id="NombreArea" name="NombreArea" value="@Model.NombreArea" style="width:120px" /></td>
                </td>
                <td>
                    <div id="mensaje" style="width:300px; margin:0"></div>
                </td>
            </tr>
        </table>

        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        <div style="clear:both; height:30px"></div>
        <div class="content-tabla">
            <div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
            </div>
            <div class="table-list" id="listado" align="center"></div>
        </div>
        @Html.HiddenFor(model => model.idTipoArea)
    }
</div>
<div id="popupArea">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva ubicación</span></div>
    <div id="nuevaarea"></div>
</div>
<div id="popUpDetalleArea">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de ubicación</span></div>
    <div id="detalleArea"></div>
</div>
<div id="popUpEditarArea">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar de ubicación</span></div>
    <div id="editarArea"></div>
</div>
