@model COES.MVC.Intranet.Areas.Equipamiento.Models.AreaModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<script type="text/javascript">


    function cargarPrimeraPagina() {
        var id = 1;
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        mostrarListado(id);
    };

    function cargarAnteriorPagina() {
        var id = $('#hfPaginaActual').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual').val(id);
            mostrarPaginado();
            mostrarListado(id);
        }
    };

    function cargarPagina(id) {
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        mostrarListado(id);
    };

    function cargarSiguientePagina() {
        var id = parseInt($('#hfPaginaActual').val()) + 1;
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        mostrarListado(id);
    };

    function cargarUltimaPagina() {
        var id = $('#hfNroPaginas').val();
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        mostrarListado(id);
    };

    function mostrarPaginado() {
        var nroToShow = parseInt($('#hfNroMostrar').val());
        var nroPaginas = parseInt($('#hfNroPaginas').val());
        var nroActual = parseInt($('#hfPaginaActual').val());

        $('.pag-ini').css('display', 'none');
        $('.pag-item').css('display', 'none');
        $('.pag-fin').css('display', 'none');
        $('.pag-item').removeClass('paginado-activo');

        $('#pag' + nroActual).addClass('paginado-activo');

        if (nroToShow - nroPaginas >= 0) {
            $('.pag-item').css('display', 'block');
            $('.pag-ini').css('display', 'none');
            $('.pag-fin').css('display', 'none');
        }
        else {
            $('.pag-fin').css('display', 'block');
            if (nroActual > 1) {
                $('.pag-ini').css('display', 'block');
            }
            var anterior = 0;
            var siguiente = 0;

            if (nroActual == 1) {

                anterior = 1;
                siguiente = nroToShow;
            }
            else {
                if (nroActual + nroToShow - 1 - nroPaginas > 0) {
                    siguiente = nroPaginas;
                    anterior = nroPaginas - nroToShow + 1;
                }
                else {
                    anterior = nroActual;
                    siguiente = nroActual + nroToShow - 1;
                }
            }

            for (j = anterior; j <= siguiente; j++) {
                $('#pag' + j).css('display', 'block');
            }
        }
    };
</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst" class="pag-ini"><a href="JavaScript:cargarPrimeraPagina();"><<</a></div>
        <div id="pagPrev" class="pag-ini"><a href="JavaScript:cargarAnteriorPagina();"><</a></div>
        @for (int i = 1; i <= Model.NroPaginas; i++)
        {
            <div class="pag-item" id="@("pag" + i)" style="display:block"><a href="JavaScript:cargarPagina(@i);"><span>@i</span></a></div>
        }
        <div id="pagNext" class="pag-fin"><a href="JavaScript:cargarSiguientePagina();">></a></div>
        <div id="pagLast" class="pag-fin"><a href="JavaScript:cargarUltimaPagina();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual" value="1" />
    <input type="hidden" id="hfNroPaginas" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar" value="@Model.NroMostrar" />
}
<div style="clear:both; height:15px"></div>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="50%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaArea)
        {
            <tr>
                <td style="@item.UsuarioCreacion">
                    <a onclick="mostrarDetalle(@item.Areacodi);" title="Mostar detalle ubicación"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarArea(@item.Areacodi);" title="Editar ubicación" class="@Model.EnableEditar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                </td>
                <td style="@item.UsuarioCreacion">@item.Areanomb</td>
                <td style="@item.UsuarioCreacion">@item.Areaabrev</td>
                <td style="@item.UsuarioCreacion">@item.EstadoDesc</td>
            </tr>
        }
    </tbody>
</table>
