@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "AgregarAmpliacion";
}

<table class="table-form-vertical">

    <tr>
        <td>Formato:</td>
        <td>
            <select id="cbFormato2" style="width: 330px;">
                @foreach (var item in Model.ListaFormato)
                {
                    <option value="@item.Formatcodi">@item.Formatnombre</option>
                }
            </select>
            <input type="hidden" id="hfFormato2" />
        </td>
    </tr>
    <tr>
        <td>Empresa:</td>
        <td>
            <div id="empresas2"></div>
        </td>
    </tr>

    <tr class="cntFecha">
        <td>
            Fecha:
        </td>
        <td>
            <input type="text" name="Fecha" id="txtFecha" value="@Model.Fecha" style="width:100px" class="filtro-contenido" />
        </td>
    </tr>

    <tr class="cntSemana" style="display: none">
        <td>
            Año:
        </td>
        <td>
            <input type="text" id="cbAnio" name="cbAnio" style="width:62px;" value="@Model.Anho" class="filtro-contenido" />
        </td>
    </tr>

    <tr class="cntSemana" style="display: none">
        <td>
            Semana:
        </td>
        <td>
            <div id="divSemana" style="display:inline-block">
                <select id="cbSemana" name="IdSemana" style="width: 104px">
                    @foreach (var item in Model.ListaSemanas2)
                    {
                        <option value="@item.Entero1" @item.String2>@item.String1</option>
                    }
                </select>
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding-top: 30px;">Fecha Ampliación:</td>
        <td style="padding-top: 30px;">
            <input type="text" id="idFechaAmp" value="@Model.FechaPlazo" disabled="disabled" />
        </td>
    </tr>

    <tr>
        <td>Hora Plazo:</td>
        <td>
            <select id="cbHora" name="IdHora">
                @for (var i = 0; i < 48; i++)
                {
                    string hora = "0" + ((i + 1) / 2).ToString();
                    hora = hora.Substring((hora.Length > 2) ? 1 : 0, 2);
                    string minuto = "0" + (((i + 1) % 2) * 30).ToString();
                    minuto = minuto.Substring((minuto.Length > 2) ? 1 : 0, 2);
                    string horarmin = hora + ":" + minuto;
                    <option value="@(i+1)">@horarmin</option>
                }
            </select>

        </td>
    </tr>

    <tr>
        <td colspan="2" style="margin:0 auto">
            <div style="margin:0 auto">
                <input type="button" id="idAgregar" value="Agregar" />
                <input type="button" id="idCancelar" value="Cancelar" />
            </div>
        </td>

    </tr>

</table>