@model COES.MVC.Publico.Areas.MarcoNormativo.Models.DecisionEjecutivaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Directivas y Notas Técnicas";
}

<script type="text/javascript">

    descargar = function (url) {
        document.location.href = siteRoot + "marconormativo/decisionejecutiva/Download?file=" + url;
    }
</script>

<style>
    .enlace-documento {
        line-height: 16px;
    }

        .enlace-documento a {
            text-decoration: underline !important;
            color: #335873 !important;
        }
</style>

<!--<div class="page-banner">
    <div class="page-banner-title">
        <h1>Decisiones Ejecutivas y Notas Técnicas</h1>
        <span>Marco Normativo</span>
    </div>-->
<!--<img src="~/Content/Images/Banners/DirectivasNotasTecnicas.jpg" alt="Directivas y Notas Técnicas" />-->
<!--<img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="Directivas y Notas Técnicas" />

</div>-->
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <!--@Html.Action("Index", "Browser", new { area = "", url = "Marco%20Normativo%2FDirectivas%20y%20Notas%20T%C3%A9cnicas%2F" })-->

        <div class="col col-md-12 mb-md-4">
            <div class="coes-box mb-3">
                <div class="coes-box--header-no-content coes-box--header--center-aligned">
                    <h3 class="coes-box--title">
                        Decisiones Ejecutivas
                    </h3>
                </div>
            </div>
            <div class="">
                <div class="table-responsive">
                    @*<h1 style="color: #5191D8;">Decisiones Ejecutivas</h1>*@
                    <table border="0" class="tabla-icono table table-hover" cellspacing="0" width="100%" id="tabla">
                        <thead>
                            <tr>
                                <th style="width:3%"></th>
                                <th style="width:64%">Nombre / Descripción</th>
                                <th style="width:11%">Carta de notificación</th>
                                <th style="width:11%">Fecha</th>
                                <th style="width:11%">Antecedentes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListaDecisiones.Count > 0)
                            {
                                foreach (var item in Model.ListaDecisiones)
                                {
                                    <tr>

                                        <td>
                                            <a href="JavaScript:descargar('@item.FileName')"><img src="~/Content/Images/document/@item.Icono" /></a>
                                        </td>
                                        <td>@Html.Raw(item.Desejedescripcion)</td>
                                        <td class="enlace-documento">
                                            @foreach (var archivo in item.ListaCarta)
                                            {
                                                <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />
                                            }
                                        </td>
                                        <td>@(((DateTime)item.Desejefechapub).ToString("dd/MM/yyyy"))</td>
                                        <td class="enlace-documento">
                                            @foreach (var archivo in item.ListaAntecedentes)
                                            {
                                                <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="coes-box mb-3 mt-3">
                <div class="coes-box--header-no-content coes-box--header--center-aligned">
                    <h3 class="coes-box--title">
                        Notas Técnicas
                    </h3>
                </div>
            </div>
            @*<h1 style="color: #5191D8;">Notas Técnicas</h1>*@
        <div class="">
            <div class="table-responsive">
                <table border="0" class="tabla-icono table table-hover" cellspacing="0" width="100%" id="tabla2">
                    <thead>
                        <tr>
                            <th style="width:3%"></th>
                            <th style="width:64%">Nombre / Descripción</th>
                            <th style="width:11%">Carta de notificación</th>
                            <th style="width:11%">Fecha</th>
                            <th style="width:11%">Antecedentes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListaNotas.Count > 0)
                        {
                            foreach (var item in Model.ListaNotas)
                            {
                                <tr>

                                    <td>

                                        <a href="JavaScript:descargar('@item.FileName')"><img src="~/Content/Images/document/@item.Icono" /></a>

                                    </td>
                                    <td>@Html.Raw(item.Desejedescripcion)</td>
                                    <td class="enlace-documento">
                                        @foreach (var archivo in item.ListaCarta)
                                        {
                                            <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />
                                        }
                                    </td>
                                    <td>@(((DateTime)item.Desejefechapub).ToString("dd/MM/yyyy"))</td>
                                    <td class="enlace-documento">
                                        @foreach (var archivo in item.ListaAntecedentes)
                                        {
                                            <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <br />
                <br />
            </div>
        </div>
        </div><!-- /.col-9 -->
                <div style="clear:both"></div>
            </div><!-- /.row -->
        </div><!-- /.container-->

<div style="clear:both"></div>
