@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.DemandaUsuariosModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Calculo de los Porcentaje de Aportes - Demanda ejecutada de los Usuarios Libres";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/demandausuarios.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/load.js"></script>
@*<script src="~/Content/Scripts/plupload.full.min.js"></script>*@

<div class="ast">
    <div class="form-title">    
        <div class="content-titulo">Demanda ejecutada de los Usuarios Libres </div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Copiar los datos Demanda ejecutada de los Usuarios Libres" id="btnCopiarDU" alt="Copiar la energía Demanda ejecutada de los Usuarios Libres" title="Copiar la energía Demanda ejecutada de los Usuarios Libres " />
                <input type="button" value="Exportar información del SGOCOES" id="btnExportarDU" alt="Exportar la energía Demanda ejecutada de los Usuarios Libres - SGOCOES" title="Exportar la energía Demanda ejecutada de los Usuarios Libres - SGOCOES" />
            }
        </div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadPresupuesto.Caiprscodi > 0 && Model.EntidadAjuste.Caiajcodi > 0)
            {
                @Html.HiddenFor(model => model.sPeriodoInicio)
                @Html.HiddenFor(model => model.sPeriodoFinal)
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Prespuesto de consulta: @Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Año de Presupuesto y Versión de Ajuste</div>
            }
            <table>
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td style="width:120px"><div>Presupuesto Anual: </div></td>
                                    <td style="width:180px">
                                        <div class="editor-field" style="width:50px">
                                            <select id="caiprscodi" name="caiprscodi" onchange="refrescar();">
                                                @foreach (var item in Model.ListaPresupuesto)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiprscodi == Model.Caiprscodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiprscodi" @sSelected>@item.Caiprsnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:60px">Ajuste: </td>
                                    <td style="width:250px">
                                        <div class="editor-field" style="width:250px">
                                            <select id="caiajcodi" name="caiajcodi" style="width:250px">
                                                @foreach (var item in Model.ListaAjuste)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiajcodi == Model.Caiajcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiajcodi" @sSelected>@item.Caiajnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>