@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var lista_empresas = (IEnumerable<SelectListItem>)TempData["ListaEmpresas"];
    var lista_oficial = (IEnumerable<SelectListItem>)TempData["ListaOficial"];
    var lista_tipo = (IEnumerable<SelectListItem>)TempData["ListaTipo"];
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
    var lista_gen_alarma = (IEnumerable<SelectListItem>)TempData["ListaGenAlarma"];
    var lista_estado = (IEnumerable<SelectListItem>)TempData["ListaEstado"];
}
<link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
<link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/EtapaERA.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "EtapaERA", FormMethod.Post, new { id = "frmEtapa", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entidad.EtapaCodi)
    @Html.Hidden("Entidad.UsuarioRegi", User.Identity.Name)
    @Html.Hidden("sAccion", sAccion)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index","EtapaERA")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5">

                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;" id="sError">

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Código")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Entidad.EtapaCodi, new { @class = "form-control2", required = "required", data_msg_required = "Código es requerido.", maxlength = 10, autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Entidad.EtapaCodi)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Nombre")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.NombreEtapa, new { @class = "form-control2", required = "required", data_msg_required = "Nombre Etapa es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.NombreEtapa, new { @class = "form-control2", required = "required", data_msg_required = "Nombre Etapa es requerido." })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.NombreEtapa)
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Umbral")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.Umbral, new { @class = "form-control2", required = "required", data_msg_required = "Umbral es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.Umbral, new { @class = "form-control2", required = "required", data_msg_required = "Umbral es requerido." })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.Umbral)
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmEtapa").validate({
        rules: {
            "Entidad.NombreEtapa": {
                required: true
            },
            "Entidad.Umbral": {
                required: true,

            },
           
        }
    });


</script>