@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Etapa ERA CMF";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<script src="~/Areas/ReportesFrecuencia/Content/Scripts/EtapaERA.js"></script>
<div class="ast">
    @if (@sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title">
        <div class="content-titulo">Etapa ERACMF</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New","EtapaERA")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","EtapaERA")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
            @Html.Action("Lista")
        </div>
    </div>

</div>
