@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Etapa</th>
            <th>Umbral</th>
            <th style="width:30px;">Graficar</th>

        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaEtapas)
        {
            string strChecked = "";
            string[] arrayIdEtapa = Model.IdEtapas.Split('|');
            if (arrayIdEtapa.Length > 0 ) {
                foreach (string idEtapa  in arrayIdEtapa)
                {
                    if (!string.IsNullOrEmpty(idEtapa))
                    {
                        int intIdEtapa = Convert.ToInt32(idEtapa);
                        if (intIdEtapa == item.EtapaCodi)
                        {
                            strChecked = "checked";
                        }
                    }
                }
            }


            <tr id="fila_@item.EtapaCodi">
                <td style="font-weight:bold">@contador</td>
                <td style="text-align:left;"><div id="divEtapa_@contador">@item.NombreEtapa</div></td>
                <td>@item.Umbral</td>
                <td style="width:30px;">
                    <input type="checkbox" value="@item.NombreEtapa:@item.Umbral" name="EtapaId[]" class="chckBoxEtapa" id="@item.EtapaCodi" @strChecked />
                </td>

            </tr>
            contador = contador + 1;
        }
        <!--<tr>
        <td colspan="4" align="center"><input type="button" name="Aceptar" id="btnAceptarEtapa" value="Aceptar" /></td>
    </tr>-->
    </tbody>
</table>