@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Etapa</th>
            <th>Umbral</th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaEtapas)
        {
            <tr id="fila_@item.EtapaCodi">
                <td style="font-weight:bold">@contador</td>
                <td style="text-align:left;">@item.NombreEtapa</td>
                <td>@item.Umbral</td>
                <td style="width:30px;">
                    <a href="@Url.Action("Edit", new { id = item.EtapaCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>

                    
                </td>
                <td style="width:30px;">
                    <a href="@Url.Action("Delete", new { id = item.EtapaCodi })"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar el registro" alt="Eliminar el registro" /></a>

                </td>

            </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>