@model COES.MVC.Intranet.Areas.ConsumoCombustible.Models.ConsumoCombustibleModel
@{
    ViewBag.Title = "Tipo de Combustible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Areas/ConsumoCombustible/Content/Scripts/conf_combustible.js?v=1.4.2"></script>
<link href="~/Areas/ConsumoCombustible/Content/Css/css.css?v=1.1" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Tipo de Combustible</div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <div id="listado">

        </div>
    </div>
</div>

<div id="popupEditar" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Edición de Tipo de Combustible</span></div>
    <div class="table-list">

        <table class="table-form-vertical">

            <tr>
                <td>Combustible:</td>
                <td>
                    <input type="text" id="txtNombre" value="" disabled style="background-color: #c5c5c5" />
                    <input type="hidden" id="hfFenergcodi" value="" />
                </td>
            </tr>
            <tr>
                <td>Medida Coes:</td>
                <td>
                    <select id="cbMedidaOrigen" style="width: 330px;">
                        @foreach (var item in Model.ListaMedida)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfodesc ( @item.Tipoinfoabrev )</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Medida Osinergmin:</td>
                <td>
                    <select id="cbMedidaDestino" style="width: 330px;">
                        @foreach (var item in Model.ListaMedida)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfodesc ( @item.Tipoinfoabrev )</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Código Osinergmin:</td>
                <td>
                    <input type="text" id="txtCodigoOsi" value="" style="background-color: white" />
                </td>
            </tr>

            <tr>
                <td colspan="2" style="margin:0 auto">
                    <div style="margin:0 auto">
                        <input type="button" id="btnActualizar" value="Actualizar" />
                    </div>
                </td>

            </tr>

        </table>

    </div>
</div>