@model COES.MVC.Intranet.Areas.Transferencias.Models.ModeloEnvioModel

<table border="0" class="pretty tabla-icono" id="tablaListado">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Modelo</th>
            <th>Periodo</th>
            <th>Versión</th>
            <th>Usuario</th>
            <th>Fecha envío</th>
            <th>Archivo</th>
            <th>Descargar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEnvio.Count > 0)
        {
            foreach (var item in Model.ListaEnvio)
            {
        <tr>
            <td>@item.Emprnomb</td>
            <td>@item.Trnmodnombre</td>
            <td>@item.Perinomb</td>
            <td>@item.Versionnomb</td>
            <td>@item.Modenvusuario</td>
            <td>@item.Modenvfecenvio</td>
            <td>@item.Modendfile</td>
            <td>
                <a href="JavaScript:descargarArchivo(@item.Modenvcodi);">
                    <img src="~/Content/Images/btn-ok.png" title="Descargar archivo" />
                </a>

            </td>
        </tr>
            }
        }
    </tbody>
</table>