@model COES.MVC.Extranet.Areas.CalculoResarcimiento.Model.CalidadProductoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/CalculoResarcimiento/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/eventos.js"></script>

<div class="form-title">
    LISTADO DE EVENTOS POR MALA CALIDAD DE PRODUCTO -
    <span id="lbEmpresa">@Model.Emprnombre</span>
    <span class="form-title-action" id="spanCambiarEmpresa">[CAMBIAR EMPRESA]</span>
    <input type="hidden" id="hfIdEmpresa" value="@Model.Emprcodi" />
    <input type="hidden" id="hfIndEmpresa" value="@Model.IndicadorEmpresa" />
</div>
<div class="form-main">

    <div id="mensaje" class="action-message">Por favor seleccione los filtros de búsqueda</div>

    <div class="search-content" style="margin-bottom:0px; padding:10px" id="cntBusqueda">
        <table class="table-search" style="width:auto">
            <tr>
                <td>Año:</td>
                <td>
                    <select id="cbAnio">
                        <option value="0">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaAnio)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="hidden" id="hfAnio" value="@Model.Anio" />
                </td>
                <td>Mes:</td>
                <td>
                    <select id="cbMes">
                        <option value="0">-SELECCIONE-</option>
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SETIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>
                    <input type="hidden" id="hfMes" value="@Model.Mes" />
                </td>
                <td>Buscar</td>
                <td>
                    <input type="text" id="txtBuscar" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div style="height:20px; clear:both"></div>

    <div id="listado">

    </div>

</div>

<div id="popupEmpresa" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Seleccionar empresa</span></div>
    <div class="popup-text" id="contenidoEmpresa">

    </div>
</div>