@model COES.MVC.Extranet.Areas.CalculoResarcimiento.Model.CalidadProductoModel

<table class="pretty tabla-adicional tabla-icono">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Punto entrega</th>
            <th>Tensión (V)</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Carga mediciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
        <tr>
            <td>
                <a href="JavaScript:cargarMediciones(@item.Reevprcodi)"><img src="~/Content/Images/btn-properties.png" /></a>
            </td>
            <td>@item.Reevpranio</td>
            <td>@item.Nombremes</td>
            <td>@item.Reevprptoentrega</td>
            <td>@item.Reevprtension</td>
            <td>
                @if(item.Reevprfecinicio != null)
                {
                    <span>@(((DateTime)item.Reevprfecinicio).ToString("dd/MM/yyyy HH:mm"))</span>
                }
            </td>
            <td>
                @if (item.Reevprfecfin != null)
                {
                    <span>@(((DateTime)item.Reevprfecfin).ToString("dd/MM/yyyy HH:mm"))</span>
                }
            </td>
            <td>
                @if (item.Estadocarga == "S")
                {
                    <span class="enviado">
                        Cargado
                    </span>
                }
                else
                {
                    <span class="pendiente">
                        Pendiente
                    </span>
                }
            </td>
        </tr>    
        }
    </tbody>
</table>