@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.IngresoTransmisionModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Punto Medición</th>
            <th>Ejecutada Inicio</th>
            <th>Ejecutada Fin</th>
            <th>Proyectado "A" Inicio</th>
            <th>Proyectado "A" Fin</th>
            <th>Proyectado "A+1" Inicio</th>
            <th>Proyectado "A+1" Fin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAjusteEmpresa)
        {
            <tr id="fila_@item.Caiajecodi">
                <td>@item.Ptomedielenomb</td>
                <td>
                    @if (item.Caiajereteneejeini != null)
                    { <span>@item.Caiajereteneejeini.Value.ToString("dd/MM/yyyy")</span>}
                </td>
                <td>
                    @if (item.Caiajereteneejefin != null)
                    { <span>@item.Caiajereteneejefin.Value.ToString("dd/MM/yyyy")</span>}
                </td>
                <td>
                    @if (item.Caiajeretenepryaini != null)
                    { <span>@item.Caiajeretenepryaini.Value.ToString("dd/MM/yyyy")</span>}
                </td>
                <td>
                    @if (item.Caiajeretenepryafin != null)
                    { <span>@item.Caiajeretenepryafin.Value.ToString("dd/MM/yyyy")</span>}
                </td>
                <td>
                    @if (item.Caiajereteneprybini != null)
                    { <span>@item.Caiajereteneprybini.Value.ToString("dd/MM/yyyy")</span>}
                </td>
                <td>
                    @if (item.Caiajereteneprybfin != null)
                    { <span>@item.Caiajereteneprybfin.Value.ToString("dd/MM/yyyy")</span>}
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>