@using COES.Servicios.Aplicacion.RegistroIntegrantes;

@{
    ViewBag.Title = "Datos de Representante";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
    <script src="~/Areas/RegistroIntegrante/Content/Scripts/Tipo.js?v=1.12"></script>
}
<style>
    .b-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
    }
</style>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Visualizar Tipo Agente</div>
<div class="home-content" style="line-height:20px">
    <div id="divTipos">

        <div id="listadoTipos">

        </div>
    </div>
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>

<input type="hidden" id="hdfemprcodi" value="@ViewBag.emprcodi" />


@Html.Hidden("hfTipoComportamientoGenerador_codigo", ConstantesRegistroIntegrantes.TipoComportamientoGeneradorCodigo)
@Html.Hidden("hfTipoComportamientoTrasmisor_codigo", ConstantesRegistroIntegrantes.TipoComportamientoTrasmisorCodigo)
@Html.Hidden("hfTipoComportamientoDistribuidor_codigo", ConstantesRegistroIntegrantes.TipoComportamientoDistribuidorCodigo)
@Html.Hidden("hfTipoComportamientoUsuarioLibre_codigo", ConstantesRegistroIntegrantes.TipoComportamientoUsuarioLibreCodigo)



