@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.TipoModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;

<table id="tablaTipos" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Principal</th>
            <th>Tipo Agente</th>
            <th>Documento Sustentatorio</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListaTipos.Count > 0)
        {
            foreach (var item in Model.ListaTipos)
            {
                <tr>
                    @if (@item.Tipoprincipal.ToString() == ConstantesRegistroIntegrantes.TipoAgenteCodigoPrincipal)
                    {
                        <td>@ConstantesRegistroIntegrantes.TipoAgenteDescripcionPrincipal</td>
                    }
                    else
                    {
                        <td>@ConstantesRegistroIntegrantes.TipoAgenteDescripcionSecundario </td>
                    }
                    <td>@item.Tipotipagente</td>
                    <td>@item.Tipodocsustentatorio</td>
                    <td>
                        <a href="#" onclick="EditarTipo(@item.Tipocodi)">
                            <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



