@model COES.MVC.Publico.Areas.MarcoNormativo.Models.DecisionEjecutivaModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Archivo</th>
            <th>Nombre / Descripción</th>
            <th>Carta de notificación</th>
            <th>Fecha</th>
            <th>Antecedentes</th>
            <th>Lastuser</th>
            <th>Lastdate</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaDecisiones.Count > 0)
        {
            foreach (var item in Model.ListaDecisiones)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Desejecodi, '@item.Desejetipo');"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Desejecodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>
                        <a href="JavaScript:descargar('@item.FileName')"><img src="~/Content/Images/document/@item.Icono" /></a>
                    </td>
                    <td>@Html.Raw(item.Desejedescripcion)</td>
                    <td>
                        @foreach (var archivo in item.ListaCarta)
                        {
                            <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />                            
                        }
                    </td>
                    <td>@(((DateTime)item.Desejefechapub).ToString("dd/MM/yyyy"))</td>
                    <td>
                        @foreach (var archivo in item.ListaAntecedentes)
                        {
                            <a href="JavaScript:descargar('@archivo.FileName')">@archivo.Dejdetdescripcion</a><br />
                        }
                    </td>
                    <td>@item.Lastuser</td>
                    <td>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy"))</td>
                </tr>
            }
        }
    </tbody>
</table>