@model COES.MVC.Extranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Interconexiones/Content/Scripts/reportesinterconexion.js"></script>
    
<div class="form-title_intranet">
    <div class="content-titulo">Consulta de Envíos de Intercambios Internacionales</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
          <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div class="spfilter-container">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa"  name="Idempresa" >
                     @foreach (var item in Model.ListaEmpresas)
                     {   
                         <option value="@item.Emprcodi">@item.Emprnomb</option>
                     }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.IdEmpresa"/>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado"  name="IdEstado" >
                        <option value="-1" selected>Todos</option>
                        <option value="1">Enviado</option>
                        <option value="2">Procesado</option>
                        <option value="3">Aprobado</option>
                        <option value="4">Rechazado</option>
                    </select>
                 </td>
            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" /></td>
                <td>Fecha hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" /></td>

            </tr>
        </table>
    </div>

<div class="content-tabla">
    <div class="tabla-header">       
        <div class="table-paginado" id="paginado"></div>
    </div>
    <div style="clear:both; height:5px"></div>
    <div class="table-list" id="listado"></div>
</div>

<div style="clear:both; height:30px"></div>

</div>