@model COES.MVC.Extranet.Areas.Interconexiones.Models.InterconexionesModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Estado</th>
            <th>Cumplimiento</th>
            <th>Fecha Medición</th>
            <th>Fecha Envío</th>
            <th>Código Envío</th>
            <th>Responsable Envío</th>
            <th>Correo</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEnvios)
        {
            DateTime fechamedicion = (DateTime)item.Enviofechaperiodo;
            DateTime fechaEnvio = (DateTime)item.Enviofecha;
            var colorEstado = "";
            var cumplimiento = "";
            switch (@item.Estenvcodi)
            { 
                case 3:
                    switch (@item.Envioplazo)
                    {
                        case "P":
                            colorEstado = "SeaGreen";
                            cumplimiento = "En Plazo";
                            break;
                        case "F":
                            colorEstado = "SeaGreen";
                            cumplimiento = "Fuera de Plazo";
                            break;
                    }
                    break;
                    
                default:
                    colorEstado = "red";
                    break;
            }
            <tr >
                <td>@item.Emprnomb</td>
                <td style="color:@colorEstado">@item.Estenvnombre</td>
                <td>@cumplimiento</td>
                <td>@fechamedicion.ToString("yyyy-MM-dd")</td>
                <td>@fechaEnvio.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Enviocodi</td>
                <td>@item.Username</td>
                <td>@item.Lastuser</td>
                <td>@item.Usertlf</td>
            </tr>
        }
    </tbody>
</table>
