@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/DemandaMaxima/Content/Scripts/validacoherencia.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/DemandaMaxima/Content/Scripts/handsontable.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />

@*<div class="form-title">
        <div class="content-titulo"> Carga Remisión</div>
    </div>*@
<div class="content-hijo">
    <div class="form-title">
        <div> Validación de Coherencia</div>
    </div>
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Seleccione el filtro y valide</div>*@
        <div class="search-content" style="padding: 10px; margin-bottom: 5px; margin-top: 0;">
            <table class="table-search" style="width:auto">
                <tr>
                    <td>Empresa:</td>
                    <td>
                        <select id="cbEmpresa" name="IdEmpresa" disabled="disabled">
                            @foreach (var item in Model.ListaEmpresas)
                            {
                                if (Model.IdEmpresa == item.Emprcodi)
                                {
                                    <option selected value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                                else
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            }
                        </select>
                    </td>
                    <td>Periodo:</td>
                    <td>
                        <input type="text" name="Mes" id="txtMes" value="@Model.Mes" disabled="disabled" />
                    </td>
                    <td>Variación >=:</td>
                    <td>
                        <input type="text" name="txtVariacion" id="txtVariacion" value="50" />
                        %
                    </td>
                    <td>      Consumo:</td>
                    <td>
                        <select id="cbConsumo" name="IdConsumo">
                            <option value="M">Mensual</option>
                            <option value="D">Promedio diario</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" id="btnValidar" value="Validar" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="content-tabla">
            <div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
            <div class="table-list" id="listado"></div>
            <div style="clear:both"></div>
        </div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <table class="table-search" style="width:auto">
                <tr>
                    <td>
                        <input type="button" id="btnExportar" value="Exportar a Excel" />
                    </td>
                    <td style="width:80%;"></td>
                    <td>
                        <input type="button" id="btnCerrar" value="Regresar">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
<input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfMes" value="@Model.Mes" />