@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel
@{
    Layout = null;
}

<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/agenda.css" rel="stylesheet" />

<div id="ListaEventosMes">
    
    <ul class="eventlist ps-0">
        @foreach (var item in @Model.EventosMes)
        {
            <li class="eventlist-item coes-box mb-3 pb-1 pt-1">
                <div class="eventlist-item--date pt-3 pb-3 ps-3 pe-3">
                    <span class="eventlist-item--date-label">@item.Dia</span>
                    <span class="eventlist-item--date-number">@item.DiaNro</span>
                </div>
                <div class="eventlist-item--info pt-3 pb-3 ps-3 pe-3">
                    <div class="eventlist-item--data">
                        <div class="eventlist-item--event pb-2">
                            <span class="eventlist-item--label">Evento</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.Descripcion)</span>
                        </div>
                        <div class="eventlist-item--schedule pb-2">
                            <span class="eventlist-item--label">Horario:</span>
                            <span class="eventlist-item--value">@item.HoraInicio hasta las @item.HoraFin</span>
                        </div>
                        <div class="eventlist-item--location pb-2">
                            <span class="eventlist-item--label">Ubicación:</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.Ubicacion)</span>
                        </div>
                    </div>
                    <div class="eventlist-item--download-agenda">
                        <a href="JavaScript:download(@item.Codigo)">
                            <img src="../../Content/img/icons/icon-download-black.svg" class="logo" />
                            <img src="../../Content/img/icons/icon-download.svg" class="logo-dark-theme" />
                        </a>
                    </div>
                </div>
            </li>


        }
    </ul>
</div>