@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel

<div class="content-registro" style="margin-top:10px">
    <table class="tabla-evento-agenda" width="100%">
        <tbody>
            <tr>
                <td class="registro-label">Título</td>
                <td class="registro-control">@Model.EventoAgenda.Eveagtitulo</td>
            </tr>
            <tr>
                <td class="registro-label">Ubicación</td>
                <td class="registro-control">@Html.Raw(Model.EventoAgenda.Eveagubicacion)</td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Inicio</td>
                <td class="registro-control">@Model.EventoAgenda.Eveagfechinicio.Value.ToString("dd'/'MM'/'yyyy hh:mm tt")</td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Fin</td>
                <td class="registro-control">@Model.EventoAgenda.Eveagfechfin.Value.ToString("dd'/'MM'/'yyyy hh:mm tt")</td>
            </tr>
            <tr>
                <td class="registro-label">Descripción</td>
                <td class="registro-control">@Html.Raw(Model.EventoAgenda.Eveagdescripcion)</td>
            </tr>
            <tr>
                <td class="registro-label">Datos Adjuntos</td>
                <td class="registro-control"><a href="JavaScript:download(@Model.EventoAgenda.Eveagcodi)">@Model.EventoAgenda.Eveagtitulo.@Model.EventoAgenda.Eveagextension</a></td>
            </tr>
        </tbody>
    </table>
</div>