@{
    ViewBag.Title = "Directorio e Impugnaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    @{
        string texto = string.Empty;
        if (@ViewBag.Tipo == 1)
        {
            texto = "Agenda del Directorio";
        }
        else if (@ViewBag.Tipo == 2)
        {
            texto = "Agenda de la Asamblea";
        }

        string url = "https://www.coes.org.pe/portal/directorioimpugnaciones/adminagenda?tipo=" + ViewBag.Tipo + "&user=" + @ViewBag.Usuario;
    }

    <div class="content-titulo">Directorio e impugnaciones - @texto</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" style="padding:0px">
    <iframe src="@url" width="100%" height="900" frameborder="0"></iframe>
</div>