@model COES.MVC.Publico.Areas.FichaTecnica.ViewModels.DetalleCentralHidraulicaViewModel
@{
    ViewBag.Title = "Datos Central Hidráulica";
    Layout = "~/Areas/FichaTecnica/Views/Shared/_LayoutPage.cshtml";
}


<style id="Formato Carga CH_SGI_28109_Styles">
    <!-- table {
        mso-displayed-decimal-separator: "\.";
        mso-displayed-thousand-separator: "\,";
    }

    .xl1528109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Arial, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6428109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.0";
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6528109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6628109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6728109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6828109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6928109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7028109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7128109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7228109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "\#\,\#\#0";
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl7328109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7428109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Standard;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
        width: auto;
    }

    .xl7528109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "\#\,\#\#0\.000";
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl7628109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7728109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: right;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl7828109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7928109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8028109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8128109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8228109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: top;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8328109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8428109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8528109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8628109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8728109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8828109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8928109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9028109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9128109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9228109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9328109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9428109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9528109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9628109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9728109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9828109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9928109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10028109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10128109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10228109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10328109 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }
    -->
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#bRegresar").click(function () {
            @* window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
       $("#bRegresar1").click(function () {
            @* window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
    });
</script>
<script language="javascript" type="text/javascript">

    function Detalle(e) {
        window.location.href = '@Url.Content("~/FichaTecnica/FichaTecnica/DatosGeneradorH?id=")' + e + '&iFamilia=2';
    }
</script>
<script type="text/javascript">
    var centralHidraulica = new DetalleCentralHidraulicaViewModel();
    if (centralHidraulica.IdCentral) {

    }
</script>

<script type="text/javascript">
    $(function () {
        $("#list").jqGrid({
            url: '@Url.Action("ListarGeneradores", "FichaTecnica")',
            width: 400,
            height: 400,
            datatype: 'json',
            gridview: true,
            loadui: 'block ',
            mtype: 'GET',
            colNames: ['Código', 'Nombre', 'Abreviatura', ''],
            colModel: [
                { name: 'Código', index: 'EQUICODI', width: 80, align: 'left' },
                { name: 'Nombre', index: 'EQUINOMB', width: 150, align: 'left' },
                { name: 'Abreviatura', index: 'EQUIABREV', width: 100, align: 'left' },
                { name: '', index: '', width: 100, align: 'left', formatter: AccionFormatter }],
            //pager: jQuery('#pager'),
            rowNum: 20,
            viewrecords: true,
            imgpath: 'Content/themes/base/images',
            caption: 'Generadores',
            postData: {
                pCentral: function () { return $("#IdCentral").val(); },
                pFamilia: function () { return '2'; }
            },
            gridComplete: function () {
                var recs = parseInt($("#list").getGridParam("records"), 10);
                if (isNaN(recs) || recs == 0) {
                    $("#DivGeneradores").hide();
                    $("#GenEmpty").show();
                }
                else {
                    $('#DivGeneradores').show();
                    $("#GenEmpty").hide();
                    //alert('records > 0');
                }
                //$('td:contains("18187")').closest("tr").remove();
                //$('td:contains("18189")').closest("tr").remove();

            }

        });

        function AccionFormatter(cellvalue, options, rowObject) {
            var strCarac = "U";
            var strResult = '';
            var ap = String.fromCharCode(39);
            var strResult = '<a href="javascript:Detalle(' + cellvalue + ');">Detalle</a>';
            return strResult;
        }
    });
</script>

<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
<h2>Datos de Central Hidroeléctrica</h2>
<table style="width: 50%;">
    <tr>
        <td>
            <label class="control-label">Empresa:</label>
        </td>
        <td>@Model.NombreEMpresa</td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Central:</label>
        </td>
        <td>@Model.NombreCentral</td>
    </tr>

</table>
@Html.HiddenFor(model => model.IdCentral)
@Html.HiddenFor(model => model.IdFamilia)

<div id="Formato Carga CH_SGI_28109" align="center" x:publishsource="Excel">

    <table border="0" cellpadding="0" cellspacing="0" width="969" style='border-collapse: collapse; table-layout: fixed; width: 727pt'>
        <col width="56" span="3" style='width: 42pt'>
        <col width="100" style='mso-width-source: userset; mso-width-alt: 4266; width: 75pt'>
        <col width="56" span="2" style='width: 42pt'>
        <col width="456" style='mso-width-source: userset; mso-width-alt: 19456; width: 342pt'>
        <col width="77" style='mso-width-source: userset; mso-width-alt: 3285; width: 58pt'>
        <col width="56" style='width: 70pt'>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6428109" width="56" style='height: 12.75pt; width: 42pt'>1</td>
            <td class="xl6528109" colspan="3" width="212" style='width: 159pt'>DATOS DE LA CENTRAL</td>
            <td class="xl6528109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl6528109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl6528109" width="456" style='width: 342pt'>&nbsp;</td>
            <td class="xl6628109" width="77" style='width: 58pt'>&nbsp;</td>
            <td class="xl6728109" width="56" style='width: 42pt'>&nbsp;</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl6928109" style='border-top: none'>1.1</td>
            <td class="xl7028109" colspan="2">Código de la Central</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7228109" style='border-top: none; border-left: none'>@Model.CódigoCentral</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.2</td>
            <td class="xl7028109" colspan="4">Número de unidades de generación</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7228109" style='border-top: none; border-left: none'>@Model.Númerounidades</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.3</td>
            <td class="xl7028109">Tipo</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Tipo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.4</td>
            <td class="xl7028109" colspan="3">Potencia efectiva de la central</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[MW]</td>
            <td class="xl7528109" style='border-top: none; border-left: none'>@Model.PotenciaEfectiva</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.5</td>
            <td class="xl7028109" colspan="3">Consumo de servicios auxiliares</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[MW]</td>
            <td class="xl7528109" style='border-top: none; border-left: none'>@Model.ServiciosAuxiliares</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.6</td>
            <td class="xl7028109" colspan="2">
                Rendimiento<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[MW/m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Rendimiento</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.7</td>
            <td class="xl7028109" colspan="2">Batimetría</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Batimetría)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.8</td>
            <td class="xl7028109" colspan="4">
                Información de hidrología mensual<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Hidrologíadelmes)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.9</td>
            <td class="xl7028109" colspan="2">Modos de operación</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Modosoperación</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">1.10</td>
            <td class="xl7028109" colspan="2">Potencia garantizada</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[MW]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.PotenciaGarantizada</td>
        </tr>

        @if (Model.IdCentral != "1196")
        {
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl7628109" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7328109" style='border-left: none'>1.11</td>
                <td class="xl7028109" colspan="2">Potencia Mínima</td>
                <td class="xl7028109">&nbsp;</td>
                <td class="xl7028109">&nbsp;</td>
                <td class="xl7028109">&nbsp;</td>
                <td class="xl7128109" style='border-top: none'>[MW]</td>
                <td class="xl7228109" style='border-top: none; border-left: none'>@Model.PotenciaMinima</td>
            </tr>
        }

        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6428109" style='height: 12.75pt; border-top: none'>2</td>
            <td class="xl6528109" colspan="3">DATOS HIDRAULICOS</td>
            <td class="xl6528109" style='border-top: none'>&nbsp;</td>
            <td class="xl6528109" style='border-top: none'>&nbsp;</td>
            <td class="xl6528109" style='border-top: none'>&nbsp;</td>
            <td class="xl6628109" style='border-top: none'>&nbsp;</td>
            <td class="xl7728109" style='border-top: none'>&nbsp;</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl6928109" style='border-top: none'>2.1</td>
            <td class="xl7028109" colspan="5">
                Esquema hidráulico de la cuenca con sus datos principales
            </td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Esquemahidráulica)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7928109" width="56" style='border-top: none; width: 42pt'>2.2</td>
            <td class="xl8028109" colspan="2" style='border-right: 1pt solid #8DB4E2'>
                Reservorio
                de regulación
            </td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.2.1</td>
            <td class="xl8328109" style='border-top: none; border-left: none'>Volumen máximo</td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservorioanualvolumenmaximo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl8428109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8528109" style='border-left: none'>anual</td>
            <td class="xl8628109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.2.2</td>
            <td class="xl8728109" colspan="2">Volumen mínimo</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservorioanualvolumenminimo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl8828109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8928109" style='border-left: none'>&nbsp;</td>
            <td class="xl8628109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.2.3</td>
            <td class="xl8728109" colspan="2">Caudal máximo de descarga</td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservorioanualcaudaldescarga</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9028109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl9128109" style='border-left: none'>&nbsp;</td>
            <td class="xl9228109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.2.4</td>
            <td class="xl8728109" colspan="2">
                Tiempo de desplazamiento del agua entre la
                compuerta de descarga y la central
            </td>
            <td class="xl7128109" style='border-top: none'>[h]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservorioanualtiemodesplazamiento</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7928109" width="56" style='border-top: none; width: 42pt'>2.3</td>
            <td class="xl8028109" colspan="2" style='border-right: 1pt solid #8DB4E2'>
                Reservorio
                de regulación
            </td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.3.1</td>
            <td class="xl8328109" style='border-top: none; border-left: none'>
                Volume<span style='display: none'>n máximo</span>
            </td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservorioestacionalvolumenmaximo)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9328109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8528109" colspan="2" style='border-right: 1pt solid #8DB4E2'>estacional</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.3.2</td>
            <td class="xl8728109" colspan="2">Volumen mínimo</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservorioestacionalvolumenminimo)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9428109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8928109" style='border-left: none'>&nbsp;</td>
            <td class="xl8628109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.3.3</td>
            <td class="xl8728109" colspan="2">Caudal máximo de descarga</td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservorioestacionalcaudaldescarga)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9528109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl9128109" style='border-left: none'>&nbsp;</td>
            <td class="xl9228109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.3.4</td>
            <td class="xl8728109" colspan="2">
                Tiempo de desplazamiento del agua entre la
                compuerta de descarga y la central
            </td>
            <td class="xl7128109" style='border-top: none'>[h]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservorioestacionaltiemodesplazamie)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7928109" width="56" style='border-top: none; width: 42pt'>2.4</td>
            <td class="xl8028109" colspan="2" style='border-right: 1pt solid #8DB4E2'>
                Reservorio
                de regulación
            </td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.4.1</td>
            <td class="xl8328109" style='border-top: none; border-left: none'>
                Volume<span style='display: none'>n máximo</span>
            </td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservoriosemanalvolumenmaximo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9328109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8528109" colspan="2" style='border-right: 1pt solid #8DB4E2'>semanal</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.4.2</td>
            <td class="xl8728109" colspan="2">Volumen mínimo</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservoriosemanalvolumenminimo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9428109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8928109" style='border-left: none'>&nbsp;</td>
            <td class="xl8628109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.4.3</td>
            <td class="xl8728109" colspan="2">Caudal máximo de descarga</td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservoriosemanalcaudaldescarga</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9528109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl9128109" style='border-left: none'>&nbsp;</td>
            <td class="xl9228109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.4.4</td>
            <td class="xl8728109" colspan="2">
                Tiempo de desplazamiento del agua entre la
                compuerta de descarga y la central
            </td>
            <td class="xl7128109" style='border-top: none'>[h]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Reservoriosemanaltiemodesplazamiento</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7928109" width="56" style='border-top: none; width: 42pt'>2.5</td>
            <td class="xl8028109" colspan="2" style='border-right: 1pt solid #8DB4E2'>
                Reservorio
                de regulación
            </td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.5.1</td>
            <td class="xl8328109" style='border-top: none; border-left: none'>
                Volume<span style='display: none'>n máximo</span>
            </td>
            <td class="xl7028109">&nbsp;</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservoriodiahoravolumenmaximo)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9328109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8528109" colspan="2" style='border-right: 1pt solid #8DB4E2'>diario/horario</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.5.2</td>
            <td class="xl8728109" colspan="2">Volumen mínimo</td>
            <td class="xl7128109" style='border-top: none'>[hm³]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservoriodiahoravolumenminimo)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9428109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl8928109" style='border-left: none'>&nbsp;</td>
            <td class="xl8628109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.5.3</td>
            <td class="xl8728109" colspan="2">Caudal máximo de descarga</td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservoriodiahoracaudaldescarga)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl9528109" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl9128109" style='border-left: none'>&nbsp;</td>
            <td class="xl9228109">&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.5.4</td>
            <td class="xl8728109" colspan="2">
                Tiempo de desplazamiento del agua entre la
                compuerta de descarga y la central
            </td>
            <td class="xl7128109" style='border-top: none'>[h]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservoriodiahoratiemodesplazamiento)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">2.6</td>
            <td class="xl7028109" colspan="5">
                Restricciones de caudal mínimo para regadío,
                agua potable y otros
            </td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Restriccióncaudalmínimoregadío</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">2.7</td>
            <td class="xl7028109" colspan="5">
                Restricciones de caudal máximo para regadío,
                agua potable y otros
            </td>
            <td class="xl7128109" style='border-top: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Restriccióncaudalmáximoregadío</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td rowspan="2" class="xl7928109" width="56" style='border-bottom: 1pt solid #8DB4E2; border-top: none; width: 42pt'>2.8</td>
            <td colspan="2" rowspan="2" class="xl9628109" width="156" style='border-right: 1pt solid #8DB4E2; border-bottom: 1pt solid #8DB4E2; width: 117pt'>
                Requerimiento de caudal
                promedio
            </td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.8.1</td>
            <td class="xl8328109" colspan="2" style='border-right: 1pt solid #8DB4E2'>Mensual</td>
            <td class="xl7128109" style='border-top: none; border-left: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Caudalrequeridomensual</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl8228109" width="56" style='border-top: none; border-left: none; width: 42pt'>2.8.2</td>
            <td class="xl8728109" colspan="2" style='border-right: 1pt solid #8DB4E2'>Semanal</td>
            <td class="xl7128109" style='border-top: none; border-left: none'>[m³/s]</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Model.Caudalrequeridosemanal</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7828109" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7328109">2.9</td>
            <td class="xl7028109" colspan="5">
                Reservorio de compensación: Características
                Técnicas
            </td>
            <td class="xl7128109" style='border-top: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Reservoriocaracterísticastécnicas)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6428109" style='height: 12.75pt'>3</td>
            <td class="xl6528109" colspan="4">DATOS DEL SISTEMA ELÉCTRICO</td>
            <td class="xl6528109" style='border-top: none'>&nbsp;</td>
            <td class="xl6528109" style='border-top: none'>&nbsp;</td>
            <td class="xl6628109" style='border-top: none'>&nbsp;</td>
            <td class="xl7728109" style='border-top: none'>&nbsp;</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10228109" style='height: 12.75pt; border-top: none'>&nbsp;</td>
            <td class="xl6928109" style='border-top: none; border-left: none'>3.1</td>
            <td class="xl8328109" colspan="5" style='border-right: 1pt solid #8DB4E2'>
                Diagramas
                unifilares de la Central, hasta la conexión al SEIN
            </td>
            <td class="xl7128109" style='border-top: none; border-left: none'>&nbsp;</td>
            <td class="xl7428109" style='border-top: none; border-left: none'>@Html.Raw(Model.Diagramasunifilares)</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height="0" style='display: none'>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="100" style='width: 75pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="456" style='width: 342pt'></td>
            <td width="77" style='width: 58pt'></td>
            <td width="56" style='width: 42pt'></td>
        </tr>
        <![endif]>
    </table>

</div>

<hr />
<h2>Unidades de Generación</h2>
<br />
<div align="center" id="DivGeneradores">
    <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="pager" class="scroll"></div>
</div>
<div id="GenEmpty" align="center" style="display:none">
    <strong>No tiene Generadores declarados</strong>
</div>
<hr />
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar1">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>

