@model COES.MVC.Publico.Areas.FichaTecnica.ViewModels.DetalleCentralSolarViewModel
@{
    ViewBag.Title = "Datos Central Solar";
    Layout = "~/Areas/FichaTecnica/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#bRegresar").click(function () {
                                    @*window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
        $("#bRegresar1").click(function () {
                                    @*window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
    });
</script>
<script language="javascript" type="text/javascript">

    function Detalle(e) {
        window.location.href = '@Url.Content("~/FichaTecnica/FichaTecnica/DatosModuloSolar?id=")' + e + '&iFamilia=36';
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#list").jqGrid({
            url: '@Url.Action("ListarGeneradores", "FichaTecnica")',
            width: 400,
            height: 300,
            datatype: 'json',
            gridview: true,
            loadui: 'block ',
            mtype: 'GET',
            colNames: ['Código', 'Nombre', 'Abreviatura', ''],
            colModel: [
                { name: 'Código', index: 'EQUICODI', width: 80, align: 'left' },
                { name: 'Nombre', index: 'EQUINOMB', width: 150, align: 'left' },
                { name: 'Abreviatura', index: 'EQUIABREV', width: 100, align: 'left' },
                { name: '', index: '', width: 100, align: 'left', formatter: AccionFormatter }],
            //pager: jQuery('#pager'),
            rowNum: 20,
            viewrecords: true,
            imgpath: 'Content/themes/base/images',
            caption: 'Unidades de Generación',
            emptyrecords: "No tiene Aerogeneradores declarados",
            postData: {
                pCentral: function () { return $("#IdCentral").val(); },
                pFamilia: function () { return '36'; }
            },
            gridComplete: function () {
                var recs = parseInt($("#list").getGridParam("records"), 10);
                if (isNaN(recs) || recs == 0) {
                    $("#DivGeneradores").hide();
                    $("#GenEmpty").show();
                }
                else {
                    $('#DivGeneradores').show();
                    $("#GenEmpty").hide();
                    //alert('records > 0');
                }
            }
        });

        function AccionFormatter(cellvalue, options, rowObject) {
            var strCarac = "U";
            var strResult = '';
            var ap = String.fromCharCode(39);
            var strResult = '<a href="javascript:Detalle(' + cellvalue + ');">Detalle</a>';
            return strResult;
        }
    });
</script>
<style id="solares_19690_Styles">
    <!-- table {
        mso-displayed-decimal-separator: "\.";
        mso-displayed-thousand-separator: "\,";
    }

    .xl1519690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6519690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Standard;
        text-align: center;
        vertical-align: top;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl6619690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6719690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6819690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6919690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
        width: 84px;
    }

    .xl7019690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7119690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #538DD5;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7219690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7319690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #538DD5;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7419690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7519690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7619690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7719690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7819690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7919690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8019690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8119690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8219690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Standard;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl8319690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Standard;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl8419690 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: "\#\,\#\#0";
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }
    -->
</style>
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
<h2>Datos de Central Solar</h2>
<table style="width: 50%;">
    <tr>
        <td>
            <label class="control-label">Empresa:</label>
        </td>
        <td>@Model.NombreEmpresa</td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Central:</label>
        </td>
        <td>@Model.NombreCentral</td>
    </tr>

</table>
@Html.HiddenFor(model => model.IdCentral)
<div id="solares_19690" align="center" x:publishsource="Excel">

    <table border="0" cellpadding="0" cellspacing="0" width="855" style='border-collapse: collapse; table-layout: fixed; width: 642pt'>
        <col width="56" style='width: 42pt'>
        <col width="149" style='mso-width-source: userset; mso-width-alt: 6357; width: 112pt'>
        <col width="56" span="4" style='width: 42pt'>
        <col width="314" style='mso-width-source: userset; mso-width-alt: 13397; width: 236pt'>
        <col width="60" span="1" style='width: 42'>
        <col width="200" span="1" style='width: 42'>
        <tr height="17" style='height: 12.75pt'>
            <td colspan="9" height="17" class="xl7419690" width="855" style='border-right: 1pt solid #8DB4E2; height: 12.75pt; width: 642pt'>CARACTERÍSTICAS GENERALES DE LA CENTRAL</td>
        </tr>
        @*<tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6619690" style='height: 12.75pt; border-top: none'>1.1</td>
                <td colspan="7" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Nombre de la Empresa</td>
                <td class="xl6519690" style='border-top: none; border-left: none'>&nbsp;</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6719690" style='height: 12.75pt'>1.2</td>
                <td colspan="7" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Nombre de la Central</td>
                <td class="xl8219690" style='border-left: none'>&nbsp;</td>
            </tr>*@
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.1</td>
            <td colspan="7" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Código de la Central</td>
            <td class="xl8219690" style='border-left: none'>@Html.Raw(Model.CodCentral)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.2</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Potencia Aparente Bruta (debe incluir toda la compensación de reactiva de la central)<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6919690" style='border-left: none;width: 30px;'>[MVA]</td>
            <td class="xl8219690" style='border-left: none'>@Html.Raw(Model.Sbrut)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.3</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Potencia Instalada Nominal de la Central</td>
            <td class="xl6919690" style='border-left: none'>[MW]</td>
            <td class="xl8219690" style='border-left: none'>@Html.Raw(Model.Pinst)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.4</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Número Total de Módulos</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.NumMod)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.5</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tecnología del Seguimiento del Sol (fijos o móviles de un eje horizontal, de un eje inclinado o de dos ejes)</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.TecnSeg)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.6</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Angulo de Inclinación si los paneles son de instalación fija.</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.AngIncl)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.7</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Distribución de los Módulos de Paneles Solares</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8419690" style='border-left: none'>@Html.Raw(Model.DistMod)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.8</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Horas de Utilización Equivalentes a Plena Potencia Referidas al Periodo Anual</td>
            <td class="xl6919690" style='border-left: none'>[h]</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.HEqPCAn)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.9</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Horas de Utilización Equivalentes a Plena Potencia Mes a Mes (% con respecto al año)</td>
            <td class="xl6919690" style='border-left: none'>[%]</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.HEqPCMes)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.10</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Curva del Diagrama de Generación para Días Típicos de cada mes en un año</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.CurGen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.11</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Pendientes Máximas de Variación de la Irradiación</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.PenMax)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.12</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Curva Potencia/Irradiación</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.CurPot)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="2" height="34" class="xl7719690" style='border-bottom: 1pt solid #8DB4E2; height: 25.5pt; border-top: none'>1.13</td>
            <td rowspan="2" class="xl7019690" width="149" style='border-bottom: 1pt solid #8DB4E2; border-top: none; width: 112pt'>Sistema de Control de la Central</td>
            <td class="xl7119690" style='border-top: none; border-left: none'>1.13.1</td>
            <td colspan="4" class="xl7919690" style='border-right: 1pt solid #8DB4E2'>Control de Tensión</td>
            <td class="xl6819690">&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.ConTen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7319690" style='height: 12.75pt; border-left: none'>1.13.2</td>
            <td colspan="4" class="xl7919690" style='border-right: 1pt solid #8DB4E2'>Control de Frecuencia</td>
            <td class="xl6819690">&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.ConFrec)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.14</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Nivel de Media Tensión<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6919690" style='border-left: none'>[kV]</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.NivMTen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.15</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Intensidad de Cortocircuito Aportada por la Central para un Cortocircuito en el Punto de Conexión a la Red de Transporte<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6919690" style='border-left: none'>[A]</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.IntCC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.16</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>Diagrama Unifilar de la Central, hasta la conexión al SEIN</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>@Html.Raw(Model.DiaUni)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6719690" style='height: 12.75pt'>1.17</td>
            <td colspan="6" class="xl7919690" style='border-right: 1pt solid #8DB4E2; border-left: none'>En caso de poseer sistema propio de transmisión cumplir con la Ficha Técnica N° 3</td>
            <td class="xl6919690" style='border-left: none'>&nbsp;</td>
            <td class="xl8319690" style='border-left: none'>&nbsp;</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height="0" style='display: none'>
            <td width="56" style='width: 42pt'></td>
            <td width="149" style='width: 112pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="314" style='width: 236pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
        </tr>
        <![endif]>
    </table>

</div>
<hr />
<h2>Unidades de Generación</h2>
<div align="center" id="DivGeneradores">
    <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="pager" class="scroll"></div>
</div>
<div id="GenEmpty" align="center" style="display:none">
    <strong>No tiene Módulos Generadores declarados</strong>
</div>
<hr />
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar1">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>