@model COES.MVC.Publico.Areas.FichaTecnica.ViewModels.DetalleModuloSolarViewModel
@{
    ViewBag.Title = "Datos Modulo Solar";
    Layout = "~/Areas/FichaTecnica/Views/Shared/_LayoutPage.cshtml";
}

<style id="solares_13731_Styles">
    <!-- table {
        mso-displayed-decimal-separator: "\.";
        mso-displayed-thousand-separator: "\,";
    }

    .font513731 {
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
    }

    .font613731 {
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Symbol, serif;
        mso-font-charset: 2;
    }

    .xl1513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: Standard;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl6413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6613731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6713731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6813731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6913731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7013731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7113731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7213731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7613731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7713731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7813731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7913731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8013731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8113731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8213731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8613731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8713731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8813731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8913731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9013731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9113731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9213731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9613731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9713731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9813731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9913731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10013731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10113731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10213731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl10513731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10613731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10713731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10813731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl10913731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl11013731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl11113731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl11213731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl11313731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl11413731 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }
    -->
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#bRegresar").click(function () {
            history.back();
        });
        $("#bRegresar1").click(function () {
            history.back();
        });
    });
</script>
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
<h2>Datos de Unidad de Generación @*: @Model.CodGrupo*@</h2>
<table style="width: 50%;">
    <tr>
        <td>
            <label class="control-label">Empresa:</label>
        </td>
        <td>@Model.NombreEmpresa</td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Central:</label>
        </td>
        <td>@Model.NombreCentral</td>
    </tr>
</table>
<div id="solares_13731" align="center" x:publishsource="Excel">

    <table border="0" cellpadding="0" cellspacing="0" width="954" style='border-collapse: collapse; table-layout: fixed; width: 718pt'>
        <col class="xl11413731" width="56" span="3" style='width: 42pt'>
        <col width="77" style='mso-width-source: userset; mso-width-alt: 3285; width: 58pt'>
        <col width="66" style='mso-width-source: userset; mso-width-alt: 2816; width: 50pt'>
        <col width="46" style='mso-width-source: userset; mso-width-alt: 1962; width: 35pt'>
        <col width="78" style='mso-width-source: userset; mso-width-alt: 3328; width: 59pt'>
        <col width="346" style='mso-width-source: userset; mso-width-alt: 14762; width: 260pt'>
        <col width="45" style='mso-width-source: userset; mso-width-alt: 1920; width: 34pt'>
        <col class="xl8213731" width="200" style='mso-width-source: userset; mso-width-alt: 5461; width: 165pt'>
        <tr height="17" style='height: 12.75pt'>
            <td colspan="10" height="17" class="xl7313731" width="954" style='border-right: 1pt solid #8DB4E2; height: 12.75pt; width: 718pt'>Características de los componentes de la Central</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>1</td>
            <td colspan="9" class="xl7313731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Módulo</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="8" height="136" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 102.0pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>1.1</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Fabricante</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MFab)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.2</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Modelo</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MMod)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.3</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tecnología</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTec)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.4</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Potencia Activa Nominal, Pn</td>
            <td class="xl6413731" style='border-left: none'>[MW]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MPnom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.5</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Potencia Aparente Nominal, Sn<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MVA]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MSnom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.6</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Curva de Potencia Reactiva en función de la Potencia Activa</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CurPot)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.7</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Temperatura de Operación</td>
            <td class="xl6413731" style='border-left: none'>[°C]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.TempOp)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>1.8</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Coeficiente de Temperatura</td>
            <td class="xl6413731" style='border-left: none'>[%/°C]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CoefTemp)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>2</td>
            <td colspan="9" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Inversor</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="33" height="565" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 423.75pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>2.1</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>General</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="5" height="85" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 63.75pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>2.1.1</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Fabricante</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvFab)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.1.2</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Modelo</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvMod)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.1.3</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tecnología</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvTec)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.1.4</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Rendimiento</td>
            <td class="xl6413731" style='border-left: none'>[%]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvRend)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.1.5</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Nivel de Potencia de Arranque y Parada<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MW]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvPap)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.2</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Parámetros de Entrada</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="4" height="68" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 51.0pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>2.2.1</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Rango de Tensión para el Seguimiento del Punto de Máxima
                Potencia
            </td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvRangT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.2.2</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Tensión Continua Máxima Admisible<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvTenCMA)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.2.3</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Corriente Continua Máxima Admisible<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[A]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvCorrCMA)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.2.4</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Pico Máximo de Potencia</td>
            <td class="xl6413731" style='border-left: none'>[MWp]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvPMaxP)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Parámetros de Salida</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="6" height="102" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 76.5pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>2.3.1</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Potencia Aparente Nominal<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MVA]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvPApaNom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3.2</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Potencia Activa Nominal<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MW]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvPActNom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3.3</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Tensión de Operación Alterna<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvTenOpeAl)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3.4</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Numero de Fases [monofásico/trifásco]</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvNumFas)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3.5</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Frecuencia</td>
            <td class="xl6413731" style='border-left: none'>[Hz]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvFrec)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.3.6</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Factor de Distorsión de la Tensión<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[%]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvFDTens)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Sistema de Control</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="8" height="136" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 102.0pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>2.4.1</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Versión del Software</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvSoft)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.2</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Control de la inversión (continua/alterna)</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvContInv)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.3</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Control del Factor de Potencia</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvContFP)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.4</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Frecuencia de Conmutación</td>
            <td class="xl6413731" style='border-left: none'>[kHz]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvFrecCom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.5</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Metodología para el Seguimiento del Punto Máxima Potencia</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvMetSPMP)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.6</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Restablecimiento Automático por Tensión y Frecuencia Fuera
                de los Límites
            </td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvRestAut)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.7</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Sincronismo con la Red</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvSinc)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.4.8</td>
            <td colspan="5" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Protección contra Funcionamiento en Isla y Falla de
                Aislamiento de Conexión a Tierra del Campo Fotovoltaico
            </td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none;white-space:normal'>@Html.Raw(Model.InvProt)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>2.5</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Otros datos de interés</td>
        </tr>
        <tr height="21" style='mso-height-source: userset; height: 15.75pt'>
            <td rowspan="5" height="89" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 66.75pt; border-top: none'>&nbsp;</td>
            <td rowspan="5" class="xl11013731" style='border-bottom: 1pt solid #8DB4E2; border-top: none'>2.5.1</td>
            <td rowspan="5" class="xl8313731" width="77" style='border-bottom: 1pt solid #8DB4E2; border-top: none; width: 58pt'>Ajuste de las Protecciones</td>
            <td class="xl6913731" style='border-top: none; border-left: none'>2.5.1.1</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvAPT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="4" height="68" class="xl8913731" style='border-bottom: 1pt solid #8DB4E2; height: 51.0pt; border-top: none'>2.5.1.2</td>
            <td rowspan="4" class="xl8613731" style='border-bottom: 1pt solid #8DB4E2; border-top: none'>Rango</td>
            <td class="xl6913731" style='border-top: none; border-left: none'>2.5.1.2.1</td>
            <td class="xl7013731" style='border-top: none; border-left: none'>Sobretensión</td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvAPRSobreT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6913731" style='height: 12.75pt; border-top: none; border-left: none'>2.5.1.2.2</td>
            <td class="xl7113731" style='border-left: none'>Subtensión</td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvAPRSubT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6913731" style='height: 12.75pt; border-top: none; border-left: none'>2.5.1.2.3</td>
            <td class="xl7113731" style='border-left: none'>Sobrefrecuencia</td>
            <td class="xl6413731" style='border-left: none'>[Hz]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvAPRSobreF)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6913731" style='height: 12.75pt; border-top: none; border-left: none'>2.5.1.2.4</td>
            <td class="xl7113731" style='border-left: none'>Subfrecuencia</td>
            <td class="xl6413731" style='border-left: none'>[Hz]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.InvAPRSubF)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>3</td>
            <td colspan="9" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Centro de Transformación</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="10" height="170" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 127.5pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>3.1</td>
            <td colspan="7" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tableros de Corriente Continua</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTCC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="7" height="119" class="xl11013731" style='border-bottom: 1pt solid #8DB4E2; height: 89.25pt; border-top: none'>3.2</td>
            <td colspan="2" rowspan="7" class="xl9213731" width="133" style='border-right: 1pt solid #8DB4E2; border-bottom: 1pt solid #8DB4E2; width: 100pt'>Transformador del Aerogenerador</td>
            <td class="xl6813731" style='border-top: none; border-left: none'>3.2.1</td>
            <td colspan="4" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Fabricante</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTFab)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-top: none; border-left: none'>3.2.2</td>
            <td colspan="4" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTTip)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-left: none'>3.2.3</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tensión<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[V]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTTen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-left: none'>3.2.4</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Relación de Transformación</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTRelT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-left: none'>3.2.5</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Grupo de Conexión</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTGrupC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-left: none'>3.2.6</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Potencia Aparente Nominal<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MVA]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTSnom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-left: none'>3.2.7</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tensión de cortocircuito</td>
            <td class="xl6413731" style='border-left: none'>[%]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTTTensCC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="2" height="34" class="xl11013731" style='border-bottom: 1pt solid #8DB4E2; height: 25.5pt; border-top: none'>3.3</td>
            <td colspan="2" rowspan="2" class="xl9813731" width="133" style='border-right: 1pt solid #8DB4E2; border-bottom: 1pt solid #8DB4E2; width: 100pt'>Celdas de Media Tensión</td>
            <td class="xl6813731" style='border-left: none'>3.3.1</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Fabricante</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTCFab)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7213731" style='height: 12.75pt; border-top: none; border-left: none'>3.3.2</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.CTCTip)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>4</td>
            <td colspan="9" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Red de Media Tensión</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="10" height="170" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 127.5pt; border-top: none'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>4.1</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Nivel de Tensión<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[kV]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTTen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.2</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Número de Circuitos</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTNumC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.3</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Longitud<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[km]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTLong)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.4</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Conductor [Aluminio/cobre]</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTCond)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.5</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Sección</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTSecc)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.6</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo de Aislamiento</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTTipAis)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>4.7</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tensión de Aislamiento</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTTensAis)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="3" height="51" class="xl11013731" style='border-bottom: 1pt solid #8DB4E2; height: 38.25pt; border-top: none'>4.8</td>
            <td colspan="2" rowspan="3" class="xl9213731" width="133" style='border-right: 1pt solid #8DB4E2; border-bottom: 1pt solid #8DB4E2; width: 100pt'>Características Eléctricas</td>
            <td class="xl6813731" style='border-top: none; border-left: none'>4.8.1</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Resistencia<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[&#937;]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTResis)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6813731" style='height: 12.75pt; border-top: none; border-left: none'>4.8.2</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Reactancia<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[&#937;]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTReac)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6813731" style='height: 12.75pt; border-top: none; border-left: none'>4.8.3</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Susceptancia<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>
                [<font class="font613731">m</font><font class="font513731">S]</font>
            </td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.MTSusc)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>5</td>
            <td colspan="9" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Subestación</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="11" height="187" class="xl10613731" style='border-bottom: 1pt solid #8DB4E2; height: 140.25pt; border-top: none'>&nbsp;</td>
            <td class="xl11313731" style='border-top: none; border-left: none'>5.1</td>
            <td colspan="8" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Transformador Colector</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="10" height="170" class="xl10813731" style='border-bottom: 1pt solid #8DB4E2; height: 127.5pt'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>5.1.1</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Fabricante</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SEFab)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.2</td>
            <td colspan="6" class="xl6513731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SETip)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.3</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tensión<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6413731" style='border-left: none'>[kV]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SETen)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.4</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Relación de transformación</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SERelT)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.5</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Grupo de Conexión</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SEGrupoC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.6</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Potencia Aparente Nominal<span style='mso-spacerun: yes'></span>
            </td>
            <td class="xl6413731" style='border-left: none'>[MVA]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SESnom)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10713731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.7</td>
            <td colspan="5" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tensión de Cortocircuito</td>
            <td class="xl6413731" style='border-left: none'>[%]</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SETensCC)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td rowspan="3" height="51" class="xl11013731" style='border-bottom: 1pt solid #8DB4E2; height: 38.25pt; border-top: none'>5.1.8</td>
            <td rowspan="3" class="xl10213731" width="77" style='border-bottom: 1pt solid #8DB4E2; border-top: none; width: 58pt'>Regulación</td>
            <td class="xl6813731" style='border-top: none; border-left: none'>5.1.8.1</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Ubicación (primario/secundario)</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SERUbi)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6813731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.8.2</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Tipo de regulación (carga/vacío)</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SERTipR)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6813731" style='height: 12.75pt; border-top: none; border-left: none'>5.1.8.3</td>
            <td colspan="3" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Regulación automática (si/no)</td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.SERAut)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>6</td>
            <td colspan="9" class="xl8013731" style='border-right: 1pt solid #8DB4E2; border-left: none'>Datos del Sistema Eléctrico</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10813731" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl10713731" style='border-top: none; border-left: none'>6.1</td>
            <td colspan="6" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Diagramas unifilares de la central hasta la conexión al
                SEIN
            </td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.DiaUni)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td colspan="10" height="17" class="xl8013731" style='border-right: 1pt solid #8DB4E2; height: 12.75pt'>Otros</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl10513731" style='height: 12.75pt; border-top: none'>7</td>
            <td colspan="7" class="xl7613731" style='border-right: 1pt solid #8DB4E2; border-left: none'>
                Programa de mantenimiento con un horizonte de 12 meses
                según el procedimiento correspondiente
            </td>
            <td class="xl6413731" style='border-left: none'>&nbsp;</td>
            <td class="xl6313731" style='border-top: none; border-left: none'>@Html.Raw(Model.PMM)</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height="0" style='display: none'>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="77" style='width: 58pt'></td>
            <td width="66" style='width: 50pt'></td>
            <td width="46" style='width: 35pt'></td>
            <td width="78" style='width: 59pt'></td>
            <td width="346" style='width: 260pt'></td>
            <td width="45" style='width: 34pt'></td>
            <td width="128" style='width: 96pt'></td>
        </tr>
        <![endif]>
    </table>

</div>
<hr />
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar1">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>

