@model COES.MVC.Publico.Areas.FichaTecnica.ViewModels.DetalleCentralTermicaViewModel
@{
    ViewBag.Title = "Datos Central Termoeléctrica";
    Layout = "~/Areas/FichaTecnica/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#bRegresar").click(function () {
            @*window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
        $("#bRegresar1").click(function () {
            @*window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
    });
</script>
<script language="javascript" type="text/javascript">

    function Detalle(e) {
        window.location.href = '@Url.Content("~/FichaTecnica/FichaTecnica/DatosGeneradorT?id=")' + e + '&iFamilia=3';
    }
    function DetalleModo(e, g) {
        var central = $("#IdCentral").val();
        window.location.href = '@Url.Content("~/FichaTecnica/FichaTecnica/DatosModoOperacion?equicodi=")' + e + '&grupocodi=' + g + '&central=' + central;
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#list").jqGrid({
            url: '@Url.Action("ListarGeneradores", "FichaTecnica")',
            width: 400,
            height: 300,
            datatype: 'json',
            gridview: true,
            loadui: 'block ',
            mtype: 'GET',
            colNames: ['Código', 'Nombre', 'Abreviatura', ''],
            colModel: [
                { name: 'Código', index: 'EQUICODI', width: 80, align: 'left' },
                { name: 'Nombre', index: 'EQUINOMB', width: 150, align: 'left' },
                { name: 'Abreviatura', index: 'EQUIABREV', width: 100, align: 'left' },
                { name: '', index: '', width: 100, align: 'left', formatter: AccionFormatter }],
            //pager: jQuery('#pager'),
            rowNum: 20,
            viewrecords: true,
            imgpath: 'Content/themes/base/images',
            caption: 'Unidades de Generación',
            emptyrecords: "No tiene Generadores declarados",
            postData: {
                pCentral: function () { return $("#IdCentral").val(); },
                pFamilia: function () { return '3'; }
            },
            gridComplete: function () {
                var recs = parseInt($("#list").getGridParam("records"), 10);
                if (isNaN(recs) || recs == 0) {
                    $("#DivGeneradores").hide();
                    $("#GenEmpty").show();
                }
                else {
                    $('#DivGeneradores').show();
                    $("#GenEmpty").hide();
                    //alert('records > 0');
                }
            }
        });

        function AccionFormatter(cellvalue, options, rowObject) {
            var strCarac = "U";
            var strResult = '';
            var ap = String.fromCharCode(39);
            var strResult = '<a href="javascript:Detalle(' + cellvalue + ');">Detalle</a>';
            return strResult;
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#listModos").jqGrid({
            url: '@Url.Action("ListaModosOperacion", "FichaTecnica")',
            width: 600,
            height: 300,
            datatype: 'json',
            gridview: true,
            loadui: 'block ',
            mtype: 'GET',
            colNames: ['Nombre', 'Equipo/Comb.', '', '',''],
            colModel: [
                { name: 'Nombre', index: 'MODONOM', width: 180, align: 'left' },
                { name: 'Equipo/Comb.', index: 'GRUPONOM', width: 140, align: 'left' },
                { name: '', index: 'EQUICODI', width: 30, align: 'left', hidden: true },
                { name: '', index: 'GRUPOCODI', width: 30, align: 'left', hidden: true },
                { name: '', index: '', width: 100, align: 'left', formatter: AccionFormatterModo }],
            //pager: jQuery('#pagerModos'),
            rowNum: 20,
            viewrecords: true,
            emptyrecords: "No tiene Modos de Operación declarados",
            imgpath: 'Content/themes/base/images',
            caption: 'Modos de Operación',
            postData: {
                pCentral: function () { return $("#IdCentral").val(); }
            },
            gridComplete: function () {
                var recs = parseInt($("#listModos").getGridParam("records"), 10);
                if (isNaN(recs) || recs == 0) {
                    $("#DivModos").hide();
                    $("#ModoEmpty").show();
                }
                else {
                    $('#DivModos').show();
                    $("#ModoEmpty").hide();
                    //alert('records > 0');
                }
            }
        });

        function AccionFormatterModo(cellvalue, options, rowObject) {

            var strResult = '';
            var equipo = rowObject[2];
            var grupo = rowObject[3];
            var strResult = '<a href="javascript:DetalleModo(' + equipo + ',' + grupo + ');">Detalle</a>';
            console.log(rowObject);
            return strResult;
        }
    });
</script>
@Html.HiddenFor(model => model.IdCentral)
<style id="Formato Carga CT_SGI_10799_Styles">
    table {
        mso-displayed-decimal-separator: "\.";
        mso-displayed-thousand-separator: "\,";
    }

    .xl1510799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Arial, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6410799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6510799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6610799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl6710799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6810799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6910799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7010799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7110799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: 0;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl7210799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7310799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7410799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl7510799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7610799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7710799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7810799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7910799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: Fixed;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8010799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8110799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8210799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8310799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8410799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.0000";
        text-align: center;
        vertical-align: top;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8510799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8610799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8710799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8810799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8910799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl9010799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.000";
        text-align: center;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9110799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9210799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9310799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: bottom;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl9410799 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: "Lucida Sans Unicode", sans-serif;
        mso-font-charset: 0;
        mso-number-format: "0\.0";
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }
</style>
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
<h2>Datos de Central Termoeléctrica</h2>
<table style="width: 50%;">
    <tr>
        <td>
            <label class="control-label">Empresa:</label>
        </td>
        <td>@Model.NombreEmpresa</td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Central:</label>
        </td>
        <td>@Model.NomCentral</td>
    </tr>

</table>
<div id="Formato Carga CT_SGI_10799" align="center" x:publishsource="Excel">

    <table border="0" cellpadding="0" cellspacing="0" width="965" style='border-collapse: collapse; table-layout: fixed; width: 724pt'>
        <col width="69" style='mso-width-source: userset; mso-width-alt: 2944; width: 52pt'>
        <col width="179" style='mso-width-source: userset; mso-width-alt: 7637; width: 40pt'>
        <col width="56" style='width: 42pt'>
        <col width="57" style='mso-width-source: userset; mso-width-alt: 2432; width: 43pt'>
        <col width="91" style='mso-width-source: userset; mso-width-alt: 3882; width: 68pt'>
        <col width="51" style='mso-width-source: userset; mso-width-alt: 2176; width: 43pt'>
        <col width="286" style='mso-width-source: userset; mso-width-alt: 12202; width: 170pt'>
        <col width="56" style='width: 42pt'>
        <col width="120" style='mso-width-source: userset; mso-width-alt: 5120; width: 180pt;text-align: center'>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl9410799" width="69" style='height: 12.75pt; width: 52pt'>1</td>
            <td class="xl6510799" width="179" style='width: 134pt'>DATOS DE LA CENTRAL</td>
            <td class="xl6510799" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl6510799" width="57" style='width: 43pt'>&nbsp;</td>
            <td class="xl6510799" width="91" style='width: 68pt'>&nbsp;</td>
            <td class="xl6510799" width="51" style='width: 38pt'>&nbsp;</td>
            <td class="xl6510799" width="286" style='width: 215pt'>&nbsp;</td>
            <td class="xl6410799" width="56" style='width: 42pt'>&nbsp;</td>
            <td class="xl6610799" width="120" style='width: 90pt'>&nbsp;</td>
        </tr>
        @*<tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl6810799">1.1</td>
                <td class="xl6910799" colspan="2">Código Central</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7010799">&nbsp;</td>
                <td class="xl7110799" style='border-left: none'>@Html.Raw(Model.CodCentral)</td>
            </tr>*@
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.1</td>
            <td class="xl6910799" colspan="2">Nombre Central</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl7010799">&nbsp;</td>
            <td class="xl7110799" style='border-left: none'>@Html.Raw(Model.NomCentral)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.2</td>
            <td class="xl6910799" colspan="4">Número de unidades de generación</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl7010799">&nbsp;</td>
            <td class="xl7110799" style='border-left: none'>@Html.Raw(Model.NumUnid)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.3</td>
            <td class="xl6910799" colspan="2">Tipo de Central</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl7310799" style='border-top: none'>&nbsp;</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Tipo)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.4</td>
            <td class="xl6910799" colspan="2">Combustible</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl7310799" style='border-top: none'>&nbsp;</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Comb)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.5</td>
            <td class="xl6910799" colspan="3">Modos de Operación</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl6410799" style='border-top: none'>&nbsp;</td>
            <td class="xl7310799" style='border-top: none'>&nbsp;</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Modos)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.6</td>
            <td class="xl6910799" colspan="5">Capacidad de los tanques o depósitos de almacenamiento del combustible</td>
            <td class="xl7510799" style='border-top: none'>[l]</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.CapacComb)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.7</td>
            <td class="xl6910799" colspan="5">Valores de operación mínimos de la presión del suministro de gas</td>
            <td class="xl7510799" style='border-top: none'>[bar]</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.PresMinGN)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none'>1.8</td>
            <td class="xl6910799" colspan="5">Cuenta con sistema de control centralizado</td>
            <td class="xl7510799" style='border-top: none'>[Si/No]</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.ContCentral)</td>
        </tr>
        @*<tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7610799" style='border-top: none'>1.10</td>
                <td class="xl7710799" style='border-top: none; border-left: none'>Potencia</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.1</td>
                <td class="xl6410799" style='border-top: none'>Efectiva</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Pefect)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.2</td>
                <td class="xl6410799" style='border-top: none'>Instalada</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Pinst)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.3</td>
                <td class="xl6410799" colspan="2">Instalada Aparente</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MVA]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.PinstAp)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.4</td>
                <td class="xl6410799" style='border-top: none'>Nominal</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.PnomMW)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.5</td>
                <td class="xl6410799" colspan="2">Nominal aparente</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MVA]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.PnomMVA)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.6</td>
                <td class="xl6410799" style='border-top: none'>Mínima</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Pmín)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl6810799">&nbsp;</td>
                <td class="xl8110799" style='border-left: none'>&nbsp;</td>
                <td class="xl7810799" style='border-top: none; border-left: none'>1.10.7</td>
                <td class="xl6410799" style='border-top: none'>Máxima</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl6410799" style='border-top: none'>&nbsp;</td>
                <td class="xl7310799" style='border-top: none'>[MW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Pmáx)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7610799" style='border-top: none'>1.11</td>
                <td class="xl7710799" style='border-top: none; border-left: none'>Tensión</td>
                <td class="xl8210799" style='border-top: none; border-left: none'>1.11.1</td>
                <td class="xl8310799" style='border-top: none'>Generación</td>
                <td class="xl8410799" width="55" style='border-top: none; width: 45pt'>1.11.1.1</td>
                <td class="xl8510799" style='border-top: none; border-left: none'>Mínima</td>
                <td class="xl7510799" style='border-top: none'>[kV]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Vgmin)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl8610799" style='border-left: none'>&nbsp;</td>
                <td class="xl8710799">&nbsp;</td>
                <td class="xl8410799" width="55" style='border-top: none; width: 45pt'>1.11.1.2</td>
                <td class="xl6910799" style='border-top: none; border-left: none'>Máxima</td>
                <td class="xl7510799" style='border-top: none'>[kV]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Vgmax)</td>
            </tr>
            <tr height="34" style='height: 25.5pt'>
                <td height="34" class="xl6710799" style='height: 25.5pt'>&nbsp;</td>
                <td class="xl7910799">&nbsp;</td>
                <td class="xl8010799" style='border-left: none'>&nbsp;</td>
                <td class="xl8810799" width="57" style='border-top: none; border-left: none; width: 43pt'>1.11.2</td>
                <td class="xl8910799" width="91" style='border-top: none; border-left: none; width: 68pt'>Excitación</td>
                <td class="xl8410799" width="55" style='border-top: none; border-left: none; width: 38pt'>1.11.2.1</td>
                <td class="xl8510799" style='border-top: none; border-left: none'>Mínima de excitación VDC</td>
                <td class="xl7510799" style='border-top: none'>[V]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Vemin)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl6810799">&nbsp;</td>
                <td class="xl8110799" style='border-left: none'>&nbsp;</td>
                <td class="xl9010799" style='border-left: none'>&nbsp;</td>
                <td class="xl9110799">&nbsp;</td>
                <td class="xl8410799" width="55" style='border-top: none; border-left: none; width: 45pt'>1.11.2.2</td>
                <td class="xl8510799" style='border-top: none; border-left: none'>Máxima de excitación VDC</td>
                <td class="xl7510799" style='border-top: none'>[V]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.VeMáx)</td>
            </tr>
            <tr height="17" style='height: 12.75pt'>
                <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
                <td class="xl7210799" style='border-top: none'>1.12</td>
                <td colspan="5" class="xl8510799" style='border-right: 1pt solid #8DB4E2; border-left: none'>Consumo de servicios auxiliares</td>
                <td class="xl7310799" style='border-top: none; border-left: none'>[kW]</td>
                <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.SSAA)</td>
            </tr>*@
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6710799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none;'>1.9</td>
            <td colspan="5" class="xl8510799" style='border-right: 1pt solid #8DB4E2; border-left: none'>Diagramas unifilares de la central hasta la conexión al SEIN</td>
            <td class="xl7310799" style='border-top: none; border-left: none'>&nbsp;</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.Dunifil)</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6810799" style='height: 12.75pt'>&nbsp;</td>
            <td class="xl7210799" style='border-top: none; border-left: none'>1.10</td>
            <td colspan="5" class="xl8510799" style='border-right: 1pt solid #8DB4E2; border-left: none'>Potencia efectiva contratada</td>
            <td class="xl7310799" style='border-top: none; border-left: none'>[MW]</td>
            <td class="xl7410799" style='border-top: none; border-left: none'>@Html.Raw(Model.PotEfecCont)</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height="0" style='display: none'>
            <td width="69" style='width: 52pt'></td>
            <td width="179" style='width: 134pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="57" style='width: 43pt'></td>
            <td width="91" style='width: 68pt'></td>
            <td width="51" style='width: 38pt'></td>
            <td width="286" style='width: 215pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="120" style='width: 90pt'></td>
        </tr>
        <![endif]>
    </table>

</div>

<hr />
<h2>Unidades de Generación</h2>
<div align="center" id="DivGeneradores">
    <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="pager" class="scroll"></div>
</div>
<div id="GenEmpty" align="center" style="display:none">
    <strong>No tiene Generadores declarados</strong>
</div>
<hr />
<h2>Modos de Operación</h2>
<div align="center" id="DivModos">
    <table id="listModos" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="pagerModos" class="scroll"></div>
</div>
<div id="ModoEmpty" align="center" style="display:none">
    <strong>No tiene Modos de Operación declarados</strong>
</div>
<br />
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar1">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>


