@model COES.MVC.Publico.Areas.FichaTecnica.ViewModels.DetalleLineaViewModel
@{
    ViewBag.Title = "Datos Linea";
    Layout = "~/Areas/FichaTecnica/Views/Shared/_LayoutPage.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#bRegresar").click(function () {
            @* window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
       $("#bRegresar1").click(function () {
            @* window.location.href = '@Url.Content("~/FichaTecnica/Index")';*@
            history.back();
        });
    });
</script>
<style id="Lineas_23920_Styles">
    <!-- table {
        mso-displayed-decimal-separator: "\.";
        mso-displayed-thousand-separator: "\,";
    }

    .font523920 {
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
    }

    .font623920 {
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Symbol, serif;
        mso-font-charset: 2;
    }

    .xl1523920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6323920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6423920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6523920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6623920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: blue;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: middle;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-pattern: black none;
        mso-protection: unlocked visible;
        white-space: nowrap;
    }

    .xl6723920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6823920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl6923920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7023920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7123920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7223920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: #00B0F0;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: center;
        vertical-align: bottom;
        border: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7323920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        vertical-align: bottom;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7423920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7523920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7623920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl7723920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7823920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl7923920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 8.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: top;
        border-top: none;
        border-right: 1pt solid #8DB4E2;
        border-bottom: none;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8023920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8123920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8223920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: black;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: normal;
    }

    .xl8323920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: 1pt solid #8DB4E2;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8423920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: none;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }

    .xl8523920 {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        mso-ignore: padding;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: left;
        vertical-align: top;
        border-top: 1pt solid #8DB4E2;
        border-right: 1pt solid #8DB4E2;
        border-bottom: 1pt solid #8DB4E2;
        border-left: none;
        mso-background-source: auto;
        mso-pattern: auto;
        white-space: nowrap;
    }
    -->
</style>
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
<h2>Datos Línea de Transmisión</h2>
<table style="width: 40%;">
    <tr>
        <td>
            <label class="control-label">Empresa:</label>
        </td>
        <td>@Model.NombreEmpresa</td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Línea:</label>
        </td>
        <td>@Model.NombreLinea</td>
    </tr>

</table>
<div id="Lineas_23920" align="center" x:publishsource="Excel">

    <table border="0" cellpadding="0" cellspacing="0" width="549" style='border-collapse: collapse; table-layout: fixed; width: 413pt'>
        <col class="xl7323920" width="44" style='mso-width-source: userset; mso-width-alt: 1877; width: 33pt'>
        <col width="108" style='mso-width-source: userset; mso-width-alt: 4608; width: 81pt'>
        <col width="56" style='width: 42pt'>
        <col width="36" style='mso-width-source: userset; mso-width-alt: 1536; width: 27pt'>
        <col width="30" style='mso-width-source: userset; mso-width-alt: 1280; width: 23pt'>
        <col width="0" style='display: none; mso-width-source: userset; mso-width-alt: 1024'>
        <col width="62" style='mso-width-source: userset; mso-width-alt: 2645; width: 47pt'>
        <col class="xl6523920" width="57" style='mso-width-source: userset; mso-width-alt: 9088; width: 80pt'>
        <col class="xl6523920" width="213" style='mso-width-source: userset; mso-width-alt: 9088; width: 160pt'>

        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6823920" width="44" style='height: 12.75pt; width: 33pt;border-top: 1pt solid #8DB4E2'>1.1</td>
            <td colspan="5" class="xl7423920" width="230" style='border-right: 1pt solid #8DB4E2; border-left: none; width: 173pt'>Nivel de tensión</td>
            <td class="xl6323920" width="62" style='border-left: none; width: 47pt'>[kV]</td>
            <td class="xl6623920" width="213" style='width: 160pt'> @Model.NivelTension </td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6723920" style='height: 12.75pt; border-top: none'>1.2</td>
            <td colspan="5" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>Longitud</td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.LongitudLinea</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6723920" style='height: 12.75pt; border-top: none'>1.3</td>
            <td colspan="5" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>Capacidad nominal de transmisión</td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[A]</td>
            <td class="xl6623920" style='border-top: none'>@Model.Capacidadcontinua</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl6923920" width="44" style='height: 12.75pt; border-top: none; width: 33pt'>1.4</td>
            <td rowspan="9" class="xl7723920" width="108" style='border-top: none; width: 81pt'>
                Parámetros
                eléctricos de la línea
            </td>
            <td class="xl6423920" style='border-top: none'>1.4.1</td>
            <td colspan="3" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>R1<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.R1</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7023920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.2</td>
            <td colspan="3" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>X1<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.X1</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7023920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.3</td>
            <td colspan="3" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>R0<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.R0</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7023920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.4</td>
            <td colspan="3" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>X0<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.X0</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7023920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.5</td>
            <td colspan="3" class="xl7423920" style='border-right: 1pt solid #8DB4E2; border-left: none'>R0M<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.R0m</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7023920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.6</td>
            <td colspan="3" class="xl8323920" style='border-right: 1pt solid #8DB4E2; border-left: none'>X0M<span style='mso-spacerun: yes'> </span></td>
            <td class="xl6323920" style='border-top: none; border-left: none'>[ohm/km]</td>
            <td class="xl6623920" style='border-top: none'>@Model.Xom</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7123920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.7</td>
            <td colspan="3" class="xl8323920" style='border-right: 1pt solid #8DB4E2; border-left: none'>B1</td>
            <td class="xl6323920" style='border-top: none; border-left: none'>
                [<font class="font623920">m</font><font class="font523920">s/km]</font>
            </td>
            <td class="xl6623920" style='border-top: none'>@Model.B1</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7123920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.8</td>
            <td colspan="3" class="xl8323920" style='border-right: 1pt solid #8DB4E2; border-left: none'>B0</td>
            <td class="xl6323920" style='border-top: none; border-left: none'>
                [<font class="font623920">m</font><font class="font523920">s/km]</font>
            </td>
            <td class="xl6623920" style='border-top: none'>@Model.B0</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7123920" width="44" style='height: 12.75pt; width: 33pt'>&nbsp;</td>
            <td class="xl6423920" style='border-top: none'>1.4.9</td>
            <td colspan="3" class="xl8323920" style='border-right: 1pt solid #8DB4E2; border-left: none'>G1</td>
            <td class="xl6323920" style='border-top: none; border-left: none'>
                [<font class="font623920">m</font><font class="font523920">s/km]</font>
            </td>
            <td class="xl6623920" style='border-top: none'>@Model.G1</td>
        </tr>
        <tr height="20" style='mso-height-source: userset; height: 15.0pt'>
            <td height="20" class="xl6723920" style='height: 15.0pt'>1.5</td>
            <td colspan="6" class="xl8023920" width="292" style='border-right: 1pt solid #8DB4E2; border-left: none; width: 220pt'>Subestación Inicio</td>
            <td class="xl6623920" style='border-top: none'>@Model.EstacionInicio</td>
        </tr>
        <tr height="17" style='height: 12.75pt'>
            <td height="17" class="xl7223920" style='height: 12.75pt; border-top: none'>1.6</td>
            <td colspan="6" class="xl8023920" width="292" style='border-right: 1pt solid #8DB4E2; border-left: none; width: 220pt'>Subestación Fin</td>
            <td class="xl6623920" style='border-top: none'>@Model.EstacionFin</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height="0" style='display: none'>
            <td width="44" style='width: 33pt'></td>
            <td width="108" style='width: 81pt'></td>
            <td width="56" style='width: 42pt'></td>
            <td width="36" style='width: 27pt'></td>
            <td width="30" style='width: 23pt'></td>
            <td width="0"></td>
            <td width="62" style='width: 47pt'></td>
            <td width="213" style='width: 160pt'></td>
        </tr>
        <![endif]>
    </table>

</div>
<hr />
<p align="right">
    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" id="bRegresar1">
        <span class="ui-button-text">Regresar</span>
    </button>
</p>
