@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    string sSelected = "";
}

<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>

@using (Html.BeginForm("Save", "Compensacion", FormMethod.Post, new { id = "frmCompensacion", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {<input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />}
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "Compensacion", new { id = Model.EntidadCompensacion.Sistrncodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:700px;">
            @Html.HiddenFor(model => model.EntidadCompensacion.Stcompcodi)
            @Html.HiddenFor(model => model.EntidadCompensacion.Sistrncodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr><td colspan="2"><div class="editor-label" style="color:red;">@Model.sError</div></td></tr>}

                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompcodelemento, "Codigo: ") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.EntidadCompensacion.Stcompcodelemento)</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompnomelemento, "Nombre del Elemento ") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.EntidadCompensacion.Stcompnomelemento, new { size = 250, maxLength = 250 })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompimpcompensacion, "Importe por Elemento ") (*)</div></td>
                    <td>
                        <div class="editor-field">
                            <input type="text" name="EntidadCompensacion.Stcompimpcompensacion" value="@(Model.EntidadCompensacion.Stcompimpcompensacion.ToString("#.####"))" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Barrcodi1, "Barra 1 ") (*)</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="EntidadCompensacion_Barrcodi1" name="EntidadCompensacion.Barrcodi1">
                                @foreach (var item in Model.ListaBarra)
                                {
                                    sSelected = "";
                                    if (@item.BarrCodi == Model.EntidadCompensacion.Barrcodi1)
                                    { sSelected = "selected"; }
                                    <option value="@item.BarrCodi" @sSelected>@item.BarrNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Barrcodi2, "Barra 2") (*)</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="EntidadCompensacion_Barrcodi2" name="EntidadCompensacion.Barrcodi2">
                                @foreach (var item in Model.ListaBarra)
                                {
                                    sSelected = "";
                                    if (@item.BarrCodi == Model.EntidadCompensacion.Barrcodi2)
                                    { sSelected = "selected"; }
                                    <option value="@item.BarrCodi" @sSelected>@item.BarrNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    </div>
}

<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $('#frmCompensacion').validate({
        rules: {
            "EntidadCompensacion.Stcompcodelemento": {
                required: true
            },
            "EntidadCompensacion.Stcompnomelemento": {
                required: true
            },
            "EntidadCompensacion.Stcompimpcompensacion": {
                required: true,
                range: [0.0000, 99999999999999.9999]
            }
        }
    })
</script>