@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Compensación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<script src="~/Areas/SistemasTransmision/Content/Scripts/Compensacion.js"></script>
<div class="ast">
    <div class="form-title">
        @Html.HiddenFor(model => model.EntidadRecalculo.Stpercodi)
        @Html.HiddenFor(model => model.EntidadRecalculo.Strecacodi)
        @Html.HiddenFor(model => model.EntidadSistema.Sistrncodi)
        @if (Model.EntidadSistema != null)
        {
            <div class="content-titulo">@Model.EntidadRecalculo.Stpernombre/@Model.EntidadRecalculo.Strecanombre: Lista de Compensaciones - @Model.EntidadSistema.Sistrnnombre</div>
        }
        else
        {
            <div class="content-titulo">@Model.EntidadRecalculo.Stpernombre/@Model.EntidadRecalculo.Strecanombre: Lista de Compensaciones</div>
        }
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Regresar" id="btnRegresar" onclick="location.href='@Url.Action("Index","ElementoSt")'" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado"></div>
    </div>
</div>
