@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel

@{
    ViewBag.Title = "View";
}

<fieldset>
    <legend>Elementos de Compensacion</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompcodelemento, "Codigo compensacion: ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadCompensacion.Stcompcodelemento)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompnomelemento, "Nombre compensacion: ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadCompensacion.Stcompnomelemento)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Stcompimpcompensacion, "Importe: ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadCompensacion.Stcompimpcompensacion)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Barrcodi1, "Cadigo Barra 1: ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadCompensacion.Barrcodi1)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadCompensacion.Barrcodi2, "Cadigo Barra 2: ")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadCompensacion.Barrcodi2)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close">X</span>
</div>