@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var area = (IEnumerable<SelectListItem>)TempData["Areacodigo"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "barra", FormMethod.Post, new { id = "frmBarra", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","barra")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        
            <div style="padding:20px; width:500px;">
                @Html.HiddenFor(model => model.Entidad.BarrCodi)
                <table cellspacing="2" cellpadding="5">
                    @if (Model.sError != "")
                    {
                        <tr>
                            <td colspan="2">
                                <div class="editor-label" style="color:red;">
                                    @Model.sError
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrNombre, "Barra del SEIN")
                                (*)
                            </div>
                        </td>

                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.BarrNombre, new { size = 50, maxLength = 100 })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.AreaCodi, "Área")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DropDownList("Entidad.AreaCodi", @area, "--Seleccione--")
                                @Html.ValidationMessageFor(model => model.Entidad.AreaCodi)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrTension, "Tensión")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.BarrTension, new { size = 10, maxLength = 5 })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrPuntoSumirer, "Suministro RER")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrPuntoSumirer, "SI")SI</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrPuntoSumirer, "NO")NO</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrBarraBgr, "¿Reporte?")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrBarraBgr, "SI")SI</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrBarraBgr, "NO")NO</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrFlagBarrTran, "¿Es Barra de Transferencia?")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrFlagBarrTran, "SI")SI</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrFlagBarrTran, "NO")NO</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrNombBarrTran, "Barra de Transferencia")
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.BarrNombBarrTran, new { size = 50, maxLength = 100 })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrFlagDesbalance, "¿Verificar Desbalance?")
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrFlagDesbalance, "SI")SI</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrFlagDesbalance, "NO")NO</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrEstado, "Estado")
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrEstado, "ACT")Activo</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.BarrEstado, "INA")Inactivo</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.BarrFactorPerdida, "Factor Perdida")
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.BarrFactorPerdida, new { maxLength = 6 })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Entidad.OsinergCodi, "Osinergmin")
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.OsinergCodi, new { size = 50, maxLength = 100 })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
                </table>
            </div>
   </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmBarra").validate({
        rules: {
            "Entidad.BarrNombre": {
                required: true
            },
            "Entidad.AreaCodi": {
                required: true
            },
            "Entidad.BarrTension": {
                required: true,
                number: true
            },
            "Entidad.BarrFactorPerdida": {
                number: true,
                max: 100,
                min: 0
            }
        }
    });
</script>