@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel
@{
    Layout = null;
    var BARRCODISUM = (List<COES.Dominio.DTO.Transferencias.BarraDTO>)TempData["BARRCODISUM"];
    var BARRNOMBTRA = TempData["BARRNOMBTRA"];
}

<script src="~/Areas/Transferencias/Content/Scripts/barraSuministro.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<table cellpadding="2" cellspacing="2">

    <tr>
        <td style="color:#3D90CB;font-size:medium;font-weight:bold;border-bottom-color:#3D90CB;border-bottom:solid;">Barras de Suministro Relacionadas</td>
    </tr>
    <tr>
        <td>
            <div class="action-message">Seleccione una barra de suministro</div>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="5" cellspacing="5" border="1">
                <tr>
                    <td width="200px" class="etiqueta-horizontal">Barra SEIN</td>
                    <td colspan="2">@BARRNOMBTRA</td>

                </tr>
                <tr>
                    <td width="200px" class="etiqueta-horizontal">Agregar Barra de Suministro</td>
                    <input type="hidden" id="hfBARRNOMBTRA" name="iccodis" value="@BARRNOMBTRA">
                    <td>
                        <div class="editor-label">
                            <select id="BARRCODISUM" name="BARRCODISUM">
                                @foreach (var item in @BARRCODISUM)
                                {
                                    <option value="@item.BarrCodi">@item.BarrNombre </option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <input type="button" id="btnAgregar" value="Agregar suministro" alt="Agregar barra suministro" title="Agregar barra suministro" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <table border="0" class="pretty tabla-icono" id="tabla2">
                <thead>
                    <tr>
                        <th>Barra SEIN</th>
                        <th>Tensión</th>
                        <th style="width:30px;">Quitar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaRelacionBarras)
                    {
                        <tr id="fila_@item.BareCodi">
                            <td style="display:none;"></td>
                            <td class="text_left">@item.BarrNombSum</td>
                            <td>@item.BarrTension</td>
                            <td>
                                <a href="#" id="quitar_@item.BareCodi" class="quitar"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Quitar" alt="Quitar" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>

