<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Barra del SEIN</th>
            <th>Tensión</th>
            <th>Punto Suministro RER</th>
            <th>¿Reporte?</th>
            <th>¿Es BT?</th>
            <th>Área</th>
            <th>Barra Transferencia</th>
            <th>Verif.Desbal?</th>
            <th>Factor Perdida</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaBarras)
        {
        <tr id="fila_@item.BarrCodi">
            <td class="text_left">@item.BarrNombre</td>
            <td>@item.BarrTension</td>
            <td>@item.BarrPuntoSumirer</td>
            <td>@item.BarrBarraBgr</td>
            <td>@item.BarrFlagBarrTran</td>
            <td class="text_left">@item.AreaNombre</td>
            <td class="text_left">@item.BarrNombBarrTran</td>
            <td align="right">@item.BarrFlagDesbalance</td>
            <td>@item.BarrFactorPerdida</td>
            <td>
                @if (item.BarrEstado == "ACT")
                {<span>Activo</span> }
                else
                { <span>Inactivo</span>}
            </td>
            <td style="width:30px;"><a href="#" id="view_@item.BarrCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Index", "Barraurs", new { id = item.BarrCodi })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/recalculo.jpg")" title="Asignar URS" alt="Asignar URS" /></a>
                }
            </td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { id = item.BarrCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
            </td>
            <td style="width:30px;">
                @if (Model.bEliminar)
                {
                    <a href="#" id="eliminar_@item.BarrCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                }
            </td>

        </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>