@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel

@{
    ViewBag.Title = "Relación de Barras";
    string sTitulo = "Relación de Barras";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/barraRelacion.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>

@using (Html.BeginForm("Save", "barra", FormMethod.Post, new { id = "frmBarra", @class = "cmxform" }))
{

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">@sTitulo</div>
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","barra")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div style="padding:20px;" >
        <table style="width:100%;padding:10px;" cellspacing="3">
            <tr>
                <td style="width:50%">

                    <table >
                        <tr><td style="color:#3D90CB;font-size:medium;font-weight:bold;border-bottom-color:#3D90CB;border-bottom:solid;">Barra de Transferencia</td></tr>
                        <tr>
                            <td>
                                <div class="action-message">Seleccione una barra de transferencia</div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <table border="0" class="pretty tabla-icono "  id="tabla">
                                    <thead>
                                        <tr>
                                            <th>Barra del SEIN</th>
                                            <th>Tensión</th>
                                            <th>Barra Transferencia</th>
                                            <th style="width:30px;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListaBarras)
                                        {
                                        <tr id="fila_@item.BarrCodi">
                                            <td class="text_left">@item.BarrNombre</td>
                                            <td>@item.BarrTension</td>
                                            <td class="text_left">@item.BarrNombBarrTran</td>
                                            <td>
                                                <a href="#" id="view_@item.BarrCodi" class="view">
                                                <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Ver relación" alt="Ver relación" /></a>
                                            </td>
                                        </tr>
                                         }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
                <td style="width:50%">
                    @*@Html.Partial("ListaSuministro", Model)*@
                    <div style="margin-left:20px;" class="listado" id="listaSuministro"></div>
                </td>
            </tr>
        </table>
    </div>

</div>

}
