@model COES.MVC.Intranet.Areas.RolTurnos.Models.ConfiguracionModel

<div class="personal-configuracion">
    <div class="personal-titulo">Lista de personal disponible</div>
    <div class="personal-titulo">Grupos de personal</div>
    <div class="personal-list person-drag-drop">
        @foreach (var item in Model.Estructura.ListaPersonas)
        {
            <div class="personal-seleccion" id="@("persona-" + item.Percodi)" data-id="@item.Percodi">
                <div class="personal-name">@(item.Pernomb + " " + item.Perapellido)</div>
                <div class="personal-remove"><img src="~/Content/Images/Trash.png" onclick="eliminarPersonal(@item.Percodi)" /></div>
            </div>
        }

    </div>
    <div class="personal-grupo">
        @foreach (var item in Model.Estructura.ListaGrupos)
        {
            <div class="personal-grupo-item" id="@("grupo-" + item.Grupocodi)">
                <div class="grupo-options">
                    <div>Tipo de grupo:</div>
                    <div>
                        <select id="cbTipoGrupo">
                            <option value="P" @(item.Grupotipo == "P" ? "selected" : "")>Programadores</option>
                            <option value="E" @(item.Grupotipo == "E" ? "selected" : "")>Especialistas</option>
                            <option value="S" @(item.Grupotipo == "S" ? "selected" : "")>Subdirector</option>
                            <option value="O" @(item.Grupotipo == "O" ? "selected" : "")>Otros</option>
                        </select>
                    </div>
                    <div><a href="JavaScript:eliminarGrupo('@("grupo-" + item.Grupocodi)')">Eliminar grupo</a></div>
                </div>
                <div class="grupo-person-list person-drag-drop">
                    @foreach (var itemPerson in item.ListaPersonas)
                    {
                        <div class="personal-seleccion" id="@("persona-" + itemPerson.Personacodi)" data-id="@itemPerson.Personacodi">
                            <div class="personal-name">@itemPerson.Personanombre</div>
                            <div class="personal-remove"><img src="~/Content/Images/Trash.png" onclick="eliminarPersonal(@itemPerson.Personacodi)" /></div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
</div>
<div style="margin-top:20px">Configuración del: <strong>@Model.Estructura.AnioMesConfiguracion</strong></div>
<div style="margin-top:20px">Usuario actualización: <strong>@Model.Estructura.Usuario</strong> - Fecha actualización: <strong>@Model.Estructura.Fecha</strong> </div>