@model COES.MVC.Intranet.Areas.RolTurnos.Models.ConfiguracionModel
<div class="content-registro">

    <form id="frmRegistroActividad">
        <div id="mensajeEdicion" class="action-message">Por favor ingrese los datos exigidos</div>
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Abreviatura:</td>
                <td class="registro-control">
                    <input type="text" style="width:300px" id="txtAbreviaturaActividad" name="AbreviaturaActividad" value="@Model.EntidadActividad.Rtuactabreviatura" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <input type="text" style="width: 300px" id="txtDescripcionActividad" name="DescripcionActividad" value="@Model.EntidadActividad.Rtuactdescripcion" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Incluir reporte:</td>
                <td class="registro-control">
                    <select id="cbReporte" style="width: 305px" name="Reporte">
                        <option value="">-SELECCIONE-</option>
                        <option value="P">PDO/PDI</option>
                        <option value="D">DESCANSOS</option>
                    </select>
                    <input type="hidden" id="hfReporte" value="@Model.EntidadActividad.Rtuactreporte" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Rol en elaboración de informes:</td>
                <td class="registro-control">
                    <select id="cbTipoResponsable" style="width: 305px" name="TipoResponsble">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaTipoResponsabilidad)
                        {
                            <option value="@item.Rtuactcodi">@item.Rtuactdescripcion</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoResponsable" value="@Model.EntidadActividad.Rturescodi" />

                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoActividad" style="width: 305px" name="EstadoActividad">
                        <option value="A">ACTIVO</option>
                        <option value="I">INACTIVO</option>
                    </select>
                    <input type="hidden" id="hfEstadoActividad" value="@Model.EntidadActividad.Rtuactestado" />
                </td>
            </tr>
        </table>
        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarActividad" value="Grabar" />
            <input type="button" id="btnCancelarActividad" value="Cancelar" />
        </div>
        <input type="hidden" id="hfCodigoActividad" name="CodigoActividad" value="@Model.EntidadActividad.Rtuactcodi" />
    </form>

</div>