@model COES.MVC.Intranet.Areas.RolTurnos.Models.ConfiguracionModel

<table class="pretty tabla-icono" id="tablaActividad">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Abreviatura</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Incluido en reporte</th>
            <th>Rol en Informes</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaActividad)
        {
            <tr>
                <td>
                    <a href="JavaScript:editarActividad(@item.Rtuactcodi);"><img src="~/Content/Images/btn-edit.png" alt="Editar actividad" /></a>
                    <a href="JavaScript:eliminarActividad(@item.Rtuactcodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar actividad" /></a>
                </td>
                <td>@item.Rtuactabreviatura</td>
                <td>@item.Rtuactdescripcion</td>
                <td>@item.Rtuactestado</td>
                <td>@item.Rtuactreporte</td>
                <td>@item.Rturesdescripcion</td>
                <td>@item.Rtuactusumodificacion</td>
                <td>@(item.Rtuactfecmodificacion != null? ((DateTime)item.Rtuactfecmodificacion).ToString("dd/MM/yyyy HH:mm:ss"): "" )</td>
            </tr>
        }

    </tbody>
</table>