@model COES.MVC.Intranet.Areas.Despacho.Models.DetalleGrupoCurvaModel

<table id="tablaDetalleCurva" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Vista Agrupada</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListaDetalle.Count() > 0)
        {
            foreach (var item in Model.ListaDetalle)
            {
                <tr>
                    <td>@item.Grupocodi</td>
                    <td>@item.Gruponomb</td>
                    <td>
                        @if (item.CurvGrupocodiPrincipal == item.Grupocodi)
                        {
                            @("SI");
                        }
                        else
                        {
                            @("NO");
                        }

                    </td>
                    <td>
                        <a href="#" onclick="EliminarDetalle(@item.Curvcodi, @item.Grupocodi)" id="btnEliminar">
                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



