@model COES.MVC.Intranet.Areas.Despacho.Models.GrupoCurvaModel
<script src="~/Content/Scripts/messaje-operation.js"></script>

<table id="tablaCurva" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Estado</th>            
            <th>Editar</th>
            <th>Detalle</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListaCentral.Count() > 0)
        {
            foreach (var item in Model.ListaCentral)
            {
                <tr>
                    <td>@item.Curvcodi</td>
                    <td>@item.Curvnombre</td>
                    <td>@item.Curvestado</td>
                    <td>
                        <a href="#" onclick="Editar(@item.Curvcodi)" id="btnEditar">
                            <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                    <td>
                        <a href="#" onclick="Detalle(@item.Curvcodi)" id="btnDetalle">
                            <img src="~/Content/Images/btn-properties.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                    <td>
                        <a href="#" onclick="Eliminar(@item.Curvcodi)" id="btnEliminar">
                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



