@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.RelacionBarrasModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "PRODEM - Relación de barras y puntos de medición";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<link href="~/Content/Css/calendar.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/PronosticoDemanda/Content/Scripts/relacionbarras.js?v=3.2"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Relacionar Barras PM con Puntos de medición o Agrupaciones</div>
    </div>
    <div class="content-hijo">
        <div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
            <div class="menu" style="padding: 10px;">
                <div class="h-panel" style="margin-bottom: 5px;">
                    <div class="filters">
                        <div>
                            <label>
                                Área Operativa<input id="areahidden" type="checkbox" style="visibility:hidden"/>
                            </label>
                        </div>
                        <select id="id-area" class="f-select" multiple>
                            @foreach (var item in Model.ListArea)
                            {
                                <option value="@item.Item2">@item.Item3</option>
                            }
                        </select>
                    </div>
                    <div class="filters">
                        <div>
                            <label>
                                <input id="id-valbarra" type="checkbox"/>Barra PM
                            </label>
                        </div>
                            <select id="id-barra" class="f-select" multiple>
                            @foreach (var item in Model.ListBarraPM)
                            {
                                <option value="@item.Grupocodi">@item.Gruponomb</option>
                            }
                            </select>
                    </div>
                    <div class="filters">
                        <div>
                            <label>
                                Empresa<input id="empresahidden" type="checkbox" style="visibility:hidden" />
                            </label>
                        </div>
                        <select id="id-empresa" class="f-selectEmpresa" multiple>
                            @foreach (var item in Model.ListEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
            <div id="message" style="display: none">
                Aquí se agregan los posibles mensajes...
            </div>
            <div>
                <table id="dt" class="pretty tabla-icono"></table>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="general-popup" style="min-width: 500px; min-height: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Relacionar</span>
        <div style="float: right;">
            <input id="btn-pop-guardar" type="button" value="Aceptar" />
        </div>
    </div>
    <div class="popup-text" style="overflow-y: scroll; padding: 0px 10px 0px 0px; height: 600px;">
        <div id="pop-mensaje" style="display: none"></div>
        <div style="margin-bottom: 10px;">
            <div style="font-size: 15px; font-weight: bold; color: #3D90CB;">
                Seleccionados
            </div>
            <div>
                <table id="tb-seleccionados" class="pretty tabla-icono" style="width: 550px;"></table>
            </div>
        </div>
        <div style="margin-bottom: 10px;">
            <div style="font-size: 15px; font-weight: bold; color: #3D90CB; margin-bottom: 5px;">
                Puntos de medición disponibles
            </div>
            <div>
                <div class="h-panel" style="margin-bottom: 5px;">
                    <div class="filters">
                        <select id="id-pto-ubicacion" class="f-pop-select" data-plc="Ubicación"></select>
                    </div>
                    <div class="filters">
                        <select id="id-pto-empresa" class="f-pop-select" data-plc="Empresa"></select>
                    </div>
                </div>
                <div>
                    <table id="tb-puntos" class="pretty tabla-icono" style="width: 550px;"></table>
                </div>
            </div>
        </div>
        <div>
            <div style="font-size: 15px; font-weight: bold; color: #3D90CB;">
                Agrupaciones disponibles
            </div>
            <div>
                @*<div class="h-panel" style="margin-bottom: 5px;">
                    <div class="filters">
                        <select id="id-agr-empresa" class="f-pop-select" data-plc="Empresa">
                            <option>Prueba</option>
                            <option>Prueba</option>
                        </select>
                    </div>
                    <div class="filters">
                        <select id="id-agr-agrupacion" class="f-pop-select" data-plc="Agrupación">
                                @foreach (var item in Model.ListAgrupaciones)
                                {
                                    <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                }
                        </select>
                    </div>
                </div>*@
                <div>
                    <table id="tb-agrupaciones" class="pretty tabla-icono" style="width: 550px;"></table>
                </div>
            </div>
        </div>
    </div>
</div>
