﻿
@model COES.MVC.Intranet.Areas.Evaluacion.Models.TransformadorIncluirModificarModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">@Model.Accion Transformador</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Calcular" id="btnCalcular" name="btnIncluir" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Grabar" id="btnGuardar" name="btnGuardar" class="form-action" style="margin-top: 15px" />
    </div>

</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div class="panel-container">

        @using (Html.BeginForm("IncluirModificar", "Linea", FormMethod.Post, new { @name = "frmIncluirModificarTransformador", id = "frmIncluirModificarTransformador" }))
        {
            <input type="hidden" id="Accion" value="@Model.Accion" />
            <input type="hidden" id="IdTransformador" value="@Model.IdTransformador" />
            <input type="hidden" id="IdProyecto" value="@Model.IdProyecto" />
            <input type="hidden" id="IdEquipo" value="@Model.IdEquipo" />
            <input type="hidden" id="FamCodigo" value="@Model.FamCodigo" />

            <div style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:36%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                    <tr>
                        <td><strong> Identificación del equipo</strong></td>
                        <td class="tbform-label">Motivo de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.MotivoActualizacion" style="width:95%" disabled />
                        </td>
                        <td class="tbform-label">Fecha de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" id="FechaActualizacion" value="@Model.FechaActualizacion" style="width:95%" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                        <th style="width:10%"></th>
                        <th style="width:15%"></th>
                    <tr>
                        <td class="tbform-label">Código ID:</td>
                        <td class="control-no-padding">
                            <input type="text" id="CodigoId" value="@Model.Equicodi" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Código:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Codigo" value="@Model.Codigo" disabled style="width: 95%" />
                        </td>
                        <td class="tbform-label">Ubicación:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Ubicacion" value="@Model.Ubicacion" disabled style="width: 95%" />
                        </td>
                        <td class="tbform-label">Tipo:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Tipo" value="@Model.FamNombre" disabled style="width: 95%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Área:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Area" value="@Model.Area" disabled style="width: 95%" />
                        </td>
                        <td class="tbform-label">Empresa:</td>
                        <td class="control-no-padding">
                            <input type="text" id="Empresa" value="@Model.Empresa" disabled style="width: 95%" />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </div>
            <div style="margin-bottom:0px; padding:15px">
                <strong>Características del equipo</strong>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                    </tr>
                    <tr>
                        <td colspan="6"><Strong>Devanado 1</Strong>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" id="hiddenD1IdCelda" value="@Model.D1IdCelda" />
                            <select id="D1IdCelda" style="width: 100%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in Model.ListaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi.ToString() == Model.D1IdCelda ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Nivel de tensión (KV):</td>
                        <td>
                            <input type="text" id="D1Tension" value="@Model.D1Tension" disabled style="width:90%" />
                        <td>
                        <td colspan="4">
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad ONAN (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D1CapacidadOnanMvaComent" value="@Model.D1CapacidadOnanMvaComent" />
                            <input type="text" id="D1CapacidadOnanMva" value="@Model.D1CapacidadOnanMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D1CapacidadOnanMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad ONAF (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D1CapacidadOnafMvaComent" value="@Model.D1CapacidadOnafMvaComent" />
                            <input type="text" id="D1CapacidadOnafMva" value="@Model.D1CapacidadOnafMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D1CapacidadOnafMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D1CapacidadMvaComent" value="@Model.D1CapacidadMvaComent" />
                                <input type="text" id="D1CapacidadMva" value="@Model.D1CapacidadMva" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D1CapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D1CapacidadAComent" value="@Model.D1CapacidadAComent" />
                                <input type="text" id="D1CapacidadA" value="@Model.D1CapacidadA" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D1CapacidadAComent');" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición núcleo TC (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D1PosicionTcA" value="@Model.D1PosicionTcA" style="width:90%" disabled />
                        </td>
                        <td class="tbform-label">I pick up 1 (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D1PickUp" value="@Model.D1PickUp" disabled style="width: 90%" />
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (A)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D1CapacidadTransmisionAComent" value="@Model.D1CapacidadTransmisionAComent" />
                                <input type="text" id="D1CapacidadTransmisionA" value="@Model.D1CapacidadTransmisionA" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D1CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA)</td>
                        <td class="control-no-padding">
                            <div style="width: 85%">
                                <input type="hidden" id="D1CapacidadTransmisionMvaComent" value="@Model.D1CapacidadTransmisionMvaComent" />
                                <input type="text" id="D1CapacidadTransmisionMva" value="@Model.D1CapacidadTransmisionMva" style="width: 85%" disabled />
                                <a href="JavaScript:editarComentario('D1CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D1FactorLimitanteCalcComent" value="@Model.D1FactorLimitanteCalcComent" />
                                <input type="text" id="D1FactorLimitanteCalc" value="@Model.D1FactorLimitanteCalc" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D1FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D1FactorLimitanteFinalComent" value="@Model.D1FactorLimitanteFinalComent" />
                                <input type="text" id="D1FactorLimitanteFinal" value="@Model.D1FactorLimitanteFinal" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D1FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>
                <table id="table_devanado2" style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                    </tr>
                    <tr>
                        <td colspan="6"><Strong>Devanado 2</Strong>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" id="hiddenD2IdCelda" value="@Model.D2IdCelda" />
                            <select id="D2IdCelda" style="width: 100%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in Model.ListaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi.ToString() == Model.D2IdCelda ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Nivel de tensión (KV):</td>
                        <td>
                            <input type="text" id="D2Tension" value="@Model.D2Tension" disabled style="width:90%" />
                        <td>
                        <td colspan="4">
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad ONAN (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D2CapacidadOnanMvaComent" value="@Model.D2CapacidadOnanMvaComent" />
                            <input type="text" id="D2CapacidadOnanMva" value="@Model.D2CapacidadOnanMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D2CapacidadOnanMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad ONAF (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D2CapacidadOnafMvaComent" value="@Model.D2CapacidadOnafMvaComent" />
                            <input type="text" id="D2CapacidadOnafMva" value="@Model.D2CapacidadOnafMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D2CapacidadOnafMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D2CapacidadMvaComent" value="@Model.D2CapacidadMvaComent" />
                                <input type="text" id="D2CapacidadMva" value="@Model.D2CapacidadMva" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D2CapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D2CapacidadAComent" value="@Model.D2CapacidadAComent" />
                                <input type="text" id="D2CapacidadA" value="@Model.D2CapacidadA" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D2CapacidadAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición núcleo TC (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D2PosicionTcA" value="@Model.D2PosicionTcA" style="width:90%" disabled />
                        </td>
                        <td class="tbform-label">I pick up 1 (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D2PickUp" value="@Model.D2PickUp" disabled style="width: 90%" />
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (A)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D2CapacidadTransmisionAComent" value="@Model.D2CapacidadTransmisionAComent" />
                                <input type="text" id="D2CapacidadTransmisionA" value="@Model.D2CapacidadTransmisionA" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D2CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA)</td>
                        <td class="control-no-padding">
                            <div style="width: 85%">
                                <input type="hidden" id="D2CapacidadTransmisionMvaComent" value="@Model.D2CapacidadTransmisionMvaComent" />
                                <input type="text" id="D2CapacidadTransmisionMva" value="@Model.D2CapacidadTransmisionMva" style="width: 85%" disabled />
                                <a href="JavaScript:editarComentario('D2CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D2FactorLimitanteCalcComent" value="@Model.D2FactorLimitanteCalcComent" />
                                <input type="text" id="D2FactorLimitanteCalc" value="@Model.D2FactorLimitanteCalc" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D2FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D2FactorLimitanteFinalComent" value="@Model.D2FactorLimitanteFinalComent" />
                                <input type="text" id="D2FactorLimitanteFinal" value="@Model.D2FactorLimitanteFinal" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D2FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

                <table id="table_devanado3" style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                    </tr>
                    <tr>
                        <td colspan="6"><Strong>Devanado 3</Strong>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" id="hiddenD3IdCelda" value="@Model.D3IdCelda" />
                            <select id="D3IdCelda" style="width: 100%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in Model.ListaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi.ToString() == Model.D3IdCelda ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Nivel de tensión (KV):</td>
                        <td>
                            <input type="text" id="D3Tension" value="@Model.D3Tension" disabled style="width:90%" />
                        <td>
                        <td colspan="4">
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad ONAN (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D3CapacidadOnanMvaComent" value="@Model.D3CapacidadOnanMvaComent" />
                            <input type="text" id="D3CapacidadOnanMva" value="@Model.D3CapacidadOnanMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D3CapacidadOnanMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad ONAF (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D3CapacidadOnafMvaComent" value="@Model.D3CapacidadOnafMvaComent" />
                            <input type="text" id="D3CapacidadOnafMva" value="@Model.D3CapacidadOnafMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D3CapacidadOnafMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D3CapacidadMvaComent" value="@Model.D3CapacidadMvaComent" />
                                <input type="text" id="D3CapacidadMva" value="@Model.D3CapacidadMva" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D3CapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D3CapacidadAComent" value="@Model.D3CapacidadAComent" />
                                <input type="text" id="D3CapacidadA" value="@Model.D3CapacidadA" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D3CapacidadAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición núcleo TC (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D3PosicionTcA" value="@Model.D3PosicionTcA" style="width:90%" disabled />
                        </td>
                        <td class="tbform-label">I pick up 1 (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D3PickUp" value="@Model.D3PickUp" disabled style="width: 90%" />
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (A)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D3CapacidadTransmisionAComent" value="@Model.D3CapacidadTransmisionAComent" />
                                <input type="text" id="D3CapacidadTransmisionA" value="@Model.D3CapacidadTransmisionA" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D3CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA)</td>
                        <td class="control-no-padding">
                            <div style="width: 85%">
                                <input type="hidden" id="D3CapacidadTransmisionMvaComent" value="@Model.D3CapacidadTransmisionMvaComent" />
                                <input type="text" id="D3CapacidadTransmisionMva" value="@Model.D3CapacidadTransmisionMva" style="width: 85%" disabled />
                                <a href="JavaScript:editarComentario('D3CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D3FactorLimitanteCalcComent" value="@Model.D3FactorLimitanteCalcComent" />
                                <input type="text" id="D3FactorLimitanteCalc" value="@Model.D3FactorLimitanteCalc" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D3FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D3FactorLimitanteFinalComent" value="@Model.D3FactorLimitanteFinalComent" />
                                <input type="text" id="D3FactorLimitanteFinal" value="@Model.D3FactorLimitanteFinal" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D3FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

                <table id="table_devanado4" style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                    </tr>
                    <tr>
                        <td colspan="6"><Strong>Devanado 4</Strong>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" id="hiddenD4IdCelda" value="@Model.D4IdCelda" />
                            <select id="D4IdCelda" style="width: 100%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.ListaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi.ToString() == Model.D4IdCelda ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Nivel de tensión (KV):</td>
                        <td>
                            <input type="text" id="D4Tension" value="@Model.D4Tension" disabled style="width:90%" />
                        <td>
                        <td colspan="4">
                        <td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad ONAN (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D4CapacidadOnanMvaComent" value="@Model.D4CapacidadOnanMvaComent" />
                            <input type="text" id="D4CapacidadOnanMva" value="@Model.D4CapacidadOnanMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D4CapacidadOnanMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad ONAF (MVA):</td>
                        <td class="control-no-padding">
                            <input type="hidden" id="D4CapacidadOnafMvaComent" value="@Model.D4CapacidadOnafMvaComent" />
                            <input type="text" id="D4CapacidadOnafMva" value="@Model.D4CapacidadOnafMva" style="width:80%" maxlength="20" />
                            <a href="JavaScript:editarComentario('D4CapacidadOnafMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                        </td>
                        <td class="tbform-label">Capacidad (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D4CapacidadMvaComent" value="@Model.D4CapacidadMvaComent" />
                                <input type="text" id="D4CapacidadMva" value="@Model.D4CapacidadMva" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D4CapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D4CapacidadAComent" value="@Model.D4CapacidadAComent" />
                                <input type="text" id="D4CapacidadA" value="@Model.D4CapacidadA" disabled style="width:85%" />
                                <a href="JavaScript:editarComentario('D4CapacidadAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición núcleo TC (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D4PosicionTcA" value="@Model.D4PosicionTcA" style="width:90%" disabled />
                        </td>
                        <td class="tbform-label">I pick up 1 (A):</td>
                        <td class="control-no-padding">
                            <input type="text" id="D4PickUp" value="@Model.D4PickUp" disabled style="width: 90%" />
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (A)</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D4CapacidadTransmisionAComent" value="@Model.D4CapacidadTransmisionAComent" />
                                <input type="text" id="D4CapacidadTransmisionA" value="@Model.D4CapacidadTransmisionA" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D4CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA)</td>
                        <td class="control-no-padding">
                            <div style="width: 85%">
                                <input type="hidden" id="D4CapacidadTransmisionMvaComent" value="@Model.D4CapacidadTransmisionMvaComent" />
                                <input type="text" id="D4CapacidadTransmisionMva" value="@Model.D4CapacidadTransmisionMva" style="width: 85%" disabled />
                                <a href="JavaScript:editarComentario('D4CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D4FactorLimitanteCalcComent" value="@Model.D4FactorLimitanteCalcComent" />
                                <input type="text" id="D4FactorLimitanteCalc" value="@Model.D4FactorLimitanteCalc" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D4FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left: 25px"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:85%">
                                <input type="hidden" id="D4FactorLimitanteFinalComent" value="@Model.D4FactorLimitanteFinalComent" />
                                <input type="text" id="D4FactorLimitanteFinal" value="@Model.D4FactorLimitanteFinal" style="width:85%" disabled />
                                <a href="JavaScript:editarComentario('D4FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:25px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                        <th style="width:8%"></th>
                        <th style="width:17%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label">Observaciones:</td>
                        <td colspan="5">
                            <textarea id="Observaciones" value="" style="width:100%" rows="10" maxlength="500">@Model.Observaciones</textarea>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Actualizado por:</td>
                        <td class="control-no-padding">
                            <input type="text" id="ActualizadoPor" value="@Model.UsuarioModificacion" disabled style="width:90%" />
                        </td>
                        <td class="tbform-label">Actualizado el:</td>
                        <td class="control-no-padding">
                            <input type="text" id="ActualizadoEl" value="@Model.FechaModificacion" disabled style="width:90%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

<div id="popUpEditarComentario">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Registrar Comentario</span></div>
    <div id="editarComentario"></div>
</div>


<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/IncluirTransformador.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>