@model COES.MVC.Intranet.Areas.Evaluacion.Models.TransformadorModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }
</style>
<div class="form-title">
    <div class="content-titulo">Transformador</div>
    <div class="content-botonera">
        <input type="button" value="Exportar" id="btnExportar" name="btnExportar" class="form-action" style="margin-top: 15px; display: none;" />
        <input type="button" value="Incluir" id="btnIncluir" name="btnIncluir" class="form-action" style="margin-top: 15px; display: none;" />
        <input type="button" value="Descargar plantilla" id="btnDescargarPlantilla" name="btnDescargarPlantilla" class="form-action" style="margin-top: 15px; display: none;" />
        <input type="button" value="Importar datos de plantilla" id="btnImportarDatos" name="btnImportarDatos" class="form-action" style="margin-top: 15px; display: none;" />
        <input type="hidden" id="hdnNuevo" value="@ViewBag.PermisoNuevo" />
        <input type="hidden" id="hdnExportar" value="@ViewBag.PermisoExportar" />
        <input type="hidden" id="hdnImportar" value="@ViewBag.PermisoImportar" />
    </div>

</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <th style="width: 6%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 7%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 8%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 8%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 6%;"></th>
                    <th style="width: 13%;"></th>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td>Código ID: </td>
                    <td>
                        <input type="text" id="fCodigoId" name="fCodigoId" style="width: 96%;" value="@Model.equicodi" maxlength="20" />
                    </td>
                    <td>Código: </td>
                    <td>
                        <input type="text" id="fCodigo" name="fCodigo" style="width: 100%;" value="@Model.codigo" maxlength="20" />
                    </td>
                    <td>Tipo: </td>
                    <td>
                        <select id="fTipo" name="fTipo" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaTipo)
                            {
                                <option value="@item.Famcodi" @(item.Famcodi == Model.tipo ? "selected" : "")>@item.Famnomb</option>
                            }
                        </select>
                    </td>
                    <td>Ubicación: </td>
                    <td>
                        <select id="fUbicacion" name="fUbicacion" style="width: 100%;" multiple="multiple">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaUbicacion)
                            {
                                <option value="@item.Areacodi" @(item.Areacodi == Model.ubicacion ? "selected" : "")>@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td>Empresa: </td>
                    <td>
                        <select id="fEmpresa" name="fEmpresa" style="width: 100%;" multiple="multiple">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi" @(item.Emprcodi == Model.empresa ? "selected" : "")>@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td>Área: </td>
                    <td>
                        <select id="fArea" name="fArea" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaArea)
                            {
                                <option value="@item.Areacodi" @(item.Areacodi == Model.area ? "selected" : "")>@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td>Nivel de tensión (kV): </td>
                    <td>
                        <input type="text" id="fNivelTension" name="fNivelTension" style="width: 100%;" value="@Model.tension" maxlength="20" />
                    </td>
                    <td>Estado: </td>
                    <td>
                        <select id="fEstado" name="fEstado" style="width: 100%;">
                            <option value="">TODOS</option>
                            @foreach (var item in Model.ListaEstado)
                            {
                                <option value="@item.Eqcatdabrev" @(item.Eqcatdabrev == Model.estado ? "selected" : "")>@item.Eqcatddescripcion</option>
                            }
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="content-botonera">
                            <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" style="margin-top: 15px" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="content-hijo" id="mainLayout">
            <div id='lista'></div>
        </div>
    </div>
</div>


<div id="popUpEditar">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Agregar al módulo de Protecciones</span></div>
    <div id="editarArea"></div>
</div>

<div id="popUpIncluir">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Seleccionar motivo de la actualización</span></div>
    <div id="incluir"></div>
</div>

<div id="popupCargaMasiva" class="general-popup" style="height:400px;width:600px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span id="tituloInicio">Importar Datos | Paso 1 / 2</span>
    </div>
    <div class="popup-text">
        <table id="tblCarga" style="width:95%">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Por favor seleccione el archivo a importar, recuerde que este debe tener el formato pre-establecido</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>  <input type="text" id="txtNombreArchivo" name="txtNombreArchivo" style="width: 100%;" value="" disabled="disabled" /></td>
                <td>
                    <div id="container">
                        <input type="button" value="Cargar Archivo" id="btnCargarArchivo" name="btnCargarArchivo" class="form-action" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <div id="idTerrores" style="height:250px; display:none;">

    </div>
    <div class="popup-title" id="idExito" style="height:250px; display:none;">
        <br />
        <br />
        <br />
        <br />
        <span id="mensajeExito"></span>
    </div>
    <div>
        <table style="width:100%">
            <tr>
                <th style="width:100px">&nbsp;</th>
                <th style="width:100px">&nbsp;</th>
                <th style="width:100px">&nbsp;</th>
                <th style="width:100px">&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>
                <td style="width:100px">&nbsp;</td>

                <td>
                    <input type="button" value="Siguiente" id="btnSiguiente" name="btnSiguiente" class="form-action" style="width:150px" disabled="disabled" />
                    <input type="button" value="Cerrar" id="btnCerrar" name="btnCerrar" class="form-action" style="width: 150px;display:none;" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="popupExcluirEquipo" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>¿Esta seguro de excluir el equipo?</span></div>
    <div class="panel-container">

        <input type="hidden" id="IdEquipo" />

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table style="width:100%;margin-right: auto" class="table-form-show">
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td>Si excluye el equipo podrá volverlo a incluir a través de la opción «Incluir»</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <input id="btnCerrarExcluir" value="Cerrar" type="button">  <input id="btnExcluir" value="Excluir" type="button">
</div>

<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/Transformador.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
