@model COES.MVC.Intranet.Areas.TransfPotencia.Models.ConsultaEnviosModel
    <div style="font-size: 16px; font-weight: bold; margin-bottom: 15px; text-align: center;">
        Lista de envios seleccionados de @Model.EntidadPeriodo.PeriNombre / @Model.EntidadRecalculo.Recpotnombre
    </div>
<div style="color:crimson; font-size: 14px; margin-bottom: 15px;">
    <img src="~/Content/Images/ico-warning.gif" title="Alerta" /> La información listada reemplazará a la existente, y se considerará en las Liquidaciones como Mejor Información
</div>
<table border="0" class="pretty tabla-icono" id="EnviosSeleccionados">
    <thead>
        <tr>
            <th>Cod.Envío</th>
            <th>Empresa</th>
            <th>Fecha envío</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPeajeEgreso)
        {
            int sPK = item.Pegrcodi;
            <tr id="fila_@sPK">
                <td>@sPK</td>
                <td class="text_left" title="@item.Emprcodi">@item.Emprnomb</td>
                <td>@item.Pegrfeccreacion.ToString("dd/MM/yyyy HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-top: 15px; text-align:center">
    <div id="divSiLiquidacion" style="float:right"><input type="button" id="btnSiLiquidacion" onclick="siLiquidacion();" value="Si" title="Procesar requerimiento" /></div>
    <div id="divNo" style="float:right"><input type="button" onclick=" $(this).addClass('button b-close');" id="btnNo" value="No" title="Cancelar acción" /></div>
    <div id="divCerrar" style="float:right"><input type="button" id="btnCerrar" onclick="cerrarPopup2();" value="Cerrar" title="Cerrar ventana" /></div>
</div>
<div>
    <span class="button b-close"><span>X</span></span>
</div>