@model COES.MVC.Extranet.Areas.Account.Models.RegistroModel

<table class="table-form-content">
    <tr>
        <td class="label">Nombre:</td>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <td class="label">Apellido:</td>
        <td>@Model.Apellido</td>
    </tr>
    <tr>
        <td class="label">Empresa:</td>
        <td>@Model.EmpresaNombre</td>
    </tr>
    <tr>
        <td class="label">Correo coporativo:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td class="label">Teléfono:</td>
        <td>@Model.Telefono</td>
    </tr>
</table>