@using System.Globalization
@model COES.MVC.Intranet.Areas.Eventos.Models.EvePAleatoriasModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Areas/Eventos/Content/Scripts/jquery.maphilight.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/mapa.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/PruebasAleatoriasEditar.js?v=1"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Pruebas Aleatorias</div>
        <div class="content-botonera">
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
</div>
<div class="action-message" id="mensaje"></div>
<map name="Map" id="Map" class="Map">

    <area id="btnSIC2HOP" shape="rect" coords="23,0,190,69" href="JavaScript:retornar();" title="Paso 2" />    
    <area id="btnOA2PRIARR" shape="rect" coords="243,746,410,815" href="JavaScript:retornar();" title="Paso 2" />

    <area id="btnNOEXIT2RESRESLT" shape="rect" coords="958,421,1125,490" href="JavaScript:retornar();" title="Paso 2" />
    <area id="btnSORT2PRUE" shape="rect" coords="23,312,190,381" href="JavaScript:retornar();" title="Paso 2" />
    <area id="btnHOP2UT30D" shape="rect" coords="23,90,190,159" href="JavaScript:retornar();" title="Paso 2" />
    <area id="btnGrupoPrueba" shape="poly" coords="1,547,101,510,197,547,100,584" href="JavaScript:retornar();" />
    <area id="btnPRUENO2PA" shape="rect" coords="200,407,225,427" href="JavaScript:retornar();" />
    
    <area id="btnFALLUNIDSI2NOEXIT" shape="rect" coords="1372,867,1392,887" href="JavaScript:retornar();" />
    <area id="btnEXITSI2RESPRUE" shape="rect" coords="1055,929,1075,949" href="JavaScript:retornar();" />
    <area id="btnSEGARRSI2EXIT" shape="rect" coords="896,869,916,889" href="JavaScript:retornar();" />
    <area id="btnREARRNO2NOEXIT" shape="rect" coords="567,929,592,949" href="JavaScript:retornar();" />
    <area id="btnREARRSI2SEGARR" shape="rect" coords="660,894,679,913" href="JavaScript:retornar();" />
    <area id="btnPRIARRSI2EXIT" shape="rect" coords="665,756,685,776" href="JavaScript:retornar();" />
    <area id="btnPRUESI2GPRUE" shape="rect" coords="116,477,136,497" href="JavaScript:retornar();" />
    <area id="btnGPRUESI2UPRUE" shape="rect" coords="113,585,133,605" href="JavaScript:retornar();" />
    <area id="btnFALLUNIDNO2PABORT" shape="rect" coords="1285,927,1310,947" href="JavaScript:retornar();" />
    <area id="btnEXITNO2FALLUNID" shape="rect" coords="1139,868,1164,888" href="JavaScript:retornar();" />
    <area id="btnSEGARRNO2NOEXIT" shape="rect" coords="806,929,831,949" href="JavaScript:retornar();" />
    <area id="btnPRIARRNO2REARR" shape="rect" coords="576,820,601,840" href="JavaScript:retornar();" />
    <area id="btnGPRUENO2NPRUE" shape="rect" coords="201,524,226,544" href="JavaScript:retornar();" />
    @*<area id="btnPruebaExitosaFin" shape="poly" coords="978,1061,994,1054,1094,1054,1108,1061,1108,1078,1094,1085,993,1085,978,1078" href="JavaScript:retornar();" />*@
    <area id="btnGruposPrueba" shape="poly" coords="463,537,479,530,579,530,593,537,593,554,579,561,478,561,463,554" href="JavaScript:retornar();" />
    <area id="btnDiaDePrueba" shape="poly" coords="463,420,479,413,579,413,593,420,593,437,579,444,478,444,463,437" href="JavaScript:retornar();" />
    <area id="btnUnidadIndisponible" shape="poly" coords="983,655,999,648,1099,648,1113,655,1113,672,1099,679,998,679,983,672" href="JavaScript:retornar();" />
    <area id="btnRESRESLT2FIN" shape="poly" coords="957,525,957,618,1126,592,1126,525" href="JavaScript:retornar();" />
    <area id="btnRPRUE2OA" shape="poly" coords="244,622,244,715,413,689,413,622" href="JavaScript:retornar();" />
    <area id="btnUPRUE2RPRUE" shape="poly" coords="21,627,21,720,190,694,190,627" href="JavaScript:retornar();" />
    <area id="btnNPRUE2FIN" shape="poly" coords="246,497,246,590,415,564,415,497" href="JavaScript:retornar();" />
    <area id="btnUT30D2SORT" shape="poly" coords="26,191,26,284,195,258,195,191" href="JavaScript:retornar();" />
    <area id="btnPA2FIN" shape="poly" coords="246,382,246,475,415,449,415,382" href="JavaScript:retornar();" />
    <area id="btnFallaUnidad" shape="poly" coords="1175,891,1275,854,1371,891,1274,928" href="JavaScript:retornar();" />
    <area id="btnPruebaExitosa" shape="poly" coords="946,891,1046,854,1142,891,1045,928" href="JavaScript:retornar();" />
    <area id="btnSegundoArranque" shape="poly" coords="698,891,798,854,894,891,797,928" href="JavaScript:retornar();" />
    <area id="btnSolicitudEmpresa" shape="poly" coords="463,891,563,854,659,891,562,928" href="JavaScript:retornar();" />
    <area id="btnPrimerArranque" shape="poly" coords="462,781,562,744,658,781,561,818" href="JavaScript:retornar();" />
    <area id="btndiaPrueba" shape="poly" coords="2,435,102,398,198,435,101,472" href="JavaScript:retornar();" />
    <area id="btnRESPRUE2FIN" shape="rect" coords="963,956,1130,1025" href="JavaScript:retornar();" title="Paso 2" />
    <area id="btnPABORT2RESPRUE" shape="rect" coords="1185,958,1352,1027" href="JavaScript:retornar();" title="Paso 2" />

    <area id="btnPAVERIFDATOSING" shape="rect" coords="963,1055,1130,1124" href="JavaScript:retornar();" />
    <area id="btnPruebaExitosaFin" shape="poly" coords="997,1154,1091,1154,1108,1160,1108,1177,1095,1184,996,1184,979,1177,979,1160" href="JavaScript:retornar();" />
</map>

<input type="hidden" id="hfPAFECHA" name="PAFECHA" value="@Model.Pafecha" />
<input type="hidden" id="hfSIC2HOP" name="SIC2HOP" value="@Model.Sic2hop" />
<input type="hidden" id="hfHOP2UT30D" name="HOP2UT30D" value="@Model.Hop2ut30d" />
<input type="hidden" id="hfUT30D2SORT" name="UT30D2SORT" value="@Model.Ut30d2sort" />
<input type="hidden" id="hfSORT2PRUE" name="SORT2PRUE" value="@Model.Sort2prue" />
<input type="hidden" id="hfPRUENO2PA" name="PRUENO2PA" value="@Model.Prueno2pa" />
<input type="hidden" id="hfPA2FIN" name="PA2FIN" value="@Model.Pa2fin" />
<input type="hidden" id="hfPRUESI2GPRUE" name="PRUESI2GPRUE" value="@Model.Pruesi2gprue" />
<input type="hidden" id="hfGPRUENO2NPRUE" name="GPRUENO2NPRUE" value="@Model.Gprueno2nprue" />
<input type="hidden" id="hfNPRUE2FIN" name="NPRUE2FIN" value="@Model.Nprue2fin" />
<input type="hidden" id="hfGPRUESI2UPRUE" name="GPRUESI2UPRUE" value="@Model.Gpruesi2uprue" />
<input type="hidden" id="hfUPRUE2RPRUE" name="UPRUE2RPRUE" value="@Model.Uprue2rprue" />
<input type="hidden" id="hfRPRUE2OA" name="RPRUE2OA" value="@Model.Rprue2oa" />
<input type="hidden" id="hfOA2PRIARR" name="OA2PRIARR" value="@Model.Oa2priarr" />
<input type="hidden" id="hfPRIARRSI2EXIT" name="PRIARRSI2EXIT" value="@Model.Priarrsi2exit" />
<input type="hidden" id="hfPRIARRNO2REARR" name="PRIARRNO2REARR" value="@Model.Priarrno2rearr" />
<input type="hidden" id="hfREARRNO2NOEXIT" name="REARRNO2NOEXIT" value="@Model.Rearrno2noexit" />
<input type="hidden" id="hfREARRSI2SEGARR" name="REARRSI2SEGARR" value="@Model.Rearrsi2segarr" />
<input type="hidden" id="hfSEGARRNO2NOEXIT" name="SEGARRNO2NOEXIT" value="@Model.Segarrno2noexit" />
<input type="hidden" id="hfSEGARRSI2EXIT" name="SEGARRSI2EXIT" value="@Model.Segarrsi2exit" />
<input type="hidden" id="hfEXITNO2FALLUNID" name="EXITNO2FALLUNID" value="@Model.Exitno2fallunid" />
<input type="hidden" id="hfFALLUNIDSI2NOEXIT" name="FALLUNIDSI2NOEXIT" value="@Model.Fallunidsi2noexit" />
<input type="hidden" id="hfEXITSI2RESPRUE" name="EXITSI2RESPRUE" value="@Model.Exitsi2resprue" />
<input type="hidden" id="hfFALLUNIDNO2PABORT" name="FALLUNIDNO2PABORT" value="@Model.Fallunidno2pabort" />
<input type="hidden" id="hfPABORT2RESPRUE" name="PABORT2RESPRUE" value="@Model.Pabort2resprue" />
<input type="hidden" id="hfRESPRUE2FIN" name="RESPRUE2FIN" value="@Model.Resprue2fin" />
<input type="hidden" id="hfNOEXIT2RESRESLT" name="NOEXIT2RESRESLT" value="@Model.Noexit2resreslt" />
<input type="hidden" id="hfRESRESLT2FIN" name="RESRESLT2FIN" value="@Model.Resreslt2fin" />
<input type="hidden" id="hfFINAL" name="FINAL" value="@Model.Final" />
<input type="hidden" id="hfPAVERIFDATOSING" name="PAVERIFDATOSING" value="@Model.Paverifdatosing" />


<div class="content-hijo" id="mainLayout">
    <table class="content-registro">
        <tr>
            
            <td>
                @{
                    var fecha1 = Model.Pafecha;
                    DateTime fecha = DateTime.ParseExact(fecha1, "yyyyMMdd", CultureInfo.InvariantCulture);
                    var f1 = fecha.ToString("dd/MM/yyyy");
                    <input type="text" id="fecha" name="fecha" value="Fecha: @f1" disabled="" />
                }
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            
            <td>
                <select id="cbUsuario" name="Usuario" style="width: 200px">
                    <option value="0">--- Seleccione Operador ---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfPernomb" name="Programador" value="@Model.Programador" />
            </td>
        </tr>
        <tr>
            <td>
                <img class="map" src="~/Areas/Eventos/Content/Images/Pruebas%20aleatorias%20-%20final.png" usemap="#Map"/>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="content-label" id="lblObservaciones"><b> Observaciones</b></td>
            <td class="registro-control">
                @if (Model.Accion == 1)
                {
                    <input type="button" id="btnGrabarObservacion" name="btnGrabarObservacion" value="Grabar Observación"/>
                }
                <input type="hidden" id="hfAccion" name="Accion" value="@Model.Accion"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <textarea id="txtObservaciones" maxlength="1000" name="Detalle1" cols="100" rows="5">@Model.Paobservacion</textarea>
            </td>
        </tr>

    </table>

</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Formato de correo</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>