@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaPAleatoriasModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte">
    <table id="tablaArea" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
        <tr>
            <th style="width:40px; min-width:40px">Acciones</th>
            <th>Fecha</th>
            <th>Resultado</th>
            <th>Prueba exitosa</th>
            <th>Primer intento exitoso</th>
            <th>Segundo intento exitoso</th>
            <th>Usuario</th>
            <th>Última modificación</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ListaPAleatoria)
        {
            DateTime pafecha = (DateTime)item.Pafecha;
            <tr>
                <td style="width:60px; min-width:60px">
                    <a href="JavaScript:editar(@item.Pafecha.ToString("yyyyMMdd"),0)" title="Ver...">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                    @{
                        if (Model.AccionEditar)
                        {
                            <a href="JavaScript:editar(@item.Pafecha.ToString("yyyyMMdd"),1)" title="Editar...">
                                <img src="~/Content/Images/btn-edit.png"/>
                            </a>
                        }
                        else
                        {
                            <a>
                            </a>
                        }

                        if (Model.AccionEliminar)
                        {
                            <a href="JavaScript:eliminar(@item.Pafecha.ToString("yyyyMMdd"))" title="Eliminar...">
                                <img src="~/Content/Images/btn-cancel.png"/>
                            </a>
                        }
                        else
                        {
                            <a>
                            </a>
                        }
                    }
                </td>
                
                <td>@item.Pafecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Resultado</td>
                <td>@item.PruebaExitosa</td>
                <td>@item.PrimerIntentoExitoso</td>
                <td>@item.SegundoIntentoExitoso</td>
                <td>@item.Lastuser</td>
                <td>@item.Lastdate</td>
            </tr>
        }
        </tbody>
    </table>
</div>

