@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.CargaModel


<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
           
            <th>Señal</th>
            <th>Fecha / Hora</th>
            <th>Valor</th>
            <th>Usuario</th>
            <th>Fecha de carga</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaConsulta.Count > 0)
        {
            foreach (var item in Model.ListaConsulta)
            {
                <tr>
                   
                    <td>@item.Canalnomb</td>                   
                    <td>
                        @if (item.Codasefechahora != null)
                        {
                            <span>@(((DateTime)item.Codasefechahora).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>                
                    <td>@item.Codasevalor</td>
                    <td>@item.Codaseusucreacion</td>
                    <td>
                        @if (item.Codasefeccreacion != null)
                        {
                            <span>@(((DateTime)item.Codasefeccreacion).ToString("dd/MM/yyyy HH:mm"))</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>