@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.DatosSP7Model

@{
    ViewBag.Title = "Importar Insumos - Datos SP7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/CostoOportunidad/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/CostoOportunidad/Content/Scripts/datossp7.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">Importar Insumos - Datos SP7</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:100%" role="presentation">
            <tr>
                <td style="padding-left: 15px; width: 50px; vertical-align: middle; ">Periodo:</td>
                <td style="width: 250px;">
                    <select id="cbAnioPeriodo" style="width: 57px;">
                        @foreach (var anio in Model.ListaAnios)
                        {
                            var selected = Model.Anio == anio ? "selected" : "";
                            <option value="@anio" @(selected)>@anio</option>
                        }
                    </select>
                    <select id="cbMesPeriodo" style="width: 120px">
                        @foreach (var item in Model.ListaPeriodos)
                        {
                            <option value="@item.Copercodi">@item.Copernomb</option>
                        }
                    </select>
                </td>


                <td style="width: 50px; vertical-align: middle;">Versión:</td>
                <td style="">
                    <select id="cbVersion">
                        <option value="0">--Escoger versión--</option>
                       
                        @foreach (var item in Model.ListaVersiones)
                        {
                            <option value="@item.Covercodi">@item.Coverdesc</option>
                        }
                    </select>
                </td>


                <td style="width: 150px;">
                    <input type="button" id="btnImportarDF" value="Importar Días Faltantes">
                </td>
                <td style="width: 90px;">
                    <input type="button" id="btnImportarTodo" value="Importar Todo">
                </td>



            </tr>
        </table>
    </div>

    <div class="content-tabla" id="excelwebImportados" style="padding-top: 20px; width:1000px;">
        <div class="table-list" id="listadoDeImportados">

        </div>
    </div>

</div>


