@model COES.MVC.Intranet.Areas.Transferencias.Models.EnvioInformacionModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Lista de envíos";
}
<div>
    <div class="form-title" style="padding: 2px 4px; font-size: 12px; color: #3498DB; line-height: 20px; text-align: center; ">Lista de envios en el mes de Valorización<br>@Model.EntidadRecalculo.PeriNombre / @Model.EntidadRecalculo.RecaNombre</div>
    <table border="0" class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Código Envío</th>
                <th>Fecha y Hora</th>
                <th>Usuario</th>
                <th>Plazo</th>
                <th style="width:30px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEnvios)
            {
                var iTipoinfocodi = 0;
                var sColor = "cadetblue";
                if (@item.TrnEnvTipInf == "IB")
                {
                    iTipoinfocodi = 1;
                }
                else if (@item.TrnEnvTipInf == "DM")
                {
                    iTipoinfocodi = 2;
                }
                var sPlazo = "En plazo";
                if (@item.TrnEnvPlazo == "N")
                {
                    sPlazo = "Fuera de plazo";
                    sColor = "crimson";
                }
                <tr id="fila_@item.TrnEnvCodi">
                <td class="text_left">@item.TrnEnvCodi</td>
                <td class="text_left">@item.TrnEnvFecIns.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td class="text_left">@item.TrnEnvUseIns</td>
                <td class="text_left" style="font-weight: bold; color: @sColor">@sPlazo</td>
                <td style="width:30px;"><a href="@Url.Action("Index", new { pericodi = item.PeriCodi, recacodi = item.RecaCodi, emprcodi = item.EmprCodi, tipoinfocodi = iTipoinfocodi, trnenvcodi = item.TrnEnvCodi })"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Editar el registro" alt="Editar el registro" /></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <span class="button b-close"><span>X</span></span>
</div>
