@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var anio = (IEnumerable<SelectListItem>)TempData["Aniocodigo"];
    var mes = (IEnumerable<SelectListItem>)TempData["Mescodigo"];
}
<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/MaximaDemanda.js"></script>

@using (Html.BeginForm("Save", "MaximaDemanda", FormMethod.Post, new { id = "frmMaximaDemanda", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre - @sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "MaximaDemanda")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <input type="hidden" value="" id="caiprscodi" />
            <input type="hidden" value="" id="caiajcodi" />
                   @Html.HiddenFor(model => model.EntidadMaximaDemanda.Caimdecodi)
                   @Html.HiddenFor(model => model.EntidadMaximaDemanda.Caiajcodi)
                   @Html.HiddenFor(model => model.EntidadMaximaDemanda.Caimdetipoinfo)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Codfech, "Fecha")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Codfech, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Codfech)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Codhor, "Hora")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Codhor)
                            @Html.ValidationMessageFor(model => model.Codhor)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadMaximaDemanda.Caimdemaxdemanda, "Máxima demanda MW")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EntidadMaximaDemanda.Caimdemaxdemanda)
                            @Html.ValidationMessageFor(model => model.EntidadMaximaDemanda.Caimdemaxdemanda)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    </div>
}
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmMaximaDemanda").validate({
        rules: {
            "Codfech": {
                required: true
            },
            "Codhor": {
                required: true
            },
            "EntidadMaximaDemanda.Caimdemaxdemanda": {
                required: true
            }
        }
    });
</script>