@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel

@{
    ViewBag.Title = "Calculo de los Porcentaje de Aportes - Máxima demanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/maximademanda.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/load.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Fecha y hora de la máxima demanda ejecutada </div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                <input type="button" value="Copiar Maxima Demanda Ejecutada - SGOCOES" id="btnCopiarMD" alt="Copiar Maxima Demanda Ejecutada - SGOCOES" title="Copiar Maxima Demanda Ejecutada - SGOCOES" />
                <input type="button" value="Refrescar" id="btnRefrescar" onclick="location.href='@Url.Action("Index","maximademanda")'" alt="Refrescar" title="Refrescar" />
            }
        </div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadPresupuesto.Caiprscodi > 0 && Model.EntidadAjuste.Caiajcodi > 0)
            {
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Prespuesto de consulta: @Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Año de Presupuesto y Versión de Ajuste</div>
            }
            <table>
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td style="width:120px"><div>Presupuesto Anual: </div></td>
                                    <td style="width:180px">
                                        <div class="editor-field" style="width:50px">
                                            <select id="caiprscodi" name="caiprscodi" onchange="refrescar();">
                                                @foreach (var item in Model.ListaPresupuesto)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiprscodi == Model.Caiprscodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiprscodi" @sSelected>@item.Caiprsnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:60px">Ajuste: </td>
                                    <td style="width:250px">
                                        <div class="editor-field" style="width:250px">
                                            <select id="caiajcodi" name="caiajcodi" style="width:250px">
                                                @foreach (var item in Model.ListaAjuste)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiajcodi == Model.Caiajcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiajcodi" @sSelected>@item.Caiajnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="content-hijo" style="padding-top:0px">
            <div class="listado" id="listado"></div>
        </div>
    </div>
</div>
