@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="text-align:left">Intervalo</th>
            <th style="text-align:left">Año / Mes</th>
            <th style="text-align:left">Fecha / Hora de Máxima Demanda</th>
            <th style="text-align:left">Máxima Demanda MW</th>
            <th style="text-align:left">Tipo</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaMaximaDemanda)
        {
            <tr id="fila_@item.Caimdecodi">
                <td style="text-align:left">@item.Caimdeaniomes</td>
                <td style="text-align:left">@item.NombreMes</td>
                <td style="text-align:left">@if (item.Caimdefechor != null)
                { <span>@item.Caimdefechor.Value.ToString("f", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</span>}</td>
                <td style="text-align:left">@item.NombreTipo</td>
                <td style="text-align:right">@item.Caimdemaxdemanda.ToString("#,##0.00000")</td>
                <td style="width:30px;"><a href="#" id="view_@item.Caimdecodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar && item.Caimdetipoinfo == "P")
                    {
                        <a href="@Url.Action("Edit", new { caimdecodi = item.Caimdecodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar && item.Caimdetipoinfo == "P")
                    {
                        <a href="#" id="eliminar_@item.Caimdecodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
