@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel
@{
    ViewBag.Title = "View";
}

<fieldset>
    <legend>MaximaDemanda</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadMaximaDemanda.NombreMes, "Año / Mes : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadMaximaDemanda.NombreMes)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadMaximaDemanda.Caimdefechor, "Fecha / Hora :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadMaximaDemanda.Caimdefechor)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadMaximaDemanda.NombreTipo, "Tipo : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadMaximaDemanda.NombreTipo)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>
