@model COES.Dominio.DTO.Transferencias.TipoUsuarioDTO
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
         {
             Text = "Activo",
             Value = "ACT",
             Selected = true
         });
    listItems.Add(new SelectListItem
         {
             Text = "Inactivo",
             Value = "INA"
         });
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "tipousuario", FormMethod.Post, new { id = "frmTipousuario", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","tipousuario")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.TipoUsuaCodi)
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TipoUsuaNombre, "Nombre")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.TipoUsuaNombre, new { size = 50, maxLength = 100 })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TipoUsuaEstado, "Estado")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Tipousuaestado", listItems)

                            @Html.ValidationMessageFor(model => model.TipoUsuaEstado)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmTipousuario").validate({
        rules: {
            TipoUsuaNombre: {
                required: true
            }
        }
    });

</script>
