@model COES.MVC.Intranet.Areas.Web.Models.CalendarioModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Título:</td>
                <td class="registro-control">
                    <input type="text" id="txtTitulo" name="Titulo" maxlength="100" style="width:300px" value="@Model.Entidad.Calendtitulo" />
                </td>
            </tr>            
            <tr>
                <td class="registro-label">Fecha Inicio:</td>
                <td class="registro-control">
                    <input type="text" id="txtHoraInicial" name="FechaInicio" style="width:160px" value="@Model.FechaInicio" />
                    <div style="display:none">
                        <input type="text" id="txtTimeInicial" name="HoraInicio" style="width:100px" value="@Model.HoraInicio" />
                    </div>
                </td>
            </tr>
            <tr style="display:none">
                <td class="registro-label">Fecha Fin:</td>
                <td class="registro-control">
                    <input type="text" id="txtHoraFinal" name="FechaFin" style="width:160px" value="@Model.FechaFin" />
                    <input type="text" id="txtTimeFinal" name="HoraFin" style="width:100px" value="@Model.HoraFin" />                    
                </td>
            </tr>
            <tr>
                <td class="registro-label">Tipo Evento:</td>
                <td class="registro-control">
                    <select id="cbTipoEvento" name="TipoEvento">
                        <option value="">-Seleccione-</option>
                        @foreach (var item in Model.ListaTipo)
                        { 
                            <option value="@item.Tipcalcodi">@item.Tipcaldesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoEvento" value="@Model.Entidad.Tipcalcodi" />
                </td>
            </tr>
            <tr style="display:none">
                <td class="registro-label">Ícono:</td>
                <td class="registro-control" style="background-color:#2da6e4">
                    
                    @foreach (var item in Model.ListaIconos)
                    { 
                        <input type="radio" name="Icono" value="@item" /><img src="~/Content/Images/@item" />
                    }                       
                    
                    <input type="hidden" id="hfIcono" value="@Model.Entidad.Calendicon" />
                </td>
            </tr>
            <tr style="display:none">
                <td class="registro-label">Color:</td>
                <td class="registro-control">
                    <div class="color-contenedor">
                        @foreach (var item in Model.ListaColores)
                        {
                            <div class="color-contenedor-item">
                                <input type="radio" name="Color" value="@item" /><div class="color-calendario" style="background-color:@item">&nbsp;</div>
                            </div>
                        }
                    </div>
                    <input type="hidden" id="hfColor" value="@Model.Entidad.Calendcolor" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado" name="Estado" style="width:300px">
                        <option value="">-Seleccione-</option>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Calendestado" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <textarea id="txtDescripcion" name="Descripcion" maxlength="200" style="width:300px">@Model.Entidad.Calenddescripcion</textarea>
                </td>
            </tr>

        </table>
       

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Calendcodi" />

    </form>
</div>
