@model COES.MVC.Intranet.Areas.Web.Models.MesCalendarioModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Color Sábado</th>
            <th>Color Domingo</th>
            <th>Color Mes</th>
            <th>Infografía</th>
            <th>Estado</th>            
            <th>Usuario Modificación</th>
            <th>Fecha Modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Mescalcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Mescalcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Mescaltitulo</td>
                    <td>@item.Mescalanio</td>
                    <td>@item.Mescalnombmes</td>                   
                    <td>
                        <div class="color-calendario" style="margin:auto; background-color:@item.Mescalcolorsat">&nbsp;</div>
                    </td>
                    <td>
                        <div class="color-calendario" style="margin:auto; background-color:@item.Mescalcolorsun">&nbsp;</div>
                    </td>
                    <td>
                        <div class="color-calendario" style="margin:auto; background-color:@item.Mescalcolor">&nbsp;</div>
                    </td>
                    <td>@item.Mescalinfo</td>
                    <td>@item.Mescalestado</td>
                    <td>@item.Mescalusumodificacion</td>
                    <td>@item.Mescalfecmodificacion</td>
                </tr>
            }
        }
    </tbody>
</table>