@model COES.MVC.Intranet.Areas.Web.Models.CalendarioModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Fecha Evento</th>            
            <th>Ícono</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Usuario Modificación</th>
            <th>Fecha Modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaCalendario.Count > 0)
        {
            foreach (var item in Model.ListaCalendario)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Calendcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Calendcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Calendtitulo</td>
                    <td>@item.Calendtipo</td>
                    <td>
                        @if(item.Calendfecinicio!=null){
                            <span>@(((DateTime)item.Calendfecinicio).ToString("dd/MM/yyyy"))</span>
                        }
                    </td>
                    
                    <td>
                        <div style="background-color:#3c90c8; width:15px; height:15px; padding:3px;  margin:auto">
                            @if (item.Calendicon != "")
                            {
                                <img src="~/Content/Images/@item.Calendicon" />
                            }
                        </div>
                    </td>
                    <td>
                        <div class="color-calendario" style="margin:auto; background-color:@item.Calendcolor">&nbsp;</div>
                    </td>
                    <td>@item.Calendestado</td>
                    <td>@item.Calendusumodificacion</td>
                    <td>@item.Calendfecmodificacion</td>                 
                </tr>
            }
        }
    </tbody>
</table>