@model COES.MVC.Intranet.Areas.Web.Models.TipoEventoModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Descripcion:</td>
                <td class="registro-control">
                    <input type="text" id="txtDescripcion" name="Descripcion" maxlength="100" style="width:300px" value="@Model.Entidad.Tipcaldesc" />
                </td>
            </tr>            
            <tr>
                <td class="registro-label">Ícono:</td>
                <td class="registro-control" style="background-color:#2da6e4">
                    @foreach (var item in Model.ListaIcono)
                    {
                        <input type="radio" name="Icono" value="@item" /><img src="~/Content/Images/@item" />
                    }
                    <input type="hidden" id="hfIcono" value="@Model.Entidad.Tipcalicono" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Color del Evento:</td>
                <td class="registro-control">
                    <input type="text" id="txtColor" name="Color" value="@Model.Entidad.Tipcalcolor" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Tipcalcodi" />

    </form>
</div>
