@model COES.MVC.Extranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.LogProceso != null)
{
    if (Model.LogProceso.Count() == 0)
    {
        <div class="action-alert">
            <label>No se encontraron Registros!</label>
        </div>
    }


    else
    {
        <table class="pretty tabla-formulario" id="tabla">
            <thead>
                <tr>
                    <th>Valorización</th>
                    <th>Fecha Valorización</th>
                    <th>Fecha Proceso</th>
                    <th>Descripcion</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LogProceso)
                {
                    <tr>
                        <td>@item.Valocodi</td>
                        <td>@item.Valofecha</td>
                        <td>@item.Logpfecha.ToString("dd/MM/yyyy")</td>
                        <td>@item.Logplog</td>
                        <td>@item.Logphorainicio.ToString("HH:mm:ss")</td>
                        <td>@item.Logphorafin.ToString("HH:mm:ss")</td>
                        <td>@item.Logpusucreacion</td>
                        @if (@item.Logptipo == 'M')
                        {
                            <td>Manual</td>
                        }
                        else
                        {
                            <td>Automático</td>
                        }
                        @if (@item.Logpestado == 'E')
                        {
                            <td style="color:green;font-weight:bold;">Exitoso</td>
                        }
                        else
                        {
                            <td style="color:red;font-weight:bold;">Fallido</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
