@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ConsultasModel
@if (Model.MontoPorCapacidad.Count == 0)
{

    <div class="action-alert">
        <label>No se encontraron Registros!</label>
    </div>
}
else
{
    <table class="pretty tabla-formulario" id="tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Participante</th>
                <th>Margen Reserva (%)</th>
                <th>Precio Potencia (S/./Kw-Mes)</th>
                <th>PFirmeRemun (KW)</th>
                <th>PFirmeRemun/(1+mr) (KW)</th>
                <th>Demanda Clientes(MW)</th>
                <th>Monto Por Capacidad (S/.)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MontoPorCapacidad)
            {
            <tr>
                <td>@item.Valofecha.ToString("MMMM-yyyy")</td>
                <td>@item.Emprnomb</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valomr)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valopreciopotencia)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valdpfirremun)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", (item.Valdpfirremun / (1 + item.Valomr)))</td>
                <td style="text-align:right">@String.Format("{0:0.00}", item.Valddemandacoincidente)</td>
                <td style="text-align:right">@String.Format("{0:0.00}", (((item.Valddemandacoincidente - item.Valdpfirremun) / (1 + item.Valomr)) * item.Valopreciopotencia))</td>
            </tr>
            }
        </tbody>
    </table>
}