@model COES.MVC.Extranet.Areas.IEOD.Models.MensajeModel

@{
    int tipo = (int)Session["TIPO_LISTA"];
    string titulo = "";

    if (tipo == 1) { titulo = "Bandeja de Entrada"; }
    else { titulo = "Bandeja de Salida"; }
}

<div class="mail-box-header">

    <!--<form method="get" action="index.html" class="pull-right mail-search">
        <div class="input-group">
            <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-primary">
                    Search
                </button>
            </div>
        </div>
    </form>-->
    <h2>
        @titulo
    </h2>
    <div class="table-paginado" id="paginado" style="position:relative; top:-25px"></div>
    <div class="mail-tools tooltip-demo m-t-md">
        <!--   <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

        </div>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>
        -->
        
    </div>
</div>


<div class="mail-box">

    <table class="table table-hover table-mail" style="width: 100%;">
        <tbody>
            @foreach (var item in Model.ListaMensajes)
            {
                string estadoCls = "unread";
                if (@item.EstMsgCodi == 1) { estadoCls = "read"; }

                <tr class="@estadoCls">
                    <!---->
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>

                    @if (tipo == 1)
                    {
                        <td class="mail-ontact"><a href="JavaScript:verContenido(@item.MsgCodi);">@item.MsgFromName</a></td>
                    }
                    else
                    {
                        <td class="mail-ontact"><a href="JavaScript:verContenido(@item.MsgCodi);">Para: @item.MsgTo</a></td>
                    }
                    <td class="mail-subject"><a href="JavaScript:verContenido(@item.MsgCodi);">@item.MsgAsunto</a></td>
                    @if (@item.MsgFlagAdj == 1)
                    {
                        <td class=""><i class="fa fa-paperclip"></i></td>
                    }
                    <td class="text-right mail-date" style="font-size: 10.5px;">@item.MsgFecha</td>
                </tr>



            }

        </tbody>
    </table>
    <div style="height:10px;"></div>

</div>