@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.SrmComentarioModel


<link href="~/Areas/SeguimientoRecomendacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/SeguimientoRecomendacion/Content/Scripts/comentarioeditar.js?v=1"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div @*class="content-hijo"*@ id="mainLayout">
    <form id="formCom" name="formCom">
        <div class="action-message" id="mensajeCom">Ingrese los datos.</div>


        <table>
            <tr>
                <td id="lblSrmcomFechacoment ">Fecha Comentario</td>
                <td>
                   
                    <input id="txtSrmcomFechacoment" type="text" name="SrmcomFechacoment" value="@Model.SrmComentario.Fechacomentario" />
                    <input type="hidden" id="hfSrmcomCodi" value="@Model.SrmComentario.Srmcomcodi" name="SrmcomCodi" />
                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    <input type="hidden" id="hfSrmreccodi" name="Srmreccodi" value="@Model.SrmComentario.Srmreccodi" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="hfSrmcomGruporespons" name="SrmcomGruporespons" value="@Model.SrmComentario.Srmcomgruporespons" />
                    <input type="radio" id="rbSrmcomGruporesponsS" name="rbSrmcomGruporespons" value="S" />COES
                </td>
                <td>
                    <select id="cbUsercodeCom" name="UsercodeCom" style="width:300px">
                        @foreach (var item in Model.ListaFwUser)
                        {
                            <option value="@item.USERCODE">@item.USERNAME</option>
                        }
                    </select>
                    <input type="hidden" id="hfUsercodeCom" name="Usercode" value="@Model.SrmComentario.Usercode" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="rbSrmcomGruporesponsN" name="rbSrmcomGruporespons" value="N" />Agente
                </td>
                <td>
                    <select id="cbEmprCodi" name="EmprCodi" style="width:300px">
                        @foreach (var item in Model.ListaSiEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmprCodi" name="EmprCodi" value="@Model.SrmComentario.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td id="lblSrmcomComentario">Comentario</td>
                <td class="registro-control">
                    <textarea id="txtSrmcomComentario" maxlength="1500" name="SrmcomComentario" cols="60" rows="3">@Model.SrmComentario.Srmcomcomentario</textarea>
                    <input type="hidden" id="hfSrmcomActivo" name="SrmcomActivo" value="@Model.SrmComentario.Srmcomactivo" />
                    <input id="txtSrmcomUsucreacion" type="text" name="SrmcomUsucreacion" value="@Model.SrmComentario.Srmcomusucreacion" readonly="readonly" hidden="hidden">
                   
                    <input id="txtSrmcomFeccreacion" type="text" name="SrmcomFeccreacion" value="@Model.SrmComentario.Fechacreacion" readonly="readonly" hidden="hidden" />
                    <input id="txtSrmcomUsumodificacion" type="text" name="SrmcomUsumodificacion" value="@Model.SrmComentario.Srmcomusumodificacion" readonly="readonly" hidden="hidden">
                   
                    <input id="txtSrmcomFecmodificacion" type="text" name="SrmcomFecmodificacion" value="@Model.SrmComentario.Fechamodificacion" readonly="readonly" hidden="hidden" />
                </td>
            </tr>
            <tr>
                <td>Carga de archivos</td>
                <td>
                    <input type="button" id="btnSelectFileCom" value="Seleccionar archivo" style="margin-left:0"/>
                    <input type="button" value="Cancelar Carga" id="btnCancelarCargaCom" onclick="cancelarCargaCom();" />
                    <div id="containerCom" @*class="file-carga"*@ class="div.ex" style="width:100%">
                        <div class="file-carga-titulo">Archivos seleccionados</div>
                        <div id="loadingcargaCom" class="estado-carga">
                            <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
                            <div class="estado-text">Cargando...</div>
                        </div>
                        <div id="filelistCom">No soportado por el navegador.</div>
                        <div style="width:200px; text-align:center; margin:auto; margin-top:20px">
                            <input type="button" value="Cargar archivos" id="btnCargarArchivoCom" hidden="hidden" />
                        </div>
                    </div>
                    <div id="listaArchivosCom">
                    </div>
                </td>
            </tr>
        </table>     

        <div style="width:160px; margin:auto; margin-top:10px">

            @if (Model.IndicadorGrabar)
            {
                <input type="button" id="btnGrabarCom" value="Grabar" />
            }

            <input type="button" id="btnCancelarCom" value="Cancelar" />
        </div>

    </form>
</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Comentario</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>
