@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/DemandaBarras/Content/Scripts/excelweb.js?v=3.0"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/DemandaBarras/Content/Scripts/handsontable.js?v=1"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Carga medidores de distribución</div>   
</div>
<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione empresa y periodo</div>
        <table style="width:auto">
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto">
                            <tr>
                                <td>Empresa:</td>
                                <td>
                                    <select id="cbEmpresa" name="IdEmpresa">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </td>
                                <td>Periodo:</td>
                                <td>
                                    <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                                </td>
                                <td>
                                    <input type="button" id="btnConsultar" value="Aceptar" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:none" id="divAcciones">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="content-action">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/bajar.png" /><br />
                                            <span>Descargar formato</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnSelectExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/subir.png" /><br />
                                            <span>Importar formato</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/enviar.png" /><br />
                                            <span>Enviar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/errores.png" /><br />
                                            <span>Mostrar errores</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnVerEnvios">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/envios.png" /><br />
                                            <span>Ver envíos</span>
                                        </div>
                                    </a>
                                </td>                                
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div class="bodyexcel" id='detalleFormato'></div>
    </div>

</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">

    </div>
</div>

<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">
    </div>
</div>

<input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
<input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfMes" value="@Model.Mes" />
<input type="hidden" id="hfDataExcel" value="" />
<input type="hidden" id="hfIndicador" />
