@model COES.MVC.Intranet.Areas.Eventos.Models.MantenimientoModel
@using System.Globalization
<script type="text/javascript">

    $(function () {
        $('#tab-container').easytabs({
            animate: false
        });

    });
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 1;   
    }   

</script>

<div style="clear:both; height:15px"></div>
<div id="reporte">
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>Tipo Equipo</th>
            <th>Equipo</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Descripción</th>
            <th>PROG</th>
            <th>Interrup.</th>
            <th>Indisp.</th>
            <th>Tensión</th>
            <th>Tipo Mantto</th>
            <th>CodEq</th>
            <th>TipoEq_Osinerg</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaManttos)
        {
            DateTime EvenIni = (DateTime)item.Evenini;
            DateTime EvenFin = (DateTime)item.Evenfin;
            decimal tension = 0;
            string sttension = string.Empty;
            if (item.Equitension != null)
            {
                tension = (decimal)item.Equitension;
                sttension = tension.ToString("N", nfi);
            }
            <tr>
                <td>@item.Evenclasedesc</td>
                <td>@item.Emprnomb.ToString()</td>
                <td>@item.Areanomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equiabrev</td>
                <td>@EvenIni.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@EvenFin.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@item.Evendescrip </td>
                <td>@item.Eventipoprog</td>
                <td>@item.Eveninterrup</td>
                <td>@item.Evenindispo</td>
                <td>@sttension</td>
                <td>@item.Tipoevenabrev</td>
                <td>@item.Equicodi</td>
                <td>@item.Osigrupocodi</td>

            </tr>
        }
    </tbody>
</table>
</div>

<div id="tab-container" class='tab-container' style="display: none;">
    <ul class='etabs'>
        <li class='tab'><a href="#paso1">Gráfico 1</a></li>
        <li class='tab'><a href="#paso2">Gráfico 2</a></li>
        <li class='tab'><a href="#paso3">Gráfico 3</a></li>
        <li class="tab"><a href="#paso4">Gráfico 4</a></li>
        <li class="tab"><a href="#paso5">Gráfico 5</a></li>
        <li class="tab"><a href="#paso6">Gráfico 6</a></li>
    </ul>
<div class='panel-container'>
    <div id="paso1">
        <table>
        <tr>
            <td colspan="2" class="titulo-reporte-mantenimiento"><div id="tituloManttoEmpresa" ></div></td>
        </tr>
        <tr>
            <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
        </tr>
        <tr>
                <td valign="top">
                     <div id="legendManttoEmpresa"></div>
                    <hr>
                     <div id="excelManttoEmpresa"></div>
                </td>
            <td valign="top">
                <div id="graficoManttoEmpresa" style="width: 900px; height: 500px; margin: 0 auto"></div>
            </td>
        </tr>
        </table>
    </div>
    <div id="paso2">
        <table>
            <tr>
                <td colspan="2" class="titulo-reporte-mantenimiento"><div id="tituloManttoEquipo"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td valign="top">
                     <div id="legendManttoEquipo"></div>
                     <hr>
                     <div id="excelManttoEquipo"></div>
                </td>
                <td valign="top">
                    <div id="graficoManttoEquipo" style="width: 900px; height: 500px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="paso3">
        <table>
            <tr>
                <td colspan="2" class="titulo-reporte-mantenimiento"><div id="tituloManttoEmpresaEquipo1"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td valign="top">
                     <div id="legendManttoEmpresaEquipo1"></div>
                     <hr>
                     <div id="excelManttoEmpresaEquipo1"></div>
                </td>
                <td valign="top">
                    <div id="graficoManttoEmpresaEquipo1" style="width: 900px; height: 500px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="paso4">
        <table>
            <tr>
                <td colspan="2" class="titulo-reporte-mantenimiento"><div id="tituloManttoEmpresaEquipo2"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td valign="top">
                     <div id="legendManttoEmpresaEquipo2"></div>
                      <hr>
                     <div id="excelManttoEmpresaEquipo2"></div>                   
                </td>
                <td valign="top">
                    <div id="graficoManttoEmpresaEquipo2" style="width: 900px; height: 500px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="paso5">
        <table>
            <tr>
                <td colspan="2" class="titulo-reporte-mantenimiento"><div id ="tituloManttoEquipo2"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td valign="top">
                     <div id="legendManttoEquipo2"></div>
                      <hr>
                     <div id="excelManttoEquipo2"></div> 
                </td>
                <td valign="top">
                    <div id="graficoManttoEquipo2" style="width: 900px; height: 500px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="paso6">
        <table>
            <tr>
                <td colspan="2" class="titulo-reporte-mantenimiento"><div id="tituloTipoManttoTipoEmpresa"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="separacion-reporte-mantenimiento"><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td valign="top">
                     <div id="legendTipoManttoTipoEmpresa"></div>
                                          <hr>
                     <div id="excelTipoManttoTipoEmpresa"></div> 
                </td>
                <td valign="top">
                    <div id="graficoTipoMantoTipoEmpresa" style="width: 900px; height: 500px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

</div>