
@{
    ViewBag.Title = "Información EPO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.mask.js"></script>

<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEpo/bandejaweb.js"></script>


<style>
    .text-danger {
        color: red !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Consultar Información EPO </div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="search-content">
        <table border="0" class="content-tabla-search" style="width:auto">
            <tr>
                <td>Rango Fecha Presentación:</td>
                <td>
                    <input type="text" id="txtFchPresentacionIni" style="width: 90px" />
                    <input type="text" id="txtFchPresentacionFin" style="width: 90px" />
                </td>
                <td>Rango Fecha Conformidad:</td>
                <td>
                    <input type="text" id="txtFchConformidadIni" style="width: 90px" />
                    <input type="text" id="txtFchConformidadFin" style="width: 90px" />
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cboEstado" name="cboEstado" style="width: 152px">
                        <option value="0">Todos</option>
                        @foreach (var item in ViewBag.ListadoEstudioEstados)
                        {
                            <option value="@item.Estacodi">@item.Estadescripcion</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />

                </td>
            </tr>
            <tr>
                <td>Gestor del Proyecto:</td>
                <td>
                    <select id="cboTitularProyecto" name="cboEstado" style="width: 198px">
                        <option value="0">Todos</option>
                        @foreach (var item in ViewBag.ListadoEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Nombre del Estudio:</td>
                <td>
                    <input type="text" id="txtNombreEstudio" style="width: 190px" />
                </td>
                <td>Código de Proyecto:</td>
                <td>
                    <input type="text" id="txtCodigioProyecto" style="width: 152px" />
                </td>
                <td><input type="button" id="btnExportar" value="Exportar EPO" /></td>
            </tr>
            <tr>
                <td>Punto de Conexión:</td>
                <td>

                    <select id="cboPuntCodi" name="cboPuntCodi" style="width: 200px">
                        <option value="0">Todos</option>
                        @foreach (var item in ViewBag.ListadoPuntoConexion)
                        {
                            <option value="@item.PuntCodi">@item.PuntDescripcion</option>
                        }
                    </select>
                </td>

                <td>Año de Puesta en Servicio:</td>
                <td>
                    <input type="text" id="txtAnioPuestoServicio" style="width: 190px" />
                </td>


                <td>Tipo del Proyecto:</td>
                <td>
                    <select id="cboTipoProyecto" name="cboTipoProyecto" style="width: 158px">
                        <option value="0">Todos</option>
                        <option value="Generación Convencional">Generación Convencional</option>
                        <option value="Generación No Convencional">Generación No Convencional</option>
                        <option value="Transmisión">Transmisión</option>
                        <option value="Demanda">Demanda</option>
                    </select>
                </td>
                <td><input type="button" id="btnExportarEO" value="Exportar EO" /></td>
            </tr>

            <tr>
                <td>Zona del Proyecto:</td>
                <td>
                    <select id="cboZonaProyeto" name="cboEstado" style="width: 195px">
                        <option value="0">Todos</option>
                        @foreach (var item in ViewBag.ListadoZonaProyecto)
                        {
                            <option value="@item.Zoncodi">@item.ZonDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>

        <div class="tabla-header">
            <div class="table-paginado" id="paginadoEo"></div>
        </div>
        <div class="table-list" id="listadoEo"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>
