@model  COES.Dominio.DTO.Sic.EpoEstudioEpoDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table th, .table td {
        border-top: 1px solid #dddddd;
    }

    .text-center {
        text-align: center;
    }

    .text-success {
        color: #468847;
    }

        .text-success td {
            background-color: rgb(249, 249, 249);
            padding: 6px;
        }


    .text-info {
        color: #3a87ad;
    }

        .text-info td {
            background-color: rgb(223, 240, 216);
            padding: 6px;
        }

    .text-normal td {
        background-color: rgb(249, 249, 249);
        padding: 6px;
    }

    .text-normal-gris td {
        background-color: rgb(239, 238, 239);
        padding: 6px;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #dddddd;
    }
</style>

<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEpO/revision.js"></script>

@Html.Hidden("Estepocodi", Model.Estepocodi, new { id = "Estepocodi" })

<div style="padding: 5px">
    <h3>Datos de Revisión EPO</h3>
    <table style="width:70%" cellpadding="6">
        <tr>
            <td>Código de Estudio:</td>
            <td><input type="text" readonly value="@Model.Estepocodiusu" /></td>
            <td>Nombre de Estudio:</td>
            <td><input type="text" readonly value="@Model.Esteponomb" /></td>
        </tr>
        <tr>
            <td>Reponsable:</td>
            <td><input type="text" readonly value="@Model.Username" /></td>
            <td>Gestor del Proyecto:</td>
            <td><input type="text" readonly value="@Model.Emprnomb" /></td>
        </tr>
        <tr>
            <td>Tercero Involucrado:</td>
            <td colspan="3"><textarea readonly rows="3" cols="100">@ViewBag.TerceroInvolucrado</textarea></td>
            
        </tr>
        <tr>
            <td>Fecha de Presentación:</td>
            <td><input type="text" readonly value="@(Model.Estepofechaini.HasValue ? (Model.Estepofechaini.Value.ToShortDateString() != "1/01/0001" ? Model.Estepofechaini.Value.ToString("dd/MM/yyyy") : "") : "")" /></td>
            <td>Fecha Conformidad:</td>
            <td><input type="text" readonly value="@(Model.Estepofechafin.HasValue ? (Model.Estepofechafin.Value.ToShortDateString() != "1/01/0001" ? Model.Estepofechafin.Value.ToString("dd/MM/yyyy") : ""): "")" /></td>

        </tr>
        <tr>
            <td>Estado:</td>
            <td><input type="text" readonly value="@Model.Estadescripcion" /></td>
        </tr>
    </table>
    <div class="clear"></div>
    <br />
    <input type="button" id="btnNuevo" onclick="javascript: nuevaRevision(@Model.Estepocodi,0,@Model.TipoConfig);" value="Nueva Revisión" />
    <input type="button" id="btnNuevo" onclick="javascript: regresar();" value="Regresar" />
    <br />
    <table>
        <tr>
            <td>
                <table class="table-bordered" border="1">
                    <tr class="text-success text-center">
                        <td>Nro. Revisión</td>
                        <td colspan="3">Presentación del EPO / Absolución de Observaciones<br />(Gestor del Proyecto)</td>
                        <td colspan="3">Envío del Estudio al Tercero Involucrado<br />(COES)</td>
                        <td colspan="3">Revisión del Estudio<br />(Tercero Involucrado)</td>
                        <td colspan="3">Revisión y Conformidad del Estudio<br />(COES)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-info text-center">
                        <td style="width:10px;"></td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;"></td>
                        <td style="width:10px;"></td>
                    </tr>
                    @{
                        int contador = 1;
                        foreach (COES.Dominio.DTO.Sic.EpoRevisionEpoDTO item in ViewBag.ListadoRevision)
                        {
                            string filaclass = (contador % 2 == 0) ? "text-normal-gris" : "text-normal";
                            <tr class="text-center @filaclass">
                                <td>
                                    @contador
                                </td>
                                <td>
                                    @(item.Revepolevobsfechaini.HasValue ? (item.Revepolevobsfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepolevobsfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepolevobsfechafin.HasValue ? (item.Revepolevobsfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepolevobsfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.LevantamientObservacionEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.LevantamientObservacionEstadoColor" title="@item.LevantamientObservacionEstado" />
                                    }
                                </td>
                                <td>
                                    <a href="@item.Revepolevobsenl" target="_blank">@item.Revepolevobstit</a>
                                </td>
                                <td>
                                    @(item.Revepoenvesttercinvfechaini.HasValue ? (item.Revepoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepoenvesttercinvinvfechafin.HasValue ? (item.Revepoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.EnvioEstudioTercerInvolucradoEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.EnvioEstudioTercerInvolucradoEstadoColor" title="@item.EnvioEstudioTercerInvolucradoEstado" />
                                    }
                                </td>
                                <td>
                                    <a href="@item.Revepoenvesttercinvenl" target="_blank">@item.Revepoenvesttercinvtit</a>
                                </td>
                                <td>
                                    @(item.Reveporevterinvfechaini.HasValue ? (item.Reveporevterinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevterinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Reveporevterinvfechafin.HasValue ? (item.Reveporevterinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevterinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.RevisionEstudioEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.RevisionEstudioEstadoColor" title="@item.RevisionEstudioEstado" />
                                    }
                                </td>
                                <td>
                                    <a href="@item.Reveporevterinvenl" target="_blank">@item.Reveporevterinvtit</a>
                                </td>
                                <td>
                                    @(item.Reveporevcoesfechaini.HasValue ? (item.Reveporevcoesfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevcoesfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepocoesfechafin.HasValue ? (item.Revepocoesfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepocoesfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.RevisionConfirmidadEstudioEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.RevisionConfirmidadEstudioEstadoColor" title="@item.RevisionConfirmidadEstudioEstado" />
                                    }
                                </td>
                                <td>
                                    <a href="@item.Reveporevcoescartarevisionenl" target="_blank">@item.Reveporevcoescartarevisiontit</a>
                                </td>
                                <td>
                                    <a href="#" onclick="javascript: nuevaRevision(@item.Estepocodi, @item.Revepocodi, @Model.TipoConfig)">Actualizar</a>
                                    
                                </td>
                                <td>
                                    @if (contador == ViewBag.ListadoRevision.Count)
                                    {
                                        <a href="#" onclick="javascript: ConfirmarEliminar(@item.Revepocodi, @item.Estepocodi)">Eliminar</a>
                                    }
                                </td>
                            </tr>

                            contador++;
                        }
                    }

                </table>
            </td>
        </tr>
    </table>
</div>