@model  COES.Dominio.DTO.Sic.EpoEstudioEpoDTO

@{
    ViewBag.Title = "Detalle EPO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table th, .table td {
        border-top: 1px solid #dddddd;
    }

    .text-center {
        text-align: center;
    }

    .text-success {
        color: #468847;
    }

        .text-success td {
            background-color: rgb(249, 249, 249);
            padding: 6px;
        }


    .text-info {
        color: #3a87ad;
    }

        .text-info td {
            background-color: rgb(223, 240, 216);
            padding: 6px;
        }

    .text-normal td {
        background-color: rgb(249, 249, 249);
        padding: 6px;
    }

    .text-normal-gris td {
        background-color: rgb(239, 238, 239);
        padding: 6px;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #dddddd;
    }
</style>

<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEpo/revision.js"></script>

<div style="padding: 5px">
    <h3>Datos del Estudio</h3>
    <table style="width:70%" cellpadding="6">
        <tr>
            <td>Código de Estudio:</td>
            <td><input type="text" readonly value="@Model.Estepocodiusu" /></td>
            <td>Nombre de Estudio:</td>
            <td><input type="text" readonly value="@Model.Esteponomb" /></td>
        </tr>
        <tr>
            <td>Reponsable:</td>
            <td><input type="text" readonly value="@Model.Esteporesponsable" /></td>
            <td>Gestor del Proyecto:</td>
            <td><input type="text" readonly value="@Model.Emprnomb" /></td>
        </tr>
        <tr>
            <td>Tercero Involucrado:</td>
            <td colspan="3"><textarea readonly rows="3" cols="100">@ViewBag.TerceroInvolucrado</textarea></td>

        </tr>
        <tr>
            <td>Fecha de Presentación:</td>
            <td><input type="text" readonly value="@(Model.Estepofechaini.HasValue ? (Model.Estepofechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepofechaini.Value.ToString("dd/MM/yyyy") : "") : "")" /></td>
            <td>Fecha Conformidad:</td>
            <td><input type="text" readonly value="@(Model.Estepofechafin.HasValue ? (Model.Estepofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepofechafin.Value.ToString("dd/MM/yyyy") : "") : "")" /></td>

        </tr>
        <tr>
            <td>Punto de conexión:</td>
            <td><input type="text" readonly value="@Model.Estepopuntoconexion" /></td>
            <td>Año de puesta en servicio:</td>
            <td><input type="text" readonly value="@Model.Estepoanospuestaservicio" /></td>
        </tr>
        <tr>
            <td>Tipo de Proyecto:	</td>
            <td>
                <input type="text" readonly value="@Model.EstepoTipoProyecto" />

                @*@if (!string.IsNullOrEmpty(Model.Estepopotencia))
                {
                    <input type="text" readonly value="Potencia de Generación @Model.Estepopotencia" />
                }
                else if (!string.IsNullOrEmpty(Model.Estepocapacidad))
                {
                    <input type="text" readonly value="Potencia de Demanda @Model.Estepocapacidad" />

                }
                else if (!string.IsNullOrEmpty(Model.Estepocarga))
                {
                    <input type="text" readonly value="Transmisión @Model.Estepocapacidad" />
                }
                else
                {
                    <input type="text" readonly value="" />
                }*@
            </td>
            <td>Estado:</td>
            <td><input type="text" readonly value="@Model.Estadescripcion" /></td>
        </tr>
        <tr>
            <td>Zona de Proyecto:</td>
            <td>
                <input type="text" readonly value="@Model.ZonDescripcion" />
            </td>
        </tr>
        <tr>
            <td>Comentarios:</td>
            <td colspan="3">
                @Html.TextAreaFor(m => m.Estepoobs, new { @class = "form-control", @readonly="readonly", rows = "5", cols = "100", autocomplete = "off" })
            </td>
        </tr>
    </table>
    <h3>Datos del Proceso y Verificación</h3>
    <table>
        <tr>
            <td>
                <table class="table-bordered" width="100%">
                    <tr class="text-success text-center">
                        <td colspan="4">Solicitud de Alcance<br />(Gestor del Proyecto)</td>
                        <td colspan="6">Verificación Presentación del EPO</td>
                    </tr>
                    <tr class="text-info text-center">
                        <td colspan="2">Solicitud de Alcance<br />(Gestor del Proyecto)</td>
                        <td colspan="2">Envío de Alcances<br />(COES)</td>
                        <td colspan="2">Presentación del EPO<br />(Gestor del Proyecto)</td>
                        <td colspan="2">Verificación de Información<br />(COES)</td>
                        <td colspan="2">Absolución de Observaciones (Gestor del Proyecto)</td>

                    </tr>
                    <tr class="text-normal text-center">
                        <td>Enlace</td>
                        <td>Fecha inicio</td>
                        <td>Enlace</td>
                        <td>Fecha Final</td>
                        <td>Enlace</td>
                        <td>Fecha Inicio</td>
                        <td>Enlace</td>
                        <td>Fecha de Verificación</td>
                        <td>Enlace</td>
                        <td>Fecha de Absolución</td>
                    </tr>
                    <tr class="text-normal-gris text-center">
                        <td>@Model.Estepoalcancesolesttit</td>
                        <td>
                            @(Model.Estepoalcancefechaini.HasValue ? (Model.Estepoalcancefechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepoalcancefechaini.Value.ToString("dd/MM/yyyy") : "") : "")

                            @if (!string.IsNullOrEmpty(Model.Estepoalcanceestadocolor))
                            {
                                <hr style="border: solid 3px @Model.Estepoalcanceestadocolor" title="@Model.Estepoalcanceestado" />
                            }
                        </td>
                        <td>@Model.Estepoalcanceenviotit</td>
                        <td>@(Model.Estepoalcancefechafin.HasValue ? (Model.Estepoalcancefechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepoalcancefechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                        <td>@Model.Estepoverientregaesttit</td>
                        <td>@(Model.Estepoverifechaini.HasValue ? (Model.Estepoverifechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepoverifechaini.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                        <td>@Model.Estepovericartatit</td>
                        <td>
                            @(Model.Estepoverifechafin.HasValue ? (Model.Estepoverifechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepoverifechafin.Value.ToString("dd/MM/yyyy") : "") : "")
                            @if (!string.IsNullOrEmpty(Model.Estepoveriestadocolor))
                            {
                                <hr style="border: solid 3px @Model.Estepoveriestadocolor" title="@Model.Estepoveriestado" />
                            }
                        </td>
                        <td>@Model.EstepoAbsTit</td>
                        <td>
                            @(Model.EstepoAbsFFin.HasValue ? (Model.EstepoAbsFFin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.EstepoAbsFFin.Value.ToString("dd/MM/yyyy") : "") : "")
                            @if (!string.IsNullOrEmpty(Model.EstepoAbsestadocolor))
                            {
                                <hr style="border: solid 3px @Model.EstepoAbsestadocolor" title="@Model.EstepoAbsestado" />
                            }
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h3>Datos de Revisión EPO</h3>
    <table>
        <tr>
            <td>
                <table class="table-bordered" border="1">
                    <tr class="text-success text-center">
                        <td>Nro. Revisión</td>
                        <td colspan="3">Presentación EPO / Absolución de Observaciones<br />(Gestor del Proyecto)</td>
                        <td colspan="3">Envío del Estudio al Tercero Involucrado<br />(COES)</td>
                        <td colspan="3">Revisión del Estudio<br />(Tercero Involucrado)</td>
                        <td colspan="3">Revisión y Conformidad del Estudio<br />(COES)</td>
                        
                    </tr>
                    <tr class="text-info text-center">
                        <td style="width:10px;"></td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        <td style="width:10px;">Fecha Inicio</td>
                        <td style="width:10px;">Fecha Fin</td>
                        <td style="width:10px;">Comunicación</td>
                        
                    </tr>
                    @{
                        int contador = 1;
                        foreach (COES.Dominio.DTO.Sic.EpoRevisionEpoDTO item in ViewBag.ListadoRevision)
                        {
                            string filaclass = (contador % 2 == 0) ? "text-normal-gris" : "text-normal";
                            <tr class="text-center @filaclass">
                                <td>
                                    @contador
                                </td>
                                <td>
                                    @(item.Revepolevobsfechaini.HasValue ? (item.Revepolevobsfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepolevobsfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepolevobsfechafin.HasValue ? (item.Revepolevobsfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepolevobsfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.LevantamientObservacionEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.LevantamientObservacionEstadoColor" title="@item.LevantamientObservacionEstado" />
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Revepolevobsenl))
                                    {
                                        @item.Revepolevobstit
                                    }
                                    else
                                    {
                                        @item.Revepolevobstit
                                    }
                                </td>
                                <td>
                                    @(item.Revepoenvesttercinvfechaini.HasValue ? (item.Revepoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepoenvesttercinvinvfechafin.HasValue ? (item.Revepoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.EnvioEstudioTercerInvolucradoEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.EnvioEstudioTercerInvolucradoEstadoColor" title="@item.EnvioEstudioTercerInvolucradoEstado" />
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Revepoenvesttercinvenl))
                                    {
                                        @item.Revepoenvesttercinvtit
                                    }
                                    else
                                    {
                                        @item.Revepoenvesttercinvtit
                                    }
                                </td>
                                <td>
                                    @(item.Reveporevterinvfechaini.HasValue ? (item.Reveporevterinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevterinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Reveporevterinvfechafin.HasValue ? (item.Reveporevterinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevterinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.RevisionEstudioEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.RevisionEstudioEstadoColor" title="@item.RevisionEstudioEstado" />
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Reveporevterinvenl))
                                    {
                                        @item.Reveporevterinvtit
                                    }
                                    else
                                    {
                                        @item.Reveporevterinvtit
                                    }
                                </td>
                                <td>
                                    @(item.Reveporevcoesfechaini.HasValue ? (item.Reveporevcoesfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveporevcoesfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                </td>
                                
                                <td>
                                    @(item.Revepocoesfechafin.HasValue ? (item.Revepocoesfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Revepocoesfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(item.RevisionConfirmidadEstudioEstadoColor))
                                    {
                                        <hr style="border: solid 3px @item.RevisionConfirmidadEstudioEstadoColor" title="@item.RevisionConfirmidadEstudioEstado" />
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Reveporevcoescartarevisionenl))
                                    {
                                        @item.Reveporevcoescartarevisiontit
                                    }
                                    else
                                    {
                                        @item.Reveporevcoescartarevisiontit
                                    }
                                </td>
                                @*<td>
                                    <a href="#" onclick="javascript: nuevaRevision(@item.Estepocodi, @item.Revepocodi)">Actualizar</a>
                                    <a>Eliminar</a>
                                </td>*@
                            </tr>

                            contador++;
                        }
                    }
                    <tr class="text-normal">
                        <td colspan="13"></td>
                    </tr>
                    <tr class="text-normal">
                        <td></td>
                        <td colspan="2">Carta de Conformidad: </td>
                        <td colspan="3">@Model.Estepocertconformidadtit</td>
                        <td>@(Model.Estepofechafin.HasValue ? (Model.Estepofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Estepofechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                        <td></td>
                        <td></td>
                        <td colspan="2">Resumen Ejecutivo:</td>
                        <td colspan="3"><a target="_blank" href="@Model.Esteporesumenejecutivoenl">@Model.Esteporesumenejecutivotit</a></td>
                    </tr>
                    <tr class="text-normal">
                        <td colspan="13"></td>
                    </tr>
                    <tr class="text-normal">
                        <td></td>
                        <td colspan="3">Nº Días calendario (Gestor del Proyecto):</td>
                        <td>@Model.TotNroDiasTitProyect</td>
                        <td></td>
                        <td colspan="2">Nº Días calendario (Tercero Involucrado):</td>
                        <td>@Model.TotNroDiasTercerInv</td>
                        <td></td>
                        <td colspan="2">Nº Días calendario (COES):</td>
                        <td>@Model.TotNroDiasCoes</td>
                    </tr>
                    <tr class="text-normal">
                        <td></td>
                        <td colspan="3"></td>
                        <td></td>
                        <td></td>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td colspan="2">Promedio Nº Días hábiles (COES):</td>
                        <td>@Model.PromNroDiasHabilesCoes</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>