@model COES.MVC.Intranet.Areas.CortoPlazo.Models.LineaModel

@{ 
    var tipo = "";
    if (Model.TipoGrupo == "2") { tipo = "Minimo"; }
}

<table border="0" class="pretty tabla-icono" id="@("tablaGrupoLinea" + tipo)">
    <thead>
        <tr>
            <th style="width:80px"></th>
            <th>Nombre</th>
            <th>Valor Límite</th>
            <th>Porcentaje Límite</th>
            <th>Estado</th>
            <!--<th>Nombre NCP</th>
            <th>COD. NCP</th>-->
        </tr>
    </thead>
    <tbody>
        @if (Model.ListGrupoLinea.Count > 0)
        {
            foreach (var item in Model.ListGrupoLinea)
            {
                <tr>
                    <td style="width:80px">
                        <a href="JavaScript:editarGrupo(@item.Grulincodi, '@Model.TipoGrupo');"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarGrupo(@item.Grulincodi, '@Model.TipoGrupo');"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:enlacesGrupo(@item.Grulincodi, '@Model.TipoGrupo');"><img src="~/Content/Images/btn-properties.png" /></a>
                    </td>
                    <td>@item.Grulinnombre</td>
                    <td>@item.Grulinvallintrans</td>
                    <td>@item.Grulinporlimtrans</td>
                    <td>@item.Grulinestado</td>
                    <!--<td>@item.Nombrencp</td>
                    <td>@item.Codincp</td>-->
                </tr>
            }
        }
    </tbody>
</table>