@model COES.MVC.Intranet.Areas.CortoPlazo.Models.LineaModel

<table border="0" class="pretty tabla-icono" id="tablaLinea">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Línea</th>
            <th>Cod. SGOCOES</th>
            <th>Nodo Barra 1</th>
            <th>Nodo Barra 2</th>
            <th>Nodo Barra 3</th>
            <th>ID</th>
            <th>Nombre TNA 1</th>
            <th>Nombre TNA 2</th>
            <th>Nombre TNA 3</th>
            <th style="display:none">Grupo Línea</th>
            <th>NCP</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListLinea.Count > 0)
        {
            foreach (var item in Model.ListLinea)
            {
        <tr>
            <td>
                <a href="JavaScript:editarLinea(@item.Configcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminarLinea(@item.Configcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Emprnomb.Trim()</td>
            <td>@item.Equinomb.Trim()</td>
            <td>@item.Equicodi</td>
            <td>@item.Nodobarra1</td>
            <td>@item.Nodobarra2</td>
            <td>@item.Nodobarra3</td>
            <td>@item.Idems</td>
            <td>@item.Nombretna1</td>
            <td>@item.Nombretna2</td>
            <td>@item.Nombretna3</td>
            <td style="display:none">@item.Grulinnomb</td>
            <td>@item.Nombrencp</td>
            <td>@item.Estado</td>
        </tr>
            }
        }
    </tbody>
</table>