@model COES.MVC.Intranet.Areas.CortoPlazo.Models.LineaModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeLinea" class="action-message">Por favor complete los datos</div>
        <table style="margin: 0 auto;" >
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresaLinea" style="width:300px">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb.Trim()</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresaLinea" value="@Model.Entidad.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Tipo:</td>
                <td class="registro-label">
                    <select id="cbFamilia" style="width:300px">
                        <option value="8">LINEA</option>
                        <option value="9">TRAFO 2D</option>
                        <option value="10">TRAFO 3D</option>
                    </select>
                    <input type="hidden" id="hfTipoLinea" value="@Model.Entidad.Famcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Equipo:</td>
                <td class="registro-control">
                    <select id="cbEquipoLinea" name="Equicodi" style="width:300px">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListEquipo)
                        {
                            <option value="@item.Equicodi" id="@item.Famcodi">@item.Equinomb.Trim()</option>
                        }
                    </select>
                    <input type="hidden" id="hfEquipoLinea" value="@Model.Entidad.Equicodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nodo Barra (1):</td>
                <td class="registro-control">
                    <input type="text" id="txtNodoBarra1" name="Nodobarra1" style="width:300px" value="@Model.Entidad.Nodobarra1" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nodo Barra (2):</td>
                <td class="registro-control">
                    <input type="text" id="txtNodoBarra2" name="Nodobarra2" style="width:300px" value="@Model.Entidad.Nodobarra2" />
                </td>
            </tr>
            <tr id="trNodo3" style="display:none">
                <td class="registro-label">Nodo Barra (3):</td>
                <td class="registro-control">
                    <input type="text" id="txtNodoBarra3" name="Nodobarra3" style="width:300px" value="@Model.Entidad.Nodobarra3" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">ID EMS:</td>
                <td class="registro-control">
                    <input type="text" id="txtLineaEms" name="Idems" style="width:300px" value="@Model.Entidad.Idems" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre TNA 1:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombretna1" name="Nombretna1" style="width:300px" value="@Model.Entidad.Nombretna1" />
                </td>
            </tr>
            <tr id="trNombretna2" style="display:none">
                <td class="registro-label">Nombre TNA 2:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombretna2" name="Nombretna2" style="width:300px" value="@Model.Entidad.Nombretna2" />
                </td>
            </tr>
            <tr id="trNombretna3" style="display:none">
                <td class="registro-label">Nombre TNA 3:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombretna3" name="Nombretna3" style="width:300px" value="@Model.Entidad.Nombretna3" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Código NCP:</td>
                <td class="registro-control">
                    <input type="text" id="txtCodigoNCP" name="Codncp" style="width:300px" value="@Model.Entidad.Codincp" onkeypress="return validarNumero(this,event)" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre NCP:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreNCP" name="Nombrencp" style="width:300px" value="@Model.Entidad.Nombrencp" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Código SCADA:</td>
                <td class="registro-control">
                    <input type="text" id="txtCodigoScada" name="Canalcodi" style="width:300px" value="@Model.Entidad.Canalcodi" onkeypress="return validarNumeroEntero(this,event)" />
                </td>
            </tr>

            <tr style="display:none">
                <td class="registro-label">Pertenece al Grupo:</td>
                <td class="registro-control">
                    <select id="cbGrupoLineaEdit" name="Grupolineacodi" style="width:300px">
                        <option value="-1">-NINGUNO-</option>
                        @foreach (var item in Model.ListGrupoLinea)
                        {
                            <option value="@item.Grulincodi">@item.Grulinnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfGrupoLineaEdit" value="@Model.Entidad.Grulincodi" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoLinea" name="Estado" style="width:300px">
                        <option value="">-SELECCIONE-</option>
                        <option value="ACTIVO">Activo</option>
                        <option value="INACTIVO">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstadoLinea" value="@Model.Entidad.Estado" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarLinea" value="Grabar" />
            <input type="button" id="btnCancelarLinea" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdLinea" name="Lineacodi" value="@Model.Entidad.Configcodi" />

    </form>
</div>
