@model COES.MVC.Intranet.Areas.CortoPlazo.Models.RegionSeguridadModel

<div class="content-registro">

    <form id="frmRegistroRegionSeguridad">
        <div id="mensajeEditRegionSeguridad" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            
            <tr>
                <td class="registro-label">Nombre conjunto:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreRegionSeguridad" name="Nombre" value="@Model.Entidad.Regsegnombre" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Valor M:</td>
                <td class="registro-control">
                    <input type="text" id="txtValorM" name="ValorM" value="@Model.Entidad.Regsegvalorm" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Dirección:</td>
                <td class="registro-control">
                    <select id="cbDireccion" name="Direccion">
                        <option value="">-SELECCIONE-</option>
                        <option value="1">Hacia arriba</option>
                        <option value="2">Hacia abajo</option>
                    </select>
                    <input type="hidden" id="hfDireccion" value="@Model.Entidad.Regsegdirec" />
                </td>
            </tr>           
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoRegionSeguridad" name="Estado">
                        <option value="">-SELECCIONE-</option>
                        <option value="A">Activo</option>
                        <option value="B">Baja</option>
                    </select>
                    <input type="hidden" id="hfEstadoRegionSeguridad" value="@Model.Entidad.Regsegestado" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRegionSeguridad" value="Grabar" />
            <input type="button" id="btnCancelarRegionSeguridad" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdRegionSeguridad" name="Codigo" value="@Model.Entidad.Regsegcodi" />

    </form>
</div>
