@model COES.MVC.Intranet.Areas.CortoPlazo.Models.RegionSeguridadModel

<table border="0" class="pretty tabla-icono" id="tablaRegionSeguridad">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Valor M</th>
            <th>Dirección</th>          
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editarRegionSeguridad(@item.Regsegcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarRegionSeguridad(@item.Regsegcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:configuracionRegionSeguridad(@item.Regsegcodi);"><img src="~/Content/Images/btn-properties.png" /></a>
                    </td>
                    <td>@item.Regsegnombre</td>
                    <td>@item.Regsegvalorm</td>
                    <td>@item.Regsegdirec</td>
                    <td>@item.Regsegestado</td>
                    <td>@item.Regsegusumodificacion</td>
                    <td>@item.Regsegfecmodificacion</td>                    
                </tr>
            }
        }
    </tbody>
</table>