@model COES.MVC.Intranet.Areas.CortoPlazo.Models.RelacionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeRelacion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresaEdit">
                        <option value="-1">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" value="@Model.Entidad.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Equipo:</td>
                <td class="registro-control">
                    <select id="cbEquipoEdit" name="Equicodi">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEquipo)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEquipo" value="@Model.Entidad.Equicodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre Barra (PSSE):</td>
                <td class="registro-control">
                    <input type="text" id="txtNomBarra" name="Nombarra" value="@Model.Entidad.Nombarra" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">ID Generador (PSSE):</td>
                <td class="registro-control">
                    <input type="text" id="txtIdGenerador" name="Idgener" value="@Model.Entidad.Idgener" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre EMS TNA:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreTna" name="NombreTna" value="@Model.Entidad.Nombretna" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Tiene más equipos TNA:</td>
                <td class="registro-control">
                    <input type="checkbox" id="cbMasEquiposTNA" />
                    <input type="hidden" id="hfMasEquiposTNA" name="MasEquiposTNA" value="@Model.Entidad.Indtnaadicional" />
                </td>
            </tr>
            <tr id="trEquiposTNA">
                <td class="registro-label">Equipos TNA:</td>
                <td class="registro-control">

                    <input type="text" id="txtEquipoTNA" />
                    <input type="button" id="btnAgregarEquipo" value="Agregar" />

                    <div style="padding:5px 15px 5px 0">
                        <table class="tabla-formulario" id="tablaAdicional">
                            <thead>
                                <tr>
                                    <th>Nombre equipo TNA</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaAdicionalTNA)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" id="txtItemEquipo" value="@item.Reltnanombre" />
                                        </td>
                                        <td style="text-align:center">
                                            <input type="hidden" id="hfEquipoItem" value="@item.Reltnacodi" />
                                            <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" id="hfListaEquipoAdicional" name="EquipoAdicional" />

                </td>
            </tr>
            <tr>
                <td class="registro-label">Ciclo Combinado:</td>
                <td class="registro-control">
                    <input type="text" id="txtCicloCombinado" name="Descripcion" value="@Model.Entidad.Descripcion" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoEdit" name="Estado">
                        <option value="">-SELECCIONE-</option>
                        <option value="ACTIVO">Activo</option>
                        <option value="INACTIVO">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Estado" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">¿Es RER?:</td>
                <td class="registro-control">
                    <select id="cbIndRer" name="RER">
                        <option value="S">SI</option>
                        <option value="N">NO</option>
                    </select>
                    <input type="hidden" id="hfIndRer" value="@Model.Entidad.Indgeneracionrer" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Unidad no modelada en TNA:</td>
                <td class="registro-control">
                    <input type="checkbox" id="cbIndModelada" />
                    <input type="hidden" id="hfIndNoModelada" name="IndNoModedada" value="@Model.Entidad.Indnomodeladatna" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRelacion" value="Grabar" />
            <input type="button" id="btnCancelarRelacion" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdRelacion" name="Relacioncodi" value="@Model.Entidad.Relacioncodi" />

    </form>
</div>
