@model COES.MVC.Intranet.Areas.DemandaPO.Models.RelacionPuntoBarraModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Relación Punto TNA - Barra SPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/DemandaPO/Content/Css/css2.css" rel="stylesheet" />
<script src="~/Areas/DemandaPO/Content/Scripts/relacionPuntoBarra.js?v=4.0"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Content/Scripts/Charts/jquery.jqplot.min.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Relación Punto TNA - Barra SPL</div>
        <div class="content-botonera"></div>
    </div>
    <div class="content-hijo">
        <div id="main" class="h-panel-main">
            <div id="message" class="msg-info">
                Puede crear una relacion entre barras SPL y fórmulas
            </div>
            <div class="h-panel" style="margin-bottom: 5px;">
                <div class="filters">
                    <div>Version</div>
                    <select id="selVersion" class="f-select-m">
                        @foreach (var item in Model.ListaVersiones)
                        {
                            <option value="@item.Dposplcodi">@item.Dposplnombre</option>
                        }
                    </select>
                </div>
                @*<div class="filters">
                    <div>Barras SPL</div>
                    <select id="selBarra" class="f-select-m">
                        @foreach (var item in Model.ListaBarrasSPL)
                        {
                            <option value="@item.Barsplcodi">@item.Gruponomb</option>
                        }
                    </select>
                </div>*@
                <div class="filters">
                    <br />

                    <!-- ASSETEC 2022-03-07-->
                    @*<input type="button" id="btnConsultar" value="Consultar" />*@
                    <!-- FIN ASSETEC 2022-03-07-->

                    @*<input type="button" id="btnExportar" value="Exportar" />*@
                </div>
            </div>
            <div class="for-data" disabled>
                <select id="_dataPuntoTna">
                    @foreach (var item in Model.ListaPuntosTna)
                    {
                        <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                    }
                </select>
            </div>
            <div class="nt-body">
                <table id="dt" class="pretty tabla-icono"></table>
            </div>
        </div>
    </div>
</div>