@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.AdminModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Año:</td>
                <td class="registro-control">
                    <select id="cbAnio" name="Anio" data-rule-required="true">
                        <option value="">SELECCIONE</option>
                        @for (int i = 2010; i <= DateTime.Now.Year; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <input type="hidden" id="hfAnio" value="@Model.Entidad.Hisrianio" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Tipo:</td>
                <td class="registro-control">
                    <select id="cbTipo" style="width:300px" name="TipoOperacion" data-rule-required="true">
                        <option value="">SELECCIONE</option>
                        <option value="C">CAMBIO DE DENOMINACIÓN SOCIAL</option>
                        <option value="F">FUSIÓN</option>
                        <option value="B">RETIRO DE EMPRESA</option>
                    </select>
                    <input type="hidden" id="hfTipo" value="@Model.Entidad.Hisritipo" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <textarea id="txtDescripcion" name="Descripcion" data-rule-required="true">@Model.Entidad.Hisridesc</textarea>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha:</td>
                <td class="registro-control">
                    <input type="text" id="txtFecha" name="Fecha" value="@Model.Fecha" data-rule-required="true" />
                </td>
            </tr>           
        </table>               

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Hisricodi" />

    </form>
</div>