@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.AdminModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Año</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
        <tr>
            <td>
                <a href="JavaScript:editar(@item.Hisricodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminar(@item.Hisricodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Hisrianio</td>
            <td>@item.Hisritipo</td>
            <td>@item.Hisridesc</td>            
            <td>@(((DateTime)item.Hisrifecha).ToString("dd/MM/yyyy"))</td>
            <td>@item.Hisriusumodificacion</td>
            <td>
                @if (item.Hisrifecmodificacion != null)
                {
                <span>@(((DateTime)item.Hisrifecmodificacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>  
        </tr>
            }
        }
    </tbody>
</table>