@model COES.MVC.Extranet.Areas.Campanias.Models.ProyectoModel

<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaProyecto" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo proyecto</th>
            <th scope="col">Nombre proyecto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.listaProyecto.Count > 0)
      {
          foreach (var item in Model.listaProyecto)
          {
        <tr>
            <td style="width:70px">@item.Proycodi</td>
            <td>@item.TipoNombre</td>
            <td>@item.Proynombre</td>
            <td>@item.Proydescripcion</td>
            <td>
                <a href="javascript:void(0);" onclick="consultarProyecto(@item.Proycodi)"> <img src="~/Content/Images/btn-open.png" /> </a>
                &nbsp;
                @if(Model.Modo!="true"){<a href="javascript:void(0);" onclick="editarProyecto(@item.Proycodi)"> <img src="~/Content/Images/edit.png" /> </a>}
                &nbsp;
                 @if(Model.Modo!="true"){<a href="javascript:void(0);" onclick="popupEliminarProy(@item.Proycodi)"><img src="~/Content/Images/eliminar.png" /></a>}
            </td>
        </tr>
          }
      }

    </tbody>
</table>