@model COES.MVC.Extranet.Areas.Campanias.Models.ProyectoModel

<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaProyecto" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo proyecto</th>
            <th scope="col">Nombre proyecto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Observacion</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.listaProyecto.Count > 0)
      {
          foreach (var item in Model.listaProyecto)
          {
        <tr>
            <td style="width:70px">@item.Proycodi</td>
            <td style="text-align:left;">@item.TipoNombre</td>
            <td style="text-align:left;">@item.Proynombre</td>
            <td style="text-align:left;">@item.Proyestado</td>
            <td>@if (item.Proyestado == "Observado") { <span>Si</span>}</td>
            <td>
                @if (item.Proyestado == "Observado" )
                {
                    <a href="javascript:void(0);" onclick="editarProyecto(@item.Proycodi)"> <img src="~/Content/Images/edit.png" /> </a>
                }
                else
                {
                    <a href="javascript:void(0);" onclick="consultarProyecto(@item.Proycodi)"> <img src="~/Content/Images/btn-open.png" /> </a>
                }
                <span>&nbsp;</span>
                @if (item.Proyestado == "Observado")
                {
                    <a href="javascript:void(0);" onclick="absolverProyecto(@item.Proycodi)"><img src="~/Content/Images/leyenda.png" /></a>

                }
                else
                {
                    <a style="visibility: hidden;"><img src="~/Content/Images/leyenda.png" /></a>
                }
            </td>
        </tr>
          }
      }

    </tbody>
</table>