@model COES.MVC.Extranet.Areas.Campanias.Models.CampaniasModel

<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Empresa</th>
            <th scope="col">Fec.Envío</th>
            <th scope="col">Rgtos.</th>
            <th scope="col">Versión</th>
            <th scope="col">Estado</th>
            <th scope="col">Cumplimiento</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPlanTransmicion.Count > 0)
        {
            foreach (var item in Model.ListaPlanTransmicion)
            {
                <tr>
                    <td style="width:70px">@item.Plancodi</td>
                    <td style="text-align:left;">@(item.Codempresa + " - " + item.Nomempresa)</td>
                    <td>@(item.Fecenvio.HasValue ? item.Fecenvio.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>@item.Numreg</td>
                    <td> @if (item.Planversion != null && item.Planversion > 0)
                        {
                            <span>@("V" + item.Planversion)</span>
                        }</td>
                    <td>@item.Planestado</td>
                    <td>@item.Plancumplimiento</td>
                    <td style="text-align:left;">
                        @if(item.Planestado != "Registrado" && item.Planestado != "Observado"){
                            <a href="#"> <img src="~/Content/Images/btn-add.png" onclick="popupNuevaVersionEnvio(@item.Plancodi)" title="Nuevo"/> </a><span>&nbsp;</span>
                        }
                        @if(item.Planestado == "Observado"){
                            <a href="#"><img src="~/Content/Images/leyenda.png" onclick="absolverPlanTransmision(@item.Plancodi)" title="Absolver"/></a><span>&nbsp;&nbsp;</span>
                        }
                        @if(item.Planestado != "Registrado"){
                            <a href="javascript:void(0);" onclick="consultarPlanTransmision(@item.Plancodi)" title="Consultar"> <img src="~/Content/Images/btn-open.png" /> </a>
                        }
                        @if(item.Planestado == "Registrado"){
                            <a href="#"> <img src="~/Content/Images/edit.png" onclick="editarPlanTransmision(@item.Plancodi)" title="Editar"/> </a><span>&nbsp;</span>
                        } 
                        @if(item.Planestado == "Registrado"){
                            <a href="#"><img src="~/Content/Images/eliminar.png" onclick="popupEliminarPlanTransmision(@item.Plancodi)" title="Eliminar"/></a>
                        } 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>