@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMaximaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/DemandaMaxima/Content/Scripts/informacion.js?v=1.0"></script>

@*<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />*@
<link href="~/Areas/DemandaMaxima/Content/Css/demanda.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

@*<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
    </div>
</div>*@

<style type="text/css">
    .asd {
        background: rgba(0,0,0,0);
        border: none;
    }
</style>

<div class="form-title">
    <div class="content-titulodemanda">Rep. Información de medidores Empresas de distribución</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Empresa*:</td>
                <td colspan="4">
                    <select id="cbTipoEmpresa" name="cbTipoEmpresa" style="width:550px;">
                        @foreach (var item in Model.ListaTipoempresa)
                        {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width:120px">Periodo:</td>
                <td>
                    <select id="cbPeriodoIni" name="cbPeriodoIni" style="width:200px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.IniRemision.ToString("dd/MM/yyyy")">@item.Periodo</option>
                        }
                    </select>
                </td>
                <td style="width:20px"> </td>
                <td id="tdPeriodoSicliEtiqueta" style="width:80px">Periodo Sicli*:</td>
                <td>
                    <select id="cbPeriodoSicli" name="cbPeriodoSicli" style="width:200px;">
                        @foreach (var item in Model.ListaPeriodoSicli)
                        {
                            <option value="@item.PsicliCodi">@item.EtiquetaPeriodo</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Máxima Demanda</td>
                <td>- Fecha: <input id="fechaMD" value="" class="asd" disabled /><br />
                    - Hora: <input id="horaMD" value="" class="asd" disabled><br />
                    - Valor: <input id="valorMD" value="" class="asd" disabled>
                </td>

            </tr>
            <tr>
                <td style="width:120px">Nivel de Información:</td>
                <td>
                    <select id="cbNivel" name="cbNivel" style="width:200px">
                        <option value="15">Cada 15 Minutos</option>
                        <option value="30">Cada 30 Minutos</option>
                    </select>
                </td>
                <td style="width:20px"> </td>
                <td colspan="2" id="lblMaxDemanda">Solo fecha de máxima demanda <input type="checkbox" id="chkMaxima" value="0" onchange="toggleCheckbox(this)" /></td>
            </tr>
            <tr>
                <td style="width:120px">Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresasCumplimiento)
                        {
                            <option value="@item.Emprcodi">@item.Etiqueta</option>
                        }
                    </select>
                </td>
                <td style="width:20px"> </td>
                <td id="lblHP" style="width: 150px; display: none;" bgcolor="#FAD0D0" colspan="2">HP: Hora punta</td>
            </tr>
            <tr>
                <td style="width:120px"></td>
                <td></td>
                <td style="width:20px"> </td>
                <td id="lblHFP" style="width:150px; display:none;" bgcolor="#BBADF5" colspan="2">HFP: Hora fuera punta</td>
            </tr>

        </table>
        <br />
        <div>
            <input type="button" id="btnConsultar" value='Buscar' />
            <input type="button" id="btnExportar" value="Exportar a Excel" />
        </div>
    </div>

    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <!--<div class="table-paginado" id="paginado"></div>-->
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>
</div>



<input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfCheck" value="" />