@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMaximaModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <!--<th><font color="#FFFFFF">Ítem</font></th>-->
            <th><font color="#FFFFFF">     Periodo     </font></th>
            <th><font color="#FFFFFF">     Fuente     </font></th>
            <th><font color="#FFFFFF"> Cumplimiento </font></th>
            @if (Model.tipoEmpresa == "4")
            {
                <th><font color="#FFFFFF">Código Cliente</font></th>
                <th><font color="#FFFFFF">Suministrador</font></th>
                <th><font color="#FFFFFF">RUC de la Empresa</font></th>
            }
            <th style="text-align:left;"><font color="#FFFFFF">Razón Social</font></th>
            @if (Model.tipoEmpresa == "4")
            {
                <th><font color="#FFFFFF">Subestación</font></th>
                <th style="text-align:left;"><font color="#FFFFFF">Tensión (KV)</font></th>
            }
            <th><font color="#FFFFFF">Fecha</font></th>
            @for (int i = 1; i <= 96; i++)
            {
                <th><font color="#FFFFFF">@TimeSpan.FromMinutes(i * 15).ToString("hh':'mm")</font></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporteInformacion15min)
        {
        <tr class="menu-contextual">
            <!--<td>@item.Item</td>-->
            <td>@item.Periodo</td>
            <td>@item.Fuente</td>
            @if (item.Cumplimiento == "5")
            {
                <td style="background: #F9C3C3;">No determinado</td>
            }
            @if (item.Cumplimiento == "4")
            {
                <td style="background: #F9C3C3;">No Cumplió</td>
            }
            @if (item.Cumplimiento == "3")
            {
                <td style="background: #F9C3C3;">Inconsistente</td>
            }

            @if (item.Cumplimiento == "2")
            {
                <td style="background: #FFDF75;">Fuera del Plazo</td>
            }

            @if (item.Cumplimiento == "1")
            {
                <td style="background: #97F9B0;">Dentro del Plazo</td>
            }
            @if (Model.tipoEmpresa == "4")
            {
                <td>@item.CodigoCliente</td>
                <td>@item.Suministrador</td>
                <td>@item.RucEmpresa</td>
            }
            <td style="text-align:left;">@item.NombreEmpresa</td>
            @if (Model.tipoEmpresa == "4")
            {
                <td>@item.Subestacion</td>
                <td style="text-align:left;">@item.Tension</td>
            }
            <td>
                @if (item.FechaFila != null)
                {
                    <span>@(((DateTime)item.FechaFila).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            @for (int i = 1; i <= 96; i++)
            {
                if ("H" + i == item.HP)
                {
                    <td width="100px" style="background: #FAD0D0;">@item.GetType().GetProperty("H" + i).GetValue(item, null)</td>
                }
                else if ("H" + i == item.HFP)
                {
                    <td style="background: #BBADF5;">@item.GetType().GetProperty("H" + i).GetValue(item, null)</td>
                }
                else
                {
                    <td width="100px">@item.GetType().GetProperty("H" + i).GetValue(item, null)</td>
                }
            }
        </tr>

            if(ViewBag.max == 1)
            {
                //break;
            }
        }
    </tbody>
</table>