@model COES.MVC.Intranet.Areas.IEOD.Models.CircuitoModel

<table class="tabla-formulario" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Area</th>
            <th>Tipo de equipo</th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipo)
        {
            <tr>
                <td>
                    <a href="JavaScript:seleccionarCircuitoDet(2, 0,'', @item.Equicodi,'@item.Equiabrev','@item.Areanomb','@item.Emprnomb', '@item.Famabrev', '@item.Emprcodi');" title="Seleccionar equipo">
                        <input type="button" value="+Eq" style="height: 19px; font-size: 8px; padding: 0 0px; padding-left: 4px; padding-right: 4px;">
                    </a>
                    @if (item.Circodi > 0)
                    {
                    <a class="columna_agregar circuito" style="display: none" href="JavaScript:seleccionarCircuitoDet(3, @item.Circodi, '@item.Circnomb', @item.Equicodi,'@item.Equiabrev','@item.Areanomb','@item.Emprnomb', '@item.Famabrev', '@item.Emprcodi');" title="Seleccionar circuito">
                        <input type="button" value="+Circ" style="height: 19px; font-size: 8px; padding: 0 0px; padding-left: 4px; padding-right: 4px;">
                    </a>
                    }
                </td>
                <td>@item.Areanomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
            </tr>
        }
    </tbody>
</table>
