@model COES.MVC.Intranet.Areas.IEOD.Models.CircuitoModel

<table class="pretty tabla-icono" id="reporte" style="width: 1400px;table-layout: fixed;" width="100%">
    <thead>
        <tr>
            <th colspan="col" width="4%">Acción</th>
            <th colspan="col" width="3%" style="background-color: #FE4943 !important;">Código</th>
            <th colspan="col" width="5%" style="background-color: #FE4943 !important;">Circuito</th>
            <th colspan="col" width="15%">Empresa</th>
            <th colspan="col" width="5%">Tipo Eq</th>
            <th colspan="col" width="15%">Ubicación</th>
            <th colspan="col" width="15%">Equipo</th>
            <th colspan="col" width="5%" style="background-color: #FE4943 !important;">Estado</th>
            <th colspan="col" width="5%">Usuario</th>
            <th colspan="col" width="6%">Fec. modif.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCircuito)
        {
            <tr>
                <td>
                    <a href="JavaScript:verCircuito(@item.Circodi);" title="Ver circuito">
                        <img src="~/Content/Images/btn-open.png" alt="Abrir"/>
                    </a>
                    @if (Model.OpcionEditar && item.Circestado == 1)
                    {
                        <a href="JavaScript:editarCircuito(@item.Circodi);" title="Editar circuito">
                            <img src="~/Content/Images/btn-edit.png" alt="Editar"/>
                        </a>
                        <a href="JavaScript:darbajaCircuito(@item.Circodi);" title="Dar de baja circuito">
                            <img src="~/Content/Images/btn-baja.png" alt="Baja"/>
                        </a>
                    }
                </td>
                <td>@item.Circodi</td>
                <td>@item.Circnomb</td>
                <td>@item.Emprnomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Areanomb</td>
                <td>@item.Equinomb</td>
                <td>@item.CircestadoDesc</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
            </tr>
        }
    </tbody>
</table>
