@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.AmpliacionPlazoModel

<table class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Periodo</th>
            <th>Empresa</th>
            <th>Formato</th>
            <th>Fecha Ampliación</th>
            <th>Último Usuario</th>            
            <th>Fecha de Modificación</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEmpresasPlazo)
        {
            <tr class="menu-contextual">
                <td>@item.Amplifecha.ToString("MM/yyyy")</td>
                <td>@item.Emprnomb</td>
                <td>@item.Formatnombre</td>
                <td>@item.Amplifechaplazo.ToString("dd/MM/yyyy")</td>
                @if (!string.IsNullOrEmpty(item.Lastuser))
                {
                    <td>@item.Lastuser</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.Lastdate != DateTime.MinValue)
                {
                    <td>@item.Lastdate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                }else
                {
                    <td></td>
                }
                
            </tr>
        }
    </tbody>
</table>
