@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrPeriodoResumenModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:20px; min-width:20px">Acc.</th>
                <th>M&oacute;dulo</th>
                <th>Periodo</th>
                <th>Pendiente</th>
                <th>Observaciones</th>
                <th>Terminado</th>
                <th>Proceso</th>
                <th>Avance (%)</th>
                <th>Modificaci&oacute;n</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaNrPeriodoResumen)
            {
                <tr>
                    <td style="width: 20px; min-width: 20px">
                        @{
                if (Model.AccionEditar)
                {
                    <a href="JavaScript:procesar(@item.Nrsmodcodi,@item.Nrpercodi,1)" title="Procesar...">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }
                        }
                    </td>
                    <td>@item.Nrsmodnombre</td>
                    <td>
                        @{
                var nrpermes = "";
                if (item.Nrpermes != null)
                {
                    nrpermes = ((DateTime)item.Nrpermes).ToString(COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Helper.ConstanteReservaFriaNodoEnergetico.FormatoAnioMes);
                }
                        }
                        @nrpermes

                    </td>
                    <td>@item.Pendiente</td>
                    <td>@item.Observaciones</td>
                    <td>@item.Terminado</td>
                    <td>@item.Proceso</td>
                    <td>
                        @{
                double porcentaje = 0;
                if (item.Proceso != 0)
                {
                    porcentaje = Math.Round(100 * (double)item.Terminado / item.Proceso, 1);
                }
                        }
                        @porcentaje
                    </td>
                    <td>
                        @{
                var fechaNrperrfecmodificacion = "";
                if (item.Nrperrfecmodificacion != null)
                {
                    fechaNrperrfecmodificacion = ((DateTime)item.Nrperrfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaNrperrfecmodificacion
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
