@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
<!--Inicio PR25 Indisponibilidades-->
<table style="border: 2px solid blue;    float: right;" id="tblIndisponibilidades">
    <tr>
        <td colspan="2" style="font-style: italic; padding-bottom: 15px;">
            La coordinación de estos campos declarativos (que no afectan al Programa) <br /> debe realizarse con <b style="color: blue">sme_pr25@coes.org.pe</b>
        </td>
    </tr>


    <tr>
        <td style="text-align: right;">
            @Html.CheckBoxFor(model => model.ChkPr25)
        </td>
        <td>
            Corresponde a Indisponibilidad en aplicación del PR-25.
        </td>
    </tr>

    <tr id="tr_cb_tipoindisp" style="display: none">
        <td style="text-align: right;">Tipo:</td>
        <td>
            <select style="background-color:white" id="cboTipoIndisp25" onchange="tipoIndisp25();" name="Entidad.Intertipoindisp">
                <option value="-1">NO DEFINIDO</option>
                @foreach (var item in Model.ListaTipoindispPr25)
                {
                    <option value="@item.String1">@item.String2</option>
                }
            </select>
        </td>
    </tr>

    <tr id="tr_pr" style="display: none">
        <td>Potencia Restringida:</td>
        <td>
            @Html.TextBoxFor(model => model.Entidad.Interpr, null, new { @style = "background-color:white;width:50px", autocomplete = "off" }) MW
        </td>
    </tr>

    <tr id="tr_asocproc" style="display: none">
        <td style="text-align: right;">
            @Html.RadioButtonFor(model => model.Entidad.Interasocproc, "S") <span>Sí</span>
            @Html.RadioButtonFor(model => model.Entidad.Interasocproc, "N", new { Checked = "checked" }) <span>No</span>
        </td>
        <td>
            Asociado al proceso Productivo
        </td>
    </tr>

</table>
<!--Fin PR25 Indisponibilidades-->
