@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Consulta de Intervenciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--js/css de formulario-->
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.6" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/global.js?v=9.0.6"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesArchivo.js?v=9.0.6"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesFormulario.js?v=9.0.6"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesSustento.js?v=9.0.6"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesRegistro.js?v=9.0.6"></script>

<div class="form-title_intranet" id="container">
    <div id="tituloIndex" class="content-titulo">@(Model.NombreProgramacion) </div>
    <div class="content-botonera">
        <div class="botonera-item">
            <input type="button" value="Regresar" id="btnRegresar2" />
        </div>
    </div>
</div>

<div class="ast" id="Reemplazable">
    <div id="alerta"> </div>

    <input type="hidden" id="Progrcodi" value="@Model.IdProgramacion" />
    <input type="hidden" id="estadoProg" value="@Model.EstadoProgramacion" />
    <input type="hidden" id="estadoProgDesc" value="@Model.EstadoProgramacionDesc" />
    <input type="hidden" id="idEmprcodi" value="0" />

    <input type="hidden" id="idTipoProgramacion" value="@Model.IdTipoProgramacion" />
    <input type="hidden" id="Emprcodi" value="@Model.sIdsEmpresas" />
    <input type="hidden" id="sEmprcodi" value="@Model.sIdsEmpresas" />
    <input type="hidden" id="hfEmpresa" value="@Model.sIdsEmpresas" />
    <input type="hidden" id="hfFamcodiSustentoObligatorio" value="@Model.FamcodiSustentoObligatorio" />
    <input type="hidden" id="hfFamcodiSustentoOpcional" value="@Model.FamcodiSustentoOpcional" />

    <input type="hidden" id="Detalle" value="@Model.Detalle" />
    <input type="hidden" id="EsCerrado" value="@Model.EsCerrado" />

    <div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
        <div class="row">
            <table border="0" cellpadding="5" cellspacing="2" style="width:100%; background-color:#e5efff">
                <thead>
                    <tr class="THCabecera">
                        <td colspan="10">
                            <div class="editor-label" style="color:#FFFFFF;">
                                <b>Filtros de búsqueda</b>
                                <input type="button" value="🡅" class="btn-contraer_intv" style="" id="btnContraer">
                                <input type="button" value="🡇" class="btn-contraer_intv" style="display:none" id="btnDescontraer">
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody id="Contenido">
                    <tr>
                        <td colspan="8" style="text-align:center">
                            <div class="td_inline content-action">
                                <a href="#" id="btnConsultar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/Visualizar.png" class="set_size" /><br />
                                        <span>Consultar</span>
                                    </div>
                                </a>
                            </div>

                            @if (!Model.EsCerrado)
                            {
                                <div class="td_inline content-action">
                                    <a href="#" id="IntervencionesNuevo">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/nuevo.png" class="set_size" /><br />
                                            <span>Nuevo registro</span>
                                        </div>
                                    </a>
                                </div>
                            }

                            <div class="td_inline content-action">
                                <a href="#" id="ReporteIntervenciones">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/exportarExcel.png" class="set_size" /><br />
                                        <span>Reporte</span>
                                    </div>
                                </a>
                            </div>

                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoConsulta">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/ExportExcel.png" class="set_size" /><br />
                                        <span>Reporte en plantilla</span>
                                    </div>
                                </a>
                            </div>


                            @if (!Model.EsCerrado)
                            {
                                <div class="td_inline content-action">
                                    <!--Valida si el tipo de programación es diferente de ANUAL -->
                                    <a href="#" id="IntervencionesCopiar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/copiar.png" class="set_size" /><br />
                                            <span>Transferir</span>
                                        </div>
                                    </a>
                                </div>
                            }

                            @if (!Model.EsCerrado)
                            {
                                <div class="td_inline content-action">
                                    <a href="#" id="IntervencionesImportar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/importExcel.jpg" class="set_size" /><br />
                                            <span>Importar</span>
                                        </div>
                                    </a>
                                </div>
                            }

                            @if (!Model.EsCerrado)
                            {
                                <div class="td_inline content-action">
                                    <!--Valida si el tipo de programación es diferente de ANUAL -->
                                    @if (Model.IdTipoProgramacion != 5)
                                    {
                                        <a href="#" id="btnExportarExcel">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/ExportExcel.png" class="set_size" /><br />
                                                <span>Mantto Transf.</span>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }

                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoPlantilla">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/DownFile.png" class="set_size" /><br />
                                        <span>Plantilla</span>
                                    </div>
                                </a>
                            </div>

                            <div class="td_inline content-action">
                                <a href="#" id="btnExpandirRestaurar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                        <span id="spanExpandirContraer" style="font-weight: bold;">Expandir pantalla</span>
                                    </div>
                                </a>
                                <input type="hidden" id="hfExpandirContraer" value="E" />
                            </div>
                            <div>
                                <b>Se recomienda usar una pantalla 16:9 para una correcta visualización</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="130">Tipo de Programacion: </td>
                        <td width="100">
                            <input id="ss" name="ss" readonly style="width:165px" type="text" value="@Model.Evenclasedesc">
                        </td>
                        <td width="115">Tipo de Intervención: </td>
                        <td width="100">
                            <select style="background-color:white; width:210px" id="cboTipoIntervencion" multiple="multiple">
                                @foreach (var item in Model.ListaCboIntervencion)
                                {
                                    <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                                }
                            </select>
                        </td>
                        <td width="55">Estado: </td>
                        <td width="100">
                            <select style="width:120px; background-color:white" id="estadocodi" multiple="multiple">
                                @foreach (var item in Model.ListacboEstado)
                                {
                                    <option value="@item.Estadocodi">@item.Estadonomb</option>
                                }
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td width="130">Ubicación: </td>
                        <td>
                            <div>
                                <select style="background-color:white; width:165px;" id="cboUbicacion" multiple="multiple">
                                    @foreach (var item in Model.ListaCboUbicacion)
                                    {
                                        <option value="@item.Areacodi">@item.Areanomb</option>
                                    }
                                </select>
                            </div>
                        </td>

                        <td width="115">Familia: </td>
                        <td>
                            <select style="background-color:white; width:210px" id="cboFamilia" multiple="multiple">
                                @foreach (var item in Model.ListaFamilias)
                                {
                                    <option value="@item.Famcodi">@item.Famnomb</option>
                                }
                            </select>
                        </td>
                        <td width="55">Equipo: </td>
                        <td>
                            <select style="background-color:white; width:120px" id="cboEquipo" multiple="multiple">
                            </select>
                        </td>

                        <td width="80"> Empresa:</td>
                        <td>
                            <select style="background-color:white; width:140px" id="Empresa" multiple="multiple">
                                @foreach (var item in Model.ListaCboEmpresa)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="130">Disponibilidad: </td>
                        <td>
                            <select style="width:165px; background-color:white" id="InterDispo" multiple="multiple">
                                <option value="F">FS (Fuera de Servicio)</option>
                                <option value="E">ES (En Servicio)</option>
                            </select>
                        </td>

                        <td width="115">Fecha Inicio: </td>
                        <td>
                            <div class="editor-label">
                                <input type="text" id="InterfechainiD" value="@Model.Progrfechaini" style="width: 110px" class="txtFecha" />
                            </div>
                        </td>
                        <td width="60">Final: </td>
                        <td>
                            <div class="editor-label">
                                <input type="text" id="InterfechafinD" value="@Model.Progrfechafin" style="width: 110px" class="txtFecha" />
                            </div>
                        </td>

                        <td width="80">Descripción:</td>
                        <td>
                            <input type="text" id="txtNombreFiltro" style="width:140px; background-color: white;" />
                        </td>
                    </tr>
                    <tr>
                        <td width="110">Conjunto de equipo:</td>
                        <td>
                            <div class="editor-label">
                                <select style="background-color:white;width:173px" id="cboConjuntoEq">
                                    <option value="0">TODOS</option>
                                    <option value="1">Generación</option>
                                    <option value="2">Líneas</option>
                                    <option value="3">SSEE</option>
                                    <option value="4">SSEE/Líneas</option>
                                </select>
                            </div>
                        </td>
                        <td colspan="4">
                            <input type="checkbox" id="check_eliminado" class="check_eliminado" name="check_eliminado" style="width:15px; margin-top: 5px;margin-left: 0px;">
                            Ocultar Eliminados

                            <input type="checkbox" id="check_mostrarAdjuntos" class="check_mostrarAdjuntos" name="check_mostrarAdjuntos" style="width: 15px; margin-top: 5px; margin-left: 40px;">
                            Con archivos

                            <input type="checkbox" id="check_mostrarMensajes" class="check_mostrarMensajes" name="check_mostrarMensajes" style="width:15px; margin-top: 5px;margin-left: 40px;">
                            Con Mensajes
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (Model.IdTipoProgramacion > 2)
            {
                <!--Leyenda para anual, mensual, semanal-->
                <div style="display: block; height: 30px;">
                    <div class="td_inline" style="padding-top: 6px;font-weight: bold;">
                        <span>Leyenda: </span>
                    </div>

                    <div class="td_inline" style="padding-top: 6px;">
                        <span style="background:white;padding: 2px;color: #000000;">Actividad de 1 día</span>
                    </div>
                    <div class="td_inline" style="padding-top: 6px;font-weight: bold;">
                        <span style="background:white;padding: 2px;color: #0000ff;">Continua por varios días</span>
                    </div>
                    <div class="td_inline" style="padding-top: 6px;font-weight: bold;">
                        <span style="background:white;padding: 2px;color: #3a933e;">Consecutivo por rango de horas</span>
                    </div>
                </div>
            }

            <!--Herramientas sobre filas seleccionadas-->
            <div style="align-content: space-between;">
                <div style="float: left; height: 25px; margin-right: 5px;">
                    <label>
                        <input type="checkbox" id="chkSeleccionar" />Sel. Todos
                    </label>

                </div>

                @if (!Model.EsCerrado)
                {
                    <div class="td_inline_2 content-action">
                        <a href="#" id="IntervencionesEliminar">
                            <div class="content-item-action">
                                <img src="~/Content/Images/eliminar.png" class="set_size" title="Eliminar" alt="Eliminar" />
                                <span style="vertical-align: super;">Eliminar</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="td_inline_2 content-action">
                    <a href="#" id="IntervencionesEnviarMensaje">
                        <div class="content-item-action">
                            <img src="~/Content/Images/message.png" class="set_size" title="Mensajes" alt="Mensajes" />
                            <span style="vertical-align: super;">Mensajes</span>
                        </div>
                    </a>
                </div>
                <div class="td_inline_2 content-action">
                    <a href="#" id="IntervencionesRptComunicaciones">
                        <div class="content-item-action">
                            <img src="~/Content/Images/exportarExcel.png" class="set_size" title="Mensajes" alt="Mensajes" />
                            <span style="vertical-align: super;">Comunicaciones</span>
                        </div>
                    </a>
                </div>
                <div class="td_inline_2 content-action">
                    <a href="#" id="DescargarArchivos">
                        <div class="content-item-action">
                            <img src="~/Content/Images/raricon.png" class="set_size" title="Descargar Adjuntos" alt="Descargar Adjuntos" />
                            <span style="vertical-align: super;">Descargar Adjuntos</span>
                        </div>
                    </a>
                </div>

                <!--Leyenda color -->
                <div style="float: left; height: 25px;   margin-left: 30px;">
                    <label>
                        <input type="text" disabled style="background-color: #FF2C2C; height: 13px; width: 15px; margin: 3px; " /> Rechazados
                    </label>
                </div>
                <div style="float: left; height: 25px;">
                    <label>
                        <input type="text" disabled style="background-color: #E0DADA; height: 13px; width: 15px; margin: 3px;" /> Eliminados
                    </label>
                </div>
                <div style="float: left; height: 25px; display: none;" id="leyenda_modificado_agente">
                    <label>
                        <input type="text" disabled style="background-color: #ffe5ff; height: 13px; width: 15px; margin: 3px;" /> <b>Actualizado por Coordinador COES</b>
                    </label>
                </div>

            </div>

            <!--Contenido-->
            <div>
                <!--sustento exclusión-->
                <div id="div_lista_int_sustento" style="border: 2px solid #F2DD8C; background-color: #FFF5CC; padding: 10px; border-radius: 5px; margin-top: 10px; display: none;">
                </div>

                <!--tabla web-->
                <div id="listado">

                </div>
            </div>

        </div>

        <div class="tabla-header">
            <div class="table-paginado" id="paginado">
                <br />
                <br />
                <b>Nota:</b><span> El filtro de Equipo depende de la seleccion de ubicación y tipo de equipo. </span>
            </div>
        </div>

    </div>

</div>

<div id="popup" style="width: 1100px; min-height: 600px">

</div>

<!--Ventana flotante de Formulacion de Intervención-->
<div id="popupFormIntervencion" class="general-popup popup_formulario" style="width: 1090px; min-height: 600px; max-width: 1090px">

</div>

<div id="popupListaProgramados" class="general-popup" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Transferir Intervenciones</span></div>
    <div id="formProgramados">

    </div>
</div>


<!--comunicaciones-->
<input type="hidden" id="hfIntercodiMsj" value="0" />

<div id="popupMensajes" class="general-popup" style="z-index: 9999999999; width: 1100px !important; max-width: 1100px; top: 100px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Comunicaciones</span>

        <input type="button" value="Nueva comunicación" id="btnEnviarRptaComunicacion" style="float: right;" />

        <a href="#" id="btnDescargaPdfComunicacion" style="float: right; font-size: 12px; text-decoration: none; color: #278CCC;">
            <div class="content-item-action" style=" text-align: right;">
                <img src="~/Content/Images/pdf.png" class="set_size" />
                <span>Reporte</span>
            </div>
        </a>

        <a href="#" id="btnDescargaZipComunicacion" style="float: right; font-size: 12px; text-decoration: none; color: #278CCC;">
            <div class="content-item-action" style=" text-align: right;">
                <img src="~/Content/Images/raricon.png" class="set_size" />
                <span>Descargar</span>
            </div>
        </a>
    </div>

    <div id="idTablaMensajes" style="min-height: 370px; margin-top: 15px; width: 1100px; overflow-y: auto; height: 600px;">

        <div id="div-comments" style="display: none">
            <div id="div-message-mensaje" class="oculto"></div>
            <div class="search-content">
                <div class="field-control-group">
                    <input type="hidden" id="hfEmpresaMsj" value="" />
                    <input type="hidden" id="hfFormatoMsj" value="" />

                    <div class="field-group">
                        <span class="field-label">
                            Remitente:
                        </span>
                        <div class="field-control">
                            <select id="ddl-sender" onchange="volverAListadoMensaje()">
                                <option value="-1" selected="selected">[ TODOS ]</option>
                                <option value="COES">COES</option>
                                <option value="AGENTE">AGENTE</option>
                            </select>
                        </div>
                        <div class="field-group">
                            <span class="field-label">
                                Estado:
                            </span>
                            <div class="field-control">
                                <select id="ddl-state" onchange="volverAListadoMensaje()">
                                    <option value="-1">[ TODOS ]</option>
                                    <option value="L">Leído</option>
                                    <option value="N">No Leído</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div-wrap" class="chat-wrap">
                <div class="chat-inner">
                    <div id="lst-comments" style="margin-top:10px;">
                    </div>
                </div>
            </div>
        </div>

        <div id="div-msg-contenido" style="display: none">
            <div id="div-detalle-msg-contenido">

            </div>
        </div>

    </div>
</div>

<div id="popupFormNotificacion" class="general-popup popup_formulario" style="width: 1090px; min-height: 600px; max-width: 1090px">
    <div class="popup-title" style="margin-bottom: 15px;">
        <span id="idtitulo">Cambios de Estado - Programa Semanal</span>
        <input type="button" value="OK, los he leído todo" id="btnCerrarNotif" style="float: right;" />
        <input type="hidden" id="hfIntercodisNotif" value="" />
    </div>
    <div id="formProgramados">
        <div id="tablaNotificacion" style="width: 1090px">
        </div>
    </div>
</div>

<!--popup para equipos-->
<div id="busquedaEquipo" class="general-popup popup_equipo" style="display: none; width: 950px; height:550px"></div>

<!--popup para sustento-->
<div id="popupFormSustento" class="general-popup popup_equipo" style="display: none; width: 950px; height:610px;"></div>