@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Consultas Tabulares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.0" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/global.js?v=9.0.0"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesConsulta.js?v=9.0.0"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Consultas de Intervenciones</div>
</div>

<div class="ast" id="Reemplazable">

    <div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
        <div class="row">
            <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">
                <thead>
                    <tr class="THCabecera">
                        <td colspan="9">
                            <div class="editor-label" style="color:#FFFFFF;">
                                <b>Filtros de búsqueda</b>
                                <input type="button" value="🡅" class="btn-contraer_intv" id="btnContraer">
                                <input type="button" value="🡇" class="btn-contraer_intv" style="display:none" id="btnDescontraer">
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody id="Contenido">
                    <tr>
                        <td colspan="12" style="text-align:center">
                            <div class="td_inline content-action">
                                <a href="#" id="btnConsultar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/Visualizar.png" class="set_size" /><br />
                                        <span>Consultar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnExportarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/exportarExcel.png" class="set_size" /><br />
                                        <span>Reporte</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoConsulta">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/ExportExcel.png" class="set_size" /><br />
                                        <span>Reporte en plantilla</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnManttoPlantilla">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/DownFile.png" class="set_size" /><br />
                                        <span>Plantilla</span>
                                    </div>
                                </a>
                            </div>
                            <div class="td_inline content-action">
                                <a href="#" id="btnExpandirRestaurar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                        <span id="spanExpandirContraer" style="font-weight: bold;">Expandir pantalla</span>
                                    </div>
                                </a>
                                <input type="hidden" id="hfExpandirContraer" value="E" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="8">
                            <div class="td_inline" style="">
                                <div>Tipo de Programación:</div>
                                <div>
                                    <select style="background-color:white; width: 182px" id="cboTipoProgramacion">
                                        <option value="0">-- Seleccionar --</option>
                                        @foreach (var item in Model.ListaTiposProgramacion)
                                        {
                                            <option value=@item.Evenclasecodi>@item.Evenclasedesc</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline">
                                <div>Programación:</div>
                                <div class="editor-label">
                                    <select style="background-color:white; width: 362px" id="Programacion">
                                        <option value="0">--Todos--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline">
                                <div>Tipo de Intervención:</div>
                                <div class="editor-label">
                                    <select style="background-color:white; width: 208px" id="cboTipoIntervencion" multiple="multiple">
                                        @foreach (var item in Model.ListaCboIntervencion)
                                        {
                                            <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="td_inline" style="">
                                <div>Estado:</div>
                                <div>
                                    <select style="background-color:white; width:110px" id="estadocodi" multiple="multiple">
                                        @foreach (var item in Model.ListacboEstado)
                                        {
                                            <option value="@item.Estadocodi">@item.Estadonomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            @*<div class="td_inline" style="">
                                    <div>Empresa:</div>
                                    <div>
                                        <select style="background-color:white; width: 205px" id="cboEmpresa" multiple="multiple">
                                            @foreach (var item in Model.ListaCboEmpresa)
                                            {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="td_inline" style="width: 160px;">
                                    <div>Ubicación:</div>
                                    <div class="editor-label">
                                        <select style="background-color:white; width: 160px" id="cboUbicacion" multiple="multiple">
                                            @foreach (var item in Model.ListaCboUbicacion)
                                            {
                                            <option value="@item.Areacodi">@item.Areanomb</option>
                                            }
                                        </select>
                                    </div>
                                </div>*@
                        </td>
                    </tr>

                    <tr>
                        <td colspan="8">

                            <div class="td_inline" style="width:100px">
                                <div>Fecha Inicio: </div>
                                <div class="editor-label">
                                    <input type="text" id="InterfechainiD" value="@Model.Progrfechaini" style="width: 94px" class="txtFecha" />
                                </div>
                            </div>
                            <div class="td_inline" style="width:100px">
                                <div>Fecha Fin: </div>
                                <div class="editor-label">
                                    <input type="text" id="InterfechafinD" value="@Model.Progrfechafin" style="width: 94px" class="txtFecha" />
                                </div>
                            </div>

                            <div class="td_inline" style="">
                                <div>Empresa:</div>
                                <div>
                                    <select style="background-color:white; width: 205px" id="cboEmpresa" multiple="multiple">
                                        @foreach (var item in Model.ListaCboEmpresa)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 160px;">
                                <div>Ubicación:</div>
                                <div class="editor-label">
                                    <select style="background-color:white; width: 160px" id="cboUbicacion" multiple="multiple">
                                        @foreach (var item in Model.ListaCboUbicacion)
                                        {
                                            <option value="@item.Areacodi">@item.Areanomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="width: 90px;">
                                <div>Disponibilidad:</div>
                                <div>
                                    <select style="background-color:white; width: 90px" id="InterDispo" multiple="multiple">
                                        <option value="F">F/S (Fuera de Servicio)</option>
                                        <option value="E">E/S (En Servicio)</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="8">

                            <div class="td_inline" style="">
                                <div>Familia:</div>
                                <div>
                                    <select style="background-color:white; width:200px" id="cboFamilia" multiple="multiple">
                                        @foreach (var item in Model.ListaFamilias)
                                        {
                                            <option value="@item.Famcodi">@item.Famnomb</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="">
                                <div>Equipo:</div>
                                <div>
                                    <select style="background-color:white; width:205px" id="cboEquipo" multiple="multiple">
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="margin-right: 2px;">
                                <div>Conjunto de equipo:</div>
                                <div class="editor-label">
                                    <select style="background-color:white;width:100px" id="cboConjuntoEq">
                                        <option value="0">TODOS</option>
                                        <option value="1">Generación</option>
                                        <option value="2">Líneas</option>
                                        <option value="3">SSEE</option>
                                        <option value="4">SSEE/Líneas</option>
                                    </select>
                                </div>
                            </div>

                            <div class="td_inline" style="">
                                <div>Descripción:</div>
                                <div>
                                    <input type="text" id="txtNombreFiltro" style="background-color: white; width: 236px " />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <div style="align-content:space-between;">
                <div style="float: left; height: 25px;">
                    <label>
                        <input type="text" disabled style="background-color: #FF2C2C; border-radius: 50%; height: 13px; width: 15px; margin: 3px;" /> Rechazados
                    </label>
                </div>
            </div>

            <div>
                <div id="listado"></div>
            </div>

        </div>

        <div class="tabla-header">
            <div class="table-paginado" id="paginado">

                <br />
                <br />
                <b>Nota:</b><span> El filtro de Equipo depende de la seleccion de ubicación y tipo de equipo. </span>
            </div>
        </div>

    </div>
</div>

<div id="popupFormNotificacion" class="general-popup popup_formulario" style="width: 1090px; min-height: 600px; max-width: 1090px">
    <div class="popup-title" style="margin-bottom: 15px;">
        <span id="idtitulo">Cambios de Estado - Programa Semanal</span>
        <input type="button" value="OK, los he leído todo" id="btnCerrarNotif" style="float: right;" />
        <input type="hidden" id="hfIntercodisNotif" value="" />
    </div>
    <div id="formProgramados">
        <div id="tablaNotificacion" style="width: 1090px">
        </div>
    </div>
</div>