@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Enviar comunicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<link href="~/Content/Css/validacion.css" rel="stylesheet" />

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=9.0.6" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesArchivo.js?v=9.0.6"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesMensajeRegistro.js?v=9.0.6"></script>

<div class="form-title_intranet" id="container">
    <div class="content-titulo">Enviar comunicación</div>

    <div class="content-botonera">
        <input type="button" value="Regresar a listado" id="btnRegresar" />
    </div>
</div>

<div class="ast">
    <input type="hidden" id="hfIntercodis" value="@Model.Intercodis" />
    <input type="hidden" id="hfProgrcodi" value="@Model.IdProgramacion" />
    <input type="hidden" id="hfIdTipoProgramacion" value="@Model.IdTipoProgramacion" />
    <input type="hidden" id="hfCorreoFrom" value="@Model.CorreoFrom" />
    <input type="hidden" id="hfCorreoTo" value="@Model.CorreoTo" />
    <input type="hidden" id="hfMsjCarpetaFiles" value="@Model.CarpetaFiles" />

    <div class="content-hijo" id="mainLayout" style="padding-top:8px">

        <div class="row">

            <h4 style="margin-bottom: 0px; margin-top: 0px;">Información de intervencion(es) seleccionada(s):</h4>
            <div id="tabla_intervenciones">

                <div id="listado">

                </div>
            </div>

            <fieldset style="margin-top: 15px;">
                <legend>Mensaje</legend>
                <div id="mensaje_validacion" class="action-error" style="display: none;"></div>

                <table>
                    <tbody>
                        <tr>
                            <td colspan="3" style="padding-top: 2px; text-align: right;">
                                <input type="button" id="btnEnviar" value="Enviar">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:120px" class="tbform-label">De:</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="From" id="From" value="@Model.CorreoFrom" maxlength="900" style="width:920px;" disabled></td>
                        </tr>

                        <tr>
                            <td class="tbform-label">Para (*):</td>
                            <td class="registro-control" style="width:1100px;"><input type="text" name="To" id="To" value="@Model.CorreoTo" maxlength="100" style="width:920px;" disabled></td>
                        </tr>

                        <tr>
                            <td class="tbform-label">CC:</td>
                            <td class="registro-control" style="width:1100px;"><input name="CC" id="CC" type="text" value="" maxlength="120" style="width: 920px; background-color: white; "></td>
                        </tr>
                        <tr>
                            <td class="tbform-label"> BCC:</td>
                            <td class="registro-control" style="width:1100px;"><input name="BCC" id="BCC" type="text" value="" maxlength="120" style="width: 920px; background-color: white; "></td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Asunto (*):</td>
                            <td class="registro-control" style="width:1100px;">
                                <textarea maxlength="450" name="Asunto" id="Asuntos" value="" cols="" rows="3" style="resize: none; width: 920px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label"> Contenido (*):</td>
                            <td class="registro-control" style="width: 920px;">
                                <textarea name="Contenido" id="Contenido" maxlength="2000" cols="180" rows="10">
                        
                                </textarea>
                                (*): Campos obligatorios.
                            </td>
                            <td class="registro-label">
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" colspan="2">

                                <div id="html_archivos_mensaje" style="margin-top: 10px;">

                                </div>

                                <div>
                                    <iframe id="vistaprevia_mensaje" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>

            </fieldset>

        </div>
    </div>
</div>


