@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
<div style="overflow-y: scroll">

    <div class="popup-title">
        <div class="content-titulo">Información de Intervención  </div>
    </div>
    <br />

    <table border="0" class="pretty tabla-icono" id="TablaLogSimple" style="white-space: nowrap;">
        <thead>
            <tr>
                <th style="text-align:left">Fec/Hor.Sistema</th>
                <th style="text-align:left">Usuario</th>
                <th style="text-align:left">Justificacion</th>
                <th style="text-align:left">Clase</th>
                <th style="text-align:left">Estado</th>
                <th style="text-align:left">Tip.Interv.</th>
                <th style="text-align:left">Ubicación</th>
                <th style="text-align:left">Tipo</th>
                <th style="text-align:left">Equipo</th>
                <th style="text-align:left">Fec.Inicio</th>
                <th style="text-align:left">Fec.Fin</th>
                <th style="text-align:left">MWI</th>
                <th style="text-align:left">Ind</th>
                <th style="text-align:left">Int</th>
                <th style="text-align:left">Descripción</th>
                <th style="text-align:left">Cod. Seguimiento</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.ListaIntervenciones)
            {
                var sStyle = "";
                var sEstado = "EN PROCESO";

                if (item.Estadocodi == 2)
                {   //Aprobado
                    if (item.Interprocesado == 2)
                    {
                        sEstado = "EN REVERSIÓN";
                    }
                    else
                    {
                        sEstado = "APROBADO";
                    }
                }
                if (item.Estadocodi == 3)
                {   //Rechazado
                    sStyle = "background-color:#FFC4C4; text-decoration:line-through";
                    sEstado = "RECHAZADO";
                }
                else if (item.Interdeleted == 1)
                {   //Eliminado
                    sStyle = "background-color:#E0DADA; text-decoration:line-through";
                    sEstado = "ELIMINADO";
                }

            <tr id="fila_@item.Intercodi">
                @if (item.Interusuagrup != null && item.Interusuagrup != string.Empty)
                {
                    var fechmodificacion = item.Interfecmodificacion > item.Interfecagrup ? item.UltimaModificacionFechaDesc : item.UltimaModificacionFecAgrupDesc;
                    var usumodificacion = item.Interfecmodificacion > item.Interfecagrup ? item.UltimaModificacionUsuarioDesc : item.Interusuagrup;

                    <td style="text-align:center; @sStyle">@fechmodificacion</td>
                    <td style="text-align:center; @sStyle">@usumodificacion</td>
                }
                else
                {
                    <td style="text-align:center; @sStyle">@item.UltimaModificacionFechaDesc</td>
                    <td style="text-align:center; @sStyle">@item.UltimaModificacionUsuarioDesc</td>
                }
                @*<td style="text-align:center; @sStyle">@item.UltimaModificacionFechaDesc</td>
                <td style="text-align:center; @sStyle">@item.UltimaModificacionUsuarioDesc</td>*@
                <td style="text-align:left; @sStyle">@item.Interjustifaprobrechaz</td>
                <td style="text-align:left; @sStyle">@item.ClaseProgramacion</td>
                <td style="text-align:left; @sStyle">@sEstado</td>
                <td style="text-align:left; @sStyle">@item.TipoEvenDesc</td>
                <td style="text-align:left; @sStyle">@item.AreaNomb</td>
                <td style="text-align:left; @sStyle">@item.FamNomb</td>
                <td style="text-align:left; @sStyle">@item.Equiabrev</td>
                <td style="text-align:center; @sStyle">@Convert.ToDateTime(item.Interfechaini).ToString("dd/MM/yyyy HH:mm")</td>
                <td style="text-align:center; @sStyle">@Convert.ToDateTime(item.Interfechafin).ToString("dd/MM/yyyy HH:mm")</td>
                <td style="text-align:center; @sStyle">@item.Intermwindispo</td>
                <td style="text-align:center; @sStyle">@item.Interindispo</td>
                <td style="text-align:center; @sStyle">@item.Interinterrup</td>
                <td style="text-align:left; @sStyle">@item.Interdescrip</td>
                <td style="text-align:left; @sStyle">@item.Intercodsegempr</td>
            </tr>
            }

        </tbody>

    </table>
</div>
<div>
    <span class="button b-close btnClose"><span>X</span></span>
</div>