@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
<script type="text/javascript">
    $("#idGuardar").unbind();
    $("#idGuardar").click(function () {
        guardarProgramacion();
    });
    $("#idCancelarProg").click(function () {
        $('#popupProgramacion').bPopup().close();
    });

    $('#InterfechainiD').Zebra_DatePicker({
        direction: 0
    });

    $('#InterfechafinD').Zebra_DatePicker({
        direction: 0
    });

    $('#mes').Zebra_DatePicker({
        format: 'm Y',
        onSelect: function () {
            consultar();
        }
    });

    $('#AnhoIni').Zebra_DatePicker({
        format: 'Y',
        onSelect: function () {
            cargarSemanaAnho('Ini');
        }
    });

</script>

<div style="clear:both; height:15px"></div>
<table id="tablaNewprograma" class="content-tabla-search" style="width:auto">
    <thead>
        <tr>
            <td style="width:30px">Horizonte:</td>
            <td>
                <input type="text" value="@Model.NombPrograDetallado" id="nomTipoProgra" disabled />
            </td>
            <td>
                <input type="text" value="@Model.IdTipoProgramacion" id="idTipoProgra" hidden="hidden" />
            </td>
        </tr>
        <tr></tr>

        @if (Model.IdTipoProgramacion == 2)
        {
            <tr>
                <td width="90">Fecha: </td>
                <td>
                    <div style="width:80px" class="editor-label">
                        @Html.TextBoxFor(model => model.InterfechainiD, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px" })
                    </div>
                </td>
            </tr>

        }
        else if (Model.IdTipoProgramacion == 3)
        {
            <tr>
                <td colspan="2" rowspan="1">
                    <table>
                        <tr>
                            <td style="width: 110px; padding-right: 5px; vertical-align: middle;">Fecha Semana:</td>
                            <td style="width: 64px;padding-right: 5px;vertical-align: middle;">
                                <input type="text" id="AnhoIni" value="@Model.AnhoIni" style="width: 61px" />
                            </td>
                            <td style="width: 100px;vertical-align: middle;">
                                <div id="SemanaIni">
                                    <select id="cboSemanaIni" style="width:100px;">
                                        @foreach (var item in Model.ListaSemanasIni)
                                        {
                                            var selected = item.FechaIniSem == Model.FechaInicio ? "selected" : "";
                                            <option value="@item.FechaIniSem" @selected>@item.NombreTipoInfo</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hdSemanaIni" name="hdSemanaIni" value="" />
                                </div>
                            </td>

                            <td style=""></td>
                        </tr>
                    </table>
                </td>
            </tr>

        }
        else if (Model.IdTipoProgramacion == 4)
        {
            <tr>
                <td>Fecha mes:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" style="width: 80px" /></td>
            </tr>
        }

        <tr> <td></td></tr>

        <tr>
            <td>
                <input type="button" id="idGuardar" value="Guardar" />
            </td>
            <td>
                <input type="button" id="idCancelarProg" value="Cancelar" />
            </td>
        </tr>
    </thead>
</table>
