@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Programaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje" value="@Model.StrMensaje" />
    <input type="hidden" id="hdDetalle" value="@Model.Detalle" />

    <div class="ast">
        <div class="content-hijo" style="">
            <div id="mensaje">@Model.StrMensaje</div>
        </div>
    </div>

    return;
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css?v=5.0.0" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/global.js?v=5.0.0"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Registro/Programaciones.js?v=5.0.0"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Intervenciones</div>

    <div class="content-botonera">
        <a href="#" id="btnManualUsuario" style="text-decoration: none;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="ast">
    <div class="content-hijo" style="">
        <div id="mensaje"></div>

        <div class="row">
            <table border="0" cellpadding="5" cellspacing="2" style="width:100%; background-color:#e5efff">
                <tr class="THCabecera">
                    <td colspan="5">
                        <div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div>
                    </td>
                </tr>
                <tr>
                    <td style="width:65px">Horizonte:</td>
                    <td style="width: 250px;">
                        <select style="background-color:white;width: 181px;" id="tipoProgramacion" onchange="listarProgramas();">
                            <option value="0">-- Seleccionar --</option>
                            @foreach (var item in Model.ListaTiposProgramacion)
                            {
                                var selected = Model.IdTipoProgramacion == item.Evenclasecodi ? "selected" : "";
                                <option value="@item.Evenclasecodi" @selected>@item.Evenclasedesc</option>
                            }
                        </select>
                    </td>
                    <td style="width:57px">Empresa:</td>
                    <td>
                        <select style="background-color:white" id="Empresa" multiple="multiple">
                            @foreach (var item in Model.ListaCboEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>

                    <td style="text-align:left;">
                        <div class="botonera-item" style="width: 250px;">
                            <input type="button" value="Nuevo Programa" id="CrearProgramacion" style="visibility:hidden" />
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <div class="listado" id="listado" style="margin-top: 10px"></div>
    </div>

</div>

<input type="hidden" id="hfEmpresa" value="@Model.sIdsEmpresas" />

<!-- Nueva programación -->
<div id="popupProgramacion" class="general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Programación</span></div>
    <div class="panel-container">
        <div class="content-botonera" style="display: none; margin-top: 5px;">
        </div>

        <div class="content-tabla">
            <div class="table-list" id="listadoProgramas"></div>
        </div>
    </div>

</div>