@model COES.MVC.Extranet.Areas.Intervenciones.Models.Programacion

@Html.HiddenFor(model => model.IdTipoProgramacion)

<table border="0" class="pretty tabla-icono" id="tabla1">
    <thead>
        <tr>
            <th>Programación</th>
            <th>Registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProgramaciones)
        {
            <tr id="fila_@item.Progrcodi">

                <td style="text-align:left">@item.ProgrnombYPlazo</td>

                <td>
                    @if (item.EsCerradoExtranet)
                    {
                        <a href="#" onclick="check(@item.Progrcodi)" class="checkIntervencion">
                            <img src="@Url.Content("~/Content/Images/btn-open.png")" title="Visualizar registros" />
                        </a>
                    }
                    else
                    {
                        <a href="#" onclick="check(@item.Progrcodi)" class="checkIntervencion">
                            <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Registrar información" />
                        </a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

<input type="hidden" id="hdResultado_PL" value="@Model.Resultado" />
<input type="hidden" id="hdMensaje_PL" value="@Model.Mensaje" />
<input type="hidden" id="hdDetalle_PL" value="@Model.Detalle" />