@model COES.MVC.Extranet.Areas.Intervenciones.Models.Intervencion
@{ 
    string msjAdmin = "";
}
<script type="text/javascript">
    $("#idTransferir").unbind();
    $("#idTransferir").click(function () {
        transferirIntervenciones();
    });
    $("#idCancelar").click(function () {
        $('#popupListaProgramados').bPopup().close();
    });
</script>

@if (Model.Resultado == "-1" || Model.Resultado == "0")
{
    <input type="hidden" id="hdResultado" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje" value="@Model.StrMensaje" />
    <input type="hidden" id="hdDetalle" value="@Model.Detalle" />

    return;
}
@if (Model.Resultado == "-2")
{
    <input type="hidden" id="hdResultado" value="@Model.Resultado" />
    return;
}
<div class='panel-container'>
    <div class="form-search">
        @if (Model.ListaIntervencionesEjecutadasFuturas.Count > 0)
        {
            <span>Intervenciones cuya fecha de fin es mayor a la fecha actual, estos registros no se transferirán:</span>
            <br />
            <table class="pretty tabla-icono" style="width: 400px;">
                <thead>
                    <tr>
                        <th style="">Empresa</th>
                        <th style="">Ubicación</th>
                        <th style="">Tipo</th>
                        <th style="">Equipo</th>
                        <th style="">Fecha<br> inicio</th>
                        <th style="">Fecha<br> fin</th>
                        <th style="">Disp.</th>
                        <th style="">Descripción</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaIntervencionesEjecutadasFuturas)
                    {
                        <tr>
                            <td style="text-align: left">@item.EmprNomb</td>
                            <td>@item.AreaNomb</td>
                            <td>@item.Famabrev</td>
                            <td>@item.Equiabrev</td>
                            <td>@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interindispo</td>
                            <td>@item.Interdescrip</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br/>
        }
    </div>
</div>

<div class='panel-container'>
    <div class="form-search">
        @if (Model.ListaValidacionHorasOperacionFS.Count > 0)
        {
            msjAdmin = ", esta acción enviará un correo electrónico al Administrador.";
            <span>Intervenciones F/S cuyas unidades tienen Horas de Operación en servicio:</span>
            <table class="pretty tabla-icono" style="width: 400px;">
                <thead>
                    <tr>
                        <th style="">Empresa</th>
                        <th style="">Ubicación</th>
                        <th style="">Tipo</th>
                        <th style="">Equipo</th>
                        <th style="">Fecha<br> inicio</th>
                        <th style="">Fecha<br> fin</th>
                        <th style="">Disp.</th>
                        <th style="">Descripción</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaIntervencionesFS)
                    {
                        <tr>
                            <td style="text-align: left">@item.EmprNomb</td>
                            <td>@item.AreaNomb</td>
                            <td>@item.Famabrev</td>
                            <td>@item.Equiabrev</td>
                            <td>@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interindispo</td>
                            <td>@item.Interdescrip</td>
                        </tr>
                    }
                </tbody>
            </table>

            <span>Unidades tienen Horas de Operación en servicio:</span>
            <table class="pretty tabla-icono tabla-ems" style="width: 700px;">
                <thead>
                    <tr>
                        <th style="">Unidad</th>
                        <th>Modo de operación</th>
                        <th style="">Hora Inicio</th>
                        <th style="">Hora Fin</th>
                        <th>Observación</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaValidacionHorasOperacionFS)
                    {
                        <tr>
                            <td>@item.Equinomb</td>
                            <td style="text-align:left;">@item.ModoOp</td>
                            <td>@item.FechaIniDesc</td>
                            <td>@item.FechaFinDesc</td>
                            <td style="text-align:left;">@item.Hopdesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (Model.ListaValidacionHorasOperacionES.Count > 0)
        {
            msjAdmin = ", esta acción enviará un correo electrónico al Administrador.";
            <span>Intervenciones E/S cuyos equipos no tienen horas de operación:</span>
            <table class="pretty tabla-icono" style="width: 400px;">
                <thead>
                    <tr>
                        <th style="">Empresa</th>
                        <th style="">Ubicación</th>
                        <th style="">Tipo</th>
                        <th style="">Equipo</th>
                        <th style="">Fecha<br> inicio</th>
                        <th style="">Fecha<br> fin</th>
                        <th style="">Disp.</th>
                        <th style="">Descripción</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaIntervencionesES)
                    {
                        <tr>
                            <td style="text-align: left">@item.EmprNomb</td>
                            <td>@item.AreaNomb</td>
                            <td>@item.Famabrev</td>
                            <td>@item.Equiabrev</td>
                            <td>@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Interindispo</td>
                            <td>@item.Interdescrip</td>
                        </tr>
                    }
                </tbody>
            </table>

            <span>Rangos de fecha cuyos equipos no tienen horas de operación:</span>
            <table class="pretty tabla-icono tabla-ems" style="width: 300px;">
                <thead>
                    <tr>
                        <th style="">Unidad</th>
                        <th style="">Hora Inicio</th>
                        <th style="">Hora Fin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaValidacionHorasOperacionES)
                    {
                        <tr>
                            <td>@item.Equinomb</td>
                            <td>@item.FechaIniDesc</td>
                            <td>@item.FechaFinDesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

<div>
    <br />
    <br />

    <table style="display:inline" class="table-form-show">

        <tr>
            <td>
                <i>Presione el botón <b>Transferir</b> para continuar con el proceso@(msjAdmin)</i>
            </td>
        </tr>

        <tr>
            <td style="text-align:right">
                <input type="button" id="idTransferir" value="Transferir" />
            </td>
            <td>
                <input type="button" id="idCancelar" style="border" value="Cancelar" />
            </td>
        </tr>
    </table>
</div>
