@model COES.MVC.Intranet.Areas.Medidores.Models.ConsolidadoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Medidores/Content/Scripts/consolidado.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/Medidores/Content/Css/medidores.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consolidado Mensual de la Máxima Demanda</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="home-txt" style="float:left; margin-bottom:20px; font-size:10px; line-height:17px; text-align: left">
        CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
        <strong>* PR-N° 30:</strong> VALORIZACIÓN DE LAS TRANSFERENCIAS DE POTENCIA Y COMPENSACIONES AL SISTEMA PRINCIPAL Y SISTEMA GARANTIZADO DE TRANSMISIÓN (Vigente desde el 01 de junio de 2015)<br />
        <strong>* PR-N° 43:</strong> INTERCAMBIOS INTERNACIONALES DE ELECTRICIDAD EN EL MARCO DE LA DECISIÓN 757 DE LA CAN<br />
        @foreach (var reg in Model.ListaNormativa)
        {
            <strong>* @reg.Nombre</strong>@reg.Descripcion<br />
        }
    </div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto; margin-bottom:0">
                        <tr>
                            <td>Mes desde:</td>
                            <td><input type="text" id="FechaDesde" name="FechaDesde" value="@Model.FechaDesde" style="width:120px" /></td>
                            <td>Tipo de Empresa:</td>
                            <td>
                                <select id="cbTipoEmpresa" multiple="multiple">
                                    @foreach (var item in Model.ListaTipoEmpresas)
                                    {
                                        <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoEmpresa" />
                            </td>
                            <td>Empresa:</td>
                            <td>
                                <div id="empresas"></div>
                                <input type="hidden" id="hfEmpresa" />
                            </td>
                            <td>
                                <input type="button" value="Consultar" id="btnConsultar" style="margin-left:0" />
                            </td>
                        </tr>
                        <tr>
                            <td>Mes hasta:</td>
                            <td><input type="text" id="FechaHasta" name="FechaHasta" value="@Model.FechaHasta" style="width:120px" /></td>
                            <td>Tipo de Generación:</td>
                            <td>
                                <select id="cbTipoGeneracion" multiple="multiple">
                                    @foreach (var item in Model.ListaTipoGeneracion)
                                    {
                                        <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoGeneracion" />
                            </td>
                            <td>Central Integrante:</td>
                            <td colspan="2">
                                <select id="cbCentral" style="width:142px">
                                    <option value="0">TODOS</option>
                                    <option value="1" selected="selected">COES</option>
                                    <option value="10">NO COES</option>
                                    <option value="3">GENERACION RER</option>
                                </select>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div style=" clear:both; height:0px"></div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado">


        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

</div>
