@model COES.MVC.Intranet.Areas.Eventos.Models.RsfModel


<table id="tablaHoras" class="pretty tabla-adicional" cellspacing="0">
    <thead>
        <tr>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>
                <a href="JavaScript:agregarHora(0)" title="Agregar">
                    <img src="~/Content/Images/btn-add.png" />
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var indice = 0;
            foreach (var item in Model.ListaHoras)
            {
                indice++;
            <tr data-id="@item.Rsfhorcodi">
                <td>
                    <input type="text" style="width:70px" value="@((item.Rsfhorinicio != null) ? ((DateTime)item.Rsfhorinicio).ToString("HH:mm") : string.Empty)" @((item.rsfdel == 1) ? " disabled " : "")) />
                </td>
                <td>
                    <input type="text" style="width:70px" value="@((item.Rsfhorfin != null) ? ((DateTime)item.Rsfhorfin).ToString("HH:mm") : string.Empty)" @((item.rsfdel == 1) ? " disabled " : "")) />
                </td>
                <td>
                    <img src="~/Content/Images/btn-ok.png" onclick="addHora($(this).parent().parent(), @item.Rsfhorcodi)" @((item.rsfadd == 1) ? " hidden " : "")) />
                    <img src="~/Content/Images/btn-cancel.png" onclick="eliminarHora(@item.Rsfhorcodi)" @((item.rsfadd == 1) ? " hidden " : "")) />

                </td>
            </tr>
            }
        }
    </tbody>
</table>


