@model COES.MVC.Intranet.Areas.Interconexiones.Models.InformeModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px">Opciones</th>
            <th>Nro de Versión</th>
            <th>Fecha periodo</th>
            <th>Usuario creación</th>
            <th>Fecha creación</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaVersion.Count > 0)
        {
            foreach (var item in Model.ListaVersion)
            {
                <tr>
                    <td style="width:70px">                       
                        <a href="JavaScript:visualizar(@item.Infintcodi);"><img src="~/Content/Images/btn-open.png" /></a>
                        <a href="JavaScript:descargar(@item.Infintcodi);"><img src="~/Content/Images/doc.png" /></a>                        
                    </td>
                    <td>@item.Infintversion</td>
                    <td>@item.NombreSemana</td>
                    <td>@item.Infintusucreacion</td>
                    <td>@(((DateTime)item.Infintfeccreacion).ToString("dd/MM/yyyy hh:mm"))</td>
                </tr>
            }
        }
    </tbody>
</table>