@model COES.MVC.Intranet.Areas.Interconexiones.Models.AntecedentesModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px">Opciones</th>
            <th>Antecedente</th>
            <th>Usuario</th>
            <th>Fecha</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaAntecedentes.Count > 0)
        {
            foreach (var item in Model.ListaAntecedentes)
            {
                <tr>
                    <td style="width:70px">
                        <a href="JavaScript:editar(@item.Infantcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Infantcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@Html.Raw(item.Intantcontenido)</td>
                    <td>@item.Intantusucreacion</td>                    
                    <td>@(((DateTime)item.Intantfeccreacion).ToString("dd/MM/yyyy hh:mm"))</td>
                </tr>
            }
        }
    </tbody>
</table>