@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleGasModel
@{
    ViewBag.Title = "Envios";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/Gas/index_participante.js?v=1.3"></script>
<link href="~/Areas/Combustibles/Content/Css/Gas/css.css?v=1.0" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Reporte de información presentada por Participante Generador</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value="Descargar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfEstado" />
    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td style="vertical-align: middle;">Archivos:</td>
                <td>
                    <select id="cbArchivo" name="IdEmpresa" style=" width: 200px;">
                        @if (Model.TienePermisoAdmin)
                        {
                            <option value="0">--SELECCIONE--</option>
                            <option value="1">Exportar c/s confidencialidad</option>
                            <option value="2">Exportar no confidencial</option>
                            <option value="3">Exportar confidencial</option>
                        }
                        else
                        {
                            <option value="2">Exportar no confidencial</option>
                        }
                    </select>
                </td>

                <td style="vertical-align: middle;">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td style="vertical-align: middle;">Estado:</td>
                <td>
                    <select id="cbEstado" name="IdEstado" multiple="multiple">
                        @foreach (var item in Model.ListadoEstados)
                        {
                            <option value="@item.Estenvcodi">@item.Estenvabrev</option>
                        }
                    </select>
                </td>

                <td>Fecha Desde:</td>
                <td>
                    <input type="text" id="FechaDesde" style="width: 90px;" name="FechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha Hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" style="width: 90px;" name="FechaFin" value="@Model.FechaInicio" />
                </td>

                @*<td>
            <input type="button" id="btnBuscar" value="Consultar" />
            <input type="button" style="float: right;" id="btnExpotar" value="Exportar" />
        </td>*@
            </tr>
        </table>
    </div>

    <div class="content-tabla" id="listado" style="">
        <div class="" id="listadoEnvios">

        </div>
    </div>

</div>