@model COES.MVC.Intranet.Areas.YupanaContinuo.Models.CompromisoHidraulicoModel
@{
    ViewBag.Title = "Compromiso Hidráulico para Centrales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>

<link href="~/Areas/YupanaContinuo/Content/Css/css.css?v=1.0.2" rel="stylesheet" />
<link href="~/Areas/YupanaContinuo/Content/Css/formulario.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/YupanaContinuo/Content/Scripts/compromisoHidraulico.js?v=2.0.1"></script>

<input type="hidden" id="hfIdEnvioSC" value="@Model.IdEnvioSC" />
<input type="hidden" id="hfIdEnvioCC" value="@Model.IdEnvioCC" />

<div class="form-title">
    <div class="content-titulo">Compromiso Hidráulico para Centrales y Embalses</div>
</div>

<style type="text/css">

    .tabla_filtro_ho tr td {
        padding-right: 5px;
    }
</style>

<div class="content-hijo" id="mainLayout" style="height: 850px">
    @if (Model.Mensaje != "")
    {
        <div id="mensaje_compr_alerta" class="action-alert" style="margin:0; margin-bottom:10px;">@Model.Mensaje</div>
    }

    <div class="search-content" style="">
        <table>
            <tr>
                <td style="vertical-align: middle;">
                    <table class="content-tabla-search tabla_filtro_ho" style="width:auto">
                        <tr>
                            <td class="tbform-label">Fecha:</td>
                            <td>
                                <input type="text" id="txtFecha" name="Fecha" value="@Model.Fecha" style="width: 94px;" />
                                <input type="hidden" id="hfFecha" value="@Model.Fecha" />
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="text-align:right;">
                    @if (Model.TienePermisoAdmin)
                    {
                        <div>
                            <input type="button" id="btnGestionarCentrales" onclick="OpenUrl('', 'F', 338, 'Hidrologia/FormatoMedicion', 'Index?app=5');" value="Gestionar Centrales" target="_blank" />
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>


    <div class="content-tabla" id="excelwebCH" style="padding-top: 10px;">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#vistaSinComp">Sin Compromiso</a></li>
                <li class='tab'><a href="#vistaConComp">Con Compromiso</a></li>
            </ul>

            <div class='panel-container'>
                <div id="vistaSinComp" style="height: 710px">

                    <div id="barraHerramientaYC" class="search-content" style="padding-top: 3px;padding-bottom: 8px;background-color: white;">
                        <table class="table-search" style="width:100%;" role="presentation">
                            <tr>
                                <td></td>
                                @if (Model.TienePermisoAdmin)
                                {
                                    <td class="content-action item_postoperativa" style="width: 57px;">
                                        <a href="#" id="btnEditarDataSC" style=" display: none">
                                            <div class="content-item-action" style="width:40px;">
                                                <img src="~/Content/Images/btn-edit.png" alt="logo" /><br />
                                                <span>Editar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action item_postoperativa" style="width: 57px;">
                                        <a href="#" id="btnGuardarDataSC" style=" display: none">
                                            <div class="content-item-action" style="width:40px;">
                                                <img src="~/Content/Images/prnsave.png" alt="logo" /><br />
                                                <span>Guardar</span>
                                            </div>
                                        </a>
                                    </td>
                                }
                                <td class="content-action item_postoperativa" style="width: 57px;">
                                    <a href="#" id="btnVerHistorialSC">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/historial.png" alt="logo" /><br />
                                            <span>Historial</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="content-tabla">
                        <div style="clear:both; height:5px"></div>

                        <div class="content-tabla">

                            <p id="notaVersion"><strong id="versionMostradaSC"> </strong></p>
                            <div id="contenidoSinCompromiso">
                                <div id="mensaje_leyenda">
                                    <p class="leyenda_" style="display:block">Las <b>casillas marcadas</b> para una central sin compromiso hidráulico <strong>indican las horas cuyo dato será actualizado </strong>  con la información proporcionada. </p>
                                </div>
                                <div id="tblSinCompromiso" class="" style="height: 440px; max-width: 1400px;"> </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="vistaConComp" style="height: 710px">

                    <div id="barraHerramientaYC" class="search-content" style="padding-top: 3px;padding-bottom: 8px;background-color: white;">
                        <table class="table-search" style="width:100%;" role="presentation">
                            <tr>
                                <td></td>
                                @if (Model.TienePermisoAdmin)
                                {
                                    <td class="content-action item_postoperativa" style="width: 57px;">
                                        <a href="#" id="btnEditarDataCC" style=" display: none">
                                            <div class="content-item-action" style="width:40px;">
                                                <img src="~/Content/Images/btn-edit.png" alt="logo" /><br />
                                                <span>Editar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action item_postoperativa" style="width: 57px;">
                                        <a href="#" id="btnGuardarDataCC" style=" display: none">
                                            <div class="content-item-action" style="width:40px;">
                                                <img src="~/Content/Images/prnsave.png" alt="logo" /><br />
                                                <span>Guardar</span>
                                            </div>
                                        </a>
                                    </td>
                                }
                                <td class="content-action item_postoperativa" style="width: 57px;">
                                    <a href="#" id="btnVerHistorialCC">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/historial.png" alt="logo" /><br />
                                            <span>Historial</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="content-tabla">
                        <div style="clear:both; height:5px"></div>

                        <div class="content-tabla">
                            <p id="notaVersion"><strong id="versionMostradaCC"> </strong></p>
                            <div id="contenidoConCompromiso">
                                <div id="mensaje_leyenda">
                                    <p class="leyenda_" style="display:block">Las <b>casillas marcadas</b> para una central con compromiso hidráulico <strong>indican las horas cuyo dato será actualizado </strong>  con la información proporcionada. </p>
                                </div>
                                <div id="tblConCompromiso" class="" style="height: 440px; max-width: 1400px;"> </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="enviosanterioresSC" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Cambios</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="idEnviosAnterioresSC">
        </div>
    </div>
</div>

<div id="enviosanterioresCC" class="general-popup" style="z-index:9999999998;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Cambios</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="idEnviosAnterioresCC">
        </div>
    </div>
</div>
