@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.ContactoModel

<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />


<div class="popup-title"><span>Modificar Persona de Contacto</span></div>
<div class="popup-text" id="contenidoEdicion">
    <div id="mensajeEdicion" class="action-message" style="display: none; width: 95%">Por favor complete los datos solicitados.</div>
    <div class="content-registro">
        <table style="width:auto">
            <tr>
                <td class="registro-label">Nombres:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombresEdicion" value="@Model.Nombres" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtNombresEdicion" data-required="true" style="width: 330px" maxlength="255" /><span id="spntxtNombresEdicion">(*)</span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Apellidos:</td>
                <td class="registro-control">
                    <input type="text" id="txtApellidosEdicion" value="@Model.Apellidos" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtApellidosEdicion" data-required="true" style="width: 330px" maxlength="25" /><span id="spntxtApellidosEdicion">(*)</span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cargo de la Empresa:</td>
                <td class="registro-control">
                    <input type="text" id="txtCargoEmpresaEdicion" value="@Model.CargoEmpresa" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtCargoEmpresaEdicion" data-required="true" style="width: 330px" maxlength="50" /><span id="spntxtCargoEmpresaEdicion">(*)</span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono:</td>
                <td class="registro-control">
                    <input type="text" id="txtTelefonoEdicion" value="@Model.Telefono" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtTelefonoEdicion" data-required="true" style="width: 330px" maxlength="50" /><span id="spntxtTelefonoEdicion">(*)</span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono Móvil:</td>
                <td class="registro-control">
                    <input type="text" id="txtMovilEdicion" value="@Model.TelefonoMovil" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtMovilEdicion"  style="width: 330px" maxlength="50" /><span id="spntxtMovilEdicion">(*)</span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Correo electrónico:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreoEdicion" value="@Model.CorreoElectronico" class="DatosRequeridosEdicion RequiredEdicion  " data-validator-id="spntxtCorreoEdicion" data-required="true" style="width: 330px" maxlength="255" /><span id="spntxtCorreoEdicion">(*)</span>
                </td>
            </tr>
        </table>
        <div style="width:200px; margin:auto; height:10px">
            <input id="btnCancelarEdicion" type="button" value="Cancelar" style="margin: 5px 0 5px 0;" />
            <input id="btnGrabarEdicion" type="button" value="Grabar" style="margin: 5px 0 5px 0;" />
            <input type="hidden" id="hdfRptecodi" value="@Model.RpteCodi" />
        </div>
    </div>
</div>