@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.ContactoModel

<table id="tablaContacto" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo en la Empresa</th>
            <th>Teléfono</th>
            <th>Teléfono Móvil</th>
            <th>Correo</th>
            <th>Editar</th>
            <th>Quitar</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.ListaContacto.Count() > 0)
        {
            foreach (var item in Model.ListaContacto)
            {
                <tr>
                    <td>@item.Rptenombres</td>
                    <td>@item.Rpteapellidos</td>
                    <td>@item.Rptecargoempresa</td>
                    <td>@item.Rptetelefono</td>
                    <td>@item.Rptetelfmovil</td>
                    <td>@item.Rptecorreoelectronico</td>
                    <td>
                        <a href="#" onclick="EditarContacto(@item.Rptecodi)" id="btnEditarContacto">
                            <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                    <td>
                        <a href="#" onclick="EliminarContacto(@item.Rptecodi)" id="btnEliminarContacto">
                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



