@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosEventoModel

<style>
    .columm-styles {
        text-align: left !important;
        min-width: 700px !important;
        max-width: 700px !important;
        padding: 10px !important;
        text-wrap: inherit !important;
    }

    .column-fecha-styles {
        padding: 10px !important;
    }

    .column-nombre-styles {
        padding: 10px !important;
        text-wrap: inherit !important;
    }

    .column-caso-especial-styles {
        min-width: 200px !important;
        max-width: 200px !important;
        word-wrap: break-word;
        text-wrap: inherit !important;
    }

    .column-criterio-styles {
        padding: 10px !important;
        min-width: 250px !important;
        max-width: 250px !important;
        text-wrap: inherit !important;
    }

    .column-name-with {
        min-width: 600px !important;
        max-width: 600px !important;
        text-wrap: inherit !important;
    }

    .column-decision-descripcion-title {
        word-wrap: break-word;
        min-width: 600px !important;
        max-width: 600px !important;
    }

    .column-decision-descripcion {
        word-wrap: break-word;
        min-width: 600px !important;
        max-width: 600px !important;
        text-align: left !important;
        text-wrap: inherit !important;
    }

    .column-decision-comentarios-title {
        word-wrap: break-word;
        min-width: 300px !important;
        max-width: 300px !important;
    }

    .column-decision-comentarios-descripcion {
        word-wrap: break-word;
        min-width: 300px !important;
        max-width: 300px !important;
    }
</style>

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tablaBuscarCriterio">
    <thead>
        <tr>
            <th style="width:20px;"></th>
            <th style="background:#29b92d;height:25px" colspan="5">DATOS DEL EVENTO</th>
            <th style="background: #ff6a00" colspan="6">DATOS DE DECISIÓN DE ASIGNACIÓN DE RESPONSABILIDAD</th>
            <th style="background: #ff328a" colspan="6">DATOS DE RECONSIDERACIÓN</th>
            <th style="background: #00ff21; color: #000" colspan="6">DATOS DE APELACIÓN</th>
            <th style="background: #00ffff; color: #000" colspan="6">DATOS DE ARBITRAJE</th>
        </tr>
        <tr>
            <th style="width:70px;">Acción</th>
            <th style="width:320px;background:#29b92d">Código de Evento</th>
            <th style="width:120px;background:#29b92d">Fecha de evento</th>
            <th class="column-name-with" style="background:#29b92d">Nombre de Evento</th>
            <th class="column-caso-especial-styles" style="background:#29b92d">Caso Especial</th>
            <th class="column-caso-especial-styles" style="background:#29b92d">Impugnación</th>

            <th style="width:110px;background:#ff6a00">Fecha de Decisión</th>
            <th class="column-decision-descripcion-title" style="background:#ff6a00">Descripción del Evento</th>
            <th class="column-decision-descripcion-title" style="background:#ff6a00">Resumen de la decisión de asignación de responsabilidad</th>
            <th class="column-caso-especial-styles" style="background:#ff6a00">Empresa Responsable</th>
            <th class="column-decision-comentarios-title" style="background:#ff6a00">Comentarios a las empresas responsables</th>
            <th class="column-caso-especial-styles" style="background:#ff6a00">Criterios</th>

            <th class="column-caso-especial-styles" style="background:#ff328a">Empresa (s) solicitante (s)</th>
            <th class="column-decision-descripcion-title" style="background:#ff328a">Principales argumentos del recurso</th>
            <th class="column-decision-descripcion-title" style="background:#ff328a">Decisión adoptada por la DCOES</th>
            <th class="column-caso-especial-styles" style="background:#ff328a">Empresa Responsable</th>
            <th class="column-decision-comentarios-title" style="background:#ff328a">Comentarios a la nueva asignación de responsabilidad</th>
            <th class="column-caso-especial-styles" style="background:#ff328a">Criterios</th>

            <th class="column-caso-especial-styles" style="background: #00ff21; color: #000">Empresa (s) solicitante (s)</th>
            <th class="column-decision-descripcion-title" style="background: #00ff21; color: #000">Principales argumentos del recurso</th>
            <th class="column-decision-descripcion-title"  style="background: #00ff21; color: #000">Decisión adoptada por el Directorio</th>
            <th class="column-caso-especial-styles" style="background: #00ff21; color: #000">Empresa Responsable</th>
            <th class="column-decision-comentarios-title"  style="background: #00ff21; color: #000">Comentarios a la nueva asignación de responsabilidad</th>
            <th class="column-caso-especial-styles" style="background: #00ff21; color: #000">Criterios</th>

            <th class="column-caso-especial-styles" style="background: #00ffff; color: #000">Empresa (s) solicitante (s)</th>
            <th class="column-decision-descripcion-title" style="background: #00ffff; color: #000">Principales argumentos del recurso</th>
            <th class="column-decision-descripcion-title" style="background: #00ffff; color: #000">Decisión adoptada por el tribunal arbitral</th>
            <th class="column-caso-especial-styles" style="background: #00ffff; color: #000">Empresa Responsable</th>
            <th class="column-decision-comentarios-title" style="background: #00ffff; color: #000">Comentarios a la nueva asignación de responsabilidad</th>
            <th class="column-caso-especial-styles" style="background: #00ffff; color: #000">Criterios</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCriterios)
        {

        <tr>

            @* ACCION *@
            <td style="width: 65px; min-width: 65px;">
                <a style="display: flex; justify-content: center; align-items: center" href="JavaScript:verEvento(@item.CREVENCODI)" title="Ver datos del evento">
                    <img src="~/Content/Images/btn-edit.png" />
                </a>
            </td>

            @* EVENTO *@
            <td>@item.CODIGO</td>
            <td class="column-fecha-styles">@item.FECHA_EVENTO</td>
            <td class="column-nombre-styles column-name-with">@item.NOMBRE_EVENTO</td>
            <td class="column-nombre-styles column-caso-especial-styles" >@item.CASOS_ESPECIAL</td>
            <td class="column-caso-especial-styles">@item.IMPUGNACION</td>

            @*ETAPA 1*@
            <td class="column-fecha-styles">@item.FECHA_DECISION</td>
            <td class="column-decision-descripcion">@Html.Raw(item.DESCRIPCION_EVENTO_DECISION)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.RESUMEN_DECISION)</td>
            <td class="column-caso-especial-styles">@Html.Raw(item.RESPONSABLE_DECISION)</td>
            <td class="column-decision-comentarios-descripcion">
                <div style="display: flex; gap: 20px; justify-content: center; align-items: center">
                    @if (!string.IsNullOrEmpty(item.COMENTARIO_EMPRESA_DECISION))
                    {
                        <div>
                            <a href="JavaScript:verComentario(@item.CREVENCODI, 1)" title="Ver comentario de Decisión">
                                <img src="~/Content/Images/Visualizar.png" />
                            </a>
                        </div>
                        <div>
                            @Html.Raw(item.COMENTARIO_EMPRESA_DECISION)
                        </div>
                    }
                </div>
            </td>
            <td class="column-caso-especial-styles">@Html.Raw(@item.CRITERIO_DECISION)</td>

            @*ETAPA 2*@
            <td class="column-caso-especial-styles">@Html.Raw(item.EMPR_SOLI_RECONSIDERACION)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.ARGUMENTO_RECONCIDERACION)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.DECISION_RECONCIDERACION)</td>
            <td class="column-caso-especial-styles">@Html.Raw(item.RESPONSABLE_RECONCIDERACION)</td>
            <td class="column-decision-comentarios-descripcion">
                <div style="display: flex; gap: 20px; justify-content: center; align-items: center">
                    @if (!string.IsNullOrEmpty(item.COMENTARIOS_RECONCIDERACION))
                    {
                        <div>
                            <a href="JavaScript:verComentario(@item.CREVENCODI, 2)" title="Ver comentario de Reconcideración">
                                <img src="~/Content/Images/Visualizar.png" />
                            </a>
                        </div>
                        <div>
                            @Html.Raw(item.COMENTARIOS_RECONCIDERACION)
                        </div>
                    }
                </div>
            </td>
            <td class="column-caso-especial-styles">@Html.Raw(@item.CRITERIOS_RECONSIDERACION)</td>

            @*ETAPA 3*@
            <td class="column-caso-especial-styles">@Html.Raw(item.EMPR_SOLI_APELACION)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.ARGUMENTO_APELACION)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.DECISION_APELACION)</td>
            <td class="column-caso-especial-styles">@Html.Raw(item.RESPONSABLE_APELACION)</td>
            <td class="column-decision-comentarios-descripcion">
                <div style="display: flex; gap: 20px; justify-content: center; align-items: center">
                    @if (!string.IsNullOrEmpty(item.COMENTARIOS_APELACION))
                    {
                        <div>
                            <a href="JavaScript:verComentario(@item.CREVENCODI, 3)" title="Ver comentario de Apelación">
                                <img src="~/Content/Images/Visualizar.png" />
                            </a>
                        </div>
                        <div>
                            @Html.Raw(item.COMENTARIOS_APELACION)
                        </div>
                    }
                </div>
            </td>
            <td class="column-caso-especial-styles">@Html.Raw(@item.CRITERIOS_APELACION)</td>

            @*ETAPA 4*@
            <td class="column-caso-especial-styles">@Html.Raw(item.EMPR_SOLI_ARBITRAJE)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.ARGUMENTO_ARBITRAJE)</td>
            <td class="column-decision-descripcion">@Html.Raw(item.DECISION_ARBITRAJE)</td>
            <td class="column-caso-especial-styles">@Html.Raw(item.RESPONSABLE_ARBITRAJE)</td>
            <td class="column-decision-comentarios-descripcion">
                <div style="display: flex; gap: 20px; justify-content: center; align-items: center">
                    @if (!string.IsNullOrEmpty(item.COMENTARIOS_ARBITRAJE))
                    {
                        <div>
                            <a href="JavaScript:verComentario(@item.CREVENCODI, 4)" title="Ver comentario de Arbitraje">
                                <img src="~/Content/Images/Visualizar.png" />
                            </a>
                        </div>
                        <div>
                            @Html.Raw(CapturePrimerosCaracteres(item.COMENTARIOS_ARBITRAJE))
                        </div>
                    }
                </div>
            </td>
            <td class="column-caso-especial-styles">@Html.Raw(@item.CRITERIOS_ARBITRAJE)</td>
        </tr>
        }
    </tbody>
</table>



@functions {
    public string CapturePrimerosCaracteres(string textoCompleto)
    {
        if (!string.IsNullOrEmpty(textoCompleto))
        {
            if (textoCompleto.Length > 30)
            {
                return textoCompleto.Substring(0, 30);
            }
        }

        return textoCompleto;
    }
}

<div id="popupVerComentario" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoVerComentario" style="margin-top:0">

    </div>
</div>