@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosEventoModel
@{
    ViewBag.Title = "Detalle Evento Criterio";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList slCasosEspeciales = new SelectList(Model.ListaCasosEspeciales, "CRESPECIALCODI", "CREDESCRIPCION", Model.Crespecialcodi);
}
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/slimselect.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/slimselect.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/criteriosevento.js"></script>
@*<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/busquedaequipo.js"></script>*@

<div class="form-title">
    <div class="content-titulo">Análisis de Falla - Criterios - Detalle</div>
    <div class="content-botonera">
        <table cellpadding="0" cellspacing="0" style="margin-top:12px; width:auto">
            <tr style="line-height:10px">
                <td>
                    <input type="button" id="btnGrabar" value="Grabar" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="mensaje" class="action-message">Por favor complete los datos</div>
<div class="content-hijo" style="min-height: 0 !important">
    <div class="form-main" style="margin-top:10px">
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td style="max-width: 50px; font-weight: bold; font-size: 14px; color: #3D90CB;" class="registro-label">@Model.CodigoEvento</td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha Hora Evento</label>
                    </td>
                    <td style="width:250px">
                        <input style="width: -webkit-fill-available" value="@Model.FechaEvento" disabled />
                    </td>
                    <td>
                        <label>Nombre Evento</label>
                    </td>
                    <td style="width:600px">
                        <input style="width: -webkit-fill-available" value="@Model.NombreEvento" disabled />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Casos Especiales</label>
                    </td>
                    <td>
                        <select id="cbCasoEspecial" style="width:250px">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaCasosEspeciales)
                            {
                                <option value="@item.CRESPECIALCODI">@item.CREDESCRIPCION</option>
                            }
                        </select>
                        <input type="hidden" id="hfCasoEspecial" value="@Model.Crespecialcodi" />
                    </td>
                    <td>
                        <label>Impugnación</label>
                    </td>
                    <td>
                        <input style="width: -webkit-fill-available" value="@Model.Impugnacion" disabled />
                        @*<select id="cbImpugnacion" style="width:250px" disabled>
                            <option value="0">-SELECCIONE-</option>
                            <option value="17">RECONSIDERACIÓN</option>
                            <option value="11">APELACIÓN</option>
                            <option value="10">ARBITRAJE</option>
                        </select>*@
                        @*<input type="hidden" id="hfImpugnacion" value="@Model.CodigoImpugnacion" />*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class="tab-container" style="min-height:700px">
        <ul class='etabs'>
            <li class='tab'><a href="#Decision">Decisión</a></li>
            <li class='tab'><a href="#Reconsideracion">Reconsideración</a></li>
            <li class='tab'><a href="#Apelacion">Apelación</a></li>
            <li class='tab'><a href="#Arbitraje">Arbitraje</a></li>
        </ul>
        <div class="panel-container">
            <div id="Decision">
                <div class="content-registro" style="width:auto">

                    <div style="display: flex; gap: 50px; align-items: center; margin-top: 25px; margin-bottom: 25px; width: 50%">
                        <div style="display: flex; gap: 20px; align-items: center; width: 50%">
                            <label style="width: max-content">Fecha de Decisión</label>
                            <input id="txtFechDecision" type="text" disabled="disabled" value="@(Model.Afeitdecfechaelab != null ?  Model.Afeitdecfechaelab.ToString("dd/MM/yyyy") : "")" style="width: 50%" />
                        </div>
                        <div style="display: flex; gap: 20px; align-items: center; width: 50%">
                            <label>Criterio</label>
                            <select id="cbCrCriterioDesicion" style="width:250px" class="f-select-m" multiple>
                                @foreach (var item in Model.ListaCrCriterios)
                                {
                                    <option value="@item.CRCRITERIOCODI">@item.CREDESCRIPCION</option>
                                }
                            </select>

                            <input type="hidden" id="hfCrCriterioDesicion" value="@Model.ListaCriteriosDecision" />
                        </div>
                    </div>

                    <div style="margin-bottom: 25px;">
                        <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                            <label style="padding-left: 10px;">Descripción del Evento</label>
                        </div>
                        <textarea id="txtDescripcionEvento" rows="10" cols="40" style="width: 50%">@Model.EtapaDesicion.CREVENTODESCRIPCION</textarea>
                    </div>

                    <div style="margin-bottom: 10px;">
                        <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                            <label style="padding-left: 10px;">Resumen de la decisión de asignación de responsabilidad</label>
                        </div>
                        <textarea id="txtResumenDecision" rows="10" cols="40" style="width: 50%">@Model.EtapaDesicion.CRRESUMENCRITERIO</textarea>
                    </div>

                    <div style="display: flex; width: 50%; align-items: center; justify-content: space-between; margin-bottom: 20px;">
                        <div style="display: flex; align-items: center; gap: 10px">
                            <label style="width: 140px;">Empresas responsables</label>
                            <select id="txtEmpresaDesicion" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                <option value="" selected="selected"></option>
                            </select>
                            <input type="button" id="btnAgregarResponsableDesicion" value="Agregar">
                            <input type="button" id="btnImportarResponsableDesicion" value="Importar CTAF">
                        </div>

                    </div>

                    <div class="content-tabla" style="margin-bottom: 25px;">
                        <div class="tabla-header">
                            <div class="table-paginado" id="paginado"></div>
                        </div>
                        <div style="overflow-x: auto; white-space: nowrap;">
                            <div class="table-list">
                                <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5px;"></th>
                                            <th style="width: 70px;">EMPRESA</th>
                                            <th style="width: 80px;">LAST USER</th>
                                            <th style="width: 80px;">LAST DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyEmpresaResponsableDesicion">
                                        @if (Model.ListaEmpresaRespDesicion != null)
                                        {
                                            foreach (var item in Model.ListaEmpresaRespDesicion)
                                            {
                                                <tr id="@string.Format("rowResponsableDesicion{0}", item.EMPRCODI)" data-id="@item.CRRESPEMPRCODI">
                                                    <td>
                                                        <a href="#" onclick="EliminarEmpresaResponsable(@item.CRRESPEMPRCODI, 1)">
                                                            <img src="~/Content/Images/btn-cancel.png" style="margin-top: 2px; margin-bottom: 2px" />
                                                        </a>
                                                    </td>
                                                    <td>@item.EMPRNOMB</td>
                                                    <td>@item.LASTUSER</td>
                                                    <td>
                                                        @if (item.LASTDATE != null)
                                                        {
                                                            <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 10px;">
                        <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                            <label style="padding-left: 10px;">Comentarios a las empresas responsables</label>
                        </div>
                        <textarea id="txtComentarioRespDecision" rows="10" cols="40" style="width: 50%">@Model.EtapaDesicion.CRCOMENTARIOS_RESPONSABLES</textarea>
                    </div>

                </div>

            </div>
            <div id="Reconsideracion">
                <div class="content-registro" style="width:auto">

                    <div style="display: flex; gap: 50px; align-items: center; margin-top: 25px; margin-bottom: 25px; width: 50%">
                        <div style="display: flex; gap: 20px; align-items: center; width: 50%">
                            <label>Criterio</label>
                            <select id="cbCrCriterioReconsideracion" style="width:250px" class="f-select-m" multiple>
                                @foreach (var item in Model.ListaCrCriterios)
                                {
                                    <option value="@item.CRCRITERIOCODI">@item.CREDESCRIPCION</option>
                                }
                            </select>
                            <input type="hidden" id="hfCrCriterioReconsideracion" value="@Model.ListaCriteriosReconsideracion" />
                        </div>
                    </div>

                    <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;">
                        <span>Empresas solicitantes</span>
                    </div>

                    <div class="content-registro" style="width:auto">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="registro-label">
                                        <div style="width: 100px">
                                            Empresa
                                        </div>
                                    </td>
                                    <td class="registro-control">
                                        <select id="txtEmpresaRecSol" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                            <option value="" selected="selected"></option>
                                        </select>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Principales argumentos</label>
                                            </div>
                                            <textarea id="txtArgumentoRec" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Decisión adoptada</label>
                                            </div>
                                            <textarea id="txtDesicionRec" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label" style="width: 250px;">
                                        <div style="display: flex; flex-direction: column; gap: 20px; width: 200px; margin: auto">
                                            <input type="button" id="btnAgregarSolicitanteReconsideracion" value="Agregar">
                                            <input type="button" id="btnImportarSolicitanteReconsideracion" value="Importar CTAF">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="padding-top:10px; margin-bottom: 25px;">
                            <table style="width:100%" border="0" class="pretty tabla-adicional">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">ACCIONES</th>
                                        <th style="width: 80px;">EMPRESA</th>
                                        <th style="width: 160px;">PRINCIPALES ARGUMENTOS</th>
                                        <th style="width: 160px;">DECISION ADOPTADA</th>
                                        <th style="width: 80px;">LASTUSER</th>
                                        <th style="width: 80px;">LASTDATE</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyReconsideracionEmpresaSolicitante">
                                    @if (Model.ListaEmpresaSolReconsideracion != null)
                                    {
                                        foreach (var item in Model.ListaEmpresaSolReconsideracion)
                                        {
                                            <tr id="@string.Format("rowSolicitanteReconsideracion{0}", item.EMPRCODI)" data-id="@item.CRSOLEMPRCODI">
                                                <td>
                                                    <a href="#" onclick="VerEmpresaSolicitante(@item.CRSOLEMPRCODI, 2)">
                                                        <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;">
                                                    </a>
                                                    <a href="#" onclick="EditarEmpresaSolicitante(@item.CRSOLEMPRCODI, 2)">
                                                        <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;">
                                                    </a>
                                                    <a href="#" onclick="EliminarEmpresaSolicitante(@item.CRSOLEMPRCODI, 2)">
                                                        <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;">
                                                    </a>
                                                </td>
                                                <td>@item.EMPRNOMB</td>
                                                <td>
                                                    @if (@item.CRARGUMENTO != null)
                                                    {
                                                        @Html.Raw(item.CRARGUMENTO)
                                                    }
                                                </td>
                                                <td>
                                                    @if (@item.CRDECISION != null)
                                                    {
                                                        @Html.Raw(item.CRDECISION)
                                                    }

                                                </td>
                                                <td>@item.LASTUSER</td>
                                                <td>
                                                    @if (item.LASTDATE != null)
                                                    {
                                                        <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div style="display: flex; width: 50%; align-items: center; justify-content: space-between; margin-bottom: 20px;">
                            <div style="display: flex; align-items: center; gap: 10px">
                                <label style="width: 140px;">Empresas responsables</label>
                                <select id="txtEmpresaReconsideracion" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                    <option value="" selected="selected"></option>
                                </select>
                                <input type="button" id="btnAgregarResponsableReconsideracion" value="Agregar">
                                <input type="button" id="btnImportarResponsableReconsideracion" value="Importar CTAF">
                            </div>
                        </div>

                        <div class="content-tabla" style="margin-bottom: 25px;">
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginado"></div>
                            </div>
                            <div style="overflow-x: auto; white-space: nowrap;">
                                <div class="table-list">
                                    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5px;"></th>
                                                <th style="width: 70px;">EMPRESA</th>
                                                <th style="width: 80px;">LAST USER</th>
                                                <th style="width: 80px;">LAST DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyEmpresaResponsableReconsideracion">
                                            @if (Model.ListaEmpresaRespReconsideracion != null)
                                            {
                                                foreach (var item in Model.ListaEmpresaRespReconsideracion)
                                                {
                                                    <tr id="@string.Format("rowResponsableReconsideracion{0}", item.EMPRCODI)" data-id="@item.CRRESPEMPRCODI">
                                                        <td>
                                                            <a href="#" onclick="EliminarEmpresaResponsable(@item.CRRESPEMPRCODI, 2)">
                                                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 2px; margin-bottom: 2px" />
                                                            </a>
                                                        </td>
                                                        <td>@item.EMPRNOMB</td>
                                                        <td>@item.LASTUSER</td>
                                                        <td>
                                                            @if (item.LASTDATE != null)
                                                            {
                                                                <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 10px;">
                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                                <label style="padding-left: 10px;">Comentarios a las empresas responsables</label>
                            </div>
                            <textarea id="txtComentarioRespReconsideracion" rows="10" cols="40" style="width: 50%">@Model.EtapaReconsideracion.CRCOMENTARIOS_RESPONSABLES</textarea>
                        </div>

                    </div>

                </div>
            </div>
            <div id="Apelacion">
                <div class="content-registro" style="width:auto">

                    <div style="display: flex; gap: 50px; align-items: center; margin-top: 25px; margin-bottom: 25px; width: 50%">
                        <div style="display: flex; gap: 20px; align-items: center; width: 50%">
                            <label>Criterio</label>
                            <select id="cbCrCriterioApelacion" style="width:250px" class="f-select-m" multiple>
                                @foreach (var item in Model.ListaCrCriterios)
                                {
                                    <option value="@item.CRCRITERIOCODI">@item.CREDESCRIPCION</option>
                                }
                            </select>
                            <input type="hidden" id="hfCrCriterioApelacion" value="@Model.ListaCriteriosApelacion" />
                        </div>
                    </div>

                    <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;">
                        <span>Empresas solicitantes</span>
                    </div>

                    <div class="content-registro" style="width:auto">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="registro-label">
                                        <div style="width: 100px">
                                            Empresa
                                        </div>
                                    </td>
                                    <td class="registro-control">
                                        <select id="txtEmpresaApeSol" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                            <option value="" selected="selected"></option>
                                        </select>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Principales argumentos</label>
                                            </div>
                                            <textarea id="txtArgumentoApe" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Decisión adoptada</label>
                                            </div>
                                            <textarea id="txtDesicionApe" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label" style="width: 250px;">
                                        <div style="display: flex; flex-direction: column; gap: 20px; width: 200px; margin: auto">
                                            <input type="button" id="btnAgregarSolicitanteApelacion" value="Agregar">
                                            <input type="button" id="btnImportarSolicitanteApelacion" value="Importar CTAF">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="padding-top:10px; margin-bottom: 25px;">
                            <table style="width:100%" border="0" class="pretty tabla-adicional">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">ACCIONES</th>
                                        <th style="width: 80px;">EMPRESA</th>
                                        <th style="width: 160px;">PRINCIPALES ARGUMENTOS</th>
                                        <th style="width: 160px;">DECISION ADOPTADA</th>
                                        <th style="width: 80px;">LASTUSER</th>
                                        <th style="width: 80px;">LASTDATE</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyApelacionEmpresaSolicitante">
                                    @if (Model.ListaEmpresaSolApelacion != null)
                                    {
                                        foreach (var item in Model.ListaEmpresaSolApelacion)
                                        {
                                            <tr id="@string.Format("rowSolicitanteApelacion{0}", item.EMPRCODI)" data-id="@item.CRSOLEMPRCODI">
                                                <td>
                                                    <a href="#" onclick="VerEmpresaSolicitante(@item.CRSOLEMPRCODI, 3)">
                                                        <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;">
                                                    </a>
                                                    <a href="#" onclick="EditarEmpresaSolicitante(@item.CRSOLEMPRCODI, 3)">
                                                        <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;">
                                                    </a>
                                                    <a href="#" onclick="EliminarEmpresaSolicitante(@item.CRSOLEMPRCODI, 3)">
                                                        <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;">
                                                    </a>
                                                </td>
                                                <td>@item.EMPRNOMB</td>
                                                <td>
                                                    @if (@item.CRARGUMENTO != null)
                                                    {
                                                        @Html.Raw(item.CRARGUMENTO)
                                                    }
                                                </td>
                                                <td>
                                                    @if (@item.CRDECISION != null)
                                                    {
                                                        @Html.Raw(item.CRDECISION)
                                                    }

                                                </td>
                                                <td>@item.LASTUSER</td>
                                                <td>
                                                    @if (item.LASTDATE != null)
                                                    {
                                                        <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div style="display: flex; width: 50%; align-items: center; justify-content: space-between; margin-bottom: 20px;">
                            <div style="display: flex; align-items: center; gap: 10px">
                                <label style="width: 140px;">Empresas responsables</label>
                                <select id="txtEmpresaApelacion" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                    <option value="" selected="selected"></option>
                                </select>
                                <input type="button" id="btnAgregarResponsableApelacion" value="Agregar">
                                <input type="button" id="btnImportarResponsableApelacion" value="Importar CTAF">
                            </div>
                        </div>

                        <div class="content-tabla" style="margin-bottom: 25px;">
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginado"></div>
                            </div>
                            <div style="overflow-x: auto; white-space: nowrap;">
                                <div class="table-list">
                                    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5px;"></th>
                                                <th style="width: 70px;">EMPRESA</th>
                                                <th style="width: 80px;">LAST USER</th>
                                                <th style="width: 80px;">LAST DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyEmpresaResponsableApelacion">
                                            @if (Model.ListaEmpresaRespApelacion != null)
                                            {
                                                foreach (var item in Model.ListaEmpresaRespApelacion)
                                                {
                                                    <tr id="@string.Format("rowResponsableApelacion{0}", item.EMPRCODI)" data-id="@item.CRRESPEMPRCODI">
                                                        <td>
                                                            <a href="#" onclick="EliminarEmpresaResponsable(@item.CRRESPEMPRCODI, 3)">
                                                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 2px; margin-bottom: 2px" />
                                                            </a>
                                                        </td>
                                                        <td>@item.EMPRNOMB</td>
                                                        <td>@item.LASTUSER</td>
                                                        <td>
                                                            @if (item.LASTDATE != null)
                                                            {
                                                                <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 10px;">
                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                                <label style="padding-left: 10px;">Comentarios a las empresas responsables</label>
                            </div>
                            <textarea id="txtComentarioRespApelacion" rows="10" cols="40" style="width: 50%">@Model.EtapaApelacion.CRCOMENTARIOS_RESPONSABLES</textarea>
                        </div>

                    </div>

                </div>
            </div>
            <div id="Arbitraje">
                <div class="content-registro" style="width:auto">

                    <div style="display: flex; gap: 50px; align-items: center; margin-top: 25px; margin-bottom: 25px; width: 50%">
                        <div style="display: flex; gap: 20px; align-items: center; width: 50%">
                            <label>Criterio</label>
                            <select id="cbCrCriterioArbitraje" style="width:250px" class="f-select-m" multiple>
                                @foreach (var item in Model.ListaCrCriterios)
                                {
                                    <option value="@item.CRCRITERIOCODI">@item.CREDESCRIPCION</option>
                                }
                            </select>
                            <input type="hidden" id="hfCrCriterioArbitraje" value="@Model.ListaCriteriosArbitraje" />
                        </div>
                    </div>

                    <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;">
                        <span>Empresas solicitantes</span>
                    </div>

                    <div class="content-registro" style="width:auto">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="registro-label">
                                        <div style="width: 100px">
                                            Empresa
                                        </div>
                                    </td>
                                    <td class="registro-control">
                                        <select id="txtEmpresaArbSol" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                            <option value="" selected="selected"></option>
                                        </select>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Principales argumentos</label>
                                            </div>
                                            <textarea id="txtArgumentoArb" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label">
                                        <div>
                                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                                                <label style="padding-left: 10px;">Decisión adoptada</label>
                                            </div>
                                            <textarea id="txtDesicionArb" rows="10" cols="40" style="width: -webkit-fill-available"></textarea>
                                        </div>
                                    </td>
                                    <td class="registro-label" style="width: 250px;">
                                        <div style="display: flex; flex-direction: column; gap: 20px; width: 200px; margin: auto">
                                            <input type="button" id="btnAgregarSolicitanteArbitraje" value="Agregar">
                                            <input type="button" id="btnImportarSolicitanteArbitraje" value="Importar CTAF">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="padding-top:10px; margin-bottom: 25px;">
                            <table style="width:100%" border="0" class="pretty tabla-adicional">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">ACCIONES</th>
                                        <th style="width: 80px;">EMPRESA</th>
                                        <th style="width: 160px;">PRINCIPALES ARGUMENTOS</th>
                                        <th style="width: 160px;">DECISION ADOPTADA</th>
                                        <th style="width: 80px;">LASTUSER</th>
                                        <th style="width: 80px;">LASTDATE</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyArbitrajeEmpresaSolicitante">
                                    @if (Model.ListaEmpresaSolArbitraje != null)
                                    {
                                        foreach (var item in Model.ListaEmpresaSolArbitraje)
                                        {
                                    <tr id="@string.Format("rowSolicitanteArbitraje{0}", item.EMPRCODI)" data-id="@item.CRSOLEMPRCODI">
                                        <td>
                                            <a href="#" onclick="VerEmpresaSolicitante(@item.CRSOLEMPRCODI, 4)">
                                                <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;">
                                            </a>
                                            <a href="#" onclick="EditarEmpresaSolicitante(@item.CRSOLEMPRCODI, 4)">
                                                <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;">
                                            </a>
                                            <a href="#" onclick="EliminarEmpresaSolicitante(@item.CRSOLEMPRCODI, 4)">
                                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;">
                                            </a>
                                        </td>
                                        <td>@item.EMPRNOMB</td>
                                        <td>
                                            @if (@item.CRARGUMENTO != null)
                                            {
                                                @Html.Raw(item.CRARGUMENTO)
                                            }
                                        </td>
                                        <td>
                                            @if (@item.CRDECISION != null)
                                            {
                                                @Html.Raw(item.CRDECISION)
                                            }

                                        </td>
                                        <td>@item.LASTUSER</td>
                                        <td>
                                            @if (item.LASTDATE != null)
                                            {
                                                <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                            }
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div style="display: flex; width: 50%; align-items: center; justify-content: space-between; margin-bottom: 20px;">
                            <div style="display: flex; align-items: center; gap: 10px">
                                <label style="width: 140px;">Empresas responsables</label>
                                <select id="txtEmpresaArbitraje" autofocus="autofocus" autocorrect="off" autocomplete="off">
                                    <option value="" selected="selected"></option>
                                </select>
                                <input type="button" id="btnAgregarResponsableArbitraje" value="Agregar">
                                <input type="button" id="btnImportarResponsableArbitraje" value="Importar CTAF">
                            </div>
                        </div>

                        <div class="content-tabla" style="margin-bottom: 25px;">
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginado"></div>
                            </div>
                            <div style="overflow-x: auto; white-space: nowrap;">
                                <div class="table-list">
                                    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5px;"></th>
                                                <th style="width: 70px;">EMPRESA</th>
                                                <th style="width: 80px;">LAST USER</th>
                                                <th style="width: 80px;">LAST DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyEmpresaResponsableArbitraje">
                                            @if (Model.ListaEmpresaRespArbitraje != null)
                                            {
                                                foreach (var item in Model.ListaEmpresaRespArbitraje)
                                                {
                                                    <tr id="@string.Format("rowResponsableArbitraje{0}", item.EMPRCODI)" data-id="@item.CRRESPEMPRCODI">
                                                        <td>
                                                            <a href="#" onclick="EliminarEmpresaResponsable(@item.CRRESPEMPRCODI, 4)">
                                                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 2px; margin-bottom: 2px" />
                                                            </a>
                                                        </td>
                                                        <td>@item.EMPRNOMB</td>
                                                        <td>@item.LASTUSER</td>
                                                        <td>
                                                            @if (item.LASTDATE != null)
                                                            {
                                                                <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 10px;">
                            <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; width: 50%; margin-bottom: 10px;">
                                <label style="padding-left: 10px;">Comentarios a las empresas responsables</label>
                            </div>
                            <textarea id="txtComentarioRespArbitraje" rows="10" cols="40" style="width: 50%">@Model.EtapaArbitraje.CRCOMENTARIOS_RESPONSABLES</textarea>
                        </div>

                    </div>

                </div>
            </div>
            <input type="hidden" id="hfCrevencodi" value="@Model.Crevencodi" />
            <input type="hidden" id="hfAfecodi" value="@Model.Afecodi" />
            <input type="hidden" id="hfIdEtapaDesicion" value="@Model.EtapaDesicion.CRETAPACODI" />
            <input type="hidden" id="hfIdEtapaReconsideracion" value="@Model.EtapaReconsideracion.CRETAPACODI" />
            <input type="hidden" id="hfIdEtapaApelacion" value="@Model.EtapaApelacion.CRETAPACODI" />
            <input type="hidden" id="hfIdEtapaArbitraje" value="@Model.EtapaArbitraje.CRETAPACODI" />
        </div>
    </div>
</div>

<div id="busquedaEquipo" style="display: none">
</div>

<div id="divMensajeEmpresas" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Mensaje: </span></div>
    <div class="popup-text" id="contenidoMensajeEmpresa">
        <ul id="ulMensajeEmpresa"></ul>
    </div>
</div>

<div id="popupSolicitante" class="general-popup" style="top:0px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoSolicitante">
    </div>
</div>

<div id="divMensajeValidacion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Mensaje de validación: </span></div>
    <div class="popup-text" id="divValidaciones">
        <ul id="ulValidacion"></ul>
    </div>
</div>

<input type="hidden" id="hfIdTipoBusqueda" value="0" />
<input type="hidden" id="hfEtapaSolicitante" />


<script>
    iniDetalleEventoCriterio();
</script>