@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosEventoModel
<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/criteriosevento.js"></script>
<div class="popup-title">
    <span>Empresa Solicitante:</span>
    @if (Model.TipoSolicitante == 1)
    {
        <div class="content-botonera">
            <input type="button" id="btnGrabarSolicitante" value='Grabar' />
        </div>
    }

</div>
<div class="content-registro">

    <form id="frmRegistro">
        @if (Model.TipoSolicitante == 1)
        {
            <div id="mensajeSolicitante" class="action-message">Por favor complete los datos</div>
        }
        else
        {
            <div style="clear:both; margin-bottom:15px"></div>
        }

        <table style="width:100%">
            <tr>
                <td class="registro-label">
                    <div>
                        <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                            <label style="padding-left: 10px;">Principales argumentos</label>
                        </div>
                        @if (Model.TipoSolicitante == 1)
                        {
                            <textarea id="txtArgumentoSolicitante" name="argsolc" rows="10" cols="40" style="width: -webkit-fill-available">@Model.DetEmpresaSolicitante.CRARGUMENTO</textarea>
                        }
                        else
                        {
                            <textarea id="txtArgumentoSolicitante" name="argsolc" rows="10" cols="40" style="width: -webkit-fill-available" disabled>@Model.DetEmpresaSolicitante.CRARGUMENTO</textarea>
                        }

                    </div>
                </td>
            </tr>
            <tr>
                <td class="registro-label">
                    <div>
                        <div style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px; border: 1px solid #EAEAEA; margin-bottom: 10px;">
                            <label style="padding-left: 10px;">Decisión adoptada</label>
                        </div>
                        @if (Model.TipoSolicitante == 1)
                        {
                            <textarea id="txtDesicionSolicitante" rows="10" cols="40" style="width: -webkit-fill-available">@Model.DetEmpresaSolicitante.CRDECISION</textarea>
                        }
                        else
                        {
                            <textarea id="txtDesicionSolicitante" rows="10" cols="40" style="width: -webkit-fill-available" disabled>@Model.DetEmpresaSolicitante.CRDECISION</textarea>
                        }

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<input type="hidden" id="hfCrsolemprcodi" value="@Model.DetEmpresaSolicitante.CRSOLEMPRCODI" />
