@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RevisionModel
@{
    ViewBag.Title = "ListaCriteriosEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList slEmpresaInvolucrada = new SelectList(ViewBag.EmpresaInvolucrada, "Emprcodi", "Emprnomb");
    SelectList slEmpresaPropietaria = new SelectList(ViewBag.EmpresaPropietaria, "Emprcodi", "Emprnomb");
    SelectList slTipoEquipo = new SelectList(ViewBag.TipoEquipo, "FAMCODI", "FAMNOMB");

    SelectList slCasosEspeciales = new SelectList(ViewBag.CasosEspeciales, "CRESPECIALCODI", "CREDESCRIPCION");
    SelectList slCriterios = new SelectList(ViewBag.Criterios, "CRCRITERIOCODI", "CREDESCRIPCION");


}


<div class="form-title">
    <div class="content-titulo">Análisis de Falla - Criterio</div>
</div>


<div class="content-hijo">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje"></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td><label>Empresa Propietaria</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaPropietaria", slEmpresaPropietaria, new { @style = "width:250px" })
                    </td>
                    <td><label>Empresa involucrada</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaInvolucrada", slEmpresaInvolucrada, new { @style = "width:250px" })
                    </td>
                    <td><label>Criterios(Decisión)</label></td>
                    <td>
                        @Html.DropDownList("cboCriteriosD", slCriterios, new { @style = "width:250px" })
                    </td>
                    <td colspan="6">
                        <input type="button" id="btnAgregarCasosEspeciales" value='Configurar Casos Especiales' />
                    </td>
                </tr>
                <tr>
                    <td><label>Casos Especiales</label></td>
                    <td>
                        @Html.DropDownList("cboCasosEspeciales", slCasosEspeciales, new { @style = "width:250px" })
                    </td>
                    <td><label>Impugnación</label></td>
                    <td>
                        <select id="cboImpugnacion" style="width:250px">
                            <option value="TODOS">( TODOS )</option>
                            <option value="RECONSIDERACION">RECONSIDERACIÓN</option>
                            <option value="APELACION">APELACIÓN</option>
                            <option value="ARBITRAJE">ARBITRAJE</option>
                        </select>
                    </td>
                    <td><label>Criterios(Impugnación)</label></td>
                    <td>
                        @Html.DropDownList("cboCriteriosI", slCriterios, new { @style = "width:250px" })
                    </td>
                    <td colspan="6">
                        <input type="button" id="btnAgregarCriterios" value='Configurar Criterios' />
                    </td>
                </tr>
                <tr>
                    <td><label>Inicio</label></td>
                    <td>
                        <input type="text" id="dtInicioCriterio" name="FechaInicio" value="@ViewBag.FechaInicio" />
                    </td>
                    <td><label>Fin</label></td>
                    <td>
                        <input type="text" id="dtFinCriterio" name="FechaFin" value="@ViewBag.FechaFin" />
                    </td>
                    <td>
                       @* <label>Buscar</label>*@
                    </td>
                    <td>
                       @* <input type="text" id="BuscarCriterio" style="width:250px" />*@
                    </td>
                    <td colspan="6">
                        <input type="button" id="btnExportar" value='Exportar' />
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input type="button" id="btnConsultarCriteriosEvento" value='Ejecutar' />
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>

    </div>
    <div class="table-list" id="listadoBuscarCriterio"></div>
</div>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/criteriosevento.js"></script>

<script>
            iniLista();
</script>
