@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroEquivalenciaModel
@{

    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
}
<link href="~/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/GestionEquivalenciaForm.js"></script>

@using (Html.BeginForm("Save", "GestionEquivalenciaVTEAVTP", FormMethod.Post, new { id = "frmGestionEquivalenciaVTEAVTP", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("NroPagina")
    @Html.Hidden("RetrelCodi", Model.Entidad.RetrelCodi)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
            </div>
        </div>


        <div class="content-hijo form">
            <div class="content-busqueda ">

                <table style="width:100%">
                    <tr>
                        <td style="width:48%" valign="top">
                            <div style="clear:both;height:10px"></div>
                            <div class="popup-title"><span>Codigos VTEA</span></div>
                            <div style="clear:both; height:20px"></div>
                            <table border="0" cellpadding="5" cellspacing="2" style="width: 100%;">

                                <tbody>
                                    <tr class="form-table-body  filtro">
                                        <td>
                                            Empresa
                                        </td>
                                        <td>
                                            @Html.DropDownList("EMPRVTEA", "--Seleccione--")
                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Cliente
                                        </td>
                                        <td>
                                            @Html.DropDownList("CLIEVTEA", new List<SelectListItem>(), "--Seleccione--")
                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Barra Transferencia
                                        </td>
                                        <td>
                                            @Html.DropDownList("BARTRAVTEA", new List<SelectListItem>(), "--Seleccione--")
                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Codigo
                                        </td>
                                        <td>
                                            @Html.DropDownList("CODIVTEA", new List<SelectListItem>(), "--Seleccione--")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align:center">
                                            <input type="button" value="Agregar VTEA" id="btnAgregarVTEA" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <table class=" tabla-adicional tabla-icono pretty" width="100%" cellpadding="5" id="detalleVTEA">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Barra</th>
                                            <th>Código VTEA</th>
                                            <th>Quitar</th>
                                            <th style="display:none;">ID Empresa</th>
                                            <th style="display:none;">ID Cliente</th>
                                            <th style="display:none;">ID Barra</th>
                                            <th style="display:none;">ID VTEA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td style="width:4%"></td>
                        <td style="width:48%" valign="top">

                            <div style="clear:both;height:10px"></div>

                            <div class="popup-title"><span>Codigos VTP</span></div>
                            <div style="clear:both; height:20px"></div>
                            <table border="0" cellpadding="5" cellspacing="2" style="width: 100%;">

                                <tbody>
                                    <tr class="form-table-body">
                                        <td>
                                            Empresa
                                        </td>
                                        <td>
                                            @Html.DropDownList("EMPRVTP", "--Seleccione--")
                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Cliente
                                        </td>
                                        <td>
                                            @Html.DropDownList("CLIEVTP", new List<SelectListItem>(), "--Seleccione--")

                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Barra Suministro
                                        </td>
                                        <td>
                                            @Html.DropDownList("BARSUM", new List<SelectListItem>(), "--Seleccione--")

                                        </td>
                                    </tr>
                                    <tr class="form-table-body">
                                        <td>
                                            Codigo
                                        </td>
                                        <td>
                                            @Html.DropDownList("CODIVTP", new List<SelectListItem>(), "--Seleccione--")

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align:center">
                                            <input type="button" value="Agregar VTP" id="btnAgregarVTP" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class=" tabla-adicional tabla-icono pretty" id="detalleVTP">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Barra</th>
                                        <th>Código VTP</th>
                                        <th>Quitar</th>
                                        <th style="display:none;">ID Empresa</th>
                                        <th style="display:none;">ID Cliente</th>
                                        <th style="display:none;">ID Barra</th>
                                        <th style="display:none;">ID VTP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="editor-label" style="margin:10px;">
                                @Html.LabelFor(model => model.Entidad.Retrelvari, "Porcentaje de variación")

                            </div>
                        </td>

                        <td align="left" colspan="2">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Entidad.Retrelvari, new { id = "retrelvari", maxLength = 6, @class = "numero" })
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div style="width:100%; margin:5px;align-content:center;">
                                <table align="center">
                                    <tr>
                                        <td align="center">
                                            <input type="button" value="Grabar" id="btnGrabar" />
                                            <input type="button" value="Cancelar" class="b-close" id="btnCancelar" onclick="location.href='@Url.Action("Index","GestionEquivalenciaVTEAVTP")'"  />

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <br />


            </div>

        </div>

    </div>
    <div id="popup" style="min-height:40px"></div>
}

