@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroEquivalenciaModel
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Transferencias - Lista de solicitud de retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int paginaActual = Request.QueryString["pagina"] == null ? 1 : Convert.ToInt32(Request.QueryString["pagina"].ToString());
}

<link href="~/Areas/Transferencias/Content/Css/Transferencia.css?v=@DateTime.Now.Minute" rel="stylesheet" />


<script src="~/Areas/Transferencias/Content/Scripts/GestionEquivalenciaVTEAVTP.js?v=@DateTime.Now.Minute"></script>
@Html.Hidden("paginaActual", paginaActual)


<div class="ast">
    @if (TempData["sMensajeExito"] != null)
    {
        <div class="exito mensajes" id="frmCodigoRetiro_info">@TempData["sMensajeExito"]</div>

    }

    <div class="form-title">
        <div class="content-titulo">Equivalencia especiales de codigos VTEA y VTP</div>
        <div class="content-botonera">
            <input type="button" value="Agregar Relación" id="btnAgregarRelacion" alt="Agregar Relación" onclick="location.href='@Url.Action("New","GestionEquivalenciaVTEAVTP")'" title="Agregar Relación" />
            <input type="button" value="Exportar" id="btnExportar"   alt="Exportar" title="Exportar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="@paginaActual" />
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="5" style="width:100%" >
                <tr class="THCabecera">
                    <td colspan="8"><span class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></span></td>
                </tr>
                <tr class="filtro">
                    <td><span class="editor-label">Empresa</span></td>
                    <td width="200px"><span class="editor-field">@Html.DropDownList("EMPRCODI2", "--Seleccione--")</span></td>

                    <td><span class="editor-label">Cliente</span></td>
                    <td width="200px"><span class="editor-field ">@Html.DropDownList("CLICODI2", "--Seleccione--")</span></td>

                    <td><span class="editor-label">Tipo Contrato</span></td>
                    <td width="200px"><span class="editor-field ">@Html.DropDownList("TIPOCONTCODI2", "--Seleccione--")</span></td>

                    <td><span class="editor-label">Codigo VTEA o VTP</span></td>
                    <td><span class="editor-field"><input type="text" id="txtCodigoVTEAVTP" /></span></td>
                </tr>
                <tr class="filtro">
                    <td><span class="editor-label">Barra Transferencia</span></td>
                    <td><span class="editor-field">@Html.DropDownList("BARRCODI2", "--Seleccione--")</span></td>
                    <td><span class="editor-label ">Barra Suministro</span></td>
                    <td><span class="editor-field">@Html.DropDownList("BARRCODI3", "--Seleccione--")</span></td>
                    <td><span class="editor-label">Tipo Usuario</span></td>
                    <td width="200px"><span class="editor-field ">@Html.DropDownList("TIPOUSUACODI2", "--Seleccione--")</span></td>
                    <td><span class="editor-label">Estado</span></td>
                    <td><span class="editor-field">@Html.DropDownList("ESTCODSOL", "--Seleccione--")</span></td>
                </tr>
                <tr class="filtro">
                    <td colspan="8" align="center">
                        <span class="editor-label"><input type="button" id="btnBuscar" value="Consultar"></span>
                    </td>
                </tr>

            </table>

        </div>
        <br />
        <div class="table-list" id="listado"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado">
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
