@model  COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroEquivalenciaModel

@using COES.MVC.Intranet.Areas.Transferencias.Helper
<script src="~/Areas/Transferencias/Content/Scripts/GestionEquivalenciaLista.js"></script>
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
            <th colspan="6" class="table-header-vtea">
                Código VTEA
            </th>
            <th colspan="6" class="table-header-vtp">
                Código VTP
            </th>

            <th rowspan="2">
                % Var.
            </th>
        </tr>
        <tr>
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Contrato</th>
            <th>Tipo Usuario</th>
            <th>Barra</th>
            <th>Código</th>
            <!--vtp-->
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Contrato</th>
            <th>Tipo Usuario</th>
            <th>Barra</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCodigoRetiroRelacion)
        {
            int index = -1;
            int totalRowsPan = item.ListarRelacion.Count;

            foreach (var child in item.ListarRelacion)
            {
                index++;

                <tr>
                    @if (index == 0)
                    {
                    <td rowspan="@totalRowsPan">
                        <a href="@Url.Action("Edit", "GestionEquivalenciaVTEAVTP", new { id = item.RetrelCodi })" id="edit_@item.RetrelCodi" class="editar">
                        <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" />
                        </a>
                    </td>
                    <td rowspan="@totalRowsPan">
                        <a href="#" id="eliminar_@item.RetrelCodi" class="eliminar"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    </td>
                    }
                    <!--vtea-->
                    <td>@child.Genemprnombvtea</td>
                    <td>@child.Cliemprnombvtea</td>
                    <td>@child.Tipocontratovtea</td>
                    <td>@child.Tipousuariovtea</td>
                    <td>@child.Barrnombvtea</td>
                    <td>@child.Codigovtea</td>
                    <!--vtp-->
                    <td>@child.Genemprnombvtp</td>
                    <td>@child.Cliemprnombvtp</td>
                    <td>@child.Tipocontratovtp</td>
                    <td>@child.Tipousuariovtp</td>
                    <td>@child.Barrnombvtp</td>
                    <td>@child.Codigovtp</td>
                    @if (index == 0)
                    {
                    <td rowspan="@totalRowsPan">@item.Retrelvari </td>
                    }
                </tr>
            }


        }
    </tbody>
</table>
<div id="popup"></div>


<div id="popupEq" class="general-popup" style="width:1000px;height:520px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div id="popup-title" class="popup-title"><span></span></div>
    <div class="popup-text" id="contenidoPopup">
    </div>
</div>

