@model COES.MVC.Intranet.Areas.Intervenciones.Models.BandejaModel

@{ 
    var flagDetalle = true;
    foreach (var item in Model.ListaMensajes)
    {
        var css = (flagDetalle) ? "detalle-open" : "";
        <div class="detalle-mensaje" >
            <div class="detalle-header" data-id="@item.Msgcodi">
                <div class="detalle-asunto">
                    @item.Msgasunto
                </div>
                <div class="detalle-de">@(item.Remitente + " " + item.Msgfrom)</div>
                <div class="detalle-fecha">@item.MsgfeccreacionDesc</div>
                <div class="detalle-para">Para:  <span>@item.Msgto</span></div>
                <div class="detalle-cc">CC: <span>@item.Msgcc</span></div>
                <div class="detalle-adjunto">
                    @if (item.Msgflagadj == 1)
                    {

                        foreach (var file in item.ListaArchivo)
                        {
                            <div class="adjunto" data-msg-id="@item.Msgcodi" data-file-name="@file.Inarchnombreoriginal" data-archivo-fisico="@file.Inarchnombrefisico">
                                <div class="adjunto-icono">
                                    <img src="~/Content/Images/attachments.png" />
                                </div>
                                <div class="adjunto-texto">
                                    @(file.Inarchnombreoriginal)
                                </div>
                            </div>
                        }

                    }
                </div>
                </div>
            <div class="detalle-mensaje-total @css" id="detalle-intervencion-@item.Msgcodi">
                <div class="mensaje-dato-adicional">               

                   
                </div>
                <div class="detalle-contenido">
                   @Html.Raw(item.Msgcontenido)
                </div>
            </div>
        </div>

        flagDetalle = false;
    }
}

<input type="hidden" id="hfIdProgramacion" value="@Model.Progcodi" />