@model COES.MVC.Intranet.Areas.Intervenciones.Models.BandejaModel

@foreach (var item in Model.ListaMensajes)
{
    var noleido = (item.Emprcodi != 1 && item.Msgestado != "L") ? "bolder" : "";

    <div class="mensaje-content @noleido" id="mensaje-content-@item.Intercodivigente">
        <div class="mensaje-check">
            <input type="checkbox" style="display:none" class="cb-intervencion" id="cb-intervencio-@item.Intercodivigente" data-id="@item.Intercodivigente" data-update="@( noleido==""?"0":"1")" data-msg="@item.Msgcodi"/>
        </div>
        <div class="mensaje-item" id="item-mensaje-@item.Intercodivigente" data-id="@item.Intercodivigente" data-update="@( noleido==""?"0":"1")" data-msg="@item.Msgcodi">            
            <div class="mensaje-empresa ">@item.Emprnomb</div>
            <div class="mensaje-programa ">(@item.Programacion)</div>
            <div class="mensaje-asunto">@item.Msgasunto</div>
            <div class="mensaje-icono">
                @if (item.Msgflagadj == 1)
                {
                    <img src="~/Content/Images/attachments.png" alt="Tiene adjuntos" />
                }
                @if (item.Emprcodi == 1 && item.Msgestado == "L")
                {
                    <img src="~/Content/Images/comment-seen.png" alt="Leido por Agente" />
                }
            </div>
            <div class="mensaje-hora">@item.Msgfeccreacion.ToString("dd/MM/yyyy HH:mm:ss")</div>
        </div>
    </div>
    <div class="mensaje-separer"></div>
}