@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroObservacionModel
<script src="~/Areas/Coordinacion/Content/Scripts/busquedacanal.js?v=1.28"></script>

<table border="0" class="pretty tabla-icono" id="tablaCanal">
    <thead>
        <tr>
            <th>Seleccionar</th>
            <th>Empresa</th>
            <th>Zona</th>
            <th>Nombre</th>
            <th>ICCP</th>
            <th>Unidad</th>
            <th>Abrev</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListadoCanal.Count > 0)
        {
            foreach (var item in Model.ListadoCanal)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.Canalcodi" class="check" />
                    </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Zonanomb</td>
                    <td>@item.Canalnomb</td>
                    <td>@item.Canaliccp</td>
                    <td>@item.Canalunidad</td>
                    <td>@item.Canalabrev</td>
                    <td>@item.Canaltipo</td>
                </tr>
            }
        }
    </tbody>
</table>



