@model COES.MVC.Extranet.Models.DirectorioModel
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
           
            <th>Nombre</th>
             <th>Apellidos</th>           
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Anexo</th>
            <th>Área</th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDirectorio)
        {
            <tr>
              
                <td>@item.Dirnombre</td>
                <td>@item.Dirapellido</td>
                <td>@item.Dircorreo</td>
                <td>@item.Dirtelefono</td>
                <td>@item.Diranexo</td>
                <td>@item.Areanomb</td>      
            </tr>
        }
    </tbody>
</table>