@model COES.MVC.Intranet.Areas.Eventos.Models.EveInformefallaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Eventos/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/informefallaeditar.js?v=1.3"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
        <div class="content-titulo">Informe de Falla N1</div>
        <div class="content-botonera">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
</div>

<div class="content-hijo" id="mainLayout">
<form id="form" name="form">
<div class="action-message" id="mensaje">Ingrese los datos</div>
    <table class="pretty tabla-adicional">
        <tr>
            <td>
                <input type="hidden" id="hfEveninfCodi" value="@Model.EveInformefalla.Eveninfcodi" name="EveninfCodi" />
                <input type="hidden" id="hfAccion" value="@Model.Accion" />
                <input type="hidden" id="hfEveninfActuacion" name="EveninfActuacion" value="@Model.EveInformefalla.Eveninfactuacion" />
                <input type="hidden" id="hfEvenCodi" name="EvenCodi" value="@Model.EveInformefalla.Evencodi" />
            </td>
        </tr>
        <tr>
            <th style="color:white;"><b>T.Equipo</b></th>
            <td>@Model.EveInformefalla.Famabrev</td>
            <td></td>
            <th style="color:white;"><b>Fecha evento </b></th>
            <td>@Model.EveInformefalla.Evenini</td>
        </tr>
        <tr>
            <th style="color:white;"><b>Equipo</b></th>
            <td>@Model.EveInformefalla.Equiabrev</td>
            <td>&nbsp;</td>
            <th style="color:white;"><b>MW indisp</b></th>
            <td><input type="text" name="textfield2" value=@Model.EveInformefalla.Evenmwindisp readonly /></td>
        </tr>
        <tr>
            <th style="color:white;"><b>&Aacute;rea</b></th>
            <td>@Model.EveInformefalla.Areanomb</td>
            <td></td>
            <th style="color:white;"><b>Informe MEM</b></th>
            <td>
                <table>
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfMemS" name="rbEveninfMem" value="S" />Si
                            <input type="radio" id="rbEveninfMemN" name="rbEveninfMem" value="N" />No
                            <input type="hidden" id="hfEveninfMem" name="EveninfMem" value="@Model.EveInformefalla.Eveninfmem" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th style="color:white;"><b>Empresa</b></th>
            <td>@Model.EveInformefalla.Emprnomb </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <table class="pretty tabla-adicional">
                    <tr>
                        <th style="color:white;"><b>A&ntilde;o</b></th>
                        <th style="color:white;"><b>Correlativo COES</b></th>
                        <th style="color:white;"><b>Correlativo MEM</b></th>
                        <th style="color:white;"><b>Correlativo COES (anterior)</b></th>
                    </tr>
                    <tr>
                        <td>
                            <input id="txtEvenAnio" type="text" name="EvenAnio" value="@Model.EveInformefalla.Evenanio" readonly>
                        </td>
                        <td>
                            <input id="txtEvenCorrSco" type="text" name="EvenCorrSco" value="@Model.EveInformefalla.EvencorrSco">
                        </td>

                        <td>
                            <input id="txtEvenCorrmem" type="text" name="EvenCorrmem" value="@Model.EveInformefalla.Evencorrmem">
                        </td>

                        <td>
                            <input id="txtEvenCorr" type="text" name="EvenCorr" value="@Model.EveInformefalla.Evencorr">
                        </td>

                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
<p>&nbsp;</p>
    <table class="pretty tabla-adicional">
    <thead>
        <tr>
            <td></td>
            <th style="display: table-cell;"><b>Fecha emisi&oacute;n</b></th>
            <th style="display: table-cell;"><b>Elaborado por</b></th>
            <th style="display: table-cell;"><b>Revisado por</b></th>
            <th style="display: table-cell;"><b>Emitido por</b></th>
            <th style="display: table-cell;"><b>Emitido</b></th>
            <th style="display: table-cell;">&nbsp;</th>
        </tr>
    </thead>
        <tr id="gbEveninfActuacion">
            <th style="color:white;">Ext. Osinergmin</th>
            <td>
                @{
                    var fechaEveninfActFecha = "";
                    if (Model.EveInformefalla.Eveninfactfecha != null)
                    {
                        fechaEveninfActFecha = ((DateTime)Model.EveInformefalla.Eveninfactfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                    }
                }
                <input id="txtEveninfActFecha" type="text" name="EveninfActFecha" value="@fechaEveninfActFecha" />
            </td>
            <td></td>
            <td></td>
            <td>
                <select id="cbEveninfActElab" name="cbEveninfActElab">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfActElab" name="EveninfActElab" value="@Model.EveInformefalla.Eveninfactelab" />
            </td>
            <td>
                <table >
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfActLlamadoS" name="rbEveninfActLlamado" value="S" />Si
                            <input type="radio" id="rbEveninfActLlamadoN" name="rbEveninfActLlamado" value="N" />No
                            <input type="hidden" id="hfEveninfActLlamado" name="EveninfActLlamado" value="@Model.EveInformefalla.Eveninfactllamado" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th style="color:white;"><b>Inf.Preliminar Inicial</b> </th>
            <td>
                @{
                    var fechaEveninfPIFechEmis = "";
                    if (Model.EveInformefalla.Eveninfpifechemis != null)
                    {
                        fechaEveninfPIFechEmis = ((DateTime)Model.EveInformefalla.Eveninfpifechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                    }
                }
                <input id="txtEveninfPIFechEmis" type="text" name="EveninfPIFechEmis" value="@fechaEveninfPIFechEmis" readonly />
            </td>
            <td>
                <select id="cbEveninfPIElab" name="cbEveninfPIElab">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPIElab" name="EveninfPIElab" value="@Model.EveInformefalla.Eveninfpielab" />
            </td>
            <td>
                <select id="cbEveninfPIRevs" name="cbEveninfPIRevs">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPIRevs" name="EveninfPIRevs" value="@Model.EveInformefalla.Eveninfpirevs" />
            </td>
            <td>
                <select id="cbEveninfPIEmit" name="cbEveninfPIEmit">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPIEmit" name="EveninfPIEmit" value="@Model.EveInformefalla.Eveninfpiemit" />
            </td>
            <td>
                <table >
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfPIEmitidoS" name="rbEveninfPIEmitido" value="S" />Si
                            <input type="radio" id="rbEveninfPIEmitidoN" name="rbEveninfPIEmitido" value="N" />No
                            <input type="hidden" id="hfEveninfPIEmitido" name="EveninfPIEmitido" value="@Model.EveInformefalla.Eveninfpiemitido" />
                        </td>
                    </tr>
                </table>
            </td>
            <td><input type="button" id="btnEnviarIPI" value="Enviar" /></td>
        </tr>
        <tr>
            <th style="color:white;">Inf.Preliminar</th>
            <td>
                @{
                    var fechaEveninfPFechEmis = "";
                    if (Model.EveInformefalla.Eveninfpfechemis != null)
                    {
                        fechaEveninfPFechEmis = ((DateTime)Model.EveInformefalla.Eveninfpfechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                    }
                }
                <input id="txtEveninfPFechEmis" type="text" name="EveninfPFechEmis" value="@fechaEveninfPFechEmis" readonly />
            </td>
            <td>
                <select id="cbEveninfPElab" name="cbEveninfPElab">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPElab" name="EveninfPElab" value="@Model.EveInformefalla.Eveninfpelab" />
            </td>
            <td>
                <select id="cbEveninfPRevs" name="cbEveninfPRevs">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPRevs" name="EveninfPRevs" value="@Model.EveInformefalla.Eveninfprevs" />
            </td>
            <td>
                <select id="cbEveninfPEmit" name="cbEveninfPEmit">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfPEmit" name="EveninfPEmit" value="@Model.EveInformefalla.Eveninfpemit" />
            </td>
            <td>
                <table >
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfPEmitidoS" name="rbEveninfPEmitido" value="S" />Si
                            <input type="radio" id="rbEveninfPEmitidoN" name="rbEveninfPEmitido" value="N" />No
                            <input type="hidden" id="hfEveninfPEmitido" name="EveninfPEmitido" value="@Model.EveInformefalla.Eveninfpemitido" />
                        </td>
                    </tr>
                </table>
            </td>
            <td><input type="button" id="btnEnviarIP" value="Enviar" /></td>
        </tr>
        <tr>
            <th style="color:white;">Inf. Final COES </th>
            <td>
                @{
                    var fechaEveninfFechEmis = "";
                    if (Model.EveInformefalla.Eveninffechemis != null)
                    {
                        fechaEveninfFechEmis = ((DateTime)Model.EveInformefalla.Eveninffechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                    }
                }
                <input id="txtEveninfFechEmis" type="text" name="EveninfFechEmis" value="@fechaEveninfFechEmis" readonly />
            <td>
                <select id="cbEveninfElab" name="cbEveninfElab">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfElab" name="EveninfElab" value="@Model.EveInformefalla.Eveninfelab" />
            </td>
            <td>
                <select id="cbEveninfRevs" name="cbEveninfRevs">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfRevs" name="EveninfRevs" value="@Model.EveInformefalla.Eveninfrevs" />
            </td>
            <td>
                <select id="cbEveninfEmit" name="cbEveninfEmit">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfEmit" name="EveninfEmit" value="@Model.EveInformefalla.Eveninfemit" />
            </td>
            <td>
                <table >
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfEmitidoS" name="rbEveninfEmitido" value="S" />Si
                            <input type="radio" id="rbEveninfEmitidoN" name="rbEveninfEmitido" value="N" />No
                            <input type="hidden" id="hfEveninfEmitido" name="EveninfEmitido" value="@Model.EveInformefalla.Eveninfemitido" />
                        </td>
                    </tr>
                </table>
            </td>
            <td><input type="button" id="btnEnviarIF" value="Enviar" /></td>
        </tr>
        <tr id="gbEveninfMem">
            <td style="background-color:#d1e6fa">Inf. Final MEM </td>
            <td>
                @{
                    var fechaEveninfMemFechEmis = "";
                    if (Model.EveInformefalla.Eveninfmemfechemis != null)
                    {
                        fechaEveninfMemFechEmis = ((DateTime)Model.EveInformefalla.Eveninfmemfechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                    }
                }
                <input id="txtEveninfMemFechEmis" type="text" name="EveninfMemFechEmis" value="@fechaEveninfMemFechEmis" />
            <td>
                <select id="cbEveninfMemElab" name="cbEveninfMemElab">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfMemElab" name="EveninfMemElab" value="@Model.EveInformefalla.Eveninfmemelab" />
            </td>
            <td>
                <select id="cbEveninfMemRevs" name="cbEveninfMemRevs">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfMemRevs" name="EveninfMemRevs" value="@Model.EveInformefalla.Eveninfmemrevs" />
            </td>
            <td>
                <select id="cbEveninfMemEmit" name="cbEveninfMemEmit">
                    <option value="0">---</option>
                    @foreach (var item in Model.ListaProgramador)
                    {
                        <option value="@item.Pernomb">@item.Pernomb</option>
                    }
                </select>
                <input type="hidden" id="hfEveninfMemEmit" name="EveninfMemEmit" value="@Model.EveInformefalla.Eveninfmememit" />
            </td>
            <td>
                <table >
                    <tr>
                        <td>
                            <input type="radio" id="rbEveninfMemEmitidoS" name="rbEveninfMemEmitido" value="S" />Si
                            <input type="radio" id="rbEveninfMemEmitidoN" name="rbEveninfMemEmitido" value="N" />No
                            <input type="hidden" id="hfEveninfMemEmitido" name="EveninfMemEmitido" value="@Model.EveInformefalla.Eveninfmememitido" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<table>
    <tr>
        <td></td>
        <td><p></p></td>
        <td></td>
        <td><p></p>@Model.EveInformefalla.Eveninflastuser</td>
        <td></td>
        <td><p></p>@Model.EveInformefalla.Eveninflastdate</td>
    </tr>
</table>
</form>
</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Informefalla</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>
