@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEveInformefallaModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tablaArea" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:80px; min-width:80px">Acciones</th>
                <th>N.MEM</th>
                <th>Nro.</th>
                <th>Empresa</th>
                <th>Tipo</th>
                <th>Area</th>
                <th>T.Equipo</th>
                <th>Equipo</th>
                <th>MW indisp</th>
                <th>Fecha evento</th>
                <th>Ext. Osinergmin</th>
                <th>Obsv. IPI</th>
                <th>Obsv. IP</th>
                <th>Obsv. IF</th>
                <th>Obsv. IMEM</th>
                <th>IPI</th>
                <th>IP</th>
                <th>IF</th>
                <th>IPI</th>
                <th>IP</th>
                <th>IF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEveInformefalla)
            {
                <tr>
                    <td style="width:120px; min-width:120px">

                        <a href="JavaScript:verArchivos(@item.Eveninfcodi)" title="Ver carpeta...">
                            <img src="~/Content/Images/folder_open.png" />
                        </a>


                        @if (item.Eveninfmem == "S")
                        {
                            <a href="JavaScript:verArchivosMinisterio(@item.Eveninfcodi)" title="Ver carpeta Ministerio...">
                                <img src="~/Content/Images/folder_open_red.png" />
                            </a>
                        }
                        else
                        {
                            <a>
                                <img src="~/Content/Images/sort_both.png"  alt="Ver"/>
                            </a>
                        }


                        <a href="JavaScript:verPopupListaEnviosEventos(@item.Evencodi)" title="Ver envíos...">
                            <img src="~/Content/Images/calendar.png" alt="Ver envíos"/>
                        </a>

                        <a href="JavaScript:editar(@item.Eveninfcodi,0)" title="Ver registros...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                            if (Model.AccionEditar)
                            {
                                <a href="JavaScript:editar(@item.Eveninfcodi,1)" title="Editar...">
                                    <img src="~/Content/Images/btn-edit.png" />
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }

                            if (Model.AccionEliminar)
                            {
                                <a href="JavaScript:eliminar(@item.Eveninfcodi)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }
                        }


                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Corrmem))
                        {
                            <font color="ff0000">@item.Corrmem</font>
                        }
                    </td>
                    <td>@item.EvencorrSco</td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Tareaabrev</td>
                    <td>@item.Areanomb</td>
                    <td>@item.Famabrev</td>
                    <td>@item.Equiabrev</td>
                    <td>@item.Evenmwindisp</td>
                    <td>@item.Evenini.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora)</td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.Extosinerg))
                        {
                            if (item.Extosinerg.IndexOf("OK") < 0)
                            {
                                <font color="#ff0000">@item.Extosinerg</font>
                            }
                            else
                            {
                                <font color="#219027">@item.Extosinerg</font>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsprelimini))
                        {
                            if (item.Obsprelimini.IndexOf("OK") < 0)
                            {
                                <font color="#ff0000">@item.Obsprelimini</font>
                            }
                            else
                            {
                                <font color="#219027">@item.Obsprelimini</font>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsprelim))
                        {
                            if (item.Obsprelim.IndexOf("OK") < 0)
                            {
                                <font color="#ff0000">@item.Obsprelim</font>
                            }
                            else
                            {
                                <font color="#219027">@item.Obsprelim</font>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsfinal))
                        {
                            if (item.Obsfinal.IndexOf("OK") < 0)
                            {
                                <font color="#ff0000">@item.Obsfinal</font>
                            }
                            else
                            {
                                <font color="#219027">@item.Obsfinal</font>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsmem))
                        {
                            if (item.Obsmem.IndexOf("OK") < 0)
                            {
                                <font color="#ff0000">@item.Obsmem</font>
                            }
                            else
                            {
                                <font color="#219027">@item.Obsmem</font>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsprelimini))
                        {
                            if (item.Obsprelimini.IndexOf("OK") < 0)
                            {
                                <a href="JavaScript:editar(@item.Eveninfcodi,1)" title="Enviar Informe Preliminar Inicial...">
                                    <img src="~/Content/Images/file.png" />
                                </a>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsprelim))
                        {
                            if (item.Obsprelim.IndexOf("OK") < 0)
                            {
                                <a href="JavaScript:editar(@item.Eveninfcodi,1)" title="Enviar Informe Preliminar...">
                                    <img src="~/Content/Images/file.png" />
                                </a>
                            }
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Obsfinal))
                        {
                            if (item.Obsfinal.IndexOf("OK") < 0)
                            {
                                <a href="JavaScript:editar(@item.Eveninfcodi,1)" title="Enviar Informe Final...">
                                    <img src="~/Content/Images/file.png" />
                                </a>
                            }
                        }
                    </td>
                    <td>
                        <a href="JavaScript:enviar(@item.Eveninfcodi,0,0)" title="Reenviar Informe Preliminar Inicial...">
                            <img src="~/Content/Images/Copiado.png" />
                        </a>
                    </td>
                    <td>
                        <a href="JavaScript:enviar(@item.Eveninfcodi,0,1)" title="Reenviar Informe Preliminar...">
                            <img src="~/Content/Images/Copiado.png" />
                        </a>
                    </td>
                    <td>
                        <a href="JavaScript:enviar(@item.Eveninfcodi,0,2)" title="Reenviar Informe Final...">
                            <img src="~/Content/Images/Copiado.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
