@model COES.MVC.Intranet.Areas.Equipamiento.Models.DetalleEquipoModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>Tipo Equipo</th>
            <th>Nombre de Equipo</th>
            <th>Propiedades Vacias / Total Ficha Técnica</th>
            <th style='width: 40px'>Detalle Prop. de Ficha Técnica</th>
            <th style='width: 40px'>Ir a Propiedades</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoValoresVacios)
        {
            <tr>
                <td style="@item.Osigrupocodi"></td>
                <td style="@item.Osigrupocodi">@item.Emprnomb</td>
                <td style="@item.Osigrupocodi">@item.Areadesc</td>
                <td style="@item.Osigrupocodi">                    @item.Famnomb                </td>
                <td style="@item.Osigrupocodi">@item.Equiabrev</td>
                <td style="@item.Osigrupocodi">                    @item.PropVaciasCount                </td>

                <td style="@item.Osigrupocodi">
                    <a href="JavaScript:VerPropiedadesValidas(@item.Emprcodi,@item.Equicodi,@item.Famcodi)" title="Ver Detalle de propiedades de Ficha Técnica">
                        <img src="~/Content/Images/btn-open.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>

                <td style="@item.Osigrupocodi">
                    <a href="JavaScript:VerPropiedadesEquip(@item.Equicodi)" title="Ir a Propiedades">
                        <img src="~/Content/Images/enviar.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td style="text-align: center">@Model.PropVaciasCount</td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>