@model COES.MVC.Intranet.Areas.Equipamiento.Models.DetalleEquipoModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
}

<div id="listDetalleProp" class="content-registro">

    <table id="tablaListadoDetalle" border="0" class="pretty tabla-icono" cellspacing="0" style="table-layout: fixed;">
        <thead>
            <tr>
                <th>Propiedad Oficial</th>
                <th>Tipo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaPropValidas)
            {
                <tr>
                    <td>@item.Propnomb</td>
                    <td>@item.Proptipo</td>
                    <td style="overflow-wrap: break-word;">@item.Valor</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div style="color:#3D90CB; font-size:14px; font-weight:bold; "><span>Consideraciones</span></div>
<div>&nbsp;</div>
<div id="leyenda">
    <table id="tablaReglas" border="0" class="pretty tabla-icono" style="width: 450px;">
        <thead>
            <tr>
                <th>Tipo de Dato</th>
                <th>Valores que también se consideran Vacios</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaConstantes)
            {
                <tr>
                    <td>@item.ElementAt(0)</td>
                    <td>@item.ElementAt(1)</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <i>Solo se consideran vacios según las reglas descritas</i> <br />
        <i>(*) los valores que por defecto son nulos y/o vacios,también son considerados vacios</i>
    </p>
</div>


