@model COES.MVC.Intranet.Areas.Subastas.Models.SmaConfiguracionModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Configuración de Parámetros";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/table.css" rel="stylesheet" />
<script src="~/Content/Scripts/messaje-operation.js"></script>

<link href="~/Areas/Subastas/Content/Css/css.css?v=1.10.7" rel="stylesheet" />
<script src="~/Areas/Subastas/Content/Scripts/smaconfiguracion.js?v=1.10.8"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de parámetros y motivos de activación de oferta por defecto</div>
</div>


<div class="content-hijo" id="mainLayout">

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaParametro">Parámetros</a></li>
            <li class='tab'><a href="#vistaMotivo">Motivos de activación de Oferta por defecto</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaParametro">

                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Fecha de Consulta:</td>
                            <td>
                                <input type="text" id="txtFechaData" value="@Model.Fecha" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="clear:both"></div>
                <div class="content-tabla">
                    <div class="table-list" id="listado_parametro"></div>
                    <div style="clear:both; margin-bottom:40px"></div>
                </div>


            </div>
            <div id="vistaMotivo">
                <div class="content-tabla">
                    <div style="text-align: right;">
                        @if (Model.TienePermiso)
                        {
                            <input type="button" id="btnNuevoMotivo" value="Nuevo">
                        }
                    </div>

                    <br />
                    <div class="table-list" id="div_listado_motivo"></div>
                    <div style="clear:both; margin-bottom:40px"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="popupHistoricoConcepto" class="general-popup" style="width: 850px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Histórico del Parámetro</span></div>
    <div class="panel-container">
        <div class="content-botonera" style="display: none; margin-top: 5px;">
            <input type="button" id="btnGrupodatNuevo" value="Nuevo" />
            <input type="button" id="btnGrupodatConsultar" value="Consultar" style="display:none" />
        </div>
        <table class="content-tabla-search">
            <tbody>
                <tr class="">
                    <td class="tbform-label" style="text-align: right">Parámetro:</td>
                    <td id="parametroConfig" style=" font-weight: bold;"></td>
                </tr>
            </tbody>
        </table>


        <!--Formulario de Grupodat-->
        <div id="formularioGrupodat">
            <div class="popup-title" style="padding-top: 15px;"><span></span></div>
            <input type="hidden" id="hfGrupocodiDat" value="" />
            <input type="hidden" id="hfConcepcodiDat" value="" />
            <input type="hidden" id="hfDeleted" value="" />
            <input type="hidden" id="hfFechaData" value="" />
            <input type="hidden" id="hfFechaAct" value="@Model.Fecha" />

            <table style=" margin-top: 15px;">
                <tbody>
                    <tr>
                        <td class="tbform-label" style="">Fecha de Vigencia:</td>
                        <td class="tbform-control" style="vertical-align: top;">
                            <input class="" id="fechaData" type="text" name="fechaData" value="" style="width: 92px" />
                        </td>

                    </tr>
                    <tr>
                        <td class="tbform-label" style="">Valor:</td>
                        <td class="tbform-control" style="">
                            <input id="valorData" type="text" name="valorData" value="" style="width: 92px; text-align: right" />
                        </td>
                    </tr>
                    <tr>
                        <td id="tdGuardarData" colspan="2">
                            <input id="btnGrupodatGuardar" type="button" value="Registrar">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="clear:both; height:20px"></div>
        </div>

        <!--Lista de Grupodat-->
        <div class="popup-title titulo_listado" style="padding-top: 15px; font-size: 13px;"><span>Listado</span></div>
        <div class="content-tabla">
            <div class="table-list" id="listadoGrupoDat">
            </div>
        </div>
    </div>

</div>

<div id="popupMotivo" class="general-popup" style="width: 450px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Motivo de activación de Oferta por defecto</span></div>
    <div class="panel-container">

        <!--Formulario-->
        <div>
            <input type="hidden" id="hfSmammcodi" value="0" />

            <table style=" margin-top: 15px;">
                <tbody>
                    <tr>
                        <td class="tbform-label" style="">Motivo:</td>
                        <td class="tbform-control" style="vertical-align: top;">
                            <textarea id="txtMotivo" cols="50" rows="4" style=" resize: none"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <td class="tbform-label" style="">Estado:</td>
                        <td class="tbform-control" style="">
                            <select id="cbEstadoMotivo" style="width: 100px;">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="tbform-control" style="padding-top: 15px;">
                            <input id="btnGuardarMotivo" type="button" value="Grabar">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="clear:both; height:20px"></div>
        </div>

    </div>
</div>

<input type="hidden" id="hfRepFecLimite" value="@Model.Fecha" />