@model COES.MVC.Intranet.Areas.Subastas.Models.SmaConfiguracionModel

<div style="clear:both; height:15px"></div>
<table id="tablaListadoGrupodat" border="0" class="pretty tabla-icono" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 50px">Acciones</th>
            <th style="width: 80px">Fecha Inicio</th>
            <th style="width: 80px">Fecha Fin</th>
            <th style="width: 120px">Usuario modificación</th>
            <th style="width: 120px">Fecha modificación</th>
            <th style="width: 50px">Estado</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaGrupodat)
        {
            string claseFila = "";
            if (item.Deleted > 0) { claseFila = "clase_eliminado"; }
            <tr class="@claseFila">
                <td>
                    @if (Model.AccesoEditar)
                    {
                        if (item.Deleted == 0)
                        {
                            <a href="JavaScript:editarGrupodat(@item.Grupocodi, '@item.FechaIniciodesc','@item.FechaFindesc','@item.BandaURS','@item.Acta', '@item.Deleted');" title="Editar Registro">
                                <img src="~/Content/Images/btn-edit.png" alt="Editar Registro" />
                            </a>
                            if (!string.IsNullOrEmpty(item.Acta))
                            {
                                <a href="JavaScript:descargarActa('@item.Acta', @item.Grupocodi, 1)">
                                    <img src="~/Content/Images/pdf.png" alt="Descargar Acta">
                                </a>
                            }
                            <a href="JavaScript:eliminarGrupodat(@item.Grupocodi,'@item.FechadatDesc',@item.Deleted);" title="Eliminar Registro">
                                <img src="~/Content/Images/Trash.png" alt="Eliminar Registro" />
                            </a>
                        }
                    }
                </td>
                <td>@item.FechaIniciodesc</td>
                <td>@item.FechaFindesc</td>
                <td>@item.Lastuser</td>
                <td>@item.FechaactDesc</td>
                <td>@item.EstadoDesc</td>
            </tr>
        }

    </tbody>
</table>