@model COES.MVC.Intranet.Areas.TiempoReal.Models.ActualizacionSp7Model
<link href="~/Areas/TiempoReal/Content/Css/ActualizacionSp7.css" rel="stylesheet" />
<div style="clear:both; height:10px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="auto" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Zona</th>
            <th class="valores_grandes">Patch</th>
            <th>Nombre</th>
            <th>ICCP</th>
            <th>Unidad</th>

            <th class="valores_anteriores">Empresa</th>
            <th class="valores_anteriores">Zona</th>
            <th class="valores_grandes valores_anteriores">Patch</th>
            <th class="valores_anteriores">Nombre</th>
            <th class="valores_anteriores">ICCP</th>
            <th class="valores_anteriores">Unidad</th>

            <th>Fecha</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaActualizacion)
        {
            <tr>
                <td>@item.EmpresaNombre</td>
                <td>@item.ZonaNombre</td>
                <td class="valores_grandes">@item.Canalpathb</td>
                <td>@item.Canalnomb</td>
                <td>@item.Canaliccp</td>
                <td>@item.Canalunidad</td>

                <td>@item.EmpresaNombreant</td>
                <td>@item.ZonaNombreant</td>
                <td class="valores_grandes">@item.Canalpathbant</td>
                <td>@item.Canalnombant</td>
                <td>@item.Canaliccpant</td>
                <td>@item.Canalunidadant</td>

                <td>@item.Canalcmfeccreacion</td>
                <td>@item.Lastuser</td>
            </tr>
        }
    </tbody>
</table>
