@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaAuditModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th class="sorting_desc">Id</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Usuario</th>
            <th>Registros</th>
            <th>Fecha Reg.</th>
            <th>Usuario Rev.</th>
            <th>Fecha Rev.</th>
            <th style="width:30px;">Revertir</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaAudit)
        {
            <tr id="fila_@item.Id">
                <td>@item.Id</td>
                <td style="text-align:left;">@item.FechaInicial</td>
                <td>@item.FechaFinal</td>
                <td>@item.Usuario</td>
                <td>@item.Registros</td>
                <td>@item.Fecha</td>
                <td>@item.UsuarioReversa</td>
                <td>@item.FechaReversa</td>

                <td style="width:30px;">
                    @if (item.FechaReversa == null)
                    {<a href="@Url.Action("Delete", new { id = item.Id })"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Revertir registro" alt="Revertir registro" /></a>
                    }
                    else
                    {
                        <h6>REVERTIDO</h6>
                    }
                </td>
            </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>