@using COES.MVC.Extranet.Helper
@model COES.MVC.Extranet.Areas.PMPO.Models.ReportSubmissionModel

@{
    ViewBag.Title = ".::Extranet SGOCOES COES::.";
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/Scripts/jquery.countdown.min.js"></script>
<script type="text/javascript" src="~/Areas/PMPO/Content/Scripts/moment.min.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/pmpo-obras-index.js"></script>

<div id="div-obra-index" data-date-for-submission="@Model.DateForSubmission.ToString("yyyy/MM/dd HH:mm:ss")">
    <div class="form-title_intranet">
        <div class="content-titulo">Programa de Obras</div>
        <div class="content-botonera" style="margin-left:auto">
            <input id="btn-obra-search" type="button" value="Buscar" />
        </div>
    </div>

    <style>
        th {
            text-align: right;
        }
    </style>
    <div class="content-hijo">
        <div id="div-message"></div>

        <div class="action-message">
            <div class="pull">
                <b class="color-blue">Periodo:</b>
                <span id="lbl-period">@Model.Period.Start.ToString("MMM yyyy").ToUpper() - @Model.Period.End.ToString("MMM yyyy").ToUpper()</span>
            </div>
            <div id="div-fecha-max-remision" class="pull">
                <b class="color-blue">Fecha máxima de remisión:</b>
                <span id="lbl-deadline-for-submission">@Model.DeadlineForSubmission.ToString("dd \\de MMMM yyyy")</span>
            </div>
            <div id="div-tiempo-restante" class="pull color-red">
                <b>Tiempo restante:</b>
                <span id="lbl-clock"></span>
            </div>
        </div>

        <div class="search-content" style="padding:10px">
            <table class="table-search" style="max-width:450px;">
                <tr>
                    <td style="line-height:25px">Empresa :</td>
                    <td>
                        @Html.DropDownList("cboEmpresa", ViewData["cboEmpresa"] as List<SelectListItem>, new { @style = "width:220px" })
                    </td>
                    <td style="line-height:25px; padding-left:10px">Tipo de Obra :</td>
                    <td>
                        @Html.DropDownList("cboTipoObra", ViewData["cboTipoObra"] as List<SelectListItem>, new { @style = "width:220px" })
                    </td>
                </tr>
                <tr>
                    <th>Fecha Inicio :</th>
                    <td>
                        <input type="text" id="txt-date-since" name="name" value="@DateTime.Now.AddMonths(-12).ToString("MM / yyyy")" />
                    </td>
                    <th> Fecha Fin :</th>
                    <td>
                        <input type="text" id="txt-date-until" name="name" value="@DateTime.Now.ToString("MM / yyyy")" />
                    </td>
                </tr>
            </table>
        </div>
        <table id="tbl-obras" class="tabla-formulario pretty"></table>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $('#div-obra-index').form();
    })
</script>