@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.ImpugnacionesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
    ViewBag.Title = ViewBag.Title;
}
<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/impugnaciones.css" rel="stylesheet" />
<script src="~/Areas/DirectorioImpugnaciones/Contents/Scripts/impugnaciones.js"></script>
<script>
    var tipoImpugnacion = "@Model.TipoImpugnacion.Timpgcodi";
</script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/RecursosApelacion.jpg)">
    <div class="main-banner-title">
    </div>
</div>
<div style="clear:both"></div>

<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-9 mb-md-4">
                <div class="coes-box mb-3">
                    <div class="coes-box--header coes-box--header--center-aligned">

                        @if (Model.TipoImpugnacion.Timpgcodi == 3)
                        {
                            <h3 class="coes-box--title">Recursos de Apelación</h3>
                        }
                        else if (Model.TipoImpugnacion.Timpgcodi == 1)
                        {
                            <h3 class="coes-box--title">Dirección Ejecutiva</h3>
                        }
                        else if (Model.TipoImpugnacion.Timpgcodi == 2)
                        {
                            <h3 class="coes-box--title">Dir​ectorio</h3>
                        }
                    </div>
                    <div class="coes-box--content container">

                        <div class="coes-filters d-flex ">
                            <form action="" class="w-100">
                                <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">

                                    <div class="coes-form-item">
                                        <label for="">Año</label>
                                        <select id="fecAnio">
                                            @for (int i = System.DateTime.Now.Year; i > 2009; i--)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="coes-form-item">
                                        <label class="d-block" for="">Mes</label>
                                        <select id="fecMes">
                                            @for (int i = 0; i < meses.Length; i++)
                                            {
                                                if (i == System.DateTime.Now.Month - 1)
                                                {
                                                    <option selected value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                                                }
                                                else
                                                {
                                                    <option value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="coes-form-item">
                                        <input type="button" id="btnBuscar" class="coes-form-item--submit" value="Buscar">
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-9 -->

            <div class="col col-md-3">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <tbody id="cuadroEstadistico" style="float:right">
                            <tr>
                                <td>Días Totales de Atención</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!-- /.row -->

        <div class="">
            <div class="table-responsive" id="listaImpugnaciones">
                <table class="tabla-icono table table-hover">
                    <tbody id="listaImpugnaciones">
                        <tr>
                            <td style="width: 25px; font-weight: bold;"></td>
                            <td style="font-weight: bold;">N° en el mes</td>
                            <td style="font-weight: bold;" title="Registro en el Sistema de Gestión Documentaría del COES">Registro SGD</td>
                            <td style="font-weight: bold;">Impugnante</td>
                            <td style="font-weight: bold;">Decisión Impugnada</td>
                            <td style="font-weight: bold;">Petitorio</td>
                            <td style="font-weight: bold;">Fecha Recepción</td>
                            <td style="font-weight: bold;">Fecha Publicación en Portal</td>
                            <td style="font-weight: bold;">Plazo Incorporación</td>
                            <td style="font-weight: bold;">Incorporaciones Presentadas</td>

                            @if (Model.TipoImpugnacion.Timpgcodi == 3)
                            {
                                <td style="font-weight: bold;">Acuerdo del Directorio</td>
                            }
                            else if (Model.TipoImpugnacion.Timpgcodi == 1)
                            {
                                <td style="font-weight: bold;">Decisión de la Dirección Ejecutiva</td>
                            }
                            else if (Model.TipoImpugnacion.Timpgcodi == 2)
                            {
                                <td style="font-weight: bold;">Decisión del Directorio</td>
                            }

                            @if (Model.TipoImpugnacion.Timpgcodi == 3)
                            {
                                <td style="font-weight: bold;">Fecha del Acuerdo</td>
                            }
                            else if (Model.TipoImpugnacion.Timpgcodi == 1)
                            {
                                <td style="font-weight: bold;">Fecha de Decisión</td>
                            }
                            else if (Model.TipoImpugnacion.Timpgcodi == 2)
                            {
                                <td style="font-weight: bold;">Fecha de Decisión</td>
                            }

                            <td style="font-weight: bold;">Días Totales Atención</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div><!-- /.container -->

</div><!-- /.content-area -->
