@model  COES.Dominio.DTO.Sic.EpoEstudioEoDTO

@{
    ViewBag.Title = "Establecer No Vigencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-center {
        text-align: center;
    }

    .text-success {
        color: #468847;
    }

        .text-success td {
            background-color: rgb(249, 249, 249);
            padding: 6px;
        }


    .text-info {
        color: #3a87ad;
    }

        .text-info td {
            background-color: rgb(223, 240, 216);
            padding: 6px;
        }

    .text-normal td {
        background-color: rgb(249, 249, 249);
        padding: 6px;
    }

    .text-normal-gris td {
        background-color: rgb(239, 238, 239);
        padding: 6px;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #dddddd;
    }
</style>

<script src="~/Content/scripts/jquery.validate.js"></script>

@using (Html.BeginForm("EstablecerNoVigencia", "EstudioEo", FormMethod.Post, new { name = "frmEstablecerNoVigencia", id = "frmEstablecerNoVigencia" }))
{

    <section style="padding: 5px">
        <h3>Establecer No Vigencia EO</h3>
        <table>
            <tr>
                <td>Código Estudio:</td>
                <td>
                    <input type="text" readonly value="@Model.Esteocodi" />
                </td>
                <td>Nombre de Estudio:</td>
                <td>
                    <input type="text" readonly value="@Model.Esteonomb" />
                </td>
            </tr>
            <tr>
                <td>Reponsable:</td>
                <td>
                    <input type="text" readonly value="@Model.Username" />
                </td>
                <td>Gestor del Proyecto:</td>
                <td>
                    <input type="text" readonly value="@Model.Emprnomb" />
                </td>
            </tr>
            <tr>
                <td>Tercer Involucrado:</td>
                <td>
                    <textarea type="text" readonly rows="5" cols="33">@ViewBag.TerceroInvolucrado</textarea>
                </td>
                <td>Estado:</td>
                <td>
                    <input type="text" readonly value="@Model.Estadescripcion" />
                </td>
            </tr>
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" readonly value="@(Model.Esteofechaini.HasValue ? Model.Esteofechaini.Value.ToShortDateString() : "")" />
                </td>
                <td>Fecha Fin:</td>
                <td>
                    <input type="text" readonly value="@(Model.Esteofechafin.HasValue ? Model.Esteofechafin.Value.ToShortDateString() : "")" />
                </td>
            </tr>
        </table>
    </section>

    <hr />
        <div style="padding: 5px">
            <h3>Establecer No Vigencia</h3>
            <div>Justificación</div>
            @Html.TextAreaFor(m => m.Esteojustificacion, new { @class = "input-xxlarge", rows = "4", cols = "40" })    <br />

            <table>
                <tr>
                    <td>
                        <input type="button" value="Guardar" id="btnGuardar" class="btn btn-primary" />
                        <input type="button" value="Regresar" id="btnCancelar" class="btn" />
                    </td>
                </tr>
            </table>
        </div>

        @Html.HiddenFor(m => m.Esteocodi)
}

<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEO/novigencia.js"></script>