@model  IEnumerable<COES.Dominio.DTO.Sic.EpoEstudioEpoDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Código<br />Proyecto</th>
            <th>Código<br />Estudio</th>
            <th>Nombre Estudio</th>
            <th>Responsable Estudio</th>
            <th>Fecha<br />Presentación EPO</th>
            <th>Fecha<br />Conformidad EPO</th>
            <th>Gestor del Proyecto</th>
            <th>Estado</th>
            <th>Resumen<br />Ejecutivo</th>
            <th>Vigencia</th>
            <th>Gestión</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td width="8%" class="text-left">@item.Estepocodiproy</td>
            <td width="8%" class="text-left">@item.Estepocodiusu</td>
            <td width="15%" class="text-left">@item.Esteponomb</td>
            <td width="15%" class="text-left">@item.Username</td>
            <td width="8%">@(item.Estepofechaini.HasValue ? (item.Estepofechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Estepofechaini.Value.ToString("dd/MM/yyyy") : "") : "")</td>
            <td width="8%">@(item.Estepofechafin.HasValue ? (item.Estepofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Estepofechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
            <td width="15%" class="text-left">@item.Emprnomb</td>
            <td width="10%">@item.Estadescripcion</td>
            <td width="10%">
                @if (!string.IsNullOrEmpty(item.Esteporesumenejecutivoenl))
                {
                    <a target="_blank" href="@item.Esteporesumenejecutivoenl">Descargar</a>
                }
            </td>
            <td width="10%">@item.EstepoVigencia</td>
            <td width="18%">
                <a href="#" onclick="javascript: verdetalleEpo(@item.Estepocodi)">Ver Detalle</a>
            </td>
        </tr>
        }
    </tbody>
</table>