@model  IEnumerable<COES.Dominio.DTO.Sic.EpoEstudioEoDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Código<br />Proyecto</th>
            <th>Código<br />Estudio</th>
            <th>Nombre Estudio</th>
            <th>Responsable Estudio</th>
            <th>Fecha<br />Presentación EO</th>
            <th>Fecha<br />Conformidad EO</th>
            <th>Gestor del Proyecto</th>
            <th>Estado</th>
            <th>Vigencia</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td width="8%" class="text-left">@item.Esteocodiproy</td>
            <td width="8%" class="text-left">@item.Esteocodiusu</td>

            <td width="15%" class="text-left">@item.Esteonomb</td>
            <td width="15%" class="text-left">@item.Username</td>
            <td width="8%">@(item.Esteofechaini.HasValue ? (item.Esteofechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Esteofechaini.Value.ToString("dd/MM/yyyy") : ""): "")</td>
            <td width="8%">@(item.Esteofechafin.HasValue ? (item.Esteofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Esteofechafin.Value.ToString("dd/MM/yyyy") : ""): "")</td>
            <td width="18%" class="text-left">@item.Emprnomb</td>
            <td width="10%">@item.Estadescripcion</td>
            <td width="10%">@item.EsteoVigencia</td>
            <td width="18%">
                <a href="#" onclick="javascript: nuevoEstudioEo(@item.Esteocodi)">Actualizar</a>
                @*<a href="#" onclick="javascript: anular(@item.Esteocodi)">Anular</a>*@
                <a href="#" onclick="javascript: revisionEstudioEo(@item.Esteocodi)">Revisar</a>
                <a href="#" onclick="javascript: ConfirmarNoVigenciaEo(@item.Esteocodi)">NoVigente</a>
            </td>
        </tr>
        }
    </tbody>
</table>