@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    ViewBag.Title = "Envio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Transferencias/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/globales.js?id=13.2.7"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
@if (Model.IdFormato == 102)
{
    <script src="~/Areas/ValorizacionDiaria/Content/Scripts/excelwebprevisto.js?v=13.2.8"></script>
}
else
{
    <script src="~/Areas/ValorizacionDiaria/Content/Scripts/excelweb.js?v=13.2.8"></script>
}
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/handsontable.js?id=13.2.8"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/util.js"></script>
<link href="~/Areas/ValorizacionDiaria/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/ValorizacionDiaria/Content/Css/main.css" rel="stylesheet" />
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/mensajes.js?id=13.2.1"></script>
<link href="~/Areas/ValorizacionDiaria/Content/Css/select2.css" rel="stylesheet" />
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/select2.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/select2handson.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/htmaxlength.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/jquery.easytabs.min.js"></script>

<input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
<input type="hidden" id="hfIdEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfIdLectura" value="@Model.IdLectura" />
<input type="hidden" id="hfIdArea" value="@Model.IdArea" />
<input type="hidden" id="hfFecha" value="@Model.Dia" />
<input type="hidden" id="hfFechaDia" value="@Model.Fecha" />
<input type="hidden" id="hfSemana" value="@Model.NroSemana" />
<input type="hidden" id="hfMes" value="@Model.Mes" />
<input type="hidden" id="hfDataExcel" value="" />
<input type="hidden" id="hfFormatCodi" value="@Model.StrFormatCodi" />
<input type="hidden" id="hfFormatPeriodo" value="@Model.StrFormatPeriodo" />
<input type="hidden" id="hfFormatDescrip" value="@Model.StrFormatDescrip" />
<input type="hidden" id="hfIdModulo" value="@Model.IdModulo" />
<input type="hidden" id="hfEditable" value="@Model.Editable" />

<div style="color: #278CCC; margin-bottom:0px; text-align:center">

    @if (Model.IdFormato == 101)
    {
        <h1>ENERGÍA PREVISTA A RETIRAR DIARIA</h1>
    }
    @if (Model.IdFormato == 102)
    {
        <h1>ENERGÍA PREVISTA MENSUAL  (MWh)</h1>
    }
    @if (Model.IdFormato == 118)
    {
        <h1>DEMANDA COINCIDENTE MENSUAL (kW)</h1>
    }

</div>
@if (Model.IdFormato == 102)
{
    <div id="idpanel" class="form-main" style="overflow:auto; background-color:#fff; padding: 5px;">
        <div class='action-message' id='mensaje' style="margin-bottom:5px">Por favor seleccione empresa, tipo de lectura, formato y periodo</div>
        <div class='action-message' id='mensajePlazo' style='display:none'></div>
        <div class='action-message' id='mensajeEvento' style='display:none'></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <div class="ast">
                <div id="tab-container" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab' data-tabindex="0"><a href="#paso0">A Retirar Mensual (MWh)</a></li>
                        <li class='tab' data-tabindex="1"><a href="#paso1">A Entregar Mensual (MWh)</a></li>
                    </ul>
                    <div class='panel-container'>
                        <div id="paso0">
                            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                                <table>
                                    <tr>
                                        <td>
                                            <table class="table-search">
                                                <tr>
                                                    <td>Empresa</td>
                                                    <td>
                                                        <select id="cbEmpresa" name="IdEmpresa" style="width:250px;">
                                                            @foreach (var item in Model.ListaEmpresas)
                                                            {
                                                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                                                            }
                                                        </select>
                                                        <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.IdEmpresa" />
                                                    </td>
                                                    <td colspan="2">
                                                        <div id="cntFecha" style="display:none">
                                                            Fecha:
                                                            <input type="text" name="Fecha" id="txtFecha" value="@Model.Dia" />
                                                        </div>
                                                        <div id="cntMes">
                                                            Mes-Año: <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                                                        </div>
                                                        <input type="hidden" id="hfIdFormato" value="@Model.IdFormato" />
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <input type="button" value="Seleccionar" onclick="nuevoFormato(true);">
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                        <td>
                                            <div class="search-content" style="margin-bottom: 0px; padding: 10px; padding-top: 3px; padding-bottom: 9px; display: block; height: 50px;" id="divAcciones">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td class="content-action" style="display: none">
                                                            <a href="#" id="btnEditarEnvio">
                                                                <div class="content-item-action">
                                                                    <img src="~/Content/Images/edit.png" /><br />
                                                                    <span>Editar</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaDescargar" style="display:none">
                                                                <a href="#" id="btnDescargarFormato">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/bajar.png" /><br />
                                                                        <span>Descargar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaImportar" style="display:none">
                                                                <a href="#" id="btnSelectExcel">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/subir.png" /><br />
                                                                        <span>Importar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnEnviarDatos">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/enviar.png" /><br />
                                                                    <span>Enviar</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnMostrarErrores">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/errores.png" /><br />
                                                                    <span>Ver errores</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnVerEnvios">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/envios.png" /><br />
                                                                    <span>Ver envíos</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnExpandirRestaurar">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/expandir.png" id="imgExpandirContraer" />
                                                                    <br />
                                                                    <span id="spanExpandirContraer">Expandir</span>
                                                                </div>
                                                            </a>
                                                            <input type="hidden" id="hfExpandirContraer" value="E" />
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaAgregar" style="display:none">
                                                                <a href="#" id="btnAgregarFila">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/Write.png" />
                                                                        <br />
                                                                        <span id="spanExpandirContraer">Agregar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                </table>

                                <div id="barraHidro" style="display:none;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width:45%"></td>
                                            <td style="width:55%">
                                                <div id="selecFormato">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="bodyexcel" id='detalleFormato'></div>

                        </div>
                        <div id="paso1" style="display:none">
                            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                                <table>
                                    <tr>
                                        <td>
                                            <table class="table-search">
                                                <tr>
                                                    <td>Empresa</td>
                                                    <td>
                                                        <select id="cbEmpresaE" name="IdEmpresa" style="width:250px;">
                                                            @foreach (var item in Model.ListaEmpresas)
                                                            {
                                                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                                                            }
                                                        </select>
                                                        <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.IdEmpresa" />
                                                    </td>
                                                    <td>
                                                        <div id="cntFecha2" style="display:none">
                                                            Fecha:
                                                            <input type="text" name="Fecha" id="txtFechaE" value="@Model.Dia" />
                                                        </div>
                                                        <div id="cntMes">
                                                            Mes-Año: <input type="text" name="Mes" id="txtMesE" value="@Model.Mes" />
                                                        </div>
                                                        <input type="hidden" id="hfIdFormato" value="@Model.IdFormato" />
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <input type="button" value="Seleccionar" onclick="nuevoFormatoE(true);">
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                        <td>
                                            <div class="search-content" style="margin-bottom: 0px; padding: 10px; padding-top: 3px; padding-bottom: 9px; display: block; height: 50px;" id="divAcciones">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td class="content-action" style="display: none">
                                                            <a href="#" id="btnEditarEnvioE">
                                                                <div class="content-item-action">
                                                                    <img src="~/Content/Images/edit.png" /><br />
                                                                    <span>Editar</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaDescargarE" style="display:none">
                                                                <a href="#" id="btnDescargarFormatoE">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/bajar.png" /><br />
                                                                        <span>Descargar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaImportarE" style="display:none">
                                                                <a href="#" id="btnSelectExcelE" data-excelid="1">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/subir.png" /><br />
                                                                        <span>Importar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnEnviarDatosE">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/enviar.png" /><br />
                                                                    <span>Enviar</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnMostrarErroresE">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/errores.png" /><br />
                                                                    <span>Ver errores</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnVerEnviosE">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/envios.png" /><br />
                                                                    <span>Ver envíos</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="content-action">
                                                            <a href="#" id="btnExpandirRestaurarE">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/expandir.png" id="imgExpandirContraerE" />
                                                                    <br />
                                                                    <span id="spanExpandirContraerE">Expandir</span>
                                                                </div>
                                                            </a>
                                                            <input type="hidden" id="hfExpandirContraerE" value="E" />
                                                        </td>
                                                        <td class="content-action">
                                                            <div id="celdaAgregarE" style="display:none">
                                                                <a href="#" id="btnAgregarFilaE">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/ValorizacionDiaria/Content/Images/Write.png" />
                                                                        <br />
                                                                        <span id="spanExpandirContraerE">Agregar</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                </table>

                                <div id="barraHidroE" style="display:none;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width:45%"></td>
                                            <td style="width:55%">
                                                <div id="selecFormato">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="bodyexcel" id='detalleFormatoE'></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*<div class="bodyexcel" id='detalleFormato'></div>*@
    <div id="popup2"></div>
    <div id="popupEnvios" style="padding: 20px; border-radius: 10px; background-color:#FFFFFF"></div>
    <div id="popupErrores" style="padding: 20px; border-radius: 10px; background-color:#FFFFFF"></div>

    <script>
        $(function () {
            $('#tab-container').easytabs({
                animate: false
            });


            $('#txtFechaE').Zebra_DatePicker({
                direction: 0
            });

            $('#txtMesE').Zebra_DatePicker({
                format: 'm Y'
            });
        });

    </script>
}
else
{
    <div id="idpanel" class="form-main" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px">Por favor seleccione empresa, tipo de lectura, formato y periodo</div>
        <div class='action-message' id='mensajePlazo' style='display:none'></div>
        <div class='action-message' id='mensajeEvento' style='display:none'></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">

            <table>
                <tr>
                    <td>
                        <table class="table-search">
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <select id="cbEmpresa" name="IdEmpresa" style="width:250px;">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.IdEmpresa" />
                                </td>
                                <td colspan="2">
                                    @if (Model.IdFormato == 101)
                                    {
                                        <div id="cntFecha">
                                            Fecha:
                                            <input type="text" name="Fecha" id="txtFecha" value="@Model.Dia" />
                                        </div>
                                        <div id="cntMes" style="display:none">
                                            Mes-Año: <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                                        </div>

                                    }
                                    else if (Model.IdFormato == 118)
                                    {
                                        <div id="cntFecha" style="display:none">
                                            Fecha:
                                            <input type="text" name="Fecha" id="txtFecha" value="@Model.Dia" />
                                        </div>
                                        <div id="cntMes">
                                            Mes-Año: <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                                        </div>
                                    }
                                    <input type="hidden" id="hfIdFormato" value="@Model.IdFormato" />
                                </td>
                                <td style="text-align:center;">
                                    <input type="button" value="Seleccionar" onclick="nuevoFormato(true);">
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td>
                        <div class="search-content" style="margin-bottom: 0px; padding: 10px; padding-top: 3px; padding-bottom: 9px; display: block; height:50px;" id="divAcciones">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td class="content-action" style="display: none">
                                        <a href="#" id="btnEditarEnvio">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/edit.png" /><br />
                                                <span>Editar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action">
                                        <div id="celdaDescargar" style="display:none">
                                            <a href="#" id="btnDescargarFormato">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/bajar.png" /><br />
                                                    <span>Descargar</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <div id="celdaImportar" style="display:none">
                                            <a href="#" id="btnSelectExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/subir.png" /><br />
                                                    <span>Importar</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <a href="#" id="btnEnviarDatos">
                                            <div class="content-item-action">
                                                <img src="~/Areas/ValorizacionDiaria/Content/Images/enviar.png" /><br />
                                                <span>Enviar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action">
                                        <a href="#" id="btnMostrarErrores">
                                            <div class="content-item-action">
                                                <img src="~/Areas/ValorizacionDiaria/Content/Images/errores.png" /><br />
                                                <span>Ver errores</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action">
                                        <a href="#" id="btnVerEnvios">
                                            <div class="content-item-action">
                                                <img src="~/Areas/ValorizacionDiaria/Content/Images/envios.png" /><br />
                                                <span>Ver envíos</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action">
                                        <a href="#" id="btnExpandirRestaurar">
                                            <div class="content-item-action">
                                                <img src="~/Areas/ValorizacionDiaria/Content/Images/expandir.png" id="imgExpandirContraer" />
                                                <br />
                                                <span id="spanExpandirContraer">Expandir</span>
                                            </div>
                                        </a>
                                        <input type="hidden" id="hfExpandirContraer" value="E" />
                                    </td>
                                    <td class="content-action">
                                        <div id="celdaAgregar" style="display:none">
                                            <a href="#" id="btnAgregarFila">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/ValorizacionDiaria/Content/Images/Write.png" />
                                                    <br />
                                                    <span id="spanExpandirContraer">Agregar</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>

            </table>


            <div id="barraHidro" style="display:none;">
                <table style="width:100%">
                    <tr>
                        <td style="width:45%"></td>
                        <td style="width:55%">
                            <div id="selecFormato">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bodyexcel" id='detalleFormato'></div>
        @*</div>*@
    </div>
}

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">

    </div>
</div>

<div id="nuevoformato" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Seleccionar Formato</span></div>
    <div id="idFiltroNuevo">
        <div style='clear:both; height:5px'></div>
        <table>
            <tr>
                <td align="center"></td>
            </tr>
        </table>
    </div>
</div>

<div id="popupEmbalses" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Seleccionar embalses</span></div>
    <div id="embalses">
        <div style='clear:both; height:5px'></div>
        <table>
            <tr>
                <td align="center"></td>
            </tr>
        </table>
    </div>

    <br /><br />

    <table>
        <tr>
            <td>
                <input type="button" id="btnAceptarEmbalse" value="Aceptar" />
            </td>
            <td>
                <input type="button" id="btnCerrarEmbalse" value="Cerrar" />
            </td>
        </tr>
    </table>
</div>

<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/51905469444" class="wsp" target="_blank" title="¿Necesitas ayuda? Escríbenos por WhatsApp">
    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
</a>

<style>
    .wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        transition: transform 0.3s ease;
    }

        .wsp:hover {
            transform: scale(1.1);
        }

        .wsp img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
</style>