@model COES.MVC.Intranet.Areas.ConsumoCombustible.Models.ConsumoCombustibleModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/ConsumoCombustible/Content/Css/css.css?v=2.1" rel="stylesheet" />
<script src="~/Areas/ConsumoCombustible/Content/Scripts/vcom_reporte.js?v=2.1"></script>

<div class="form-title">
    <div class="content-titulo">Reporte VCOM - @(Model.Version.CccverfechaDesc) - Revisión n° @(Model.Version.Cccvernumero) </div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfVersion" value="@Model.IdVersion" />
    <input type="hidden" id="hfFechaPeriodo" value="@Model.FechaPeriodo" />
    <input type="hidden" id="hfNombreArchivoLogCambio" value="@Model.NombreArchivoLogCambio" />

    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="padding-right: 0px;">Fecha:</td>
                <td class="">
                    <input type="text" id="desc_fecha_ini" value="@Model.FechaPeriodo" disabled />
                    <input type="hidden" id="hfFechaPeriodo" value="@Model.FechaPeriodo" />
                </td>

                <td class="content-action">
                    <a href="#" id="btnExportarExcel" title="Exportar reporte">
                        <div class="content-item-action">
                            <img src="~/Content/Images/ExportExcel.png" alt="logo" style="height: 23px;" /><br />
                        </div>
                    </a>
                </td>
                <td>
                    @if (Model.TieneLogCambio)
                    {
                        <a href="#" id="btnDescargaLog" title="Log de cambios">
                            <div class="content-item-action">
                                <img src="~/Content/Images/excel.png" alt="logo" style="height: 23px;" /><br />
                            </div>
                        </a>
                    }
                </td>
            </tr>
        </table>
    </div>

    <div>
        <div>
            <h3>Listado de cambios pendientes de Guardar</h3>
            <div>
                <div style="width: 800px; display: inline-table;" id="html_listado_cambio"></div>
                <div style="display: inline-table;">
                    <a href="#" title="Guardar" id="btnGuardarCambio">
                        <img src="~/Content/Images/grabar.png" alt="logo" style="height: 23px;" />
                    </a>
                </div>
            </div>
        </div>

        <div class="content-item-action" style="margin-top: 15px;">
            Agregar
            <a href="#" title="Nuevo Registro" id="btnNuevo">
                <img src="~/Content/Images/btn-add.png" alt="logo" style="height: 23px;" />
            </a>
        </div>
        <div id="listado"></div>
    </div>

</div>

<div id="popup_formulario" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span></span></div>

    <div id="div_formulario">
    </div>
</div>