@model COES.MVC.Intranet.Areas.Medidores.Models.ValidacionMedidoresModel
@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Medidores/Content/Css/medidores.css?v=1.1" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/fixedheader.js"></script>

<script src="~/Areas/Medidores/Content/Scripts/validacion.js?=2.2"></script>

<div class="form-title">
    <div class="content-titulo">Validación de Registros de Medidores y SCADA</div>
    <div class="content-botonera">
        @if (Model.IndConfiguracion == "S")
        {
            <input type="button" id="btnConfiguracion" value="Configuración" />
        }
        <input type="button" id="btnGrafico" value="Gráfico" />
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="button" id="btnCancelar" value="Cancelar" />

    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="@Model.FechaInicio" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width:140px" value="@Model.FechaFin" />
                </td>
                <td>Tipo empresa:</td>
                <td>
                    <select id="cbTipoEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaTipoEmpresas)
                    {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                    }
                    </select>
                    <input type="hidden" id="hfTipoEmpresa" />
                </td>
                <td>Empresa:</td>
                <td>
                    <div id="empresas"></div>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Ver Reporte" />
                </td>
            </tr>
            <tr>
                <td>Tipo de Generación:</td>
                <td>
                    <select id="cbTipoGeneracion" multiple="multiple">
                        @foreach (var item in Model.ListaTipoGeneracion)
                    {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                    }
                    </select>
                </td>
                <td>Recurso Energético</td>
                <td>
                    <select id="cbRecursoEnergetico" multiple="multiple">
                        @foreach (var item in Model.ListaFuenteEnergia)
                    {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                    }
                    </select>
                </td>
                <td>Central Integrante:</td>
                <td>
                    <select id="cbCentral" style="width:140px">
                        <option value="0">TODOS</option>
                        <option value="1" selected="selected">COES</option>
                        <option value="10">NO COES</option>
                        <option value="3">GENERACION RER</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfTipoGeneracion" />
    <input type="hidden" id="hfFuenteEnergia" />

    
    <div id="filtroReporte" style="float:right;" >
        Filtrar: 
        <select id="cbFiltro">
            <option value="0">Todos</option>
            <option value="1">Menor de 5%</option>
            <option value="2">Igual a 5%</option>
            <option value="3">Mayor a 5% y menor que 20%</option>
            <option value="4">Mayor o igual a 20%</option>
        </select>
    </div>
    <div id="reporte">


    </div>

   

</div>

