@model COES.MVC.Intranet.Areas.DemandaBarras.Models.CumplimientoDistribucionModel

<table border="0" class="pretty" cellspacing="0" width="100%" id="tablaEnvio">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Cumplimiento</th>
            <th>Estado Envío</th>
            <th>Plazo</th>
            <th>Periodo</th>
            <th>Fecha Envio</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaDatos.Count > 0)
        {
            foreach (var item in Model.ListaDatos)
            {
                <tr>
                    <td>@item.Emprnomb.Trim()</td>
                    <td>
                        @if (item.Indcumplimiento == 1)
                        {
                            <span style="color:#51ac31; font-weight:bold">Si</span>
                        }
                        else
                        {
                            <span style="color:red; font-weight:bold">No</span>
                        }
                    </td>
                    <td>@item.Estenvnombre</td>
                    <td>
                        @if (item.Indcumplimiento == 1)
                        {
                            if (item.Envioplazo == "P")
                            {
                                <span style="color:#51ac31; font-weight:bold">En plazo</span>
                            }
                            else
                            {
                                <span style="color:red; font-weight:bold">Fuera de plazo</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Enviofechaperiodo != null)
                        {
                            <span>@(((DateTime)item.Enviofechaperiodo).ToString("MM yyyy HH:mm"))</span>
                        }
                    </td>
                    <td>
                        @if (item.Enviofecha != null)
                        {
                            <span>@(((DateTime)item.Enviofecha).ToString("dd/MM/yyyy HH:mm"))</span>
                        }
                    </td>
                    <td>@item.Lastuser</td>
                </tr>
            }
        }
    </tbody>
</table>
