@model COES.MVC.Intranet.Areas.Transferencias.Models.InfoDesbalanceModel
@Html.AntiForgeryToken()
@{
    var Desbalance = (Int32)TempData["Desbalance"];
    var pericodi = (Int32)TempData["Pericodi"];
    var version = (Int32)TempData["Version"];
}
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Barra de Transferencia</th>
            <th>Energía de Desbalance Mensual</th>
            <th>Desbalance Mensual</th>
            <th>Día Mayor Desbalance</th>
            <th>Desbalance del Día</th>
            <th title="Consultar Desviación">Desviación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInfodesbalance)
        {
            <tr>
                <td class="text_left">@item.BarrTransferencia</td>
                <td style="text-align:right;">@item.EnergiaDesbalance.ToString("#,##0.000")</td>
                <td style="text-align:right;">@item.DesbalanceMensual.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.Dia</td>
                <td style="text-align:right;">@item.DesbalanceDia.ToString("#,##0.000")</td>
                <td style="width:30px;"><a href="@Url.Action("Index", "InfoDesviacion", new { iBarrCodi = item.BarrCodi, iDesbalance = Desbalance, iPeriCodi = pericodi, iVersion = version })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/compensacion.jpg")" title="Desviacion de la Barra transferencia" alt="Desviacion de la Barra transferencia" /></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
