@model COES.MVC.Intranet.Areas.Transferencias.Models.InfoFaltanteModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>            
            <th>Barra</th>
            <th>Cliente</th>
            <th>Codigo</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model.ListaInfoFaltante)
        {
                    @*<tr id="fila_@item.Codi">*@
                    <tr id="fila_@item.Codi">
                        <td class="text_left">@item.Empresa</td>
                        <td class="text_left">@item.Barra</td>
                        <td class="text_left">@item.Cliente</td>
                        <td class="text_left">@item.Codigo</td>
                    </tr>
        }
    </tbody>
</table>