@model COES.MVC.Extranet.Areas.Combustibles.Models.CombustibleGasModel
@{
    ViewBag.Title = "Envío PR31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<link href="~/Areas/Combustibles/Content/Css/formularioweb.css?v=1.2.2" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/Gas/envioCombustible.js?v=1.2.2"></script>
<script src="~/Areas/Combustibles/Content/Scripts/Gas/solicitudExcelWeb.js?v=1.2.2"></script>
<script src="~/Areas/Combustibles/Content/Scripts/Gas/solicitudArchivos.js?v=1.2.2"></script>
<script src="~/Areas/Combustibles/Content/Scripts/Gas/solicitudObservacion.js?v=1.2.2"></script>
<script src="~/Areas/Combustibles/Content/Scripts/Gas/solicitud.js?v=1.2.2"></script>

<div class="form-title_intranet" id="container">
    @if (Model.IdEnvio > 0)
    {
        <div class="content-titulo" style="">
            Envío de Costo de Combustibles - Central @Model.TipoCentralDesc - Solicitud N° @Model.IdEnvio
        </div>
    }
    else
    {

        <div class="content-titulo">
            Envío de Costo de Combustibles - Central @Model.TipoCentralDesc
        </div>
    }
    <div class="content-botonera">
        <input type="button" id="btnInicio" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">

    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="hfIdEnvioTemporal" value="@Model.IdEnvioTemporal" />
    <input type="hidden" id="hfIdVersion" value="0" />
    <input type="hidden" id="hdIdEstado" value="@Model.IdEstado" />
    <input type="hidden" id="hdTipoCentral" value="@Model.TipoCentral" />
    <input type="hidden" id="hdTipoOpcion" value="@Model.TipoOpcion" />
    <input type="hidden" id="hdHistorialParteDesc" value="" />
    <input type="hidden" id="hdCondicionEnvioPrevioTemporal" value="" />
    <input type="hidden" id="hdIdEnvioPadre" value="@Model.IdEnvio" />
    <input type="hidden" id="hdIdEnvioData" value="@Model.IdEnvio" />
    <input type="hidden" id="hdIMinutosAutoguardado" value="@Model.MinutosAutoguardado" />
    <input type="hidden" id="hdHabilitarAutoguardado" value="@Model.HabilitarAutoguardado" />

    <div id="div_dia_habil" style="display: none;margin-bottom: 15px;"></div>

    <div class="action-message" id="mensajeEvento" style="margin: 10px 0px 10px; display: none; padding-left: 36px; text-indent: 0px;"></div>

    <div class="search-content3">

        <div style="display:table">
            <div style="display:table-row">
                <div style="display:table-cell;padding-top: 8px; padding-bottom: 8px;">
                    <div style="display:table">
                        <div style="display:table-row">

                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Empresa:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 200px; padding-right: 5px;">
                                <select id="cbEmpresa" style="width:170px;">
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </div>

                            <div class="celda-item" style="width:98px;">
                                Mes de vigencia:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 70px; padding-right: 5px;">
                                <select id="cbMes" style="width:70px;">
                                    @foreach (var item in Model.ListaMes)
                                    {
                                        <option value="@item.String1">@item.String1</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: table-cell;width:100%">
                </div>
                <div style="display: table-cell; text-align: right;">

                    <div id="barra_herramienta_envio" style="display:none;">
                        <div style="display:table-row">
                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/enviar.png" /><br />
                                        <span>Enviar</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnVerEnvio">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnLeyenda">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/leyenda.png" /><br />
                                        <span>Leyenda</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnExpandirRestaurar">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                        <span id="spanExpandirContraer">Expandir</span>
                                    </div>
                                </a>
                                <input type="hidden" id="hfExpandirContraer" value="E" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @if (Model.TipoOpcion != "SA") //ocultar tambien en mostrarGrilla (solicitudExcelWeb.js)
    {
        <div id="leyenda_alerta" style="display: none">
            <table style="">
                <tbody>
                    <tr>
                        <td style="font-weight: bold;" colspan="6">Leyenda: </td>
                    </tr>
                    <tr>
                        <td style="width: 25px" class="">
                            <div style="width: 4px;">
                                <img style="width: 20px;" src="~/Content/images/btn-properties.png">
                            </div>
                        </td>
                        <td style="vertical-align: middle;width: 180px;" class="">Ingresar datos de la sección.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="mensaje_GuardadoTemporal"></div>

        <div id="tab-container" class='tab-container' style="display: block;padding-top: 15px;">
            <ul class='etabs'>
                <li class='tab'><a href="#div_formato3">Formato 3</a></li>
                <li class='tab'><a href="#div_informe_sustentatorio">Informe Sustentatorio</a></li>
            </ul>
            <div class="panel-container">
                <div id="div_formato3" style="background-color:white">

                    <div id="barra_herramienta_formato3" class="search-content3" style="padding-top: 3px; padding-bottom: 0px; background-color: white; display: none">
                        <table class="table-search" style="width:100%;" role="presentation">
                            <tbody>
                                <tr>
                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnHistorialAutoguardado">
                                            <div class="content-item-action" style="">
                                                <img src="~/Content/Images/historial.png" /><br>
                                                <span>Historial autoguardado</span>
                                            </div>
                                        </a>
                                    </td>
                                    @if (Model.HabilitarAutoguardado == 1)
                                    {
                                        <td class="content-action" style="width: 57px; display: none;">
                                            <a href="#" id="btnAutoguardar">
                                                <div class="content-item-action" style="width:55px;">
                                                    <img src="~/Content/Images/grabar.png" /><br>
                                                    <span>Autoguardar</span>
                                                </div>
                                            </a>
                                        </td>
                                    }
                                    <td class="content-action" style="width: 57px; display: none; text-align: right;">
                                        <a href="#" id="btnLimpiar">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/prn-ico-limpiar.png" /><br>
                                                <span>Limpiar</span>
                                            </div>
                                        </a>
                                    </td>

                                    <td></td>

                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnDescargar">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/bajar.png" alt="logo"><br>
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnImportar">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/subir.png" alt="logo"><br>
                                                <span>Importar</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnMasDecimales">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/mas_decimales.png" alt="logo"><br>
                                                <span>+ Decimales</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnMenosDecimales">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/menos_decimales.png" alt="logo"><br>
                                                <span>- Decimales</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action" style="width: 57px; display: none;">
                                        <a href="#" id="btnNoAplica">
                                            <div class="content-item-action" style="width:55px;">
                                                <img src="~/Content/Images/no_aplica.png" alt="logo"><br>
                                                <span>No aplica</span>
                                            </div>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="html_formulario">

                    </div>
                </div>

                <div id="div_informe_sustentatorio" style="background-color:white">
                    <h3>SOPORTES DE LA INFORMACIÓN</h3>

                    <div id="html_archivos">

                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <div id="html_formulario">

        </div>
    }
</div>


<!--popups-->
<div id="validaciones" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" class="general-popup" style="z-index: 9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div id="historialAutoguardados" class="general-popup" style="z-index: 9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Historial de Autoguardados</span></div>
    <div id="idHistoryAutoguardados">

    </div>
</div>

<div id="popupFormularioSeccion" class="general-popup" style="z-index:9999999999;">

</div>

<div id="popupFormularioObservacion" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingreso de observación</span></div>
    <div id="idFormularioObservacion">

    </div>
</div>

<div id="popupArchivoVistaPrevia" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa de archivos</span></div>
    <iframe id="vistaprevia" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
</div>

<div id="leyenda" style="z-index:9999999999;" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Leyenda</span></div>
    <div id="idLeyenda" style="height:370px;">
    </div>
</div>
