
@model List<COES.Dominio.DTO.Sic.WbBlobDTO>



    @if (Model != null && Model.Any())
    {
        <table border="0" class="pretty tabla-icono" id="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha y Hora de Creación</th>
                    <th>Usuario Creación </th>
                    <th>Fecha y Hora de Modificación</th>
                    <th>Usuario Modificación </th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var archivo in Model)
                {
                    <tr>
                        <td>@archivo.Blobname</td>
                        <td>@archivo.Blobdatecreated</td>
                        <td>@archivo.Blobusercreate</td>
                        <td>@archivo.Blobdateupdate</td>
                        <td>@archivo.Blobuserupdate</td>
                        <td>@archivo.Bloburl</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay archivos disponibles en esta carpeta.</p>
    }
