@model COES.MVC.Intranet.Areas.Mediciones.Models.IndexCalidadProductoModel
@{
    ViewBag.Title = "Calidad del Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Areas/Mediciones/Content/Scripts/CalidadProducto.js"></script>

<div class="form-title">
    <div class="content-titulo">Calidad del producto</div>
    <div class="content-botonera">
        <table style="margin-top:10px">
            <tr>
                <td><input type="button" id="btnImportar" value="Importar perfil" style="display:none" /></td>
                <td><input type="button" id="btnQuitarImportado" value="Quitar importado" style="display:none" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("CrearSecciones", "CalidadProducto", FormMethod.Post, new {@class = "form-search", name = "frmBusqueda", id = "frmBusqueda"}))
    {
        <input id="hdnIntervalo" type="hidden" value="@Model.Intervalo" />
        <table class="content-tabla-search" style="width: auto">
            <tr>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width: 140px" value="@Model.FechaInicio.ToString("dd/MM/yyyy")" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width: 140px" value="@Model.FechaFin.ToString("dd/MM/yyyy")" />
                </td>
                <td>Equipo:</td>
                <td>
                    <select id="cbGps" multiple="multiple">
                        @foreach (var item in Model.Equipos)
                        {
                            <option value="@item.GpsCodi">@item.GpsNombre</option>
                        }
                    </select>
                </td>
                <td>Intervalo:</td>
                <td>
                    <select id="cbIntervalo" name="Intervalo">
                        <option value="15">15</option>
                        <option value="30">30</option>
                    </select>
                </td>
                <td><input type="button" id="btnBuscar" value="Consultar datos" /></td>
                <td><input type="button" id="btnExportar" value="Exportar a Excel" /></td>
            </tr>
        </table>
    }
    <div id="divGrafico"></div>
    <div id="divCuadros"></div>
</div>