@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoEquipoCOESModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:8%">Acciones</th>
            <th style="width:15%">Nuevo Nombre</th>
            <th style="width:25%">Titular</th>
            <th style="width:15%">Tipo de equipo</th>
            <th style="width:15%">Ubicación</th>
            <th style="width:15%">Nombre de equipo</th>
            <th style="width:7%">Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEquipoCOES.Count > 0)
        {
            foreach (var item in Model.ListaEquipoCOES)
            {
                <tr>
                    <td>
                        @if (@item.Flaggenprotec == "1")
                        {
                            <a href="JavaScript:editarEquipo(@item.Equicodi,@item.Epequicodi);" title="Editar nombre del Equipo"><img src="~/Content/Images/btn-edit.png" alt="Editar"></a>
                            <a href="JavaScript:eliminarEquipo(@item.Epequicodi);" title="Quitar del módulo de Protecciones"><img src="~/Content/Images/btn-cancel.png" alt="Quitar"></a>
                        }
                        else
                        {
                            <a href="JavaScript:agregarEquipo(@item.Equicodi);" title="Agregar al módulo de Protecciones"><img src="~/Content/Images/btn-add.png" alt="Agregar"></a>
                        }
                    </td>
                    <td>@item.Epequinombenprotec</td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Famnomb</td>
                    <td>@item.Areadesc</td>
                    <td>@item.Equinomb</td>
                    <td>@item.Equiestado</td>
                </tr>
            }
        }

    </tbody>
</table>