
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Content/Scripts/inputmaskmin.js"></script>*@
@*<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>*@
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
@*<link href="~/Content/Css/css.css?v=1.5" rel="stylesheet" />*@
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Areas/Planificacion/Content/bandejawebEo.js?v=1.5"></script>

<style>
    .paginado {
        margin-bottom: 20px;
    }
    #ddlCantidadRegistros {
        width: 150px;
    }

</style>



<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/Consultawebeo" class="sidebar-nav--link sidebar-nav--link-active">Estado de Avance EOs</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ReunionEpoyEos" class="sidebar-nav--link">Reserva de reunión EOs</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9">
            <div class="coes-box mb-3" style="overflow: inherit; ">
                <div class="coes-box--header coes-box--header--center-aligned">
                    <h3 class="coes-box--title">Consultar Información EO</h3>
                </div>
                <div class="coes-box--content container-fluid">
                    <div id="mensaje">
                    </div>
                    <form action="" class="w-100">
                        <div class="coes-form-item d-flex align-items-center mb-1 mt-3">
                            <label for="" class="col-md-6 me-3" style="max-width: none; width: 50%;">Rango Fecha Presentación:</label>
                            <label for="" class="col-md-6 me-3" style="max-width: none; width: 50%;">Rango Fecha Conformidad:</label>
                        </div>
                        <div class="coes-form-item d-flex align-items-center mb-1 mt-1 mb-3">
                            <input type="date" id="txtFchPresentacionIni" class="coes-form-item--date col-md-3 me-3" style="max-width: none; width: 24%;" />
                            <input type="date" id="txtFchPresentacionFin" class="coes-form-item--date col-md-3 me-3" style="max-width: none; width: 24%;" />
                            <input type="date" id="txtFchConformidadIni" class="coes-form-item--date col-md-3 me-3" style="max-width: none; width: 24%;" />
                            <input type="date" id="txtFchConformidadFin" class="coes-form-item--date col-md-3 me-3" style="max-width: none; width: 22.8%;" />
                        </div>

                        <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Estado:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Gestor del Proyecto:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Nombre del Estudio:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Código de Proyecto:</label>
                        </div>
                        <div class="coes-form-item d-flex align-items-center mb-1 mt-1 mb-3">
                            <select id="cboEstado" name="cboEstado" class="col-md-3 me-3" style="max-width: none; width: 24%;">
                                <option value="0">Todos</option>
                                @foreach (var item in ViewBag.ListadoEstudioEstados)
                                {
                                    <option value="@item.Estacodi">@item.Estadescripcion</option>
                                }
                            </select>
                            <select id="cboTitularProyecto" name="cboEstado" class="col-md-3 me-3" style="max-width: none; width: 24%;">
                                <option value="0">Todos</option>
                                @foreach (var item in ViewBag.ListadoEmpresa)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                            <input type="text" id="txtNombreEstudio" class="col-md-3 me-3" style="max-width: none; width: 24%;" />
                            <input type="text" id="txtCodigioProyecto" class="col-md-3 me-3" style="max-width: none; width: 22.8%;" />
                        </div>
                        <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Punto de Conexión:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Año de Puesta en Servicio:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Tipo del Proyecto:</label>
                            <label for="" class="col-md-3 me-3" style="max-width: none; width: 24%;">Zona del Proyecto:</label>
                        </div>
                        <div class="coes-form-item d-flex align-items-center mb-1 mt-1 mb-3">
                            <select id="cboPuntCodi" name="cboPuntCodi" class="col-md-3 me-3" style="max-width: none; width: 24%;">
                                <option value="0">Todos</option>
                                @foreach (var item in ViewBag.ListadoPuntoConexion)
                                {
                                    <option value="@item.PuntCodi">@item.PuntDescripcion</option>
                                }
                            </select>
                            <input type="text" id="txtAnioPuestoServicio" class="col-md-3 me-3" style="max-width: none; width: 24%;" />
                            <select id="cboTipoProyecto" name="cboTipoProyecto" class="col-md-3 me-3" style="max-width: none; width: 24%;">
                                <option value="0">Todos</option>
                                <option value="Generación Convencional">Generación Convencional</option>
                                <option value="Generación No Convencional">Generación No Convencional</option>
                                <option value="Transmisión">Transmisión</option>
                                <option value="Demanda">Demanda</option>
                            </select>
                            <select id="cboZonaProyeto" name="cboEstado" class="col-md-3 me-3" style="max-width: none; width: 22.8%;">
                                <option value="0">Todos</option>
                                @foreach (var item in ViewBag.ListadoZonaProyecto)
                                {
                                    <option value="@item.Zoncodi">@item.ZonDescripcion</option>
                                }
                            </select>
                        </div>
                        <div class="coes-form-item d-flex align-items-center">
                            <div class="coes-form-item  coes-filters d-flex">
                                <input type="button" id="btnBuscar" class="coes-form-item--submit" value="Consultar" />
                            </div>
                            <div class="coes-form-item  coes-filters d-flex">
                                <input type="button" id="btnExportar" class="coes-form-item--submit" value="Exportar" />
                            </div>
                        </div>
                        <div class="coes-form-item d-flex align-items-center">
                            <div class="coes-form-item  coes-filters d-flex">
                                <span style="background-color: #f0f0f0; padding: 6px 12px; border-radius: 6px; font-size: 0.9rem; color: #333;">
                                    Los proyectos tramitados hasta el 01/05/2025 se pueden visualizar en la Plataforma de Proyectos - Anterior, y posterior a esa fecha, usar la Plataforma Interactiva de Proyectos - Nueva.
                                </span>
                            </div>
                        </div>
                        @*<div class="coes-form-item d-flex align-items-center mb-3 mt-1">
            <input type="button" id="btnBuscar" value="Consultar" class="coes-form-item--submit col-md-6 me-3" style="max-width: none; width: 50%;" />
            <input type="button" id="btnExportar" value="Exportar" class="coes-form-item--submit col-md-6 me-3" style="max-width: none; width: 50%;" />
        </div>*@
                    </form>
                </div>
            </div>

            @*<div class="content-tabla">
                <div class="tabla-header">
                    <div class="table-paginado" id="paginado"></div>
                </div>
                <div class="table-list" id="listado"></div>

            </div>*@

        <div class="content-tabla">


            <div class="tabla-header mb-2">
                <div class="coes-form-item mb-2">

                </div>
                <div class="table-list mt-5" id="listado"></div>
                <div class="coes-form-item">
                    <div class="table-paginado" id="paginado"></div>
                </div>


            </div>

        </div>

            @*<div style="clear:both; height:30px"></div>
        <div style="clear:both"></div>*@
        </div>
    </div>
</div>

