@model  IEnumerable<COES.Dominio.DTO.Sic.EpoEstudioEoDTO>

<style>
    .dataTables_scrollBody {
/*        overflow-x: auto;
        overflow-y: auto;
        height: 475px !important;*/
    }

</style>

<table border="0" class="tabla-formulario" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th width="8%">Código<br />Proyecto</th>
            <th width="8%">Código<br />Estudio</th>
            <th width="15%">Nombre Estudio</th>
            <th width="8%">Responsable<br />Estudio</th>
            <th width="8%">Fecha<br />Presentación EO</th>
            <th width="8%">Fecha<br />Conformidad EO</th>
            <th width="15%">Gestor<br />del<br />Proyecto</th>
            <th width="10%">Estado</th>
            <th width="10%">Resumen<br />Ejecutivo</th>
            <th width="8%">Vigencia</th>
            <th width="8%">Gestión</th>
        </tr>
    </thead>
    <tbody style="height: 500px !important;">
        @foreach (var item in Model)
        {
        <tr>
            <td width="8%" class="text-left">@item.Esteocodiproy</td>
            <td width="8%" class="text-left">@item.Esteocodiusu</td>
            <td width="15%" class="text-left">@item.Esteonomb</td>
            <td width="8%" class="text-left">@item.Username</td>
            <td width="8%">@(item.Esteofechaini.HasValue ? (item.Esteofechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Esteofechaini.Value.ToString("dd/MM/yyyy") : "") : "")</td>
            <td width="8%">@(item.Esteofechafin.HasValue ? (item.Esteofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Esteofechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
            <td width="15%" class="text-left">@item.Emprnomb</td>
            <td width="10%">@item.Estadescripcion</td>
            <td width="10%">
                @if (!string.IsNullOrEmpty(item.Esteoresumenejecutivoenl))
                {
                    <a target="_blank" class="coes-button coes-button--plain-text" href="@item.Esteoresumenejecutivoenl">Descargar</a>
                }
            </td>
            <td width="8%">@item.EsteoVigencia</td>
            <td width="8%">
                @*<a href="#" onclick="javascript: verdetalle(@item.Esteocodi)">Ver Detalle</a>*@
                <button type="button" class="coes-button coes-button--plain-text" onclick="javascript: verdetalle(@item.Esteocodi)">Ver Detalle</button>
            </td>
        </tr>
        }
    </tbody>
</table>