@model  COES.Dominio.DTO.Sic.EpoEstudioEoDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
/*    .table th, .table td {
        border-top: 1px solid #dddddd;
    }

    .text-center {
        text-align: center;
    }

    .text-success {
        color: #468847;
    }

        .text-success td {
            background-color: rgb(249, 249, 249);
            padding: 6px;
        }


    .text-info {
        color: #3a87ad;
    }

        .text-info td {
            background-color: rgb(223, 240, 216);
            padding: 6px;
        }

    .text-normal td {
        background-color: rgb(249, 249, 249);
        padding: 6px;
    }

    .text-normal-gris td {
        background-color: rgb(239, 238, 239);
        padding: 6px;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #dddddd;
    }*/

    .form-control {
        border: 1px solid var(--bs-gray-500);
        border-radius: 10px;
    }
    .row {
        margin-right: 20px !important;
    }
</style>

<div class="container">
    <div class="row">
        <a href="~/Planificacion/NuevosProyectos/Consultawebeo" class="coes-button m-3" style="width: 200px; margin: 20px;">Regresar a EOs</a>

        <div class="coes-box m-3">
            <div class="coes-box--content container-fluid">
                <div class="coes-form-item">
                    <h4 class="heading-5 mb-4 mt-4">Datos del Estudio</h4>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Código de Estudio:</label>
                    <label class="col-md-6" style="max-width: none; width: 50%;">Nombre de Estudio:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@Model.Esteocodiusu" />
                    <input type="text" class="col-md-6" style="max-width: none; width: 50%;" readonly value="@Model.Esteonomb" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Reponsable:</label>
                    <label class="col-md-6" style="max-width: none; width: 50%;">Gestor del Proyecto:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@Model.Esteoresponsable" />
                    <input type="text" class="col-md-6" style="max-width: none; width: 50%;" readonly value="@Model.Emprnomb" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Tercero Involucrado:</label>
                </div>
                <div class="coes-form-item align-items-center mb-2 mt-1">
                    <textarea class="textAreaOPe" readonly rows="3"  style="border: 1px solid var(--bs-gray-500); border-radius: 10px; width: 101.5%;">@ViewBag.TerceroInvolucrado</textarea>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Fecha de Presentación:</label>
                    <label class="col-md-6" style="max-width: none; width: 50%;">Fecha Conformidad:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@(Model.Esteofechaini.HasValue ? (Model.Esteofechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteofechaini.Value.ToString("dd/MM/yyyy") : "") : "")" />
                    <input type="text" class="col-md-6" style="max-width: none; width: 50%;" readonly value="@(Model.Esteofechafin.HasValue ? (Model.Esteofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteofechafin.Value.ToString("dd/MM/yyyy") : "") : "")" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Punto de conexión:</label>
                    <label class="col-md-6" style="max-width: none; width: 50%;">Año de puesta en servicio:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@Model.Esteopuntoconexion" />
                    <input type="text" class="col-md-6" style="max-width: none; width: 50%;" readonly value="@Model.Esteoanospuestaservicio" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Tipo de Proyecto:</label>
                    <label class="col-md-6" style="max-width: none; width: 50%;">Estado:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@Model.EsteoTipoProyecto" />
                    <input type="text" class="col-md-6" style="max-width: none; width: 50%;" readonly value="@Model.Estadescripcion" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Zona de Proyecto:</label>
                </div>
                <div class="coes-form-item d-flex align-items-center mb-2 mt-1">
                    <input type="text" class="col-md-6 me-3" style="max-width: none; width: 50%;" readonly value="@Model.ZonDescripcion" />
                </div>
                <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                    <label class="col-md-6 me-3" style="max-width: none; width: 50%;">Comentarios</label>
                </div>
                <div class="coes-form-item  align-items-center mb-3 mt-1">
                    @Html.TextAreaFor(m => m.Esteoobs, new { @class = "form-control textAreaOPe", @style = "width: 101.5%;", @readonly = "readonly", rows = "5", autocomplete = "off" })
                </div>
            </div>
        </div>

        <div style="padding: 5px; margin-top: 20px; margin-left: 20px;" class="table-responsive">
            <h4 class="heading-5 mb-4 mt-4">Datos del Proceso y Verificación</h4>
         
                        <table class="table table-hover" width="100%">
                            <tr class="text-center">
                                <td colspan="4">Solicitud de Alcance<br />(Gestor del Proyecto)</td>
                                <td colspan="6">Verificación Presentación del EO</td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2">Solicitud de Alcance<br />(Gestor del Proyecto)</td>
                                <td colspan="2">Envío de Alcances<br />(COES)</td>
                                <td colspan="2">Presentación del EO<br />(Gestor del Proyecto)</td>
                                <td colspan="2">Verificación de Información<br />(COES)</td>
                                <td colspan="2">Absolución de Observaciones (Gestor del Proyecto)</td>
                            </tr>
                            <tr class="text-center">
                                <td>Enlace</td>
                                <td>Fecha inicio</td>
                                <td>Enlace</td>
                                <td>Fecha Final</td>
                                <td>Enlace</td>
                                <td>Fecha Inicio</td>
                                <td>Enlace</td>
                                <td>Fecha de Verificación</td>
                                <td>Enlace</td>
                                <td>Fecha de Absolución</td>
                            </tr>
                            <tr class="text-center">
                                <td>@Model.Esteoalcancesolesttit</td>
                                <td>
                                    @(Model.Esteoalcancefechaini.HasValue ? (Model.Esteoalcancefechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteoalcancefechaini.Value.ToString("dd/MM/yyyy") : "") : "")

                                    @if (!string.IsNullOrEmpty(Model.Esteoalcanceestadocolor))
                                    {
                                        <hr style="border: solid 3px @Model.Esteoalcanceestadocolor" title="@Model.Esteoalcanceestado" />
                                    }
                                </td>
                                <td>@Model.Esteoalcanceenviotit</td>
                                <td>@(Model.Esteoalcancefechafin.HasValue ? (Model.Esteoalcancefechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteoalcancefechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                                <td>@Model.Esteoverientregaesttit</td>
                                <td>@(Model.Esteoverifechaini.HasValue ? (Model.Esteoverifechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteoverifechaini.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                                <td>@Model.Esteovericartatit</td>
                                <td>
                                    @(Model.Esteoverifechafin.HasValue ? (Model.Esteoverifechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteoverifechafin.Value.ToString("dd/MM/yyyy") : "") : "")
                                    @if (!string.IsNullOrEmpty(Model.Esteoveriestadocolor))
                                    {
                                        <hr style="border: solid 3px @Model.Esteoveriestadocolor" title="@Model.Esteoveriestado" />
                                    }
                                </td>
                                <td>@Model.EsteoAbsTit</td>
                                <td>
                                    @(Model.EsteoAbsFFin.HasValue ? (Model.EsteoAbsFFin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.EsteoAbsFFin.Value.ToString("dd/MM/yyyy") : "") : "")
                                    @if (!string.IsNullOrEmpty(Model.EsteoAbsestadocolor))
                                    {
                                        <hr style="border: solid 3px @Model.EsteoAbsestadocolor" title="@Model.EsteoAbsestado" />
                                    }
                                </td>
                            </tr>
                        </table>
                
            <h4 class="heading-5 mb-4 mt-4">Datos de Revisión EO</h4>
       
                        <table class="table table-hover" border="1">
                            <tr class="text-center">
                                <td>Nro. Revisión</td>
                                <td colspan="3">Presentación EO / Absolución de Observaciones<br />(Gestor del Proyecto)</td>
                                <td colspan="3">Envío del Estudio al Tercero Involucrado<br />(COES)</td>
                                <td colspan="3">Revisión del Estudio<br />(Tercero Involucrado)</td>
                                <td colspan="3">Revisión y Conformidad del Estudio<br />(COES)</td>
                            </tr>
                            <tr class="text-center">
                                <td style="width:10px;"></td>
                                <td style="width:10px;">Fecha Inicio</td>
                                <td style="width:10px;">Fecha Fin</td>
                                <td style="width:10px;">Comunicación</td>
                                <td style="width:10px;">Fecha Inicio</td>
                                <td style="width:10px;">Fecha Fin</td>
                                <td style="width:10px;">Comunicación</td>
                                <td style="width:10px;">Fecha Inicio</td>
                                <td style="width:10px;">Fecha Fin</td>
                                <td style="width:10px;">Comunicación</td>
                                <td style="width:10px;">Fecha Inicio</td>
                                <td style="width:10px;">Fecha Fin</td>
                                <td style="width:10px;">Comunicación</td>
                            </tr>
                            @{
                                int contador = 1;
                                foreach (COES.Dominio.DTO.Sic.EpoRevisionEoDTO item in ViewBag.ListadoRevision)
                                {
                                    string filaclass = (contador % 2 == 0) ? "text-normal-gris" : "text-normal";
                                    <tr class="text-center @filaclass">
                                        <td>
                                            @contador
                                        </td>
                                        <td>
                                            @(item.Reveolevobsfechaini.HasValue ? (item.Reveolevobsfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveolevobsfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                        </td>

                                        <td>
                                            @(item.Reveolevobsfechafin.HasValue ? (item.Reveolevobsfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveolevobsfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                            @if (!string.IsNullOrEmpty(item.LevantamientObservacionEstadoColor))
                                            {
                                                <hr style="border: solid 3px @item.LevantamientObservacionEstadoColor" title="@item.LevantamientObservacionEstado" />
                                            }
                                        </td>
                                        <td>
                                            @item.Reveolevobstit
                                        </td>
                                        <td>
                                            @(item.Reveoenvesttercinvfechaini.HasValue ? (item.Reveoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveoenvesttercinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                        </td>

                                        <td>
                                            @(item.Reveoenvesttercinvinvfechafin.HasValue ? (item.Reveoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveoenvesttercinvinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                            @if (!string.IsNullOrEmpty(item.EnvioEstudioTercerInvolucradoEstadoColor))
                                            {
                                                <hr style="border: solid 3px @item.EnvioEstudioTercerInvolucradoEstadoColor" title="@item.EnvioEstudioTercerInvolucradoEstado" />
                                            }
                                        </td>
                                        <td>
                                            @item.Reveoenvesttercinvtit
                                        </td>
                                        <td>
                                            @(item.Reveorevterinvfechaini.HasValue ? (item.Reveorevterinvfechaini.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveorevterinvfechaini.Value.ToString("dd/MM/yyyy") : "") : "")
                                        </td>

                                        <td>
                                            @(item.Reveorevterinvfechafin.HasValue ? (item.Reveorevterinvfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveorevterinvfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                            @if (!string.IsNullOrEmpty(item.RevisionEstudioEstadoColor))
                                            {
                                                <hr style="border: solid 3px @item.RevisionEstudioEstadoColor" title="@item.RevisionEstudioEstado" />
                                            }
                                        </td>
                                        <td>
                                            @item.Reveorevterinvtit
                                        </td>
                                        <td>
                                            @(item.Reveorevcoesfechaini.HasValue ? item.Reveorevcoesfechaini.Value.ToShortDateString() : "")
                                        </td>

                                        <td>
                                            @(item.Reveocoesfechafin.HasValue ? (item.Reveocoesfechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? item.Reveocoesfechafin.Value.ToString("dd/MM/yyyy") : "") : "")

                                            @if (!string.IsNullOrEmpty(item.RevisionConfirmidadEstudioEstadoColor))
                                            {
                                                <hr style="border: solid 3px @item.RevisionConfirmidadEstudioEstadoColor" title="@item.RevisionConfirmidadEstudioEstado" />
                                            }
                                        </td>
                                        <td>
                                            @item.Reveorevcoescartarevisiontit
                                        </td>
                                    </tr>

                                    contador++;
                                }
                            }
                            <tr class="">
                                <td colspan="13"></td>
                            </tr>
                            <tr class="">
                                <td></td>
                                <td colspan="2">Carta de Conformidad: </td>
                                <td colspan="3">@Model.Esteocertconformidadtit</td>
                                <td>@(Model.Esteofechafin.HasValue ? (Model.Esteofechafin.Value.ToString("dd/MM/yyyy") != "01/01/0001" ? Model.Esteofechafin.Value.ToString("dd/MM/yyyy") : "") : "")</td>
                                <td></td>
                                <td></td>
                                <td colspan="2">Resumen Ejecutivo:</td>
                                <td colspan="3"><a target="_blank" href="@Model.Esteoresumenejecutivoenl">@Model.Esteoresumenejecutivotit</a></td>
                            </tr>
                            <tr class="">
                                <td colspan="13"></td>
                            </tr>
                            <tr class="">
                                <td></td>
                                <td colspan="3">Nº Días calendario (Titular del Proyecto):</td>
                                <td>@Model.TotNroDiasTitProyect</td>
                                <td></td>
                                <td colspan="2">Nº Días calendario (Tercero Involucrado):</td>
                                <td>@Model.TotNroDiasTercerInv</td>
                                <td></td>
                                <td colspan="2">Nº Días calendario (COES):</td>
                                <td>@Model.TotNroDiasCoes</td>
                            </tr>
                            <tr class="">
                                <td></td>
                                <td colspan="3"></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                                <td></td>
                                <td></td>
                                <td colspan="2">Promedio Nº Días hábiles (COES):</td>
                                <td>@Model.PromNroDiasHabilesCoes</td>
                            </tr>
                        </table>
                
        </div>
    </div>
</div>




