@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.BarrasModel
<table border="0" class="pretty tabla-icono" id="tablaAgrupacion">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Agrupación</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAgrupacion)
        {
            <tr>
                <td>
                    <a href="JavaScript:editarAgrupacion('@item.Barrzdesc')"><img src="~/Content/Images/btn-edit.png" title="Ver barras" /></a>
                    <a href="JavaScript:eliminarAgrupacion('@item.Barrzdesc')"><img src="~/Content/Images/btn-cancel.png" title="Eliminar agrupación" /></a>
                </td>
                <td>@item.Barrzdesc</td>
                <td>@item.Barrzusumodificacion</td>
                <td>@(item.Barrzfecmodificacion != null? ((DateTime)item.Barrzfecmodificacion).ToString("dd/MM/yyyy HH:mm:ss"): "")</td>
            </tr>
        }
    </tbody>
</table>