@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.BarrasModel
<table style="width:auto">
    <tr>
        <td><div>Nombre Agrupación:</div></td>
        <td>
            <input type="text" id="txtNombreAgrupacion" value="@Model.NombreAgrupacion" style="background-color:white" />
            <input type="hidden" id="hfNombreAgrupacion" value="@Model.NombreAgrupacion" />
            <input type="hidden" id="hfZonaAgrupacion" value="@Model.Zona" />
        </td>
    </tr>
    <tr>
        <td><div>Agregar barra transferencia:</div></td>
        <td>
            <select id="cbBarraAgrupacion" style="background-color:white">
                <option value="">-SELECCIONE-</option>
                @foreach (var item in Model.ListaBarraTransferencia)
                {
                    <option value="@item.BarrCodi">@item.BarrNombre</option>
                }
            </select>
        </td>
        <td><input type="button" id="btnAgregarBarra" value="Agregar" /></td>
    </tr>
</table>

<div style="clear:both; height:20px"></div>
<table class="pretty tabla-formulario" id="tablaBarraAgrupacion" border="0">
    <thead>
        <tr>
            <th>Quitar</th>
            <th>Barra Transferencia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaBarra)
        {
            <tr>
                <td>
                    <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                    <input type="hidden" id="hfItemBarraAgrupacion" value="@item.Barrcodi" />
                </td>
                <td>
                    @item.Barrnombre
                </td>
            </tr>       
        }
    </tbody>
</table>

<div style="clear:both; height:10px">

</div>
<div style="width:80px; margin:auto">
    <input type="button" id="btnGrabarAgrupacion" value="Grabar" />
</div>