<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width" />  
	<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-D00QK2GCRL"></script> 
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-D00QK2GCRL'); </script>


    <link href="~/Content/Css/css.css?v=1.5" rel="stylesheet" />
    <link href="~/Content/Css/menu.css?v=1.0" rel="stylesheet" />
    <link href="~/Content/Css/calendar.css?v=1.2" rel="stylesheet" />
    <link href="~/Content/Css/table.css?v=1.1" rel="stylesheet" />
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link href="~/Content/Css/form.css" rel="stylesheet" />

    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
        //var initialURL = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))";
		var initialURL = "https://www.coes.org.pe/extranet";
    </script>

    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/datepicker.js?v=1.2"></script>
    <script src="~/Content/Scripts/menu.js?v=1.0"></script>
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Content/Scripts/efecto.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js?v=20.0"></script>     
    <script src="~/Content/Scripts/util.js"></script> 

</head>
<body>  
    <div class="layout">     
    
    @Html.Action("Header","Home", new {model = Model, area=""})       
    <div style="clear:both"></div>
     
    <div class="content" id="contentPrincipal">
         <div class="content-menu" id="contentMenu">
            @Html.Action("Menu", "Home", new { model = Model, area = "" })
        </div>
        <div style="clear:both"></div>
        <div id="loading" class="loading">
            <div class="loading-image"><img src="~/Content/Images/loading.gif" /></div>
            <div class="loading-text">Procesando...</div>&nbsp;
        </div>
        <section>           
            <div id="divGeneral">
                @RenderBody()
            </div>
            <div id="divTemporal" class="oculto">
                <iframe id="frameContenido" class="frame"></iframe>
                <div class="clear"></div>
            </div>
        </section>
    </div>   
    </div>
    <footer>
        <div class="footer" id="contentFooter">
            <span>COES © Todos los derechos reservados</span>
            <br />
            <span>Av. Los Conquistadores N° 1144, piso 2 - San Isidro, Lima - PERÚ Teléfono: (511) 611-8585</span>
        </div>
    </footer>
</body>
<script type="text/javascript">
        $(document).ready(function () {
            $('.menu').jqsimplemenu();
        });
</script>
</html>
