<script type="text/javascript">
    $(document).ready(function () {

        obtenerHora();
        setInterval(function () {
            obtenerHora();
        }, 1000);

        $('#CerrarSesion').click(function () {
            confirmOperacion();
        });

        $('#btnOkCerrarSesion').click(function () {
            $.ajax({
                type: "POST",
                url: initialURL + "/home/CerrarSesion",
                cache: false,
                dataType: 'json',
                success: function (evt) {                  
                    location.href = initialURL + "/webform/Account/login.aspx";
                },
                error: function (req, status, error) {
                    alert("Ha ocurrido un error.");
                }
            });
        });

        $('#btnCancelCerrarSesion').click(function () {
            $('#confirmarClose').bPopup().close();
        });
    });

    function confirmOperacion() {
        $('#confirmarClose').bPopup({
            easing: 'easeOutBack',
            speed: 450,
            transition: 'slideDown'
        });
    }

    function obtenerHora() {
        var d = new Date();
        var dia = ("0" + d.getDate()).slice(-2);
        var mes = ("0" + (d.getMonth() + 1)).slice(-2);
        var anio = ("0" + d.getFullYear()).slice(-4);
        var h = ("0" + d.getHours()).slice(-2);
        var m = ("0" + d.getMinutes()).slice(-2);
        var s = ("0" + d.getSeconds()).slice(-2);

        $('#clock').html(dia + "/" + mes + "/" + anio + "  " + h + ":" + m + ":" + s);
    }

</script>

<div class="header" id="contentHeader">     
   
    <div class="header-content">
         <div class="logo">                        
                 <img src="~/Content/Images/logo.png" />
         </div>    
        <div class="header-action">   
            @if (@ViewBag.unableInfoByEmail != null)
             {
                 if (!@ViewBag.unableInfoByEmail.Contains(@ViewBag.UserEmail))
                 {
                     <div class="header-action-item"><a href="~/home/info">Info</a></div>
                     <div class="header-action-item-sep">|</div>
                 }
             }
            <div class="header-action-item">Extranet SGOCOES</div>
            <div class="header-action-item-sep">|</div>
            <div class="header-action-item">Bienvenido: @ViewBag.UserName</div>
            <div class="header-action-item-sep">|</div>
            <div class="header-action-item"><a href="@(System.Configuration.ConfigurationManager.AppSettings["PortalWeb"].ToString())">Portal Web</a></div>
            <div class="header-action-item-sep">|</div>  
			@if (@ViewBag.unableInfoByEmail != null)
             {
                 if (!@ViewBag.unableInfoByEmail.Contains(@ViewBag.UserEmail))
                 {
                     <div class="header-action-item"><a href="~/directorio/index">Directorio</a></div>
					 <div class="header-action-img"><img src="~/Content/Images/telefono.png" /></div>
					 <div class="header-action-item-sep">|</div>
                 }
             }			
            
            <div class="header-action-item"><a href="#" id="CerrarSesion">Salir</a></div>
        </div>   
        
        <div class="header-action-item" style="margin-top:10px; margin-right:15px">
            <span id="clock" style="margin-left:0; padding-left:0; text-indent:0"></span>
        </div> 
     </div>
</div>

<div id="confirmarClose">
    <div class="popup-title"><span>Confirmar Operación</span></div>
    <div class="popup-text">
        ¿Está seguro de cerrar sesión?
    </div>
    <div class="formulario-boton">
        <input id="btnOkCerrarSesion" type="button" value="Aceptar" />
        <input id="btnCancelCerrarSesion" type="button" value="Cancelar" />
    </div>  
</div>