@model COES.MVC.Intranet.Areas.PMPO.Models.CentralSDDPModel

<div style="clear:both; height:10px"></div>
<style>

    .ht_clone_top_left_corner tr:first-child th, .ht_clone_top tr:first-child th {
        background-color: #2980B9;
        color: white;
        font-weight: bold;
        font-size: 11px;
    }

</style>

@*<p class="leyenda" id="versionMostrada" style="padding-right: 95px;"> <b>Version Mostrada: </b>  </p>*@
<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />

<table style="">
    <tr>
        <td style="width: 45%">
            <table style="">
                <tr>
                    <td>
                        <fieldset style="margin-top: 15px;">
                            <legend>Datos Generales</legend>
                            <div id="contenedorDatosGenerales" style="height: 150px; ">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                
                                    <tr id="contenedorDGNombreSddp">
                                        <td class="tbform-label" style="padding-left: 15px;">Nombre SDDP:</td>
                                        <td>
                                            
                                            <select id="txtNombreSddp" style="width: 200px;" onchange="setearCodigoSddp(this)">
                                                <option value="0">[ Escoge un nombre SDDP ]</option>
                                                @foreach (var item in Model.ListaCodigosSddp.OrderBy(x=>x.Sddpnomb))
                                                {
                                                    <option value="@item.Sddpcodi">@item.Sddpnomb</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfNombreSddp" value="@Model.CentralSddp.CodigoSddp" />
                                        </td>
                                    </tr>
                                    <tr id="contenedorDGCodigoSddp">
                                        <td class="tbform-label" style="padding-left: 15px; padding-top: 10px; padding-bottom: 10px;">Código SDDP:</td>
                                        <td class="tbform-label">
                                            <div id="txtCodigoSddp" style="padding-top: 10px;">
                                                
                                            </div>
                                            
                                            <input type="hidden" id="hfCodigoSddp" value="@Model.CentralSddp.NumSddp" />
                                        </td>
                                    </tr>
                                    <tr id="contenedorDGDescripcionSddp">
                                        <td class="tbform-label" style="padding-left: 15px;">Descripción:</td>
                                        <td>
                                            <input type="text" id="txtDescripcionSddp" maxlength="120" value="@Model.CentralSddp.Descripcion" style="width: 300px;" />
                                            <input type="hidden" id="hfDescripcionSddp" value="@Model.CentralSddp.Descripcion" />
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        <fieldset style="margin-top: 25px;">
                            <legend>Topología</legend>
                            <div id="contenedorTopologia" style="height: 200px; ">
                                <table class="content-tabla-search" style="width:auto" role="presentation">                                                                    
                                    <tr id="contenedorTEstacionHA">
                                        <td class="tbform-label" style="padding-left: 15px;">Estación Hidrológica Asociada:</td>
                                        <td>
                                            <select id="txtEstacionHidroAsociada" style="width: 220px;">
                                                <option value="0">[ Escoge una estación hidrológica ]</option>
                                                @foreach (var item in Model.ListaEstacionesHidro)
                                                {
                                                    <option value="@item.CodigoEstacionHA">@item.NombreEstacionHA</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfEstacionHidroAsociada" value="@Model.CentralSddp.CodigoEstacionHidro" />
                                        </td>
                                    </tr>
                                    <tr id="contenedorTTurbinamiento">
                                        <td class="tbform-label" style="padding-left: 15px;">Turbinamiento:</td>
                                        <td>
                                            <select id="txtTurbinamiento" style="width: 200px;">
                                                <option value="0">[ Escoge una central SDDP ]</option>
                                                @foreach (var item in Model.ListaCentralesSddp)
                                                {
                                                    <option value="@item.Mrecurcodi">@item.RecursonombreDesc</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfTurbinamiento" value="@Model.CentralSddp.CodigoTurbinamiento" />
                                        </td>
                                    </tr>
                                    <tr id="contenedorTVertimiento">
                                        <td class="tbform-label" style="padding-left: 15px;">Vertimiento:</td>
                                        <td>
                                            <select id="txtVertimiento" style="width: 200px;">
                                                <option value="0">[ Escoge una central SDDP ]</option>
                                                @foreach (var item in Model.ListaCentralesSddp)
                                                {
                                                    <option value="@item.Mrecurcodi">@item.RecursonombreDesc</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfVertimiento" value="@Model.CentralSddp.CodigoVertimiento" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </fieldset>
                    </td>
                </tr>
            </table>
                    
        </td>
        <td rowspan="2">
            <fieldset style="margin-top: 15px; ">
                <legend>Central Hidroeléctrica</legend>
                <div id="contenedorCentralH" style="height: 433px;">
                    <table>
                        <tr>
                            <td class="tbform-label" colspan="1" style="padding-left: 15px;">Datos desde SICOES:</td>
                            <td colspan="2">
                                <input type="radio" id="rdCHSicoesSi" name="CHcentralSICOES" value="1">
                                <label for="1">Si</label>
                                <input type="radio" id="rdCHSicoesNo" name="CHcentralSICOES" value="0" @*checked*@>
                                <label for="0">No</label><br>
                                <input type="hidden" id="hfrdCHSicoes" value="@Model.CentralSddp.CentralHidroSiCoes" />
                            </td>
                        </tr>
                        <tr id="contenedorCHLista">
                            <td colspan="1"> </td>
                            <td colspan="3">
                                @if (Model.TienePermisoNuevo)
                                {
                                    <div style="padding-bottom: 15px; padding-top: 10px; padding-right: 35px;"> <input style="" type="button" id="btnVentanaAgregarCH" value="Agregar Central" /> </div>
                                }
                                else
                                {
                                    <div style="padding-bottom: 40px;">  </div>
                                }
                                <div id="tblCentralHidroelectrica"  style=" margin: 0 auto; padding-bottom: 10px;"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" colspan="4" style="padding-left: 15px; padding-top: 15px; padding-bottom: 10px;">
                                Datos de Central Hidroeléctrica:
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" colspan="1" style="padding-left: 30px; ">
                                Tipo de Central:
                            </td>
                            <td colspan="2">
                                <input type="radio" id="rdCHExistente" name="tipoCentral" value="0">
                                <label for="0">Existente</label>
                                <input type="radio" id="rdCHFutura" name="tipoCentral" value="1">
                                <label for="1">Futura</label><br>
                                <input type="hidden" id="hfrdTipoCentral" value="@Model.CentralSddp.TipoCentralHidro" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" colspan="1" style="padding-left: 30px;">
                                Tipo de Conexión:
                            </td>
                            <td colspan="2">
                                <input type="radio" id="rdCHParalelo" name="tipoConexion" value="0">
                                <label for="0">Paralelo</label>
                                <input type="radio" id="rdCHCascada" name="tipoConexion" value="1">
                                <label for="1">Cascada</label><br>
                                <input type="hidden" id="hfrdTipoConexion" value="@Model.CentralSddp.TipoConexionCentralHidro" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Potencia (MW):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHPotencia" value="@Model.CentralSddp.Potencia" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtCHPotencia', 2)" style="width: 80px;" />
                                <input type="hidden" id="hfSitxtCHPotenciaParalelo" value="@Model.CentralSddp.PotenciaDefectoParalelo" />
                                <input type="hidden" id="hfSitxtCHPotenciaCascada" value="@Model.CentralSddp.PotenciaDefectoCascada" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Factor de Indisp. Forzada - ICP (%):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHFIForzada" value="@Model.CentralSddp.FactorIndisForzada" min="0" max="100" step="0.00000000001" style="width: 80px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Coef. de Producción (MW/m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHCoefProduccion" value="@Model.CentralSddp.CoefProduccion" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtCHCoefProduccion', 4)" style="width: 80px;" />
                                <input type="hidden" id="hfSitxtCHCoefProduccionParalelo" value="@Model.CentralSddp.CoefProduccionDefectoParalelo" />
                                <input type="hidden" id="hfSitxtCHCoefProduccionCascada" value="@Model.CentralSddp.CoefProduccionDefectoCascada" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Factor de Indisp. Histórica - IH (%):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHFIHistorica" value="@Model.CentralSddp.FactorIndisHistorica" min="0" max="100" step="0.00000000001" style="width: 80px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Caudal mínimo turbinable (m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHCaudalMin" value="@Model.CentralSddp.CaudalMinTurbinable" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtCHCaudalMin', 2)" style="width: 80px;" />
                            </td>

                            <td class="tbform-label" style="padding-left: 40px;">
                                Caudal máximo turbinable (m3/s):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHCaudalMax" value="@Model.CentralSddp.CaudalMaxTurbinable" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtCHCaudalMax', 2)" style="width: 80px;" />
                                <input type="hidden" id="hfSitxtCHCaudalMaxParalelo" value="@Model.CentralSddp.CaudalMaxTurbinableDefectoParalelo" />
                                <input type="hidden" id="hfSitxtCHCaudalMaxCascada" value="@Model.CentralSddp.CaudalMaxTurbinableDefectoCascada" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label" style="padding-left: 30px;">
                                Costo O&M ($/MWh):
                            </td>
                            <td class="tbform-label" style="padding-left: 30px;">
                                <input type="number" id="txtCHCostoOM" value="@Model.CentralSddp.CostoOM" min="0.0000" step="0.00000000001" onchange="redonderValor(0, this, 'txtCHCostoOM', 4)" style="width: 80px;" />
                                <input type="hidden" id="hfSitxtCHCostoOMParalelo" value="@Model.CentralSddp.CostoOMDefectoParalelo" />
                                <input type="hidden" id="hfSitxtCHCostoOMCascada" value="@Model.CentralSddp.CostoOMDefectoCascada" />
                            </td>

                            
                        </tr>
                    </table>
                   
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <fieldset style="margin-top: 25px; ">
                <legend>Embalse </legend>
                
                <div id="contenedorEmbalse" >
                    <table>
                        <tr >
                            <td>
                                <input type="radio" id="rdEPasada" name="embalseTipo" value="0">
                                <label for="0">Central de Pasada</label>
                                <input type="radio" id="rdEAlmacenamiento" name="embalseTipo" value="1" checked>
                                <label for="1">Almacenamiento</label><br>
                                <input type="hidden" id="hfrdTipoEmbalse" value="@Model.CentralSddp.TipoEmbalse" />
                            </td>
                        </tr>
                        <tr id="contenedorECentralPasada">
                            <td class="tbform-label" id="fempunt" style="padding-left: 50px; width: 220px;  padding-top: 20px;">
                                Factor de Empuntamiento (p.u.):
                            </td>
                            <td style="padding-left: 30px;  padding-top: 20px;">
                                <input type="number" id="txtEFactorEmpuntamiento" value="@Model.CentralSddp.FactorEmpuntamiento" min="0" max="1" step="0.00000000001" style="" />
                                <input type="hidden" id="hftxtEFactorEmpuntamiento" value="@Model.CentralSddp.FactorEmpuntamiento" />
                            </td>
                        </tr>

                        <tr class="contenedorEAlmacenamiento">
                            <td class="tbform-label" colspan="" style="padding-left: 50px; padding-top: 20px;">Datos desde SICOES:</td>
                            <td colspan="" style="padding-top: 20px;">
                                <input type="radio" id="rdESicoesSi" name="EmbalseSICOES" value="1">
                                <label for="1">Si</label>
                                <input type="radio" id="rdESicoesNo" name="EmbalseSICOES" value="0" checked>
                                <label for="0">No</label><br>
                                <input type="hidden" id="hfrdESicoes" value="@Model.CentralSddp.EmbalseSiCoes" />
                            </td>
                        </tr>
                        <tr id="contenedorELista" class="contenedorEAlmacenamiento">
                            <td colspan="1"> </td>
                            <td colspan="3">
                                @if (Model.TienePermisoNuevo)
                                {
                                    <div style="padding-bottom: 15px; padding-top: 10px; padding-right: 35px;"> <input style="" type="button" id="btnVentanaAgregarE" value="Agregar Embalse" /> </div>
                                }
                                else
                                {
                                    <div style="padding-bottom: 40px;">  </div>
                                }
                                <div id="tblEmbalse" style=" margin: 0 auto; padding-bottom: 10px;"> </div>
                                <p class="leyenda" id="notaEmbalse" style="padding-right: 15px;"> <b>(*)</b> Se usará para cargar los volumenes ejecutados mensuales en los escenarios locales.</p>
                            </td>
                        </tr>
                        <tr class="contenedorEAlmacenamiento">
                            <td class="tbform-label" id="eVmin" style="padding-left: 50px; padding-top: 20px;">
                                Volumen mínimo (hm3):
                            </td>
                            <td>
                                <input type="number" id="txtEVolMin" value="@Model.CentralSddp.VolumenMin" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtEVolMin', 4)" style="width: 80px; margin-top: 20px;" />
                                <input type="hidden" id="hftxtEVolMin" value="@Model.CentralSddp.VolumenMin" />
                            </td>

                            <td colspan="2" class="tbform-label" style="padding-left: 40px; padding-top: 20px;">
                                 <input type="checkbox" value="@Model.CentralSddp.AdicionarVolMin" id="chkEAdicVolIni" />Adicionar el volumen mínimo del embalse al cálculo del volumen.
                            </td>

                        </tr>
                        <tr class="contenedorEAlmacenamiento">
                            <td class="tbform-label" id="eVmax" style="padding-left: 50px; ">
                                Volumen máximo (hm3):
                            </td>
                            <td>
                                <input type="number" id="txtEVolMax" value="@Model.CentralSddp.VolumenMax" min="0" step="0.00000000001" onchange="redonderValor(0, this, 'txtEVolMax', 4)" style="width: 80px; " />
                                <input type="hidden" id="hftxtEVolMax" value="@Model.CentralSddp.VolumenMax" />
                            </td>

                            <td colspan="2" class="tbform-label" style="padding-left: 40px; ">
                                 <input type="checkbox" value="@Model.CentralSddp.AjustarVolMin" id="chkEAjusVolMin" />Ajustar volumen mínimo a volumen inicial.
                            </td>

                        </tr>
                        <tr class="contenedorEAlmacenamiento">
                            <td class="tbform-label" style="padding-left: 50px; ">
                                Vertimiento controlable:
                            </td>
                            <td>
                                <input type="radio" id="rdEControlableSi" name="VertimControlable" value="0" checked>
                                <label for="0">Controlable</label><br>
                                <input type="radio" id="rdEControlableNo" name="VertimControlable" value="1">
                                <label for="1">No Controlable</label><br>
                                <input type="radio" id="rdEControlableParcialmente" name="VertimControlable" value="2">
                                <label for="2">Parcialmente Controlable</label><br>
                                 <input type="hidden" id="hfrdTipoVertimiento" value="@Model.CentralSddp.TipoVertimiento" />
                            </td>

                            <td colspan="2" class="tbform-label" style="padding-left: 40px; ">
                                 <input type="checkbox" value="@Model.CentralSddp.AjustarVolIni" id="chkEAjusVolIni" />Ajustar volumen inicial a 1 p.u.
                            </td>

                        </tr>
                        <tr class="contenedorEAlmacenamiento">
                            <td colspan="2" style="width: 45%; padding-top: 20px;">
                                <table>
                                    <tr>
                                        <td class="tbform-label" id="miTabclick" colspan="2" style="padding-left: 50px; ">Tabla de Evaporación: (coef. de evaporacion (mm/mes))</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%">
                                            <div id="tblEvaporacion1" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin: 0 auto; float: right; padding-right: 10%;">  </div>
                                        </td>
                                        <td style="width: 50%">
                                            <div id="tblEvaporacion2" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin: 0 auto;  padding-right: 10%;">  </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="2" style="width: 55%; padding-top: 20px;">
                                <table>
                                    <tr>
                                        <td class="tbform-label">Tabla Área vs Volumen:</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%">
                                            <div id="tblVolumenArea" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin: 0 auto; float: right; padding-right: 10%;">  </div>
                                        </td>
                                        <td style="width: 60%">
                                            <div id="grafico1" style="display:block; width: 95%"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
                </div>
            </fieldset>
        </td>
    </tr>
    
    <tr>
        <td colspan="2" style="text-align:center; padding: 15px;">
            @if (Model.TienePermisoNuevo)
            {
            if (Model.EsNuevo)
            {
            <input style="" type="button" id="btnGrabarCentralSddp" value="Grabar" />
            }
            else
            {
            <input style="" type="button" id="btnActualizarCentralSddp" value="Actualizar" />
            }

            <input style="" type="button" id="btnCancelarCentralSddp" value="Cancelar" />
            }
        </td>
    </tr>
</table>







