@model COES.MVC.Intranet.Areas.PMPO.Models.RemisionModel

<div id="formHoja@(Model.IdHoja)">
    <div class="content-hijo" id="mainLayoutMain" style="overflow:auto; background-color:#fff">
        <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px;display:none;">Por favor, espere mientras se carga la información de los filtros seleccionados.</div>
        <div class='action-message' id='mensajeEvento' style='display:none'></div>

        <div class="search-content3">

            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell;">
                        <div style="display:table">
                            <div style="display:table-row">

                                <div class="celda-item" style="width: 43px; margin-bottom: 6px;">
                                    Empresa:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 250px; padding-right: 5px;">
                                    <select id="cbEmpresa" name="IdEmpresa" style="width: 190px; margin-bottom: 6px;" disabled>
                                        @foreach (var item in Model.ListaEmpresa)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>

                                <div class="celda-item" style="width: 22px; margin-bottom: 6px;">
                                    Tipo:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 127px; padding-right: 5px;">
                                    <select id="cbTipoFormato" style="width: 127px; margin-bottom: 6px;" disabled>
                                        @foreach (var item in Model.ListaFormato)
                                        {
                                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                                        }
                                    </select>
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 107px; padding-right: 5px;">
                                    <select id="cbUnidadEnvio" style="width: 107px; margin-bottom: 6px;">
                                        @foreach (var item in Model.ListarTipoinformacion)
                                        {
                                            var selected = item.Tipoinfocodi == Model.Tipoinfocodi ? "selected" : "";
                                            <option value="@item.Tipoinfocodi" @selected>@item.Tipoinfodesc</option>
                                        }
                                    </select>
                                </div>

                                <div class="cntMes filtro-contenido divmes" style="width: 122px;">
                                    <div class="celda-item" style="display: inline; width: 77px; padding-left: 5px; padding-right: 0;">
                                        Mes:
                                    </div>
                                    <div class="cntMes filtro-contenido" style="display: inline; width: 110px;">
                                        <input type="hidden" name="Fecha" id="txtFecha" value="@Model.Fecha" />
                                        <input type="text" name="Mes" id="txtMes" value="@Model.Mes" style="width:77px;" disabled />
                                        <input type="hidden" id="txtMesElaboracion" value="@Model.Mes" style="width:77px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>
                    <div style="display: table-cell; text-align: right;">
                        <div style="display:table;" id="barra">
                            <div class="content-action" style="display: none">
                                <a href="#" id="btnEditarEnvio">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/edit.png" /><br />
                                        <span>Editar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnDescargarFormato">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/bajar.png" /><br />
                                        <span>Descargar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnSelectExcel@(Model.IdHoja)">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/subir.png" /><br />
                                        <span>Importar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/enviar.png" /><br />
                                        <span>Procesar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnVerEnvios">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnFeriados">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/prncalendar.png" /><br />
                                        <span>Feriados</span>
                                    </div>
                                </a>
                                <input type="hidden" id="hfExpandirContraer" value="E" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-content2" id="filtro_grilla2" style="display:none;">
            <div style="display:table">
                <div style="display:table-row">
                    <div class="filtro-label" style="display: table-cell; width: 50px;">
                        <label>Area</label>
                    </div>
                    <div class="filtro-contenido div_area" style="display:table-cell;width:120px;">
                        <select id="cbArea"></select>
                    </div>
                    <div class="filtro-label" style="display: table-cell; width: 80px;">
                        <label>Sub Estación</label>
                    </div>
                    <div class="filtro-contenido div_subestacion" style="display:table-cell;width:150px;">
                        <select id="cbSubestacion" style="width:120px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both; height: 15px"></div>

        <div id="cargaDatos" class="content-tabla">

            <div id="tab-container" class='tab-container' style="display: none">
                <ul class='etabs'></ul>
                <div class='panel-container'>
                </div>
            </div>

        </div>

        <div style="clear:both; height:30px"></div>
    </div>

    <input type="hidden" id="hfHojaMain" value="@Model.IdHoja" />
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="hfFormato" value="@Model.IdFormato" />
    <input type="hidden" id="hfUnidadEnvio" value="@Model.Tipoinfocodi" />
    <input type="hidden" id="hfFormatPeriodo" value="@Model.Periodo" />
    <input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
    <input type="hidden" id="hfFecha" value="@Model.Fecha" />
    <input type="hidden" id="hfAnho" value="@Model.Anho" />
    <input type="hidden" id="hfSemana" value="@Model.NroSemana" />
    <input type="hidden" id="hfMes" value="@Model.Mes" />
</div>
