@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RepresentanteModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;
<table id="tablaRL" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th style="display:none;"></th>
            <th>Representante</th>
            <th>Acción</th>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo en la Empresa</th>
            <th>Teléfono</th>
            <th>Teléfono Móvil</th>
            <th>Correo</th>
            <th>Baja</th>
            <th>Editar</th>
            <th>Quitar</th>
            <th style="display:none;"></th>

            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
        </tr>
    </thead>
    <tbody id="tablaRepresentanteLegalbody">
        @if (@Model.ListaRepresentantes.Count() > 0)
        {
            foreach (var item in Model.ListaRepresentantes)
            {
                <tr>
                    <td style="display:none;">@item.Rptecodi</td>                    

                    @if (@item.Rptetiprepresentantelegal.ToString() == ConstantesRegistroIntegrantes.RepresentanteLegalTipoTitular)
                    {
                        <td>@ConstantesRegistroIntegrantes.RepresentanteLegalTitular</td>
                    }
                    else
                    {                        
                        <td>@ConstantesRegistroIntegrantes.RepresentanteLegalAlterno</td>
                    }

                    <td>@item.Accion</td>
                    <td>@item.Rptedocidentidad</td>
                    <td>@item.Rptenombres</td>
                    <td>@item.Rpteapellidos</td>
                    <td>@item.Rptecargoempresa</td>
                    <td>@item.Rptetelefono</td>
                    <td>@item.Rptetelfmovil</td>
                    <td>@item.Rptecorreoelectronico</td>
                    <td>
                        @if (@item.SoloLectura != ConstantesRegistroIntegrantes.SoloLecturaSI)
                        {
                            if (@item.Rptetiprepresentantelegal != ConstantesRegistroIntegrantes.RepresentanteLegalTitular)
                            {
                                <a href="#" onclick="BajaRL(this)" id="btnEliminarContacto">
                                    <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                                </a>
                            }
                        }
                    </td>
                    <td>
                        @if (@item.SoloLectura == ConstantesRegistroIntegrantes.SoloLecturaSI)
                        {
                            if (@item.Accion == ConstantesRegistroIntegrantes.DetalleSolicitudAgregado)
                            {
                                <a href='#' onclick='EditarRepresentanteLegal(this)'><img src='~/Content/Images/btn-edit.png' style='margin-top: 5px;' /></a>
                            }
                        }
                    </td>
                    <td></td>
                    <td style="display:none;"></td>

                    <td style="display:none;">@item.Rptedocidentidadadjfilename</td>
                    <td style="display:none;">@item.Rptedocidentidadadj</td>
                    <td style="display:none;">@item.Rptevigenciapoderfilename</td>
                    <td style="display:none;">@item.Rptevigenciapoder</td>
                </tr>
            }
        }
    </tbody>
</table>



