@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.SolicitudPendienteModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Tipo Solicitud</th>
            <th>Razón Social</th>
            <th>Nombre Comercial</th>
            <th>Sigla</th>
            <th>Fecha Solicitud</th>
            <th>Estado</th>
            <th>Estado Interno</th>

            <th>Pre-Aprobación</th>
            <th>Notificado</th>

            <th>Aprobación</th>
            <th>Aprobado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSolicitudes)
        {
            <tr>
                <td>
                    @item.Solicodi
                </td>
                <td>@item.Tisonombre</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.EmprnombComercial</td>
                <td>@item.Emprsigla</td>
                <td>
                    @if (@item.Solifecsolicitud != null)
                    {
                        @item.Solifecsolicitud.Value.ToString("dd/MM/yyyy HH:mm")
                    }
                </td>
                <td>@item.Soliestado</td>
                <td>@item.SoliestadoInterno</td>

                <td>
                    <!--Pre-Aprobación -->
                    <a href="JavaScript:verDetalle(@item.Solicodi)" title="Ver Detalle">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                    <a href="JavaScript:verFlujo(@item.Emprcodi, @item.Solicodi)">
                        <img src="~/Content/Images/btn-properties.png" title="Ver referencia SGDOC" />
                    </a>
                    @if ((@item.SoliestadoInterno == ConstantesRegistroIntegrantes.SoliAprobadoDigitalCodigo || @item.SoliestadoInterno == ConstantesRegistroIntegrantes.SoliDenegadaCodi) && @item.Solinotificado == ConstantesRegistroIntegrantes.EnviadoSolicitudFalso)
                    {
                        <a href="JavaScript:darNotificar(@item.Solicodi)" title="Notificar Resultado">
                            <img src="~/Content/Images/btn-ok.png" />
                        </a>
                    }
                </td>
                <td>
                    <!--Pre-Aprobado -->
                    @if (@item.Solifecnotificado != null)
                    {
                        @item.Solifecnotificado.Value.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    <!--Aprobación -->
                    @if (@item.Solinotificado == ConstantesRegistroIntegrantes.SolicitudNotificadoSi && @item.SoliestadoInterno == ConstantesRegistroIntegrantes.SoliAprobadoDigitalCodigo && @item.Solienviado == ConstantesRegistroIntegrantes.EnviadoSolicitudFalso)
                    {
                        <a href="JavaScript:darConformidad(@item.Solicodi)" title="Dar Conformidad">
                            <img src="~/Content/Images/btn-ok.png" />
                        </a>
                    }
                </td>

                <td>
                    <!--Aprobado -->
                    @if (@item.Solifecenviado != null)
                    {
                        @item.Solifecenviado.Value.ToString("dd/MM/yyyy")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
