@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoMedicionModel
@{
    ViewBag.Title = "Grabar";
}


<div id="principal" class="content-hijo">
 @using (Html.BeginForm("Listar", "Evento", FormMethod.Post, new { @class = "form-search", name = "frmEditar", id = "frmEditar" }))
{ 
     <table style="width:100%" class="table-form-show">
        <tr>
             <td class="tbform-label">Descripción:</td>
             <td class="tbform-control">
                 <Label>@Model.idPtomedibarranomb</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Abreviatura:</td>
             <td class="tbform-control">
                 <Label>@Model.idPtomedielenomb</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Empresa:</td>
             <td class="tbform-control">
                <Label>@Model.idEmpresa</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Tipo Equipo:</td>
             <td class="tbform-control">
                <Label>@Model.idEquipo</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Equipo:</td>
             <td class="tbform-control">
                <Label>@Model.idEquipo</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Origen Lectura:</td>
             <td class="tbform-control">
                <Label>@Model.idOrigenLectura</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Tipo Punto de Medición:</td>
             <td class="tbform-control">
                <Label>@Model.idTipoPtoMedicion</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Orden:</td>
             <td class="tbform-control">
                <Label>@Model.idOrden</Label>
             </td>
        </tr>
        <tr>
             <td class="tbform-label">Código Osinerg:</td>
             <td class="tbform-control">
                 <Label>@Model.idOsicodi</Label>
             </td>
        </tr>

    </table>
 }
</div>