@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoMedicionModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        @*@if(!Model.OpcionEspecial)
             {
            <tr>
                <th></th>
                <th onclick="ordenar('ptomedicodi');">Codigo</th>
                <th onclick="ordenar('emprnomb');">Empresa</th>
                <th onclick="ordenar('ptomedielenomb');">Punto de Medición</th>


                @if (Model.IndicadorFuente == 1)
                {
                    <th onclick="ordenar('desubicacion');">Ubicación</th>
                    <th onclick="ordenar('famnomb');">Tipo Equipo</th>
                    <th onclick="ordenar('equinomb');">Equipo</th>
                }
                else
                {
                    <th onclick="ordenar('tptomedinomb');">Tipo Punto Medición</th>
                    <th onclick="ordenar('famnomb');">Tipo Grupo</th>
                    <th onclick="ordenar('equinomb');">Grupo</th>
                }

                <th onclick="ordenar('origlectnombre');">Origen Lectura</th>
                <th onclick="ordenar('ptomediestado');">Estado</th>
                <th onclick="ordenar('lastuser');">Usuario</th>
                <th onclick="ordenar('lastdate');">Fecha</th>
            </tr>
             }
             else {*@
        <tr>
            <th></th>
            <th onclick="ordenar('ptomedicodi');">Codigo</th>
            @if (Model.IndicadorFuente != 4)
            {
                <th onclick="ordenar('emprnomb');">Empresa</th>
                <th>Cliente</th>
            }
            <th onclick="ordenar('ptomedielenomb');">Punto de Medición</th>
            @if (Model.IndicadorFuente == 1)
            {
                <th onclick="ordenar('desubicacion');">Ubicación</th>
                <th onclick="ordenar('famnomb');">Tipo Equipo</th>
                <th onclick="ordenar('equinomb');">Equipo</th>
                <th onclick="ordenar('Areaoperativa');">Área Operativa</th>
                <th onclick="ordenar('Niveltension');">Nivel Tensión</th>
                <th onclick="ordenar('origlectnombre');">Origen Lectura</th>
            }
            else if (Model.IndicadorFuente == 2)
            {
                <th onclick="ordenar('tptomedinomb');">Tipo Punto Medición</th>
                <th onclick="ordenar('famnomb');">Tipo Grupo</th>
                <th onclick="ordenar('equinomb');">Grupo</th>
                <th onclick="ordenar('origlectnombre');">Origen Lectura</th>
            }
            // FIT - VALORIZACIONES DIARIAS
            else if (Model.IndicadorFuente == 3)
            {
                <th onclick="ordenar('clientecodi')">Cliente</th>
                <th onclick="ordenar('barracodi')">Barra</th>
            }
            @*// FIT - VALORIZACIONES DIARIAS*@


            <th onclick="ordenar('ptomediestado');">Estado</th>
            <th onclick="ordenar('lastuser');">Usuario</th>
            <th onclick="ordenar('lastdate');">Fecha</th>
        </tr>
        @*}*@

    </thead>
    <tbody>
        @foreach (var item in Model.ListaPtoMedicion)
        {
            @*if(!Model.OpcionEspecial)
                {
                    <tr>
                        @if (Model.OpcionEditar)
                        {
                            <td >
                                <a href="JavaScript:mostrarDetalle(@item.Ptomedicodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a>
                                <a href="JavaScript:eliminar(@item.Ptomedicodi);"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar" alt="Eliminar" /></a>
                            </td>
                        }
                        else
                        {
                            <td><a href="#"><img src="@Url.Content("~/Content/Images/btn-edit-disabled.png")" title="Sin acceso" alt="Ver Formatos" /></a></td>
                        }


                        <td>@item.Ptomedicodi</td>
                        <td>@item.Emprnomb</td>
                        <td>@item.Ptomedielenomb</td>
                        <td>@item.Tipoptomedinomb</td>

                        @if (Model.IndicadorFuente == 1) {
                            <td>@item.DesUbicacion</td>
                        }

                        <td>@item.Famnomb</td>
                        <td>@item.Equinomb</td>
                        <td>@item.Origlectnombre</td>
                        <td>@item.Ptomediestado</td>
                        <td>@item.Lastuser</td>
                        <td>@item.Lastdate</td>
                    </tr>
                }
                else {*@
        <tr>
            @if (Model.OpcionEditar)
            {
                <td>
                    <a href="JavaScript:mostrarDetalle(@item.Ptomedicodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a>
                    <a href="JavaScript:eliminar(@item.Ptomedicodi);"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar" alt="Eliminar" /></a>
                </td>
            }
            else
            {
                <td><a href="#"><img src="@Url.Content("~/Content/Images/btn-edit-disabled.png")" title="Sin acceso" alt="Ver Formatos" /></a></td>
            }
            <td>@item.Ptomedicodi</td>
            @if (Model.IndicadorFuente != 4)
            {
                <td>@item.Emprnomb</td>
                <td>@item.ClientNomb</td>
            }
            <td>@item.Ptomedielenomb</td>

            @if (Model.IndicadorFuente == 1)
            {
                <td>@item.DesUbicacion</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.AreaOperativa</td>
                <td>@item.NivelTension</td>
                <td>@item.Origlectnombre</td>
            }
            else if (Model.IndicadorFuente == 2)
            {
                <td>@item.Tipoptomedinomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Origlectnombre</td>
            }
            //// FIT - VALORIZACIONES DIARIAS
            else if (Model.IndicadorFuente == 3)
            {
                <td>@item.ClientNomb</td>
                <td>@item.BarrNomb</td>
            }


            <td>@item.Ptomediestado</td>
            <td>@item.Lastuser</td>
            <td>@item.Lastdate</td>
        </tr>
            @*}*@
        }
    </tbody>
</table>
