@model COES.MVC.Intranet.Areas.Yupana.Models.ResultadoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Yupana/Content/Scripts/resultado.js"></script>
<link href="~/Areas/Yupana/Content/Css/yupana.css?v=1.7" rel="stylesheet" />
<link href="~/Areas/Yupana/Content/Css/css.css" rel="stylesheet" />

<style>
    .form-title {
        display: block;
        width: auto;
        line-height: 50px;
    }

    .content-titulo {
        width: auto !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Consulta de Casos Yupana</div>
    <div class="content-botonera">
        <input type="button" value="Seleccionar Escenario" id="btnEscoger" />
    </div>
</div>
<div class="div-exportar" id="divExportar">
    <div class="div-exportar-close" onclick="closeExportar();">X</div>
    <div class="div-exportar-content">
        <div class="popup-title"><span>Buscar Escenario</span></div>
        <div class="action-exito">
            Por favor seleccione el escenario:
        </div>
        Tipo de Escenario:
        <select id="cbTipoEscenario" name="cbnTipoEscenario">
            <option value="3">Reprogramado</option>
            <option value="1">Diario</option>
            <option value="2">Semanal</option>
        </select>

        Fecha desde:
        <input type="text" id="txtFechaInicio" style="width:140px" value="@Model.FechaInicio" />

        Hasta:
        <input type="text" id="txtFechaFin" style="width:140px" value="@Model.FechaFin" />
        <a onclick="listarEscenario(0);"><img src="~/Content/Images/Visualizar.png" alt="" /></a>
        <br>
        <br>
        Descripción:
        <input type="text" id="txtDescripcion" style="width:300px" value="" />
        <a onclick="listarEscenario(1);"><img src="~/Content/Images/Visualizar.png" alt="" /></a>
        Código:
        <input type="text" id="txtCodigo" style="width:60px" value="" />
        <a onclick="listarEscenario(2);"><img src="~/Content/Images/Visualizar.png" alt="" /></a>
        <br>
        <br>
        <div id="idEscenario">

        </div>
    </div>
</div>
<input type="hidden" id="hfTopologia" />
<input type="hidden" id="hfEscenario" />
<input type="hidden" id="hfOpcion" />
<div class="content-hijo" id="mainLayout">
    <div class="search-content" id="idDivSearch" style="display:none">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width: 40px; vertical-align: middle;">Fecha:</td>
                <td style="width: 40px; vertical-align: middle;">
                    <select id="cbFecha" style="width: 240px;"></select>
                </td>

                <td style="width: 60px; vertical-align: middle;">
                    Variables
                </td>

                <td style="width: 250px; vertical-align: middle;">
                    <select id="cbVariable" name="IdVariable" style="width: 240px;">
                        @foreach (var item in Model.ListaVariable)
                        {
                            <option value="@item.IdVariable">@item.NombreVariable</option>
                        }
                    </select>
                    <input type="hidden" id="hfVariable" />
                </td>
                <td style="width: 100px; vertical-align: middle;">
                    Costos Marginales
                </td>
                <td style="width: 250px; vertical-align: middle;">
                    <select id="cbCosto" name="IdCosto" style="width: 240px;">
                        @foreach (var item in Model.ListaEcuacion)
                        {
                            <option value="@item.IdVariable">@item.NombreVariable</option>
                        }
                    </select>
                    <input type="hidden" id="hfVariable" />
                </td>
                <td style="width: 120px; vertical-align: middle;">
                    <label><input type="checkbox" id="chbOrientacion" name="nchbOrientacion" value="Horizontal" checked>Veritcal</label>
                </td>
                <td style="width: 120px; vertical-align: middle;">
                    <a href="JavaScript:mostrarCostoOperacion();">Costos de la Operación</a>
                </td>
                <td class="btn_generar" style="width: 75px;">
                    <a href="JavaScript:exportarResultado();" title="Exportar Reporte de Salida">
                        <img src="~/Content/images/ExportExcel.png" style="width:25px">
                        <br>
                        <span>Exportar</span>
                    </a>
                </td>
                <td class="btn_generar" style="width: 75px;">
                    <a href="JavaScript:exportarRsf();" title="Exportar Reporte RSF">
                        <img src="~/Content/images/ExportExcel.png" style="width:25px">
                        <br>
                        <span>Reporte RSF</span>
                    </a>
                </td>

            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="divTitulo" class="action-exito">
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>



