@model COES.MVC.Intranet.Areas.Yupana.Models.ResultadoModel
<table border='0' class='pretty tabla-adicional' cellspacing='0' width='100%' id="idtablatop">
    <thead>
        <tr>
            <th>Código</th>
            <th>Escenario</th>
            <th>Tipo</th>
            <th>Fecha</th>
            
            <th>Versión</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reg in Model.ListaTopologia)
        {
            var tipo = "";
            var final = (reg.Topfinal == 1) ? "Final" : "";
            var listaFecha = reg.Topfecha.AddDays(reg.Topinicio).ToString("dd/MM/yyyy");
            switch (reg.Toptipo)
            {
                case 1:
                    tipo = "Diario";
                    break;
                case 2:
                    tipo = "Semanal";
                    break;
                case 3:
                    tipo = "Reprogramado";
                    break;
            }
            for(var i = 1; i < reg.Topdiasproc; i++)
            {
                listaFecha += "#" + reg.Topfecha.AddDays(reg.Topinicio + i).ToString("dd/MM/yyyy");
            }
        <tr>
            <td><a href="JavaScript:seleccionarEscenario(@reg.Topcodi,'@reg.Topnombre','@listaFecha')">@reg.Topcodi</a></td>
            <td><a href="JavaScript:seleccionarEscenario(@reg.Topcodi,'@reg.Topnombre','@listaFecha')">@reg.Topnombre</a></td>
            <td>@tipo</td>
            <td>@reg.Topfecha.AddDays(reg.Topinicio).ToString("dd/MM/yyyy")</td>
            <td>@final</td>
        </tr>
        }
    </tbody>
</table>
