@model COES.MVC.Intranet.Areas.Evaluacion.Models.BuscarLineaListaModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:10px"></th>
            <th style="width:50px">Código ID</th>
            <th style="width:70px">Área</th>
            <th>Empresa</th>
            <th style="width:70px">Código</th>
            <th>Ubicación</th>
            <th style="width:50px">Tensión (kV)</th>
            <th style="width:70px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaLinea)
        {


<tr>
                <td>
                    @if (item.Equiestado == "A")
                    {
                    <input type="radio" name="seleccionGrupo" value="@item.Areadesc" />
                    }
                </td>
                <td style="text-align: left;">@item.Equicodi</td>
                <td style="text-align: left;">@item.Areadesc </td>
                <td style="text-align: left;">@item.EMPRNOMB</td>
                <td style="text-align: left;">@item.Equiabrev </td>
                <td style="text-align: left;">@item.AREANOMB</td>
                <td style="text-align: left;">@item.Equitension</td>
                <td style="text-align: left; ">@item.EquiestadoDesc </td>

            </tr>
        }

    </tbody>
</table>