
@model COES.MVC.Intranet.Areas.Evaluacion.Models.LineaIncluirModificarModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">Consultar línea</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 15px" />
    </div>

</div>


<div class="content-hijo" id="mainLayout">
    <div class="panel-container">
        <div id="mensaje"></div>
        @using (Html.BeginForm("IncluirModificar", "Linea", FormMethod.Post, new { @name = "frmIncluirModificarLinea", id = "frmIncluirModificarLinea" }))
        {
            <input type="hidden" id="IdLinea" value="@Model.IdLinea" />
            <input type="hidden" id="IdProyecto" value="@Model.IdProyecto" />

            <div style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:36%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                    <tr>
                        <td><strong> Identificación del equipo</strong></td>
                        <td class="tbform-label">Motivo de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" style="width:95%" disabled value="@Model.Motivo" id="Motivo" name="Motivo" />
                        </td>
                        <td class="tbform-label">Fecha de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.FechaMotivo" style="width:95%" id="FechaMotivo" name="FechaMotivo" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:15%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                        <td class="tbform-label">Código ID:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Equicodi" disabled style="width:95%" id="Equicodi" name="Equicodi" />
                        </td>
                        <td class="tbform-label">Código:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Codigo" disabled style="width: 95%" id="Codigo" name="Codigo" />
                        </td>
                        <td class="tbform-label">Ubicación:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Ubicacion" disabled style="width: 95%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Empresa:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Empresa" disabled style="width: 95%" />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </div>
            <div style="margin-bottom:0px; padding:15px">
                <strong>Características del equipo</strong>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:15%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                        <td class="tbform-label">Área:</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("IdArea", new SelectList(Model.listaArea, "Areacodi", "Areanomb", Model.IdArea), "SELECCIONAR", new { style = "width: 98%;", disabled = "disabled" }))
                        </td>
                        <td class="tbform-label">Longitud(Km):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Longitud" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Tensión(Kv):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Tension" disabled style="width:95%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad(A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacidadA" style="width:90%" id="CapacidadA" name="CapacidadA" disabled/>
                                <a href="JavaScript:editarComentario(0,'eee')" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Capacidad(MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacidadMva" disabled style="width: 90%" id="CapacidadMva" name="CapacidadMva" />
                                <a href="JavaScript:editarComentario(0,'eee')" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                                
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Celda 1</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda:</td>
                        <td colspan="5">
                            @(Html.DropDownList("IdCelda", new SelectList(Model.listaCelda, "Equicodi", "Equinomb", Model.IdCelda), "SELECCIONAR", new { style = "width: 98%;", disabled = "disabled" }))
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición de núcleo TC (Amp):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda1Posicion" disabled style="width:95%" id="Celda1Posicion" name="Celda1Posicion" />
                        </td>
                        <td class="tbform-label">I pick up (A):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda1PickUp" disabled style="width:95%" id="Celda1PickUp" name="Celda1PickUp" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Celda 2</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda:</td>
                        <td colspan="5">
                            @(Html.DropDownList("IdCelda2", new SelectList(Model.listaCelda, "Equicodi", "Equinomb", Model.IdCelda2), "SELECCIONAR", new { style = "width: 98%;", disabled = "disabled" }))
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición de núcleo TC (Amp):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda2Posicion" disabled style="width:95%" id="Celda2Posicion" name="Celda2Posicion" />
                        </td>
                        <td class="tbform-label">I pick up (A):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda2PickUp" disabled style="width:95%" id="Celda2Posicion" name="Celda2PickUp" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Banco condensador de serie</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Banco:</td>
                        <td colspan="5">
                            @(Html.DropDownList("IdBancoCondensador", new SelectList(Model.listaBanco, "Equicodi", "Equinomb", Model.IdBancoCondensador), "SELECCIONAR", new { style = "width: 98%;", disabled = "disabled" }))
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.BancoCapacidadA" style="width:90%" id="BancoCapacidadA" name="BancoCapacidadA" disabled/>
                                <a href="JavaScript:editarComentario(0,'eee')" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (MVAr):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.BancoCapacidadMVAr" style="width:90%" id="BancoCapacidadMVAr" name="BancoCapacidadMVAr" disabled/>
                                <a href="JavaScript:editarComentario(0,'eee')" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Sobrecarga permisible</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión - Condición 1 (%):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond1Porcen" style="width:90%" id="CapacTransCond1Porcen" name="CapacTransCond1Porcen" disabled/>
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Condición 1 (min):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond1Min" style="width:90%" id="CapacTransCond1Min" name="CapacTransCond1Min" disabled />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Corriente 1 (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond1A" disabled style="width: 90%" id="CapacTransCond1A" name="CapacTransCond1A" disabled/>
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión - Condición 2 (%):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond2Porcen" style="width:90%" id="CapacTransCond2Porcen" name="CapacTransCond2Porcen" disabled/>
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Condición 2 (min):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond2Min" style="width:90%" id="CapacTransCond2Min" name="CapacTransCond2Min" disabled/>
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Corriente 2 (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacTransCond2A" disabled style="width: 90%" id="CapacTransCond2A" name="CapacTransCond2A" />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacidadTransmisionA" disabled style="width: 90%" id="CapacidadTransmisionA" name="CapacidadTransmisionA"  />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.CapacidadTransmisionMVA" disabled style="width: 90%" id="CapacidadTransmisionMVA" name="CapacidadTransmisionMVA" />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Factor limitante</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Límite por seguridad COES (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.LimiteSegCoes" style="width:90%" id="LimiteSegCoes" name="LimiteSegCoes" disabled/>
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.FactorLimitanteCalc" disabled style="width: 90%" id="FactorLimitanteCalc" name="FactorLimitanteCalc" />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="text" value="@Model.FactorLimitanteFinal" disabled style="width: 90%" id="FactorLimitanteFinal" name="FactorLimitanteFinal" />
                                <a href="#" title="Consultar"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Consultar" class="boton-comentario"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><h4>Otros</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Observaciones:</td>
                        <td colspan="5">
                            <textarea value="@Model.Observaciones" style="width:100%" rows="10" id="Observaciones" name="Observaciones" disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Actualizado por:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.ActualizadoPor" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Actualizado el:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.ActualizadoEl" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>

<div id="popUpEditarComentario">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Registrar Comentario</span></div>
    <div id="editarComentario"></div>
</div>


<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/IncluirLinea.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
