
@model COES.MVC.Intranet.Areas.Evaluacion.Models.LineaIncluirModificarModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">@Model.accion línea</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Calcular" id="btnCalcular" name="btnIncluir" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Grabar" id="btnGuardar" name="btnGuardar" class="form-action" style="margin-top: 15px" />

    </div>

</div>


<div class="content-hijo" id="mainLayout">
    <div class="panel-container">
        <div id="mensaje"></div>
        @using (Html.BeginForm("IncluirModificar", "Linea", FormMethod.Post, new { @name = "frmIncluirModificarLinea", id = "frmIncluirModificarLinea" }))
        {
            <input type="hidden" id="Accion" value="@Model.accion" />
            <input type="hidden" id="IdLinea" value="@Model.IdLinea" />
            <input type="hidden" id="IdProyecto" value="@Model.IdProyecto" />
            <input type="hidden" id="IdEquipo" value="@Model.IdEquipo" />
            <input type="hidden" id="HiddenIdArea" value="@Model.IdArea" />

            <div style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:36%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                    <tr>
                        <td><strong> Identificación del equipo</strong></td>
                        <td class="tbform-label">Motivo de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" style="width:95%" disabled value="@Model.Motivo" id="Motivo" name="Motivo" />
                        </td>
                        <td class="tbform-label">Fecha de actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.FechaMotivo" style="width:95%" id="FechaMotivo" name="FechaMotivo" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:15%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                        <td class="tbform-label">Código ID:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Equicodi" disabled style="width:95%" id="Equicodi" name="Equicodi" />
                        </td>
                        <td class="tbform-label">Código:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Codigo" disabled style="width: 95%" id="Codigo" name="Codigo" />
                        </td>
                        <td class="tbform-label">Ubicación:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Ubicacion" disabled style="width: 95%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Empresa:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Empresa" disabled style="width: 95%" />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </div>
            <div style="margin-bottom:0px; padding:15px">
                <strong>Características del equipo</strong>
            </div>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:15%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                        <th style="width:10%"></th>
                        <th style="width:21%"></th>
                    <tr>
                        <td class="tbform-label">Área:</td>
                        <td class="control-no-padding">
                            <select id="IdArea" style="width: 98%;">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.listaArea)
                                {
                                    <option value="@item.AreaCodi" @(item.AreaCodi == Model.IdArea ? "selected" : "")>@item.AreaNomb</option>
                                }
                            </select>
                        </td>
                        <td class="tbform-label">Longitud(Km):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Longitud" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Tensión(Kv):</td>
                        <td class="control-no-padding">
                            <input type="text" id="TensionKv" name="TensionKv" value="@Model.Tension" disabled style="width:95%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad(A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadAComent" value="@Model.CapacidadAComent" />
                                <input type="text" value="@Model.CapacidadA" style="width:90%" id="CapacidadA" name="CapacidadA" maxlength="6" />
                                <a href="JavaScript:editarComentario('CapacidadAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>

                        </td>
                        <td class="tbform-label">Capacidad(MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadMvaComent" value="@Model.CapacidadMvaComent" />
                                <input type="text" value="@Model.CapacidadMva" disabled style="width:77%" id="CapacidadMva" name="CapacidadMva" />
                                <a href="JavaScript:editarComentario('CapacidadMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Celda 1</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" value="@Model.IdCelda" id="hiddenIdCelda" />
                            <select id="IdCelda" style="width: 98%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.listaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi == Model.IdCelda ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición de núcleo TC (Amp):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda1Posicion" disabled style="width:95%" id="Celda1Posicion" name="Celda1Posicion" />
                        </td>
                        <td class="tbform-label">I pick up (A):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda1PickUp" disabled style="width:95%" id="Celda1PickUp" name="Celda1PickUp" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Celda 2</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda(*):</td>
                        <td colspan="5">
                            <input type="hidden" value="@Model.IdCelda2" id="hiddenIdCelda2" />
                            <select id="IdCelda2" style="width: 98%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.listaCelda)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi == Model.IdCelda2 ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Posición de núcleo TC (Amp):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda2Posicion" disabled style="width:95%" id="Celda2Posicion" name="Celda2Posicion" />
                        </td>
                        <td class="tbform-label">I pick up (A):</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.Celda2PickUp" disabled style="width:95%" id="Celda2PickUp" name="Celda2PickUp" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Banco condensador de serie</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Banco:</td>
                        <td colspan="5">
                            <input type="hidden" value="@Model.IdBancoCondensador" id="hiddenIdBancoCondensador" />
                            <select id="IdBancoCondensador" style="width: 98%;" multiple="multiple">
                                <option value="0">SELECCIONAR</option>
                                @foreach (var item in @Model.listaBanco)
                                {
                                    <option value="@item.Equicodi" @(item.Equicodi == Model.IdBancoCondensador ? "selected" : "")>@item.Equinomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadABancoCondensadorComent" value="@Model.CapacidadABancoCondensadorComent" />
                                <input type="text" value="@Model.CapacidadABancoCondensador" style="width:90%" id="CapacidadABancoCondensador" name="CapacidadABancoCondensador" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacidadABancoCondensadorComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad (MVAr):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadMvarBancoCondensadorComent" value="@Model.CapacidadMvarBancoCondensadorComent" />
                                <input type="text" value="@Model.CapacidadMvarBancoCondensador" style="width:90%" id="CapacidadMvarBancoCondensador" name="CapacidadMvarBancoCondensador" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacidadMvarBancoCondensadorComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Sobrecarga permisible</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión - Condición 1 (%):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond1PorcenComent" value="@Model.CapacTransCond1PorcenComent" />
                                <input type="text" value="@Model.CapacTransCond1Porcen" style="width:90%" id="CapacTransCond1Porcen" name="CapacTransCond1Porcen" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacTransCond1PorcenComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Condición 1 (min):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond1MinComent" value="@Model.CapacTransCond1MinComent" />
                                <input type="text" value="@Model.CapacTransCond1Min" style="width:90%" id="CapacTransCond1Min" name="CapacTransCond1Min" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacTransCond1MinComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Corriente 1 (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond1AComent" value="@Model.CapacTransCond1AComent" />
                                <input type="text" value="@Model.CapacTransCond1A" disabled style="width:77%" id="CapacTransCond1A" name="CapacTransCond1A" />
                                <a href="JavaScript:editarComentario('CapacTransCond1AComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión - Condición 2 (%):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond2PorcenComent" value="@Model.CapacTransCond2PorcenComent" />
                                <input type="text" value="@Model.CapacTransCond2Porcen" style="width:90%" id="CapacTransCond2Porcen" name="CapacTransCond2Porcen" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacTransCond2PorcenComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Condición 2 (min):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond2MinComent" value="@Model.CapacTransCond2MinComent" />
                                <input type="text" value="@Model.CapacTransCond2Min" style="width:90%" id="CapacTransCond2Min" name="CapacTransCond2Min" maxlength="20" />
                                <a href="JavaScript:editarComentario('CapacTransCond2MinComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Corriente 2 (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacTransCond2AComent" value="@Model.CapacTransCond2AComent" />
                                <input type="text" value="@Model.CapacTransCond2A" disabled style="width:77%" id="CapacTransCond2A" name="CapacTransCond2A" />
                                <a href="JavaScript:editarComentario('CapacTransCond2AComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Capacidad de transmisión (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadTransmisionAComent" value="@Model.CapacidadTransmisionAComent" />
                                <input type="text" value="@Model.CapacidadTransmisionA" disabled style="width:77%" id="CapacidadTransmisionA" name="CapacidadTransmisionA" />
                                <a href="JavaScript:editarComentario('CapacidadTransmisionAComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Capacidad de transmisión (MVA):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="CapacidadTransmisionMvaComent" value="@Model.CapacidadTransmisionMvaComent" />
                                <input type="text" value="@Model.CapacidadTransmisionMva" disabled style="width:77%" id="CapacidadTransmisionMva" name="CapacidadTransmisionMVA" />
                                <a href="JavaScript:editarComentario('CapacidadTransmisionMvaComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Factor limitante</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Límite por seguridad COES (A):</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="LimiteSegCoesComent" value="@Model.LimiteSegCoesComent" />
                                <input type="text" value="@Model.LimiteSegCoes" style="width:90%" id="LimiteSegCoes" name="LimiteSegCoes" maxlength="20" />
                                <a href="JavaScript:editarComentario('LimiteSegCoesComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Factor limitante calculado:</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="FactorLimitanteCalcComent" value="@Model.FactorLimitanteCalcComent" />
                                <input type="text" value="@Model.FactorLimitanteCalc" disabled style="width:77%" id="FactorLimitanteCalc" name="FactorLimitanteCalc" />
                                <a href="JavaScript:editarComentario('FactorLimitanteCalcComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                        <td class="tbform-label">Factor limitante final:</td>
                        <td class="control-no-padding">
                            <div style="width:95%">
                                <input type="hidden" id="FactorLimitanteFinalComent" value="@Model.FactorLimitanteFinalComent" />
                                <input type="text" value="@Model.FactorLimitanteFinal" disabled style="width:77%" id="FactorLimitanteFinal" name="FactorLimitanteFinal" />
                                <a href="JavaScript:editarComentario('FactorLimitanteFinalComent');" title="Comentario"><img src="~/Areas/Evaluacion/Content/Images/comentario.png" alt="Comentario" class="boton-comentario"></a>
                                <a href="#" title="Calcular" style="cursor: default;"><img src="~/Areas/Evaluacion/Content/Images/calculadora.png" alt="Calcular" class="boton-comentario" style="margin-left:35px"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h4>Otros</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Observaciones:</td>
                        <td colspan="5">
                            <textarea value="" style="width:100%" rows="10" id="Observaciones" name="Observaciones" maxlength="500">@Model.Observaciones</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Actualizado por:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.UsuarioModificacion" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label">Actualizado el:</td>
                        <td class="control-no-padding">
                            <input type="text" value="@Model.FechaModificacion" disabled style="width:95%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>

<div id="popUpEditarComentario">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Registrar Comentario</span></div>
    <div id="editarComentario"></div>
</div>


<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/IncluirLinea.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>