﻿@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoLineaModel

<style>

    #tablaListado td.tooltip-celda {
        position: relative;
    }

        #tablaListado td.tooltip-celda:hover::after {
            content: attr(data-comment);
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #f1f1f1;
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 12px;
            white-space: pre-line; 
            word-wrap: break-word; 
            max-width: 300px; 
            width: 200px;
            max-height: 300px; 
            overflow-y: auto; 
            z-index: 2000;
            display: block;
            box-sizing: border-box; 
            text-align: justify; 
        }

    #tablaListado .tooltip-celda .badge {
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        aspect-ratio: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        background: red;
    }
</style>
<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width: 100px">Acciones</th>
            <th style="width: 70px">Código ID</th>
            <th style="width: 70px">Área</th>
            <th>Empresa</th>
            <th style="width: 70px">Código</th>
            <th style="width: 50px">Tensión (kV)</th>
            <th>Subestación 1</th>
            <th>Subestación 2</th>

            <th style="width: 50px; background-color: darkslateblue;">Capacidad de <br />transmisión (A)</th>
            <th style="width: 50px; background-color: darkslateblue; ">Capacidad de <br />transmisión (MVA)</th>
            <th style="width: 50px">Sobrecarga permisible de <br />capacidad de transmisión - <br />Condición 1 (%)</th>
            <th style="width: 50px">Sobrecarga permisible <br />tiempo - Condición 1 (min)</th>
            <th style="width: 50px">Sobrecarga permisible de <br />capacidad de transmisión - <br />Condición 2 (%)</th>
            <th style="width: 50px">Sobrecarga permisible <br />tiempo 2 (min)</th>
            <th style="width: 50px">Factor limitante final</th>

            <th style="width: 70px">Actualizado por</th>
            <th style="width: 50px">Actualizado el</th>
            <th style="width: 50px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaLineaPrincipal)
        {
            <tr>
                <td>
                    <a href="JavaScript:consultarEquipo(@item.Equicodi);" title="Consultar"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                    @if (ViewBag.PermisoEditar == "1")
                    {
                        <a href="Javascript:incluirProyecto(@item.Equicodi)" title="Modificar"><img src="~/Content/Images/btn-edit.png" alt="Modificar"></a>
                    }

                    <a href="JavaScript:historialCambio(@item.Equicodi);" title="Ver historial de actualizaciones"><img src="~/Content/Images/btn-properties.png" alt="Ver historial de actualizaciones"></a>

                    @if (ViewBag.PermisoEliminar == "1")
                    {
                        <a href="JavaScript:confirmarExcluir(@item.Equicodi);" title="Excluir"><img src="~/Content/Images/btn-cancel.png" alt="Excluir"></a>
                    }

                </td>
                <td>@item.Equicodi</td>
                <td>@item.AreaNomb </td>
                <td>@item.EmprNomb</td>
                <td>@item.EquiAbrev</td>
                <td style="text-align: right;">@item.Tension</td>
                <td>@item.Subestacion1</td>
                <td>@item.Subestacion2</td>
                @if (!string.IsNullOrEmpty(@item.CapacidadTransmisionAComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacidadTransmisionAComent">
                        @item.CapacidadA
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacidadA
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.CapacidadTransmisionMvaComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacidadTransmisionMvaComent">
                        @item.CapacidadMva
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacidadMva
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.CapacTransCond1PorcenComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacTransCond1PorcenComent">
                        @item.CapacTransCond1Porcen
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacTransCond1Porcen
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.CapacTransCond1MinComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacTransCond1MinComent">
                        @item.CapacTransCond1Min
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacTransCond1Min
                    </td>
                }

                @if (!string.IsNullOrEmpty(@item.CapacTransCond2PorcenComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacTransCond2PorcenComent">
                        @item.CapacTransCond2Porcen
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacTransCond2Porcen
                    </td>
                }


                @if (!string.IsNullOrEmpty(@item.CapacTransCond2MinComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.CapacTransCond2MinComent">
                        @item.CapacTransCond2Min
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.CapacTransCond2Min
                    </td>
                }


                @if (!string.IsNullOrEmpty(@item.FactorLimitanteFinalComent))
                {
                    <td class="tooltip-celda" style="text-align: right; padding-right:6px;" data-comment="@item.FactorLimitanteFinalComent">
                        @item.FactorLimitanteFinal
                        <div class="badge"></div>
                    </td>

                }
                else
                {
                    <td style="text-align: right; padding-right: 6px; ">
                        @item.FactorLimitanteFinal
                    </td>
                }


                <td style="text-align: left;">@item.UsuarioAuditoria</td>
                <td style="text-align: left;">@item.Fechamodificacionstr</td>
                <td style="text-align: left;">@item.Estado</td>
            </tr>
        }

    </tbody>
</table>