@model COES.MVC.Intranet.Models.HeaderModel
<div class="header">
     <div class="header-content">
        <div class="header-text">
            <div class="header-text-item">
                <img src="~/Content/Images/hide-menu.png" alt="Ocultar menu" title="Ocultar menu" id="btnOcultarMenu" />
            </div>
            <div class="header-text-item">
                <img src="~/Content/Images/hide-top.png" alt="Ocultar título" title="Ocultar título" id="btnOcultarTitulo" />
            </div>
            <div class="header-text-item">Intranet SGO - COES</div>
        </div>
        <div class="header-action">  
            <div class="header-action-item"><a href="#" id="CerrarSesion">Cerrar sesión</a></div>  
            <div class="header-action-item">
                @if (ViewBag.UserLogin != null)
                {
                    <div class="img-circular" id="userImage" style="background-image:url('https://www.coes.org.pe/encuestasd/Fotos/@ViewBag.UserLogin')"></div>
                }
                else
                {
                    <div class="img-circular" id="userImage"></div>
                }
            </div>
            <div class="header-action-text" id="userName">@ViewBag.UserName</div>
            <div class="header-action-item">Bienvenido:</div>
           
            <div class="header-action-item">
                 <a href="#" id="openAccesoHeader">Opciones favoritas</a>
                 <div class="acceso-directo-header" id="contenedorAccesosDirectos">                    
                    <div id="accesoDirectoHeader" class="acceso-directo-header-cnt">
                        @foreach (var item in Model.ListaFavoritos)
                        {
                            <div class="acceso-directo-header-item">
                                <a href="JavaScript:OpenUrl('@item.OpcionURL', '@item.Tipo', @item.OpcionId, '@item.DesControlador', '@item.DesAccion');">@item.Nombre</a>
                            </div>
                        }
                    </div>
                    <div class="acceso-directo-header-link">
                        <a href="#" id="ConfiguracionFavorito">Configurar opciones favoritas</a>
                        <a href="#" id="closeAccesoHeader" style="float:right">X</a>  
                    </div>
                 </div>                 
             </div>
             <div class="header-action-item"><a href="#" id="CambiarClave">Cambiar clave</a></div>
             <div class="header-action-item"><a href="http://www.coes.org.pe">Portal Web</a></div>
             <div class="header-action-item">
                 <a href="#" id="openNotification">
                     <img src="~/Content/Images/icon-notificacion.png" style="padding-top:7px" />
                 </a>
                 <div class="acceso-directo-header" id="contenedorNotificacion" style="width:380px; margin-left:-360px">
                     <div class="acceso-directo-header-cnt" id="contenidoNotificacion" style="color: #245C86;padding:10px; width:360px">
                         Estimados usuarios se realizaron los siguientes cambios en el menú del aplicativo:
                         <ul>
                             <li>Se movió Costo de Oportunidad a Evaluación</li>
                             <li>Se movió Subastas a Programación</li>
                             <li>Se movió Demanda a Programación</li>
                             <li>Se movió Despacho a Programación</li>
                             <li>Se movió Tiempo Real a Coordinación</li>
                             <li>Se movió Perfiles Scada a Mediciones</li>                             
                             <li>Se movió Hidrologia a Mediciones</li>
                             <li>Informes Osinergmin y Intercambio de Inf Osinergmin se movieron a Osinergmin</li>
                         </ul>
                     </div>
                     <div class="acceso-directo-header-link">
                         <a href="#">Notificaciones</a>
                         <a href="#" id="closeNotificacion" style="float:right">X</a>
                     </div>
                    
                    
                 </div>          
             </div>
                         
         </div>
     </div>
</div>

<div id="confirmarClose">
    <div class="popup-title"><span>Confirmar Operación</span></div>
    <div class="popup-text">
        ¿Está seguro de cerrar sesión?
    </div>
    <div class="formulario-boton">
        <input id="btnOkCerrarSesion" type="button" value="Aceptar" />
        <input id="btnCancelCerrarSesion" type="button" value="Cancelar" />
    </div>  
</div>

<div id="cambiarClave">    
</div>

<div id="configurarFavorito">
</div>