@{
    List<COES.MVC.Intranet.Models.MenuModel> menuList = ViewBag.Menu;
}

    @if (!menuList.Any())
    {
        Context.Response.Redirect("/Home/Login");
    }
 <ul class="sf-menu sf-vertical" id="menu">      
    @foreach (var mp in menuList.Where(p => p.PadreId == 1)){    
    <li>  
        
        @if (mp.DesControlador != "#")
        { 
            @:<a href="JavaScript:OpenUrl('@mp.OpcionURL', '@mp.Tipo', @mp.OpcionId, '@mp.DesControlador', '@mp.DesAccion');">@mp.Nombre</a> 
        }
        else
        { 
            @:<a href="#">@mp.Nombre</a> 
        }
      
        @if (menuList.Count(p => p.PadreId == mp.OpcionId) > 0)
        {
             @:<ul>
        }         
        @RenderMenuItem(menuList,mp)       
        @if (menuList.Count(p => p.PadreId == mp.OpcionId) > 0)
        {
             @:</ul>
        }
     </li>
    }
</ul>
    @helper RenderMenuItem(List<COES.MVC.Intranet.Models.MenuModel> menuList, COES.MVC.Intranet.Models.MenuModel mi)
    {
        foreach (var cp in menuList.Where(p => p.PadreId == mi.OpcionId))
        {   
            @:<li>   

            if (cp.DesControlador != "#"){
                @:<a href="JavaScript:OpenUrl('@cp.OpcionURL', '@cp.Tipo', @cp.OpcionId, '@cp.DesControlador', '@cp.DesAccion');">@cp.Nombre</a>      
            }   
            else
            { 
                @:<a href="#">@cp.Nombre</a> 
            }
        
            if (menuList.Count(p => p.PadreId == cp.OpcionId) > 0)
            {
                @:<ul>  
            }        
            @RenderMenuItem(menuList,cp)
            if (menuList.Count(p => p.PadreId == cp.OpcionId) > 0)
            {
                @:</ul>
            }
            else
            {
                @:</li>
            }
        }
    }