@model COES.MVC.Intranet.Areas.Evaluacion.Models.RelePmuModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }
</style>
<div class="form-title">
    <div class="content-titulo">Relés PMU</div>
    <div class="content-botonera">
        <input type="button" value="Exportar" id="btnExportar" name="btnExportar" class="form-action" style="margin-top: 15px" />
    </div>

</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <th style="width: 6%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 7%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 8%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 8%;"></th>
                    <th style="width: 13%;"></th>
                    <th style="width: 6%;"></th>
                    <th style="width: 13%;"></th>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td>Código ID: </td>
                    <td>
                        <input type="text" id="fCodigoId" name="fCodigoId" style="width: 96%;" value="" maxlength="20" />
                    </td>
                    <td>Código: </td>
                    <td>
                        <input type="text" id="fCodigo" name="fCodigo" style="width: 96%;" value="" maxlength="20" />
                    </td>
                    <td>Subestación: </td>
                    <td>
                        <select id="fSubestacion" name="fSubestacion" style="width: 100%;" multiple="multiple">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaSubestacion)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td>Celda: </td>
                    <td>
                        <select id="fCelda" name="fCelda" style="width: 100%;">
                            <option value="0">TODOS</option>
                        </select>
                    </td>
                    <td>Empresa: </td>
                    <td>
                        <select id="fEmpresa" name="fEmpresa" style="width: 100%;" multiple="multiple">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td>Área: </td>
                    <td>
                        <select id="fArea" name="fArea" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaArea)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td>Estado: </td>
                    <td>
                        <select id="fEstado" name="fEstado" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaEstado)
                            {
                                <option value="@item.Eqcatdabrev">@item.Eqcatddescripcion</option>
                            }
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="content-botonera">
                            <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" style="margin-top: 15px" />
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <br />
        <div class="content-hijo" id="mainLayout">
            <div id='lista'></div>
        </div>
    </div>
</div>


<!--Menu contextual-->
<link href="~/Areas/Evaluacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Evaluacion/Content/Scripts/RelePmu.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Evaluacion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
