@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoReleSincronismoModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:5%">Acciones</th>
            <th style="width:5%">Código ID</th>
            <th style="width:10%">Código</th>
            <th style="width:10%">Área</th>
            <th style="width:10%">Empresa</th>
            <th style="width:10%">Subestación</th>
            <th style="width:10%">Celda</th>
            <th style="width:10%">Código de <br/>interruptor</th>
            <th style="width:5%">Detalla tensión (kV)</th>
            <th style="width:5%">Delta ángulo (grados)</th>
            <th style="width:5%">Delta frecuencia (Hz)</th>
            <th style="width:5%">Actualizado por</th>
            <th style="width:5%">Actualizado el</th>
            <th style="width:5%">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReleSincronismo)
        {
            <tr>
                <td>
                    <a href="JavaScript:consultarEquipo(@item.Equicodi);" title="Consultar"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                    <a href="JavaScript:historialCambio(@item.Equicodi);" title="Ver historial de actualizaciones"><img src="~/Content/Images/btn-properties.png" alt="Ver historial de actualizaciones"></a>
                </td>
                <td>@item.Equicodi</td>
                <td>@item.Equinomb</td>
                <td>@item.Area</td>
                <td>@item.Empresa</td>
                <td>@item.Subestacion</td>
                <td>@item.Celda</td>
                <td>@item.CodigoInterruptor</td>
                <td>@item.DeltaTension</td>
                <td>@item.DeltaAngulo</td>
                <td>@item.DeltaFrecuencia</td>
                <td>@item.UsuarioModificacion</td>
                <td>@item.FechaModificacion</td>
                <td>@item.Estado</td>
            </tr>
        }

    </tbody>
</table>