@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoReleSobretensionModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:5%">Acciones</th>
            <th style="width:5%">Código ID</th>
            <th style="width:10%">Código</th>
            <th style="width:10%">Área</th>
            <th style="width:10%">Empresa</th>
            <th style="width:10%">Celda</th>
            <th style="width:5%">Nivel de <br />tensión (kV)</th>
            <th style="width:5%">U > Umbral (P.U.)</th>
            <th style="width:5%">U > T (Seg.)</th>
            <th style="width:5%">U >> Umbral (P.U.)</th>
            <th style="width:5%">U >> T (Seg.)</th>
            <th style="width:10%">Actualizado por</th>
            <th style="width:10%">Actualizado el</th>
            <th style="width:5%">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReleSobretension)
        {
            <tr>
                <td>
                    <a href="JavaScript:consultarEquipo(@item.Equicodi);" title="Consultar"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                    <a href="JavaScript:historialCambio(@item.Equicodi);" title="Ver historial de actualizaciones"><img src="~/Content/Images/btn-properties.png" alt="Ver historial de actualizaciones"></a>
                </td>
                <td>@item.Equicodi</td>
                <td>@item.Codigo</td>
                <td>@item.Area</td>
                <td>@item.Empresa</td>
                <td>@item.Celda</td>
                <td>@item.NivelTension</td>
                <td>@item.SobreTU</td>
                <td>@item.SobreTT</td>
                <td>@item.SobreTUU</td>
                <td>@item.SobreTTT</td>
                <td>@item.UsuarioModificacion</td>
                <td>@item.FechaModificacion</td>
                <td>@item.Estado</td>
            </tr>
        }

    </tbody>
</table>