@model COES.MVC.Extranet.Areas.Equipamiento.Models.EnvioFormatoModel
@{
    ViewBag.Title = "Envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<link href="~/Areas/Equipamiento/Content/Css/envio/envioFormularioWeb.css?v=2.0.5" rel="stylesheet" />

<script src="~/Areas/Equipamiento/Content/Scripts/Envio/global.js?v=2.0.5"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/Envio/formularioArchivos.js?v=2.0.5"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/Envio/envioFormatoOperacionComercial.js?v=2.0.5"></script>

<div class="form-title_intranet" id="container">
    @if (Model.IdEnvio > 0)
    {
        <div class="content-titulo" style="">
            Envío de Ficha Técnica – Dar de baja al Modo de Operación - Solicitud N° @Model.IdEnvio <span id="version_desc"></span>
        </div>
    }
    else
    {
        <div class="content-titulo">
            Envío de Ficha Técnica – Dar de baja al Modo de Operación
        </div>
    }
    <div class="content-botonera">
        <input type="button" id="btnInicio" value="Salir del envío" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">

    <input type="hidden" id="hfTipoFormato" value="@Model.EnvioTipoFormato" />

    <input type="hidden" id="hfEmprcodi" value="@Model.Emprcodi" />
    <input type="hidden" id="hfFtetcodi" value="@Model.Ftetcodi" />
    <input type="hidden" id="hfCodigoEquipos" value="@Model.CodigoEquipos" />

    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="hfIdEnvioTemporal" value="@Model.IdEnvioTemporal" />
    <input type="hidden" id="hfIdVersion" value="@Model.IdVersion" />
    <input type="hidden" id="hfIdVersionTemporal" value="@Model.IdVersionTemporal" />
    <input type="hidden" id="hfFteeqcodisLimpiar" value="" />
    <input type="hidden" id="hfFlagEquipoAutoguardado" value="@Model.FlagEquipoAutoguardado" />

    <input type="hidden" id="hfIdEstado" value="@Model.IdEstado" />
    <input type="hidden" id="hfTipoOpcion" value="@Model.TipoOpcion" />

    <input type="hidden" id="hdHistorialParteDesc" value="" />
    <input type="hidden" id="hdCondicionEnvioPrevioTemporal" value="" />
    <input type="hidden" id="hdIdEnvioPadre" value="@Model.IdEnvio" />
    <input type="hidden" id="hdIdEnvioData" value="@Model.IdEnvio" />

    <input type="hidden" id="hdHabilitarAutoguardado" value="@Model.HabilitarAutoguardado" />
    <input type="hidden" id="hdIMinutosAutoguardado" value="@Model.MinutosAutoguardado" />
    <input type="hidden" id="hdClaveCookie" value="@Model.ClaveCookie" />

    <input type="hidden" id="hfNumVersionSeleccionadaPopup" value="0" />
    <input type="hidden" id="hfVersionSeleccionadaPopup" value="0" />
    <input type="hidden" id="hfVersionAnteriorPopup" value="0" />

    <input type="hidden" id="hdNotaCancelacion" value="@Model.MsgCancelacion" />
    <input type="hidden" id="hdNotaFecMaxRpta" value="@Model.MsgFecMaxRespuesta" />
    <input type="hidden" id="hdNotaCancelacion" value="@Model.MsgCancelacion" />

    <div id="idFecMaxRpta" style="display:none;margin-bottom: 15px;"></div>
    <div id="idMsgCancelacion" style="display:none;margin-bottom: 15px;"></div>
    <div id="div_dia_habil" style="display: none;margin-bottom: 15px;"></div>

    <div class="action-message" id="mensajeEvento" style="margin: 10px 0px 10px; display: none; padding-left: 36px; text-indent: 0px;"></div>

    <div class="search-content3">

        <div style="display:table">
            <div style="display:table-row">
                <div style="padding-top: 8px; padding-bottom: 8px;">
                    <div style="display:table">
                        <div style="display:table-row">

                            <table style="width: 800px;" class="filtro_envio">
                                <tr>
                                    <td>
                                        <span> <b>Empresa:</b> </span>
                                        <span class="desc_filtro">@Model.Emprnomb</span>

                                        <span> <b>Etapa:</b> </span>
                                        <span class="desc_filtro">@Model.Ftetnombre</span>

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div style="display: table-cell;width:100%">
                </div>
                <div style="display: table-cell; text-align: right;">

                    <div id="barra_herramienta_envio" style="display:none;">
                        <div style="display:table-row">

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/enviar.png" /><br />
                                        <span>Enviar</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </div>

                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnVerEnvio">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div id="mensaje_GuardadoTemporal"></div>

        <div id="div_listado" class="content-tabla" style="margin-top: 10px;">
            <div id="listadoDetalleEquipo">

            </div>
        </div>

        <div class="search-content3 barra_herramienta_envio_2" style="background-color: white; display: ; margin-top: 10px;">
            <div style="display:table">
                <div style="display:table-row">
                    <div style="display: none;padding-top: 5px; padding-bottom: 0px;" class="div_herr_filtro">
                        <div style="display:table">
                            <div style="display:table-row">

                                <div class="content-action" style="display: none">
                                    <a href="#" id="btnHistorialAutoguardado">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/historial.png" /><br />
                                            <span>Historial de autoguardado</span>
                                        </div>
                                    </a>
                                </div>

                                @if (Model.HabilitarAutoguardado == 1)
                                {
                                    <div class="content-action" style="display: none;">
                                        <a href="#" id="btnAutoguardar">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/grabar.png" /><br />
                                                <span>Guardar</span>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="content-action" style="display: none;">
                                        <a href="#" id="btnLimpiar">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/prn-ico-limpiar.png" /><br />
                                                <span>Limpiar</span>
                                            </div>
                                        </a>
                                    </div>
                                }

                                <div class="content-action" style="display: none;">
                                    <a href="#" id="btnExpandirRestaurar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                            <span id="spanExpandirContraer">Expandir</span>
                                        </div>
                                    </a>
                                    <input type="hidden" id="hfExpandirContraer" value="E" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>
                </div>
            </div>
        </div>

        <div id="html_archivos" style="margin-top: 10px; overflow: auto; height: 650px;">
        </div>

    </div>
</div>


<!--popups-->
<div id="validaciones" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" class="general-popup" style="z-index: 9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div class="action-message" id="mensajeEnviosAnteriores" style="margin: 10px 0px 10px; display: none; padding-left: 36px; text-indent: 0px;"></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div id="historialAutoguardados" class="general-popup" style="z-index: 9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Historial de Autoguardados</span></div>
    <div id="idHistoryAutoguardados">

    </div>
</div>

<div id="popupArchivoVistaPrevia" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa de archivos</span></div>
    <iframe id="vistaprevia" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
</div>

<!--popups comentarios celdas revision-->
<div id="popupFormularioObservacionC" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingreso de Comentario</span></div>
    <div id="mensajePopupCelda"></div>
    <div id="idFormularioObservacion" style="text-align: center;">

    </div>
</div>