@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Potencia Efectiva";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/IND/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/insumo_potenciaefectiva.js?v=1.5.2"></script>

<div class="form-title">
    <div class="content-titulo">Potencia Efectiva y Rendimiento de las Unidades de Generación </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                <td>
                    <select id="cbAnio" style="width: 57px;">
                        @foreach (var item in Model.ListaAnio)
                        {
                            var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                            <option value="@item.Entero1" @(selected)>@item.String1</option>
                        }
                    </select>
                    <select id="cbPeriodo" style="width: 120px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                            <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                        }
                    </select>
                </td>

                <td>
                    <input type="radio" name="rbTipo" value="5" checked>Unidades Térmicas
                    <input type="radio" name="rbTipo" value="4">Unidades Hidráulicas
                    <input type="radio" name="rbTipo" value="37">Unidades Solares
                    <input type="radio" name="rbTipo" value="39">Unidades Eólicos
                    <input type="radio" name="rbTipo" value="2">Modos de Operación Térmico
                    <input type="radio" name="rbTipo" value="1002">Generadores Hidráulicos
                </td>

                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>

                <td class="content-action">
                    <a href="#" id="btnDescargar">
                        <div class="content-item-action">
                            <img src="~/Content/Images/ExportExcel.png" alt="logo" /><br />
                        </div>
                    </a>
                </td>
            </tr>
        </table>

    </div>


    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

</div>
