@model COES.MVC.Intranet.Areas.Despacho.Models.ConceptoModel
@{
    ViewBag.Title = "Listado de conceptos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Despacho/Content/Scripts/concepto.js?v=1.0.8"></script>
<link href="~/Areas/Despacho/Content/Css/Despacho.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Listado de Conceptos</div>
    <div class="content-botonera">
        <input type="button" id="btnDescargar" value="Descargar" />
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnImportar" value="Importar" />
        }
        @*<input type="button" id="btnBuscar" value="Consultar" />*@
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnNuevo" value="Nuevo" />
        }
    </div>
</div>

<input type="hidden" id="TienePermiso" value="@Model.TienePermiso" />
<div class="content-hijo" id="mainLayout">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Categoría de grupo:</td>
                <td>
                    <select id="cbCategoria" name="famcodi" style="width: 250px">
                        <option value="-2">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaCategoria)
                        {
                            <option value="@item.Catecodi">@item.Catenomb</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Ficha técnica:</td>
                <td>
                    <select id="cbFichaTecnica" name="propficha">
                        @foreach (var item in Model.ListaFichatecnica)
                        {
                            <option value="@item.Valor">@item.Descripcion</option>
                        }
                    </select>
                </td>

                <td class="tbform-label">Nombre de concepto:</td>
                <td><input type="text" id="txtNombreConcepto" name="NombreConcepto" value="" /></td>

                @*<td>
            <input type="checkbox" id="checkEstadoConsulta" checked style="margin-top: 5px;" />
            <span style="display: inline-table; ">Estado Todos</span>
        </td>*@

                <td class="tbform-label">Estado:</td>
                <td>
                    <select id="cbEstadoConsulta" name="concepactivo" style="width: 81px;">
                        <option value="-1">-TODOS-</option>
                        <option value="1">Activo</option>
                        <option value="0">Baja</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="table-list" id="listado">
    </div>

    <div style="clear:both; height:30px"></div>
</div>


<!--Ventana flotante de Formulacion de Propiedad-->
<div id="popupFormConcepto" class="general-popup">

</div>