@model COES.MVC.Extranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "Interconexiones Internacionales";
    Layout = "~/Views/Shared/ViewFormato.cshtml";
}

<script type="text/javascript">
    var INIT_RENDERIZAR = false;
    $(function () {
        $('#tab-container').easytabs({
            animate: false
        });
    });
</script>

<style>
    .content-action {
        padding-bottom: 5px;
    }
</style>

<script src="~/Areas/Interconexiones/Content/Scripts/interconexionEnvio.js?v=2.0.5"></script>

<div class="form-title_intranet">
    <div class="content-titulo">INTERCONEXIONES INTERNACIONALES</div>
</div>

<div id="formHoja@(Model.IdHoja)">
    <div class="content-hijo" id="mainLayoutMain" style="overflow:auto; background-color:#fff">
        <div id="mensaje" class="action-message" style="display: none; margin: 0; margin-bottom: 10px">Por favor seleccione empresa y la fecha.</div>
        <div id='mensajeEvento' class='action-message' style='display:none'></div>

        <div class="search-content3">

            <div style="display:table">
                <div style="display:table-row">
                    <!--filtros-->
                    <div style="display:table-cell;">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div class="celda-item" style="display:table-cell;width:50px;">
                                    Empresa:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 250px; padding-right: 5px;">
                                    <select id="cbEmpresa" name="IdEmpresa" style="width:230px;">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>

                                <div class="celda-item" style="display:table-cell;width:50px;">
                                    Periodo:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width:100px">
                                    <input type="text" name="Fecha" id="txtFecha" value="@Model.Dia" style="width:100px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>

                    <!--menu de opciones-->
                    <div style="display: table-cell; text-align: right;">
                        <div style="display:table;" id="barra">
                            <div style="display:table-row">
                                <div class="content-action" style="display: none">
                                    <a href="#" id="btnEditarEnvio">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/edit.png" /><br />
                                            <span>Editar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/bajar.png" /><br />
                                            <span>Descargar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnSelectExcel@(Model.IdHoja)">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/subir.png" /><br />
                                            <span>Importar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/enviar.png" /><br />
                                            <span>Enviar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/errores.png" /><br />
                                            <span>Errores</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnVerEnvios">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/envios.png" /><br />
                                            <span>Envíos</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnLeyenda">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/leyenda.png" /><br />
                                            <span>Leyenda</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnExpandirRestaurar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                            <span id="spanExpandirContraer">Expandir</span>
                                        </div>
                                    </a>
                                    <input type="hidden" id="hfExpandirContraer" value="E" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both; height: 15px"></div>

        <div class="content-tabla" style="display:block;">
            <div id="tab-container" class='tab-container'>
                <ul class='etabs'>
                    <li class='tab'><a href="#viewMedidorPrincipal">@Model.TituloMedidorPrincipal</a></li>
                    <li class='tab'><a href="#viewMedidorSecundario">@Model.TituloMedidorSecundario</a></li>
                </ul>
                <div class='panel-container'>
                    <div id="viewMedidorPrincipal">

                    </div>
                    <div id="viewMedidorSecundario">

                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both; height:30px"></div>

        <input type="hidden" id="hfHojaMain" value="@Model.IdHoja" />
        <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
        <input type="hidden" id="hfFormato" value="@Model.IdFormato" />
        <input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
        <input type="hidden" id="hfFecha" value="@Model.Fecha" />
        <input type="hidden" id="hfMes" value="@Model.Mes" />
        <input type="hidden" id="hfHojaPri" value="@Model.HojaMedidorPrincipal" />
        <input type="hidden" id="hfHojaSec" value="@Model.HojaMedidorSecundario" />
    </div>
</div>

<div id="enviosanteriores" class="popup-class-1" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div id="validaciones" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="leyenda" style="z-index:9999999999;" class="popup_app">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Leyenda</span></div>
    <div id="idLeyenda" style="height:370px;">
    </div>
</div>