<table border="0" class="pretty tabla-icono" id="tablaProgramados" style="overflow: auto; height:auto; width: 2000px !important; white-space: nowrap">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Descripción</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Duracion</th>
            <th>Obs.Incumpl.</th>
            <th>Sust./Observ.</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntervenciones)
        {
            int sPK = item.Intercodi;
            <tr id="fila_@sPK">
                @*<td class="text_left" style="text-align:left">@item.Intercodi</td>*@
                <td class="text_left" style="text-align:left">@item.EmprNomb</td>
                <td class="text_left" style="text-align:left">@item.AreaNomb</td>
                <td class="text_left" style="text-align:left">@item.Equiabrev</td>
                <td class="text_left" style="text-align:left">@item.Interdescrip</td>
                <td class="text_left" style="text-align:left">@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Duracion</td>
                <td class="text_left" style="text-align:left">@item.Observaciones</td>
                <td class="text_left" style="text-align:left">@item.Interjustifaprobrechaz</td>
                <td class="text_left" style="text-align:left">@item.Comentario</td>
            </tr>
        }
    </tbody>
</table>
