<table border="0" class="pretty tabla-icono" id="tabla" style="overflow: auto; height:auto; width: 2000px !important; white-space: nowrap">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>MW Indisp.</th>
            <th>Equipo</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntervenciones)
        {
            int sPK = item.Intercodi;
            <tr id="fila_@sPK">
                <td class="text_left" style="text-align:left">@item.EmprNomb</td>
                <td class="text_left" style="text-align:left">@item.AreaNomb</td>
                <td class="text_left" style="text-align:left">@item.Intermwindispo</td>
                <td class="text_left" style="text-align:left">@item.Equiabrev</td>
                <td class="text_left" style="text-align:left">@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Interdescrip</td>
            </tr>
        }
    </tbody>
</table>
