@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Intervenciones Importantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteConexionesProvisionales.js?v=1.4.2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Intervenciones Conexiones Provisionales</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnGenerarExcel" value="Generar Excel" />
    </div>
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

            <tr class="THCabecera">
                <td colspan="9"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
            </tr>

            <tbody id="Contenido">
                <tr>

                    <td><div class="editor-label">Tipo de Programacion</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="tipoProCodi" name="tipoProCodi" style="width:200px">
                                <option value="0">------------ Seleccione ------------</option>
                                @foreach (var item in Model.ListaTiposProgramacion)
                                {
                                    <option value="@item.Evenclasecodi" @sSelected>@item.Evenclasedesc</option>
                                }
                            </select>
                        </div>
                    </td>

                    <td><div class="editor-label">Empresa</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="emprCodi" name="emprCodi" style="width:200px; background-color:white" multiple="multiple">
                                @foreach (var item in Model.ListaCboEmpresa)
                                {
                                    <option value="@item.Emprcodi" @sSelected>@item.Emprnomb</option>
                                }
                            </select>
                        </div>
                    </td>

                    <td>Fecha Inicio: </td>
                    <td>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.InterfechainiD, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>

                    <td>Fecha Fin: </td>
                    <td>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.InterfechafinD, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>

                </tr>
            </tbody>

        </table>        

    </div>

    <div class="content-tabla">
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

    <div class="tabla-header">
        <div class="table-paginado" id="paginado"></div>
    </div>

</div>

