@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Intervenciones";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteIntervenciones.js?v=1.5.5"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Intervenciones Programadas</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        @if (Model.TienePermisoSPR)
        {
            <input type="button" id="btnGenerarExcel" value="Generar Excel" />
            <input type="checkbox" name="flgformatosinergmin" id="flgformatosinergmin" checked style="display: none" />
        }
        else
        {
            <input type="button" id="btnImprimir" value="Imprimir" />
            <input type="button" id="btnGenerarExcel" value="Generar Excel" />
            <input type="checkbox" name="flgformatosinergmin" id="flgformatosinergmin" />
            <label>Formato OSINERGMIN</label>
        }
    </div>
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

            <tr class="THCabecera">
                <td colspan="9"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
            </tr>
            <tbody id="Contenido">
                <tr>
                    <td style="width: 123px;vertical-align: middle;">Tipo de Programacion:</td>
                    <td style="width: 207px;">
                        <select style="background-color:white;width: 207px;" id="tipoProCodi">
                            <option value="0">------------ Seleccione ------------</option>
                            @foreach (var item in Model.ListaTiposProgramacion)
                            {
                                <option value="@item.Evenclasecodi">@item.Evenclasedesc</option>
                            }
                        </select>
                    </td>

                    <td style="width:20px;vertical-align: middle;">Empresa:</td>
                    <td style="width: 250px;">
                        <select style="background-color:white;width: 220px;" id="emprCodi" multiple="multiple">
                            @foreach (var item in Model.ListaCboEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>

                    <td id="fecIni" style="width: 70px;text-align: right;vertical-align: middle;">Fecha Inicio:</td>
                    <td style="width: 100px">
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.Entidad.Interfechaini, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>

                    <td style="width:70px;text-align: right;vertical-align: middle; " class="fechFin">Fecha Fin:</td>
                    <td style="width: 100px">
                        <div class="editor-label fechFin">
                            @Html.TextBoxFor(model => model.Entidad.Interfechafin, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>

        </table>           

    </div>

    <div class="content-tabla">
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

</div>




