@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion

@{
    var backColorM = "";
    var backColorNoEjec = "";
    var backColorHo = "";
    switch (Model.TipoMensaje)
    {
        case 7:
            backColorM = ";background-color:aqua";
            break;
        case 8:
            backColorNoEjec = "background-color:aqua";
            break;
        case 9:
            backColorHo = "background-color:aqua";
            break;
    }
}

<table cellpadding="0" cellspacing="0">
    <tr>
        <td style="min-width: 170px; width: 170px; height: 200px;padding-right: 10px; padding-top: 22px;">
            <div style="height: 300px; background-color:beige" id="bandeja">
                <div style="margin:10px;padding-top: 1px;">
                    <h3>Bandeja</h3>
                    <table>
                        @if (Model.TotalMensaje > 0)
                        {
                            <tr onclick="mostrarLista(7);" style="cursor:pointer;@backColorM">
                                <td style="height:25px;vertical-align:middle;"><b>Mensajes (@Model.TotalMensaje  )</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="height:25px;vertical-align:middle;">Mensajes </td>
                            </tr>
                        }
                        @if (Model.TotalMensajeNoEjecutado > 0)
                        {
                            <tr onclick="mostrarLista(8);" style="cursor:pointer;@backColorNoEjec">
                                <td style="height:25px;vertical-align:middle;"><b>No Ejecutados (@Model.TotalMensajeNoEjecutado)</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="height:25px;vertical-align:middle;">No Ejecutados</td>
                            </tr>
                        }
                        @if (Model.TotalMensajeAlertaHo > 0)
                        {
                            <tr onclick="mostrarLista(9);" style="height:25px;cursor:pointer;@backColorHo">
                                <td style="vertical-align:middle;"><b>Horas de Operación (@Model.TotalMensajeAlertaHo)</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="height:25px;vertical-align:middle;">Horas de Operación</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </td>
        <td>
            <div class="table-list" id="listado2">

                <table border="0" class="pretty tabla-icono" id="tabla" style="height:auto;">
                    <thead>
                        <tr>
                            <th style="width: 20px">Detalle</th>
                            <th>Asunto</th>
                            <th style="width: 130px">Destinatarios</th>
                            <th style="width: 130px">Remitente</th>
                            <th style="width: 170px">Empresa</th>
                            <th style="width: 110px">Fecha Envío</th>
                            <th style="width: 125px">Usuario Envío</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaMensajes)
                        {
                            <tr>
                                <td style="width: 20px">
                                    <a href='JavaScript: verContenido(@item.Msgcodi);'>
                                        <img src='~/Content/Images/btn-open.png' alt='Ver registro' title='Ver contenido' />
                                    </a>
                                </td>
                                <td style="padding-left: 5px;padding-right: 5px;text-align:left;word-wrap: break-word; white-space: normal;">@item.Msgasunto</td>
                                <td style="width: 130px;padding-left: 5px;padding-right: 5px;text-align:center;word-wrap: break-word; white-space: normal;">@item.Msgto</td>
                                <td style="width: 130px;padding-left: 5px;padding-right: 5px;text-align:center">@item.Msgfrom</td>
                                <td style="width: 170px;padding-left: 5px;padding-right: 5px;text-align:left;word-wrap: break-word; white-space: normal;">@item.Emprnomb</td>
                                <td style="width: 110px;padding-left: 5px;padding-right: 5px;text-align:center">@item.MsgfeccreacionDesc</td>
                                <td style="width: 125px;padding-left: 5px;padding-right: 5px;text-align:center">@item.Msgusucreacion</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </td>
    </tr>
</table>


