<table border="0" class="pretty tabla-icono" id="tabla7d">
    <thead>
        <tr>
            <th>EmprNomb</th>
            <th>AreaNomb</th>
            <th>EquiAbrev</th>
            <th>EquiCodi</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Clase</th>
            <th>Descripción</th>
            <th>TareaCodi</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntervenciones)
        {
            int sPK = item.Intercodi;
            <tr id="fila_@sPK">
                <td class="text_left" style="text-align:left">@item.EmprNomb</td>
                <td class="text_left" style="text-align:left">@item.AreaNomb</td>
                <td class="text_left" style="text-align:left">@item.Equiabrev</td>
                <td class="text_left" style="text-align:left">@item.Equicodi</td>
                <td class="text_left" style="text-align:left">@item.Interfechaini.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Interfechafin.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text_left" style="text-align:left">@item.Clase</td>
                <td class="text_left" style="text-align:left">@item.Interdescrip</td>
                <td class="text_left" style="text-align:left">@item.InterTeosinerg</td>               
            </tr>
        }
    </tbody>
</table>