@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.FileModel
           
<table id="tbDocumentLibrary" class="pretty tabla-icono">
    <thead>
        <tr>
            <th></th>
            <th>Documento</th>
            <th>Tamaño</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDocumentos)
        {
            <tr style="cursor:pointer">
                <td onclick="descargarArchivo('@item.FileUrl', '@item.FileType', '@item.Extension')"><img src="~/Content/Images/Document/@item.Icono" /></td>
                <td onclick="descargarArchivo('@item.FileUrl', '@item.FileType', '@item.Extension')">@item.FileName</td>
                <td>@item.FileSize</td>
                <td onclick="eliminarArchivo('@item.FileUrl', '@item.FileType', '@item.Extension',@Model.Famabrev)"><img src="~/Content/Images/ico-delete.gif" /></td>
            </tr>
        }
    
    </tbody>
</table>