@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.SrmRecomendacionModel
<script src="~/Areas/SeguimientoRecomendacion/Content/Scripts/recomendacioneditar.js?v=2"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<style>
    div.ex {
        width: 200px;
        max-width: 200px;
    }
</style>
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<!--Carga de archivos-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<!--Formateador del lado del cliente-->
<script src="~/Content/Scripts/jquery.format.js"></script>



<div class="panel-container" id="mainLayout">


    <form id="form" name="form">

                <div class="action-message" id="mensaje" style="margin-bottom:10px">Ingrese los datos.</div>
                <table>
                    <tr>
                        <td>
                            <input type="hidden" id="hfSrmrecCodi" value="@Model.SrmRecomendacion.Srmreccodi" name="SrmrecCodi" />
                            <input type="hidden" id="hfAccion" value="@Model.Accion" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="hfEvenCodi" name="EvenCodi" value="@Model.SrmRecomendacion.Evencodi" />
                        </td>
                    </tr>
                    <tr>
                        <td>Equipo</td>
                        <td>
                            <span id="spanEquipo">@Model.EquiAbrev</span>
                            @if (Model.IndicadorGrabar)
                            {
                                <input type="button" id="btnBuscarEquipo" value="Seleccionar" />
                            }
                            <input type="hidden" id="hfEquiCodi" name="EquiCodi" value="@Model.SrmRecomendacion.Equicodi" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblEmpresa">Empresa</span>
                        </td>
                        <td>
                            <input id="txtEmpresa" type="text" name="Emprnomb" value="@Model.Emprnomb" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblArea">Subestaci&oacute;n</span>
                        </td>
                        <td>
                            <input id="txtArea" type="text" name="Areanomb" value="@Model.Areanomb" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <td>Criticidad</td>
                        <td>
                            <select id="cbSrmcrtcodi" name="Srmcrtcodi" style="width:300px">
                                @foreach (var item in Model.ListaSrmCriticidad)
                                {
                                    <option value="@item.Srmcrtcodi">@item.Srmcrtdescrip</option>
                                }
                            </select>
                            <input type="hidden" id="hfSrmcrtcodi" name="Srmcrtcodi" value="@Model.SrmRecomendacion.Srmcrtcodi" />
                        </td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>
                            <select id="cbSrmstdcodi" name="Srmstdcodi" style="width:300px">
                                @foreach (var item in Model.ListaSrmEstado)
                                {
                                    <option value="@item.Srmstdcodi">@item.Srmstddescrip</option>
                                }
                            </select>
                            <input type="hidden" id="hfSrmstdcodi" name="Srmstdcodi" value="@Model.SrmRecomendacion.Srmstdcodi" />
                        </td>
                    </tr>
                    <tr>
                        <td>Responsable</td>
                        <td>
                            <select id="cbUsercode" name="Usercode" style="width:300px">
                                @foreach (var item in Model.ListaFwUser)
                                {
                                    <option value="@item.USERCODE">@item.USERNAME</option>
                                }
                            </select>
                            <input type="hidden" id="hfUsercode" name="Usercode" value="@Model.SrmRecomendacion.Usercode" />
                        </td>
                    </tr>
                    <tr>
                        <td id="lblSrmrecFecharecomend ">Fecha Recomendaci&oacute;n</td>
                        <td>
                          
                            <input id="txtSrmrecFecharecomend" type="text" name="SrmrecFecharecomend" value="@Model.SrmRecomendacion.Fecharecomendacion" />
                        </td>
                    </tr>
                    <tr>
                        <td id="lblSrmrecFechavencim ">Fecha Vencimiento</td>
                        <td>
                            
                            <input id="txtSrmrecFechavencim" type="text" name="SrmrecFechavencim" value="@Model.SrmRecomendacion.Fechavencimiento" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblSrmrecDianotifplazo">D&iacute;a Notificaci&oacute;n</span>
                        </td>
                        <td>
                            <input id="txtSrmrecDianotifplazo" type="text" name="SrmrecDianotifplazo" value="@Model.SrmRecomendacion.Srmrecdianotifplazo">
                        </td>
                    </tr>
                    <tr>
                        <td id="lblSrmrecTitulo">T&iacute;tulo</td>
                        <td class="registro-control">
                            <textarea id="txtSrmrecTitulo" maxlength="250" name="SrmrecTitulo" cols="60" rows="3">@Model.SrmRecomendacion.Srmrectitulo</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td id="lblSrmrecRecomendacion">Recomendaci&oacute;n</td>
                        <td class="registro-control">
                            <textarea id="txtSrmrecRecomendacion" maxlength="2000" name="SrmrecRecomendacion" cols="60" rows="3">@Model.SrmRecomendacion.Srmrecrecomendacion</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Carga de archivos</td>
                        <td>

                            <input type="button" id="btnSelectFile" value="Seleccionar archivo" style="margin-left:0" />
                            <input type="button" value="Cancelar Carga" id="btnCancelarCarga" onclick="cancelarCarga();" />
                            <div id="container" @*class="file-carga"*@ class="div.ex" style="width:100%; margin-top:10px">
                                <div class="file-carga-titulo">Archivos seleccionados</div>
                                <div id="loadingcarga" class="estado-carga">
                                    <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
                                    <div class="estado-text">Cargando...</div>
                                </div>
                                <div id="filelist">No soportado por el navegador.</div>
                                <div style="width:200px; text-align:center; margin:auto; margin-top:20px">
                                    <input type="button" value="Cargar archivos" id="btnCargarArchivo" hidden="hidden" />
                                </div>
                            </div>
                            <div id="listaArchivos">
                            </div>
                        </td>
                    </tr>                   
                </table> 
                <input type="hidden" id="hfSrmrecActivo" name="SrmrecActivo" value="@Model.SrmRecomendacion.Srmrecactivo" />
                <table>
                  
                    @if (@Model.SrmRecomendacion.Srmreccodi != 0)
                    {
                        <tr>
                            <td class="registro-control">
                                <input id="txtSrmrecUsucreacion" type="text" name="SrmrecUsucreacion" value="@Model.SrmRecomendacion.Srmrecusucreacion" readonly="readonly" hidden="hidden">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                        var fechaSrmrecFeccreacion = "";
                        if (Model.SrmRecomendacion.Srmrecfeccreacion != null)
                        {
                            fechaSrmrecFeccreacion = ((DateTime)Model.SrmRecomendacion.Srmrecfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                                }
                                <input id="txtSrmrecFeccreacion" type="text" name="SrmrecFeccreacion" value="@fechaSrmrecFeccreacion" readonly="readonly" hidden="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-control">
                                <input id="txtSrmrecUsumodificacion" type="text" name="SrmrecUsumodificacion" value="@Model.SrmRecomendacion.Srmrecusumodificacion" readonly="readonly" hidden="hidden">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                        var fechaSrmrecFecmodificacion = "";
                        if (Model.SrmRecomendacion.Srmrecfecmodificacion != null)
                        {
                            fechaSrmrecFecmodificacion = ((DateTime)Model.SrmRecomendacion.Srmrecfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                                }
                                <input id="txtSrmrecFecmodificacion" type="text" name="SrmrecFecmodificacion" value="@fechaSrmrecFecmodificacion" readonly="readonly" hidden="hidden" />
                            </td>
                        </tr>
                    }
                </table>

                <div style="width:160px; margin:auto">
                    @if (Model.IndicadorGrabar)
                    {
                        <input type="button" id="btnGrabar" value="Grabar" />
                    }

                    <input type="button" id="btnCancelar" value="Cancelar" />
                </div>
    </form>
</div>



<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div ><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Recomendacion</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>

<div id="busquedaEquipo" style="display:none">
</div>
