@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.BusquedaSrmRecomendacionModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:80px; min-width:60px">Acciones</th>
                <th>Empresa</th>
                <th>Subestaci&oacute;n</th>
                <th>Equipo</th>
                <th>Recomendaci&oacute;n</th>
                <th>Fecha Registro</th>
                <th>Fecha Vencimiento</th>
                <th>Responsable</th>
                <th>Criticidad</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaSrmRecomendacion)
            {
                <tr>
                    <td style="width:80px; min-width:60px">
                        @if (Model.AccionEditar)
                        {
                            <a href="JavaScript:editar(@item.Srmreccodi,1)" title="Editar Recomendaci&oacute;n...">
                                <img src="~/Content/Images/btn-edit.png" />
                            </a>
                        }
                        @if (Model.AccionEliminar)
                        {
                            if (item.Srmrecactivo == "S" && item.Evenrcmctaf != "S")
                            {
                                <a href="JavaScript:activarRec(@item.Srmreccodi,'N')" title="Eliminar Recomendaci&oacute;n...">
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            }
                            else if(item.Evenrcmctaf != "S")
                            {
                                <a href="JavaScript:activarRec(@item.Srmreccodi,'S')" title="Recuperar Recomendaci&oacute;n...">
                                    <img src="~/Content/Images/ico-warning.gif" />
                                </a>
                            }
                        }
                        @if (Model.AccionEditar)
                        {

                            var empresa = "";
                            var ssee = "";
                            var equipo = "";

                            empresa = "'" + @item.Emprnomb + "'";
                            ssee = "'" + @item.Areanomb + "'";
                            equipo = "'" + @item.Equiabrev + "'";


                            <a href="JavaScript:ver(@item.Srmreccodi,1,@empresa,@ssee,@equipo)" title="Ver Comentarios...">
                                <img src="~/Content/Images/btn-ok.png" />
                            </a>
                        }
                    </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Areanomb</td>
                    <td>@item.Equiabrev</td>
                    <td>@item.Srmrectitulo</td>
                    <td>
                        @{
                        var fechaSrmrecFecharecomend = "";
                        if (item.Srmrecfecharecomend != null)
                        {
                            fechaSrmrecFecharecomend = ((DateTime)item.Srmrecfecharecomend).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                        }
                        @fechaSrmrecFecharecomend
                    </td>
                    <td>
                        @{
                        var fechaSrmrecFechavencim = "";
                        if (item.Srmrecfechavencim != null)
                        {
                            fechaSrmrecFechavencim = ((DateTime)item.Srmrecfechavencim).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                        }
                        @fechaSrmrecFechavencim
                    </td>
                    <td>@item.Srmrecrecomendacion</td>
                    <td style='text-align:center; background: #@item.Srmcrtcolor'>
                        @*@if (item.Srmcrtcolor == "F8F32B")
                        {
                            <font color="#000000">@item.Srmcrtdescrip</font>
                        }
                        else
                        {
                            <font color="#fff">@item.Srmcrtdescrip</font>
                        }*@
                        @item.Srmcrtdescrip
                    </td>
                    <td style='text-align:center; background: #@item.Srmstdcolor'>
                        @*@if (item.Srmstdcolor == "F8F32B")
                        {
                            <font color="#000000">@item.Srmstddescrip</font>
                        }
                        else
                        {
                            <font color="#fff">@item.Srmstddescrip</font>
                        }*@
                        @item.Srmstddescrip
                    </td>
                    <td style="text-align:center">@item.Comentario</td>
                    <td>@item.Srmrecusucreacion</td>
                    <td>
                        @{
                        var fechaSrmrecFeccreacion = "";
                        if (item.Srmrecfeccreacion != null)
                        {
                            fechaSrmrecFeccreacion = ((DateTime)item.Srmrecfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                        }
                        @fechaSrmrecFeccreacion
                    </td>
                    <td>@item.Srmrecusumodificacion</td>
                    <td>
                        @{
                        var fechaSrmrecFecmodificacion = "";
                        if (item.Srmrecfecmodificacion != null)
                        {
                            fechaSrmrecFecmodificacion = ((DateTime)item.Srmrecfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                        }
                        @fechaSrmrecFecmodificacion
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
