@{
    ViewBag.Title = "Cálculo de Garantías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<!--Hoja de estilos-->
<link href="~/Areas/GMM/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<link href="~/Areas/GMM/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/GMM/Content/Scripts/garantia.js"></script>

<script src="~/Areas/GMM/Content/Scripts/util.js"></script>
<script src="~/Areas/GMM/Content/Scripts/json2.js"></script>

<div class="ast">

    <div class="form-title">
        <div class="content-titulo">Gestión del cálculo de garantías</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Para iniciar seleccione un periodo</div>
    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#procesamiento">Procesamiento</a></li>
                <li class='tab'><a href="#reportes">Reportes</a></li>
            </ul>
            <div class='panel-container'>
                <div id="procesamiento">
                    <h3>1. Periodo de ejecución del cálculo de garantías:</h3>
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">

                        <table border="1" cellpadding="6" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="7"><div class="editor-label" style="color:#FFFFFF;"><b>Opciones</b></div></td>
                            </tr>
                            <tr>
                                <td>Periodo: </td>
                                <td>Año: </td>
                                <td>
                                    <select id="anho"></select>
                                </td>
                                <td>Mes: </td>
                                <td>
                                    <select id="mes">
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </td>
                                <td>
                                    <!--<div class="editor-label">Versión </div>-->
                                </td>
                                <td>
                                    <!--<div class="editor-field">
                                        <select id="Version" style="width:100px;"></select>
                                    </div>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-tabla">
                        <div class="content-tabla">
                            <div class="table-list"></div>
                            <br />
                            <table>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>2. Ejecución del cálculo:</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50">
                                        <br />
                                        <input type="button" value="Paso I: Copiar datos insumo" width="220" id="btnRespaldar" name="btnRespaldar" class="form-action" />
                                        <br />
                                        <br />
                                    </td>
                                    <td width="100">
                                        Listado de los insumos para el cálculo.
                                        <a href="#" id="rptInsumos" title="Reporte de insumos copiados"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                        <input type="button" value="  Paso II: Calcular garantías  " width="220" id="btnCalcular" name="btnCalcular" class="form-action" />
                                        <br />
                                        <br />
                                    </td>
                                    <td>
                                        Una vez ejecutada esta etapa puede obtener los resultados en la pestaña "Reportes"
                                        <div>
                                            <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabresultadosCalculo">
                                                <thead>
                                                    <tr>
                                                        <th>Empresa</th>
                                                        <th>E. Activa</th>
                                                        <th>Capacidad</th>
                                                        <th>Peaje</th>
                                                        <th>S. Comple.</th>
                                                        <th>I. Oper.</th>
                                                        <th>E. React.</th>
                                                        <th>Total Garantía</th>
                                                    </tr>
                                                </thead>
                                                 <tbody id="tbodyLista"></tbody>
                                                @*<tbody>
                                                    <tr class="menu-contextual">
                                                        <td style="text-align: left; width: 20px;">
                                                            <input type="text" id="EMPRESA"
                                                                   style="width:350px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="RENERGIA"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="RCAPACIDAD"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="RPEAJE"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="RSCOMPLE"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="RINFLEXOP"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="REREACTIVA"
                                                                   style="width:70px" />
                                                        </td>
                                                        <td style="text-align: right; width: 20px;">
                                                            <input type="text" id="TOTALGARANTIA"
                                                                   style="width:85px" />
                                                        </td>

                                                    </tr>
                                                </tbody>*@
                                            </table>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                        <input type="button" value="Paso III: Cerrar/Abrir periodo" width="220" id="btnPublicar" name="btnPublicar" class="form-action" />
                                    </td>
                                    <td>
                                        <br />
                                        <textarea id="Mensaje3" rows="5" cols="50">
                                            
                                        </textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="reportes">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="5"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para exportar la información deseada</b></div></td>
                            </tr>
                            <tr>
                                <td>Periodo: </td>
                                <td>Año: </td>
                                <td>
                                    <select id="anhorpt"></select>
                                </td>
                                <td>Mes: </td>
                                <td>
                                    <select id="mesrpt">
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="THCabecera">
                                <td colspan="3"><div class="editor-label" style="color:#FFFFFF;"><b>Lista de descargas disponibles</b></div></td>
                                <td colspan="2"><div class="editor-label" style="color:#FFFFFF;"><b>Excel</b></div></td>
                            </tr>
                            <tr>
                                <td colspan="3">Monto de Garantias para respaldar obligaciones de pago en el Mercado Mayorista de Electricidad (Soles):</td>
                                <td colspan="2"><a href="#" id="rpt1" title="Monto de Garantias para respaldar obligaciones de pago en el Mercado Mayorista de Electricidad (Soles)"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por energía activa:</td>
                                <td colspan="2"><a href="#" id="rpt2" title="Montos de Garantías por energía activa"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por capacidad y peaje SPT - SGT:</td>
                                <td colspan="2"><a href="#" id="rpt3" title="Montos de Garantías por capacidad y peaje SPT - SGT"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por servicios complementarios:</td>
                                <td colspan="2"><a href="#" id="rpt4" title="Montos de Garantías por servicios complementarios"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por recaudación de energía reactiva:</td>
                                <td colspan="2"><a href="#" id="rpt5" title="Montos de Garantías por recaudación de energía reactiva"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por Inflexiblidades operativas:</td>
                                <td colspan="2"><a href="#" id="rpt6" title="Montos de Garantías por Inflexiblidades operativas"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<div style="display: none">
    <h3>2. Datos o insumos comunes para el cálculo de todas las empresas participantes:</h3>
    <br />
    <table>
        <tr>
            <td width="80">
                Tipo de cambio (S/ a $):
            </td>
            <td width="100">
                <input type="text" id="tipoCambio" name="tipoCambio"
                       value="@Model.mensajeProcesamiento.TCAMBIO" style="width:100px" />
            </td>
            <td width="80">
                Margen de Reserva:
            </td>
            <td width="100">
                <input type="text" id="margenReserva" name="margenReserva"
                       value="@Model.mensajeProcesamiento.MRESERVA"
                       style="width:100px" />

            </td>
            <td width="80">
                Monto total de inflexibilidad del mes:
            </td>
            <td width="100">
                <input type="text" id="totalInflex" name="totalTINFLEX"
                       value="@Model.mensajeProcesamiento.TINFLEX"
                       style="width:100px" />
            </td>
            <td width="80">
                Monto total recaudado por exceso de energía reactiva:
            </td>
            <td width="100">
                <input type="text" id="totalExceso" name="totalExceso"
                       value="@Model.mensajeProcesamiento.TEXCESO"
                       style="width:100px" />
            </td>
        </tr>
    </table>
</div>

<div style="display: none">
    <textarea id="mensaje1" rows="5" cols="100">
                                            @Model.mensajeProcesamiento.Mensaje1
                                        </textarea>
</div>

<div style="display: none">

<textarea id="mensaje2" rows="5" cols="100">
                                            @Model.mensajeProcesamiento.Mensaje2
                                           </textarea>

</div>


<div style="display: none">

    <textarea id="mensaje3" rows="5" cols="100">
                                            @Model.mensajeProcesamiento.Mensaje3
                                        </textarea>
</div>
