@model COES.MVC.Intranet.Areas.Transferencias.Models.FactorPerdidaMediaModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>CÓDIGO ENTREGA</th>
            <th>BARRA DE TRANSFERENCIA</th>
            <th>EMPRESA</th>
            <th>CENTRAL / GRUPO DE GENERACIÓN</th>
            <th>FACTOR DE PÉRDIDAS MEDIAS</th>
            <th>OBSERVACIONES / COMENTARIOS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaFactoresPerdidaMedia)
        {
            <tr id="fila_@item.Trnfpmcodi">
                <td class="text_left">@item.Codentcodigo</td>
                <td class="text_left">@item.Barrnombre</td>
                <td class="text_left">@item.Emprnomb</td>
                <td class="text_left">@item.Equinomb</td>
                <td style="text-align:right;">@item.Trnfpmvalor.ToString("0.######")</td>
                <td class="text_left">@item.Trnfpmobserv</td>
            </tr>
        }
    </tbody>
</table>
