@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.ImpugnacionesModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrar " + Model.TipoImpugnacion.Timpgnombre;
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
}

<script type="text/javascript">
    $(function () {
        $('.header').hide();
        $('.menu').hide();
        $('.footer').hide();
    })
</script>

<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/administrarImpugnaciones.css" rel="stylesheet" />
<script type="text/javascript">
    var tipoImpugnacion = "@Model.TipoImpugnacion.Timpgcodi";
</script>
<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>
<script src="~/Areas/DirectorioImpugnaciones/Contents/Scripts/administrarImpugnaciones.js"></script>

<div class="action-message">Agregue o edite registros</div>
<div class="content-search">
    <table>
        <tbody>
            <tr>
                <td>Año</td>
                <td>
                    <select id="fecAnio">
                        @for (int i = System.DateTime.Now.Year; i > 2009; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </td>
                <td>Mes</td>
                <td>
                    <select id="fecMes">
                        @for (int i = 0; i < meses.Length; i++)
                        {
                            if (i == System.DateTime.Now.Month - 1)
                            {
                                <option selected value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                            }
                            else
                            {
                                <option value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                            }
                        }
                    </select>
                </td>
                <td rowspan="2" align="center">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </td>
                <td rowspan="2">
                    <input id="btnAgregarDocumento" type="button" value="Nuevo registro" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="clear:both; height:10px"></div>
<div id="listaImpugnaciones"></div>

<div style="clear:both"></div>