@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.ImpugnacionesModel

<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th></th>
            <th>N° en el mes</th>
            <th>Registro SGDOC</th>
            <th>Impugnante</th>
            <th>Decisión Impugnada</th>
            <th>Petitorio</th>
            <th>Fecha Recepción</th>
            <th>Fecha Publicación en Portal</th>
            <th>Plazo Incorporación</th>
            <th>Incorporaciones Presentadas</th>
            <th>@Html.Raw(Model.TipoImpugnacion.Timpgnombdecision)</th>
            <th>@Html.Raw(Model.TipoImpugnacion.Timpgnombrefecha)</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var impugnacion in Model.ListaImpugnaciones)
        {
            <tr>
                <td>
                    @if (impugnacion.Impgextension.ToLower() == "pdf")
                    {
                        <a href="JavaScript:downloadBlob(@impugnacion.Impgcodi)"><img src="~/Content/Images/pdficon.png" /></a>
                    }
                    else if (impugnacion.Impgextension.ToLower() == "rar" || impugnacion.Impgextension.ToLower() == "zip")
                    {
                        <a href="JavaScript:downloadBlob(@impugnacion.Impgcodi)"><img src="~/Content/Images/zipicon.gif" /></a>
                    }
                    else{
                        <a href="JavaScript:downloadBlob(@impugnacion.Impgcodi)"><img src="~/Content/Images/defaulticon.png" /></a>
                    }

                </td>
                <td>@impugnacion.Impgnumeromes</td>
                <td>@impugnacion.Impgregsgdoc</td>
                <td>@impugnacion.Impginpugnante</td>
                <td class="celda">@Html.Raw(impugnacion.Impgdescinpugnad)</td>
                <td class="celda">@Html.Raw(impugnacion.Impgpetitorio)</td>
                <td>@if (impugnacion.Impgfechrecep != null) { @impugnacion.Impgfechrecep.Value.ToString("dd/MMM/yyyy", new System.Globalization.CultureInfo("es-Es")); }</td>
                <td>@if (impugnacion.Impgfechpubli != null) { @impugnacion.Impgfechpubli.Value.ToString("dd/MMM/yyyy", new System.Globalization.CultureInfo("es-Es")); }</td>
                <td>@if (impugnacion.Impgplazincorp != null) { @impugnacion.Impgplazincorp.Value.ToString("dd/MMM/yyyy", new System.Globalization.CultureInfo("es-Es")); }</td>
                <td>@impugnacion.Impgincorpresent</td>
                <td class="celda">@Html.Raw(impugnacion.Impgdescdirecc)</td>
                <td>@if (impugnacion.Impgfechdesc != null) { @impugnacion.Impgfechdesc.Value.ToString("dd/MMM/yyyy", new System.Globalization.CultureInfo("es-Es")); }</td>
                @{var mes = impugnacion.Impgmesanio.Value.ToString("MM", new System.Globalization.CultureInfo("es-ES"));}
                @{var anio = impugnacion.Impgmesanio.Value.ToString("yyyy", new System.Globalization.CultureInfo("es-ES"));}
                <td><a href="Javascript:editarDocumento(@impugnacion.Impgcodi)"><img src="~/Content/Images/btn-edit.png" /></a></td>
                <td><a href="JavaScript:eliminarDocumento(@impugnacion.Impgcodi)"><img src="~/Content/Images/btn-cancel.png" /></a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    var numeroImpugnaciones = @Model.ListaImpugnaciones.Count;
</script>
<br />