@model COES.MVC.Intranet.Areas.RechazoCarga.Models.EsquemaUnifilarModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Subestación</th>
                <th>Nombre Punto Medición</th>
                <th>Diagrama Unifilar</th>                
                <th>Fecha de Presentación</th>    
                <th>Estado</th>                
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListEsquemaUnifilar)
            {
                <tr class="menu-contextual">
                    <td style="text-align: left; width: 120px;">@item.Emprrazsocial</td>
                    <td style="text-align: left; width: 120px;">@item.Areanomb</td>
                    <td style="text-align: left; width: 120px;">@item.Equinomb</td>
                    <td style="text-align: left; width: 100px;">
                        <a target="_blank" href="~/@(COES.MVC.Intranet.Helper.Constantes.RutaCarga+item.Rcesqunombarchivo)">
                           @item.Rcesqudocumento
                        </a>
                    </td>                    
                    <td style="text-align: left; width: 100px;">@(((DateTime)item.Rcesqufecharecepcion).ToString("dd/MM/yyyy"))</td>                   
                    @if (item.Rcesquestado == "1")
                    {
                        <td style="text-align: left; width: 80px;">Vigente</td>
                    }
                    else
                    {
                        <td style="text-align: left; background-color: red; width: 80px;">No Vigente</td>
                    }
                    <td style="width:80px;">
                        <a href="JavaScript:modificarEsquemaUnifilar('@item.Rcesqucodi');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                        <a href="JavaScript:consultarHistorial('@item.Emprcodi','@item.Equicodi');" title="Historial">
                            <img src="~/Content/Images/btn-properties.png" alt="">
                        </a>
                        <a href="JavaScript:eliminarEsquemaUnifilar('@item.Rcesqucodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }           

        </tbody>
    </table>
</form>


