@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EquipoGPSModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var lista_empresas = (IEnumerable<SelectListItem>)TempData["ListaEmpresas"];
    var lista_oficial = (IEnumerable<SelectListItem>)TempData["ListaOficial"];
    var lista_tipo = (IEnumerable<SelectListItem>)TempData["ListaTipo"];
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
    var lista_gen_alarma = (IEnumerable<SelectListItem>)TempData["ListaGenAlarma"];
    var lista_estado = (IEnumerable<SelectListItem>)TempData["ListaEstado"];
}
<link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
<link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/EquipoGPS.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "EquipoGPS", FormMethod.Post, new { id = "frmEquipoGPS", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entidad.GPSCodiOriginal)
    @Html.Hidden("Entidad.GPSUsuarioRegi", User.Identity.Name)
    @Html.Hidden("sAccion", sAccion)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index","EquipoGPS")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5">

                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;" id="sError">

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Código")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Entidad.GPSCodi, new { @class = "form-control2", required = "required", data_msg_required = "Código es requerido.", maxlength = 10, autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Entidad.GPSCodi)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Nombre")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.NombreEquipo, new { @class = "form-control2", required = "required", data_msg_required = "Nombre Equipo es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.NombreEquipo, new { @class = "form-control2", required = "required", data_msg_required = "Nombre Equipo es requerido." })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.NombreEquipo)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Empresa")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.EmpresaCodi", @lista_empresas, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.EmpresaCodi", @lista_empresas, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Oficial")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSOficial", @lista_oficial, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Oficial es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSOficial", @lista_oficial, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Oficial es requerido." })
                            }

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Tipo")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSTipo", @lista_tipo, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Tipo es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSTipo", @lista_tipo, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Tipo es requerido." })
                            }

                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Respaldo GPS")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.EquipoCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.EquipoCodi", @lista_equipos, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("OSINERG")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.GPSOSINERG, new { @class = "form-control2", maxlength = 7, @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.GPSOSINERG, new { @class = "form-control2", maxlength = 7 })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.GPSOSINERG)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Gen. Alarma")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSGenAlarma", @lista_gen_alarma, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Gen. Alarma es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSGenAlarma", @lista_gen_alarma, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Gen. Alarma es requerido." })
                            }

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Estado")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSEstado", @lista_estado, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Estado es requerido.", @disabled = "disabled" })
                            }
                            else if (sAccion == "Insertar")
                            {
                                @Html.DropDownList("Entidad.GPSEstado", @lista_estado, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Estado es requerido.", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSEstado", @lista_estado, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", required = "required", data_msg_required = "Campo Estado es requerido." })
                            }

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Ruta File")

                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.RutaFile, new { @class = "form-control2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.RutaFile, new { @class = "form-control2" })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.RutaFile)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmEquipoGPS").validate({
        rules: {
            "Entidad.NombreEquipo": {
                required: true
            },
            "Entidad.GPSOficial": {
                required: true,

            },
            "Entidad.GPSTipo": {
                required: true,

            },



        }
    });


</script>
<script>
    var sAccion = '@sAccion';
    if (sAccion == "Insertar") {
        //document.forms[0].Entidad_EstdAbrev[0].checked = true;
    }
</script>