@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EquipoGPSModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Equipo GPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<script src="~/Areas/ReportesFrecuencia/Content/Scripts/EquipoGPS.js"></script>
<div class="ast">
    @if (@sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title" style="display: flex; align-items: center; width: 100%;">
        <div class="content-titulo" style="margin-right: auto;">Registro de Equipo GPS</div>
        <div class="content-botonera" style="display: flex; align-items: center;">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New","EquipoGPS")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","EquipoGPS")'" alt="Refrescar" title="Refrescar" />
            <a href="#" id="btnManualUsuario" style="text-decoration: none; margin-left: 20px; margin-top: -5px;">
                <div style="text-align: center; line-height: 15px; font-size: 12px;">
                    <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; margin-left: -10px;"><br>
                    <span style="color: #278CCC;">Manual de Usuario</span>
                </div>
            </a>
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
            @Html.Action("Lista")
        </div>
    </div>

</div>
