@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EquipoGPSModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Código</th>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Oficial</th>
            <th>Tipo</th>
            <th>Cod.OSINERG</th>
            <th>Respaldo</th>
            <th>Gen.Alarma</th>
            <th style="width:30px;">Estado</th>
            <th>Ruta File</th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>

        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaEquipos)
        {
        <tr id="fila_@item.EquipoCodi">
            <td style="font-weight:bold">@contador</td>
            <td style="text-align:left;">@item.GPSCodi</td>
            <td>@item.Empresa</td>
            <td>@item.NombreEquipo</td>
            <td>@item.GPSDescOficial</td>
            <td>@item.GPSTipo</td>
            <td>@item.GPSOSINERG</td>
            <td>@item.GPSRespaldo</td>
            <td>@item.GPSDescGenAlarma</td>
            <td>@item.GPSDescEstado</td>
            <td>@item.RutaFile</td>

            <td style="width:30px;">
                @*@if (Model.bEditar)
            {*@
                <a href="@Url.Action("Edit", new { id = item.GPSCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                @*}*@
            </td>

            <td style="width:30px;">
                @*@if (Model.bEditar)
            {*@
                <a href="@Url.Action("Delete", new { id = item.GPSCodi })"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                @*}*@
            </td>
        </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>