@model COES.MVC.Intranet.Areas.PMPO.Models.QnConfiguracionModel

<div style="clear:both; height:10px"></div>

<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />
<table style="">
    <tr>

        <td colspan="3">
            <div>
                <div class="search-content" style="margin-bottom: -10px;">

                    <table class="content-tabla-search" style="width:auto" role="presentation">
                        <tr>
                            <td style="padding-left: 15px;">SDDP(*):</td>

                            <td>
                                <select id="txtSddp" style="width: 280px;">
                                    <option value="0">[ Escoge un SDDP ]</option>
                                    @foreach (var item in Model.ListaSddp)
                                    {
                                         <option value="@item.Sddpcodi">@item.CodinombSDDP</option>
                                    }
                                </select>                                
                                <input type="hidden" id="hfSddp" value="@Model.EstacionH.Sddpcodi" />
                            </td>
                            <td style="font-weight: bold; font-size: 13px;">
                                <input type="checkbox" id="chkIntegrante" />Es Integrante
                                <input type="hidden" id="hfIntegrante" value="@Model.EstacionH.Pmehintegrante" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 15px;">Referencia:</td>
                            <td>
                                <input type="text" id="txtReferencia" value="@Model.EstacionH.Pmehreferencia" style="width: 220px;" />
                                <input type="hidden" id="hfReferencia" value="@Model.EstacionH.Pmehreferencia" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 15px;">Comentario:</td>
                            <td>
                                <input type="text" id="txtDescripcion" value="@Model.EstacionH.Pmehdesc" style="width: 500px;" />
                                <input type="hidden" id="hfDescripcion" value="@Model.EstacionH.Pmehdesc" />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td style="width: 500px;">
            <fieldset style="margin-top: 15px; ">
                <legend>Listado General de Ptos de Medición</legend>

                <div id="ori_equipos" style="height: 400px; width:85%; float:left; text-align:center; padding-left: 20px;"> </div>
                @if (Model.TienePermisoNuevo)
                {
                    <div style="float:right; padding-top: 180px;">                       
                        <input type="image" id="btnMoveRight" src='~/Content/Images/toRight.png' alt="Submit" width="30" height="30">
                    </div>
                }
            </fieldset>
        </td>
        <td>
            <fieldset style="margin-top: 15px; ">
                <legend>Listado de Ptos de Medición de la Estación Hidrológica</legend>
                @if (Model.TienePermisoNuevo)
                {
                    <div style="float:left; padding-top: 180px;">                       
                        <input type="image" id="btnMoveLeft" src='~/Content/Images/toLeft.png' alt="Submit" width="30" height="30">
                    </div>
                }
                <div id="des_equipos" style="height: 400px; width:90%; float:left; text-align:center; padding-left: 25px;"> </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.TienePermisoNuevo)
            {
                <p class="leyenda" style="padding-right: 95px;"> <b>(*)</b> Campos obligatorios. </p>
            }
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center; padding: 15px;">
            @if (Model.TienePermisoNuevo)
            {
                if (Model.EsNuevo)
                {
                    <input style="" type="button" id="btnGrabarEstacionH" value="Grabar" />
                }
                else
                {
                    <input style="" type="button" id="btnActualizarEstacionH" value="Actualizar" />
                }
                <input style="" type="button" id="btnCancelarEstacionH" value="Cancelar" />
            }
        </td>
    </tr>
</table>
