@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Combustible";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<!--IND.PR25.2022-->
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<!---->

<link href="~/Areas/IND/Content/Css/css.css" rel="stylesheet" />

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<!--IND.PR25.2022-->
<script src="~/Areas/IND/Content/Scripts/insumo_combustible.js?v=1.4.7"></script>
<!---->

<div class="form-title">
    <div class="content-titulo">Stock de Combustible</div><!--IND.PR25.2022-->
</div>

<div id="mainLayout" class="content-hijoSC">

    <!--IND.PR25.2022-->
    <div id="tab-container" class='tab-containerSC'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaConsulta">Consulta</a></li>
            <li class='tab'><a href="#vistaImportacion">Importación</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaConsulta">
                <div class="search-content">
                    <table style="width:auto" role="presentation" class="content-tabla-search">
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                            <td>
                                <select id="cbAnio" style="width: 57px;">
                                    @foreach (var item in Model.ListaAnio)
                                    {
                                        var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                        <option value="@item.Entero1" @(selected)>@item.String1</option>
                                    }
                                </select>
                                <select id="cbPeriodo" style="width: 120px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                                        <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                                    }
                                </select>
                            </td>

                            <td class="tbform-label" style="">Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="cbEmpresa">
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfEmpresa" value="-1" />
                            </td>

                            <td>
                                <input type="button" id="btnBuscar" value="Consultar" />
                            </td>

                            <td class="content-action">
                                <a href="#" id="btnExportarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/ExportExcel.png" alt="logo" /><br />
                                        Reporte de la Extranet<!--IND.PR25.2022-->
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div id="mensajeListado1" style="margin-bottom: 5px; margin-top: 0px; color: red;"></div>
                <div id="listado1" class="table-list" style=" min-height: 450px;"></div>
                <div id="div_cambios_app" style="width:90%; display: none ">
                    <div style="    font-size: 12px;    font-weight: bold;    margin-bottom: 20px;    margin-top: 20px;">
                        Histórico de cambios del usuario con respecto al stock de combustible
                    </div>
                    <div id="div_tabla_cambios" style=" min-height: 300px;"></div>
                </div>
            </div>
            <div id="vistaImportacion">
                <div class="search-content">
                    <table style="width:auto" role="presentation" class="content-tabla-search">
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                            <td>
                                <select id="cbAnio2" style="width: 57px;">
                                    @foreach (var item in Model.ListaAnio)
                                    {
                                        var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                        <option value="@item.Entero1" @(selected)>@item.String1</option>
                                    }
                                </select>
                                <select id="cbPeriodo2" style="width: 120px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                                        <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                                    }
                                </select>
                            </td>
                            <td class="tbform-label" style="">Fecha inicio:</td>
                            <td>
                                <input type="text" id="dtFechaInicio2" value="" style="width: 95px" />
                            </td>
                            <td class="tbform-label" style="">Fecha fin:</td>
                            <td>
                                <input type="text" id="dtFechaFin2" value="" style="width: 95px" />
                            </td>
                            <td>
                                <input type="button" id="btnImportar" value="Importar" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="checkbox" id="cbHistorico" />
                                ¿Desea preservar el histórico de cambios?
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="notaImportante" style="margin-bottom:5px; margin-top:0px">
                    <span style="color:red;">Nota Importante:</span><br /><br />
                    La importación será desde la Extranet hacia la Intranet y se realizará para todas las empresas/centrales en el periodo y fechas especificadas.<br />
                    En el caso que existan registros en la Intranet para dicho rango de fechas, los datos se perderán y serán reemplazados por los registros de la Extranet.
                </div>
            </div>
        </div>
    </div>


    <!--Inicio: Popup-->
    <div id="popupEditar" class="popup-class-1 general-popup" style="z-index: 9999999999; display: none; width: auto">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Editar</span></div>

        <div id="" class="">
            <div id="" style="margin-top: 10px;"></div>

            <form id="frmModificacion">
                <div hidden>
                    <input type="hidden" id="txtStkDetCodi" name="StkDetCodi" />
                    <input type="hidden" id="txtNumDias" name="NumDias" />
                    <input type="hidden" id="txtRow" name="Row" />
                    <select id="cbStockOrigDias" name="cbStockOrigDias"></select>
                    <select id="cbStockModiDias" name="cbStockModiDias"></select>
                </div>
                <table id="tablaPopuEditar" style="margin-top: 10px;">
                    <tr>
                        <td class="tbform-label">Empresa</td>
                        <td><input type="text" id="txtEmprnomb" name="Emprnomb" style="width:200px" disabled /></td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Central</td>
                        <td><input type="text" id="txtEquinombcentral" name="Equinombcentral" style="width:200px" disabled /></td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Unidad</td>
                        <td><input type="text" id="txtEquinombunidad" name="Equinombunidad" style="width:200px" disabled /></td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Tipo de Combustible</td>
                        <td><input type="text" id="txtTipoinfodesc" name="Tipoinfodesc" style="width:200px" disabled /></td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Día de stock a actualizar</td>
                        <td>
                            <select id="cbNumeroDias" name="NumeroDias" disabled>
                                <option value="0">--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Stock Original</td>
                        <td><input type="text" id="txtStockOrigDia" name="StockOrigDia" style="width:120px" disabled /></td>
                        <td class="tbform-label">Stock Modificado</td>
                        <td><input type="text" id="txtStockModiDia" name="StockModiDia" style="width:120px" required onkeypress="return validarNumero(this, event)" /></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right">
                            <input id="btnGuardar" type="button" value="Guardar" style="margin-top: 15px;"><!--type="submit"-->
                            <input type="button" value="Cancelar" onclick="$('#popupEditar').bPopup().close();">
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <!--Fin: Popup-->
</div>