@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ConsultaEstimadorModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/ConsultaEstimador/estimador_transformadores.js?v=2.2"></script>

<div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje" data-mdl="@Model.idModulo">
    <div class="ws-wrapper" style="min-height: 600px;">
        <div class="ws-options is-left">
            <div class="tool-item">
                <label id="btnAgruparTransformadores" title="Agrupar Transformadores">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-agrupacion.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btnExportar" title="Exportar Pronóstico por Barras">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                </label>
            </div>
        </div>
        <div class="ws-content is-middle">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Transformador</div>
                    <select id="idUnidad" class="filtroSimple">
                        @foreach (var item in Model.ListaUnidadesEstimador)
                        {
                            if (item.Origlectcodi == 36)
                            {
                                <option value="@item.Ptomedicodi">[SCO] @item.Ptomedidesc</option>
                            }
                            else
                            {
                                <option value="@item.Ptomedicodi">[IEOD] @item.Ptomedidesc</option>
                            }
                        }
                    </select>
                </div>
                <div class="filters">
                    <div>Enlace</div>
                    <select id="idCentral" class="filtroSimple">
                        @foreach (var item in Model.ListaAsociacion)
                        {
                            <option value="@item.Asociacodi">@item.Asocianom</option>
                        }
                    </select>
                </div>
                <div class="filters">
                    <div>Variable</div>
                    <select id="idVariable" class="filtroSimple2">
                        @foreach (var item in Model.ListaVariables)
                        {
                            if (item.Prnvarcodi == Model.ListaVariables[0].Prnvarcodi)
                            {
                                <option value="@item.Prnvarcodi" selected>@item.Prnvarnom</option>
                            }
                            else
                            {
                                <option value="@item.Prnvarcodi">@item.Prnvarnom</option>
                            }
                        }
                    </select>
                </div>
                <div class="filters">
                    <div>Fuente</div>
                    <select id="idFuente" class="filtroSimple2">
                        <option value="2" selected>SCO</option>
                        <option value="1">IEOD</option>
                    </select>
                </div>
            </div>
            <div class="ws-content-body">
                <div class="ws-wrapper" style="height: 500px;">
                    <div id="ht"
                         style="min-width: 500px; overflow: auto;"></div>
                    <div id="hc"
                         style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="ws-tools as-box-container is-right">
            <div class="box">
                <div class="box-title">
                    Herramientas
                </div>
                <div class="box-body">
                    <input id="med1" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med2" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med3" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med4" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med5" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med6" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med7" type="text" class="toolHistorico ws-tool-calendar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup-transformadores" class="general-popup" style="min-width: 700px; min-height: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Mantenimiento de Enlaces</span>
        <input id="btnRegistrarAsociacion" class="ws-float-r" type="button" value="Guardar cambios" />
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div id="pop-alert" style="display: none"></div>
        <div class="v-panel">
            <div class="ws-wrapper is-menu" style="margin-bottom: 10px">
                <div style="margin-right: 10px;">
                    <label id="btnPopNuevo" title="Agregar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-nuevo.png" />
                    </label>
                </div>
                <div style="margin-right: 10px;">
                    <label id="btnPopActualizar" title="Actualizar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-update.png" />
                    </label>
                </div>
                <div>
                    <label id="btnPopEliminar" title="Eliminar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-delete.png" />
                    </label>
                </div>
            </div>
            <div style="width: 100%; margin-bottom: 10px;">
                <div style="padding-right: 5px;">
                    <label>Nombre registro</label>
                    <input id="txtPopNombre" type="text" style="width: 100%;" />
                </div>

            </div>
            <div class="ws-wrapper" style="margin-bottom: 10px">
                <table id="dtGrupos" class="pretty table-icono" style="width: 700px;"></table>
            </div>
            <div class="ws-wrapper">
                <table id="dtSeleccionados" class="pretty table-icono" style="width: 345px;"></table>
                <div style="padding: 0px 5px"></div>
                <table id="dtDisponibles" class="pretty table-icono" style="width: 345px;"></table>
            </div>
        </div>
    </div>
</div>
