@model COES.MVC.Publico.Models.BrowserModel
@{
    Layout = null;
}

<link href="~/Content/Css/browser.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css?v=1.5" rel="stylesheet" />
<script src="~/Content/Scripts/arbol.js?v=4.5"></script>
<script src="~/Content/Scripts/jquery.tooltip.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js?v=1.5"></script>
<script src="~/Content/Scripts/multidownload.js"></script>

@*<div class="content-area mx-auto">
    <div class="container">
        <div class="row">*@
            <div class="col-12 col-md-12 mb-md-4">
                <div class="coes-box mb-3">
                    <div class="coes-box--header-no-content">
                        <h3 class="coes-box--title">@Model.BreadName</h3>

                    </div>
                </div>

                <div class="d-flex mb-3" id="cabecera">
                    <span class="me-2">Descargar: </span>
                    <button class="button-icon button-icon-file" id="btn-downloadfile"></button>
                    <button class="button-icon button-icon-zip" id="btn-downloadzip"></button>
                </div>

                <div style="clear:both"></div>

                <input type="hidden" id="hfBaseDirectory" value="@Model.BaseDirectory" />
                <input type="hidden" id="hfRelativeDirectory" value="@Model.BaseDirectory" />
                <input type="hidden" id="hfOrigenDirectory" />
                <input type="hidden" id="hfOperacionPegar" />
                <input type="hidden" id="hfTipoVista" value="B" />
                <input type="hidden" id="hfOrigen" value="@Model.Origen" />
                <input type="hidden" id="hfBreadName" value="@Model.BreadName" />

                <div class="pagina-web">
                    <div id="browserDocument"></div>
                    <div class="general-popup" id="popupFolder">
                        <div id="divContenedorFolder">

                        </div>
                    </div>
                </div>

                <div id="multiDownload">

                </div>
                <input type="text" id="txtCopy" style="width:1px;height:1px;border:1px none;color:#fff;" />
            </div>
        @*</div>
    </div>
</div>*@