@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ResultadoModel

<table border="0" class="pretty tabla-icono" id="tablaListado">
    <thead>
        <tr>
            <th></th>
            <th>Hora</th>
            <th>Fecha Ejec.</th>
            <th>Est.</th>
            <th>PDO-RDO</th>
            <th>Versión</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ string pConCmgnusucreacion = ""; }

        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                if (item.Cmgnusucreacion == null)
                {
                    pConCmgnusucreacion = "";
                }
                else
                {
                    pConCmgnusucreacion = item.Cmgnusucreacion.Trim();
                }
                <tr>
                    <td>
                        <a href="JavaScript:verResultado(@item.Cmgncorrelativo, '@item.CmgnfechaDesc',  @item.TipoProceso, '@pConCmgnusucreacion');"><img src="~/Content/Images/btn-properties.png" title="Muestra los resultados por barra" /></a>

                        @if (Model.OpcionGrabar)
                        {
                            <a href="JavaScript:eliminarCorrida(@item.Cmgncorrelativo);"><img src="~/Content/Images/btn-cancel.png" title="Permite eliminar los datos de la corrida." /></a>
                            @*<a href="JavaScript:coordenadas(@item.Cmgncorrelativo);"><img src="~/Content/Images/btn-map.png" title="Permite ver los resultados en un mapa" /></a>*@
                        }
                        <a href="JavaScript:verArchivo(@item.Cmgncorrelativo);"><img src="~/Content/Images/folder_open.png" title="Permite ver los logs del proceso" /></a>

                    </td>
                    <td>@item.Cmgnfecha.ToString("HH:mm")</td>
                    <td>@(((DateTime)item.Cmgnfeccreacion).ToString("dd/MM/yyyy HH:mm"))</td>
                    <td>@item.TipoEstimador</td>
                    <td>@item.VersionPDO</td>
                    <td>
                        @if(item.Cmveprversion == 1)
                    {
                        <span>CMgCP_v1</span>
                    }
                         else if (item.Cmveprversion == 2)
                    {
                         <span>CMgCP_v2</span>
                    }
                    </td>
                    <td><div class="cuadrotipoProceso-@item.TipoProceso"></div></td>
                </tr>
            }
        }
    </tbody>    
</table>
<table>
    <tbody>
        <tr>
            <td style="width: 32%; display: inline-flex;">
                <div style="width:15%;" class="cuadrotipoProceso-1"></div>
                <div style="width: 5%;" class=""></div>
                <div style="width:80%;">Procesos Normales</div>
            </td>
            <td style="width: 32%; display: inline-flex;">
                <div style="width:15%;" class="cuadrotipoProceso-2"></div>
                <div style="width: 5%;" class=""></div>
                <div style="width:70%;">Por cálculo de ángulo óptimo</div>
            </td>
            <td style="width: 32%; display: inline-flex;">
                <div style="width:15%;" class="cuadrotipoProceso-3"></div>
                <div style="width: 5%;" class=""></div>
                <div style="width:70%;">Por energía importada TIE</div>
            </td>
            <td style="width: 32%; display: inline-flex;">
                <div style="width:15%;" class="cuadrotipoProceso-4"></div>
                <div style="width: 5%;" class=""></div>
                <div style="width:70%;">Por hidraúlica forzada</div>
            </td>
        </tr>
    </tbody>
</table>