@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReprocesamientoModel

<table border="0" class="pretty tabla-icono" id="tablaReprocesamiento">
    <thead>
        <tr>
            <th style="width:30px">
                <input type="checkbox" id="cbSelectAllReproceso" />
            </th> 
            <th style="min-width:100px">Fecha</th>
            <th style="width:60px">Periodo</th>
            <th style="min-width:150px">Escenario YUPANA</th>
            <th style="width:40px">EMS</th>
            <th style="width:100px">Reemplazar .raw</th>
            <th style="width:100px">Archivo .raw</th>
            <th style="min-width:150px">Nombre archivo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaDetalle.Count > 0)
        {
            foreach (var item in Model.ListaDetalle)
            {
        <tr id="@("reprocesomasivo" + item.Id)">
            <td class="select-reproceso">
                <input type="checkbox" class="cb-select-process" />
            </td>
            <td>@item.Fecha</td>
            <td>@item.Hora</td>
            <td>
                <select id="cbFila" class="select-escenario" style="width:130px">
                    <option value="-1">-SELECCIONE-</option>
                    @foreach (var itemT in item.ListaEscenarios)
                    {
                        <option value="@itemT.Topcodi">@itemT.Topnombre</option>
                    }
                </select>
            </td>
            <td>@item.Ems</td>
            <td>
                <input type="checkbox" class="cb-seleccionar-file" />
            </td>
            <td>
                <input type="button" value="..." style="display:none" class="button-raw" />
            </td>
            <td>
               <span class="span-file-raw"></span> 
            </td>
        </tr>
            }
        }
    </tbody>
</table>