@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ResultadoModel
<script>
    $('#tab-container').easytabs({
        animate: false
    });
</script>

<div class="content-hijo">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#resultadocosto">Resultado Costos Marginales Nodales</a></li>
            <li class='tab'><a href="#datosadicionales">Datos adicionales</a></li>
            <li class='tab'><a href="#resultadogeneracion">Resultado Generación EMS</a></li>
        </ul>
        <div class='panel-container'>
            <div id="resultadocosto">
                <table border="0" class="pretty tabla-icono" id="tablaResultado">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Hora</th>
                            <th>Nodo EMS</th>
                            <th>Nombre</th>
                            <th>Demanda</th>
                            <th>Energía</th>
                            <th>Congestión</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Listado.Count > 0)
                        {
                            foreach (var item in Model.Listado)
                            {
            <tr>
                <td></td>
                <td>@item.Cmgnfecha</td>
                <td>@item.Cnfbarnodo</td>
                <td>@item.Cnfbarnombre</td>
                <td>@item.Cmgndemanda</td>
                <td>@item.Cmgnenergia</td>
                <td>@item.Cmgncongestion</td>
                <td>@item.Cmgntotal</td>

            </tr>}
                        }
                    </tbody>
                </table>
            </div>
            <div id="datosadicionales">

                <div style="clear:both; height:20px"></div>

                <div class="popup-title"><span>Datos del Proceso</span></div>
                <div style="clear:both; height:20px"></div>

                <div>
                    <b>Usuario ejecución:  </b> @Model.UsuarioEjecucion
                    <b style="padding-left: 25px;">Fecha de ejecución:  </b> @Model.FechaEjecucion
                    <b style="padding-left: 25px;">Tipo de proceso:  </b> @Model.TipoProceso
                </div>

                <div style="clear:both; height:20px"></div>

                <div class="popup-title"><span>Versión de Programa / Reprograma</span></div>
                <div style="clear:both; height:20px"></div>
                @if (Model.VersionPrograma != null)
                {
    <strong style="font-size:15px; font-weight:bold">@Model.VersionPrograma.Cmveprvalor</strong>}

                <div style="clear:both; height:20px"></div>

                <div class="popup-title"><span>Restricciones Operativas</span></div>
                <div style="clear:both; height:20px"></div>

                <table border="0" class="pretty tabla-icono" id="tablaRestriccion">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Equipo</th>
                            <th>Restricción operativa</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListaRestricciones.Count > 0)
                        {
                            foreach (var item in Model.ListaRestricciones)
                            {
            <tr>
                <td></td>
                <td>@item.Equiabrev</td>
                <td>@item.Subcausaabrev</td>
            </tr>}
                        }
                    </tbody>
                </table>
            </div>
            <div id="resultadogeneracion">
                <table border="0" class="pretty tabla-icono" id="tablaGeneracion">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Hora</th>
                            <th>Empresa</th>
                            <th>Nombre Equipo</th>
                            <th>Abreviatura Equipo</th>
                            <th>Generación</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListadoGeneracionEms.Count > 0)
                        {
                            foreach (var item in Model.ListadoGeneracionEms)
                            {
            <tr>
                <td></td>
                <td>@item.Genemsfecha</td>
                <td>@item.Emprnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Equiabrev</td>
                <td>@item.Genemsgeneracion</td>
            </tr>}
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>