@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.ElementoStModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Elementos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/ElementoSt.js"></script>
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<div class="ast">
    <div class="form-title">
        @Html.HiddenFor(model => model.EntidadRecalculo.Stpercodi)
        @Html.HiddenFor(model => model.EntidadRecalculo.Strecacodi)
        <div class="content-titulo">Lista de Sistemas de Transmisión</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Exportar" id="btnExportarSistema" alt="Exportar información de sistemas de transmisión" title="Exportar información de sistemas de transmisión" />
                <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" id="btnRefrescar" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadRecalculo.Stpercodi > 0 && Model.EntidadRecalculo.Strecacodi > 0)
            {
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">@Model.EntidadRecalculo.Stpernombre / @Model.EntidadRecalculo.Strecanombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Periodo y Recalculo</div>
            }
            <table>
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td><div style="width:20px">Periodo: </div></td>
                                    <td>
                                        <div class="editor-field" style="width:50px">
                                            <select id="pericodi" name="pericodi" onchange="Recargar();">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    sSelected = "";
                                                    if (@item.Stpercodi == Model.IdPeriodo)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Stpercodi" @sSelected>@item.Stpernombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:100px">Recalculo: </td>
                                    <td>
                                        <select id="recacodi" name="recacodi" onchange="Recargar();">
                                            @foreach (var item in Model.ListaRecalculo)
                                            {
                                                sSelected = "";
                                                if (@item.Strecacodi == Model.IdRecalculo)
                                                {
                                                    sSelected = "selected";
                                                }
                                                <option value="@item.Strecacodi" @sSelected>@item.Strecanombre</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado"> </div>
    </div>
</div>