@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.ElementoStModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="text-align:left">Nombre Titular</th>
            <th style="text-align:left">Nombre Sistema</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSistema)
        {
            <tr id="fila_@item.Sistrncodi">
                <td style="text-align:left">@item.Emprnomb</td>
                <td style="text-align:left">@item.Sistrnnombre</td>

                <td style="width:30px;"><a href="#" id="view_@item.Sistrncodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>

                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Sistrncodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;"><a href="@Url.Action("Index", "Compensacion", new { id = item.Sistrncodi })"><img src="@Url.Content("~/Content/Images/recalculo.jpg")" title="Lista de compensaciones" alt="Lista de compensaciones" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Sistrncodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>