@model COES.MVC.Intranet.Areas.DemandaPO.Models.MedidorDemandaModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Consulta medidodes de demanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/DemandaPO/Content/Css/css2.css" rel="stylesheet" />
<script src="~/Areas/DemandaPO/Content/Scripts/medidorDemanda/medidorDemanda.js?v=3.0"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Content/Scripts/Charts/jquery.jqplot.min.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Consulta de medidores de demanda</div>
        <div class="content-botonera"></div>
    </div>
    <div class="content-hijo">
        <div id="main" class="h-panel-main">
            <div id="message" class="msg-info">
                Puede crear una relacion entre barras SPL y fórmulas
            </div>
            <div class="h-panel" style="margin-bottom: 5px;">
                <div class="filters">
                    <div>Fecha inicio</div>
                    <input id="fechaIni" type="text" class="f-fecha" value="@Model.FechaIni" />
                </div>
                <div class="filters">
                    <div>Fecha fin</div>
                    <input id="fechaFin" type="text" class="f-fecha" value="@Model.FechaFin" />
                </div>
                <div class="filters">
                    <div>Base de datos</div>
                    <select id="idBaseDatos" class="f-select-m">
                        <option value="1" selected>SIRPIT</option>
                        <option value="2">SICLI</option>
                        <option value="3">TNA</option>
                    </select>
                </div>
                <div class="filters">
                    <div>Version</div>
                    <select id="idVersion" class="f-select-m">
                        @foreach (var item in Model.ListaVersion)
                        {
                            <option value="@item.Dposplcodi">@item.Dposplnombre</option>
                        }
                    </select>
                </div>
                <div class="filters">
                    <div>Barras SPL</div>
                    <select id="idBarra" class="f-select-m">
                        @*@foreach (var item in Model.ListaBarraSPL)
                    {
                        <option value="@item.Barsplcodi">@item.Gruponomb</option>
                    }*@
                    </select>
                </div>
                <div class="filters">
                    <div>Parametro</div>
                    <select id="idParametro" class="f-select-m">
                        <option value="1" selected>Potencia Activa (MW)</option>
                        <option value="2">Potencia Reactiva (MW)</option>
                        @*@foreach (var item in Model.ListTipoDemanda)
                    {
                    <option value="@item.Item1" selected>@item.Item2</option>

                    }*@
                    </select>
                </div>

                <div class="filters">
                    <br />

                    <!-- ASSETEC 2022-03-07-->
                    <input type="button" id="btnConsultar" value="Consultar" />
                    <!-- FIN ASSETEC 2022-03-07-->

                    <input type="button" id="btnExportar" value="Exportar" />
                </div>
            </div>
            <div class="v-panel" style="width: 1000px; overflow-x: auto;">
                <div>
                    <table id="dtDatos" class="pretty tabla-icono"></table>
                </div>
            </div>
        </div>
    </div>
</div>