@model COES.MVC.Intranet.Areas.ServicioRPF.Models.AnalisisFallaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/ServicioRPF/Content/Scripts/fallas.js"></script>
    <link href="~/Areas/ServicioRPF/Content/Css/fallas.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    <script src="~/Content/Scripts/multiselect.js"></script>
    <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Análisis ante Fallas de Unidades</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">

    <div id="mensajeResultado"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Datos</a></li>            
            <li class='tab'><a href="#paso2">Evaluación</a></li>
            <li class='tab'><a href="#paso3">Reporte</a></li>
            <li class='tab'><a href="#paso4">Parámetros</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <h2>Ingreso de datos</h2>

                
                <table style="width:auto">
                    <tr style="line-height:25px">
                        <td>Fecha de Proceso:</td>
                        <td><input type="text" id="txtFechaProceso" value="@Model.FechaProceso" style="width:110px" /></td>
                        <td style="padding-left:10px">Hora de la Falla:</td>
                        <td><input type="text" id="txtHoraFalla" style="width:70px" /></td>
                        <td style="padding-left:10px">Reserva Primaria:</td>
                        <td><input type="text" id="txtReservaPrimaria" onkeypress="return validarNumero(this,event)" style="width:60px"/></td>
                        <td style="padding-left:10px">Unidad que falló:</td>
                        <td>
                            <select id="cbUnidad" multiple="multiple">
                                <option value="">-SELECCIONE-</option>
                                @foreach (var item in Model.ListaUnidades)
                                {
                                    <option value="@item.PTOMEDICODI">@item.PTOMEDICODI - @item.EQUINOMB - @item.EQUIABREV</option>
                                }
                            </select>
                            <input type="hidden" id="hfUnidad" />
                        </td>
                        <td><input type="button" value="Verificar" id="btnCondiciones" /></td>
                    </tr>    
                </table>
                
                <div id="cntResultadoValidacion"></div>     

            </div>
            <div id="paso2">
                <h2>Evaluación</h2>
                <div id="evaluacionUnidad">                    
                </div>
            </div>
            <div id="paso3">
                <h2>Reporte de cumplimiento</h2>
                <div id="reporte">
                </div>
            </div>
            <div id="paso4">
                <h2>Parámetros</h2>
                <div id="parametros">
                </div>
            </div>
        </div>
    </div>
</div>