@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var mes = (IEnumerable<SelectListItem>) TempData["Mescodigo"];
    var anio = (IEnumerable<SelectListItem>) TempData["Aniocodigo"];
}

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/presupuesto.js"></script>

@using (Html.BeginForm("Save", "Presupuesto", FormMethod.Post, new { id = "frmPresupuesto", @class = "cmxform"}))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if(Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion"/>
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","Presupuesto")'" alt="Retornar" title="Retornar"/>
            </div>
        </div>
        <div style="padding:20px;width:500px;">
            @Html.HiddenFor(model => model.EntidadPresupuesto.Caiprscodi)
            @Html.HiddenFor(model => model.EntidadPresupuesto.Caiprsusucreacion)
            @Html.HiddenFor(model => model.EntidadPresupuesto.Caiprsfeccreacion)
            <table cellspacing="2" cellpadding="5">
                @if(Model.sError!="")
                {
                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;">
                            @Model.sError
                        </div>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadPresupuesto.Caiprsnombre, "Presupuesto")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EntidadPresupuesto.Caiprsnombre)
                            @Html.ValidationMessageFor(model => model.EntidadPresupuesto.Caiprsnombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadPresupuesto.Caiprsanio, "Año de inicio de información")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("EntidadPresupuesto.Caiprsanio", @anio, "-Seleccione-")
                            @Html.ValidationMessageFor(model => model.EntidadPresupuesto.Caiprsanio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadPresupuesto.Caiprsmesinicio, "Mes de inicio de información")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("EntidadPresupuesto.Caiprsmesinicio", @mes, "-Seleccione-")
                            @Html.ValidationMessageFor(model => model.EntidadPresupuesto.Caiprsmesinicio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadPresupuesto.Caiprsnromeses, "Nro. de meses de información")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.EntidadPresupuesto.Caiprsnromeses)
                            @Html.ValidationMessageFor(model => model.EntidadPresupuesto.Caiprsnromeses)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmPresupuesto").validate({
        rules: {
            "EntidadPresupuesto.Caiprsnombre": {
                required: true
            },
            "EntidadPresupuesto.Caiprsanio": {
                required: true,
            },
            "EntidadPresupuesto.Caiprsmesinicio": {
                required: true
            },
            "EntidadPresupuesto.Caiprsnromeses": {
                required: true,
                number: true,
                min:1
            }
        }
    });
</script>