@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    ViewBag.Titulo = "Detalle del Presupuesto";
}
<fieldset>
    <legend>Presupuesto</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadPresupuesto.Caiprsnombre, "Nombre del Año Presupuestal : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadPresupuesto.Caiprsnombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadPresupuesto.Caiprsanio, "Año : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadPresupuesto.Caiprsanio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadPresupuesto.Caiprsmesinicio, "Mes Inicio : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadPresupuesto.Caiprsmesinicio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadPresupuesto.Caiprsnromeses, "Num de Meses : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadPresupuesto.Caiprsnromeses)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadPresupuesto.Caiprsfeccreacion, "Fecha de Creación : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadPresupuesto.Caiprsfeccreacion)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>