@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var mes = (IEnumerable<SelectListItem>)TempData["Mescodigo"];
    var anio = (IEnumerable<SelectListItem>)TempData["Aniocodigo"];
}

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/ajuste.js"></script>

@using (Html.BeginForm("Save", "Ajuste", FormMethod.Post, new { id = "frmAjuste", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@Model.EntidadPresupuesto.Caiprsnombre - @sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "Ajuste", new { caiprscodi = Model.EntidadAjuste.Caiprscodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px;width:500px;">
            @Html.HiddenFor(model => model.EntidadAjuste.Caiprscodi)
            @Html.HiddenFor(model => model.EntidadAjuste.Caiajcodi)
            @Html.HiddenFor(model => model.EntidadAjuste.Caiajusucreacion)
            @Html.HiddenFor(model => model.EntidadAjuste.Caiajfeccreacion)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadAjuste.Caiajnombre, "Nombre")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EntidadAjuste.Caiajnombre)
                            @Html.ValidationMessageFor(model => model.EntidadAjuste.Caiajnombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadAjuste.Caiajanio, "Año de inicio de Proyección")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("EntidadAjuste.Caiajanio", @anio, "-Seleccione-")
                            @Html.ValidationMessageFor(model => model.EntidadAjuste.Caiajanio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EntidadAjuste.Caiajmes, "Mes de inicio de Proyección")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("EntidadAjuste.Caiajmes", @mes, "-Seleccione-")
                            @Html.ValidationMessageFor(model => model.EntidadAjuste.Caiajmes)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmAjuste").validate({
        rules: {
            "EntidadAjuste.Caiajnombre": {
                required: true
            },
            "EntidadAjuste.Caiajanio": {
                required: true
            },
            "EntidadAjuste.Caiajmes": {
                required: true,
            }
        }
    });
</script>