@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Calculo de los Porcentaje de Aportes - Ajustes Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}


<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/ajuste.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
   @if (sMensajeExito != null)
   {
    <div class="exito mensajes">@sMensajeExito</div>
   }
   <div class="form-title">
        @Html.HiddenFor(model => model.EntidadPresupuesto.Caiprscodi)
        <div class="content-titulo">Ajustes del presupuesto: @Model.EntidadPresupuesto.Caiprsnombre</div>
        <div class="content-botonera">
            <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            <input type="button" value="Retornar" id="btnRetornar" onclick="location.href='@Url.Action("Index","presupuesto")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>