@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroModel
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Transferencias - Lista de solicitud de retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int paginaActual = Request.QueryString["pagina"] == null ? 1 : Convert.ToInt32(Request.QueryString["pagina"].ToString());
    var CLICODI2 = (IEnumerable<SelectListItem>)TempData["CLICODI2"];
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI2"];
    var TIPOCONTCODI2 = (IEnumerable<SelectListItem>)TempData["TIPOCONTCODI2"];
    var TIPOUSUACODI2 = (IEnumerable<SelectListItem>)TempData["TIPOUSUACODI2"];
    var EMPRCODI2 = (IEnumerable<SelectListItem>)TempData["EMPRCODI2"];
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-export-clientside.js?v=@DateTime.Now.Millisecond"></script>
<script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css?@(new Random().Next(1000))" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/GestionCodigosVTEAVTP.js?@(new Random().Next(1000))"></script>

<script type="text/javascript">

    var _genemprcodi = "@Session["genemprcodi"]";

</script>

@Html.Hidden("paginaActual", paginaActual)

<div class="ast">
    @if (TempData["sMensajeExito"] != null)
    {
        <div class="exito mensajes" id="frmCodigoRetiro_info">@TempData["sMensajeExito"]</div>

    }

    <div class="form-title">
        <div class="content-titulo">Gestionar Códigos VTEA y VTP</div>
        <div class="content-botonera">

        </div>
    </div>

    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#Gestion">Gestión de Códigos VTEA y VTP</a></li>
                <li class='tab'><a href="#Historico">Histórico VTEA </a></li>
            </ul>
            <div class='panel-container'>
                <div id="Gestion">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                            <tr class="THCabecera">
                                <td colspan="8"><span class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></span></td>
                            </tr>
                            <tr class="filtro">
                                <td><span class="editor-label">Empresa</span></td>
                                <td><span class="editor-field">@Html.DropDownList("EMPRCODI2", "--Seleccione--")</span></td>
                                <td><span class="editor-label">Cliente</span></td>
                                <td><span class="editor-field width-mediun">@Html.DropDownList("CLICODI2", "--Seleccione--")</span></td>
                                <td><span class="editor-label">Tipo Contrato</span></td>
                                <td><span class="editor-field">@Html.DropDownList("TIPOCONTCODI2", "--Seleccione--")</span></td>
                                <td><span class="editor-label">Usuario</span></td>
                                <td><span class="editor-field">@Html.DropDownList("TIPOUSUACODI2", "--Seleccione--")</span></td>
                            </tr>
                            <tr class="filtro">
                                <td><span class="editor-label">Barra Transferencia</span></td>
                                <td><span class="editor-field">@Html.DropDownList("BARRCODI2", "--Seleccione--")</span></td>
                                <td><span class="editor-label width-mediun">Barra Suministro</span></td>
                                <td><span class="editor-field">@Html.DropDownList("BARRCODI3", "--Seleccione--")</span></td>
                                <td><span class="editor-label">Estado</span></td>
                                <td><span class="editor-field">@Html.DropDownList("ESTCODSOL", "--Seleccione--")</span></td>
                                <td><span class="editor-label">Codigo VTEA o VTP</span></td>
                                <td><span class="editor-field"><input type="text" id="txtCodigoVTEAVTP" /></span></td>
                            </tr>
                            <tr class="filtro">
                                <td>
                                    <div class="editor-label">Periodo declaración</div>
                                </td>
                                <td>
                                    <div class="editor-field">@Html.DropDownList("PERIODO2", "--Seleccione--")</div>
                                </td>
                                <td>
                                    <!--<div class="editor-label">Estado Potencia Contratada</div>-->
                                </td>
                                <td>
                                    <!--<div class="editor-field">@Html.DropDownList("ESTCODSOLAPR", "--Seleccione--")</div>-->
                                </td>
                                <td colspan="2"><span class="editor-label"><input type="button" id="btnBuscar" value="Consultar"></span></td>
                            </tr>
                        </table>

                        <input type="hidden" id="hfNroPagina" name="NroPagina" value="@paginaActual" />
                    </div>

                    <table>
                        <tr>
                            <td>

                                <div class="exito" id="mensaje" style="display:none"></div>

                                <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; " id="divAcciones">
                                    <table cellpadding="0" cellspacing="0" border="0" style="width:auto">
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="javascript:void(0)" id="btnAgrupar">
                                                                <div class="content-item-action">
                                                                    <img src="~/Content/Images/ico_agrupar.png" /><br />
                                                                    <span>Agrupar Filas</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="#" id="btnDesagrupar">
                                                                <div class="content-item-action">
                                                                    <img src="~/Content/Images/ico_desagrupar.png" /><br />
                                                                    <span>Desagrupar Filas</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="#" id="btnExportar">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                                                    <span>Bajar Formato</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <input type="file" id="fileImagen" style="display:none" />
                                                            <a href="javascript:void(0)" id="btnSubir">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                                                    <span>Subir Formato</span>
                                                                </div>
                                                            </a>
                                                        </td>

                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="javascript:void(0)" id="btnVerErrores">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                                                    <span>Ver Errores</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="#" id="btnEnviarDatos">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/TransfPotencia/Content/Images/grabar.png" /><br />
                                                                    <span>Enviar Datos</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action text-center">
                                                            <a href="#" id="btnVerEnvios">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                                                    <span>Ver Envíos</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px;" class="content-action">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="table-list" id="listado" style="min-width: 100%;overflow: scroll;height: 402px; display: inline-block;max-width: 1219px;width: 1219px;"></div>
                </div>

                <div id="Historico">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                            <tr class="THCabecera">
                                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Empresa</div></td>
                                <td><div class="editor-field">@Html.DropDownList("EMPRCODI", @EMPRCODI2, "--Seleccione--")</div></td>
                                <td><div class="editor-label">Cliente</div></td>
                                <td><div class="editor-field">@Html.DropDownList("CLICODI", @CLICODI2, "--Seleccione--")</div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Barra de transferencia</div></td>
                                <td><div class="editor-field">@Html.DropDownList("BARRCODI", @BARRCODI2, "--Seleccione--")</div></td>
                                <td><div class="editor-label">¿De baja?</div></td>
                                <td>
                                    <div class="editor-field">
                                        @Html.RadioButton("SOLICODIRETIOBSERVACION", "", true) TODOS
                                        @Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJANO", false) NO
                                        @Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJAOK", false) SI
                                        @*@Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJAPEN", false) PENDIENTE*@
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Fecha de inicio</div></td>
                                <td><div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div></td>
                                <td><div class="editor-label">Fecha final</div></td>
                                <td><div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Tipo de contrato</div></td>
                                <td><div class="editor-field">@Html.DropDownList("TIPOCONTCODI", @TIPOCONTCODI2, "--Seleccione--")</div></td>
                                <td><div class="editor-label">Tipo de usuario</div></td>
                                <td><div class="editor-field">@Html.DropDownList("TIPOUSUACODI", @TIPOUSUACODI2, "--Seleccione--")</div></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">Listar</div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.RadioButton("ESTADOLIST", "TODOS", true) Todos
                                        @Html.RadioButton("ESTADOLIST", "SIN", false) Sin código
                                        @Html.RadioButton("ESTADOLIST", "CON", false) Con código
                                    </div>
                                </td>
                                <td><div class="editor-label">Código Retiro</div></td>
                                <td>
                                    <div class="editor-field">
                                        <input type="text" id="txtCodigoRetiro" />
                                        <input type="button" id="btnBuscarHis" value="Consultar" />
                                        <input type="button" id="btnGenerarExcelHis" value="Generar Excel" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" id="hfNroPaginaHis" name="NroPagina" value="1" />
                    </div>
                    <div class="table-list" id="listadoHis"></div>
                    <div class="tabla-header">
                        <div class="table-paginado" id="paginadoHis"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>