@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroModel

@{
    ViewBag.Title = "Vista preliminar";
}
<fieldset>
    <legend>Código de Retiro </legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.EmprNombre, "Empresa  : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.EmprNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CliNombre, "Cliente : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CliNombre)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CliRuc, "Ruc Cliente : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CliRuc)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.BarrNombBarrTran, "Barra de Transferencia :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.BarrNombBarrTran)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoContNombre, " Tipo de Contrato: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoContNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoUsuaNombre, " Tipo de Usuario: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoUsuaNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.SoliCodiRetiFechaInicio, "Fecha de Inicio :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.SoliCodiRetiFechaInicio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.SoliCodiRetiFechaFin, "Fecha Fin :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.SoliCodiRetiFechaFin)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.SoliCodiRetiCodigo, "Código de Retiro :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.SoliCodiRetiCodigo)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.SoliCodiRetiDescripcion, "Descripción: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.SoliCodiRetiDescripcion)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.SoliCodiRetiDetalleAmplio, "Mayor Detalle: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.SoliCodiRetiDetalleAmplio)</div>
            </td>
        </tr>

    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>