@model COES.MVC.Intranet.Areas.Admin.Models.VersionModplanModel

<div class="version-resumen">
    <strong>Plan de Transmisión:</strong> <span id="lblPlanTransmision">@Model.NombrePlan</span>
    <br />
    <strong>Versión:</strong> <span id="lblVersion">@Model.NombreVersion</span>
</div>


@if (!string.IsNullOrEmpty(Model.NombreModelo))
{
    <div  class="version-file version-modelo">
        <div id="1" class="resumen-file">
            @Model.NombreModelo
        </div>
        <div data-id="1" class="delete-file">Eliminar</div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.NombreManual))
{
    <div  class="version-file version-manual">
        <div  id="2" class="resumen-file">
            @Model.NombreManual
        </div>
        <div data-id="2" class="delete-file">Eliminar</div>
    </div>
}



<div id="listaVersion">

    <input type="button" id="btnAddModelo" value="Subir Aplicativo MODPLAN" />
    <div id="containerModelo" class="file-carga">
        <div id="loadingcargaModelo" class="estado-carga">
            <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
            <div class="estado-text">Cargando...</div>
        </div>
        <div id="filelistModelo">No soportado por el navegador.</div>
    </div>

    <input type="button" id="btnAddManual" value="Subir Manual de Uso" />
    <div id="containerManual" class="file-carga">
        <div id="loadingcargaManual" class="estado-carga">
            <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
            <div class="estado-text">Cargando...</div>
        </div>
        <div id="filelistManual">No soportado por el navegador.</div>
    </div>

</div>

<input type="hidden" id="hfCodigoVersion" value="@Model.Codigo" />