@model COES.MVC.Intranet.Areas.Admin.Models.VersionModplanModel

<div class="content-registro">
    
        <div class="popup-title" style="margin-bottom:10px"><span>Registro de Plan de Tranmisión y Versiones</span></div>
        <form id="frmRegistro">
            <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
            <table style="width:100%">

                <tr id="trPlanTransmision">
                    <td class="registro-label">Plan de Transmisión:</td>
                    <td class="registro-control">
                        <select id="cbListaPadre" name="Padre" style="width:300px">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaPadres)
                            {
                                <option value="@item.Vermplcodi">@item.Vermpldesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfCodigoPadre" value="@Model.Entidad.Vermplpadre" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Descripción:</td>
                    <td class="registro-control">
                        <input type="text" id="txtDescripcion" name="Descripcion" maxlength="200" value="@Model.Entidad.Vermpldesc" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Estado:</td>
                    <td class="registro-control">
                        <select id="cbEstado" name="Estado" style="width:300px">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                        <input type="hidden" id="hfEstado" value="@Model.Entidad.Vermplestado" />
                    </td>
                </tr>               
            </table>

            <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                <input type="button" id="btnGrabar" value="Grabar" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </div>

            <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Vermplcodi" />
            <input type="hidden" id="hfTipo" name="Tipo" value="@Model.Tipo" />

        </form>  
   
</div>
