@model COES.MVC.Intranet.Areas.Admin.Models.VersionModplanModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Usuario</th>
            <th>Plan de Transmisión</th>
            <th>Versión</th>
            <th>Fecha y Hora</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaReporte.Count > 0)
        {
            foreach (var item in Model.ListaReporte)
            {
                <tr>

                    <td>@item.Emprnomb</td>
                    <td>@item.Regmodusuario</td>
                    <td>@item.Regmodplan</td>
                    <td>@item.Regmodversion</td>
                    <td>@(((DateTime)item.Regmodfecha).ToString("dd/MM/yyyy HH:mm"))</td>
                </tr>
            }
        }
    </tbody>
</table>