@model  COES.MVC.Intranet.Areas.Monitoreo.Models.BandaToleranciaModel

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfCodi" value="@Model.Banda.Mmmtolcodi" />
        <input type="hidden" id="hfImmecodi" value="@Model.Banda.Immecodi" />
        <input type="hidden" id="hfEstado" value="@Model.Banda.Mmmtolestado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Indicador:</td>
                <td class="tbform-control">
                    <select id="cbImme" style="width: 104px;">
                        <option value="0">--Seleccione--</option>
                        @foreach (var item in Model.ListaIndicador)
                        {
                            <option value="@item.Immecodi">@item.Immecodigo</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
                <td class="tbform-control">
                    <input id="periodo" type="text" value="@Model.Banda.Periodo" style="width: 100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Valor de referencia:</td>
                <td class="tbform-control">
                    <input id="valorreferencia" type="text" value="@Model.Banda.Mmmtolvalorreferencia" style="width:100px;" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Tolerancia:</td>
                <td class="tbform-control">
                    <input id="valortolerancia" type="text" value="@Model.Banda.Mmmtolvalortolerancia" style="width:100px;" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Criterio:</td>
                <td class="tbform-control">
                    <textarea id="criterio" style=" width: 345px;">@Model.Banda.Mmmtolcriterio</textarea>
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Fuente Normativa:</td>
                <td class="tbform-control">
                    <input id="normativa" type="text" value="@Model.Banda.Mmmtolnormativa" style="width:350px;" size="250" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstado" style="width: 104px;">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo2">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarBanda">
</div>