@model  COES.MVC.Intranet.Areas.Monitoreo.Models.BandaToleranciaModel

<div style="max-width: 1200px; margin: 0 auto; margin-top: 20px">
    <!-- listado -->
    <table id="reporteBanda" class="tabla-formulario">
        <thead>
            <tr>
                <th style="width: 10%">Acciones</th>
                <th style="width: 10%">Indicador</th>
                <th style="width:  25%">Descripción</th>
                <th style="width: 25%; ">Criterio Banda de desvío aceptable propuesto por osinergmin</th>
                <th style="width: 10%; ">Vigencia</th>
                <th style="width: 10%">Fuente Normativa</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var hp in Model.ListaBanda)
                {
                    <tr class="@hp.ClaseFila">
                        <td style="text-align: center;">
                            <a href="JavaScript:verBanda(@hp.Mmmtolcodi);" title="Mostrar Banda de Tolerancia"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            <a href="JavaScript:editarBanda(@hp.Mmmtolcodi)" title="Editar Banda de Tolerancia"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                        </td>
                        <td style="text-align:center;">@hp.Immecodigo</td>
                        <td style="text-align: center">@hp.Immenombre</td>
                        <td style="text-align: center">@hp.Mmmtolcriterio</td>
                        <td style="text-align:center;">@hp.MmmtolfechavigenciaDesc</td>
                        <td style="text-align:center;">@hp.Mmmtolnormativa</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>