@model  COES.MVC.Intranet.Areas.Monitoreo.Models.BandaToleranciaModel

<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Indicador:</td>
            <td class="tbform-control">@Model.Banda.Immenombre</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
            <td class="tbform-control">@Model.Banda.MmmtolfechavigenciaDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Valor de referencia:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolvalorreferencia</td>
        </tr>

        <tr>
            <td class="tbform-label">Tolerancia:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolvalortolerancia</td>
        </tr>

        <tr>
            <td class="tbform-label">Criterio:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolcriterio</td>
        </tr>

        <tr>
            <td class="tbform-label">Fuente Normativa:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolnormativa</td>
        </tr>

        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.Banda.MmmtolestadoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.Banda.MmmtolfeccreacionDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.Banda.Mmmtolusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.Banda.MmmtolfecmodificacionDesc</td>
        </tr>
    </table>
</div>