@model COES.MVC.Intranet.Areas.PotenciaFirme.Models.PotenciaFirmeModel

<div id="" style="margin-top: 10px;"></div>
<input type="hidden" id="hfPfRecacodi" value="@Model.IdRecalculo" />

<table style="margin-top: 10px;" role="presentation" class="pretty tabla-adicional">

    <tr>
        <td class="tbform-label">Potencia Garantizada:</td>
        <td>
            <input type="hidden" id="ins_revision_pg" name="IdRevisionPG" value="@Model.RevisionPG.Pfverscodi" />
            @Model.RevisionPG.Descripcion
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Potencia Adicional:</td>
        <td>
            <input type="hidden" id="ins_revision_pa" name="IdRevisionPA" value="@Model.RevisionPA.Pfverscodi" />
            @Model.RevisionPA.Descripcion
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Factor de Indisponibilidad:</td>
        <td>
            <input type="hidden" id="ins_revision_fi" name="IdRevisionFI" value="@Model.RevisionFI.Pfverscodi" />
            @Model.RevisionFI.Descripcion
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Factor Presencia:</td>
        <td>
            <input type="hidden" id="ins_revision_fp" name="IdRevisionFP" value="@Model.RevisionFP.Pfverscodi" />
            @Model.RevisionFP.Descripcion
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Contrato de Compra Y venta</td>
        <td>
            <input type="hidden" id="ins_revision_ccv" name="IdRevisionCCV" value="@Model.RevisionCCV.Pfverscodi">
            @Model.RevisionCCV.Descripcion
        </td>
    </tr>

</table>