@model COES.MVC.Intranet.Areas.DemandaPO.Models.DatosSirpitModel

<script src="~/Areas/DemandaPO/Content/Scripts/datosSirpit/datosBarra.js"></script>
<div id="main"
     data-msg="@Model.Mensaje"
     data-tpo="@Model.TipoMensaje"
     style="margin-bottom: 5px;">
    <div>
        <select id="selBarra" style="width:180px">
            @foreach (var item in Model.cboBarras)
            {
            <option value="@item.Dpobarcodi">@item.Dpobarcodiexcel - @item.Dpobarnombre</option>
            }
        </select>
    </div><br />
    <table id="dt"
           class="pretty tabla-icono"></table>
</div>