@model COES.MVC.Intranet.Areas.DemandaPO.Models.DatosSirpitModel

<script src="~/Areas/DemandaPO/Content/Scripts/datosSirpit/datosMaestro.js"></script>
<div id="main"
     data-msg="@Model.Mensaje"
     data-tpo="@Model.TipoMensaje"
     style="margin-bottom: 5px;">
    <div>
        Fecha Inicio: <input id="txtFechaInicio" type="text" style="width: 130px;" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
        &nbsp;&nbsp;&nbsp;
        Fecha Fin : <input id="txtFechaFin" type="text" style="width: 130px;" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
        &nbsp;&nbsp;&nbsp;
        Sub estación:
        <select id="selSubestacion" style="width:180px">
            @foreach (var item in Model.cboSubestaciones)
            {
                <option value="@item.Dposubcodi">@item.Dposubcodiexcel - @item.Dposubnombre</option>
            }
        </select>
        &nbsp;&nbsp;&nbsp;
        Transormador:
        <select id="selTransformador" style="width:180px">
            @foreach (var item in Model.cboTransformadores)
            {
                <option value="@item.Dpotnfcodi">@item.Dpotnfcodiexcel</option>
            }
        </select>
        &nbsp;&nbsp;&nbsp;
        Barras:
        <select id="selBarra" style="width:180px">
            @foreach (var item in Model.cboBarras)
            {
                <option value="@item.Dpobarcodi">@item.Dpobarcodiexcel - @item.Dpobarnombre</option>
            }
        </select>
        &nbsp;&nbsp;&nbsp;
        <input type="button" id="btnConsultar" value="Consultar" />
    </div>
    <br />
    <table id="dt"
           class="pretty tabla-icono"></table>
</div>