@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ParametroModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Descripción</th>
            <th>Límite Inferior</th>
            <th>Límite Superior</th>
            <th>Valor</th>
            <th>Usuario Modificación</th>
            <th>Fecha Modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaParametro.Count > 0)
        {
            foreach (var item in Model.ListaParametro)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Cmparcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Cmparcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Cmparnombre</td>
                    <td>@item.Cmparinferior</td>
                    <td>@item.Cmparsuperior</td>                    
                    <td>
                        <div class="color-calendario" style="margin:auto; background-color:@item.Cmparvalor">&nbsp;</div>
                    </td>
                    <td>@item.Cmparlastuser</td>
                    <td>@item.Cmparlastdate</td>
                </tr>
            }
        }
    </tbody>
</table>