@model COES.MVC.Intranet.Areas.ConsumoCombustible.Models.ConsumoCombustibleModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/ConsumoCombustible/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/ConsumoCombustible/Content/Scripts/reporte.js?v=1.6.3"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Desviación de Consumo de Combustible - @(Model.Version.CccverfechaDesc) - Revisión n° @(Model.Version.Cccvernumero) </div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfVersion" value="@Model.IdVersion" />
    <input type="hidden" id="hfFechaPeriodo" value="@Model.FechaPeriodo" />

    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="padding-right: 0px;">Fecha:</td>
                <td class="">
                    <input type="text" id="desc_fecha_ini" value="@Model.FechaPeriodo" disabled/>
                    <input type="hidden" id="hfFechaPeriodo" value="@Model.FechaPeriodo" />
                </td>

                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px;">Empresa:</td>
                <td>
                    <div id="div_empresa_filtro">
                        <select id="cbEmpresa" name="cbEmpresa">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" id="hfEmpresa" value="-1" />
                </td>

                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px;">Central:</td>
                <td>
                    <div id="div_central_filtro">
                        <select id="cbCentral" name="cbCentral">
                            @foreach (var item in Model.ListaCentral)
                            {
                                <option value="@item.Equipadre">@item.Central</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" id="hfCentral" value="-1" />
                </td>

                <td class="content-action">
                    <a href="#" id="btnExportarExcel">
                        <div class="content-item-action">
                            <img src="~/Content/Images/ExportExcel.png" alt="logo" style="height: 23px;" /><br />
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <div id="listado"></div>

        <div id="leyenda" style="margin-bottom: 15px;">
            <table>
                <tr>
                    <td> Leyenda: </td>
                    <td></td>
                </tr>
                @foreach (var item in Model.ListaLeyenda)
                {
                    <tr>
                        <td style="width: 25px;border: 1px solid #dddddd;background-color: @(item.Color)"></td>
                        <td>@item.Descripcion</td>
                    </tr>
                }
            </table>

        </div>

    </div>

</div>
