@model COES.MVC.Intranet.Areas.Admin.Models.ReporteUsuarioModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Módulo</th>
            <th>Usuario</th>
            <th>Logín</th>
            <th>Estado</th>
            <th>Fecha Solicitud</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ReporteUsuario.Count > 0)
        {
            foreach (var item in Model.ReporteUsuario)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.Modnomb</td>
                    <td>@item.Username</td>
                    <td>@item.Userlogin</td>
                    <td>@item.Estado</td>
                    <td>
                        @if(item.Solicfecha!=null){
                            <span>
                                 @(((DateTime)item.Solicfecha).ToString("dd/MM/yyyy"))
                            </span>
                        }
                   </td>
                </tr>
            }
        }
    </tbody>
</table>