@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoEntregaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Lista de codigos de entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI3"];
    var CENTGENECODI2 = (IEnumerable<SelectListItem>)TempData["CENTGENECODI3"];
    var EMPRCODI2 = (IEnumerable<SelectListItem>)TempData["EMPRCODI3"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/codigoentrega.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Códigos de Entrega</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New", "codigoentrega")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" id="btnBuscar" value="Consultar" />
            <input type="button" id="btnGenerarExcel" value="Generar Excel" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","codigoentrega")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Central de generación</div></td>
                    <td><div class="editor-field">@Html.DropDownList("CENTGENECODI", @CENTGENECODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Fecha de inicio</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra de transferencia</div></td>
                    <td><div class="editor-field">@Html.DropDownList("BARRCODI", @BARRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Fecha final</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Empresa</div></td>
                    <td><div class="editor-field">@Html.DropDownList("EMPRCODI", @EMPRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Estado</div></td>
                    <td>
                        <div class="editor-field">
                            <input type="radio" id="Todos" name="Codientrestado" value="TODOS" />Todos
                            <input type="radio" id="Activo" name="Codientrestado" value="ACT" checked="checked"/>Activo
                            <input type="radio" id="Inactivo" name="Codientrestado" value="INA" />Inactivo                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Código de Entrega</div></td>
                    <td><div class="editor-field"><input type="text" id="txtcodigoEntrega"  /></div></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center">
                        <div class="busqueda-item">
                            
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        </div>
        <div class="table-list" id="listado"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>
    <br />
    <br />

</div>

