<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Central Generación</th>
            <th>Barra Transferencia</th>
            <th>Empresa</th>
            <th>Inicio Operación</th>
            <th>Fin Operación</th>
            <th>Código Entrega</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCodigoEntrega) 
        {
            <tr id="fila_@item.CodiEntrCodi">
                <td class="text_left">@item.CentGeneNombre</td>
                <td class="text_left">@item.BarrNombBarrTran</td>
                <td class="text_left">@item.EmprNomb</td>
                <td>@if (item.CodiEntrFechaInicio != null) { <span>@item.CodiEntrFechaInicio.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.CodiEntrFechaFin != null) { <span>@item.CodiEntrFechaFin.ToString("dd/MM/yyyy")</span>}</td>
                <td>@item.CodiEntrCodigo</td>
                <td>
                    @if (item.CodiEntrEstado == "ACT")
                    { <span>Activo</span> }
                    else
                    { <span>Inactivo</span> }
                </td>
                <td style="width:30px;"><a href="#" id="view_@item.CodiEntrCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.CodiEntrCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.CodiEntrCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>