@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoEntregaModel

@{
    ViewBag.Title = "Vista preliminar";
}
<fieldset>
    <legend>Código Entrega</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CentGeneNombre, "Central Generadora : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CentGeneNombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.BarrNombBarrTran, "Barra Transferencia :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.BarrNombBarrTran)</div>
            </td>
        </tr>
        <tr>           
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.EmprNomb, "Empresa  : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.EmprNomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CodiEntrFechaInicio, "Fecha de Inicio :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CodiEntrFechaInicio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CodiEntrFechaFin, "Fecha Fin :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CodiEntrFechaFin)</div>
            </td>
        </tr>
        <tr>           
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.CodiEntrCodigo, "Código de Entrega :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.CodiEntrCodigo)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>