@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.NrProcesoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/procesoeditar.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
        <div class="content-titulo">Registro del Proceso</div>
        <div class="content-botonera">

            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />

        </div>
</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>
            <table>
                <tr>
                    <td>
                        <input type="hidden" id="hfNrprcCodi" value="@Model.NrProceso.Nrprccodi" name="NrprcCodi" />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    </td>
                </tr>
                <tr>
                    <td>Periodo</td>
                    <td>
                        <select id="cbNrperCodi" name="NrperCodi" style="width:100px">
                            @foreach (var item in Model.ListaNrPeriodo)
                            {
                                <option value="@item.Nrpercodi">@item.Nrpermes.ToString(COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Helper.ConstanteReservaFriaNodoEnergetico.FormatoAnioMes)</option>
                            }
                        </select>
                        <input type="hidden" id="hfNrperCodi" name="NrperCodi" value="@Model.NrProceso.Nrpercodi"  />
                    </td>
                </tr>
                <tr>
                    <td>Grupo</td>
                    <td>
                        <select id="cbGrupoCodi" name="GrupoCodi" style="width:300px">
                            @foreach (var item in Model.ListaPrGrupo)
                            {
                                <option value="@item.Grupocodi">@item.Gruponomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfGrupoCodi" name="GrupoCodi" value="@Model.NrProceso.Grupocodi"  />
                    </td>
                </tr>
                <tr>
                    <td>Concepto</td>
                    <td>
                        <select id="cbNrcptCodi" name="NrcptCodi" style="width:550px">
                            @foreach (var item in Model.ListaNrConcepto)
                            {
                                <option value="@item.Nrcptcodi">@item.Nrcptabrev : @item.Nrcptdescripcion</option>
                            }
                        </select>
                        <input type="hidden" id="hfNrcptCodi" name="NrcptCodi" value="@Model.NrProceso.Nrcptcodi"  />
                    </td>
                </tr>
                <tr>
                    <td id="lblNrprcFechaInicio ">Inicio</td>
                    <td>
                        @{
                            var fechaNrprcFechaInicio = "";
                            if (Model.NrProceso.Nrprcfechainicio != null)
                            {
                                fechaNrprcFechaInicio = ((DateTime)Model.NrProceso.Nrprcfechainicio).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input id="txtNrprcFechaInicio"  type="text" name="NrprcFechaInicio" value="@fechaNrprcFechaInicio" />
                    </td>
                </tr>
                <tr>
                    <td id="lblNrprcFechaFin ">Fin</td>
                    <td>
                        @{
                            var fechaNrprcFechaFin = "";
                            if (Model.NrProceso.Nrprcfechafin != null)
                            {
                                fechaNrprcFechaFin = ((DateTime)Model.NrProceso.Nrprcfechafin).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input id="txtNrprcFechaFin"  type="text" name="NrprcFechaFin" value="@fechaNrprcFechaFin" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcHoraUnidad" >Hora Unidad</span>
                    </td>
                    <td>
                        <input id="txtNrprcHoraUnidad"  type="text" name="NrprcHoraUnidad" value="@Model.NrProceso.Nrprchoraunidad">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcHoraCentral" >Hora Central</span>
                    </td>
                    <td>
                        <input id="txtNrprcHoraCentral"  type="text" name="NrprcHoraCentral" value="@Model.NrProceso.Nrprchoracentral">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPotenciaLimite" >Potencia Limite</span>
                    </td>
                    <td>
                        <input id="txtNrprcPotenciaLimite"  type="text" name="NrprcPotenciaLimite" value="@Model.NrProceso.Nrprcpotencialimite">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPotenciaRestringida" >Potencia Restringida</span>
                    </td>
                    <td>
                        <input id="txtNrprcPotenciaRestringida"  type="text" name="NrprcPotenciaRestringida" value="@Model.NrProceso.Nrprcpotenciarestringida">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPotenciaAdjudicada" >Potencia Adjudicada</span>
                    </td>
                    <td>
                        <input id="txtNrprcPotenciaAdjudicada"  type="text" name="NrprcPotenciaAdjudicada" value="@Model.NrProceso.Nrprcpotenciaadjudicada">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPotenciaEfectiva" >Potencia Efectiva</span>
                    </td>
                    <td>
                        <input id="txtNrprcPotenciaEfectiva"  type="text" name="NrprcPotenciaEfectiva" value="@Model.NrProceso.Nrprcpotenciaefectiva">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPotenciaPromMedidor" >Potencia Promedio Medidor</span>
                    </td>
                    <td>
                        <input id="txtNrprcPotenciaPromMedidor"  type="text" name="NrprcPotenciaPromMedidor" value="@Model.NrProceso.Nrprcpotenciaprommedidor">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPrctjRestringEfect" >Porcentaje Restringida Efectiva</span>
                    </td>
                    <td>
                        <input id="txtNrprcPrctjRestringEfect"  type="text" name="NrprcPrctjRestringEfect" value="@Model.NrProceso.Nrprcprctjrestringefect">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcVolumenCombustible" >Volumen Combustible</span>
                    </td>
                    <td>
                        <input id="txtNrprcVolumenCombustible"  type="text" name="NrprcVolumenCombustible" value="@Model.NrProceso.Nrprcvolumencombustible">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcRendimientoUnidad" >Rendimiento Unidad</span>
                    </td>
                    <td>
                        <input id="txtNrprcRendimientoUnidad"  type="text" name="NrprcRendimientoUnidad" value="@Model.NrProceso.Nrprcrendimientounidad">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcEde" >EDE</span>
                    </td>
                    <td>
                        <input id="txtNrprcEde"  type="text" name="NrprcEde" value="@Model.NrProceso.Nrprcede">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcPadre" >Referencia</span>
                    </td>
                    <td>
                        <input id="txtNrprcPadre"  type="text" name="NrprcPadre" value="@Model.NrProceso.Nrprcpadre">
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrprcExceptuaCoes" >Except&uacute;a COES</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrprcExceptuaCoes"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrprcExceptuaCoes" name="NrprcExceptuaCoes" value="@Model.NrProceso.Nrprcexceptuacoes" />
                                                <input type="radio" id="rbNrprcExceptuaCoesS" name="rbNrprcExceptuaCoes" value="S" />Si
                                                <input type="radio" id="rbNrprcExceptuaCoesN" name="rbNrprcExceptuaCoes" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrprcExceptuaOsinergmin" >Except&uacute;a Osinergmin</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrprcExceptuaOsinergmin"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrprcExceptuaOsinergmin" name="NrprcExceptuaOsinergmin" value="@Model.NrProceso.Nrprcexceptuaosinergmin" />
                                                <input type="radio" id="rbNrprcExceptuaOsinergminS" name="rbNrprcExceptuaOsinergmin" value="S" />Si
                                                <input type="radio" id="rbNrprcExceptuaOsinergminN" name="rbNrprcExceptuaOsinergmin" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrprcTipoIngreso" >Tipo Ingreso</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrprcTipoIngreso"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrprcTipoIngreso" name="NrprcTipoIngreso" value="@Model.NrProceso.Nrprctipoingreso" />
                                                <input type="radio" id="rbNrprcTipoIngresoA" name="rbNrprcTipoIngreso" value="A" />Autom&aacute;tico
                                                <input type="radio" id="rbNrprcTipoIngresoM" name="rbNrprcTipoIngreso" value="M" />Manual
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrprcHoraFalla" >Falla</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrprcHoraFalla"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrprcHoraFalla" name="NrprcHoraFalla" value="@Model.NrProceso.Nrprchorafalla" />
                                                <input type="radio" id="rbNrprcHoraFallaS" name="rbNrprcHoraFalla" value="S" />Si
                                                <input type="radio" id="rbNrprcHoraFallaN" name="rbNrprcHoraFalla" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcSobrecosto" >Sobrecosto</span>
                    </td>
                    <td>
                        <input id="txtNrprcSobrecosto"  type="text" name="NrprcSobrecosto" value="@Model.NrProceso.Nrprcsobrecosto">
                    </td>
                </tr>
                <tr>
                    <td id="lblNrprcObservacion" >Observaci&oacute;n</td>
                    <td class="registro-control">
                        <textarea id="txtNrprcObservacion"  maxlength="250" name="NrprcObservacion" cols="60" rows="3">@Model.NrProceso.Nrprcobservacion</textarea>
                    </td>
                </tr>
                <tr>
                    <td id="lblNrprcNota" >Nota</td>
                    <td class="registro-control">
                        <textarea id="txtNrprcNota"  maxlength="900" name="NrprcNota" cols="60" rows="3">@Model.NrProceso.Nrprcnota</textarea>
                    </td>
                </tr>
                <tr>
                    <td id="lblNrprcNotaAutomatica" >Nota Autom&aacute;tica</td>
                    <td class="registro-control">
                        <textarea id="txtNrprcNotaAutomatica" maxlength="300" name="NrprcNotaAutomatica" cols="60" rows="3" readonly style="background-color: #CCCCCC;">@Model.NrProceso.Nrprcnotaautomatica</textarea>
                    </td>
                </tr>
                <tr>
                    <td><span id="lblNrprcFiltrado" >Filtrado</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbNrprcFiltrado"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfNrprcFiltrado" name="NrprcFiltrado" value="@Model.NrProceso.Nrprcfiltrado" />
                                                <input type="radio" id="rbNrprcFiltradoS" name="rbNrprcFiltrado" value="S" />Si
                                                <input type="radio" id="rbNrprcFiltradoN" name="rbNrprcFiltrado" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcRpf" >RPF</span>
                    </td>
                    <td>
                        <input id="txtNrprcRpf"  type="text" name="NrprcRpf" value="@Model.NrProceso.Nrprcrpf">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="lblNrprcTolerancia" >Tolerancia</span>
                    </td>
                    <td>
                        <input id="txtNrprcTolerancia"  type="text" name="NrprcTolerancia" value="@Model.NrProceso.Nrprctolerancia">
                    </td>
                </tr>
            </table>
    </form>
</div>

<div id="busqueda" style="display:none">
</div>


