@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrProcesoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/proceso.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Registros del Proceso</div>
        <div class="content-botonera">
            @{
                if (Model.AccionNuevo)
                {
                    <input type="button" id="btnNuevo" value="Nuevo" />
                }
            }
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Concepto:</td>
                <td>
                    <select id="cbNrcptAbrev" name="NrcptAbrev" style="width: 500px">
                        <option value="0">TODOS</option>
                        @foreach (var item in Model.ListaNrConcepto)
                        {
                            <option value="@item.Nrcptcodi">@item.Nrcptdescripcion</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="hidden" id="hfNrcptAbrev" value="@Model.Concepto" name="Concepto" />
                </td>

                <td>Grupo:</td>
                <td>
                    <select id="cbGrupoNomb" name="GrupoNomb" style="width:300px">
                        <option value="0">TODOS</option>
                        @foreach (var item in Model.ListaPrGrupo)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="hidden" id="hfGrupoNomb" value="@Model.Grupo" name="Grupo" />
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                </td>
            </tr>
        </table>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Desde:</td>
                <td><input type="text" id="txtFechaDesde" name="FechaInicio" value="@Model.FechaIni" style="width:120px" /></td>

                <td>Hasta:</td>
                <td><input type="text" id="txtFechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" /></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Estado:</td>
                <td>
                    <input id="rbProcesoVigente" name="rbValor" type="radio" value="radiobutton" />Vigente
                    <input id="rbProcesoEliminado" name="rbValor" type="radio" value="radiobutton" />Eliminado
                    <input id="rbProcesoTodos" name="rbValor" type="radio" value="radiobutton" />Todos
                </td>
                <td>
                    <input type="hidden" id="hfEstado" value="@Model.Estado" name="Estado" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>


