@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrProcesoModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Periodo</th>
                <th>Grupo</th>
                <th>Concepto</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Hora Unidad</th>
                <th>Hora Central</th>
                <th>EDE</th>

                <th>Except&uacute;a COES</th>
                <th>Except&uacute;a Osinergmin</th>

                <th>Ingreso</th>
                <th>Observaci&oacute;n</th>
                <th>Nota</th>
                <th>Nota Auto</th>

                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modificaci&oacute;n</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ListaNrProceso)
            {
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Nrprccodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                if (Model.AccionEditar)
                {
                    <a href="JavaScript:editar(@item.Nrprccodi,1)" title="Editar...">
                        <img src="~/Content/Images/btn-edit.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }

                if (Model.AccionEliminar)
                {
                    <a href="JavaScript:eliminar(@item.Nrprccodi)" title="Eliminar...">
                        <img src="~/Content/Images/btn-cancel.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }
                        }
                    </td>
                    <td>@item.Nrpermes</td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Nrcptabrev</td>
                    <td>
                        @{
                var fechaNrprcFechaInicio = "";
                if (item.Nrprcfechainicio != null)
                {
                    fechaNrprcFechaInicio = ((DateTime)item.Nrprcfechainicio).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaNrprcFechaInicio
                    </td>
                    <td>
                        @{
                var fechaNrprcFechaFin = "";
                if (item.Nrprcfechafin != null)
                {
                    fechaNrprcFechaFin = ((DateTime)item.Nrprcfechafin).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                        }
                        @fechaNrprcFechaFin
                    </td>
                    <td>@item.Nrprchoraunidad</td>
                    <td>@item.Nrprchoracentral</td>

                    <td>@item.Nrprcede</td>

                    <td>@item.Nrprcexceptuacoes</td>
                    <td>@item.Nrprcexceptuaosinergmin</td>

                    <td>
                        @{
                var estado = "A";
                switch (item.Nrprctipoingreso)
                {
                    case "A":
                        estado = "Auto";
                        break;
                    case "M":
                        estado = "Manual";
                        break;
                    default:
                        estado = "---";
                        break;
                }
                        }
                        @estado
                    </td>
                    <td>
                        @{
                var hayObservacion = "N";
                if (item.Nrprcobservacion + "A" != "A")
                {
                    hayObservacion = "S";
                }
                else
                {
                    hayObservacion = "N";
                }
                    }
                    @hayObservacion
                </td>
                <td>
                    @{
                var hayNota = "N";
                if (item.Nrprcnota + "A" != "A")
                {
                    hayNota = "S";
                }
                else
                {
                    hayNota = "N";
                }
                    }
                    @hayNota
                </td>
                <td>
                    @{
                var hayNotaAutomatica = "N";
                if (item.Nrprcnotaautomatica + "A" != "A")
                {
                    hayNotaAutomatica = "S";
                }
                else
                {
                    hayNotaAutomatica = "N";
                }
                    }
                    @hayNotaAutomatica
                </td>
                <td>@item.Nrprcusucreacion</td>
                <td>
                    @{
                var fechaNrprcFecCreacion = "";
                if (item.Nrprcfeccreacion != null)
                {
                    fechaNrprcFecCreacion = ((DateTime)item.Nrprcfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                    }
                    @fechaNrprcFecCreacion
                </td>
                <td>@item.Nrprcusumodificacion</td>
                <td>
                    @{
                var fechaNrprcFecModificacion = "";
                if (item.Nrprcfecmodificacion != null)
                {
                    fechaNrprcFecModificacion = ((DateTime)item.Nrprcfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
                    }
                    @fechaNrprcFecModificacion
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
