@model COES.MVC.Intranet.Areas.Admin.Models.DirectorioModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdit" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Nombres y apellidos:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombre" value="@Model.Nombre" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Mostrar anexo alternativo:</td>
                <td class="registro-control">
                    <select id="cbIndAnexo">
                        <option value="N">NO</option>
                        <option value="S">SI</option>
                    </select>
                    <input type="hidden" id="hfIndAnexo" value="@Model.IndAnexo" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Mostrar en extranet:</td>
                <td class="registro-control">
                    <select id="cbIndExtranet">
                        <option value="S">SI</option>
                        <option value="N">NO</option>                        
                    </select>
                    <input type="hidden" id="hfIndExtranet" value="@Model.IndExtranet" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Anexo alternativo:</td>
                <td class="registro-control">
                    <input type="text" id="txtAnexo" value="@Model.Anexo" />
                </td>
            </tr>       
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdDirectorio" name="Codigo" value="@Model.IdDirectorio" />

    </form>
</div>
