@model COES.MVC.Intranet.Areas.Admin.Models.DirectorioModel
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
           <th></th>
            <th>Nombre</th>
            <th>Apellidos</th>           
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Anexo</th>            
            <th>Anexo alternativo</th>
            <th>Mostrar anexo alternativo</th>
            <th>Área</th>      
            <th>Mostrar en Extranet</th>
            <th>Editar anexo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDirectorio)
        {
            <tr>
                
                <td style="width:70px">
                    <img src='http://www.coes.org.pe/encuestasd/fotos/@item.DesFoto' style='width:40px; height:45px;' /> 
                </td>
                <td>@item.DesNombre</td>
                <td>@item.DesApellido</td>
                <td>@item.DesEmail</td>
                <td>@item.DesTelefono</td>
                <td>@item.DesAnexo</td>
                <td>@item.DesAnexoAlt</td>
                <td>@if (item.IndAnexoAlt == "S")
                    {
                        <span>Si</span>
                    }
                    else { 
                        <span>No</span>
                    }
                </td>
                <td>@item.DesArea</td>    
                <td>
                    @if (item.IndExtranet == "N")
                    {
                        <span>No</span>
                    }
                    else
                    {
                        <span>Si</span>
                    }
            </td>
                <td>
                    <a href="JavaScript:editar(@item.IdDirectorio,'@item.DesNombre', '@item.DesApellido', '@item.DesAnexoAlt', '@item.IndAnexoAlt', '@item.IndExtranet');"><img src="~/Content/Images/btn-edit.png" /></a>
                </td>           
                
            </tr>
        }
    </tbody>
</table>