@model COES.MVC.Extranet.Areas.Intervenciones.Models.NotificacionModel
<div class="content-registro">
    <table style="width:100%">
        <tr>
            <td class="registro-label">Empresa</td>
            <td class="registro-control"><strong>@Model.Empresa</strong></td>
        </tr>
        <tr>
            <td class="registro-label">Usuario</td>
            <td class="registro-control"><strong>@Model.Usuario</strong></td>
        </tr>
    </table>
</div>
<br />

<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th rowspan="2">Usuario</th>
            <th rowspan="2">Fecha</th>
            <th colspan="5">Tipo programación</th>
        </tr>
        <tr>
            <th>Ejecutado</th>
            <th>Diario</th>
            <th>Semanal</th>
            <th>Mensual</th>
            <th>Anual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConfiguracion)
        {
            <tr>
                <td>@item.UsuarioModificacion</td>
                <td>@item.FechaModificacion</td>
                <td>
                    <input type="checkbox" disabled @(item.IndEjecutado == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" disabled @(item.IndDiario == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" disabled @(item.IndSemanal == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" disabled @(item.IndMensual == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" disabled @(item.IndAnual == 1 ? "checked" : "") />
                </td>

            </tr>
        }
    </tbody>
</table>