<table class="pretty tabla-icono" id="tablaNotificacion">
    <thead>
        <tr>
            <th rowspan="2">Empresa</th>
            <th rowspan="2">Usuario</th>
            <th colspan="5">Tipo programación</th>
            <th rowspan="2">Ver logs</th>
        </tr>
        <tr>
            <th>Ejecutado</th>
            <th>Diario</th>
            <th>Semanal</th>
            <th>Mensual</th>
            <th>Anual</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaConfiguracion)
        {
            <tr>
                <td>@item.Empresa</td>
                <td>@item.Usuario</td>
                <td>
                    <input type="checkbox" @(item.IndEjecutado == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" @(item.IndDiario == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" @(item.IndSemanal == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" @(item.IndMensual == 1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" @(item.IndAnual == 1 ? "checked" : "") />
                </td>
                <td>
                    <a href="JavaScript:verHistorico(@item.Emprcodi, @item.Usercodi, '@item.Empresa', '@item.Usuario');"><img src="~/Content/Images/btn-properties.png" alt="Ver logs" /></a>
                    <input type="hidden" id="hfEmpresa" value="@item.Emprcodi" />
                    <input type="hidden" id="hfUsuario" value="@item.Usercodi" />
                    <input type="hidden" id="hfCodigo" value="@item.Codigo" />
                    <input type="hidden" id="hfEmpresaNombre" value="@item.Empresa" />
                    <input type="hidden" id="hfUsuarioNombre" value="@item.Usuario" />
                    <input type="hidden" id="hfEmail" value="@item.Email" />
                </td>
            </tr>
        }

    </tbody>
</table>