@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Informe Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";

    var urlReporte1 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=100";
    var urlReporte2 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=102";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Content/Scripts/grouped-categories.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/promsemanalcaudales.js?v=2.0.2"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div class="action-alert" style="margin-bottom: 5px; margin-top: 10px; display: block;width: 580px;">
            La configuración de los puntos de medición para el reporte se encuentra en <a target="_blank" href="@(urlReporte1)">Generador de Reporte</a>.
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="margin: 0 auto;"></div>

        <div class="action-alert" style="margin-bottom: 5px; margin-top: 10px; display: block;width: 580px;">
            La configuración de los puntos de medición para el reporte se encuentra en <a target="_blank" href="@(urlReporte2)">Generador de Reporte</a>.
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado2" style="margin: 0 auto;"></div>

    </div>
</div>