@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Informe Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";

}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5cargarmenu.js?v=2.0.2"></script>
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/prodgen_tiporecurso_rer.js?v=2.0.0"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="margin-bottom: 30px;"></div>

        <div id="grafico1" style="float: left; height: 500px; width: 700px;"></div>

        <div id="grafico2" style="width: 1100px; float: left;margin-bottom: 5px;"></div>

        <div id="grafico3" style="width: 550px; float: left;margin-bottom: 5px;"></div>
    </div>

</div>

<input type="hidden" id="hdFlagRER" value="S" />
@Html.Partial("~/Areas/IEOD/Views/Shared/ViewSharedDetalleGeneracion.cshtml")