@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.DemandaDistribuidoresULModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Calculo de los Porcentaje de Aportes - Demanda ejecutada / proyectada de los Distribuidores y Usuarios Libres";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/demandadistribuidoresul.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/load.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content">Demanda ejecutada / proyectada de los Distribuidores y Usuarios Libres</div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadPresupuesto.Caiprscodi > 0 && Model.EntidadAjuste.Caiajcodi > 0)
            {
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Prespuesto de consulta: @Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Año de Presupuesto y Versión de Ajuste</div>
            }
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td style="width:120px"><div>Presupuesto: </div></td>
                                    <td style="width:180px">
                                        <div class="editor-field" style="width:180px">
                                            <select id="caiprscodi" name="caiprscodi" onchange="refrescar();">
                                                @foreach (var item in Model.ListaPresupuesto)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiprscodi == Model.Caiprscodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiprscodi" @sSelected>@item.Caiprsnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:60px">Ajuste: </td>
                                    <td style="width:280px">
                                        <div class="editor-field" style="width:250px">
                                            <select id="caiajcodi" name="caiajcodi" style="width:250px">
                                                @foreach (var item in Model.ListaAjuste)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiajcodi == Model.Caiajcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiajcodi" @sSelected>@item.Caiajnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100px">Tipo empresa: </td>
                                    <td style="width:180px">
                                        <div class="editor-field" style="width:150px">
                                            <select id="tipoemprcodi" name="tipoemprcodi" style="width:150px;" onchange="refrescar();">
                                                @foreach (var item in Model.ListaTipoempresa)
                                                {
                                                    sSelected = "";
                                                    if (@item.Tipoemprcodi == Model.Tipoemprcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Tipoemprcodi" @sSelected>@item.Tipoemprdesc</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:80px">Empresa: </td>
                                    <td style="width:350px">
                                        <div class="editor-field" style="width:350px">
                                            <select id="emprcodi" name="emprcodi" style="width:350px;">
                                                @foreach (var item in Model.ListaEmpresasCumplimiento)
                                                {
                                                    sSelected = "";
                                                    if (@item.Emprcodi == Model.Emprcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Emprcodi" @sSelected>@item.Emprnomb</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                @if (Model.Caiprscodi > 0 && Model.Caiajcodi > 0)
                                {
                                <tr><td style="height:20px;" colspan="4"></td></tr>
                                    <tr>
                                        <td style="width:360px; height:40px; text-align:center;" colspan="4">
                                            <input type="button" id="btnConsultar" value="Consultar" />
                                            <input type="button" id="btnRegistrarEjecutado" value="Registrar Ejecutado" />
                                            <input type="button" id="btnRegistrarProyectado" value="Registrar Proyectado" />
                                            <input type="button" id="btnImportarEjecutadoPoyectado" value="Importar Ejecutado/Poyectado" />
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado">
        </div>
    </div>
</div>