@{
    Layout = null;
}


@{
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
}

<style type="text/css">
    .evento {
        padding: 10px;
        border: 1px none;
        border-radius: 10px !important;
        height: auto !important;
        color: #fff !important;
        font-size: 11px !important;
        font-weight: bold;
        margin-top: 5px !important;
    }

    .calendario tbody tr td {
        min-height: 80px !important;
        height: 80px !important;
        border: 1px thin #CBD3CF;
    }


</style>

<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 mb-md-4">
                <div class="coes-box container pt-3 pb-5 mb-5">
                    <div class="eventlist-inner">
                        <div class="coes-box mb-3">
                            <div class="coes-box--content container pt-2 pb-2">
                                <div class="coes-box--content">
                                    <div class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap">

                                        <div class="coes-pagination">
                                            <div class="coes-form--prev pe-3" id="btnAtras">
                                                <a class="ps-3" href="#">Anterior</a>
                                            </div>
                                        </div>

                                        <div class="coes-form-item" style="margin-right: 1.25rem; margin-bottom: 0; ">
                                            <label class="d-none" for="">Mes</label>
                                            <select name="fecMes" id="fecMes">
                                                @for (int i = 0; i < meses.Length; i++)
                                                {

                                                    if (@Convert.ToDecimal(i + 1).ToString("0#") == DateTime.Now.Month.ToString("0#"))
                                                    {
                                                        <option value="@Convert.ToDecimal(i+1).ToString("0#")" selected="selected">@meses[i]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                                                    }

                                                }
                                            </select>
                                        </div>

                                        <div class="coes-form-item" style=" margin-right: 1.25rem; margin-bottom: 0;">
                                            <label class="d-none" for="">Año</label>
                                            <select class="d-block" name="fecAnio" id="fecAnio">
                                                @for (int i = System.DateTime.Now.Year; i > 2007; i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="coes-pagination">
                                            <div class="coes-form--next ps-3" id="btnAdelante">
                                                <a class="pe-3" href="#">Siguiente</a>
                                            </div>
                                        </div>

                                        <div class="coes-pagination coes-pagination--mobile">
                                            <div class="coes-pagination d-flex justify-content-between">
                                                <div class="coes-form--prev pe-3">
                                                    <a class="ps-3" href="#">Anterior</a>
                                                </div>
                                                <div class="coes-form--next ps-3">
                                                    <a class="pe-3" href="#">Siguiente</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ListaEventosMes"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>