
@model COES.MVC.Publico.Areas.PostOperacion.Models.EventoModel
@{
    Layout = null;
}

<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/agenda.css" rel="stylesheet" />
<style>
    .eventlist-item--label {
        max-width:120px !important;
    }
</style>
<div id="ListaEventosMes">

    <ul class="eventlist ps-0">
        @foreach (var item in @Model.EventosMes)
        {
            <li class="eventlist-item coes-box mb-3 pb-1 pt-1">
                <div class="eventlist-item--date pt-3 pb-3 ps-3 pe-3">
                    <span class="eventlist-item--date-label" style=" margin-top: 100%;">@item.Dia</span>
                    <span class="eventlist-item--date-number">@item.DiaNro</span>
                </div>
                <div class="eventlist-item--info pt-3 pb-3 ps-3 pe-3">
                    <div class="eventlist-item--data">
                        <div class="eventlist-item  pb-2">
                            <span class="eventlist-item--label">Código:</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.CodigoEvento)</span>
                        </div>
                        <div class="eventlist-item  pb-2">
                            <span class="eventlist-item--label">Fecha:</span>
                            <span class="eventlist-item--value">@item.Fecha</span>
                        </div>
                        <div class="eventlist-item pb-2">
                            <span class="eventlist-item--label">Descripción:</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.Descripcion)</span>
                        </div>
                        <div class="eventlist-item--location pb-2">
                            <span class="eventlist-item--label">¿Es presencial?:</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.Presencial)</span>
                        </div>
                        <div class="eventlist-item--location pb-2">
                            <span class="eventlist-item--label">Fecha y hora de la reunión:</span>
                            <span class="eventlist-item--value">@Html.Raw(@item.FechaEvento)</span>
                        </div>
                    </div>
                    @*<div class="eventlist-item--download-agenda">
                        <a href="JavaScript:download(@item.Codigo)">
                            <img src="../../Content/img/icons/icon-download-black.svg" />
                        </a>
                    </div>*@
                </div>
            </li>


        }
    </ul>
</div>