@model COES.MVC.Publico.Areas.PostOperacion.Models.EventoModel

<div class="content-registro" style="margin-top:10px">
    <div class="popup-title"><span>Datos del evento</span></div>
    <div style="clear:both; height:10px"></div>
    <table class="tabla-evento-agenda" style="width:100%">
        <tbody>
            <tr>
                <td class="registro-label" style="width:200px">Código</td>
                <td class="registro-control">@Model.CODIGO</td>
            </tr>
            <tr>
                <td class="registro-label">Fecha</td>
                <td class="registro-control">@Model.FECHA_EVENTO</td>
            </tr>
            <tr>
                <td class="registro-label">Descripción</td>
                <td class="registro-control">@Model.EVENASUNTO</td>
            </tr>
        </tbody>
    </table>
    <div class="page-banner-title">
        <div class="popup-title"><span>Datos de la reunión</span></div>
        <div style="clear:both; height:10px"></div>
        <table class="tabla-evento-agenda" style="width:100%">
            <tbody>
                <tr>
                    <td class="registro-label" style="width:200px">¿Es presencial?</td>
                    @if (@Model.AFECONVTIPOREUNION == "P")
                    {
                        <td class="registro-control">Sí</td>
                    }
                    else
                    {
                        <td class="registro-control">No</td>
                    }
                </tr>
                <tr>

                    <td class="registro-label">Fecha y hora de la reunión</td>
                    <td class="registro-control">@Model.AFEREUFECHAPROGSTR @Model.AFEREUHORAPROG</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

