@model COES.Dominio.DTO.Transferencias.PeriodoDTO
@{
    ViewBag.Title = "Transferencias - Factores de Perdida Marginales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var periodoG = (IEnumerable<SelectListItem>)TempData["PericodigoGraf"];
    var periodoE = (IEnumerable<SelectListItem>)TempData["PericodigoExcel"];
    var barraE = (COES.MVC.Extranet.Areas.Transferencias.Models.BarraModel)TempData["BarrcodigoExcel"];
    var ListErrorLog = (List<COES.Dominio.DTO.Transferencias.ReporteLogDTO>)TempData["ListaLog"];
}
<script src="~/Content/Scripts/Charts/jquery.jqplot.min.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Scripts/Charts/jquery.jqplot.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/factorperdida.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.barRenderer.min.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.highlighter.min.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.cursor.min.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.pointLabels.min.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.dateAxisRenderer.min.js"></script>
<script src="~/Content/Scripts/Charts/jqplot.logAxisRenderer.min.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/jqplot.saveAsImage.min.js"></script>
<link href="~/Areas/Transferencias/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="ast">

    <div class="form-title">COSTOS MARGINALES POR MES DE VALORIZACIÓN</div>

    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Gráfico de Costos Marginales</a></li>
                <li class='tab'><a href="#paso2">Exportar Costos Marginales</a></li>
            </ul>

            <div class='panel-container'>
                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table cellspacing="2" cellpadding="4" style="width:1025px;">
                            <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                <td colspan="7"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros</b></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Periodo</div></td>
                                <td><div class="editor-field">@Html.DropDownList("PericodiG", @periodoG, "--Seleccione--")</div></td>
                                <td><div class="editor-label">Version </div></td>
                                <td><div class="editor-field"><select id="VersionB" style="width:100px;"></select></div></td>
                                <td style="text-align:left;"><div class="editor-label"><input type="button" id="btnVer" value="Ver Barras" /></div></td>
                                <td style="width:200px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><div style="float:right;"><input type="button" id="reset" value="Reducir" /><input type="button" id="Clean" value="Refrescar" /></div></td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    <br />
                    <div style="width:100%; display: none;" id="divResultado">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                            <tr>
                                <td style="text-align:left">
                                    <div style="max-height:800px;overflow-y:scroll; width:240px;">
                                        <table border="0" class="pretty" id="tabla">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Informacion</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </td>
                                <td style="text-align:right">
                                    <div style="width:720px;">
                                        <div id="grafico" style="height:400px; width:700px; "></div>
                                        <div id="grafico2" style="height:400px; width:700px; "></div>
                                        <br />
                                        <div id="btnBtones">
                                            <input type="button" id="btnImagen1" value="Imprimir Imagen 1" />
                                            <input type="button" id="btnImagen2" value="Imprimir Imagen 2" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="clear:both">
                            <a style="text-align:right"></a>
                        </div>
                    </div>
                </div>
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table cellspacing="2" cellpadding="4" style="width:1025px;">
                            <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                <td colspan="7"><div class="editor-label" style="color:#FFFFFF;"><b>Descarga a Excel</b></div></td>
                            </tr>
                            <tr>
                                <td style="width:200px;"><div class="editor-label">@Html.LabelFor(model => model.PeriCodi, "Periodo")</div></td>
                                <td style="width:200px;"><div class="editor-field">@Html.DropDownList("PericodiE", @periodoE, "--Seleccione--")</div></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><div class="editor-label">Version </div></td>
                                <td style="text-align:left;">
                                    <div class="editor-field">
                                        <select id="VersionA" style="width:100px;"></select>
                                    </div>
                                </td>
                                <td style="text-align:left;"><div><input type="button" id="btnGenerarCostoMarginal" value="Exportar Costos Marginales" /></div></td>
                                <td style="width:200px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>

                            <tr>
                                <td><div class="editor-label">Barra de transferencia</div></td>
                                <td>
                                    <div class="editor-label">
                                        <select id="BarrcodiE" name="BarrcodiE" multiple="multiple">
                                            @foreach (var item in @barraE.ListaBarras)
                                            {
                                                <option value="@item.BarrCodi">@item.BarrNombBarrTran </option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td colspan="2" style="text-align:left;"><div><input type="button" id="btnGenerarCMBarra" value="Exportar Barra Formato 1" /></div></td>
                                <td style="width:200px; text-align:left;"><div><input type="button" id="btnGenerarporBarra" value="Exportar Barra Formato 2" /></div></td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('btnBtones').style.display = "none";
    //var cboPeriodo = document.getElementById('Pericodi');
    function ASSETEC_ChartToPNG(c, p) {
        var nw = window.open('', '', "toolbar=no,location=no,scrollbars=yes,width=750,height=550");
        nw.document.write("<img src='" + jqplotToImg($("#" + c)) + "' />");
        nw.focus();
        if (p) nw.print();
    }

    $("#btnImagen1").click(function () {
        ASSETEC_ChartToPNG("grafico", true);
    });

    $("#btnImagen2").click(function () {
        ASSETEC_ChartToPNG("grafico2", true);
    });

    $("#btnImagen1PNG").click(function () {
        var imgData = $("#grafico").jqplotToImageStr({});
        if (imgData) {
            window.location.href = imgData.replace("image/png", "image/octet-stream");
        }
    });
    $("#btnImagen2PNG").click(function () {
        var imgData = $("#grafico2").jqplotToImageStr({});
        if (imgData) {
            window.location.href = imgData.replace("image/png", "image/octet-stream");
        }
    });
    //Salvar como PNG: $("#grafico").jqplotSaveImage();
</script>

<div id="popupEmpresa" class="general-popup">
    <div id="seleccionEmpresa"></div>

</div>

<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/51905469444" class="wsp" target="_blank" title="¿Necesitas ayuda? Escríbenos por WhatsApp">
    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
</a>

<style>
    .wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        transition: transform 0.3s ease;
    }

        .wsp:hover {
            transform: scale(1.1);
        }

        .wsp img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
</style>