@model COES.MVC.Intranet.Areas.Equipamiento.Models.DetalleZonaModel

<div class="content-registro">
    <table>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                @Model.DetalleZona.Areanomb
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                @Model.DetalleZona.Areaabrev
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Areas:</td>
            <td class="tbform-control"></td>
        </tr>
    </table>
    <br />
    <div id="listadoAreasZona">
        <table border="0" class="pretty tabla-icono display compact" id="tablaListadoAreas">
            <thead>
                <tr>
                    <th>Tipo área</th>
                    <th>Nombre</th>
                    <th>Abreviatura</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ListaAreasDeZona)
                {
                    <tr>
                        <td>@item.TAREANOMB</td>
                        <td>@item.AREANOMB</td>
                        <td>@item.AREAABREV</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
