@model COES.MVC.Intranet.Areas.Equipamiento.Models.EditarZonaModel
<script src="~/Areas/Equipamiento/Content/Scripts/ZonaEditar.js?v1.2"></script>
<script>
    $(function () {
        $('#cbNivelEditar').val($('#hdnANivelcodi').val());
    });
</script>
<div class="content-registro">
    <input id="hdnANivelcodi" type="hidden" value="@Model.ANivelCodi" />
    <table>
        <tr>
            <td class="tbform-label">Nivel:</td>
            <td class="tbform-control">
                <select id="cbNivelEditar" name="IdNivelEditar">
                    @foreach (var item in Model.ListaNivelesEditar)
                    {
                        <option value="@item.ANivelCodi">@item.ANivelNomb</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                <input type="text" id="txtZonanombre" value="@Model.ZonaEditar.Areanomb" name="Areanomb" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                <input type="text" id="txtZonaabreviacion" value="@Model.ZonaEditar.Areaabrev" name="Areaabrev" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Subestacion:</td>
            <td><input type="checkbox" id="checkfiltroeditar" class="checkeadoreditar" name="brandeditar" check="true"></td>

        </tr>
        <tr>
            <td class="tbform-label">Areas:</td>
            <td class="tbform-control"></td>
        </tr>

    </table>
    <input type="hidden" value="@Model.ZonaEditar.Areacodi" id="hdnAreaCodi" />
    <br />
    <div id="listadoAreasSeleccionar">
        <table border="0" class="pretty tabla-icono display compact" id="tablaAreasTotales">
            <thead>
                <tr>
                    <th></th>
                    <th>Tipo Área</th>
                    <th>Nombre</th>
                    <th>Abreviatura</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListaAreasEditar.Count > 0)
                {
                    foreach (var item in Model.ListaAreasEditar)
                    {
                        <tr>
                             <td>@item.Areacodi</td>

                            <td>@item.Tareanomb</td>

                            <td>@item.Areanomb</td>
                            <td>@item.Areaabrev</td>
                            

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div style="width:200px; margin:auto">
    <input type="button" id="btnGrabarEdit" value="Grabar" />
    <input type="button" id="btnCancelarEdit" value="Cancelar" />
</div>