@model COES.MVC.Intranet.Areas.Equipamiento.Models.ListaZonasModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Nivel</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaZonas.Count > 0)
        {
            foreach (var item in Model.ListaZonas)
            {
                <tr>
                    <td>
                        <a href="JavaScript:detalleZona(@item.Areacodi);" title="Mostar detalle Zona"><img src="~/Content/Images/btn-open.png" alt=""></a>
                        <a href="JavaScript:buscarAreas(@item.Areacodi);" title="Editar Zona"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    </td>
                    <td>@item.Areanomb</td>
                    <td>@item.Areaabrev</td>
                    <td>@item.ANivelNomb</td>
                </tr>
            }
        }

    </tbody>
</table>