@model COES.MVC.Intranet.Areas.Equipamiento.Models.NuevaZonaModel  
<script src="~/Areas/Equipamiento/Content/Scripts/ZonaNueva.js?v1.3"></script>

<div class="content-registro" >
    <table>
        <tr>
            <td class="tbform-label">Nivel:</td>
            <td class="tbform-control">
                <select id="cbNiveles" name="IdNiveles">
                    @foreach (var item in Model.ListaNiveles)
                    {
                        <option value="@item.ANivelCodi">@item.ANivelNomb</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td class="tbform-label">Nombre:</td>
            <td class="tbform-control">
                <input type="text" id="txtZonanomb" value="@Model.Zona.Areanomb" name="Areanomb" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                <input type="text" id="txtZonaabrev" value="@Model.Zona.Areaabrev" name="Areaabrev" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Subestacion:</td>
            <td><input type="checkbox" id="checkfiltro" class="checkeador" name="brand" check="true"></td>

        </tr>
        <tr>
            <td class="tbform-label">Areas:</td>
            <td class="tbform-control"></td>
        </tr>





    </table>
    <br />
    <div id="listadoAreasSeleccionar">
        <table border="0" class="pretty tabla-icono display compact" id="tablaAreasDisponibles">
            <thead>
                <tr>
                    <th></th>
                    <th>Tipo Área</th>
                    <th>Nombre</th>
                    <th>Abreviatura</th>

                </tr>
            </thead>
            <tbody>


                @if ((Model.ListaAreas.Count > 0))
                {
                    foreach (var item in Model.ListaAreas)
                    {

                        <tr>

                            <td>@item.Areacodi</td>

                            <td>@item.Tareanomb</td>

                            <td>@item.Areanomb</td>
                            <td>@item.Areaabrev</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div style="width:200px; margin:auto">
    <input type="button" id="btnGrabarNuevo" value="Grabar" />
    <input type="button" id="btnCancelarNuevo" value="Cancelar" />
</div>


