@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ComparativoModel
@{
    ViewBag.Title = "Comparativo HO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<link href="~/Areas/CortoPlazo/Content/Css/comparativo.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/CortoPlazo/Content/Scripts/comparativoHOvsDespacho.js?v=1.2.3"></script>

<div class="form-title">
    <div class="content-titulo">Comparativo Horas de Operación vs Despacho Ejecutado</div>

    <div class="content-botonera">
        <input type="button" id="btnExportarExcel" value="Exportar a excel">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">Por favor seleccione un Modo de operación.</div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="fechaPeriodo" value="@Model.FechaPeriodo" />
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Central:</td>
                <td>
                    <select id="cbCentral">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaCentral)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                </td>

                <td>Modo de operación:</td>
                <td>
                    <select id="cbModo" style="width: 324px;">
                        <option value="-1">--SELECCIONE--</option>
                    </select>
                </td>

                <td>
                    <input type="button" id="btnConsultar" value="Consultar">
                </td>


            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <div id="listado">

        </div>
    </div>
</div>
