@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.CalculoCompRSFModel
@{
    ViewBag.Title = "Proceso de Cálculo de Compensaciones por RSF y Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/calculocomprsf.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo" style="width:800px;">Cálculo de Compensaciones por RSF</div>
    </div>
    @if (Model.EntidadPeriodo.PeriCodi > 0 && Model.EntidadRecalculo.Vcrecacodi > 0)
    {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Cálculo de Compensaciones por RSF de: @Model.EntidadRecalculo.Perinombre / @Model.EntidadRecalculo.Vcrecanombre</div> }
else
{ <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo</div>}
    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Procesar Cálculo</a></li>
                <li class='tab'><a href="#paso2">Reportes</a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para procesar el cálculo</b></div></td>
                            </tr>
                            <tr>
                                <td><div style="width:50px">Periodo: </div></td>
                                <td style="width:300px">
                                    <select id="pericodi" name="pericodi" onchange="refrescar();">
                                        @foreach (var item in Model.ListaPeriodos)
                                        {
                                            sSelected = "";
                                            if (@item.PeriCodi == Model.Pericodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:100px">Recalculo: </td>
                                <td style="width:300px">
                                    <select id="vcrecacodi" name="vcrecacodi">
                                        @foreach (var item in Model.ListaRecalculo)
                                        {
                                            sSelected = "";
                                            if (@item.Vcrecacodi == Model.Vcrecacodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                        }
                                    </select>
                                </td>
                                <td colspan="2" style="width:450px;">
                                    @if (Model.bGrabar && Model.Pericodi > 0 && Model.Vcrecacodi > 0)
                                    {
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td><input type="button" value="Procesar calculo" id="btnProcesarCalculo" alt="Procesar calculo" title="Procesar calculo" /></td>
                                                <td><input type="button" value="Borrar calculo" id="btnBorrarCalculo" alt="Eliminar calculo" title="Eliminar calculo" /></td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                @*--------------------------------------------------------------------------------------------------------------------------------------------------*@
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para exportar la información deseada</b></div></td>
                            </tr>
                            <tr>
                                <td><div style="width:50px">Periodo: </div></td>
                                <td style="width:300px">
                                    <select id="pericodiRep" name="pericodiRep" onchange="refrescarRep();">
                                        @foreach (var item in Model.ListaPeriodos)
                                        {
                                            sSelected = "";
                                            if (@item.PeriCodi == Model.Pericodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:100px">Recalculo: </td>
                                <td style="width:300px">
                                    <select id="vcrecacodiRep" name="vcrecacodiRep">
                                        @foreach (var item in Model.ListaRecalculo)
                                        {
                                            sSelected = "";
                                            if (@item.Vcrecacodi == Model.Vcrecacodi)
                                            {
                                                sSelected = "selected";
                                            }
                                            <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            @if (Model.Pericodi > 0 && Model.Vcrecacodi > 0)
                            {
                                <tr class="THCabecera">
                                    <td colspan="2"><div class="editor-label" style="color:#FFFFFF;"><b>Lista de descargas disponibles</b></div></td>
                                    <td colspan="2"><div class="editor-label" style="color:#FFFFFF;"><b>Excel</b></div></td>
                                </tr>
                                if (Model.PeriAnioMes <= 202012)
                                {
                                    <tr>
                                        <td colspan="2">Superávit:</td>
                                        <td colspan="2"><a href="#" id="btnDescargarRepSuperavitExcel" title="Descargar Reporte de Superávit en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="2">Reserva No Suministrada:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepReservaNoSuministradaExcel" title="Descargar Reporte de Reserva No Suministrada en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reserva Asignada:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepReservaAsignadaExcel" title="Descargar Reporte de Reserva Asignada en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Costo de Oportunidad:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepCostoOportunidadExcel" title="Descargar Reporte de Costo de Oportunidad en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Compensación:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepCompensacionExcel" title="Descargar Reporte de Compensación en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Asignación de pago diario:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepAsignacionPagoDiarioExcel" title="Descargar Reporte de Asignación de pago diario en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Costo del servicio de RSF diario:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepCostoServicioRSFDiarioExcel" title="Descargar Reporte Reporte de Costo del servicio de RSF diario en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cuadro PR-21:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepCuadroPR21Excel" title="Descargar Reporte de Cuadro PR-21 en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reporte Resumen:</td>
                                    <td colspan="2"><a href="#" id="btnDescargarRepReporteResumenExcel" title="Descargar Reporte Resumen en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
