@model COES.MVC.Intranet.Areas.Transferencias.Models.PotenciaContratadaModel
    @{
        ViewBag.Title = "PotenciaContratadaConsulta";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
    <script src="~/Areas/Transferencias/Content/Scripts/potenciacontratada.js"></script>
    <script src="~/Content/Scripts/handsontable.full.min.js"></script>
    <link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">Consultas de datos de Potencias Contratadas</div>
            <div class="content-botonera">
                <input type="button" id="btnExportarExcel" value="Exportar" />
            </div>
        </div>
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">
            <span>Seleccione una empresa y periodo</span>
        </div>
        <div class="content-hijo">
            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                <table>
                    <tr>
                        <td>
                            <div class="search-content">
                                <table class="table-search">
                                    <tr>
                                        <td style="width:80px"><div class="editor-label">Mes de declaración : </div></td>
                                        <td style="width:80px">
                                            <div class="editor-label" style="text-align:left;">
                                                <select id="cboPeriodo" name="cboPeriodo" style="width:150px; background-color:white">
                                                    @foreach (var item in Model.ListaPeriodos)
                                                    {
                                                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width:60px"><div class="editor-label">Empresa : </div></td>
                                        <td style="width:60px">
                                            <div class="editor-field" style="text-align:left;">
                                                <select id="cboEmpresa" name="cboEmpresa" style="width:200px; background-color:white">
                                                    <option value="0">-- TODOS --</option>
                                                    @foreach (var item in Model.ListaEmpresas)
                                                    {
                                                        <option value="@item.EmprCodi">@item.EmprNombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width:60px"><div class="editor-label">Cliente : </div></td>
                                        <td style="width:60px">
                                            <div class="editor-field" style="text-align:left;">
                                                <select id="cboCliente" name="cboCliente" style="width:200px; background-color:white">
                                                    <option value="0">-- TODOS --</option>
                                                    @foreach (var item in Model.ListaClientes)
                                                    {
                                                        <option value="@item.EmprCodi">@item.EmprNombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width:60px"><div class="editor-label">Barra de transferencia : </div></td>
                                        <td style="width:60px">
                                            <div class="editor-field" style="text-align:left;">
                                                <select id="cboBarra" name="cboBarra" style="width:200px; background-color:white">
                                                    <option value="0">-- TODOS --</option>
                                                    @foreach (var item in Model.ListaBarrasTransferencia)
                                                    {
                                                        <option value="@item.BarrCodi">@item.BarrNombBarrTran</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width:60px">
                                            <div class="editor-label" style="text-align:left;">
                                                <input type="button" id="btnConsultar" value="Consultar" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
                <div id="grillaExcelConsulta" style="height:auto" class="handsontable"></div>
        </div>
    </div>