@model COES.MVC.Extranet.Areas.IEOD.Models.HorasOperacionModel

<input type="hidden" id="hfIdModGrup" name="hfIdModGrup" value="@Model.IdGrupoModo" />
<input type="hidden" id="hfFlagCentralRsvFriaToRegistrarUnidad2" name="hfFlagCentralRsvFriaToRegistrarUnidad2" value="@Model.FlagCentralRsvFriaToRegistrarUnidad" />

<select id="cbModoOpGrupo" name="cbModoOp" style="width: 220px;" @Model.ActFiltroCtral>
    @if (Model.ListaModosOperacion != null && (Model.IdTipoCentral == 5 || Model.IdTipoCentral == 4))
    {
        foreach (var item in Model.ListaModosOperacion)
        {
            <option value="@item.Grupocodi">@item.Gruponomb</option>
        }
    }
    else
    {
        if (Model.ListaGrupo != null)
        {
            foreach (var item in Model.ListaGrupo)
            {
                <option value="@item.Equicodi">@item.Equinomb</option>
            }
        }
    }
</select>
<input type="hidden" id="hfIdPos" name="hfIdPos" value="@Model.IdPos" />

