@model COES.MVC.Extranet.Areas.IEOD.Models.HorasOperacionModel

<table class="tabla-search" id="unidadesModoOperacionExtra">

    @if (Model.ListaUnidades != null && Model.ListaUnidades.Count > 0)
    {
        foreach (var item in Model.ListaUnidades)
        {
            var idCb = "cb" + item.Equicodi;
            var check = "";
            var classEstado = item.Equiestado != "B" ? "" : "unidad_baja";
            if (item.Equicodi == item.EquiCodiSelect)
            {
                check = "checked";
            }
            <tr>
                @if (Model.IdTipoCentral == 5)
                {
                    <td>
                        <table class="form_unid_esp">
                            <tr>
                                <td class="unidad_esp @classEstado">
                                    <input name="chkUnidades" type="checkbox" id="@item.Equicodi" @check disabled />@item.Equinomb

                                    @if (item.Equiestado != "B")
                                    {
                                        <a class="btn_add_hop" href="JavaScript:unidEsp_agregarHoEspecial(@(item.Equicodi),@Model.IdPos)">
                                            <img src="~/Areas/IEOD/Content/Images/btn-add.png">
                                        </a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                @if (item.Equiestado != "B")
                                {
                                    <td id="unidadEspecial_@(item.Equicodi)"></td>
                                }
                                else
                                {
                                    <td class="txt_estado">Equipo de Baja. Está deshabilitado el registro de horas de operación para esta unidad.</td>
                                }
                            </tr>
                        </table>
                    </td>
                }
                else
                {
                    <td class="tbform-label"><input name="chkUnidades" type="checkbox" id="@item.Equicodi" @check />@item.Equinomb</td>
                    <td class="tbform-control" style="display: none">
                        <select id="@idCb" name="cbTipoOperacion" style="width:220px;">
                            @if (Model.ListaTipoOperacion.Count > 0)
                            {

                                foreach (var item2 in Model.ListaTipoOperacion)
                                {
                                    var selected = "";
                                    if (item2.Subcausacodi == item.TipoOpId)
                                    {
                                        selected = "selected";
                                    }

                                    <option value="@item2.Subcausacodi" @selected>@item2.Subcausadesc</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="hfTipoOerac" name="hfTipoOerac" value="@Model.IdTipoOperSelect" />
                    </td>
                }
            </tr>
        }
    }

</table>

<input type="hidden" id="tipoModoUnidadEspecial" value="@Model.TipoModOp" />
<input type="hidden" id="tipoSubcausaDefecto" value="@Model.IdTipoOperSelect" />