@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel

<table class="tabla-formulario" id="tabla" role="presentation">
    <thead>
        <tr>
            <th scope="col">Area</th>
            <th scope="col">Tipo de equipo</th>
            <th scope="col">Equipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipoFiltro)
        {
            <tr onclick="seleccionarEquipo(@item.Equicodi,'@item.Equiabrev','@item.Areanomb','@item.Emprnomb', '@item.Famabrev', '@item.Emprcodi');" style="cursor:pointer">
                <td>@item.Areanomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
            </tr>
        }
    </tbody>
</table>
