@model COES.MVC.Intranet.Areas.IND.Models.BusquedaMantenimientoModel
<div class="">
    <div class="action-message" id="mensaje" style="display: none">Complete los datos y presione "Aceptar"</div>
    <div class="content-registro">
        <table role="presentation">
            <!--Primera fila-->
            <tr>
                <td style="width: 198px"></td>
                <td class="tbform-label border_formulario" style=" width: 200px !important;">Empresa</td>
                <td class="tbform-label cabecera border_formulario">Ubicación</td>
                <td class="tbform-label cabecera border_formulario">Tipo de Equipo</td>
                <td class="tbform-label cabecera border_formulario">Equipo</td>
            </tr>

            <tr>
                <td style=" padding-right: 10px;text-align: right;">
                    <input type="button" id="btnVisualizarEquipo" value="Seleccionar equipo" style="display: none" />
                </td>
                <td class="tbform-control border_formulario">
                    <span id="txtNuevoEmpresa" style="width:120px;" />
                </td>
                <td class="tbform-control border_formulario">
                    <span id="txtNuevoUbicacion" style="width:120px;" />
                </td>
                <td class="tbform-control border_formulario">
                    <span id="txtNuevoTipoEquipo" style="width:120px;" />
                </td>
                <td class="tbform-control border_formulario">
                    <span id="txtNuevoEquipo" style="width:120px;" />
                </td>
            </tr>

            <tr>
                <td style="height: 15px"></td>
            </tr>

            <!--fila-->
            <tr>
                <td class="tbform-label campo">Fecha Inicio</td>
                <td class="tbform-control">
                    <input type="text" id="txtNuevoIniF" style="width:90px;" value="@Model.FechaInicio" />
                    <input type="Text" id="txtNuevoIniH" style="width:80px;" value="@Model.HoraInicial" />
                </td>

                <td class="tbform-label campo replicar" style="text-align: left;">
                    Replicar
                    <input type="number" id="numDiaReplicar" name="numDiaReplicar" data-mask="0" value="0" min='0' max="30" required
                           style="width: 50px; text-align: right; background-color: white; border: 1px solid #CBD3CF; border-radius: 5px; height: 20px; text-indent: 8px; font: 12px arial, sans-serif; color: #4876AA;" /> día(s)
                </td>
            </tr>

            <!--fila-->
            <tr>
                <td class="tbform-label campo">Fecha Fin</td>
                <td class="tbform-control">
                    <input type="text" id="txtNuevoFinF" style="width:90px;" value="@Model.FechaFin" disabled />
                    <input type="Text" id="txtNuevoFinH" style="width:80px;" value="@Model.HoraFinal" />
                </td>
            </tr>


            <!--fila-->
            <tr>
                <td class="tbform-label campo">Mantenimiento (*)</td>
                <td class="tbform-control">
                    <select id="cbNuevoTipoMantenimiento" style="width:167px;">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaTipoMantenimiento)
                        {
                            <option value="@item.Evenclasecodi">@item.Evenclasedesc @item.Evenclaseabrev</option>
                        }
                    </select>
                </td>
            </tr>

            <!--fila-->
            <tr>
                <td class="tbform-label campo">Tipo de Indisponibilidad (*)</td>
                <td class="tbform-control">
                    <select style="background-color:white" id="cboTipoIndisp25">
                        <option value="-1">NO DEFINIDO</option>
                        @foreach (var item in Model.ListaTipoindispPr25)
                        {
                            <option value="@item.String1">@item.String2</option>
                        }
                    </select>
                    <input type="hidden" id="hfRbtnNuevoTipoIndisp" value="@Model.Tipoindisp" />
                    <input type="hidden" id="hfGrupocogeneracion" value="@Model.GrupoCogeneracion" />
                </td>

                <td class="tbform-label campo" style="width: 229px; display: none" id="td_pr">
                    Potencia restringida (MW)
                    <input type="text" id="prmwNuevo" value="@Model.Pr" style="width: 46px;">
                </td>

            </tr>

            <!--fila-->
            <tr id="tr_asoc" style="display: none">
                <td class="tbform-label campo">Asociado al Proceso Industrial</td>
                <td class="tbform-control">
                    <input type="checkbox" id="checkAsocprocNuevo">
                    <input type="hidden" id="hfCheckAsocprocNuevo" value="@Model.Asocproc" />
                </td>
            </tr>

            <!--fila-->
            <tr>
                <td class="tbform-label campo">Descripción del mantenimiento</td>
                <td class="tbform-control" colspan="3">
                    <textarea id="descripcion" style="width: 500px; height: 42px; max-width: 500px; max-height: 42px; min-width: 500px; min-height: 42px; "></textarea>
                </td>
            </tr>

            <!--fila-->
            <tr>
                <td class="tbform-label campo">Comentario Interno</td>
                <td class="tbform-control" colspan="3">
                    <textarea id="comentario" style="width: 500px; height: 42px; max-width: 500px; max-height: 42px; min-width: 500px; min-height: 42px; " placeholder="Motivo por el cual se crea/edita este registro para los cálculos del aplicativo Indisponibilidades (opcional)"></textarea>
                </td>
            </tr>

            <tr>
                <td style="padding-top: 20px;">(*) campos obligatorios</td>
            </tr>
        </table>

        <table class="btnAcciones" style="display: none">
            <tr>
                <td>
                    <input type="button" id="btnAceptar" value="Aceptar" />
                </td>
                <td>
                    <input type="button" id="btnCancelar" value="Cancelar" />
                </td>
            </tr>
        </table>

        <table class="btnAcciones2" style="display: none">
            <tr>
                <td>
                    <input type="button" id="btnAceptar2" value="Cerrar" />
                </td>
            </tr>
        </table>

    </div>
</div>

<div id="busquedaEquipo" class="popup-class-1" style="z-index: 9999999999; display: none; width: 950px; height:500px">
</div>

<input type="hidden" id="hfFormEmpresa" value="@Model.Empresa" />
<input type="hidden" id="hfFormTipoEquipo" value="@Model.Familia" />
<input type="hidden" id="hfFormUbicacion" value="@Model.Ubicacion" />
<input type="hidden" id="hfFormEquipo" value="@Model.Equinomb" />
<input type="hidden" id="hfFormEquicodi" value="@Model.Equicodi" />
<input type="hidden" id="hfFormTipoMantenimiento" value="@Model.IdTipoMantenimiento" />
<input type="hidden" id="hfFormDescripcion" value="@Model.Descripcion" />

<input type="hidden" id="hfCodigoIndMantto" value="@Model.Indmancodi" />
<input type="hidden" id="hfCodigoEveMantto" value="@Model.Manttocodi" />
<input type="hidden" id="hfFechaActual" value="@Model.FechaActual" />
<input type="hidden" id="hfFechaSiguiente" value="@Model.FechaSiguiente" />
<input type="hidden" id="hfHayCambios" value="0" />
<input type="hidden" id="hfTipoAccion" value="@Model.TipoAccionFormulario" />
<input type="hidden" id="hfFuenteDato" value="@Model.FuenteDatos" />