@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

<table id="tabla_hist" border="0" class="pretty tabla-icono" cellspacing="0" width="100%" role="presentation">
    <thead>
        <tr>
            <th scope="col" style="width: 200px">Estado</th>
            <th scope="col">Indisponibilidad</th>
            <th scope="col">Pr (MW)</th>
            <th scope="col">Omitir <br>7 Días)</th>
            <th scope="col">Omitir <br>Ex. Pr</th>
            <th scope="col">Motivo de cambio</th>
            <th scope="col">Usuario modificación</th>
            <th scope="col">Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIndMantto)
        {

            <tr>
                <td>@item.IndmanestadoDesc</td>
                <td>@item.Indmantipoindisp</td>
                <td>@item.Indmanpr</td>
                <td>@item.Indmanomitir7d</td>
                <td>@item.Indmanomitirexcesopr</td>
                <td>@item.Indmancomentario</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
            </tr>
        }
    </tbody>
</table>