@model COES.MVC.Publico.Areas.Interconexiones.Models.ContratoModel
@{
    ViewBag.Title = "Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Interconexiones/Content/Scripts/contratos.js"></script>

<div class="form-title">
    <div class="content-titulo">Historico Contratos Registrados</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
          <input type="button" id="btnNuevo" value="Nuevo" />                           
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr >                
                <td>Tipo de Operación:</td>
                <td style="width:100px" >
                    <select id="cbTipoOp" name="IdTipoOp" multiple="multiple">                        
                        @foreach (var item in Model.ListaTipoOpContrato)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoOp" name="tipooperacion"/>
                </td>                              
               <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  />
                    <input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>                                  
            </tr>                                             
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>       
</div>