@model COES.MVC.Publico.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "IndexHistorico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Interconexiones/Content/Scripts/reporteshistinter.js"></script>
<link href="~/Areas/Interconexiones/Content/Css/css.css" rel="stylesheet" />

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Consulta Histórica</h1>
        <span>
            Intercambios Internacionales
        </span>
    </div>
    <img src="~/Content/Images/Banners/IntercambiosInternacionales.jpg" alt="Programa de Operación Diario" />
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Interconexión:</td>
                            <td style="width:300px">
                                <select id="cbInterconexion" name="IdInterconexion" style="width:280px;">
                                    @foreach (var item in Model.ListaInterconexion)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Interdecrip @item.Interenlace</option>
                                    }
                                </select>
                                <input type="hidden" id="hfInterconexion" value="@Model.IdPtomedicion" />
                            </td>
                            <td>Medidor:</td>
                            <td style="width: 130px">
                                <select id="cbMedidor" name="cbMedidor" style="width: 130px;">
                                    @foreach (var item in Model.ListaMedidor)
                                    {
                                        <option value="@item.Medicodi">@item.Medinombre</option>
                                    }
                                </select>
                                <input type="hidden" id="hfMedidor" value="@Model.IdMedidor" />
                            </td>
                            <td>Fecha desde:</td>
                            <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" /></td>
                            <td>Fecha hasta:</td>
                            <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" /></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table></table>
                </td>
            </tr>
        </table>
    </div>
    <div style="width:400px; margin:auto; text-align:center; margin-top:15px">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExpotar" value="Exportar Reporte" />

    </div>
</div>
<div class="content-tabla">
    <div class="tabla-header">
        <div class="table-paginado" id="paginado"></div>
    </div>
    <div style="clear:both; height:5px"></div>
    <div class="table-list" id="listado"></div>
</div>
<div style="clear:both; height:30px"></div>

</div>
