@model COES.MVC.Publico.Areas.Interconexiones.Models.ContratoModel
@{
    ViewBag.Title = "NuevoContrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Interconexiones/Content/Scripts/nuevocontrato.js"></script>
<link href="~/Areas/Interconexiones/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Interconexiones/Content/Css/css/cmxform.css" rel="stylesheet" />
<script src="~/Areas/Interconexiones/Content/Lib/jquery.validate.js"></script>
<style>

</style>
<script type="text/javascript">
    $(function () {
        $('#cbConttipoper').val($('#hfcbTipoOp').val());
        $('#cbHoraIni').val($('#hfcbHoraIni').val());
        $('#cbHoraFin').val($('#hfcbHoraFin').val());
        $('#cbTipoCopia').val($('#hfcbTipoCopia').val());
        $('#btnAceptarContrato').click(function () {
            cerrarpopupContNuevoOK();
        });
        $('#printArea').hide();
        $("#frmContrato").validate({
            submitHandler: function () {
                guardarContrato();
            },
            rules: {
                Contagautnom: "required",
                Contagautdirec: "required",
                Contagauttipoact: "required",
                Contagautreplegal: "required",
                Contagautemail: {
                    required: true,
                    email: true
                },
                Contagauttelef: {
                    required: true,
                    minlength: 7
                },
                Contagautrepaut: "required",
                Contagautrepautemail: {
                    required: true,
                    email: true
                },
                Contagautrepauttel: {
                    required: true,
                    minlength: 7
                },
                Contaghabnom: "required",
                Contaghabdirec: "required",
                Contaghabreplegal: "required",
                Contaghabemail: {
                    required: true,
                    email: true
                },
                Contaghabtelef: {
                    required: true,
                    minlength: 7
                },
                Contfechaini: "required",
                Contfechafin: "required",
                Contpotmax: "required",
                Contcopcontrato: "required",
                Contacuinter: "required"
            },
            messages: {
                Contagautnom: "Ingrese Denominación o razón social",
                Contagautdirec: "Ingrese domicilio legal",
                Contagauttipoact: "Ingrese tipo de actividad",
                Contagautreplegal: "Ingrese representante legal",
                Contagautemail: "Ingrese email válido",

                Contagauttelef: {
                    required: "Ingrese teléfono",
                    minlength: "Mínino 7 caracteres"
                },
                Contagautrepaut: "Ingrese representante autorizado",
                Contagautrepautemail: "Ingrese email válido",
                Contagautrepauttel: {
                    required: "Ingrese teléfono",
                    minlength: "Mínino 7 caracteres"
                },
                Contaghabnom: "Ingrese Denominación o razón social",
                Contaghabdirec: "Ingrese domicilio legal",
                Contaghabreplegal: "Ingrese representante legal",
                Contaghabemail: "Ingrese email válido",
                Contaghabtelef: {
                    required: "Ingrese teléfono",
                    minlength: "Mínino 7 caracteres"
                },
                Contfechaini: "Ingrese fecha inicio de contrato",
                Contfechafin: "Ingrese fecha fin de contrato",
                Contpotmax: "Ingrese Potencia Máxima Contratada",
                Contcopcontrato: "Ingrese Contrato",
                Contacuinter: "Ingrese Acuerdo de Intercambio"
            }
        });
    });
</script>

<div class="form-title">
    <div class="content-titulo">Comunicación de Contratos</div>
    <div class="content-botonera" id="container">


        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div id="tab-container" class='content-hijo' style="display:block;">

    <form id="frmContrato" class="form-search" method="get" action="">
        <div class="tdPadd" style="background-color:white">

            <table style="width:350px;">
                <tr>
                    <td>
                        @* <input class="submit" type="submit" value="Envíar">*@
                    </td>
                    <td>
                        <i class="fa fa-print"></i>
                        @*<input type="button" id="btnImprimir" value="Imprimir"/> *@
                    </td>
                    <td>
                        <input type="button" value="Anexo 01">
                        <input type="button" value="Anexo 03">
                    </td>
                </tr>
            </table>
            <div style="clear:both; height:20px"></div>
            <div class="popup-title"><span></span></div>


            <table class="content-tabla-search" style="width: auto;background-color:white" id="tInfo01" border="0">
                <tr>
                    <td colspan="9"><h3>1.&nbsp;&nbsp;  TIPO DE OPERACIÓN</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">1.1</td>
                    <td>Tipo:</td>
                    <td>
                        <select id="cbConttipoper" name="Conttipoper" title="Seleccione Tipo de Operación!" required>
                            <option value="" selected>[Seleccionar Tipo de Operación]</option>
                            @foreach (var item in Model.ListaTipoOpContrato)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }
                        </select>
                        <input type="hidden" id="hfcbTipoOp" value="@Model.Conttipoper" />
                    </td>

                </tr>
                <tr>
                    <td colspan="9"><h3>2.&nbsp;&nbsp;  DATOS DEL AGENTE AUTORIZADO</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.1</td>
                    <td>Denominación o razon social</td>
                    <td colspan="2"><input type="text" id="txtContagautnom" name="Contagautnom" value="@Model.Contagautnom" style="width: 450px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.2</td>
                    <td>Domicilio legal</td>
                    <td colspan="2"><input type="text" id="txtContagautdirec" name="Contagautdirec" value="@Model.Contagautdirec" style="width: 500px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.3</td>
                    <td>Tipo de Actividad</td>
                    <td><input type="text" id="txtContagauttipoact" name="Contagauttipoact" value="@Model.Contagauttipoact" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.4</td>
                    <td>Representante legal</td>
                    <td colspan="2"><input type="text" id="txtContagautreplegal" name="Contagautreplegal" value="@Model.Contagautreplegal" style="width: 450px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.5</td>
                    <td>Correo Electronico</td>
                    <td><input type="text" id="txtContagautemail" name="Contagautemail" value="@Model.Contagautemail" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.6</td>
                    <td>Teléfonos</td>
                    <td><input type="text" id="txtContagauttelef" name="Contagauttelef" value="@Model.Contagauttelef" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.7</td>
                    <td>Representante Autorizado</td>
                    <td colspan="2"><input type="text" id="txtContagautrepaut" name="Contagautrepaut" value="@Model.Contagautrepaut" style="width: 450px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.8</td>
                    <td>Correo electronico</td>
                    <td><input type="text" id="txtContagautrepautemail" name="Contagautrepautemail" value="@Model.Contagautrepautemail" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">2.9</td>
                    <td>Telefonos</td>
                    <td><input type="text" id="txtContagautrepauttel" name="Contagautrepauttel" value="@Model.Contagautrepauttel" /></td>
                </tr>
                <tr>
                    <td colspan="9"><h3>3.&nbsp;&nbsp;  DATOS DEL AGENTE HABILITADO DEL OTRO SISTEMA</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">3.1</td>
                    <td>Denominación o Razón Social</td>
                    <td colspan="2"><input type="text" id="txtContaghabnom" name="Contaghabnom" value="@Model.Contaghabnom" style="width: 450px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">3.2</td>
                    <td>Domicilo Legal</td>
                    <td colspan="2"><input type="text" id="txtContaghabdirec" name="Contaghabdirec" value="@Model.Contaghabdirec" style="width: 500px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">3.3</td>
                    <td>Representante Legal</td>
                    <td colspan="2"><input type="text" id="txtContaghabreplegal" name="Contaghabreplegal" value="@Model.Contaghabreplegal" style="width: 450px;" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">3.4</td>
                    <td>Correo Electronico</td>
                    <td><input type="text" id="txtContaghabemail" name="Contaghabemail" value="@Model.Contaghabemail" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">3.5</td>
                    <td>Teléfonos</td>
                    <td><input type="text" id="txtContaghabtelef" name="Contaghabtelef" value="@Model.Contaghabtelef" /></td>
                </tr>
                <tr>
                    <td colspan="9"><h3>4.&nbsp;&nbsp;  INICIO DEL CONTRATO</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">4.1</td>
                    <td>Fecha</td>
                    <td><input type="text" id="txtContfechaini" name="Contfechaini" value="@Model.Contfechaini" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">4.2</td>
                    <td>Hora</td>
                    <td>
                        <select id="cbHoraIni" name="HoraIni" title="Seleccione Hora Inicio!" required>

                            <option value="">--Seleccione Hora Inicio--</option>
                            @foreach (var item in Model.ListaHoras)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }
                        </select>
                        <input type="hidden" id="hfcbHoraIni" value="@Model.HoraIni" />
                    </td>
                </tr>
                <tr>
                    <td colspan="9"><h3>5.&nbsp;&nbsp;  FINALIZACIÓN DEL CONTRATO</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">5.1</td>
                    <td>Fecha</td>
                    <td><input type="text" id="txtContfechafin" name="Contfechafin" value="@Model.Contfechafin" /></td>
                </tr>
                <tr>
                    <td class="tdPadd">5.2</td>
                    <td>Hora</td>
                    <td>
                        <select id="cbHoraFin" name="HoraFin" title="Seleccione Hora Fin!" required>
                            <option value="">--Seleccione Hora Fin--</option>
                            @foreach (var item in Model.ListaHoras)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }
                        </select>
                        <input type="hidden" id="hfcbHoraFin" value="@Model.HoraFin" />
                    </td>
                </tr>
                <tr>
                    <td colspan="9"><h3>6.&nbsp;&nbsp;  POTENCIA MÁXIMA CONTRATADA(MW)</h3></td>
                </tr>
                <tr>
                    <td class="tdPadd">6.1</td>
                    <td>Potencia</td>
                    <td><input type="text" id="txtContpotmax" name="Contpotmax" value="@Model.Contpotmax" /></td>
                </tr>
                <tr>
                    <td colspan="9"><h3>7.&nbsp;&nbsp;  COPIA DE</h3></td>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td><div class="tdPadd">Copia:</div></td>
                    <td colspan="2">
                        <select id="cbTipoCopia" name="TipoCopia">
                            <option value="0" selected>[Seleccionar copia de..]</option>
                            @foreach (var item in Model.ListaTipoCopia)
                            {
                                <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                            }
                        </select>
                        <input type="hidden" id="hfcbTipoCopia" value="@Model.Conttipocopia" />
                    </td>
                </tr>
            </table>
        </div>
        @*  }*@
    </form>
</div>
<input type="hidden" id="hfIsnuevo" value="@Model.Isnuevo" />

<div id="printArea">
    <div id="bodyprint" style="width:800px;">
        <div class="tituloContrato">ANEXO 02</div>
        <div class="tituloContrato">COMUNICACI&Oacute;N DE CONTRATOS</div>
        <br />
        <div class="subtitulos">1.&nbsp;&nbsp;  TIPO DE OPERACIÓN</div>
        <br />
        <table>
            <tr>
                <td><div class="tdSpace">1.1</div></td>
                <td style="width:200px;">
                    <div class="datosLabel">IMPORTACIÓN: </div>
                </td>
                <td><div id="txtImport" class="tdLong1"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">1.2</div></td>
                <td>
                    <div class="datosLabel">EXPORTACIÓN: </div>
                </td>
                <td><div id="txtExport" class="tdLong1"></div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">2.&nbsp;&nbsp;  DATOS DEL AGENTE AUTORIZADO</div>
        <table>
            <tr>
                <td><div class="tdSpace">2.1</div></td>
                <td style="width:200px;">
                    <div class="datosLabel"> DENOMINACIÓN O RAZON SOCIAL: </div>
                </td>
                <td colspan="5"><div id="Contagautnom" class="tdLong"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace"> 2.2</div></td>
                <td><div>DOMICILIO LEGAL:</div></td>
                <td colspan="5"><div id="Contagautdirec" class="tdLong"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">2.3</div></td>
                <td>TIPO DE ACTIVIDAD:</td>
                <td><div id="Contagauttipoact" class="tdLong1"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">2.4</div></td>
                <td>REPRESENTANTE LEGAL:</td>
                <td colspan="5"><div id="Contagautreplegal" class="tdLong"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">2.5</div></td>
                <td>CORREO ELECTRONICO:</td>
                <td><div id="Contagautemail" class="tdLong1"></div></td>

                <td><div class="tdSpace">2.6</div></td>
                <td>TELÉFONOS:</td>
                <td><div id="Contagauttelef" class="tdLong1"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">2.7</div></td>
                <td>REPRESENTANTE AUTORIZADO:</td>
                <td colspan="5"><div id="Contagautrepaut" class="tdLong"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">2.8</div></td>
                <td>CORREO ELECTRONICO:</td>
                <td><div id="Contagautrepautemail" class="tdLong1"></div></td>

                <td><div class="tdSpace">2.9</div></td>
                <td>TELEFONOS:</td>
                <td colspan="2"><div id="Contagautrepauttel" class="tdLong1"></div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">3.&nbsp;&nbsp;  DATOS DEL AGENTE HABILITADO DEL OTRO SISTEMA</div>
        <table>
            <tr>
                <td><div class="tdSpace">3.1</div></td>
                <td style="width:200px;">DENOMINACIÓN O RAZÓN SOCIAL:</td>
                <td colspan="5"><div id="Contaghabnom" class="tdLong"></div></td>
            </tr>
            <tr>

                <td><div class="tdSpace">3.2</div></td>
                <td>DOMICILO LEGAL:</td>
                <td colspan="5"><div id="Contaghabdirec" class="tdLong">@Model.Contaghabdirec</div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">3.3</div></td>
                <td>REPRESENTANTE LEGAL:</td>
                <td colspan="5"><div id="Contaghabreplegal" class="tdLong">@Model.Contaghabreplegal</div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">3.4</div></td>
                <td>CORREO ELECTRONICO:</td>
                <td><div id="Contaghabemail" class="tdLong1">@Model.Contaghabemail</div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">3.5</div></td>
                <td>TELÉFONOS:</td>
                <td><div id="Contaghabtelef" class="tdLong1">@Model.Contaghabtelef</div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">4.&nbsp;&nbsp;  INICIO DEL CONTRATO</div>
        <table>
            <tr>
                <td><div class="tdSpace">4.1</div></td>
                <td style="width:200px;">FECHA:</td>
                <td><div id="Contfechaini" class="tdLong1">@Model.Contfechaini</div></td>

                <td> <div class="tdSpace">4.2</div></td>
                <td>HORA:</td>
                <td><div id="HoraIni" class="tdLong1">@Model.HoraIni:00 hs</div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">5.&nbsp;&nbsp;  FINALIZACIÓN DEL CONTRATO</div>
        <table>
            <tr>
                <td><div class="tdSpace">5.1</div></td>
                <td style="width:200px;">FECHA:</td>
                <td><div id="Contfechafin" class="tdLong1">@Model.Contfechafin</div></td>

                <td class="tdSpace">5.2</td>
                <td>>HORA:</td>
                <td><div id="HoraFin" class="tdLong1">@Model.HoraFin:00 hs</div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">6.&nbsp;&nbsp;  POTENCIA MÁXIMA CONTRATADA(MW)</div>
        <table>
            <tr>
                <td><div class="tdSpace">6.1</div></td>
                <td style="width:200px;">POTENCIA:</td>
                <td colspan="2"><div id="Contpotmax" class="tdLong1">@Model.Contpotmax</div></td>
            </tr>
        </table>
        <br />
        <div class="subtitulos">7.&nbsp;&nbsp;  COPIA DE</div>
        <table>
            <tr>
                <td><div class="tdSpace">7.1 </div></td>
                <td style="width:200px;">CONTRATO:</td>
                <td><div id="txtContrato" class="tdLong1"></div></td>
            </tr>
            <tr>
                <td><div class="tdSpace">7.2</div></td>
                <td>ACUERDO DE INTERCAMBIO:</td>
                <td><div id="txtAcuerdoInter" class="tdLong1">X</div></td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="txtFirma" class="tdFirma">
            @Model.Contagautrepaut
        </div>
        <div class="tdFirma"><b>-----------------------------------------</b></div>
        <div class="tdFirma"><b>Representante autorizado</b></div>
    </div>
</div>
