@model COES.MVC.Publico.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "AcuerdoOperativo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Areas/Interconexiones/Content/Scripts/flujopotencia.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Interconexiones/Content/Css/css.css" rel="stylesheet" />

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Reportes y Gráficos de Intercambio de Electricidad</h1>
        <span>
            Intercambios Internacionales
        </span>
    </div>
    <img src="~/Content/Images/Banners/IntercambiosInternacionales.jpg" alt="Programa de Operación Diario" />
</div>

<div id="tab-container" class='tab-container' >
    <ul class='etabs'>
        <li id="tab1" class='tab'><a href="#paso1">Evolución del Flujo de Potencia,Energía,Tensión y Amperios</a></li>
        <li id="tab2" class='tab'><a href="#paso2">Evolución de la Energía y Potencia</a></li>
    </ul>
    <div class='panel-container' >
        <div id="paso1">
            <div class="content-hijo" style="height:800px;">
                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr >
                            <td>Interconexión:</td>
                            <td style="width:300px" >
                                <select id="cbInterconexion" name="IdInterconexion" style="width:280px;">
                                    @foreach (var item in Model.ListaInterconexion)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Interdecrip @item.Interenlace</option>
                                    }
                                </select>
                    
                            </td>
                            <td>Fecha desde:</td>
                            <td>
                                <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  />
                    
                            </td>
                            <td> 
                                <input type="button" id="btnBuscar" value="Consultar" /> 
                            </td>
                            <td><input type="button" id="btnExpotar" value="Exportar" /></td>                              
                        </tr> 
                        <tr>
                            <td>Parámetro:</td>
                            <td>
                                <select id="cbParametro" style="width:280px;">
                                    <option value="1">Potencia Activa (MW)</option>
                                    <option value="2">Potencia Reactiva (MVAR)</option>
                                    <option value="3">Energía Activa (MWh)</option>
                                    <option value="4">Energía Reactiva (MVARh)</option>
                                    <option value="5">Tensión(kV) y Amperios(Amp)</option>
                                </select>
                            </td> 
                            <td>Fecha hasta:</td>
                            <td>
                                <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    
                            </td> 
                            <td></td>
                            <td></td>
                        </tr>                                            
                    </table>
                </div>
                <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>       
            </div>
            <div style="clear:both"></div>
        </div>
        <div id="paso2">
            <div class="content-hijo" style="height:800px;">
            <div class="search-content">
                <table class="content-tabla-search" style="width:auto">
                    <tr >
                        <td>Interconexión:</td>
                        <td style="width:300px" >
                            <select id="cbInterconexion2" name="IdInterconexion" style="width:280px;">
                                @foreach (var item in Model.ListaInterconexion)
                                {
                                    <option value="@item.Ptomedicodi">@item.Interdecrip @item.Interenlace</option>
                                }
                            </select>
                            
                        </td>
                        <td>Fecha desde:</td>
                        <td>
                            <input type="text" id="FechaDesde2" name="FechaInicio" style="width:150px" value="@Model.FechaInicio"  />

                        </td>
                        <td>Fecha hasta:</td>
                        <td>
                            <input type="text" id="FechaHasta2" name="FechaFin" style="width:150px" value="@Model.FechaFin" />
                            
                        </td>  
                        <td>
                    
                        </td>                                
                    </tr>                                             
                </table>
            </div>
             <div style="width:400px; margin:auto; text-align:center; margin-top:15px" >
                <input type="button" id="btnBuscar2" value="Consultar" />
                <input type="button" id="btnExpotar2" value="Exportar Reporte" />
            </div>
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>
                <div class="table-list" id="listado2"></div>
            </div> 
            </div>
            <div style="clear:both"></div><div style="clear:both"></div>
        </div>
    </div>
</div>

<input type="hidden" id="hfInterconexion" value="@Model.IdPtomedicion"/>
<input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
<input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
<div style="clear:both"></div>