@model COES.MVC.Extranet.Areas.Eventos.Models.EventoScoModel






<table border="0" class="pretty tabla-adicional" id="tabla" style='table-layout: fixed;'>
    <thead>
        <tr>
            <th style='width: 150px'>Nombre de Documento</th>
            @if (!(bool)ViewBag.EsOsinergmin)
            {
                <th style='width: 50px'>Fecha <br /> de Envío</th>
                <th style='width: 40px'>Código <br /> de Envío</th>
            }

            @if ((bool)ViewBag.EsOsinergmin)
            {
                <th style='width: 40px'>Descargar</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstInformes)
        {
            <tr>
                <td style="text-align: left">@item.Eveinfrutaarchivo</td>
                @if (!(bool)ViewBag.EsOsinergmin)
                {
                    <td>
                        @if (item.Lastdate != null)
                        {
                            <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm"))</span>
                        }
                    </td>
                    <td style="text-align: center">@item.Env_Evencodi</td>
                }


                @if ((bool)ViewBag.EsOsinergmin)
                {
                    <td>
                        <div class="content-item-action">
                            <a href="javascript:void(0);" class="btn-descargar"
                               onclick="descargarInforme(
                           '@ViewBag.appName',
                            @item.Env_Evencodi,
                            @item.Eveinfcodi,
                            '@item.Eveinfrutaarchivo',
                            '@item.Anio',
                            '@item.Semestre',
                            '@item.Diames',
                            '@item.Afiversion',
                            '@item.Emprcodi')">
                                <img src="~/Content/Images/bajar.png" style="width:18px; height:18px;" />
                            </a>
                        </div>
                    </td>

                }


            </tr>
        }

    </tbody>
</table>

