@model COES.MVC.Extranet.Areas.Eventos.Models.EventoScoModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" id="tabla" style='table-layout: fixed;'>
    <thead>
        <tr>
            <th style='width: 90px'>Fecha y hora <br /> del evento</th>
            <th style='width: 165px'>Descripción (Resumen)</th>
            <th style='width: 40px'>Detalle</th>

            @if (!(bool)ViewBag.EsOsinergmin)
            {
                <th style='width: 198px'>IPI</th>
                <th style='width: 53px'>Cargar IPI</th>
                <th style='width: 198px'>IF</th>
                <th style='width: 50px'>Cargar IF</th>
            }
            else
            {
                <th style='width: 53px'>IPI</th>
                <th style='width: 50px'>IF</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstEvento)
        {
            var sColorIPI = "";
            var sColorIF = "";
            var sPlazoIPI = item.EnPlazoIPI != true ? "'F'" : "'P'";
            var sPlazoIF = item.EnPlazoIF != true ? "'F'" : "'P'";

            if (item.ColorTextoPlazoIPI != "" && item.ColorPlazoIPI != "")
            {
                sColorIPI = "color:" + item.ColorTextoPlazoIPI + ";background-color:" + item.ColorPlazoIPI + ";";
            }
            else if (item.ColorTextoPlazoIPI != "")
            {
                sColorIPI = "color:" + item.ColorTextoPlazoIPI + ";";
            }
            if (item.ColorTextoPlazoIF != "" && item.ColorPlazoIF != "")
            {
                sColorIF = "color:" + item.ColorTextoPlazoIF + ";background-color:" + item.ColorPlazoIF + ";";
            }
            else if (item.ColorTextoPlazoIF != "")
            {
                sColorIF = "color:" + item.ColorTextoPlazoIF + ";";
            }
        <tr>
            <td>
                @if (item.EvenIni != null)
                {
                    // ordena el evento mas reciente al más antiguo, empezando por el año, mes y luego día (ocultamos el span para que solo figure el otro formato yyyy/mm/dd)
                    <span style="visibility:collapse; display:none;">@(((DateTime)item.EvenIni).ToString("yyyy/MM/dd HH:mm:ss"))</span>
                    <span>@(((DateTime)item.EvenIni).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                }
            </td>
            <td style="text-align: left">@item.Evenasunto</td>
            <td style="width:30px">
                <a href="JavaScript:VerDetalleEvento(@item.Evencodi)" title="Ver detalle">
                    <img src="~/Content/Images/btn-det.png" style="margin-top: 3px; width:18px; height:18px;" />
                </a>
            </td>
            @if (!(bool)ViewBag.EsOsinergmin)
            {
                <td style="@sColorIPI">@item.PlazoEnvioIPI</td>
                <td style="width:30px">
                    <a href="JavaScript:VerCargaArchivo(@item.Evencodi,1,@sPlazoIPI, @Model.Emprcodi)" title="Cargar IPI">
                        <img src="~/Content/Images/btn-file.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>
                <td style="@sColorIF">@item.PlazoEnvioIF</td>
                <td style="width:30px">
                    <a href="JavaScript:VerCargaArchivo(@item.Evencodi,2,@sPlazoIF,@Model.Emprcodi)" title="Cargar IF">
                        <img src="~/Content/Images/btn-file.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>
            }
            else
            {
                <td style="width:30px">
                    <a href="JavaScript:VerCargaArchivo(@item.Evencodi,1,@sPlazoIPI, @Model.Emprcodi)" title="Cargar IPI">
                        <img src="~/Content/Images/btn-file.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>

                <td style="width:30px">
                    <a href="JavaScript:VerCargaArchivo(@item.Evencodi,2,@sPlazoIF,@Model.Emprcodi)" title="Cargar IF">
                        <img src="~/Content/Images/btn-file.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>

            }




        </tr>
         }
    </tbody>
</table>
