@model COES.MVC.Extranet.Areas.Eventos.Models.EventoScoModel

<script src="~/Areas/Eventos/Content/Scripts/InformesFalla/Archivos.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/InformesFalla/Mensajes.js"></script>

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
}
else
{
    <input type="hidden" id="hdEmprcodi" value="@Model.Emprcodi" />
    <input type="hidden" id="hdIdEvento" value="@Model.IdEvento" />
    <input type="hidden" id="hdPlazoEnvio" value="@Model.PlazoEnvio" />
    <input type="hidden" id="hdTipoInforme" value="@Model.TipoInforme" />  
}
<div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px;">El nombre del documento no debe exceder los 80 caracteres (incluyendo la extensión del archivo).</div>
<div class='action-message' id='mensajeEvento' style='display:none'></div>
<div id="CargarInformes" class="content-registro">
    <table cellpadding="8">
        <tr>
            <td class="registro-label" style="width:150px;">Fecha y Hora del evento:</td>
            <td colspan="3">@Model.FechaEvento</td>
        </tr>
        <tr>
            <td class="registro-label" style="width:120px;">Descripción (Resumen):</td>
            <td colspan="3" style="display: flex; justify-content: space-between; align-items: center;">
                @Model.Descripcion
                @if ((bool)ViewBag.EsOsinergmin)
                {
                    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 10px; cursor: pointer; min-width: 45px"
                         onclick="descargarZipTodos('@ViewBag.appName')"
                         onmouseover="this.querySelector('span').dataset.originalColor = this.querySelector('span').style.color; this.querySelector('span').style.color='orange';"
                         onmouseout="this.querySelector('span').style.color = this.querySelector('span').dataset.originalColor || '';">

                        <img src="~/Content/Images/btn-file.png" style="width:22px; height:18px;" />
                        <span style="font-size: 8px;">Descargar Todo (.zip)</span>
                    </div>
                }


            </td>
        </tr>
        <tr>
            <td class="registro-label" style="width:150px;">Documentos disponibles en la carpeta de la empresa para el presente evento:</td>
            <td colspan="3">
                <div class="table-list" id="listadoInformes"></div>
            </td>
        </tr>
        @if (!(bool)ViewBag.EsOsinergmin)
        {
            <tr>
                <td class="registro-label" style="width:150px;">Subir documentos <br /> (word, excel, pdf). <br /> Subir archivos zip <br /> o rar (para oscilogracias, <br /> registros o archivos en <br /> general</td>
                <td>
                    <table border="0" class="pretty tabla-adicional" id="tablaArchivos" style='table-layout: fixed;'>
                        <thead>
                            <tr>
                                <th style='width: 150px'>Nombre de Documento</th>
                                <th style='width: 15px'></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="listaDeArchivos"></td>
                                <td id="listabtnEliminar"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <button class="button-accion" onclick="document.getElementById('seleccionArchivos').click()">Seleccionar <br /> archivos a subir</button>
                    <input type='file' accept=".pdf, .doc, .docx, .xls, .xlsx, .csv, .xlsm, .zip, .rar" id="seleccionArchivos" style="display:none" multiple>
                </td>
            </tr>
        }


    </table>
    <table cellpadding="8" style="width: auto; margin: auto; ">
        <tr>
            @if (!(bool)ViewBag.EsOsinergmin)
            {
                <td><input type="button" id="btnEnviar" value="Enviar" style="width: 85px;" /></td>
                <td><input type="button" id="btnCancelar" value="Cancelar" style="width: 85px;" /></td>
            }
            else
            {
                <td><input type="button" id="btnCancelar" value="Cerrar" style="width: 85px;" /></td>

            }

        </tr>
    </table>

   
</div>