@model COES.MVC.Intranet.Areas.StockCombustibles.Models.NotificacionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/configuracion.js?v=1"></script>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Notificación de Envío IEOD</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#plantillas">Plantilla de correo</a></li>
            <li class='tab'><a href="#formatos">Formatos por empresa</a></li>
            <li class='tab'><a href="#datos">Datos de notificación</a></li>
        </ul>
        <div class='panel-container'>

            <div id="plantillas">

                <div id="mensajePlantilla"></div>

                <div id="div_detalle" class="content-tabla" style="overflow-x: scroll;">

                </div>

            </div>

            <div id="formatos">

                <div id="mensajeFormato"></div>

                <div class="search-content" style="margin-bottom:10px; margin-top:5px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Tipo de empresa:</td>
                            <td>
                                <select id="cbTipoEmpresa">
                                    <option value="-1">-TODOS-</option>
                                    <option value="1">TRANSMISION</option>
                                    <option value="2">DISTRIBUCION</option>
                                    <option value="3" selected ="selected">GENERACIÓN</option>
                                </select>
                            </td>
                            <td>Empresa:</td>
                            <td>
                                <select id="cbEmpresa">
                                    <option value="-1">-TODOS-</option>
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Formato:</td>
                            <td>
                                <select id="cbFormato">
                                    <option value="-1">-TODOS-</option>
                                    @foreach (var item in Model.ListaFormato)
                                    {
                                        <option value="@item.Formatcodi">@item.Formatnombre</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultaFormato" value="Consultar" />
                                <input type="button" id="btnGrabarFormato" value="Grabar" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="listaFormato"></div>

            </div>

            <div id="datos">
                <div id="mensaheConfiguracion"></div>

                <form id="frmConfiguracion">
                    <div style="display: inline-block;">
                        <fieldset style="width: 550px; float: left;">
                            <legend>Firma del correo</legend>

                            <div class="content-registro">

                                <table style="width:100%">
                                    <tr>
                                        <td class="registro-label">Firmante:</td>
                                        <td class="registro-control">
                                            <input type="text" id="txtFirmante" name="Firmante" value="@Model.ConfiguracionCorreo.Ecconfnombre" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="registro-label">Cargo:</td>
                                        <td class="registro-control">
                                            <input type="text" id="txtCargo" name="Cargo" value="@Model.ConfiguracionCorreo.Ecconfcargo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="registro-label">Anexo:</td>
                                        <td class="registro-control">
                                            <input type="text" id="txtAnexo" name="Anexo" value="@Model.ConfiguracionCorreo.Ecconfanexo" />
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </fieldset>

                        <fieldset style="width: 550px; float: left; margin-left: 10px; ">
                            <legend>Envío automático de correo</legend>

                            <div class="content-registro">

                                <table style="width:100%">
                                    <tr>
                                        <td class="registro-label">Hora ejecución:</td>
                                        <td class="registro-control">
                                            <select id="cbHoraEjecucion" name="HoraEjecucion">
                                                <option value="">-SELECCIONE-</option>
                                                <option value="07:00">07:00</option>                                                
                                                <option value="08:00">08:00</option>                                               
                                                <option value="09:00">09:00</option>                                                
                                                <option value="10:00">10:00</option>                                               
                                                <option value="11:00">11:00</option>                                               
                                                <option value="12:00">12:00</option>
                                            </select>
                                            <input type="hidden" id="hfHoraEjecucion" value="@Model.ConfiguracionCorreo.Ecconfhoraenvio" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="registro-label">Estado:</td>
                                        <td class="registro-control">
                                            <select id="cbEstadoEjecucion" name="EstadoEjecucion">
                                                <option value="">-SELECCIONE-</option>
                                                <option value="A">Activo</option>
                                                <option value="I">Inactivo</option>
                                            </select>
                                            <input type="hidden" id="hfEstadoEjecucion" value="@Model.ConfiguracionCorreo.Ecconfestadonot" />
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </fieldset>
                    </div>
                </form>

                <div style="width:100px; margin:auto">
                    <input type="button" id="btnGrabarConfiguracion" value="Grabar" />
                </div>

            </div>

        </div>
    </div>
</div>



<div id="popupAgregarVariable" class="general-popup" style="width: 350px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Variable</span></div>
    <div id="mensaje_popupCargos"></div>
    <div class="table-list" id="seccionListadoVariables" style="margin: 20px">


    </div>
</div>

<input type="hidden" id="hfIdPlantillaCorreo" value="@Model.IdPlantillaCorreo" />