@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    ViewBag.Title = "Cumplimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Hidrologia/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/cumplimiento.js?v=1.3"></script>
<script src="~/Content/Scripts/dataTables.fixedColumns.min.js"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Cumplimiento</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="button" id="btnConfiguracion" value="Notificaciones por incumplimiento" />
        <input type="button" id="btnEnviarCorreo" value="Enviar correo" />
    </div>
</div>


<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <select id="cbEmpresa" name="IdEmpresa">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" />
                </td>
                <td>Formato:</td>
                <td>
                    <select id="cbFormato" style="width:200px;">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaCombo)
                        {
                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfFormato" />
                </td>
                <td>Envío de información</td>
                <td>
                    <select id="cbEnvioInformacion">
                        <option value="">-TODOS-</option>
                        <option value="S" selected="selected">Si</option>
                        <option value="N">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                    <input type="hidden" id="hfFechaDesde" value="@Model.FechaInicio" />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaHasta" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
                <td>Empresas en estado:</td>
                <td>
                    <select id="cbEstadoEmpresa">                        
                        <option value="A" selected="selected">Activo</option>
                        <option value="B">Baja</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
        </div>
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>


