@model COES.MVC.Intranet.Areas.ServicioRPF.Models.ServicioModel

<script type="text/javascript">

    $(function () {
        $('#btnProcesar').click(function () {
            reemplazar();
        });

        $('#btnCancelar').click(function () {
            cancelar();
        });
    });

</script>

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>GPS</th>
            <th>Datos completos</th>
            <th>Acciones</th>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGPS)
        {
            <tr>
                <td>@item.GpsNombre</td>
                <td>
                    @if (item.Cantidad == 1440)
                    {
                        if (item.GpsCodi != 1)
                        {
                            <span>Si</span>
                        }
                        else
                        {
                            if (item.IndicadorCompletado == "S")
                            {
                                <span>Si(Existen datos en cero)</span>
                            }
                            else
                            {
                                <span>Si</span>
                            }
                        }
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    <a href="JavaScript:descargarFrecuencia(@item.GpsCodi)">Descargar datos</a>
                    @if (item.GpsCodi == 1 && item.IndicadorCompletado == "S")
                    {
                        <a href="JavaScript:completarDatos()" style="padding-left:30px">Completar datos</a>
                    }
                    @if (Model.IndicadorExportar)
                    {
                        <a href="JavaScript:descargarMacro(@item.GpsCodi)" style="padding-left:30px">EVA Frecuencia</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="popupUnidad">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Reemplazo de datos</span></div>
    <div style="height:20px; clear:both"></div>
    <table>
        <tr>
            <td>Copiar desde:</td>
            <td>
                <select id="cbGpsOrigen">
                    <option value="">-SELECCIONE-</option>
                    @foreach (var item in Model.ListaGPS)
                    {
                        <option value="@item.GpsCodi">@item.GpsNombre</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Copiar a:</td>
            <td>
                <select id="cbGpsDestino">
                    <option value="">-SELECCIONE-</option>
                    @foreach (var item in Model.ListaGPS)
                    {
                        <option value="@item.GpsCodi">@item.GpsNombre</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px; text-align:center">
                <input type="button" id="btnProcesar" value="Aceptar" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </td>
        </tr>
    </table>

</div>