@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.CalidadProductoModel
<table border="0" class="pretty tabla-adicional" id="tablaEvento">
    <thead>
        <tr>
            <th style="width:120px">Acciones</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Punto de entrega</th>
            <th>Tensión</th>
            <th>Responsable 1</th>
            <th>% Resp. 1</th>
            <th>Responsable 2</th>
            <th>% Resp. 2</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Suministrador</th>
            <th>Envío de datos</th>
            <th>Acceso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
            if(item.Indicadorpadre)
            {
                <tr>
                    <td style="width:120px" rowspan="@item.Rowspan">
                        <a href="JavaScript:editarEvento(@item.Reevprcodi);"><img src="~/Content/Images/btn-edit.png" alt="Evento" title="Editar Evento" /></a>
                        @if (Model.Grabar)
                        {
                            <a href="JavaScript:eliminarEvento(@item.Reevprcodi);"><img src="~/Content/Images/btn-cancel.png" alt="Evento" title="Eliminar Evento" /></a>
                            <a href="JavaScript:iniciarEnvioCorreo(@item.Reevprcodi);"><img src="~/Content/Images/btn-email.png" alt="Evento" title="Enviar correo de notificación" /></a>
                        }
                        <a href="JavaScript:cargarMedicion(@item.Reevprcodi);"><img src="~/Content/Images/btn-properties.png" alt="Evento" title="Cargar mediciones" /></a>                        
                        <a href="JavaScript:generarReporte(@item.Reevprcodi);"><img src="~/Content/Images/btn-reporte.png" alt="Evento" title="Generar reporte" /></a>
                    </td>
                    <td rowspan="@item.Rowspan">@item.Reevpranio</td>
                    <td rowspan="@item.Rowspan">@item.Reevprmes</td>
                    <td rowspan="@item.Rowspan">@item.Reevprptoentrega</td>
                    <td rowspan="@item.Rowspan">@item.Reevprtension</td>
                    <td rowspan="@item.Rowspan">@item.Responsablenomb1</td>
                    <td rowspan="@item.Rowspan">@(item.Reevprporc1 != null?((decimal)item.Reevprporc1).ToString("###.00") + "%": "")</td>
                    <td rowspan="@item.Rowspan">@item.Responsablenomb2</td>
                    <td rowspan="@item.Rowspan">@(item.Reevprporc2 != null?((decimal)item.Reevprporc2).ToString("###.00") + "%": "")</td>
                    <td rowspan="@item.Rowspan">@(item.Reevprfecinicio != null?((DateTime)item.Reevprfecinicio).ToString("dd/MM/yyyy HH:mm"): "")</td>
                    <td rowspan="@item.Rowspan">@(item.Reevprfecfin != null?((DateTime)item.Reevprfecfin).ToString("dd/MM/yyyy HH:mm"): "")</td>
                    <td>@item.Suministrador</td>
                    <td>
                        @if (item.Estadocarga == "S")
                        {
                            <div class="carga-enviada"></div>
                        }
                        else{ 
                            <div class="carga-pendiente"></div>
                        }
                    </td>
                    <td rowspan="@item.Rowspan">@item.Reevpracceso</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.Suministrador</td>
                    <td> 
                        @if (item.Estadocarga == "S")
                        {
                            <div class="carga-enviada"></div>
                        }
                        else
                        {
                            <div class="carga-pendiente"></div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>