@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.CalidadProductoModel

<div class="content-registro">

    <form id="frmRegistroEvento">
        <div id="mensajeEvento" class="action-message">Por favor complete los datos.</div>
        <table style="width:100%" id="tablaEvento">
            <tr>
                <td class="registro-label">Año:</td>
                <td class="registro-control">
                    <select id="cbAnioEvento" name="AnioEvento">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaAnio)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="hidden" id="hfAnioEvento" value="@Model.Entidad.Reevpranio" />
                </td>
                <td class="registro-label">Mes:</td>
                <td class="registro-control">
                    <select id="cbsMesEvento" name="MesEvento">
                        <option value="">-SELECCIONE-</option>
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SETIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>
                    <input type="hidden" id="hfMesEvento" value="@Model.Entidad.Reevprmes" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Medición fecha inicial:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaInicial" name="FechaInicial" value="@Model.FechaInicial" />
                </td>
                <td class="registro-label">Medición fecha final:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaFinal" name="FechaFinal" value="@Model.FechaFinal" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Punto de entrega:</td>
                <td class="registro-control">
                    <input type="text" id="txtPuntoEntrega" maxlength="200" name="PuntoEntrega" value="@Model.Entidad.Reevprptoentrega" />
                </td>
                <td class="registro-label">Tensión de operación (V):</td>
                <td class="registro-control">
                    <input type="text" id="txtTension" name="Tension" value="@Model.Entidad.Reevprtension" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 1:</td>
                <td class="registro-control">
                    <select id="cbEmpresa1" name="Empresa1">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa1" value="@Model.Entidad.Reevprempr1" />
                </td>

                <td class="registro-label">% Responsable 1:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje1" name="Porcentaje1" value="@Model.Entidad.Reevprporc1" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 2:</td>
                <td class="registro-control">
                    <select id="cbEmpresa2" name="Empresa2">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa2" value="@Model.Entidad.Reevprempr2" />
                </td>

                <td class="registro-label">% Responsable 2:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje2" name="Porcentaje2" value="@Model.Entidad.Reevprporc2" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 3:</td>
                <td class="registro-control">
                    <select id="cbEmpresa3" name="Empresa3">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa3" value="@Model.Entidad.Reevprempr3" />
                </td>

                <td class="registro-label">% Responsable 3:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje3" name="Porcentaje3" value="@Model.Entidad.Reevprporc3" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Comentario:</td>
                <td class="registro-control" colspan="2">
                    <textarea id="txtComentario" maxlength="200" name="Comentario">@Model.Entidad.Reevprcomentario</textarea>
                </td>
                <td style="text-align:center">
                    Habilitar acceso <br />
                    <input type="checkbox" id="cbAcceso" />
                    <input type="hidden" id="hfAcceso" name="Acceso" value="@Model.Entidad.Reevpracceso" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfCodigoEvento" name="CodigoEvento" value="@Model.Entidad.Reevprcodi" />
        <div style="clear:both; height:10px;"></div>
        <div class="popup-title">
            <span>Suministradores</span>
        </div>
        <div style="clear:both; height:10px;"></div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">Seleccione empresa:</td>
                <td class="registro-control">
                    <select id="cbInvolucrado">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaSuministradores)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="button" id="btnAgregarEmpresa" value="Agregar" />
                </td>
            </tr>
        </table>
        <div style="clear:both; height:10px;"></div>
        <table id="tbEmpresa" class="tabla-formulario">
            <thead>
                <tr>
                    <th>Eliminar</th>
                    <th>Empresa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaSuministrador)
                {
                    <tr>
                        <td>
                            <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                            <input type="hidden" id="hfItemEmpresa" value="@item.Emprcodi" />
                        </td>
                        <td>@item.Emprnomb</td>
                    </tr>
                }
            </tbody>
        </table>

        <input type="hidden" id="hfEmpresas" name="Empresas" />

        <div style="height:10px; clear:both"></div>
        <div style="width:200px; margin:auto; text-align:center; margin-top:10px">

            @if (Model.Grabar)
            {
                <input type="button" id="btnGrabarEvento" value="Grabar" />
            }
            <input type="button" id="btnCancelarEvento" value="Cancelar" />
        </div>

    </form>

</div>
