@model COES.MVC.Intranet.Areas.SeguimientoRecomendacion.Models.GestionModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th style="width:40px; min-width:40px" rowspan="2">Acción </th>
            <th colspan="7" style="background-color:orange">DATOS DE EVENTO</th>
            <th colspan="7" style="background-color:#2ECC71">&Uacute;LTIMA RECOMENDACI&Oacute;N</th>
        </tr>
        <tr>
            
            <th onclick="ordenar('TIPO');">Tipo</th>
            <th onclick="ordenar('EMPRNOMB');">Empresa</th>
            <th onclick="ordenar('AREANOMB');">Ubicación</th>
            <th onclick="ordenar('EQUIABREV');">Equipo</th>
            <th onclick="ordenar('EVENINI');">Inicio</th>

            <th onclick="ordenar('EVENFIN');">Final</th>
            <th onclick="ordenar('EVENASUNTO');">Descripción</th>
            <th onclick="ordenar('SRMRECFECHARECOMEND');">Fecha recomendación</th>
            <th onclick="ordenar('SRMRECFECHAVENCIM');">Plazo atención</th>
            <th onclick="ordenar('EQUINOMB');">Equipo</th>

            <th onclick="ordenar('SRMSTDDESRIP');">Estado</th>
            <th onclick="ordenar('SRMCRTDESRIP');">Criticidad</th>
            <th onclick="ordenar('SRMRECDIANOTIFPLAZO');">Plazo</th>
            <th onclick="ordenar('CONCOMENTARIO');">Comentario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecomendacion)
        {
            <tr>
                <td style="width:40px; min-width:40px; text-align:center; padding-left:5px">
                    @if (Model.AccionNuevo)
                    {
                        <a href="JavaScript:verSeguimiento(@item.Evencodi)" title="Permite ver la recomendación">
                            <img src="~/Content/Images/btn-ok.png" />
                        </a>
                        if(@item.Evenrcmctaf != "S")
                        {
                            <a href="JavaScript:eliminarEvento(@item.Evencodi)" title="Eliminar evento">
                                <img src="~/Content/Images/btn-cancel.png" />
                            </a>
                        }
                        
                    }
                </td>
                <td>@item.Tipo</td>
                <td>@item.Emprnomb</td>
                <td>@item.Areanomb</td>
                <td>@item.Equiabrev</td>
                <td style="width:100px">
                    @if (item.Evenini != null)
                    {
                        <span>@(((DateTime)item.Evenini).ToString("dd/MM/yyyy HH:mm"))</span>
                    }
                </td>

                <td style="width:100px">
                    @if (item.Evenfin != null)
                    {
                        <span>@(((DateTime)item.Evenfin).ToString("dd/MM/yyyy HH:mm"))</span>
                    }
                </td>
                <td style="width:200px">
                    @if (item.EvenAsunto.Length <= 50)
                    {
                        <span>@item.EvenAsunto</span>
                    }
                    else {
                        <span>@(item.EvenAsunto.Substring(0, 50) +  "...")</span>
                    }
                </td>
                <td>
                    @if (item.Srmrecfecharecomend != null)
                    {
                        <span>@(((DateTime)item.Srmrecfecharecomend).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td>
                    @if (item.Srmrecfechavencim != null)
                    {
                        <span>@(((DateTime)item.Srmrecfechavencim).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td>@item.Equinomb</td>

                <td style='text-align:center; background: #@item.Srmstdcolor;' @*bgcolor="@item.Srmstdcolor"*@>
                    @*@if (item.Srmstdcolor != "F8F32B")
                    {
                        <font color="#fff">@item.Srmstddescrip</font>
                    }
                    else
                    {
                        <font color="#000000">@item.Srmstddescrip</font>

                    }*@
                    @item.Srmstddescrip
                </td>
                <td style='text-align:center; background: #@item.Srmcrtcolor' @*bgcolor="@item.Srmcrtcolor"*@>

                    @*@if (item.Srmcrtcolor != "F8F32B")
                    {
                        <font color="#fff">@item.Srmcrtdescrip</font>
                    }
                    else
                    {
                        <font color="#000000">@item.Srmcrtdescrip</font>

                    }*@
                    @item.Srmcrtdescrip
                </td>
                <td style="text-align:right">@item.Srmrecdianotifplazo</td>
                <td style="text-align:center">@item.ConComentario</td>
            </tr>
        }
    </tbody>
</table>