@{
    Layout = null;
}
<link href="~/Areas/Resarcimientos/Content/Css/table.css" rel="stylesheet" />
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-rechazocarga-paginado.js"></script>
<table id="tblTramites" border="0" class="pretty tabla-formulario tabla-iconofinal">
    <thead>
        <tr>
            <th>
                Empresa<br /> Generadora
            </th>
            <th>
                Clientes
            </th>
            <th>
                Punto de <br />Entrega
            </th>
            <th>
                C&oacute;digo COES <br /> del Evento
            </th>
            <th>
                Fecha de Inicio<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                Fecha de Fin<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                SED<br /> Nombre
            </th>
            <th>
                SED<br />KV
            </th>
            <th>
                C&oacute;digo <br /> Alimentador
            </th>
            <th>
                Duraci&oacute;n<br />hh:mm
            </th>
            <th>
                Ef
            </th>
            <th>
                ENS f,k<br />(kwh)
            </th>
            <th>
                Compensaci&oacute;n<br />(USD)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var mp in Model)
            {
                string @nreg = "nreg" + @mp.RRCKEY;
                <tr id="@nreg" style="background-color:@mp.BackgroundColor;" data-registro="@mp.RRCKEY">
                    <td>@mp.RRCEMPRESAGENERADORANOMBRE</td>
                    <td>@mp.RRCCLIENTENOMBRE</td>
                    <td>@mp.RRCPUNTOENTREGANOMBRE</td>
                    <td>@mp.RRCEVENCODINOMB</td>
                    <td>@string.Format("{0:" + @COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RRCFECHAINICIO)</td>
                    <td>@string.Format("{0:" + @COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RRCFECHAFIN)</td>
                    <td>@mp.RRCSUBESTACIONDSTRB</td>
                    <td>@string.Format("{0:0.00}", @mp.RRCNIVELTENSIONSED)</td>
                    <td>@mp.RRCCODIALIMENTADOR</td>
                    <td class="select-btnclick" style="text-align:right !important;">@mp.RRCDURACION</td>
                    <td>@string.Format("{0:0.00}", @mp.RRCEF)</td>
                    <td>@string.Format("{0:0.000}", @mp.RRCENERGIAENS)</td>
                    <td>@string.Format("{0:0.00}", @mp.RRCCOMPENSACION)</td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $('#divGeneral .search-result > .tabla-formulario').dataTable({
        "iDisplayLength": 25
    });
</script>