@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.IndicadoresRPFModel

<div id="mensajeRegistro"></div>
<form id="frmRegistro" name="frmRegistro">
    <table>
        <tr>
            <td>Fecha:</td>
            <td>
                @{
                    var valor = (Model.IndNuevo == "S") ? Model.Rpfhidfecha : Model.Entidad.Rpfhidfecha.ToString("MM yyyy");
                    var disabled = (Model.IndNuevo == "S") ? "" : "disabled=disabled";
                }
                <input type="text" id="txtFecha" value="@valor"  @disabled/>
                <input type="hidden" id="hfFecha" value="@valor" name="rpfhidfecha"></td>
        </tr>
        <tr>
            <td>RPF Energía Total (GWh)</td>
            <td><input type="text" id="txtRpfenetotal" value="@Model.Entidad.Rpfenetotal" name="Rpfenetotal" onkeypress="return validarNumero(this,event)"></td>
        </tr>
        <tr>
            <td>RPF Potencia media (MW)</td>
            <td><input type="text" id="txtRpfpotmedia" value="@Model.Entidad.Rpfpotmedia" name="Rpfpotmedia" onkeypress="return validarNumero(this,event)"></td>
        </tr>
        <tr>
            <td>Energía Indisponible Hidráulica (GWh)</td>
            <td><input type="text" id="txtEneindhidra" value="@Model.Entidad.Eneindhidra" name="Eneindhidra" onkeypress="return validarNumero(this,event)"></td>
        </tr>
        <tr>
            <td>Potencia Indisponible Hidráulica (MW)</td>
            <td><input type="text" id="txtPotindhidra" value="@Model.Entidad.Potindhidra" name="Potindhidra" onkeypress="return validarNumero(this,event)"></td>
        </tr>

    </table>

    <input type="hidden" id="hfIndicador" value="@Model.IndNuevo" name="IndNuevo" />
    <br />
    <center>
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </center>
</form>