@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.IndicadoresRPFModel

<table class="pretty tabla-icono" id="tablaRpf">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Período</th>
            <th>RPF Energía Total (GWh)</th>
            <th>RPF Potencia media (MW)</th>
            <th>Energía Indisponible Hidráulica (GWh)</th>
            <th>Potencia Indisponible Hidráulica (MW)</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Listado)
        {                            
            var idFila = "row" + item.Rpfhidfecha.ToString("MM-yyyy");
          
            <tr id="@idFila">
                <td>
                    <a href="JavaScript:editarRegistro('@item.Rpfhidfecha.ToString("MM yyyy")');" title="Editar registro"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    
                </td>
                <td>@item.Rpfhidfecha.ToString("MMM yyyy", new System.Globalization.CultureInfo("es-Es"))</td>    
                <td>@item.Rpfenetotal</td>
                <td>@item.Rpfpotmedia</td>
                <td>@item.Eneindhidra</td>
                <td>@item.Potindhidra</td>
                <td>@item.Lastuser</td>
                <td>
                    @if (item.Lastdate != null)
                    {
                        <span>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm"))</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>