@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Resultados de Primas RER";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/resultados_index.js?v=1.0.1"></script>

<div class="form-title">
    <div class="content-titulo">
        @if (Model.RerEvaluacion != null)
        {
            @("Resultados - " + Model.RerEvaluacion.Iperinombre + " - " + Model.RerEvaluacion.Rerrevnombre + " - Versión N° " + Model.RerEvaluacion.Rerevanumversion)
        }
        else
        {
            @(Model.Mensaje)
        }
        </div>
    <div class="content-botonera">
        @if (Model.RerEvaluacion != null)
        {
            <table style="width:auto" role="presentation" class="content-tabla-search">
                <tr>
                    <td class="content-action" style="font-size: 12px; vertical-align: middle;">
                        <a href="#" id="btnExportarExcelAprobados">
                            <div class="content-item-action">
                                <img src="~/Content/Images/ExportExcel.png" width="25" height="25" alt="Descargar aprobados" title="Descargar aprobados" />&nbsp;Aprobados
                            </div>
                        </a>
                    </td>
                    <td class="content-action" style="font-size: 12px; vertical-align: middle; ">
                        <a href="#" id="btnExportarExcelNoAprobados">
                            <div class="content-item-action">
                                <img src="~/Content/Images/ExportExcel.png" width="25" height="25" alt="Descargar no aprobados" title="Descargar no aprobados" />&nbsp;No Aprobados
                            </div>
                        </a>
                    </td>
                    <td class="content-action" style="font-size: 12px; vertical-align: middle; ">
                        <a href="#" id="btnExportarExcelFuerzaMayor">
                            <div class="content-item-action">
                                <img src="~/Content/Images/ExportExcel.png" width="25" height="25" alt="Descargar fuerza mayor" title="Descargar fuerza mayor" />&nbsp;Fuerza Mayor
                            </div>
                        </a>
                    </td>
                    <td>
                        <input type="button" id="btnValidar" style="display: none" value="Validar y Cerrar">
                        <input type="button" id="btnValidado" style="display: none" class="btn_aprobar" value="Validado">
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="res_rerevacodi" value="@Model.IdEvaluacion" />
    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class='panel-container'>
        <div id="tabReporte">
            <div class="table-list" id="listado1" style="min-height: 800px;"></div>
        </div>
    </div>
</div>

<div id="popupErrores" class="popup-class-1 general-popup" style="padding: 20px; border-radius: 10px; background-color: #FFFFFF; display: none;"></div>
