@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Evaluación de Primas RER";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/evaluacion_index.js?v=1.0.2"></script>

<div class="form-title">
    <div class="content-titulo">Evaluación</div>
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="cantidadEvaluacionValidado">
    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaVersion">Versiones</a></li>
            <li class='tab'><a href="#vistaProcesarEvaluacion">Procesar Evaluación</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaVersion">
                <div class="content-tabla">
                    <div style="padding-bottom: 4px; font-weight: bold; color: #3D90CB;">
                        @if (Model.IndPeriodo != null)
                        {
                            @Model.IndPeriodo.Iperinombre
                        }
                        -
                        @if (Model.RerRevision != null)
                        {
                            @Model.RerRevision.Rerrevnombre
                        }
                    </div>
                    <div style="clear:both; height:5px"></div>
                    <div class="content-tabla">
                        <div class="table-list" id="listado"></div>
                    </div>
                </div>
            </div>
            <div id="vistaProcesarEvaluacion">
                <div id="msjProcesar" style="">El botón <span style="font-weight: bold; color: BLUE">Procesar</span> sólo está habilitado cuando la revisión sea de tipo <span style="font-weight: bold; color: RED">Mensual</span>, y no existan revisiones de tipo 'Revisión'.</div>
                <div id="formulario_aplicativo" class="content-tabla" style="">
                    <div style="clear:both; height:5px"></div>
                    <div>
                        <div class="content-registro">
                            <table style="margin-top: 10px;width: auto" role="presentation">
                                <tr>
                                    <td class="tbform-label">Periodo:</td>
                                    <td class="tbform-control">
                                        <input type="hidden" id="rev_ipericodi" value="@Model.IdPeriodo" />
                                        <span id="desc_periodo" style="font-weight: bold; font-size: 16px;">
                                            @if (Model.IndPeriodo != null)
                                            {
                                                @Model.IndPeriodo.Iperinombre
                                            }
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tbform-label">Revisión:</td>
                                    <td class="tbform-control">
                                        <input type="hidden" id="rev_rerrevcodi" value="@Model.IdRevision" />
                                        <span id="desc_revision" style="font-weight: bold;font-size: 16px;COLOR: #9370DB;">
                                            @if (Model.RerRevision != null)
                                            {
                                                @Model.RerRevision.Rerrevnombre
                                            }
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="" style="margin-top: 15px;">
                            @if (Model.RerRevision != null && Model.RerRevision.Rerrevtipo == "M" && Model.CantidadRevisionesTipoRevision == 0)
                            {
                                <input type="button" id="btnProcesar" value="Procesar" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

