@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Excel web";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/evaluacion_view.js?v=1.0.2"></script>

<div class="form-title">
    <div class="content-titulo">@("Evaluación - " + Model.RerEvaluacion.Iperinombre + " - "+ Model.RerEvaluacion.Rerrevnombre + " - Versión N° "+ Model.RerEvaluacion.Rerevanumversion)</div>
    <div class="content-botonera">
        @if (Model.TienePermisoGuardar)
        {
            <input type="button" id="btnGuardar" value="Guardar">
        }
        <input type="button" id="btnRegresar" value="Regresar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="eva_rerevacodi" value="@Model.IdEvaluacion" />
    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class='panel-container' style="min-height: 800px;">
        <div id="tabReporte">
            <div class="table-list" id="listado1"></div>
        </div>
    </div>

</div>

<div id="popupErrores" class="popup-class-1 general-popup" style="padding: 20px; border-radius: 10px; background-color: #FFFFFF; display: none;"></div>
