@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Lista de solicitud de retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    var CLICODI2 = (IEnumerable<SelectListItem>)TempData["CLICODI2"];
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI2"];
    var TIPOCONTCODI2 = (IEnumerable<SelectListItem>)TempData["TIPOCONTCODI2"];
    var TIPOUSUACODI2 = (IEnumerable<SelectListItem>)TempData["TIPOUSUACODI2"];
    var EMPRCODI2 = (IEnumerable<SelectListItem>)TempData["EMPRCODI2"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/codigoretiro.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Solicitudes de Codigo de Retiro</div>
        <div class="content-botonera">
            <input type="button" id="btnBuscar" value="Consultar" />
            <input type="button" id="btnGenerarExcel" value="Generar Excel" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","codigoretiro")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Empresa</div></td>
                    <td><div class="editor-field">@Html.DropDownList("EMPRCODI", @EMPRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Cliente</div></td>
                    <td><div class="editor-field">@Html.DropDownList("CLICODI", @CLICODI2, "--Seleccione--")</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra de transferencia</div></td>
                    <td><div class="editor-field">@Html.DropDownList("BARRCODI", @BARRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">¿De baja?</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.RadioButton("SOLICODIRETIOBSERVACION", "", true) TODOS
                            @Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJANO", false) NO
                            @Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJAOK", false) SI
                            @Html.RadioButton("SOLICODIRETIOBSERVACION", "SOLBAJAPEN", false) PENDIENTE
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Fecha de inicio</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div></td>
                    <td><div class="editor-label">Fecha final</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Tipo de contrato</div></td>
                    <td><div class="editor-field">@Html.DropDownList("TIPOCONTCODI", @TIPOCONTCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Tipo de usuario</div></td>
                    <td><div class="editor-field">@Html.DropDownList("TIPOUSUACODI", @TIPOUSUACODI2, "--Seleccione--")</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">Listar</div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.RadioButton("ESTADOLIST", "TODOS", true) Todos
                            @Html.RadioButton("ESTADOLIST", "SIN", false) Sin código
                            @Html.RadioButton("ESTADOLIST", "CON", false) Con código
                        </div>
                    </td>
                    <td><div class="editor-label">Código Retiro</div></td>
                    <td><div class="editor-field"><input type="text" id="txtCodigoRetiro" /></div></td>
                </tr>
            </table>
            <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        </div>
        <div class="table-list" id="listado"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>
    <br />
    <br />

</div>