@model COES.MVC.Intranet.Areas.Medidores.Models.StockCombustibleModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Fecha</th>
            <th>Tipo Combustible</th>
            <th>Stock</th>
            <th>Nota</th>
            <th>Usuario</th>
            <th>Fecha carga</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConsulta)
        {
            <tr>
                @if (item.IndInformo == "S")
                {
                    <td>@item.Emprnomb</td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Medifecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Tipoinfodesc</td>
                    <td>@(((decimal)item.H1).ToString("#,###.00"))</td>
                    <td>@item.Nota</td>
                    <td>@item.Lastuser</td>
                    <td>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy"))</td>
                }
                else
                {
                    <td>@item.Emprnomb</td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Medifecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Tipoinfodesc</td>
                    <td>No informó</td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
