@model COES.MVC.Intranet.Areas.RechazoCarga.Models.ProgramaModel
@{
    ViewBag.Title = "Nuevo Programa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div id="divTitulo">Nuevo Programa</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0">Por favor complete los campos</div>

    <div class="content" style="margin-bottom:0px; padding:15px">
        <fieldset>
            <legend>Datos Generales</legend>
            <table class="content-tabla-search" style="width:auto">
                <tbody>
                    <tr>
                        <td>
                            Horizonte:
                        </td>
                        <td>
                            @(Html.DropDownList("horizonteEdit", new SelectList(Model.Horizontes, "Rchorpcodi", "Rchorpnombre"), new { style = "width: 100%;" }))
                        </td>
                    </tr>
                    <tr id="trMensual" style="display:none">
                        <td></td>
                        <td>
                            <input style="width:140px;" type="text" id="fechaMensual" name="fechaMensual" />
                        </td>
                    </tr>
                    <tr id="trSemanal" style="display:none">
                        <td></td>
                        <td>
                            <select id="cbSemanaAnio" name="cbSemanaAnio">
                                <option value="0">-- SELECCIONE --</option>
                                @for (int i = Model.SemanaActual; i <= 53; i++)
                                {
                                    <option value="@i.ToString()">@("Semana N° " + i.ToString())</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr id="trDiaria" style="display:none">
                        <td></td>
                        <td>
                            <input style="width:140px;" type="text" id="fechaDiaria" name="fechaDiaria" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Código:
                        </td>
                        <td>
                            <input style="width:280px;" type="text" id="codigoProgramaEdit" name="codigoProgramaEdit" maxlength="20" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td>
                            Nombre:
                        </td>
                        <td>
                            <input style="width:280px;" type="text" id="nombreProgramaEdit" name="nombreProgramaEdit" maxlength="100" />
                        </td>
                    </tr>                    
                    <tr style="display:none">
                        <td>
                            Estado:
                        </td>
                        <td>
                            <select id="estadoEdit" name="estadoEdit" style="width:100%;">
                                <option value="">-- SELECCIONE --</option>
                                <option value="0">No Vigente</option>
                                <option value="1">Vigente</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="trCodigoProgramaRef" style="visibility:hidden;">
                        <td>
                            Código Programa Ref.:
                        </td>
                        <td>
                            <input style="width:280px;" type="text" id="codigoProgramaRef" name="codigoProgramaRef" maxlength="20" />
                        </td>
                    </tr>                    
                    <tr>
                        <td>                           
                        </td>
                        <td>
                            <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                            <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="hdnHorizonteReprograma" name="hdnHorizonteReprograma" value="@(COES.MVC.Intranet.Areas.RechazoCarga.Helper.ConstantesRechazoCarga.HorizonteReprograma)" />
            <input type="hidden" id="hdnHorizonteDiario" name="hdnHorizonteDiario" value="@(COES.MVC.Intranet.Areas.RechazoCarga.Helper.ConstantesRechazoCarga.HorizonteDiario)" />
            <input type="hidden" id="hdnHorizonteMensual" name="hdnHorizonteMensual" value="@(COES.MVC.Intranet.Areas.RechazoCarga.Helper.ConstantesRechazoCarga.HorizonteMensual)" />
            <input type="hidden" id="hdnHorizonteSemanal" name="hdnHorizonteSemanal" value="@(COES.MVC.Intranet.Areas.RechazoCarga.Helper.ConstantesRechazoCarga.HorizonteSemanal)" />
        </fieldset><br>

        <br />

    </div>  

</div>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/ProgramaEdit.js"></script>

