@model COES.MVC.Intranet.Areas.RechazoCarga.Models.ProgramaModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla" style="width:100%;">
        <thead style="overflow-y:auto">
            <tr>
                <th style="width:100px;">Horizonte</th>
                <th style="width:100px;">Código Programa</th>
                <th style="width:50px;">Nro Cuadros</th>
                <th style="width:80px;">Estado</th>
                <th style="width:80px;">Acciones</th>
                <th style="width:140px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListProgramas)
            {
                <tr class="menu-contextual">
                    <td style="text-align: left; width: 100px;">@item.Rcproghorizonte</td>
                    <td style="text-align: left; width: 100px; ">@item.Rcprogabrev</td>                    
                     <td style="text-align: center; width: 50px;">@item.Nrocuadros</td>

                    @if (!string.IsNullOrEmpty(item.Rcprogestado) && item.Rcprogestado.Equals("1"))
                    {
                        <td style="text-align: left; width: 80px;">Vigente</td>
                    }
                    else
                    {
                        <td style="text-align: left; background-color: red; width: 80px;">No Vigente</td>
                    }                    

                    <td style="width:80px;">                                               
                        <a href="JavaScript:eliminarPrograma('@item.Rcprogcodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                        <a href="JavaScript:generarReporte('@item.Rcprogcodi');" title="Reporte">
                            <img src="~/Content/Images/ExportExcel.png" alt="">
                        </a>
                         <a href="JavaScript:duplicarPrograma('@item.Rcprogcodi');" title="Duplicar Programa">
                            <img src="~/Content/Images/copiar.png" alt="">
                        </a>
                         <a href="JavaScript:generarReporteEjecutados('@item.Rcprogcodi');" title="Reporte Cuadro Ejecutados">
                            <img src="~/Content/Images/exportarExcel_.png" alt="">
                        </a>
                    </td>  
                    <td style="text-align: left; width: 140px;"></td>                  
                </tr>
            }
        </tbody>
    </table>
</form>



