@model COES.MVC.Publico.Areas.RegistroIntegrante.Models.ReporteModel
<div style="clear:both; height:15px"></div>
<table border="0" class="tabla-icono table table-hover" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>NRO.</th>
            <th>RAZÖN SOCIAL</th>
            <th>RUC</th>
            <th>FECHA DE INGRESO</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 0;
         }
        @foreach (var item in Model.ListaIntegrantes)
        {
            <tr>
                @{
            contador++;
                }
                <td style="width:60px">@contador</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.Emprruc</td>
                <td>
                    @if (@item.Emprfecingreso != null)
                    {
                        @item.Emprfecingreso.Value.ToString("dd-MM-yyyy")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

