@model COES.MVC.Publico.Areas.Operacion.Models.PrecioCombustibleModel

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Empresa</th>
            <th>Central</th>
            <th>Tipo de Combustible</th>
            <th>Unidad de Medida</th>
            <th>Precio del Combustible</th>
            <th>Fecha de Vigencia</th>
        </tr>
    </thead>
    <tbody>
        @{var contador = 1;
        foreach (var item in Model.ListaFormula)
        {
            
            <tr>
                <td>@contador</td>                
                <td>@item.Emprnomb</td>
                <td>@item.Centralnomb</td>
                <td>@item.Tipocombustible</td>
                <td>@item.ConcepUni</td>
                <td>@item.Valor.ToString("#,##0.000")</td>
                <td>
                    @if(item.Fechadat!=null)
                    {
                        <span>@(((DateTime)item.Fechadat).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
            </tr>
            
            contador = contador + 1;
        }}
    </tbody>
</table>