@model COES.MVC.Intranet.Areas.Eventos.Models.RegistroModel
<div class="content-hijo">
    <div class="action-message" id="mensaje">Complete los datos del evento y presione "Guardar"</div>
    <div class="content-registro">

        <form id="frmRegistro" name="formRegistro">
            <table>
                <tr>
                    <td class="registro-label">Tipo de Evento:</td>
                    <td class="registro-control">
                        <select id="cbTipoEventoBitacora" name="IdTipoEvento">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaTipoEvento)
                            {
                                <option value="@item.Tipoevencodi">@item.Tipoevendesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfTipoEventoBitacora" value="@Model.IdTipoEvento" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Tipo de Operaci&oacute;n:</td>
                    <td class="registro-control">
                        <select id="cbTipoOperacionBitacora" name="IdTipoOperacion">
                            <option value="-1">NO DEFINIDO</option>
                            @foreach (var item in Model.ListaTipoOperacion)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfTipoOperacionBitacora" value="@Model.IdTipoOperacion" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Equipo:</td>
                    <td class="registro-control">
                        <span id="spanEquipo">@Model.Entidad.Equiabrev</span>
                        <input type="button" value="Seleccionar" id="btnBuscarEquipoBitacora" />
                        <input type="hidden" id="hfIdEquipoBitacora" name="IdEquipo" value="@Model.Entidad.Equicodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaEventoBitacora" name="IdEmpresa">
                            <option value="">-Seleccione-</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfIdEmpresaEventoBitacora" value="@Model.Entidad.Emprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Hora inicial</td>
                    <td class="registro-control">
                        <input type="text" id="txtHoraInicialBitacora" name="HoraInicial" value="@Model.HoraInicial" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Hora final</td>
                    <td class="registro-control">
                        <input type="text" id="txtHoraFinalBitacora" name="HoraFinal" value="@Model.HoraFinal" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Causa</td>
                    <td class="registro-control">
                        <select id="cbSubCausaEventoBitacora" name="IdSubCausaEvento">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaSubCausaEvento)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfSubCausaEventoBitacora" value="@Model.Entidad.Subcausacodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Descripción(Resúmen)</td>
                    <td class="registro-control">
                        <textarea id="txtDescripcionBitacora" maxlength="250" name="Descripcion" class="areaevento">@Model.Entidad.Evenasunto</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Detalle adicional:</td>
                    <td class="registro-control">
                        <textarea id="txtDetalleAdicionalBitacora" maxlength="4000" name="Detalle" class="areaevento">@Model.Entidad.Evendesc</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Comentarios Internos:</td>
                    <td class="registro-control">
                        <textarea id="txtComentarioInternoBitacora" maxlength="4000" name="Comentarios" class="areaevento">@Model.Entidad.Evencomentarios</textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="hfCodigoEvento" name="IdEvento" value="@Model.Entidad.Evencodi" />
            <input type="hidden" id="IdNumeroDivBitacora" name="IdNumeroDivBitacora" value="0" />
        </form>
    </div>

    <table cellpadding="0" cellspacing="0" style="margin-top:12px">
        <tr style="line-height:10px">
            <td><input type="button" id="btnGuardarBitacora" value="Guardar" /></td>
        </tr>
    </table>

</div>

<div id="busquedaEquipoBitacora" class="popup-class-1" style="z-index: 9999999999; display: none; width: 950px; height:500px">
</div>
