@model COES.MVC.Intranet.Areas.IEOD.Models.HorasOperacionModel

<script type="text/javascript">
    $(function () {
        document.getElementById("chkFueraServicio").checked = parseInt($('#hfOPFueraServ').val());

        $('#cbTipoOp').val($('#hfTipoOerac').val());

        $("#btnCancelar2").click(function () {
            $('#newHorasOperacion').bPopup().close();
        });
    });

</script>

<div>
    <table>
        <tr>
            <td>Empresa:</td>
            <td>@Model.HoraOperacion.Emprnomb</td>
        </tr>
        <tr>
            <td>Central:</td>
            <td>@Model.HoraOperacion.PadreNombre</td>
        </tr>

        @if (Model.IdTipoCentral != 39 && Model.IdTipoCentral != 37)// Hidrológica, Termoeléctrica
        {
            <tr>
                <td>@Model.EtiquetaFiltro</td>
                <td>@Model.HoraOperacion.EquipoNombre</td>
            </tr>
        }

        <tr>
            <td>Fecha de registro:</td>
            <td>@Model.Fecha</td>
        </tr>

        <tr>
            <td>Orden de Arranque</td>
            <td>
                <input type="text" id="txtOrdenArranqueF" value="@Model.FechaIni" readonly="readonly" style="width:120px;" />
                <input type="text" id="txtOrdenArranqueH" value="@Model.Hophorordarranq" style="width:100px;" />
            </td>
        </tr>
        <tr>
            <td>En Paralelo</td>
            <td>
                <input type="text" id="txtEnParaleloF" value="@Model.FechaIni" readonly="readonly" style="width:120px;" />
                <input type="text" id="txtEnParaleloH" value="@Model.HoraIni" style="width: 100px;" />
            </td>
        </tr>
        <tr>
            <td>Fuera de Servicio(F/S) por Falla</td>
            <td>
                <input type="checkbox" id="chkFueraServicio" name="chkFueraServicio" disabled />
            </td>
        </tr>
        <tr>
            <td>Orden de Parada</td>
            <td>
                <input type="text" id="txtOrdenParadaF" value="@Model.FechaIni" readonly="readonly" style="width:120px;" />
                <input type="text" id="txtOrdenParadaH" value="@Model.Hophorparada" readonly="readonly" style="width: 100px;" />
            </td>
        </tr>
        <tr>
            <td>Fuera de Paralelo</td>
            <td>
                <input type="text" id="txtFueraParaleloF" value="@Model.FechaFin" readonly="readonly" style="width:120px;" />
                <input type="text" id="txtFueraParaleloH" value="@Model.HoraFin" readonly="readonly" style="width: 100px;" />
            </td>
        </tr>
        <tr>
            <td>Calificación</td>
            <td>
                <select id="cbTipoOp" name="cbTipoOp" style="width:220px;" disabled>
                    @if (Model.ListaTipoOperacion.Count > 0)
                    {
                        foreach (var item in Model.ListaTipoOperacion)
                        {
                            <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                        }
                    }
                </select>
                <input type="hidden" id="hfTipoOerac" name="hfTipoOerac" value="@Model.IdTipoOperSelect" />
            </td>
        </tr>
        <tr>
            <td>Descripción:</td>
            <td colspan='2'><textarea readonly="readonly" cols=50 rows=3 id='TxtDescripcion' name='TxtDescripcion'>@Model.HoraOperacion.Hopdesc</textarea></td>
        </tr>

    </table>

    <table class="btnAcciones">
        <tr>
            <td>
                <input type="button" id="btnCancelar2" value="Cerrar" />
            </td>
        </tr>
    </table>

</div>

<input type="hidden" id="hfHopcodi" name="hfHopcodi" value="@Model.Hopcodi" />
<input type="hidden" id="hfFecha" name="hfFecha" value="@Model.Fecha" />
<input type="hidden" id="hfOPFueraServ" name="hfOPFueraServ" value="@Model.OpfueraServ" />
<input type="hidden" id="hfEquicodi" name="hfFecha" value="@Model.HoraOperacion.Equicodi" />
<input type="hidden" id="hfGrupocodi" name="hfFecha" value="@Model.HoraOperacion.Grupocodi" />
<input type="hidden" id="hfIdEmpresa" name="hfIdEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfIdCentral" name="hfIdCentral" value="@Model.IdCentralSelect" />
<input type="hidden" id="hfTipoCentral" name="hfTipoCentral" value="@Model.IdTipoCentral" />