@model COES.MVC.Intranet.Areas.IEOD.Models.HorasOperacionModel
@{
    ViewBag.Title = "Reporte Horas de Operación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/IEOD/Content/Css/css.css?v=3.1" rel="stylesheet" />
<link href="~/Content/Css/jquery.timeentry.css" rel="stylesheet">

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/IEOD/Content/Scripts/horasoperacion/globales.js?v=3.6.5"></script>
<script src="~/Areas/IEOD/Content/Scripts/horasoperacion/horasoperacionreporte.js?v=3.6.5"></script>
<script src="~/Areas/IEOD/Content/Scripts/mensajes.js?v=3.6.5"></script>

<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/jquery.plugin.js"></script>
<script src="~/Content/Scripts/jquery.timeentry.js"></script>

<style>
    .paginate_button.first {
        display: none;
    }

    .paginate_button.previous {
        display: none;
    }

    .paginate_button.next {
        display: none;
    }

    .paginate_button.last {
        display: none;
    }
    .fg-button.ui-button.ui-state-default {
        margin-left: 5px;
        margin-right: 4px;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Histórico - Horas de Operacion</div>
    <div class="content-botonera" id="container">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="button" id="btnExportarOsinergmin" value="OSINERGMIN" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">Por favor seleccione Calificación, fechas y empresa.</div>
    <div class='action-message' id='mensajeEvento' style='display:none'></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo Central:</td>
                <td>
                    <select id="cbTipoCentral" name="cbTipoCentral" style="width:250px;">
                        <option value="-1">--TODOS--</option>
                        @foreach (var item in Model.ListaTipoCentral)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:250px;">
                        <option value="-2">--TODOS--</option>
                    </select>
                </td>

                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.Fecha" />
                </td>

                <td>Fecha Fin:</td>
                <td>
                    <input type="text" id="txtFechaFin" name="txtFechaFin" value="@Model.FechaFin" />
                </td>
            </tr>

            <tr>
                <td>Calificación:</td>
                <td>
                    <select id="cbTipoOperacion" name="cbTipoOperacion" multiple="multiple" style="width:250px;">
                        @if (Model.ListaTipoOperacion.Count > 0)
                        {
                            foreach (var item in Model.ListaTipoOperacion)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        }
                    </select>
                    <input type="hidden" id="hfTipoOperacion" name="hfTipoOperacion" />
                </td>

                <td>Ensayo de Pe:</td>
                <td>
                    <select id="cbEnsayoPe" name="cbEnsayoPe" style="width: 100px">
                        <option value="-1">--TODOS--</option>
                        <option value="S">SÍ</option>
                        <option value="N">NO</option>
                    </select>
                    <input type="hidden" id="hfEnsayoPe" name="hfEnsayoPe" />
                </td>

                <td>Ensayo de PMin:</td>
                <td>
                    <select id="cbEnsayoPmin" name="cbEnsayoPmin" style="width: 100px">
                        <option value="-1">--TODOS--</option>
                        <option value="S">SÍ</option>
                        <option value="N">NO</option>
                    </select>
                    <input type="hidden" id="hfEnsayoPmin" name="hfEnsayoPmin" />
                </td>

                <td>
                    <input type="checkbox" id="check_comp" style="margin-top: 5px;" title="Mostrar compensar Orden de arranque y Orden de parada" />
                    <span style="display: inline-table; ">Comp.</span>
                </td>
            </tr>

        </table>
    </div>


    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="margin-top: -15px;"></div>
    </div>


    <div style="clear:both; height:30px"></div>

    <div id="newHorasOperacion" style="z-index:9999999999;">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Ver Hora de Operacion</span></div>
        <div id="idForHorasOperacion">

        </div>
    </div>

</div>
