@model COES.MVC.Intranet.Areas.PMPO.Models.ParametrosFechasModel

<div style="clear:both; height:10px"></div>

<p class="leyenda" id="versionMostrada" style="padding-right: 95px;"> <b>Version Mostrada: </b>  </p>
<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />

<table style="">
    <tr>

        <td colspan="2">
            <fieldset>
                <legend>Fecha Inicio </legend>
                <div>
                    <div class="search-content" style="margin-bottom: -10px;">

                        <table class="content-tabla-search" style="width:auto" role="presentation">
                            <tr>

                                <td style="padding-left: 15px;">Año:</td>
                                <td>
                                    <input type="text" id="txtAnio" value="@Model.Anio" style="width:65px;" />
                                    <input type="hidden" id="hfAnio" value="@Model.Anio" />
                                </td>

                                <td id="fecI" style="padding-left: 40px;">Fecha de Inicio:</td>
                                <td>
                                    <input type="text" id="txtFechaIniAnio" value="@Model.FechaIniAnio" />
                                    <input type="hidden" id="hfFechaIniAnio" value="@Model.FechaIniAnio" />
                                </td>

                                <td style="">Fecha Fin:</td>
                                <td>
                                    <div style="font-weight: bold;" id="txtFechaFinAnio"> @Model.FechaFinAnio</div>
                                    <input type="hidden" id="hfFechaFinAnio" value="@Model.FechaFinAnio" />

                                </td>

                                <td style="padding-left: 40px;">Día inicio de programa operativo:</td>
                                <td>
                                    <div style="font-weight: bold;" id="txtDiaNombre"> @Model.DiaNombre</div>
                                </td>

                                <td></td>
                                <td>
                                    @if (Model.TienePermisoNuevo)
                                    {
                                        <a href="#" id="btnRestablecerDefault" title="Restablecer configuración por defecto">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/ContextMenu/reemplazar.png" /><br />
                                            </div>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>
            <fieldset style="margin-top: 15px;">
                <legend>Inicio Semana/Mes</legend>
                <div style="height: 395px; text-align:center;">
                    <div style="padding-bottom: 40px;"></div>
                    <div id="tblSemanaMes" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin: 0 auto;">  </div>
                    <p class="leyenda" id="nota1" style="padding-right: 155px;"> <b>(*)</b> Será editable siempre y cuando  no haya un mes procesado.</p>
                </div>

            </fieldset>
        </td>
        <td>
            <fieldset style="margin-top: 15px; ">
                <legend>Feriados del año</legend>
                <div style="height: 395px;">
                    @if (Model.TienePermisoNuevo)
                    {
                        <div style="padding-bottom: 15px; text-align: right; padding-right: 35px;"> <input style="" type="button" id="btnAgregarFeriado" value="Agregar" /> </div>
                    }
                    else
                    {
                        <div style="padding-bottom: 40px;">  </div>
                    }
                    <div id="tblFeriadosAnio" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin: 0 auto;"> </div>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center; padding: 15px;">
            @if (Model.TienePermisoNuevo)
            {
                if (Model.EsNuevo)
                {
                    <input style="" type="button" id="btnGrabarAnioOperativo" value="Grabar" />
                }
                else
                {
                    <input style="" type="button" id="btnActualizarAnioOperativo" value="Actualizar" />
                }

                <input style="" type="button" id="btnCancelarAnioOperativo" value="Cancelar" />
            }
        </td>
    </tr>
</table>







