
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-puntoentrega-grilla.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/reporte.css" rel="stylesheet" />

<table id="tblTramites" border="0" class="pretty tabla-formulario">
    <thead>
        <tr>

            <th>
                Ver Empresas <br /> Responsables
            </th>
            <th>
                Empresa Generadora
            </th>
            <th>
                Tipo Interrupci&oacute;n
            </th>
            <th>
                Fecha de Inicio<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                Fecha de Fin<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                Duraci&oacute;n<br /> hh:mm
            </th>
            <th>
                Compensaci&oacute;n <br /> USD
            </th>
            <th>
                Causa Resumida <br /> de Interrupci&oacute;n
            </th>
            <th>
                Tr&aacute;mite por Fuerza mayor<br />SI/NO
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var mp in Model)
            {
                string @nreg = "nreg" + @mp.RPEKEY;
                <tr id="@nreg" class="btnOpenFileManagerRegistro" style="background-color:@mp.BackgroundColor;" data-registro="@mp.RPEKEY">
                    <td style="text-align:center"><a class="btnOpenFileManagerEmpResponsable btn-table" data-registro="@mp.RPEKEY" style="display: block; cursor:pointer" title="Ver Empresas Responsables"><img src="~/Content/Images/btn-open.png" /></a></td>
                    <td class="select-btnclick">@mp.RPEEMPRESAGENERADORANOMBRE</td>
                    <td class="select-btnclick">@mp.RPETIPOINTNOMBRE</td>
                    <td class="select-btnclick">@string.Format("{0:" + @COES.MVC.Extranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RPEFECHAINICIO)</td>
                    <td class="select-btnclick">@string.Format("{0:" + @COES.MVC.Extranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RPEFECHAFIN)</td>
                    <td class="select-btnclick" style="text-align:right !important;">@mp.RPEDURACION</td>
                    <td class="select-btnclick" style="text-align:right !important;">@string.Format("{0:0.00}", @mp.RPECOMPENSACION)</td>
                    <td class="select-btnclick">@mp.RPECAUSAINTERRUPCION</td>
                    <td class="select-btnclick">@mp.RPETRAMFUERMAYOR</td>
                </tr>
            }
        }
    </tbody>
</table>
