@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.ReservaAsignadaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Compensación de RSF - Reserva asignada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/CompensacionRSF/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/CompensacionRSF/Content/Scripts/reservaasignada.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Reserva Asignada (RA)</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Copiar Periodos y Magnitudes" id="btnCopiarPM" alt="Copiar periodos y magnitudes de cada URS" title="Copiar periodos y magnitudes de cada URS" />
                <input type="button" value="Exportar Reserva Asignada" id="btnExportarPM" alt="Exportar Reserva Asignada - SGOCOES" title="Exportar Reserva Asignada - SGOCOES" />
            }
            @*<input type="button" value="Refrescar" id="btnRefrescar" alt="Refrescar" title="Refrescar" />*@
        </div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadPeriodo.PeriCodi > 0 && Model.EntidadRecalculo.Vcrecacodi > 0)
            {
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Periodo de consulta: @Model.EntidadPeriodo.PeriNombre / @Model.EntidadRecalculo.Vcrecanombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Periodo y Revisión</div>
            }
            <table>
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td><div style="width:20px">Periodo: </div></td>
                                    <td>
                                        <div class="editor-field" style="width:50px">
                                            <select id="pericodi" name="pericodi" onchange="refrescar();">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    sSelected = "";
                                                    if (@item.PeriCodi == Model.Pericodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:100px">Recalculo: </td>
                                    <td>
                                        <select id="vcrecacodi" name="vcrecacodi">
                                            @foreach (var item in Model.ListaRecalculo)
                                            {
                                                sSelected = "";
                                                if (@item.Vcrecacodi == Model.Vcrecacodi)
                                                {
                                                    sSelected = "selected";
                                                }
                                                <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @*<div class="listado" id="listado"> </div>*@
    </div>
</div>
