@model COES.MVC.Intranet.Areas.Hidrologia.Models.VerificacionFormatoModel
<script>
    $(function () {
        $('#btnGuardar').click(function () {
            registrarVerificacionFormato();
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("AgregarVerificacionFormato", "FormatoMedicion", FormMethod.Post, new { @class = "form-search", name = "frmAgregarVerificacionFormato", id = "frmAgregarVerificacionFormato" }))
    {
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Formato:</td>
                <td class="tbform-control">
                    <input type="text" disabled id="Formatnomb" name="Formatnomb" value="@Model.Formatnomb" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Verificación:</td>
                <td class="tbform-control">
                    <select id="cbVerificacion" name="Verifcodi">
                        <option value="-3">--SELECCIONE--</option>
                        @foreach (var item in Model.ListaVerificacion)
                        {
                            <option value="@item.Verifcodi">@item.Verifnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    @foreach (var item in Model.ListaEstadoFlag)
                    {
                        <label>
                            <input type="radio" name="Fmtverifestado" id="optRadio@(item.EstadoCodigo)" value="@item.EstadoCodigo" @(item.EstadoCodigo == "A" ? "checked" : "")>
                            <span>@item.EstadoDescripcion</span>
                        </label>
                    }
                </td>
            </tr>
        </table>
        <input type="hidden" name="Formatcodi" id="hfFormatcodi" value="@Model.Formatcodi" />
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardar" />
</div>