@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<script src="~/Content/Scripts/jquery.mask.js"></script>
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/formatograbar.js?v=1.7.4"></script>
<style>
    #confPlazo input[type = number] {
        width: 40px;
        text-align: right;
    }

    .search-content {
        margin-bottom: 0px !important;
    }

    select:disabled {
        background: lightgray;
        color: #4876AA;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }
</style>

<form id="frmFormato" class="form-search" method="post" action="">
    <div class="search-content">
        <input type="hidden" id="hfIdFormato" name="IdFormato" value="@Model.IdFormato" />
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Nombre:</td>
                            <td><input type="Text" id="Nombre" name="Nombre" value="@Model.Nombre" style="width:650px;" /></td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><input type="Text" id="Descripcion" name="Descripcion" value="@Model.Descripcion" style="width:650px;" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Tipo de Lectura</td>
                                        <td>
                                            <select id="IdLectura" name="IdLectura">
                                                @foreach (var reg in Model.ListaLectura)
                                                {
                                                    <option value="@reg.Lectcodi">@reg.Lectnomb</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfLectura" value="@Model.IdLectura" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fila_modulo">Módulo</td>
                                        <td class="fila_modulo">
                                            <select id="IdModulo" name="IdModulo">
                                                <option value="0">-SELECCIONE-</option>
                                                @foreach (var reg in Model.ListaModulo)
                                                {
                                                    <option value="@reg.Modcodi">@reg.Modnomb</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfModulo" value="@Model.IdModulo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Area:</td>
                                        <td>
                                            <select id="IdArea" name="IdArea">
                                                <option value="0">-SELECCIONE-</option>
                                                @foreach (var item in Model.ListaAreasCoes)
                                                {
                                                    <option value="@item.Areacode">@item.Areaname</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfArea" value="@Model.IdArea" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>

                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Periodo:</td>
                                        <td>
                                            <select id="Periodo" name="Periodo">
                                                <option value="0">--SELECCIONE--</option>
                                                <option value="1">Diario</option>
                                                <option value="2">Semanal</option>
                                                <option value="3">Mensual</option>
                                                <option value="6">Trimestral</option>
                                                <option value="4">Anual</option>
                                                <option value="5">Semanal x Mes</option>
                                            </select>
                                            <input type="hidden" id="hfPeriodo" value="@Model.Periodo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Resolución</td>
                                        <td>
                                            <select id="Resolucion" name="Resolucion">
                                                <option value="0">--SELECCIONE--</option>
                                                <option value="15">15 minutos</option>
                                                <option value="30">30 minutos</option>
                                                <option value="60">1 hora</option>
                                                <option value="1440">1 día</option>
                                                <option value="10080">1 semana</option>
                                                <option value="43200">1 mes</option>
                                            </select>
                                            <input type="hidden" id="hfResolucion" value="@Model.Resolucion" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Horizonte:</td>
                                        <td>
                                            <select id="Horizonte" name="Horizonte">
                                                <option value="0">--SELECCIONE--</option>
                                                <option value="1">1 día</option>
                                                <option value="3">3 días</option>
                                                <option value="7">7 días</option>
                                                <option value="10">10 días</option>
                                                <option value="30">1 mes</option>
                                                <!--FIT - VALORIZACION DIARIA-->
                                                <option value="90">3 mes</option>
                                                <option value="365">1 año</option>
                                            </select>
                                            <input type="hidden" id="hfHorizonte" value="@Model.Horizonte" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cabecera:</td>
                                        <td>
                                            <select id="IdCabecera" name="IdCabecera">
                                                <option value="0">--SELECCIONE--</option>
                                                @foreach (var reg in Model.ListaCabecera)
                                                {
                                                    <option value="@reg.Cabcodi">@reg.Cabdescrip</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfCabecera" value="@Model.IdCabecera" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div class="search-content">
                                <table>
                                    <tr>
                                        <td>Usuario</td>
                                        <td>

                                            <select id="AllEmpresa" name="AllEmpresa">
                                                <option value="-1">--SELECCIONE--</option>
                                                <option value="0">Agente</option>
                                                <option value="1">Administador</option>
                                            </select>
                                            <input type="hidden" id="hfUsuario" value="@Model.AllEmpresa" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Check Blancos
                                            <input type="checkbox" id="chbBlanco" value="1" />
                                            <input type="hidden" id="hfCheckBlanco" name="CheckBlanco" value="@Model.CheckBlanco" />
                                        </td>
                                        <td>
                                            Check Plazo <input type="checkbox" id="chbPlazo" />
                                            <input type="hidden" id="hfCheckPlazo" name="CheckPlazo" value="@Model.CheckPlazo" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Config formato origen</td>
                                        <td>
                                            <select id="IdFormato2" name="IdFormato2">
                                                @foreach (var reg in Model.ListaFormato)
                                                {
                                                    <option value="@reg.Formatcodi">@(reg.Formatcodi + " " + reg.Formatnombre)</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hfFormato2" value="@Model.IdFormato2" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <div class="popup-title"><span>Configuración de Plazo</span></div>
    <div style="clear:both; height:5px"></div>

    <table id="confPlazo">

        <tr>
            <td>
                <div class="search-content" style="background-color: #acfdb9 !important;">
                    <table>
                        <tr>
                            <td colspan="6">Inicio de Plazo</td>
                        </tr>
                        <tr>
                            <td class="mes_config">Meses:</td>
                            <td class="mes_config">
                                <input type="number" id="Mesplazo" name="Mesplazo" value="@Model.Mesplazo" />
                            </td>
                            <td>Días:</td>
                            <td>
                                <input type="number" id="DiaPlazo" name="DiaPlazo" value="@Model.DiaPlazo" />
                            </td>
                            <td>Horas:</td>
                            <td>
                                <input type="time" class="without_ampm" id="txtMinPlazo" name="txtMinPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                <input type="hidden" id="hfMinPlazo" name="MinutoPlazo" value="@Model.MinutoPlazo" />
                            </td>
                        </tr>
                    </table>
                </div>

            </td>


            <td>
                <div class="search-content" style="background-color: #acfdb9 !important;">
                    <table>
                        <tr>
                            <td colspan="6">Fin de Plazo</td>
                        </tr>
                        <tr>
                            <td class="mes_config">Meses:</td>
                            <td class="mes_config">
                                <input type="number" id="Mesfinplazo" name="Mesfinplazo" value="@Model.Mesfinplazo" />
                            </td>
                            <td>Días:</td>
                            <td>
                                <input type="number" id="DiaFinPlazo" name="DiaFinPlazo" value="@Model.DiaFinPlazo" />
                            </td>
                            <td>Horas:</td>
                            <td>
                                <input type="time" class="without_ampm" id="txtMinFinPlazo" name="txtMinFinPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                <input type="hidden" id="hfMinFinPlazo" name="MinutoFinPlazo" value="@Model.MinutoFinPlazo" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>


            <td>

                <div class="search-content" style="background-color: #f9a0a0 !important;">
                    <table>
                        <tr>
                            <td colspan="6">Fin de Fuera de Plazo</td>
                        </tr>
                        <tr>
                            <td class="mes_config">Meses:</td>
                            <td class="mes_config">
                                <input type="number" id="Mesfinfueraplazo" name="Mesfinfueraplazo" value="@Model.Mesfinfueraplazo" />
                            </td>
                            <td>Días:</td>
                            <td>
                                <input type="number" id="DiaFinFueraPlazo" name="DiaFinFueraPlazo" value="@Model.DiaFinFueraPlazo" />
                            </td>
                            <td>Horas:</td>
                            <td>
                                <input type="time" class="without_ampm" id="txtMinFinFueraPlazo" name="txtMinFinFueraPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                <input type="hidden" id="hfMinFinFueraPlazo" name="MinutoFinFueraPlazo" value="@Model.MinutoFinFueraPlazo" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>


        </tr>
    </table>

    <div style="clear:both; height:5px"></div>
    <div style=" margin-top: 30px;">
        <b>Vista Previa según <span style="color: #3D90CB;">Fecha Proceso</span></b>.
        Período Diario:
        <input type="text" id="txtFechaPeriodo" value="@Model.FechaPeriodo" style="width:100px;" class="filtro-contenido" />

        Período Semanal:
        <input type="text" id="txtAnioPeriodo" value="@Model.AnioPeriodo" disabled style="width: 47px;" class="filtro-contenido" />
        <select id="cbSemana" style="width: 100px">
            @foreach (var item in Model.ListaGenSemanas)
            {
                <option value="@item.String2">@item.String1</option>
            }
        </select>
        <input type="hidden" id="semanaActual" value="@Model.SemanaPeriodo" />

        Período Mensual:
        <input type="text" id="txtMesPeriodo" value="@Model.MesPeriodo" style="width: 100px;" class="filtro-contenido" />

    </div>

    <br />
    <br />
    <b>Resultado:</b> Plazo de envío permitido para la Carga de datos de la <b style="color: #3D90CB;">Fecha Proceso</b> seleccionada:
    <br />
    <div style="margin-top: 5px; margin-bottom: 10px;">

        <span style="padding: 5px; width: 90px; background-color: #acfdb9 !important;">En Plazo</span>
        desde
        <span id="txtFechaEnPlazo1"></span>
        hasta
        <span id="txtFechaEnPlazo2"></span>
        y

        <span style="padding: 5px; width: 90px; background-color: #f9a0a0 !important;">Fuera Plazo (Tolerancia)</span>
        desde
        <span id="txtFechaFueraPlazo1"></span>
        hasta
        <span id="txtFechaFueraPlazo2"></span>
    </div>

    <div class="popup-title"><span></span></div>
    <div style="clear:both; height:20px"></div>
    <table style="width:200px;">

        <tr>
            <td>
                <input class="submit" type="submit" value="Grabar">
            </td>
            <td>
                <input id="btnCancelar" type="button" value="Cancelar">
            </td>
        </tr>
    </table>
</form>
