@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
@{
    ViewBag.Title = "DetalleGeneralFormato";
}
<script type="text/javascript">
    $(document).ready(function () { 
        $('#cbResolucion').val($('#hfResolucion').val());
        $('#cbHorizonte').val($('#hfHorizonte').val());
        $('#cbPeriodo').val($('#hfPeriodo').val());
        $('#cbArea').val($('#hfArea').val());
    });
</script>
<table style="width:80%">
 
    <tr>
        <td  class="tbform-label">Formato:</td>
        <td class="tbform-control">
            <input type="Text" id="txtFormato"  value="@Model.Formato.Formatnombre" />
        </td>

        <td class="tbform-label">Area COES:</td>
        <td class="tbform-control">
              <select id="cbArea"  name="IdArea">  
                  <option value="0">[Todos]</option>      
                   @foreach (var item in Model.ListaAreasCoes)
                   {   
                        <option value="@item.Areacode">@item.Areaname</option>
                   }
              </select>
              <input type="hidden" id="hfArea" value="@Model.Formato.Areacode"  />
        </td>

        <td  class="tbform-label">Periodo:</td>
        <td class="tbform-control">
                 <select id="cbPeriodo" name="idPeiordo">
                    <option value="0">--SELECCIONE--</option>
                    <option value="1">Diario</option>
                    <option value="2">Semanal</option>
                    <option value="3">Mensual</option>
                    <option value="4">Anual</option>
                    <option value="5">Semanal x Mes</option>
                 </select>
                 <input type="hidden" id="hfPeriodo" value="@Model.Formato.Formatperiodo"  />
        </td>
        <td class="tbform-label">Día Plazo:</td>
        <td class="tbform-control"><input type="text" id="txtDiaPlazo" value="@Model.Formato.Formatdiaplazo" /></td>
    </tr>
    <tr>
        <td  class="tbform-label">Resolución:</td>
        <td class="tbform-control">
                 <select id="cbResolucion" name="idResolucion">
                    <option value="0">--SELECCIONE--</option>
                    <option value="15">15 minutos</option>
                    <option value="30">30 minutos</option>
                    <option value="60">1 hora</option>
                    <option value="1440">1 día</option>
                    <option value="43200">1 mes</option>
                 </select>
                <input type="hidden" id="hfResolucion" value="@Model.Formato.Formatresolucion"  />
        </td>
        <td  class="tbform-label">Horizonte:</td>
        <td class="tbform-control">
                 <select id="cbHorizonte" name="idHorizonte">
                    <option value="0">--SELECCIONE--</option>
                    <option value="1">1 día</option>
                    <option value="3">3 días</option>
                    <option value="7">7 días</option>
                    <option value="10">10 días</option>
                    <option value="30">1 mes</option>
                    <option value="90">3 meses</option>
                 </select>
                 <input type="hidden" id="hfHorizonte" value="@Model.Formato.Formathorizonte"  />
        </td>
        <td class="tbform-label">Minuto Plazo:</td>
        <td class="tbform-control"><input type="text" id="txtMinPlazo" value="@Model.Formato.Formatminplazo" /></td>
    </tr>
    <tr>
        <td class="tbform-label"> Descripción:</td>
        <td class="tbform-control" colspan="3"><input type="text" id="txtDescripcion" value="@Model.Formato.Formatdescrip" style="width:570px;"/></td>
    </tr>
</table>
