@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
@{
    ViewBag.Title = "Detalle de Formatos";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<script src="~/Areas/Hidrologia/Content/Scripts/jquery.dataTables.rowReordering.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>

<script src="~/Areas/Hidrologia/Content/Scripts/detalleequipos.js?v=1.0.2"></script>

<link href="~/Areas/Hidrologia/Content/Css/popup.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Detalle de Equipos</div>
    <div class="content-botonera">
        
        <input type="button" id="btnBuscar" value="Consultar" />
        @if (Model.IdFormatoOrigen <= 0)
        {
            <input type="button" id="btnVentanaAgregarEquipo" value="Agregar Equipo" />
        }

        <input type="hidden" id="idFormatoOrigen" value="@Model.IdFormatoOrigen" />

        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>
<script src="~/Areas/Hidrologia/Content/Scripts/jqueryui.js"></script>
<style>
    #confPlazo input[type = number] {
        width: 40px;
        text-align: right;
    }

    .search-content {
        margin-bottom: 0px !important;
    }

    select:disabled {
        background: lightgray;
        color: #4876AA;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }
</style>
<div class="content-hijo" id="mainLayout">
    

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                
                <td>Formato:</td>
                <td style="font-weight: bold;">@Model.Nombre</td>

                
            </tr>
        </table>
        <input type="hidden" id="hfIndicadorHoja" value="@Model.IndicadorHoja" />
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
        </div>
        <div class="table-list" id="listEquipos"></div>
    </div>
</div>

<input type="hidden" id="hfFormato" value="@Model.IdFormato" />
<input type="hidden" id="hdCodigoApp" name="hdCodigoApp" value="@Model.CodigoApp" />


<div id="busquedaEquipo">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Equipo</span></div>
    <div id="agregarEquipo"></div>
</div>


