@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Hidrologia/Content/Scripts/formatoedit.js"></script>
<div class="form-title">
    <div class="content-titulo">Detalle de Formato</div>
    <div class="content-botonera">
          <input type="button" id="btnGrabar" value="Grabar" />
          <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
     <div class="spfilter-container">
    <table class="content-tabla-search" style="width:auto">
        <tr>
             <td class="tbform-label">Nombre:</td>
             <td class="tbform-control">
                 <input type="Text" id="cdPtomedibarranomb" name="idPtomedibarranomb" value="" onkeydown="return validarLetras(event)"/>
                 <input type="hidden" id="hfPtomedibarranomb" value="@Model.Formato.Formatnombre"  />
                 <input type="hidden" id="hfFormatCodi" name="idFormatCodi" value="@Model.Formato.Formatcodi" />
             </td>

             <td class="tbform-label">Area:</td>
             <td class="tbform-control">
                 <select id="cbArea" name="idArea">
                    <option value="">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaAreasCoes)
                    {   
                        <option value="@item.Areacode">@item.Areaname</option>
                    }
                 </select>
                 <input type="hidden" id="hfArea" value="@Model.Formato.Areacode"  />
             </td>

             <td class="tbform-label">Resoluciòn:</td>
             <td class="tbform-control">
                 <select id="cbResolucion" name="idResolucion">
                    <option value="">--SELECCIONE--</option>
                    <option value="15">15 minutos</option>
                    <option value="30">30 minutos</option>
                    <option value="60">1 hora</option>
                 </select>
                 <input type="hidden" id="hfResolucion" value="@Model.Formato.Formatresolucion"  />
             </td>
        </tr>
        <tr>
            <td class="tbform-label">Horizonte:</td>
             <td class="tbform-control">
                 <select id="cbHorizonte" name="idHorizonte">
                    <option value="">--SELECCIONE--</option>
                    <option value="1">1 día</option>
                    <option value="3">3 días</option>
                    <option value="7">7 días</option>
                    <option value="10">10 días</option>
                 </select>
                 <input type="hidden" id="hfHorizonte" value="@Model.Formato.Formathorizonte"  />
             </td>
        </tr>
        <tr>
            <td class="tbform-label">Periodo:</td>
             <td class="tbform-control">
                 <select id="cbPeriodo" name="idPeriodo">
                    <option value="0">--SELECCIONE--</option>
                    <option value="1">Diario</option>
                    <option value="2">Semanal</option>
                    <option value="3">Mensual</option>
                    <option value="4">Anual</option>
                 </select>
                 <input type="hidden" id="hfPeriodo" value="@Model.Formato.Formatperiodo"  />
             </td>
        </tr>

    </table>
</div>

<div class="content-tabla">

    <div class="table-list" id="listado"></div>
</div>

<div style="clear:both; height:30px"></div>

</div>

