@model COES.MVC.Intranet.Areas.Hidrologia.Models.VerificacionFormatoModel
<script>
    $(function () {
        $('#btnActualizar').click(function () {
            actualizarVerificacionFormato();
        });

        $('input:radio[name=Fmtverifestado][value=' + $("#hdFmtverifestado").val() + ']').attr('checked', true);
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("EditarVerificacionFormato", "FormatoMedicion", FormMethod.Post, new { @class = "form-search", name = "frmEditarVerificacionFormato", id = "frmEditarVerificacionFormato" }))
    {
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Formato:</td>
                <td class="tbform-control">
                    <input type="text" disabled id="Formatnomb" name="Formatnomb" value="@Model.Formatnomb" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Formato:</td>
                <td class="tbform-control">
                    <input type="text" disabled id="Verifnomb" name="Verifnomb" value="@Model.Verifnomb" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    @foreach (var item in Model.ListaEstadoFlag)
                    {
                        <label>
                            <input type="radio" name="Fmtverifestado" id="optRadio@(item.EstadoCodigo)" value="@item.EstadoCodigo">
                            <span>@item.EstadoDescripcion</span>
                        </label>
                    }
                </td>
            </tr>
        </table>
        
        <input type="hidden" name="Formatcodi" id="hfFormatcodi" value="@Model.Formatcodi" />
        <input type="hidden" name="Verifcodi" id="Verifcodi" value="@Model.Verifcodi" />
        <input type="hidden" id="hdFmtverifestado" value="@Model.Fmtverifestado" />
    }

</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar">
</div>