@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
@{
    ViewBag.Title = "Creación de Formatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/formato.js?v=1.7"></script>

<link href="~/Areas/Hidrologia/Content/Css/popup.css" rel="stylesheet" />
<div class="form-title">
    <div class="content-titulo">Generación de Formatos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnNuevo" value="Agregar Formato" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Area COES:</td>
                <td>
                    <select id="cbArea" name="IdArea">
                        <option value="0">[Todos]</option>
                        @foreach (var item in Model.ListaAreasCoes)
                        {
                            <option value="@item.Areacode">@item.Areaname</option>
                        }
                    </select>
                <td>Formato origen:</td>
                <td>
                    <select id="cbFmtOrigen" name="cbFmtOrigen" style="width: 250px;">
                        <option value="0">[Todos]</option>
                        @foreach (var item in Model.ListaFormato)
                        {
                            <option value="@item.Formatcodi">@(item.Formatcodi +" " + item.Formatnombre)</option>
                        }
                    </select>
                </td>
                <td></td>
            </tr>


        </table>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        <input type="hidden" id="hdCodigoApp" name="hdCodigoApp" value="@Model.CodigoApp" />

    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
    <div id="detalle"></div>

</div>

<div id="popupFormato">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Formato</span></div>
    <div style="clear:both; height:20px"></div>
    <div id="edicionGrupo"></div>
</div>


