@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel

<table class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaPtos">
    <thead>
        <tr>
            <th scope="col">Orden</th>            
            <th scope="col">Empresa</th>
            <th scope="col">Equipo</th>            
            <th scope="col">Estado</th>
            
            @if (Model.IdFormatoOrigen <= 0)
            {               
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaHojaPto)
        {
            var idestado = "id" + item.Hojaptoorden;
            var activo = "Activo";

            if (item.Hojaptoactivo == -1)
            {
                activo = "Eliminado";
            }
            if (item.Hojaptoactivo == 0)
            {
                activo = "Desactivo";
            }

            <tr id="@item.Hojaptoorden">

                <td>@item.Hojaptoorden</td>                
                <td>@item.Emprnomb</td>
                <td>@item.Equinomb</td>                               
                <td>@activo</td>
                
                @if (Model.IdFormatoOrigen <= 0)
                {                   
                    <td>
                        <a href="JavaScript:eliminarPto(@item.Formatcodi,@item.Tipoinfocodi, @item.Tptomedicodi, @item.Hojaptoorden,@item.Ptomedicodi)">
                            <img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar punto" alt="Eliminar Punto" />
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
