@model COES.MVC.Intranet.Areas.Hidrologia.Models.VerificacionFormatoModel

<div class="search-content" style="margin-bottom:0">
    <table class="content-tabla-search" style="width:auto">
        <tbody>
            <tr>
                <td class="tbform-label">Formato:</td>
                <td>@Model.Formatnomb</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Codigo Formato</th>
            <th>Formato</th>
            <th>Código Verificación</th>
            <th>Verificación</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaVerificacionFormato)
        {
            <tr>
                <td>
                    <a href="JavaScript:mostrarDetalle(@item.Formatcodi, @item.Verifcodi);"><img src="@Url.Content("~/Content/Images/btn-open.png") " title="Ver Verificación formato" alt="Ver Verificación formato" /></a>
                    <a href="JavaScript:editarVerificacionFormato(@item.Formatcodi, @item.Verifcodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png") " title="Editar Verificación formato" alt="Editar Verificación formato" /></a>
                </td>
                <td>@item.Formatcodi</td>
                <td>@item.Formatnomb</td>
                <td>@item.Verifcodi</td>
                <td>@item.Verifnomb</td>
                <td>@item.FmtverifestadoDescripcion</td>
            </tr>
        }
    </tbody>
</table>
