@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel

<table class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaPtos">
    <thead>
        <tr>
            <th>Orden</th>
            <th>Pto</th>
            <th>Origen</th>
            <th>Empresa</th>

            @if (!Model.IndicadorTransferencias)
            {
                <th>Equipo</th>
                <th>Grupo</th>
            }
            else
            {
                <th>Cliente</th>
                <th>Barra</th>
            }
            <th>Pto Medición</th>
            @if (!Model.IndicadorTransferencias)
            {
                <th>Medida</th>
            }
            <th>Lim. Sup.</th>
            <th>Lim. Inf.</th>
            <th>Estado</th>
            <th>Observación</th>
            @if (Model.IdFormatoOrigen <= 0)
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaHojaPto)
        {
            var idestado = "id" + item.Hojaptoorden;
            var activo = "Activo";
            if (item.Hojaptoactivo == -1)
            {
                activo = "Eliminado";
            }
            if (item.Hojaptoactivo == 0)
            {
                activo = "Desactivo";
            }

            <tr id="@item.Hojaptoorden">
                <td>@item.Hojaptoorden</td>
                <td>@item.Ptomedicodi</td>
                <td>@item.Origlectnombre</td>
                <td>@item.Emprabrev</td>
                @if (!Model.IndicadorTransferencias)
                {
                    <td>@item.Equinomb</td>
                    <td>@item.Gruponomb</td>
                }
                else
                {
                    <td>@item.Clientenomb</td>
                    <td>@item.Barranomb</td>
                }
                <td>@item.Ptomedibarranomb</td>
                @if (!Model.IndicadorTransferencias)
                {
                    <td>@item.Tipoptomedinomb (@item.Tipoinfoabrev)</td>
                }
                <td>@item.Hojaptolimsup</td>
                <td>@item.Hojaptoliminf</td>
                <td>@activo</td>
                <td>@item.Hptoobservacion</td>
                @if (Model.IdFormatoOrigen <= 0)
                {
                    <td>
                        <a href="JavaScript:modificarPto(@item.Ptomedicodi,@item.Tipoinfocodi, @item.Tptomedicodi, @item.Hojaptoorden,'@item.Hojaptolimsup','@item.Hojaptoliminf',@item.Hojaptoactivo, '@item.Hptoobservacion', '@item.Hptominfila', @item.Hptodiafinplazo, @item.Hptominfinplazo, @Model.EmpresaCodigo, @item.Formatcodi, '@item.Hptoindcheck')">
                            <img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Punto" alt="Editar Punto" />
                        </a>
                    </td>
                    <td>
                        <a href="JavaScript:eliminarPto(@item.Formatcodi,@item.Tipoinfocodi, @item.Tptomedicodi, @item.Hojaptoorden,@item.Ptomedicodi)">
                            <img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar punto" alt="Eliminar Punto" />
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
