@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Codigo</th>
            <th scope="col">Formato</th>
            <th scope="col">Area</th>
            <th scope="col">Usuario</th>
            <th scope="col">Periodo</th>
            <th scope="col">Resolución</th>
            <th scope="col">Horizonte</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaFormato)
        {
        <tr>
            <td><a href="JavaScript:nuevoFormato(@item.Formatcodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a></td>
            <td><a href="JavaScript:mostrarDetalle(@item.Formatcodi);"><img src="@Url.Content("~/Content/Images/btn-open.png") " title="ver configuración" alt="Ver Configuración" /></a></td>
            <td><a href="JavaScript:mostrarVerificacionFormato(@item.Formatcodi);"><img src="@Url.Content("~/Content/Images/valid.png") " title="Verificación formato" alt="Verificación formato" /></a></td>
            <td>@item.Formatcodi</td>
            @if (item.Formatdependeconfigptos > 0)
            {
                <td style="text-align: left; font-style: italic;">@item.Formatnombre</td>
            }
            else
            {
                <td style="text-align: left;">@item.Formatnombre</td>
            }
            <td>@item.Areaname</td>
            <td>@item.Lastuser</td>
            <td>@item.Periodo</td>
            <td>@item.Resolucion</td>
            <td>@item.Horizonte</td>
            <td>@item.LastdateDesc</td>
        </tr>
        }
    </tbody>
</table>
