@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<table class="pretty tabla-icono" id="tablaListadoPlazos" width="1100">
    <thead>
        <tr>
            <th>Acción</th>
            <th>Días</th>
            <th>Horas</th>
            <th>Mínimo Filas</th>
            <th>Fecha Vigencia</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaPlazoPto)
        {
            var periodo = Model.Periodo;
            var hora = item.Plzptominfinplazo / 60;
            <tr id="@item.Plzptocodi">

                <td>
                    <a href="JavaScript:editarPlazoExtension( '@item.Plzptocodi','@item.Plzptodiafinplazo','@hora','@item.Plzptofechavigencia.Value.ToString("dd/MM/yyyy")','@item.Plzptominfila');" title="Editar Registro">
                        <img src="~/Content/Images/btn-edit.png" alt="Editar Registro">
                    </a>
                    <a href="JavaScript:eliminarPlazoExtension( '@item.Plzptocodi', '@item.Formatcodi','@item.Ptomedicodi','@item.Tipoinfocodi');" title="Eliminar Registro">
                        <img src="~/Content/Images/Trash.png" alt="Eliminar Registro">
                    </a>
                </td>
                <td>@item.Plzptodiafinplazo</td>
                <td>@hora</td>
                <td>@item.Plzptominfila</td>

                @if (periodo == 3 || periodo == 5)
                {
                    <td>@item.Plzptofechavigencia.Value.ToString("MM yyyy")</td>
                }
                else
                {

                    <td>@item.Plzptofechavigencia.Value.ToString("dd/MM/yyyy")</td>
                }


            </tr>
        }
    </tbody>
</table>

@if (Model.ListaPlazoPto.Count > 0)
{
    var fecha = Model.ListaPlazoPto.FirstOrDefault();
    var hora = fecha.Plzptominfinplazo / 60;

    <input type="hidden" id="hfFechaFinal" value="@fecha.Plzptofechavigencia.Value.ToString("dd/MM/yyyy")" />
    <input type="hidden" id="hfdiaFinPlazo" value="@fecha.Plzptodiafinplazo.ToString()" />
    <input type="hidden" id="hfhoraFinPlazo" value="@hora" />
    <input type="hidden" id="hfminFilaPlazo" value="@fecha.Plzptominfila.ToString()" />
    <input type="hidden" id="hfPlzPtoCodigo" value="@fecha.Plzptocodi.ToString()" />
}
else
{
    <input type="hidden" id="hfFechaFinal" value="-1" />
    <input type="hidden" id="hfdiaFinPlazo" value="-1" />
    <input type="hidden" id="hfhoraFinPlazo" value="-1" />
    <input type="hidden" id="hfminFilaPlazo" value="-1" />
}
