@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnActualizar').click(function () {
            editarPto();
        });

    });
</script>
@{
    var activo = "checked";
    if (Model.HojaPto.Hojaptoactivo != 1)
    {
        activo = "unchecked";
    }
}
<div style="clear:both; height:30px"></div>
<table style="width:100%">

    <tr>
        <td class="tbform-label">Limite Superior:</td>
        <td class="tbform-control">
            <input type="Text" id="idLimSup" value="@Model.HojaPto.Hojaptolimsup" />
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Limite Inferior:</td>
        <td class="tbform-control">
            <input type="Text" id="idLimInf" value="@Model.HojaPto.Hojaptoliminf" />
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Observación:</td>
        <td class="tbform-control">
            <textarea id="txtObservacionPunto">
                @Model.HojaPto.Hptoobservacion
            </textarea>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Activo:</td>
        <td class="tbform-control">
            <input type="checkbox" name="checkbox" id="idActivo" checked="@activo"><br>
        </td>
    </tr>
</table>
<div style="clear:both; height:30px"></div>
<table>
    <tr>
        <td>
            <input type="button" value="Actualizar" id="btnActualizar" />
        </td>
        <td>
            <input type="button" value="Cancelar" id="btnCancelar" />
        </td>
    </tr>
</table>
<input type="hidden" id="hfHoja" value="@Model.HojaPto.Hojanumero" />
<input type="hidden" id="hfPto" value="@Model.HojaPto.Ptomedicodi" />
<input type="hidden" id="hfFormat" value="@Model.HojaPto.Formatcodi" />
