@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<table style="width:100%">
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr>
        <td class="tbform-label">Fuente de datos:</td>
        <td class="tbform-control">
            <select id="cbTipoPunto">
                <option value="1">EQUIPOS</option>
                <option value="2">GRUPOS</option>
                <option value="3">TRANSFERENCIAS</option>
            </select>
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Origen de Lectura:</td>
        <td class="tbform-control">
            <div id="listaOrigenLectura">
                <select id="idorigenlectura">
                    <option value="0"> [Seleccione Origen Lectura] </option>

                    @foreach (var reg in Model.ListaOrigenLectura)
                    {
                        <option value="@reg.Origlectcodi">@reg.Origlectnombre</option>
                    }
                </select>
            </div>
        </td>

        <td class="tbform-label">Filtro Pto:</td>
        <td class="tbform-control" style="padding-left: 0px; padding-right: 0px;">
            <input type="text" id="txtFiltroPo" style="width: 49px;" />
        </td>
        <td>
            <a href="#" id="btnFiltroPto">
                <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar" />
            </a>
        </td>
    </tr>

    <!--separación-->
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr id="trEmpresa">
        <td class="tbform-label">Empresa:</td>
        <td class="tbform-control">
            <select id="cbEmpresa" name="cbEmpresa">
                <option value="0">--SELECCIONE--</option>
                @foreach (var item in Model.ListaEmpresa)
                {
                    <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                }
            </select>
            <input type="hidden" id="hfEmpresa" />
        </td>
    </tr>
    <tr id="trTipoCliente" style="display:none">
        <td class="tbform-label">Cliente:</td>
        <td class="tbform-control">
            <select id="cbTipoCliente" name="IdCliente">
                <option value="-1">--SELECCIONE--</option>
                @foreach (var item in Model.ListaEmpresa)
                {
                    <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                }
            </select>
            <input type="hidden" id="hfCategoriaCliente" />
        </td>

    </tr>
    <tr id="trTipoBarra" style="display:none">
        <td class="tbform-label">Barra :</td>
        <td class="tbform-control">
            <select id="cbTipoBarra" name="IdBarra">
                <option value="-1">--SELECCIONE--</option>
                @foreach (var item in Model.ListBarra)
                {
                    <option value="@item.BarrCodi">@item.BarrNombre</option>
                }
            </select>
            <input type="hidden" id="hfCategoriaBarra" />
        </td>
    </tr>

    <!--Grupos-->
    <tr id="trTipoGrupo" style="display:none">
        <td class="tbform-label">Tipo de Grupo:</td>
        <td class="tbform-control">
            <select id="cbTipoGrupo">
                <option value="-1">--SELECCIONE--</option>
                @foreach (var item in Model.ListaTipoGrupo)
                {
                    <option value="@item.Catecodi">@item.Catenomb</option>
                }
            </select>
        </td>
    </tr>
    <tr id="trGrupo" style="display:none">
        <td class="tbform-label">Grupo:</td>
        <td class="tbform-control">
            <select id="cbGrupo">
                <option value="">--SELECCIONE--</option>
            </select>
        </td>
    </tr>

    <!--Equipos-->
    <tr id="trTipoEquipo">
        <td class="tbform-label">Tipo de Equipo:</td>
        <td class="tbform-control">
            <select id="idFamilia">
                <option value="0"> [Seleccionar Tipo de Equipo] </option>
                @foreach (var reg in Model.ListaFamilia)
                {
                    <option value="@reg.Famcodi">@reg.Famnomb</option>
                }
            </select>
        </td>
    </tr>
    <tr id="trEquipo">
        <td class="tbform-label">Equipo:</td>
        <td class="tbform-control">
            <div id="listaEquipo">
                <select id="idequipo" style="width:300px">
                    <option value="0"> [Seleccionar Equipo] </option>
                </select>
            </div>
        </td>
    </tr>

    <tr>
        <td class="tbform-label">Código Pto:</td>
        <td class="tbform-control">
            <div id="listaPto">
                <select id="idPunto">
                    <option value="0"> [Seleccionar Pto] </option>
                </select>
            </div>
        </td>
    </tr>

    <!--separación-->
    <tr><td><div style="clear:both; height:10px"></div></td></tr>
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:10px"></div></td></tr>

    <tr id="trTipoMedida">
        <td class="tbform-label">Medida:</td>
        <td class="tbform-control">
            <select id="idMedidas">
                <option value="0"> [Seleccionar Medida] </option>
                @{

                    var info= Model.ListaMedidas.FirstOrDefault(medida => medida.Tipoinfoabrev == "MW" && Model.FormatoCodigo == 80)
                        ?? Model.ListaMedidas.FirstOrDefault(medida => medida.Tipoinfoabrev == "MVAR" && Model.FormatoCodigo == 81);

                    if (Model.FormatoCodigo != 80 && Model.FormatoCodigo != 81)
                    {
                        foreach (var reg in Model.ListaMedidas)
                        {
                            <option value="@reg.Tipoinfocodi">@reg.Tipoinfoabrev</option>
                        }
                    }
                    else
                    {
                        <option value="@info.Tipoinfocodi">@info.Tipoinfoabrev</option>
                    }
                }

            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Limite Superior:</td>
        <td class="tbform-control">
            <input type="Text" id="idLimSupNuevo" value="" onkeydown="return validarLetras(event)" />
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Limite Inferior:</td>
        <td class="tbform-control">
            <input type="Text" id="idLimInfNuevo" value="" onkeydown="return validarLetras(event)" />
        </td>
    </tr>
    <tr id="trTipoPuntoMedicion">
        <td class="tbform-label">Tipo de Punto de Medición:</td>
        <td class="tbform-control">
            <select id="idTipoPtoMedicion">
                <option value="-1"> [Seleccionar Tipo Pto Medición] </option>
                @if (Model.FormatoCodigo != 81)
                {
                    foreach (var reg in Model.ListaTipoPuntoMedicion)
                    {
                        <option value="@reg.Tipoptomedicodi">@reg.Tipoptomedinomb</option>
                    }
                }
                else
                {
                    foreach (var reg in Model.ListaTipoPuntoMedicion.Where(reg => reg.Tipoptomedinomb == "Inductiva" || reg.Tipoptomedinomb == "Capacitiva"))
                    {
                        <option value="@reg.Tipoptomedicodi">@reg.Tipoptomedinomb</option>
                    }
                } 
            </select>
        </td>
    </tr>

    <!--separación-->
    <tr><td colspan="5"><div class="popup-title"><span></span></div></td></tr>
    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr>
        <td></td>
        <td colspan="2">
            <input type="button" value="Agregar" id="btnAgregarPto" />
        </td>
    </tr>
</table>

<input type="hidden" id="hfHoja" value="@Model.HojaNumero" />
<input type="hidden" id="hfEmpresa" value="@Model.EmpresaCodigo" />
<input type="hidden" id="hfFormat" value="@Model.FormatoCodigo" />