@model COES.MVC.Intranet.Areas.Hidrologia.Models.VerificacionFormatoModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Formato:</td>
            <td class="tbform-control">@Model.Formatnomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Verificación:</td>
            <td class="tbform-control">@Model.Verifnomb</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.FmtverifestadoDescripcion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.Fmtverifusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.Fmtveriffeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.Fmtverifusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.Fmtveriffecmodificacion</td>
        </tr>
    </table>
</div>