@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<script type="text/javascript">
    $(document).ready(function () { 

        $('#btnAgregar').click(function () {
            agregarTitulo();
        });
        $('#idAncho').val($('#hfAncho').val());
    });
</script>
<table style="width:100%">
    <tr>
        <td  class="tbform-label">Titulo:</td>
        <td class="tbform-control">
            <input type="Text" id="titulo"  value="@Model.HeadColFormato" />
        </td>

    </tr>
    <tr>
        <td  class="tbform-label">Ancho:</td>
        <td class="tbform-control">
            <select id="idAncho">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="Agregar" id="btnAgregar" />
        </td>
    </tr>
</table>
<input type="hidden" id="hfHoja" value ="@Model.HojaNumero"/>
<input type="hidden" id="hfEmpresa" value ="@Model.EmpresaCodigo"/>
<input type="hidden" id="hfFormat" value ="@Model.FormatoCodigo"/>
<input type="hidden" id="hfAncho" value ="@Model.HeadColAncho"/>
<input type="hidden" id="hfPos" value ="@Model.HeadColPos"/>