@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
<link href="~/Content/Css/Bootstrap/bootstrap-grid.min.css" rel="stylesheet" />
<script src="~/Areas/Hidrologia/Content/Scripts/DescargarSeries.js"></script>


<style>
    .export-container {
        border: 1px solid black;
        padding: 10px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .export-options {
        display: flex;
        justify-content: space-around;
    }

    fieldset {
        border: 1px solid black;
        padding: 10px;
    }

    legend {
        background: none !important;
        padding: 0 10px;
        font-weight: bold;
    }

    label {
        margin-right: 10px;
    }
</style>
<div class="search-content" style="margin-bottom:0px; padding:10px; width: 100%;">

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <span> Tipo de Serie : </span>
                        </div>
                        <div class="col-md-8">
                            <select id="cbTipoSerieTab9" name="cbTipoSerieTab9" style="width: -webkit-fill-available !important;">
                                @foreach (var item in Model.ListaTipoSerie)
                                {
                                    <option value="@item.Tiposeriecodi">@item.Tiposerienomb</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Año Inicio: </span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="txtFechaDesdeTab9" name="FechaInicio" value="@Model.FechaIni" style="width: 100% !important;" />
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <span> Año Fin: </span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="txtFechaHastaTab9" name="FechaFin" value="@Model.FechaFin" style="width: 100% !important;" />
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <span> Tipo de Punto de Medición : </span>
                        </div>
                        <div class="col-md-6">
                            <select id="cbTipoPuntoMedicionTab9" name="cbTipoPuntoMedicionTab9" onchange="habilitarRangeFecha(this);">
                                <option value="">--SELECCIONE--</option>
                                @foreach (var item in Model.ListaTipoPuntoMedicion)
                                {
                                    <option value="@item.TipoPtoMediCodi">@item.TipoPtoMediNomb</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <span> Cuenca : </span>
                        </div>
                        <div class="col-md-6">
                            <select id="cbCuencaTab9" name="cbCuencaTab9" disabled="disabled" onchange="habilitarBtnDescargar(this);">
                                <option value="">--SELECCIONE--</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" rowspan="2">
                    <fieldset class="export-container">
                        <legend>EXPORTAR</legend>
                        <div class="export-options">
                            <label>
                                <input type="checkbox" name="export" id="txtExcel" disabled="disabled" value="excel"> Excel
                            </label>
                            <label>
                                <input type="checkbox" name="export" id="txtCsv" disabled="disabled" value="csv"> CSV
                            </label>
                            <label>
                                <input type="checkbox" name="export" id="txtTxt" disabled="disabled" value="txt"> TXT
                            </label>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>

    </div>
    <div class="row mb-3" style="text-align: center;">
        <div class="col-md-12">
            <input type="button" id="btnExportarTab9" value="Descargar" onclick="exportarExcelGraficoModeloPerseo()" disabled="disabled" style="margin-top: 10px" />
        </div>

    </div>

</div>


