@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.SiParametroModel

<div class="panel-container" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>

            <table>
                <tr>
                    <td>
                        <input type="hidden" id="hfSiparCodi" value="@Model.SiParametro.Siparcodi" name="SiparCodi" />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    </td>
                </tr>
                <tr>
                    <td id="lblSiparAbrev" >Abreviatura</td>
                    <td class="registro-control">
                        <input type="text" id="txtSiparAbrev" maxlength="20" name="SiparAbrev" value="@Model.SiParametro.Siparabrev"/>
                    </td>
                </tr>
                <tr>
                    <td id="lblSiparDescripcion" >Descripci&oacute;n</td>
                    <td class="registro-control">
                        <textarea id="txtSiparDescripcion"  maxlength="150" name="SiparDescripcion" cols="60" rows="3">@Model.SiParametro.Sipardescripcion</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-control">
                        <input type="hidden" id="hfSiparUsuCreacion" name="SiparUsuCreacion" value="@Model.SiParametro.Siparusucreacion"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var fechaSiparFecCreacion = "";
                            if (Model.SiParametro.Siparfeccreacion != null)
                            {
                                fechaSiparFecCreacion = ((DateTime)Model.SiParametro.Siparfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfSiparFecCreacion" name="SiparFecCreacion" value="@fechaSiparFecCreacion" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-control">
                        <input type="hidden" id="hfSiparUsuModificacion" name="SiparUsuModificacion" value="@Model.SiParametro.Siparusumodificacion"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var fechaSiparFecModificacion = "";
                            if (Model.SiParametro.Siparfecmodificacion != null)
                            {
                                fechaSiparFecModificacion = ((DateTime)Model.SiParametro.Siparfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfSiparFecModificacion" name="SiparFecModificacion" value="@fechaSiparFecModificacion" />
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <input type="button" id="btnGrabar" value="Grabar" />
                    </td>
                </tr>

            </table>
    </form>
</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Parametro</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>
