@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaSiParametroModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Abreviatura</th>
                <th>Descripci&oacute;n</th>
                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaSiParametro)
            {                
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Siparcodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>

                        <a href="JavaScript:editar(@item.Siparcodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>

                        <a href="JavaScript:eliminar(@item.Siparcodi)" title="Eliminar...">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>

                    </td>
                    <td>@item.Siparabrev</td>
                    <td>@item.Sipardescripcion</td>
                    <td>@item.Siparusucreacion</td>
                    <td>
                        @{
                            var fechaSiparFecCreacion = "";
                            if (item.Siparfeccreacion != null)
                            {
                                fechaSiparFecCreacion = ((DateTime)item.Siparfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaSiparFecCreacion
                    </td>
                    <td>@item.Siparusumodificacion</td>
                    <td>
                        @{
                            var fechaSiparFecModificacion = "";
                            if (item.Siparfecmodificacion != null)
                            {
                                fechaSiparFecModificacion = ((DateTime)item.Siparfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaSiparFecModificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
