@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ServicioModel

@if (Model.IndicadorReporte == 1)
{
      <div class="action-exito">El proceso se realizó correctamente.</div>    
}
@if (Model.IndicadorReporte == 2)
{    
    <div class="action-alert">El proceso tardó demasiado, ha sido cancelado.</div>    
}
@if (Model.IndicadorReporte == 3)
{
    <div class="action-error">Ha ocurrido un error al procesar el informe.</div>    
}
@if (Model.IndicadorReporte == 4)
{
    <div class="action-alert">Los datos de la frecuencia base no están completos.</div>    
}
@if (Model.IndicadorReporte == 5)
{
    <div class="action-message">Los datos visualizados han sido procesados anteriormente.</div>
}
@if (Model.IndicadorReporte == 6)
{
    <div class="action-alert">El reporte no ha sido procesado.</div>
}

<div style="clear:both"></div>

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Fecha carga</th>
            <th>Consistencia</th>                
            <th>Estado operativo</th>
            <th>Estado información</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ListaConsulta ) {
        <tr>                        
            <td>@item.EMPRNOMB</td>
            <td>@item.EQUINOMB</td>
            <td>@item.EQUIABREV</td>          
            <td>@item.FechaCarga</td>
            <td>@item.Consistencia</td>            
            <td>@item.EstadoOperativo</td>
            <td>@item.EstadoInformacion</td>
        </tr>
    }
    </tbody>
</table>

