@model COES.MVC.Intranet.Areas.Web.Models.SubscripcionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">
            
            <tr>
                <td class="registro-label">Nombres:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombre" name="Nombres" style="width:300px" value="@Model.Entidad.Subscripnombres" />
                </td>
            </tr>
            <tr >
                <td class="registro-label">Apellidos:</td>
                <td class="registro-control">
                    <input type="text" id="txtApellido" name="Apellidos" style="width:300px" value="@Model.Entidad.Subscripapellidos" />
                </td>
            </tr>
            <tr >
                <td class="registro-label">Correo electrónico:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreo" name="Email" style="width:300px" value="@Model.Entidad.Subscripemail" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono:</td>
                <td class="registro-control">
                    <input type="text" id="txtTelefono" name="Telefono" style="width:300px" value="@Model.Entidad.Subscriptelefono" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <input type="text" id="txtEmpresa" name="Empresa" style="width:300px" value="@Model.Entidad.Subscripempresa" />
                </td>
            </tr>
          
        </table>

        <div class="popup-title" style="margin:10px 0"><span>Publicaciones</span></div>
        <div class="publicacion-content" id="publicacion-content">
            @foreach (var item in Model.ListaItems)
            {
                <div class="publicacion-item">
                    @if(item.Indicador == 0)
                    { 
                        <input type="checkbox" class="publicacion-select" name="cbPublicacion" value="@item.Publiccodi" /> @item.DesPublicacion
                    }
                    else
                    {
                        <input type="checkbox" class="publicacion-select" checked="checked" name="cbPublicacion" value="@item.Publiccodi" /> @item.DesPublicacion
                    }
                </div>
            }
        </div>
        <input type="hidden" id="hfDetalle" name="Publicaciones" value="@Model.Publicaciones" />

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Subscripcodi" />

    </form>
</div>
