@model COES.MVC.Intranet.Areas.Web.Models.SubscripcionModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Fecha Registro</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Empresa</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaSubscripciones.Count > 0)
        {
            foreach (var item in Model.ListaSubscripciones)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Subscripcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Subscripcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@(((DateTime)item.Subscripfecha).ToString("dd/MM/yyyy"))</td>
                    <td>@item.Subscripnombres</td>
                    <td>@item.Subscripapellidos</td>
                    <td>@item.Subscripemail</td>
                    <td>@item.Subscriptelefono</td>
                    <td>@item.Subscripempresa</td>                    
                </tr>
            }
        }
    </tbody>
</table>