@model COES.MVC.Intranet.Areas.Web.Models.PublicacionModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Nombre publicación:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombre" name="Nombre" style="width:300px" value="@Model.Entidad.Publicnombre" />
                </td>
            </tr>            
            <tr>
                <td class="registro-label">Email responsable 1:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreo" name="Correo" style="width:300px" value="@Model.Entidad.Publicemail" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Email responsable 2:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreo1" name="Correo1" style="width:300px" value="@Model.Entidad.Publicemail1" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Email responsable 3:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreo2" name="Correo2" style="width:300px" value="@Model.Entidad.Publicemail2" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Área encargada:</td>
                <td class="registro-control">
                    <select id="cbArea" name="IdArea">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaAreas)
                        { 
                            <option value="@item.Areacode">@item.Areaname</option>
                        }
                    </select>
                    <input type="hidden" id="hfArea" value="@Model.Entidad.Areacode" />
                </td>
            </tr>           
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado" name="Estado">
                        <option value="">-SELECCIONE-</option>
                        <option value="A">Activo</option>
                        <option value="B">Baja</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Publicestado" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Publiccodi" />

    </form>
</div>
