@model COES.MVC.Intranet.Areas.Web.Models.PublicacionModel

<table border="0" class="pretty tabla-icono" id="tablaPublicacion">
    <thead>
        <tr>
            <th></th>
            <th>Publicación</th>            
            <th>Correo Administrador 1</th>
            <th>Correo Administrador 2</th>
            <th>Correo Administrador 3</th>
            <th>Área responsable</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPublicacion.Count > 0)
        {
            foreach (var item in Model.ListaPublicacion)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Publiccodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Publiccodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>                    
                    <td>@item.Publicnombre</td>                    
                    <td>@item.Publicemail</td>
                    <td>@item.Publicemail1</td>
                    <td>@item.Publicemail2</td>
                    <td>@item.Areaname</td>
                </tr>
            }
        }
    </tbody>
</table>