@model COES.MVC.Intranet.Areas.Web.Models.CmVsTarifaModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>CM Promedio</th>
            <th>Tarifa en Barra</th>
            <th>Promedio móvil anual</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Listado)
        {
        <tr>
            <td>@(((DateTime)item.Cmtarfecha).ToString("MMM yyyy"))</td>
            <td>@item.Cmtarcmprom</td>
            <td>@item.Cmtartarifabarra</td>
            <td>@item.Cmtarprommovil</td>
            <td>@item.Cmtarusumodificacion</td>
            <td>@item.Cmtarfecmodificacion</td>
        </tr>
        }

    </tbody>
</table>