@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeEgresoModel
@{
    ViewBag.Title = "Consulta de envíos de datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />

<script src="~/Areas/Transfpotencia/Content/Scripts/peajeegresorepo.js?v=2"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo" style="width:800px;">Reportes de envío de información</div>
    </div>  
    <div class="content-hijo" style="padding-top:8px">

        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2">
                <tr class="THCabecera">
                    <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros</b></div></td>
                </tr>
                <tr>
                    <td style="width:150px;">Mes de Valorización:</td>
                    <td style="width:100px;">
                        <select id="pericodi" name="pericodi" onchange="Recargar();">
                            @foreach (var item in Model.ListaPeriodos)
                            {
                                sSelected = "";
                                if (@item.PeriCodi == Model.Pericodi)
                                { sSelected = "selected"; }
                                <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                            }
                        </select>
                    </td>
                    <td style="width:50px;">Versión:</td>
                    <td style="width:200px; height:40px;">
                        <select id="recpotcodi" name="recpotcodi">
                            @foreach (var item in Model.ListaRecalculoPotencia)
                            {
                                <option value="@item.Recpotcodi">@item.Recpotnombre</option>
                            }
                        </select>
                    </td>
                    <td style="width:200px; height:40px;">
                        <input type="button" value="Consultar" id="btnConsultar" alt="Consultar datos" title="Consultar datos" />
                    </td>
                </tr>
            </table>
        </div>

        <br />
        <br />

        <div id="listado">

        </div>

    </div>
</div>