@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeEgresoModel


<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>            
            <th>Empresa</th>
            <th>Código</th>
            <th>Fecha</th>
            <th>Usuario</th>   
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPeajeEgreso.Count > 0)
        {
            foreach (var item in Model.ListaPeajeEgreso)
            {
                <tr>
                   
                    <td>@item.Emprnomb</td>
                    <td>@item.Pegrcodi</td>
                    <td>@item.Pegrfeccreacion</td>
                    <td>@item.Pegrusucreacion</td>
                    <td>@item.Pegrestado</td>
                </tr>
            }
        }
    </tbody>
</table>