@model COES.MVC.Extranet.Areas.PMPO.Models.RemisionModel
@{
    ViewBag.Title = "Remisión PMPO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script type="text/javascript" src="~/Content/Scripts/highstock.js"></script>

<link href="~/Areas/PMPO/Content/Css/hoja/hoja.css" rel="stylesheet" />
<script src="~/Areas/PMPO/Content/Scripts/hoja/global.js?v=2.9"></script>
<script src="~/Areas/PMPO/Content/Scripts/hoja/hojaGlobal.js?v=2.9"></script>
<script src="~/Areas/PMPO/Content/Scripts/hoja/hojaFormatoGrilla.js?v=2.9"></script>
<script src="~/Areas/PMPO/Content/Scripts/hoja/hojaFormato.js?v=2.10"></script>

<script src="~/Areas/PMPO/Content/Scripts/app-pmpo-reporte-envio.js?v=1.1.2"></script>
<link href="~/Areas/PMPO/Content/Css/app-common.css?v=1.1.0" rel="stylesheet" />

<div class="form-title_intranet">
    <div class="content-titulo">Remisión de Información para la Programación de Mediano Plazo de Operación</div>

    <div class="content-botonera">
        <a href="~/manuales/Manual_Usuario_Extranet_PMPO.pdf" id="btnManualUsuario" target='_blank' style="text-decoration: none;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div id="formHoja@(Model.IdHoja)">
    <div class="content-hijo" id="mainLayoutMain" style="overflow:auto; background-color:#fff">
        <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px;display:none;">Por favor seleccione empresa, tipo de información y mes.</div>
        <div class='action-message' id='mensajeEvento' style='display:none'></div>

        <div class="search-content3">

            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell;">
                        <div style="display:table">
                            <div style="display:table-row">

                                <div class="celda-item" style="width: 43px; margin-bottom: 6px;">
                                    Empresa:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 250px; padding-right: 5px;">
                                    <select id="cbEmpresa" name="IdEmpresa" style="width: 174px; margin-bottom: 6px;">
                                        @foreach (var item in Model.ListaEmpresa)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>

                                <div class="celda-item" style="width: 22px; margin-bottom: 6px;">
                                    Tipo:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 127px; padding-right: 5px;">
                                    <select id="cbTipoFormato" style="width: 127px; margin-bottom: 6px;">
                                        @foreach (var item in Model.ListaFormato)
                                        {
                                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                                        }
                                    </select>
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 107px; padding-right: 5px;">
                                    <select id="cbUnidadEnvio" style="width: 107px; margin-bottom: 6px;">
                                        @foreach (var item in Model.ListarTipoinformacion)
                                        {
                                            <option value="@item.Tipoinfocodi">@item.Tipoinfodesc</option>
                                        }
                                    </select>
                                </div>

                                <div class="cntMes filtro-contenido divmes" style="width: 122px;">
                                    <div class="celda-item" style="display: inline; width: 77px; padding-left: 5px; padding-right: 0;">
                                        Mes:
                                    </div>
                                    <div class="cntMes filtro-contenido" style="display: inline; width: 110px;">
                                        <input type="hidden" name="Fecha" id="txtFecha" value="@Model.Fecha" />
                                        <input type="text" name="Mes" id="txtMes" value="@Model.Mes" style="width:77px;" />
                                        <input type="hidden" id="txtMesElaboracion" value="@Model.Mes" style="width:77px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>
                    <div style="display: table-cell; text-align: right;">
                        <div style="display:table;" id="barra">
                            <div class="content-action" style="display: none">
                                <a href="#" id="btnEditarEnvio">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/edit.png" /><br />
                                        <span>Editar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnDescargarFormato">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/bajar.png" /><br />
                                        <span>Descargar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnSelectExcel@(Model.IdHoja)">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/subir.png" /><br />
                                        <span>Importar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/enviar.png" /><br />
                                        <span>Enviar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnVerEnvios">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnFeriados">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/prncalendar.png" /><br />
                                        <span>Feriados</span>
                                    </div>
                                </a>
                                <input type="hidden" id="hfExpandirContraer" value="E" />
                            </div>
                            <div class="content-action" style="display: table-cell;">
                                <a href="#" id="btnVerMensajesPMPO" class="badge">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/envios.png" /><br />
                                        <span>Mensajes</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-content2" id="filtro_grilla2" style="display:none;">
            <div style="display:table">
                <div style="display:table-row">
                    <div class="filtro-label" style="display: table-cell; width: 50px;">
                        <label>Area</label>
                    </div>
                    <div class="filtro-contenido div_area" style="display:table-cell;width:120px;">
                        <select id="cbArea"></select>
                    </div>
                    <div class="filtro-label" style="display: table-cell; width: 80px;">
                        <label>Sub Estación</label>
                    </div>
                    <div class="filtro-contenido div_subestacion" style="display:table-cell;width:150px;">
                        <select id="cbSubestacion" style="width:120px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both; height: 15px"></div>

        <div id="cargaDatos" class="content-tabla">

            <div id="tab-container" class='tab-container' style="display: none">
                <ul class='etabs'></ul>
                <div class='panel-container'>
                </div>
            </div>

        </div>

        <div style="clear:both; height:30px"></div>
    </div>

    <input type="hidden" id="hfHojaMain" value="@Model.IdHoja" />
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="hfFormato" value="@Model.IdFormato" />
    <input type="hidden" id="hfUnidadEnvio" value="@Model.Tipoinfocodi" />
    <input type="hidden" id="hfFormatPeriodo" value="@Model.Periodo" />
    <input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
    <input type="hidden" id="hfFecha" value="@Model.Fecha" />
    <input type="hidden" id="hfAnho" value="@Model.Anho" />
    <input type="hidden" id="hfSemana" value="@Model.NroSemana" />
    <input type="hidden" id="hfMes" value="@Model.Mes" />
</div>

<div id="popupEnviarCOES" class="popup-class-1" style="z-index:9999999999; width: 480px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Enviar a COES</span></div>

    <div id="enviar-div-comments" style="margin-top: 15px;">
        <div class="chat-toolbar">
            <div class="chat-toolbar-buttons" style="margin-top: 15px;">
                <a id="enviar-btn-file-attach" class="button-item btn-import">Adjuntar<br />Archivo</a>
                <a id="enviar-btn-send" class="button-item btn-comment-send">Enviar<br /> &nbsp;</a>
            </div>
            <div class="chat-toolbar-text" style="padding-right: 158px;">
                Ingresar comentario (opcional):
                <textarea id="enviar-txt-comment"></textarea>
            </div>
        </div>
        <div id="enviar-div-attachments" class="chat-attachments"></div>
    </div>
</div>

<div id="validaciones" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" class="popup-class-1" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div id="popupVerFeriados" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Feriados</span></div>
    <div id="idTablaFeriados" style="height:370px;">
    </div>
</div>

<div id="popupRecordatorio" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Recordatorio</span></div>

    <div class="search-content" style="margin-top: 15px;">
        <div class="field-control-group">
            <div class="field-group">
                <span class="field-label">
                    Remitente :
                </span>
                <div class="field-control">
                    <select id="ddl-sender_recordatorio" class="disabled">
                        <option value="-1" selected="selected">[ TODOS ]</option>
                        <option value="AGENTE">AGENTE</option>
                        <option value="COES">COES</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="idTablaRecordatorio" style="height:370px;">

    </div>
</div>

<div id="popupMensajesPmpo" class="popup-class-1" style="z-index:9999999999; width: 800px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Mensajes</span></div>

    <div id="idTablaMensajesPmpo" style="min-height:370px;margin-top: 15px;">

        <div id="div-comments">
            <div id="div-message-mensaje" class="oculto"></div>
            <div class="search-content">
                <div class="field-control-group">
                    <div class="field-group">
                        <span class="field-label">
                            Remitente:
                        </span>
                        <div class="field-control">
                            <select id="ddl-sender" class="disabled">
                                <option value="-1" selected="selected">[ TODOS ]</option>
                                <option value="COES">COES</option>
                                <option value="AGENTE">AGENTE</option>
                            </select>
                        </div>
                        <div class="field-group">
                            <span class="field-label">
                                Estado:
                            </span>
                            <div class="field-control">
                                <select id="ddl-state">
                                    <option value="-1">[ TODOS ]</option>
                                    <option value="L">Leído</option>
                                    <option value="P">No Leído</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div-wrap" class="chat-wrap">
                <div class="chat-inner">
                    <div id="lst-comments" style="margin-top:10px;">
                    </div>
                </div>
            </div>

            <div class="separate-h"></div>

            <div class="chat-toolbar">
                <div class="chat-toolbar-buttons">
                    <a id="btn-file-attach" class="button-item btn-import">Adjuntar<br />Archivo</a>
                    <a id="btn-send" class="button-item btn-comment-send">Enviar<br />Mensage</a>
                    <a id="download-message" class="button-item btn-download-message">Descargar<br />Mensajes</a>
                </div><div class="chat-toolbar-text">
                    <textarea id="txt-comment"></textarea>
                </div>
            </div>
            <div id="div-attachments" class="chat-attachments"></div>
        </div>
    </div>
</div>
