@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel

<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaEnvio" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Empresa</th>
            <th scope="col">Fec.Envío</th>
            <th scope="col">Rgtos.</th>
            <th scope="col">Versión</th>
            <th scope="col">Estado</th>
            <th scope="col">Cumplimiento</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPlanTransmicion.Count > 0)
        {
            foreach (var item in Model.ListaPlanTransmicion)
            {
                <tr>
                    <td style="width:70px;">@item.Plancodi</td>
                    <td style="text-align:left;">@(item.Codempresa + " - " + item.Nomempresa)</td>
                    <td>@(item.Fecenvio.HasValue ? item.Fecenvio.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td >@item.Numreg</td>
                    <td style="@(item.Vigente == "1" ? "color:green;" : "color:red;")">@("V" + item.Planversion)</td>
                    <td >@item.Planestado</td>
                    <td >@item.Plancumplimiento</td>
                    <td>
                        <a onclick="consultarPlanTransmision(@item.Plancodi)"><img src="~/Content/Images/btn-open.png" title="Consultar" /> &nbsp;</a>
                        @if (item.Planestado == "Enviado" && item.Plancumplimiento == "Fuera de plazo")
                        {
                            <a onclick="revisarPlanTransmision(@item.Plancodi)"><img src="~/Content/Images/btn-edit.png" title="Revisar" />&nbsp;</a>
                        }
                        else
                        {
                            <a style="visibility: hidden;"><img src="~/Content/Images/btn-edit.png" />&nbsp;</a>
                        }
                        @if ((item.Plancumplimiento == "En plazo" || item.Planestado == "Aprobado") && item.Vigente != "1")
                        {
                            <a onclick="activarPlanTransmision(@item.Plancodi, @item.Planversion)"> <img src="~/Content/Images/btn-ok.png" title="Activar" />&nbsp;</a>
                        }
                        else
                        {
                            <a style="visibility: hidden;"><img src="~/Content/Images/btn-ok.png" />&nbsp;</a>
                        }
                    </td>
                </tr>
            }
        }
        else {
            <tr><td colspan="8" style='text-align:center'>No existen registros.</td></tr>
        }
    </tbody>
</table>