@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RepaRecaPeajeDetalleModel
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Detalle de Repartos de Recaudación de Peajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<!--Grilla tipo excel-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/reparecapeajedetalle.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<div class="form-title">
    <div class="content-titulo" style="width:65%;">@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre - Detalle de Repartos de Recaudación de Peajes</div>
</div>
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Pericodi)
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Recpotcodi)
<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Reparto de recaudación de peajes  en forma porcentual por empresa</div>
        <table style="width:1000px;">
            <tr>
                <td style="width:600px;">
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto">
                            <tr>
                                <td style="width:120px; height:40px;">Nro. de Empresas:</td>
                                <td style="align-content:center">@Html.TextBoxFor(model => model.Cantidad, new { size = 5, maxLength = 3, style = "width:40px;" }) </td>
                                <td style="align-content:center"><input type="button" id="btnAgregar" value="Reajustar nro empresas por columna a ingresar" /></td>
                                <td style="width:20px; height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="width:400px;">
                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:none" id="divAcciones">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnDescargarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                            <span>Descargar Excel</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnEliminarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/borrador.png" /><br />
                                            <span>Eliminar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnValidarGrillaExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                            <span>Validar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnGrabarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/grabar.png" /><br />
                                            <span>Grabar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnRegresar">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/salir.gif" onclick="location.href='@Url.Action("Index", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Regresar" title="Regresar" /><br />
                                            <span onclick="location.href = '@Url.Action("Index", "reparecapeaje", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'">Regresar</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">&nbsp;</td>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="grillaExcel" style="height:auto" class="handsontable"></div>
</div>
<div id="popup"><span class="button b-close"><span>X</span></span></div>