@model COES.MVC.Extranet.Models.PlanificacionModel

<div class="version-resumen">
    <span id="lblPlanTransmision" class="version-titulo">@Model.NombrePlan</span><br />
    <span id="lblVersion" class="version-subtitulo">@Model.NombreVersion</span>
</div>


@foreach (var item in Model.ListadoModelo)
{
    <div class="version-file version-modelo version-div">
        <div></div>
        <div id="@item.Arcmplcodi" data-id="@item.Arcmplindtc" class="resumen-file" style="text-indent:0">
            <strong>@(item.Arcmplnombre + "." + item.Arcmplext)</strong>   <br />
            <span>@item.Arcmpldesc</span>
        </div>
       
    </div>
}

@foreach (var item in Model.ListadoManual)
{
    <div class="version-file version-manual version-div">
        <div></div>
        <div id="@item.Arcmplcodi" data-id="@item.Arcmplindtc" class="resumen-file" style="text-indent:0">
            <strong>@(item.Arcmplnombre + "." + item.Arcmplext)</strong>   <br />
            <span>@item.Arcmpldesc</span>
        </div>
        
    </div>
}

<input type="hidden" id="hfCodigoArchivo" />
<br />
<br />
<br />



<input type="hidden" id="hfCodigoVersion" value="@Model.Codigo" />