@model COES.MVC.Intranet.Areas.IEOD.Models.MensajeModel
           @{
               var mensaje = Model.MsgContenido;
               var correoD = Model.MsgTo;
               var asuntoA = Model.MsgAsunto;
               int tipo = (int)Session["TIPO_LISTA"];
           }
<script src="~/Areas/IEOD/Content/Scripts/gestorIEOD.js"></script>

<script>
    $(document).ready(function () {

        $('#FchPeriodo').Zebra_DatePicker({
            direction: -1
        });
        $('#FchPlazo').Zebra_DatePicker({
            
        });

        $('#F1').hide();
        $('#F1_1').hide();
        $('#F2').hide();
        $('#F3').hide();

    });


</script>


    <div class="mail-box-header">
        <div class="pull-right tooltip-demo">
            <a href="JavaScript:enviarMail(1);" class="btn2 btn-default" data-toggle="tooltip" data-placement="top" title="Enviar" style="background-color: #3D8AB8;color: white;">Enviar</a>
            <a href="JavaScript:volver(@tipo);" class="btn2 btn-danger" data-toggle="tooltip" data-placement="top" title="Descartar"><i class="fa fa-times"></i> Descartar</a>
        </div>
        <h2>
           Redactar Mensaje
        </h2>
    </div>
    <div class="mail-box">


        <div class="mail-body" style="height:150px;">

            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Para:</label>
                    <div class="col-lg-8"><input type="text" class="form-control" id="CorreoDest" value="@correoD" style="width:350px;"></div>                    
                </div>                
            </form>
            <form class="form-horizontal" method="get">                
                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Asunto:</label>
                    <div class="col-lg-8"><input type="text" class="form-control" value="@asuntoA" id="asuntoM" style="width:350px;"></div>
                </div>
            </form>
            <form class="form-horizontal" method="get">

                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Tipo Mensaje:</label>

                    <div class="col-lg-8">
                        <select id="cbTipoMensaje" name="IdTipoMensaje" >
                            @foreach (var item in Model.ListaTipoMensaje)
                            {
                                if(Model.TMsgCodi == item.TMsgCodi)
                                {
                                    <option value="@item.TMsgCodi" selected>@item.TMsgNombre</option>
                                }
                                else {
                                    <option value="@item.TMsgCodi">@item.TMsgNombre</option>
                                }                                
                            }
                        </select>

                    </div>
                </div>
            </form>
            <form class="form-horizontal" method="get" id="F1">

                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Formato:</label>

                    <div class="col-lg-8">
                        <select id="cbFormato" name="IdFormato">
                            @foreach (var item in Model.ListaFormatos)
                            {
                               if(Convert.ToInt32(Model.FormatCodi) == item.Entero1)
                                {
                                <option value="@item.Entero1" selected>@item.String1</option>  
                                }
                               else {
                                   <option value="@item.Entero1">@item.String1</option>
                               }                           
                            }
                        </select>
                    </div>
                    
                </div>
            </form>

            <form class="form-horizontal" method="get" id="F1_1">

                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Fuente Datos:</label>

                    <div class="col-lg-8">
                        <select id="cbFuenteD" name="IdFuenteD">
                            @foreach (var item in Model.ListaFuenteDao)
                            {
                                if (Convert.ToInt32(Model.FormatCodi) == item.Fdatcodi)
                                {
                                    <option value="@item.Fdatcodi" selected>@item.Fdatnombre</option>
                                }
                                else
                                {
                                    <option value="@item.Fdatcodi">@item.Fdatnombre</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </form>

            <form class="form-horizontal" method="get" id="F2">
                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Periodo:</label>

                    <div class="col-lg-8">
                        <input type="text" id="FchPeriodo" value="@Model.MsgFechaPeriodo" />
                    </div>
                    <input type="hidden" id="idEstado" value="@Model.EstMsgCodi" />
                </div>
            </form>

            <form class="form-horizontal" method="get" id="F3">
                <div class="form-group" style="margin-bottom:0px;">
                    <label class="col-lg-2 control-label">Fch. Ampliacion:</label>

                    <div class="col-lg-3">
                        <input type="text" id="FchPlazo" value="@Model.FechaAmpliacion" />
                    </div>                    
                </div>
            </form>

        </div>

        <div class="mail-text h-200">
            <textarea class="summernote" id="ContentMsg">
                @mensaje
            </textarea>
            <div class="clearfix"></div>
        </div>
        <div class="mail-body text-right tooltip-demo">
            <input type="button" id="btnEnviarMensaje" value="Enviar" style="width:100px;" />              
        </div>
        <div class="clearfix"></div>



    </div>

