@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoDespachoModel

<script src="~/Areas/Hidrologia/Content/Scripts/ptodespachoedit.js?v=1.1"></script>

<link href="~/Areas/Hidrologia/Content/Css/formulario.css" rel="stylesheet" />
@using (Html.BeginForm("Listar", "Evento", FormMethod.Post, new { @class = "form-search", name = "frmEditar", id = "frmEditar" }))
{
    <input type="hidden" id="hfIdCategoriaPadre"  />
    <div class="content-registro">
        <table>
            <tr>
                <td class="tbform-label">Empresa:</td>
                <td class="tbform-control">
                    <input type="hidden" id="hfcodigrupo" value="@Model.PrGrupo.Grupocodi" />
                    <select id="cbEmpresaGrupo" name="idEmpresa">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListarEmpresas)
                        {
                            <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                        }
                    </select>

                    <input type="hidden" id="hfEmpresaGrupo" value="@Model.PrGrupo.Emprcodi" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Categoría:</td>
                <td class="tbform-control">
                    <select id="cbCategoria" name="idCategoria">
                        <option value="-1">--SELECCIONE--</option>
                        <option value="4">CENTRAL TERMICA</option>
                        <option value="3">GRUPO TERMICO</option>
                        <option value="6">CENTRAL HIDRO</option>
                        <option value="5">GRUPO HIDRO</option>
                        <option value="16">CENTRAL SOLAR</option>
                        <option value="15">GRUPO SOLAR</option>
                        <option value="18">CENTRAL EOLICA</option>
                        <option value="17">GRUPO EOLICO</option>
                    </select>

                    <input type="hidden" id="hfCategoriaGrupo" value="@Model.PrGrupo.Catecodi" />
                </td>
            </tr>

            <tr id="trCentralGrupo" style="display:none">
                <td class="tbform-label">Central:</td>
                <td class="tbform-control">
                    <select id="cbCentralGrupo">
                    </select>
                    <input type="hidden" id="hfCentralGrupo" value="@Model.PrGrupo.Grupopadre" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtNombreGrupo" name="idNombreGrupo" value="@Model.PrGrupo.Gruponomb" style="width: 400px;" maxlength="100" />
                </td>
            </tr>

            <tr id="trAbreviatura">
                <td class="tbform-label">Abreviatura:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtAbreviaturaGrupo" name="idAbreviaturaGrupo" value="@Model.PrGrupo.Grupoabrev" style="width: 400px;" maxlength="100" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Fuente Energía:</td>
                <td class="tbform-control">
                    <select id="cbFEnergía" name="idFEnergía">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListarFEnergia)
                        {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfFuenteEnegía" value="@Model.PrGrupo.Fenergcodi" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Tipo:</td>
                <td class="tbform-control">
                    <select id="cbTipoGrupo" name="idTipoGrupo">
                        <option value="-1">--SELECCIONE--</option>
                        @foreach (var item in Model.ListarTipoGrupo)
                        {
                            <option value="@item.Tipogrupocodi">@item.Tipogruponomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoGrupo" value="@Model.PrGrupo.Tipogrupocodi" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">RER:</td>
                <td class="tbform-control">
                    <input type="checkbox" id="chkTipoGenerRer" />
                    <input type="hidden" id="hfTipoGenerRer" value="@Model.PrGrupo.TipoGenerRer" />
                </td>
            </tr>

            <tr id="trDescripcion">
                <td class="tbform-label">Código Osignermin:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtosicodi" name="idosicodi" value="@Model.PrGrupo.Osinergcodi" style="width: 400px;" maxlength="100" />
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Estado:</td>

                <td class="tbform-control">
                    <select id="cbGrupoEstado">
                        <option value="A">Activo</option>
                        <option value="B">Baja</option>
                        <option value="F">Fuera de COES</option>
                        <option value="P">En Proyecto</option>
                        <option value="X">Anulado</option>
                    </select>
                </td>
                <input type="hidden" id="hfGrupoEstado" value="@Model.PrGrupo.GrupoEstado" />
            </tr>


            @*<tr>
            <td class="tbform-label">Grupo:</td>
            <td class="tbform-control">
                <select id="cbGrupoPto" name="idGrupo">
                    <option value="0">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaGrupo)
                    {
                        <option value="@item.Grupocodi">@item.Gruponomb</option>
                    }
                </select>
                <input type="hidden" id="hfGrupoPto" value="" />
            </td>
        </tr>

        <tr>
            <td class="tbform-label">Abreviatura:</td>
            <td class="tbform-control">
                <select id="cbGrupoAbrevPto" name="idGrupoAbrev">
                    <option value="0">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaGrupo)
                    {
                        <option value="@item.Grupocodi">@item.Grupoabrev</option>
                    }
                </select>
                <input type="hidden" id="hfGrupoAbrevPto" value="" />
            </td>
        </tr>


        <tr>
            <td class="tbform-label">Tipo:</td>
            <td class="tbform-control">
                <select id="cbGrupoTipoPto" name="idGrupoTipoAbrev">
                    <option value="0">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaGrupo)
                    {
                        <option value="@item.Grupocodi">@item.Grupotipo</option>
                    }
                </select>
                <input type="hidden" id="hfGrupoTipoPto" value="" />

            </td>
        </tr>*@

        </table>
    </div>
    <div style="width:200px; margin:auto">
        <input type="button" id="btnGrabarPtoDespacho" value="Grabar" />
        <input type="button" id="btnCancelarPtoDespacho" value="Cancelar" />
    </div>
}


