@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoDespachoModel


<div style="clear:both; height:15px"></div>
<table class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaPtos">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Código</th>
            <th>Abreviatura</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Grupo Padre</th>
            <th>Estado</th>
            <th>Usuario Modificación</th>
            <th>Fecha Modificación</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model.ListaGrupo)
        { 
        <tr>
            <td>
                <a href="JavaScript:mostrarPtoDespacho(@item.Grupocodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Ver Formatos" alt="Ver Formatos" /></a>
                <a href="JavaScript:eliminarPtoDespacho(@item.Grupocodi);"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Eliminar" alt="Eliminar" /></a>
            </td>
            <td>@item.Emprnomb</td>
            <td>@item.Grupocodi</td>
            <td>@item.Grupoabrev</td>
            <td>@item.Gruponomb</td>
            <td>@item.Catenomb</td>
            <td>@item.GruponombPadre</td>
            <td>@item.GrupoEstado</td>
            <td>@item.Lastuser</td>
            <td>@item.Lastdate</td>

        </tr>
        }
        </tbody>
    </table>