@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.CostoMarginalVsBarrasModel
@{
    ViewBag.Titulo = "Detalle del Costo Marginal vs Barras";
}
<fieldset>
    <legend>Costo Marginal vs Barras</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Barrnombre, "Barra nombre: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.Barrnombre)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Casddbbarra, "Nombre de la Barra en el SDDP: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.Casddbbarra)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Casddbfecvigencia, "Fecha Vigencia: ")</div>
            </td>
            <td>
                <div class="editor-label">@Model.Entidad.Casddbfecvigencia.ToString()</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>