@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reprograma Diario de Operación";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Reprograma Diario de Operación</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Reprograma Diario de Operación" />
    </div>

    <div style="clear:both"></div>

    <div class="page-content">

        <div id="mensaje"></div>
        <div class="content-search" style="max-width: 1200px; margin-bottom: 9px">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Fecha:</td>

                    <td rowspan="2" colspan="2" style="vertical-align: bottom;">
                        <input type="button" id="btnDescargarReportePR06" value="Descargar Reporte PR06" />
                        <input type="button" id="btnDescargarListadoDeProgramas" value="Descargar listado de reprogramas" />
                    </td>
                </tr>
                <td>
                    <input type="text" id="txtFechaDescargaDeDocumento" style="width:90px" value="@ViewBag.fechaDescargaDeDocumento" />
                </td>
            </table>

        </div>

        @Html.Action("Index", "Browser", new { area = "", url = "Operaci%C3%B3n%2FPrograma%20de%20Operaci%C3%B3n%2FReprograma%20Diario%20Operaci%C3%B3n%2F" })
        <div style="clear:both"></div>
    </div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ProgramaDeOperacion.jpg) ">
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgramaDiario" class="sidebar-nav--link">Programa Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ActualizacionPD" class="sidebar-nav--link">Actualización de Programa Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgSemanalOp" class="sidebar-nav--link">Programa Semanal Operación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/RprogDiarioOp" class="sidebar-nav--link sidebar-nav--link-active">Reprograma Diario de Operación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgMedianoPO" class="sidebar-nav--link">Programa Mediano Plazo Operación</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4">
            <div class="coes-box mb-3">
                <div class="coes-box--content container">
                    <div class="coes-filters d-flex ">
                        <form action="" class="w-100">
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                            
                                    <div class="coes-form-item" style="margin-right: 15px;">
                                        <label class="d-block" for="">Fecha:</label>
                                    </div>
                                    <div class="coes-form-item" style="margin-right: 15px;">

                                        <input type="date" class="coes-form-item--date" id="txtFechaDescargaDeDocumento" value="@ViewBag.fechaDescargaDeDocumento">
                                    </div>
                                    <div class="coes-form-item" style="margin-right: 15px;">
                                        <input type="submit" id="btnDescargarReportePR06" class="coes-form-item--submit" value="Descargar Reporte PR06">
                                    </div>
                                    <div class="coes-form-item" style="margin-right: 15px;">
                                        <input type="submit" id="btnDescargarListadoDeProgramas" class="coes-form-item--submit" value="Descargar listado de reprogramas" style="margin-right: 15px;">
                                    </div>
                            </div>
                                <div class="coes-form-item" id="mensaje">

                                </div>
</form>
                    </div>
                </div>
            </div>

            @*<div id="mensaje"></div>
            <div class="coes-box--content container">
                <table>
                    <tr>
                        <td>Fecha:</td>
                        <td class="coes-form-item">
                            <input type="button" id="btnDescargarReportePR06" class="coes-form-item--submit" value="Descargar Reporte PR06" />
                            <input type="button" id="btnDescargarListadoDeProgramas" class="coes-form-item--submit" value="Descargar listado de reprogramas" />
                        </td>
                    </tr>
                    <td>
                        <input type="text" id="txtFechaDescargaDeDocumento" value="@ViewBag.fechaDescargaDeDocumento" />
                    </td>
                </table>
            </div>*@
            @Html.Action("Index", "Browser", new { area = "", url = "Operaci%C3%B3n%2FPrograma%20de%20Operaci%C3%B3n%2FReprograma%20Diario%20Operaci%C3%B3n%2F" })
            <div style="clear:both"></div>
            </div>
        </div>
</div>





<div style="clear:both"></div>



<script>
    let urlBase = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)" + "/Portal/Operacion/ProgOperacion";
    let pathValidarExistenciaReportePR06 = "/ValidarExistenciaDeReportePR06?fecha=";
    let pathDescargaDocumentoReportePR06 = "/DescargarReportePR06?fecha=";
    let pathDescargarListadoDeProgramas = "/DescargarListadoDeReProgramasPorFecha?fecha=";
    let isExisteReportePR06 = true;

    let d = new Date();
    let month = d.getMonth() + 1;
    let day = d.getDate();
    let fechaDescarga = d.getFullYear() + (('' + month).length < 2 ? '0' : '') + month + (('' + day).length < 2 ? '0' : '') + day;
    //let fechaDescarga = $.format.date(new Date(), 'dd/MM/yyyy');
    //$('#txtFechaDescargaDeDocumento').val(fechaDescarga);
    document.getElementById("txtFechaDescargaDeDocumento").valueAsDate = new Date();
    //let fechaDescarga = (new Date()).split('/').reverse().join('');

    $(function () {
        //$('#txtFechaDescargaDeDocumento').onSelect({
        //    function (date) {
        //        let fecha = date;
        //        fecha = fecha.split('/').reverse().join('');
        //        fechaDescarga = fecha;
        //        verificarExistenciaDeReportePR06();
        //    }
        //});

        $('#txtFechaDescargaDeDocumento').change(function () {
            let date = $(this).val();
            //document.getElementById("txtFechaDescargaDeDocumento").valueAsDate = new Date(this.date);
            //fechaDescarga = (new Date(date)).split('/').reverse().join('/');
            let fecha = date;
            fecha = fecha.split('-').join('');
            fechaDescarga = fecha;
            verificarExistenciaDeReportePR06();
        });

        $("#btnDescargarReportePR06").click(function () {
            if (isExisteReportePR06)
                window.open(urlBase + pathDescargaDocumentoReportePR06 + fechaDescarga, '_blank');
            else
                alert("Reporte PR06 no existente para la fecha seleccionada");
        });

        $("#btnDescargarListadoDeProgramas").click(function () {
            window.open(urlBase + pathDescargarListadoDeProgramas + fechaDescarga, '_blank');
        });

        function verificarExistenciaDeReportePR06() {
            $.get(urlBase + pathValidarExistenciaReportePR06 + fechaDescarga, function (data) {
                if (data == "False") {
                    isExisteReportePR06 = false;
                } else {
                    isExisteReportePR06 = true;
                }
            });
        }

        verificarExistenciaDeReportePR06();
    });
</script>