@model  IEnumerable<COES.Dominio.DTO.Sic.RdoCumplimiento>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>03:00</th>
            <th>06:00</th>
            <th>09:00</th>
            <th>12:00</th>
            <th>15:00</th>
            <th>18:00</th>
            <th>21:00</th>
            <th>24:00</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%" class="text-left">@item.NombreEmpresa</td>
                <td width="8%" class="">@item.Hora3</td>
                <td width="8%" class="">@item.Hora6</td>
                <td width="8%" class="">@item.Hora9</td>
                <td width="8%" class="">@item.Hora12</td>
                <td width="8%" class="">@item.Hora15</td>
                <td width="8%" class="">@item.Hora18</td>
                <td width="8%" class="">@item.Hora21</td>
                <td width="8%" class="">@item.Hora24</td>
            </tr>
        }
    </tbody>
</table>