@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMercadoLibreModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/DemandaMaxima/Content/Scripts/demandaMercadoLibre.js?v=1.1"></script>

@*<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />*@
<link href="~/Areas/DemandaMaxima/Content/Css/demanda.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

@*<div class="content-hijo" id="mainLayout">
        <div class="form-title">
            <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
        </div>
    </div>*@

<style type="text/css">
    .asd {
        background: rgba(0,0,0,0);
        border: none;
    }
</style>

<div class="form-title">
    <div class="content-titulodemanda">Registro de Demandas de Mercado Libre</div>
</div>
<div id="mensaje"></div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">            
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="width:120px">Periodo:</td>
                            <td>
                                <select id="cbPeriodoIni" name="cbPeriodoIni" style="width:200px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        @*<option value="@item.Periodo">@item.Periodo</option>*@
                                    <option value="@item.IniRemision.ToString("yyyyMM")">@item.IniRemision.ToString("yyyyMM")</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Máxima Demanda</td>
                            <td>
                                - Fecha: <input id="fechaMD" value="" class="asd" disabled /><br />
                                - Hora: <input id="horaMD" value="" class="asd" disabled><br />
                                - Valor: <input id="valorMD" value="" class="asd" disabled>
                            </td>

                        </tr>
                        <tr>
                            <td style="width:120px">Suministrador:</td>
                            <td colspan="4">
                                <select id="cbSuministrador" name="cbSuministrador" style="width:200px;">
                                    <option value="">--SELECCIONE--</option>
                                    @foreach (var item in Model.Suministradores)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                                    }
                                </select>
                            </td>
                            <td style="width:20px"> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:120px">Razón Social</td>
                            <td>
                                <input type="text" id="txtRazonSocial" name="txtRazonSocial" style="width:200px;" />
                            </td>
                            <td style="width:20px"> </td>
                            <td></td>
                        </tr>
                    </table>
                </td>                
                <td>
                    <table id="tbEdicion" style="display:none;">
                        <tr>
                            <td style="width:120px">Periodo SICLI:</td>
                            <td>
                                <select id="cbPeriodoIniSicli" name="cbPeriodoIniSicli" style="width:200px;">
                                    @foreach (var item in Model.ListaPeriodoSicli)
                                    {
                                        <option value="@item.PsicliAnioMesPerrem">@item.PsicliAnioMesPerrem</option>
                                    }
                                </select>
                            </td>
                            <td style="width:60px">
                                <input type="button" id="btnGenerarRegistroDemandas" value='Generar Registro Demandas' />
                            </td>
                            <td style="width:40px">
                                <input type="button" id="btnActualizarPeriodo" name="btnActualizarPeriodo" />
                            </td>
                        </tr>
                        <tr>
                            <td>Máxima Demanda</td>
                            <td>
                                - Fecha: <input id="fechaMDS" value="" class="asd" disabled /><br />
                                - Hora: <input id="horaMDS" value="" class="asd" disabled><br />
                                - Valor: <input id="valorMDS" value="" class="asd" disabled>
                            </td>

                        </tr>  
                    </table>
                </td>                
                
            </tr>
        </table>
        <br />
        <div>
            <input type="button" id="btnConsultar" value='Consultar' />
            <input type="button" id="btnExportar" value="Exportar" />
        </div>
    </div>

    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>
</div>



<!--<input type="hidden" id="hfEmpresa" value="" />-->
<input type="hidden" id="hfCheck" value="" />
<input type="hidden" id="hdnEdicion" value="@ViewBag.PermisoEdicion" />
<input type="hidden" id="hdnEstadoPeriodo" value="0" />
<input type="hidden" id="hdnEstadoPeriodoDemanda" value="0" />