@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.DemandaMercadoLibreModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th><font color="#FFFFFF">     Máxima Demanda     </font></th>
            <th><font color="#FFFFFF">     Fuente     </font></th>
            <th><font color="#FFFFFF">     Código Cliente     </font></th>
            <th><font color="#FFFFFF"> Suministrador </font></th>
            <th><font color="#FFFFFF"> RUC </font></th>
            <th><font color="#FFFFFF"> Nombre SICLI </font></th>
            <th style="text-align:left;"><font color="#FFFFFF">Razón Social</font></th>
            <th><font color="#FFFFFF">Area (COES)</font></th>
            <th><font color="#FFFFFF"> Tensión (kv) </font></th>
            
            @for (int i = 1; i <= 96; i++)
            {
                <th><font color="#FFFFFF">@TimeSpan.FromMinutes(i * 15).ToString("hh':'mm")</font></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDemandaMercadoLibre)
        {
            <tr class="menu-contextual">
                <td>@item.Dmelibfecmaxdem.ToString("dd/MM/yyyy")</td>
                <td>@item.Dmelibfuente</td>                
                <td>@item.Osinergcodi</td>
                <td>@item.Suministrador</td>
                <td>@item.Emprruc</td>
                <td>@item.Nombresicli</td>
                <td style="text-align:left;">@item.Razonsocial</td>
                <td>@item.Areanomb</td>
                <td>@item.Equitension</td>                
                @for (int i = 1; i <= 96; i++)
                {
                    <td width="100px">@item.GetType().GetProperty("Dmelibh" + i).GetValue(item, null)</td>
                }
            </tr>
        }
    </tbody>
</table>