@model COES.MVC.Intranet.Areas.Equipamiento.Models.EquipoRelModel

<table class="tabla-formulario" id="tabla">
    <thead>
        <tr>
            <th>Area</th>
            <th>Tipo de equipo</th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipo)
        {
            <tr onclick="seleccionarEquipo(@item.Equicodi,'@item.Equiabrev','@item.Areanomb','@item.Emprnomb', '@item.Famabrev', '@item.Emprcodi', '@item.Famcodi');" title="Seleccionar equipo">                
                <td>@item.Areanomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
            </tr>
        }
    </tbody>
</table>
