@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamRelModel
<div class="panel-container">
    <table style="width:100%;margin-right: auto;height: 50%" class="table-form-show">
        <tr>
            <td class="tbform-label">Tipo de equipo:</td>
            <td class="tbform-control">@Model.Famnomb1</td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo de equipo:</td>
            <td class="tbform-control">@Model.Famnomb2</td>
        </tr>
        <tr>
            <td class="tbform-label">Número de conexiones:</td>
            <td class="tbform-control">@Model.Famnumconec</td>
        </tr>
        <tr>
            <td class="tbform-label">Relación de tensión:</td>
            <td class="tbform-control">@Model.Famreltension</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.Famrelestado</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.Famrelusuariocreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.Famrelfechacreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.Famrelusuarioupdate</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.Famrelfechaupdate</td>
        </tr>
    </table>
</div>