@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamRelModel
<script src="~/Content/Scripts/util.js"></script>
<script>
    var fc1 = @Model.Famcodi1;
    var fc2 = @Model.Famcodi2;
    $(function() {
        $('#cbFamilia1').val($('#hdnFamilia1').val());
        $('#cbFamilia2').val($('#hdnFamilia2').val());
        $('#cbFamreltension').val($('#hdnTension').val());
        $('#cbEstadoEdit').val($('#hdnEstado').val());

        $('#btnActualizar').click(function() {
            actualizarFamRel();
        });
    });
</script>
<div class='panel-container'>
        @Html.HiddenFor(m => m.Tiporelcodi)
        <table class="table-form-vertical2 content-tabla-search" style="width:550px">
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td class="tbform-control">
                    <select id="cbFamilia1" name="Famcodi1">
                        @foreach (var item in Model.LsTipoEquipo)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de equipo:</td>
                <td class="tbform-control">
                    <select id="cbFamilia2" name="Famcodi2">
                        @foreach (var item in Model.LsTipoEquipo)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Número de conexiones:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnumconec" name="Famnumconec" value="@Model.Famnumconec" style="width:200px" onkeypress="return validarNumero(this,event)" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Relación de tensión:</td>
                <td class="tbform-control">
                    <select id="cbFamreltension" name="Famreltension">
                        @foreach (var item in Model.LsTension)
                        {
                            <option value="@item.Valor">@item.Descripcion</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoEdit" name="cbEstado">
                        @foreach (var item in Model.lsEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
</div>
<input id="hdnFamilia1" type="hidden" value="@Model.Famcodi1"/>
<input id="hdnFamilia2" type="hidden" value="@Model.Famcodi2" />
<input id="hdnTension" type="hidden" value="@Model.Famreltension"/>
<input id="hdnEstado" type="hidden" value="@Model.Famrelestado" />
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizar" />
</div>