@model COES.MVC.Intranet.Areas.Equipamiento.Models.EquipoRelModel
@{
    ViewBag.Title = "Relación de Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Equipamiento/Content/Scripts/equiporel.js?v=1.2"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<style>
    #vistaDetalle table tr td {
        vertical-align: middle;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Relación de Equipos</div>
    <div class="content-botonera">
        @if (Model.ListaFamiliaRel.Count > 0)
        {
            <input type="button" id="btnNuevo" value="Nuevo" />
        }
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="margin-bottom: 0">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Nombre de tipo de relación:</td>
                <td>
                    <b> @Model.NombreTiporel</b>
                    <input type="hidden" id="tiporelcodi" value="@Model.Tiporelcodi" />
                </td>

                    <td>Relación:</td>
                    <td>
                        <select id="cbFam2" style="width: 250px;">
                            <option value="0-0">--TODOS--</option>
                            @foreach (var item in Model.ListaFamiliaRel)
                            {
                                <option value="@(item.Famcodi1 + "-" + item.Famcodi2)">@(item.Famnomb1 + "-" + item.Famnomb2)</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="button" id="btnBuscar" value="Consultar" />
                    </td>
            </tr>
        </table>
    </div>

    <div style="clear:both; height:30px"></div>

    <div class="content-tabla">

        @if (Model.ListaFamiliaRel.Count > 0)
        {
            <div id="tab-container" class='tab-container'>
                <ul class='etabs'>
                    <li class='tab'><a href="#vistaListado">Listado</a></li>
                    <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
                </ul>
                <div class='panel-container'>
                    <div id="vistaListado">

                        <div class="table-list" id="listado" align="center"></div>

                    </div>

                    <!--Formulario-->
                    <div id="vistaDetalle">
                        <div class="content-tabla" id="formulario" style="display: none">
                            <fieldset style="margin:10px">

                                <legend>Registro</legend>

                                <table style="width: 725px;">
                                    <tr>
                                        <td style=" padding-top: 25px; padding-bottom: 25px;">Relación:</td>
                                        <td colspan="3">
                                            <select id="cbFam" style="width: 400px;">
                                                @foreach (var item in Model.ListaFamiliaRel)
                                                {
                                                    <option value="@(item.Famcodi1 + "-" + item.Famcodi2)">@(item.Famnomb1 + " - " + item.Famnomb2)</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:30px">Empresa:</td>
                                        <td>
                                            <input type="hidden" id="cboEmpresa1" />
                                            <input type="text" id="nomEmpresa1" disabled />
                                        </td>

                                        <td id="lbl_Fam1" style="padding-left: 25px;">Tipo de Equipo 1:</td>
                                        <td>
                                            <input type="hidden" id="cboEquipo1">
                                            <input type="text" id="nomEquipo1" disabled>
                                            <input type="hidden" id="cboTipoEquipo1">
                                            <input type="hidden" id="famAbrev1">
                                        </td>
                                        <td>
                                            <input type="button" value="Seleccionar" id="btnBuscarEquipoPopup1">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:30px; padding-top: 25px; padding-bottom: 25px;">Empresa:</td>
                                        <td>
                                            <input type="hidden" id="cboEmpresa2" />
                                            <input type="text" id="nomEmpresa2" disabled />
                                        </td>

                                        <td id="lbl_Fam2" style="padding-left: 25px;">Tipo de Equipo 2:</td>
                                        <td>
                                            <input type="hidden" id="cboEquipo2">
                                            <input type="text" id="nomEquipo2" disabled>
                                            <input type="hidden" id="cboTipoEquipo2">
                                            <input type="hidden" id="famAbrev2">
                                        </td>
                                        <td>
                                            <input type="button" value="Seleccionar" id="btnBuscarEquipoPopup2">
                                        </td>
                                    </tr>
                                </table>

                                <div style="margin-top: 20px; width: 1200px;">
                                    <table class="btnAcciones" style="width: 150px; margin: 0 auto;">
                                        <tr>
                                            <td>
                                                <input type="button" id="btnAceptar2" value="Aceptar" />
                                            </td>
                                            <td>
                                                <input type="button" id="btnCancelar2" value="Cancelar" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <h3>No existe relación de Tipos de equipos en la Base de datos, favor de comunicarse con DTI.</h3>
        }
    </div>

</div>

<div id="popupEquiporel" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Relación de equipos</span></div>
    <div id="nuevotiporel"></div>
</div>
<div id="popUpEditarEquiporel" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar tipo de relación</span></div>
    <div id="editartiporel"></div>
</div>

<div id="busquedaEquipo" class="general-popup" style="z-index: 9999999999; display: none; width: 950px; height:500px">
</div>

<input type="hidden" id="hfCodigo" value="0" />
<input type="hidden" id="hfFamnomb1Reporte" value="0" />
<input type="hidden" id="hfFamnomb2Reporte" value="0" />