@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamRelTipoRelIndexModel
<div style="clear:both; height:15px"></div>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="50%" id="tabla">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Tipo de equipo</th>
            <th>Tipo de equipo</th>
            <th>Número de conexiones</th>
            <th>Relación de tensión</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lsFamRel)
        {
            <tr>
                <td style="@item.Famrelusuariocreacion">
                    <a onclick="mostrarDetalleFamRel(@item.Tiporelcodi,@item.Famcodi1,@item.Famcodi2);" title="Mostar detalle tipo de relación"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    <a href="JavaScript:editarFamRel(@item.Tiporelcodi,@item.Famcodi1,@item.Famcodi2);" title="Editar tipo de relación" @*class="@Model.EnableEditar"*@><img src="~/Content/Images/btn-edit.png" alt=""></a>
                </td>
                <td style="@item.Famrelusuariocreacion">@item.Famnomb1</td>
                <td style="@item.Famrelusuariocreacion">@item.Famnomb2</td>
                <td style="@item.Famrelusuariocreacion">@item.Famnumconec</td>
                <td style="@item.Famrelusuariocreacion">@item.Famreltension</td>
                <td style="@item.Famrelusuariocreacion">@item.EstadoDesc</td>
            </tr>
        }
    </tbody>
</table>