@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamRelModel
<script src="~/Content/Scripts/util.js"></script>
<script type='text/javascript'>
    $(function () {
        //$('#cbConcepto').change(function () {
        //    var x = $(this).val();
        //    $('#hfConcepCodi').val(x);
        //});
        $('#btnGrabar').click(function () {
            guardarFamRel();
        });
    });
</script>
<div class='panel-container'>
    @Html.HiddenFor(m => m.Tiporelcodi)
    <table class="table-form-vertical2 content-tabla-search" style="width:550px">
        <tr>
            <td class="tbform-label">Tipo de equipo:</td>
            <td class="tbform-control">
                <select id="cbFamilia1" name="Famcodi1">
                    @foreach (var item in Model.LsTipoEquipo)
                    {
                        <option value="@item.Famcodi">@item.Famnomb</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo de equipo:</td>
            <td class="tbform-control">
                <select id="cbFamilia2" name="Famcodi2">
                    @foreach (var item in Model.LsTipoEquipo)
                    {
                        <option value="@item.Famcodi">@item.Famnomb</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Número de conexiones:</td>
            <td class="tbform-control">
                <input type="text" id="Famnumconec" name="Famnumconec" style="width:200px" onkeypress="return validarNumero(this,event)" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Relación de tensión:</td>
            <td class="tbform-control">
                <select id="cbFamreltension" name="Famreltension">
                    @foreach (var item in Model.LsTension)
                    {
                        <option value="@item.Valor">@item.Descripcion</option>
                    }
                </select>
            </td>
        </tr>
    </table>
</div>
<input id="hdnFamilia1" type="hidden" value="@Model.Famcodi1" />
<input id="hdnFamilia2" type="hidden" value="@Model.Famcodi2" />
<input id="hdnTension" type="hidden" value="@Model.Famreltension" />

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Grabar" id="btnGrabar" />
</div>