@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamRelTipoRelIndexModel
@{
    ViewBag.Title = "Relacion de Equipos por Tipo de Relación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/famrel.js"></script>
<div class="form-title">
    <div class="content-titulo">Relación entre tipo de equipos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnNuevo" value="Nuevo" @Model.EnableNuevo />
    </div>
</div>
<div class="content-hijo" id="mainLayout">

    @using (Html.BeginForm("", "Relacion", FormMethod.Post, new {@class = "form-search", name = "frmFamRelTipoRel", id = "frmFamRelTipoRel"}))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar"/>
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo"/>
        <input id="hdnTiporelcodi" type="hidden" value="@Model.Tiporelcodi" name="Tiporelcodi"/>
        <div class="search-content" style="margin-bottom: 0">
            <table class="content-tabla-search" style="width: auto">
                <tr>
                    <td class="tbform-label">Tipo de relación:</td>
                    <td>
                        @Model.Tiporelnomb
                    </td>
                    <td class="tbform-label">Estado:</td>
                    <td>
                        <select id="cbEstado" name="sEstadoCodi">
                            <option value=" ">-TODOS-</option>
                            @foreach (var item in Model.lsEstado)
                            {
                                <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1"/>
    }
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
    <div style="clear: both; height: 30px"></div>
</div>
<div id="popupFamrel">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva relación</span></div>
    <div id="nuevofamrel"></div>
</div>
<div id="popUpDetalleFamrel">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de relación</span></div>
    <div id="detallefamrel"></div>
</div>
<div id="popUpEditarFamrel">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar relación</span></div>
    <div id="editarfamrel"></div>
</div>