@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    var rporteCod = Model.codReporte;
    var strRecur = string.Empty;
}
<script type="text/javascript">

    $(function () {
        $('#cbRecurso').multipleSelect({
            width: '150px',
            filter: true
        });

        $('#cbRecurso').multipleSelect('checkAll');
    });

</script>


<select id="cbRecurso" name="IdRecurso" multiple="multiple">                                                    
    @foreach (var item in Model.ListaRecursoEnergetico)
    {
        if (rporteCod == 1)//
        {
            strRecur = @item.Tipoptomedinomb.Substring(18, @item.Tipoptomedinomb.Length - 18);
        }
        else
        {
            strRecur = @item.Tipoptomedinomb.Substring(24, @item.Tipoptomedinomb.Length - 24);
        }

        <option value="@item.Tipoptomedicodi">@item.Fenergnomb</option>

    }                                              
</select>
<input type="hidden" id="hfRecurso" />  
