@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel 
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
}

<div id="reporte">
    <div class='title-seccion'>REGISTRO ACUMULADO DE RECEPCIÓN DE COMBUSTIBLES LÍQUIDOS Y SÓLIDOS EN EL SEIN</div>  
    <div  style="float:right">
        <img width='26px' onclick='exportarExcelReporte(3);' src="~/Content/Images/ExportExcel.png" />
        @*<img width='26px' onclick='popupDetalleAcumulado(-1);' src="~/Content/Images/chart_stock.png" />*@
        
    </div>
    <H4>Reporte del @Model.FechaInicio al @Model.FechaFin</H4>    
    <table style="width:100%" class='pretty tabla-icono' id='tabla'>
        <thead>
          <tr>
            <th>EMPRESA</th>
            <th>CENTRAL</th>
              <th width=100px>TIPO</th>
            <th>ACUMULADO</th>
            <th>UNIDADES</th>
            <th>ACCIÓN</th>             
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model.ListaAcumulado)
        {
            decimal valor = (decimal)item.H1Recep;
            <tr >
                <td>@item.Emprnomb</td>
                <td>@item.Equinomb</td>                
                <td><div class='symbol' style="background-color:@item.Fenercolor"></div><div class="serieName">@item.Fenergnomb</div></td>                                     
                <td>@valor.ToString("N", nfi)</td>
                <td>@item.Tipoinfoabrev</td>
                <td><a href="JavaScript:popupDetalleAcumulado(@item.Ptomedicodi);"><img src="@Url.Content("~/Content/Images/btn-open.png") " title=" ver detalle" alt="Ver Detalle" /></a></td>                                 
            </tr>            
        }    
      </tbody>
    </table>

</div>