@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    ViewBag.Title = "ReporteQuemaGas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/StockCombustibles/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/quema.js"></script>
<script src="~/Content/Scripts/highstock.js"></script>

<div class="form-title">
    <div class="content-titulo">Quema de Gas Natural</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Reporte" />       
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo Agente:</td>
                <td>
                    <select id="cbTipoAgente" name="IdTipoAgente" multiple="multiple">
                        @foreach (var item in Model.ListaTipoAgente)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoAgente" name="tipoagente" />
                </td>
                <td>Central Integrante:</td>
                <td>
                    <select id="cbCentralInt" name="IdCentralInt" multiple="multiple">
                        @foreach (var item in Model.ListaCentralIntegrante)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                    <input type="hidden" id="hfCentralInt" />
                </td>
                <td>Agente:</td>
                <td>
                    <div id="agentes"></div>
                </td>

            </tr>
            <tr>
                <td>Fecha Desde:</td>
                <td>
                    <input type="text" id="FechaInicio" name="Fecha" value="@Model.FechaInicio" />
                    <input type="hidden" id="hfFecha" value="@Model.FechaInicio" />
                </td>
                <td>Fecha Hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
