@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
}

<script type="text/javascript">
    $(function () {

        
        $('#btnCancelar').click(function () {
            cancelarDetalleAcumulado();
           
        });        
    })
</script>

<table style="width:100%" class='pretty tabla-icono' id='tabla'>
        <thead>
          <tr>
            <th>FECHA</th>
            <th>EMPRESA</th>
            <th>CENTRAL</th>
              <th width=100px>TIPO</th>
            <th>RECEPCIÓN</th>
            <th>UNIDADES</th>            
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model.ListaAcumulado)
        {
            string valor = string.Empty;
            if (item.H1Recep != null && item.H1Recep > 0)
            {
                valor = ((decimal)item.H1Recep).ToString("N", nfi);
                <tr >
                    <td>@item.Medintfechaini.ToString("dd/MM/yyyy") </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Equinomb</td>
                    <td><div class='symbol' style="background-color:@item.Fenercolor"></div><div class="serieName">@item.Fenergnomb</div></td>
                    <td>@valor</td>
                    <td>@item.Tipoinfoabrev</td>                
                </tr>  
            }          
        }           
      </tbody>
</table>
<br />
<div align="center"> <input type="button" id="btnCancelar" value="Cerrar" /> </div>

