@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Reporte de Frecuencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var sMensajeExito = "";
    var sMensajeExito = TempData["sMensajeExito"];
}
@{
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
    var lista_oficial = (IEnumerable<SelectListItem>)TempData["ListaOficial"];
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-export-clientside.js?v=@DateTime.Now.Millisecond"></script>
<script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<style type="text/css">
    a:link {
        text-decoration: none !important;
    }

    .button_csv {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #0070d2;
        border-radius: 0.25rem;
        border: 1px solid #0070d2;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_csv:hover {
            background-color: #005fb2;
            border-color: #005fb2;
            color: #fff !important;
            text-decoration: none;
        }

    .button_txt {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: orange;
        border-radius: 0.25rem;
        border: 1px solid darkorange;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_txt:hover {
            background-color: darkorange;
            border-color: orange;
            color: #fff !important;
            text-decoration: none;
        }

    .button_null {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: olive;
        border-radius: 0.25rem;
        border: 1px solid darkolivegreen;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_null:hover {
            background-color: #4A6800;
            border-color: olive;
            color: #fff !important;
            text-decoration: none;
        }

    .button_dat {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #49672C;
        border-radius: 0.25rem;
        border: 1px solid darkgreen;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_dat:hover {
            background-color: #3D5823;
            border-color: #49672C;
            color: #fff !important;
            text-decoration: none;
        }
</style>

<script type="text/javascript">
    var reporteFrecuencia = "ReporteFrecuencia/";
    var reporteFrecuenciaAudit = "ReporteFrecuenciaAudit/";
    var controler = siteRoot + "ReportesFrecuencia/" + reporteFrecuencia;
    var controlerAudit = siteRoot + "ReportesFrecuencia/" + reporteFrecuenciaAudit;

    function formatDateTime(date) {
        debugger;
        //var d = new Date(date.split("-")[0], date.split("-")[1] - 1, date.split("-")[2]);
        var fecha = date.substr(0, 10);
        var hora = date.substr(11, 8);
        //yyyy/mm/dd
        var d = new Date(fecha.split("/")[2], fecha.split("/")[1] - 1, fecha.split("/")[0]);

        //var d = new Date(date),
        var month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hours = hora.split(":")[0],
            minutes = hora.split(":")[1],
            seconds = hora.split(":")[2];

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [month, day, year].join('-') + ' ' + [hours, minutes, seconds].join(':');
    }


    var DescargarCSV = function (idGPS) {
        var url = controler + "DescargarCSV?IdGPS=" + idGPS + "&fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();
        setLocationPage(url);
    }

    var DescargarTXT = function (idGPS) {
        var url = controler + "DescargarTXT?IdGPS=" + idGPS + "&fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();;
        setLocationPage(url);
    }

    var ReemplazarRangosPorNull = function (idGPS) {
        var url = controlerAudit + "New?Id=" + idGPS + "&FechaInicial=" + $("#txtfechaIni2").val() + "&FechaFinal=" + $("#txtfechaFin2").val();
        setLocationPage(url);
    }

    var HistorialRangosPorNull = function (idGPS) {
        var url = controlerAudit + "Index?Id=" + idGPS + "&FechaInicial=" + $("#txtfechaIni2").val() + "&FechaFinal=" + $("#txtfechaFin2").val();
        setLocationPage(url);
    }

    var DescargarDAT = function (idGPS) {
        var url = controler + "DescargarDAT?IdGPS=" + idGPS + "&fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();;
        setLocationPage(url);
    }

    var ConvertirRangosNull = function (idGPS) {
        debugger;
        var model = {
            idGPS: idGPS,
            FechaIni: $("#txtfechaIni2").val(),
            FechaFin: $("#txtfechaFin2").val()
        }

        $.ajax({
            type: "POST",
            url: controler + "ConvertirNull",
            data: JSON.stringify(model),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data.result);
                alert(data.result);
            },
        });
    }

    function setLocationPage(vUrl) {

        var form = $("<form id='tmpForm'></form>");
        $(document.body).append(form);
        $(form).attr("action", vUrl);
        $(form).attr("target", "blank");
        $(form).attr("method", "post");
        $(form).submit();
    }

    $(document).ready(function () {
        //$('.txtFecha').Zebra_DatePicker({
        //});


        $('#tabla').dataTable({
            "sPaginationType": "full_numbers",
            "destroy": "true",
            "aaSorting": [[1, "asc"], [2, "asc"]]
        });

        $("#btnManualUsuario").click(function () {
            window.location = controler + 'DescargarManualUsuario';
        });

        $("#btnBuscar").click(function () {
            var dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;

            //if (dateRegex.test($("#txtfechaIni2").val()) == false || dateRegex.test($("#txtfechaFin2").val()) == false) {
            //    alert('Verifique las fechas');
            //    return;
            //}

            var model = {
                FechaIni: $("#txtfechaIni2").val(),
                FechaFin: $("#txtfechaFin2").val(),
                IdGPS: $("#cboEquipo").val(),
                IndOficial: $("#cboOficial").val(),
            };
            debugger;
            $(".listado").load(controler + "Lista", { FechaIni: model.FechaIni, FechaFin: model.FechaFin, IdGPS: model.IdGPS, IndOficial: model.IndOficial });

            //$.ajax({
            //    type: "POST",
            //    url: "/ReporteFrecuencia/Lista",
            //    data: JSON.stringify(model),
            //    dataType: 'json',
            //    contentType: 'application/json',
            //    success: function (data) {
            //        /*$('#target').html(data.msg);*/
            //        $('#listado').html(data);
            //        console.log(data.msg);
            //    },
            //});

        });

    });

</script>

<div class="ast" style="display: flex; align-items: center; width: 100%;">
    <div class="form-title" style="display: flex; align-items: center; width: 100%;">
        <div class="content-titulo">Reporte de Frecuencia</div>
        <div class="content-botonera" style="margin-left: auto; margin-top: -34px; margin-left: 700px;">
            <input type="button" value="Restaurar" onclick="location.href='@Url.Action("Index","ReporteFrecuencia")'" alt="Refrescar" title="Restaurar" />
        </div>
        <a href="#" id="btnManualUsuario" style="text-decoration: none; margin-top: -7px; margin-left: -10px;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; margin-left: -12px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>
<div class="content-hijo" style="padding-top:8px">
    <div class='panel-container'>
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="10"><span class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></span></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Equipo</div></td>
                    <td>
                        <div class="editor-label input-data">
                            @Html.DropDownList("cboEquipo", @lista_equipos, "--Seleccione--", new { @style = "width:120px !important", @class = "bg-white" })
                        </div>
                    </td>

                    <td><div class="editor-label">Oficial</div></td>
                    <td>
                        <div class="editor-label input-data">
                            @Html.DropDownList("cboOficial", @lista_oficial, "--Seleccione--", new { @style = "width:100px !important", @class = "bg-white" })
                        </div>
                    </td>

                    <td><div class="editor-label">Fecha de inicio</div></td>
                    <td>
                        <div class="editor-field">
                            <input type="datetime-local" id="txtfechaIni2" class="formatFechaHora" step="1" value="@Model.FechaInicial.ToString("yyyy-MM-ddTHH:mm:ss")" />
                        </div>
                    </td>

                    <td><div class="editor-label">Fecha final</div></td>
                    <td><div class="editor-field"><input type="datetime-local" id="txtfechaFin2" class="formatFechaHora" step="1" value="@Model.FechaFinal.ToString("yyyy-MM-ddTHH:mm:ss")" /></div></td>

                    <td><div class="editor-label"><span class="editor-label"><input type="button" id="btnBuscar" value="Consultar"></span></div></td>
                    <td style="text-align: center;"><a class="button_dat" href="#" onclick="DescargarDAT(0)">Versión Mensual</a></td>
                </tr>
            </table>

            <div class="content-hijo" style="padding-top:8px">
                <div class="listado" id="listado">
                    @Html.Partial("Lista", Model)
                </div>
            </div>

        </div>
    </div>
</div>

</div>
