@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaModel
@{
    var sMensajeExito = TempData["sMensajeExito"];
}
@if (@sMensajeExito != null)
{
    <div class="exito mensajes"><font color="red">@sMensajeExito</font></div>
}

<table border="0" class="pretty tabla-icono thead-fixed" id="tabla">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th style="display:none"></th>
            <th style="width:400px">Equipo GPS</th>
            <th></th>
            <th></th>
            <th>@Model.mesInicio - @Model.FechaInicial.ToString("yyyy")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGPS)
        {
            <tr id="fila_@item.Id">
                <td style="text-align: left; display:none">@item.Id</td>
                <td style="text-align: left; display: none">@item.Oficial</td>
                <td style="text-align: center;">@item.GPS</td>
                <td style="text-align: center; width:200px">
                    @if (ViewBag.TotalDays <= 2)
                    {
                        <a class="button_csv" href="#" onclick="DescargarCSV(@item.Id)">Exportar(.CSV)</a>
                    }
                </td>
            <td style="text-align: center;">
                <a class="button_null" href="#" onclick="ReemplazarRangosPorNull(@item.Id);">Reemplazar Rangos por Null</a>

                <a class="button_null" href="#" onclick="HistorialRangosPorNull(@item.Id);">Historial de Rangos por Null</a>
            </td>
                @if (item.Oficial == "S")
                {
                    <td style="text-align: center;"><a class="button_dat" href="#" onclick="DescargarDAT(@item.Id)">Exportar(.DAT)</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<div id="popup">
</div>
