@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel

<td style="width: 40px; padding-right: 5px;">Semana:</td>
<td style="width: 64px;padding-right: 5px;">
    <input type="text" id="AnhoIni" value="@Model.AnhoIni" style="width: 61px" disabled />
</td>
<td style="width: 0px;">
    <select id="cboSemanaIni" style="width:124px;" disabled>
        <option>@("Sem"+Model.SemanaIni +"("+ Model.SemanaFin+ ")-" +  Model.AnhoIni)</option>
    </select>

    <input type="hidden" id="hdSemanaIni" name="hdSemanaIni" value="@Model.FechaInicio" />
    <input type="hidden" id="hdSemanaFin" name="hdSemanaFin" value="@Model.FechaFin" />
</td>

<td style="width: 40px; padding-right: 5px;">Versión:</td>
<td>
    <select id="cboVersion" style="width:40px;">
        @foreach (var item in Model.ListaVersion)
        {
            var selected2 = item.Verscodi == Model.Verscodi ? " selected " : "";
            <option value="@item.Verscodi" @selected2>@item.Verscorrelativo</option>
        }
    </select>
</td>

<td class="content-action">
    <a href="#" id="btnSearch">
        <div class="content-item-action">
            <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar" />
        </div>
    </a>
</td>
<td class="content-action">
    <a href="#" id="btnExportExcel">
        <div class="content-item-action">
            <img src="~/Content/Images/ExportExcel.png" style="width:20px; height:20px" title="Exportar a archivo Excel" /><br />
            <input type="hidden" id="hdReporcodi" value="@Model.Reporcodi" />
        </div>
    </a>
</td>
<td class="content-action">
    <a href="#" id="btnRegresar">
        <div class="content-item-action">
            <img src="~/Content/Images/btn-regresar.png" style="width:20px; height:20px" title="Regresar a Anexo A" />
        </div>
    </a>
</td>