@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Ejecutivo Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
    
    var urlReporte1 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=17";
    var urlReporte2 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=18";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/maxdemanda_areaopesemanal.js?v=2.0.0"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 10px; display: block; float: left">
            Los datos son obtenidos de la Extranet (Despacho unidades de Generación y Flujo de Potencia Activa y Reactiva).
            La configuración de los puntos de medición para el reporte se encuentra en Generador de Reporte: <a target="_blank" href="@(urlReporte1)">Áreas</a> y <a target="_blank" href="@(urlReporte2)">Subáreas</a>.
        </div>

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>

        <div id="grafico1" style="float: left; height: 500px; width: 900px;"></div>

        <div id="grafico2" style="float: left; height: 500px; width: 1400px;"></div>
    </div>
</div>