@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Ejecutivo Semanal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5menuejecutivo.js?v=2.0.9"></script>
<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<style>
    .form-title {
        display: block;
        width: auto;
        line-height: 50px;
    }

    .content-titulo {
        width: auto !important;
    }

    .popup-button {
        width: 100px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Informe Ejecutivo de Operación</div>
    <div class="content-botonera" id="container">
        <input type="button" id="btnPopupNuevaVersion" value="Generar versión" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="padding-bottom: 4px; padding-top: 6px;">
        <table class="content-tabla-search" style="">
            <tr>
                <td style="width: 110px; padding-right: 5px; vertical-align: middle;">Semana operativa:</td>
                <td style="width: 64px;padding-right: 5px;vertical-align: middle;">
                    <input type="text" id="AnhoIni" value="@Model.AnhoIni" style="width: 61px" />
                </td>
                <td style="width: 100px;vertical-align: middle;">
                    <div id="SemanaIni">
                        <select id="cboSemanaIni" style="width:325px;">
                            @foreach (var item in Model.ListaSemanasIni)
                            {
                                var selected = item.FechaIniSem == Model.FechaInicio ? " selected " : "";
                                <option value="@item.FechaIniSem" @selected>@item.NombreTipoInfo</option>
                            }
                        </select>

                        <input type="hidden" id="hdSemanaIni" value="@Model.FechaInicio" />
                    </div>
                </td>

                <td style="height: 40px;"></td>

            </tr>
        </table>
    </div>

    <div id="div_reporte">

    </div>
</div>

<!--Nueva versión-->
<div id="idPopupVersion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva versión</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Semana Operativa:
            </td>
            <td style="width: 77px;">
                <input type="text" id="AnhoIniNuevo" value="@Model.AnhoIni" style="width: 61px" />
            </td>
            <td>
                <div id="SemanaIniNuevo">
                    <select id="cboSemanaIniNuevo" style="width:325px;">
                        @foreach (var item in Model.ListaSemanasIni)
                        {
                            var selected2 = item.FechaIniSem == Model.FechaInicio ? " selected " : "";
                            <option value="@item.FechaIniSem" @selected2>@item.NombreTipoInfo</option>
                        }
                    </select>

                    <input type="hidden" id="hdSemanaIniNuevo" value="@Model.FechaInicio" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">
                Motivo:
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <textarea id="txtMotivo" autofocus style="width:400px; height:80px"></textarea>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVersion" value="Guardar" />
            </td>
        </tr>
    </table>
</div>


<div id="popupArchivoPDF" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Carga PDF</span></div>
    <div class="popup-text" id="contenidoArchivoPDF">
        <div id="mensajeFilePDF"></div>
        <div id="progresoArchivoPDF"></div>
        <div id="fileInfoArchivoPDF"></div>
        <div class="popup-button">
            <input type="button" id="btnSubirArchivoPDF" value="Subir" />
        </div>
        <div id="containerArchivoPDF" style="width:1px; height:1px"></div>
        <input type="hidden" id="idArchivoPDF" />
        <input type="button" id="btnSelectFileArchivoPDF" style="display:none" />
    </div>
</div>


<!--Vista previa-->
<div id="idPopupVistaPrevia" class="general-popup" style="width: 1200px; max-width: 1200px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa</span></div>

    <div style="clear:both; height:5px"></div>
    <div id="filelist"></div>
    <div id="div_vista_previa">
        <iframe id="vistaprevia" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
    </div>

</div>