@model COES.MVC.Intranet.Areas.Admin.Models.ComiteModel

<table border="0" class="pretty tabla-icono" id="tablaComite">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>usuario de creación</th>
            <th>Fecha de creación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaComite.Count > 0)
        {
            foreach (var item in Model.ListaComite)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Comitecodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:editListas(@item.Comitecodi);"><img src="~/Content/Images/btn-properties.png" /></a>
                        <a href="JavaScript:eliminar(@item.Comitecodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>
                    <td>@item.Comitename</td>
                    @if (item.Comiteestado == "A")
                    {
                        <td>
                            <span>Activo</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span>Baja</span>
                        </td>
                    }
                    <td>@item.Comiteusucreacion</td>
                    <td>@item.Comitefeccreacion</td>
                </tr>
            }
        }
    </tbody>
</table>
