@model COES.MVC.Intranet.Areas.Admin.Models.ContactoModel

<div class="content-registro">

    @if (Model.IndicadorEdicion == "S")
    {
        <div class="popup-title" style="margin-bottom:10px"><span>Datos del Contacto</span></div>
        <form id="frmRegistro">
            <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
            <table style="width:100%">

                <tr>
                    <td class="registro-label">Tipo de Empresa:</td>
                    <td class="registro-control">
                        <select id="cbTipoEmpresaEdit" name="IdTipoEmpresa">
                            <option value="-2">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaTipoEmpresas)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfTipoEmpresaEdit" value="@Model.Entidad.Tipoemprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaEdit" name="IdEmpresa">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaEmpresas)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfEmpresaEdit" value="@Model.Entidad.Emprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Nombres:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombre" name="Nombre" style="width:300px" maxlength="60" value="@Model.Entidad.Contacnombre" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Apellidos:</td>
                    <td class="registro-control">
                        <input type="text" id="txtApellido" name="Apellido" style="width:300px" maxlength="60" value="@Model.Entidad.Contacapellido" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Correo electrónico:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCorreo" name="Email" style="width:300px" maxlength="60" value="@Model.Entidad.Contacemail" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Teléfono:</td>
                    <td class="registro-control">
                        <input type="text" id="txtTelefono" name="Telefono" style="width:300px" maxlength="40" value="@Model.Entidad.Contactelefono" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Celular:</td>
                    <td class="registro-control">
                        <input type="text" id="txtMovil" name="Movil" style="width:300px" maxlength="40" value="@Model.Entidad.Contacmovil" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Cargo:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCargo" name="Cargo" style="width:300px" maxlength="60" value="@Model.Entidad.Contaccargo" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Área:</td>
                    <td class="registro-control">
                        <input type="text" id="txtArea" name="Area" style="width:300px" maxlength="60" value="@Model.Entidad.Contacarea" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Estado:</td>
                    <td class="registro-control">
                        <select id="cbEstadoEdit" name="Estado">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                        <input type="hidden" id="hfEstadoEdit" value="@Model.Entidad.Contacestado" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Comentarios:</td>
                    <td class="registro-control">
                        <textarea id="txtComentario" name="Comentario" maxlength="200">@Model.Entidad.Contaccomentario</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Documento:</td>
                    <td class="registro-control">
                        <input type="text" id="txtDocumento" name="Documento" style="width:300px" maxlength="60" value="@Model.Entidad.Contacdoc" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Fecha registro:</td>
                    <td class="registro-control">
                        @{
                            var fecha = "";
                            if (Model.Entidad.ContacFecRegistro != null)
                            {
                                fecha = ((DateTime)Model.Entidad.ContacFecRegistro).ToString("dd/MM/yyyy");
                            }
                        }
                        <input type="text" id="txtFechaRegistro" name="FechaRegistro" style="width:300px" maxlength="60" value="@fecha" />
                    </td>
                </tr>

            </table>

            <div class="popup-title" style="margin-bottom: 10px; margin-top: 15px"><span>Comités</span></div>
            <div class="comite-content">

                @foreach (var item in Model.ListaComitecontacto)
                {
                    <div class="comite-item">
                        @if (item.Indicador == 0)
                        {
                            <input type="checkbox" class="comite-select" name="cbComite" value="@item.Comitecodi" /> @item.Descomite
                        }
                        else
                        {
                            <input type="checkbox" class="comite-select" checked="checked" name="cbComite" value="@item.Comitecodi" /> @item.Descomite
                        }

                        <div class="item-details" id="correo-content" style="display:none">
                            @foreach (var correo in Model.ListaComiteListaContacto)
                            {
                                <div class="correo-item" style="margin-inline-start: 20px">
                                    @if (item.Comitecodi == correo.ComiteCodi)
                                    {
                                        <div class="correo-details">
                                            @if (correo.Indicador == 0)
                                            {
                                                <input type="checkbox" class="correo-select" name="cbCoreo" value="@correo.ComiteListacodi">@correo.Descomite
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="correo-select" name="cbCoreo" checked="checked" value="@correo.ComiteListacodi">@correo.Descomite
                                            }

                                        </div>

                                    }
                                    else
                                    {
                                    }
                                </div>

                            }
                        </div>



                    </div>
                }
            </div>
            <input type="hidden" id="hfDetalleComites" name="Comites" value="@Model.Comites" />
            <input type="hidden" id="hfDetalleCorreos" name="Correos" value="@Model.Correos" />

            <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                <input type="button" id="btnGrabar" value="Grabar" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </div>

            <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Contaccodi" />

        </form>
    }else if (Model.IndicadorEdicion == "P")
    {
        <div class="popup-title" style="margin-bottom:10px"><span>Datos del Contacto</span></div>
        <form id="frmRegistro">
            <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
            <table style="width:100%">

                <tr>
                    <td class="registro-label">Tipo de Empresa:</td>
                    <td class="registro-control">
                        <select id="cbTipoEmpresaEdit" name="IdTipoEmpresa">
                            <option value="-2">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaTipoEmpresas)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfTipoEmpresaEdit" value="@Model.Entidad.Tipoemprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">
                        <select id="cbEmpresaEdit" name="IdEmpresa">
                            <option value="">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaEmpresas)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfEmpresaEdit" value="@Model.Entidad.Emprcodi" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Nombres:</td>
                    <td class="registro-control">
                        <input type="text" id="txtNombre" name="Nombre" style="width:300px" maxlength="60" value="@Model.Entidad.Contacnombre" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Apellidos:</td>
                    <td class="registro-control">
                        <input type="text" id="txtApellido" name="Apellido" style="width:300px" maxlength="60" value="@Model.Entidad.Contacapellido" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Correo electrónico:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCorreo" name="Email" style="width:300px" maxlength="60" value="@Model.Entidad.Contacemail" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Teléfono:</td>
                    <td class="registro-control">
                        <input type="text" id="txtTelefono" name="Telefono" style="width:300px" maxlength="40" value="@Model.Entidad.Contactelefono" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Celular:</td>
                    <td class="registro-control">
                        <input type="text" id="txtMovil" name="Movil" style="width:300px" maxlength="40" value="@Model.Entidad.Contacmovil" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Cargo:</td>
                    <td class="registro-control">
                        <input type="text" id="txtCargo" name="Cargo" style="width:300px" maxlength="60" value="@Model.Entidad.Contaccargo" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Área:</td>
                    <td class="registro-control">
                        <input type="text" id="txtArea" name="Area" style="width:300px" maxlength="60" value="@Model.Entidad.Contacarea" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Estado:</td>
                    <td class="registro-control">
                        <select id="cbEstadoEdit" name="Estado">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                        <input type="hidden" id="hfEstadoEdit" value="@Model.Entidad.Contacestado" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Comentarios:</td>
                    <td class="registro-control">
                        <textarea id="txtComentario" name="Comentario" maxlength="200">@Model.Entidad.Contaccomentario</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Documento:</td>
                    <td class="registro-control">
                        <input type="text" id="txtDocumento" name="Documento" style="width:300px" maxlength="60" value="@Model.Entidad.Contacdoc" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Fecha registro:</td>
                    <td class="registro-control">
                        @{
                            var fecha = "";
                            if (Model.Entidad.ContacFecRegistro != null)
                            {
                                fecha = ((DateTime)Model.Entidad.ContacFecRegistro).ToString("dd/MM/yyyy");
                            }
                        }
                        <input type="text" id="txtFechaRegistro" name="FechaRegistro" style="width:300px" maxlength="60" value="@fecha" />
                    </td>
                </tr>

            </table>

            <div class="popup-title" style="margin-bottom: 10px; margin-top: 15px"><span>Procesos</span></div>
            <div class="proceso-content" id="proceso-content">

                @foreach (var item in Model.ListaProcesocontacto)
                {
                    <div class="publicacion-item">
                        @if (item.Indicador == 0)
                        {
                            <input type="checkbox" class="publicacion-select" name="cbProceso" value="@item.Procesocodi" /> @item.Descomite
                        }
                        else
                        {
                            <input type="checkbox" class="publicacion-select" checked="checked" name="cbComite" value="@item.Procesocodi" /> @item.Descomite
                        }
                    </div>
                }
            </div>
            <input type="hidden" id="hfDetalleProcesos" name="Procesos" value="@Model.Procesos" />

            <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                <input type="button" id="btnGrabarProceso" value="Grabar" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </div>

            <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Contaccodi" />

        </form>
    }
    else
    {
        <div class="popup-title" style="margin-bottom:10px"><span>Datos del Contacto</span></div>
        <table style="width:100%">
            <tr>
                <td class="registro-label" style="width:160px">Tipo de Empresa:</td>
                <td class="registro-control">
                    @Model.Entidad.Tipoemprnomb
                </td>
            </tr>
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    @Model.Entidad.Emprnomb
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombres:</td>
                <td class="registro-control">
                    @Model.Entidad.Contacnombre
                </td>
            </tr>
            <tr>
                <td class="registro-label">Apellidos:</td>
                <td class="registro-control">
                    @Model.Entidad.Contacapellido
                </td>
            </tr>
            <tr>
                <td class="registro-label">Correo electrónico:</td>
                <td class="registro-control">
                    @Model.Entidad.Contacemail
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono:</td>
                <td class="registro-control">
                    @Model.Entidad.Contactelefono
                </td>
            </tr>
            <tr>
                <td class="registro-label">Celular:</td>
                <td class="registro-control">
                    @Model.Entidad.Contacmovil
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cargo:</td>
                <td class="registro-control">
                    @Model.Entidad.Contaccargo
                </td>
            </tr>
            <tr>
                <td class="registro-label">Área:</td>
                <td class="registro-control">
                    @Model.Entidad.Contacarea
                </td>
            </tr>
            <tr>
                <td class="registro-label">Empresa COES:</td>
                <td class="registro-control">
                    @Model.Entidad.Emprcoes
                </td>
            </tr>
            <tr>
                <td class="registro-label">Comentarios:</td>
                <td class="registro-control">
                    @Model.Entidad.Contaccomentario
                </td>
            </tr>
        </table>
        if (Model.Fuente == "R")
        {
            <div class="popup-title" style="margin-bottom:10px; margin-top:15px"><span>Datos de Representación</span></div>
            <table style="width:100%">
                <tr>
                    <td class="registro-label" style="width:160px">Representante Legal:</td>
                    <td class="registro-control">
                        @Model.Entidad.Userreplegal
                    </td>
                </tr>
                <tr>
                    <td class="registro-label" style="width:160px">Persona de Contacto:</td>
                    <td class="registro-control">
                        @Model.Entidad.Usercontacto
                    </td>
                </tr>
            </table>
        }
        <div class="popup-title" style="margin-bottom: 10px; margin-top: 15px"><span>Datos de la Empresa</span></div>
        <table style="width:100%">
            <tr>
                <td class="registro-label" style="width:160px">Dirección:</td>
                <td class="registro-control">
                    @Model.Entidad.Emprdire
                </td>
            </tr>
        </table>
    }
</div>

<script>
    $('#txtFechaRegistro').Zebra_DatePicker({
    });

    function mostrarCorreos() {
        $('.comite-content input[type="checkbox"]').each(function () {
            var isChecked = $(this).prop('checked');
            var detailsDiv = $(this).siblings('.item-details');
            if (isChecked) {
                detailsDiv.show();
            } else {
                detailsDiv.hide();
            }
        });

    }

    function recuperarCorreos() {
        var correos = "";

        var checkboxes = document.getElementsByClassName('correo-select');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                correos += checkboxes[i].value + ',';
            }
        }
        $('#hfDetalleCorreos').val(correos);
    }

    function recuperarComites(){
        var comites = "";

        var checkboxes = document.getElementsByClassName('comite-select');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                comites += checkboxes[i].value + ',';
            }
        }
        $('#hfDetalleComites').val(comites);
    }

    $(document).ready(
        function () {
            mostrarCorreos();

            $('.comite-content input[type="checkbox"]').each(function() {
                var isChecked = $(this).prop('checked');
                var detailsDiv = $(this).siblings('.item-details');
                var childList = $(this).next(".item-details");

                if (isChecked) {
                    detailsDiv.show();
                } else {
                    detailsDiv.hide();
                }

                detailsDiv.change(function () {
                    var test = Array.from(detailsDiv.find(".correo-select"));
                    console.log(test);
                    if (test.length > 0) {

                        const alm1mark = Array.from(test).some(cb => cb.checked);
                        if (alm1mark) { } else {
                            const lcb = test[0];
                            lcb.checked = true;
                            alert("Debe seleccionar almenos una opción de la lista.")

                        }
                    }
                })
            });

            $('.comite-content input[type="checkbox"]').change(function () {

                var isChecked = $(this).prop('checked');
                var detailsDiv = $(this).siblings('.item-details');
                var childList = $(this).next(".item-details");

                if (isChecked) {
                    detailsDiv.show();
                    childList.find(".correo-select").prop("checked", true);
                } else {
                    detailsDiv.hide();
                    childList.find(".correo-select").prop("checked", false);
                }
            });

            recuperarComites();
            recuperarCorreos();
    });
</script>
