@model COES.MVC.Intranet.Areas.Admin.Models.ContactoModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px"></th>
            <th>Empresa</th>
            <th>Nombres y Apellidos</th>          
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Cargo</th>
            <th>Área</th>
            @if (Model.IndPublico == "N") { 
                <th>Fuente</th>
                <th>COES</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaContactos.Count > 0)
        {
            foreach (var item in Model.ListaContactos)
            {
                <tr>
                    <td style="width:70px">
                        @if ((item.Fuente == "P" || item.Fuente == "C") && Model.IndPublico == "N")
                        {
                            <a href="JavaScript:editar(@item.Contaccodi, '@item.Fuente', 'S');"><img src="~/Content/Images/btn-edit.png" /></a>
                            <a href="JavaScript:editar(@item.Contaccodi, '@item.Fuente', 'N');"><img src="~/Content/Images/btn-open.png" /></a>
                            <a href="JavaScript:eliminar(@item.Contaccodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                        }
                        else if ((item.Fuente == "O") && Model.IndPublico == "N")
                        {
                            <a href="JavaScript:editar(@item.Contaccodi, '@item.Fuente', 'P');"><img src="~/Content/Images/btn-edit.png" /></a>
                            <a href="JavaScript:editar(@item.Contaccodi, '@item.Fuente', 'N');"><img src="~/Content/Images/btn-open.png" /></a>
                            <a href="JavaScript:eliminar(@item.Contaccodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                        }
                        else
                        {
                            <a href="JavaScript:editar(@item.Contaccodi, '@item.Fuente', 'N');"><img src="~/Content/Images/btn-open.png" /></a>
                        }
                    </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Contacnombre</td>                   
                    <td>@item.Contacemail</td>
                    <td>@item.Contactelefono</td>
                    <td>@item.Contacmovil</td>
                    <td>@item.Contaccargo</td>
                    <td>@item.Contacarea</td>
                    @if (Model.IndPublico == "N")
                    {
                        <td>
                            @if(item.Fuente == "E"){
                                 <span>Extranet</span>
                             }else if(item.Fuente =="R"){
                                 <span>RI</span>
                             }
                             else if (item.Fuente == "C") { 
                                 <span>Comite</span>
                             }
                             else if (item.Fuente == "P") { 
                                 <span>Otros</span>
                             }
                             else if (item.Fuente == "O") { 
                                 <span>Otros</span>
                             }
                        </td>
                        <td>@item.Emprcoes</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>