@model COES.MVC.Intranet.Areas.Admin.Models.ProcesoModel

<table border="0" class="pretty tabla-icono" id="tablaProceso">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Usuario de creación</th>
            <th>Fecha de creación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaProceso.Count > 0)
        {
        foreach (var item in Model.ListaProceso)
        {
        <tr>
            <td>
                <a href="JavaScript:editar(@item.Procesocodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminar(@item.Procesocodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Procesoname</td>
            @if (item.Procesoestado=="A")
            {
            <td>
                <span>Activo</span>
            </td>
            }
            else
            {
            <td>
                <span>Baja</span>
            </td>
            }
            <td>@item.Procesousucreacion</td>
            <td>@item.Procesofeccreacion</td>
        </tr>
        }
        }
    </tbody>
</table>
