@model COES.MVC.Intranet.Areas.Formulas.Models.ConfiguracionPerfilModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>     
            <th>Editar</th>
            <th>Eliminar</th>      
            <th>Subestación</th>
            <th>Área Operativa</th>
            <th>Usuario Crc.</th>
            <th>Fecha Crc.</th>
            <th>Usuario Act.</th>
            <th>Fecha Act.</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaFormulas.Count > 0)
        {
            foreach (var item in Model.ListaFormulas)
            {
                <tr>      
                    <td>
                        <a href="JavaScript:editar(@item.Prrucodi)">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="JavaScript:eliminar(@item.Prrucodi)">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>             
                    <td>@item.Prruabrev</td>
                    <td>@item.Prrudetalle</td>
                    <td>@item.Prrufirstuser</td>
                    <td>@item.Prrufirstdate</td>
                    <td>@item.Prrulastuser</td>
                    <td>@item.Prrulastdate</td>
                    
                </tr>
            }
        }       
    </tbody>
</table>