@model COES.MVC.Intranet.Areas.Formulas.Models.ConfiguracionPerfilModel

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Formulas/Content/Scripts/nuevo.js?v=5.0"></script>
<link href="~/Areas/Formulas/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Creación de Fórmulas</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnNuevo" value="Nuevo" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" style="padding-bottom:40px">
    <table>
        <tr>
            <td valign="top" style="width:70%">
                <div class="action-message" id="mensaje">Complete los datos de la fórmula y presione "Grabar"</div>
                <div class="formula-subtitulo">Datos de la fórmula:</div>

                <div class="content-registro">
                    <table>
                        <tr>
                            <td class="registro-label">Área Operativa:</td>
                            <td class="registro-control">
                                <select id="cbAreaOperativa">
                                    <option value="">-SELECCIONE-</option>
                                    @{
                                        foreach (var item in Model.ListaAreaOperativa)
                                        {
                                            <option value="@item.Areaabrev">@item.Areanomb</option>

                                        }
                                    }
                                </select>
                                <input type="hidden" id="hfAreaOperativa" value="@Model.AreaOperativa" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">SubEstación:</td>
                            <td class="registro-control"><input type="text" id="txtSubestacion" value="@Model.SubEstacion" /></td>
                        </tr>
                    </table>
                </div>
                <div style="clear:both; height:20px"></div>
                <div class="formula-subtitulo">Items de la fórmula:</div>
                <div id="content-filtros" class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Origen:</td>
                            <td>
                                <select id="cbOrigen" style="width:180px">
                                    <option value="">-SELECCIONE-</option>
                                    <option value="D">Medidores (Demanda en barras)</option>
                                    <option value="C">Histórico (Demanda barra - diario)</option>
                                    <option value="A">SCADA</option>
                                    <option value="B">Despacho ejecutado diario</option>
                                    <option value="M">Medidores de Generación</option>
                                    <option value="E">PR5</option>
                                    <option value="S">SCADA SP7</option>
                                    <option value="U">Demanda UL y D (PR-16)</option>
                                    <option value="X">Estimador TNA(SCO)</option>
                                    <option value="Y">Estimador TNA(IEOD)</option>
                                    @*//Assetec.PRODEM3 - 20220401*@
                                    <option value="Z">Servicios Auxiliares</option>
                                    @*//Assetec.PRODEM3 - 20220401*@
                                    @*//Assetec.PRODEM3 - 20230419*@
                                    <option value="F">Informacion TNA(DPO)</option>
                                    @*//Assetec.PRODEM3 - 20220419*@
                                    @*//Assetec.PRODEM3 - 20230502*@
                                    <option value="I">Informacion SIRPIT</option>
                                    @*//Assetec.PRODEM3 - 20220502*@
                                    @*//Assetec.PRODEM3 - 20230515*@
                                    <option value="G">Informacion SICLI</option>
                                    @*//Assetec.PRODEM3 - 20220515*@
                                </select>
                            </td>
                            <td class="filtrosBase">Empresa:</td>
                            <td class="filtrosBase">
                                <select id="cbEmpresa" style="width:180px"></select>
                            </td>
                            <td class="filtrosBase">Subestación:</td>
                            <td class="filtrosBase">
                                <select id="cbSubEstacion" style="width:180px"></select>
                            </td>
                            <td class="filtrosBase">Punto:</td>
                            <td class="filtrosBase">
                                <select id="cbPunto" style="width:180px"></select>
                            </td>
                            <td class="filtrosBase">
                                <input type="button" id="btnAgregar" value="Agregar" />
                            </td>
                            <td class="filtroSco" style="display: none">Punto:</td>
                            <td class="filtroSco" style="display: none">
                                <select id="cbPuntoSco" style="width:180px">
                                    @foreach (var item in Model.ListaPuntosTnaSCO)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                    }
                                </select>
                            </td>
                            <td class="filtroSco" style="display: none">
                                <input type="button" id="btnAgregarSco" value="Agregar" />
                            </td>
                            <td class="filtroIeod" style="display: none">Punto:</td>
                            <td class="filtroIeod" style="display: none">
                                <select id="cbPuntoIeod" style="width:180px">
                                    @foreach (var item in Model.ListaPuntosTnaIEOD)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                    }
                                </select>
                            </td>
                            <td class="filtroIeod" style="display: none">
                                <input type="button" id="btnAgregarIeod" value="Agregar" />
                            </td>

                            <td class="filtroDpo" style="display: none">Punto:</td>
                            <td class="filtroDpo" style="display: none">
                                <select id="cbPuntoDpo" style="width:180px">
                                    @foreach (var item in Model.ListaPuntosTnaDPO)
                                    {
                                        <option value="@item.Ptomedicodi">@item.Ptomedidesc</option>
                                    }
                                </select>
                            </td>
                            <td class="filtroDpo" style="display: none">
                                <input type="button" id="btnAgregarDpo" value="Agregar" />
                            </td>

                            <td class="filtroSirpit" style="display: none">Subestacion:</td>
                            <td class="filtroSirpit" style="display: none">
                                <select id="spSubestacion" style="width:180px"></select>
                            </td>
                            <td class="filtroSirpit" style="display: none">Transformador:</td>
                            <td class="filtroSirpit" style="display: none">
                                <select id="spTransformador" style="width:180px"></select>
                            </td>

                            <td class="filtroSirpit" style="display: none">Barra:</td>
                            <td class="filtroSirpit" style="display: none">
                                <select id="spBarra" style="width:180px"></select>
                            </td>

                            <td class="filtroSirpit" style="display: none">
                                <input type="button" id="btnAgregarSirpit" value="Agregar" />
                            </td>

                            <td class="filtroSicli" style="display: none">Empresa:</td>
                            <td class="filtroSicli" style="display: none">
                                <select id="scEmpresa" style="width:180px"></select>
                            </td>
                            <td class="filtroSicli" style="display: none">Punto:</td>
                            <td class="filtroSicli" style="display: none">
                                <select id="scPunto" style="width:180px"></select>
                            </td>
                            <td class="filtroSicli" style="display: none">
                                <input type="button" id="btnAgregarSicli" value="Agregar" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="formula">
                    <table class="tabla-formulario" id="tbItems">
                        <thead>
                            <tr>
                                <th>Constante</th>
                                <th>Fuente</th>
                                <th>Punto</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 1;
                             foreach (var item in Model.ListaItems)
                             {
                                <tr>
                                    <td>
                                        <input type="hidden" id="thfOrigen" value="@item.Tipo" />
                                        <input type="text" style="width:50px" value="@item.Constante" onkeydown="mover(event, this)" onkeypress="return validarNumero(this,event)" id="@("constante" + i.ToString())" />
                                    </td>
                                    <td>@item.Descripcion</td>
                                    <td>
                                        <span>@item.PuntoNombre</span>
                                        <input type="hidden" id="thfPunto" value="@item.Codigo" />
                                    </td>
                                    <td style="text-align:center">
                                        <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                                    </td>
                                </tr>
                                 i++;
                             }
                            }
                        </tbody>
                    </table>
                </div>
            </td>
            <td style="width:2%"></td>
            <td valign="top" style="width:28%">
                <div class="formula-subtitulo">Quienes podrán manipular:</div>
                <table border="0" class="tabla-formulario" id="tablaArea">
                    <thead>
                        <tr>
                            <th>Abreviatura</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaAreas)
                        {
                            var count = Model.IdsAreas.Where(x => x == item.AreaCode).Count();
                            <tr>
                                <td>@item.AreaAbrev</td>
                                <td>@item.AreaName</td>
                                <td>
                                    @if (count == 0)
                                    {
                                        <input type="checkbox" value="@item.AreaCode" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" checked="checked" value="@item.AreaCode" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="clear:both; height:20px"></div>
                @if (Model.IdFormula > 0)
                {
                    <div class="formula-subtitulo">Datos de aduditoría:</div>
                    <div class="content-registro">
                        <table>
                            <tr>
                                <td class="registro-label">Usuario creación:</td>
                                <td class="registro-control">@Model.UsuarioCreacion</td>
                            </tr>
                            <tr>
                                <td class="registro-label">Fecha creación:</td>
                                <td class="registro-control">@Model.FechaCreacion</td>
                            </tr>
                            <tr>
                                <td class="registro-label">suario modificación:</td>
                                <td class="registro-control">@Model.UsuarioModificacion</td>
                            </tr>
                            <tr>
                                <td class="registro-label">Fecha Modificación:</td>
                                <td class="registro-control">@Model.FechaModificacion</td>
                            </tr>
                        </table>
                    </div>
                }

            </td>
        </tr>
    </table>

</div>

<input type="hidden" value="@Model.IdFormula" id="hfIdFormula" />