@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.SolicitudPendienteModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th width="21px">Nro</th>
            <th>Tipo Solicitud</th>
            <th>Razón Social</th>
            <th>Nombre Comercial</th>
            <th>Sigla</th>
            <th>Fecha Solicitud</th>
            <!-- <th>Horas Transcurridas</th>-->
            <th>Estado</th>
            <th>Notificado</th>
            <th>Aprobado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSolicitudes)
        {
            <tr>

                <td>
                    <a href="JavaScript:verDetalle(@item.Solicodi)" title="Ver Detalle">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                </td>
                <td>
                    @item.Solicodi
                </td>
                <td>@item.Tisonombre</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.EmprnombComercial</td>
                <td>@item.Emprsigla</td>


                <td>
                    @if (@item.Solifecsolicitud != null)
                    {
                        @item.Solifecsolicitud.Value.ToString("dd/MM/yyyy HH:mm")
                    }
                </td>
                <td>@item.Soliestado</td>
                <td>
                    <!--Pre-Aprobado -->
                    @if (@item.Solifecnotificado != null)
                    {
                        @item.Solifecnotificado.Value.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    <!--Aprobado -->
                    @if (@item.Solifecenviado != null)
                    {
                        @item.Solifecenviado.Value.ToString("dd/MM/yyyy")
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
