@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.TipoModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;
<table id="tablaRL" class="pretty tabla-icono" style="width: 100% !important">
    <thead>
        <tr>
            <th style="display:none;"></th>
            <th>Tipo</th>
            <th>Acción</th>
            <th style="display:none;"></th>
            <th>Tipo Agente</th>
            <th style="display:none;"></th>
            <th>Documento Sustentatorio</th>

            <th>Baja</th>
            <th>Editar</th>
            <th>Quitar</th>

            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>

            <th style="display:none;"></th>
        </tr>
    </thead>
    <tbody id="tablaRepresentanteLegalbody">
        @if (@Model.ListaTipos.Count() > 0)
        {
            foreach (var item in Model.ListaTipos)
            {
                <tr>
                    <td style="display:none;">@item.Tipocodi</td>                    
                    @if (@item.Tipoprincipal == ConstantesRegistroIntegrantes.TipoAgenteCodigoPrincipal)
                    {
                        <td>@ConstantesRegistroIntegrantes.TipoAgenteDescripcionPrincipal</td>
                    }
                    else
                    {
                        <td>@ConstantesRegistroIntegrantes.TipoAgenteDescripcionSecundario</td>
                    }

                     <td>@item.Accion</td>
                    <td style="display:none;">@item.Tipoemprcodi</td>
                    <td>@item.Tipotipagente</td>
                    <td style="display:none;">@item.IdTipodocsustentatorio</td>
                    <td>@item.Tipodocsustentatorio</td>

                    <td>
                        @if (@item.SoloLectura != ConstantesRegistroIntegrantes.SoloLecturaSI)
                        {
                            if (@item.Tipoprincipal != ConstantesRegistroIntegrantes.TipoAgenteCodigoPrincipal)
                            {
                                <a href="#" onclick="BajaRL(this)" id="btnEliminarContacto">
                                    <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                                </a>
                            }
                        }
                    </td>
                    <td>
                        @if (@item.SoloLectura == ConstantesRegistroIntegrantes.SoloLecturaSI)
                        {
                            if (@item.Accion == ConstantesRegistroIntegrantes.DetalleSolicitudAgregado)
                            {
                                <a href='#' onclick='EditarRepresentanteLegal(this)'><img src='/Content/Images/btn-edit.png' style='margin-top: 5px;' /></a>
                            }
                        }
                    </td>
                    <td></td>
                    
                    <td style="display:none;">@item.Tipoarcdigitalizado</td>
                    <td style="display:none;">@item.Tipoarcdigitalizadofilename</td>

                    <td style="display:none;">@item.Tipopotenciainstalada</td>
                    <td style="display:none;">@item.Tiponrocentrales</td>

                    <td style="display:none;">@item.Tipolineatrans500</td>
                    <td style="display:none;">@item.Tipolineatrans220</td>
                    <td style="display:none;">@item.Tipolineatrans138</td>

                    <td style="display:none;">@item.Tipolineatrans500km</td>
                    <td style="display:none;">@item.Tipolineatrans220km</td>
                    <td style="display:none;">@item.Tipolineatrans138km</td>

                    <td style="display:none;">@item.Tipototallineastransmision</td>

                    <td style="display:none;">@item.Tipomaxdemandacoincidente</td>
                    <td style="display:none;">@item.Tipomaxdemandacontratada</td>
                    <td style="display:none;">@item.Tiponumsuministrador</td>       
      
                    <td style="display:none;"></td>
                </tr>
            }
        }
    </tbody>
</table>



