@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.SolFusionEmpresaModel
@{
    ViewBag.Title = "SolFusionEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
<script src="~/Areas/RegistroIntegrante/Content/Scripts/fusionEmpresa.js?v=1.11"></script>

<link href="~/Areas/RegistroIntegrante/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Areas/RegistroIntegrante/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RegistroIntegrante/Content/Scripts/contextmenu.js"></script>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">SOLICITUD DE FUSION DE EMPRESA</div>
<div class="form-main" style="margin-top:10px">
    <div id="mensaje" class="action-message" style="display: none; width: 95%">Por favor complete los datos solicitados.</div>
    <div class="search-content" id="divEstado" style="margin-bottom:0px; padding:10px">
        <table class="table-form-show">
            <tr>
                <td style="width:220px;">Estado de Solicitud:</td>
                <td class="tbform-control">
                    <input type="text" id="txtESTADO" disabled="disabled" value="@Model.objSolicitud.Soliestado" style="width:220px;" />
                </td>
            </tr>
        </table>
    </div>


    <div style="clear:both; height:5px;"></div>
    <div class="formato-titulo" style="color: #278CCC; margin-bottom:0px;">Datos Actuales</div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-form-show">
            <tr>
                <td style="width:220px;">2.1 Número de RUC:</td>
                <td class="tbform-control">
                    <label>@Model.EmprRUC</label>
                </td>
            </tr>
            <tr>
                <td>2.2 Nombre Comercial:</td>
                <td class="tbform-control">
                    <label>@Model.EmprNombreComercial</label>
                </td>
            </tr>
            <tr>
                <td>2.3 Denominación o Razón Social:</td>
                <td class="tbform-control">
                    <label>@Model.EmprRazSocial</label>
                </td>
            </tr>
            <tr>
                <td>2.3 Domicilio Legal:</td>
                <td class="tbform-control">
                    <label>@Model.EmprDomLegal</label>
                </td>
            </tr>
            <tr>
                <td>3.1 Tipo Agente: </td>
                <td class="tbform-control">
                    <label>@Model.EmprTipoAgente</label>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both; height:5px;"></div>
    <div class="formato-titulo" style="color: #278CCC; margin-bottom:0px;">Datos Solicitud</div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-form-show">
            <tr>
                <td>Descripción:</td>
                <td>La solicitud sera evaluada por COES.</td>
            </tr>
        </table>
    </div>

    <div style="clear:both; height:5px;"></div>
    <div class="formato-titulo" id="divDocumentoSustentatorioTitulo" style="color: #278CCC; margin-bottom:0px;">Documento Sustentatorio:</div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" id="divDocumentoSustentatorio" style="margin-bottom:0px; padding:10px">
        <input type="button" id="btnVer" value="Ver" />
        <input type="button" id="btnDescargar" value="Descargar" />
        <input type="hidden" id="hdfNombreArchivo" value="@Model.NombAdjunto" />
    </div>

    <div style="clear:both; height:5px;"></div>
    <div class="formato-titulo" id="divObservacionTitulo" style="color: #278CCC; margin-bottom:0px;">Observación:</div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" id="divObservacion" style="margin-bottom:0px; padding:10px">
        <table class="table-form-show">
            <tr>
                <td style="width:220px;">Observación:</td>
                <td class="tbform-control">
                    <textarea id="txtObservacionfinal" disabled="disabled" style="width:470px; height:80px">@Model.objSolicitud.Soliobservacion</textarea>
                </td>
            </tr>
        </table>
    </div>

    <div class="search-content" id="divUpload" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:100%">
            <tr>
                <td colspan="2" class="tdPadd" style="background-color:SteelBlue;color:white;"><b>Adjuntar Documento Sustentatorio:</b></td>
            </tr>
            <tr>
                <td>
                    Seleccionar un archivo PDF que tenga como máximo 8mb.
                </td>
            </tr>
            <tr>
                <td>
                    <div class="search-content" id="container" style="margin-bottom:0px; padding:10px">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="clear:both; height:10px"></div>
                    <div style="width:120px">
                        <input type="button" id="btnSelectFileP5" value="Agregar Archivo" />
                    </div>
                    <div style="clear:both; height:10px"></div>
                    <div id="fileInfo"></div>
                    <div id="progresoP5"></div>
                    <div id="fileInfoDocumentoSustentatorio" class="file-upload plupload_container ui-widget-content " style="display:none;"></div>
                    <div id="filelistP5"></div>
                    <div class="content-tabla">

                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear:both; height:5px;"></div>
    <div class="search-content" id="divSolicitar" style="margin-bottom:0px; padding:10px">
        @*<table class="table-form-show">
            <tr>
                <td style="width:220px;">Adjuntar Documento Sustentatorio:</td>
                <td class="tbform-control">
                    <input type="file" id="flDocumento" class="DatosRequeridos Required" data-validator-id="spnDocumento" style="width:280px;">
                    <span id="spnDocumento">(*)</span>
                    <span style="padding-left:10px;padding-right:10px">PDF</span>
                    <input type="hidden" id="hdfAdjunto" value="@Model.DetAdjunto" />
                </td>
            </tr>
        </table>*@
        <br />
        <input class="submit" id="btnSolicitar" type="submit" value="Solicitar" style="display:none" />  
        @*<input type="button" id="btnSolicitar" value="Solicitar" />*@
        <input type="hidden" id="hdfSolicodi" value="@Model.objSolicitud.Solicodi" />
    </div>
</div>

<input type="hidden" id="hdfAdjunto" value="@Model.DetAdjunto" />
<input type="hidden" id="hdfSolicitudenCurso" value="@Model.SolicitudenCurso" />


<script type="text/javascript">

    $('#btnSolicitar').click(function () {

        if (!Validar()) {
            $("#mensaje").show();
            return false;
        } else
            $("#mensaje").hide();

        uploaderP5.start();
    });


    mostrarErrorFormato = function () {
        alert("Error en el formato.");
    }

    loadValidacionFile5 = function (mensaje) {
        //$('#fileInfo').innerHTML += mensaje;
        $('#fileInfo').removeClass("file-ok");
        $('#fileInfo').removeClass("file-alert");

        $('#fileInfo').html(mensaje);
        $('#fileInfo').addClass("file-alert");
    }

    function loadInfoFile(fileName, fileSize) {
        $('#fileInfo').html(fileName + " (" + fileSize + ")");
        $('#fileInfo').removeClass();
        $('#fileInfo').addClass('action-exito');
        $('#fileInfo').css('margin', '0px');
        $('#fileInfo').css('padding', '5px');
    }

    function loadValidacionFile(mensaje) {
        $('#fileInfo').html(mensaje);
        $('#fileInfo').removeClass();
        $('#fileInfo').addClass('action-alert');
        $('#fileInfo').css('margin', '0px');
        $('#fileInfo').css('padding', '5px');
    }

    function mostrarProgreso(porcentaje) {
        $('#fileInfo').text(porcentaje + "%");
        $('#fileInfo').removeClass();
        $('#fileInfo').addClass('action-exito');
        $('#fileInfo').css('margin', '0px');
        $('#fileInfo').css('padding', '5px');
    }

    function mostrarErrorFile(mensaje) {
        $('#fileInfo').text(mensaje);
        $('#fileInfo').removeClass();
        $('#fileInfo').addClass('action-error');
        $('#fileInfo').css('margin', '0px');
        $('#fileInfo').css('padding', '5px');
    }

    limpiarMensaje = function () {
        $('#fileInfo').removeClass("file-alert");
        $('#fileInfo').html("");
    }

    function getImage(ext) {
        var image;
        switch (ext) {
            case "xlsx":
            case "xls":
                image = "../../Content/images/excel.png";
                break;
            case "pdf":
                image = "../../Content/images/pdf.png";
                break;
            case "doc":
            case "docx":
                image = "../../Content/images/doc.png";
                break;
            case "jpg":
                image = "../../Content/images/jpg.png";
                break;
        }
        return image;
    }



    var uploaderP5 = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'btnSelectFileP5',
        container: document.getElementById('container'),
        multipart_params: {},
        url: controlador + 'upload',
        flash_swf_url: '~/Content/Scripts/Moxie.swf',
        silverlight_xap_url: '~/Content/Scripts/Moxie.xap',
        multi_selection: false,
        filters: {
            max_file_size: '8mb',
            mime_types: [
                { title: "Archivos Pdf .pdf", extensions: "pdf" }
            ]
        },
        init: {
            FilesAdded: function (up, files) {
                //if (uploader.files.length == 2) {
                //    uploader.removeFile(uploader.files[0]);
                //}
                var cadena = "";

                plupload.each(files, function (file) {

                    if (up.files.length >= 1) {
                        $('#btnSelectFileP5').css('display', 'none');
                    }
                    if (up.files.length > 0 && up.files.length < 3) {
                        $('#fileInfoDocumentoSustentatorio').css('display', 'block');
                    }
                    if (up.files.length < 0) {
                        alert("Error, cantidad de archivos negativos, comunicarse con el administrador");
                    }
                    var ext = file.name.split(".").pop();
                    var image = getImage(ext);
                    var filename = file.name;
                    if (file.name.length > 10) {
                        filename = file.name.substring(0, 10) + " ...";
                    }
                    $('#fileInfoDocumentoSustentatorio').append('<div class="plupload_file context-menu-5" id="' + file.id + '"><div><a href="#" class="tooltip" title="' + file.name + '"><img width="25" height="25" src="' + image +
                        '" /></a></div><div>' + filename + '</div><div>' + plupload.formatSize(file.size) + '</div>' +
                        '</div>');

                    $.contextMenu({
                        selector: '.context-menu-5',
                        callback: function (key, options) {
                            var m = "clicked: " + key;
                            //window.console && console.log(m) || alert(m);
                            $(this).remove();
                            //up.removeFile(file);
                            up.splice(file.id, 1);
                            if (up.files.length < 3) {
                                $('#btnSelectFileP5').css('display', 'block');
                            }
                            if (up.files.length <= 0) {
                                $('#fileInfoDocumentoSustentatorio').css('display', 'none');
                            }

                            $('#btnSolicitar').hide();

                        },
                        items: {
                            "delete": { name: "Delete", icon: "delete" }
                        }
                    });

                    $('.context-menu-5').on('click', function (e) {
                        console.log('clicked', this);
                    })

                    $('#btnSolicitar').show();

                });
                limpiarMensaje();
                up.refresh();
            },
            UploadProgress: function (up, file) {
                mostrarProgreso(file.percent);
            },
            UploadComplete: function (up, file) {
                //procesarArchivo(sFecha + "_" + file[0].name, $("#PERICODI").val());


                var formData = new FormData();
                // Datos
                formData.append("SoliCodi", $('#hdfSolicodi').val());                

                formData.append("DocumentoNombre", file[0].name);
                formData.append("DocumentoAdjunto", file[0].name);

                //formData.append("DocumentoSustentatorio", $("#flDocumento")[0].files[0]);

                $.ajax({
                    type: 'POST',
                    url: controlador + "SolicitarFusionEmpresa",
                    data: formData,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function (evt) {
                        if (evt == -1) {
                            mostrarError();
                        }
                        else {
                            alert("La solicitud ha sido enviada.");
                            deshabilitaControles();
                        }
                    },
                    error: function () {
                        mostrarError();
                    }
                });

            },
            Error: function (up, err) {
                loadValidacionFile5(err.code + "-" + err.message);
            }
        }
    });


    uploaderP5.init();

</script>









