@model IEnumerable<COES.Dominio.DTO.Busqueda.BCDBusquedasDTO>

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Frase</th>
            <th>Palabras clave</th>
            <th>Conceptos clave</th>
            <th>Resultados solicitados</th>
            <th>Fecha inicial</th>
            <th>Fecha final</th>
            <th>Tipo de búsqueda</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Search_date</td>
                    <td>@item.Search_user</td>
                    <td>@item.Search_text</td>
                    <td>@item.Key_words"</td>
                    <td>@item.Key_concepts</td>
                    <td>@item.Result_number</td>
                    <td>@item.Search_start_date  </td>
                    <td>@item.Search_end_date </td>
                    <td>
                        @if (item.Search_type == true)
                        {<span>Columnar</span>}
                        else
                        {
                            <span>Conversacional</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>