@model COES.MVC.Intranet.Areas.Admin.Models.VersionModeloModel

<div class="version-resumen">
    <strong>Carpeta:</strong> <span id="lblPlanTransmision">@Model.NombrePlan</span>
    <br />
    <strong>Subcarpeta:</strong> <span id="lblVersion">@Model.NombreVersion</span>
</div>


@foreach (var item in Model.ListadoModelo)
{
<div class="version-file version-modelo version-div">
    <div></div>
    <div id="@item.Arcmplcodi" class="resumen-file" style="text-indent:0">
        <strong>@(item.Arcmplnombre + "." + item.Arcmplext)</strong>   <br />
        <span>@item.Arcmpldesc</span>
    </div>
    <div data-id="@item.Arcmplcodi" class="edit-file">Editar</div>
    <div data-id="@item.Arcmplcodi" class="delete-file">Eliminar</div>
</div>
}

@foreach (var item in Model.ListadoManual)
{
<div class="version-file version-manual version-div">
    <div></div>
    <div id="@item.Arcmplcodi" class="resumen-file" style="text-indent:0">
        <strong>@(item.Arcmplnombre + "." + item.Arcmplext)</strong>   <br />
        <span>@item.Arcmpldesc</span>
    </div>
    <div data-id="@item.Arcmplcodi" class="edit-file">Editar</div>
    <div data-id="@item.Arcmplcodi" class="delete-file">Eliminar</div>
</div>
}



<div id="listaVersion">

    <input type="button" id="btnAddModelo" value="Subir aplicativo @Model.NombreAplicativo" />
    <div id="containerModelo" class="file-carga">
        <div id="loadingcargaModelo" class="estado-carga">
            <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
            <div class="estado-text">Cargando...</div>
        </div>
        <div id="filelistModelo">No soportado por el navegador.</div>
    </div>

    <input type="button" id="btnAddManual" value="Subir archivos adicionales" />
    <div id="containerManual" class="file-carga">
        <div id="loadingcargaManual" class="estado-carga">
            <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
            <div class="estado-text">Cargando...</div>
        </div>
        <div id="filelistManual">No soportado por el navegador.</div>
    </div>

</div>

<input type="hidden" id="hfCodigoVersion" value="@Model.Codigo" />