@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RetiroPotenciaSCModel
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Retiro de Potencia Sin Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/retiropotenciasc.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Retiro de Potencia sin contrato</div>
</div>
<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
        { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Retiros de Potencia Sin Contrato de: @Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre</div> }
        else
        { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo</div> }
        <input type="hidden" name="Recpotpreciopoteppm" id="Recpotpreciopoteppm" value="@Model.EntidadRecalculoPotencia.Recpotpreciopoteppm" />
        <table>
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto">
                            <tr>
                                <td style="width:150px; height:40px;">Mes de Valorización:</td>
                                <td style="width:200px; height:40px;">
                                    <select id="pericodi" name="pericodi" onchange="Recargar();">
                                        @foreach (var item in Model.ListaPeriodos)
                                        {
                                            sSelected = "";
                                            if (@item.PeriCodi == Model.Pericodi)
                                            { sSelected = "selected"; }
                                            <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:50px; height:40px;">Versión:</td>
                                <td style="width:200px; height:40px;">
                                    <select id="recpotcodi" name="recpotcodi">
                                        @foreach (var item in Model.ListaRecalculoPotencia)
                                        {
                                            <option value="@item.Recpotcodi">@item.Recpotnombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:200px; height:40px;">
                                    @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
                                    {
                                        <input type="button" id="btnConsultar" value="Ver Retiros de Potencia Sin Contrato" />
                                    }
                                </td>
                                <td style="width:20px; height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:none" id="divAcciones">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnDescargarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                            <span>Descargar Excel</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                        <a href="#" id="btnSelecionarExcel">
                                            <div class="content-item-action">
                                                <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                                <span>Importar Excel</span>
                                            </div>
                                        </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnEliminarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/borrador.png" /><br />
                                            <span>Eliminar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnValidarGrillaExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                            <span>Validar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">
                                    <a href="#" id="btnGrabarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/grabar.png" /><br />
                                            <span>Grabar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px; height:50px;" class="content-action">&nbsp;</td>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="grillaExcel" style="height:auto" class="handsontable"></div>
</div>

<div id="popup"><span class="button b-close"><span>X</span></span></div>
    
