@model  IEnumerable<COES.Dominio.DTO.Sic.DaiAportanteDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th>Nombre</th>
            <th>Tipo Empresa</th>
            <th>Ruc</th>
            <th>Razón Social</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="fila">
                <td style="display:none" class="text-left">@item.Emprcodi</td>
                <td width="28%" class="text-left">@item.Emprnomb</td>
                <td width="15%">@item.Tipoempresa</td>
                <td width="10%">@item.Emprruc</td>
                <td width="27%" class="text-left">@item.Emprrazsocial</td>
                <td width="10%"></td>
            </tr>
        }
    </tbody>
</table>   