@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.NrPotenciaconsignaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/potenciaconsignaeditar.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<div class="form-title">
        <div class="content-titulo">Potencia Consigna</div>
    <div class="content-botonera">

        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />

    </div>
</div>

<div class="content-hijo" id="mainLayout" >
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>


        <table style="text-align: left" class="content-registro">
            <tr>
                <td>
                    <input type="hidden" id="hfNrpcCodi" value="@Model.NrPotenciaconsigna.Nrpccodi" name="NrpcCodi" />
                    <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    <input type="hidden" id="hfDatos" value="@Model.Datos" />
                </td>
            </tr>
            <tr>
                <td>M&oacute;dulo</td>
                <td>
                    <select id="cbNrsmodCodi" name="NrsmodCodi" style="width:300px">
                        @foreach (var item in Model.ListaNrSubmodulo)
                        {
                            <option value="@item.Nrsmodcodi">@item.Nrsmodnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfNrsmodCodi" name="NrsmodCodi" value="@Model.NrPotenciaconsigna.Nrsmodcodi" />
                </td>
            </tr>
            <tr>
                <td>Modo</td>
                <td>
                    <select id="cbGrupoCodi" name="GrupoCodi" style="width:300px">
                        @foreach (var item in Model.ListaPrGrupo)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfGrupoCodi" name="GrupoCodi" value="@Model.NrPotenciaconsigna.Grupocodi" />
                </td>
            </tr>
            <tr>
                <td id="lblNrpcFecha ">Fecha</td>
                <td>
                    @{
                        var fechaNrpcFecha = "";
                        if (Model.NrPotenciaconsigna.Nrpcfecha != null)
                        {
                            fechaNrpcFecha = ((DateTime)Model.NrPotenciaconsigna.Nrpcfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                    }
                    <input id="txtNrpcFecha" type="text" name="NrpcFecha" value="@fechaNrpcFecha" />
                </td>
            </tr>
            <tr>
                <td><span id="lblNrpcEliminado">Eliminado</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <table id="gbNrpcEliminado">
                                    <tr>
                                        <td>
                                            <input type="hidden" id="hfNrpcEliminado" name="NrpcEliminado" value="@Model.NrPotenciaconsigna.Nrpceliminado" />
                                            <input type="radio" id="rbNrpcEliminadoS" name="rbNrpcEliminado" value="S" />Si
                                            <input type="radio" id="rbNrpcEliminadoN" name="rbNrpcEliminado" value="N" />No
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="registro-control">
                    <input type="hidden" id="hfNrpcUsuCreacion" name="NrpcUsuCreacion" value="@Model.NrPotenciaconsigna.Nrpcusucreacion" />
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var fechaNrpcFecCreacion = "";
                        if (Model.NrPotenciaconsigna.Nrpcfeccreacion != null)
                        {
                            fechaNrpcFecCreacion = ((DateTime)Model.NrPotenciaconsigna.Nrpcfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                    }
                    <input type="hidden" id="hfNrpcFecCreacion" name="NrpcFecCreacion" value="@fechaNrpcFecCreacion" />
                </td>
            </tr>
            <tr>
                <td class="registro-control">
                    <input type="hidden" id="hfNrpcUsuModificacion" name="NrpcUsuModificacion" value="@Model.NrPotenciaconsigna.Nrpcusumodificacion" />
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var fechaNrpcFecModificacion = "";
                        if (Model.NrPotenciaconsigna.Nrpcfecmodificacion != null)
                        {
                            fechaNrpcFecModificacion = ((DateTime)Model.NrPotenciaconsigna.Nrpcfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                        }
                    }
                    <input type="hidden" id="hfNrpcFecModificacion" name="NrpcFecModificacion" value="@fechaNrpcFecModificacion" />
                </td>
            </tr>
        </table>
        
        <table >
            <tr>
                <td>
                    <div id="contenedor"></div>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="busqueda" style="display:none">
</div>


