@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrPotenciaconsignaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ReservaFriaNodoEnergetico/Content/Scripts/potenciaconsigna.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Potencia Consigna</div>
        <div class="content-botonera">
            @{
                if (Model.AccionNuevo)
                {
                    <input type="button" id="btnNuevo" value="Nuevo"/>
                }
            }
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>M&oacute;dulo:</td>
                <td>
                    <select id="cbNrsmodNombre" name="NrsmodNombre" style="width:300px" >
                        <option value="0">TODOS</option>
                        @foreach (var item in Model.ListaNrSubmodulo)
                        {
                            <option value="@item.Nrsmodcodi">@item.Nrsmodnombre</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="hidden" id="hfNrsmodNombre" value="@Model.SubModulo" name="SubModulo" />
                </td>

                <td>Desde:</td>
                <td>
                    <input type="text" id="txtFechaDesde" name="FechaInicio" value="@Model.FechaIni" style="width:120px" />
                </td>
                <td rowspan="2">
                    <fieldset>
                        <legend>Estado</legend>
                        <input id="rbPConsignaVigente" name="rbPConsigna" type="radio" value="radiobutton" />Vigente
                        <input id="rbPConsignaEliminado" name="rbPConsigna" type="radio" value="radiobutton" />Eliminado
                        <input id="rbPConsignaTodos" name="rbPConsigna" type="radio" value="radiobutton" />Todos
                    </fieldset>

                </td>
                <td>
                    <input type="hidden" id="hfEstado" value="@Model.Estado" name="Estado" />
                </td>
                <td rowspan="2">
                    <br>
                    <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                </td>
            </tr>
            <tr>
                <td>Modo:</td>
                <td>
                    <select id="cbGrupoNomb" name="GrupoNomb" style="width:300px">
                        <option value="0">TODOS</option>
                        @foreach (var item in Model.ListaPrGrupo)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="hidden" id="hfGrupoNomb" value="@Model.GrupoPotencia" name="GrupoPotencia" />
                </td>
                <td>Hasta:</td>
                <td>
                    <input type="text" id="txtFechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" />
                </td>
            </tr>


        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>


