@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaNrPotenciaconsignaModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>M&oacute;dulo</th>
                <th>Modo</th>
                <th>Fecha</th>
                <th>Eliminado</th>
                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaNrPotenciaconsigna)
            {                
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Nrpccodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                            if (Model.AccionEditar)
                            {
                                <a href="JavaScript:editar(@item.Nrpccodi,1)" title="Editar...">
                                    <img src="~/Content/Images/btn-edit.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }

                            if (Model.AccionEliminar)
                            {
                                <a href="JavaScript:eliminar(@item.Nrpccodi)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }
                        }
                    </td>
                    <td>@item.Nrsmodnombre</td>
                    <td>@item.Gruponomb</td>
                    <td>
                        @{
                            var fechaNrpcFecha = "";
                            if (item.Nrpcfecha != null)
                            {
                                fechaNrpcFecha = ((DateTime)item.Nrpcfecha).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        @fechaNrpcFecha
                    </td>
                    <td>@item.Nrpceliminado</td>
                    <td>@item.Nrpcusucreacion</td>
                    <td>
                        @{
                            var fechaNrpcFecCreacion = "";
                            if (item.Nrpcfeccreacion != null)
                            {
                                fechaNrpcFecCreacion = ((DateTime)item.Nrpcfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrpcFecCreacion
                    </td>
                    <td>@item.Nrpcusumodificacion</td>
                    <td>
                        @{
                            var fechaNrpcFecModificacion = "";
                            if (item.Nrpcfecmodificacion != null)
                            {
                                fechaNrpcFecModificacion = ((DateTime)item.Nrpcfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaNrpcFecModificacion
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
