@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Primas RER";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}

<link href="~/Areas/PrimasRER/Content/Css/general.css?v=1.0.2" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/general.js?v=1.0.6"></script>

<div class="form-title">
    <div class="content-titulo">Cálculo de la EDI</div>

    <div class="content-botonera" style="display: flex; align-items: center; height: auto; gap: 10px;">
        <div style="float: right">
            <span style="font-size: 12px;">Periodo:</span>
            <select id="cbAnioFiltroGeneral" style="width: 57px;">
                @foreach (var item in Model.ListaAnio)
                {
                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                }

            </select>

            <select id="cbPeriodoFiltroGeneral" style="width: 120px;">
                @foreach (var item in Model.ListaPeriodo)
                {
                    var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                    <option value="@item.Ipericodi" @selected>@item.Iperinombre</option>
                }
            </select>

            <span style="font-size: 12px;">Revisión:</span>
            <select id="cbRevisionFiltroGeneral" style="width:150px">
                @if (Model.ListaRevision.Count > 0)
                {
                    foreach (var item in Model.ListaRevision)
                    {
                        <option value="@item.Rerrevcodi">@item.Rerrevnombre</option>
                    }
                }
                else
                {
                    <option value="0">--</option>
                }
            </select>
        </div>
        <a href="#" id="btnManualUsuario" style="text-decoration: none;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>  
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_periodo" style="float: left; padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Periodo de Reporte</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/PrimasRER/Periodo/Index/" data-alto="680" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Periodos y Revisiones
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_reporte" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">
            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Cuadros</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PrimasRER/Cuadro/IndexEvaluacion/" data-alto="800" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Evaluación
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PrimasRER/Cuadro/IndexComparativo/" data-alto="800" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Comparativo
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PrimasRER/Cuadro/IndexResultados/" data-alto="1200" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Resultados
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_configuracion" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Insumos</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PrimasRER/Insumo/IndexSolicitudEdi/" data-alto="1100" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Solicitudes EDI
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions2" title="" onclick="javascript: descargarEventosYCausas();">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Eventos y Causas
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <iframe id="iframeIndisp" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>