@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Form";
    string sTitulo = ViewData["sTitulo"].ToString();
    string sAccion = ViewData["sAccion"].ToString();
    string sSelected = "";
}

<link href="~/Areas/PrimasRER/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/factorperdida.js"></script>

@using (Html.BeginForm("Save", "FactorPerdida", FormMethod.Post, new { id = "frmFormulario", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">@sTitulo</div>
        <div class="content-botonera">
            <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "FactorPerdida")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div style="padding:20px; width:800px;">
        <table cellspacing="2" cellpadding="5">
            @if (Model.bAgregarArchivo)
            {
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmdesde, "Fecha desde:") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.FacPerMedDTO.Rerfpmdesde, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })@Html.ValidationMessageFor(model => model.FacPerMedDTO.Rerfpmdesde)</div></td>
                    <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmhasta, "Fecha hasta:") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.FacPerMedDTO.Rerfpmhasta, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })@Html.ValidationMessageFor(model => model.FacPerMedDTO.Rerfpmhasta)</div></td>
                    <td><div class="content-botonera"><input type="button" id="btnCargarArchivo" value="Cargar archivo" alt="Cargar archivo" title="Cargar archivo" /></div></td>
                </tr>
            }
            else
            {
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmdesde, "Fecha desde:") (*)</div></td>
                    <td><div class="text_center">@Model.FacPerMedDTO.Rerfpmdesde.ToString("dd/MM/yyyy")</div></td>
                    <td><div class="editor-label">@Html.LabelFor(model => model.FacPerMedDTO.Rerfpmhasta, "Fecha hasta:") (*)</div></td>
                    <td><div class="text_center">@Model.FacPerMedDTO.Rerfpmhasta.ToString("dd/MM/yyyy")</div></td>
                </tr>
            }

            <tr>
            </tr>
            <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
        </table>
    </div>
    <div>
        <table border="0" class="pretty tabla-icono" id="tabla">
            <thead>
                <tr>
                    <th>Código Entrega de la Central</th>
                    <th>Fáctor de Pérdidas Medias</th>
                    <th style="width:30px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListFacPerMedDetDTO)
                {
                    <tr id="fila_@item.Rerfpdcodi">
                        <td class="text_center">@item.Barrcodi</td>
                        <td class="text_center">@item.Rerfpdfactperdida</td>
                        <td style="width:30px;"><a href="JavaScript:editarFactor(Rerfpdcodi = @item.Rerfpdcodi)" title="Editar registro"><img src="~/Content/Images/btn-edit.png" alt=""></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
<div id="popupEditFactor">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Factor</span></div>
    <div id="editFactor"></div>
</div>
