@model COES.MVC.Intranet.Areas.Admin.Models.SiParametroValorModel

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="panel-container" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensajeEdit">Ingrese los datos</div>
            <table>
                <tr>
                    <td>
                        <input type="hidden" id="hfSiparvCodi" value="@Model.SiParametroValor.Siparvcodi" name="SiparvCodi" />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    </td>
                </tr>
                <tr>
                    <td>Par&aacute;metro</td>
                    <td>
                        <select id="cbSiparCodi" name="SiparCodi" style="width:300px">
                            @foreach (var item in Model.ListaSiParametro)
                            {
                                <option value="@item.Siparcodi">@item.Siparabrev</option>
                            }
                        </select>
                        <input type="hidden" id="hfSiparCodi" name="SiparCodi" value="@Model.SiParametroValor.Siparcodi"  />
                    </td>
                </tr>
                <tr>
                    <td id="lblSiparvFechaInicial ">Fecha Inicial</td>
                    <td>
                        @{
                            var fechaSiparvFechaInicial = "";
                            if (Model.SiParametroValor.Siparvfechainicial != null)
                            {
                                fechaSiparvFechaInicial = ((DateTime)Model.SiParametroValor.Siparvfechainicial).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        <input id="txtSiparvFechaInicial"  type="text" name="SiparvFechaInicial" value="@fechaSiparvFechaInicial" />
                    </td>
                </tr>
                <tr>
                    <td id="lblSiparvFechaFinal ">Fecha Final</td>
                    <td>
                        @{
                            var fechaSiparvFechaFinal = "";
                            if (Model.SiParametroValor.Siparvfechafinal != null)
                            {
                                fechaSiparvFechaFinal = ((DateTime)Model.SiParametroValor.Siparvfechafinal).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        <input id="txtSiparvFechaFinal"  type="text" name="SiparvFechaFinal" value="@fechaSiparvFechaFinal" />
                    </td>
                </tr>
                <tr>
                    <td><span id="lblSiparvValor">Valor</span></td>
                    <td>
                        @{
                            string textoValor = Model.SiParametroValor.Siparvvalor.ToString();
                            if (Model.SiParametroValor.Siparcodi == Model.IdParametroAGC)
                            {
                                textoValor = Model.SiParametroValor.Siparvvalor.ToString().PadLeft(4, '0');
                                textoValor = textoValor.Substring(0, 2) + ":" + textoValor.Substring(2, 2);
                            }
                        }

                        <input id="txtSiparvValor" type="text" " value="@textoValor">
                        <input type="hidden" id="hfSiparvValor" name="SiparvValor" />
                    </td>
                </tr>
                <tr>
                    <td id="lblSiparvNnota" >Nota</td>
                    <td class="registro-control">
                        <textarea id="txtSiparvNnota"  maxlength="100" name="SiparvNnota" cols="60" rows="3">@Model.SiParametroValor.Siparvnota</textarea>
                    </td>
                </tr>
                <tr>
                    <td><span id="lblSiparvEliminado" >Eliminado</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbSiparvEliminado"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfSiparvEliminado" name="SiparvEliminado" value="@Model.SiParametroValor.Siparveliminado" />
                                                <input type="radio" id="rbSiparvEliminadoS" name="rbSiparvEliminado" value="S" />Si
                                                <input type="radio" id="rbSiparvEliminadoN" name="rbSiparvEliminado" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="registro-control">
                        <input type="hidden" id="hfSiparvUsuCreacion" name="SiparvUsuCreacion" value="@Model.SiParametroValor.Siparvusucreacion"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var fechaSiparvFecCreacion = "";
                            if (Model.SiParametroValor.Siparvfeccreacion != null)
                            {
                                fechaSiparvFecCreacion = ((DateTime)Model.SiParametroValor.Siparvfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfSiparvFecCreacion" name="SiparvFecCreacion" value="@fechaSiparvFecCreacion" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-control">
                        <input type="hidden" id="hfSiparvUsuModificacion"  name="SiparvUsuModificacion" value="@Model.SiParametroValor.Siparvusumodificacion"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var fechaSiparvFecModificacion = "";
                            if (Model.SiParametroValor.Siparvfecmodificacion != null)
                            {
                                fechaSiparvFecModificacion = ((DateTime)Model.SiParametroValor.Siparvfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfSiparvFecModificacion" name="SiparvFecModificacion" value="@fechaSiparvFecModificacion" />
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <input type="button" id="btnGrabar" value="Grabar" />
                    </td>
                </tr>

            </table>
    </form>
</div>

<div id="busqueda" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Parametro Valor</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>

<input type="hidden" id="hfIdParametroAGC" value="@Model.IdParametroAGC" />