@model COES.MVC.Intranet.Areas.Admin.Models.BusquedaSiParametroValorModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Par&aacute;metro</th>
                <th>Fecha Inicial</th>
                <th>Fecha Final</th>
                <th>Valor</th>                
                <th>Eliminado</th>
                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaSiParametroValor)
            {
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Siparvcodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>
                        @{
                            if (Model.AccionEditar)
                            {
                                <a href="JavaScript:editar(@item.Siparvcodi,1)" title="Editar...">
                                    <img src="~/Content/Images/btn-edit.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }

                            if (Model.AccionEliminar)
                            {
                                <a href="JavaScript:eliminar(@item.Siparvcodi)" title="Eliminar...">
                                    <img src="~/Content/Images/btn-cancel.png"/>
                                </a>
                            }
                            else
                            {
                                <a>
                                </a>
                            }
                        }
                    </td>
                    <td>@item.Siparabrev</td>
                    <td>
                        @{
                            var fechaSiparvFechaInicial = "";
                            if (item.Siparvfechainicial != null)
                            {
                                fechaSiparvFechaInicial = ((DateTime)item.Siparvfechainicial).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        @fechaSiparvFechaInicial
                    </td>
                    <td>
                        @{
                            var fechaSiparvFechaFinal = "";
                            if (item.Siparvfechafinal != null)
                            {
                                fechaSiparvFechaFinal = ((DateTime)item.Siparvfechafinal).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                            }
                        }
                        @fechaSiparvFechaFinal
                    </td>
                    <td>
                        @{
                            string textoValor = item.Siparvvalor.ToString();
                            if (item.Siparcodi == Model.IdParametroAGC)
                            {
                                textoValor = item.Siparvvalor.ToString().PadLeft(4, '0');
                                textoValor = textoValor.Substring(0, 2) + ":" + textoValor.Substring(2, 2);
                            }
                            <span>@textoValor</span>
                        }
                     </td>
                    
                    <td>@item.Siparveliminado</td>
                    <td>@item.Siparvusucreacion</td>
                    <td>
                        @{
                            var fechaSiparvFecCreacion = "";
                            if (item.Siparvfeccreacion != null)
                            {
                                fechaSiparvFecCreacion = ((DateTime)item.Siparvfeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaSiparvFecCreacion
                    </td>
                    <td>@item.Siparvusumodificacion</td>
                    <td>
                        @{
                            var fechaSiparvFecModificacion = "";
                            if (item.Siparvfecmodificacion != null)
                            {
                                fechaSiparvFecModificacion = ((DateTime)item.Siparvfecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaSiparvFecModificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
