@model COES.MVC.Extranet.Areas.Transferencias.Models.TramiteModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var EMPRNOMB = TempData["EMPRNOMB"];
    var tipotramite = (IEnumerable<SelectListItem>)TempData["Tipotramitecodigo"];
    var PeriodoNombre = TempData["Periodonombre"].ToString();
    var VersionNombre = TempData["NombreVersion"].ToString();

}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "tramite", FormMethod.Post, new { id = "frmTramite", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Entidad.PeriCodi)
    @Html.HiddenFor(model => model.Entidad.TramVersion)
    <div class="ast" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
        <div class="form-title">@EMPRNOMB: @sTitulo</div>
        <div class="content-hijo" style="padding-top:8px;">
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.PeriCodi, "Periodo")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.PeriCodi, new { @Value = PeriodoNombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramVersion, "Versión")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.TramVersion, new { @Value = VersionNombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TipoTramcodi, "Tipo")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Tipotramcodi", @tipotramite, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.Entidad.TipoTramcodi)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.TramDescripcion, "Descripción")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.TramDescripcion, new { cols = 80, @rows = 2, style = "background-color: #f4f9fd; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 500px; height: 40px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.TramDescripcion)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "tramite")'" alt="Retornar" title="Retornar" />&nbsp;&nbsp;
                        <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                    </td>
                </tr>
                <tr><td colspan="2">Nota(*): Campos Requeridos</td></tr>
            </table>
        </div>
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmTramite").validate({
        rules: {
            "Entidad.TramDescripcion": {
                required: true,
                maxlength: 1000
            }
        }
    });
</script>

