@model COES.MVC.Extranet.Areas.Transferencias.Models.TramiteModel
@Html.AntiForgeryToken()
<div style="text-align:left">
    @{
        if (Model.bNuevo)
        {
            <input type="button" id="btnNuevo" name="Nuevo" value="Ingresar un Comentario u Observación" />
        }
    }
</div>
<br />
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Fecha Registro</th>
            <th>Empresa</th>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Descripción</th>
            @*<th>Usuario Intranet</th>*@
            <th>Respuesta</th>
            <th>Fecha Respuesta</th>
            <th>Corrigio informe</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaTramites)
        {
            <tr id="fila_@item.TramCodi">
                <td class="text_left">@item.TramFecReg.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td style="text-align:left;">@item.EmprNombre</td>
                <td class="text_left">@item.UsuaSeinCodi</td>
                <td class="text_left">@item.TipoTramNombre</td>
                <td style="text-align:left;">@item.TramDescripcion</td>
                @*<td class="text_left">@item.Usuacoescodi</td>*@
                <td style="text-align:left;">@item.TramRespuesta</td>
                <td>
                    @if (item.TramFecRes != null)
                    { <span>@item.TramFecRes.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm:ss")</span>}
            </td>
            <td>@item.TramCorrInf</td>
            <td style="width:30px;"><a href="#" id="view_@item.TramCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
        </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
