@model COES.MVC.Extranet.Areas.Transferencias.Models.TramiteModel
@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Comentario u Observación</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TramFecReg, "Fecha de Registro :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TramFecReg)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.EmprNombre, "Empresa :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.EmprNombre)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.UsuaSeinCodi, "Usuario :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.UsuaSeinCodi)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoTramNombre, "Tipo : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoTramNombre)</div>
            </td>
        </tr>
   
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TramDescripcion, "Descripción :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TramDescripcion)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TramRespuesta, "Respuesta :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TramRespuesta)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TramCorrInf, "Corrigio informe :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TramCorrInf)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

