@model COES.MVC.Extranet.Areas.Transferencias.Models.ValorTransferenciaModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Barra de Transferencia</th>
            <th>Tipo Usuario</th>
            <th>Tipo de Contrato</th>
            <th>Entrega / Retiro</th>
            <th>Energía MW.h</th>
            <th>Valorización S/.</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaValorTransferencia)
        {
        <tr id="fila_@item.ValoTranCodi">
            <td class="text_left">@item.EmprNomb</td>
            <td class="text_left">@item.BarrNombBarrTran</td>
            <td class="text_left">@item.VtranUserName</td>
            <td class="text_left">@item.CentGeneNombre</td>
            <td class="text_left">@item.ValoTranCodEntRet</td>
            <td style="text-align:right;">@item.VTTotalEnergia.ToString("#,##0.00")</td>
            <td style="text-align:right;">@item.VTTotalDia.ToString("#,##0.00")</td>
            <td class="text_left">@item.VTTipoInformacion </td>
        </tr>
        }
    </tbody>
</table>>