@model COES.MVC.Intranet.Areas.IEOD.Models.ParametroModel

<div style="max-width: 916px; margin: 0 auto; margin-top: 50px">
    <!-- listado -->
    <table id="tablaMagnitudRPF" class="tabla-formulario" style="width: 900px; max-width: 900px;">
        <thead>
            <tr>
                <th style="width: 50px">Opciones</th>
                <th style="width: 300px">Período del año</th>
                <th style="width: 100px">Fecha Inicio</th>
                <th style="width: 100px">Fecha Fin</th>
                <th style="width: 100px">Magnitud</th>
                <th style="width: 50px">Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var rango in Model.ListaMagnitudRPF)
                {
                    <tr class="">
                        <td style="text-align: center;">
                            <a href="JavaScript:verMagnitudRPF(@rango.SiParvcodi);" title="Mostrar Magnitud"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            <a href="JavaScript:editarMagnitudRPF(@rango.SiParvcodi)" title="Editar Magnitud"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                        </td>
                        <td style="text-align:center;">@rango.PeriodoDesc</td>
                        <td style="text-align:center;">@rango.FechaFormatoInicio</td>
                        <td style="text-align:center;">@rango.FechaFormatoFin</td>
                        <td style="text-align:right;">@rango.MagnitudTexto</td>
                        <td style="text-align:center;">@rango.EstadoValor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
