@model COES.MVC.Intranet.Areas.IEOD.Models.ColorModel
<div style="clear:both; height:10px"></div>
<table border="0" class="pretty tabla-icono" width="auto" id="tabla">
    <thead>
        <tr>
            <th style="width:300px">Empresa</th>
            <th style="width:250px">Central</th>
            <th style="width:100px">Color</th>
            <th style="max-width: 80px">
                    Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoEquipamiento)
        {
            <tr>
                <td style="@item.Osigrupocodi">@item.Emprnomb</td>
                <td style="@item.Osigrupocodi">@item.Equinomb</td>
                <td style="@item.Osigrupocodi">
                    <input class="colorPicker" type="color" id="CL@(item.Equicodi)" 
                           onchange="mostrarEditarColor(@item.Equicodi)"
                           value="@item.B2">
                </td>
                <td style="@item.Osigrupocodi">
                    <div class="cnt_div_accion" id="@item.Equicodi">
                        <a onclick="guardarEditarColor('@item.Equicodi');" title="Guardar cambios">
                            <img src="~/Content/Images/ico-done.gif" alt="">
                        </a>

                        <a onclick="cancelarEditarColor('@item.Equicodi', '@item.B2');" title="Cancelar cambios"> 
                            <img src="~/Content/Images/ico-delete.gif" alt="">
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
