@model COES.MVC.Intranet.Areas.IEOD.Models.ParametroModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Período del Año:</td>
            <td class="tbform-control">@Model.MagnitudRPF.PeriodoDesc</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha Inicio:</td>
            <td class="tbform-control">@Model.MagnitudRPF.FechaFormatoInicio</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha Fin:</td>
            <td class="tbform-control">@Model.MagnitudRPF.FechaFormatoFin</td>
        </tr>
        <tr>
            <td class="tbform-label">Magnitud de la Reserva Rotante para la RPF:</td>
            <td class="tbform-control">@Model.MagnitudRPF.MagnitudTexto</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.MagnitudRPF.EstadoValor</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.MagnitudRPF.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.MagnitudRPF.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.MagnitudRPF.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.MagnitudRPF.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>