@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    ViewBag.Title = "Configuración de Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquerytreeui.js"></script>
<script src="~/Content/Scripts/jquerytreecontextmenu.js"></script>
<link href="~/Content/Css/Tree/uitreewin7.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreednd.js"></script>
<script src="~/Content/Scripts/jquerytreemenu.js"></script>
<script src="~/Content/Scripts/jquerytreeedit.js"></script>
<script src="~/Content/Scripts/jquerytreegridnav.js"></script>
<script src="~/Content/Scripts/jquerytreetable.js"></script>

<link href="~/Areas/Equipamiento/Content/Css/css.css?v=1.2" rel="stylesheet" />
<link href="~/Content/Css/table.css" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/fichatecnicaconfiguracion.js?v=1.8.4"></script>
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=1.8.3" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/fichatecnicadetallevista.js?v=1.8.3"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de Ficha Técnica</div>
    <div class="content-botonera" style="display: flex; align-items: center; height: auto; gap: 10px;">
        <input type="button" id="btnAgregar" value="Agregar" style="margin-top: 15px; transform: translateX(-60px);" />
    </div>
    <div style="position: relative; height: 100px;">
        <a href="#" id="btnManualUsuario" style="text-decoration: none; position: absolute; top: 63px; right: 60px;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; margin-left: -10px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container-config" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaListado">Listado</a></li>
            <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaListado">
                <div class="content-tabla">
                    <div class="table-list" id="listado"></div>
                </div>
            </div>
            <div id="vistaDetalle">
                <div class="content-tabla">
                    <div id="editarFichaTecnica">

                        <!-- DetalleFichaTecnicaHtml -->
                        <style type="text/css">
                            .ui-menu {
                                width: 150px;
                                font-size: 100%;
                            }

                                .ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
                                    float: right;
                                }

                            ul.ui-contextmenu {
                                z-index: 99999;
                            }
                            /* custom alignment (set by 'renderColumns'' event) */
                            td.alignRight {
                                text-align: right;
                            }

                            td.alignCenter {
                                text-align: center;
                            }
                        </style>

                        <div id="tab-cabecera" class="search-content" style="padding: 10px; margin-bottom: 15px; display: none">
                            <table class="content-tabla-search" style="width:auto">
                                <tr>
                                    <td class="tbform-label">Origen de Datos:</td>
                                    <td>
                                        <input type="radio" id="origen_1" name="origen" value="1" checked disabled> Tipo de Equipo
                                        <input type="radio" id="origen_2" name="origen" value="2" disabled> Categoria de Grupo
                                    </td>
                                    <td>
                                        <select id="cbFamiliaEquipo" style=" width: 242px; display: none" disabled>
                                        </select>
                                        <select id="cbCategoriaGrupo" style=" width: 234px; display: none" disabled>
                                        </select>
                                    </td>
                                    <td class="tr_estado" style="display: none">
                                        Estado:
                                    </td>
                                    <td class="tr_estado" style="display: none">
                                        <select id="cbEstado" style=" width: 70px;" disabled>
                                        </select>
                                    </td>
                                    <td>
                                        <table style="width:200px;">
                                            <tr>
                                                <td id="tdGuardar" style="display: none">
                                                    <input id="btnGuardar" type="button" value="Guardar">
                                                </td>
                                                <td id="tdVistaPrevia" style="display: none">
                                                    <input id="btnVistaPrevia" type="button" value="Vista Previa">
                                                </td>
                                                <td id="tdCancelar" style="display: none">
                                                    <input id="btnCancelar" type="button" value="Cancelar">
                                                </td>
                                                <td id="tdCancelar2" style="display: none">
                                                    <input id="btnCancelar2" type="button" value="Cerrar">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="tr_ficha_padre" style="display: none">
                                    <td></td>
                                    <td class="tbform-label" style="text-align: right">Ficha Padre:</td>
                                    <td>
                                        <select id="cbFichaPadre" style=" width: 351px; display: none" disabled>
                                        </select>
                                    </td>
                                    <td rowspan="2" colspan="3">
                                        <fieldset style="padding: 10px;">

                                            <table>
                                                <tr>
                                                    <td class="tbform-label" style="text-align: right">¿Visible en extranet?</td>

                                                    <td id="" style="display:flex;">
                                                        <input type="radio" id="visSi" name="rdVisibilidadExt" value="S">
                                                        <label for="S">Si</label><br>
                                                        <input type="radio" id="visNo" name="rdVisibilidadExt" value="N" style="margin-left: 20px;">
                                                        <label for="N">No</label><br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tbform-label" style="text-align: right">Fecha de vigencia extranet:</td>
                                                    <td>
                                                        <input type="text" id="txtVigenciaExtranet" style="width:95px;" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="tbform-label" style="text-align: right">Nombre:</td>
                                    <td><input type="text" id="txtNombre" style="width: 350px" disabled /></td>
                                </tr>
                            </table>
                        </div>

                        <div id="nota_" style="font-size: 11px; color: #0051C8; padding-top: 10px; padding-bottom: 10px; display: block;">
                            <b>Nota: </b>Si se elimina o crea nuevos items o carpetas, tener en cuenta que los envíos para esta Ficha Técnica quedarán bloqueados. Si se desea realizar esas modificaciones a la la Ficha Técnica, se debe crear una copia y editar dicha copia.
                        </div>

                        <div id="tab-container" class='tab-container' style="display: none">
                            <ul class='etabs'>
                                <li class='tab active'><a href="#vistaTree">Tree</a></li>
                                <li class='tab' id="tab_nota"><a href="#vistaNota">Notas</a></li>
                                <li class='tab' id="tab_previa"><a href="#vistaPrevia">Vista Previa</a></li>
                            </ul>
                            <div class='panel-container'>
                                <div id="vistaTree">

                                    <table id="treeFT">
                                        <colgroup>
                                            <col style="width:50px">
                                            <col style="width:350px">
                                            <col style="width:50px">
                                            <col style="width:150px">
                                            <col style="width:50px">
                                            <col style="width:250px">
                                            <col style="width:50px">
                                            <col style="width:50px">
                                            <col style="width:50px">
                                            <col style="width: 110px;">
                                            <col style="width: 110px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th></th>
                                                <th>Orientación</th>
                                                <th>Tipo</th>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Unidad</th>
                                                <th>Tipo</th>
                                                <th>Nota</th>
                                                <th>Usuario</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="vistaNota">
                                    <div class="content-botonera" style="display: none">
                                        <input type="button" id="btnNotaNuevo" value="Nuevo" />
                                        <input type="button" id="btnNotaConsultar" value="Consultar" />
                                    </div>

                                    <!--Formulario de nota-->
                                    <div id="formularioNota">
                                        <div class="popup-title" style="    padding-top: 15px;"><span>Nueva Nota</span></div>

                                        <table style=" margin-top: 15px;">
                                            <tbody>
                                                <tr>
                                                    <td class="tbform-label" style="    vertical-align: top;">Número:</td>
                                                    <td class="tbform-control" style="vertical-align: top;">
                                                        <input type="hidden" id="hfCodigoNota" value="0" />
                                                        <input type="number" id="frmNotaNum" value="" style="width: 50px;" autocomplete=off />
                                                    </td>
                                                    <td class="tbform-label" style="vertical-align: top;">Nota:</td>
                                                    <td class="tbform-control" style="vertical-align: top;">
                                                        <textarea cols="100" rows="2" id="frmNotaDesc" style="border: 1px solid #dddddd;"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="tdNotaGuardar" colspan="2">
                                                        <input id="btnNotaGuardar" type="button" value="Agregar">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div style="clear:both; height:20px"></div>
                                    </div>

                                    <!--Lista de notas-->
                                    <div class="popup-title" style="    padding-top: 15px;"><span>Listado</span></div>
                                    <div class="content-tabla">
                                        <div class="table-list" id="listadoNota"></div>
                                    </div>
                                </div>

                                <div id="vistaPrevia">
                                    <div class="table-list" id="detalle_ficha_tecnica"></div>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both; height:20px"></div>

                        <input type="hidden" id="hfTipoElemento" value="" />
                        <input type="hidden" id="hfTipoElementoId" value="" />
                        @*<input type="hidden" id="hfCodigo" value="" />*@
                        <input type="hidden" id="hfCodigoFichaMaestra" value="" />

                        <input type="hidden" id="hfNombre" value="" />
                        <input type="hidden" id="hfCodigo" value="" />
                        <input type="hidden" id="hfFamcodi" value="" />
                        <input type="hidden" id="hfCatecodi" value="" />
                        <input type="hidden" id="hfJsonTree" value='' />
                        <input type="hidden" id="hfOrigen" value="" />
                        <input type="hidden" id="hfNumOrigenpadre" value="" />
                        <input type="hidden" id="hfCodigoPadre" value="" />
                        <input type="hidden" id="hfEstado" value="" />
                        <input type="hidden" id="hfJsonNota" value='' />
                        <input type="hidden" id="hdVisibilidad" value='' />
                        <input type="hidden" id="hfFecVigencia" value='' />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<!-- Agrupacion -->
<div id="popupAgrupacion" class="general-popup" style="width: 600px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agrupación</span></div>
    <div style="clear:both; height:20px"></div>

    <div class="panel-container">
        <div class="active" style="display: block;">
            <table>
                <tbody>
                    <tr>
                        <td class="tbform-label">Nombre:</td>
                        <td class="tbform-control">
                            <input type="text" id="frmAgrpNomb" value="" style="width: 250px;" autocomplete=off />
                            <select id="frmAgrpOrientacion" style="width: 85px; display: none;">
                                <option value="V">Vertical </option>
                                <option value="H">Horizontal</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="vistaAgrpNota" style="margin-top: 20px;">
                <div id="div_tabla_ft_agrp_nota">
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both; height:20px"></div>
    <table style="width:200px;">
        <tr>
            <td id="tdAgrpGuardar">
                <input id="btnAgrpGuardar" type="button" value="Guardar">
            </td>
            <td id="tdAgrpCancelar">
                <input id="btnAgrpCancelar" type="button" value="Cancelar">
            </td>
        </tr>
    </table>
</div>

<!-- Propiedad -->
<div id="popupPropiedad" class="general-popup" style="width: 1100px; min-height: 600px; max-width: 1500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Propiedad</span></div>
    <div style="clear:both; height:20px"></div>

    <div class="panel-container">
        <div class="active" style="display: block;">
            <table>
                <tbody>
                    <tr>
                        <td class="tbform-label">Origen de Datos:</td>
                        <td>
                            <input type="radio" id="origenProp1" name="origen_prop" value="1" style="display: none" checked disabled> Tipo de Equipo
                            <input type="radio" id="origenProp2" name="origen_prop" value="2" style="display: none" disabled> Categoria de Grupo
                            <input type="radio" id="origenProp3" name="origen_prop" value="3" style="display: none" disabled> Ficha Técnica
                        </td>
                    </tr>
                    <tr id="tr_fila_origen_dato" style="display: none">
                        <td></td>
                        <td>
                            <select id="cbPropFamiliaEquipo" style=" width: 242px; display: none" disabled>
                                <option value="-2">-SELECCIONE-</option>
                                <option value="0">-TODOS-</option>
                                @foreach (var item in Model.ListaFamilia)
                                {
                                    <option value="@item.Famcodi">@item.Famnomb</option>
                                }
                            </select>
                            <select id="cbPropCategoriaGrupo" style=" width: 234px; display: none" disabled>
                                <option value="-2">--SELECCIONE--</option>
                                <option value="0">( TODOS )</option>
                                <option value="1">DATOS GENERALES</option>
                                @foreach (var item in Model.ListaCategoria)
                                {
                                    <option value="@item.Catecodi">@item.Catenomb</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label tdNombre" style="text-align: right">Nombre de Item:</td>
                        <td class="tbform-control tdNombre" style="padding-left: 0px;">
                            <input type="text" id="frmPropNomb" value="" style="width: 250px;" autocomplete=off />
                        </td>
                        <td class="tbform-label" style="text-align: right">Propiedad:</td>
                        <td style="padding-left: 0px;">
                            <input type="hidden" id="hfCodigoPropiedad" />
                            <input type="hidden" id="hfDescPropiedad" />
                            <input type="hidden" id="hfItemUnidad" />
                            <input type="hidden" id="hfItemTipo" />
                            <input type="hidden" id="hfDescFT" />
                            <input type="text" id="descripcionPropiedad" readonly style="width: 250px" disabled />
                        </td>

                    </tr>
                    <tr>
                        <td class="tbform-label tdNombreFT" style="text-align: right">Nombre Ficha Técnica:</td>
                        <td class="tbform-control tdNombreFT" style="padding-left: 0px; padding-right: 0px;" colspan="3">
                            <input type="text" id="nombFichaTec" value="" style="width: 658px;" autocomplete=off disabled />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="tab-container_propiedad" class='tab-container' style=" margin-top: 10px;">
            <ul class='etabs'>
                <li class='tab active' id="tab_vistaItemProp"><a href="#vistaItemProp">Propiedad</a></li>
                <li class='tab' id="tab_nota"><a href="#vistaItemNota">Notas</a></li>
            </ul>
            <div class='panel-container'>
                <div id="vistaItemProp">
                    <div id="div_tabla_eq_propiedad" style="display: none; width: 1000px">
                    </div>

                    <div id="div_tabla_pr_concepto" style="display: none; width: 1000px">
                    </div>

                    <div id="div_tabla_ft_propiedad" style="display: none">
                        <table id='tabla_ft_propiedad' class='pretty tabla-icono'>
                            <thead>
                                <tr>
                                    <th width='12%'>Código</th>
                                    <th width='24%'>Nombre</th>
                                    <th width='24%'>Definición</th>
                                    <th width='6%'>Unidad</th>
                                    <th width='6%'>Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaFichaPropiedad)
                                {
                                    <tr onclick="seleccionarFtPropiedad(@item.Ftpropcodi, '@item.Ftpropnomb','@item.Ftpropdefinicion', '@item.Ftpropunidad', '@item.Ftproptipo')"
                                        style="cursor: pointer;">
                                        <td>@item.Ftpropcodi</td>
                                        <td>@item.Ftpropnomb</td>
                                        <td>@item.Ftpropdefinicion</td>
                                        <td>@item.Ftpropunidad</td>
                                        <td>@item.Ftproptipo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="vistaItemNota">
                    <div id="div_tabla_ft_item_nota" style="display: none">
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both; height:20px"></div>
        <table style="width:200px;">
            <tr>
                <td id="tdPropGuardar">
                    <input id="btnPropGuardar" type="button" value="Guardar">
                </td>
                <td id="tdAgrpCancelar">
                    <input id="btnPropCancelar" type="button" value="Cancelar">
                </td>
            </tr>
        </table>
    </div>
</div>
