@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" id="tabla">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Ficha Técnica</th>
            <th colspan="3" class="ficha_padre">Ficha Técnica Padre</th>
            <th colspan="2">Última modificación</th>
            <th></th>
        </tr>
        <tr>
            <th style="width: 120px">Acciones</th>
            <th style="width: 50px">Código</th>
            <th style="width: 50px">Oficial</th>
            <th style="width: 150px">Origen</th>
            <th style="width: 240px">Tipo</th>
            <th style="width: 400px">Nombre</th>
            <th style="width: 150px" class="ficha_padre">Origen</th>
            <th style="width: 240px" class="ficha_padre">Tipo</th>
            <th style="width: 330px" class="ficha_padre">Nombre</th>
            <th style="width: 120px">Usuario</th>
            <th style="width: 120px">Fecha</th>
            <th style="width: 120px">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaFichaTecnica)
        {
            string claseFila = "";
            if (item.Ftecprincipal == 1) { claseFila = "clase_principal"; }
            if (item.Fteqestado == "B" || item.Fteqestado == "X") { claseFila = "clase_eliminado"; }
            
            <tr class="@claseFila">
                <td style="width: 120px">
                    <a href="JavaScript:verFichaTecnica(@item.Fteqcodi);" title="Ver Ficha Tecnica"><img src="~/Content/Images/btn-open.png" alt="Ver Ficha Tecnica" /></a>
                    <a href="JavaScript:editarFichaTecnica(@item.Fteqcodi);" title="Editar Ficha Tecnica"><img src="~/Content/Images/btn-edit.png" alt="Editar Ficha Tecnica" /></a>
                    <a href="JavaScript:eliminarFichaTecnica(@item.Fteqcodi);" title="Copiar Ficha Tecnica"><img src="~/Content/Images/copiar.png" alt="Copiar Ficha Tecnica" /></a>
                    <a href="JavaScript:eliminarFichaTecnica(@item.Fteqcodi);" title="Eliminar Ficha Tecnica"><img src="~/Content/Images/Trash.png" alt="Eliminar Ficha Tecnica" /></a>
                </td>
                <td style="text-align: center">@item.Fteqcodi</td>
                <td style="text-align: center">@item.FtecprincipalDesc</td>
                <td>@item.OrigenDesc</td>
                <td class="ficha_tipo">@item.OrigenTipoDesc</td>
                <td class="ficha_nombre">@item.Fteqnombre</td>
                <td class="ficha_padre">@item.OrigenPadreDesc</td>
                <td class="ficha_padre">@item.OrigenPadreTipoDesc</td>
                <td class="ficha_padre">@item.Fteqnombrepadre</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
                <td>@item.FteqestadoDesc</td>
            </tr>
        }
    </tbody>
</table>