@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel

<div style="clear:both; height:15px"></div>
<table id="tablaListadoNota" border="0" class="pretty tabla-icono" cellspacing="0" id="tabla">
    <thead>
        <tr>
            <th style="width: 70px">Acciones</th>
            <th style="width: 80px">Número</th>
            <th style="width: 250px">Descripción</th>
            <th style="width: 120px">Usuario</th>
            <th style="width: 120px">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaNota)
        {
            <tr>
                <td>
                    <a href="JavaScript:editarNota(@item.Ftnotacodi,@item.Ftnotanum, '@item.Ftnotdesc');" title="Editar Nota"><img src="~/Content/Images/btn-edit.png" alt="Editar Nota" /></a>
                    <a href="JavaScript:eliminarNota(@item.Ftnotacodi);" title="Eliminar Nota"><img src="~/Content/Images/Trash.png" alt="Eliminar Nota" /></a>
                </td>
                <td>@item.Ftnotanum</td>
                <td class="desc">@item.Ftnotdesc</td>
                <td>@item.UltimaModificacionUsuarioDesc</td>
                <td>@item.UltimaModificacionFechaDesc</td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" id="hfJsonNotaLista" value='@Model.NotaJson' />