@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel

<div class="search-content" style="padding:10px; margin-bottom:15px">

    <div id="mensaje2" class="action-alert" style="margin:0; margin-bottom:10px" hidden>Por Favor complete los datos solicitados</div>

    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="text-align: right">Nombre:</td>
            <td>
                <input type="text" id="txtNombre" style="width: 260px" disabled autocomplete="off" />
            </td>

            <td class="tbform-label" style="text-align: right">Oficial:</td>
            <td>
                <input type="checkbox" id="chkPrincipal" disabled style="margin-top: 5px;">
            </td>

            <td class="tr_ambiente tbform-label" style="text-align: right; display: none">Ambiente:</td>
            <td class="tr_ambiente" style="display: none">
                <select id="cbAmbiente" style="width:150px" disabled>
                    <option value="0">--SELECCIONE--</option>
                    <option value="1">Portal Web FT</option>
                    <option value="2">Extranet FT</option>
                    <option value="3">Total FT (Intranet)</option>
                </select>
            </td>

            <td class="tr_estado tbform-label" style="text-align: right; display: none">Estado:</td>
            <td class="tr_estado" style="display: none">
                <select id="cbEstado" style="width:120px" disabled>
                    @foreach (var item in Model.ListaEstado)
                    {
                        <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                    }
                </select>
            </td>
        </tr>
    </table>
</div>

<table>
    <tbody>
        <tr>
            <td class="tbfiltroFT" style=" vertical-align: top; padding-right: 10px;">
                No Seleccionadas:
            </td>
            <td></td>
            <td class="tbfiltroFT" style=" vertical-align: top; padding-right: 10px;">
                Seleccionadas:
            </td>
        </tr>
        <tr>
            <td rowspan="3" class="tbfiltroFT">
                <select id="lbTeamA" size="10" style="width:410px" multiple disabled>
                    @foreach (var item in Model.ListaFichaTecnicaNoSelec)
                    {
                        <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                    }
                </select>
            </td>
            <td rowspan="3" class="tbfiltroFT" style="text-align: center; width: 8%; display: none">
                <input type="button" id="btnMoveRight" value=">" style="width: 30px; text-align: center;" /><br />
                <input type="button" id="btnMoveAllRight" value=">>" style="width: 30px; text-align: center; " /><br />
                <input type="button" id="btnMoveLeft" value="<" style="width: 30px; text-align: center; " /><br />
                <input type="button" id="btnMoveAllLeft" value="<<" style="width: 30px; text-align: center; " /><br />
            </td>

            <td rowspan="3" class="tbfiltroFT" style="width: 46px">
                <select id="lbTeamB" size="10" style="width:410px" multiple="multiple">
                    @foreach (var item in Model.ListaFichaTecnicaSelec)
                    {
                        <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                    }
                </select>
            </td>
        </tr>
    </tbody>
</table>

<div style="clear:both; height:20px"></div>
<table style="width:200px;">
    <tr>
        <td id="tdGuardar" style="display: none">
            <input id="btnGuardar" type="button" value="Guardar">
        </td>
    </tr>
</table>

<input type="hidden" id="hfNombre" value="@Model.FichaMaestra.Ftecnombre" />
<input type="hidden" id="hfEstado" value="@Model.FichaMaestra.Ftecestado" />
<input type="hidden" id="hfAmbiente" value="@Model.FichaMaestra.Ftecambiente" />
<input type="hidden" id="hfIdMaestra" value="@Model.FichaMaestra.Fteccodi" />
<input type="hidden" id="hfPrincipal" value="@Model.FichaMaestra.Ftecprincipal" />