@model  COES.MVC.Intranet.Areas.Monitoreo.Models.ParametroModel
<script>
    $(function () {
        $('#btnActualizarParametroHHI').click(function () {
            actualizarParametroHHI();
        });

        $("#cbEstadoParametroHHI").val($("#hfEstado").val());
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfHHITendenciaCeroCodi" value="@Model.ParametroHHI.SiParvcodiTendenciaCero" />
        <input type="hidden" id="hfHHITendenciaUnoCodi" value="@Model.ParametroHHI.SiParvcodiTendenciaUno" />
        <input type="hidden" id="hfEstado" value="@Model.ParametroHHI.Estado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
                <td class="tbform-control">
                    @Model.ParametroHHI.FechaFormato
                </td>
            </tr>
            <tr>
                <td class="tbform-label">A Cero:</td>
                <td class="tbform-control">
                    <input type="text" id="HHITendenciaCeroParametroHHIEdit" value="@Model.ParametroHHI.HHITendenciaCero" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">A Uno:</td>
                <td class="tbform-control">
                    <input type="text" id="HHITendenciaUnoParametroHHIEdit" value="@Model.ParametroHHI.HHITendenciaUno" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoParametroHHI">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizarParametroHHI">
</div>