@model  COES.MVC.Intranet.Areas.Monitoreo.Models.ParametroModel

<div style="max-width: 716px; margin: 0 auto; margin-top: 20px">
    <!-- listado -->
    <table id="reporteHHI" class="tabla-formulario" style="max-width: 700px;">
        <thead>
            <tr>
                <th style="width: 50px">Opciones</th>
                <th style="width: 100px">Fecha de inicio de Vigencia</th>
                <th style="width: 100px; background-color: #3CBC8D;">A Cero</th>
                <th style="width: 100px; background-color: #FF022C;">A Uno</th>
                <th style="width: 100px">Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var hp in Model.ListaParametroHHI)
                {
                    <tr class="@hp.ClaseFila">
                        <td style="text-align: center;">
                            <a href="JavaScript:verTendenciaHHI(@hp.SiParvcodiTendenciaCero, @hp.SiParvcodiTendenciaUno);" title="Mostrar Tendencia"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            <a href="JavaScript:editarTendenciaHHI(@hp.SiParvcodiTendenciaCero, @hp.SiParvcodiTendenciaUno)" title="Editar Tendencia"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                        </td>
                        <td style="text-align:center;">@hp.FechaFormato</td>
                        <td style="text-align: center">@hp.HHITendenciaCero</td>
                        <td style="text-align: center">@hp.HHITendenciaUno</td>
                        <td style="text-align:center;">@hp.EstadoValor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>