@model  COES.MVC.Intranet.Areas.Monitoreo.Models.ParametroModel

<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
            <td class="tbform-control">@Model.ParametroHHI.FechaFormato</td>
        </tr>
        <tr>
            <td class="tbform-label">A Cero:</td>
            <td class="tbform-control">@Model.ParametroHHI.HHITendenciaCero</td>
        </tr>
        <tr>
            <td class="tbform-label">A Uno:</td>
            <td class="tbform-control">@Model.ParametroHHI.HHITendenciaUno</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.ParametroHHI.EstadoValor</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.ParametroHHI.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.ParametroHHI.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.ParametroHHI.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.ParametroHHI.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>