@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.EmpresaModel
@{
    ViewBag.Title = "Datos de Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
    
<link href="~/Content/Css/form.css" rel="stylesheet" />
    <script src="~/Areas/RegistroIntegrante/Content/Scripts/empresa.js?v=1.16"></script>
}


<div class="form-title">
    <div class="content-titulo">Modificar Datos de Empresa</div>    
    <div class="content-botonera">
        <input type="button" id="btnEditar" value="Editar" />
        <input type="button" id="btnCancelar" value="Cancelar" style="display:none" />
        <input type="button" id="btnGrabar" value="Grabar" style="display:none" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    
    <div id="divRegistro">
        <div id="mensaje" class="action-message" style="display: none; width: 97.5%">Por favor complete los datos solicitados.</div>
        <form id="frmModificarEmpresa" name="frmModificarEmpresa">
            <div class="content-registro">

                <table style="width:auto">
                    <tr>
                        <td class="registro-label">Número de RUC:</td>
                        <td class="registro-control">
                            <input type="text" id="txtNumeroRuc" class=" " style="width:300px" value="@Model.Emprruc" maxlength="11" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Nombre Comercial:</td>
                        <td class="registro-control">
                            <input type="text" id="txtNombreComercial" class=" " style="width:500px" value="@Model.Emprnombrecomercial" maxlength="255" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label" style="padding-right:30px">Denominación o Razón Social:</td>
                        <td class="registro-control" style="padding-right:30px">
                            <input type="text" id="txtDenominacionRazonSocial" class=" " style="width:500px" value="@Model.Emprrazsocial" maxlength="255" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Domicilio Legal:</td>
                        <td class="registro-control">
                            <input type="text" id="txtDomicilioLegal" class=" " style="width:500px" value="@Model.Emprdomiciliolegal" maxlength="255" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Sigla:</td>
                        <td class="registro-control">
                            <input type="text" id="txtSigla" class=" " style="width:150px" value="@Model.Emprsigla" maxlength="5" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Número de Partida Registral:</td>
                        <td class="registro-control">
                            <input type="text" id="txtNumeroPartidaRegistral" class=" " style="width:300px" value="@Model.Emprnumpartidareg" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Teléfono:</td>
                        <td class="registro-control">
                            <input type="text" id="txtTelefono" class=" " style="width:300px" value="@Model.Emprtelefono" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Fax:</td>
                        <td class="registro-control">
                            <input type="text" id="txtFax" class=" " style="width:300px" value="@Model.Emprfax" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Página Web:</td>
                        <td class="registro-control">
                            <input type="text" id="txtPaginaWeb" class=" " style="width:500px" value="@Model.Emprpagweb" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Nro registro:</td>
                        <td class="registro-control">
                            <input type="text" id="txtNroRegistro" class=" " style="width:300px" value="@Model.Emprnroregistro" maxlength="3" />
                        </td>
                    </tr>
                </table>

            </div>
</form>
    </div>
  
    <br />
</div>

<input type="hidden" id="hdfemprcodi" value="@ViewBag.emprcodi" />






