@model COES.MVC.Intranet.Areas.Mediciones.Models.FormatoModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Pto medición</th>
            <th>Indicador</th>
            <th>Central</th>
            <th>Unidad</th>
            <th style="display:none">Mínimo</th>
            <th>Máximo</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPuntos.Count > 0)
        {
            foreach (var item in Model.ListaPuntos)
            {
        <tr>
            <td>
                <a href="JavaScript:editarPunto('@item.EmprNomb', @item.Ptomedicodi,'@item.IndPorCentral','@item.Central','@item.EquiNomb','@item.Genrermin', '@item.Genrermax');"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminarPunto(@item.Ptomedicodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.EmprNomb</td>
            <td>@item.Ptomedicodi</td>
            <td>@item.IndPorCentral</td>
            <td>@item.Central</td>
            <td>@item.EquiNomb</td>
            <td style="display:none">@item.Genrermin</td>
            <td>@item.Genrermax</td>
            <td>@item.Estado</td>
            <td>@item.Userupdate</td>
            <td>
                @if (item.Fecupdate != null)
                {
                    var fecha = ((DateTime)item.Fecupdate).ToString("dd/MM/yyyy");
                    <span>@fecha</span>
                }
            </td>

        </tr>
            }
        }
    </tbody>
</table>

