@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.InformeModel
@{
    string formato = "#,##0.00";
}
<div id="tab-container" class='tab-container'>
    <ul class='etabs'>
        <li class='tab'><a href="#paso1">Cuadro 1</a></li>
        <li class='tab'><a href="#paso2">Cuadro 2</a></li>
        <li class='tab'><a href="#paso3">Cuadro 3</a></li>
        <li class='tab'><a href="#paso4">Cuadro 4</a></li>
    </ul>
    <div class='panel-container'>
        <div id="paso1">
            <table class="pretty tabla-icono" id="tabla1">
                <thead>                   
                    <tr>
                        <th>DÍA</th>
                        <th>HIDRAULICA R.</th>
                        <th>TERMICA R.</th>
                        <th>COGEN R.</th>
                        <th>RER R.</th>
                        <th>IMPORT. R</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int contador = 1;
                        foreach (double[] item in Model.Cuadro1)
                        { 
                            <tr>                        
                                <td>@contador</td>
                                <td>@item[0].ToString(formato)</td>
                                <td>@item[1].ToString(formato)</td>
                                <td>@item[2].ToString(formato)</td>
                                <td>@item[3].ToString(formato)</td>
                                <td>@item[4].ToString(formato)</td>
                                <td>@((item[0] + item[1] + item[2] + item[3] + item[4]).ToString(formato))</td>
                            </tr>
                            contador++;
                        }
                    }                   
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align:center">TOTAL</th>
                        <th style="text-align:center">@(Model.Cuadro1.Select(x => x[0]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro1.Select(x => x[1]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro1.Select(x => x[2]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro1.Select(x => x[3]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro1.Select(x => x[4]).Sum().ToString(formato))</th>
                        <th style="text-align:center">
                            @((
                                Model.Cuadro1.Select(x => x[0]).Sum() +
                                Model.Cuadro1.Select(x => x[1]).Sum() +
                                Model.Cuadro1.Select(x => x[2]).Sum() +
                                Model.Cuadro1.Select(x => x[3]).Sum() +
                                Model.Cuadro1.Select(x => x[4]).Sum()).ToString(formato))
                    </th>

                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="paso2">
            <table id="tabla2" class="pretty tabla-icono">
                <thead>                    
                    <tr>
                        <th>DÍA</th>
                        <th>GAS R.</th>
                        <th>CARBON R.</th>
                        <th>RESIDUAL R.</th>
                        <th>DIESEL R.</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int contador2 = 1;
                        foreach (double[] item in Model.Cuadro2)
                        {
                            <tr>
                                <td>@contador2</td>
                                <td>@item[0].ToString(formato)</td>
                                <td>@item[1].ToString(formato)</td>
                                <td>@item[2].ToString(formato)</td>
                                <td>@item[3].ToString(formato)</td>                                
                                <td>@((item[0] + item[1] + item[2] + item[3]).ToString(formato))</td>
                            </tr>
                            contador2++;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align:center">TOTAL</th>
                        <th style="text-align:center">@(Model.Cuadro2.Select(x => x[0]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro2.Select(x => x[1]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro2.Select(x => x[2]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro2.Select(x => x[3]).Sum().ToString(formato))</th>                        
                        <th style="text-align:center">
                            @(
                                (Model.Cuadro2.Select(x => x[0]).Sum() +
                                Model.Cuadro2.Select(x => x[1]).Sum() +
                                Model.Cuadro2.Select(x => x[2]).Sum() +
                                Model.Cuadro2.Select(x => x[3]).Sum()).ToString(formato))
                        </th>

                </tr>
            </tfoot>

            </table>
        </div>
        <div id="paso3">
            <table id="tabla3" class="pretty tabla-icono">
                <thead>                   
                    <tr>
                        <th>DÍA</th>
                        <th>BAGAZO R.</th>
                        <th>BIOGAS R.</th>
                        <th>SOLAR R.</th>
                        <th>EÓLICA R.</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int contador3 = 1;
                        foreach (double[] item in Model.Cuadro3)
                        {
                            <tr>
                                <td>@contador3</td>
                                <td>@item[0].ToString(formato)</td>
                                <td>@item[1].ToString(formato)</td>
                                <td>@item[2].ToString(formato)</td>
                                <td>@item[3].ToString(formato)</td>
                                <td>@((item[0] + item[1] + item[2] + item[3]).ToString(formato))</td>
                            </tr>
                            contador3++;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align:center">TOTAL</th>
                        <th style="text-align:center">@(Model.Cuadro3.Select(x => x[0]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro3.Select(x => x[1]).Sum().ToString(formato))</th>
                        <th style="text-align:center">@(Model.Cuadro3.Select(x => x[2]).Sum().ToString(formato))</th>
                        <th style ="text-align:center">@(Model.Cuadro3.Select(x => x[3]).Sum().ToString(formato))</thstyle>
                        <th style="text-align:center">
                            @(
                                (Model.Cuadro3.Select(x => x[0]).Sum() +
                                Model.Cuadro3.Select(x => x[1]).Sum() +
                                Model.Cuadro3.Select(x => x[2]).Sum() +
                                Model.Cuadro3.Select(x => x[3]).Sum()).ToString(formato))
                        </th>

                    </tr>
                </tfoot>

            </table>
        </div>
        <div id="paso4">   
                
            <div class="search-content" style="margin-bottom:10px">

                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Dia inicio:</td>
                        <td>
                            <select id="cbDiaInicio">
                                @for (int i = 1; i <= Model.NroDias; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </td>
                        <td>Dia fin:</td>
                        <td>
                            <select id="cbDiaFin">
                                @for (int i = 1; i <= Model.NroDias; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input type="hidden" id="hfDiaFin" value="@Model.NroDias" />
                        </td>
                        <td>
                            <input type="button" id="btnComparativo" value="Comparativo" />
                        </td>
                    </tr>
                </table>

            </div>

            <div id="comparativo">
            </div>
        </div>
    </div>
</div>