@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.ReporteModel
@using COES.Servicios.Aplicacion.RegistroIntegrantes;
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            @*<th>Nro</th>
        <th>Estado</th>
        <th>Tipo Empresa</th>*@
            <th>RUC</th>
            <th>Sigla</th>
            <th>Razón Social</th>
            <th>Nombre Comercial</th>
            <th>Tipo</th>
            <th>Tipo Representante</th>
            <th>Representante Legal</th>
            @*<th>Nro Documento Identidad</th>*@
            <th>Cargo Empresa</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Celular</th>
            @*<th>Estado Baja</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntegrantes)
        {
        <tr>
            @*<td>
            @item.Emprcodi
        </td>
        <td>@item.Emprestado</td>
        <td>@item.Tipoemprdesc</td>*@
            <td>@item.Emprruc</td>
            <td>@item.Emprsigla</td>
            <td>@item.Emprrazsocial</td>
            <td>@item.Emprnombrecomercial</td>
            <td>@item.RpteTipo</td>
            <td>@item.RpteTipRepresentanteLegal</td>
            <td>@item.RpteNombres</td>
            @*<td>@item.RpteDocIdentidad</td>*@
            <td>@item.RpteCargoEmpresa</td>
            <td>@item.RpteCorreoElectronico</td>
            <td>@item.RpteTelefono</td>
            <td>@item.RpteTelfMovil</td>
            @*@if (item.RpteBaja == ConstantesRegistroIntegrantes.RepresentanteBajaSi)
        {
            <td>SI</td>
        }
        else
        {
            <td>NO</td>
        }*@
        </tr>
        }
    </tbody>
</table>
<br />
<div style="font-size: 11px;">
    <i><b>Nota: </b>De conformidad con la Ley N°29733, Ley de Protección de Datos Personales, el titular da su consentimiento para el tratamiento de los datos personales que son facilitados en el presente formulario o por cualquier medio desde el momento de su ingreso o utilización del portal web del Comité de Operaciones Económicas del Sistema Interconectado Nacional (COES).</i>
</div>
