@model COES.MVC.Intranet.Areas.Equipamiento.Models.IndexEquipoModel
@{
    ViewBag.Title = "Listado de equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/IndexEquipoPropiedad.js"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Propiedades de equipos</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar Plantilla" />

        @if (Model.TienePermiso)
        {
            <input type="button" id="btnImportar" value="Importar Plantilla" />
        }
        <input type="button" id="btnExportarReporte" value="Exportar Reporte" />
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnImportarReporte" value="Importar Reporte" />
        }
    </div>
</div>
<div class="content-hijo" id="mainLayout">


    @using (Html.BeginForm("", "Equipo", FormMethod.Post, new { @class = "form-search", name = "frmBusquedaEquipo", id = "frmBusquedaEquipo" }))
    {
        <input id="hdnEnableEdit" type="hidden" value="@Model.EnableEditar" name="EnableEditar" />
        <input id="hdnEnableNuevo" type="hidden" value="@Model.EnableNuevo" name="EnableNuevo" />
        <input type="hidden" id="exportacionTipo" name="TipoExportacion" />
        <div class="search-content" style="margin-bottom:0">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td class="tbform-label">Tipo de empresa:</td>
                    <td>
                        <select id="cbTipoEmpresa" name="iTipoEmpresa">
                            <option value="-2">-TODOS-</option>
                            @foreach (var item in Model.ListaTipoEmpresa)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                    </td>

                    <td class="tbform-label">Empresa:</td>
                    <td>
                        <select id="cbEmpresa" name="iEmpresa">
                            <option value="-2">-TODOS-</option>
                        </select>
                    </td>
                    <td class="tbform-label">Tipo equipo:</td>
                    <td>
                        <select id="cbTipoEquipo" name="iTipoEquipo">
                            @foreach (var item in Model.ListaTipoEquipo)
                            {
                                <option value="@item.Famcodi">@item.Famnomb</option>
                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="tbform-label">Estado:</td>
                    <td>
                        <select id="cbEstado" name="sEstadoCodi">
                            @foreach (var item in Model.ListaEstados)
                            {
                                <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                            }
                        </select>
                    </td>
                    <td class="tbform-label">Código de Equipo:</td>
                    <td>
                        <input type="text" id="txtCodigoEquipo" name="CodigoEquipo" value="@Model.CodigoEquipo" />
                    </td>
                    <td class="tbform-label">Nombre de equipo:</td>
                    <td><input type="text" id="txtNombreEquipo" name="NombreEquipo" value="@Model.NombreEquipo" /></td>
                </tr>
            </table>
            <div id="mensaje" style="width:300px; margin:0"></div>
        </div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    }
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<!--popup tipo de exportación -->
<div id="popupExportarReporte" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Exportar Reporte</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaExportar">
            <div class="content-tabla">

                <div style="width:250px; padding-left: 50px;">
                    <div style="width:250px; padding-top:30px;">
                        <div style="width:80px; float:left;">
                            Tipo Exportación:
                        </div>
                        <div style="width:150px; float:left;">
                            <select id="tipoExportar" name="" style="width:138px">
                                <option value="0" selected> -- Seleccione Tipo --</option>
                                <option value="1">Ficha técnica</option>
                                <option value="2">Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="width:250px; text-align:center; padding:30px; padding-top:60px;">

                    <div style="width:250px;">
                        <input type="button" id="btnExportarReporte2" value="Exportar" />
                        <input type="button" id="btnCancelarExportacion" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

