@model COES.MVC.Intranet.Areas.Equipamiento.Models.IndexEquipoModel
<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<div style="clear:both; height:10px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Tipo de Equipo</th>
            <th>Ubicación</th>
            <th>Nombre de equipo</th>
            <th>Abreviatura</th>
            <th>Estado</th>
            @*<th>Editar</th>
            <th>Propiedades</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoEquipamiento)
        {
            <tr>
                <td style="@item.Osigrupocodi">@item.EMPRNOMB</td>
                <td style="@item.Osigrupocodi">@item.Famnomb</td>
                <td style="@item.Osigrupocodi">@item.AREANOMB</td>
                <td style="@item.Osigrupocodi">@item.Equinomb</td>
                <td style="@item.Osigrupocodi">@item.Equiabrev</td>
                <td style="@item.Osigrupocodi">@item.EstadoDesc</td>
            </tr>
        }
    </tbody>
</table>
