@model COES.MVC.Intranet.Areas.ServicioRPF.Models.EquivalenciaModel
<div class="content-registro">
        
    <div class="action-message" id="mensajeEdicion">Por seleccione los puntos</div>

    <table style="width:100%">
        <tr>
            <td class="registro-label">Empresa:</td>
            <td class="registro-control">@Model.Empresa</td>
            <td class="registro-label">Central:</td>
            <td class="registro-control">@Model.Central</td>
        </tr>
    </table>

    <div style="clear:both; height:15px"></div>

    <table>
        <tr>
            <td valign="top" style="width:400px">
                <table class="pretty tabla-icono" id="tableRpf">
                    <thead>
                        <tr>
                            <th colspan="4" style="background-color:#61c13a">PUNTOS SERVICIO RPF</th>
                        </tr>
                        <tr>
                            <th>Pto medición</th>
                            <th>Equipo</th>
                            <th>Abreviatura</th>
                            <th>
                                <input type="checkbox" id="cbAllRpf" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaServicioRpf)
                        {
                            <tr>
                                <td>@item.Ptomedicodi</td>
                                <td>@item.Equinomb</td>
                                <td>@item.Equiabrev</td>
                                <td>
                                    @if (item.Seleccion == 0)
                                    {
                                        <input type="checkbox" id="cbRpf" value="@item.Ptomedicodi" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cbRpf" value="@item.Ptomedicodi"  checked="checked" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </td>
            <td valign="top" style="width:400px">
                <table class="pretty tabla-icono" id="tableDespacho">
                    <thead>
                        <tr>
                            <th colspan="4" style="background-color: rgb(239, 164, 8)">PUNTOS DESPACHO EJECUTADO</th>
                        </tr>
                        <tr>
                            <th>Pto medición</th>
                            <th>Equipo</th>
                            <th>Abreviatura</th>
                            <th>
                                <input type="checkbox" id="cbAllDespacho" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaDespacho)
                        {
                            <tr>
                                <td>@item.Ptomedicodi</td>
                                <td>@item.Equinomb</td>
                                <td>@item.Equiabrev</td>
                                <td>
                                    @if (item.Seleccion == 0)
                                    {
                                        <input type="checkbox" id="cbDespacho" value="@item.Ptomedicodi" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cbDespacho" value="@item.Ptomedicodi" checked="checked" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</div>

<div style="width:200px; margin:auto;margin-top:20px; text-align:center">
    <input type="button" id="btnGrabar" value="Grabar" />
    <input type="button" id="btnCancelar" value="Cancelar" />
</div>

<input type="hidden" id="hfIdCentral" value="@Model.IdCentral" />
