@model COES.MVC.Intranet.Areas.Admin.Models.RepresentanteModel
<link href="~/Areas/Admin/Content/css.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#cbEstado').val($('#hfEstado').val());
        $('#cbEmpresa').val($('#hfEmpresa').val());
    });
</script>

<div class="action-message" id="mensajeEdit">Por favor complete los datos</div>
<div class="content-registro" >

    @{
        string ronly = "";
        if (Model.Entidad.UserCode != 0) {
            ronly = "readonly=readonly";
        }
        
    }

    <form id="frmRegistro" name="frmRegistro">
        <table style="width:100%">
            <tr>
                <td class="registro-label" style="width:170px">Nombre y Apellido:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombre" value="@Model.Entidad.UsernName" name="Nombre" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Correo electrónico:</td>
                <td class="registro-control">
                    <input type="text" id="txtCorreo" value="@Model.Entidad.UserLogin" name="Email" @ronly />
                </td>
            </tr>
            <tr style="display:none">
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado" name="Estado">
                        <option value="">-Seleccione-</option>
                        <option value="A">Activo</option>
                        <option value="P">Pendiente</option>
                        <option value="B">Baja</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.UserState" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresa" name="EmpresaId">
                        <option value="">-Seleccione</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" value="@Model.Entidad.EmprCodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Teléfono:</td>
                <td class="registro-control">
                    <input type="text" id="txtTelefono" value="@Model.Entidad.UserTlf" name="Telefono" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Área laboral:</td>
                <td class="registro-control">
                    <input type="text" id="txtAreaLaboral" value="@Model.Entidad.AreaLaboral" name="AreaLaboral" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Cargo:</td>
                <td class="registro-control">
                    <input type="text" id="txtCargo" value="@Model.Entidad.UserCargo" name="Cargo" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Motivo de contacto:</td>
                <td class="registro-control">
                    <textarea id="txtMotivo" style="width:215px; height:40px" rows="4" cols="40" name="MotivoContacto">@Model.Entidad.MotivoContacto</textarea>
                </td>
            </tr>        
        </table>
        <div style="width:140px; margin:auto; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
        <input type="hidden" id="hfIdUsuario" value="@Model.Entidad.UserCode" name="UserCode" />
    </form>
    
    <div class="popup-title"><span>Datos de Auditoría</span></div>
    <div style="clear:both; height:15px;"></div>
    <table style="width:100%">
        <tr>
            <td class="registro-label">Creado por:</td>
            <td class="registro-control">@Model.Entidad.UserUCreacion</td>
            <td class="registro-label">Fecha creación:</td>
            <td class="registro-control">
                @if (Model.Entidad.UserFCreacion != null)
                {
                    <span>@(((DateTime)Model.Entidad.UserFCreacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
        <tr>
            <td class="registro-label">Actualizado por:</td>
            <td class="registro-control">@Model.Entidad.LastUser</td>
            <td class="registro-label">Fecha actualización</td>
            <td class="registro-control">
                @if (Model.Entidad.LastDate != null)
                {
                    <span>@(((DateTime)Model.Entidad.LastDate).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
    </table>
</div>
