@model COES.MVC.Intranet.Areas.Admin.Models.RepresentanteModel
<link href="~/Areas/Admin/Content/css.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<script type="text/javascript" charset="utf-8">
       
    $(document).ready(function () {
        $('#cbEstado').val($('#hfEstado').val());        
        $('#cbEmpresaEdit').val($('#hfEmpresaEdit').val());
        //cargarEmpresas();

        $('#cbSelectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });

</script>

<div class="action-message" id="mensajeEdit" style="margin-bottom:5px">Por favor complete los datos</div>
<div class="content-registro" style="margin-top:0">
    @{
        string ronly = "";
        if (Model.Entidad.UserCode != 0)
        {
            ronly = "readonly=readonly";
        }
    }

    <form id="frmRegistro" name="frmRegistro">       
        <table>
            <tr>
                <td style="width:49%" valign="top">
                    <div class="popup-title"><span>Datos del Usuario</span></div>
                    <div style="clear:both; height:10px"></div>

                    <table style="width:100%">
                        <tr>
                            <td class="registro-label" style="width:170px">Nombre y Apellido:</td>
                            <td class="registro-control" style="padding-right:20px">
                                <input type="text" id="txtNombre" value="@Model.Entidad.UsernName" name="Nombre" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Correo electrónico:</td>
                            <td class="registro-control">
                                <input type="text" id="txtCorreo" value="@Model.Entidad.UserLogin" name="Email" @ronly />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Estado:</td>
                            <td class="registro-control">
                                <select id="cbEstado" name="Estado">
                                    <option value="">-Seleccione-</option>
                                    <option value="A">Activo</option>
                                    <option value="P">Pendiente</option>
                                    <option value="B">Baja</option>
                                </select>
                                <input type="hidden" id="hfEstado" value="@Model.Entidad.UserState" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Empresa:</td>
                            <td class="registro-control">
                                <select id='cbEmpresaEdit' name="EmpresaId">
                                    <option value="">--Seleccione--</option>
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                                    }
                                </select>
                                <input type="hidden" id="hfEmpresaEdit" value="@Model.Entidad.EmprCodi" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Teléfono:</td>
                            <td class="registro-control">
                                <input type="text" id="txtTelefono" value="@Model.Entidad.UserTlf" name="Telefono" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Celular:</td>
                            <td class="registro-control">
                                <input type="text" id="txtCelular" value="@Model.Entidad.Usermovil" name="Celular" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Área laboral:</td>
                            <td class="registro-control">
                                <input type="text" id="txtAreaLaboral" value="@Model.Entidad.AreaLaboral" name="AreaLaboral" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Cargo:</td>
                            <td class="registro-control">
                                <input type="text" id="txtCargo" value="@Model.Entidad.UserCargo" name="Cargo" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Motivo de contacto:</td>
                            <td class="registro-control">
                                <textarea id="txtMotivo" style="width:215px; height:40px" rows="4" cols="40" name="MotivoContacto">@Model.Entidad.MotivoContacto</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Lectura y Escritura:</td>
                            <td class="registro-control">
                                @if (@Model.Permiso > 0)
                                {
                                    <input type="checkbox" id="cbSelectLE" checked="checked" value="@Model.Permiso" name="Permiso" />
                                }
                                else
                                {
                                    <input type="checkbox" id="cbSelectLE" value="@Model.Permiso" name="Permiso" />
                                }
                            </td>
                        </tr>
                    </table>
                    
                    <input type="hidden" id="hfIdUsuario" value="@Model.Entidad.UserCode" name="UserCode" />
                    <input type="hidden" id="hfModulos" name="Modulos" />


                    <div class="popup-title"><span>Datos de Auditoría</span></div>
                    <div style="clear:both; height:15px;"></div>
                    <table style="width:100%">
                        <tr>
                            <td class="registro-label">Creado por:</td>
                            <td class="registro-control">@Model.Entidad.UserUCreacion</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Fecha creación:</td>
                            <td class="registro-control">@Model.Entidad.UserFCreacion</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Actualizado por:</td>
                            <td class="registro-control">@Model.Entidad.LastUser</td>
                        </tr>
                        <tr>
                            <td class="registro-label">Fecha actualización</td>
                            <td class="registro-control">@Model.Entidad.LastDate</td>
                        </tr>
                    </table>
                </td>
                <td style="width:2%"></td>
                <td style="width:49%" valign="top">
                    <div class="popup-title"><span>Módulos a los que accede</span></div>
                    <div style="clear:both; height:15px"></div>
                    <table class="pretty tabla-icono" id="tablaModulos">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="cbSelectAll" />
                                </th>
                                <th>Módulo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaModulo)
                            {
                                <tr>
                                    <td>
                                        @if (item.Selected > 0)
                                        {
                                            <input type="checkbox" checked="checked" id="cbSelect" value="@item.ModCodi" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="cbSelect" value="@item.ModCodi" />
                                        }

                                        <!-- REQ 2023-003410: Ocultar opción - Rechazo de Carga -->
                                        @if (@item.ModCodi == 21)
                                        {
                                            <script>

                                            $(document).ready(function () {

                                                 $('#cbSelect[value="@item.ModCodi"]').prop('disabled', true);
                                                 $('#cbSelect[value="@item.ModCodi"]').prop('checked', false);

                                            });
                                            </script>
                                        }

                                    </td>
                                    <td>@item.ModNombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="clear:both; height:15px"></div>
                    <div class="popup-title"><span>Empresas donde carga</span></div>
                    <div style="clear:both; height:15px"></div>
                    Seleccione empresa:

                    <select id='cbEmpresaAdd'>
                        <option value="">--Agregue empresa--</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                        }
                    </select>
                    <input type="button" id="btnAddEmpresa" value="Agregar" />

                    <div style="clear:both; height:15px"></div>
                    <div id="empresa-selected">
						<table border="0" class="pretty tabla-icono" id="tablaEmpresa">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ListaEmpresaSeleccionado != null && Model.ListaEmpresaSeleccionado.Count() > 0)
                                {
                                    foreach (var item in Model.ListaEmpresaSeleccionado)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.EMPRNOMB)</td>
                                            <td>
                                                <a href="JavaScript:removeEmpresa(@item.EMPRCODI)">

                                                    <img src="~/Content/Images/btn-cancel.png" />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
        </table>
        <div style="width:140px; margin:auto; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </form>
</div>
