@model COES.MVC.Intranet.Areas.Admin.Models.RepresentanteModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>            
            <th>Empresa</th>
            <th>Login</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Cargo</th>                       
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaUsuarios.Count > 0)
        {
            foreach (var item in Model.ListaUsuarios)
            {
                <tr>                   
                    <td>@item.EmpresaNombre</td>
                    <td>@item.UserLogin</td>
                    <td>@item.UsernName</td>
                    <td>@item.UserEmail</td>
                    <td>@item.UserTlf</td>
                    <td>@item.UserCargo</td>
                </tr>
            }
        }
    </tbody>
</table>