@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CopiarInformacionModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var lista_equipos_origen = (IEnumerable<SelectListItem>)TempData["ListaEquiposOrigen"];
    var lista_equipos_destino = (IEnumerable<SelectListItem>)TempData["ListaEquiposDestino"];
}
<link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
<link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/CopiarInformacion.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "CopiarInformacion", FormMethod.Post, new { id = "frmCopiarInformacion", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Entidad.UsuarioCreacion", User.Identity.Name)
    @Html.Hidden("sAccion", sAccion)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Cancelar" onclick="javascript:cancelarCopiarInformacion();" alt="Cancelar" title="Retornar" />
                <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","CopiarInformacion")'" alt="Regresar" title="Regresar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5">

                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;" id="sError">

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Código")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Entidad.IdCopia, new { @class = "form-control2", required = "required", data_msg_required = "Código es requerido.", maxlength = 10, autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Entidad.IdCopia)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Equipo GPS Origen")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSCodiOrigen", @lista_equipos_origen, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSCodiOrigen", @lista_equipos_origen, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Equipo GPS Destino")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.DropDownList("Entidad.GPSCodiDest", @lista_equipos_destino, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.GPSCodiDest", @lista_equipos_destino, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Fecha Hora Inicio")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraInicio, new { @class = "formatFechaHora", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraInicio, new { @class = "formatFechaHora", @type = "datetime-local", @step = "1", onblur = "limpiarMensajeError();" })
                            }

                            @Html.ValidationMessageFor(model => model.Entidad.FechaHoraInicio)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Fecha Hora Fin")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraFin, new { @class = "formatFechaHora", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.FechaHoraFin, new { @class = "formatFechaHora", @type = "datetime-local", @step = "1", onblur = "limpiarMensajeError();" })
                            }


                            @Html.ValidationMessageFor(model => model.Entidad.FechaHoraFin)

                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Motivo")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (sAccion == "Eliminar")
                            {
                                @Html.TextBoxFor(m => m.Entidad.Motivo, new { @class = "form-control2", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Entidad.Motivo, new { @class = "form-control2" })
                            }
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmCopiarInformacion").validate({
        rules: {
            "Entidad.GPSCodiOrigen": {
                required: true
            },
            "Entidad.GPSCodiDest": {
                required: true,
            },
            "Entidad.Motivo": {
                required: true,
            },


        }
    });


</script>
<script>
    var sAccion = '@sAccion';
</script>