@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CopiarInformacionModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Equipo GPS Origen</th>
            <th>Equipo GPS Destino</th>
            <th>Fecha Hora Inicio</th>
            <th>Fecha Hora Fin</th>
            <th>Motivo</th>
            <th>Fecha Registro</th>
            <th>Usuario Registro</th>
            <th>Usuario Deshacer</th>
            <th>Fecha Deshacer</th>
            <th style="width:30px;">Deshacer</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaCopiarInformacion)
        {
        <tr id="fila_@item.IdCopia">
            <td style="font-weight:bold">@contador</td>
            <td style="text-align:left;">@item.GPSDescOrigen</td>
            <td style="text-align:left;">@item.GPSDescDestino</td>
            <td style="text-align:left;">@item.FecHoraInicio</td>
            <td style="text-align:left;">@item.FecHoraFin</td>
            <td style="text-align:left;">@item.Motivo</td>
            <td style="text-align:left;">@item.FecCrea</td>
            <td style="text-align:left;">@item.UsuarioCreacion</td>
            <td>@item.UsuarioElimina</td>
            <td>@item.FechaElimina</td>
            <td style="width:30px;">
                @if (item.FecElimina == null)
                {<a href="@Url.Action("Delete", new { id = item.IdCopia })"><img src="@Url.Content("~/Content/Images/btn-cancel.png")" title="Deshacer registro" alt="Deshacer registro" /></a>
                }
                else
                {
                    <h6>REVERTIDO</h6>
                }
            </td>
        </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>