@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RptDemandaxArea";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Areas/Migraciones/Content/Scripts/rptdemandaxarea.js?v=1.2.5"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css?v=1.2.5" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Demanda por área</div>
    <table class="content-tabla-search" style="width: auto;float:  left;font-size:  13px;" cellpadding="5">
        <tbody>
            <tr>
                <td>
                    <fieldset style="padding: 8px;padding-bottom: 6px;">
                        <input type="radio" id="rd1" name="rd" checked="checked">Horizontal
                        <input type="radio" id="rd2" name="rd">Vertical
                        <input type="button" id="btnExportar" value="Exportar">
                    </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto" cellpadding="5">
            <tr>
                <td>Tipo:</td>
                <td>
                    <select id="cbTipo" name="cbTipo" style="width:220px">
                        @foreach (var item in Model.ListaSelect)
                        {
                            <option value="@item.IdArea">@item.Roles</option>
                        }
                    </select>
                </td>
                <td id="td1">Fecha Inicio:</td>
                <td id="td2"><input type="text" id="txtFechaini" value="@Model.Fecha" /></td>
                <td id="td3">Fecha Final:</td>
                <td id="td4"><input type="text" id="txtFechafin" value="@Model.Fecha" /></td>
                <td id="td5">A&ntilde;o:</td>
                <td id="td6"><input type="text" id="txtAnio" value="@Model.Anio" /></td>
                <td id="td7">Semana Inicio:</td>
                <td id="td8"><select id="cbSemanaini"></select></td>
                <td id="td9">Semana Final:</td>
                <td id="td10"><select id="cbSemanafin"></select></td>
                <td id="td11">Mes Inicio:</td>
                <td id="td12"><input type="text" id="txtMesanioini" value="@Model.Mesanio" /></td>
                <td id="td13">Mes Final:</td>
                <td id="td14"><input type="text" id="txtMesaniofin" value="@Model.Mesanio" /></td>
                <td id="td15">A&ntilde;o Inicio:</td>
                <td id="td16"><input type="text" id="txtAnioini" value="@Model.Anio" /></td>
                <td id="td17">A&ntilde;o Final:</td>
                <td id="td18"><input type="text" id="txtAniofin" value="@Model.Anio" /></td>

                <td class="content-action">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td class="content-action" id="tdConfigRpt">
                    <input type="button" id="btnConfigurarReporte" value="Configurar reporte" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="">

        </div>
    </div>
</div>

<input type="hidden" id="hfIdReporte" value="@Model.IdReporte" />