
@model COES.MVC.Intranet.Areas.Migraciones.Models.MigracionesModel
@{
    ViewBag.Title = "Información Histórica (Semanal)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/datatable.js"></script>
<link type="text/css" rel="stylesheet" href="~/Areas/Migraciones/Content/Css/css.css?v=1.0.1" />
<script src="~/Areas/Migraciones/Content/Scripts/reporte/rpthidrologia.js?v=1.0.2"></script>

<div class="form-title" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div class="content-titulo">Información Histórica (Semanal)</div>
    <div class="content-botonera" style="display: flex; align-items: center; gap: 5px; margin-top: 6px;">
        <input type="button" id="btnConfigurarReporte" value="Configurar reporte" />
        <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; margin-top: -12px; margin-left: 6px;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; display: block; margin: 0 auto 5px;">
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>


    <div class="search-content">
        <table class="content-tabla-search" style="width:100%">
            <tr>

                <td style="width: 80px;">Fecha Desde:</td>
                <td style="width: 100px;">
                    <input type="text" id="txtFechaDesde" style=" width: 90px;" value="@Model.FechaIniSemana" />
                </td>
                <td style="width: 80px;">Fecha Hasta:</td>
                <td style="width: 130px;">
                    <input type="text" id="txtFechaHasta" style=" width: 90px;" value="@Model.FechaFinSemana" />
                </td>
                <td style="width: 80px;">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td style="float: inline-end;">
                    <input type="button" id="btnExportar" value="Exportar" />
                </td>               
            </tr>
        </table>

    </div>
    <div>
        <input type="hidden" id="hdFecIniSemana" value="@Model.FechaIniSemana" />
        <input type="hidden" id="hdFecFinSemana" value="@Model.FechaFinSemana" />
        <input type="hidden" id="hfIdReporte" value="@Model.IdReporteHidrologiaSemanal" />
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listadoHidrologiaSemanal">    </div>
    </div>
</div>

