
@model COES.MVC.Intranet.Areas.Migraciones.Models.MigracionesModel
@{
    ViewBag.Title = "Reporte de Generación - Energía MWh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/datatable.js"></script>
<link type="text/css" rel="stylesheet" href="~/Areas/Migraciones/Content/Css/css.css?v=1.0.3" />
<script src="~/Areas/Migraciones/Content/Scripts/reporte/rptproduccion.js?v=1.0.3"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Generación - Energía MWh</div>
    
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:100%">
            <tr>
                <td style="width: 50px;">Información:</td>
                <td style="width: 230px;">
                    <select id="cbInformacion" style="width:200px">
                        @foreach (var item in Model.TipoProgramacion)
                        {
                            <option value="@item.Lectcodi">@item.Lectnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hdFecIniSemana" value="@Model.FechaIniSemana" />
                    <input type="hidden" id="hdFecFinSemana" value="@Model.FechaFinSemana" />
                </td>
                <td style="width: 30px;">Inicio:</td>
                <td style="width: 100px;">
                    <input type="text" id="txtFechaIni" style=" width: 90px;" value="@Model.FechaIni" />
                </td>
                <td style="width: 30px;">Final:</td>
                <td style="width: 130px;">
                    <input type="text" id="txtFechaFin" style=" width: 90px;" value="@Model.FechaFin" />
                </td>
                <td style="width: 80px;">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td style="float: inline-end;">
                    <input type="button" id="btnExportar" value="Exportar" />
                </td>

            </tr>
        </table>

    </div>

    <div class="content-tabla">
        <div style="float: inline-end; font-weight: bold; padding-right: 45px;">
            <div id="fecMDC"></div>
        </div>
        <div id="listado1">
            <div class="table-list" id="listadoProdHidrolCoes">    </div>
        </div>
    </div>

    <div class="content-tabla" style="margin-top: 25px;">
        <div style="float: inline-end; font-weight: bold; padding-right: 45px;">
            <div id="fecMDNC"></div>
        </div>
        <div id="listado2">
            <div class="table-list" id="listadoProdHidrolNoCoes">    </div>
        </div>
    </div>

