@{
    string resultado = TempData["Resultado"].ToString();
    List<string> Lista = resultado.Split('\n').ToList();
} 
<div class="ast">
    <div class="form-title">Constancia de envio - @DateTime.Now.ToString("dd/M/yyyy hh:mm:ss tt")</div>

    <div style="padding:20px; width:800px;">
        <div class="editor-label">
            Se ha cargado la siguiente información:
            <br><br>
            @Lista[0]
            @if (Lista.Count > 1)
            {
                <br>
                @Lista[1];
                <br><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                @Lista[2];
                <br><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                @Lista[3];
                <br><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                @Lista[4];
            }
            <br><br>
        </div>
        <div class="editor-label"><a onclick="generarpdf();" class="paginate_button">Descargar constancia (PDF)</a></div>
             
    </div>
</div>
<div>
    <span class="button b-close"><span>X</span></span>
</div>