@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel
@if (Model.Resultado == -1)
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}
@{
    ViewBag.Title = "Ofertas por Día";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/messaje-operation.js"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>

<script src="~/Areas/Subastas/Content/Scripts/smaofertadiaria.js?v=1.9.4"></script>
<link href="~/Areas/Subastas/Content/Css/css.css?v=1.2" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consultas Ofertas por Día</div>
    <div class="content-botonera" style="margin-left:auto">
        <input type="button" id="btn-consultar" value="Consultar" />
        <input type="button" id="btn-exportar" value="Exportar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input id="modulo" type="hidden" name="ofertaDia" value="1" />
    <input id="hdOfercodi" type="hidden" value="0" />


    <div id="mensaje_envio" class="action-message" style="display: block; margin: 0px 0px 10px;">
        <strong>Código de envío</strong> : 911897, <strong>Fecha de envío: </strong>23/09/2020 00:33
    </div>

    <div class="search-content" style="padding-top: 5px; padding-bottom: 1px;">
        <table>
            <tr>
                <td style="vertical-align: middle;">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>
                                Fecha inicio:
                            </td>
                            <td>
                                <input type="text" id="dte-subasta-fecha" value="@ViewBag.fecha" style="width: 92px;" />
                            </td>

                            <td>
                                Fecha fin:
                            </td>
                            <td>
                                <input type="text" id="dte-subasta-fechaFin" value="@ViewBag.fechaFin" style="width:92px;" />
                            </td>

                            <td>
                                Empresa:
                            </td>
                            <td>
                                @Html.DropDownList("empresa", ViewData["empresa"] as List<SelectListItem>, new { @style = "width:150px" })
                            </td>

                            <td>
                                Usuario:
                            </td>
                            <td>
                                @Html.DropDownList("username", ViewData["username"] as List<SelectListItem>, new { @style = "width:150px" })
                            </td>

                            <td>
                                Urs:
                            </td>
                            <td>
                                @Html.DropDownList("urs", ViewData["urs"] as List<SelectListItem>, new { @style = "width:150px", multiple = "multiple" })
                            </td>
                        </tr>
                    </table>
                </td>

                <td></td>

                <td style="text-align: right;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:50%">
                                <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:5px; padding-bottom:10px; display:block" id="divAcciones">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td class="content-action">
                                                <a href="#" id="btnEnvios">
                                                    <div class="content-item-action">
                                                        <img src="~/Areas/Subastas/Content/Images/envios.png" /><br />
                                                        <span>Envíos</span>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-hijo">

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabSubir">Subir</a></li>
                <li class='tab'><a href="#tabBajar">Bajar</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabSubir">
                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-1"></div>

                        <div id="spl-subasta_1">
                            <div>
                                <div id="hst-subasta-ingreso-subir"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabBajar" style="">
                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-2"></div>

                        <div id="spl-subasta_2">
                            <div>
                                <div id="hst-subasta-ingreso-bajar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="content-hijo content-frame"><div class="field-group"><div class="field-wrap" id="listado_envio"></div></div></div>

@* //El uso de Mensaje de Operaciones, Popup *@
<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>

<div id="MessagesClose" class="general-popup">
    <div class="popup-title"><span>Mensaje de Operación</span></div>
    <div class="popup-text content-messajes-text">

    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>
