@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel

@{
    ViewBag.Title = ".::Intranet SUBASTA COES::.";
    Layout = null;
}

<link href="~/Content/Css/table.css" rel="stylesheet" />
<script src="~/Areas/Subastas/Content/Scripts/smaofertadiariaenvio.js"></script>

<div class="content-hijo content-frame">
    <div class="field-group">
        <div class="field-wrap">
            <table class="pretty tabla-formulario-pretty">
                <thead>
                    <tr>
                        <th>C&oacute;digo <br/> de Oferta</th>
                        <th>C&oacute;digo de Envio</th>
                        <th>Fecha de Env&iacute;o</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mp in Model.ListaOferta)
                    {
                        <tr>
                            <td><a data-ofercodi="@mp.Ofercodi" class="codenvio"> @mp.Ofercodi</a></td>
                            <td>@mp.Ofercodenvio</td>
                            <td>@mp.Oferfechaenvio</td>
                            <td>@mp.Username</td>
                            <td>@(@mp.Oferestado == "H" ? "Historico" : "Activo")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>