@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel

@{
    ViewBag.Title = "Ofertas defecto activadas por día";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<script src="~/Areas/Subastas/Content/Scripts/ofertasdefectoactivadas.js?V=1.1.9"></script>

<div class="form-title">
    <div class="content-titulo">Consultas Ofertas por Día Mercado de Ajuste y Activación de Ofertas por Defecto</div>
    <div class="content-botonera" style="margin-left:auto">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExpotar" value="Exportar">
    </div>
</div>


<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="padding-top: 5px; padding-bottom: 1px;">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td> Fecha inicial: </td>
                <td> <input type="text" id="FechaDesde" value="@Model.FechaInicial" style="width: 92px;" /> </td>

                <td style="width:30px"> </td>

                <td> Fecha Final: </td>
                <td> <input type="text" id="FechaHasta" value="@Model.FechaFinal" style="width:92px;" /> </td>

                <td> Empresa: </td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresaUsuarios)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td> Urs: </td>
                <td>
                    <select id="cbUrs" name="IdUrs" multiple="multiple">
                        @foreach (var item in Model.ListaUrsModoOperacion)
                        {
                            <option value="@item.Urscodi">@item.Ursnomb</option>
                        }
                    </select>
                </td>
                <td> Oferta: </td>
                <td>
                    <select id="cbOferta" name="Oferta" multiple="multiple">
                        <option value="E">MERCADO DE AJUSTE</option>
                        <option value="A">ACTIVACIÓN DE OFERTAS POR DEFECTO</option>
                    </select>
                </td>

            </tr>
        </table>

    </div>

    <div class="content-hijo">

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabSubir">Subir</a></li>
                <li class='tab'><a href="#tabBajar">Bajar</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabSubir">

                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-1"></div>

                        <div id="spl-subasta_1">
                            <div>
                                <div id="leyendaSubir" style="width: 100%;">
                                </div>
                                <div style="clear: both; height: 10px"></div>

                                <div class="table-list" id="hst-subasta-ingreso-subir" style="margin-bottom: 25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabBajar">

                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-2"></div>

                        <div id="spl-subasta_2">
                            <div>
                                <div id="leyendaBajar" style="width: 100%;">
                                </div>
                                <div style="clear: both; height: 10px"></div>

                                <div class="table-list" id="hst-subasta-ingreso-bajar" style="margin-bottom: 25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



