@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel
@if (Model.Resultado == -1)
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}
@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Subastas/Content/Css/css.css?v=1.0.3" rel="stylesheet" />

<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Content/Scripts/messaje-operation.js"></script>
<script src="~/Areas/Subastas/Content/Scripts/reservaSecundaria.js?V=1.0.4"></script>

<div class="form-title">
    <div class="content-titulo">Oferta de Mercado de Ajustes de Reserva Secundaria</div>
    <div class="content-botonera" style="margin-left:auto">
        <input type="button" id="btn-consultar" value="Consultar" />
        <input type="button" id="btn-exportar" value="Exportar">
    </div>
</div>

<style>
    table.pretty thead th {
        background: #3e7ba2 !important;
    }
</style>

<div class="content-hijo" id="mainLayout">
    <input id="modulo" type="hidden" name="ofertaDefecto" value="0">

    <div class="search-content" style="padding-top: 5px; padding-bottom: 1px;">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td> Fecha inicial: </td>
                <td> <input type="text" id="dte-fechaInicial" value="@Model.FechaInicial" style="width: 92px;" /> </td>

                <td style="width:30px"> </td>

                <td> Fecha Final: </td>
                <td> <input type="text" id="dte-fechaFinal" value="@Model.FechaFinal" style="width:92px;" /> </td>

            </tr>
        </table>

    </div>

    <div class="content-hijo">
        <div id="mensaje_error"></div>
        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabSubir">Subir</a></li>
                <li class='tab'><a href="#tabBajar">Bajar</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabSubir">

                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-1"></div>

                        <div id="spl-subasta_1">
                            <div>

                                <div class="table-list" id="hst-subasta-ingreso-subir" style="margin-bottom: 25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabBajar" style="">

                    <div class="content-tabla" id="" style="">
                        <div style="width:400px; margin-left:10px" id="mensaje-valor-2"></div>

                        <div id="spl-subasta_2">
                            <div>

                                <div class="table-list" id="hst-subasta-ingreso-bajar" style="margin-bottom: 25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



