@model COES.MVC.Intranet.Areas.Web.Models.AyudaMovilModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:40px"></th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Texto ayuda</th>
            <th>Texto ayuda English</th>
            <th>Indicador de ayuda</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td style="width:40px">
                        <a href="JavaScript:editar(@item.Ayuappcodi);"><img src="~/Content/Images/btn-edit.png" /></a>

                    </td>
                    <td>@item.Ayuappcodigoventana</td>
                    <td>@item.Ayuappdescripcionventana</td>
                    <td>@Html.Raw(item.Ayuappmensaje)</td>
                    <td>@Html.Raw(item.Ayuappmensajeeng)</td>
                    <td>@item.Ayuappestado</td>
                    <td>@item.Ayuappusumodificacion</td>
                    <td>@item.Ayuappfecmodificacion</td>
                </tr>
            }
        }
    </tbody>
</table>