@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReprocesoModel

<table border="0" class="pretty tabla-icono" id="tablaPeriodo">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="cbSelectAll" />
            </th>
            <th>Empresa</th>
            <th>Línea</th>
            <th>Inicio</th>
            <th>Fin</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaOperaciones.Count > 0)
        {
            foreach (var item in Model.ListaOperaciones)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="cbSelect" name="cbSelect" value="@item.Iccodi" />
                    </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Equiabrev</td>
                    <td>@(((DateTime)item.Ichorini).ToString("HH:mm"))</td>
                    <td>@(((DateTime)item.Ichorfin).ToString("HH:mm"))</td>
                </tr>
            }
        }
    </tbody>
</table>

