@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReprocesoModel

<table border="0" class="pretty tabla-icono" id="tablaPeriodo">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="cbSelectAll" />
            </th>
            <th>Hora</th>
            <th>Fecha Ejec.</th>
            <th>Est.</th>
            <th>PDO-RDO</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaProceso.Count > 0)
        {
            foreach (var item in Model.ListaProceso)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="cbSelect" name="cbSelect" value="@item.Cmgncorrelativo" />
                    </td>
                    <td>@item.Cmgnfecha.ToString("HH:mm")</td>
                    <td>@(((DateTime)item.Cmgnfeccreacion).ToString("dd/MM/yyyy HH:mm"))</td>
                    <td>@item.TipoEstimador</td>
                    <td>@item.VersionPDO</td>
                </tr>
            }
        }
    </tbody>
</table>

