@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Carga Diagrama Unifilar";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Areas/PotenciaFirmeRemunerable/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_fuentegams.js?v=1.9"></script>

<div class="form-title">
    <div class="content-titulo">Código fuente GAMS</div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                <td>
                    <select id="cbAnio" style="width: 57px;">
                        @foreach (var item in Model.ListaAnio)
                        {
                            var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                            <option value="@item.Entero1" @(selected)>@item.String1</option>
                        }
                    </select>
                    <select id="cbPeriodo" style="width: 120px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                            <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="table-list" id="listado_fuentegams"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>

<input type="hidden" id="hfRepFecLimite" value="@Model.Fecha" />


