@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Relación de Gaseoductos y Centrales termoeléctricas";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Areas/IND/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/insumo_gaseoducto.js?v=1.5"></script>

<div class="form-title">
    <div class="content-titulo">Relación de Gaseoductos y Centrales termoeléctricas </div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value='Nuevo' />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaRelacion">Relación</a></li>
            <li class='tab'><a href="#vistaConsulta">Rendimiento de las unidades GAS</a></li>
        </ul>
        <div class='panel-container'>

            <div id="vistaRelacion">

                <div>
                    <table id="tblGaseoducto" class="pretty tabla-icono" style="width:100%" role="presentation">
                        <thead>
                            <tr>
                                <th>Gasctrcodi</th>
                                <th scope="col" style="width: 300px">Empresa</th>
                                <th scope="col" style="width: 200px">Gaseoducto</th>
                                <th scope="col" style="width: 150px">Central</th>
                                <th scope="col" style="width: 100px">Usuario creación</th>
                                <th scope="col" style="width: 100px">Fecha creación</th>
                                <th scope="col" style="width: 50px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="vistaConsulta">

                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto" role="presentation">
                        <tr>
                            <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                            <td>
                                <select id="cbAnio" style="width: 57px;">
                                    @foreach (var item in Model.ListaAnio)
                                    {
                                        var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                        <option value="@item.Entero1" @(selected)>@item.String1</option>
                                    }
                                </select>
                                <select id="cbPeriodo" style="width: 120px;">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                                        <option value="@item.Ipericodi" @(selected)>@item.Iperinombre</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="content-tabla">
                    <div style="clear:both; height:5px"></div>

                    <div class="content-tabla">
                        <div class="table-list" id="listado"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div id="popupFormulario" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registro</span></div>
    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">
        <div>
            <form id="frmGaseoducto">
                <table class="content-tabla" style="width: auto;" role="presentation">
                    <tbody>
                        <tr>
                            <td>Empresa:</td>
                            <td>
                                <select id="cboEmpresa" name="cboEmpresa" style="width:240px;">
                                    <option disabled selected>[Seleccionar]</option>
                                    @foreach (var item in Model.ListaEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@(item.Emprnomb)</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Gaseoducto:</td>
                            <td>
                                <select id="cboGaseoductoequicodi" name="Gaseoductoequicodi" style="width: 465px;">
                                    <option disabled selected>--SELECCIONE--</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Central Térmica:</td>
                            <td>
                                <select id="cboEquicodi" name="Equicodi" style="width:240px;">
                                    <option disabled selected>--SELECCIONE--</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="height: 15px"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Guardar" id="btnGuardarNota" onclick="guardarGaseoducto(event)" style="width:70px" />
                            </td>
                            <td>
                                <input type="button" value="Limpiar" onclick="restablecerFormulario()" style="width:70px" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
