@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnActualizarRangoPeriodoHP').click(function () {
            actualizarRangoPeriodoHP();
        });

        $("#cbEstadoRangoPeriodoHP").val($("#hfEstado").val());
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfParvcodi" value="@Model.RangoPeriodoHP.SiParvcodi" />
        <input type="hidden" id="hfEstado" value="@Model.RangoPeriodoHP.Estado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha Inicio:</td>
                <td class="tbform-control">
                    @Model.RangoPeriodoHP.FechaFormatoInicio
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha Fin:</td>
                <td class="tbform-control">
                    @Model.RangoPeriodoHP.FechaFormatoFin
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Normativa Vigente:</td>
                <td class="tbform-control">
                    <textarea rows="4" cols="70" style="resize:none" id="txtEditarNormativa">@Model.RangoPeriodoHP.Normativa</textarea>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoRangoPeriodoHP">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizarRangoPeriodoHP">
</div>


