@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnActualizarRangoSolar').click(function () {
            actualizarRangoSolar();
        });

        $("#cbEstadoRangoSolar").val($("#hfEstado").val());
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfHoraIniCodi" value="@Model.RangoSolar.SiParvcodiHoraInicio" />
        <input type="hidden" id="hfHoraFinCodi" value="@Model.RangoSolar.SiParvcodiHoraFin" />
        <input type="hidden" id="hfEstado" value="@Model.RangoSolar.Estado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
                <td class="tbform-control">
                    @Model.RangoSolar.FechaFormato                    
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="horaInicioRangoSolarEdit" value="@Model.RangoSolar.HoraInicio" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="horaFinRangoSolarEdit" value="@Model.RangoSolar.HoraFin" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoRangoSolar">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizarRangoSolar">
</div>


