@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnActualizarRangoPotenciaInductiva').click(function () {
            actualizarRangoPotenciaInductiva();
        });

        $("#cbEstadoRangoPotenciaInductiva").val($("#hfEstado").val());
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfH1Ini" value="@Model.RangoPotenciaInductiva.SiParvcodiH1Ini" />
        <input type="hidden" id="hfH1Fin" value="@Model.RangoPotenciaInductiva.SiParvcodiH1Fin" />
        <input type="hidden" id="hfH2Ini" value="@Model.RangoPotenciaInductiva.SiParvcodiH2Ini" />
        <input type="hidden" id="hfH2Fin" value="@Model.RangoPotenciaInductiva.SiParvcodiH2Fin" />
        <input type="hidden" id="hfEstado" value="@Model.RangoPotenciaInductiva.Estado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio:</td>
                <td class="tbform-control">
                    @Model.RangoPotenciaInductiva.FechaFormato
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="4">Rango 1</td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="h1IniRangoPotenciaInductivaEdit" value="@Model.RangoPotenciaInductiva.H1Ini" style="width:100px" />
                </td>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="h1FinRangoPotenciaInductivaEdit" value="@Model.RangoPotenciaInductiva.H1Fin" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td colspan="4">Rango 2</td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="h2IniRangoPotenciaInductivaEdit" value="@Model.RangoPotenciaInductiva.H2Ini" style="width:100px" />
                </td>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="h2FinRangoPotenciaInductivaEdit" value="@Model.RangoPotenciaInductiva.H2Fin" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoRangoPotenciaInductiva">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizarRangoPotenciaInductiva">
</div>


