@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnActualizarHPPotenciaActiva').click(function () {
            actualizarHPPotenciaActiva();
        });

        $("#cbEstadoHPPotenciaActiva").val($("#hfEstado").val());
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <input type="hidden" id="hfHoraMinimaCodi" value="@Model.HPPotenciaActiva.SiParvcodiHoraMinima" />
        <input type="hidden" id="hfHoraMediaCodi" value="@Model.HPPotenciaActiva.SiParvcodiHoraMedia" />
        <input type="hidden" id="hfHoraMaximaCodi" value="@Model.HPPotenciaActiva.SiParvcodiHoraMaxima" />
        <input type="hidden" id="hfEstado" value="@Model.HPPotenciaActiva.Estado" />

        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
                <td class="tbform-control">
                    @Model.HPPotenciaActiva.FechaFormato
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Mínima:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMinimaHPPotenciaActivaEdit" value="@Model.HPPotenciaActiva.HoraMinima" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Media:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMediaHPPotenciaActivaEdit" value="@Model.HPPotenciaActiva.HoraMedia" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Máxima:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMaximaHPPotenciaActivaEdit" value="@Model.HPPotenciaActiva.HoraMaxima" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Estado:</td>
                <td class="tbform-control">
                    <select id="cbEstadoHPPotenciaActiva">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Actualizar" id="btnActualizarHPPotenciaActiva">
</div>


