@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel

<input type="hidden" id="txtHoraInicio" value="@Model.RangoSolar.HoraInicio" />
<input type="hidden" id="txtHoraFin" value="@Model.RangoSolar.HoraFin" />

<div style="max-width: 716px; margin: 0 auto; margin-top:20px">

    <table style="width: 400px; margin: 0 auto; margin-bottom: 50px;">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 180px; margin: 0 auto;">Vigencia actual</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom: 10px;">
                    <div style=" width: 300px; margin: 0 auto; color: #777; font-size: 24px;">@Model.RangoSolar.FechaFormatoLetra</div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 130px; margin: 0 auto;">Hora Inicio</div>
                </td>
                <td style="font-weight: bold; font-size: 24px; ">
                    <div style=" width: 130px; margin: 0 auto;">Hora Fin</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="timeInicio" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
                <td>
                    <div id="timeFin" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- listado -->
    <table id="tablaSolar" class="tabla-formulario" style="max-width: 700px">
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Fecha de inicio de Vigencia</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var solar in Model.ListaRangoSolar)
                {
                    <tr class="@solar.ClaseFila">
                        <td style="text-align: center;">
                            <a href="JavaScript:verRangoSolar(@solar.SiParvcodiHoraInicio, @solar.SiParvcodiHoraFin);" title="Mostrar Rango Solar"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            @{
                    if (solar.Editable)
                    {
                        <a href="JavaScript:editarRangoSolar(@solar.SiParvcodiHoraInicio, @solar.SiParvcodiHoraFin)" title="Editar Rango Solar"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    }
                            }
                        </td>
                        <td style="text-align:center;">@solar.FechaFormato</td>
                        <td style="text-align:center;">@solar.HoraInicio</td>
                        <td style="text-align:center;">@solar.HoraFin</td>
                        <td style="text-align:center;">@solar.EstadoValor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>