@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel

<div style="max-width: 916px; margin: 0 auto; margin-top: 50px">
    <!-- listado -->
    <table id="tablaRangoPeriodoHP" class="tabla-formulario" style="width: 900px; max-width: 900px;">
        <thead>
            <tr>
                <th style="50px">Opciones</th>
                <th style="100px">Fecha Inicio</th>
                <th style="100px">Fecha Fin</th>
                <th style="400px">Normativa</th>
                <th style="50px">Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var rango in Model.ListaRangoPeriodoHP)
                {
                    <tr class="@rango.ClaseFila">
                        <td style="text-align: center;">
                            <a href="JavaScript:verRangoPeriodoHP(@rango.SiParvcodi);" title="Mostrar Periodos de Hora Punta"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            <a href="JavaScript:editarRangoPeriodoHP(@rango.SiParvcodi)" title="Editar Periodos de Hora Punta"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                        </td>
                        <td style="text-align:center;">@rango.FechaFormatoInicio</td>
                        <td style="text-align:center;">@rango.FechaFormatoFin</td>
                        <td>@rango.Normativa</td>
                        <td style="text-align:center;">@rango.EstadoValor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
