@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel

<input type="hidden" id="txtH1Ini" value="@Model.RangoPotenciaInductiva.H1Ini" />
<input type="hidden" id="txtH1Fin" value="@Model.RangoPotenciaInductiva.H1Fin" />
<input type="hidden" id="txtH2Ini" value="@Model.RangoPotenciaInductiva.H2Ini" />
<input type="hidden" id="txtH2Fin" value="@Model.RangoPotenciaInductiva.H2Fin" />

<div style="max-width: 716px; margin: 0 auto; ">

    <table style="width: 330px; margin: 0 auto; margin-bottom: 50px;">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 180px; margin: 0 auto;">Vigencia actual</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom: 10px;">
                    <div style=" width: 300px; margin: 0 auto; color: #777; font-size: 24px;">@Model.RangoPotenciaInductiva.FechaFormatoLetra</div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold; font-size: 24px; padding-bottom: 5px;">
                    <div style=" width: 128px; margin: 0 auto;">Hora Inicio</div>
                </td>
                <td style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 100px; margin: 0 auto;">Hora Fin</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="timeH1Ini" class="time" style="width: 123px; margin: 0 auto; padding-bottom: 20px; ">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
                <td>
                    <div id="timeH1Fin" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="timeH2Ini" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
                <td>
                    <div id="timeH2Fin" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- listado -->
    <table id="tablaRangoPotenciaInductiva" class="tabla-formulario" style="max-width: 700px;">
        <thead>
            <tr>
                <th colspan="2"></th>
                <th colspan="2">Rango 1</th>
                <th colspan="2">Rango 2</th>
                <th></th>
            </tr>
            <tr>
                <th>Opciones</th>
                <th>Fecha de inicio de Vigencia</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var hp in Model.ListaRangoPotenciaInductiva)
                {
                    <tr class="@hp.ClaseFila">

                        <td style="text-align: center;">
                            <a href="JavaScript:verRangoPotenciaInductiva(@hp.SiParvcodiH1Ini, @hp.SiParvcodiH1Fin, @hp.SiParvcodiH2Ini, @hp.SiParvcodiH2Fin);" title="Mostrar Rango de Análisis de Potencia Inductiva"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            @{
                    if (hp.Editable)
                    {
                        <a href="JavaScript:editarRangoPotenciaInductiva(@hp.SiParvcodiH1Ini, @hp.SiParvcodiH1Fin, @hp.SiParvcodiH2Ini, @hp.SiParvcodiH2Fin)" title="Editar Rango de Análisis de Potencia Inductiva"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    }
                            }
                        </td>
                        <td style="text-align:center;">@hp.FechaFormato</td>
                        <td style="text-align:center;">@hp.H1Ini</td>
                        <td style="text-align:center;">@hp.H1Fin</td>
                        <td style="text-align:center;">@hp.H2Ini</td>
                        <td style="text-align:center;">@hp.H2Fin</td>
                        <td style="text-align:center;">@hp.EstadoValor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
