@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel

<input type="hidden" id="txtHoraMinima" value="@Model.HPPotenciaActiva.HoraMinima" />
<input type="hidden" id="txtHoraMedia" value="@Model.HPPotenciaActiva.HoraMedia" />
<input type="hidden" id="txtHoraMaxima" value="@Model.HPPotenciaActiva.HoraMaxima" />

<div style="max-width: 716px; margin: 0 auto; margin-top: 20px">
    <table style="width: 700px; margin: 0 auto; margin-bottom: 50px;">
        <tbody>
            <tr>
                <td colspan="3" style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 180px; margin: 0 auto;">Vigencia actual</div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-bottom: 10px;">
                    <div style=" width: 300px; margin: 0 auto; color: #777; font-size: 24px; text-align: center;">@Model.HPPotenciaActiva.FechaFormatoLetra</div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold; font-size: 24px;">
                    <div style=" width: 190px; margin: 0 auto; text-align: center;">Fin <br />Bloque Mínima</div>
                </td>
                <td style="font-weight: bold; font-size: 24px; ">
                    <div style=" width: 190px; margin: 0 auto; text-align: center;">Fin <br />Bloque Media</div>
                </td>
                <td style="font-weight: bold; font-size: 24px; ">
                    <div style=" width: 190px; margin: 0 auto; text-align: center;">Fin <br />Bloque Máxima</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="timeMinima" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
                <td>
                    <div id="timeMedia" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
                <td>
                    <div id="timeMaxima" class="time" style="width: 123px; margin: 0 auto;">
                        <span class="hour"></span>:<span class="minute"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- listado -->
    <table id="tablaHPPotenciaActiva" class="tabla-formulario" style="max-width: 700px;">
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Fecha de inicio de <br/> Vigencia</th>
                <th>Hora Mínima</th>
                <th>Hora Media</th>
                <th>Hora Máxima</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var hp in Model.ListaHPPotenciaActiva)
                {
                    <tr class="@hp.ClaseFila">
                        <td style="text-align: center;">
                            <a href="JavaScript:verHPPotenciaActiva(@hp.SiParvcodiHoraMinima, @hp.SiParvcodiHoraMedia, @hp.SiParvcodiHoraMaxima);" title="Mostrar Hora Punta para Potencia Activa"><img src="~/Content/Images/btn-open.png" alt=""></a>
                            <a href="JavaScript:editarHPPotenciaActiva(@hp.SiParvcodiHoraMinima, @hp.SiParvcodiHoraMedia, @hp.SiParvcodiHoraMaxima);" title="Editar Hora Punta para Potencia Activa"><img src="~/Content/Images/btn-edit.png" alt=""></a>

                            @if (hp.Estado == "N")
                            {
                                <a href="JavaScript:eliminarHPPotenciaActiva(@hp.SiParvcodiHoraMinima, @hp.SiParvcodiHoraMedia, @hp.SiParvcodiHoraMaxima)" title="Eliminar Hora Punta para Potencia Activa"><img src="~/Content/Images/btn-cancel.png" alt=""></a>
                            }
                        </td>
                        <td style="text-align:center;">@hp.FechaFormato</td>
                        <td style="text-align:center;">@hp.HoraMinima</td>
                        <td style="text-align:center;">@hp.HoraMedia</td>
                        <td style="text-align:center;">@hp.HoraMaxima</td>
                        <td style="text-align:center;">@hp.VigenteDesc</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>