@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.FechaFormato</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Mínima:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.HoraMinima</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Media:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.HoraMedia</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Máxima:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.HoraMaxima</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.HPPotenciaActiva.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>