@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
            <td class="tbform-control">@Model.RangoSolar.FechaFormato</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Inicio:</td>
            <td class="tbform-control">@Model.RangoSolar.HoraInicio</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Fin:</td>
            <td class="tbform-control">@Model.RangoSolar.HoraFin</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.RangoSolar.EstadoValor</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.RangoSolar.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.RangoSolar.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.RangoSolar.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.RangoSolar.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>