@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Fecha de Inicio de Vigencia:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.FechaFormato</td>
        </tr>
        <tr>
            <td colspan="4">Rango 1</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Mínima:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.H1Ini</td>

            <td class="tbform-label">Hora Media:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.H1Fin</td>
        </tr>
        <tr>
            <td colspan="4">Rango 2</td>
        </tr>
        <tr>
            <td class="tbform-label">Hora Máxima:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.H2Ini</td>
            <td class="tbform-label">Hora Máxima:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.H2Fin</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.EstadoValor</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.RangoPotenciaInductiva.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>