@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<div class='panel-container'>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Fecha Inicio:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.FechaFormatoInicio</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha Fin:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.FechaFormatoFin</td>
        </tr>
        <tr>
            <td class="tbform-label">Normativa:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.Normativa</td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.EstadoValor</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de creación:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.Siparvusucreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de creación:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.Siparvfeccreacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Usuario de actualización:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.Siparvusumodificacion</td>
        </tr>
        <tr>
            <td class="tbform-label">Fecha de actualización:</td>
            <td class="tbform-control">@Model.RangoPeriodoHP.Siparvfecmodificacion</td>
        </tr>
    </table>
</div>