@model COES.MVC.Intranet.Areas.PotenciaFirme.Models.PotenciaFirmeModel
@{
    ViewBag.Title = "Potencia Firme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}

<link href="~/Areas/PotenciaFirme/Content/Css/general.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/PotenciaFirme/Content/Scripts/general.js?v=1.8.1"></script>

<div class="form-title">
    <div class="content-titulo">Potencia Firme</div>

    <div style="float: right">
        <span style="font-size: 12px;">Periodo:</span>
        <select id="cbAnioFiltroGeneral" style="width: 57px;">
            @foreach (var item in Model.ListaAnio)
            {
                <option value="@item.Entero1" @(item.String2)>@item.String1</option>
            }

        </select>

        <select id="cbPeriodoFiltroGeneral" style="width: 120px;">
            @foreach (var item in Model.ListaPeriodo)
            {
                var selected = Model.IdPeriodo == item.Pfpericodi ? "selected" : "";
                <option value="@item.Pfpericodi" @selected>@item.Pfperinombre</option>
            }
        </select>

        <span style="font-size: 12px;">Recálculo:</span>
        <select id="cbRevisionFiltroGeneral" style="width:150px">
            @if (Model.ListaRecalculo.Count > 0)
            {
                foreach (var item in Model.ListaRecalculo)
                {
                    <option value="@item.Pfrecacodi">@item.Pfrecanombre</option>
                }
            }
            else
            {
                <option value="0">--</option>
            }
        </select>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_periodo" style="float: left; padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Periodo</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/PotenciaFirme/Periodo/Index/" data-alto="680" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png"  alt="logo"/>
                            <br />
                            <label>
                                Periodo y Recálculos
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_reporte" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Salidas</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Reporte/IndexPotenciaFirme/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png"  alt="logo"/>
                            <br />
                            <label>
                                Potencia Firme
                            </label>
                        </div>
                    </td>



                </tr>

            </tbody>
        </table>

    </div>


    <div class="menu_configuracion" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Insumos</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexFIndisponibilidad/" data-alto="900" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                Factor de Indisponibilidad Fortuíta
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexFPresencia/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                Factor Presencia
                            </label>
                        </div>
                    </td>

                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexPotGarantizada/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                Potencia Garantizada
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexPotAdicional/" data-alto="1200" title="" style=" width: 125px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                Potencia de Centrales con Regímenes especiales
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexContratosCV/" data-alto="1200" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Contratos de Compra y Venta
                            </label>
                        </div>
                    </td>

                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/Insumos/IndexRerNC/" data-alto="1200" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                RER Eólicos y Solares
                            </label>
                        </div>
                    </td>

                    <td style="">
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/UnidadGeneracion/IndexOperacionComercial/" data-alto="1500" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png"  alt="logo"/>
                            <br />
                            <label>
                                Operación comercial
                            </label>
                        </div>
                    </td>
                    <td style="">
                        <div class="menu-item suboptions" data-url="/PotenciaFirme/UnidadGeneracion/IndexPotenciaEfectiva/" data-alto="1500" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Unidades de Generación
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="iframeIndisp" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>