@model COES.MVC.Intranet.Areas.TransfPotencia.Models.IngresoPotefrModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
}
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "ingresopotefr", FormMethod.Post, new { id = "frmFormulario", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "ingresopotefr")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:700px;">
            @Html.HiddenFor(model => model.Entidad.Ipefrcodi)
            @Html.HiddenFor(model => model.Entidad.Pericodi)
            @Html.HiddenFor(model => model.Entidad.Recpotcodi)
            @Html.HiddenFor(model => model.Entidad.Ipefrusucreacion)
            @Html.HiddenFor(model => model.Entidad.Ipefrfeccreacion)

            @if (Model.sError != "" && Model.sError != null)
            {
                <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">@Model.sError</div>
            }
            <table cellspacing="2" cellpadding="5">

                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrintervalo, "Intervalo") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Entidad.Ipefrintervalo, new { size = 50, maxLength = 50 })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrdia, "Dias") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Entidad.Ipefrdia, new { size = 50, maxLength = 50 })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrdescripcion, "Descripcion") (*)</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.Entidad.Ipefrdescripcion, new { size = 50, maxLength = 50 })</div></td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    </div>
}
<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmFormulario").validate({
        rules: {
            "Entidad.Ipefrintervalo": {
                required: true,
                number: true
            },
            "Entidad.Ipefrdia": {
                required: true,
                number: true
            },
            "Entidad.Ipefrdescripcion": {
                required: true
            }
        }
    });
</script>