@model COES.MVC.Intranet.Areas.TransfPotencia.Models.IngresoPotefrModel
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Lista de Intervalos de potencia efectiva, firme y firme remunerable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/ingresopotefr.js?v=1.9"></script>
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Intervalos de potencia efectiva, firme y firme remunerable</div>
        <div class="content-botonera">

            <input type="button" id="btnCargarInfoPFR" value="Cargar Información del aplicativo PFR" style="visibility:hidden;"/>
            @if (Model.bNuevo)
            {
                <input type="button" id="btnNuevo" value="Nuevo" onclick="location.href='@Url.Action("New", "ingresopotefr", new { pericodi = Model.Pericodi, recpotcodi = Model.Recpotcodi })'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "ingresopotefr")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
            { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre</div> }
            else
            { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo</div> }
            <table>
                <tr>
                    <td>
                        <div class="search-content" style="margin-bottom:0px; padding:10px">
                            <table class="table-search" style="width:auto">
                                <tr>
                                    <td style="width:150px; height:40px;"><div class="editor-label">Mes de Valorización:</div></td>
                                    <td style="width:200px; height:40px;">
                                        <div class="editor-field">
                                            <select id="pericodi" name="pericodi" onchange="Recargar();">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    sSelected = "";
                                                    if (@item.PeriCodi == Model.Pericodi)
                                                    { sSelected = "selected"; }
                                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:50px; height:40px;">Versión:</td>
                                    <td style="width:200px; height:40px;">
                                        <select id="recpotcodi" name="recpotcodi">
                                            @foreach (var item in Model.ListaRecalculoPotencia)
                                            {
                                                <option value="@item.Recpotcodi">@item.Recpotnombre</option>
                                            }
                                        </select>
                                    </td>
                                    @*<td style="width:200px; height:40px;">
                                        @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
                                        {
                                            <input type="button" id="btnConsultar" value="Ver Lista de Potencia efectiva, firme y firme remunerable" />
                                        }
                                    </td>*@
                                    <td style="width:20px; height:40px;">&nbsp;</td>

                                    <td style="width:500px; height:40px;">

                                        <div id="texto" class="tbform-label" style="visibility:hidden; font-size: 12px; TEXT-ALIGN: center"> </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado"> </div>
    </div>
</div>

<div id="popupCargaInfoPFR" class="popup-class-1 general-popup" style="z-index: 9999999999; display: none; width: 580px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Cargar Información de aplicativo PFR</span></div>

    <div id="cuerpoProcesar" class="">
        <table style="margin-top: 10px; margin-left: 80px;" role="presentation">

            @*<tr>
                    <td>
                        <input type="hidden" id="" value="@Model." />
                    </td>
                </tr>*@
            <tr>
                <td class="tbform-label">Recálculo de Potencia Firme Remunerable:</td>
                <td>
                    <select id="idrecapfr" name="" style="width:150px">

                        @foreach (var item in Model.ListaRecalculopfr)
                        {
                            <option value="@item.Pfrreccodi">@item.Pfrrecnombre</option>
                        }
                    </select>
                </td>
            </tr>

        </table>

    </div>
    <div style="margin-top: 25px; text-align: center">
        <input type="button" id="btnProcesarIngresoPFR" value="Procesar" />
        <input type="button" id="btnCancelarIngresoPFR" value="Cancelar" />
    </div>
</div>