<input type="hidden" id="recalculoentidad" value="@Model.EntidadRecalculoPotencia.Recpotcargapfr" />
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Intervalo</th>
            <th>Días</th>
            <th>Descripción</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIngresoPotefr)
        {
            string sPK = item.Ipefrcodi.ToString();
            <tr id="fila_@sPK">
                <td class="text_left">@item.Ipefrintervalo</td>
                <td class="text_left">@item.Ipefrdia</td>
                <td class="text_left">@item.Ipefrdescripcion</td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        if (Model.EntidadRecalculoPotencia.Recpotcargapfr == 1)
                        {
                            <a href="@Url.Action("IndexPfr", "IngresoPotefrDetallePfr",new { ipefrcodi = item.Ipefrcodi, pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Areas/TransfPotencia/Content/Images/reparto.png")" title="Detalle" alt="Detalle" /></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "IngresoPotefrDetalle",new { ipefrcodi = item.Ipefrcodi, pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Areas/TransfPotencia/Content/Images/reparto.png")" title="Detalle" alt="Detalle" /></a>
                        }
                    }
                </td>
                <td style="width:30px;"><a href="#" id="view_@sPK" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { ipefrcodi = item.Ipefrcodi, pericodi = item.Pericodi, recpotcodi = item.Recpotcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@sPK" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
