@model COES.MVC.Intranet.Areas.TransfPotencia.Models.IngresoPotefrModel
@{
    ViewBag.Title = "Datos de Potencia";
}
<fieldset>
    <legend>Datos de Potencia</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrintervalo, "Intervalo") (*)</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Ipefrintervalo)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrdia, "Días")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Ipefrdia)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Ipefrdescripcion, "Descripción")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Ipefrdescripcion)</div></td>
        </tr>
        
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>