@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var empresa = (IEnumerable<SelectListItem>)TempData["Emprcodigo"];
    var central = (IEnumerable<SelectListItem>)TempData["Centralcodigo"];
    var sMensajeError = TempData["sMensajeError"];
    string sSelected = "";
}
<link href="~/Areas/IND/Content/Css/relacion_empresa.css?v=1.5.4" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "RelacionEmpresa", FormMethod.Post, new { id = "frmRelacionEmpresa", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        @if (@sMensajeError != null)
        {<div class="erroneo mensajes">@sMensajeError</div>}
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","RelacionEmpresa")'" alt="Retornar" title="Retornar" />
            </div>
        </div>

        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.Entidad.Relempcodi)
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Emprnomb, "Empresa")
                            (*)
                        </div>
                    </td>

                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.Emprnomb, new { @readonly = "readonly", @Name = "" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Equicodicentral, "Central")
                            (*)
                        </div>
                    </td>

                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.Equinomb, new { @readonly = "readonly", @Name = "" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Equicodiunidad, "Unidad")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Entidad.Relempunidadnomb, new { @readonly = "readonly", @Name = "" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Gaseoductoequicodi, "Gaseoducto")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Gaseoductoequicodi" name="Entidad.Gaseoductoequicodi" style="width:350px;">
                                <option value="-1">_NO DEFINIDO</option>
                                @foreach (var item in @Model.ListaGaseoducto)
                                {
                                    sSelected = "";
                                    if (@item.Gaseoductoequicodi == Model.Entidad.Gaseoductoequicodi)
                                    { sSelected = "selected"; }
                                    <option value="@item.Gaseoductoequicodi" @sSelected>@item.Gaseoductoequinomb </option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Entidad.Gaseoductoequicodi)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Grupocodicn2, "Grupocodi CN2")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Grupocodicn2" name="Entidad.Grupocodicn2" style="width:350px;">
                                @foreach (var item in @Model.ListaGrupo)
                                {
                                    sSelected = "";
                                    if (Model.Entidad.Grupocodicn2 == null && @item.Grupocodi == -1)
                                    { sSelected = "selected"; }
                                    else if (@item.Grupocodi == Model.Entidad.Grupocodicn2)
                                    { sSelected = "selected"; }
                                    <option value="@item.Grupocodi" @sSelected>@item.Gruponomb [@item.Grupocodi]</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Entidad.Grupocodicn2)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relempcuadro1, "Cuadro 1")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempcuadro1, 'S')Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempcuadro1, 'N')No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relempcuadro2, "Cuadro 2")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempcuadro2, 'S')Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempcuadro2, 'N')No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relempsucad, "Sucad")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempsucad, 'S')Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempsucad, 'N')No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relempsugad, "Sugad")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempsugad, 'S')Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempsugad, 'N')No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relempestado, "Estado")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempestado, 'S')Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Relempestado, 'N')No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Relemptecnologia, "Tecnologia")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Relemptecnologia" name="Entidad.Relemptecnologia" style="width:250px;">
                                @foreach (var item in @Model.ListaTipoTecnologia)
                                {
                                    sSelected = "";
                                    if (@item.Id == Model.Entidad.Relemptecnologia)
                                    { sSelected = "selected"; }
                                    <option value="@item.Id" @sSelected>@item.Tipo </option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Entidad.Relemptecnologia)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    </div>
}

<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
