@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Central</th>
            <th>Unidad</th>
            <th>Gaseoducto</th>
            <th>Cuadro1</th>
            <th>Cuadro2</th>
            <th>Sucad</th>
            <th>Sugad</th>
            <th>Estado</th>
            <th>Tecnologia</th>
            <th style="width:30px;">&nbsp;</th>
            @*<th style="width:30px;">&nbsp;</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoIdnRelacionEmpresa)
        {
            string sRelempcuadro1 = "NO";
            if (item.Relempcuadro1 == "S") { sRelempcuadro1 = "SI"; }
            string sRelempcuadro2 = "NO";
            if (item.Relempcuadro2 == "S") { sRelempcuadro2 = "SI"; }
            string sRelempsucad = "NO";
            if (item.Relempsucad == "S") { sRelempsucad = "SI"; }
            string sRelempsugad = "NO";
            if (item.Relempsugad == "S") { sRelempsugad = "SI"; }
            string sRelempestado = "NO";
            if (item.Relempestado == "S") { sRelempestado = "SI"; }
            string sRelemptecnologia = "NA";
            if (item.Relemptecnologia == 1) { sRelemptecnologia = "CICLO COMBINADO"; }
            else if (item.Relemptecnologia == 2) { sRelemptecnologia = "CICLO SIMPLE"; }
            else if (item.Relemptecnologia == 3) { sRelemptecnologia = "MOTORES RECIPROCANTES"; }

        <tr id="fila_@item.Relempcodi">
            <td style="text-align:justify">@item.Emprnomb</td>
            <td style="text-align:justify">@item.Equinomb</td>
            <td style="text-align:justify">@item.Relempunidadnomb</td>
            <td style="text-align:justify">@item.Gaseoductoequinomb</td>
            <td>@sRelempcuadro1</td>
            <td>@sRelempcuadro2</td>
            <td>@sRelempsucad</td>
            <td>@sRelempsugad</td>
            <td>@sRelempestado</td>
            <td style="text-align:justify">@sRelemptecnologia</td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { id = item.Relempcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
            </td>
            @*<td style="width:30px;">
                @if (Model.bEliminar)
                {
                    <a href="#" id="eliminar_@item.Relempcodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                }
            </td>*@
        </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
