@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RetiroPotenciaSCModel
@{
    ViewBag.Title = "Transferencias - Copiar Ingresos por Potencia desde VTP";
    string sSelected = "";
}
<fieldset>
    <legend>Copiar Ingresos por Potencia desde VTP</legend>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
            { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Periodo de VTP: @Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre</div> }
            else
            { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo de VTP</div> }
            <table>
                <tr>
                    <td>
                        <div class="search-content" style="margin-bottom:0px; padding:10px">
                            <table class="table-search" style="width:auto">
                                <tr>
                                    <td style="width:150px; height:40px;"><div class="editor-label">Mes de Valorización VTP:</div></td>
                                    <td style="width:200px; height:40px;">
                                        <div class="editor-field">
                                            <select id="pericodiVTP" name="pericodiVTP" onchange="RecargarPopUp();">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    sSelected = "";
                                                    if (@item.PeriCodi == Model.Pericodi)
                                                    { sSelected = "selected"; }
                                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:50px; height:40px;">Versión VTP:</td>
                                    <td style="width:200px; height:40px;">
                                        <select id="recpotcodi" name="recpotcodi">
                                            @foreach (var item in Model.ListaRecalculoPotencia)
                                            {
                                                <option value="@item.Recpotcodi">@item.Recpotnombre</option>
                                            }
                                        </select>
                                    </td>
                                    <td style="width:200px; height:40px;">
                                        @if (Model.Pericodi > 0 && Model.Recpotcodi > 0)
                                        {
                                            <input type="button" @*id="btnImportarVTP"*@ value="Importar desde VTP" onclick="importarVTP()" />
                                        }
                                        <input type="button" id="bSalir" onclick=" $(this).addClass('button b-close');" value="Salir" />
                                    </td>
                                    <td style="width:20px; height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</fieldset>
@*<div>
    <span class="button b-close"><span>X</span></span>
</div>*@