@model COES.MVC.Intranet.Areas.Transferencias.Models.IngresoPotenciaModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Periodo</th>
            <th>Versión</th>
            <th>Empresa</th>
            <th>Ingreso</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIngresoPotencia)
        {
            <tr id="fila_@item.IngrPoteCodi">
                <td class="text_left">@item.PeriNombre</td>
                <td class="text_left">@item.IngrPoteVersion</td>
                <td class="text_left">@item.EmprNombre</td>
                <td style="text-align:right;">@item.IngrPoteImporte.ToString("0.######")</td>
                <td class="text_left">@item.IngrPoteUserName</td>
            </tr>
        }
    </tbody>
</table>
