@model COES.MVC.Intranet.Areas.Despacho.Models.ReporteModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Grupo-Modo de Operación</th>
            <th>CEC</th>
            <th>Pe</th>
            <th>Rendimiento</th>
            <th>Precio</th>
            <th>CVNC</th>
            <th>CVC</th>            
            <th>CV</th>
            <th>Tramo 1</th>
            <th>Cincrem 1</th>
            <th>Tramo 2</th>
            <th>Cincrem 2</th>
            <th>Tramo 3</th>
            <th>Cincrem 3</th>
            <th>Tipo Combustible</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lista)
            {
            <tr>
                <td>@item.Empresa</td>
                <td>@item.GrupoModoOperacion</td>
                <td>@item.CEC</td>
                <td>@item.Pe</td>                                
                <td>@item.Rendimiento</td>
                <td>@item.Precio</td>
                <td>@item.CVNC</td>
                <td>@item.CVC</td>
                <td>@item.CV</td>
                <td>@item.Tramo1</td>
                <td>@item.Cincrem1</td>
                <td>@item.Tramo2</td>
                <td>@item.Cincrem2</td>
                <td>@item.Tramo3</td>
                <td>@item.Cincrem3</td>
                <td>@item.TipoCombustible</td>
            </tr>
        }
    </tbody>
</table>
