<div class="container">
    <div class="row">
        <div class="col col-md-9 mb-md-4">
            @*<div class="page-text">*@

            <div class="coes-box mb-5">
                <div class="coes-box--header-no-content coes-box--header--left-aligned">
                    <h3 class="coes-box--title">
                        Estadística Anual @Model.anio
                    </h3>
                </div>
            </div>
            @*<h1>Estadística Anual @Model.anio</h1>*@

            <table class="tabla-icono table table-hover">
                <thead>
                    <tr>
                        <th>Capítulos</th>
                        <!--<th>Visualizar</th>-->
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListadoExcel)
                    {
                        string filename = item.FileName;
                        string[] cad = filename.Split('_');
                        var num = cad[0].Substring(9, 2);
                        string[] name = cad[1].Split('.');
                        <tr data-id="@num">
                            <td style="text-align:left">
                                <span>@num.</span> @name[0].ToUpper()
                            </td>
                            <!--<td>
                            <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21111&authkey=%21AN4S89LdQERwqpQ&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                        </td>-->
                            <td>
                                <a href="~/browser/download?url=@item.FileUrl"><img style="width: 30px;" src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div style="clear:both"></div>
            @*</div>*@
        </div>

        <div class="col col-md-3 order-1 order-md-0">
            <div class="coes-box mb-5">
                <div class="coes-box--header-no-content coes-box--header--left-aligned">
                    <h3 class="coes-box--title">
                       Ver también
                    </h3>
                </div>
            </div>
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    @for (var i = 1; i <= 8; i++)
                    {
                        int anio_busq = Model.anio - i;
                        string path = "Publicaciones%2FEstadisticas%20Anuales%2F" + anio_busq + "%2F";
                        @*<li><a href="~/Publicaciones/Estadisticas/index?path=@path" target="_blank">Estadística Anual @anio_busq</a></li>*@
                        <li class="sidebar-nav--item">
                            <a href="~/Publicaciones/Estadisticas/index?path=@path" class="sidebar-nav--link">Estadística Anual @anio_busq</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

</div>
        <!--<div class="page-rigth1">
            <div style="clear:both; height:40px"></div>
            <div class="page-info">
                <h1>Ver también</h1>
                <ul>
                    @for (var i = 1; i <= 8; i++)
                    {
                        int anio_busq = Model.anio - i;
                        string path = "Publicaciones%2FEstadisticas%20Anuales%2F" + anio_busq + "%2F";
                        <li><a href="~/Publicaciones/Estadisticas/index?path=@path" target="_blank">Estadística Anual @anio_busq</a></li>
                    }

                </ul>
            </div>
            <div style="clear:both; height:15px"></div>-->
            @*<div class="page-indicador">
                <h1>Conoce nuestros</h1>
                <strong>indicadores</strong>
                <div>
                    <a href="~/portalinformacion/generacion" class="btn">Haga click para entrar</a>
                </div>
            </div>
            <div style="clear:both"></div>*@
        <!--</div>-->
