@model COES.MVC.Intranet.Models.HeaderModel

@foreach (var item in Model.ListaFavoritos)
{
    <div class="acceso-directo-item" title="@item.Nombre">
        <a href="JavaScript:OpenUrl('@item.OpcionURL', '@item.Tipo', @item.OpcionId, '@item.DesControlador', '@item.DesAccion');">
            <img src="http://www.coes.org.pe/appseguridadtest/content/images/Shortcut/@item.AccesoDirecto" />
            <div style="clear:both"></div>
            @{
                var enlace = item.Nombre;
                if (item.Nombre.Length > 20)
                {
                    enlace = item.Nombre.Substring(0, 20) + "...";
                }
                <span>@enlace</span>
            }
        </a>
    </div>
}