@model COES.MVC.Intranet.Models.HeaderModel

@{
    ViewBag.Title = ".::Intranet SGOCOES COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">Intranet SGOCOES</div>
<div class="home-content">

    <table cellpadding="0" cellspacing="0" style="width:auto" id="tablaHome">        
        <tr>
            <td style="padding-right:30px">
                <div class="action-exito" style="margin-top:0">                    
                    Bienvenidos a la Intranet SGOCOES
                </div>
                <div style="clear:both"></div>
                <div class="home-img">
                    <img src="~/Content/Images/logocoes_home.png" alt="COES SINAC" style="width:293px" />
                </div>
                <div style="clear:both"></div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </td>
            <td class="separer-home"></td>
            <td>
                <div class="acceso-directo-title">Opciones favoritas</div>               
                <div class="acceso-directo-content" id="listaAccesoDirectos">
                    @foreach (var item in Model.ListaFavoritos)
                    {
                        <div class="acceso-directo-item" title="@item.Nombre">
                            <a href="JavaScript:OpenUrl('@item.OpcionURL', '@item.Tipo', @item.OpcionId, '@item.DesControlador', '@item.DesAccion');">
                                <img src="https://www.coes.org.pe/appseguridad/content/images/Shortcut/@item.AccesoDirecto" />
                                <div style="clear:both"></div>                                
                                @{
                                    var enlace = item.Nombre;
                                    if (item.Nombre.Length > 20)
                                    {
                                        enlace = item.Nombre.Substring(0, 20) + "...";
                                    }
                                    <span>@enlace</span>
                                }
                            </a>
                        </div>
                    }
                 </div>   
                <div style="clear:both; height:20px"></div>
                <a href="JavaScript:openConfiguracionFavorito();" id="ConfiguracionFavorito" style="color:#f37921">Configurar opciones favoritas</a>          
		<div style="clear:both; height:20px"></div>
		<br />
		<br />
            </td>
        </tr>
    </table>
</div>