@model COES.MVC.Intranet.Areas.RolTurnos.Models.RolTurnoModel

<div style="clear:both; height:20px"></div>
<table class="rol-reporte" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td colspan="4" rowspan="2"></td>
        <td class="rol-reporte-sdf rol-reporte-bold">SDF</td>
        <td class="rol-reporte-dc rol-reporte-bold">DC</td>
        <td class="rol-reporte-neto rol-reporte-bold">NETO</td>
    </tr>
    <tr>
        <td class="rol-reporte-sdf">@Model.Reporte.TotalSDF</td>
        <td class="rol-reporte-dc">@Model.Reporte.TotalDC</td>
        <td class="rol-reporte-neto">@Model.Reporte.TotalNeto</td>
    </tr>
    <tr>
        <td rowspan="2" class="rol-reporte-responsable rol-reporte-bold">RESPONSABLE</td>
        <td colspan="4" class="rol-reporte-sdf rol-reporte-bold">PDO/PDI</td>
        <td class="rol-reporte-dc rol-reporte-bold">DESCANSOS</td>
        <td class="rol-reporte-neto rol-reporte-bold">NETO</td>
    </tr>
    <tr>
        <td class="rol-reporte-sdf rol-reporte-bold">SAB</td>
        <td class="rol-reporte-sdf rol-reporte-bold">DOM</td>
        <td class="rol-reporte-sdf rol-reporte-bold">FER</td>
        <td class="rol-reporte-sdf rol-reporte-bold">TOTAL</td>
        <td class="rol-reporte-dc rol-reporte-bold">DC</td>
        <td class="rol-reporte-neto rol-reporte-bold"></td>
    </tr>

    @{
        var flag = true;
        foreach (var item in Model.Reporte.ListaReporte)
        {
            if (item.Cabecera == 1)
            {
                <tr>
                    <td colspan="7" class="rol-reporte-grupo">@item.Grupo</td>
                </tr>
                flag = true;
            }
            else if (item.Cabecera == 2)
            {
                flag = false;
            }
            else
            {
                if (flag)
                {
                    <tr>
                        <td class="rol-reporte-responsable">@item.Responsable</td>
                        <td class="rol-reporte-normal">@item.Sabado</td>
                        <td class="rol-reporte-normal">@item.Domingo</td>
                        <td class="rol-reporte-normal">@item.Feriado</td>
                        <td class="rol-reporte-sdf">@item.Total</td>
                        <td class="rol-reporte-dc">@item.Descanso</td>
                        <td class="rol-reporte-neto">@item.Neto</td>
                    </tr>

                }
            }
        }

    }


</table>