@model List<COES.MVC.Intranet.Areas.Resarcimientos.Models.ConfiguraionModel>
@{
    ViewBag.Title = ".::Intranet SGOCOES COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-configuracion.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/messaje-operation.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de Par&aacute;metros</div>
    <div class="content-botonera" style="margin-left:auto">
        <input id="NuevoConfig" type="button" value="Nuevo" title="Crear un nuevo Parámetro" />
    </div>
</div>
<div class="content-hijo content-frame">
    <div class="field-group">
        <div class="field-group">
            <div class="field-wrap">

                <div id="divBandeja">
                    <table border="0" class="pretty tabla-formulario">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th>Atributo</th>
                                <th>Par&aacute;metro</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody id="contentTension">

                            @if (Model != null)
                            {
                                foreach (var mp in Model)
                                {
                                    <tr>
                                        <td><a class="btnOpenFileManagerEditarParametro btn-table" data-registro="@mp.Configcodi" style="display:block;" title="Editar Configuración de Parámetros"><img src="~/Content/Images/btn-edit.png" /></a></td>
                                        <td><a class="btnOpenFileManagerEliminarParametro btn-table" data-registro="@mp.Configcodi" data-nombretabla="@mp.Confvalor" style="display:block;" title="Eliminar Configuración de Parámetros"><img src="~/Content/Images/btn-cancel.png" /></a></td>
                                        <td align="center">@mp.Confatributo</td>
                                        <td align="center">@mp.Confparametro</td>
                                        <td align="center">@mp.Confvalor</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <script>
                        $('.tabla-formulario').dataTable({
                            "scrollY": "400px",
                            "scrollCollapse": true,
                            "paging": false
                        });
                    </script>

                </div>


            </div>
        </div>
    </div>
</div>


<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>
<div id="MessagesClose">
    <div class="popup-title"><span>Mensaje de Operación</span></div>
    <div class="popup-text content-messajes-text">

    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>