@model COES.MVC.Intranet.Areas.Resarcimientos.Models.ConfiguraionModel
@{
    Layout = null;
    ViewBag.Title = "Default";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-configuracion.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />
<div class="search-content">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="clear"></div>
        <div class="field-group">

            <table>
                <tr>
                    <th>Atributo</th>
                    <td>
                        <select name="Atributo" id="atributo" style="width:160px">
                            <option value="@Model.Confatributo">@Model.Confatributo</option>
                        </select>
                    </td>
                    <th>Par&aacute;metro</th>
                    <td>
                        <select name="Parametro" id="parametro" style="width:120px">
                            <option value="@Model.Confparametro">@Model.Confparametro</option>
                        </select>
                    </td>
                    <th>Ingrese Valor</th>
                    <td>
                        <input type="text" name="Valor" id="confvalor" value="@Model.Confvalor" />
                    </td>
                </tr>

            </table>
            <br>
            <br>
            <center>
                <div>
                    <input data-registro="@Model.Configcodi" id="btnModificarTension" type="button" value="Modificar" />
                    <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
                </div>
            </center>

        </div>
    </div>
</div>
