@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.TransmisorModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    string sSelected = "";
}
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<script src="~/Areas/SistemasTransmision/Content/Scripts/Empresa.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
@using (Html.BeginForm("Save", "transmisor", FormMethod.Post, new { id = "frmTransmisor", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "empresa", new { stpercodi = Model.EntidadPeriodo.Stpercodi, strecacodi = Model.Entidad.Strecacodi })'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            @Html.HiddenFor(model => model.Entidad.Stranscodi, new { id = "stranscodi" })
            @Html.HiddenFor(model => model.Entidad.Strecacodi, new { id = "recacodi" })
            @Html.HiddenFor(model => model.EntidadPeriodo.Stpercodi)
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td><div class="editor-label">Empresa(*) :</div></td>
                    <td>
                        <div>
                            <select id="Entidad_Emprcodi" name="Entidad.Emprcodi">
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    sSelected = "";
                                    if (@item.EmprCodi == Model.Entidad.Emprcodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.EmprCodi" @sSelected>@item.EmprNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">(*) Campo Obligatorio</div></td>
                </tr>
            </table>
        </div>

    </div>
}