@model COES.MVC.Publico.Areas.Operacion.Models.HidrologiaModel
@{
    ViewBag.Title = "Proyección Hidrológica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Hidrologia/Content/Scripts/reporteProyeccionHidrologica.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Proyección Hidrológica</div>
    <div class="content-botonera">
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de información:</td>
                <td>
                    <select id="cbFormato" style="width: 225px;">
                        @foreach (var item in Model.ListaFormato)
                        {
                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfUnidad" />
                </td>

                <!-- Resolucion diario-->
                <td style="display: none" class="fila_resol_diario">Fecha desde:</td>
                <td style="display: none" class="fila_resol_diario">
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                    <input type="hidden" id="hfFechaDesde" value="@Model.FechaInicio" />
                </td>
                <td style="display: none" class="fila_resol_diario">Fecha hasta:</td>
                <td style="display: none" class="fila_resol_diario">
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>

                <!-- Resolucion semanal-->
                <td style="display: none" class="fila_resol_semanal">Año Inicio:</td>
                <td style="display: none" class="fila_resol_semanal">
                    <input type="text" id="AnhoIni" value="@Model.Anho" />
                    <input type="hidden" id="hfAnhoIni" value="@Model.Anho" />
                </td>
                <td style="display: none" class="fila_resol_semanal">Semana inicio:</td>
                <td style="display: none" class="fila_resol_semanal">
                    <div id="divSemanaIni"> </div>
                    <input type="hidden" id="hfSemanaIni" />
                </td>

                <td style="display: none" class="fila_resol_semanal">Año Inicio:</td>
                <td style="display: none" class="fila_resol_semanal">
                    <input type="text" id="AnhoFin" value="@Model.Anho" />
                    <input type="hidden" id="hfAnhoFin" value="@Model.Anho" />
                </td>
                <td style="display: none" class="fila_resol_semanal">Semana fin:</td>
                <td style="display: none" class="fila_resol_semanal">
                    <div id="divSemanaFin"> </div>
                    <input type="hidden" id="hfSemanaFin" />
                </td>

            </tr>

        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

</div>