@model COES.MVC.Publico.Areas.Operacion.Models.HidrologiaModel
@{
    ViewBag.Title = "Reporte Pronóstico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Hidrologia/Content/Css/reportePronostico.css" rel="stylesheet" />
<link href="~/Areas/Hidrologia/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/reportePronostico.js?id=12"></script>
<script src="~/Content/Scripts/highstock.js"></script>

<script type="text/javascript">
    function CargarSemanaAnho2() {
        CargarSemanaAnho();
    }
</script>


<div class="form-title">
    <div class="content-titulo">Reporte de Prónosticos hidrólogicos semanal y diario</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Reporte" />
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Reporte:</td>
                <td style="width:200px;">
                    <select id="cbTipoReporte" name="cbTipoReporte">
                        <option value="-1">--Seleccione--</option>
                        <option value="1">Diario</option>
                        <option value="2">Semanal</option>
                    </select>
                </td>

                <td class="filaDia" style="display: none">Fecha:</td>
                <td class="filaDia" style="display: none">
                    <input type="text" name="fecha" id="fecha" value="@Model.Dia" style="width:100px" />
                    <input type="hidden" id="hfFecha" value="@Model.Dia" />
                </td>

                <td class="filaSemana" style="display: none">Año:</td>
                <td class="filaSemana" style="display: none">
                    <input type="text" id="anho" name="anho" style="width:70px;" value="@Model.Anho" />
                    <input type="hidden" id="hfAnho" value="@Model.Anho" />
                </td>
                <td class="filaSemana" style="display: none">Semana Hidrológica:</td>
                <td class="filaSemana" style="display: none">
                    <div id="divSemana"> </div>
                    <input type="hidden" id="hfSemana" value="@Model.NroSemana" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>

<div id="detalleFaltante" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de faltantes</span></div>
    <div id="idDetalleFaltante" style="height:370px;">
    </div>
</div>