@model COES.MVC.Publico.Areas.Operacion.Models.HidrologiaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/reportetiemporeal.js?v=1.2"></script>
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Content/Scripts/exporting.js"></script>



<div class="form-title">
    <div class="content-titulo">Hidrología Tiempo Real</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Reporte" />
        <input type="button" id="btnGrafico" value="Ver Gráfico" />
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px">
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" />
                </td>
                <td>Parámetros:</td>
                <td>
                    <select id="cbUnidades" name="IdUnidad">
                        @foreach (var item in Model.ListaUnidades)
                        {
                            var descripcion = "";
                            switch (item.Tipoinfocodi)
                            {
                                case 11:
                                    descripcion = "Caudal (" + item.Tipoinfodesc + ")";
                                    break;
                                case 14:
                                    descripcion = "Volumen (" + item.Tipoinfodesc + ")";
                                    break;
                                case 40:
                                    descripcion = "Nivel (" + item.Tipoinfodesc + ")";
                                    break;
                                case 1:
                                    descripcion = "Potencia promedio (" + item.Tipoinfoabrev + ")";
                                    break;
                                case 3:
                                    descripcion = "Energía restante(" + item.Tipoinfoabrev + ")";
                                    break;
                            }
                            <option value="@item.Tipoinfocodi">@descripcion</option>
                        }
                    </select>
                    <input type="hidden" id="hfUnidad" />
                </td>

            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="Fecha" name="Fecha" value="@Model.FechaInicio" />
                    <input type="hidden" id="hfFecha" value="@Model.FechaInicio" />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
            </tr>
            <tr id="idTr2">
                <td colspan=" 4">
                    @*<div class="content-download2" >
                            <div>
                                <strong>Tipo de Reporte:</strong>
                                <input type="radio"  name="rbidTipo"  onclick="handleClick(this);" value="1" />Tiempo Real
                                <input type="radio"  name="rbidTipo"  onclick="handleClick(this);" value="2" />Hidrología
                                <input type="hidden" id="hfidTipo" />
                            </div>
                        </div>*@
                </td>
            </tr>
            <tr id="idTr3"></tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
