@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<link href="~/Areas/IND/Content/Css/css.css?v=1.3.4" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/cuadro7_reporte_index.js?v=1.7.3"></script>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfCuadro" value="@Model.IdCuadro" />
    <input type="hidden" id="hfHorizonte" value="@Model.Horizonte" />

    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr id="idTr2">
                <td colspan=" 6">
                    <div class="content-download2">
                        <div style="background-color:steelblue;color:white;border-radius: 6px 6px 6px 6px;">
                            <strong style="padding-left: 9px;">Periodo:</strong>
                            <div id="divanno" style="display:inline-block">
                                <input type="radio" id="rbAno" name="rbRadio" value="VA" />Año
                            </div>
                            <div id="divMes" style="display:inline-block">
                                <input type="radio" id="rbMes" name="rbRadio" value="VM" />Mes
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr id="bloqueAnio" style="display: none">
                <td>Desde:</td>
                <td>
                    <input type="text" id="txtAnioIni" value="@Model.AnioIni" style="width: 63px" />
                </td>
                <td>Hasta:</td>
                <td>
                    <input type="text" id="txtAnioFin" value="@Model.AnioFin" style="width: 63px" />
                </td>
                <td colspan="2" align="right">
                    <input type="button" id="btnConsultarAnio" value="Consultar" />
                </td>
            </tr>

            <tr id="bloqueMes" style="display: none">
                <td>Desde:</td>
                <td>
                    <input type="text" id="txtMesIni" value="@Model.MesIni" style="width: 78px" />
                </td>
                <td>Hasta:</td>
                <td>
                    <input type="text" id="txtMesFin" value="@Model.MesFin" style="width: 78px" />
                </td>
                <td colspan="2" align="right">
                    <input type="button" id="btnConsultarMes" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaVersion">Versiones</a></li>
            <li class='tab'><a href="#vistaProcesarCuadro">Procesar Cuadro</a></li>
            <li class='tab'><a href="#vistaCargarHistorico" style="display: none">Cargar histórico</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaVersion">
                <div class="content-tabla">

                    <div style="clear:both; height:5px"></div>

                    <div class="content-tabla">
                        <div class="table-list" id="listado"></div>
                    </div>

                </div>
            </div>

            <div id="vistaProcesarCuadro">

                <div id="formulario_aplicativo" class="content-tabla" style="display: none">
                    <div style="clear:both; height:5px"></div>

                    <div class="content-registro">
                        <h3>Parámetros</h3>
                        <table style="margin-top: 10px;width: auto" role="presentation">
                            <tr>
                                <td class="tbform-label">Periodo Inicial:</td>
                                <td class="tbform-control">
                                    <span id="desc_periodo_ini" style=" font-weight: bold; font-size: 16px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tbform-label">Periodo Final:</td>
                                <td class="tbform-control">
                                    <span id="desc_periodo_fin" style=" font-weight: bold; font-size: 16px;"></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="tbform-label">Tipo de generación:</td>
                                <td class="tbform-control">
                                    <span class="" id="">Generadores termoeléctricos e hidroeléctricos</span>
                                    <input type="hidden" id="famcodi_cuadro" value="-1" />
                                </td>
                            </tr>

                        </table>

                        <div class="div_verificacion_2" id="" style="margin-top: 15px;">
                            <input type="button" id="btnProcesarCuadro" value="Procesar Cuadro" />
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
