@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Excel web";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Areas/IND/Content/Scripts/moment-range.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />

<link href="~/Areas/IND/Content/Css/css.css?v=1.3.2" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/cuadro7_reporte_view_grillas.js?v=1.4"></script>
<script src="~/Areas/IND/Content/Scripts/cuadro7_reporte_view.js?v=1.4"></script>

<div class="form-title">
    <div class="content-titulo">@(Model.Cuadro.Icuanombre + " - " + Model.IndPeriodo.Iperinombre +" - Versión N° "+Model.IndReporte.Irptnumversion)</div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfCuadro" value="@Model.IdCuadro" />
    <input type="hidden" id="hfRecalculo" value="@Model.IndRecalculo.Irecacodi" />
    <input type="hidden" id="hfPeriodo" value="@Model.IndPeriodo.Ipericodi" />
    <input type="hidden" id="hfReporteVersion" value="@Model.IdReporte" />
    <input type="hidden" id="hfFamilia" value="@Model.Famcodi" />
    <input type="hidden" id="hfRecalculo" value="@Model.IndReporte.Irecacodi" />

    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px;">Tipo de generación:</td>
                <td>
                    <select id="cbFamilia" style="width: 89px;">
                        <option value="5" selected>Térmico</option>
                        <option value="4">Hidráulico</option>
                    </select>
                </td>

                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px; display: none">Operación comercial:</td>
                <td style="display: none">
                    <select id="cbCentralIntegrante" style="width: 50px;">
                        <option value="S" selected>SÍ</option>
                        <option value="N">NO</option>
                    </select>
                </td>

                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px;">Empresa:</td>
                <td>
                    <div id="div_empresa_filtro">
                        <select id="cbEmpresa" name="cbEmpresa">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" id="hfEmpresa" value="-1" />
                </td>

                <td class="tbform-label" style="padding-left: 10px;padding-right: 2px;">Central:</td>
                <td>
                    <div id="div_central_filtro">
                        <select id="cbCentral" name="cbCentral">
                            @foreach (var item in Model.ListaCentral)
                            {
                                <option value="@item.Equipadre">@item.Central</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" id="hfCentral" value="-1" />
                </td>

                <td class="tbform-label" style="padding-right: 0px; display: none">Fecha Inicio:</td>
                <td class="" style=" display: none">
                    <input type="text" id="desc_fecha_ini" value="@Model.FechaIni" />
                    <input type="hidden" id="hfFechaIni" value="@Model.FechaIni" />
                </td>

                <td class="tbform-label" style="padding-right: 0px; display: none">Fecha Fin:</td>
                <td class="" style=" display: none">
                    <input type="text" id="desc_fecha_fin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaFin" value="@Model.FechaFin" />
                </td>

                <td class="content-action">
                    <a href="#" id="btnExportarExcel">
                        <div class="content-item-action">
                            <img src="~/Content/Images/ExportExcel.png" alt="logo" /><br />
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class='panel-container' style=" min-height: 500px;">
        <div id="tabReporte">
            <div class="table-list" id="listado1"></div>
        </div>
    </div>

</div>

