@model COES.MVC.Intranet.Areas.Transferencias.Models.CompensacionModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Compensacion</th>
            <th>Visualizar</th>
            <th>Estado</th>
            <th>Rentas x Congestión?</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCompensacion)
        {
            <tr id="fila_@item.CabeCompCodi">
                <td class="text_left">@item.CabeCompNombre</td>
                <td>@item.CabeCompVer</td>
                <td>
                    @if (item.CabeCompEstado == "ACT")
                    { <span>Activo</span> }
                    else
                    { <span>Inactivo</span> }
                </td>
                <td>@item.CabeCompRentConge</td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.CabeCompCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.CabeCompCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>
