@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel

<script src="~/Areas/PrimasRER/Content/Scripts/parametrorermeses.js?v=1.0.1"></script>
<div class='panel-container'>
    <div id="campoHiddenEdit">

    </div>
    <input type="hidden" id="IdRerCentralCodRetiroEdit" value="@Model.IdRerCentralCodRetiro" />
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Empresa (*):</td>
            <td class="tbform-control">
                <select id="empresaSelectEdit">
                    <option value="@Model.ListCentralRER[0].Emprcodi">"@Model.ListCentralRER[0].Emprnomb"</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Central (*):</td>
            <td class="tbform-control">
                <select id="equipoSelectEdit">
                    <option value="@Model.ListCentralRER[0].Rercencodi">"@Model.ListCentralRER[0].Equinomb"</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Código de retiro (*):</td>
            <td class="tbform-control">
                <select id="codRetiroSelectEdit">
                    <option value="-1">--Seleccione--</option>
                    @foreach (var codigoRetiro in Model.ListaCodigoRetiro)
                    {
                        var optionValue = codigoRetiro.SoliCodiRetiCodi + "-" + codigoRetiro.BarrCodi + "-" + codigoRetiro.BarrNombBarrTran;
                        <option value="@optionValue">@codigoRetiro.SoliCodiRetiCodigo</option>
                    }
                </select>
            </td>
            <td>
                <input type="button" id="btnAgregarRelacion" value="Agregar" alt="Agregar" title="Agregar" onclick="agregarRelacionBarraTransferencia(0)" />
                <input type="button" id="btnAgregarTodasRelaciones" value="Agregar todos" alt="Agregar todos" title="Agregar todos" onclick="agregarTodasRelacionBarraTransferencia(0)" />
            </td>
        </tr>
        <tr></tr>
    </table>

    <div style="height: 100px; overflow-y: auto;">
        <table border="0" class="pretty tabla-icono" id="tablameses">
            <thead>
                <tr>
                    <th style="width:30px;">&nbsp;</th>
                    <th style="width:200px;">Código Retiro</th>
                    <th>Barra Transferencia</th>
                </tr>
            </thead>
            <tbody id="tablaBodyRelacionesEdit">
                @foreach (var item in Model.ListaCodigoRetiroTabla)
                {
                    <tr id="">
                        <td><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" onclick="eliminarFila(this)"></td>
                        <td class="text_left" style="display: none;">@item.SoliCodiRetiCodi</td>
                        <td class="text_left" style="display: none;">@item.BarrCodi</td>
                        <td class="text_center">@item.SoliCodiRetiCodigo</td>
                        <td class="text_center">@item.BarrNombBarrTran</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div align="center" style="margin: 5px;">
        <input type="button" id="btnAgregarRelacionUpdate" value="Grabar" alt="Grabar" title="Grabar" onclick="actualizarRelacionBarraTransferencia()" />
    </div>
</div>

<script>
    function eliminarFila(imagen) {
        if (confirm('¿Está seguro que desea eliminar la relación?')) {
            var fila = imagen.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }
    }
</script>