@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.CalculoCompRSFModel
@{
    ViewBag.Title = "Saldo del Mes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />


<script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/saldomesdirecto.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo" style="width:800px;">Saldos del Mes</div>
    </div>
    @if (Model.EntidadPeriodo.PeriCodi > 0 && Model.EntidadRecalculo.Vcrecacodi > 0)
    { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Ingreso de Saldos del mes de: @Model.EntidadRecalculo.Perinombre / @Model.EntidadRecalculo.Vcrecanombre</div> }
    else
    { <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione un Mes de valorización y una versión de recalculo</div> }
    <div class="content-hijo" style="padding-top:8px">
        <div class='panel-container'>
            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                <table border="1" cellpadding="5" cellspacing="2">
                    <tr class="THCabecera">
                        <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros </b></div></td>
                    </tr>
                    <tr>
                        <td><div style="width:50px">Periodo: </div></td>
                        <td style="width:300px">
                            <select id="pericodi" name="pericodi" onchange="refrescar();">
                                @foreach (var item in Model.ListaPeriodos)
                                {
                                    sSelected = "";
                                    if (@item.PeriCodi == Model.Pericodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                }
                            </select>
                        </td>
                        <td style="width:100px">Recalculo: </td>
                        <td style="width:300px">
                            <select id="vcrecacodi" name="vcrecacodi">
                                @foreach (var item in Model.ListaRecalculo)
                                {
                                    sSelected = "";
                                    if (@item.Vcrecacodi == Model.Vcrecacodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.Vcrecacodi" @sSelected>@item.Vcrecanombre</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="idpanel" style="overflow:auto; background-color:#fff">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                                    <table class="table-search" style="width:auto">
                                        <tr>
                                            <td style="height:40px;">
                                                <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                                    <tr>
                                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                            <a href="#" id="btnDescargarExcelSD">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/CompensacionRSF/Content/Images/bajar.png" /><br />
                                                                    <span>Descargar Excel</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                            <a href="#" id="btnSelecionarExcelSD">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/CompensacionRSF/Content/Images/subir.png" /><br />
                                                                    <span>Importar Excel</span>
                                                                </div>
                                                            </a>
                                                        </td>        
                                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                            <a href="#" id="btnEliminarDatosSD">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/CompensacionRSF/Content/Images/borrador.png" /><br />
                                                                    <span>Eliminar datos</span>
                                                                </div>
                                                            </a>
                                                        </td>                                                
                                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                                            <a href="#" id="btnGrabarExcelSD">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/CompensacionRSF/Content/Images/enviar.png" /><br />
                                                                    <span>Enviar datos</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="grillaExcelSD" style="height:auto"></div>
            </div>
        </div>
    </div>
</div>
