@model COES.MVC.Intranet.Areas.Transferencias.Models.TransferenciaRentaCongestionModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th><font color="#FFFFFF">Periodo</font></th>
            <th><font color="#FFFFFF">Nombre de versión</font></th>
            <th><font color="#FFFFFF">Usuario de creación</font></th>
            <th><font color="#FFFFFF">Fecha de creación</font></th>
            <th><font color="#FFFFFF">Usuario de actualización</font></th>
            <th><font color="#FFFFFF">Fecha de actualización</font></th>
            <th><font color="#FFFFFF">Estado</font></th>
            <th><font color="#FFFFFF">Acciones</font></th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPeriodosRentaCongestion)
        {
            <tr class="menu-contextual">
                <td>@item.PeriNombre</td>
                <td>@item.RecaNombre</td>
                <td>@item.PeriUserName</td>
                <td>@item.PeriFecIns.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.RecaUserName</td>
                <td>@item.RecaFecAct.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.RecaEstado</td>
                @if (item.RecaEstado.Equals("Abierto"))
                {
                    <td><a href="JavaScript:modificarPeriodoRentaCongestion('@item.PeriCodi','@item.RecaCodi');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>
                    </td>
                }
                else
                {
                    <td><a href="JavaScript:modificarPeriodoRentaCongestion('@item.PeriCodi','@item.RecaCodi');" title="Consultar">
                            <img src="~/Content/Images/btn-properties.png" alt="">
                        </a>
                    </td>
                }           
            </tr>
        }
    </tbody>
</table>
