@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "PR25 - Factores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}

<link href="~/Areas/IND/Content/Css/general.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/general.js?v=1.5.5"></script>

<style>
    table tbody td .menu-item.suboptions {
        width: 97px;
    }
</style>

<input type="hidden" id="flagMensual" value="1" />

<div class="form-title">
    <div class="content-titulo">Factores de Indisponibilidad PR25</div>

    <div style="float: right">
        <span style="font-size: 12px;">Periodo:</span>
        <select id="cbAnioFiltroGeneral" style="width: 57px;">
            @foreach (var item in Model.ListaAnio)
            {
                var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                <option value="@item.Entero1" @(selected)>@item.String1</option>
            }

        </select>

        <select id="cbPeriodoFiltroGeneral" style="width: 120px;">
            @foreach (var item in Model.ListaPeriodo)
            {
                var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                <option value="@item.Ipericodi" @selected>@item.Iperinombre</option>
            }
        </select>

        <span style="font-size: 12px;">Recálculo:</span>
        <select id="cbRevisionFiltroGeneral" style="width:150px">
            @if (Model.ListaRecalculo.Count > 0)
            {
                foreach (var item in Model.ListaRecalculo)
                {
                    <option value="@item.Irecacodi">@item.Irecanombre</option>
                }
            }
            else
            {
                <option value="0">--</option>
            }
        </select>

    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_periodo" style="float: left; padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Periodo</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/IND/Periodo/Index?tipoMenu=2" data-alto="680" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Periodo y Recálculos
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_reporte_factor" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Factores</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/ReporteFactores/Factor?idCuadro=8" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Fortuita mensual Térmicas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/ReporteFactores/Factor?idCuadro=9" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Programada mensual y anual Térmicas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/ReporteFactores/Factor?idCuadro=10" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Programada mensual y anual Hidráulicas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/ReporteFactores/Factor?idCuadro=11" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Factor Presencia Hidráulicas
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_configuracion" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Insumos</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/DispCalorUtil/IndexCalorUtil?idCuadro=14" data-alto="1100" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Disponibilidad de Calor Útil
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/CargaHistorica/IndexHistoricoTermico/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Carga histórica Indisponibilidades Térmicas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/CargaHistorica/IndexHistoricoHidro/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Carga histórica Indisponibilidades Hidráulicas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/Parametros/IndexParametros?anexo=B" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Parámetros <br />Anexo B <br />del PR25
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/Parametros/IndexParametros?anexo=C" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Parámetros <br />Anexo C <br />del PR25
                            </label>
                        </div>
                    </td>

                    <td style="">
                        <div class="menu-item suboptions" data-url="/IND/UnidadGeneracion/IndexOperacionComercial/" data-alto="1400" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Operación comercial
                            </label>
                        </div>
                    </td>
                    <td style="">
                        <div class="menu-item suboptions" data-url="/IND/UnidadGeneracion/IndexPotenciaEfectiva/" data-alto="1400" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Unidades de Generación
                            </label>
                        </div>
                    </td>

                    <!--Funcionalidades deprecated-->
                    <td style="display: none">
                        <div class="menu-item suboptions" data-url="/IND/Reporte/CargaHistorica/" data-alto="1400" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Cargar archivo
                            </label>
                        </div>
                    </td>
                    <td style="display: none">
                        <div class="menu-item suboptions" data-url="/IND/Configuracion/Index/" data-alto="800" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Equivalencia BD Coes y archivo
                            </label>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="iframeIndisp" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>
