@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.PeriodoModel

@{
    ViewBag.Title = "Administración de Versiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CostoOportunidad/Content/Scripts/bandas.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Bandas del Periodo - <span>@Model.DesPeriodo</span></div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value='Nuevo' />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div id="listado">

        <table border="0" class="pretty tabla-icono" id="tabla">
            <thead>
                <tr>

                    <th>Fecha</th>
                    <th>Equipo</th>
                    <th>Potencia mínima</th>
                    <th>Potencia máxima</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.ListaBandas.Count > 0)
                {
                    foreach (var item in Model.ListaBandas)
                    {
                        <tr>
                            <td>
                                @if (item.Topfecha != null)
                                {
                                    <span>@(((DateTime)item.Topfecha).ToString("dd/MM/yyyy"))</span>
                                }
                            </td>
                            <td>@item.Gruponomb</td>
                            <td>@item.Pmin</td>
                            <td>@item.Pmax</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
</div>
