@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ConfiguracionUrsModel
@{
    ViewBag.Title = "Importar Insumos - Configuración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/CostoOportunidad/Content/Css/urs.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/CostoOportunidad/Content/Scripts/configuracionurs.js?v=3.3"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>

<div class="form-title">
    <div class="content-titulo">Importar Insumos - Configuración</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#configuracionURS">Configuración de URS</a></li>
            <li class='tab'><a href="#configuracionPeriodo">Periodos de Programación</a></li>

        </ul>
        <div class='panel-container'>
            <div id="configuracionURS">

                <div id="mensaje"></div>

                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Periodo:</td>
                            <td>
                                <select id="cbPeriodo">
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        <option value="@item.Copercodi">@item.Copernomb</option>
                                    }
                                </select>
                            </td>
                            <td>Versión:</td>
                            <td>
                                <select id="cbVersion"></select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Consultar" />
                                <input type="button" id="btnImportar" value="Importar anterior" />
                            </td>
                            <td>
                                <span id="lblDatosVersion"></span>
                                <input type="hidden" id="hfFechaInicioVersion" />
                                <input type="hidden" id="hfFechaFinVersion" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="configuracion-urs">
                    <div>
                        <div id="listadoURS">

                        </div>
                    </div>
                    <div>
                        <div id="datosURS">
                            <div class="popup-title">
                                <span>Configuración de la URS: <span id="spanCentral"></span></span>
                            </div>
                            <div style="clear:both; height:15px"></div>
                            <div class="content-registro">
                                <table>
                                    <tr>
                                        <td class="registro-label">Fecha inicio habilitación:</td>
                                        <td class="registro-control"> <input type="text" id="txtInicioHabilitacion" style="width:120px" class="txtFechaHabilitacion" /></td>
                                        <td class="registro-label"> Fecha fin habilitacion:</td>
                                        <td class="registro-control"><input type="text" id="txtFinHabilitacion" style="width:120px" class="txtFechaHabilitacion" /></td>
                                    </tr>
                                </table>
                            </div>

                            <div style="clear:both; height:20px"></div>

                            <div class="popup-title">
                                <span>Operación de la URS</span>
                            </div>
                            <div style="clear:both; height:15px"></div>
                            <div id="excelOperacion">

                            </div>
                            <div style="height:10px"></div>
                            <span><strong>Nota:</strong>Hacer clic derecho en cada fila para seleccionar las opción de configuración de señales.</span>
                            <div style="clear:both; height:20px"></div>

                            <div class="popup-title">
                                <span>Reporte Extranet</span>
                            </div>
                            <div style="clear:both; height:15px"></div>
                            <div id="excelExtranet">

                            </div>
                            <div style="clear:both; height:20px"></div>
                            <div class="popup-title">
                                <span>Equipo para RPF</span>
                            </div>
                            <div style="clear:both; height:15px"></div>

                            <div id="excelEquipo">

                            </div>

                            <div style="clear:both; height:20px"></div>
                            <div style="width:100px; margin:auto;">
                                <input type="button" value="Grabar" id="btnGrabarConfiguracion" />
                            </div>
                            <div style="clear:both; height:20px"></div>
                            <input type="hidden" id="hfIdUrs" />
                            <input type="hidden" id="hfNombreCentral" />
                            <input type="hidden" id="hfNombreURS" />

                        </div>
                    </div>
                </div>


            </div>

            <div id="configuracionPeriodo">
                <div id="mensaje_periodos"></div>

                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td style="float:right;">
                                <input type="button" id="btnAgregarPeriodo" value="Agregar" />
                                <input type="button" id="btnVerificarPeriodo" value="Verificar" />
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="periodos-programacion">

                    <div class="content-tabla" id="excelwebPeriodosProg" style="padding-top: 20px;">
                        <div class="table-list" id="listadoPeriodosProg">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<div id="popupSeniales" class="general-popup" style="min-width:1100px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Señales</span></div>
    <div class="popup-text" id="contenidoSeniales" style="margin-top:0">

    </div>
</div>

<div id="popupGenerador" class="general-popup" style="min-width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Unidades</span></div>
    <div class="popup-text" id="contenidoGenerador" style="margin-top:10px">

    </div>
</div>

<div id="agregarPeriodo" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registrar Periodo de Programación T</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaAddPeriodoP">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>
                <div class='action-message' id='mensajeAddPeriodo' style="margin-bottom:5px; margin-top:0; display:none"></div>
                <div class="content-tabla">
                    <table style="width:auto; margin: 0 auto;" role="presentation">
                        <tr>
                            <td style="">Fecha Vigencia:</td>
                            <td>
                                <input style="width: 90px;" type="text" id="txtAddVigencia" />
                                <input type="hidden" id="hftxtAddVigencia" value="@Model.FechaActual" />
                                <input type="hidden" id="hfultimaVigencia" />
                            </td>
                        </tr>
                        <tr>
                            <td style="">Valor:</td>
                            <td>
                                <input type="number" id="txtAddValor" value="0.5" min="0.5" max="24" step="0.5" style="width: 40px;" />
                            </td>
                        </tr>


                        <tr>
                            <td colspan="2" style="text-align: center; padding-top: 25px;">
                                <input type="button" id="btnAddGrabarPeriodo" value="Grabar" />
                                <input type="button" id="btnAddCancelarPeriodo" value="Cancelar" />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editarPeriodo" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Actualizar Periodo de Programación T</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaEditPeriodoP">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>
                <div class='action-message' id='mensajeEditPeriodo' style="margin-bottom:5px; margin-top:0; display:none"></div>
                <div class="content-tabla">
                    <table style="width:auto; margin: 0 auto;" role="presentation">
                        <tr>
                            <td style="">Fecha Vigencia:</td>
                            <td>
                                <input style="width: 90px;" type="text" id="txtEditVigencia" />
                                <input type="hidden" id="hfFecVigenciaIni" />
                            </td>
                        </tr>
                        <tr>
                            <td style="">Valor:</td>
                            <td>
                                <input type="number" id="txtEditValor" value="0.5" min="0.5" max="24" step="0.5" style="width: 40px;" />
                                <input type="hidden" id="hfIdPeriodo" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; padding-top: 25px;">
                                <input type="button" id="btnEditGrabarPeriodo" value="Actualizar" />
                                <input type="button" id="btnEditCancelarPeriodo" value="Cancelar" />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="verificarPeriodo" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Verificar Periodo de Programación T</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaVerificarPeriodoP">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>

                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%" role="presentation">
                        <tr>
                            <td style="padding-left: 15px;  vertical-align: middle; ">Periodo:</td>
                            <td style="width: 200px;">
                                <select id="cbVerificarAnioPeriodo" style="width: 57px;">
                                    @foreach (var anio in Model.ListaAnios)
                                    {
                                        var selected = Model.Anio == anio ? "selected" : "";
                                        <option value="@anio" @(selected)>@anio</option>
                                    }
                                </select>
                                <select id="cbVerificarMesPeriodo" style="width: 120px">
                                    @foreach (var item in Model.ListaPeriodos)
                                    {
                                        <option value="@item.Copercodi">@item.Copernomb</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="hidden" id="hfAnioCombo" value="@Model.ListaAnios.First()" />
                                <input type="hidden" id="hfMesCombo" value="@Model.ListaPeriodos.First().Copercodi" />
                            </td>


                            <td style=" vertical-align: middle;">Versión:</td>
                            <td style="">
                                <select id="cbVerificarVersion">
                                    <option value="-1">-- Escoger versión --</option>
                                    <option value="0">Preliminar Quincenal</option>
                                    <option value="1">Final Mensual</option>

                                </select>
                            </td>

                            <td style="width: 150px;">
                                <input style="float: right;" type="button" id="btnVerificarP" value="Verificar">
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="periodos-verificar-rango">
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                        <div id="rangoAVerificar">

                        </div>
                    </div>
                </div>

                <div class='action-message' id='mensajeVerificarPeriodo' style="margin-bottom:5px; margin-top:0; display:none"></div>

                <div class="periodos-verificar-tabla">

                    <div class="content-tabla" style="padding-top: 20px;">
                        <div class="table-list" id="listadoVerificacion">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>