@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ConfiguracionUrsModel

<table border="0" class="pretty tabla-adicional" id="tablaURS">
    <thead>
        <tr>
            <th></th>
            <th>Central</th>
            <th>URS</th>           
        </tr>
    </thead>

    <tbody>
        @if (Model.ListadoURS.Count > 0)
        {
            foreach (var item in Model.ListadoURS)
            {
                <tr id="@("trUrs" + item.Grupocodi)">
                    <td>
                        <a href="JavaScript:verConfiguracion(@item.Grupocodi, '@item.Gruponomb', '@item.Ursnomb');" title="Visualizar o editar los dato de la URS"><img src="~/Content/Images/btn-properties.png" alt="Visualizar o editar los dato de la URS"/></a>
                    </td>
                    <td>@item.Gruponomb</td>
                    <td>@item.Ursnomb</td>                   
                </tr>
            }
        }
    </tbody>
</table>