@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.PeriodoModel

<div class="content-registro">

    <div class="popup-title" style="margin-bottom:10px"><span>Datos del Periodo</span></div>
    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Año:</td>
                <td class="registro-control">
                    <select id="cbAnio" name="Anio">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaAnios)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="hidden" id="hfAnio" value="@Model.Entidad.Coperanio" />

                </td>
            </tr>
            <tr>
                <td class="registro-label">Mes:</td>
                <td class="registro-control">
                    <select id="cbMes" name="Mes">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaMeses)
                        {
                            <option value="@item.Copermes">@item.Descmes</option>
                        }
                    </select>
                    <input type="hidden" id="hfMes" value="@Model.Entidad.Copermes" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <input type="text" id="txtDescripcion" name="Descripcion"  maxlength="60" value="@Model.Entidad.Copernomb" />
                </td>
            </tr>
           
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado" name="Estado">
                        <option value="A">Activo</option>
                        <option value="P">En proceso</option>
                        <option value="C">Cerrado</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Coperestado" />
                </td>
            </tr>            
        </table>
      
        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Copercodi" />

    </form>

</div>
