@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.PeriodoModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:140px"></th>
            <th>Año</th>
            <th>Mes</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Última versión</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>           
        </tr>
    </thead>

    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td style="width:140px">
                        <a href="JavaScript:editar(@item.Copercodi);" title="Editar"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Copercodi);" title="Eliminar"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:versiones(@item.Copercodi);" title="Ver versiones"><img src="~/Content/Images/btn-properties.png" /></a>
                        <a href="JavaScript:consultarEnvios(@item.Copercodi);" title="Ver envios a liquidaciones"><img src="~/Content/Images/btn-open.png" /></a>
                        <a href="JavaScript:verReprogramas(@item.Copercodi);" title="Ver reprogramas"><img src="~/Content/Images/btn-ok.png" /></a>
                        <a href="JavaScript:verBandas(@item.Copercodi);" title="Ver bandas"><img src="~/Content/Images/btn-add.png" /></a>
                    </td>
                    <td>@item.Coperanio</td>
                    <td>@item.Descmes</td>
                    <td>@item.Copernomb</td>
                    <td>@item.Coperestado</td>
                    <td>@item.UltimaVersion</td>
                    <td>@item.Copperusumodificacion</td>
                    <td>
                        @if (item.Copperfecmodificacion != null)
                        {
                            <span>@(((DateTime)item.Copperfecmodificacion).ToString("dd/MM/yyyy"))</span>
                        }
                    </td>                   
                </tr>
            }
        }
    </tbody>
</table>