@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.VersionModel


<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px"></th>
            <th>Versión</th>
            <th>Tipo versión</th>
            <th>Fecha de inicio</th>
            <th>Fecha fin</th>
            <th>Estado</th>
            <th>Usuario modificación</th>
            <th>Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
        <tr>
            <td style="width:70px">
                <a href="JavaScript:editar(@item.Covercodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                <a href="JavaScript:eliminar(@item.Covercodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
            </td>
            <td>@item.Coverdesc</td>
            <td>@item.Destipo</td>
            <td>
                @if (item.Coverfecinicio != null)
                {
                    <span>@(((DateTime)item.Coverfecinicio).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>
                @if (item.Coverfecfin != null)
                {
                    <span>@(((DateTime)item.Coverfecfin).ToString("dd/MM/yyyy"))</span>
                }
            </td>
            <td>@item.Coverestado</td>           
            <td>@item.Coverusumodificacion</td>
            <td>
                @if (item.Coverfecmodificacion != null)
                {
                    <span>@(((DateTime)item.Coverfecmodificacion).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
            }
        }
    </tbody>
</table>