@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.VersionModel

<div class="content-registro">

    <div class="popup-title" style="margin-bottom:10px"><span>Datos de la Versión</span></div>
    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">


            <tr>
                <td class="registro-label">Tipo:</td>
                <td class="registro-control">
                    <select id="cbTipoVersion" name="TipoVersion">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaVersionBase)
                        {
                            <option value="@item.Covebacodi">@item.Covebadesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoVersion" value="@Model.Entidad.Covebacodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <input type="text" id="txtDescripcion" name="Descripcion" maxlength="60" value="@Model.Entidad.Coverdesc" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Inicio:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaInicio" name="FechaInicio" maxlength="60" value="@Model.FechaInicio" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Fin:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaFin" name="FechaFin" maxlength="60" value="@Model.FechaFin" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado" name="Estado">
                        <option value="A">Activo</option>
                        <option value="P">En proceso</option>
                        <option value="C">Cerrado</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.Entidad.Coverestado" />
                </td>
            </tr>
        </table>

        <div class="popup-title" style="margin-bottom: 10px; margin-top: 15px"><span>URS con formulación especial</span></div>


        <table>
            <tr>
                <td>Agregar URS</td>
                <td>
                    <select id="cbURS">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaUrs)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnAgregarURS" value="Agregar" />
                </td>
            </tr>
        </table>
        <div style="clear:both; height:20px"></div>
        <table id="tablaURS" border="0" class="pretty tabla-icono">
            <thead>
                <tr>
                    <th>Central</th>
                    <th>URS</th>
                    <th>Fórmula</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaUrsEspecial)
                {
                <tr>
                    <td>@item.Centralnomb</td>
                    <td>@item.Gruponomb</td>
                    <td>Fórmula 01</td>
                    <td>
                        <a ><img src="~/Content/Images/btn-cancel.png" onclick="$(this).parent().parent().parent().remove();"/></a>
                        <input type="hidden" id="hfIdGrupo" value="@item.Grupocodi" />
                    </td>
                </tr>
                }
            </tbody>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Covercodi" />
        <input type="hidden" id="hfCodigoPeriodo" name="CodigoPeriodo" value="@Model.Entidad.Copercodi" />
        <input type="hidden" id="hfListaURS" name="ListaGrupo" />

    </form>

</div>
