
@model COES.MVC.Intranet.Areas.PotenciaFirme.Models.PotenciaFirmeModel
@{
    ViewBag.Title = "RER No convencionales";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Areas/PotenciaFirme/Content/Scripts/index_rer_nc.js?v=1.8.2"></script>
<link href="~/Areas/PotenciaFirme/Content/Css/general.css?v=4.0" rel="stylesheet" />
<link href="~/Areas/PotenciaFirme/Content/Css/css.css?v=1.0" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">RER de Centrales Eólicas y Solares</div>
    <div class="content-botonera">
        <input type="button" id="btnHistorico" value='Generar Histórico RER' />
    </div>
</div>

<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <table  role="presentation">
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto" role="presentation">
                            <tr>

                                <td class="filtro">
                                    Periodo:
                                    <select id="cbAnio" style="width: 57px;">
                                        @foreach (var item in Model.ListaAnio)
                                        {
                                            var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                            <option value="@item.Entero1" @(selected)>@item.String1</option>
                                        }

                                    </select>

                                    <select id="cbPeriodo" style="width: 120px;">
                                        @foreach (var item in Model.ListaPeriodo)
                                        {
                                            var selected = Model.IdPeriodo == item.Pfpericodi ? "selected" : "";
                                            <option value="@item.Pfpericodi" @(selected)>@item.Pfperinombre</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div class="content-tabla" style="padding-top: 10px;">
            <div id="contenido">
                
                <input type="hidden" id="hfFIRer" value="@Model.FechaIniRER" />
                <input type="hidden" id="hfFFRer" value="@Model.FechaFinRER" />

                <table class="pretty tabla-adicional tabla_reporte_excel" style="width: auto; min-width: 500px" role="presentation">
                    <tbody>

                        <tr>
                            <td>
                                <a href="JavaScript:descargarReporteRER(1);" id="" title="Descargar en formato Excel">
                                    <img src="~/Content/Images/exportarExcel.png" alt="logo">
                                </a>
                            </td>
                            <td>Información de Medidores de Generación</td>
                        </tr>

                        <tr style="display: none">
                            <td>
                                <a href="JavaScript:descargarReporteRER(2);" id="" title="Descargar en formato Excel">
                                    <img src="~/Areas/TransfPotencia/Content/Images/excel.gif" alt="logo">
                                </a>
                            </td>
                            <td>Potencia Firme en Centrales RER Eólicas y Solares</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
