@{
    ViewBag.Title = "Consulta Rpf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Rpf/Content/Scripts/consultarpf.js?v=1.2"></script>

<div class="form-title_intranet">
    <div class="titulo">Consulta de datos - Procedimiento 21</div>
</div>
<div class="content-hijo" id="mainLayout" style="background-color:#fff">
    <div class="formulario-content" style="width: 50%; margin: auto;">
        <div class="formulario-r">
            <div class="formulario-rpf">Empresa:</div>
            <div class="formulario-controlrpf">
                <select id="cbEmpresa" name="cbEmpresa">
                    <option value="">-SELECCIONE-</option>
                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Fecha:</div>
            <div class="formulario-controlrpf">
                <input type="text" value="@Model.Fecha" id="txtFecha" />
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Hora Desde:</div>
            <div class="formulario-controlrpf">
                <select id="cbHoraDesde">
                    <option value="0">00:00</option>
                    @foreach (var item in Model.ListaAreas)
                    {
                        <option value="@item.Areaabrev">@item.Areaname</option>
                    }
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Hora Hasta</div>
            <div class="formulario-controlrpf">
                <select id="cbHoraHasta">
                    @foreach (var item in Model.ListaAreas)
                    {
                        <option value="@item.Areaabrev">@item.Areaname</option>
                    }
                    <option value="24">24:00</option>
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Central:</div>
            <div class="formulario-controlrpf">
                <select id="cbCentral">
                    <option value="">-SELECCIONE-</option>
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Punto de Medición:</div>
            <div class="formulario-controlrpf">
                <select id="cbPtoMedicion">
                    <option value="">-SELECCIONE-</option>
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Tipo de dato:</div>
            <div class="formulario-controlrpf">
                <select id="cbConsulta">
                    <option value="1">Potencia</option>
                    <option value="6">Frecuencia</option>
                </select>
            </div>
        </div>

        <a href="JavaScript:consultarDatos();">
            <img src="~/Content/Images/btnConsultar.png" />
        </a>

        <div id="mensaje"></div>

    </div>
    <div style="clear:both"></div>

    <div id="progress" class="progress">
        Procesando...
    </div>
    <div id="listado" class="content-scroll" style="display:none">

    </div>
</div>

<style>
    .formulario-r {
        height: 30px;
    }

    .formulario-rpf {
        float: left;
        width: 280px;
    }

    .formulario-controlrpf {
        float: left;
    }

    .content-scroll {
        position: relative;
        margin: 0px auto;
        padding: 0px;
        width: 980px;
        height: 610px;
        overflow: scroll;
    }

    .progress {
        background: url("../../Content/Images/loading.gif") 10px 50% no-repeat;
        border: 2px solid #F2DD8C;
        background-color: #FFF5CC;
        padding: 10px;
        text-indent: 30px;
        width: 260px;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        margin-bottom: 10px;
        position: absolute;
        z-index: 20000;
        margin-left: 300px;
        display: none;
    }
</style>
