@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    ViewBag.Title = "Rpf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/Formato/global.js?v=1.7.2"></script>
<script src="~/Content/Scripts/Formato/grillaformato.js?v=1.7.2"></script>
<script src="~/Content/Scripts/Formato/formato.js?v=1.7.2"></script>
<script src="~/Content/Scripts/Formato/panelEnvio.js?v=1.7.8"></script>
<script src="~/Areas/IEOD/Content/Scripts/despacho.js?v=1.7.2"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/formato.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>
<link href="~/Content/Css/Formato/panelEnvio.css?v=1.7.8" rel="stylesheet" />
<link href="~/Areas/IEOD/Content/Css/css.css" rel="stylesheet" />

<div class="form-title_intranet">
    <div class="content-titulo">Rpf</div>
</div>
<div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <div id="mensaje" class="action-message" style="display: none; margin: 0; margin-bottom: 10px">Por favor seleccione empresa y la fecha.</div>
    <div class='action-message' id='mensajeEvento' style='display:none'></div>
    @using (Html.BeginForm("Listar", "Evento", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {
        <div class="search-content3">

            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell;">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div class="celda-item" style="display:table-cell;width:50px;">
                                    Empresa:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 250px; padding-right: 5px;">
                                    <select id="cbEmpresa" name="IdEmpresa" style="width:230px;">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>
                                <div id="fecha" class="celda-item" style="display: table-cell; width: 50px; ">
                                    Fecha:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 110px;">
                                    <input type="text" id="txtFecha" name="Fecha" value="@Model.Fecha" style="width:100px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>
                    <div style="display: table-cell; text-align: right;">
                        <div style="display:table;" id="barra">
                            <div style="display:table-row">

                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/bajar.png" /><br />
                                            <span>Descargar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnSelectExcel">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/subir.png" /><br />
                                            <span>Importar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/enviar.png" /><br />
                                            <span>Enviar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/errores.png" /><br />
                                            <span>Errores</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnVerEnvios">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/envios.png" /><br />
                                            <span>Envíos</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnGrafico">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/lines.png" /><br />
                                            <span>Gráficos</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnManttos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/IDE_32x32.png" /><br />
                                            <span>Manttos</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnEventos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/evento.png" /><br />
                                            <span>Eventos</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnExpandirRestaurar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                            <span id="spanExpandirContraer">Expandir</span>
                                        </div>
                                    </a>
                                    <input type="hidden" id="hfExpandirContraer" value="E" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="search-content2" id="filtro_grilla" style="display: none; ">
        <div style="display:table">
            <div style="display:table-row">
                <div class="filtro-label" style="display: table-cell; width: 50px;">
                    <label>Central</label>
                </div>
                <div class="filtro-contenido div_central" style="display:table-cell;width:220px;">
                    <select id="cbCentral" style="width:220px;"></select>
                </div>
            </div>
        </div>
    </div>


    <div class="content-tabla" style="display:block;">
        <div class="bodyexcel" id='detalleFormato'></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>
<div class="panel-ieod" id="idIeod">
</div>
<div class="ventana-grafico" id="idGrafico">
    <span class="button b-close"><span>X</span></span>

    <div class="popup-title"><span>Vista Gráfica</span></div>
    <div style="clear:both; height:10px"></div>
    <div class="search-content3" id="filtro_grilla2">
        <div style="display:table">
            <div style="display:table-row">
                <div class="filtro-label" style="display: table-cell; width: 120px;">
                    <label>Agrupar por Central</label>
                </div>
                <div class="filtro-contenido" style="display:table-cell;width:50px;">
                    <input type="checkbox" id="chkAgrupar" checked=''>
                </div>
                <div class="filtro-label" style="display: table-cell; width: 50px;">
                    <label>Central</label>
                </div>
                <div class="filtro-contenido div_central2" style="display:table-cell;width:210px;">
                    <select id="cbCentral2" multiple="multiple" style="color:black;"></select>
                </div>
                <div class="filtro-label" style="display: table-cell; width: 50px;">
                    <label>Unidad</label>
                </div>
                <div class="filtro-contenido div_grupo" style="display:table-cell;width:270px;">
                    <select id="cbGrupo" multiple="multiple" style="color:black;"></select>
                </div>
                <div class="filtro-label" style="display: table-cell; width: 70px;">
                    <label>Medida</label>
                </div>
                <div class="filtro-contenido div_unidad2" style="display:table-cell;width:120px;">
                    <select id="cbUnidad2"></select>
                </div>
                <div class="filtro-label" style="display: table-cell; width: 70px;">
                    <label>Eje Derecho</label>
                </div>
                <div class="filtro-contenido div_ejeder" style="display:table-cell;width:120px;">
                    <select id="cbEjeder" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="idVistaGrafica">

    </div>
</div>

<div class="general-popup" id="mantenimientos" style="min-width: 700px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Equipos en Mantenimiento que Indisponen a la Unidad de Generación</span></div>
    <div id="idMantenimiento">

    </div>
</div>

<div class="general-popup" id="eventos" style="min-width:700px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Eventos que Indisponen a la Unidad de Generación</span></div>
    <div id="idEvento">

    </div>
</div>

<input type="hidden" id="hfFormato" value="@Model.IdFormato" />
<input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfFecha" value="@Model.Dia" />
