@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
}

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/evolucionintegrantescoes.js?v=2.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <table class="pretty tabla-icono">
            <thead>
                <tr>
                    <th>AÑOS</th>
                    <th>MESES</th>
                    <th>GENERADORAS</th>
                    <th>TRANSMISORAS</th>
                    <th>DISTRIBUIDORAS</th>
                    <th>USUARIOS LIBRES</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemGr in ((List<Tuple<DateTime, string, int, int, int, int>>)ViewBag.ListaEvolucionIntegr).GroupBy(x => x.Item1.Year))
                {
                    int c = 1;
                    foreach (var item in itemGr)
                    {
                        <tr>
                            @if (c == 1)
                            {
                                <td rowspan="@itemGr.Count()">@item.Item1.Year</td>
                            }
                            <td>@item.Item2</td>
                            <td>@item.Item3</td>
                            <td>@item.Item4</td>
                            <td>@item.Item5</td>
                            <td>@item.Item6</td>
                            @{
                                var total = item.Item3 + item.Item4 + item.Item5 + item.Item6;
                                c++;
                            }
                            <td>@total</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>