@model COES.MVC.Extranet.Areas.RechazoCarga.Models.CargaEsencialModel
@{
    ViewBag.Title = "Carga Esencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">Registro de Carga Esencial</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">    
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>                            
                            <td>Razón Social: </td>
                            <td>
                                <select id="cbEmpresa" name="cbEmpresa">
                                    @foreach (var item in Model.ListSiEmpresa)
                                    {
                                        if (@item.Emprrazsocial == null)
                                        {
                                            <option value="@item.Emprcodi">-- SIN RAZON SOCIAL --</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                                        }
                                    }
                                </select>

                            </td>
                            <td>Documento: </td>
                            <td>
                                <input style="width:280px;" type="text" id="documento" name="documento" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Carga desde: </td>
                            <td>
                                <input style="width:140px;" type="text" id="cargaIni" name="cargaIni" onkeypress="return soloNumeros(event)" />
                            </td>
                            <td>Hasta: </td>
                            <td>
                                <input style="width:140px;" type="text" id="cargaFin" name="cargaFin" onkeypress="return soloNumeros(event)" />
                            </td>
                            <td colspan="2"></td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>Fecha desde: </td>
                            <td>
                                <input style="width:140px;" type="text" id="fechaIni" name="fechaIni" />
                            </td>
                            <td>Hasta: </td>
                            <td>
                                <input style="width:140px;" type="text" id="fechaFin" name="fechaFin" />
                            </td>
                            <td colspan="4"></td>
                            <td colspan="2">
                                <input type="button" value="Buscar" id="btnConsultar" name="btnConsultar" class="form-action" />
                                <input type="button" value="Agregar" id="btnAgregar" name="btnAgregar" class="form-action" />
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>

                    </table>
                </div>
                <div class="content-tabla">
                    <table class="content-tabla">
                        <tr>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div class="content-tabla">
        <div class="content-tabla">
            <div class="table-list" id="listadoCargaEsencial"></div>
        </div>
    </div>
    <div id="popupEdicion" class="general-popup" style="width:540px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Editar Carga Esencial</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>
                <tr style="display:none;">
                    <td><input type="radio" name="tipoEmpresa" id="tipoEmpresaUsuarioLibre" value="4" checked>Usuario Libre </td>
                    <td>
                        <input type="radio" name="tipoEmpresa" id="tipoEmpresaDistribuidor" value="2">Distribuidor
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <select id="cbEmpresaEdit" name="cbEmpresaEdit">
                            <option value="0">-- SELECCIONE --</option>
                            @foreach (var item in Model.ListSiEmpresa)
                            {
                                if (@item.Emprrazsocial == null)
                                {
                                    <option value="@item.Emprcodi">-- SIN RAZON SOCIAL --</option>
                                }
                                else
                                {
                                    <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                                }
                            }
                        </select>

                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Punto de Medición:
                    </td>
                    <td>
                        <select id="puntoMedicion" name="puntoMedicion">
                            <option value="0">-- SELECCIONE --</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Carga (MW):
                    </td>
                    <td>
                        <input type="text" id="carga" name="carga" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                </tr>                
                <tr>
                    <td>
                        Archivo:
                    </td>
                    <td>
                        <input type="text" id="archivo" name="archivo" disabled="disabled" />
                    </td>
                    <td>
                        <div id="container">
                            <input type="button" id="btnSelectFile" value="..." />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        &nbsp;

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table align="center">
                            <tr>
                                <td>
                                    <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                                    <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />
            <input type="hidden" id="codigoCargaEsencial" name="codigoCargaEsencial" />
        </div>
    </div>
    <div id="popupCargaEsencialHistorial" class="general-popup" style="height:300px;width:450px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Historial Carga Esencial</span>
        </div>
        <div class="popup-text">           
            <div class="table-list" id="listadoHistorial">

            </div>
        </div>
     </div>
    <div id="popupBuscarEmpresa" class="general-popup" style="height:300px;width:400px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table style="width:100%">
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
            </table>
            <div class="table-list" id="listadoEmpresas">

            </div>

        </div>

    </div>
</div>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/cargaEsencial.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>