@model COES.MVC.Extranet.Areas.RechazoCarga.Models.CargaEsencialModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaCargaEsencial">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Subestación</th>
                <th>Nombre Punto medición</th>
                <th>MW</th>
                <th>Documento</th>
                <th>Fecha de Presentación al COES</th>
                <th>Estado</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListCargaEsencial)
            {
                <tr class="menu-contextual">
                    <td style="text-align: left; width: 120px;">@item.Emprrazsocial</td>
                    <td style="text-align: left; width: 120px;">@item.Areanomb</td>
                    <td style="text-align: left; width: 120px;">@item.Equinomb</td>
                    <td style="text-align: right; width: 60px;">@item.Rccarecarga</td>
                    <td style="text-align: left; width: 100px;">
                        <a target="_blank" href="~/@(COES.MVC.Extranet.Helper.RutaDirectorio.ReporteRechazoCarga + item.Rccarenombarchivo)">
                            @item.Rccaredocumento
                        </a>
                    </td>
                    <td style="text-align: center; width: 100px;">@(((DateTime)item.Rccarefecharecepcion).ToString("dd/MM/yyyy"))</td>
                    @if (item.Rccareestado == "1")
                    {
                        <td style="text-align: left; width: 80px;">Vigente</td>
                    }
                    else
                    {
                        <td style="text-align: left; background-color: red; width: 80px;">No Vigente</td>
                    }

                    <td style="width:80px;">
                        <a href="JavaScript:modificarCargaEsencial('@item.Rccarecodi');" title="Modificar">
                            <img src="~/Content/Images/btn-edit.png" alt="">
                        </a>                        
                        <a href="JavaScript:eliminarCargaEsencial('@item.Rccarecodi');" title="Eliminar">
                            <img src="~/Content/Images/btn-cancel.png" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
