@model COES.MVC.Extranet.Areas.TransfPotencia.Models.PeajeEgresoModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Lista de envíos";
}
<div>
    <div class="form-title" style="padding: 2px 4px; font-size: 12px; color: #3498DB;">Lista de envios en el mes de Valorización<br>@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recanombre</div>
    <table border="0" class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>Código Envío</th>
                <th>Fecha y Hora</th>
                <th>Usuario</th>
                <th>Plazo</th>
                <th style="width:30px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaPeajeEgreso)
            {
                var sColor = "cadetblue";
                var sPlazo = "En plazo";
                if (@item.Pegrplazo == "N")
                {
                    sPlazo = "Fuera de plazo";
                    sColor = "crimson";
                }
                <tr id="fila_@item.Pegrcodi">
                    <td class="text_left">@item.Pegrcodi</td>
                    <td class="text_left">@item.Pegrfeccreacion.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td class="text_left">@item.Pegrusucreacion</td>
                    <td class="text_left" style="font-weight: bold; color: @sColor">@sPlazo</td>
                    <td style="width:30px;"><a href="@Url.Action("Index", new { pericodi = item.Pericodi, recpotcodi = item.Recpotcodi, pegrcodi = item.Pegrcodi })"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Editar el registro" alt="Editar el registro" /></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <span class="button b-close"><span>X</span></span>
</div>
