@model COES.MVC.Publico.Areas.MercadoMayorista.Models.CostoMarginalModel

<table border="0" class="tabla-icono" id="tablaResultado">
    <thead>
        <tr>            
            <th>Hora</th>            
            <th>Barra</th>
            <th>CM Energía (S/. / MWh)</th>
            <th>CM Congestión (S/. / MWh)</th>
            <th>CM Total (S/. / MWh)</th>                 
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>                    
                    <td>@item.Cmgnfecha</td>                    
                    <td>@item.Cnfbarnombre</td>
                    <td>@item.Cmgnenergia</td>
                    <td>@item.Cmgncongestion</td>
                    <td>@item.Cmgntotal</td>                   
                </tr>
            }
        }
    </tbody>
</table>