@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel

<div class="content-registro">

    <form id="frmRegistroIngreso">
        <div id="mensajeEdicion" class="action-message">Por favor ingrese los datos exigidos</div>
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresa" name="Empresa">
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" value="@Model.EntidadIngreso.Emprcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Moneda:</td>
                <td class="registro-control">
                    <select id="cbMoneda" name="Moneda">
                        <option value="S">Soles</option>
                        <option value="D">Dólares</option>
                    </select>
                    <input type="hidden" id="hfMoneda" value="@Model.EntidadIngreso.Reingmoneda" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Ingresos por transmisión (<span id="spanMoneda"></span>):</td>
                <td class="registro-control">
                    <input type="text" id="txtIngreso" name="Ingreso" value="@Model.EntidadIngreso.Reingvalor" />
                </td>
            </tr>
        </table>      
        <input type="hidden" id="hfCodigoIngreso" value="@Model.EntidadIngreso.Reingcodi" />
        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
             @if (Model.Grabar)
             {
                <input type="button" id="btnGrabarIngreso" value="Grabar" />
             }
            <input type="button" id="btnCancelarIngreso" value="Cancelar" />
        </div>

    </form>

</div>
