@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel

<div class="content-registro">

    <form id="frmRegistroEvento">
        <div id="mensajeEvento" class="action-message">Por favor complete los datos.</div>
        <table style="width:100%" id="tablaEvento">

            <tr>
                <td class="registro-label">Evento:</td>
                <td class="registro-control">
                    <input type="text" id="txtEvento" maxlength="60" name="Evento" value="@Model.EntidadEvento.Reevedescripcion" />
                </td>
                <td class="registro-label">Fecha evento:</td>
                <td class="registro-control">
                    <input type="text" id="txtFechaEvento" name="FechaEvento" value="@Model.EntidadEvento.FechaEvento" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 1:</td>
                <td class="registro-control">
                    <select id="cbEmpresa1" name="Empresa1" >
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa1" value="@Model.EntidadEvento.Reeveempr1" />
                </td>

                <td class="registro-label">% Responsable 1:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje1" name="Porcentaje1" value="@Model.EntidadEvento.Reeveporc1" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 2:</td>
                <td class="registro-control">
                    <select id="cbEmpresa2" name="Empresa2">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa2"  value="@Model.EntidadEvento.Reeveempr2" />
                </td>

                <td class="registro-label">% Responsable 2:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje2" name="Porcentaje2" value="@Model.EntidadEvento.Reeveporc2" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 3:</td>
                <td class="registro-control">
                    <select id="cbEmpresa3" name="Empresa3">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa3"  value="@Model.EntidadEvento.Reeveempr3" />
                </td>

                <td class="registro-label">% Responsable 3:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje3" name="Porcentaje3" value="@Model.EntidadEvento.Reeveporc3" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 4:</td>
                <td class="registro-control">
                    <select id="cbEmpresa4" name="Empresa4">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa4" value="@Model.EntidadEvento.Reeveempr4" />
                </td>

                <td class="registro-label">% Responsable 4:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje4" name="Porcentaje4" value="@Model.EntidadEvento.Reeveporc4" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Agente Responsable 5:</td>
                <td class="registro-control">
                    <select id="cbEmpresa5" name="Empresa5">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa5"  value="@Model.EntidadEvento.Reeveempr5" />
                </td>

                <td class="registro-label">% Responsable 5:</td>
                <td class="registro-control">
                    <input type="text" id="txtPorcentaje5" name="Porcentaje5" value="@Model.EntidadEvento.Reeveporc5" />%
                </td>
            </tr>
            <tr>
                <td class="registro-label">Comentario:</td>
                <td class="registro-control" colspan="3">
                    <textarea id="txtComentario" maxlength="200" name="Comentario">@Model.EntidadEvento.Reevecomentario</textarea>
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfCodigoEvento" name="CodigoEvento" value="@Model.EntidadEvento.Reevecodi" />
        <input type="hidden" id="hfCodigoPeriodo" name="CodigoPeriodo" value="@Model.EntidadEvento.Repercodi" />
        <div style="height:10px; clear:both"></div>
        <div style="width:200px; margin:auto; text-align:center; margin-top:10px">
             @if (Model.Grabar)
             {
                <input type="button" id="btnGrabarEvento" value="Grabar" />
             }
            <input type="button" id="btnCancelarEvento" value="Cancelar" />
        </div>

    </form>

</div>
