@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel
<table border="0" class="pretty tabla-icono" id="tablaEvento">
    <thead>
        <tr>
            <th style="width:50px">Acciones</th>
            <th>Evento COES</th>
            <th>Fecha</th>
            <th>Responsable 1</th>
            <th>% Resp. 1</th>
            <th>Responsable 2</th>
            <th>% Resp. 2</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
        <tr>
            <td style="width:50px">
                <a href="JavaScript:editarEvento(@item.Reevecodi);"><img src="~/Content/Images/btn-edit.png" alt="Editar Evento"/></a>
                 @if (Model.Grabar)
                 {
                    <a href="JavaScript:eliminarEvento(@item.Reevecodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Evento"/></a>
                 }
            </td>
            <td>@item.Reevedescripcion</td>
            <td>@(item.Reevefecha != null?((DateTime)item.Reevefecha).ToString("dd/MM/yyyy"): "")</td>
            <td>@item.Responsablenomb1</td>
            <td>@(item.Reeveporc1 != null?((decimal)item.Reeveporc1).ToString("###.00") + "%": "")</td>
            <td>@item.Responsablenomb2</td>
            <td>@(item.Reeveporc2 != null?((decimal)item.Reeveporc2).ToString("###.00") + "%": "")</td>
            <td>@(item.Reevecomentario.Length > 30? item.Reevecomentario.Substring(0, 27)+ "...": "")</td>
        </tr>
        }
    </tbody>
</table>