@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel
<table border="0" class="pretty tabla-icono" id="tablaIngreso">
    <thead>
        <tr>
            <th style="width:50px">Acciones</th>
            <th style="min-width:200px">Empresa</th>
            <th>Moneda</th>
            <th>Ingreso por transmisión</th>
            <th>Usuario</th>
            <th>Fecha actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIngresos)
        {
            <tr>
                <td style="width:50px">
                    <a href="JavaScript:editarIngreso(@item.Reingcodi);"><img src="~/Content/Images/btn-edit.png" alt="Editar Ingreso" /></a>
                    @if (Model.Grabar)
                    {
                        <a href="JavaScript:eliminarIngreso(@item.Reingcodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Ingreso" /></a>
                    }
                    @if (item.TieneArchivo)
                    {
                        <a href="JavaScript:descargarFileIngreso(@item.Reingcodi, '@item.Reingsustento');"><img src="~/Content/Images/btn-download.png" alt="Descargar evidencia" /></a>
                    }
                </td>
                <td style="min-width:200px">@item.Emprnomb</td>
                <td>@item.Reingmoneda</td>
                <td>@(item.Reingvalor != null?((decimal)item.Reingvalor).ToString("#,###,###.00"): "")</td>
                <td>@item.Reingusucreacion</td>
                <td>@(item.Reingfecmodificacion != null?((DateTime)item.Reingfecmodificacion).ToString("dd/MM/yyyy HH:mm:ss"): "")</td>
                
            </tr>
        }
    </tbody>
</table>