@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel
<table border="0" class="pretty tabla-icono" id="tablaPtoEntrega">
    <thead>
        <tr>
            <th style="width:70px">Acciones</th>
            <th>Punto de entrega</th>
            <th>Nivel de tensión</th>
            <th>Usuario creación</th>
            <th>Fecha creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPtoEntrega)
        {
            <tr>
                <td style="width:70px">
                    @if (Model.Grabar)
                    {
                        <a href="JavaScript:eliminarPtoEntrega(@item.Repentcodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Punto de Entrega" /></a>
                        <a href="JavaScript:configurarSuministrador(@item.Repentcodi);"><img src="~/Content/Images/btn-ok.png" alt="Suministradors" title="Suministradores" /></a>
                    }
                </td>
                <td>@item.Repentnombre</td>
                <td>@item.Rentabrev</td>
                <td>@item.Reptopusumodificacion</td>
                <td>@(item.Reptopfecmodificacion != null?((DateTime)item.Reptopfecmodificacion).ToString("dd/MM/yyyy HH:mm:ss"): "")</td>
            </tr>
        }
    </tbody>
</table>