@model  IEnumerable<COES.Dominio.DTO.Sic.DaiAportanteDTO>

<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Empresa</th>
            <th>Ruc</th>
            <th>Razón Social</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="25%" class="text-left">@item.Emprnomb</td>
                <td width="10%">@item.Tipoempresa</td>
                <td width="10%">@item.Emprruc</td>
                <td width="25%" class="text-left">@item.Emprrazsocial</td>
                <td width="10%">@item.Estadoaportante</td>
                <td width="10%">
                    @if (item.Tabcdcodiestado != Convert.ToInt32(COES.Framework.Base.Tools.DaiEstadoAportante.Liquidado))
                    {
                        <a href="#" onclick="javascript: procesar(@item.Aporcodi)" title="Liquidar"><img src="~/Areas/DevolucionAporte/Content/Images/ic_liquidar.png" /></a>
                    }
                    else
                    {
                        <a href="#" onclick="javascript: detalle(@item.Aporcodi)" title="Ver detalle"><img src="~/Areas/DevolucionAporte/Content/Images/ic_find.png" /></a>
                    }
                </td>
            </tr>
        }
        
    </tbody>
</table>