@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel
@{
    ViewBag.Title = "IndexMensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/TransfSeniales/Content/Scripts/reportePeriodo.js?v=4.0"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script type="text/javascript">

    $(function () {

        $('#divComunicados').bPopup({
                easing: 'easeOutBack',
                speed: 450,
                transition: 'slideDown'
         });     

    });

</script>


<div class="form-title_intranet">
    <div class="content-titulo">Disponibilidad diaria x Mes </div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
    </div>
</div>
<div class="content-hijo">
    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">

            <tr>
                <td>Empresa:</td>
                <td>
                    @if (Model.GetListaEmpresaRis7 == null)
                    {
                        Response.Write("<script language=javascript>alert('Reiniciar sesión');</script>");
                    }
                    else
                    {
                        <select id="cbEmpresa" name="Idempresa">
                            @foreach (var item in Model.GetListaEmpresaRis7)
                            {
                                <option value="@item.Emprcodi">@item.Emprenomb</option>
                            }
                        </select>}
                </td>

                <td align="right" width="200px">Fecha de Periodo:</td>
                <td>
                    <input type="text" id="txtFechaIn" value="@DateTime.Today.ToString("MMM yyyy")" />
                </td>

                <td>
                    <input type="hidden" id="txtfecha" value="@Model.FechaPeriodo" />
                </td>
                <td align="right" width="200px">
                    <i>@Model.fechahoraactual.ToString("dd/MM/yyyy HH:mm:ss") h. <sub>@(Model.CRC)</sub></i>
                </td>
                <td><h6>Los índices de disponibilidad mostrados son referenciales.</h6></td>
            </tr>
        </table>
        
        <table class="content-tabla-search" style="width:auto">
            <tr></tr>
        </table>
    </div>

    <div style="clear:both; height:10px"></div>
    <div class='panel-container'>
        <div id="pasoPrincipal1">
            <div id="vistaCMRPeriodo"></div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div>
        <a href="http://www.coes.org.pe/Portal/PostOperacion/ReportesInteres/AdecuacionNTIITR">Adecuación a la NTIITR 3ra DC</a>
    </div>
</div>
<div id="divComunicados" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Comunicado</span></div>
    <div class="popup-text" id="contenidoElemento" style="width:600px">
        <div>
            Los índices de disponibilidad mostrados son referenciales. Los índices de disponibilidad finales serán publicados en sección “Reporte de cumplimiento de la NTIITR” de la página web del COES, de acuerdo con lo establecido en el literal Primero de las Disposiciones Complementarias de la NTIITR.
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Aceptar" id="btnAceptarComunicado" onclick="$('#divComunicados').bPopup().close();" />
        </div>
    </div>
</div>
