@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion de las Desviaciones - Tabla Prie 06";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusiondesviaciones.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js?v=1.1"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Difusion de Desviaciones - Tabla Prie 06</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <div class="search-content">
        <input type="hidden" id="txtFecha" value="@Model.PeriodoDet" />           <!--SIOSEIN-PRIE-2021-->
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                    <input type="hidden" id="txtFecha" value="@Model.PeriodoDet" />
                </td>
                <td>Tipo de Generacion:</td>
                <td>
                    <select id="cbTipGene" name="cbTipGene" style="width:250px;" multiple="multiple">
                        <!--SIOSEIN-PRIE-2021-->
                        @foreach (var item in Model.TipoCombustible)
                        {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipGene" name="hfTipGene" />
                </td>
                <td>Parametro:</td>
                <td>
                    <select id="cbParam" name="cbParam" style="width:250px;" multiple="multiple">
                        <option value="1">Energia Activa Ejecutada</option>
                        <option value="4">Energia Activa Programada</option>
                    </select>
                    <input type="hidden" id="hfParam" name="hfParam" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="float: left"></div>
        <div id="idGrafico1" style="height: 400px; width: 950px; float: left;"></div>

        <div style="clear:both; height:15px"></div>
        <div class="table-list" id="listado2"></div>
        <div id="idGrafico2" style="height: 400px; width: 800px; float: left;"></div>
        <div id="idGrafico3" style="height: 400px; width: 800px; float: left;"></div>
                                                          
        <div style="clear:both; height:15px"></div>       
        <div id="idGrafico4" style="height: 400px; width: 800px; float: left;"></div>
        <div id="idGrafico5" style="height: 400px; width: 800px; float: left;"></div>
    </div>
</div>