@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Web de Costos de Variables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusioncostovariables.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<div class="form-title">
    <div class="content-titulo">Difusion de Costos Variables Tabla Prie 04</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Modo Operacion:</td>
                            <td>
                                <select id="cbModoOpe" name="cbModoOpe" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.modoOpe)
                                    {
                                        <option value="@item.Grupocodi">@item.Gruponomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfModoOpe" name="hfModoOpe" />
                            </td>
                            <td>Precio Combustible:</td>
                            <td>
                                <input type="radio" id="idGas" name="tipCombus" checked="checked" />Gas ($/GJ)
                                <input type="radio" id="idCarbon" name="tipCombus" />Carbón ($/Tan)
                                <input type="radio" id="idOtros" name="tipCombus" />Otros ($/galón)
                            </td>
                            @*<td>
                                <input type="button" id="btnEjecutar" value="Ejecutar" />
                            </td>*@
                        </tr>
                        <tr>
                            <td>Tipo de Combustible:</td>
                            <td>
                                <select id="cbTipoCombustible" name="cbTipoCombustible" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.tipoCombustible)
                                    {
                                        <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoCombustible" name="hfTipoCombustible" />
                            </td>
                            <td>Tipo de Costo Variable:</td>
                            <td>
                                <select id="cbTipoCostoVar" name="cbTipoCostoVar" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.tipoCostoVar)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTipoCostoVar" name="hfTipoCostoVar" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td><div class="table-list" id="listado1"></div></td>
            </tr>
            <tr>
                <td><div style="clear:both; height:10px"></div></td>
            </tr>
            <tr>
                <td><div id="idGrafico1" style="min-width: 310px; height: auto; max-width: auto; margin: 0 auto"></div></td>
            </tr>
            <tr>
                <td><div style="clear:both; height:10px"></div></td>
            </tr>
            <tr>
                <td><div id="idGrafico2" style="min-width: 310px; height: auto; max-width: auto; margin: 0 auto"></div></td>
            </tr>
        </table>
    </div>
</div>
