@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Programa de Operacion Semanal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusionprogoperacionsemanal.js?v=1.1"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<div class="form-title">
    <div class="content-titulo">Difusion Programa de Operacion Semanal - Tabla 30</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.codigo">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>
                <td>Tipo de Generacion:</td>
                <td>
                    <select id="cbTipGene" name="cbTipGene" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                    <input type="hidden" id="txtFecha1" value="@Model.PeriodoDet" />    <!--SIOSEIN-PRIE-2021-->
                    <input type="hidden" id="hfTipGene" name="hfTipGene" />
                </td>
                <td>
                    @*<input type="button" id="btnEjecutar" value="Ejecutar" />*@
                </td>
            </tr>
            <tr>
                <td>Parametro:</td>
                <td>
                    <input type="radio" id="idEneAct" name="parametro" checked="checked" />Energia Activa
                    <input type="radio" id="idMaxDem" name="parametro" />Maxima Demanda
                </td>
                <td>Recurso Energetico:</td>
                <td>
                    <select id="cbRecEnerg" name="cbRecEnerg" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaRecursoEnergetico)
                        {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfRecEnerg" name="hfRecEnerg" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td><div class="table-list" id="listado2"></div></td>
                <td><div id="idGrafico1" style="width: 820px; height: 600px;margin: 0 auto;"></div></td>
            </tr>
        </table>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado3"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado4"></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico2" style="width: 1350px; height: 1000px; margin: 0 auto; "></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico3" style="width: 1350px; height: 1000px; margin: 0 auto; "></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado5"></div>
        @*<div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td width="300px"><div class="table-list" id="listado2"></div></td>
                <td><div id="idGrafico1" style="min-width: 850px; height: 600px; max-width: 900px; margin: 0 auto;"></div></td>
            </tr>
        </table>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado3"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado4"></div>
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td><div id="idGrafico2" style="min-width: 1100px; height: 600px; max-width: 1250px; margin: 0 auto; margin-top:5%"></div></td>
            </tr>
        </table>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico3" style="min-width: 310px; height: 600px; max-width: 900px; margin: 0 auto"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado5"></div>*@
    </div>
</div>