@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Costos Marginales Semanal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusioncostosmarginalessemanal.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<div class="form-title">
    <div class="content-titulo" style="width: 100%">Difusion de Costos Marginales Semanal - Tabla Prie 32</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <!-- id="mainLayout"-->
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />

    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Barra de Transferencia:</td>
                            <td>
                                <select id="cbBarrTrans" name="cbBarrTrans" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.Barras)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="text" disabled="disabled" id="txtFecha" name="Fecha" value="@Model.PeriodoDet" />
                                <input type="hidden" id="hfBarrTrans" name="hfBarrTrans" />
                            </td>
                        </tr>
                        <tr>
                            <td>Nivel de Tension:</td>
                            <td>
                                <select id="cbTensiones" name="cbTensiones" style="width:250px;">
                                    @foreach (var item in Model.Tensiones)
                                    {
                                        <option value="@item.codigo">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfTensiones_" name="hfTensiones_" />
                            </td>
                            <td>Area Operativa:</td>
                            <td>
                                <select id="cbTensiones" name="cbTensiones" style="width:250px;">
                                    @foreach (var item in Model.AreasOperativas)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfAreaOpes_" name="hfAreaOpes_" />
                            </td>
                            <td>Rango de CmgCP:</td>
                            <td>
                                <select id="cbRangos" name="cbRangos" style="width:250px;" >
                                    @foreach (var item in Model.Rangos)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfRangos" name="hfRangos" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:10px"></div>
        <div id="idGrafico1" style="min-width: 310px; height: auto; max-width: auto; margin: 0 auto"></div>
        <div style="clear:both; height:10px"></div>
        <div class="table-list" id="listado2"></div>
        <div style="clear:both; height:10px"></div>
        <div class='action-message' id='msj_listado' style="margin-bottom: 5px; margin-top: 0; display: none; background: none;">
            <p style="text-align: center;"><b>COSTOS MARGINALES PROMEDIO HORARIO DEL PDS vs DEMANDA HORARIA PROMEDIO DEL SEIN</b></p>
            <table>
                <tr>
                    <td><div id="idGrafico2" style="min-width: 310px; height: auto; max-width: 400px; margin: 0 auto"></div></td>
                    <td><div id="idGrafico3" style="min-width: 310px; height: auto; max-width: 400px; margin: 0 auto"></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>