@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion de Produccion de Energia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <div>
            <input type="hidden" id="hfEmpresa" />
            <input type="hidden" id="hfTipGene" />
            <input type="hidden" id="hfRecEnerg" />
        </div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <input type="text" id="txtFecha" disabled="disabled" name="Fecha" value="@Model.Mes" />
                </td>
                <td>Tipo de Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width: 360px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                </td>
                <td>Tipo de Generacion:</td>
                <td>
                    <select id="cbTipGene" name="cbTipGene" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                    <input type="hidden" id="txtFecha" value="@Model.PeriodoDet" />
                </td>
                <td>Recurso Energetico:</td>
                <td>
                    <select id="cbRecEnerg" name="cbRecEnerg" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaRecursoEnergetico)
                        {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td colspan="2">
                    <div class="table-list" id="listado1"></div>
                </td>
            </tr>
            <tr><td><div style="clear:both; height:5px"></div></td></tr>
            <tr>
                <td>
                    <div class="table-list" id="listado2"></div>
                </td>
                <td>
                    <div id="idGrafico1" style="width: 850px; height: 600px;margin: 0 auto;"></div>
                </td>
            </tr>
        </table>
        <div id="idGrafico2" style="min-width: 310px; height: auto; max-width: 900px; margin: 0 auto"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado3"></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico3" style="min-width: 310px; height: 600px; max-width: 900px; margin: 0 auto"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado4"></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico4" style="width: 1350px; height: 1000px; margin: 0 auto; "></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico5" style="width: 1350px; height: 1000px; margin: 0 auto; "></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado5"></div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado6"></div>
    </div>
</div>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionproduccionenergia.js?v=1.1"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js?v=1.1"></script>
