@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Web de Costos de Variables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<style>
    .flotar {
        display: inline-block;
        vertical-align: top
    }
</style>

<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>

<div class="content-hijo">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <input type="text" id="txtFecha" disabled="disabled" name="Fecha" value="@Model.Mes" />
                </td>
                <td>Modo Operacion:</td>
                <td>
                    <select id="cbModoOpe" name="cbModoOpe" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ModoOpe)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </td>
                <td>Tipo de Combustible:</td>
                <td>
                    <select id="cbTipoCombustible" name="cbTipoCombustible" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.TipoCombustible)
                        {
                            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                        }
                </td>
                <td>Tipo de Costo Variable:</td>
                <td>
                    <select id="cbTipoCostoVar" name="cbTipoCostoVar" style="width:250px;" multiple="multiple">
                        <option value="1">COMBUSTIBLE</option>
                        <option value="2">NO COMBUSTIBLE</option>
                    </select>
                </td>
            </tr>
        </table>

    </div>

    <div class="content-tabla" style="width:100%">

        <div style="width:100%;">
            <div class="table-list flotar" id="listado1" style="width:49%"></div>
            <div class="table-list flotar" id="listado2" style="width:49%;float:right"></div>
        </div>

        <div style="width:100%; margin-top:20px">
            <div id="idGrafico1" class="flotar" style="width:49%; height: 500px"></div>
            <div id="idGrafico2" class="flotar" style="width:49%; height: 500px; float:right"></div>
        </div>

        <div style="width:100%; margin-top:20px">
            <div class="table-list flotar" id="listado3" style="width:49%"></div>
            <div id="idGrafico3" class="flotar" style="width:49%; height: 500px; float:right"></div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusioncostosvariables.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>