@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Web de Costo Marginal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusioncostomarginal.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<div class="form-title">
    <div class="content-titulo">Difusion de Costos Marginales Tabla Prie 03</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <!-- id="mainLayout"-->
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />

    <div class='action-message' id='mensaje' style="margin-bottom: 5px; margin-top: 0; ">Por favor seleccione Mes - Año</div>
    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>DESDE Mes - Año:</td>
                            <td>
                                <input type="text" id="txtFecha1" name="Fecha" value="@Model.Mes" />
                            </td>
                            <td>HASTA Mes - Año:</td>
                            <td>
                                <input type="text" id="txtFecha2" name="Fecha" value="@Model.Mes" />
                            </td>
                            <td>Barra de Transferencia:</td>
                            <td>
                                <select id="cbBarrTrans" name="cbBarrTrans" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.Barras)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfBarrTrans" name="hfBarrTrans" />
                            </td>
                            @*<td>
                                <input type="button" id="btnEjecutar" value="Ejecutar" />
                            </td>*@
                        </tr>
                        <tr>
                            <td>Nivel de Tension:</td>
                            <td>
                                <div id="cbTensiones"></div>
                                <input type="hidden" id="hfTensiones_" name="hfTensiones_" />
                            </td>
                            <td>Area Operativa:</td>
                            <td>
                                <div id="cbAreaOpes"></div>
                                <input type="hidden" id="hfAreaOpes_" name="hfAreaOpes_" />
                            </td>
                            <td>Rango de CmgCP:</td>
                            <td>
                                <select id="cbRangos" name="cbRangos" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.Rangos)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                                <input type="hidden" id="hfRangos" name="hfRangos" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td><div class="table-list" id="listado1"></div></td>
            </tr>
            <tr>
                <td><div style="clear:both; height:10px"></div></td>
            </tr>
            <tr>
                <td><div id="idGrafico1" style="min-width: 310px; height: auto; max-width: auto; margin: 0 auto"></div></td>
            </tr>
            <tr>
                <td><div style="clear:both; height:10px"></div></td>
            </tr>
            <tr>
                <td><div class="table-list" id="listado2"></div></td>
            </tr>
        </table>
    </div>
</div>
