@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/highstock.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/flujointerconexionejec.js?v=1.3"></script>

<div class="content-hijo">
    <div class="search-content">
        <table class="" style="width:auto">
            <tr>
                <td>Interconexion:</td>
                <td>
                    <select id="cbInterconexiones" name="cbInterconexiones" style="width:220px;">
                        @foreach (var item in Model.ListaInterconexion)
                        {
                            <option value="@item.Ptomedicodi">@item.Interdecrip @item.Interenlace</option>
                        }
                    </select>
                    <input type="hidden" id="hfInterconexiones" value="@Model.IdPtomedicion" />
                </td>
                <td>Parametro:</td>
                <td>
                    <select id="cbParametros" style="width:180px;">
                        <option value="1">Potencia Activa (MW)</option>
                        <option value="2">Potencia Reactiva (MVAR)</option>
                        <option value="3">Energía Activa (MWh)</option>
                        <option value="4">Energía Reactiva (MVARh)</option>
                        <option value="5">Tensión(kV) y Amperios(Amp)</option>
                    </select>
                </td>
                <td>
                    <input type="hidden" id="txtFecha" name="Fecha" value="@Model.Mes" />
                    <input type="hidden" id="txtFecha2" name="Fecha" value="@Model.Mes" />
                </td>
                <!-- -->
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>

        <div style="clear:both; height:10px"></div>

        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display: none; background: none;">
            <div id="tab-container" class='tab-container'>
                <ul class='etabs'>
                    <li class='tab'><a href="#lista">Listado</a></li>
                    <!-- SIOSEIN-PRIE-2021
                    <li class='tab'><a href="#detalle">Detalle</a></li>
                    -->
                </ul>
                <div class='panel-container'>
                    <div id="lista">
                        <div class="content-tabla">
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginadoLista"></div>
                            </div>
                            <div style="clear:both; height:5px"></div>
                            <div class="table-list" id="listado2"></div>
                        </div>
                    </div>
                    <!-- SIOSEIN-PRIE-2021
                    <div id="detalle">
                        <div class="content-tabla">
                            <div class="tabla-header">
                                <div class="table-paginado" id="paginadoDet"></div>
                            </div>
                            <div style="clear:both; height:5px"></div>
                            <div class="table-list" id="listado3"></div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

</div>
