@model COES.MVC.Extranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "AgregarAmpliacion";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#idFechaEnvio').Zebra_DatePicker({
            direction: -1

        });

        $("#idAgregar").click(function () {
            grabarAmpliacion();
        });
        $("#idCancelar").click(function () {
            $('#validaciones').bPopup().close();
        });
    });

</script>

<table class="table-form-vertical">

    <tr>
        <td>Empresa:</td>
        <td>
                    <select id="cbEmpresa"  name="Idempresa" >
                     @foreach (var item in Model.ListaEmpresas)
                     {   
                          <option value="@item.Emprcodi">@item.Emprnomb</option>
                     }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.Empresa"/>
        </td>
    </tr>

    <tr>
        <td>Fecha Envío:</td>
        <td><input type="text" id="idFechaEnvio" value="@Model.Fecha" /></td>
    </tr>
    <tr>
        <td>Fecha Ampliación:</td>
        <td><input type="text" id="idFechaAmp" value="@Model.FechaPlazo" disabled="disabled"/></td>
    </tr>

    <tr>
        <td>Hora Plazo:</td>
        <td>
            <select id="cbHora"  name="IdHora" >
            @for (var i = Model.HoraPlazo  ; i < 48; i++)
            {
                string hora = "0" + ((i + 1)/2).ToString();
                hora = hora.Substring((hora.Length > 2)?1:0,2);
                string minuto = "0" + (((i + 1) % 2) * 30).ToString();
                minuto = minuto.Substring((minuto.Length > 2) ? 1 : 0, 2);
                string horarmin = hora + ":" + minuto;
            <option value ="@(i+1)">@horarmin</option>
            }
            </select>

        </td>
    </tr>

    <tr>
        <td>
            <input type="button" id="idAgregar" value ="Agregar" />
        </td>
        <td>
            <input type="button" id="idCancelar" value ="Cancelar" />
        </td>
    </tr>
</table>