@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ConfiguracionRpfModel

<script type="text/javascript">
    $(function () {
        $('#btnGrabarParametro').click(function () {
            grabarParametro();
        });
    });
</script>

<div style="width:600px">

    <div style="float:right; margin-bottom:20px">
        <input type="button" id="btnGrabarParametro" value="Grabar" />
    </div>
    <table class="tabla-formulario" border="1">
        <thead>
            <tr>
                <th>Parámetro</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Estatismo</td>
                <td style="text-align:center">
                    <input type="text" id="txtEstatismo" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.EstatismoFalla).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>%RPrimaria</td>
                <td style="text-align:center">
                    <input type="text" id="txtRPrimaria" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.RPrimariaFalla).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Frecuencia Nominal(HZ)</td>
                <td style="text-align:center">
                    <input type="text" id="txtFrecNominal" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaNominalFalla).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Frecuencia Umbral</td>
                <td style="text-align:center">
                    <input type="text" id="txtFrecUmbral" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaUmbralFalla).First().PARAMVALUE" />
                </td>
            </tr>           
            <tr>
                <td>Porcentaje de cumplimiento</td>
                <td style="text-align:center">
                    <input type="text" id="txtPorCumplimiento" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.PorcentajeCumplimientoFalla).First().PARAMVALUE" />
                </td>
            </tr>     
            <tr>
                <td>X Segundos (para calculo Potencia Desconectada)</td>
                <td style="text-align:center">
                    <input type="text" id="txtSegundos" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.SegundosPosteriores).First().PARAMVALUE" />
                </td>
            </tr>     
            <tr>
                <td>Segundos para cálculo frecuencia falla (Max 10)</td>
                <td style="text-align:center">
                    <input type="text" id="txtSegFrecFalla" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x => x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.SegundosFrecuenciaFalla).First().PARAMVALUE" />
                </td>
            </tr>            
        </tbody>
    </table>

</div>