@model COES.MVC.Intranet.Areas.Admin.Models.AccesoModeloModel
<table border="0" class="pretty tabla-icono" id="tablaAcceso">
    <thead>
        <tr>
            <th></th>
            <th>Empresa</th>
            <th>Módulo</th>
            <th>Contacto</th>
            <th>Correo</th>
            <th>Desde</th>
            <th>Hasta</th>
            @*<th>Descargas Permitidas</th>     
            <th>Descargas Realizadas</th>*@
            <th>Estado</th>
            <th>Usu. Creación</th>
            <th>Fec. Creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAccesos)
        {
        <tr>
            <td>

                <a href="JavaScript:eliminarAcceso(@item.Acmodcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>

            </td>
            <td>@item.Emprnomb</td>
            <td>@item.Modnomb</td>
            <td>@item.Contactonomb</td>
            <td>@item.Contactocorreo</td>
            <td>@(((DateTime)item.Acmodfecinicio).ToString("dd/MM/yyyy"))</td>
            <td>@(((DateTime)item.Acmodfin).ToString("dd/MM/yyyy"))</td>
            @*<td>@item.Acmodveces</td>
            <td>@item.Acmodnrointentos</td>*@
            <td>
                @if (item.Acmodestado == "A")
                {
                    <span>Activo</span>
                }
                else if (item.Acmodestado == "I")
                {
                    <span>Inactivo</span>
                }
            </td>
            <td>@item.Acmodusucreacion</td>
            <td>@(((DateTime)item.Acmodfeccreacion).ToString("dd/MM/yyyy"))</td>

        </tr>
        }
    </tbody>
</table>
