@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.DespachoEjecutadoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/pronosticodemanda/Content/Scripts/despacho.js?v=3.2"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/highcharts.js"></script>
<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Comparativo Servicio RPF - Despacho Ejecutado</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Área :</td>
                <td>
                    <select id="cboArea" style="width: 150px" title="Seleccione para cambiar el área operativa">
                        <option value="0">--SEIN--</option>
                        @foreach (var item in Model.ListaAreaOperativa)
                        {
                            <option value="@item.Areacodi">@item.Areanomb</option>
                        }
                    </select>
                </td>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td>
                    <a href="#" id="btnEjecutar" style="text-decoration: none;" title="Permite obtener el Despacho Ejecutado">
                        <div style="text-align: center">
                            <img src="/Content/Images/btn-properties.png">
                            <br>
                            <span>Obtener Despacho</span>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="#" id="btnExportar" style="text-decoration: none;" title="Permite exportar la información por Central">
                        <div style="text-align: center">
                            <img src="/Content/Images/excel.png" style="width: 24px;">
                            <br>
                            <span>Exportar</span>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table style="width:auto">
            <tr>
                <td style="width:400px;">
                    <div class="listado" id="listaCentrales"></div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <div id="mensaje"></div>
                    <div id="listado">
                        <table>
                            <tr>
                                <td valign="top">
                                    <div id="contentTabla"></div>
                                </td>
                                <td style="width:30px"></td>
                                <td valign="top">
                                    <div id="message">
                                        <div id="main" style="display: none" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje"></div>
                                    </div>

                                    <div id="contentGrafico" style="width: 750px; height: 500px; background-color: #F2F5F7; border: 1px solid #DDDDDD; padding:15px; border-radius:5px"></div>
                                    <br />
                                    <table border="0">
                                        <tr>
                                            <td><input type="button" id="btnPegarRSF" value="Copiar y grabar valores del RPF" title="Copiar y grabar algunos de los valores del RSF al Despacho Ejecutado final para el pronóstico" /></td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><input type="button" id="btnModificarDE" value="Grabar Info para Pronóstico" title="Actualiza la información del Despacho Ejecutado que se toma para el pronóstico" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<input type="hidden" name="equicodi" id="equicodi" value="" />
