<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:70px;">Área</th>
            <th>Central</th>
            <th title="Suma absoluta por cada intervalo de las diferencias RSF vs Despacho Ejecutado">Dif. MW</th>
            <th title="Numero de Intervalos que presentan diferencias RSF vs Despacho Ejecutado">#Inter</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDespachos)
        {
            var iPrnmeqdepurar = item.Prnmeqdepurar;
            var sColor = "";
            if (item.Prnmeqdepurar < 0)
            {
                iPrnmeqdepurar *= -1;
                sColor = "background-color:#ffd800;";
            }
            <tr id="fila_@item.Equicodi">
                <td class="text_left" style="text-align:left; @sColor">@item.Areanomb</td>
                <td class="text_left" style="text-align:left; @sColor">@item.Equinomb</td>
                <td class="text_left" style="text-align:right; @sColor">@item.Prnmeqdejevsrpf.ToString("#,##0.0")</td>
                <td class="text_left" style="text-align:right; @sColor">@iPrnmeqdepurar</td>
                <td style="width:30px; @sColor"><a href="#" id="view_@item.Equicodi" class="view"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar informacion del registro" alt="Editar informacion del registro" /></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>