@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaAuditModel
@{
    ViewBag.Title = "Equipo GPS - Colocar NULL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <link href="~/Areas/ReportesFrecuencia/Content/Css/ReportesFrecuencia.css" rel="stylesheet" />
    <link href="~/Areas/ReportesFrecuencia/Content/Css/Validate.css" rel="stylesheet" />
    <script src="~/Areas/ReportesFrecuencia/Content/Scripts/Reportes.js?v=@DateTime.Now.Minute"></script>

    @using (Html.BeginForm("Delete", "ReporteFrecuenciaAudit", FormMethod.Post, new { id = "frmEquipoGPS", @class = "cmxform" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Usuario", User.Identity.Name)
        @Html.Hidden("Accion", "Revertir")
        @Html.Hidden("ID", @Model.ListaAudit[0].Id)
        <div class="ast">
            <div class="form-title">
                <div class="content-titulo"> @Model.Nombre - Revertir Cambios</div>
                <div class="content-botonera">
                    <input type="submit" value="Revertir Cambios" alt="Revertir Cambios" title="Revertir Cambios" />
                    <input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index","ReporteFrecuenciaAudit")/Index/@Model.IdGPS'" alt="Retornar" title="Retornar" />

                </div>
            </div>
            <div style="padding:20px; width:500px;">
                <table cellspacing="2" cellpadding="5">

                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;" id="sError">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Código")

                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="IdGPS" class="form-control2" value="@Model.IdGPS" readonly="readonly" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Inicio")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="FechaInicial" class="form-control2" step="1" value="@Model.ListaAudit[0].FechaInicial.ToString("dd-MM-yyyy HH:mm:ss")" readonly="readonly" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Fecha Fin")
                                (*)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="FechaFinal" class="formatFechaHora datepicker" step="1" value="@Model.ListaAudit[0].FechaFinal.ToString("dd-MM-yyyy HH:mm:ss")"  readonly="readonly"/>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Registros")

                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="txtRegistros" class="form-control2" value="@Model.ListaAudit[0].Registros" readonly="readonly" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <TextField label="Fecha y hora de salida o llegada *"
                               type="datetime-local"
                               defaultValue={moment().format("yyyy-MM-DDThh:mm:ss")}
                               color='primary'
                               InputLabelProps={{
     shrink: true,
   }}
                               fullWidth />
                </table>
            </div>

        </div>
    }

</div>