@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaAuditModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Colocar Valores Nulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var sMensajeExito = "";
}

<div class="ast">
    @*@if (@sMensajeExito != null)
        {
            <div class="exito mensajes">@sMensajeExito</div>
        }*@
    <div class="form-title">
        <div class="content-titulo">Rangos Establecidos como NULL - @Model.Nombre</div>
        <div class="content-botonera">

            <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New",new { id = Model.IdGPS })'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","ReporteFrecuencia")'" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
            @Html.Partial("Lista", Model)
        </div>
    </div>

</div>
