@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.ReporteModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Nro Registro</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>RUC</th>
            <th>Sigla</th>
            <th>Razón Social</th>
            <th>Nombre Comercial</th>            
            <th>Representante Legal</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>

            <th>Gestión Modificaciones</th>
            <th>Gestión Solicitudes</th>
            @*<th>Histórico</th>*@      
            <th>Formato de Inscripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIntegrantes)
            {
            <tr>
                <td>
                    @item.Emprnroregistro
                </td>
                <td>@item.Emprestado</td>
                <td>@item.Tipoemprdesc</td>
                <td>@item.Emprruc</td>                                
                <td>@item.Emprsigla</td>
                <td>@item.Emprrazsocial</td>
                <td>@item.Emprnombrecomercial</td>
                <td>@item.RpteNombres</td>
                <td>@item.RpteCorreoElectronico</td>
                <td>@item.RpteTelefono</td>

                <td>
                    <a href="@Url.Action("Index","Empresa", new {emprcodi=@item.Emprcodi})" title="Identificación">
                        <img src='~/Content/Images/btn-edit.png'  />
                    </a>
                    <a href="@Url.Action("Index","Representante", new {emprcodi=@item.Emprcodi})" title="Representante Legales">
                        <img src='~/Content/Images/btn-edit.png'  />
                    </a>
                    <a href="@Url.Action("Index","Contacto", new {emprcodi=@item.Emprcodi})" title="Persona Contacto">
                        <img src="~/Content/Images/btn-edit.png" />
                    </a>
                    <a href="@Url.Action("Index","Tipo", new {emprcodi=@item.Emprcodi})" title="Tipo Agente">
                        <img src="~/Content/Images/btn-edit.png" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Nuevo","Solicitud", new { view ="SolCambioDenominacion",emprcodi=@item.Emprcodi})" title="Cambio Denominacion">
                        <img src="~/Content/Images/btn-add.png" />
                    </a>
                    <a href="@Url.Action("Nuevo","Solicitud", new { view ="SolCambioRepresentante",emprcodi=@item.Emprcodi})" title="Cambio Representante Legal">
                        <img src="~/Content/Images/btn-add.png" />
                    </a>
                    <a href="@Url.Action("Nuevo","Solicitud", new { view ="SolBajaEmpresa",emprcodi=@item.Emprcodi})" title="Baja Empresa">
                        <img src="~/Content/Images/btn-add.png" />
                    </a>
                    <a href="@Url.Action("Nuevo","Solicitud", new { view ="SolFusionEmpresa",emprcodi=@item.Emprcodi})" title="Fusion Empresa">
                        <img src="~/Content/Images/btn-add.png" />
                    </a>
                    <a href="@Url.Action("Nuevo","Solicitud", new { view ="SolCambioTipo",emprcodi=@item.Emprcodi})" title="Tipo Agente">
                        <img src="~/Content/Images/btn-add.png" />
                    </a>
                </td>
                <td>
                    <a href="JavaScript:ExportarRegistro(@item.Emprcodi)" title="Inscripción Registro COES">
                        <img src="~/Content/Images/btn-properties.png" />
                    </a>
                </td>
                @*<td style="width:90px">
                    <a href="@Url.Action("Modificaciones","Historico")" title="Modificaciones">
                        <img src='~/Content/Images/btn-open.png'  />
                    </a>
                    <a href="@Url.Action("Revisiones","Historico")" title="Revisiones">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                    <a href="@Url.Action("Solicitudes","Historico")" title="Solicitudes">
                        <img src='~/Content/Images/btn-open.png' />
                    </a>                       
                </td>*@

            </tr>
        }
    </tbody>
</table>
