@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.ReporteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/RegistroIntegrante/Content/Scripts/ReporteRepresentantesLegales.js?v=1.11"></script>
<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Listado de Representantes Legales</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo:</td>
                <td>
                    <select id="cbTipoEmpresa" style="width:140px">
                        @foreach (var item in Model.ListaTipoEmpresa)
                        {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                        }
                    </select>
                </td>
                <td>Razón social:</td>
                <td>
                    <input type="text" id="txtNombreFiltro" />
                </td>
                <td>Representante:</td>
                <td>
                    <select id="cbTipoRepresentante" style="width:140px">
                        @foreach (var item in Model.ListaTipoRepresentante)
                        {
                            <option value="@item.TipoTitularAlternoCodigo">@item.TipoTitularAlternoDescripcion</option>
                        }
                    </select>
                </td>
                <td>Baja:</td>
                <td>
                    <select id="cbEstado" style="width:140px">
                        @foreach (var item in Model.ListaEstado)
                        {
                            <option value="@item.Codigo">@item.Nombre</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="checkbox" id="chkVigencia" /> Vencimiento Vigencia Poder Menor a:
                </td>
                <td>
                    <input type="text" id="txtFechaAlertaVigenciaVencida" style="width:120px;" disabled />
                    <!-- <input type="button" id="btnAlertaVigenciaVencida" value="Alerta Vigencia Vencida" />-->
                    @*<input type="button" id="btnCorreoInformeRpteLegal" value="Correo Informe - Representante Legal" />*@
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    <a href="JavaScript:ExportarExcelRepresentanteLegal();" title="Exportar a Excel">
                        <img src="~/Content/Images/ExportExcel.png" width="30" height="30" />
                    </a>
                    <a href="JavaScript:ExportarTextoRepresentanteLegal();" title="Exportar a Texto">
                        <img src="~/Content/Images/archivo.png" width="30" height="30" />
                    </a>
                    <a href="JavaScript:ExportarWordRepresentanteLegal();" title="Exportar a Word">
                        <img src="~/Content/Images/doc.png" width="30" height="30" />
                    </a>
                </td>
                <td colspan="10"></td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>