@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel

<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Empresa</th>
            <th scope="col">Fec.Envío</th>
            <th scope="col">Rgtos.</th>
            <th scope="col">Versión</th>
            <th scope="col">Estado</th>
            <th scope="col">Cumplimiento</th>
            <th scope="col"><input type="checkbox" id="checkall" name="checkall" />Cierre</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPlanTransmicion.Count > 0)
        {
            foreach (var item in Model.ListaPlanTransmicion)
            {
                <tr>
                    <td style="width:70px;">@item.Plancodi</td>
                    <td style="text-align:left;">@(item.Codempresa + " - " + item.Nomempresa)</td>
                    <td >@(item.Fecenvio.HasValue ? item.Fecenvio.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td >@item.Numreg</td>
                    <td style="@(item.Vigente == "1" ? "color:green;" : "color:red;")">@("V" + item.Planversion)</td>
                    <td >@item.Planestado</td>
                    <td >@item.Plancumplimiento</td>
                    <td >
                     @if ((item.Planestado == "Enviado" || item.Planestado == "Aprobado"))
                        {
                            <input type="checkbox" id="checkProyecto_@item.Plancodi" name="checkProyecto_@item.Plancodi" value="@item.Plancodi" class="chkbox_class" />
                        }
                    </td>
                    <td>
                     @if ((item.Planestado == "Enviado" || item.Planestado == "Aprobado"))
                        {
                            <a onclick="cierrePlanTransmision(@item.Plancodi)"><img src="~/Content/Images/DownFileConfidencial.png" title="Cerrar" /></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>