@model COES.MVC.Intranet.Areas.Campanias.Models.ProyectoModel

<input type="button" name="btnFicha" id="btnFicha" value="Fichas" />
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaProyecto" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo proyecto</th>
            <th scope="col">Nombre proyecto</th>
            <th scope="col">Descripción</th>
            <th scope="col"><input type="checkbox" id="checkall" name="checkall" />Ficha </th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.listaProyecto.Count > 0)
      {
          foreach (var item in Model.listaProyecto)
          {
        <tr>
            <td style="width:70px">@item.Proycodi</td>
            <td>@item.TipoNombre</td>
            <td>@item.Proynombre</td>
            <td>@item.Proydescripcion</td>
            <td>
                <input type="checkbox" id="checkProyecto_@item.Proycodi" name="checkProyecto_@item.Proycodi" value="@item.Proycodi" class="chkbox_class" />
            </td>
            <td>
                <a href="javascript:void(0);" onclick="consultarProyecto(@item.Proycodi)"><img src="~/Content/Images/btn-open.png" /> </a>
            </td>
        </tr>
          }
      }

    </tbody>
</table>