@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@using Newtonsoft.Json
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla" aria-describedby="Evento">
    <thead>
        <tr>
            <th scope="col">Fecha Obs.</th>
            <th scope="col">Observación</th>
            <th scope="col">Fecha Rpta.</th>
            <th scope="col">Acción</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ListaObservacion.Count > 0)
        {
            foreach (var item in Model.ListaObservacion)
            {
                <tr>
                    <td style="width:20%;"> @(item.FechaObservacion.HasValue ? item.FechaObservacion.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</td>
                    <td style="text-align: left; max-width: 300px; word-break: break-word;">@item.Descripcion</td>
                    <td style="width:20%;">@((item.FechaRespuesta.HasValue && (item.Estado == "Absuelta" || item.Estado == "Cerrada")) ? item.FechaRespuesta.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</td>
                    <td style="text-align:center;">
                        <a href="javascript:void(0);" style="@((item.FechaRespuesta.HasValue && (item.Estado == "Absuelta" || item.Estado == "Cerrada")) ? "" : "display: none;")" onclick="consultarObservacion(@Html.Raw(JsonConvert.SerializeObject(item)))"><img src="~/Content/Images/btn-open.png" title="Consultar"/> </a>
                        <a href="javascript:void(0);" style="@((item.FechaRespuesta.HasValue && (item.Estado == "Absuelta" || item.Estado == "Cerrada")) ? "display: none;" : "")" onclick="consultarObservacion(@Html.Raw(JsonConvert.SerializeObject(item)))"><img src="~/Content/Images/btn-edit.png" title="Editar"/> </a>
                        <a style="@((item.FechaRespuesta.HasValue && item.Estado == "Absuelta") ? "" : "visibility: hidden;")"  href="javascript:void(0);" onclick="popupConformarObservacion(@item.ObservacionId)"><img src="~/Content/Images/btn-ok.png" title="Conforme"/> </a>
                        <a style="@(item.FechaRespuesta.HasValue ? "visibility: hidden;" : "")" href="javascript:void(0);" onclick="popupEliminarObservacion(@item.ObservacionId)"><img src="~/Content/Images/eliminar.png" title="Eliminar"/> </a>
                    </td>
                </tr>
            }
        }
         else {
            <tr><td colspan="4" style='text-align:center'>No existen registros.</td></tr>
        }
    </tbody>
</table>