@model COES.MVC.Extranet.Areas.IND.Models.BaseModel
@{
    ViewBag.Titulo = "Información del SUGAD";
}
<div style="margin:20px;">
    <div style="text-align:center">
        <div class="form-title">@Model.EntidadEmpresa.EmprNombre [@Model.EntidadEmpresa.EmprCodi] - SUGAD [MMPCD] </div>
        @if (@Model.sMensaje == "1")
        {
            <img src="~/Content/Images/loading.gif" id="imgHandsontable" />
            <div style="padding:20px; width:970px;">
                <table cellspacing="2" cellpadding="5" border="0">
                    <tr>
                        <td style="width:400px;">
                            <div class="editor-label">
                            Por favor, editar la información y luego proceder a guardar.
                            </div>
                        </td>
                        <td style="width:300px;">
                            <input type="button" value="Guardar" alt="Guardar" title="Guardar" onclick="btnGuardarSUGAD(@Model.Pericodi, @Model.EntidadEmpresa.EmprCodi)" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="htSUGAD" style="width:950px; height:200px; overflow:auto;" class="handsontable"></div>
            <div id="popupErrores" style="width: 950px; border-radius: 10px; background-color: #FFFFFF "></div>
        }
        else
        {
            <div style="padding:20px; width:970px;">@Model.sMensaje</div>
        }
    </div>
    <div>
        <span class="button b-close"><span>X</span></span>
    </div>
</div>
<script>
    var delayInMilliseconds = 1000; //1 second
    setTimeout(function () {
        mostrarExcelWeb(@Model.Pericodi, @Model.EntidadEmpresa.EmprCodi);
    }, delayInMilliseconds);
</script>