@model COES.MVC.Intranet.Areas.CortoPlazo.Models.BarraModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeRelacion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Nodo Barra (PSSE):</td>
                <td class="registro-control">
                    <input type="text" id="txtNodoBarra" name="Nodobarra" value="@Model.Entidad.Cnfbarnodo" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre a mostrar en WEB:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreBarra" name="Nombrebarra" value="@Model.Entidad.Cnfbarnombre" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Publicar en WEB:</td>
                <td class="registro-control">
                    <select id="cbPublicarEdit" name="IndPublicar">
                        <option value="">-SELECCIONE-</option>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                    </select>
                    <input type="hidden" id="hfPublicarEdit" value="@Model.Entidad.Cnfbarindpublicacion" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Barra mayor a 138KV:</td>
                <td class="registro-control">
                    <select id="cbIndDefecto" name="IndDefecto">
                        <option value="">-SELECCIONE-</option>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                    </select>
                    <input type="hidden" id="hfIndDefecto" value="@Model.Entidad.Cnfbardefecto" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Nombre NCP:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreNCP" name="NombreNCP" value="@Model.Entidad.Cnfbarnombncp" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Código SCADA:</td>
                <td class="registro-control">
                    <input type="text" id="txtCodigoScada" name="Canalcodi" value="@Model.Entidad.Canalcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Barra YUPANA:</td>
                <td class="registro-control">
                    <select id="cbBarraYupana" name="Recurcodi">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.Listado)
                        {
                            <option value="@item.Recurcodi">@item.Recurnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfBarraYupana" value="@Model.Entidad.Recurcodi" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Identificador Demanda (TIE):</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreTna" name="NombreTna" value="@Model.Entidad.Cnfbarnomtna" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoEdit" name="Estado">
                        <option value="">-SELECCIONE-</option>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstadoEdit" value="@Model.Entidad.Cnfbarestado" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Cnfbarcodi" />

    </form>
</div>
