@model COES.MVC.Intranet.Areas.CortoPlazo.Models.BarraModel

<table border="0" class="pretty tabla-icono" id="tablaRelacion">
    <thead>
        <tr>
            <th></th>            
            <th>Nodo EMS</th>
            <th>Nombre a mostrar</th>            
            <th>Ind. Publicación</th>
            <th>Barra mayor a 138KV</th>
            <th>Estado</th>
            <th>Barra YUPANA</th>
            <th>Cod. SCADA</th>  
            <th>Lastuser</th>
            <th>Lastdate</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Cnfbarcodi);"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminar(@item.Cnfbarcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:coordenadas(@item.Cnfbarcodi);"><img src="~/Content/Images/btn-map.png" /></a>
                    </td>
                    <td>@item.Cnfbarnodo</td>
                    <td>@item.Cnfbarnombre</td>
                    <td>@if (item.Cnfbarindpublicacion == "S")
                    {
                        <span>Si</span>
                    }
                    else
                    {
                        <span>No</span>
                    }</td>
                    <td>
                        @if (item.Cnfbardefecto == "S")
                        {
                            <span>Si</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                </td>
                    <td>
                        @if(item.Cnfbarestado == "A"){
                            <span>Activo</span>
                        }
                        else {
                            <span>Inactivo</span>
                        }
                    </td>
                    <td>@item.Recurnombre</td>
                    <td>@item.Canalcodi</td> 
                    <td>@item.Cnfbarusumodificacion</td>                    
                    <td>@item.Cnfbarfecmodificacion</td>
                </tr>
            }
        }
    </tbody>
</table>