@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

<div class="content-registro">
    <table role="presentation">
        <tr>
            <td class="tbform-label">Equipo:</td>
            <td class="tbform-control">@Model.Evento.EMPRNOMB  @Model.Evento.EQUIABREV</td>

            <td class="tbform-label">Tipo de Evento:</td>
            <td class="tbform-control">
                @Model.Evento.TIPOEVENABREV
            </td>
        </tr>
        <tr>
            <td class="tbform-label">CIER:</td>
            <td class="tbform-control">
                @Model.Evento.CAUSAEVENABREV
            </td>

            <td class="tbform-label">Causa:</td>
            <td class="tbform-control">
                @Model.Evento.SUBCAUSAABREV
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Inicio:</td>
            <td class="tbform-control">@Model.Evento.EVENINI</td>

            <td class="tbform-label">Final:</td>
            <td class="tbform-control">@Model.Evento.EVENFIN</td>
        </tr>
        <tr>
            <td class="tbform-label">MW Interru/Descargado:</td>
            <td class="tbform-control">@Model.Evento.EVENMWINDISP</td>

            <td class="tbform-label">Provoca Interrup:</td>
            <td class="tbform-control">
                @Model.Evento.EVENINTERRUP
            </td>
        </tr>

        <tr>
            <td colspan="4" class="tbform-label">Descripción(Resumen): </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-control" style=" padding-bottom: 15px;">
                @Model.Evento.EVENASUNTO
            </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-label">DETALLE ADICIONAL Y OBSERVACIONES:  </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-control" style=" padding-bottom: 15px;">
                @Model.Evento.EVENDESC
            </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-label">COMENTARIOS INTERNOS: </td>
        </tr>
        <tr>
            <td colspan="4" class="tbform-control" style=" padding-bottom: 15px;">
                @Model.Evento.EVENCOMENTARIOS
            </td>
        </tr>
    </table>
</div>