@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel
@{
    ViewBag.Title = "Penalidades";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}
@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Areas/PotenciaFirmeRemunerable/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_entidad.js?v=1.7"></script>
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_penalidad.js?v1.6.9"></script>

<div class="form-title">
    <div class="content-titulo">Penalidades</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td style="vertical-align: middle;">Periodo:</td>
                <td style="width: 246px;">
                    <select id="cbAnioPenalidad" style="width: 57px;">
                        @foreach (var item in Model.ListaAnio)
                        {
                            var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                            <option value="@item.Entero1" @(selected)>@item.String1</option>
                        }
                    </select>
                    <select id="cbPeriodoPenalidad" style="width: 120px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                            <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                        }
                    </select>
                </td>

                <td class="espacio-60"> </td>

                <td style="vertical-align: middle;">Estado:</td>
                <td>
                    <select id="cbEstadoPenalidad" style="width:250px">
                        <option value="-1">TODOS</option>
                        <option value="0">BAJA</option>
                        <option value="1">ACTIVO</option>

                    </select>
                </td>

                <td class="espacio-1000"> </td>

                <td>
                    <input type="button" id="btnNuevo" value="Nuevo">
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla" id="excelwebPenalidad" style="">
        <div class="table-list" id="listadoDePenalidades">

        </div>
    </div>

</div>

<!-- POPUP NUEVA PENALIDAD -->
<div id="popupNuevaPenalidad" class="popup-class-1 general-popup" style="width: 400px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Penalidad</span></div>
    <div class="panel-container">

        <div id="" style="margin-top: 10px;"></div>
        <form id="frmNuevaPenalidad">
            <table id="" style="margin-top: 10px; padding-left: 15px;">

                <tr id="bloque_add_penalidad_periodo">
                    <td class="tbform-label label_add_penalidad">Vigencia:</td>
                    <td>
                        <input type="text" name="Pfrentvigenciaini" id="new-penalidad-periodo" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" required style="width:95px" />

                        <input type="hidden" id="hfListadoPeriodos" value="@Model.ListadoPeriodosFechasInicio" />
                    </td>
                </tr>

                <tr id="bloque_add_penalidad_id">
                    <td class="tbform-label label_add_penalidad">Id:</td>
                    <td id="">
                        <input type="text" name="Pfrentid" id="new-penalidad-id" value="CPenaliza" style="width: 120px" />

                        <input type="hidden" id="hfCodDisponiblePenalidad" value="@Model.CodigoDisponiblePenalidad" />
                    </td>
                </tr>

                <tr id="bloque_add_penalidad_valor">
                    <td class="tbform-label label_add_penalidad">Valor:</td>
                    <td>
                        <input type="text" name="Pfrpenvalor" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_penalidad_descripcion">
                    <td class="tbform-label label_add_penalidad">Descripción:</td>
                    <td>
                        <input type="text" name="Pfrpendescripcion" id="" value="" style="width: 230px" />
                    </td>
                </tr>

                @*<tr>
                        <td>
                            <input type="hidden" id="hfAddFamcodiEquipo" value="" />
                        </td>

                    </tr>*@


                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="submit" id="" value="Guardar" style="margin-top: 15px;">
                        <input type="button" id="" value="Cancelar" onclick="cerrarPopup('#popupNuevaPenalidad')">

                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>

@Html.Partial("_PopupPropiedad")
