@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel
@{
    ViewBag.Title = "Equipos de Transmisión";
}
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}
@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<link href="~/Areas/PotenciaFirmeRemunerable/Content/Css/css.css?v=1.5.4" rel="stylesheet" />
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_entidad.js?v=1.9.12"></script>
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_equipos.js?v=1.9.12"></script>

<div class="form-title">
    <div class="content-titulo">Equipos de Transmisión</div>

</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab' id="mi_tab_barra"><a href="#vistaBarra">Barra</a></li>
            <li class='tab' id="mi_tab_linea"><a href="#vistaLinea">Línea</a></li>
            <li class='tab' id="mi_tab_trafo2"><a href="#vistaTrafo2">Trafo2</a></li>
            <li class='tab' id="mi_tab_trafo3"><a href="#vistaTrafo3">Trafo3</a></li>
            <li class='tab' id="mi_tab_compDinamica"><a href="#vistaCdinamica">CompDinámica</a></li>
        </ul>
        <div class='panel-container'>


            @* SECCION BARRAS *@
            <div id="vistaBarra">
                @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>*@

                <table role="presentation">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="vertical-align: middle;">Periodo:</td>
                                        <td style="width: 246px;">
                                            <select id="cbAnioBarra" style="width: 57px;">
                                                @foreach (var item in Model.ListaAnio)
                                                {
                                                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                                                }
                                            </select>
                                            <select id="cbPeriodoBarra" style="width: 120px;">
                                                @foreach (var item in Model.ListaPeriodo)
                                                {
                                                    var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                                                    <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="espacio-60"> </td>

                                        <td style="vertical-align: middle;">Estado:</td>
                                        <td>
                                            <select id="cbEstadoBarra" style="width:250px">
                                                <option value="-1">TODOS</option>
                                                <option value="0">BAJA</option>
                                                <option value="1">ACTIVO</option>

                                            </select>
                                        </td>

                                        <td class="espacio-1000"> </td>

                                        <td>
                                            @if (Model.TienePermisoNuevo)
                                            {
                                                <div>
                                                    <input type="button" id="btnNuevaBarra" value="Nuevo" />
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="content-tabla" id="excelwebBarra" style="padding-top: 10px;">
                    <div class="table-list" id="listadoDeBarras">

                    </div>
                </div>
            </div>

            @* SECCION LINEA *@
            <div id="vistaLinea">
                @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>*@
                <table role="presentation">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="vertical-align: middle;">Periodo:</td>
                                        <td style="width: 246px;">
                                            <select id="cbAnioLinea" style="width: 57px;">
                                                @foreach (var item in Model.ListaAnio)
                                                {
                                                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                                                }
                                            </select>
                                            <select id="cbPeriodoLinea" style="width: 120px;">
                                                @foreach (var item in Model.ListaPeriodo)
                                                {
                                                    var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                                                    <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="espacio-60"> </td>

                                        <td style="vertical-align: middle;">Estado:</td>
                                        <td>
                                            <select id="cbEstadoLinea" style="width:250px">
                                                <option value="-1">TODOS</option>
                                                <option value="0">BAJA</option>
                                                <option value="1">ACTIVO</option>

                                            </select>
                                        </td>

                                        <td class="espacio-1000"> </td>

                                        <td>
                                            @if (Model.TienePermisoNuevo)
                                            {
                                                <div>
                                                    <input type="button" id="btnNuevaLinea" value="Nuevo" />
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="content-tabla" id="excelwebLinea" style="padding-top: 10px;">
                    <div class="table-list" id="listadoDeLineas">

                    </div>
                </div>

            </div>


            @* SECCION TRAFO2 *@
            <div id="vistaTrafo2">
                @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>*@
                <table role="presentation">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="vertical-align: middle;">Periodo:</td>
                                        <td style="width: 246px;">
                                            <select id="cbAnioTrafo2" style="width: 57px;">
                                                @foreach (var item in Model.ListaAnio)
                                                {
                                                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                                                }
                                            </select>
                                            <select id="cbPeriodoTrafo2" style="width: 120px;">
                                                @foreach (var item in Model.ListaPeriodo)
                                                {
                                                    var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                                                    <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="espacio-60"> </td>

                                        <td style="vertical-align: middle;">Estado:</td>
                                        <td>
                                            <select id="cbEstadoTrafo2" style="width:250px">
                                                <option value="-1">TODOS</option>
                                                <option value="0">BAJA</option>
                                                <option value="1">ACTIVO</option>

                                            </select>
                                        </td>

                                        <td class="espacio-1000"> </td>

                                        <td>
                                            @if (Model.TienePermisoNuevo)
                                            {
                                                <div>
                                                    <input type="button" id="btnNuevaTrafo2" value="Nuevo" />
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="content-tabla" id="excelwebTrafo2" style="padding-top: 10px;">
                    <div class="table-list" id="listadoDeTrafo2">

                    </div>
                </div>

            </div>

            @* SECCION TRAFO3 *@
            <div id="vistaTrafo3">
                @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>*@
                <table role="presentation">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="vertical-align: middle;">Periodo:</td>
                                        <td style="width: 246px;">
                                            <select id="cbAnioTrafo3" style="width: 57px;">
                                                @foreach (var item in Model.ListaAnio)
                                                {
                                                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                                                }
                                            </select>
                                            <select id="cbPeriodoTrafo3" style="width: 120px;">
                                                @foreach (var item in Model.ListaPeriodo)
                                                {
                                                    var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                                                    <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="espacio-60"> </td>

                                        <td style="vertical-align: middle;">Estado:</td>
                                        <td>
                                            <select id="cbEstadoTrafo3" style="width:250px">
                                                <option value="-1">TODOS</option>
                                                <option value="0">BAJA</option>
                                                <option value="1">ACTIVO</option>

                                            </select>
                                        </td>

                                        <td class="espacio-1000"> </td>

                                        <td>
                                            @if (Model.TienePermisoNuevo)
                                            {
                                                <div>
                                                    <input type="button" id="btnNuevaTrafo3" value="Nuevo" />
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="content-tabla" id="excelwebTrafo3" style="padding-top: 10px;">
                    <div class="table-list" id="listadoDeTrafo3">

                    </div>
                </div>

            </div>

            @* SECCION COMPENSACION DINAMICA *@
            <div id="vistaCdinamica">
                @*<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>*@
                <table role="presentation">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">

                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="vertical-align: middle;">Periodo:</td>
                                        <td style="width: 246px;">
                                            <select id="cbAnioCompDinamica" style="width: 57px;">
                                                @foreach (var item in Model.ListaAnio)
                                                {
                                                    var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                                                    <option value="@item.Entero1" @(selected)>@item.String1</option>
                                                }
                                            </select>
                                            <select id="cbPeriodoCompDinamica" style="width: 120px;">
                                                @foreach (var item in Model.ListaPeriodo)
                                                {
                                                    var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                                                    <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                                                }
                                            </select>
                                        </td>

                                        <td class="espacio-60"> </td>

                                        <td style="vertical-align: middle;">Estado:</td>
                                        <td>
                                            <select id="cbEstadoCompDinamica" style="width:250px">
                                                <option value="-1">TODOS</option>
                                                <option value="0">BAJA</option>
                                                <option value="1">ACTIVO</option>

                                            </select>
                                        </td>

                                        <td class="espacio-1000"> </td>

                                        <td>
                                            @if (Model.TienePermisoNuevo)
                                            {
                                                <div>
                                                    <input type="button" id="btnNuevaCompDinamica" value="Nuevo" />
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="content-tabla" id="excelwebCompDinamica" style="padding-top: 10px;">
                    <div class="table-list" id="listadoDeCompDinamica">

                    </div>
                </div>

            </div>



        </div>
    </div>

</div>



<!-- POPUP NUEVO EQUIPO -->
<div id="popupNuevoEquipo" class="popup-class-1 general-popup" style="width: 400px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Equipo</span></div>
    <div class="panel-container">

        <div id="" style="margin-top: 10px;"></div>
        <form id="frmNuevoEquipo">
            <table id="" style="margin-top: 10px; padding-left: 60px;">

                <tr id="bloque_add_equipo_periodo">
                    <td class="tbform-label label_add_equipo">Vigencia:</td>
                    <td><input type="text" name="Pfrentvigenciaini" id="new-equipo-periodo" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" required style="width:95px" /></td>
                    <td id="">
                        <input type="hidden" id="hfListadoPeriodos" value="@Model.ListadoPeriodosFechasInicio" />

                        <input type="hidden" id="hf_new-equipo-vigencia-barra" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" />
                        <input type="hidden" id="hf_new-equipo-vigencia-linea" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" />
                        <input type="hidden" id="hf_new-equipo-vigencia-trafo2" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" />
                        <input type="hidden" id="hf_new-equipo-vigencia-trafo3" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" />
                        <input type="hidden" id="hf_new-equipo-vigencia-compDinamica" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_id">
                    <td class="tbform-label label_add_equipo">Id:</td>
                    <td id="">
                        <input type="text" name="Pfrentid" id="new-barra-id" value="" style="width: 120px" />

                        <input type="hidden" id="hfCodDisponibleBarra" value="@Model.CodigoDisponibleBarra" />
                        <input type="hidden" id="hfCodDisponibleLinea" value="@Model.CodigoDisponibleLinea" />
                        <input type="hidden" id="hfCodDisponibleTrafo2" value="@Model.CodigoDisponibleTrafo2" />
                        <input type="hidden" id="hfCodDisponibleTrafo3" value="@Model.CodigoDisponibleTrafo3" />
                        <input type="hidden" id="hfCodDisponibleCompDinamica" value="@Model.CodigoDisponibleCompDinamica" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_grupo">
                    <td class="tbform-label label_add_equipo">Barra(PR_GRUPO):</td>
                    <td>
                        <select id="cbBarraNomb" name="Grupocodi" style="width: 170px;">
                            <option value="" disabled selected>-- SELECCIONAR --</option>
                            @foreach (var item in Model.ListaBarrasnomb)
                            {
                                <option value="@item.Grupocodi">@item.Gruponomb</option>
                            }
                        </select>
                        <span>(*)</span>
                    </td>
                </tr>

                <tr id="bloque_add_equipo_nombre">
                    <td class="tbform-label label_add_equipo">Nombre:</td>
                    <td>
                        <input type="text" name="Pfrentnomb" id="idnombreBarra" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_barra">
                    <td class="tbform-label label_add_equipo">Barra:</td>
                    <td>
                        <div id="listado_barras"></div>
                    </td>
                </tr>

                <tr id="bloque_add_equipo_tension">
                    <td class="tbform-label label_add_equipo">Tensión:</td>
                    <td>
                        <input type="text" name="Pfreqptension" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_barra1">
                    <td class="tbform-label label_add_equipo">Barra1:</td>
                    <td>
                        @*<select id="cbBarra1" name="Pfreqpidbarra1" style="width: 170px;">
                                @foreach (var item in Model.ListaBarra)
                                {
                                    <option value="@item.Pfreqpid">@item.Pfreqpid | @item.Pfreqpnombre</option>
                                }
                            </select>*@
                        <div id="listado_barras1"></div>

                    </td>
                </tr>

                <tr id="bloque_add_equipo_barra2">
                    <td class="tbform-label label_add_equipo">Barra2:</td>
                    <td>
                        @*<select id="cbBarra2" name="Pfreqpidbarra2" style="width: 170px;">
                                @foreach (var item in Model.ListaBarra)
                                {
                                    <option value="@item.Pfreqpid">@item.Pfreqpid | @item.Pfreqpnombre</option>
                                }
                            </select>*@
                        <div id="listado_barras2"></div>
                    </td>
                </tr>

                <tr id="bloque_add_equipo_resistencia">
                    <td class="tbform-label label_add_equipo">Resistencia:</td>
                    <td>
                        <input type="text" name="Pfreqpresistencia" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_reactancia">
                    <td class="tbform-label label_add_equipo">Reactancia:</td>
                    <td>
                        <input type="text" name="Pfreqpreactancia" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_conductancia">
                    <td class="tbform-label label_add_equipo">Conductancia:</td>
                    <td>
                        <input type="text" name="Pfreqpconductancia" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_admitancia">
                    <td class="tbform-label label_add_equipo">Admitancia:</td>
                    <td>
                        <input type="text" name="Pfreqpadmitancia" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_vmax">
                    <td class="tbform-label label_add_equipo">VMáx:</td>
                    <td>
                        <input type="text" name="Pfreqpvmax" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_vmin">
                    <td class="tbform-label label_add_equipo">VMín:</td>
                    <td>
                        <input type="text" name="Pfreqpvmin" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_tap1">
                    <td class="tbform-label label_add_equipo">Tap1:</td>
                    <td>
                        <input type="text" name="Pfreqptap1" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_tap2">
                    <td class="tbform-label label_add_equipo">Tap2:</td>
                    <td>
                        <input type="text" name="Pfreqptap2" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_qmax">
                    <td class="tbform-label label_add_equipo">QMáx:</td>
                    <td>
                        <input type="text" name="Pfreqpqmax" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_qmin">
                    <td class="tbform-label label_add_equipo">QMín:</td>
                    <td>
                        <input type="text" name="Pfreqpqmin" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_potenciamax">
                    <td class="tbform-label label_add_equipo">Potencia Máxima:</td>
                    <td>
                        <input type="text" name="Pfreqppotenciamax" id="" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_add_equipo_compreactiva">
                    <td class="tbform-label label_add_equipo">Compensación Reactiva:</td>
                    <td>
                        <input type="text" name="Pfreqpcompreactiva" id="" value="" style="width: 120px" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" id="hfAddFamcodiEquipo" value="" />
                    </td>

                </tr>

                <tr id="bloque_add_eqObligatorio">
                    <td style="padding-top: 20px;" colspan="2">(*) campo Opcional, sirve para relacionar el nombre de las Barras</td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="submit" id="" value="Guardar" style="margin-top: 15px;">
                        <input type="button" id="" value="Cancelar" onclick="cerrarPopup('#popupNuevoEquipo')">

                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>


<!-- POPUP EDITAR EQUIPO -->
<div id="popupEditarEquipo" class="popup-class-1 general-popup" style="width: 400px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Equipo</span></div>
    <div class="panel-container">

        <div id="" style="margin-top: 10px;"></div>
        <form id="frmEditarEquipo">
            <table id="" style="margin-top: 10px; padding-left: 60px;">

                <tr id="bloque_edit_equipo_codigo">
                    <td>
                        <input type="text" name="Pfreqpcodi" id="edit_equipo_codigo" value="" style="width: 120px" />
                    </td>
                </tr>

                @*<tr id="bloque_edit_equipo_id">
                        <td class="tbform-label label_edit_equipo">Id:</td>
                        <td id="edit_equipo_id" name="Pfreqpid">
                        </td>
                    </tr>*@

                <tr id="bloque_edit_equipo_id">
                    <td class="tbform-label label_edit_equipo">Id:</td>
                    <td>
                        <input type="text" name="Pfreqpid" id="edit_equipo_id" value="" style="width: 120px" disabled />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_grupo">
                    <td class="tbform-label label_edit_equipo">Barra(PR_GRUPO):</td>
                    <td>
                        <select id="cbEBarraNomb" name="Grupocodi" style="width: 170px;">
                            <option value="" disabled selected>-- SELECCIONAR --</option>
                            @foreach (var item in Model.ListaBarrasnomb)
                            {
                                <option value="@item.Grupocodi">@item.Gruponomb</option>
                            }
                        </select>
                        <span>(*)</span>
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_nombre">
                    <td class="tbform-label label_edit_equipo">Nombre:</td>
                    <td>
                        <input type="text" name="Pfreqpnombre" id="edit_equipo_nombre" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_barra">
                    <td class="tbform-label label_edit_equipo">Barra:</td>
                    <td>
                        @*<select id="cbEBarra" name="Pfreqpidbarra" style="width: 120px;" disabled>
                                @foreach (var item in Model.ListaBarra)
                                {
                                    <option value="@item.Pfreqpid">@item.Pfreqpnombre</option>
                                }
                            </select>*@
                        <div id="listado_E_barras"></div>
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_tension">
                    <td class="tbform-label label_edit_equipo">Tensión:</td>
                    <td>
                        <input type="text" name="Pfreqptension" id="edit_equipo_tension" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_barra1">
                    <td class="tbform-label label_edit_equipo">Barra1:</td>
                    <td>
                        @*<select id="cbEBarra1" name="Pfreqpidbarra1" style="width: 120px;" disabled>
                                @foreach (var item in Model.ListaBarra)
                                {
                                    <option value="@item.Pfreqpid">@item.Pfreqpnombre</option>
                                }
                            </select>*@
                        <div id="listado_E_barras1"></div>
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_barra2">
                    <td class="tbform-label label_edit_equipo">Barra2:</td>
                    <td>
                        @*<select id="cbEBarra2" name="Pfreqpidbarra2" style="width: 120px;" disabled>
                                @foreach (var item in Model.ListaBarra)
                                {
                                    <option value="@item.Pfreqpid">@item.Pfreqpnombre</option>
                                }
                            </select>*@
                        <div id="listado_E_barras2"></div>
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_resistencia">
                    <td class="tbform-label label_edit_equipo">Resistencia:</td>
                    <td>
                        <input type="text" name="Pfreqpresistencia" id="edit_equipo_resistencia" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_reactancia">
                    <td class="tbform-label label_edit_equipo">Reactancia:</td>
                    <td>
                        <input type="text" name="Pfreqpreactancia" id="edit_equipo_reactancia" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_conductancia">
                    <td class="tbform-label label_edit_equipo">Conductancia:</td>
                    <td>
                        <input type="text" name="Pfreqpconductancia" id="edit_equipo_conductancia" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_admitancia">
                    <td class="tbform-label label_edit_equipo">Admitancia:</td>
                    <td>
                        <input type="text" name="Pfreqpadmitancia" id="edit_equipo_admitancia" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_vmax">
                    <td class="tbform-label label_edit_equipo">VMáx:</td>
                    <td>
                        <input type="text" name="Pfreqpvmax" id="edit_equipo_vmax" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_vmin">
                    <td class="tbform-label label_edit_equipo">VMín:</td>
                    <td>
                        <input type="text" name="Pfreqpvmin" id="edit_equipo_vmin" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_tap1">
                    <td class="tbform-label label_edit_equipo">Tap1:</td>
                    <td>
                        <input type="text" name="Pfreqptap1" id="edit_equipo_tap1" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_tap2">
                    <td class="tbform-label label_edit_equipo">Tap2:</td>
                    <td>
                        <input type="text" name="Pfreqptap2" id="edit_equipo_tap2" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_qmax">
                    <td class="tbform-label label_edit_equipo">QMáx:</td>
                    <td>
                        <input type="text" name="Pfreqpqmax" id="edit_equipo_qmax" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_qmin">
                    <td class="tbform-label label_edit_equipo">QMín:</td>
                    <td>
                        <input type="text" name="Pfreqpqmin" id="edit_equipo_qmin" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_potenciamax">
                    <td class="tbform-label label_edit_equipo">Potencia Máxima:</td>
                    <td>
                        <input type="text" name="Pfreqppotenciamax" id="edit_equipo_potenciamax" value="" style="width: 120px" />
                    </td>
                </tr>

                <tr id="bloque_edit_equipo_compreactiva">
                    <td class="tbform-label label_edit_equipo">Compensación Reactiva:</td>
                    <td>
                        <input type="text" name="Pfreqpcompreactiva" id="edit_equipo_compreactiva" value="" style="width: 120px" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" id="hfFamcodiEquipo" value="" />
                    </td>

                </tr>

                <tr id="bloque_edit_eqObligatorio">
                    <td style="padding-top: 20px;" colspan="2">(*) campo Opcional, sirve para relacionar el nombre de las Barras</td>
                </tr>


                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="submit" id="" value="Guardar" style="margin-top: 15px;">
                        <input type="button" id="" value="Cancelar" onclick="cerrarPopup('#popupEditarEquipo')">

                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>

<!-- POPUP VER DETALLES EQUIPO -->
<div id="popupVerEquipo" class="popup-class-1 general-popup" style="z-index: 9999999999; display: none; width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ver Equipo</span></div>

    <div class="">
        <div style="margin-top: 10px;"></div>

        <table style="margin-top: 10px;  padding-left:100px;" role="presentation">


            <tr id="bloque_ver_equipo_tipo">
                <td class="tbform-label label_ver_equipo">Tipo:</td>
                <td id="ver_equipo_tipo">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_id">
                <td class="tbform-label label_ver_equipo">Id:</td>
                <td id="ver_equipo_id">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_nombre">
                <td class="tbform-label label_ver_equipo">Nombre:</td>
                <td id="ver_equipo_nombre">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_tension">
                <td class="tbform-label label_ver_equipo">Tension:</td>
                <td id="ver_equipo_tension">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_vmax">
                <td class="tbform-label label_ver_equipo">VMáx:</td>
                <td id="ver_equipo_vmax">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_vmin">
                <td class="tbform-label label_ver_equipo">VMín:</td>
                <td id="ver_equipo_vmin">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_qmax">
                <td class="tbform-label label_ver_equipo">QMáx:</td>
                <td id="ver_equipo_qmax">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_qmin">
                <td class="tbform-label label_ver_equipo">QMín:</td>
                <td id="ver_equipo_qmin">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_compreactiva">
                <td class="tbform-label label_ver_equipo">Compensación Reactiva:</td>
                <td id="ver_equipo_compreactiva">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_idbarra1">
                <td class="tbform-label label_ver_equipo">Id Barra 1:</td>
                <td id="ver_equipo_idbarra1">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_idbarra2">
                <td class="tbform-label label_ver_equipo">Id Barra 2:</td>
                <td id="ver_equipo_idbarra2">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_resistencia">
                <td class="tbform-label label_ver_equipo">Resistencia:</td>
                <td id="ver_equipo_resistencia">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_reactancia">
                <td class="tbform-label label_ver_equipo">Reactancia:</td>
                <td id="ver_equipo_reactancia">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_conductancia">
                <td class="tbform-label label_ver_equipo">Conductancia:</td>
                <td id="ver_equipo_conductancia">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_admitancia">
                <td class="tbform-label label_ver_equipo">Admitancia:</td>
                <td id="ver_equipo_admitancia">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_tap1">
                <td class="tbform-label label_ver_equipo">Tap1:</td>
                <td id="ver_equipo_tap1">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_tap2">
                <td class="tbform-label label_ver_equipo">Tap2:</td>
                <td id="ver_equipo_tap2">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_potenciamaxima">
                <td class="tbform-label label_ver_equipo">Potencia Máxima:</td>
                <td id="ver_equipo_potenciamaxima">
                </td>
            </tr>

            <!---------------------------------------------------------------->

            <tr id="bloque_ver_equipo_estado">
                <td class="tbform-label label_ver_equipo">Estado:</td>
                <td id="ver_equipo_estado">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_vigenciaini">
                <td class="tbform-label label_ver_equipo">Vigencia Inicio:</td>
                <td id="ver_equipo_vigenciaini">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_vigenciafin">
                <td class="tbform-label label_ver_equipo">Vigencia Fin:</td>
                <td id="ver_equipo_vigenciafin">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_usucreacion">
                <td class="tbform-label label_ver_equipo">Usuario Creación:</td>
                <td id="ver_equipo_usucreacion">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_fechacreacion">
                <td class="tbform-label label_ver_equipo">Fecha Creación:</td>
                <td id="ver_equipo_fechacreacion">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_usumodificacion">
                <td class="tbform-label label_ver_equipo">Usuario Modificación:</td>
                <td id="ver_equipo_usumodificacion">
                </td>
            </tr>

            <tr id="bloque_ver_equipo_fechamodificacion">
                <td class="tbform-label label_ver_equipo">Fecha Modificación:</td>
                <td id="ver_equipo_fechamodificacion">
                </td>
            </tr>

        </table>
    </div>
</div>

<div id="popupVerHistorial" class="popup-class-1 general-popup" style="z-index: 9999999999; display: none; width: auto; max-width:none">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ver Historial</span></div>

    <div class="">
        <div style="margin-top: 10px; overflow-x: auto;" id="lblResultado"></div>
    </div>
</div>


<!-- POPUP DAR DE BAJA A UN EQUIPO -->
<div id="popupBajaEquipo" class="general-popup" style="z-index: 9999999999; display: none; width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Dar de baja un Equipo</span></div>
    <div class="panel-container">

        <div id="" style="margin-top: 10px;"></div>
        <form id="frmBajaEquipo">

            <input type="hidden" name="Pfreqpcodi" id="txtBajaCodi" />
            <input type="hidden" name="Famcodi" id="txtFamcodi" />
            <table id="" style="margin-top: 10px;">

                @*<tr>
                        <td class="tbform-label">Barra GAMS:</td>
                        <td>
                            <label id="lblBarraB" style="font-weight:bold"></label>
                        </td>
                    </tr>

                    <tr>
                        <td class="tbform-label">Barra VTP:</td>
                        <td>
                            <label id="lblSssaB" style="font-weight:bold"></label>
                        </td>
                    </tr>*@

                <tr>
                    <td class="tbform-label">
                        Periodo de Baja (*):
                    </td>
                    <td>
                        <input type="text" name="Pfreqpvigenciafin" id="txtBajaVigenciaFin" value="@Model.PfrPeriodo.FechaFin.ToString("dd-MM-yyyy")" style="width:100px" required />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div id="NotaVigencia" style="margin-top: 10px;">(*) El equipo estará de baja desde el @Model.PfrPeriodo.FechaFin.ToString("dd-MM-yyyy") 00:00</div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align: right">
                        <input type="submit" id="btnGuardar" value="Guardar" style="margin-top: 15px;">
                        <input type="button" id="btnCancelar" value="Cancelar" onclick="popupClose('#popupBajaEquipo')">

                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>

@Html.Partial("_PopupPropiedad")