@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Relación Generadores GAMS y SSAA";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/PotenciaFirmeRemunerable/Content/Css/css.css?v=1.4.1" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_entidad.js?v=1.7"></script>
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_gamssaa.js?v=1.6.7"></script>

<div class="form-title">
    <div class="content-titulo">Relación Barras GAMS y SSAA</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="padding-right: 0px;">Periodo:</td>
                <td style="width: 246px;">
                    <select id="cbAnio" style="width: 57px;">

                        @foreach (var item in Model.ListaAnio)
                        {
                            var selected = Model.AnioActual == item.Entero1 ? "selected" : "";
                            <option value="@item.Entero1" @(selected)>@item.String1</option>
                        }
                    </select>
                    <select id="cbPeriodo" style="width: 120px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                            <option value="@item.Pfrpercodi" @(selected)>@item.Pfrpernombre</option>
                        }
                    </select>
                </td>

                <td class="espacio-60"> </td>

                <td style="vertical-align: middle;">Estado:</td>
                <td>
                    <select id="cbEstado" style="width:250px">
                        <option value="-1">TODOS</option>
                        <option value="0">BAJA</option>
                        <option value="1">ACTIVO</option>

                    </select>
                </td>

                <td class="espacio-1000"> </td>

                <td>
                    <input type="button" id="btnNuevo" value="Nuevo">
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listadoGamsEquipo">

        </div>
    </div>

</div>


<div id="popupNuevo" class="general-popup" style="width: auto">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Relación Barras GAMS y SSAA</span></div>
    <div class="panel-container">

        <div id="" style="margin-top: 10px;"></div>
        <form id="frmNuevo">
            <table id="" style="margin-top: 10px;">
                <tr>
                    <td class="tbform-label">Vigencia:</td>
                    <td><input type="text" name="Pfrentvigenciaini" id="new-equipo-periodo" value="@Model.PfrPeriodo.FechaIni.ToString("dd-MM-yyyy")" required style="width:95px" /></td>
                </tr>
                <tr>
                    <td class="tbform-label">Barra:</td>
                    <td>
                        <select id="cboBarraGams" style="width:200px" name="Pfrentcodibarragams" required>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tbform-label">SSAA:</td>
                    <td>
                        <select id="cboUnidad" name="Equicodi" style="width:350px" required>
                            <option selected disabled>-- SELECCIONAR --</option>
                            @foreach (var item in Model.ListaUnidad)
                            {
                                <option value="@item.Equicodi">@item.Emprnomb | @item.Equinomb</option>
                            }
                        </select>

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div id="vigenciaDesc" style="margin-top: 10px;"></div>
                        <div id="vigenciaDescFin" style="margin-top: 10px;"></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="button" id="btnCancelar" value="Cancelar" onclick="popupClose('popupNuevo')">
                        <input type="submit" id="btnGuardar" value="Guardar" style="margin-top: 15px;">
                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>

@Html.Partial("_PopupPropiedad")