@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel
<div style="clear:both; height:15px"></div>
<table id="tablaListadoGrupodat" border="0" class="pretty tabla-icono" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 50px">Opciones</th>
            <th style="width: 80px">Fecha de Vigencia</th>
            <th style="width: 80px">Valor</th>
            <th style="width: 120px">Usuario modificación</th>
            <th style="width: 120px">Fecha modificación</th>
            <th style="width: 50px">Estado</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaPropiedadVigente)
        {
            string claseFila = "";
            if (item.Pfrdatdeleted >= 1) { claseFila = "clase_eliminado"; }
            <tr class="@claseFila">
                <td>
                    @if (Model.AccesoEditar)
                    {
                        if (item.Pfrdatdeleted == 0)
                        {
                            <a href="JavaScript:editarGrupodat('@item.Prfdatfechavigdesc','@item.Pfrdatvalor', '@item.FechaUltimaModif', '@item.Pfrdatdeleted', @item.Pfrcatcodi);" title="Editar Registro">
                                <img src="~/Content/Images/btn-edit.png" alt="Editar Registro" />
                            </a>
                            <a href="JavaScript:eliminarGrupodat(@item.Pfrentcodi, '@item.Pfrcnpcodi','@item.Prfdatfechavigdesc',@item.Pfrdatdeleted, @item.Pfrcatcodi);" title="Eliminar Registro">
                                <img src="~/Content/Images/Trash.png" alt="Eliminar Registro" />
                            </a>
                        }
                    }
                </td>
                <td>@item.Prfdatfechavigdesc</td>
                <td>@item.Pfrdatvalor</td>
                <td>@item.UsuarioUltimaModif</td>
                <td>@item.FechaUltimaModif</td>
                <td>@item.EstadoDesc</td>
            </tr>
        }

    </tbody>
</table>