@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

<div style="clear:both; height:10px"></div>
<table id="tabla_generacion" border="0" class="pretty tabla-icono" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width: 50px">Id Barra</th>
            <th>Num Unidad</th>
            <th>Barra</th>
            <th>Tensión</th>
            <th>Pmax</th>
            <th>Costo varibale</th>
            <th>QMáx</th>
            <th>QMín</th>
            <th>Ref</th>
            <th style="width: 120px">Usuario Creación</th>
            <th style="width: 120px">Fecha  Creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGeneracion)
        {
            <tr>
                <td>@item.Pfreqpid</td>
                <td>@item.Pfrrgeunidad</td>
                <td>@item.Pfreqpnombre</td>
                <td>@item.Pfrrgetension</td>
                <td>@item.Pfrrgepmax</td>
                <td>@item.Pfrrgecostov</td>
                <td>@item.Pfrrgeqmax</td>
                <td>@item.Pfrrgeqmin</td>
                <td>@item.Pfrrgeref</td>
                <td>@item.Pfrrgeusucreacion</td>
                <td>@item.Pfrrgefeccreacion</td>
            </tr>
        }
    </tbody>
</table>