@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

<div style="clear:both; height:10px"></div>
<table id="tabla_parametro" border="0" class="pretty tabla-icono" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width: 50px">Opciones</th>
            <th>Código</th>
            <th>Propiedad</th>
            <th>Fecha de Vigencia</th>
            <th>Valor</th>
            <th style="width: 120px">Usuario modificación</th>
            <th style="width: 120px">Fecha modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPropiedadVigente)
        {
            <tr>
                <td>
                    <a onclick="verHistoricoPropiedad(@item.Pfrentcodi,@item.Pfrcnpcodi, '@item.Pfrcnpnomb', '', @item.Pfrcatcodi)" title="Ver Histórico"><img src="~/Content/Images/btn-open.png" alt=""></a>
                    @if (Model.TienePermiso)
                    {
                        <a onclick="editarHistoricoPropiedad(@item.Pfrentcodi,@item.Pfrcnpcodi, '@item.Pfrcnpnomb', '', @item.Pfrcatcodi)" title="Modificación"><img src="~/Content/Images/btn-edit.png" alt=""></a>
                    }
                </td>

                <td>@item.Pfrcnpcodi</td>
                <td>@item.Pfrcnpnomb</td>
                <td>@item.Prfdatfechavigdesc</td>
                <td>@item.Pfrdatvalor</td>
                <td>@item.UsuarioUltimaModif</td>
                <td>@item.FechaUltimaModif</td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" value="@Model.FechaIni" id="txt_fecha_default_nuevo" />