@{
    ViewBag.Title = "Form";
    string sTitulo = ViewData["sTitulo"].ToString();
    string sAccion = ViewData["sAccion"].ToString();
}


<script src="~/Areas/CompensacionRSF/Content/Scripts/Recalculo.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">@sTitulo</div>
        <div class="content-botonera">
            <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "AsignacionReserva")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div style="padding:20px; width:800px;">
        <table cellspacing="2" cellpadding="5">
            <tr>
                <td><div class="editor-label">Periodo Inicio (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td><div class="editor-label">Periodo Fin (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td><div class="editor-label">Central (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td><div class="editor-label">URS (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td><div class="editor-label">PBF (MW) (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td><div class="editor-label">PrBF (S/. / MW-mes) (*)</div></td>
                <td><div class="editor-field"><input type="text" /></div></td>
            </tr>
            <tr>
                <td style="width:150px;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
        </table>
    </div>

</div>