@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.UnidadesVsBarrasModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var sSelected = "";
}
<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/UnidadesVsBarras.js"></script>
<input type="hidden" value="" id="index" />
@using (Html.BeginForm("Save", "UnidadesVsBarras", FormMethod.Post, new { id = "frmUnidadesVsBarras", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "UnidadesVsBarras")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
         @Html.HiddenFor(model => model.Entidad.Caiunbcodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Emprcodi, "Empresa")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Entidad_Emprcodi" name="Entidad.Emprcodi">
                                @foreach (var item in Model.ListaEmpresa)
                                {
                                    sSelected = "";
                                    if (@item.EmprCodi == Model.Entidad.Emprcodi)
                                    { sSelected = "selected"; }
                                    <option value="@item.EmprCodi" @sSelected>@item.EmprNombre</option>
                                }
                            </select>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Equicodicen, "Central")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Entidad_Equicodicen" name="Entidad.Equicodicen">
                                @foreach (var item in Model.ListaEquiCen)
                                {
                                    sSelected = "";
                                    if (@item.CentGeneCodi == Model.Entidad.Equicodicen)
                                    { sSelected = "selected"; }
                                    <option value="@item.CentGeneCodi" @sSelected>@item.CentGeneNombre</option>
                                }
                            </select>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Equicodiuni, "Unidad")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Entidad_Equicodiuni" name="Entidad.Equicodiuni">
                                @foreach (var item in Model.ListaEquiUni)
                                {
                                    sSelected = "";
                                    if (@item.CentGeneCodi == Model.Entidad.Equicodiuni)
                                    { sSelected = "selected"; }
                                    <option value="@item.CentGeneCodi" @sSelected>@item.CentGeneNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Ptomedicodi, "Pto Medición")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Entidad_Ptomedicodi" name="Entidad.Ptomedicodi">
                                @foreach (var item in Model.ListaPtoMedicion)
                                {
                                    sSelected = "";
                                    if (@item.Ptomedicodi == Model.Entidad.Ptomedicodi)
                                    { sSelected = "selected"; }
                                    <option value="@item.Ptomedicodi" @sSelected>@item.Ptomedielenomb</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Barrcodi, "Barra")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Entidad_Barrcodi" name="Entidad.Barrcodi">
                                @foreach (var item in Model.ListaBarras)
                                {
                                    sSelected = "";
                                    if (@item.BarrCodi == Model.Entidad.Barrcodi)
                                    { sSelected = "selected"; }
                                    <option value="@item.BarrCodi" @sSelected>@item.BarrNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Caiunbfecvigencia, "Fecha Vigencia")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Caiunbfecvigencia, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Caiunbfecvigencia)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}