@model COES.MVC.Intranet.Areas.TiempoReal.Models.MeScadaFiltroSp7Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/TiempoReal/Content/Scripts/scadafiltrosp7editar.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Edición de Filtro Personalizado (Scada Sp7)</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>

</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>

        <input type="hidden" id="hfFiltroCodi" value="@Model.MeScadaFiltroSp7.Filtrocodi" name="FiltroCodi" />
        <input type="hidden" id="hfAccion" value="@Model.Accion" />
        <input type="hidden" id="hfFiltroCanal" value="@Model.FiltroCanal" name="FiltroCanal" />
        <input type="hidden" id="txtFiltroUser" maxlength="60" name="FiltroUser" value="@Model.MeScadaFiltroSp7.Filtrouser" />
        @{
            var fechaScdFiFecCreacion = "";
            if (Model.MeScadaFiltroSp7.Scdfifeccreacion != null)
            {
                fechaScdFiFecCreacion = ((DateTime)Model.MeScadaFiltroSp7.Scdfifeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
            }
        }
        <input type="hidden" id="txtScdFiFecCreacion" name="ScdFiFecCreacion" value="@fechaScdFiFecCreacion" />


        <div class="content-registro">

            <table style="width:auto" border="1">
                <tr>
                    <td class="registro-label" id="lblFiltroNomb" style="min-width:200px">Filtro</td>
                    <td class="registro-control">
                        <textarea id="txtFiltroNomb" maxlength="30" name="FiltroNomb" cols="60" rows="3">@Model.MeScadaFiltroSp7.Filtronomb</textarea>
                    </td>
                </tr>
            </table>

        </div>
        <div class="popup-title"><span>Puntos SCADA disponibles:</span></div>
        <div style="clear:both; height:20px"></div>
        <div class="search-content">
            <table class="content-tabla-search" style="width:auto">
                <tr>

                    <td>Ubicación:</td>
                    <td>
                        <select id="cbZona" style="width:200px">
                            @foreach (var item in Model.ListaTrZonaSp7)
                            {
                                string cad1 = @item.Zonanomb.Trim() + "          (" + @item.Zonaabrev.Trim() + ")";
                                <option style="font-family: 'Courier New'" value="@item.Zonacodi">@cad1</option>
                            }

                        </select>
                    </td>
                    <td>Canal:</td>
                    <td>
                        <select id="cbCanal" style="width:500px"></select>
                    </td>
                    <td>
                        <input type="button" id="btnAgregar" value="Agregar" />
                    </td>
                </tr>
            </table>

        </div>

        <div id="formula">
            <table class="tabla-formulario" id="tbItems">
                <thead>
                    <tr>
                        <th>Canal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1;
                     foreach (var item in Model.ListaTrCanalSp7)
                     {
                        <tr>
                            <td>
                                <span>@item.Canalnomb</span>
                                <input type="hidden" id="hfCanal" value="@item.Canalcodi" />
                            </td>
                            <td style="text-align:center">
                                <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                            </td>
                        </tr>
                         i++;
                     }
                    }
                </tbody>
            </table>
        </div>


        <table style="display:none">
            <tr>
                <td>
                    <input type="button" id="btnGrabar2" value="Grabar" />
                    <input type="button" id="btnCancelar2" value="Cancelar" />
                </td>
            </tr>

        </table>

    </form>
</div>

<div id="busqueda" style="display:none">
</div>


