@model COES.MVC.Intranet.Areas.Admin.Models.ProveedorModel

<table border = "0" class="pretty tabla-icono" id="tabla">
<thead>
    <tr>
        <th>Acciones</th>
        <th>Nombre</th>
        <th>RUC</th>
        <th>Razón Social</th>
        <th>Estado</th>
        <th>Proveedor</th>
        <th>Integrante</th>
        <th>Usuario mod.</th>
        <th>Fecha mod.</th>
    </tr>
</thead>
<tbody>
    @if (Model.ListadoEmpresa.Count > 0)
    {
        foreach (var item in Model.ListadoEmpresa)
        {
            <tr>
                <td>
                    <a href="JavaScript:verCorreo(@item.Emprcodi);">
                        <img src="~/Content/Images/btn-edit.png" title="Ver correo registrados" />
                    </a>
                    <a href="JavaScript:enviarCredenciales(@item.Emprcodi);">
                        <img src="~/Content/Images/btn-ok.png" title="Generar credencial" />
                    </a>
                </td>
                <td>@item.Emprnomb.Trim()</td>
                <td>@item.Emprruc</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Emprrazsocial))
                    {
                        <span>@item.Emprrazsocial.Trim()</span>
                    }                    
                </td>
                <td>
                    @if (item.Emprestado == "A")
                    {
                         <span>Activo</span>
                    }
                </td>
                <td>
                    @if (item.Emprindproveedor == "S")
                    {
                        <span>SI</span>
                    }
                    else
                    {
                        <span>NO</span>
                    }
                </td>
                <td>
                    @if (item.Emprcoes == "S")
                    {
                        <span>SI</span>
                    }
                    else
                    {
                        <span>NO</span>
                    }
                </td>
                <td>@item.Lastuser</td>
                <td>@item.Lastdate</td>
            </tr>
        }
    }
</tbody>
</table>