@model COES.MVC.Intranet.Areas.Admin.Models.ProveedorModel
<table border="0" class="pretty tabla-icono" id="tablaCorreo">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Empresa</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEmpresaCorreo.Count > 0)
        {
            foreach (var item in Model.ListaEmpresaCorreo)
            {
        <tr id="@("trCorreo"  + item.Empcorcodi)">
            <td>
                <a href="JavaScript:editarCorreo(@item.Empcorcodi);">
                    <img src="~/Content/Images/btn-edit.png" title="Ver correo registrados" />
                </a>
                <a href="JavaScript:eliminarCorreo(@item.Empcorcodi);">
                    <img src="~/Content/Images/btn-cancel.png" title="Generar credencial" />
                </a>
            </td>
        <td>@item.Emprnomb</td>
        <td>@item.Empcoremail</td>

        </tr>
            }
        }
    </tbody>
</table>