@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraursModel

@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    string sSelected = "";
}

<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
@using (Html.BeginForm("Save", "barraurs", FormMethod.Post, new { id = "frmBarraurs", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@Model.EntidadBarra.BarrNombre - @sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","barraurs")/Index/@Model.EntidadBarra.BarrCodi'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td><div class="editor-label">URS (*) :</div></td>
                    <td>
                        <div>
                            <select id="EntidadBarraURS_GrupoCodi" name="EntidadBarraURS.GrupoCodi">
                                @foreach (var item in Model.ListaBarraURS)
                                {
                                    sSelected = "";
                                    if (@item.GrupoCodi == Model.EntidadBarraURS.GrupoCodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.GrupoCodi" @sSelected>@item.GrupoNomb</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Titular (*) :</div></td>
                    <td>
                        <div>
                            <select id="EntidadBarraURS_EmprCodi" name="EntidadBarraURS.EmprCodi">
                                @foreach (var item in Model.listaEmpresas)
                                {
                                    sSelected = "";
                                    if (@item.EmprCodi == Model.EntidadBarraURS.EmprCodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.EmprCodi" @sSelected>@item.EmprNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Central Generación (*) :</div></td>
                    <td>
                        <div>
                            <select id="EntidadBarraURS_EquiCodi" name="EntidadBarraURS.EquiCodi">
                                @foreach (var item in Model.listaUnidadGen)
                                {
                                    sSelected = "";
                                    if (@item.CentGeneCodi == Model.EntidadBarraURS.EquiCodi)
                                    {
                                        sSelected = "selected";
                                    }
                                    <option value="@item.CentGeneCodi" @sSelected>@item.CentGeneNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">(*) Campo Obligatorio</div></td>
                </tr>
            </table>
        </div>
    </div>
}