@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraursModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Barras URS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/Transferencias/Content/Scripts/barraurs.js"></script>
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">@Model.EntidadBarra.BarrNombre - Lista de URS Asignadas</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" id="btnNuevo" value="Nuevo" onclick="location.href='@Url.Action("New","barraurs")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","barra")'" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado"></div>
    </div>
</div>
