@model COES.MVC.Intranet.Areas.Eventos.Models.EveSubcausaFamiliaModel

<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
        <div class="content-titulo">Relaciones</div>
        <div class="content-botonera">

            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />

        </div>

</div>

<div class="panel-container" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>


            <table>
                <tr>
                    <td>
                        <input type="hidden" id="hfScaufaCodi" value="@Model.EveSubcausaFamilia.Scaufacodi" name="ScaufaCodi" />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                    </td>
                </tr>
                <tr>
                    <td>Tipo de operaci&oacute;n</td>
                    <td>
                        <select id="cbSubcausaCodi" name="SubcausaCodi" style="width:300px">
                            @foreach (var item in Model.ListaEveSubcausaevento)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfSubcausaCodi" name="SubcausaCodi" value="@Model.EveSubcausaFamilia.Subcausacodi"  />
                    </td>
                </tr>
                <tr>
                    <td>Tipo de Equipo</td>
                    <td>
                        <select id="cbFamCodi" name="FamCodi" style="width:300px">
                            @foreach (var item in Model.ListaEqFamilia)
                            {
                                <option value="@item.Famcodi">@item.Famnomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfFamCodi" name="FamCodi" value="@Model.EveSubcausaFamilia.Famcodi"  />
                    </td>
                </tr>
                <tr>
                    <td><span id="lblScaufaEliminado" >Eliminado</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbScaufaEliminado"  >
                                        <tr>
                                            <td>
                                                <input type="hidden" id="hfScaufaEliminado" name="ScaufaEliminado" value="@Model.EveSubcausaFamilia.Scaufaeliminado" />
                                                <input type="radio" id="rbScaufaEliminadoS" name="rbScaufaEliminado" value="S" />Si
                                                <input type="radio" id="rbScaufaEliminadoN" name="rbScaufaEliminado" value="N" />No
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>          
                    <td class="registro-control">
                        <input type="hidden" id="hfScaufaUsuCreacion" name="ScaufaUsuCreacion" value="@Model.EveSubcausaFamilia.Scaufausucreacion" />
                    </td>
                </tr>
                <tr>                    
                    <td>
                        @{
                            var fechaScaufaFecCreacion = "";
                            if (Model.EveSubcausaFamilia.Scaufafeccreacion != null)
                            {
                                fechaScaufaFecCreacion = ((DateTime)Model.EveSubcausaFamilia.Scaufafeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfScaufaFecCreacion" name="ScaufaFecCreacion" value="@fechaScaufaFecCreacion" />
                    </td>
                </tr>
                <tr>                    
                    <td class="registro-control">
                        <input type="hidden" id="hfScaufaUsuModificacion" name="ScaufaUsuModificacion" value="@Model.EveSubcausaFamilia.Scaufausumodificacion" />                        
                    </td>
                </tr>
                <tr>                    
                    <td>
                        @{
                            var fechaScaufaFecModificacion = "";
                            if (Model.EveSubcausaFamilia.Scaufafecmodificacion != null)
                            {
                                fechaScaufaFecModificacion = ((DateTime)Model.EveSubcausaFamilia.Scaufafecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        <input type="hidden" id="hfScaufaFecModificacion" name="ScaufaFecModificacion" value="@fechaScaufaFecModificacion" />                        
                    </td>
                </tr>
            </table>
    </form>
</div>


