@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEveSubcausaFamiliaModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Tipo de Operaci&oacute;n</th>
                <th>Tipo de Equipo</th>
                <th>Eliminado</th>
                <th>Cre&oacute;</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEveSubcausaFamilia)
            {                
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Scaufacodi,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>

                        <a href="JavaScript:editar(@item.Scaufacodi,1)" title="Editar...">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>

                        <a href="JavaScript:eliminar(@item.Scaufacodi)" title="Eliminar...">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>

                    </td>
                    <td>@item.Subcausadesc</td>
                    <td>@item.Famnomb</td>
                    <td>@item.Scaufaeliminado</td>
                    <td>@item.Scaufausucreacion</td>
                    <td>
                        @{
                            var fechaScaufaFecCreacion = "";
                            if (item.Scaufafeccreacion != null)
                            {
                                fechaScaufaFecCreacion = ((DateTime)item.Scaufafeccreacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaScaufaFecCreacion
                    </td>
                    <td>@item.Scaufausumodificacion</td>
                    <td>
                        @{
                            var fechaScaufaFecModificacion = "";
                            if (item.Scaufafecmodificacion != null)
                            {
                                fechaScaufaFecModificacion = ((DateTime)item.Scaufafecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaScaufaFecModificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
