@model COES.Dominio.DTO.Sic.PrGrupodatDTO

<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<div class="popup-title"><span>Configurar Canales</span></div>
<div class="popup-text" id="contenidoEdicion">
    <div id="mensajeEdicion" class="action-message" style="display: none; width: 95%">Por favor complete los datos solicitados.</div>
    <div class="content-registro">
        <table style="width:auto">
            <tr>
                <td class="registro-label">Generador:</td>
                <td class="registro-control">
                    <label>@Model.GrupoNomb</label> 
                </td>
            </tr>
            <tr>
                <td class="registro-label">Concepto:</td>
                <td class="registro-control">
                   <label>@Model.ConcepDesc</label> 
               </td>
            </tr>
            <tr>
                <td class="registro-label">Códigos Scada:</td>
                <td class="registro-control">
                    <input type="text" id="txtFormuladatEdicion" value="@Model.Formuladat" class="DatosRequeridos RequiredEdicion  " data-validator-id="spntxtFormuladatEdicion" data-required="true" style="width: 330px" maxlength="100" /><span id="spntxtFormuladatEdicion">(*)</span>
                </td>
            </tr>
           
        </table>
        <div style="width:200px; margin:auto; height:10px">
            <input id="btnCancelarEdicion" type="button" value="Cancelar" style="margin: 5px 0 5px 0;" />
            <input id="btnGrabarEdicion" type="button" value="Grabar" style="margin: 5px 0 5px 0;" />
            
            <input type="hidden" id="hdffechadat" value="@Model.Fechadat" />
            <input type="hidden" id="hdfconcepcodi" value="@Model.Concepcodi" />
            <input type="hidden" id="hdfgrupocodi" value="@Model.Grupocodi" />
            <input type="hidden" id="hdfdeleted" value="@Model.Deleted" />
        </div>
    </div>
</div>