@model COES.MVC.Intranet.Areas.Coordinacion.Models.ScoSinacModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>EDITAR</th>
            <th>GRUPO</th>
            <th>CONCEPTO</th>
            <th>CODIGOS SCADA</th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConfiguracion)
            {
            <tr>
                <td>
                    <a href="#" onclick="Editar('@item.Fechadat.Value.ToString("dd/MM/yyyy HH:mm:ss")', @item.Concepcodi, @item.Grupocodi, @item.Deleted, '@item.GrupoNomb', '@item.ConcepDesc')" id="btnEditar">
                        <img src="~/Content/Images/btn-edit.png" style="margin-top: 5px;" />
                    </a>
                </td>
                <td>
                    @item.GrupoNomb
                </td>
                <td>@item.ConcepDesc</td>
                <td>@item.Formuladat</td>               
            </tr>
        }
    </tbody>
</table>
