@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel

<script type="text/javascript">
    var numHoja = '@(Model.IdHoja)';
    //configuración de la hoja
    var config = crearConfigHoja();
    config.tieneFiltroFecha = false;
    config.tieneFiltroArea = true;
    config.tieneFiltroSubestacion = true;
    config.tieneFiltroFamilia = true;
    config.tienePanelIEOD = true;

    setConfigHoja(config, numHoja);
    inicializarHoja(numHoja);
</script>

<div id="formHoja@(Model.IdHoja)">
    <div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
        <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
        <div id="mensaje" class="action-message" style="display: none; margin: 0; margin-bottom: 10px">Por favor seleccione empresa y la fecha.</div>
        <div id='mensajeEvento' class='action-message' style='display:none'></div>

        <div class="search-content3">

            <div style="display:table">
                <div style="display:table-row">
                    <div style="display:table-cell;">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div class="celda-item" style="display:table-cell;width:50px;">
                                    Empresa:
                                </div>
                                <div class="filtro-contenido" style="display: table-cell; width: 200px; padding-right: 5px;">
                                    <select id="cbEmpresa" name="IdEmpresa" style="width:200px;">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </div>
                                <div class="filtro-contenido" style="width: 165px; padding-right: 5px;">
                                    <div class="cntFecha celda-item" style="display: inline-block; width: 30px;">
                                        Fecha:
                                    </div>
                                    <div class="cntFecha filtro-contenido" style="display: inline-block; padding-right: 5px;">
                                        <input type="text" name="Fecha" id="txtFecha" value="@Model.Fecha" style="width:100px" class="filtro-contenido" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;width:100%">
                    </div>
                    <div style="display: table-cell; text-align: right;">
                        <div style="display:table;" id="barra">
                            <div style="display:table-row">
                                <div class="content-action" style="display: none">
                                    <a href="#" id="btnEditarEnvio">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/edit.png" /><br />
                                            <span>Editar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/bajar.png" /><br />
                                            <span>Descargar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnSelectExcel@(Model.IdHoja)">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/subir.png" /><br />
                                            <span>Importar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/enviar.png" /><br />
                                            <span>Enviar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/errores.png" /><br />
                                            <span>Errores</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnVerEnvios">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/envios.png" /><br />
                                            <span>Envíos</span>
                                        </div>
                                    </a>
                                </div>

                                <!-- -->
                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnManttos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/IDE_32x32.png" /><br />
                                            <span>Manttos</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnLeyenda">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/leyenda.png" /><br />
                                            <span>Leyenda</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- -->

                                <div class="content-action" style="display: table-cell;">
                                    <a href="#" id="btnExpandirRestaurar">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                            <span id="spanExpandirContraer">Expandir</span>
                                        </div>
                                    </a>
                                    <input type="hidden" id="hfExpandirContraer" value="E" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-content2" id="filtro_grilla" style="display:none;">
            <div style="display:table">
                <div style="display:table-row">
                    <!--Area-->
                    <div class="filtro-label" style="display: table-cell; width: 50px;">
                        <label>Area</label>
                    </div>
                    <div class="filtro-contenido div_area" style="display:table-cell;width:120px;">
                        <select id="cbArea"></select>
                    </div>

                    <!--Subestacion-->
                    <div class="filtro-label" style="display: table-cell; width: 80px;">
                        <label>Sub Estación</label>
                    </div>
                    <div class="filtro-contenido div_subestacion" style="display:table-cell;width:150px;">
                        <select id="cbSubestacion" style="width:120px;"></select>
                    </div>

                    <!--Tipo equipo-->
                    <div class="filtro-label" style="display: table-cell; width: 80px;">
                        <label>Tipo equipo</label>
                    </div>
                    <div class="filtro-contenido div_familia" style="display:table-cell;width:150px;">
                        <select id="cbFamilia"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-tabla" style="display:block;">
            <div class="bodyexcel" id='detalleFormato@(Model.IdHoja)'></div>
        </div>

        <div style="clear:both; height:30px"></div>

        <input type="hidden" id="hfHoja" value="@Model.IdHoja" />
        <input type="hidden" id="hfFormato" value="@Model.IdFormato" />
        <input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
        <input type="hidden" id="hfFecha" value="@Model.Fecha" />
        <input type="hidden" id="hfMes" value="@Model.Mes" />
        <input type="hidden" id="hfAnho" value="@Model.Anho" />
        <input type="hidden" id="hfSemana" value="@Model.Semana" />
    </div>
</div>
