@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteSegundosFaltantesModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Reporte de Frecuencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var sMensajeExito = "";
}
@*<script src="~/Areas/ReportesFrecuencia/Content/Scripts/EquipoGPS.js"></script>*@
@{
    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
    var lista_oficial = (IEnumerable<SelectListItem>)TempData["ListaOficial"];
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-export-clientside.js?v=@DateTime.Now.Millisecond"></script>
<script src="~/Areas/Transfpotencia/Content/Scripts/load.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/ReportesFrecuencia/Content/Scripts/ReporteSegundosFaltantes.js"></script>
@*<link href="~/Areas/Transferencias/Content/Css/Transferencia.css?@(new Random().Next(1000))" rel="stylesheet" />*@
@*<script src="~/Areas/Transferencias/Content/Scripts/GestionCodigosVTEAVTP.js?@(new Random().Next(1000))"></script>*@

@*<link href="~/Content/Css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script src="~/Content/Scripts/dtpicker_fecha_hora/jquery-1.5.1.min.js"></script>
    <script src="~/Content/Scripts/dtpicker_fecha_hora/jquery-ui-1.8.13.custom.min.js"></script>
    <script src="~/Content/Scripts/dtpicker_fecha_hora/jquery-ui-timepicker-addon.js"></script>*@

@*<script type="text/javascript">
        $(function () {
            $('#txtfechaIni').datetimepicker({
                //showSecond: true,
                //timeFormat: 'hh:mm:ss'
                format: 'Y-m-d H:i'
            });
        });
    </script>*@
<style type="text/css">
    a:link {
        text-decoration: none !important;
    }

    .button_csv {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #0070d2;
        border-radius: 0.25rem;
        border: 1px solid #0070d2;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_csv:hover {
            background-color: #005fb2;
            border-color: #005fb2;
            color: #fff !important;
            text-decoration: none;
        }

    .button_txt {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: orange;
        border-radius: 0.25rem;
        border: 1px solid darkorange;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_txt:hover {
            background-color: darkorange;
            border-color: orange;
            color: #fff !important;
            text-decoration: none;
        }

    .button_null {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: olive;
        border-radius: 0.25rem;
        border: 1px solid darkolivegreen;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_null:hover {
            background-color: #4A6800;
            border-color: olive;
            color: #fff !important;
            text-decoration: none;
        }

    .button_dat {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #49672C;
        border-radius: 0.25rem;
        border: 1px solid darkgreen;
        color: #fff !important;
        font-size: 11px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

        .button_dat:hover {
            background-color: #3D5823;
            border-color: #49672C;
            color: #fff !important;
            text-decoration: none;
        }
</style>

<script type="text/javascript">
    var reporteSegundosFaltantes = "ReporteSegundosFaltantes/";
    var controler = siteRoot + "ReportesFrecuencia/" + reporteSegundosFaltantes;

    function formatDateTime(date) {
        debugger;
        //var d = new Date(date.split("-")[0], date.split("-")[1] - 1, date.split("-")[2]);
        var fecha = date.substr(0, 10);
        var hora = date.substr(11, 8);
        //yyyy/mm/dd
        var d = new Date(fecha.split("/")[2], fecha.split("/")[1] - 1, fecha.split("/")[0]);

        //var d = new Date(date),
        var month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hours = hora.split(":")[0],
            minutes = hora.split(":")[1],
            seconds = hora.split(":")[2];

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [month, day, year].join('-') + ' ' + [hours, minutes, seconds].join(':');
    }

    //(function ($) {
    //    $('#txtfechaIni2').inputmask("datetime", {
    //        mask: "1/2/y h:s:s",
    //        placeholder: "dd/mm/yyyy hh:mm:ss",
    //        leapday: "-02-29",
    //        separator: "/",
    //        alias: "dd/mm/yyyy"
    //    });

    //})(jQuery);

    /*var DescargarCSV = function (idGPS) {
        var url = controler + "DescargarCSV?IdGPS=" + idGPS + "&fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();
        setLocationPage(url);
    }

    var DescargarTXT = function (idGPS) {
        var url = controler + "DescargarTXT?IdGPS=" + idGPS + "&fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();;
        setLocationPage(url);
    }*/

    var DescargarExcel = function () {
        var url = controler + "DescargarExcel?fechaIni=" + $("#txtfechaIni2").val() + "&fechaFin=" + $("#txtfechaFin2").val();
        setLocationPage(url);
    }

    var ConvertirRangosNull = function (idGPS) {
        debugger;
        var model = {
            idGPS: idGPS,
            FechaIni: $("#txtfechaIni2").val(),
            FechaFin: $("#txtfechaFin2").val()
        }

        $.ajax({
            type: "POST",
            url: controler + "ConvertirNull",
            data: JSON.stringify(model),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data.result);
                alert(data.result);
            },
        });
    }

    function setLocationPage(vUrl) {

        var form = $("<form id='tmpForm'></form>");
        $(document.body).append(form);
        $(form).attr("action", vUrl);
        $(form).attr("target", "blank");
        $(form).attr("method", "post");
        $(form).submit();
    }

    $(document).ready(function () {
        //$('.txtFecha').Zebra_DatePicker({
        //});

        $('#tabla').dataTable({
            "sPaginationType": "full_numbers",
            "destroy": "true",
            "aaSorting": [[1, "asc"], [2, "asc"]]
        });

        $("#btnBuscar").click(function () {
            var model = {
                FechaIni: $("#FechaInicial").val(),
                FechaFin: $("#FechaFinal").val(),
                IdEquipo: $("#cboEquipo").val(),
                IndOficial: $("#cboOficial").val()
            };
            debugger;
            $(".listado").load(controler + "Lista", { FechaIni: model.FechaIni, FechaFin: model.FechaFin, IdEquipo: model.IdEquipo, IndOficial: model.IndOficial});


        });

    });

</script>

<div class="ast">
    @*@if (@sMensajeExito != null)
        {
            <div class="exito mensajes">@sMensajeExito</div>
        }*@
    <div class="form-title">
        <div class="content-titulo">Reporte de Segundos Faltantes</div>
        <div class="content-botonera">
            <!--<input type="button" value="Restaurar" onclick="location.href='@Url.Action("Index","ReporteFrecuenciaAudit")'" alt="Refrescar" title="Restaurar" />-->
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class='panel-container'>
            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                    <tr class="THCabecera">
                        <td colspan="10"><span class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></span></td>
                    </tr>
                    <tr>
                        <td><div class="editor-label">Equipo</div></td>
                        <td>
                            <div class="editor-label input-data">
                                @Html.DropDownList("cboEquipo", @lista_equipos, "--Seleccione--", new { @style = "width:170px !important", @class = "bg-white" })
                            </div>
                        </td>

                        <td><div class="editor-label">Oficial</div></td>
                        <td>
                            <div class="editor-label input-data">
                                @Html.DropDownList("cboOficial", @lista_oficial, "--Seleccione--", new { @style = "width:100px !important", @class = "bg-white" })
                            </div>
                        </td>

                        <td><div class="editor-label">Fecha Inicio</div></td>
                        <td>
                            <div class="editor-label input-data">
                                @Html.TextBoxFor(m => m.FechaInicial, new { @class = "txtFecha", @Value = Model.FechaInicial.ToString("dd/MM/yyyy") })
                            </div>
                        </td>

                        <td><div class="editor-label">Fecha Final</div></td>
                        <td>
                            <div class="editor-label input-data">
                                @Html.TextBoxFor(m => m.FechaFinal, new { @class = "txtFecha", @Value = Model.FechaFinal.ToString("dd/MM/yyyy") })
                            </div>
                        </td>

                        <td><div class="editor-label"><span class="editor-label"><input type="button" id="btnBuscar" value="Consultar"></span></div></td>
                        <td style="text-align: center;"><input type="button" id="btnExportarExcel" value="Descargar Excel" onclick="exportarExcel()">
                        </td>
                    </tr>
                </table>

                <div class="content-hijo" style="padding-top:8px">
                    <div class="listado" id="listado">
                        @Html.Partial("Lista", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    $('.txtFecha').Zebra_DatePicker({
    });
</script>