@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.ProvisionBaseModel
@{
    ViewBag.Title = "Provisión Base";
}
<fieldset>
    <legend>Versión Provision Base</legend>
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Vcrpbperiodoini, "Periodo Inicio")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Vcrpbperiodoini)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Vcrpbperiodofin, "Periodo Fin")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Vcrpbperiodofin)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Equinomb, "Central")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Equinomb)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Gruponomb, "URS")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Gruponomb)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Vcrpbpotenciabf, "PBF")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Vcrpbpotenciabf)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadProvisionbase.Vcrpbpreciobf, "PrBF")</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.EntidadProvisionbase.Vcrpbpreciobf)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

