@model COES.MVC.Publico.Areas.Eventos.Models.BusquedaEventoModel

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>      
            <th>Ver detalle</th>      
            <th>Empresa</th>
            <th>Ubicación</th>           
            <th>Equipo</th>
            <th>Inicio</th>                        
            <th>Final</th>            
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
            <tr>
                <td>
                    <a href="JavaScript:verEvento(@item.EVENCODI)" title="Ver detalle del evento">
                        <img src="~/Content/Images/view_detail.png" />
                    </a>                   
                </td>    
                <td>@item.EMPRNOMB</td>
                <td>@item.TAREAABREV  @item.AREANOMB</td>               
                <td>@item.EQUIABREV</td>
                <td>
                    @if (item.EVENINI != null)
                    {
                        <span>@(((DateTime)item.EVENINI).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>                               
                <td>
                    @if (item.EVENFIN != null)
                    {
                        <span>@(((DateTime)item.EVENFIN).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>               
                <td>@item.EVENASUNTO</td>
            </tr>
        }
    </tbody>
</table>