@model COES.MVC.Intranet.Areas.Admin.Models.UsuariosModel

<div class="content-registro">
    <table>
        <tr>
            <td class="registro-label">Nombre:</td>
            <td class="registro-control">@Model.Entidad.UsernName</td>
        </tr>
        <tr>
            <td class="registro-label">Correo electrónico:</td>
            <td class="registro-control">@Model.Entidad.UserLogin</td>
        </tr>
        <tr>
            <td class="registro-label">Estado:</td>
            <td class="registro-control">
                @if (Model.Entidad.UserState == "A")
                {
                    <span>Activo</span>
                }
                else if (Model.Entidad.UserState == "P")
                {
                    <span>Pendiente</span>
                }
                else
                {
                    <span>Baja</span>
                }
            </td>
        </tr>
        <tr>
            <td class="registro-label">Empresa:</td>
            <td class="registro-control">@Model.Entidad.CompanyName</td>
        </tr>
        <tr>
            <td class="registro-label">Fecha creación:</td>
            <td class="registro-control">
                @if (Model.Entidad.UserFCreacion != null)
                {
                    <span>@(((DateTime)(Model.Entidad.UserFCreacion)).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
        <tr>
            <td class="registro-label">Fecha activación:</td>
            <td class="registro-control">
                @if (Model.Entidad.UserFActivacion != null)
                {
                    <span>@(((DateTime)(Model.Entidad.UserFActivacion)).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
        @if (Model.Entidad.UserState == "B")
        {
        <tr>
            <td class="registro-label">Fecha baja:</td>
            <td class="registro-control">
                @if (Model.Entidad.UserFBaja != null)
                {
                    <span>@(((DateTime)(Model.Entidad.UserFBaja)).ToString("dd/MM/yyyy"))</span>
                }
            </td>
        </tr>
        }
        <tr>
            <td class="registro-label">Teléfono:</td>
            <td class="registro-control">@Model.Entidad.UserTlf</td>
        </tr>
        <tr>
            <td class="registro-label">Área laboral:</td>
            <td class="registro-control">@Model.Entidad.AreaLaboral</td>
        </tr>
        <tr>
            <td class="registro-label">Cargo:</td>
            <td class="registro-control">@Model.Entidad.UserCargo</td>
        </tr>
        <tr>
            <td class="registro-label">Motivo de contacto:</td>
            <td class="registro-control">@Model.Entidad.MotivoContacto</td>
        </tr>
    </table>
</div>
<div style="clear:both; width:120px; margin:auto; margin-top:10px; text-align:center">
    @if (Model.Entidad.UserState == "A")
    {
        <input type="button" id="btnDarBajaUsuario" value="Dar de Baja" />
    }
    else if (Model.Entidad.UserState == "P")
    {
        <input type="button" id="btnActivarUsuarioPendiente" value="Activar Usuario" />
    }
    else
    {
        <input type="button" id="btnActivarUsuarioBaja" value="Activar Usuario" />
    }
</div>


<input type="hidden" id="hfEstadoUsuario" value="@Model.Entidad.UserState" />
