@model COES.MVC.Intranet.Areas.Admin.Models.UsuariosModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th style="width:60px">Ver</th>
            <th style="width:70px">ID</th>
            <th>Empresa</th>
            <th>Login</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Área</th>
            <th>Motivo</th>
            <th>Cargo</th>
            <th style="width:90px">Estado</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaUsuarios.Count > 0)
        {
            foreach (var item in Model.ListaUsuarios)
            {
                <tr>  
                    <td style="width:60px">
                        <a href="JavaScript:editar(@item.UserCode);"><img src="~/Content/Images/btn-edit.png" /></a>
                    </td>                  
                    <td style="width:70px">@item.UserCode</td> 
                    <td>@item.CompanyName</td>
                    <td>@item.UserLogin</td>
                    <td>@item.UsernName</td>
                    <td>@item.UserTlf</td>
                    <td>
                        @if (item.AreaLaboral != null)
                        {
                            if (item.AreaLaboral.Length > 25)
                            {
                                <span>@item.AreaLaboral.Substring(0, 25)</span>
                            }
                            else
                            {
                                <span>@item.AreaLaboral</span>
                            }
                        }
                    </td>     
                    <td>
                        @if (item.MotivoContacto != null) { 
                            if (item.MotivoContacto.Length > 25)
                            {
                                <span>@item.MotivoContacto.Substring(0,25)</span>
                            }
                            else { 
                                <span>@item.MotivoContacto</span>
                            }   
                        }                                             
                    </td>     
                    <td>@item.UserCargo</td>
                    <td style="width:90px">
                        @if (item.UserState == "P")
                        {
                            <span style="color:#ffd800">Pendiente</span>
                        }
                        else if (item.UserState == "A")
                        {
                            <span style="color:green">Activo</span>
                        }
                        else if (item.UserState == "B")
                        {
                            <span style="color:#ff0000">Baja</span>
                        }
                    </td>               
                    
                </tr>
            }
        }
    </tbody>
</table>