@model COES.MVC.Intranet.Areas.Admin.Models.UsuariosModel

<table class="pretty tabla-adicional" id="tbSeleccionados">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="cbSelectAll" />
            </th>
            <th>Módulo</th>
            <th>Estado</th>
            <th>Fecha Solicitud</th>
            <th>Usuario Mod</th>
            <th>Fecha Mod.</th>
            <th>Aprobar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSolicitudes)
        {
            var id = "cb" + item.ModCodi;
            <tr>
                <td>
                    @if (item.Permiso && item.SolicEstado == "P")
                    {
                        <input type="checkbox" id="@id" value="@item.ModCodi" />
                    }
                </td>
                <td>@item.ModNombre</td>
                <td>
                    @if (item.SolicFecha != null)
                    {
                        <span>@(((DateTime)(item.SolicFecha)).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td>
                    @if (item.SolicEstado == "P")
                    {
                        <span>Pendiente</span>
                    }
                    else
                    {
                        <span>Aceptado</span>
                    }
                </td>
                <td>@item.Lastuser</td>
                <td>
                    @if (item.Lastdate != null)
                    {
                        <span>@(((DateTime)(item.Lastdate)).ToString("dd/MM/yyyy"))</span>
                    }
                </td>
                <td>
                    @if (item.Permiso && item.SolicEstado == "P")
                    {
                        <a href="JavaScript:darAcceso(@item.ModCodi)"><img src="~/Content/Images/btn-ok.png" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" id="hfIndicadorSolicitud" value="@Model.IndicadorSolicitud" />
