@model COES.MVC.Intranet.Areas.Eventos.Models.EnviarCorreoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Eventos/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/EnviarCorreosEditar.js?v=1.10"></script>

<div class="form-title">
        <div class="content-titulo">Enviar Correos</div>
        <div class="content-botonera">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
</div>

<div class="content-hijo" id="mainLayout">
    <form id="formEvento" name="formEvento">
        <div class="action-message" id="mensaje">Ingrese los datos</div>
        <div class="content-hijo" id="mainLayout">
            <table width="554">
                <tr>
                    <td id="lblFecha">Fecha</td>
                    <td>
                        @{
                            var fecha = "";
                            if (Model.EveMail.Mailfecha != null)
                            {
                                fecha = ((DateTime)Model.EveMail.Mailfecha).ToString("dd/MM/yyyy");
                            }
                        }
                        <input id="txtFechaIni" type="text" name="Mailfecha" value="@fecha" />
                    </td>
                </tr>
                <tr>
                    <td>Env&iacute;o</td>
                    <td>
                        <select id="cbTipoEnvio" name="Tipoenvio" style="width:560px">
                            @foreach (var item in Model.ListaEvensubcausa)
                            {
                                <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                            }
                        </select>
                        <input type="hidden" id="hfSubcausacodi" name="Subcausacodi" value="@Model.EveMail.Subcausacodi" javascript:cargartipooperacion(@model.evemail.subcausacodi) />
                        <input type="hidden" id="hfAccion" value="@Model.Accion" />
                        <input type="hidden" id="hfMailcodi" value="@Model.EveMail.Mailcodi" name="Mailcodi" />
                        <input type="hidden" id="hfMailEmitido" value="@Model.EveMail.Mailemitido" name="MailEmitido" />
                    </td>
                </tr>
                <tr>

                    <td><span id="lblturno" style='display:none'>Turno</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table id="gbpmop" style='display:none'>

                                        <tr>

                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailtipoprograma, 0, new { id = "PDM" })
                                                @Html.Label("PDM", "PDM")
                                            </td>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailtipoprograma, 2, new { id = "PSM" })
                                                @Html.Label("PSM", "PSM")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailtipoprograma, 1, new { id = "PDO" })
                                                @Html.Label("PDO", "PDO")
                                            </td>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailtipoprograma, 3, new { id = "PSO" })
                                                @Html.Label("PSO", "PSO")
                                                <input type="hidden" id="hfMailtipoprograma" name="Mailtipoprograma" value="@Model.EveMail.Mailtipoprograma" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table id="gbmop" style='display:none'>
                                        <tr>

                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailturnonum, 2, new { id = "Mantto" })
                                                @Html.Label("Mantto", "Mantto")
                                            </td>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailturnonum, 4, new { id = "ManttoyOperac" })
                                                @Html.Label("ManttoyOperac", "Mantto y Operación")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailturnonum, 3, new { id = "Operac" })
                                                @Html.Label("Operac", "Operación")
                                                <input type="hidden" id="hfMailturnonum" name="Mailturnonum" value="@Model.EveMail.Mailturnonum" />
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="lblCausa" style='display:none'>Causa reprograma </td>
                    <td class="registro-control">
                        <textarea id="txtCausa" style='display:none' maxlength="260" name="Mailreprogcausa" cols="60" rows="3">@Model.EveMail.Mailreprogcausa</textarea>
                    </td>
                </tr>
                <tr>
                    <td id="lblEquipo" style='display:none'>Equipo</td>
                    <td>
                        <input id="txtEquipo" style='display:none' type="text" width=750 name="Equinomb" value="@Model.Equinomb" readonly />
                        <input id="btnSeleccionarEquipo" style='display:none' type="button" name="btnEquipo" value="Selecc. Equipo" />
                        <input type="hidden" id="hfEquicodi" value="@Model.EveMail.Equicodi" name="Equicodi" />
                    </td>
                </tr>
                <tr>

                    @{
                        List<SelectListItem> listaHoras = new List<SelectListItem>();

                        listaHoras.Add(new SelectListItem { Text = "00:30", Value = "1" });
                        listaHoras.Add(new SelectListItem { Text = "01:00", Value = "2" });
                        listaHoras.Add(new SelectListItem { Text = "01:30", Value = "3" });
                        listaHoras.Add(new SelectListItem { Text = "02:00", Value = "4" });
                        listaHoras.Add(new SelectListItem { Text = "02:30", Value = "5" });
                        listaHoras.Add(new SelectListItem { Text = "03:00", Value = "6" });
                        listaHoras.Add(new SelectListItem { Text = "03:30", Value = "7" });
                        listaHoras.Add(new SelectListItem { Text = "04:00", Value = "8" });
                        listaHoras.Add(new SelectListItem { Text = "04:30", Value = "9" });
                        listaHoras.Add(new SelectListItem { Text = "05:00", Value = "10" });
                        listaHoras.Add(new SelectListItem { Text = "05:30", Value = "11" });
                        listaHoras.Add(new SelectListItem { Text = "06:00", Value = "12" });
                        listaHoras.Add(new SelectListItem { Text = "06:30", Value = "13" });
                        listaHoras.Add(new SelectListItem { Text = "07:00", Value = "14" });
                        listaHoras.Add(new SelectListItem { Text = "07:30", Value = "15" });
                        listaHoras.Add(new SelectListItem { Text = "08:00", Value = "16" });
                        listaHoras.Add(new SelectListItem { Text = "08:30", Value = "17" });
                        listaHoras.Add(new SelectListItem { Text = "09:00", Value = "18" });
                        listaHoras.Add(new SelectListItem { Text = "09:30", Value = "19" });
                        listaHoras.Add(new SelectListItem { Text = "10:00", Value = "20" });
                        listaHoras.Add(new SelectListItem { Text = "10:30", Value = "21" });
                        listaHoras.Add(new SelectListItem { Text = "11:00", Value = "22" });
                        listaHoras.Add(new SelectListItem { Text = "11:30", Value = "23" });
                        listaHoras.Add(new SelectListItem { Text = "12:00", Value = "24" });
                        listaHoras.Add(new SelectListItem { Text = "12:30", Value = "25" });
                        listaHoras.Add(new SelectListItem { Text = "13:00", Value = "26" });
                        listaHoras.Add(new SelectListItem { Text = "13:30", Value = "27" });
                        listaHoras.Add(new SelectListItem { Text = "14:00", Value = "28" });
                        listaHoras.Add(new SelectListItem { Text = "14:30", Value = "29" });
                        listaHoras.Add(new SelectListItem { Text = "15:00", Value = "30" });
                        listaHoras.Add(new SelectListItem { Text = "15:30", Value = "31" });
                        listaHoras.Add(new SelectListItem { Text = "16:00", Value = "32" });
                        listaHoras.Add(new SelectListItem { Text = "16:30", Value = "33" });
                        listaHoras.Add(new SelectListItem { Text = "17:00", Value = "34" });
                        listaHoras.Add(new SelectListItem { Text = "17:30", Value = "35" });
                        listaHoras.Add(new SelectListItem { Text = "18:00", Value = "36" });
                        listaHoras.Add(new SelectListItem { Text = "18:30", Value = "37" });
                        listaHoras.Add(new SelectListItem { Text = "19:00", Value = "38" });
                        listaHoras.Add(new SelectListItem { Text = "19:30", Value = "39" });
                        listaHoras.Add(new SelectListItem { Text = "20:00", Value = "40" });
                        listaHoras.Add(new SelectListItem { Text = "20:30", Value = "41" });
                        listaHoras.Add(new SelectListItem { Text = "21:00", Value = "42" });
                        listaHoras.Add(new SelectListItem { Text = "21:30", Value = "43" });
                        listaHoras.Add(new SelectListItem { Text = "22:00", Value = "44" });
                        listaHoras.Add(new SelectListItem { Text = "22:30", Value = "45" });
                        listaHoras.Add(new SelectListItem { Text = "23:00", Value = "46" });
                        listaHoras.Add(new SelectListItem { Text = "23:30", Value = "47" });


                    }

                    <td id="lblbloque" style='display:none'>Bloque horario </td>
                    <td id="cbbloque" style='display:none'>
                        @Html.DropDownListFor(model => model.EveMail.Mailbloquehorario, listaHoras, "-- Bloque --")
                        <input type="hidden" id="hfMailbloquehorario" name="Mailbloquehorario" value="@Model.EveMail.Mailbloquehorario" />
                    </td>
                </tr>
                <tr>
                    <td><span id="lblcv" style='display:none'>Hoja</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input id="cbxMailCheck1" style='display:none' type="checkbox" name="checkbox" value="checkbox" />
                                    <input type="hidden" id="hfMailCheck1" name="MailCheck1" value="@Model.EveMail.Mailcheck1" />
                                    <table id="gbhoja" style='display:none'>
                                        <tr>
                                            <td>
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "A", new { id = "HojaA" })
                                                @Html.Label("HojaA", "A")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "B", new { id = "HojaB" })
                                                @Html.Label("HojaB", "B")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "C", new { id = "HojaC" })
                                                @Html.Label("HojaC", "C")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "D", new { id = "HojaD" })
                                                @Html.Label("HojaD", "D")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "E", new { id = "HojaE" })
                                                @Html.Label("HojaE", "E")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "F", new { id = "HojaF" })
                                                @Html.Label("HojaF", "F")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "G", new { id = "HojaG" })
                                                @Html.Label("HojaG", "G")
                                                @Html.RadioButtonFor(x => x.EveMail.Mailhoja, "H", new { id = "HojaH" })
                                                @Html.Label("HojaH", "H")
                                                <input type="hidden" id="hfMailhoja" name="Mailhoja" value="@Model.EveMail.Mailhoja" />

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="trProgramador">
                    <td id="lblprog">Programador</td>
                    <td>
                        <select id="cbxProg" name="Programador" @*style="width:200px"*@>
                            <option value="0">---</option>
                            @foreach (var item in Model.ListaProgramador)
                            {
                                <option value="@item.Pernomb">@item.Pernomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfPernomb" name="MailProgramador" value="@Model.EveMail.Mailprogramador" />

                    </td>
                </tr>

                <tr id="trReprogramaMcp">
                    <td class="tbform-label" id="lblreprogMcp" style='display:none'>Reprograma YUPANA</td>
                    <td>
                        <select id="cbxReProgMcp" style='display:none' name="ReprogramaMcp" @*style="width:200px"*@>
                            @foreach (var item in Model.ListaReprogramas)
                            {
                                <option value="@item.Reprogcodi">@item.Topnombre</option>
                            }
                        </select>
                        <input type="hidden" id="hfReprograma" name="Topcodi" value="@Model.EveMail.Topcodi" />
                    </td>
                </tr>


                <tr>
                    <td id="lblesp" style='display:none'>Especialista</td>
                    <td>
                        <select id="cbxEsp" style='display:none' name="Especialista" @*style="width:200px"*@>
                            <option value="0">---</option>
                            @foreach (var item in Model.ListaProgramador)
                            {
                                <option value="@item.Pernomb">@item.Pernomb</option>
                            }
                        </select>
                        <input type="hidden" id="hfPernombEspec" name="MailEspecialista" value="@Model.EveMail.Mailespecialista" />
                    </td>
                </tr>
                <tr id="trEspecialistaSME" style='display:none'>
                    <td>Especialista</td>
                    <td>
                        <select id="cbxEspSME" name="EspecialistaSME" @*style="width:200px" *@>
                            
                            <option value="0">--- Escoger Especialista SME ---</option>
                            @foreach (var item in Model.ListaEspecialistaSME)
                            {
                            <option value="@item.Pernomb @item.Perapellido">@item.Pernomb @item.Perapellido</option>
                            }
                        </select>
                        <input type="hidden" id="hfPernombEspecSME" name="" value="@Model.EveMail.Mailespecialista" />
                    </td>
                </tr>
                <tr id="trHora">
                    <td>Hora:</td>
                    <td>
                        @{
                            var hora = "";
                            if (Model.EveMail.Mailhora != null)
                            {
                                hora = ((DateTime)Model.EveMail.Mailhora).ToString("HH:mm");
                            }
                        }
                        <input type="text" id="txtHora" value="@hora" name="Mailhora" />(hh:mm)
                    </td>
                </tr>
                <tr id="trCoordinador">
                    <td>Coordinador de Turno:</td>
                    <td>
                        <select id="cbCoordinadorTurno" name="CoordinadorTurno" style="width:300px">
                            @foreach (var item in Model.ListaCoordinadores)
                            {
                                <option name="CoordinadorTurno" value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div id="busquedaEquipo" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Formato de correo</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>
