@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEnviarCorreoModel
    
@using System.Globalization


<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tablaArea" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px; min-width:40px">Acciones</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>T</th>
                <th>Programador</th>
                <th>Usuario</th>
                <th>Última modificación</th>
                <th>E</th>
                <th>R</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEveMail)
            {
                DateTime mailfecha = (DateTime)item.Mailfecha;
                <tr>
                    <td style="width:60px; min-width:60px">
                        <a href="JavaScript:editar(@item.Mailcodi,0,0)" title="Ver...">
                            <img src="~/Content/Images/btn-open.png" />
                        </a>

                        @{
                if (Model.AccionEditar)
                {
                    <a href="JavaScript:editar(@item.Mailcodi,1,0)" title="Editar...">
                        <img src="~/Content/Images/btn-edit.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }

                if (Model.AccionEliminar)
                {
                    <a href="JavaScript:eliminar(@item.Mailcodi)" title="Eliminar...">
                        <img src="~/Content/Images/btn-cancel.png" />
                    </a>
                }
                else
                {
                    <a>
                    </a>
                }
                        }

                    </td>
                    <td>@item.Mailfecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Subcausadesc</td>
                    <td>@item.T</td>
                    @if (item.Subcausacodi >= 403 && item.Subcausacodi <= 410)// subcasusacodi de SME
                    {
                        <td>@item.Mailespecialista</td>
                    }
                    else { 
                        <td>@item.Mailprogramador</td>
                    }

                    <td>@item.Lastuser</td>
                    <td>@item.Lastdate</td>
                    <td>
                        @if (item.Mailemitido == "N")
                        {
                            <a href="JavaScript:enviar(@item.Mailcodi,1)" title="Enviar...">
                                <img src="~/Content/Images/Verificar.png" align="middle" />
                            </a>
                        }
                    </td>
                    <td>
                        <a class="center" href="JavaScript:enviar(@item.Mailcodi,0)" title="Reenviar...">
                            <img src="~/Content/Images/Copiado.png" />

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

