@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel


<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" id="tabla">
    <thead>
        <tr>

            <th>Tabla</th>
            <th>Descripcion</th>
            <th>Abrev. Tabla</th>
            <th>Area Involucrada</th>
            <th>Codigo Texto Osinergmin</th>
            <th>Usuario</th>
            <th>Plazo de Entrega</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaTablasPrie)
        {
            <tr>
                <td>@item.Tpriecodi</td>
                <td style="text-align:left">@item.Tpriedscripcion</td>
                <td>@item.Tprieabrev</td>               
                <td>@item.Areaabrev</td>                
                <td style="text-align:left">@item.Tpriecodtablaosig</td>
                <td>@item.Tprieusucreacion</td>
                <td>@item.Tpriefechaplazo</td>
                <td><a href="JavaScript:mostrarDetalle(@item.Tpriecodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Tabla" alt="editar" /></a></td>
            </tr>
        }

    </tbody>
</table>