@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    var hfStrListaCampos = "";
    var fechaPlazo = Model.TablaPrie.Tpriefechaplazo;
    var fPlazo = fechaPlazo.HasValue ? fechaPlazo.Value.ToString("dd/MM/yyyy") : "";
}

<div class='search-content3 content-registro'>
    <table>
        <tr>
            <td class='tbform-label'>Descripción:</td>
            <td colspan='2' class='tbform-control'><textarea cols=50 rows=2 id='TxtDescripcion' name='TxtDescripcion'>@Model.TablaPrie.Tpriedscripcion</textarea></td>
        </tr>
        <tr>
            <td class='tbform-label'>Abreviatura:</td>
            <td class='tbform-control'>
                <input type='text' id='txtAbreviatura' name='txtAbreviatura' value='@Model.TablaPrie.Tprieabrev' style='width:220px;' />
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Area Involucrada:</td>
            <td class='tbform-control'>
                <select id='cbArea' name='cbArea' style='width:220px;'>
                    @if (Model.ListaAreas.Count > 0)
                    {
                        foreach (var item in Model.ListaAreas)
                        {
                            <option value='@item.Areacode'>@item.Areaabrev</option>
                        }
                    }
                </select>
                <input type='hidden' id='hfAreaCodi' name='hfAreaCodi' value='@Model.TablaPrie.Areacodi ' />
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Plazo de Entrega</td>
            <td class='tbform-control'>
                <input type='text' id='txtPlazoEntrega' name='txtPlazoEntrega' value='@fPlazo' style='width:220px;' />
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Cod Tabla Osinergmin</td>
            <td class='tbform-control'>
                <input type='text' id='txtCodTbOsig' name='txtCodTbOsig' value='@Model.TablaPrie.Tpriecodtablaosig' style='width:220px;' />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type='button' id='btnAgregarCampo' value='Agregrar Campo' onclick="mostrarCampos()" />
            </td>
        </tr>
    </table>
</div>

<div class='search-content2 content-registro' id='campos'>
    <table>
        <tr>
            <td class='tbform-label'>Nombre Campo:</td>
            <td class='tbform-control'>
                <input type='text' id='txtNombrecampo' />
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Descripción:</td>
            <td colspan='2' class='tbform-control'>
                <textarea cols=50 rows=2 id='TxtDescripcionCampo' name='TxtDescripcionCampo'></textarea>
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Tipo de Dato:</td>
            <td class='tbform-control'>
                <select id='cbTipoDato' name='cbTipoDato'>
                    <option value='1'>Caracter</option>
                    <option value='2'>Numérico</option>
                    <option value='3'>FechaHora</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>Longitud 1:</td>
            <td class='tbform-control'>
                <input type='text' id='longitud1' />
            </td>
        </tr>
        <tr>
            <td class='tbform-label'>longitud2:</td>
            <td class='tbform-control'>
                <input type='text' id='longitud2' />
            </td>
            <td>
                <input type='button' id='btnInsertarCampo' onclick="insertarCampo()" value='Insertar' />
            </td>
        </tr>
    </table>
</div>

<div class='content-tabla' style='text-align: center;'>
    <div style='clear:both; height:5px'></div>
    <div class='table-list' style='position:relative;' id='listadocampos'>
        <table border='0' class='pretty tabla-icono' cellspacing='0' width='100%' id='tablacampos'>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Campo</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>entero</th>
                    <th>Decimal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaCampos)
                {
                    hfStrListaCampos += item.Cpriecodi + "," + item.Cprienombre + "," + item.Cpriedescripcion + "," + item.Cprietipo + "," + item.Cprielong1 + "," + item.Cprielong2 + "#";
                    <tr>
                        <td>@item.Cpriecodi</td>
                        <td>@item.Cprienombre</td>
                        <td>@item.Cpriedescripcion</td>
                        <td>@item.Cprietipo</td>
                        <td>@item.Cprielong1</td>
                        <td>@item.Cprielong2</td>
                        <td><a href='JavaScript:eliminaCampo(@item.Cpriecodi);'><img src='~/Content/Images/ico-delete.gif' title='Eliminar Campo' alt='eliminar' /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<table>
    <tr>
        <td>
            <input type='button' id='btnGrabar' value='Guardar' onclick="grabarTabla()" />
        </td>
        <td>
            <input type='button' id='btnCancelar' value='Cancelar' onclick="cancelar()" />
        </td>
    </tr>
</table>

<input type='hidden' id='hfListaCampos' value='@hfStrListaCampos' />
<input type='hidden' id='hfTpriecodi' name='hfTpriecodi' value='@Model.TablaPrie.Tpriecodi' />