@model COES.MVC.Intranet.Areas.Equipamiento.Models.ReportePotenciaModel
@{
    ViewBag.Title = "Reporte potencia efectiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/reportePe.js"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de potencia efectiva</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar"/>
        <input type="button" id="btnConfiguracion" value="Configuración" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width: 200px;">
                    <select id="cbEmpresa" name="IdEmpresa">
                        <option value="-2">TODOS</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Central:</td>
                <td>
                    <select id="cbCentral">
                        <option value="-2">TODOS</option>
                        @foreach (var item in Model.ListaCentrales)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tipo de generación:</td>
                <td style="width:200px;">
                    <select id="cbTipoGeneracion" name="IdEmpresa">
                        <option value="-2">TODOS</option>
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                </td>
                <td>Tipo de recurso energético:</td>
                <td>
                    <select id="cbTipoRecurso">
                        @*@foreach (var item in Model.ListaCentrales)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }*@
                    </select>
                </td>
            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio"/>
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin"/>
                </td>
            </tr>
            <tr>
                <td>Tipo de reporte:</td>
                <td colspan="3">
                    <div>
                        <div id="divDetallado" style="display:inline-block"><input type="radio" name="rbidTipo" value="D" />Detallado</div>
                        <div id="divConsolidado" style="display:inline-block"><input type="radio" name="rbidTipo" value="C" />Consolidado</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>