@model COES.MVC.Intranet.Areas.IndicadoresSup.Models.Siosein2Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-more.js?v=1.1.7"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=1.1.7"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js?v=2.3"></script>

<style>
    input[type=number] {
        background-color: #F2F4F3;
        border: 1px solid #CBD3CF;
        border-radius: 5px;
        width: 220px;
        height: 20px;
        text-indent: 8px;
        font: 12px "arial", sans-serif;
        color: #4876AA;
    }

    .text {
        text-align: left !important;
        padding-left: 5px !important;
    }

    .number {
        text-align: right !important;
        padding-right: 5px !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Mes:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container' style="display: block;">

        <ul class='etabs'>
            <li class='tab' data-value="1" data-grafico="0"><a href="#num1">5.1</a></li>
            <li class='tab' data-value="2" data-grafico="0"><a href="#num2">5.2</a></li>
            <li class='tab' data-value="3" data-grafico="1"><a href="#num3">5.3</a></li>
            <li class='tab' data-value="4" data-grafico="1"><a href="#num4">5.4</a></li>
            <li class='tab' data-value="7" data-grafico="1"><a href="#num7">5.7</a></li>
            <li class='tab' data-value="8" data-grafico="1"><a href="#num8">5.8</a></li>
            <li class='tab' data-value="9" data-grafico="1"><a href="#num9">5.9</a></li>
            <li class='tab' data-value="10" data-grafico="1"><a href="#num10">5.10</a></li>
        </ul>
        <div class='panel-container'>
            <div id="num1" style="background-color:white">
                <p>@Model.Resultados[0]</p>
                @{ Html.RenderPartial("_Numeral51");}
                <br />
                @{ Html.RenderPartial("_Concepto", new { numeral = 1, grafico = false });}
                <div id="Tabla1" style="width: 50%; height: auto;"></div>
            </div>

            <div id="num2" style="background-color:white">
                <p>@Model.Resultados[1]</p>
                @{ Html.RenderPartial("_Numeral52");}
                <br />
                @{ Html.RenderPartial("_Concepto", new { numeral = 2, grafico = false });}
                <div id="Tabla2" style="width: 50%; height: auto;"></div>
            </div>

            <div id="num3" style="background-color:white">
                <p>@Model.Resultados[2]</p>
                @{ Html.RenderPartial("_Concepto", new { numeral = 3, grafico = true });}
            </div>

            <div id="num4" style="background-color:white">
                <p>@Model.Resultados[3]</p>
                @{ Html.RenderPartial("_Concepto", new { numeral = 4, grafico = true });}
            </div>

            <div id="num7" style="background-color:white">
                <p>@Model.Resultados[6]</p>
                @{ Html.RenderPartial("_Numeral57");}
            </div>

            <div id="num8" style="background-color:white">
                <p>@Model.Resultados[7]</p>
                @{ Html.RenderPartial("_Numeral58");}
            </div>

            <div id="num9" style="background-color:white">
                <p>@Model.Resultados[8]</p>
                @{ Html.RenderPartial("_Numeral59");}
            </div>

            <div id="num10" style="background-color:white">
                <p>@Model.Resultados[9]</p>
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Dias moviles:</td>
                        <td><input type="number" id="txtDiaMovil10" style="width:100px" value="24" /></td>
                        <td><input type="button" onclick="GraficoDisponibleNoDespachada()" value="Consultar"></td>
                    </tr>
                </table>
                <br />
                <div id="Grafico10" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/IndicadoresSup/Content/Scripts/dashboardanalitico.js?v=1.2"></script>
