@model IEnumerable<COES.Dominio.DTO.Sic.EpoPuntoConexionDTO>


<style>
    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }
</style>

<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Zona Proyecto</th>
            <th>Opciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="8%" class="text-left">@item.PuntCodi</td>
                <td width="8%" class="text-left">@item.PuntDescripcion</td>
                <td width="15%" class="text-left">@item.ZonDescripcion</td>
                
                <td width="18%">
                    <a href="#" onclick="javascript: nuevoPuntoConexion(@item.PuntCodi)">Actualizar</a>
                    <a href="#" onclick="javascript: anularPuntoConexion(@item.PuntCodi)">Anular</a>
                 
                </td>
            </tr>
        }
    </tbody>
</table>