@model  COES.Dominio.DTO.Sic.EpoPuntoConexionDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.mask.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/scripts/jquery.validate.js"></script>



<style>
    .text-danger {
        color: red !important;
    }

    .tab-container .panel-container {
        min-height: 0px !important
    }

    label.error {
        color: red !important;
    }

    label.error {
        content: '\A';
        white-space: pre;
        word-wrap: break-word;
    }
</style>

<div class="form-title">
    <div class="content-titulo">@ViewBag.Titulo</div>
    <div class="content-botonera">

    </div>
</div>


<div class="class=" ast">
    @using (Html.BeginForm("RegistrarPuntoConexionEpo", "EstudioEpo", FormMethod.Post, new { id = "frmPuntoConexionEpo", @class = "" }))
    {
        @Html.HiddenFor(m => m.PuntCodi)

        <div class="content-hijo" id="mainLayout">
            <div id="mensaje"></div>
            <h3>Registro </h3>
            <div>
                <table border="0" class="content-tabla-search" style="width:780px">

                    <tr>
                        <td colspan="4">
                            <table>
                                <tr>
                                    <td>Zona <strong class="text-danger">(*)</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="Zoncodi" name="Zoncodi" data-msg-required="Debe seleccionar la zona." required>
                                            <option value="">Seleccione</option>
                                            @foreach (var item in ViewBag.ListadoZonaProyecto)
                                            {
                                                string seleccionado = item.Zoncodi == Model.ZonCodi ? "selected" : "";
                                                <option @seleccionado value="@item.Zoncodi">@item.ZonDescripcion</option>
                                            }
                                        </select>
                                    </td>
                                  

                                </tr>
                                <tr>
                                    <td>Punto Conexión <strong class="text-danger">(*)</strong></td>
                                  
                                </tr>

                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.PuntDescripcion, new { @class = "form-control", required = "required", data_msg_required = "Debe ingresar la descripción.", autocomplete = "off" })
                                    </td>

                                </tr>


                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <br />
            <div class="clear"></div>

            <div class="row-top">
                <div class="col-12">
                    <div class="float-right">
                        <input type="button" id="btnGuardar" value="Guardar" />
                        <input type="button" id="btnRegresar" value="Regresar" onclick="regresar()" />
                    </div>
                </div>

            </div>
        </div>

    }

</div>

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEpo/RegistrarPuntoConexion.js"></script>
