@model COES.MVC.Intranet.Areas.Transferencias.Models.RecalculoModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var PeriodoNombre = TempData["Periodonombre"].ToString();
    var cboPeriodoDestino = (IEnumerable<SelectListItem>)TempData["PeriodoDestino"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/recalculo.js"></script>
@using (Html.BeginForm("Save", "recalculo", FormMethod.Post, new { id = "frmRecalculo", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "recalculo")    '" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:800px;">
            @Html.HiddenFor(model => model.Entidad.RecaCodi)
            @Html.HiddenFor(model => model.Entidad.RecaPeriCodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr><td colspan="2"><div class="editor-label" style="color:red;">@Model.sError</div></td></tr>
                }
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCodi, "Periodo")</div></td>
                    <td><div class="editor-field">@Html.TextBoxFor(model => model.sError, new { @Value = PeriodoNombre, @readonly = "readonly" })</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Recafechavalorizacion, "Fecha de Valorización") (*)</div></td>
                    <td><div class="editor-field">
                            @Html.TextBoxFor(model => model.Recafechavalorizacion, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Recafechavalorizacion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Recafechalimite, "Fecha Limite") (*)</div></td>
                    <td><div class="editor-field">
                            @Html.TextBoxFor(model => model.Recafechalimite, "{0:dd/MM/yyyy }", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Recafechalimite)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaHoraLimite, "Hora Limite") (*)</div></td>
                    <td><div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaHoraLimite)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaHoraLimite)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Recafechaobservacion, "Fecha Observaciones") (*)</div></td>
                    <td><div class="editor-field">
                            @Html.TextBoxFor(model => model.Recafechaobservacion, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            @Html.ValidationMessageFor(model => model.Recafechaobservacion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaNombre, "Nombre de versión") (*)</div></td>
                    <td><div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaNombre)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaNombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaDescripcion, "Descripcion")</div></td>
                    <td><div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.RecaDescripcion, new { cols = 80, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 150px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.RecaDescripcion)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaNroInforme, "Nro Informe")</div></td>
                    <td><div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaNroInforme)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaNroInforme)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaMasInfo, "Más información")</div></td>
                    <td><div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.RecaMasInfo, new { cols = 80, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 150px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.RecaMasInfo)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCuadro1, "Cuadro 1")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaCuadro1)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaCuadro1)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCuadro2, "Cuadro 2")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaCuadro2)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaCuadro2)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaNota2, "Nota 2")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Entidad.RecaNota2, new { cols = 80, @rows = 5, style = "background-color: #f2f4f3; border: 1px solid #cbd3cf; border-radius: 5px; color: #4876aa; font: 12px arial,sans-serif; text-indent: 8px; width: 400px; height: 150px;" })
                            @Html.ValidationMessageFor(model => model.Entidad.RecaNota2)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCuadro3, "Cuadro 3")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaCuadro3)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaCuadro3)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCuadro4, "Cuadro 4")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaCuadro4)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaCuadro4)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaCuadro5, "Cuadro 5")</div></td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.RecaCuadro5)
                            @Html.ValidationMessageFor(model => model.Entidad.RecaCuadro5)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.RecaEstado, "Estado")</div></td>
                    <td><div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.RecaEstado, "Abierto")En proceso</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.RecaEstado, "Publicar")Publicación Preliminar</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.RecaEstado, "Cerrado")Cerrado</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">@Html.LabelFor(model => model.pericodidestino, "Valoirizar en")</div></td>
                    <td><div class="editor-field">
                            @Html.DropDownList("pericodidestino", @cboPeriodoDestino, "--Seleccione--")
                            @Html.ValidationMessageFor(model => model.pericodidestino)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:150px;">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>
    
    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmRecalculo").validate({
        rules: {
            Recafechavalorizacion: {
                required: true,
            },
            Recafechalimite: {
                required: true,
            },
            "Entidad.RecaHoraLimite": {
                required: true,
            },
            Recafechaobservacion: {
                required: true,
            },
            "Entidad.RecaNombre": {
                required: true
            },
            "Entidad.RecaDescripcion": {
                maxlength: 1000
            },
            "Entidad.RecaMasInfo": {
                maxlength: 2000
            },
            "Entidad.RecaCuadro1": {
                maxlength: 250
            },
            "Entidad.RecaCuadro2": {
                maxlength: 250
            },
            "Entidad.RecaNota2": {
                maxlength: 2000
            },
            "Entidad.RecaCuadro3": {
                maxlength: 250
            },
            "Entidad.RecaCuadro4": {
                maxlength: 250
            },
            "Entidad.RecaCuadro5": {
                maxlength: 250
            }
        }
    });
</script>
