@model COES.MVC.Intranet.Areas.Transferencias.Models.RecalculoModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Versión</th>
            <th>Fecha Valorización</th>
            <th>Fecha Limite</th>
            <th>Hora Limite</th>
            <th>Fecha Observaciones</th>
            <th>Estado</th>
            <th>Revisión</th>
            <th>Descripción</th>
            <th>Nro. Informe</th>
            <th>Más Información</th>
            <th>Valorizar en</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecalculo)
        {
            <tr id="fila_@item.RecaCodi">
                <td class="text_left">@item.RecaCodi</td>
                <td>@item.RecaFechaValorizacion.ToString("dd/MM/yyyy")</td>
                <td>@item.RecaFechaLimite.ToString("dd/MM/yyyy")</td>
                <td>@item.RecaHoraLimite</td>
                <td>@item.RecaFechaObservacion.ToString("dd/MM/yyyy")</td>
                <td class="text_left">@item.RecaEstado</td>
                <td class="text_left">@item.RecaNombre</td>
                <td class="text_left">@item.RecaDescripcion</td>
                <td class="text_left">@item.RecaNroInforme</td>
                <td class="text_left">@item.RecaMasInfo</td>
                <td class="text_left">@item.PeriNombre</td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.RecaCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar && item.RecaCodi > 2)
                    {
                        if(item.RecaEstado == "Cerrado"){
                            <a href="#" id="eliminar_x_@item.RecaCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                        }else{
                            <a href="#" id="eliminar_a_@item.RecaCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                        }
                        
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>