@model COES.MVC.Publico.Models.BrowserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIframe.cshtml";
}


<link href="~/Content/Css/calendar.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css?v=1.5" rel="stylesheet" />
<script src="~/Content/Scripts/web_iframe.js?v=5.1"></script>
<script src="~/Content/Scripts/jquery.tooltip.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js?v=1.5"></script>
<script src="~/Content/Scripts/multidownload.js"></script>
<link href="~/Content/Css/browser.css?v=1.0" rel="stylesheet" />
<link href="~/Content/Css/main.coes.css" rel="stylesheet" />
<script src="~/Content/Scripts/main.coes.js"></script>
<script type="text/javascript">
    $(function () {

        $('#btnConsultar').click(function () {
            buscarArchivos();
        });

        $('#campo7').keypress(function (e) {
            if (e.keyCode == '13') {
                buscarArchivos();
                return false;
            }
        });

        $('#busquedaDoble').click(function () {
            $('#campo7').val('');
            $('#campo39').val('');
            $('#campo42').val('');
        });

    });

</script>

<div class="content-area mx-auto">

    <div class="row" style="margin-left:8px; margin-right:8px;">
        <div class="col-12 col-md-12 mb-md-4">

            <div class="coes-box mb-3" style="overflow:hidden;">
                <div class="coes-box--header">
                    @if (Model.BaseDirectory == "Operación/Intercambios Internacionales/Formatos Digitalizados/Anexo3/")
                    {
                        <h3 class="coes-box--title">Modelo de Envío de Datos</h3>
                    }
                    else
                    {
                        <h3 class="coes-box--title">@Model.BreadName</h3>
                    }
                </div>
                <div class="coes-box--content">
                    <div class="row">
                        <div class="coes-views col-12 col-md-3 col-lg-3 d-flex" style="margin-left: 24px;">
                            <p class="coes-views--label">Visualización</p>
                            <button class="button-icon button-icon-thumbs coes-views--button js-switch-thumbs active"></button>
                            <button class="button-icon button-icon-list coes-views--button js-switch-list"></button>
                        </div>
                        <div class="coes-search col-12 col-md-8 col-lg-9 d-flex" id="cuadroBusqueda">
                            <p class="coes-search--label">Nombre</p>
                            <form action="#" id="formularioBusqueda">
                                <input type="text" style="margin-right: 14px;" id="campo7" class="coes-search-input">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3" id="cabecera">
                <span class="me-2">Descargar: </span>
                <button class="button-icon button-icon-file" id="btn-downloadfile"></button>
                <button class="button-icon button-icon-zip" id="btn-downloadzip"></button>
            </div>
            <div id="browserDocument">
            </div>
            <input type="hidden" id="hfBaseDirectory" value="@Model.BaseDirectory" />
            <input type="hidden" id="hfRelativeDirectory" value="@Model.RelativeDirectory" />
            <input type="hidden" id="hfOrigenDirectory" />
            <input type="hidden" id="hfOperacionPegar" />
            <input type="hidden" id="hfTipoVista" value="B" />
            <input type="hidden" id="hfOrigen" value="@Model.Origen" />
            <input type="hidden" id="hfIndicadorHeader" value="@Model.IndicadorHeader" />
            <input type="hidden" id="hfBreadName" value="@Model.BreadName" />
            <input type="hidden" id="hfOrderFolder" value="@Model.OrderFolder" />
            <input type="hidden" id="hfblobcod" value="@Model.BlobCodi" />

            <div class="general-popup" id="popupFolder">
                <div id="divContenedorFolder">
                </div>
            </div>

            <div id="multiDownload">
            </div>

            <input type="text" id="txtCopy" style="width:1px;height:1px;border:1px none;color:#fff;" />

            @*<div id="browserDocument">

                </div>*@
            @*<div class="general-popup" id="popupFolder">
                    <div id="divContenedorFolder">
                    </div>
                </div>



                <div id="multiDownload">
                </div>

                <input type="text" id="txtCopy" style="width:1px;height:1px;border:1px none;color:#fff;" />*@

            <div id="popupVideo" class="general-popup">
                <div><span class="button b-close"><span>X</span></span></div>

                <div class="popup-text" id="contenidoVideo">

                </div>

            </div>

        </div>
    </div>

</div>
