@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoDeclaracionModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    var mes = (IEnumerable<SelectListItem>)TempData["Mescodigo"];
    var anio = (IEnumerable<SelectListItem>)TempData["Aniocodigo"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />

@*<script src="~/Areas/Transferencias/Content/Scripts/periodo.js"></script>*@
<script src="~/Areas/Transferencias/Content/Scripts/periodoDeclaracion.js?v=@DateTime.Now.Minute"></script>
@using (Html.BeginForm("Save", "periodoDeclaracion", FormMethod.Post, new { id = "frmPeriodoDeclaracion", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entidad.PeridcCodi)
    @Html.Hidden("Entidad.PeridcUsuarioRegi", User.Identity.Name)

    <div class="ast">
        <div class="form-title">
            <div class="content-titulo">@sTitulo</div>
            <div class="content-botonera">
                @if (Model.bGrabar)
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                else
                {
                    <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                }
                <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index","periodoDeclaracion")'" alt="Retornar" title="Retornar" />
            </div>
        </div>
        <div style="padding:20px; width:500px;">
            <table cellspacing="2" cellpadding="5">

                <tr>
                    <td colspan="2">
                        <div class="editor-label" style="color:red;" id="sError">
                             
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Año")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (Model.Entidad.PeridcCodi == 0)
                            {
                                @Html.DropDownList("Entidad.PeridcAnio", @anio, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.PeridcAnio", @anio, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(model => model.Entidad.PeridcAnio)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Mes")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (Model.Entidad.PeridcCodi == 0)
                            {
                                @Html.DropDownList("Entidad.PeridcMes", @mes, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white" })
                            }
                            else
                            {
                                @Html.DropDownList("Entidad.PeridcMes", @mes, "--Seleccione--", new { @style = "width:220px !important", @class = "bg-white", @disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(model => model.Entidad.PeridcMes)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Periodo")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (Model.Entidad.PeridcCodi == 0)
                            {
                                @Html.TextBoxFor(model => model.Entidad.PeridcNombre, new { @class = "txtFecha", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Entidad.PeridcNombre, new { @disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(model => model.Entidad.PeridcNombre)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Fecha Registro")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (Model.Entidad.PeridcCodi == 0)
                            {
                                @Html.TextBoxFor(model => model.Entidad.PeridcFecRegi, "{0:dd/MM/yyyy}", new { @class = "txtFecha" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Entidad.PeridcFecRegi, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @disabled = "disabled" })

                            }
                            @Html.ValidationMessageFor(model => model.Entidad.PeridcFecRegi)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.Label("Estado")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                            @if (Model.Entidad.PeridcCodi == 0)
                            {
                                <label>@Html.RadioButtonFor(model => model.Entidad.PeridcEstado, "ABI", new { @checked = "checked" })Abierto</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.PeridcEstado, "CER", new { @disabled = "disabled" })Cerrado</label>

                            }
                            else
                            {
                                <label>@Html.RadioButtonFor(model => model.Entidad.PeridcEstado, "ABI")Abierto</label>
                                <label>@Html.RadioButtonFor(model => model.Entidad.PeridcEstado, "CER")Cerrado</label>

                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="2">Nota(*): Información obligatoria</td></tr>
            </table>
        </div>

    </div>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmPeriodoDeclaracion").validate({
        rules: {
            "Entidad.PeridcAnio": {
                required: true
            },
            "Entidad.PeridcMes": {
                required: true,

            },
            "Entidad.PeridcNombre": {
                required: true,

            },



        }
    });


</script>
<script>
    var sAccion = '@sAccion';
    if (sAccion == "Insertar") {
        document.forms[0].Entidad_EstdAbrev[0].checked = true;
    }
</script>