@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoDeclaracionModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th class="sorting_desc">Periodo</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Fecha Registro</th>
            <th style="width:30px;">Estado</th>
          
            <th style="width:30px;"></th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPeriodos)
        {
        <tr id="fila_@item.PeridcCodi">
            <td style="text-align:left;">@item.PeridcNombre</td>
            <td>@item.PeridcAnio</td>
            <td>@item.PeridcMes</td>
            <td>@(item.PeridcFecRegi.Value.ToString("dd/MM/yyyy"))</td>
            <td>@item.PeridcEstado</td>
           
            <td style="width:30px;">
                @*@if (Model.bEditar)
                {*@
                    <a href="@Url.Action("Edit", new { id = item.PeridcCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                @*}*@
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="popup">
</div>