@model COES.MVC.Intranet.Areas.Eventos.Models.DatoInformeModel

<script type="text/javascript">

    $(function () {
        $('#btnInformeConsolidado').click(function () {
            informeConsolidado($('#hfInformeIdEvento').val(), -1);
        });

        $('#btnVerInformeConsolidado').click(function () {
            informeConsolidado($('#hfInformeIdEvento').val(), 1);
        });

        $('#btnGenerarInformeConsolidado').click(function () {
            informeConsolidado($('#hfInformeIdEvento').val(), 0);
        });
    });

</script>

<div class="popup-title"><span>Informes del COES</span></div>
<div class="popup-text">    
    <table cellpadding="0" cellspacing="0" class="pretty tabla-adicional tabla-iconofinal" style="width:700px">
        <thead>
            <tr>
                <th>Área</th>
                <th>Informe preliminar inicial</th>
                <th>Informe preliminar</th>
                <th>Informe final</th>
                <th>Informe complementario</th>
                <th>Ver informe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReporteSCO)
            {
                <tr>
                    <td>CENTRO CONTROL COES</td>
                    <td>@item.EstadoPreliminarInicial</td>
                    <td>@item.EstadoPreliminar</td>
                    <td>@item.EstadoFinal</td>
                    <td>@item.EstadoComplementario</td>
                    <td>
                        <a href="JavaScript:showInforme(@item.Emprcodi, @item.Evencodi);" title="Visualizar el informe">
                            <img src="~/Content/Images/Visualizar.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="popup-title"><span>Informes de las empresas</span></div>
<div class="popup-text">
    <table cellpadding="0" cellspacing="0" class="pretty tabla-adicional tabla-iconofinal" id="tablaReporte" style="width:700px">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Informe preliminar</th>
                <th>Informe final</th>
                <th>Informe complementario</th>
                <th>Ver informe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reporte)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.EstadoPreliminar</td>
                    <td>@item.EstadoFinal</td>
                    <td>@item.EstadoComplementario</td>
                    <td>
                        <a href="JavaScript:showInforme(@item.Emprcodi, @item.Evencodi);" title="Visualizar el informe">
                            <img src="~/Content/Images/Visualizar.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.IndicadorConsolidado) { 

    <div class="popup-title"><span>Informe consolidado</span></div>
    
    if (Model.ExistenciaInformeConsolidado != "S") {          
        <div style="width:200px; text-align:center; margin:auto; margin-top:20px">      
            <input type="button" id="btnInformeConsolidado" value="Informe consolidado" />
        </div>
    }
    else 
    {
        <div class="action-alert">Ya existe un informe consolidado generado, ¿Qué desea realizar?</div>
    
        <div style="width:320px; text-align:center; margin:auto; margin-top:20px">           
            <input type="button" id="btnVerInformeConsolidado" value="Ver informe consolidado" />
            <input type="button" id="btnGenerarInformeConsolidado" value="Generar nuevamente" />        
        </div>
    }
}

<input type="hidden" id="hfInformeIdEvento" value="@Model.IdEvento" />
