@model COES.MVC.Intranet.Areas.Eventos.Models.EventoModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th scope="col" style="width:50px; min-width:50px">CTAF</th>
            <th scope="col" style="width:65px; min-width:65px">Acción</th>
            <th scope="col">&nbsp;</th>
            <th scope="col" onclick="ordenar('TIPOEVENABREV');">Tipo</th>
            <th scope="col" onclick="ordenar('EMPRNOMB');">Empresa</th>
            <th scope="col" onclick="ordenar('AREADESC');">Ubicación</th>
            <th scope="col" onclick="ordenar('FAMABREV');">Familia</th>
            <th scope="col" onclick="ordenar('EQUIABREV');">Equipo</th>
            <th scope="col" onclick="ordenar('EVENINI');">Inicio</th>
            <th scope="col" onclick="ordenar('CAUSAEVENABREV');">CIER</th>
            <th scope="col" onclick="ordenar('SUBCAUSAABREV');">Causa</th>
            <th scope="col" onclick="ordenar('EVENINTERRUP');">Interrup.</th>           
            <th scope="col" onclick="ordenar('EVENRELEVANTE');">R</th>           
            <th scope="col" onclick="ordenar('EVENASUNTO');">Descripción</th>
            <th scope="col" onclick="ordenar('EVENFIN');">Final</th>
            <th scope="col" onclick="ordenar('LASTUSER');">Usuario</th>
            <th scope="col" onclick="ordenar('LASTDATE');">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
            var id = "cb" + item.EVENCODI;
        <tr>
            <td style="width: 50px; min-width: 50px; text-align: left;">
                @if (item.EVENCTAF == "S" || Model.AccionEventoCtaf == false)
                {
                    <input type="checkbox" id="@id" value="@item.EVENCODI" checked="checked" disabled="disabled" />
                }
                else
                {
                    <input type="checkbox" id="@id" class="chCtaf" value="@item.EVENCODI" />
                }
                <span>@item.CodigoCtaf</span>
            </td>
            <td style="width:65px; min-width:65px">
                <a href="JavaScript:verEvento(@item.EVENCODI, '@item.EVENPRELIMINAR')" title="Ver datos del evento">
                    <img src="~/Content/Images/btn-edit.png" />
                </a>
                @if (Model.AccionEliminar)
                {
                    if (item.EVENCTAF != "S")
                    {
                        <a href="JavaScript:eliminarEvento(@item.EVENCODI)" title="Permite eliminar el evento">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    }
                    else
                    {
                        <a href="JavaScript:eliminarEvento(@item.EVENCODI)" title="Permite eliminar el evento" style="cursor:not-allowed;pointer-events:none">
                            <img src="~/Content/Images/btn-cancel-disabled.png" />
                        </a>
                    }
                }
                @if (Model.AccionCopiar)
                {
                    <a href="JavaScript:copiarEvento(@item.EVENCODI, '@item.EVENPRELIMINAR')" title="Permite crear una copia">
                        <img src="~/Content/Images/btn-properties.png" />
                    </a>
                }
                @if (Model.AccionVerInforme && item.EVENPRELIMINAR != "S" && false)
                {
                    <a href="JavaScript:consultarInforme(@item.EVENCODI)" title="Crear y consultar informes">
                        <img src="~/Content/Images/Informe.png" />
                    </a>
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.EVENCOMENTARIOS))
                {
                    <div style="background-color:#ff6a00; width:10px; height:10px" title="Tiene comentarios internos">&nbsp;</div>
                }
            </td>
            <td>@item.TIPOEVENABREV</td>
            <td>@item.EMPRNOMB</td>
            <td>@item.AREADESC</td>
            <td>@item.FAMABREV</td>
            <td>@item.EQUIABREV</td>
            <td>
                @if (item.EVENINI != null)
                {
                    <span>@(((DateTime)item.EVENINI).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                }
            </td>
            <td>@item.CAUSAEVENABREV</td>
            <td>@item.SUBCAUSAABREV</td>
            <td>@item.EVENINTERRUP</td>
            <td>@item.EVENRELEVANTE</td>
            <td>@item.EVENASUNTO</td>
            <td>
                @if (item.EVENFIN != null)
                {
                    <span>@(((DateTime)item.EVENFIN).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                }
            </td>
            <td>@item.LASTUSER</td>
            <td>
                @if (item.LASTDATE != null)
                {
                    <span>@(((DateTime)item.LASTDATE).ToString("dd/MM/yyyy HH:mm"))</span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>