@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.ConfiguracionModel
<table border="0" class="pretty tabla-icono" id="tablaTipoInterrupcion">
    <thead>
        <tr>
            <th style="width:70px">Acciones</th>
            <th>Tipo de Interrupción</th>
            <th>Estado</th>
            <th>Usuario creación / modificación</th>
            <th>Fecha creación / modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaTiposInterrupcion)
        {
            <tr>
                <td style="width:70px">
                    @if (item.IndicadorEdicion == "S")
                    {
                        <a href="JavaScript:editar(@item.Retintcodi);"><img src="~/Content/Images/btn-edit.png" alt="Editar" title="Editar tipo de interrupción" /></a>
                        <a href="JavaScript:eliminar(@item.Retintcodi);"><img src="~/Content/Images/btn-cancel.png" alt="Eliminar" title="Eliminar tipo de interrupción" /></a>
                    }
                    <a href="JavaScript:verCausas(@item.Retintcodi);"><img src="~/Content/Images/btn-ok.png" alt="Ver" title="Ver causas de interrupción" /></a>
                </td>
                <td>@item.Retintnombre</td>
                <td>@item.Retintestado</td>
                <td>@item.Retintusumodificacion</td>
                <td>@(item.Retintfecmodificacion != null?((DateTime)item.Retintfecmodificacion).ToString("dd/MM/yyyy HH:mm:ss"): "")</td>
            </tr>
        }
    </tbody>
</table>