
@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

@{
    ViewBag.Title = "Potencia Firme Remunerable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}


<link href="~/Areas/PotenciaFirmeRemunerable/Content/Css/general.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/general.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Potencia Firme Remunerable</div>

    <div style="float: right">
        <span style="font-size: 12px;">Periodo:</span>
        <select id="cbAnioFiltroGeneral" style="width: 57px;">
            @foreach (var item in Model.ListaAnio)
            {
                <option value="@item.Entero1" @(item.String2)>@item.String1</option>
            }

        </select>

        <select id="cbPeriodoFiltroGeneral" style="width: 120px;">
            @foreach (var item in Model.ListaPeriodo)
            {
                var selected = Model.IdPeriodo == item.Pfrpercodi ? "selected" : "";
                <option value="@item.Pfrpercodi" @selected>@item.Pfrpernombre</option>
            }
        </select>

        <span style="font-size: 12px;">Recálculo:</span>
        <select id="cbRevisionFiltroGeneral" style="width:150px">
            @if (Model.ListaRecalculo.Count > 0)
            {
                foreach (var item in Model.ListaRecalculo)
                {
                    <option value="@item.Pfrreccodi">@item.Pfrrecnombre</option>
                }
            }
            else
            {
                <option value="0">--</option>
            }
        </select>

        @*<input type="button" id="btnGams" value="Ejecutar Gams" />*@
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_periodo" style="float: left; padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Periodo</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Periodo/Index/" data-alto="680" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" alt="logo" />
                            <br />
                            <label>
                                Periodo y Recálculos
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_reporte" style="float: left;padding-right: 5px;" >

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Salidas</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Reporte/IndexPotenciaFirmeRemunerable/" data-alto="700" title="">                        
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Potencia Firme Remunerable
                            </label>
                        </div>
                    </td>



                </tr>

            </tbody>
        </table>

    </div>


    <div class="menu_configuracion" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Configuración</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexParametros/" data-alto="900" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Parámetros
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexEquipos/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Equipos de Transmisión
                            </label>
                        </div>
                    </td>

                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexGamsVtp/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Relación Barras GAMS-VTP
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexGamsSsaa/" data-alto="700" title="" style=" width: 125px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Relación Código GAMS-SSAA
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexGamsEquipos/" data-alto="700" title="" style="width: 117px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Relación Generadores GAMS con Equipos
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexCongestion/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Congestión
                            </label>
                        </div>
                    </td>
                    <td style="display: block">
                        <div class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Configuracion/IndexPenalidad/" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Penalidad
                            </label>
                        </div>
                    </td>


                </tr>

            </tbody>
        </table>

    </div>


    <div class="menu_automatizacion" style="float: left; padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Anexos</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Automatizacion/Indexunifilar/" data-alto="680" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Diagrama Unifilar
                            </label>
                        </div>
                    </td>

                    <td style="display: block">
                        <div id="opcionPeriodo" class="menu-item suboptions" data-url="/PotenciaFirmeRemunerable/Automatizacion/IndexFuenteGams/" data-alto="680" title="">
                            <img src="~/Content/Images/copiar.png" alt="logo" />
                            <br />
                            <label>
                                Código Fuente GAMS
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="myiframe" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>