@model COES.MVC.Intranet.Areas.RechazoCarga.Models.DemandaUsuarioModel
@{
    ViewBag.Title = "Demanda Usuario Libre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/RechazoCarga/Content/Scripts/demandaUsuario.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
@*<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />*@
<link href="~/Areas/RechazoCarga/Content/Css/demanda.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

@*<div class="content-hijo" id="mainLayout">
        <div class="form-title">
            <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
        </div>
    </div>*@

<div class="form-title">
    <div class="content-titulodemanda">Rep. Información de Demanda Usuario Libre</div>
</div>
<div id="mensaje"></div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search"  style="width:auto">            
            <tr>
                <td style="width:120px">Periodo:</td>
                <td style="width:150px">
                    <select id="cbPeriodoIni" name="cbPeriodoIni" style="width:150px;">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.Periodo">@item.Periodo</option>
                        }
                    </select>
                </td>
                <td><input type="button" id="btnValidar" value='Validar' /></td>
                <td style="width:60px;text-align:right">Zona:</td>
                <td>
                    <select id="cbZona" name="cbZona" style="width:180px">
                        @foreach (var item in Model.Zonas)
                        {
                            <option value="@item.AREACODI">@item.AREANOMB</option>
                        }
                    </select>
                </td>
                <td style="width:20px">SubEstación:</td>
                <td colspan="2">
                    <select id="cbSubestaciones" name="cbSubestaciones" multiple="multiple">
                        @foreach (var item in Model.Subestaciones)
                        {
                            <option value="@item.AREACODI">@item.AREANOMB</option>
                        }
                    </select>
                </td>                
            </tr>
            <tr>                
                <td style="width:120px">Suministrador:</td>
                <td colspan="4">
                    <select id="cbSuministrador" name="cbSuministrador" multiple="multiple">
                        @foreach (var item in Model.Suministradores)
                        {
                            <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                        }
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>                              
            </tr>
            <tr>
                <td style="width:120px">Razón Social:</td>
                <td colspan="4">
                   <input type="text" id="txtRazonSocial" name="RazonSocial" style="width:495px"/>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>           
        </table>
        <br />
        <div>
            <table class="content-tabla-search" >
                <tr>
                    <td style="width:50px">&nbsp;</td>
                    <td style="width:53px;">&nbsp;
                    </td>
                    <td style="text-align:left">
                        <input type="button" id="btnConsultar" value='Buscar' />
                        <input type="button" id="btnExportar" value="Exportar Excel" />
                        <input type="button" id="btnImportar" value="Importar" style="display:none;" />
                    </td>
                </tr>
            </table>
            
        </div>
       
    </div>

    <div class="content-tabla">      
        <div class="tabla-header" style="height:34px">            
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>
</div>


<input type="hidden" id="hfTipoBusqueda" value="0" />
<input type="hidden" id="hfSubestaciones" value="" />
<input type="hidden" id="hfSuministrador" value="" />
<input type="hidden" id="hfCantidadRegistros" value="@ViewBag.hfCantidadRegistros" />
