@model COES.MVC.Intranet.Areas.RechazoCarga.Models.DemandaUsuarioModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>            
            <th><font color="#FFFFFF">     Periodo     </font></th>
            <th><font color="#FFFFFF">     Código Cliente     </font></th>
            <th><font color="#FFFFFF"> Suministrador </font></th>
            <th><font color="#FFFFFF"> RUC </font></th>
            <th style="text-align:left;"><font color="#FFFFFF">Razón Social</font></th>
            <th><font color="#FFFFFF">Sub Estación</font></th>
            <th><font color="#FFFFFF"> Demanda HP </font></th>
            <th><font color="#FFFFFF"> Demanda HFP </font></th>                 
            @for (int i = 1; i <= 96; i++)
            {
                <th><font color="#FFFFFF">@TimeSpan.FromMinutes(i * 15).ToString("hh':'mm")</font></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporteInformacion15min)
        {
        <tr class="menu-contextual">
            <td>@item.Rcdeulperiodo</td>
            <td>@item.Osinergcodi</td>
            <td>@(String.IsNullOrEmpty(item.Suministrador) ? "" : item.Suministrador)</td>
            <td>@(String.IsNullOrEmpty(item.Ruc) ? "" : item.Ruc)</td>
            <td style="text-align:left;">@item.Emprrazsocial</td>
            <td>@item.Subestacion</td>
            <td>@item.Rcdeuldemandahp</td>
            <td>@item.Rcdeuldemandahfp</td>
            @for (int i = 1; i <= 96; i++)
            {
                <td width="100px">@item.GetType().GetProperty("RCDEULH" + i).GetValue(item, null)</td>
            }
        </tr>
        }
    </tbody>
</table>

<input type="hidden" id="hfCantidadErroresValidacion" value="@Model.registros" />