@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ConfiguracionRpfModel

<script type="text/javascript">
    $(function () {
        $('#btnGrabarParametro').click(function () {
            grabarParametro();
        });
    });
</script>

<div style="width:600px">
    <div style="float:right; margin-bottom:20px">
        <input type="button" id="btnGrabarParametro" value="Grabar" />
    </div>
    <table class="tabla-formulario" border="1">
        <thead>
            <tr>
                <th>Parámetro</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Variación potencia (%):</td>
                <td style="text-align:center">
                    <input type="text" id="txtVariaconPotencia" onkeypress="return validarNumero(this, event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x => x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.VariacionPotenciaAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Constante D:</td>
                <td style="text-align:center">
                    <input type="text" id="txtConstanteD" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.ConstanteDAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
               <td>Frecuencia Nominal:</td>
                <td style="text-align:center">
                    <input type="text" id="txtFrecuenciaNominal" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaNomimalAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Balance inicial (%)</td>
                <td style="text-align:center">
                    <input type="text" id="txtBalance" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.PorcentajeBalanceAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Frecuencia Límite Máxima:</td>
                <td style="text-align:center">
                    <input type="text" id="txtFrecuenciaLimMax" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaLimiteMaxAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Frecuencia Límite Mínima:</td>
                <td style="text-align:center">
                    <input type="text" id="txtFrecuenciaLimMin" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.FrecuenciaLimiteMinAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Número de iteraciones:</td>
                <td style="text-align:center">
                    <input type="text" id="txtNroIteraciones" onkeypress="return validarNumero(this, event)" style=" width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.NumeroIntentosAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Cantidad mínima sin rango:</td>
                <td style="text-align:center">
                    <input type="text" id="txtCantidadSinRango" onkeypress="return validarNumero(this, event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.CantidadMinSinRangoAlt).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Número de datos inicial:</td>
                <td style="text-align:center">
                    <input type="text" id="txtNroDatos" onkeypress="return validarNumero(this, event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.NroDatosAlt).First().PARAMVALUE" />
                </td>
            </tr>
        </tbody>
    </table>
</div>