@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.AnalisisModel

<script type="text/javascript">
    $(function () {
        $('#btnExportar').click(function () {
            exportar();
        });

        $('#tab-container-rango').easytabs({
            animate: false
        });
    });
</script>

<div id="tab-container-rango" class='tab-container'>
    <ul class='etabs'>
        <li class='tab-alter'><a href="#pasoRango1">Rangos seleccionados</a></li>
        <li class='tab-alter'><a href="#pasoRango2">No se encuentra rango</a></li>
        <li class='tab-alter'><a href="#pasoRango3">Potencia o frecuencia en 0</a></li>
        <li class='tab-alter'><a href="#pasoRango4">Unidades que no cargaron</a></li>
    </ul>
    <div class='panel-container'>
        <div id="pasoRango1">

            <div style="clear:both; height:20px"></div>
            @if (Model.ListaOK.Count > 0)
            {
                <div style="float:right">                    
                    <input type="button" id="btnExportar" value="Exportar" />
                </div>

                <div style="clear:both; height:20px"></div>

                <table class="tabla-formulario" border="1" id="tablaUnidadesOK">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Central</th>
                            <th>Unidad</th>
                            <th>Pto Medición</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Nro datos</th>
                            <th>Balance (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaOK)
                        {
                            <tr>
                                <td>@item.EMPRNOMB</td>
                                <td>@item.EQUINOMB</td>
                                <td>@item.EQUIABREV</td>
                                <td>@item.PTOMEDICODI</td>
                                <td>@item.HORAINICIO</td>
                                <td>@item.HORAFIN</td>
                                <td>@item.NRODATOS</td>                                
                                <td>@item.BALANCE</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span>No existen rangos de evaluación.</span>
            }

        </div>
        <div id="pasoRango2">
            <div style="clear:both; height:20px"></div>
            @if (Model.ListaNoEncontrados.Count > 0)
            {
                <table class="tabla-formulario" border="1" id="tablaUnidadesSinRango">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Central</th>
                            <th>Unidad</th>
                            <th>Pto Medición</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaNoEncontrados)
                        {
                            <tr>
                                <td>@item.EMPRNOMB</td>
                                <td>@item.EQUINOMB</td>
                                <td>@item.EQUIABREV</td>
                                <td>@item.PTOMEDICODI</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            
        </div>
        <div id="pasoRango3">

            @if (Model.ListIncorrecto.Count > 0)
            {
                <div style="clear:both; height:20px"></div>
                <table class="tabla-formulario" border="1" id="tablaFrecuenciaPotenciaCero">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Central</th>
                            <th>Unidad</th>
                            <th>Pto Medición</th>
                            <th>Potencia</th>
                            <th>Frecuencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListIncorrecto)
                        {
                            <tr>
                                <td>@item.EMPRNOMB</td>
                                <td>@item.EQUINOMB</td>
                                <td>@item.EQUIABREV</td>
                                <td>@item.PTOMEDICODI</td>
                                <td>@item.INDICADORPOTENCIA</td>
                                <td>@item.INDICADORFRECUENCIA</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            
        </div>
        <div id="pasoRango4">

            @if (Model.ListaNoCargaron.Count > 0)
            {
                <div style="clear:both; height:20px"></div>
                <table class="tabla-formulario" border="1" id="tablaUnidadesNoCargaron">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Central</th>
                            <th>Unidad</th>
                            <th>Pto Medición</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaNoCargaron)
                        {
                            <tr>
                                <td>@item.EMPRNOMB</td>
                                <td>@item.EQUINOMB</td>
                                <td>@item.EQUIABREV</td>
                                <td>@item.PTOMEDICODI</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            
        </div>
    </div>
</div>