@model COES.MVC.Extranet.Areas.CalculoResarcimiento.Model.DeclaracionModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/CalculoResarcimiento/Content/Scripts/declaracion.js?v=1.0.1"></script>
<link href="~/Areas/CalculoResarcimiento/Content/Css/css.css?v=3" rel="stylesheet" />


<div class="form-title">
    DECLARACIÓN DE INTERRUPCIONES DE SUMINSTRO -
    <span id="lbEmpresa">@Model.Emprnombre</span>
    <span class="form-title-action" id="spanCambiarEmpresa">[CAMBIAR EMPRESA]</span>
    <input type="hidden" id="hfIdEmpresa" value="@Model.Emprcodi" />
    <input type="hidden" id="hfIndEmpresa" value="@Model.IndicadorEmpresa" />

    <input type="hidden" id="hdEmpresa" />
    <input type="hidden" id="hdPeriodo" />
</div>

<div class="form-main">

    <div id="mensaje" class="action-message">Por favor seleccione empresa y periodo</div>

    <div class="search-content" style="padding: 5px;">

        <table class="content-tabla-search1" style="width:100%">
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>

                            <td class="celda-item">Año:</td>
                            <td>
                                <input type="text" id="txtAnio" value="@Model.Anio" style="width:62px;" />
                            </td>

                            <td class="celda-item" style="padding-left: 15px;">Periodo:</td>
                            <td>
                                <select id="cbPeriodo">
                                    <option value="-2">-SELECCIONE-</option>
                                    @foreach (var item in Model.ListaPeriodo)
                                    {
                                        <option value="@item.Repercodi">@item.Repernombre</option>
                                    }
                                </select>
                            </td>

                            <td style="padding-left: 15px;">
                                <input type="button" id="btnConsultar" value="Consultar" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="width: 50px;">
                    <div id="divEnviar" class="content-action" style="display: none;">
                        <a href="#" id="btnEnviarDatos">
                            <div class="content-item-action">
                                <img src="~/Content/Images/enviar.png" /><br />
                                <span>Enviar</span>
                            </div>
                        </a>
                    </div>
                </td>
                <td style="width: 70px;">
                    <div id="divVerEnvios" class="content-action" style="display: none;">
                        <a href="#" id="btnVerEnvios">
                            <div class="content-item-action">
                                <img src="~/Content/Images/envios.png" /><br />
                                <span>Ver envíos</span>
                            </div>
                        </a>
                    </div>
                </td>
        </table>
    </div>
    <div id="bloquedeclaracion" style="display: none;">
        <table class="" style="width: 70%; text-align: center;">
            <tr>
                <td style="text-align: right;">
                    <h3>¿Declara no tener interrupciones que reportar?</h3>
                </td>
                <td>
                    <label for="si">Si</label><br>
                    <input type="radio" id="rbt_si" name="declaracionValor" value="S">

                </td>
                <td>
                    <label for="no">No</label><br>
                    <input type="radio" id="rbt_no" name="declaracionValor" value="N">

                </td>
            </tr>
        </table>
    </div>
</div>

<div id="popupEmpresa" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Seleccionar empresa</span></div>
    <div class="popup-text" id="contenidoEmpresa">

    </div>
</div>

<div id="enviosDeclaracion" class="general-popup" style="z-index:9999999999;height: 350px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Envíos anteriores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoEnvio">
            <table id="tablalenvio" style="width:330px" class="pretty tabla-adicional">
                <thead>
                    <tr>
                        <th>ID envío</th>
                        <th>Usuario</th>
                        <th>Fecha y Hora</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
