@model COES.MVC.Extranet.Areas.IEOD.Models.PronosticoModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Fmto</th>
            <th>PtoMedición</th>
            <th>Fecha</th>
            <th title="Nro. intervalos donde se encuentra variaciones respecto a la información historica"># Desv.</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Formatresolucion == 30)
        {
            foreach (var item in Model.ListaPrnMed48)
            {
                var sFecha = item.Medifecha.ToString("yyyyMMdd");
                var iLectcodi = item.Prnm48tipo;
                var sPK = item.Ptomedicodi + "_" + iLectcodi + "_" + sFecha;
                var iNumDesviaciones = item.Meditotal;
                var sColor = "";
                var sTipFormato = "ED";
                var sFormato = "Ejecutado diario";
                if (iLectcodi == 110)
                {
                    sTipFormato = "PD";
                    sFormato = "Previsto diario";
                }
                else if (iLectcodi == 102)
                {
                    sTipFormato = "PS";
                    sFormato = "Previsto semanal";
                }
                if (item.Meditotal <= 0)
                {
                    iNumDesviaciones *= -1;
                    sColor = "background-color:#ffd800;";
                }
                <tr id="fila_@item.Ptomedicodi">
                    <td class="text_left" style="text-align:left; @sColor" title="@sFormato">@sTipFormato</td>
                    <td class="text_left" style="text-align:left; @sColor">@item.Ptomedidesc</td>
                    <td class="text_left" style="text-align:center; @sColor">@item.Medifecha.ToString("dd/MM/yyyy")</td>
                    <td class="text_left" style="text-align:right; @sColor" title="@sPK">@iNumDesviaciones</td>
                    <td style="width:30px; @sColor"><a href="#" id="detalle_@sPK" class="viewdetalle"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar informacion del registro" alt="Editar informacion del registro" /></a></td>
                </tr>
            }

        }
    </tbody>
</table>