@model COES.MVC.Intranet.Areas.Medidores.Models.InterconexionModel
@{
    ViewBag.Title = "IndexHistorico";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<script src="~/Areas/Medidores/Content/Scripts/reporteshistinter.js"></script>
<div class="form-title">
    <div class="content-titulo">Consulta Histórica de Intercambios Internacionales</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
          <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="spfilter-container">
      <table>
       <tr>
           <td>
                <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa"  name="Idempresa" >
                     @foreach (var item in Model.ListaEmpresas)
                     {   
                          <option value="@item.Emprcodi">@item.Emprnomb</option>
                     }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.empresa"/>
                </td>
                <td>Linea:</td>
                <td>
                    <select id="cbLinea"  name="IdLinea" >
                       <option value="5020">L-2280 (Zorritos - Machala)</option>
                    </select>
                    <input type="hidden" id="hfLinea" name="linea" value="@Model.empresa"/>
                </td>
            </tr>
            <tr>
                <td>Fecha desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  /></td>
                <td>Fecha hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" /></td>
            </tr>
        </table>
           </td>
           <td>
                <div class="home-txt" style="float:right;font-size:11px; width:400px">
                    CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
                    * <strong>PR-N° 27:</strong> EGRESOS POR COMPRA DE POTENCIA<br />
                    * <strong>PR-N° 28:</strong> INGRESOS GARANTIZADOS POR POTENCIA FIRME<br />
                    * <strong>PR-N° 43:</strong> : INTERCAMBIOS INTERNACIONALES DE ELECTRICICDAD EN MARCO DE LA DECISIÓN DE 757 DE LA CAN
                </div>
           </td>
       </tr>
      </table>
    </div>
<div class="content-tabla">
    <div class="tabla-header">       
        <div class="table-paginado" id="paginado"></div>
    </div>
    <div style="clear:both; height:5px"></div>
    <div class="table-list" id="listado"></div>
</div>

<div style="clear:both; height:30px"></div>

</div>