@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.GeneracionProyectadaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Generacion Proyectada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/load.js"></script>
<script src="~/Areas/AporteIntegrantes/Content/Scripts/generacionproyectada.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Datos proyectados de Generación</div>
    </div>
    <div class="content-hijo">
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            @if (Model.EntidadPresupuesto.Caiprscodi > 0 && Model.EntidadAjuste.Caiajcodi > 0)
            {
                <div class="action-message" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Prespuesto de consulta: @Model.EntidadPresupuesto.Caiprsnombre / @Model.EntidadAjuste.Caiajnombre</div>
            }
            else
            {
                <div class="action-messege" id="mensaje" style="margin-bottom:5px; margin-top:0px;">Seleccionar Año de Presupuesto y Versión de Ajuste</div>
            }
            <table>
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="table-search">
                                <tr>
                                    <td style="width:120px"><div>Presupuesto Anual: </div></td>
                                    <td style="width:180px">
                                        <div class="editor-field" style="width:50px">
                                            <select id="caiprscodi" name="caiprscodi" onchange="refrescar();">
                                                @foreach (var item in Model.ListaPresupuesto)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiprscodi == Model.Caiprscodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiprscodi" @sSelected>@item.Caiprsnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:60px">Ajuste: </td>
                                    <td style="width:250px">
                                        <div class="editor-field" style="width:250px">
                                            <select id="caiajcodi" name="caiajcodi" style="width:250px">
                                                @foreach (var item in Model.ListaAjuste)
                                                {
                                                    sSelected = "";
                                                    if (@item.Caiajcodi == Model.Caiajcodi)
                                                    {
                                                        sSelected = "selected";
                                                    }
                                                    <option value="@item.Caiajcodi" @sSelected>@item.Caiajnombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

                        </div>
                        <div>
                            <table>
                                <tr style="height:50px">
                                    <td style="width:200px"><div>Importar Duracion del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelDur" alt="Copiar Duracion del SDDP" title="Copiar Duracion del SDDP" /></div></td>
                                </tr>
                                <tr style="height:50px">
                                    <td style="width:150px"><div>Importar Renovables del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelRen" alt="Copiar Renovables del SDDP" title="Copiar Renovables del SDDP" /></div></td>
                                </tr>
                                <tr style="height:50px">
                                    <td style="width:150px"><div>Importar Térmicas del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelTer" alt="Copiar Térmicas del SDDP" title="Copiar Térmicas del SDDP" /></div></td>
                                </tr>
                                <tr style="height:50px">
                                    <td style="width:150px"><div>Importar Hidraúlicas del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelHid" alt="Copiar Hidraúlicas del SDDP" title="Copiar Hidraúlicas del SDDP" /></div></td>
                                </tr>
                                <tr style="height:50px">
                                    <td style="width:150px"><div>Importar Costo Marginal del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelCmg" alt="Copiar Costo Marginak del SDDP" title="Copiar Costo Marginak del SDDP" /></div></td>
                                </tr>
                                <tr style="height:50px">
                                    <td style="width:150px"><div>Importar Parámetros del SDDP: </div></td>
                                    <td><div><input type="button" value="Importar Archivo" id="btnSelecionarExcelPar" alt="Copiar Parámetros del SDDP" title="Copiar Parámetros del SDDP" /></div></td>
                                </tr>
                                <tr>
                                    <td><div><input type="button" value="Procesar CMG" id="btnProcesarCMG" alt="Procesar CMG" title="Procesar CMG" /></div></td>
                                    <td><div><input type="button" value="Procesar Energía" id="btnProcesarEnergia" alt="Procesar Energía" title="Procesar Energía" /></div></td>
                                    <td><div><input type="button" value="Importar Resultados CMG" id="btnImpResCMG" alt="Importar Resultados CMG" title="Importar Resultados CMG" /></div></td>
                                    <td><div><input type="button" value="Importar Resultados Energia" id="btnImpResENG" alt="Importar Resultados Energia" title="Importar Resultados Energia" /></div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
