@model  COES.MVC.Intranet.Areas.TransfPotencia.Models.ActualizarTrasEmpFusionModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Periodo</th>
            <th>Saldo</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSaldosNoIdentificados)
        {

            <tr>
                <td style="text-align:left;">@item.DescEmpresaNI</td>
                <td>@item.DescPeriodoNI / @item.DescVersionNI</td>
                <td>@item.SaldoNI.ToString("#,##0.00")</td>
                <td>@(item.FechaNI == null ? "" : item.FechaNI.Value.ToString("dd/MM/yyyy"))</td>
            </tr>
        }
    </tbody>
</table>
<div id="popup22"></div>