@model COES.MVC.Extranet.Areas.Eventos.Models.AnalisisFallasModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tabla" aria-describedby="evento">
    <thead>
        <tr>
            <th scope="col">Empresa Solicitante</th>
            <th scope="col">Fecha del Evento</th>
            <th scope="col">Descripción resumida del Evento</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Estado</th>
            <th scope="col">Usuario Registro</th>
            <th scope="col">Archivos Adjuntados </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListSolicitudes)
        {
        <tr>
            <td>@item.Emprnomb</td>
            <td>
                @if (item.Sorespfechaevento != null)
                {
                    <span>@(((DateTime)item.Sorespfechaevento).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                }
            </td>
            <td>@item.Sorespdesc</td>
            <td>
                @if (item.Sorespfeccreacion != null)
                {
                    <span>@(((DateTime)item.Sorespfeccreacion).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                }
            </td>
            <td>@item.Estado</td>
            <td>@item.Sorespusucreacion</td>
            @*<td>@item.Soresparchivoinf</td>*@

            <td>
                <a href="JavaScript:VerArchivosAdjuntados(@item.Sorespcodi)" title="Ver archivos">
                    <img src="~/Content/Images/btn-open.png" style="margin-top: 3px; width:18px; height:18px;" alt="Ver archivos"/>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>