@model COES.MVC.Intranet.Areas.Proteccion.Models.EquipoProteccionEditarModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Menu contextual-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/equipoProteccionEditar.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/util.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/json2.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreemenu.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/timeline.min.js"></script>


<link href="~/Areas/Proteccion/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/uitree.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Proteccion/Content/Css/timeline.min.css" rel="stylesheet" />
<link href="~/Areas/Proteccion/Content/Css/popup.css" rel="stylesheet" />


<div class="form-title_intranet">
    <div class="content-botonera" id="container">
    </div>
</div>
<div id="popupFormatoEnviadoOk" style="min-height:100px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Formato enviado exitosamente!</span></div>
    <div style="text-align:center; margin:auto;">
        <div style="clear:both; height:10px"></div>
        <div>
            <input type="button" id="btnAceptarOK" value="Aceptar" />
        </div>
    </div>
</div>


<div id="divPrincipal" name="divPrincipal">
    <div class="form-title">
        <div class="content-titulo" id="tituloEditar">Equipamiento de Protección</div>
        <div class="content-botonera">
            <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 5px; margin-right:-9px" />
        </div>
    </div>
    <div class="panel-container" style="padding:10px">
        <input type="hidden" id="hdnMemoricaCalculo" name="hdnMemoricaCalculo" value="0" />
        <input type="hidden" id="hdnMemoricaCalculoText" name="hdnMemoricaCalculoText" value="@Model.mCalculo" />
        @using (Html.BeginForm("Editar", "Area", FormMethod.Post, new { @name = "frmEditarProyecto", id = "frmEditarProyecto" }))
        {
            @Html.HiddenFor(m => m.equicodi)
            @Html.HiddenFor(m => m.accion)

            <h4 style="margin-top:0px">Datos actuales de la subestación</h4>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:20%"></th>
                        <th style="width:5%"></th>
                        <th style="width:15%"></th>
                        <th style="width:12%"></th>
                        <th style="width:15%"></th>
                        <th style="width:14%"></th>
                        <th style="width:20%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label ">Subestación:</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idSubestacion", new SelectList(Model.listaSubestacion, "Areacodi", "Areanomb", Model.idSubestacion), "SELECCIONAR", new { @style = "width:67%;" }))
                            <a id="btnActualizarSE" title="Actualizar Subestación"><img src="~/Content/Images/btn-undo.png" alt="Actualizar" style="width:15px"></a>
                            <a id="btnAgregarSE" title="Agregar Subestación"><img src="~/Content/Images/btn-add.png" alt="Agregar" style="width:15px"></a>
                        </td>
                        <td class="tbform-label">Zona:</td>
                        <td class="control-no-padding">
                            <input type="text" id="zona" name="zona" value="@Model.zona" disabled style="width:90%" />
                        </td>
                        <td class="tbform-label">Fecha creación:</td>
                        <td class="control-no-padding">
                            <input type="text" id="fechaCreacion" name="fechaCreacion" value="@Model.fechaCreacion" disabled style="width:90%" />
                        </td>
                        <td class="tbform-label">Fecha últ. actualización:</td>
                        <td class="control-no-padding">
                            <input type="text" id="fechaActualizacion" name="fechaActualizacion" value="@Model.fechaActualizacion" disabled style="width:90%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Celda o Generador(*):</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idCelda", new SelectList(Model.listaCelda, "Equicodi", "Equinomb", Model.idCelda), "SELECCIONAR", new { @style = "width:67%;" }))
                            <a id="btnActualizarCelda" title="Actualizar Celdas"><img src="~/Content/Images/btn-undo.png" alt="Actualizar" style="width:15px"></a>
                            <a id="btnAgregarCelda" title="Agregar Celdas"><img src="~/Content/Images/btn-add.png" alt="Agregar" style="width:15px"></a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>

            <h4>Datos de Seguimiento</h4>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:63%"></th>
                        <th style="width:13%"></th>
                        <th style="width:14%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label">Proyecto(*):</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idProyecto", new SelectList(Model.listaProyecto, "Epproycodi", "Epproynomb", Model.idProyecto), "SELECCIONAR", new { style = "width: 98%;" }))
                        </td>
                        <td class="tbform-label">Fecha:</td>
                        <td class="control-no-padding">
                            <input type="text" id="fechaRele" name="fechaRele" value="@Model.fechaRele" style="width:100%" disabled />
                        </td>
                    </tr>
                </table>
            </div>

            <h4>Datos generales del Relé</h4>
            <div class="search-content" style="margin-bottom:0px; padding:15px">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:22%"></th>
                        <th style="width:10%"></th>
                        <th style="width:22%"></th>
                        <th style="width:10%"></th>
                        <th style="width:22%"></th>
                    </tr>
                    <tr>
                        <td class="tbform-label">Nombre(*):</td>
                        <td class="control-no-padding">
                            <input type="text" id="codigoRele" name="codigoRele" value="@Model.codigoRele" maxlength="20" style="width:90%" />
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                        <td class="tbform-label"></td>
                        <td class="control-no-padding">
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Titular(*):</td>
                        <td class="control-no-padding">

                            @(Html.DropDownList("idTitular", new SelectList(Model.listaTitular, "Emprcodi", "Emprnomb", Model.idTitular), "SELECCIONAR", new { style = "width: 90%;" }))
                            <!-- @(Html.DropDownList("idTitular", new SelectList(Model.listaTitular, "Emprcodi", "Emprcodi", Model.idTitular), "SELECCIONAR"))-->
                        </td>
                        <td class="tbform-label">Tensión (KV)(*)</td>
                        <td class="control-no-padding">
                            <input id="tensionRele" name="tensionRele" value="@Model.tensionRele" type="number" style="width:90%" />
                        </td>
                        <td class="tbform-label">Sistema de Relé(*):</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idSistemaRele", new SelectList(Model.listaSistemaRele, "Eqcatdcodi", "Eqcatddescripcion", Model.idSistemaRele), "SELECCIONAR", new { style = "width: 90%;" }))
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label">Marca(*):</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idMarca", new SelectList(Model.listaMarca, "Eqcatdcodi", "Eqcatddescripcion", Model.idMarca), "SELECCIONAR", new { style = "width: 90%;" }))
                        </td>
                        <td class="tbform-label">Modelo(*):</td>
                        <td class="control-no-padding">
                            <input type="text" id="modeloRele" name="modeloRele" value="@Model.modeloRele" maxlength="50" style="width:90%" />
                        </td>
                        <td class="tbform-label">Tipo de uso(*):</td>
                        <td class="control-no-padding">
                            @(Html.DropDownList("idTipoUso", new SelectList(Model.listaTipoUso, "Eqcatdcodi", "Eqcatddescripcion", Model.idTipoUso), "SELECCIONAR", new { style = "width: 90%;" }))
                        </td>
                    </tr>
                </table>
            </div>

            <div id="divGeneralRele">
                <h4>Tipo de uso general</h4>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table style="width:100%;margin-right: auto" class="table-form-show">
                        <tr>
                            <th style="width: 32%"></th>
                            <th style="width: 33%"></th>
                            <th style="width:1%"></th>
                            <th style="width:33%"></th>
                            <th style="width:1%"></th>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td style="font-weight: bold;">
                                <p style="margin-left:110px"> Primario</p>
                            </td>
                            <td>
                            </td>
                            <td style="font-weight: bold;">
                                <p style="margin-left:110px"> Secundario</p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Relación del transformador de corriente (RTC):</td>
                            <td class="tbform-control">
                                <input id="rtcp" name="rtcp" style="width: 100%;" value="@Model.rtcp" type="number" />
                            </td>
                            <td>
                                (A)
                            </td>
                            <td class="tbform-control">
                                <input id="rtcs" name="rtcs" style="width: 100%;" value="@Model.rtcs" type="number" />
                            </td>
                            <td>
                                (A)
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Relación del transformador de tensión (RTT):</td>
                            <td class="tbform-control">
                                <input id="rttp" name="rttp" style="width: 100%;" value="@Model.rttp" type="number" />
                            </td>
                            <td>
                                (kV)
                            </td>
                            <td class="tbform-control">
                                <input id="rtts" name="rtts" style="width: 100%;" value="@Model.rtts" type="number" />
                            </td>
                            <td>
                                (kV)
                            </td>
                        </tr>
                        <tr>
                            <td class="tbform-label">Protecciones Coordinables:</td>
                            <td class="tbform-control" colspan="4">
                                <input id="pCoordinables" name="pCoordinables" style="width: 97%;" value="@Model.pCoordinables" type="text" maxlength="50" />
                            </td>
                        </tr>
                        <tr>

                            <td class="tbform-label">Memoria de Cálculo:</td>
                            <td class="tbform-control" colspan="4">
                                <div class="container">
                                    <input type="text" id="mCalculo" name="mCalculo" value="@Model.mCalculoTexto" style="width:250px" readonly="readonly" />
                                    <input id="btnUpload" value="Seleccionar Archivo" type="button">
                                    <input id="btnCargar" value="Cargar" type="button">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th style="width:90%">
                            </th>
                            <th style="width:10%">
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h4>Ajuste de sincronismo</h4>
                                <div class="search-content" style="margin-bottom:0px; padding:15px">
                                    <table style="width:100%;margin-right: auto" class="table-form-show">
                                        <tr>
                                            <th style="width:10%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:24%">
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="tbform-label">Activo</td>
                                            <td class="tbform-label">Código Interruptor</td>
                                            <td class="tbform-label">Delta de tensión (kV) ph-ph</td>
                                            <td class="tbform-label">Delta del ángulo</td>
                                            <td class="tbform-label">Delta de frecuencia (mH2)</td>
                                        </tr>
                                        <tr>
                                            <td class="control-no-padding">
                                                @if (Model.asActivo == "S")
                                                {
                                                    <input type="checkbox" id="asActivo" name="asActivo" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="asActivo" name="asActivo" />
                                                }
                                            </td>
                                            <td class="control-no-padding">
                                                @(Html.DropDownList("asInterruptor", new SelectList(Model.listaInterruptor, "Equicodi", "Equinomb", Model.asInterruptor), "SELECCIONAR"))
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="asTension" name="asTension" value="@Model.asTension" style="width: 130px" />
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="asAngulo" name="asAngulo" value="@Model.asAngulo" style="width: 130px" />
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="asFrecuencia" name="asFrecuencia" value="@Model.asFrecuencia" style="width: 130px" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <h4>Umbral de sobrecorrientes</h4>
                                <div class="search-content" style="margin-bottom:0px; padding:15px;">
                                    <table style="width:100%;margin-right: auto" class="table-form-show">
                                        <tr>
                                            <th style="width:36%">
                                            </th>
                                            <th style="width:65%">
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="tbform-label">Activo</td>
                                            <td class="tbform-label">[A]</td>
                                        </tr>
                                        <tr>
                                            <td class="control-no-padding">
                                                @if (Model.checkUmbral == "S")
                                                {
                                                    <input type="checkbox" id="checkUmbral" name="checkUmbral" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="checkUmbral" name="checkUmbral" />
                                                }
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="controlUmbral" name="controlUmbral" value="@Model.controlUmbral" style="width: 130px" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="width:90%"></th>
                            <th style="width:10%"></th>
                        </tr>
                        <tr>
                            <td>
                                <h4>Ajuste de sobretensión</h4>
                                <div class="search-content" style="margin-bottom:0px; padding:15px">
                                    <table style="width:100%;margin-right: auto" class="table-form-show">
                                        <tr>
                                            <th style="width:10%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:22%">
                                            </th>
                                            <th style="width:24%">
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="tbform-label">Activo</td>
                                            <td class="tbform-label">U> [p.u]</td>
                                            <td class="tbform-label">t> [s]</td>
                                            <td class="tbform-label">U>> [p.u]</td>
                                            <td class="tbform-label">t>> [s]</td>
                                        </tr>
                                        <tr>
                                            <td class="control-no-padding">
                                                @if (Model.astActivo == "S")
                                                {
                                                    <input type="checkbox" id="astActivo" name="astActivo" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="astActivo" name="astActivo" />
                                                }
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="astU" name="astU" value="@Model.astU" style="width: 130px" />
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="astT" name="astT" value="@Model.astT" style="width: 130px" />
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="astUU" name="astUU" value="@Model.astUU" style="width: 130px" />
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="number" id="astTT" name="astTT" value="@Model.astTT" style="width: 130px" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <h4>Ajustes PMU</h4>
                                <div class="search-content" style="margin-bottom:0px; padding:15px;">
                                    <table style="width:100%;margin-right: auto" class="table-form-show">
                                        <tr>
                                            <th style="width:35%">
                                            </th>
                                            <th style="width:65%">
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="tbform-label">Activo</td>
                                            <td class="tbform-label">Acción</td>
                                        </tr>
                                        <tr>
                                            <td class="control-no-padding">
                                                @if (Model.checkAsaPmu == "S")
                                                {
                                                    <input type="checkbox" id="checkAsaPmu" name="checkAsaPmu" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="checkAsaPmu" name="checkAsaPmu" />
                                                }
                                            </td>
                                            <td class="control-no-padding">
                                                <input type="text" id="controlAsaPmu" name="controlAsaPmu" value="@Model.controlAsaPmu" style="width: 130px" maxlength="50" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <table>
                <tr>
                    <th style="width:33%"></th>
                </tr>
                <tr>
                    <td>
                        <div id="divMandoRele">
                            <h4>Tipo de Uso Mando Sincronizado</h4>
                            <div class="search-content" style="margin-bottom:0px; padding:15px">
                                <table>
                                    <tr>
                                        <th style="width:13%"></th>
                                        <th style="width:35%"></th>
                                        <th style="width:14%"></th>
                                        <th style="width:35%"></th>
                                    </tr>
                                    <tr>
                                        <td class="tbform-label">Código Interruptor:</td>
                                        <td>
                                            @(Html.DropDownList("codigoInterruptor", new SelectList(Model.listaInterruptor, "Equicodi", "Equinomb", Model.codigoInterruptor), "SELECCIONAR"))
                                        </td>
                                        <td class="tbform-label">Mando Sincronizado:</td>
                                        <td>  @(Html.DropDownList("idMandoSincronizado", new SelectList(Model.listaMandoSincronizado, "Eqcatdcodi", "Eqcatddescripcion", Model.idMandoSincronizado), "SELECCIONAR")) </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <div id="divTorcionalRele">
                            <h4>Tipo de Relé Torsional:</h4>
                            <div class="search-content" style="margin-bottom:0px; padding:15px">
                                <table>
                                    <tr>
                                        <th style="width:13%"></th>
                                        <th style="width:35%"></th>
                                        <th style="width:14%"></th>
                                        <th style="width:35%"></th>
                                    </tr>
                                    <tr>
                                        <td class="tbform-label">Medida de Mitigación:</td>
                                        <td> <input type="text" id="medidaMitigacion" name="medidaMitigacion" value="@Model.medidaMitigacion" style="width:70%" maxlength="50" /> </td>
                                        <td class="tbform-label" style="padding-left:5px">Relé Torsional Impl.:</td>
                                        <td>  @(Html.DropDownList("idReleTorcionalImpl", new SelectList(Model.listaReleTorcionalImpl, "Eqcatdabrev", "Eqcatddescripcion", Model.idReleTorcionalImpl), "-Seleccionar-")) </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th style="width:33%"></th>
                </tr>
                <tr>
                    <td style="width:33%">
                        <div id="divPmuRele">
                            <h4>Tipo de Uso Relé PMU</h4>
                            <div class="search-content" style="margin-bottom:0px; padding:15px">
                                <table>
                                    <tr>
                                        <th style="width:13%"></th>
                                        <th style="width:35%"></th>
                                        <th style="width:14%"></th>
                                        <th style="width:35%"></th>
                                    </tr>
                                    <tr>
                                        <td class="tbform-label">Acción:</td>
                                        <td> <input type="text" id="pmuAccion" name="pmuAccion" value="@Model.pmuAccion" style="width:70%" maxlength="50" /> </td>
                                        <td class="tbform-label">Relé PMU Implementado:</td>
                                        <td>  @(Html.DropDownList("idRelePmuImpl", new SelectList(Model.listaRelePmuImpl, "Eqcatdabrev", "Eqcatddescripcion", Model.listaRelePmuImpl), "-Seleccionar-")) </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="divLineaTiempo" name="divLineaTiempo">
                <h4>Historial de cambios del Relé</h4>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <div id="lineaTiempo" name="lineaTiempo"></div>
                </div>
            </div>
            <div class="content-botonera" style="margin-top:10px">
                <input type="button" value="Grabar" id="btnGrabar" name="btnGrabar" class="form-action" style="margin-top: 0px; margin-right:-9px" />
            </div>
        }
    </div>
</div>


