@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoLineaTiempoModel




@if (Model.ListaLineaTiempo.Count > 0)
{
    <div id="divLineatiempo" name="divLineatiempo">
        <div style="width:290px;">
            <strong style="margin-left:5px">Leyenda</strong>
            <div class="search-content" margin-top:5px">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 15px; height: 15px; background-color: gray"></div>
                        </td>
                        <td>Histórico</td>
                        <td>
                            <div style="width: 15px; height: 15px; background-color: blue; margin-left:5px"></div>
                        </td>
                        <td>Previo</td>
                        <td>
                            <div style="width: 15px; height: 15px; background-color: green; margin-left: 5px "></div>
                        </td>
                        <td>Activo</td>
                        <td>
                            <div style="width: 15px; height: 15px; background-color: red; margin-left: 5px "></div>
                        </td>
                        <td>Baja</td>

                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div >
            <div class="timeline" id="timeline-container">
                <div class="timeline__wrap" style="min-height: 250px;">
                    <div class="timeline__items" id="hisLineatiempo"  >
                        @foreach (var item in Model.ListaLineaTiempo)
                        {
                            <div class="timeline__item">
                                @if (item.Estado == "P")
                                {
                                    <div class="timeline__content linea-tiempo-estado-previo" style="padding:5px;">
                                        <p class="timeline-item-fecha">Fecha:@item.Fecha</p>
                                        <p class="timeline-item-proyecto">Proyecto:@item.ProyectoNomb</p>
                                        <p class="timeline-item-proyecto">@item.ProyectoDesc</p>
                                        <p class="timeline-item-proyecto">@item.Modelo</p>
                                    </div>
                                }
                                else if (item.Estado == "A")
                                {
                            <div class="timeline__content linea-tiempo-estado-activo" style="padding:5px">
                                <p class="timeline-item-fecha">Fecha:@item.Fecha</p>
                                <p class="timeline-item-proyecto">Proyecto:@item.ProyectoNomb</p>
                                <p class="timeline-item-proyecto">@item.ProyectoDesc</p>
                                <p class="timeline-item-proyecto">@item.Modelo</p>
                            </div>
                                }
                                else if (item.Estado == "B")
                                {
                            <div class="timeline__content linea-tiempo-estado-baja" style="padding:5px">
                                <p class="timeline-item-fecha">Fecha:@item.Fecha</p>
                                <p class="timeline-item-proyecto">Proyecto:@item.ProyectoNomb</p>
                                <p class="timeline-item-proyecto">@item.ProyectoDesc</p>
                                <p class="timeline-item-proyecto">@item.Modelo</p>
                            </div>
                                }
                                else if (item.Estado == "X")
                                {
                            <div class="timeline__content linea-tiempo-estado-actualizacion" style="padding:5px">
                                <p class="timeline-item-fecha">Fecha:@item.Fecha</p>
                                <p class="timeline-item-proyecto">Proyecto:@item.ProyectoNomb</p>
                                <p class="timeline-item-proyecto">@item.ProyectoDesc</p>
                                <p class="timeline-item-proyecto">@item.Modelo</p>
                            </div>
                                }
                                else
                                {
                            <div class="timeline__content linea-tiempo-estado-otro" style="padding:5px">
                                <p class="timeline-item-fecha">Fecha:@item.Fecha</p>
                                <p class="timeline-item-proyecto">Proyecto:@item.ProyectoNomb</p>
                                <p class="timeline-item-proyecto">@item.ProyectoDesc</p>
                                <p class="timeline-item-proyecto">@item.Modelo</p>
                            </div>
                                }

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        <div id="divMensajeLineaTiempo" name="divMensajeLineaTiempo" class="action-message"> No se encontró datos de cambios del relé </div>
    }
