@model COES.MVC.Intranet.Areas.Proteccion.Models.ListadoEquipoProteccionModelModel


<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Relé</th>
            <th>Celda</th>
            <th>Tensión</th>
            <th>Sistema</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tipo de Uso</th>
            <th>Estado</th>
            <th>Memoria Cálculo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEquipoProteccion.Count > 0)
        {
            foreach (var item in Model.ListaEquipoProteccion)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Equicodi, 'CONSULTAR');" title="Consultar datos del relé"><img src="~/Content/Images/btn-open.png" alt="Consultar"></a>
                        @if (@item.Estado == "PREVIO")
                        {
                            <a href="JavaScript:editar(@item.Equicodi, 'EDITAR');" title="Editar datos del relé"><img src="~/Content/Images/btn-edit.png" alt="Editar"></a>
                        }
                        <a href="JavaScript:editarCambioEstado(@item.Equicodi);" title="Cambiar estado del relé"><img src="~/Content/Images/btn-undo.png" alt="Cambiar"></a>

                    </td>

                    <td>@item.Equinomb</td>
                    <td>@item.Celda</td>
                    <td>@item.Tension</td>
                    <td>@item.Sistema</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.TipoUso</td>
                    <td>@item.Estado</td>
                    <td>
                        @if (@item.MemoriaCalculo != "")
                        {
                            <a href="JavaScript:descargarArchivo('@item.MemoriaCalculo',@item.Equicodi)">@item.MemoriaCalculoTexo</a>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>