@model COES.MVC.Intranet.Areas.SupervisionPlanificacion.Models.DesviacionModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Código</th>            
            <th>Fecha Desviación</th>
            <th>Punto de Medición</th>
            <th>Descripción</th>
            <th>Código desviación</th>
            <th>Tipo desviación</th>
            <th>Usuario actualizó</th>
            <th>Fecha actualización</th>

        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model.ListaDesviaciones)
        {
            <tr>
                <td>@item.Lectcodi</td>
                <td>@item.Desvfecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Ptomedicodi</td>
                <td>@item.Ptomedidesc</td>
                <td>@item.Medorigdesv</td>
                <td>
                    @{
                        switch (@item.Medorigdesv)
                        {                           
                            case 1:
                            {
                                <span>Hidrología</span>
                                 break;
                            }
                            case 2:
                            {
                                 <span>Mantenimiento de generación</span>
                                 break;
                            }
                            case 3:
                            {
                                <span>Mantenimiento de líneas</span>
                                break;
                            }
                            case 4:
                            {
                                <span> Congestión</span>
                                break;
                            }
                            case 5 :
                            {
                               <span>Gas Camisea (disponibilidad)</span>
                               break;
                            }
                            case 6:
                            {
                               <span>Contingencia</span>
                               break;
                            }
                            case 7 :
                            {
                               <span>Demanda</span>
                               break;
                            }
                            case 8:
                            {
                               <span>Otros</span>
                                break;
                            }
                       }
                  }
                </td>
                <td>@item.Lastuser</td>
                <td>@item.Lastdate.ToString("dd/MM/yyyy HH:mm:ss")</td>
            </tr>
        }    
    </tbody>
</table>

<input type="hidden" value="@Model.Indicador" id="hfIndicador" />
