@{
    Layout = null;
}

<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-puntoentrega-paginado.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-reporte-entrega-grilla.js"></script>

<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />

<table id="tblTramites" border="0" class="pretty tabla-formulario tabla-icono">
    <thead>
        <tr>
            <th>
                Ver Empresas <br /> Responsables
            </th>
            <th>
                Empresa <br />Generadora
            </th>
            <th>
                Clientes
            </th>
            <th>
                Punto de Entrega
            </th>
            <th>
                Tipo <br /> Interrupci&oacute;n
            </th>
            <th>
                Fecha de Inicio<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                Fecha de Fin<br /> dd/mm/aaaa hh:mm
            </th>
            <th>
                Duraci&oacute;n<br /> hh:mm
            </th>
            <th>
                Compensaci&oacute;n <br /> USD
            </th>
            <th>
                Causa Resumida<br /> de Interupci&oacute;n
            </th>
            <th>
                Trámite por Fuerza<br />mayor (SI/NO)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var mp in Model)
            {
                string @nreg = "nreg" + @mp.RPEKEY;
                <tr id="@nreg" style="background-color:@mp.BackgroundColor;" data-registro="@mp.RPEKEY">
                    <td><a class="btnOpenFileManagerEmpResponsable btn-table" data-registro="@mp.RPEKEY" style="display:block;" title="Empresas Responsables de Interrupcion"><img src="~/Content/Images/btn-open.png" /></a></td>
                    <td>@mp.RPEEMPRESAGENERADORANOMBRE</td>
                    <td style="text-align:left">@mp.RPECLIENTENOMBRE</td>
                    <td>@mp.RPEPUNTOENTREGANOMBRE</td>
                    <td>@mp.RPETIPOINTNOMBRE</td>
                    <td>@string.Format("{0:" + @COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RPEFECHAINICIO)</td>
                    <td>@string.Format("{0:" + @COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", @mp.RPEFECHAFIN)</td>
                    <td class="select-btnclick" style="text-align:right !important;">@mp.RPEDURACION</td>
                    <td>@string.Format("{0:0.00}", @mp.RPECOMPENSACION)</td>
                    <td>@mp.RPECAUSAINTERRUPCION</td>
                    <td>@mp.RPETRAMFUERMAYOR</td>
                </tr>
            }
        }
    </tbody>

</table>

<script>
    $('#divGeneral .search-result > .tabla-formulario').dataTable({
        "iDisplayLength": 25
    });
</script>