@model COES.MVC.Intranet.Areas.Subastas.Models.ProcesoModel
@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
    <input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

    <h2>@Model.Mensaje</h2>

    return;
}

@{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Areas/Subastas/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Content/Scripts/messaje-operation.js"></script>
<script src="~/Areas/Subastas/Content/Scripts/smamodooperacion.js?v=1.1"></script>

<div class="form-title">
    <div class="content-titulo">Modo Operaci&oacute;n V&aacute;lidos</div>
    <div class="content-botonera" style="margin-left:auto">
        @if (Model.TienePermiso)
        {
            <input class="btnNuevoModoOperacion" type="button" value="Nuevo" title="Crear Nuevo Modo de Operación" />
        }
    </div>
</div>

<div class="content-hijo content-frame">
    <div class="field-group">
        <div class="field-group">
            <div class="field-wrap">
                <div>
                    <div align="center">
                        <table class="pretty tabla-formulario">
                            <thead>
                                <tr>
                                    @if (Model.TienePermiso)
                                    {
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    }
                                    <th style="text-align:left;width:100px">Grupo Modo Operaci&oacute;n</th>
                                    <th style="text-align:left;width:100px">URS</th>
                                    <th style="width:100px">Modo de Operaci&oacute;n</th>
                                    <th style="text-align:left">Nombre de Grupo</th>
                                    <th style="width:100px">Tipo de Grupo</th>
                                    <th>Fecha de Creaci&oacute;n</th>
                                    <th>Usuario de Creaci&oacute;n</th>
                                    <th style="background-color:#FF8100">Fecha Modificada</th>
                                    <th style="background-color:#FF8100">Usuario que Modific&oacute;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mp in Model.ModoOperacion)
                                {
                                    <tr>
                                        @if (Model.TienePermiso)
                                        {
                                            <td><a data-registro="@mp.Mopvcodi" class="btnEditarConfiguracion btn-table" style="display:block;cursor:pointer" title="Editar Modo Operación"><img src="~/Content/Images/btn-edit.png" /></a></td>
                                            <td><a data-registro="@mp.Mopvcodi" data-valor="@mp.Gruponomb" class="btnEliminarModoOperacion btn-table" style="display:block;cursor:pointer" title="Eliminar Modo Operación"><img src="~/Content/Images/btn-cancel.png" /></a></td>
                                        }
                                        <td>@mp.Mopvgrupoval</td>
                                        <td style="text-align:left">@mp.Ursnomb</td>
                                        <td>@mp.Grupocodi</td>
                                        <td style="text-align:left">@mp.Gruponomb</td>
                                        <td>@mp.Grupotipo</td>
                                        <td>@mp.Mopvfeccreacion</td>
                                        <td>@mp.Mopvusucreacion</td>
                                        <td>@mp.Mopvfecmodificacion</td>
                                        <td>@mp.Mopvusumodificacion</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script>
                        $('.tabla-formulario').dataTable({
                            "scrollY": "400px",
                            "scrollCollapse": true,
                            "paging": false
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>
<div id="MessagesClose" class="general-popup">
    <div class="popup-title"><span>Mensaje de Operación</span></div>
    <div class="popup-text content-messajes-text">

    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>