
@{
    Layout = null;
    List<COES.MVC.Intranet.Areas.Subastas.Models.UrsModoOperacionModel> ListaMOEditar = ViewBag.ListaMO;
}

<link href="~/Areas/Subastas/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/popup.js"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Subastas/Content/Scripts/smamodooperacionope.js?v=1.1"></script>

<script>

    $('#atributo').multipleSelect({
        width: '200px',

        onClick: function (view) {
        },
        onClose: function (view) {
        }
    });

</script>

<div class="search-content" style="width: 510px; ">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">

        <div class="field-wrap">
            <span class="field-label" style="width:40px; margin-left:5px">URS:</span>
            <div class="field-control" style="float:left">
                <select style="width:150px">
                    <option value="@ViewData["urscodi"]">@ViewData["ursnomb"]</option>
                </select>
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width: 100px; float: left; margin-left: 10px">Modo Operación: </span>
            <div class="field-control" style="float:left">
                <select style="width:200px" id="EditAtributo">
                    <option value="@ViewData["grupocodi"]">@ViewData["gruponomb"]</option>
                    @foreach (var item in ListaMOEditar) { 
                    <option value="@item.Grupocodi">@item.Gruponomb</option>
                    }
                </select>
               
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div class="field-group">
        <center>
            <div align="center">
                <input data-registro="@ViewData["mopvcodi"]" style="margin-top:25px" id="btnModificarModoOperacion" type="button" value="Modificar" />
                <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
            </div>
        </center>
    </div>
</div>


