@model COES.MVC.Extranet.Models.PlanificacionModel

<div class="version-resumen">
    <span id="lblPlanTransmision" class="version-titulo">@Model.NombrePlan</span><br />    
    <span id="lblVersion" class="version-subtitulo">@Model.NombreVersion</span>
</div>
<br />
<br />

<div class="descarga-cuadro">

    @if (!string.IsNullOrEmpty(Model.NombreModelo))
    {
        <div class="version-file version-modelo">
            <div id="1" class="resumen-file">
                @Model.NombreModelo
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.NombreManual))
    {
        <div class="version-file version-manual">
            <div id="2" class="resumen-file">
                @Model.NombreManual
            </div>

        </div>
    }
</div>

<br />
<br />
<br />

<div class="content-download" style="width:auto">
    <strong style="color:#2980B9">INSTRUCCIONES</strong>
    <br />
    <br />
    Se desea descargar el aplicativo MODPLAN debe presionar el botón <strong>@(@Model.NombreModelo)</strong> y luego debe aceptar los términos y condiciones
    de licenciamiento del Software.
    <br />
    <br />
</div>

<input type="hidden" id="hfCodigoVersion" value="@Model.Codigo" />