@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Detalle del Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/popup.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />

<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Areas/Eventos/Content/Scripts/InterrupcionSuministros/Edicion.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">
        Detalle del Evento
    </div>
    <div class="content-botonera">
        @if (Model.grabar)
        {
            <input type="button" id="btngrabargeneral" value='Grabar' />
        }
        <input type="button" id="btnlistado" value='Regresar' />
    </div>
</div>

@{
    var inputDisabled = Model.grabar ? "" : "disabled";
}

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="Afecodi" value="@ViewBag.Afecodi" />
    <input type="hidden" id="Afeanio" value="@ViewBag.Afeanio" />
    <input type="hidden" id="Afecorr" value="@ViewBag.Afecorr" />

    <div class="content-registro" style="width:auto">

        <div style="clear:both; height:5px;"></div>
        <div style="clear:both; height:5px;"></div>

        @if (inputDisabled == "")
        {
            <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">Complete los datos del evento y presione "Grabar".</div>
            @*if (Model.oEventoDTO.ValidFecha == 1)
            {
                <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 0px; display: inline-flex;">Hora de Interrupción y fecha vencimiento autocompletados.</div>
            }*@
        }

        <table cellpadding="8" style="width:auto">
            <tr>
                <td class="registro-label" style="width:150px;">Código:</td>
                <td class="registro-control" colspan="3">@Model.oAnalisisFallaDTO.CodigoEvento</td>
            </tr>
            <tr>
                <td class="registro-label">Resumen:</td>
                <td class="registro-control"><div style="max-width: 900px">@Model.oEventoDTO.EVENASUNTO</div></td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control"><div style="max-width: 900px">@Model.oEventoDTO.EVENDESC</div></td>
            </tr>
            @*<tr>
                    <td class="registro-label">Hora Evento:</td>
                    <td class="registro-control" colspan="3">
                        <input type="text" id="dtEditEveIni" disabled name="FechaInicio" style="width: 145px" value="@Model.oEventoDTO.FECHA_EVENTO" />
                    </td>
                </tr>
                <tr>
                    <td class="registro-label">Hora Interrupción:</td>
                    <td class="registro-control" colspan="3">
                        <input type="text" id="dtEditHoraInt" @inputDisabled name="FechaInicio" style="width: 145px" value="@Model.oEventoDTO.FechaInterrupcion" />
                    </td>
                </tr>*@
            <tr>
                <td class="registro-label">Fecha de Vencimiento:</td>
                <td class="registro-control" colspan="3">
                    <input type="text" id="dtEditFecVen" @inputDisabled name="FechaInicio" style="width: 145px" value="@Model.oEventoDTO.FechaPlazoEnvio" />
                </td>
            </tr>
            @*<tr>
                <td class="registro-label">ERACMF:</td>
                <td class="registro-control" colspan="3">
                    @Model.oEventoDTO.ERACMF
                </td>
            </tr>*@


        </table>


        <div style="clear:both"></div>
        <div class="content-tabla">

            <div class="table-list" id="listado"></div>

            <div style="clear:both; margin-bottom:10px"></div>

        </div>
    </div>
</div>