@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    string sSelected = "";
}

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
}

<input type="hidden" id="idSoliEdit" value="@ViewBag.CodSolicitud" />
<input type="hidden" id="NombreModulo" name="nombreModulo" value="@Model.Modulo" />
<input type="hidden" id="idEmpresa" value="@Model.oSolicitudDTO.Emprcodi" />
<input type="hidden" id="idEnvio"  value="@Model.oSolicitudDTO.Enviocodi" />
<input type="hidden" id="idDescEvento" value="@Model.oSolicitudDTO.Sorespdesc" />
<div id="mensajeEdit" class="action-message">Por favor complete los datos</div>

<div id="solEdicion" class="content-registro">

    <table cellpadding="8">

        <tr>
            <td class="">Descripción del evento:</td>
            <td class="">
                <span id="txtDescripcionEvent">@Model.oSolicitudDTO.Sorespdesc</span>
            </td>
        </tr>

        <tr>
            <td class="">Fecha del evento:</td>
            <td class="">
                <span id="dtEditEvento">@Model.oSolicitudDTO.Sorespfechaevento</span>
            </td>
        </tr>

        <tr>
            <td class="" style="width:150px;">Estado:</td>
            <td class="">
                <select id="cboEstado2" name="cboEstado2" style="width:128px;">
                    @foreach (var item in ViewBag.ListaEstado)
                    {
                        sSelected = "";
                        if (item == Model.oSolicitudDTO.Estado)
                        {
                            sSelected = "selected";
                        }
                        <option value="@item" @sSelected>@item</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td class="fila_comentario">Comentario:</td>
            <td class="fila_comentario">
                <textarea id="txtComentario" style="background-color:white; width:400px; height:60px;" name="Comentario">@Model.oSolicitudDTO.Sorespobs</textarea>
            </td>
        </tr>

    </table>

</div>

<div id="ArchivoObs" style="margin: 0 auto; display:none">
    <input type="button" id="btnSelectFile" value="Seleccionar archivo" />
    <div id="container" class="file-carga">
        <div id="filelist"></div>
    </div>
</div>

<div class="container" style="display: flex; padding-top: 10px; min-height: 40px">
    <div style="margin: 0 auto;">
        <input type="button" value="Grabar" id="btnGrabar" />
        <input type="button" value="Cancelar" id="btnCancelarEdicion" />
    </div>
</div>


