@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel




@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
    return;
}
<div id="mensajeEdit" class="action-message">Por favor complete los datos</div>

<div id="div-edit-empresa" class="panel-container">

    <table class=" ">
        <tr>
            <td class="tbform-label">Tipo Empresa:</td>
            <td class="tbform-control">

                <input type="text" id="txtEditTipoEmpresa" value="@Model.TipoEmpresa" style="width: 220px" disabled />

            </td>

        </tr>
        <tr>
            <td class="tbform-label">Empresa:</td>
            <td class="tbform-control">
                <input type="text" id="txtEditEmpresa" value="@Model.Emprnomb" style="width: 220px" disabled />

            </td>
        </tr>
        <tr>
            <td class="tbform-label">Nombre empresa archivo ERACMF:</td>
            <td class="tbform-control">
                <input type="text" id="txtEditCodEracmf" value="@Model.CodEracmf" style="width: 220px" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>* Si no ingresa el código se mostrará el nombre de la empresa en los reportes</td>
        </tr>
        <tr>
            <td class="tbform-label">Código OSINERGMIN:</td>
            <td class="tbform-control">
                <input type="text" id="txtEditCodOsinergmin" value="@Model.CodOsinergmin" style="width: 220px" maxlength="6" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Alerta "Excluir de reporte":</td>
            <td class="tbform-control">
                @if (@Model.Afalerta == "S")
                {
                    <input type="checkbox" id="chkAlertReporte" checked="checked"/>
                }
                else
                {
                    <input type="checkbox" id="chkAlertReporte" />
                }
            </td>
        </tr>

    </table>
</div>



<div class="container" style="display: flex; padding-top: 10px;">
    <div style="margin: 0 auto;">
        <input type="button" value="Guardar" id="btnGrabarEditConfiguracion" />
        <input type="button" value="Cancelar" id="btnCancelarEditConfiguracion" />
    </div>

</div>

