@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RevisionModel
@{
    ViewBag.Title = "Lista de Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList slEmpresaInvolucrada = new SelectList(ViewBag.EmpresaInvolucrada, "Emprcodi", "Emprnomb");
    SelectList slEmpresaPropietaria = new SelectList(ViewBag.EmpresaPropietaria, "Emprcodi", "Emprnomb");
    SelectList slTipoEquipo = new SelectList(ViewBag.TipoEquipo, "FAMCODI", "FAMNOMB");

}

<link href="~/Areas/Eventos/Content/Css/ctaf.css?v=1.7" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/InterrupcionSuministros/interrupcionSuministros.js?v=1.7"></script>

<div class="form-title">
    <div class="content-titulo">Interrupciones de Suministros</div>

    <div class="content-botonera" id="container">
        <input type="button" id="btnConfiguracionEmpresa" value="Configuración" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje"></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:6px; padding:10px">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td><label>Empresa Propietaria</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaPropietaria", slEmpresaPropietaria, new { @style = "width:250px" })
                    </td>
                    <td><label>Empresa involucrada</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaInvolucrada", slEmpresaInvolucrada, new { @style = "width:250px" })
                    </td>
                    <td><label>Tipo de Equipo</label></td>
                    <td>
                        @Html.DropDownList("cboTipoEquipo", slTipoEquipo, new { @style = "width:250px" })
                    </td>
                    <td><label>Estado</label></td>
                    <td>
                        <select id="cboEstado" style="width:128px">
                            <option value="TODOS">TODOS</option>
                            <option value="CERRADO">CERRADO</option>
                            <option value="EN PROCESO">EN PROCESO</option>
                            <option value="FUERZA MAYOR">FUERZA MAYOR</option>
                            <option value="ANULADO">ANULADO</option>
                            <option value="ARCHIVADO">ARCHIVADO</option>
                        </select>
                    </td>
                </tr>
                <tr></tr>

                <tr>
                    <td><label>Fecha Inicio</label></td>
                    <td>
                        <input type="text" id="dtInicio" name="FechaInicio" value="@ViewBag.FechaInicio" />
                    </td>
                    <td><label>Fecha Fin</label></td>
                    <td>
                        <input type="text" id="dtFin" name="FechaFin" value="@ViewBag.FechaFin" />
                    </td>
                    <td colspan="2">
                        <input type="checkbox" value="RNC" id="chkRNC" />RMC&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="chkERACMF" value="ERACMF" />ERACMF&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="chkERACMT" value="ERACMT" />ERACMT&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="chkEDAGSF" value="EDAGSF" />EDAGSF&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="6">
                        <input type="button" id="btnConsultar" value='Consultar' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bold;">
                        <input type="checkbox" value="EveSinDatosReportados" id="chkEveSinDatosReportados" />Mostrar eventos sin datos reportados por los Agentes
                    </td>
                </tr>
            </table>
        </div>

        <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 0px; display: inline-flex;">
            La configuración de ERACMF se encuentra en el detalle del Evento: <span style="color: #428BD3; font-size: 12px;text-indent: 5px;padding-right: 5px;">Evaluación / CTAF / Análisis de Fallas </span>
        </div>

        <div style="clear:both"></div>
        <div class="content-tabla">

            <div class="table-list" id="listado"></div>

            <div style="clear:both; margin-bottom:10px"></div>

        </div>

        <table border="0" style="width: 430px;">
            <tbody>
                <tr>
                    <td style="width: 50px; border: 1px solid black; background-color: #ffd3d3 !important; color: white;"></td>
                    <td> Eventos configurados sin datos reportados por los Agentes.</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

