@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
<script src="~/Areas/Eventos/Content/Scripts/analisisfalla.js?v=4.02"></script>
<table border="0" class="pretty tabla-adicional" id="tablaListadoSco">
    <thead>
        <tr>
            <th style="max-width:20px">Acción</th>
            <th>Empresa</th>
            <th>Versión de Evento</th>
            <th>Cumplimiento</th>
            <th>Extensión</th>
            <th>Portal Web</th>
        </tr>
    </thead>
    <tbody>


        @if (Model.LstInformes != null)
        {
            foreach (var item in Model.LstInformes)
            {

                var idSco = "cb" + item.Eveinfcodi;
                var _valor = @item.Eveinfcodi + "|" + @item.Emprcodi + "|" + @item.Afiversion + "|" + item.Afecodi;

                <tr>
                    
                    <td style="text-align:center">
                        @if (item.Tipodata == "A")
                        {
                            <a href="#" onclick="VerEmpresaInvolucrada(@item.Emprcodi,'@item.Afiversion')" title="Descargar archivo">
                                <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;" />
                            </a>
                        }
                        @if (item.Tipodata == "N")
                        {
                            <a href="JavaScript:VerEmpresaInvolucradaSco(@item.Evencodi,@item.Env_Evencodi,@item.Eveinfcodi)" title="Descargar archivo">
                                <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;" />
                            </a>
                        }
                    </td>
                    <td>@item.Emprnomb</td>
                    <td>@item.Version</td>
                    <td>@item.Cumplimiento</td>
                    <td>@item.Eveinfrutaarchivo</td>
                    <td>
                        @if (item.Portalweb == "S")
                        {
                            <input type="checkbox" id="@idSco" class="chPortal" onchange="CheckPortal(this)" value="@_valor" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="@idSco" class="chPortal" onchange="CheckPortal(this)" value="@_valor" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>