@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th style='width: 40px'>Acción</th>
            <th>Empresa Solicitante</th>
            <th>Fecha del Evento</th>
            <th>Descripción resumida del Evento</th>
            <th>Fecha Registro</th>
            <th>Estado</th>
            <th>Usuario Registro</th>
            <th>Archivos Adjuntados </th>
            <th>Fecha Actualización</th>
            <th>Usuario Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListSolicitudes)
        {
            <tr>
                <td>
                    <a href="JavaScript:EditarSolicitud(@item.Sorespcodi)" title="Editar Solicitud">
                        <img src="~/Content/Images/btn-edit.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>
                <td>@item.Emprnomb</td>
                <td>
                    @item.SorespfechaeventoDesc
                </td>
                <td>@item.Sorespdesc</td>
                <td>
                    @item.SorespfeccreacionDesc
                </td>
                @if (item.Sorespestadosol == "P")
                {
                    <td style="color: red;">@item.Estado</td>
                }
                else
                {
                    <td style="color: green; font-weight: bold;">@item.Estado</td>
                }
                <td>@item.Sorespusucreacion</td>

                <td>
                    <a href="JavaScript:VerArchivosAdjuntados(@item.Sorespcodi)" title="Ver archivos">
                        <img src="~/Content/Images/btn-open.png" style="margin-top: 3px; width:18px; height:18px;" />
                    </a>
                </td>
                <td>@item.SorespfecmodificacionDesc</td>
                <td>@item.Sorespusumodificacion</td>
            </tr>
        }
    </tbody>
</table>