@model COES.MVC.Intranet.Areas.Eventos.Models.IndicadorCtafModel

<table class="pretty tabla-adicional" border="0" @*class="pretty tabla-adicional" *@ cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Total de Eventos/MES</th>
            <th>D&iacute;as utilizados Informe CTAF/MES</th>
            <th>D&iacute;as utilizados Informe T&eacute;cnico/MES</th>
            <th>L&iacute;mite de d&iacute;as CTAF</th>
            <th>L&iacute;mite de d&iacute;as IT</th>
            <th>Indicador CTAF</th>
            <th>Indicador IT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaAfIndicadores)
        {
        <tr>
            <td>@item.MesNombre</td>
            <td>@item.TotalEventosMes</td>
            <td>@item.Diasinfctaf</td>
            <td>@item.Diasinftec</td>
            <td>@item.Limctaf</td>
            <td>@item.Limit</td>
            <td>@item.Indctaf</td>
            <td>@item.Indit</td>
        </tr>
        }
    </tbody>
</table>