@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
    <input type="hidden" id="idSolicitud" value="@ViewBag.Sorespcodi" />
}

<div id="listArchivos" class="content-registro">

    <table cellpadding="8">
        <tr>
            <td class="registro-label" style="width:150px;">Informe Final:</td>
            <td class="registro-control" colspan="3">
                <div class="file-name content-download"><a href="JavaScript:descargarInforme(@ViewBag.Sorespcodi, '@Model.ArchivoFinal',1);">@Model.ArchivoFinal</a></div>
            </td>
        </tr>
        <tr>
            <td class="registro-label">Archivos Adjuntados:</td>
            <td class="registro-control">
                <div id="listaArchivos">
                    @foreach (var item in Model.ListaArchivos)
                    {
                        <div class="file-name content-download"> <a href="JavaScript:descargarInforme(@ViewBag.Sorespcodi,'@item',2);">@item</a></div>
                    }
                </div>
            </td>
        </tr>

    </table>

</div>


