@model List<COES.Dominio.DTO.Sic.PmoDatDbusDTO>
@{
    ViewBag.Title = "Dbus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nroBarras = ViewBag.NroBarras;
}

<div class="form-title">
    <div class="content-titulo">Barras SDDP</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div id="mensaje"></div>
    <input id="txtPmMgndCodi" type="hidden" />
    @*<input id="btnNuevo" type="button" value="Nuevo" onclick="abrirPopUpNuevo();" />*@
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                    <table class="table-search" style="width:auto">
                        <tr>
                            <td style="height:40px;">
                                <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                    <tr>
                                       
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnReporteGrupoRelaso" onclick="GenerarRepGrupoRelaso();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/excel-download.png" /><br />
                                                    <span>Barras vs Generador HI-TE</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <table>
                    <tr>
                        <td width="60px"><input id="btnRetornar" type="button" value="Retornar" onclick="OpenUrl('', 'F', 680, 'PMPO/GeneracionArchivosDAT/Index', 'Generacion Archivos');" /></td>
                        <td width="20px"></td>
                        <td>
                            <b>Nro. Barras:</b>@nroBarras                            
                        </td>
                        
                        <td></td>
                    </tr>
                    
                </table>
            </td>
        </tr>       
    </table>
    <br />
    <div class="content-tabla">
        <div class="content-tabla">
            <div id="tablaRer">
                <table class="pretty tabla-icono" id="tabla">
                    <thead>
                        <tr>
                            <th>NUM.</th>
                            <th>NombreBarra</th>
                            <th>Id</th>
                            <th>#</th>
                            <th>TG</th>
                            <th>Plnt</th>
                            <th>Nombre Gener.</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dbus in Model)
                        {
                            <tr class="menu-contextual">
                                <td>@dbus.GrupoCodiSddp</td>
                                <td>
                                    @*<a style="cursor:pointer" onclick="obtenerMgnd('@dbus.PmDbusCodi');"><u>@dbus.GrupoNomb</u></a>*@
                                    @dbus.GrupoNomb
                                </td>
                                <td>@dbus.PmDbusIdSistema</td>
                                <td>@dbus.PmDbusNroSecGen</td>
                                <td>@dbus.Tg</td>
                                <td>@dbus.CodCentral</td>
                                <td>@dbus.NombCentral</td>
                                <td>@dbus.PmDbusNroArea</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

</div>

<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/app-pmpo-dbus.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/app-pmo-init.js"></script>