@model COES.MVC.Intranet.Areas.PMPO.Models.SDDPModel
@{
    ViewBag.Title = "Disponibilidad de generadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Areas/PMPO/Content/Scripts/app-pmo-disponibilidad.js?v=1.0.3"></script>

<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>

    <div class="content-botonera">
        <input id="btnRetornar" type="button" value="Retornar" />
    </div>
</div>

<input id="hddPeriodo" type="hidden" value="@Model.Periodo">
<input id="hddFormato" type="hidden" value="@Model.TipoFormato">

<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div id="mensaje"></div>

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                    <table class="table-search" style="width:auto">
                        <tr>
                            <td style="height:40px;">
                                <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                    <tr>
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnDescargarExcelDT" onclick="Exportar();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/bajar.png" /><br />
                                                    <span>Descargar Excel</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnSelecionarExcelDT">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/subir.png" /><br />
                                                    <span>Importar Excel</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnEliminarDatosDT" onclick="grabar();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/grabar.png" /><br />
                                                    <span>Guardar datos</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnExportarMantenimientos" onclick="openPopupMantto();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/excel-download.png" /><br />
                                                    <span>Reporte de Mantenimiento</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="@Url.Action("Correlaciones", "GeneracionArchivosDAT")" id="btnGrabarExcelDT">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/enviar.png" /><br />
                                                    <span>Editar las Correlaciones</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="60px"></td>
            <td width="20px"></td>
            <td>
                <b>Rango Mensual:</b> @Model.PmoPeriodo.SPmPeriFecIniMantMensual - @Model.PmoPeriodo.SPmPeriFecFinMantMensual </br>
                <b>Rango Anual:</b> @Model.PmoPeriodo.SPmPeriFecIniMantAnual - @Model.PmoPeriodo.SPmPeriFecFinMantAnual
            </td>
            <td></td>
        </tr>
    </table>

    <div class="content-tabla">
        <div class="content-tabla">
            <div id="handson" style=""></div>
        </div>
    </div>
</div>


<div id="popupExportarMantto" class="general-popup" style="z-index:9999999999; width: 480px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Reporte de Mantenimiento</span></div>

    <div style="margin-top: 15px;">

        Filtro para mantenimiento:
        <input type="radio" name="rbMantto" value="G">Generación
        <input type="radio" name="rbMantto" value="T">Transmisión
        <input type="radio" name="rbMantto" value="-1" checked="checked">Todos

        <br />

        <input type="button" id="btn-descargar-mantto" value="Descargar" onclick="ExportarMantenimientos();" style=" margin-top: 15px;" />

    </div>
</div>