@model COES.MVC.Intranet.Areas.PMPO.Models.SDDPModel
@{
    ViewBag.Title = "Archivos .dat para SDDP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/PMPO/Content/Scripts/sdpp-generacionArchivos.js?v=1.0.6"></script>

<div class="form-title">
    <div class="content-titulo">Generación de Archivos para SDDP</div>

    <div class="content-botonera">
        <input type="button" id="btn-relacion-equipo" value="Relación grupo SDDP y equipos" />
        <input type="button" id="btn-relacion-barra" value="Barras SDDP" />
    </div>
</div>

<input id="hddrutaDescarga" type="hidden" value="@Model.RutaDescarga">

<div class="content-hijo" id="mainLayout">
    <div id="mensaje-dat"></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label" style="padding-right: 0">Año:</td>
                <td>
                    <select id="filtro-anio" style="width: 61px;">
                        @foreach (var item in Model.ListaAnio)
                        {
                            var selected = Model.Anho == item.Entero1 ? " selected " : "";
                            <option value="@item.Entero1" @selected>@item.String1</option>
                        }
                    </select>
                </td>

                <td class="tbform-label" style="padding-right: 0">Mes:</td>
                <td>
                    <select id="filtro-mes" style="width: 116px;">
                        @foreach (var item in Model.ListaMes)
                        {
                            var selected = Model.Periodo == item.PmPeriCodi ? " selected " : "";
                            <option value="@item.PmPeriCodi" @selected>@item.PmPeriNombre</option>
                        }
                    </select>
                </td>
            </tr>

        </table>
    </div>

    <div style="float: right; width: 100%;">
        <fieldset style="width: 384px;padding-top: 5px;padding-bottom: 7px;float: right;">
            Filtro para mantenimiento:
            <input type="radio" name="rbMantto" value="G">Generación
            <input type="radio" name="rbMantto" value="T">Transmisión
            <input type="radio" name="rbMantto" value="-1" checked="checked">Todos
        </fieldset>
    </div>

    <div class="content-tabla">

        <!--Semanal-->
        <fieldset id="div_formato-semanal" style="display: none">
            <legend>Semanal</legend>

            <div style="float: right; margin-bottom: 10px;">
                <input type="button" value="Procesar Datos" id="btnProcesar_semanal" />
            </div>

            <div class="table-list">
                <div id="reporte_semanal">
                </div>
            </div>

            <div style="float: right; margin-top: 10px;">
                <table width="100%">
                    <tr>
                        <td></td>
                        <td style="vertical-align: middle;">Carpeta:</td>
                        <td style="width:500px"><input id="carpeta" type="text" style="width:100%" /></td>
                        <td>
                            <input type="button" value="Generar archivos .dat" id="btnDescargar_semanal" />
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>La ruta debe iniciar con: @Model.RutaDescarga</td>
                        <td></td>
                    </tr>

                </table>
            </div>

        </fieldset>

        <!--Mensual-->
        <fieldset id="div_formato-mensual" style="display: none">
            <legend>Mensual</legend>

            <div style="float: right; margin-bottom: 10px;">
                <input type="button" value="Procesar Datos" id="btnProcesar_mensual" />
            </div>

            <div class="table-list">
                <div id="reporte_mensual">
                </div>
            </div>

            <div style="float: right; margin-top: 10px;">
                <table width="100%">
                    <tr>
                        <td></td>
                        <td style="vertical-align: middle;">Carpeta:</td>
                        <td style="width:500px"><input id="carpeta" type="text" style="width:100%" /></td>
                        <td>
                            <input type="button" value="Generar archivos .dat" id="btnDescargar_mensual" />
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>La ruta debe iniciar con: @Model.RutaDescarga</td>
                        <td></td>
                    </tr>

                </table>
            </div>

        </fieldset>
    </div>

</div>