@model COES.MVC.Intranet.Areas.PMPO.Models.MgndDModel
@{
    ViewBag.Title = "Mgndpe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Modificación de Fuentes Renovables</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div id="mensaje"></div>
    <input id="txtPmMgndCodi" type="hidden" />
    @*<input id="btnNuevo" type="button" value="Nuevo" onclick="abrirPopUpNuevo();" />*@
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px; z-index:0">
                    <table class="table-search" style="width:auto">
                        <tr>
                            <td style="height:40px;">
                                <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px ">
                                    <tr>

                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnExportarExcel" onclick="ExportarExcel();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/excel-download.png" /><br />
                                                    <span>Exportar a Excel</span>
                                                </div>
                                            </a>
                                        </td>

                                        <td style="width:100px; height:50px; text-align: center;" class="content-action">
                                            <a href="#" id="btnReporteGrupoRelaso" onclick="GenerarRepGrupoRelaso();">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/PMPO/Content/Images/excel-download.png" /><br />
                                                    <span>Barras SDDP - Unidad RER SIC</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>            
            <td width="60px"><input id="btnRetornar" type="button" value="Retornar" onclick="OpenUrl('', 'F', 680, 'PMPO/GeneracionArchivosDAT/Index', 'Generacion Archivos');" /></td>
            <td></td>
        </tr>
        <tr><td colspan="2"></td></tr>
    </table>
    
    <div class="content-tabla">
        <div class="content-tabla">
            <div id="tablaRer">
                <table class="pretty tabla-icono" id="tabla">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Num</th>
                            <th>Nombre</th>
                            <th>Bus</th>
                            <th>Nombre Barra</th>
                            <th>Tipo</th>
                            <th>#Uni</th>
                            <th>PotIns</th>
                            <th>FatOpe</th>
                            <th>ProbFal</th>
                            <th>SFal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mgnd in Model.ListMgnd)
                        {
                            <tr class="menu-contextual">
                                <td>@mgnd.PmMgndFecha.Value.ToString("dd/MM/yyyy")</td>
                                <td>@mgnd.CodCentral</td>
                                <td>
                                    <a style="cursor:pointer" onclick="obtenerMgnd('@mgnd.PmMgndCodi');"><u>@mgnd.NombCentral</u></a>
                                </td>
                                <td>@mgnd.CodBarra</td>
                                <td>@mgnd.NombBarra</td>
                                <td>@mgnd.PmMgndTipoPlanta</td>
                                <td>@mgnd.PmMgndNroUnidades</td>
                                <td>@mgnd.PmMgndPotInstalada</td>
                                <td>@mgnd.PmMgndFactorOpe</td>
                                <td>@mgnd.PmMgndProbFalla</td>
                                <td>@mgnd.PmMgndCorteOFalla</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>

<div id="popupPeriodo" class="general-popup">
    <div class="popup-title"><span>Registro de Fuente Renovable</span></div>
    <div class="popup-text">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Código: </td>
                <td>
                    <input id="txtCodigo" type="text" disabled />
                </td>
            </tr>
            <tr>
                <td>Nombre: </td>
                <td>
                    <input id="txtNombre" type="text" disabled />
                </td>
            </tr>
            <tr>
                <td>Fecha: </td>
                <td>
                    <input id="txtFecha" type="text" />
                </td>
            </tr>
            <tr>
                <td>Barra: </td>
                <td>
                    <select id="cbBarra">
                        <option value="-1">-Seleccionar-</option>
                        @foreach (var barra in Model.ListBarra)
                        {
                            <option value="@barra.Grupocodi">@barra.Gruponomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tipo: </td>
                <td>
                    <input id="txtTipo" type="text" />
                </td>
            </tr>
            <tr>
                <td>N° Unidades: </td>
                <td>
                    <input type="text" id="txtNUnidades">
                </td>
            </tr>
            <tr>
                <td>Pot. Instalada: </td>
                <td>
                    <input type="text" id="txtPotInstalada">
                </td>
            </tr>
            <tr>
                <td>Factor Ope: </td>
                <td>
                    <input type="text" id="txtFactorOpe">
                </td>
            </tr>
            <tr>
                <td>Prob. Falla: </td>
                <td>
                    <input type="text" id="txtProbFalla">
                </td>
            </tr>
            <tr>
                <td>S Fal: </td>
                <td>
                    <input type="text" id="txtSFal">
                </td>
            </tr>
        </table>
    </div>
    <div class="formulario-boton">
        <input id="btnGrabar" type="button" value="Grabar" onclick="updateMgndpe();" />
        <input id="btnCerrar" type="button" value="Cerrar" onclick="cerrarPopUp();" />
    </div>
</div>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/app-pmpo-mgndpe.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/app-pmo-init.js"></script>

@Html.Hidden("getMgndpe", @Url.Action("GetMgndpe", "GeneracionArchivosDAT"))
@Html.Hidden("reload", @Url.Action("Mgndpe", "GeneracionArchivosDAT"))
@Html.Hidden("updateMgndpe", @Url.Action("UpdateMgndpe", "GeneracionArchivosDAT"))
@Html.Hidden("exportarExcel", @Url.Action("ExportarMGND", "GeneracionArchivosDAT"))