@model COES.MVC.Extranet.Areas.Coordinacion.Models.RegistroObservacionModel

<table border="0" class="pretty tabla-icono" id="listaSeniales">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Zona</th>
            <th>Nombre</th>
            <th>ICCP</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListadoSeniales.Count > 0)
        {
            foreach (var item in Model.ListadoSeniales)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.Zonanomb</td>
                    <td>@item.Canalnomb</td>
                    <td>@item.Canaliccp</td>
                    <td>@item.Obsiteestado</td>
                    <td>@item.Obsitefecha</td>
                    <td>@item.Obsitecomentario</td>
                </tr>
            }
        }
    </tbody>
</table>