@model COES.MVC.Extranet.Areas.Coordinacion.Models.RegistroObservacionModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Visualizar</th>
            <th>Empresa</th>
            <th>Estado</th>            
            <th>Observación</th>
            <!--<th>Tipo</th>-->
            <th>Usu. Creación</th>
            <th>Fec. Creación</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListadoObservacion.Count > 0)
        {
            foreach (var item in Model.ListadoObservacion)
            {
                <tr>
                    <td>
                        <a href="JavaScript:editar(@item.Obscancodi);"><img src="~/Content/Images/btn-edit.png" /></a>                        
                    </td>                    
                    <td>@item.Emprnomb</td>
                    <td>@item.Obscanestado</td>
                    <td>@item.Obscancomentario</td>
                    <!--<td>@item.Obscantipo</td>-->
                    <td>@item.Obscanusucreacion</td>
                    <td>@item.Obscanfeccreacion</td>
                </tr>
            }
        }
    </tbody>
</table>