@model COES.MVC.Intranet.Areas.Mediciones.Models.MedidoresGeneracionModel

@{
    ViewBag.Title = "Consulta Medidores de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Mediciones/Content/Css/mediciones.css" rel="stylesheet" />
<script src="~/Areas/Mediciones/Content/Scripts/medidores.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consulta Medidores de Generación</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="div-exportar" id="divExportar">
    <div class="div-exportar-close" onclick="closeExportar();">X</div>
    <div class="div-exportar-content">
        <div class="popup-title"><span>Exportar Datos</span></div>
        <div class="action-exito">
            Por favor seleccione el formato a exportar:
        </div>
        Fecha desde:
        <input type="text" id="txtExportarDesde" style="width:140px" value="@Model.FechaInicio" />

        Hasta:
        <input type="text" id="txtExportarHasta" style="width:140px" value="@Model.FechaFin" />

        Parámetro:
        <select id="cbParametroExportar" multiple="multiple">
        </select>
        <ul>
            <li><input type="radio" name="rbFormato" value="1" checked="checked" />Formato Excel Horizontal</li>
            <li><input type="radio" name="rbFormato" value="2" />Formato Excel Vertical</li>
            <li><input type="radio" name="rbFormato" value="3" />Formato CSV</li>
        </ul>
        <div class="div-exportar-boton" id="container" style=" margin-top:30px">
            <input type="button" id="btnProcesarFile" value="Aceptar" />
            <input type="hidden" id="hfParametro" />
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="@Model.FechaInicio" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width:140px" value="@Model.FechaFin" />
                </td>
                <td>Tipo empresa:</td>
                <td>
                    <select id="cbTipoEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaTipoEmpresas)
                        {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                        }
                    </select>
                    <input type="hidden" id="hfTipoEmpresa" />
                </td>
                <td>Empresa:</td>
                <td>
                    <div id="empresas"></div>
                </td>
            </tr>
            <tr>
                <td>Tipo de Generación:</td>
                <td>
                    <select id="cbTipoGeneracion" multiple="multiple">
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                </td>
                <td>Central Integrante:</td>
                <td>
                    <select id="cbCentral" style="width:142px">
                        <option value="0">TODOS</option>
                        <option value="1" selected="selected">COES</option>
                        <option value="10">NO COES</option>
                        <option value="3">GENERACION RER</option>
                    </select>
                </td>
                <td>Parámetro</td>
                <td>
                    <select id="cbParametro" style="width:160px">
                    </select>
                </td>
                <td><input type="button" id="btnBuscar" value="Consultar datos" /></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

    <br />



    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfTipoGeneracion" />


</div>

