@model COES.MVC.Extranet.Areas.CortoPlazo.Models.InformacionOperativaModel

<script type="text/javascript">
    $(function () {

        $('#cbSelectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });
</script>


<div class="bread-crumb" style="margin-left:3px">
    <ul>
        @foreach (var item in Model.BreadList)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
<div style="clear:both"></div>

<table style="width:100%" class="form-general" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width:100%" valign="top">
            <div id="cntPaginado"></div>
            <div id="contentBusqueda">
                <table id="tbDocumentLibrary" class="tabla-blob">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="cbSelectAll" />
                            </th>
                            <th></th>
                            <th>Documento</th>
                            <th>Tamaño</th>
                            <th>Fecha Modificación</th>

                        </tr>
                    </thead>
                    <tbody id="tbSeleccionados">
                        @foreach (var item in Model.DocumentList)
                        {
                            string clase = (item.FileType == "F") ? "class=selector-file-contextual" : "class=selector-directory-contextual";
                            <tr style="cursor:pointer" @clase id="@item.FileUrl" title="@item.FileName">
                                <td>
                                    @if (item.FileType == "F")
                                    {
                                        <input type="checkbox" id="@item.FileName" name="cbSelect" value="@item.FileUrl" />
                                    }
                                </td>
                                <td><img src="~/Areas/CortoPlazo/Content/Images/@item.Icono" /></td>
                                <td>@item.FileName</td>
                                <td>@item.FileSize</td>
                                <td>@item.FechaModificacion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>

