@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteExcesoPotenciaReacModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Exceso de Potencia Reactiva";
}
<script src="~/Areas/Medidores/Content/Scripts/excesoPotenciaReac.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/toastr.min.js"></script>
<link href="~/Content/Css/toastr.css" rel="stylesheet" />

<script type="text/javascript">
    var INIT_RENDERIZAR = false;
    $(function () {
        $('#tab-container').easytabs({
            animate: false
        });
    });
</script>


<div class="form-title">
    <div class="content-titulo">Exceso de Potencia Reactiva</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Generación:</td>
                <td>
                    <select id="cbTipoGen" name="IdTipoGen" style="width:230px;">
                        <option value="-1">TODOS</option>
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:230px;">
                        <option value="-1">TODOS</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Mes Año:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" /></td>

                <td colspan="2">
                </td>
                <td colspan="2">
                </td>
            </tr>
        </table>
    </div>
       

    <div style="clear:both; height:20px"></div>


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#viewExceso">Exceso de Potencia Reactiva</a></li>
            <li class='tab'><a href="#viewReactiva">Potencia Reactiva</a></li>            
        </ul>
        <div class='panel-container'>
            <div id="viewExceso">
                <div style="clear:both; height:10px"></div>
                <div class="content-tabla">
                    <div id="reporteExcesoPotenciaReactiva"></div>
                </div>
            </div>
            <div id="viewReactiva">
                <div style="clear:both; height:10px"></div>
                <div class="content-tabla">
                    <div id="reportePotenciaReactiva">
                        
                    </div>
                </div>
            </div>            
        </div>
    </div>


</div>

<input type="hidden" id="parametro" value="@Model.IdParametro"/>