@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteMaximaDemandaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estructuras BI";
}

<script src="~/Areas/Medidores/Content/Scripts/generarMaximaDemanda.js?id=1.5"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Medidores/Content/Css/generarMD.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Estructuras para almacenamiento de información para los aplicativos BI</div>
</div>

<div class="content-hijo" id="mainLayout">

    <h2>Generar Máxima Demanda</h2>
    <input type="button" id="btnNuevoMD" value="Nuevo" />

    <h2 style="margin-top: 50px">Factor planta de las centrales por mes</h2>
    <input type="button" id="btnNuevoFp" value="Nuevo" />

    <h2 style="margin-top: 50px">Producción de las unidades de Generación</h2>
    <input type="button" id="btnNuevoProdGen" value="Nuevo" />

    <h2 style="margin-top: 50px">Potencia Efectiva e Instalada</h2>
    <input type="button" id="btnNuevoPePinst" value="Nuevo" />
</div>

<div id="popupGenerarMD" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Generar Máxima Demanda</span></div>

    <div id="verGenerarMD">

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIni" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFin" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnProcesarMD" />
        </div>

    </div>
</div>

<div id="popupProdGen" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Almacenar Generación de las unidades por día</span></div>

    <div id="verProdGen">

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIniProdGen" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFinProdGen" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnProcesarProdGen" />
        </div>

    </div>
</div>

<div id="popupFp" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Factor planta de las centrales por mes</span></div>

    <div id="verFp">

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIniFp" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFinFp" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnProcesarFp" />
        </div>

    </div>
</div>

<div id="popupPePinst" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Potencia Efectiva e Instalada por mes</span></div>

    <div id="verPePinst">

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIniPePinst" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFinPePinst" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnProcesarPePinst" />
        </div>

    </div>
</div>