@model COES.MVC.Intranet.Areas.Medidores.Models.MedidorGeneracionModel
@{
    ViewBag.Title = "Gráfico Medidores de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/Formato/Hoja/global.js"></script>
<script src="~/Content/Scripts/Formato/Hoja/hojaGlobal.js"></script>
<script src="~/Content/Scripts/Formato/Hoja/hojaFormatoGrilla.js"></script>
<script src="~/Content/Scripts/Formato/Hoja/hojaFormato.js"></script>

<script src="~/Areas/Medidores/Content/Scripts/reporteGraficoCargaDatos.js?v=1"></script>

<div class="form-title">
    <div class="content-titulo">Gráfico Carga de datos de Medidores de Generación</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div style="clear:both"></div>

    <div class="search-content">
        <div style="display:table">
            <div style="display:table-row">
                <!--Fecha Desde-->
                <div class="filtro-label" style="display: table-cell; width: 80px; ">
                    <label>Fecha Desde:</label>
                </div>
                <div class="filtro-label" style="display: table-cell; width: 110px;">
                    <input type="text" id="txtFechaDesde" name="FechaDesde" value="@Model.FechaDesde" style="width: 100px; margin-bottom: 5px;" />
                </div>
                <!--Fecha Hasta-->
                <div class="filtro-label" style="display: table-cell; width: 80px; padding-left: 15px;">
                    <label>Fecha Hasta:</label>
                </div>
                <div class="filtro-contenido" style="display: table-cell; width: 110px;">
                    <input type="text" id="txtFechaHasta" name="FechaHasta" value="@Model.FechaHasta" style="width:100px;" />
                </div>
                <!--Período-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Período:</label>
                </div>
                <div style="display:table-cell;width:210px;">
                    <input type="radio" name="periodoGraf" value="1"> TODOS
                    <input type="radio" name="periodoGraf" value="2" checked> HP
                    <input type="radio" name="periodoGraf" value="3"> HFP
                </div>
                <!--Valor-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Dato:</label>
                </div>
                <div style="display:table-cell;width:210px;">
                    <input type="radio" name="datoGraf" class="datoGraf15" value="1" checked><span class="datoGraf15">15m</span>
                    <input type="radio" name="datoGraf" class="datoGraf30" value="2"><span class="datoGraf30">30m</span>
                    <input type="radio" name="datoGraf" class="datoGraf1" value="3"><span class="datoGraf1">1h</span>
                </div>
                <!--eje derecho -->
                <div class="filtro-label" style="display: table-cell; width: 70px; padding-left: 15px;">
                    <label>Eje Derecho:</label>
                </div>
                <div class="filtro-contenido div_ejeder" style="display:table-cell;width:120px;">
                    <select id="cbEjeder" disabled></select>
                </div>
            </div>

            <div style="display:table-row">
                <!--Tipo de generación-->
                <div class="filtro-label" style="display: table-cell; width: 125px;">
                    <label>Tipo de Generación:</label>
                </div>
                <select id="cbTipoGen" name="IdTipoGen" style="width:160px;">
                    <option value="-1">TODOS</option>
                    @foreach (var item in Model.ListaTipoGeneracion)
                    {
                        <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                    }
                </select>

                <!--Empresa-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Empresa:</label>
                </div>
                <div class="filtro-contenido div_central2" style="display:table-cell;width:210px;">
                    <select id="cbEmpresa" style="width:220px;">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </div>

                <!--Central-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Central:</label>
                </div>
                <div class="filtro-contenido div_central2" style="display:table-cell;width:210px;">
                    <select id="cbCentral2" style="width:220px;"></select>
                </div>

                <!--Fuente1-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Fuente1:</label>
                </div>
                <div class="filtro-contenido div_fuente1" style="display: table-cell; width: 142px; ">
                    <select id="cbFuente1" style="width: 142px;" disabled>
                        @foreach (var item in Model.ListaFuente1)
                        {
                            <option value="@item.Codigo">@item.Nombre</option>
                        }
                    </select>
                </div>

                <!--Fuente2-->
                <div class="filtro-label" style="display: table-cell; width: 50px; padding-left: 15px;">
                    <label>Fuente2:</label>
                </div>
                <div class="filtro-contenido div_fuente2" style="display:table-cell;width:150px;">
                    <select id="cbFuente2" style="width:150px;"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="content-tabla">
        <div id="idVistaGrafica"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>
