@model COES.MVC.Intranet.Areas.Medidores.Models.MaximaDemanda
@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
    string ValorMD = "";
}



<div style="clear:both; height:15px"></div>

 <table border="1" class="pretty tabla-adicional" id="tabla" role="grid">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Tipo de Generación</th>
            <th>Central</th>
            <th>Grupo</th>

            @for (var i = 1; i <= Model.ndiasXMes; i++)
            {
                <th>@i</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model.ListaDemandaDia)
        {

            <tr>
                <td>@reg.Empresanomb</td>
                <td>@reg.Tipogeneracion</td>
                <td>@reg.Centralnomb</td>
                <td>@reg.Gruponomb</td>
                @for (var i = 0; i < Model.ndiasXMes; i++)
                {
                    if (reg.valores.Count > i)
                    {
                        ValorMD = reg.valores[i].ToString("N", nfi);
                    }
                    else
                    {
                        ValorMD = "";
                    }
                    <td style="text-align: right;">@ValorMD</td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="@(4 + Model.ndiasXMes)" style="background-color:white;color:steelblue;">INTERCAMBIOS INTERNACIONALES DE ELECTRICIDAD</td>
        </tr>
        <tr>
            <td>ENLACE INTERNACIONAL</td>
            <td>PAÍS</td>
            <td colspan="2">TIPO DE INTERCAMBIO</td>
            @for (var i = 1; i <= Model.ndiasXMes; i++)
            {
                <td style="text-align:center">@i</td>
            }
        </tr>

        @foreach (var reg in Model.ListaDemandaDiaTotalResumen)
        {
            <tr>
                @switch (reg.Gruponomb)
                { 
                    case "TOTAL":
                        <td>@reg.Empresanomb</td>
                        <td>@reg.Tipogeneracion</td>
                        <td>@reg.Centralnomb</td>
                        <td>@reg.Gruponomb</td> 
                        for (var i = 0; i < Model.ndiasXMes; i++)
                        {
                            <td style="text-align: right;">@reg.valores[i].ToString("N", nfi)</td>
                        }                                      
                        break;
                    case "IMPORTACIÓN":
                    case "EXPORTACIÓN":
                        <td style="background-color:white;color:steelblue;">L-2280 (Zorritos - Machala)</td>
                        <td style="background-color:white;color:steelblue;">ECUADOR</td>  
                        <td style="background-color:white;color:steelblue;"  colspan="2">@reg.Gruponomb</td>
                        for (var i = 0; i < Model.ndiasXMes; i++)
                        {
                            <td style="text-align: right;background-color:white;color:steelblue;">@reg.valores[i].ToString("N", nfi)</td>
                        }                                      
                                      
                        break;
                    
                    case "HORA":
                        <td>@reg.Empresanomb</td>
                        <td>@reg.Tipogeneracion</td>
                        <td>@reg.Centralnomb</td>
                        <td>@reg.Gruponomb</td>                    
                        for (var i = 0; i < Model.ndiasXMes; i++)
                        {
                            <td style="text-align: right;">@reg.horamin[i]</td>
                        }
                        break;
                
                }
            </tr>
        }
    </tfoot>
</table>