@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteMaximaDemandaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Máxima Demanda";
}

<script src="~/Areas/Medidores/Content/Scripts/reporteMaximaDemanda.js?id=20180105"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Medidores/Content/Css/medidores.css" rel="stylesheet" />

<script src="~/Content/Scripts/toastr.min.js"></script>
<link href="~/Content/Css/toastr.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Reporte de Máxima Demanda</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

@{
    string mostrarCentral = @Model.EsPortal ? "none" : "table-cell";
}

<div class="content-hijo" id="mainLayout">

    <div class="home-txt" style="float:left; margin-bottom:20px; font-size:10px; line-height:17px; text-align: left">
        CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
        <strong>* PR-N° 30:</strong> VALORIZACIÓN DE LAS TRANSFERENCIAS DE POTENCIA Y COMPENSACIONES AL SISTEMA PRINCIPAL Y SISTEMA GARANTIZADO DE TRANSMISIÓN (Vigente desde el 01 de junio de 2015)<br />
        <strong>* PR-N° 43:</strong> INTERCAMBIOS INTERNACIONALES DE ELECTRICIDAD EN EL MARCO DE LA DECISIÓN 757 DE LA CAN<br />
        @foreach (var reg in Model.ListaNormativa)
        {
            <strong>* @reg.Nombre</strong>@reg.Descripcion<br />
        }
    </div>
    <div style="clear:both"></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="display: @mostrarCentral">Central:</td>
                <td style="display: @mostrarCentral">
                    <select id="cbCentral" name="IdCentral" style="width:230px;">
                        @foreach (var item in Model.ListaIntegrante)
                        {
                            <option value="@item.Codigo">@item.Nombre</option>
                        }
                    </select>
                </td>

                <td>Tipo de Generación:</td>
                <td>
                    <select id="cbTipoGen" name="IdTipoGen" style="width:160px;">
                        <option value="-1">TODOS</option>
                        @foreach (var item in Model.ListaTipoGeneracion)
                        {
                            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
                        }
                    </select>
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:230px;">
                        <option value="-1">TODOS</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Período:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" /></td>

                <td colspan="2"></td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="reporteMaxDemanda"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<input type="hidden" id="parametro" value="@Model.IdParametro" />