@model COES.MVC.Intranet.Areas.Medidores.Models.DiagramaCargaMaximaDemandaModel
@using System.Globalization
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalDigits = 3;
    nfi.NumberDecimalSeparator = ",";
}

<div style="max-width: 1150px; margin: 0 auto; ">
    <table style="width:100%">
        <tr>
            <td style="width:250px">
                <div style="max-width: 250px; margin: 0 auto; ">
                    @{
                        if (Model.MaximaDemanda != null)
                        {
                            <table class="tabla-formulario" style="max-width: 250px;">
                                <tr>
                                    <th>Máxima Demanda:</th>
                                    <td style="text-align: right;">@Model.MaximaDemanda.Valor.ToString("N", nfi)</td>
                                </tr>
                                <tr>
                                    <th>Fecha:</th>
                                    <td style="text-align: right;">@Model.MaximaDemanda.FechaOnlyDia</td>
                                </tr>
                                <tr>
                                    <th>Hora:</th>
                                    <td style="text-align: right;">@Model.MaximaDemanda.FechaOnlyHora</td>
                                </tr>
                            </table>
                        }
                    }

                    <br />
                    <br />

                    <table class="tabla-formulario" id="tablaDetalle" role="grid" border="1" style="max-width: 250px;">
                        <thead>
                            <tr>
                                <th style="width:50px">Hora</th>
                                <th style="width:100px">Demanda</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.ListaDemandaCuartoHora)
                                {
                                    <tr>
                                        <td style="text-align: center;">@item.FechaOnlyHora</td>
                                        <td style="text-align: right;">@item.Valor.ToString("N", nfi)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </td>
            <td>
                <div id="idVistaGrafica" style='display: block; width: 750px; height: 450px; margin-left: 100px;'>

                </div>
            </td>
        </tr>
    </table>
</div>

<input type="hidden" id="hfJsonGrafico" value="@Model.Json" />
