@model COES.MVC.Extranet.Areas.IEOD.Models.EquiposSEINModel
@{
    ViewBag.Title = "Equipos repotenciados y/o reubicados y Primera Conexión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Areas/IEOD/Content/Scripts/equiposSEIN.js"></script>
<script src="~/Areas/IEOD/Content/Scripts/addEquipoSEIN.js"></script>

<div class="form-title_intranet">
    <div class="content-titulo" style="width: 74%;">Equipos repotenciados y/o reubicados y Primera Conexión</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />
        <input type="button" id="btnAgregar" value="Agregar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="Idempresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" />
                </td>

                <td>Tipo Equipo:</td>
                <td>
                    <select id="cbFamilia" name="IdFamilia" multiple="multiple">
                        @foreach (var item in Model.ListaFamilia)
                        {
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfFamilia" />
                </td>

                <td>Fecha:</td>
                <td><input type="text" id="idFecha" value="@Model.Fecha" /></td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listadoSEIN"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<div id="validaciones">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Registro</span></div>
    <div class="table-list" id="detalleSEIN"></div>
</div>
