<table class="table-form-vertical">
    <tr>
        <td>Empresa:</td>
        <td>
            <select id="cbEmpresa2" name="Idempresa">
                @foreach (var item in Model.ListaEmpresas)
                {
                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                }
            </select>
            <input type="hidden" id="hfEmpresaPto" />
        </td>
    </tr>
    <tr>
        <td>Tipo de Equipo:</td>
        <td>
            <select id="cbFamilia2">
                <option value="0">--SELECCIONE--</option>
                @foreach (var item in Model.ListaFamilia)
                {
                    <option value="@item.Famcodi">@item.Famnomb</option>
                }
            </select>
            <input type="hidden" id="hfFamiliaPto" />
        </td>
    </tr>
    <tr>
        <td>Equipo:</td>
        <td>
            <select id="cbEquipo" name="idEquipo" style="font-family:monospace; width:300px">
                <option value="0">--SELECCIONE--</option>
                @foreach (var item in Model.ListaEquipo)
                {
                    var equipo = item.Equinomb;
                    <option value="@item.Equicodi">@equipo</option>
                }
            </select>
            <input type="hidden" id="hfEquipo" />
        </td>
    </tr>
    <tr>
        <td>Motivo:</td>
        <td>
            <select id="cbMotivo" name="IdMotivo">
                <option value="0">--SELECCIONE--</option>
                @foreach (var item in Model.ListaMotivo)
                {
                    <option value="@item.Subcausacodi">@item.Subcausadesc</option>
                }
            </select>
        </td>
    </tr>
    <tr id="trNeoUbicacion" style="display: none">
        <td>Nueva Ubicacion:</td>
        <td>
            <select id="cbUbicacion" name="IdUbicacion">
                <option value="0">--SELECCIONE--</option>
                @foreach (var item in Model.ListaAreas)
                {
                    <option value="@item.Areacodi">@item.Areanomb</option>
                }
            </select>
            <input type="hidden" id="hfUbicacion" />
        </td>

    </tr>
    <tr id="trFecha">
        <td>Fecha:</td>
        <td><input type="text" id="idFechaEnvio" value="@Model.Fecha" /></td>
    </tr>
    <tr>
        <td colspan="2" style="margin:0 auto;width: 215px;margin-top: 20px;">
            <div style="margin:0 auto">
                <input type="button" id="idAgregar" value="Agregar" />
                <input type="button" id="idCancelar" value="Cancelar" />
            </div>
        </td>
    </tr>
</table>