@model COES.MVC.Extranet.Areas.IEOD.Models.EquiposSEINModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="100%" id="tablaSEIN">
    <thead>
        <tr>

            <th></th>
            <th>Empresa</th>
            <th>Tipo de Equipo</th>
            <th>Equipo</th>
            <th>Motivo</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEquipoSEIN)
        {
            <tr>
                <td>
                    <a href="JavaScript:mostrarDetalle(item.Eeqcodi);">
                        <img src="~/Content/Images/btn-edit.png" title="Ver registro" alt="Ver registro" />
                    </a>
                    @if (Model.OpcionEditar && item.Eeqestado == 1)
                    {
                        <a href="JavaScript:eliminar(item.Eeqcodi);">
                            <img src="~/Content/Images/btn-cancel.png" title="Eliminar registro" alt="Eliminar registro" />
                        </a>
                    }
                </td>
                <td>@item.Emprnomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Subcausadesc</td>
                <td>@item.EeqfechainiDesc</td>
                @if (@item.Eeqestado == 1)
                {
                    <td><span style="color: #ff770d;"><strong>PENDIENTE</strong></span></td>
                }
                else
                {
                    if (@item.Eeqestado == 2)
                    {
                        <td><span style="color:green;"><strong>ATENDIDO</strong></span></td>
                    }
                    else
                    {
                        if (@item.Eeqestado == 3)
                        {
                            <td><span style="color:red;"><strong>ANULADO</strong></span></td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

