@model COES.MVC.Publico.Models.HomeModel
@{
    ViewBag.Title = ".::Portal Web del COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/carousel.js"></script>
<link href="~/Content/Css/carousel.css?v=1.0" rel="stylesheet" />
<script src="~/Content/Scripts/home.js?v=3.9"></script>
<script src="~/Content/Scripts/highstock.js"></script>
<link href="~/Content/Css/iconografia.css" rel="stylesheet" />

<script src="~/Content/Scripts/scroll.min.js"></script>
<link href="~/Content/Css/scroll.min.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/date.format.js"></script>
<script src="~/Content/Scripts/PortalInformacion/util.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var controlador = siteRoot + 'portalinformacion/';
        /*
             Slides
        */

        //Picture slider -- homepage
        $('.picture-slider').slick({
            infinite: true,
            arrows: false,
            dots: true,
            autoplay: true,
            dotsClass: 'image-slider-dots'
        })

        //Shortcuts carousel -- homepage
        $('.coes-shortcuts-carousel').slick({
            infinite: true,
            arrows: true,
            dots: false,
            slidesToShow: 8,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 2,
                    }
                },
            ]

        })

        //Shortcuts carousel -- homepage
        $('.slider-prensa--container').slick({
            infinite: true,
            arrows: true,
            dots: false,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 1,
                    }
                },
            ]
        })

        /*
    Tabs
 */

        //Define variables
        var tab = $('.coes-tab')
        var tabContent = $('.coes-tab--content')

        //Event handler
        function tabClickHandler(e) {

            //Get the data attribute of the clicked tab and store it
            let tabTarget = $(this).data('tab-target')

            //To execute only on THIS instance without affect other instances on the same page
            let closestParent = $(this).closest('.coes-tabs')

            //Execute only if there are 2 ore more tabs
            if (closestParent.find('.coes-tab').length >= 2) {
                //Remove classes from all tabs
                closestParent.find('.coes-tab').removeClass('coes-tab--active')

                //Remove classes from all content tabs
                closestParent.find('.coes-tab--content').removeClass('coes-tab--content-active')

                //Add a class to the clicked tab
                closestParent.find($(this)).addClass('coes-tab--active')

                //Display the content of the selected tab
                closestParent.find('#coes-tab-content-' + tabTarget).addClass('coes-tab--content-active')
            }
        }

        //Event
        tab.on('click', tabClickHandler)


    });


    function onClickBotonera(url) {
        console.log(controlador);
        var controladorUpd = controlador.replace('/home', '');
        console.log(controladorUpd);
        window.location.href = controladorUpd + url;
    }



    /*MenuPrincipal */
    window.addEventListener("load", () => {
        document.addEventListener("click", (event) => {
            let hideSubmenu = true;
            // Elementos del menu
            const menuItem = document.querySelectorAll(".menu__item");
            menuItem.forEach((e) => {
                if (event.target === e) {
                    hideSubmenu = false;
                }
            })

            const menuItemImg = document.querySelectorAll(".icon-menu-principal");
            menuItemImg.forEach((e) => {
                if (event.target === e) {
                    hideSubmenu = false;
                }
            })
   
            // elemenos del submenu
            const submenu = document.querySelectorAll(".submenu-contenedor");
            submenu.forEach((e) => {
                if (event.target === e) {
                    hideSubmenu = false;
                }
            })
            // elemenos del submenu - sección 1
            const submenuSeccion1 = document.querySelectorAll(".submenu-seccion-01");
            submenuSeccion1.forEach((e) => {
                if (event.target === e) {
                    hideSubmenu = false;
                }
            })
            // elemenos del submenu - sección 2
            const submenuSeccion2 = document.querySelectorAll(".submenu-seccion-02");
            submenuSeccion2.forEach((e) => {
                if (event.target === e) {
                    hideSubmenu = false;
                }
            })
            // Mostrar u ocultar submenu
            if (hideSubmenu) {
                HideSubmenu();
            }
        })

        var items1 = document.querySelectorAll(".menu__item");
        items1.forEach((e) => {
            e.addEventListener("click", () => {
                let showSubmenu = true;
                e.classList.forEach((e) => {
                    if (e === 'active') {
                        showSubmenu = false;
                    }
                });
                HideSubmenu();
                if (showSubmenu) {
                    e.classList.add("active");
                } else {
                    e.classList.remove("active");
                }
            })
        })
        //Theme switch button
        document.querySelectorAll('.dark-mode-switch').forEach((e) => {
            e.addEventListener('click', darkModeSwitch);
        })
    })

    function HideSubmenu() {
        const submenu = document.querySelectorAll(".menu__item");
        submenu.forEach((e) => {
            e.classList.remove("active");
        })
    }




    // Dark mode
    function switchDark() {
        //Add a class to the body to enable the dark theme
        $('body').addClass('dark-theme')
        //Add the active class to this button
        $('.dark-mode-on').addClass('active')
        //Set the theme to 'dark' on the local storage value
        localStorage.setItem('theme', 'dark')
    }

    function switchLight() {
        //Remove the dark theme class from the body
        $('body').removeClass('dark-theme')
        //Add the active class to this button
        $('.dark-mode-off').addClass('active')
        //Set the theme to 'dark' on the local storage value
        localStorage.setItem('theme', 'light')
    }



    //check user preferences
    function darkModeSwitch() {
        //determine if the clicked button is dark or light
        let themeValue = $(this).data('theme');
        //Remove classes from all switch buttons
        $('.dark-mode-switch').removeClass('active');
        //Switch theme according to the value
        if (themeValue === 'dark') {
            switchDark()
        } else {
            switchLight()
        }
    }


</script>
<style>
    .slick-list.draggable {
        margin-bottom: -8px;
    }
</style>
<div class="content-area">

    <div class="container">
        <div class="row" style="position: relative">
            
            <div class="col-md-4 col-sm-6-2 order-1 order-md-0 menu-general">
                @*<div class="coes-box">
                        <div class="coes-box--header coes-box--header--bg-fill">
                            <h3 class="coes-box--title">Frecuencia del SEIN</h3>
                        </div>
                        <div class="coes-box--content">
                            <div class="home-indicador-subtitle" id="resumenIndicador">
                            </div>
                            <div class="home-indicador-grafico">
                                <div id="chartIndicador" class="grafico-home"></div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>*@

                 @Html.Action("MenuPrincipal", "Home", new { model = Model, area = "" })
            </div>

            @*<div class="col-md-4 col-sm-6 order-2 order-md-0">
                    <div class="coes-box">
                        <div class="coes-box--header coes-box--header--bg-fill">
                            <h3 class="coes-box--title">Demanda</h3>
                        </div>
                        <div class="box--content">
                            <div class="home-indicador-subtitle" id="resumenIndicadorDemanda">
                            </div>
                            <div class="home-indicador-grafico">
                                <div id="chartIndicadorDemanda" class="grafico-home"></div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="col-md-12 col-lg-8 col-sm-6-2 order-1 order-md-0">
                <div class="coes-box" style="max-height: 480px; overflow:hidden;">
                    <div class="picture-slider-container">
                        <div class="picture-slider">

                            @foreach (var item in Model.ListaBanner)
                            {
                                <div>
                                    @if (item.Banncodi == 22)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Principal%2Fcomunicado_coes.pdf'" src="https://www.coes.org.pe/fileapp/banners/BARRA_22_x.jpg" alt="" usemap="#Map" />
                                    }
                                    else if (item.Banncodi == 23)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Principal%2FPlan%20COVID_19_4.pdf'" src="https://www.coes.org.pe/fileapp/banners/BARRA_23_x.jpg" alt="" usemap="#Map2" />
                                    }
                                    else if (item.Banncodi == 28)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Principal%2FPlan%20COVID_19_%2003.06.2020.pdf'" src="https://www.coes.org.pe/fileapp/banners/@item.Bannimage" alt="" usemap="#Map3" />
                                    }
                                    else if (item.Banncodi == 29)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n%2FGas%20Natural%2FDeclaracion%20de%20Precios%20de%20Gas%2F2020%2F06_JUNIO%2FFormato3%20-%20Informaci%C3%B3n%20Anual%20Referente%20a%20Precios%20Costos%20y%20Calidad%20del%20Gas%20Natural.xlsx'" src="https://www.coes.org.pe/fileapp/banners/BARRA_29.jpg" alt="" usemap="#Map4" />
                                    }
                                    else if (item.Banncodi == 30)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Principal%2FPublicaci%C3%B3nElPeruano.pdf'" src="https://www.coes.org.pe/fileapp/banners/BARRA_30.jpg" border="0" usemap="#Map5" />
                                    }
                                    else if (item.Banncodi == 33)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/browser/download?url=Principal%2FConvocatoriaAudienciaPT.pdf'" src="https://www.coes.org.pe/fileapp/banners/BARRA_33.jpg" border="0" usemap="#Map6" />
                                    }
                                    else if (item.Banncodi == 35)
                                    {
                                        <img onclick="location.href='https://www.coes.org.pe/portal/content/video/Indicadores_BI_COES.mp4'" src="https://www.coes.org.pe/fileapp/banners/BARRA_35.jpg?v=1" border="0" usemap="#Map7" />
                                    }
                                    else
                                    {
                                        @*if (item.Bannorden % 2 == 0)
                                            {

                                                <img src="~/Content/test-img/estadistica_488.png" style="width: 100%; max-height: 482px; position: inherit; height: auto; " alt="">
                                            }
                                            else
                                            {
                                                <img src="~/Content/test-img/estadistica_488.png" style="width: 100%; max-height: 482px; position: inherit; height: auto; " alt="">
                                            }*@
                                    }
                                    <img src="https://www.coes.org.pe/fileapp/banners/@item.Bannimage" style=" max-width: 100%; max-height: 100%;height: auto;" alt="" />

                                    @if (item.Bannlink != null)
                                    {
                                        <div>
                                            <div class="button-banner" style="background-color: white; opacity: 0.3; height: 40px; width: 100px;">
                                            </div>
                                            @if (item.Banncodi == 92)
                                            {
                                                <a class="button-text-banner" style="position: absolute; z-index: 100; top: 79.6%; margin-left: 27px; " href="@item.Bannlink" target="_blank">Conoce más</a>
                                            }
                                            else
                                            {
                                                <a class="button-text-banner" style="position: absolute; z-index: 100; top: 79.6%; margin-left: 27px; " href="~/@item.Bannlink" target="_blank">Conoce más</a>
                                            }
                                        </div>
                                    }

                                </div>
                            }

                            @*<img src="~/Content/test-img/500kV_3-Phase_Transmission_Lines.png" alt="">
                                <img src="~/Content/test-img/powerlines.jpg" alt="">
                                <img src="~/Content/test-img/500kV_3-Phase_Transmission_Lines.png" alt="">
                                <img src="~/Content/test-img/powerlines.jpg" alt="">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="coes-filters d-flex mt-2">
    <div class="container w-100">
        <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap same-height-button-group">

            <div class="coes-form-item">
                <button class="coes-button coes-button--front" onclick="onClickBotonera('portalinformacion/generacion')">
                    Portal de Indicadores
                    <span>Indicadores importantes del Sector Energético Peruano</span>
                </button>
            </div>

            <div class="coes-form-item">
                <button class="coes-button coes-button--front" onclick="onClickBotonera('portalinformacion/MonitoreoSEIN')">
                    Monitoreo SEIN - Tiempo Real
                    <span style="height: 1.3rem;">(Desfase de 30 minutos)</span>
                </button>
            </div>

            <div class="coes-form-item">
                <button class="coes-button coes-button--front" onclick="onClickBotonera('portalinformacion/VisorPowerBI')">
                    Indicadores BI
                    <span>Datos históricos</span>
                </button>
            </div>

            <div class="coes-form-item">
                <button class="coes-button coes-button--front" onclick="onClickBotonera('tramitevirtual/registro')">
                    Portal de Trámite Virtual
                    <span>Realice sus trámites en línea</span>
                </button>
            </div>

        </div>
    </div>
</div>

<!-- SHORTCUTS CAROUSEL -->
<div class="container">
    <div class="coes-shortcuts-carousel">
        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/operacion/progoperacion/programadiario">
                <span class="coes-shortcut--icon coes-shortcut--icon__timer"></span>
                Programación de Operación
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/publicaciones/suscripcion/suscripcion">
                <span class="coes-shortcut--icon coes-shortcut--icon__docs"></span>
                Suscripciones
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/Publicaciones/Boletines/">
                <span class="coes-shortcut--icon coes-shortcut--icon__sheet"></span>
                Publicaciones
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/mercadomayorista/liquidaciones">
                <span class="coes-shortcut--icon coes-shortcut--icon__electricity"></span>
                Liquidaciones Mercado Mayorista...
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/MercadoMayorista/CostosMarginales/Index">
                <span class="coes-shortcut--icon coes-shortcut--icon__currency"></span>
                Costos Marginales en Tiempo Real
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/MarcoNormativo/Procedimientos/Tecnicos">
                <span class="coes-shortcut--icon coes-shortcut--icon__checklist"></span>
                Procedimientos Tecnicos
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/portalinformacion/demanda?indicador=maxima">
                <span class="coes-shortcut--icon coes-shortcut--icon__bars"></span>
                Reporte de Máxima Demanda
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="JavaScript:openAgenda();">
                <span class="coes-shortcut--icon coes-shortcut--icon__phone-outline"></span>
                Directorio Telefónico
            </a>
        </div>

        <div class="coes-shortcut">
            <a class="coes-shortcut--link" href="~/PostOperacion/EvaluacionFallas/">
                <span class="coes-shortcut--icon coes-shortcut--icon__docs"></span>
                Evaluación y Fallas (Análisis de eventos y fallas)
            </a>
        </div>

    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-4 col-sm-6-2">
            <div class="coes-box">
                <div class="coes-box--header coes-box--header--bg-fill">
                    <h3 class="coes-box--title">Frecuencia del SEIN</h3>
                </div>
                <div class="coes-box--content">
                    <div class="home-indicador-subtitle" id="resumenIndicador">
                    </div>
                    <div class="home-indicador-grafico">
                        <div id="chartIndicador" class="grafico-home"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6-2">

            <div class="coes-box">
                <div class="coes-box--header coes-box--header--bg-fill">
                    <h3 class="coes-box--title">Demanda</h3>
                </div>
                <div class="coes-box--content">
                    <div class="home-indicador-subtitle" id="resumenIndicadorDemanda">
                    </div>
                    <div class="home-indicador-grafico">
                        <div id="chartIndicadorDemanda" class="grafico-home-prod"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6-2">

            <div class="coes-box">
                <div class="coes-box--header coes-box--header--bg-fill">
                    <h3 class="coes-box--title">Producción</h3>
                </div>
                <div class="coes-box--content">
                    <div class="home-indicador-subtitle" id="resumenIndicadorProduccion">
                    </div>
                    <div class="home-indicador-grafico">
                        <div id="chartIndicadorProduccion" class="grafico-home-prod"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="coes-box">
        <div class="coes-tabs">
            <nav class="coes-tabs--navigation">
                <button class="coes-tab coes-tab--active" data-tab-target="3">
                    Demanda
                </button>

                <button class="coes-tab" data-tab-target="4">
                    Producción
                </button>

            </nav>
            <div class="coes-tab--content coes-tab--content-active" style="overflow-y:auto;" id="coes-tab-content-3">
                <div class="home-indicador-subtitle" id="resumenIndicadorDemanda">
                </div>
                <div class="home-indicador-grafico">
                    <div id="chartIndicadorDemanda" class="grafico-home-prod"></div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div class="coes-tab--content coes-tab--content" style="overflow-y: auto;" id="coes-tab-content-4">-->
        <!-- Produccion -->
        <!--<div class="home-indicador-subtitle" id="resumenIndicadorProduccion">
                    </div>
                    <div class="home-indicador-grafico">
                        <div id="chartIndicadorProduccion" class="grafico-home-prod"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>

            </div>
        </div>-->

    </div>
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 col-sm-6-2">
            <div class="coes-box">
                <div class="coes-box--header coes-box--header--bg-fill">
                    <h3 class="coes-box--title">Eventos Relevantes</h3>
                </div>
                <div class="coes-tab--content coes-tab--content-active" id="coes-tab-content-1">
                    <div class="coes-preview-list">
                        @foreach (var item in Model.ListaEventos)
                        {
                            <div class="coes-box coes-preview-item">
                                <p class="coes-preview--date">@(((DateTime)item.Evenini).ToString("dd MMM", new System.Globalization.CultureInfo("es-ES")).ToUpper())</p>
                                <h2 class="coes-preview--title"><a href="~/Eventos/Relevantes">@item.Evenasunto</a></h2>
                                <div class="coes-preview--content">
                                    <p>
                                        @item.Evendesc
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6-2">
            <div class="coes-box">
                <div class="coes-box--header coes-box--header--bg-fill">
                    <h3 class="coes-box--title"> Máxima Demanda</h3>
                </div>
                <div class="coes-tab--content coes-tab--content-active" id="coes-tab-content-1">
                    <div class="coes-preview-list">
                        @foreach (var item in Model.ListaComunicado)
                        {
                            <div class="coes-box coes-preview-item">
                                <p class="coes-preview--date">@(((DateTime)item.Comfecha).ToString("dd MMM", new System.Globalization.CultureInfo("es-ES")).ToUpper())</p>
                                <h2 class="coes-preview--title"><a href="@item.Comlink">@item.Comtitulo </a></h2>
                                <div class="coes-preview--content">
                                    <p>
                                        @item.Comdesc
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<div class="coes-box">
                <div class="coes-tabs">
                    <nav class="coes-tabs--navigation">
                        <button class="coes-tab coes-tab--active" data-tab-target="1">
                            Eventos Relevantes
                        </button>

                        <button class="coes-tab" data-tab-target="2">
                            Máxima Demanda
                        </button>

                    </nav>
                    <div class="coes-tab--content coes-tab--content-active" id="coes-tab-content-1">

                        <div class="coes-preview-list">
                            @foreach (var item in Model.ListaEventos)
                            {
                                <div class="coes-box coes-preview-item">
                                    <p class="coes-preview--date">@(((DateTime)item.Evenini).ToString("dd MMM", new System.Globalization.CultureInfo("es-ES")).ToUpper())</p>
                                    <h2 class="coes-preview--title"><a href="~/Eventos/Relevantes">@item.Evenasunto</a></h2>
                                    <div class="coes-preview--content">
                                        <p>
                                            @item.Evendesc
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                    <div class="coes-tab--content" id="coes-tab-content-2">

                        <div class="coes-preview-list">
                            @foreach (var item in Model.ListaComunicado)
                            {
                                <div class="coes-box coes-preview-item">
                                    <p class="coes-preview--date">@(((DateTime)item.Comfecha).ToString("dd MMM", new System.Globalization.CultureInfo("es-ES")).ToUpper())</p>
                                    <h2 class="coes-preview--title"><a href="@item.Comlink">@item.Comtitulo </a></h2>
                                    <div class="coes-preview--content">
                                        <p>
                                            @item.Comdesc
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>


<div class="container">

    <div class="coes-box">
        <div class="coes-box--header text-start">
            <h2 class="coes-box--title">Noticias</h2>
        </div>

        <div class="slider-prensa--container">
            @foreach (var item in Model.ListaSalaPrensa)
            {
                <div class="slider-prensa--item d-flex align-items-start">
                    @if (item.ComImagen != null)
                    {
                        <a href="#" style=" width: 260px; height:237px">
                            @*<img style="width: inherit;" src="https://picsum.photos/260/180" alt="">*@
                            <img style="width: inherit;" src="@item.ComImagen" alt="">
                        </a>
                    }

                    <div class="coes-preview-item">
                        <h2 class="coes-preview--title"><a href="~/organizacion/salaprensa">@item.Comtitulo</a></h2>
                        <p class="coes-preview--date">@(((DateTime)item.Comfecha).ToString("dd MMM", new System.Globalization.CultureInfo("es-ES")).ToUpper())</p>
                        <div class="coes-preview--content">
                            <p>
                                @item.Comresumen
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div><!-- /.col-9 -->

    </div><!-- /.row -->
</div><!-- /.container-->
@*<div id="popupAgenda" class="modal-content" style="width:700px;">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-text">
            <div class="popup-title" style="text-align:center; margin-top:0"><span>Lista de anexos para el apoyo de cada área</span></div>
            <p>
                Si usted desea realizar alguna consulta especifica, a seguir les hacemos llegar una lista de anexos para que sea atendido por los
                especialistas designados de cada área, puede contactarse a través del (511) 611-8585, ingresando los siguientes anexos según corresponda:
            </p>

            <div id="contenidoAgenda">

            </div>
            <br />
            <p>
                En caso de no conocer exactamente la Sub Dirección o Departamento para tu consulta, puedes comunicarte a los anexos de la Dirección respectiva,
                donde se te canalizará con el especialista encargado.
            </p>
        </div>
    </div>*@

<div class="modal fade" id="popupAgenda" tabindex="-1" aria-labelledby="popupDisclaimerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" class="coes-modal-close--button b-close mt-4" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="popupDisclaimerLabel">Lista de anexos para el apoyo de cada área</h5>
            </div>
            <div class="modal-body">
                <p>
                    Si usted desea realizar alguna consulta especifica, a seguir les hacemos llegar una lista de anexos para que sea atendido por los
                    especialistas designados de cada área, puede contactarse a través del (511) 611-8585, ingresando los siguientes anexos según corresponda:
                </p>
                <div id="contenidoAgenda">

                </div>
                <br />
                <p>
                    En caso de no conocer exactamente la Sub Dirección o Departamento para tu consulta, puedes comunicarte a los anexos de la Dirección respectiva,
                    donde se te canalizará con el especialista encargado.
                </p>
            </div>
        </div>
    </div>
</div>
