@model COES.MVC.Publico.Areas.Operacion.Models.TransferenciaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estadística de Transferencias";
}
<script src="~/Areas/Operacion/Content/Scripts/transferencias.js"></script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/CaracteristicasSEIN.jpg)">
</div>
<div style="clear:both"></div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoProgramadoDiario" class="sidebar-nav--link">Despacho Programado Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoProgramadoSemanal" class="sidebar-nav--link">Despacho Programado Semanal</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/CostoVariables" class="sidebar-nav--link">Costos Variables</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DespachoEjecutadoDiario" class="sidebar-nav--link">Despacho Ejecutado Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/eventos/mantenimiento/" class="sidebar-nav--link">Consulta de Mantenimientos</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/PotenciaMediaHorariaIndisponible" class="sidebar-nav--link">Potencia Media Horaria Indisponible de Unidades de Generación, Enlaces de Transmisión y Subestaciones</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/mediciones/medidoresgeneracion" class="sidebar-nav--link">Medidores de Generación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/Transferencias/CostosMarginales" class="sidebar-nav--link sidebar-nav--link-active">Costos Marginales</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/ConsultaFrecuenciaDiariaNTCSE" class="sidebar-nav--link">Consulta de Frecuencia Diaria (NTCSE)</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-2">
            <div class="coes-box mb-3" style="overflow: inherit;">
                <div class="coes-box--header coes-box--header--center-aligned">
                    <h3 class="coes-box--title">Costos Marginales</h3>
                </div>
                <div class="coes-box--content container" id="mainLayout">
                    <div class="coes-form-item--info coes-form-item coes-box coes-box--content pt-2 pe-3 ps-3 pb-2 mt-3" id="mensaje">
                        Por favor seleccione los filtros para exportar los datos.
                    </div>
                    <div class="coes-filters d-flex ">
                        <form action="" class="w-100">
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                <div class="coes-form-item">
                                    <label class="d-block">Año:</label>
                                    <select id="cbAnio">
                                        @foreach (var item in Model.ListaAnios)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hfAnio" value="@Model.Anio" />
                                </div>
                                <div class="coes-form-item">
                                    <label class="d-block">Mes:</label>
                                    <select id="cbMes">
                                        @foreach (var item in Model.ListaMeses)
                                        {
                                            <option value="@item">@COES.Base.Tools.Util.ObtenerNombreMes(item)</option>
                                        }
                                    </select>
                                    <input type="hidden" id="hfMes" value="@Model.Mes" />
                                </div>
                                <div class="coes-form-item">
                                    <label id="labelBarra" class="d-block">Barra:</label>
                                    <div id="controlBarra">
                                        <select id="cbBarra">
                                            <option value="">-SELECCIONE-</option>
                                            @foreach (var item in Model.ListaBarras)
                                            {
                                                <option value="@item.BarrCodi">@item.BarrNombBarrTran</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="coes-form-item" id="controlBarraDTR">
                                    <label id="labelBarraDTR">Barra:</label>
                                    <select id="cbBarraDTR">
                                        <option value="">-SELECCIONE-</option>
                                        @foreach (var item in Model.ListaBarrasDTR)
                                        {
                                            <option value="@item.BarrCodi">@item.BarrNombBarrTran</option>
                                        }
                                    </select>
                                </div>
                                <div class="coes-form-item">
                                    <input type="button" class="coes-form-item--submit" id="btnExportar" value="Exportar" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



