@model COES.MVC.Intranet.Areas.Transferencias.Models.ValorTransferenciaModel
<table border="0" class="pretty" id="tabla2">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Valorización de Entregas y Retiros S/</th>
            <th>Retiros no cubiertos en MCP S/</th>
            <th>Rentas por Congestión S/</th>
            <th>Asignación de saldo resultante S/</th>
            <th>Saldos por compensaciones S/</th>
            <th>Saldo de meses anteriores S/</th>
            <th>Saldo actual de transferencia S/</th>
            @if (Model.IdValorTransferencia > 1)
            {
                <th>Saldo anterior S/.</th>
                <th>Saldo S/.</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaValorTransferencia)
        {
            <tr>
                <td class="text_left">@item.EmprNomb</td>
                <td style="text-align:right;">@item.Valorizacion.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.SalrscSaldo.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.Entregas.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.SalEmpSaldo.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.Compensacion.ToString("#,##0.00")</td>
                <td style="text-align:right;">@item.Salrecalculo.ToString("0.##")</td>
                <td style="text-align:right;">@item.Vtotempresa.ToString("#,##0.00")</td>
                @if (Model.IdValorTransferencia > 1)
                {
                    decimal dSaldo = (item.Vtotempresa - item.Vtotanterior);
                    <td style="text-align:right;">@item.Vtotanterior.ToString("#,##0.00")</td>
                    <td style="text-align:right;">@dSaldo.ToString("#,##0.00")</td>
                }
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>
<div style="text-align:center"></div>/div>