@model COES.MVC.Intranet.Areas.YupanaContinuo.Models.CondicionTermicaModel

<input type="hidden" id="hfIdModGrup" name="hfIdModGrup" value="@Model.IdGrupoModo" />

<select id="cbModoOpGrupo" name="cbModoOp" style="width: 330px" @Model.ActFiltroCtral>

    @foreach (var item in Model.SelectListItem)
    {
    <option value="@item.Value">@item.Text</option>
    }

</select>
<input type="hidden" id="hfIdPos" name="hfIdPos" value="@Model.IdPos" /> 