@model COES.MVC.Intranet.Areas.YupanaContinuo.Models.CondicionTermicaModel
<div class="content-registro">
    <table>
        @if (Model.TipoVistaCoordinador == Model.ValorAlertaXSI)
        {
            <tr>
                <td class="tbform-label" style="width: 300px">Empresa</td>
                <td class="tbform-control">
                    <select id="cbEmpresa2" name="cbEmpresa2" style="width:220px;" @Model.ActFiltroCtral>
                        @if (Model.TipoVistaCoordinador == Model.ValorAlertaXSI && Model.IdPos < 0)
                        {
                            <option value="@Model.ValorParamIdEmpresaSeleccione">--SELECCIONE--</option>
                        }

                        @if (Model.ListaEmpresas.Count > 0)
                        {
                            foreach (var item in Model.ListaEmpresas)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        }
        else
        {
            <tr style="display: none">
                <td>
                    <input type="hidden" id="cbEmpresa2" name="cbEmpresa2" value="@Model.IdEmpresa" />
                </td>
                <td></td>
            </tr>
        }

        <tr>
            <td class="tbform-label">Central</td>
            <td class="tbform-control">
                <select id="cbCentral2" name="cbCentral2" style="width:220px;" @Model.ActFiltroCtral>
                    @if (Model.TipoVistaCoordinador == Model.ValorAlertaXSI)
                    {
                        <option value="@Model.ValorParamIdCentralSeleccione">--SELECCIONE--</option>
                    }

                    @if (Model.ListaCentrales.Count > 0)
                    {
                        foreach (var item in Model.ListaCentrales)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    }
                </select>
                <input type="hidden" id="hfCentral" name="hfCentral" value="@Model.IdCentralSelect" />
                <input type="hidden" id="hfTipoCentral" name="hfTipoCentral" value="@Model.IdTipoCentral" />
            </td>
        </tr>

        @if (Model.IdTipoCentral != 39 && Model.IdTipoCentral != 37)//Hidrológica, Termoeléctrica
        {
            <tr class="tr-grupo-modo">
                <td class="tbform-label">@Model.EtiquetaFiltro</td>
                <td class="tbform-control">
                    <div id="listaModoGrupo"></div>
                </td>
            </tr>
        }

        <tr>
            <td class="tbform-label" style="width: 300px">Periodo Inicio</td>
            <td class="tbform-control">
                <select id="cbPeriodoinicio" style="width:220px;">
                    @foreach (var item in Model.SelectListItem)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td class="tbform-label" style="width: 300px">Periodo Final</td>
            <td class="tbform-control">
                <select id="cbPeriodofin" style="width:220px;">
                    @foreach (var item in Model.SelectListItem2)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 10px;">
                <input type="button" id="btnAceptar" value="Aceptar" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </td>
        </tr>

    </table>

</div>

<input type="hidden" id="hfCentral" name="hfCentral" value="@Model.IdCentralSelect" />
<input type="hidden" id="hfIdPos" name="hfIdPos" value="@Model.IdPos" />
<input type="hidden" id="hfIdModoGrupo" name="hfIdModoGrupo" value="@Model.IdGrupoModo" />
<input type="hidden" id="hfTipoCentral" name="hfTipoCentral" value="@Model.IdTipoCentral" />

<input type="hidden" id="hfFecha" name="hfFecha" value="@Model.Fecha" />



<input type="hidden" id="hfCodigo"  />