@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeIngresoModel
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Desarrollo de peajes e ingresos tarifarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/peajeingreso_desarrollo.js?v=1.1"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo" style="width:800px;">@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre - Desarrollo de peajes e ingresos tarifarios</div>
</div>
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Pericodi)
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Recpotcodi)
<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Espere un momento mientras se cargan los datos...</div>
        <table>
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px;" id="divAcciones">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="width:100px;" class="content-action">
                                    <a href="#" id="btnDescargarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                            <span>Descargar Excel</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px;" class="content-action">
                                    <a href="#" id="btnSelecionarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                            <span>Importar Excel</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px;" class="content-action">
                                    <a href="#" id="btnValidarGrillaExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                            <span>Validar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px;" class="content-action">
                                    <a href="#" id="btnGrabarExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/grabar.png" /><br />
                                            <span>Grabar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td style="width:100px;" class="content-action">
                                    <a href="#" id="btnRegresar">
                                        <div class="content-item-action">
                                            <img src="~/Areas/TransfPotencia/Content/Images/salir.gif" onclick="location.href='@Url.Action("Index", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Regresar" title="Regresar" /><br />
                                            <span onclick="location.href = '@Url.Action("Index", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'">Regresar</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action" style="width: 1000px;">&nbsp;</td>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="grillaExcel" style="height:auto" class="handsontable"></div>
</div>
<div id="popup"><span class="button b-close"><span>X</span></span></div>