@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeIngresoModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencia de Potencia y Compensación - Lista de peajes e ingresos tarifarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/TransfPotencia/Content/Scripts/load.js"></script>
<script src="~/Areas/TransfPotencia/Content/Scripts/peajeingreso.js"></script>
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">@Model.EntidadRecalculoPotencia.Perinombre / @Model.EntidadRecalculoPotencia.Recpotnombre - Lista de peajes e ingresos tarifarios</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" id="btnNuevo" value="Nuevo" onclick="location.href='@Url.Action("New", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                <input type="button" id="btnDesarrollo" value="Desarrollo" onclick="location.href='@Url.Action("Desarrollo", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Registrar el Desarrollo de peajes e ingresos tarifarios" title="Registrar el Desarrollo de peajes e ingresos tarifarios" />
            }
            <input type="button" id="btnGenerarExcel" value="Generar Excel" alt="Generar Excel" title="Generar Excel" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","recalculopotencia")'" alt="Regresar" title="Regresar" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "peajeingreso", new { pericodi = Model.EntidadRecalculoPotencia.Pericodi, recpotcodi = Model.EntidadRecalculoPotencia.Recpotcodi })'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">       </div>
    </div>
</div>
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Pericodi)
@Html.HiddenFor(model => model.EntidadRecalculoPotencia.Recpotcodi)