@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeIngresoModel
@{
    ViewBag.Title = "Transferencia de Potencia - Peaje e ingresos tarifario";
}
<fieldset>
    <legend>Versión de recálculo de potencia y compensación</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Pingtipo, "Tipo") (*)</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Pingtipo)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Emprcodi, "Titular")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Emprnomb)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Pingnombre, "Nombre")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Pingnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Pingpago, "Pago")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Pingpago)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Pingtransmision, "Transmisión")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Pingtransmision)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.Entidad.Rrpecodi, "Reparto")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.Entidad.Rrpenombre)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>