@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "";
}
@if (Model.Resultado == "-1")
{
<input type="hidden" id="hdResultado_SUB" value="@Model.Resultado" />
<input type="hidden" id="hdMensaje_SUB" value="@Model.Mensaje" />
<input type="hidden" id="hdDetalle_SUB" value="@Model.Detalle" />

<h2>@Model.Mensaje</h2>

    return;
}

@{
    ViewBag.Title = "Evaluación de Primas RER";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/solicitudedi_index.js?v=1.0.1"></script>

<div class="form-title">
    <div class="content-titulo">Solicitudes EDI</div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje" style="margin-bottom:5px; margin-top:0px"></div>

    <div id="tab-container" class='tab-container'>
        <div class='panel-container'>
                <div class="content-tabla">
                    <div style="padding-bottom: 4px; font-weight: bold; color: #3D90CB;">
                        <select id="cbPeriodo" style="width: 120px;">
                            @foreach (var item in Model.ListaPeriodo)
                            {
                            var selected = Model.IdPeriodo == item.Ipericodi ? "selected" : "";
                            <option value="@item.Ipericodi" @selected>@item.Iperinombre</option>
                            }
                        </select>
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </div>
                    <div style="clear:both; height:5px"></div>
                    <div class="content-tabla">
                        <div class="table-list" id="listado"></div>
                    </div>
                </div>
        </div>
    </div>
</div>


