@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalle de Ficha Técnica";
}
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=1.2.4" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTVigente/ftdetalleconfiguracion.js?v=1.2.4"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTVigente/ftdetallevistaconfiguracion.js?v=1.2.4"></script>

<div class="form-title">
    <div class="content-titulo" id="titulo"></div>
    <div class="content-botonera">
        <input type="button" id="btnExportarReporte" value="Exportar" />
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="margin-bottom: 50px;">

    <div id="filtro_elemento" style="display: none">

        <div class="search-content" style="">

            <table id="filtro_detalle" style="width: auto;">

                <tr>
                    <td class="label_filtro td_empresa">Empresa:</td>
                    <td class="valor_filtro td_empresa" id="filtro_empresa"></td>

                    <td class="label_filtro td_ubicacion" id="filtro_tipo_ubicacion" style="padding-left: 40px">Ubicación:</td>
                    <td class="valor_filtro td_ubicacion" id="filtro_valor_ubicacion"></td>

                    <td class="label_filtro" id="filtro_tipo_elemento" style="padding-left: 40px">Equipo:</td>
                    <td class="valor_filtro" id="filtro_nombre_elemento"></td>

                    <td class="label_filtro cb_empresa" style="padding-left: 40px">Empresa:</td>
                    <td class="valor_filtro cb_empresa">
                        <select id="cbEmpresaDetalle" name="Emprcodi" style="width: 250px">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>

                    <td class="label_filtro cb_estado" style="padding-left: 40px">Estado:</td>
                    <td class="valor_filtro cb_estado">
                        <select id="cbEstado" name="Estado" style="width: 150px">
                            <option value="-2">--TODOS--</option>
                            <option value="A">Activo</option>
                            <option value="P">En Proyecto</option>
                            <option value="F">Fuera de COES</option>
                        </select>
                    </td>

                    <td class="label_filtro td_sustento" style="padding-left: 40px">Mostrar sustento:</td>
                    <td class="valor_filtro td_sustento">
                        <input type="checkbox" id="chkSustento" value="" checked />
                    </td>

                    <td class="label_filtro td_fecha" style="padding-left: 40px">Fecha Consulta:</td>
                    <td class="valor_filtro td_fecha">
                        <input type="text" id="txtFechaConsulta" value="@Model.FechaConsulta" style="width:95px;" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="textoMensaje"></div>

    <div class="content-tabla">
        <div class="table-list" id="detalle_ficha_tecnica" style=""></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<!--popup tipo de exportación -->
<div id="popupExportarReporte" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Exportar Reporte</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaExportar">
            <div class="content-tabla">

                <div style="width:250px; padding-left: 30px;">
                    <div style="width:250px; padding-top:30px;">
                        <div>
                            <input type="checkbox" id="chkComent" name="chkComent" value="" checked> Incluir columna comentario <br />
                            <input type="checkbox" id="chkSust" name="chkSust" value=""> Incluir columna sustento <br />
                        </div>
                    </div>
                </div>
                <div style="width:250px; text-align:center; padding:30px;">
                    <div style="width:250px;">
                        <input type="button" id="btnExportar" value="Exportar" />
                        <input type="button" id="btnCancelarExportacion" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hfTipoElemento" value="@Model.TipoElemento" />
<input type="hidden" id="hfTipoElementoId" value="@Model.TipoElementoId" />
<input type="hidden" id="hfCodigo" value="@Model.Codigo" />
<input type="hidden" id="hfCodigoFicha" value="@Model.IdFicha" />

<input type="hidden" id="hfExisteElemento" value="@Model.Elemento.Existe" />
<input type="hidden" id="hfEmpresa" value="@Model.Elemento.Empresa" />
<input type="hidden" id="hfTituloFicha" value="@Model.Elemento.TituloFicha" />
<input type="hidden" id="hfOrigenTipoDesc" value="@Model.Elemento.OrigenTipoDesc" />
<input type="hidden" id="hfOrigenPadreTipoDesc" value="@Model.Elemento.OrigenPadreTipoDesc" />
<input type="hidden" id="hfNombre" value="@Model.Elemento.Nombre" />
<input type="hidden" id="hfUbicacion" value="@Model.Elemento.Ubicacion" />

<input type="hidden" id="hfFlagExisteComentario" value="0" />
<input type="hidden" id="hflagsustento" value="false" />
<input type="hidden" id="hfFecha" value="@Model.FechaConsulta" />
<input type="hidden" id="hfAdminFicha" value="@Model.TienePermisoAdmin" />