@model COES.MVC.Publico.Models.EventoFallaModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>CIER</th>
            <th>Tensión (KV)</th>
            <th>Tipo de Empresa</th>
            <th>Empresa</th>
            <th>Ubicación</th>
            <th>Familia</th>
            <th>Equipo</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Interrupción (MW)</th>
            <th>Disminución (MW)</th>
            <th>Duración (Minutos)</th>
            <th>Energía No Suministrada (MWh)</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaEventos)
        {
            <tr>
                <td>@item.CAUSAEVENABREV</td>
                <td>@item.EQUITENSION</td>
                <td>@item.TIPOEMPRDESC</td>
                <td>@item.EMPRNOMB</td>
                <td>@item.TAREAABREV  @item.AREANOMB</td>
                <td>@item.FAMNOMB</td>
                <td>@item.EQUIABREV</td>
                <td>
                    @if (item.EVENINI != null)
                    {
                        <span>@(((DateTime)item.EVENINI).ToString("dd'/'MM'/'yyyy HH:mm:ss"))</span>
                    }
                </td>
                <td>
                    @if (item.EVENFIN != null)
                    {
                        <span>@(((DateTime)item.EVENFIN).ToString("dd'/'MM'/'yyyy HH:mm:ss"))</span>
                    }
                </td>
                <td>@item.INTERRUPCIONMW</td>
                <td>@item.DISMINUCIONMW</td>
                <td>
                    @if (item.EVENINI != null && item.EVENFIN != null)
                    {
                        var t = item.EVENFIN - item.EVENINI;
                        @(60*24*t.Value.Days + 60*t.Value.Hours + t.Value.Minutes)
                    }
                </td>
                <td>@item.ENERGIAINTERRUMPIDA</td>
                <td>@item.EVENASUNTO</td>
            </tr>
        }
    </tbody>
</table>