@{
    ViewBag.Title = "Fallas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/PortalInformacion/fallas.js"></script>
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Content/Scripts/portalInformacion/util.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<link href="~/Content/Css/portalinformacion.css" rel="stylesheet" />

<div class="portal-info-link">
    <div class="portal-info-item">
        <a href="generacion">Generación</a>
    </div>
    <div class="portal-info-item">
        <a href="demanda">Demanda</a>
    </div>
    <div class="portal-info-item active">
        <a href="fallas">Fallas del SEIN</a>
    </div>
    <div class="portal-info-item">
        <a href="hidrologia">Hidrología</a>
    </div>
</div>

<form name="frmBusqueda" id="frmBusqueda">
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <div class="search-content" style="margin-bottom:10px;">
        <table class="content-tabla-search-pad10">
           
                <tr>
                    <td>Desde</td>
                    <td>Hasta</td>
                    <td>Causa CIER</td>
                    <td>Tipo de Empresa</td>
                    <td>Empresa</td>
                    <td>Interrupción</td>
                    <td>Tipo de Equipo</td>
                </tr>
                <tr>
                    <td>
                        <input id="txtFechaInicial" type="text" value="@Model.FechaInicio" name="FechaInicio" style="width:100px" />
                    </td>
                    <td>
                        <input id="txtFechaFinal" type="text" value="@Model.FechaFin" name="FechaFin" style="width:100px" />
                    </td>
                    <td>
                        <select name="IdFallaCier" style="width:180px">
                            <option value="0">( TODOS )</option>
                            @foreach (var item in Model.ListaCausaEvento)
                            {
                                <option value="@item.Causaevencodi">(@item.Causaevenabrev) @item.Causaevendesc</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="cbTipoEmpresa" name="TipoEmpresa" style="width:140px">
                            <option value="0">( TODOS )</option>
                            @foreach (var tipoEmpresa in Model.ListaTipoEmpresas)
                            {
                                <option value="@tipoEmpresa.Tipoemprcodi">@tipoEmpresa.Tipoemprdesc</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="cbEmpresa" name="IdEmpresa" style="width:220px">
                            @foreach (var empresa in Model.ListaEmpresas)
                            {
                                <option value="@empresa.EMPRCODI">@empresa.EMPRNOMB</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select style="width:120px" name="Interrupcion">
                            <option value="-1">( TODOS )</option>
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </td>
                    <td>
                        <select id="cbTipoEquipo" style="width:160px" name="IdTipoEquipo">
                            @foreach (var familia in Model.ListaFamilias)
                            {
                                <option value="@familia.FAMCODI">@familia.FAMNOMB</option>
                            }
                        </select>
                    </td>                    
                </tr>               
        </table>
        <div style="clear:both; width:240px; margin:auto; margin-top:10px">
            <input id="btnConsultarEventoFalla" type="button" value="Consultar" />
            <input id="btnGraficaFallas" type="button" value="Ver Gráfica" />
            <input id="btnExportarFallas" type="button" value="Exportar" />
        </div>
    </div>
</form>

<div id="paginado"></div>
<div style="clear:both; height:10px"></div>
<div id="contenidoEventoFallas"></div>
<div style="clear:both; height:10px"></div>