@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.EmpresaModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Registro de Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}
<script src="~/Areas/SistemasTransmision/Content/Scripts/load.js"></script>
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/SistemasTransmision/Content/Scripts/Empresa.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Registro de Empresas Generadoras, Transmisoras y Barras-Distancias Eléctricas</div>
        <div class="content-botonera">
            <input type="button" value="Refrescar" id="btnRefrescar" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <table cellpadding="10">
        <tr>
            <td width="50">
                <div class="editor-label">Periodo:</div>
            </td>
            <td width="100" height="30">
                <div>
                    <select id="stpercodi" name="stpercodi" onchange="Recargar();">
                        @foreach (var item in Model.ListaPerido)
                        {
                            sSelected = "";
                            if (@item.Stpercodi == Model.StPercodi)
                            { sSelected = "selected"; }
                            <option value="@item.Stpercodi" @sSelected>@item.Stpernombre</option>
                        }
                    </select>
                </div>
            </td>
            <td width="20"></td>
            <td width="80">
                <div class="editor-label">Version:</div>
            </td>
            <td height="30">
                <div>
                    <select id="strecacodi" name="strecacodi" onchange="Recargar();">
                        @foreach (var item in Model.ListaStRecalculo)
                        {
                            sSelected = "";
                            if (@item.Strecacodi == Model.StRecacodi)
                            { sSelected = "selected"; }
                            <option value="@item.Strecacodi" @sSelected>@item.Strecanombre</option>
                        }

                    </select>
                </div>
            </td>
        </tr>
    </table>

    <div class="content-hijo" style="padding-top:8px">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Empresas Transmisoras</a></li>
                <li class='tab'><a href="#paso2">Empresas Generadoras</a></li>
                <li class='tab'><a href="#paso3">Barras - Distancias Electricas</a></li>
            </ul>

            <div class='panel-container'>
                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table>
                            <tr>
                                <td class="content-botonera">
                                    @if (Model.bNuevo)
                                    {
                                        <input type="button" value="Nuevo" id="btnNuevoTransmisor" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content-hijo" style="padding-top:8px">
                                        <div class="listadoTransmisor" id="listadoTransmisor">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table>
                            <tr>
                                <td class="content-botonera">
                                    @if (Model.bNuevo)
                                    {
                                        <input type="button" value="Exportar" id="btnExportarGenerador" alt="Exportar información de empresas generadoras" title="Exportar información de empresas generadoras" />
                                        <input type="button" value="Nuevo" id="btnNuevoGenerador" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content-hijo" style="padding-top:8px">
                                        <div class="listadoGenerador" id="listadoGenerador">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
                <div id="paso3">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table>
                            <tr>
                                <td class="content-botonera">
                                    @if (Model.bNuevo)
                                    {
                                        <input type="button" value="Nuevo" id="btnNuevoRecabarra" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content-hijo" style="padding-top:8px">
                                        <div class="listadoBarra" id="listadoBarra">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>