@model COES.MVC.Intranet.Areas.Equipamiento.Models.FTAreaRevisionModel
@{
    ViewBag.Title = "Envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<link href="~/Areas/Equipamiento/Content/Css/principal.css?v=2.0.6" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=2.0.6" rel="stylesheet" />

<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAreasRevision/envioFormato.js?v=2.0.6"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAreasRevision/formularioArchivoDatoAreas.js?v=2.0.6"></script>

<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAdministrador/formularioFTdetalleVista.js?v=2.0.6"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAdministrador/formularioExcelWeb.js?v=2.0.6"></script>


<div class="form-title" id="container">
    <div class="content-titulo" style="">
        Envío Información Ficha Técnica - Envío N° @Model.IdEnvio ( <b>@Model.CarpetaEstadoDesc</b> )
    </div>


    <div class="content-botonera">
        <input type="button" id="btnInicio" value="Regresar al listado" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfEmprcodi" value="@Model.Emprcodi" />
    <input type="hidden" id="hfFtetcodi" value="@Model.Ftetcodi" />
    <input type="hidden" id="hfFtprycodi" value="@Model.Ftprycodi" />

    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="hfIdVersion" value="@Model.IdVersion" />

    <input type="hidden" id="hfIdEstado" value="@Model.IdEstado" />
    <input type="hidden" id="hfTipoOpcion" value="@Model.TipoOpcion" />

    <input type="hidden" id="hdIdEnvioPadre" value="@Model.IdEnvio" />
    <input type="hidden" id="hdIdEnvioData" value="@Model.IdEnvio" />

    <input type="hidden" id="hdIdEnvioTipoFormato" value="@Model.EnvioTipoFormato" />
    <input type="hidden" id="hfIdEquipoEnvio" />
    <input type="hidden" id="hfFteeqcodis" />
    <input type="hidden" id="hfFteeqcodinomb" />
    <input type="hidden" id="hdHayPVacios" value="" />
    <input type="hidden" id="hdOpcionRelleno" value="" />
    <input type="hidden" id="hdNotaFecMaxRpta" value="@Model.MsgFecMaxRespuesta" />
    <input type="hidden" id="hdFTEditadaUsuario" value="@Model.EsFTModificada" />

    <input type="hidden" id="hdIdsAreaDelUsuario" value="@Model.StrIdsAreaDelUsuario" />
    <input type="hidden" id="hdIdsAreaTotales" value="@Model.StrIdsAreaTotales" />
    <input type="hidden" id="hdNombreAreasDelUsuario" value="@Model.NombreAreasDelUsuario" />
    <input type="hidden" id="hdIdAreaRevision" value="@Model.IdAreaRevision" />
    <input type="hidden" id="hdNombreAreaRevision" value="@Model.NombreAreaRevision" />
    <input type="hidden" id="hfIdCarpeta" value="@Model.IdCarpetaArea" />

    <input type="hidden" id="hdHabilitadoEditarInformacion" value="@Model.HabilitadoEditarInformacion" />
    <input type="hidden" id="hdHabilitadoDescargarArchConfidenciales" value="@Model.HabilitadoDescargaConfidencial" />

    <div id="div_dia_habil" style="display: none;margin-bottom: 15px;"></div>

    <div class="action-message" id="mensajeEvento" style="margin: 10px 0px 10px; display: none; padding-left: 36px; text-indent: 0px;"></div>


    <div id="idMsgCancelacion" style="display:none;margin-bottom: 15px;"></div>
    <div id="idFecMaxRpta" style="display:none;margin-bottom: 15px;"></div>

    <div style="margin-bottom: 20px; ">
        <fieldset style="margin-top: 6px; padding-bottom: 17px; font-size: 11px; color: #3D90CB; text-align: left; text-indent: 1px; height: 14px; line-height: 0px; ">
            <legend>Avance de Revisión para envío @Model.TipoEnvioDesc</legend>
            <div id="bloquePorcentajeAvance">
                @Html.Raw(Model.HtmlPorcentajeAvance)
            </div>

        </fieldset>
    </div>

    <div class="search-content" style="padding: 10px; margin-bottom: 0px;">

        <div style="display: table; width: 100%;">
            <div style="display:table-row">
                <div style="display: none;padding-top: 8px; padding-bottom: 8px;" id="div_herr_filtro">
                    <div style="display:table">
                        <div style="display:table-row">

                            <table style="width: 800px;" class="filtro_envio">
                                <tr>
                                    <td>
                                        <span> <b>Empresa:</b> </span>
                                        <span class="desc_filtro">@Model.Emprnomb</span>

                                        <span> <b style="padding-left: 10px;">Etapa:</b> </span>
                                        <span class="desc_filtro">@Model.Ftetnombre</span>

                                        @if (Model.Ftprycodi > 0)
                                        {
                                            <span> <b style="padding-left: 10px;">Proyecto:</b> </span>
                                            <span class="desc_filtro">@Model.Ftprynombre</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="display: table-cell;">
                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td style=" padding: 0px; padding-top: 5px; display: none;" id="bq_enviar">
                                <div class="content-action" style="">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/enviar.png" /><br />
                                            <span>Enviar</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td style="padding: 0px; padding-top: 5px; display: none;" id="bq_errores">
                                <div class="content-action" style="">
                                    <a href="#" id="btnErroresRevA">
                                        <div class="content-item-action">
                                            <img src="~/Content/Images/errores.png" /><br />
                                            <span>Errores</span>
                                        </div>
                                    </a>
                                </div>
                            </td>


                        </tr>
                    </table>
                </div>

            </div>
        </div>


    </div>

    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div id="tab-container" class='tab-container' style=" padding-top: 15px;">
            <ul class='etabs'>
                <li class='tab'><a href="#tabLista">Listado</a></li>
                <li class='tab'><a href="#tabDetalle">Detalle</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabLista">


                    <div id="vistaListado">
                        <div style="float: right; padding-bottom: 8px; ">
                            <div id="bq_descargar" class="content-action" style="display: none">
                                <a href="#" id="btnDescargarRevA">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/bajar.png" /><br />
                                        <span>Descargar</span>
                                    </div>
                                </a>
                            </div>
                            <div id="bq_importar" class="content-action" style="display: none">
                                <a href="#" id="btnImportarRevA">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/subir.png" /><br />
                                        <span>Importar</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="div_listado" class="content-tabla">
                            <div id="listadoDetalleEquipo">

                            </div>
                        </div>

                        <div style="font-size: 11px; color: #0331AC; padding: 25px 0px 5px 0px; width: 950px; float: left; ">
                            <b>Nota: </b> La columna <b>Sel. Todos</b> solo es usado para la descarga de fichas, es decir, que el sistema solo descargará fichas de aquellos equipos que tengan marcado la casilla en dicha columna.
                        </div>
                    </div>

                </div>

                <div id="tabDetalle">

                    <div id="div_detalle" class="content-tabla">

                        <div class="search-content3 barra_herramienta_envio_2" style="background-color: white; display: block;">
                            <div style="display:table">
                                <div style="display:table-row">
                                    <div style="padding: 12px;" class="div_herr_filtro">
                                        <div style="display:table">
                                            <div style="display:table-row">
                                                <div class="content-action" style="display: none" id="bq_guardar">
                                                    <a href="#" id="btnGuardarRevA">
                                                        <div class="content-item-action">
                                                            <img src="~/Content/Images/grabar.png" /><br />
                                                            <span>Guardar</span>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="content-action" style="display: ;">
                                                    <a href="#" id="btnExpandirRestaurar">
                                                        <div class="content-item-action">
                                                            <img src="~/Content/Images/expandir.png" id="imgExpandirContraer" /><br />
                                                            <span id="spanExpandirContraer">Expandir</span>
                                                        </div>
                                                    </a>
                                                    <input type="hidden" id="hfExpandirContraer" value="E" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div style="display: table-cell;width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="detalle_ficha_tecnica" style="margin-top: 10px; overflow: auto; height: 250px;">

                        </div>

                        <div class="div_leyenda_inflex" style="width: 100%; margin-top: 10px;">
                            <table border="0" style="">
                                <tbody>
                                    <tr>
                                        <td style="width: 50px; border: 1px solid black; background-color: #CBFBE6 !important; color: white;"></td>
                                        <td style="padding-right: 20px;">
                                            El color verde corresponde a inflexibilidades operativas.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!--popups-->
<div id="validaciones" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="popupFormularioObservacion" class="general-popup" style="z-index: 9999999999; width: 800px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingreso de Comentario</span></div>
    <div id="mensajePopupCelda"></div>
    <div id="idFormularioObservacion">

    </div>
</div>

<div id="popupArchivoVistaPrevia" class="general-popup" style="z-index: 99999999999; width: 900px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa de archivos</span></div>
    <iframe id="vistaprevia" style="width: 100%; height:600px;" frameborder="0" hidden></iframe>
</div>

<div id="popupInstructivo" class="general-popup" style="z-index: 9999999999; width: 600px ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Intructivo de llenado</span></div>
    <div id="bloqueDato">
        <div id="mensaje_instructivo" style="padding: 10px; text-align: center;">

        </div>

    </div>
</div>
