@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel
<script>
    $('#cbTipoEquipoPadrePopup').val($('#hfTipoEquipoPadrePopup2').val());

    $('#cbTipoEquipoPadrePopup').change(function () {
        cargarEquipoPadrePopup();
    });
    cargarEquipoPadrePopup();
</script>

<select id="cbTipoEquipoPadrePopup" name="cbTipoEquipoPadrePopup" style="width:250px;" @Model.ActFiltroEquipoPadre>
    <option value="-1">--SELECCIONE--</option>
    @if (Model.ListaTipoEquipos.Count > 0)
    {
        foreach (var item in Model.ListaTipoEquipos)
        {
            <option value="@item.Famcodi">@item.Famnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfTipoEquipoPadrePopup2" value="@Model.IdTipoEquipo" />
<input type="hidden" id="hfFiltro" value="@Model.ActFiltroEquipoPadre" />
<input type="hidden" id="hfIdEquipoPadre02" value="@Model.IdEquipopadre" />