@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Equipo</th>
            <th>Tipo Equipo</th>
            <th>Usuario</th>
            <th>Fecha modificación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaTipoEquipos)
        {
            <tr>
                <td>@item.Emprnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equirelusumodificacion</td>
                <td>@item.EquirelfecmodificacionDesc</td>
                <td><a href="JavaScript:mostrarDetalle(@item.Emprcodi, @item.Equicodi, @item.Famcodi);"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar Equipo" alt="editar" /></a></td>
            </tr>
        }

    </tbody>
</table>
