@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel

<link href="~/Areas/IEOD/Content/Css/formulario.css" rel="stylesheet" />

<div class='action-message' id='mensajeEvento' style='display:none'></div>

<div class="search-content">
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>
                <table class="tabla-search" style="width:auto">
                    <tr>
                        <td>Empresa:</td>
                        <td>
                            <select id="cbEmpresa2" name="IdEmpresa2" style="width:250px" @Model.ActFiltroEquipoPadre>
                                <option value="-1">--SELECCIONE--</option>
                                @foreach (var item in Model.ListaEmpresas)
                                {
                                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                                }
                            </select>
                            <input type="hidden" id="hfEmpresa2" value="@Model.IdEmpresa" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo Equipo Padre:</td>
                        <td>
                            <div id="tipoequipoPadrePopup"></div>
                        </td>
                        <input type="hidden" id="hfTipoEquipoPadrePopup" value="@Model.IdTipoEquipo" />
                    </tr>
                    <tr>
                        <td>Equipo Padre:</td>
                        <td>
                            <div id="equipoPadrePopup"></div>
                        </td>
                        <input type="hidden" id="hfEquipoPadrePopup" value="@Model.IdEquipopadre" />
                        <td>
                            <input type="button" id="viewFiltroEquipo" value="+ Agregar Equipo" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="content-registro" id="filtrosEquipos">
    <table>

        <tr>
            <td class="tbform-label">Empresa:</td>
            <td class="tbform-control">
                <select id="cbEmpresaEquipo" name="cbEmpresaEquipo">
                    <option value="-1">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
                <input type="hidden" id="hfEmpresaPto" value="@Model.IdEmpresa" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo Equipo:</td>
            <td class="tbform-control">
                <div id="tipoequipoHijoPopup"></div>
            </td>
        </tr>
        <tr id="trEquipo">
            <td class="tbform-label">Equipo:</td>
            <td class="tbform-control">
                <div id="equipoHijoPopup"></div>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Agrupación:</td>
            <td class="tbform-control">
                <select id="cbAgrupacion" name="cbAgrupacion" style="font-family:monospace; width:300px">
                    @foreach (var item in Model.ListaAgrupacion)
                    {
                        <option value="@item.Codi">@item.DetName</option>
                    }
                </select>
                <input type="hidden" id="hfagrupacion" value="@Model.IdAgrupacion" />
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Tipo Excepción:</td>
            <td class="tbform-control">
                <select id="cbTipoExcepcion" name="cbTipoExcepcion" style="font-family:monospace; width:300px">
                    @foreach (var item in Model.ListaTipoExcepcion)
                    {
                        <option value="@item.Codi">@item.DetName</option>
                    }
                </select>
                <input type="hidden" id="hfTipoExcepcion" value="@Model.IdTipoExcepcion" />
            </td>
            <td>
                <input type="button" id="btnAgregarEquipo" value="Insertar" />
            </td>
        </tr>
    </table>
</div>

<div class="content-tabla" style="text-align: center;">
    <div style="clear:both; height:5px"></div>
    <div class="table-list" style="position:relative;" id="listadotopologia">
    </div>
</div>

<table>
    <tr>
        <td>
            <input type="button" id="btnGrabar" value="Guardar" />
        </td>
        <td>
            <input type="button" id="btnCancelar" value="Cancelar" />
        </td>
    </tr>
</table>



<input type="hidden" id="hfEquipadre" value="@Model.IdEquipopadre" />
<input type="hidden" id="hfEquiposTopologia" value="@Model.StrListaDatos" />
<input type="hidden" id="hfActivaFiltros" value="@Model.ActFiltroEquipoPadre" />

