@model COES.MVC.Publico.Models.SearchModel

<div class="search-result">

    @*<div id="contenidoPrevio" class="search-preview">
        <div id="closePreview" class="close-preview"><a href="JavaScript:closePreview()">X</a></div>
        <div style="clear:both"></div>
        <div id='pdf' style='width:300px; height:400px; padding:5px;' ></div>
    </div>*@

    @if(Model.ListaResultado.Count > 0)
    { 
        var contador = 1;
        foreach (var item in Model.ListaResultado)
        {
            <div class="search-result-item">
                <div class="search-result-item-row">
                    <div class="search-result-item-l">
                        <img src="~/Content/Images/Document/@item.Icono" /> @item.FileName
                    </div>
                    @*<div class="search-result-item-r">
                        @item.FileName    
                        @if (item.Extension.ToLower() == ".pdf") { 
                            <a href="JavaScript:mostrarPrevio('@item.FileUrl', @contador);">
                                <img src="~/Content/Images/preview.png" />
                            </a>                
                        }                      
                    </div>*@                
                </div>
                <div style="clear:both"></div>
                <span>Tamaño: @item.FileSize &nbsp;&nbsp;&nbsp; Metadatos:  @item.Metadata</span>
                <div style="clear:both"></div>
                <a href="JavaScript:downloadFile('@item.FileUrl');">@item.FileUrl</a>  
                <div style="border-top: 1px solid var(--bs-gray-500); height: 2px; padding: 0; margin: 14px auto 14px auto; "></div>
            </div>
            <div style="clear:both"></div>
            contador = contador + 1;
        }
    }
    else
    { 
        <div class="search-noresult">No se encontraron resultados.</div>
    }

    
</div>







