@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ConfiguracionEstimadorModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/ConfiguracionEstimador/configuracion_formulas.js?v=2.2"></script>

<div id="main" class="ws-mt-l" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
    <div class="ws-wrapper" style="min-height: 600px;">
        <div class="ws-options is-left">
            <div class="tool-item">
                <label id="btn-guardar" title="Guardar cambios">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btn-defecto" title="Actualizar los parámetros por defecto">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-defecto.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btn-limpiar" title="Limpiar campos de texto de los parámetros">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-limpiar.png" />
                </label>
            </div>
        </div>
        <div class="box is-right" style="margin-right:10px;">
            <div class="box-body" style="width: 190px; min-width: 190px; height: 600px; overflow-y:scroll;">
                <div class="parametros-group-title chk-group">
                    <label>
                        Depuración Automática
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group">
                    @*<div>
                        <div class="chk-single">
                            <label>
                                <input id="Prncfgporcerrormin" type="checkbox" />Error Mínimo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Prncfgporcerrormax" type="checkbox" />Error Máximo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmcargamin" type="checkbox" />Mag. Carga Mínima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmcargamax" type="checkbox" />Mag. Carga Máxima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    @*<div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmdiapatron" type="checkbox" />Dias Patrón(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmtolerancia" type="checkbox" />Tolerancia(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    @*<div>
                        <div class="chk-single">
                            <label>
                                <input id="Prncfgporcdsvptrn" type="checkbox" />Desviación(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                </div>
                @*<div class="parametros-group-title chk-group">
                    <label>
                        Extranet
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group">
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Prncfgporcdsvcnsc" type="checkbox" />Desviación(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Prncfgnrocoincidn" type="checkbox" />Coincidencias(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                </div>*@
                <div class="parametros-group-title chk-group">
                    <label>
                        Otros
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group">
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmdiapatron" type="checkbox" />Días Patrón(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmpatron" type="checkbox" />Patrón
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="patron" value="P" disabled />Promedio
                            </label><br />
                            <label>
                                <input type="radio" name="patron" value="M" disabled />Mediana
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmveda" type="checkbox" />Veda
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="veda" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="veda" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmferiado" type="checkbox" />Feriado
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="feriado" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="feriado" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmatipico" type="checkbox" />Atípico
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="atipico" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="atipico" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmdepauto" type="checkbox" />Depuración Automática
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="depuracion" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="depuracion" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnffrmdefecto" type="checkbox" />Patrón Defecto
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="defecto" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="defecto" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ws-content only" style="width: 100%;">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Desde</div>
                    <input id="filtroFechaDesde" class="f-fecha" type="text" style="width:150px" value="@Model.FechaIni" />
                </div>
                <div class="filters">
                    <div>Hasta</div>
                    <input id="filtroFechaHasta" class="f-fecha" type="text" style="width:150px" value="@Model.FechaFin" />
                </div>
                <div class="filters">
                    <div>Fórmula</div>
                    <select id="idFormula" class="filtroSimple" multiple>
                        @foreach (var item in Model.ListFormulasEstimador)
                        {
                            <option value="@item.Prrucodi">@item.Prruabrev</option>
                        }
                    </select>
                </div>
            </div>
            <div class="ws-content-body">
                <table id="tb" class="pretty tabla-icono"></table>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Actualizar defecto</span>
        <div style="float: right;">
            <input id="btn-pop-guardar" type="button" value="Actualizar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="message-popup" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-right: 10px;">
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Depuración Automática
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    @*<div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcerrormin" type="checkbox" />Error Mínimo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcerrormax" type="checkbox" />Error Máximo(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmcargamin" type="checkbox" />Mag. Carga Mínima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmcargamax" type="checkbox" />Mag. Carga Máxima(MW)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    @*<div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcmuestra" type="checkbox" />Muestra(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>*@
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmtolerancia" type="checkbox" />Tolerancia(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                </div>
            </div>
            @*<div style="margin-right: 10px;">
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Extranet
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgporcdsvcnsc" type="checkbox" />Desviación(%)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Prncfgnrocoincidn" type="checkbox" />Coincidencias(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                </div>
            </div>*@
            <div>
                <div class="parametros-group-title chk-group-popup">
                    <label>
                        Otros
                        <input type="checkbox" />
                    </label>
                </div>
                <div class="parametros-group by-popup">
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmdiapatron" type="checkbox" />Días Patrón(#)
                            </label>
                        </div>
                        <div>
                            <input type="number" disabled />
                        </div>
                    </div>
                    @*<div>
                            <div class="chk-single-popup">
                                <label>
                                    <input id="pop-Prncfgpse" type="checkbox" title="Parámetro de suavizado exponencial"/>PSE(#)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>
                        <div>
                            <div class="chk-single-popup">
                                <label>
                                    <input id="pop-Prncfgfactorf" type="checkbox" />Factor F(#)
                                </label>
                            </div>
                            <div>
                                <input type="number" disabled />
                            </div>
                        </div>*@
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmpatron" type="checkbox" />Patrón
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="patron" value="P" disabled />Promedio
                            </label><br />
                            <label>
                                <input type="radio" name="patron" value="M" disabled />Mediana
                            </label>
                            @*<br />
                                <label>
                                    <input type="radio" name="patron" value="lineal" disabled />Regresión Lineal
                                </label>*@
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmveda" type="checkbox" />Veda
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="veda" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="veda" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmferiado" type="checkbox" />Feriado
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="feriado" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="feriado" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmatipico" type="checkbox" />Atípico
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="atipico" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="atipico" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmdepauto" type="checkbox" />Depuración Automática
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="depuracion" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="depuracion" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single-popup">
                            <label>
                                <input id="pop-Cnffrmdefecto" type="checkbox" />Patrón Defecto
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="defecto" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="defecto" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>