<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Periodo</th>
            <th>Nombre de Revisión</th>
            <th>Constante de calidad (Kc)</th>
            <th>Precio Maximo Asignado por Osinergmin (PAO)</th>
            <th>Reserva primaria asignada</th>
            <th>Costo de oportunidad de la RNS</th>
            <th>Factor de cumplimiento</th>
            <th>Costo Marginal VEA</th>
            <th>Déficit, Superávit y Reserva No Suministrada</th>
            <th>Incumplimiento PR-21</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            @*<th style="width:30px;">&nbsp;</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecalculo)
        {
            string sPK = item.Pericodi + "_" + item.Vcrecacodi + "_" + @item.Vcrecaestado;
        <tr id="fila_@sPK">
            <td class="text_left" style="text-align:left">@item.Perinombre</td>
            <td class="text_left" style="text-align:left">@item.Vcrecanombre</td>
            <td class="text_left" style="text-align:right">@item.Vcrecakcalidad</td>
            <td class="text_left" style="text-align:right">@item.Vcrecapaosinergmin</td>
            <td class="text_left" style="text-align:left">@item.Vcrecaresaprimsig</td>
            <td class="text_left" style="text-align:left">@item.Vcrecacostoprns</td>
            <td class="text_left" style="text-align:left">@item.Vcrecafactcumpl</td>
            <td class="text_left" style="text-align:left">@item.Recanombre</td>
            <td class="text_left" style="text-align:left">@item.Vcrdsrnombre</td>
            <td class="text_left" style="text-align:left">@item.Vcrincnombre</td>
            <td class="text_left" style="text-align:left">@item.Vcrecaestado</td>
            <td style="width:30px;"><a href="#" id="view_@sPK" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { vcrecacodi = item.Vcrecacodi, pericodi = item.Pericodi }) "><img src="@Url.Content("~/Content/Images/btn-edit.png") " title="Editar el registro" alt="Editar el registro" /></a>
                }
            </td>
            <td style="width:30px;">
                @if (Model.bEliminar)
                {
                    <a href="#" id="view_@sPK" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="popup"></div>
