@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.RecalculoModel
@{
    ViewBag.Title = "Versión de recálculo de compensacion RSF";
}
<fieldset>
    <legend>Versión de recálculo de compensacion RSF</legend>
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Pericodi, "Periodo")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Perinombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrecanombre, "Nombre Revision")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrecanombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrecakcalidad, "Constante de Calidad Kc")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrecakcalidad)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrecapaosinergmin, "Precio Máximo asignado por Osinergmin(PAO)")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrecapaosinergmin)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Recacodi, "Costo Marginal VEA")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Recanombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrdsrcodi, "Déficit, Superávit y Reserva No Suministrada")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrdsrnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrinccodi, "Incumplimiento PR-21 (INC)")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrincnombre)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrecacomentario, "Comentario de la Version")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrecacomentario)</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EntidadRecalculo.Vcrecaestado, "Estado")</div></td>
            <td><div class="editor-label">@Html.DisplayFor(model => model.EntidadRecalculo.Vcrecaestado)</div></td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>

