@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.GruposVsUnidadesModel
@{
    ViewBag.Titulo = "Detalle de la relación de un grupo y unidad";
}
<fieldset>
    <legend>Grupo vs Unidad</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Equinomb, "Equipo nombre: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.Equinomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Casdduunidad, "Nombre del Equipo en el SDDP: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.Casdduunidad)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.Casddufecvigencia, "Fecha Vigencia: ")</div>
            </td>
            <td>
                <div class="editor-label">@Model.Entidad.Casddufecvigencia.ToString()</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>