@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaTrCircularSp7Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
    <link href="~/Content/Css/slimselect.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/highstock.js"></script>
}

<script src="~/Areas/TiempoReal/Content/Scripts/circularsp7.js?v=1.5"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/slimselect.min.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Histórico SP7</div>
        <div class="content-botonera">

            <input type="button" id="btnExportar" value="Exportar" />
            <input type="button" id="btnExportarCSV" value="Exportar CSV" />
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <input type="hidden" id="hfCanal" value="" />
    <input type="hidden" id="hfFechaDesde" value="" />
    <input type="hidden" id="hfFechaHasta" value="" />
    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px">
        La información presentada refleja un desfase de hasta 30 minutos, debido al intervalo de actualización del sistema.
    </div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Fecha</td>
                            <td><input type="text" id="txtFechaDesde" name="FechaInicio" value="@Model.Fecha"/></td>
                            <td><input type="text" id="txtFechaHasta" name="FechaHasta" value="@Model.Fecha" max="@Model.Fecha" /></td>

                            <td><input type="text" id="txtHoraIni" name="HoraIni" value="@Model.HoraIni" style="width:50px" /></td>

                            <td><input type="text" id="txtHoraFin" name="HoraFin" value="@Model.HoraFin" style="width:50px" /></td>
                            <td><input type="button" id="btnDia" value="Todo el Día" style="margin-left:0" /></td>
                            <td>Calidad</td>
                            <td>

                                <select id="cbCalidad" name="cbCalidad" style="width:110px">
                                    <option value="T">(Todas)</option>

                                    @foreach (var calidad in @Model.ListaTrCalidadSp7)
                                    {
                                        <option value="@calidad.CalCodi">@calidad.CalNomb</option>
                                    }

                                </select>


                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>

                <td>
                    <table>
                        <tr>
                            <td>Ubicación:</td>
                            <td>
                                <select id="cbZona" name="cbZona" style="width:200px" class="f-select-s">

                                    @foreach (var item in Model.ListaTrZonaSp7)
                                    {
                                        string cad1 = @item.Zonanomb.Trim() + "          (" + @item.Zonaabrev.Trim() + ")";
                                        <option style="font-family: 'Courier New'" value="@item.Zonacodi">@cad1</option>
                                    }
                                </select>
                            </td>


                            <td>
                                <select id="cbCanal" name="cbCanal" style="width:500px" class="f-select-m" multiple>
                                    @if (Model.ListaTrCanalSp7 != null)
                                    {
                                        foreach (var item in Model.ListaTrCanalSp7)
                                        {
                                            <option style="font-family: 'Courier New'" value="@item.Canalcodi">@item.Canalnomb</option>
                                        }
                                    }
                                </select>

                            </td>

                            <td>
                                <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td>
                    <div id="DivTransgresiones" style='display:none'>
                        <input id="cbxTransgresiones" type="checkbox" name="cbxTransgresiones" value="checkbox" />Transgresiones<br>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">

        </div>

    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab' id="tab1Paso1"><a href="#paso1">Gráfica</a></li>
            <li class='tab'><a href="#paso2">Lista de Valores</a></li>

        </ul>
        <div class='panel-container'>
            <div id="paso1">

                <div class="table-grafica" id="graficos"></div>

            </div>
            <div id="paso2">
                <div class="table-paginado" id="paginado"></div>

                <div class="table-list" id="listado"></div>

            </div>

        </div>
    </div>

</div>




