@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaTrCircularSp7Model
@using System.Globalization
@using COES.Dominio.DTO.Scada

<div style="clear:both; height:15px"></div>
<form id="frmEnvio" class="form-search" method="get" action="">
    <div id="reporte" style="text-align: center" class="content-scroll">

        @foreach (var canal in (List<TrCanalSp7DTO>)ViewData["listCanalCodi"])
        {
            <h3><b>@canal.Canalnomb</b></h3>
            <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0" style="margin-bottom: 5px">
                <thead>
                    <tr>
                        <th>Fecha Hora Origen</th>
                        <th>Fecha Hora Llegada</th>
                        <th>Calidad</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int numRows = 0; }
                    @foreach (var item in Model.ListaTrCircularSp7Grafica)
                    {
                        if (canal.Canalcodi == item.Canalcodi)
                        {
                            <tr>
                                <td>@item.Fecha.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFullMs)</td>
                                <td>@item.FechaSistema.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFullMs)</td>
                                <td>@item.CalidadTexto</td>
                                <td>@item.Valor</td>
                            </tr>
                            { numRows++; }
                        }
                    }

                    @if (numRows == 0)
                    {
                        <tr>
                            <td colspan="4" style="text-align: center; font-weight: bold">SIN REGISTROS</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        </div>
</form>