@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Centrales RER";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI3"];
    var CENTGENECODI2 = (IEnumerable<SelectListItem>)TempData["CENTGENECODI3"];
    var EMPRCODI2 = (IEnumerable<SelectListItem>)TempData["EMPRCODI3"];
    string sSelected = "";
}

<link href="~/Areas/PrimasRER/Content/Css/centralrer.css" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/centralrer.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Registro de centrales RER de subasta</div>
        <div class="content-botonera">
            <input type="button" id="btnNuevo" value="Nuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            <input type="button" id="btnBuscar" value="Consultar" />
            <input type="button" id="btnGenerarExcel" value="Generar Excel" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","centralrer")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Central de generación</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="centralSelect">
                                <option value="-1">--Seleccione--</option>
                                @foreach (var central in Model.ListCentralGeneracion)
                                {
                                    <option value="@central.CentGeneCodi">@central.CentGeneNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td><div class="editor-label">Fecha de inicio</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra de transferencia</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="barraSelect">
                                <option value="-1">--Seleccione--</option>
                                @foreach (var barra in Model.ListBarras)
                                {
                                    <option value="@barra.BarrCodi">@barra.BarrNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td><div class="editor-label">Fecha final</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Empresa</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="empresaSelect">
                                <option value="-1">--Seleccione--</option>
                                @foreach (var empresa in Model.ListEmpresas)
                                {
                                    <option value="@empresa.EmprCodi">@empresa.EmprNombre</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td><div class="editor-label">Estado</div></td>
                    <td>
                        <div class="editor-field">
                            <input type="radio" id="Todos" name="Codientrestado" value="TODOS" checked="checked" />Todos
                            <input type="radio" id="Activo" name="Codientrestado" value="ACT"  />Activo
                            <input type="radio" id="Inactivo" name="Codientrestado" value="INA" />Inactivo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Código de Entrega</div></td>
                    <td><div class="editor-field"><input type="text" id="txtcodigoEntrega" /></div></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center">
                        <div class="busqueda-item">

                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-list" id="listado" style="margin-top: 10px;"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>

    <br />
    <br />
</div>

<div id="popupVerCentralRER" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Central RER de Subasta</span></div>
    <div id="verCentralRER"></div>
</div>
