<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Central Generación</th>
            <th>Barra Transferencia</th>
            <th>Empresa</th>
            <th>Inicio Contrato</th>
            <th>Fin Contrato</th>
            <th>Energía Adj.</th>
            <th>Precio Base</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListCentralRER) {
            <tr id="fila_@item.Rercencodi">
                <td class="text_left">@item.Equinomb</td>
                <td class="text_left">@item.Barrbarratransferencia</td>
                <td class="text_left">@item.Emprnomb</td>
                <td>@if (item.Rercenfechainicio != null) { <span>@item.Rercenfechainicio.ToString("dd/MM/yyyy")</span>}</td>
                <td>@if (item.Rercenfechafin != null) { <span>@item.Rercenfechafin.ToString("dd/MM/yyyy")</span>}</td>
                <td class="text_left">@string.Format("{0:#,0.####}", item.Rercenenergadj)</td>
                <td class="text_left">@item.Rercenprecbase.ToString("0.####")</td>
                <td style="width:30px;"><a href="#" id="view_@item.Rercencodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;"><a href="javascript:Edit(@item.Rercencodi)"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a></td>
                <td style="width:30px;"><a href="#" id="eliminar_@item.Rercencodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="popup"></div>