@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel

@{
    ViewBag.Title = "Vista preliminar";
}
<fieldset>
    <legend>Central RER de subasta</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.CentralRER.Equinomb, "Central Generadora : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.CentralRER.Equinomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.CentralRER.Barrbarratransferencia, "Barra Transferencia :   ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.CentralRER.Barrbarratransferencia)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.CentralRER.Emprnomb, "Empresa  : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.CentralRER.Emprnomb)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Rercenfechainicio, "Fecha de Inicio :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Rercenfechainicio)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Rercenfechafin, "Fecha Fin :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Rercenfechafin)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.CentralRER.Codentcodigo, "Código de Entrega :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.CentralRER.Codentcodigo)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.CentralRER.Rercendesccontrato, "Descripción :    ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.CentralRER.Rercendesccontrato)</div>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>