@model COES.MVC.Intranet.Areas.Eventos.Models.EveInformefallaN2Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Eventos/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/informefallan2editar.js?v=1.3"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
        <div class="content-titulo">Informe de Falla N2</div>
        <div class="content-botonera">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
</div>

<div class="content-hijo" id="mainLayout">
<form id="form" name="form">
<div class="action-message" id="mensaje">Ingrese los datos</div>
    <table class="pretty tabla-adicional">
        <tr>
            <td>
                <input type="hidden" id="hfEvenInfN2Codi" value="@Model.EveInformefallaN2.Eveninfn2codi" name="EvenInfN2Codi" />
                <input type="hidden" id="hfAccion" value="@Model.Accion" />
                <input type="hidden" id="hfEvenCodi" name="EvenCodi" value="@Model.EveInformefallaN2.Evencodi" />
            </td>
        </tr>
        <tr>
            <th style="color:white;"><b>T.Equipo</b></th>
            <td>@Model.EveInformefallaN2.Famabrev</td>
            <td></td>
            <th style="color:white;"><b>Fecha evento</b></th>
            <td>@Model.EveInformefallaN2.Evenini</td>
        </tr>
        <tr>
            <th style="color:white;"><b>Equipo</b></th>
            <td>@Model.EveInformefallaN2.Equiabrev</td>
            <td>&nbsp;</td>
            <th style="color:white;"><b>MW indisp</b></th>
            <td><input type="text" name="Evenmwindisp" value=@Model.EveInformefallaN2.Evenmwindisp readonly /></td>
        </tr>
        <tr>
            <th style="color:white;"><b>&Aacute;rea</b></th>
            <td>@Model.EveInformefallaN2.Areanomb</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th style="color:white;"><b>Empresa</b></th>
            <td>@Model.EveInformefallaN2.Emprnomb </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <table>
                    <tr>
                        <th style="color:white;"><b>A&ntilde;o</b></th>
                        <th style="color:white;"><b>Correlativo COES</b></th>
                    </tr>
                    <tr>
                        <td>
                            <input id="txtEvenAnio" type="text" name="EvenAnio" value="@Model.EveInformefallaN2.Evenanio" readonly>
                        </td>
                        <td>
                            <input id="txtEvenN2Corr" type="text" name="EvenN2Corr" value="@Model.EveInformefallaN2.Evenn2corr">
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
<p>&nbsp;</p>
<table class="pretty tabla-adicional" >
    <thead>
        <tr>
            <th style="display: table-cell;"><b>Informe PRELIMINAR INICIAL</b></th>
            <th style="display: table-cell;"><b>Fecha emisi&oacute;n</b></th>
            <th style="display: table-cell;"><b>Emitido por</b></th>
            <th style="display: table-cell;"><b>Emitido</b></th>
            <th style="display: table-cell;"><b>&nbsp;</b></th>
        </tr>
    </thead>

    <tr>
        <th style="color:white;"><b>Sin informe de Empresa</b></th>
        <td>
            @{
                var fechaEvenIPIEN2FechEm = "";
                if (Model.EveInformefallaN2.EvenipiEN2fechem != null)
                {
                    fechaEvenIPIEN2FechEm = ((DateTime) Model.EveInformefallaN2.EvenipiEN2fechem).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
            }
            <input id="txtEvenIPIEN2FechEm" type="text" name="EvenIPIEN2FechEm" value="@fechaEvenIPIEN2FechEm" readonly/>
        </td>
        <td>
            <select id="cbEvenIPIEN2Elab" name="cbEvenIPIEN2Elab">
                <option value="0">---</option>
                @foreach (var item in Model.ListaProgramador)
                {
                    <option value="@item.Pernomb">@item.Pernomb</option>
                }
            </select>
            <input type="hidden" id="hfEvenIPIEN2Elab" name="EvenIPIEN2Elab" value="@Model.EveInformefallaN2.EvenipiEN2elab"/>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <input type="radio" id="rbEvenIPIEN2EmitidoS" name="rbEvenIPIEN2Emitido" value="S"/>Si
                        <input type="radio" id="rbEvenIPIEN2EmitidoN" name="rbEvenIPIEN2Emitido" value="N"/>No
                        <input type="hidden" id="hfEvenIPIEN2Emitido" name="EvenIPIEN2Emitido" value="@Model.EveInformefallaN2.EvenipiEN2emitido"/>
                    </td>
                </tr>
            </table>
        </td>
        <td><input type="button" id="btnEnviarIPISI" value="Enviar"/></td>
    </tr>
    <tr>
        <th style="color:white;"><b>Informe</b></th>
        <td>
            @{
                var fechaEvenInfPIN2FechEmis = "";
                if (Model.EveInformefallaN2.Eveninfpin2fechemis != null)
                {
                    fechaEvenInfPIN2FechEmis = ((DateTime) Model.EveInformefallaN2.Eveninfpin2fechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                }
            }
            <input id="txtEveninfPFechEmis" type="text" name="EvenInfPIN2FechEmis" value="@fechaEvenInfPIN2FechEmis" readonly/>
        </td>
        <td>
            <select id="cbEvenInfPIN2Elab" name="cbEvenInfPIN2Elab">
                <option value="0">---</option>
                @foreach (var item in Model.ListaProgramador)
                {
                    <option value="@item.Pernomb">@item.Pernomb</option>
                }
            </select>
            <input type="hidden" id="hfEvenInfPIN2Elab" name="EvenInfPIN2Elab" value="@Model.EveInformefallaN2.Eveninfpin2elab"/>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <input type="radio" id="rbEvenInfPIN2EmitidoS" name="rbEvenInfPIN2Emitido" value="S"/>Si
                        <input type="radio" id="rbEvenInfPIN2EmitidoN" name="rbEvenInfPIN2Emitido" value="N"/>No
                        <input type="hidden" id="hfEvenInfPIN2Emitido" name="EvenInfPIN2Emitido" value="@Model.EveInformefallaN2.Eveninfpin2emitido"/>
                    </td>
                </tr>
            </table>
        </td>
        <td><input type="button" id="btnEnviarIPI" value="Enviar"/></td>
    </tr>
    <thead>
        <tr>
            <th style="display: table-cell;"><b>Informe FINAL</b></th>
            <th style="display: table-cell;"><b>Fecha emisi&oacute;n</b></th>
            <th style="display: table-cell;"><b>Emitido por</b></th>
            <th style="display: table-cell;"><b>Emitido</b></th>
            <th style="display: table-cell;"><b>&nbsp;</b></th>
        </tr>
    </thead>

    <tr>
        <th style="color:white;"><b>Sin informe de Empresa</b></th>
        <td>
        @{
            var fechaEvenIFEN2FechEm = "";
            if (Model.EveInformefallaN2.EvenifEN2fechem != null)
            {
                fechaEvenIFEN2FechEm = ((DateTime) Model.EveInformefallaN2.EvenifEN2fechem).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
            }
        }
        <input id="txtEvenIFEN2FechEm" type="text" name="EvenIFEN2FechEm" value="@fechaEvenIFEN2FechEm" readonly/>
        <td>
            <select id="cbEvenIFEN2Elab" name="cbEvenIFEN2Elab">
                <option value="0">---</option>
                @foreach (var item in Model.ListaProgramador)
                {
                    <option value="@item.Pernomb">@item.Pernomb</option>
                }
            </select>
            <input type="hidden" id="hfEvenIFEN2Elab" name="EvenIFEN2Elab" value="@Model.EveInformefallaN2.EvenifEN2elab"/>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <input type="radio" id="rbEvenIFEN2EmitidoS" name="rbEvenIFEN2Emitido" value="S"/>Si
                        <input type="radio" id="rbEvenIFEN2EmitidoN" name="rbEvenIFEN2Emitido" value="N"/>No
                        <input type="hidden" id="hfEvenIFEN2Emitido" name="EvenIFEN2Emitido" value="@Model.EveInformefallaN2.EvenifEN2emitido"/>
                    </td>
                </tr>
            </table>
        </td>
        <td><input type="button" id="btnEnviarIFSI" value="Enviar"/></td>
    </tr>
    <tr>
        <th style="color:white;"><b>Informe</b></th>
        <td>
        @{
            var fechaEvenInfFN2FechEmis = "";
            if (Model.EveInformefallaN2.Eveninffn2fechemis != null)
            {
                fechaEvenInfFN2FechEmis = ((DateTime) Model.EveInformefallaN2.Eveninffn2fechemis).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
            }
        }
        <input id="txtEvenInfFN2FechEmis" type="text" name="EvenInfFN2FechEmis" value="@fechaEvenInfFN2FechEmis" readonly/>
        <td>
            <select id="cbEvenInfFN2Elab" name="cbEvenInfFN2Elab">
                <option value="0">---</option>
                @foreach (var item in Model.ListaProgramador)
                {
                    <option value="@item.Pernomb">@item.Pernomb</option>
                }
            </select>
            <input type="hidden" id="hfEvenInfFN2Elab" name="EvenInfFN2Elab" value="@Model.EveInformefallaN2.Eveninffn2elab"/>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <input type="radio" id="rbEvenInfFN2EmitidoS" name="rbEvenInfFN2Emitido" value="S"/>Si
                        <input type="radio" id="rbEvenInfFN2EmitidoN" name="rbEvenInfFN2Emitido" value="N"/>No
                        <input type="hidden" id="hfEvenInfFN2Emitido" name="EvenInfFN2Emitido" value="@Model.EveInformefallaN2.Eveninffn2emitido"/>
                    </td>
                </tr>
            </table>
        </td>
        <td><input type="button" id="btnEnviarIF" value="Enviar"/></td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
        <td><p></p></td>
        <td></td>
        <td><p></p>@Model.EveInformefallaN2.Eveninfn2lastuser</td>
        <td></td>
        <td><p></p>@Model.EveInformefallaN2.Eveninfn2lastdate</td>
    </tr>
</table>
</form>
</div>
<div id="busqueda" style="display:none">
</div>
<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="titulo">Informefalla</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>
