@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEveInformefallaN2Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Eventos/Content/Scripts/informefallan2.js?v=1.3"></script>
<link href="~/Areas/Eventos/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Informe de Falla N2</div>
        <div class="content-botonera">

        </div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("Lista", "InformeFallaN2", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {

        <div class="search-content" style="margin-bottom:10px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td></td>
                    <td>
                    </td>
                    <td>IF</td>
                    <td>
                        <select id="cbEmitido" name="IndEmitido" style="width: 100px">
                            <option value="N">No emitido</option>
                            <option value="S">Emitido</option>
                            <option value="T">--TODOS--</option>
                        </select>
                    </td>
                    <td>Empresa</td>
                    <td>
                        <select id="cbEmpresa" name="Empresa" style="width:300px">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                    <td>Desde:</td>
                    <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaIni" style="width:120px" /></td>
                    <td>Hasta:</td>
                    <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" /></td>
                    <td>Equipo:</td>
                    <td><input type="text" id="EquiAbrev" name="EquiAbrev" value="@Model.EquiAbrev" style="width:120px" /></td>
                    <td>
                        <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                        <input type="hidden" id="hfEveninfCodi" value="0" name="hfEveninfCodi" />
                    </td>
                    <td>
                        <input type="button" id="btnDescargarLog" value="Log de Envíos" style="margin-left:0" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>

<div id="popupListadoEnviosEventos" style="display:none">
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Informefalla</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>