@model COES.MVC.Intranet.Areas.Eventos.Models.EventoModel


<span class="button b-close"><span>X</span></span>
<div class="popup-title"><span>Listado de envíos</span></div>
<div style="clear:both; height:8px"></div>


<div class="content-tabla">
    <div class="tabla-header">
        <div class="table-paginado" id="paginadoEnvios"></div>
    </div>
    <table class="tabla-formulario">
        <thead>
            <tr>
                <th>Fecha y Hora del Envío Extranet</th>
                <th>Código de Envío</th>
                <th>Usuario que reportó</th>
                <th>Empresa</th>
                <th>Tipo de informe</th>
                <th>Documentos enviados</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEnvios)
            {
                <tr>
                    <td>@item.Enviofecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@item.Envevencodi</td>
                    <td>@item.Userlogin</td>
                    <td>@item.Emprnomb</td>
                    <td>@item.TipoInforme</td>
                    <td>@item.Eveinfrutaarchivo</td>
                </tr>
            }
        </tbody>
    </table>
</div>