@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaEveInformefallaN2Model
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tablaArea" border="0" class="pretty tabla-adicional" cellspacing="0">
        <thead>
        <tr>
            <th style="width:100px; min-width:80px">Acciones</th>
            <th>Nro.</th>
            <th>Empresa</th>
            <th>Tipo</th>
            <th>Area</th>
            <th>T.Equipo</th>
            <th>Equipo</th>
            <th>MW indisp</th>
            <th>Fecha evento</th>
            <th>Obsv. IPI</th>
            <th>Obsv. IF</th>
            <th>IPI</th>
            <th>IF</th>
            <th>IPI</th>
            <th>IF</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ListaEveInformefallaN2)
        {                
            <tr>
                <td style="width:80px; min-width:80px">
                    <a href="JavaScript:verArchivos(@item.Eveninfn2codi)" title="Ver carpeta...">
                        <img src="~/Content/Images/folder_open.png" />
                    </a>
                    <a href="JavaScript:verPopupListaEnviosEventos(@item.Evencodi)" title="Ver envíos...">
                        <img src="~/Content/Images/calendar.png" alt="Ver Envíos" />
                    </a>
                    <a href="JavaScript:editar(@item.Eveninfn2codi,0)" title="Ver registros...">
                        <img src="~/Content/Images/btn-open.png" />
                    </a>
                    @{
                        if (Model.AccionEditar)
                        {
                            <a href="JavaScript:editar(@item.Eveninfn2codi,1)" title="Editar...">
                                <img src="~/Content/Images/btn-edit.png" />
                            </a>
                        }
                        else
                        {
                            <a>
                            </a>
                        }
                    }

                    @{
                        if (Model.AccionEliminar)
                        {
                            <a href="JavaScript:eliminar(@item.Eveninfn2codi)" title="Eliminar...">
                                <img src="~/Content/Images/btn-cancel.png" />
                            </a>
                        }
                        else
                        {
                            <a>
                            </a>
                        }
                    }
                </td>
                <td>@item.Evenn2corr</td>
                <td>@item.Emprnomb</td>
                <td>@item.Tareaabrev</td>                    
                <td>@item.Areanomb</td>
                <td>@item.Famabrev</td>
                <td>@item.Equiabrev</td>
                <td>@item.Evenmwindisp</td>
                <td>@item.Evenini.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaHora)</td>
                
                    @if (!string.IsNullOrEmpty(item.Obsprelimini))
                    {
                        if (item.Obsprelimini.IndexOf("OK") < 0 && item.Obsprelimini.IndexOf("SIN") < 0)
                        {
                            <td style="background-color: #ff0000">
                                <font color="#fff">@item.Obsprelimini</font>
                            </td>
                        }
                        else
                        {
                            <td style="background-color: #219027">
                                <font color="#fff">@item.Obsprelimini</font>
                            </td>                            
                        }
                    }
                
                
                    @if (!string.IsNullOrEmpty(item.Obsfinal))
                    {
                        if (item.Obsfinal.IndexOf("OK") < 0 && item.Obsfinal.IndexOf("SIN") < 0)
                        {
                            <td style="background-color: #ff0000">
                                <font color="#fff">@item.Obsfinal</font>
                            </td>
                        }
                        else
                        {
                            <td style="background-color: #219027">
                                <font color="#fff">@item.Obsfinal</font>
                            </td>
                        }
                    } 
                
                <td>        
                    @if (!string.IsNullOrEmpty(item.Obsprelimini))
                    {
                        if (item.Obsprelimini.IndexOf("OK") < 0 && item.Obsprelimini.IndexOf("SIN") < 0)
                        {
                            <a href="JavaScript:editar(@item.Eveninfn2codi,1)" title="Enviar Informe Preliminar Inicial...">
                                <img src="~/Content/Images/file.png" />
                            </a>
                        }
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Obsfinal))
                    {
                        if (item.Obsfinal.IndexOf("OK") < 0 && item.Obsprelimini.IndexOf("SIN") < 0)
                        {
                            <a href="JavaScript:editar(@item.Eveninfn2codi,1)" title="Enviar Informe Final...">
                                <img src="~/Content/Images/file.png" />
                            </a>
                        }
                    }
                </td>
                @if (item.Eveninfpin2emitido == "N")
                {
                    if (item.EvenipiEN2emitido == "N")
                    {
                        <td>
                            <a href="JavaScript:enviarInformeFallaN2(@item.Eveninfn2codi,0,0)" title="Reenviar Informe Preliminar Inicial (sin Inf. Empresa)...">
                                <img src="~/Content/Images/Copiado.png" />
                            </a>
                        </td>

                    }
                    else
                    {
                        <td><a title="Informe Preliminar inicial no fue enviado..."><img src="~/Content/Images/sort_both.png" /></a></td>//Informe Preliminar inicial no fue enviado...
                    }
                }
                else
                {
                    <td>
                        <a href="JavaScript:enviarInformeFallaN2(@item.Eveninfn2codi,0,1)" title="Reenviar Informe Preliminar Inicial...">
                            <img src="~/Content/Images/Copiado.png" />
                        </a>
                    </td>
                }
                @if (item.Eveninffn2emitido == "N")
                {
                    if (item.EvenipiEN2emitido == "N")
                    {
                        <td>
                            <a href="JavaScript:enviarInformeFallaN2(@item.Eveninfn2codi,0,2)" title="Reenviar Informe Final (sin Inf. Empresa)...">
                                <img src="~/Content/Images/Copiado.png" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td><a title="Informe Final no fue enviado"><img src="~/Content/Images/sort_both.png" /></a></td>//Informe Final no fue enviado...
                    }
                }
                else
                {
                    <td>
                        <a href="JavaScript:enviarInformeFallaN2(@item.Eveninfn2codi,0,3)" title="Reenviar Informe Final...">
                            <img src="~/Content/Images/Copiado.png" />
                        </a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
