@model COES.MVC.Extranet.Areas.Combustibles.Models.CombustibleModel
@{
    ViewBag.Title = "Envío PR31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<link href="~/Areas/Combustibles/Content/Css/formularioweb.css?v=1.9.4.7" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/formularioGlobal.js?v=1.9.5.1"></script>
<script src="~/Areas/Combustibles/Content/Scripts/formularioCombustible.js?v=1.9.5.2"></script>
<script src="~/Areas/Combustibles/Content/Scripts/formularioArchivos.js?v=1.9.4.7"></script>

<script src="~/Areas/Combustibles/Content/Scripts/enviocombustible.js?v=1.9.4.7"></script>

<div class="form-title_intranet" id="container">
    @if (Model.IdEnvio > 0)
    {
        <div class="content-titulo" style="width: 85%;">
            Envío de Costo de Combustibles - Solicitud N° @Model.IdEnvio
        </div>
    }
    else
    {

        <div class="content-titulo">
            Envío de Costo de Combustibles
        </div>
    }
    <div class="content-botonera">
        <input type="button" id="btnInicio" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
    <div id="div_dia_habil" style="display: none;margin-bottom: 15px;"></div>
    <div id="idobservacion" style="display:none;margin-bottom: 15px;"></div>

    <div class="action-message" id="mensajeEvento" style="margin: 10px 0px 10px; display: none; padding-left: 36px; text-indent: 0px;"></div>

    <div class="search-content3">

        <div style="display:table">
            <div style="display:table-row">
                <div style="display:table-cell;padding-top: 8px; padding-bottom: 8px;">
                    <div style="display:table">
                        <div style="display:table-row">
                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Empresa:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 170px; padding-right: 5px;">
                                <select id="cbEmpresa" style="width:170px;" disabled>
                                    <option value="">@Model.Emprnomb</option>
                                </select>
                            </div>

                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Central:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 170px; padding-right: 5px;">
                                <select id="cbCentral" style="width:170px;" disabled>
                                    <option value="">@Model.Equinomb</option>
                                </select>
                            </div>

                            <div class="celda-item" style="display:table-cell;width:200px;">
                                Combustible:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 150px; padding-right: 5px;">
                                <select id="cbFenerg" style="width:150px;" disabled>
                                    <option value="">@Model.Fenergnomb</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: table-cell;width:100%">
                </div>
                <div style="display: table-cell; text-align: right;">

                    <div id="barra_herramienta_envio" style="display:none;">
                        <div style="display:table-row">
                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/enviar.png" /><br />
                                        <span>Enviar</span>
                                    </div>
                                </a>
                            </div>
                            <div class="content-action" style="display: none;">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="leyenda_alerta" style="display: none">
        <table style="">
            <tbody>
                <tr>
                    <td style="font-weight: bold;" colspan="6">Leyenda: </td>
                </tr>
                <tr>
                    <td style="width: 25px" class="">
                        <div style="width: 4px;">
                            <img style="width: 20px;" src="~/Content/images/btn-properties.png">
                        </div>
                    </td>
                    <td style="vertical-align: middle;width: 180px;" class="">Ingresar datos de la sección.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <input type="hidden" id="IdEmpresa" value="@Model.IdEmpresa" />
    <input type="hidden" id="hdIdEquipo" value="@Model.IdEquipo" />
    <input type="hidden" id="hdIdGrupo" value="@Model.IdGrupo" />
    <input type="hidden" id="hdIdCombustible" value="@Model.IdTipoCombustible" />
    <input type="hidden" id="hdIdFenerg" value="@Model.IdFenerg" />
    <input type="hidden" id="hdIdEstado" value="@Model.IdEstado" />

    <div id="tab-container" class='tab-container' style="display: block;padding-top: 15px;">
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Información Formulario</a></li>
            <li class='tab'><a href="#paso2">Documentos</a></li>
        </ul>

        <div id="paso1" style="background-color:white">

            <div id="html_formulario">

            </div>
        </div>

        <div id="paso2" style="background-color:white">
            <h3>SOPORTES DE LA INFORMACIÓN</h3>

            <div id="html_archivos">

            </div>
        </div>

    </div>

    <div id="log_envio" style="display: none">

    </div>
</div>


<!--popups-->
<div id="validaciones" class="general-popup" style="z-index:9999999999; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="divformSeccion" class="general-popup" style="z-index:9999999999;">

</div>
