@model COES.MVC.Extranet.Areas.Combustibles.Models.CombustibleModel
@{
    ViewBag.Title = "PR31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ListaCentral.Count <= 0)
{
    <p>Usted no tiene centrales asociadas a su usuario.</p>
    return;
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/combustible.js?v=1.7.7"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css?v=1.7.6" rel="stylesheet" />

<div class="form-title_intranet">
    <div class="content-titulo">Envío de Costo de Combustibles</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevoIngreso" value="Nuevo Envío" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfEstado" />
    <input type="hidden" id="hfCentral" />
    <input type="hidden" id="hdIdEstado" value="@Model.IdEstado" />

    <div class="search-content" style="padding: 5px;">

        <table class="content-tabla-search1" style="width:auto">
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>

                            <td class="celda-item">Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>

                            <td class="celda-item" style="padding-left: 15px;">Central:</td>
                            <td>
                                <div id="div_central_filtro">
                                    <select id="cbCentral" name="IdCentral" multiple="multiple">
                                        @foreach (var item in Model.ListaCentral)
                                        {
                                            <option value="@item.Equicodi">@item.Equinomb</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td class="celda-item" style="padding-left: 15px;">Desde:</td>
                            <td>
                                <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                            </td>

                            <td class="celda-item" style="padding-left: 15px;">Hasta:</td>
                            <td>
                                <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                            </td>

                            <td style="padding-left: 15px;">
                                <input type="button" id="btnBuscar" value="Buscar" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="width: 390px;">
                    <a href="#" id="btnExpotar" style="text-decoration: none; float:right;">
                        <div class="content-item-action" style="text-align: center; ">
                            <img src="~/Content/Images/exportarExcel.png" alt="logo" style="width: 24px;" /><br />
                            <span style=" font-size: 12px; text-decoration: none; color: #3f6bc3;">Exportar</span>
                        </div>
                    </a>
                </td>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>

        <!--Listado de envios por carpetas-->
        <div class="table-list" id="listado">

            <div style="float:left;width:174px;height:460px;" id="bandeja">
                <div id="div_carpetas" style="margin:10px;">
                </div>
            </div>

            <div id="reporte" style="display:inline-block;float:right;width:850px;">
            </div>

        </div>
    </div>

    <div style="clear:both; height:30px"></div>


    <form id="frmEnvio" action="~/Areas/Combustibles/Views/Envio/EnvioCombLiquido" method="post">
        <input type="hidden" id="hdIdEnvio" name="idEnvio" />
        <input type="hidden" id="hdIdEmpresa" name="idEmpresa" />
        <input type="hidden" id="hdIdEquipo" name="idEquipo" />
        <input type="hidden" id="hdIdGrupo" name="idGrupo" />
        <input type="hidden" id="hdIdFenerg" name="idFenergcodi" />
    </form>
</div>

<div id="popupGen" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Seleccionar Información General</span></div>
    <div id="datosCombustible">
        <table class="tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresaGen" name="IdEmpresaGen" style="width: 250px">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfcbEmpresaGen" value="" />
                </td>
            </tr>
            <tr>
                <td>Central:</td>
                <td>
                    <select id="cbCentralGen" name="IdCentralGen" style="width: 250px">

                        @foreach (var item in Model.ListaCentral2)
                        {
                            <option value="@item.Codigogrupo">@item.Equinomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfcbCentral" value="" />
                </td>
            </tr>
            <tr>
                <td>Tipo de Combustible:</td>
                <td>
                    <select id="cbCombustible" name="IdsCombustible" style="width: 150px">
                        @if (Model.ListaCombustible.Count == 0)
                        {
                            <option value="-1">-SELECCIONE-</option>
                        }
                        else
                        {
                            foreach (var item in Model.ListaCombustible)
                            {
                                <option value="@item.Fenergcodi">@item.Fenergnomb</option>
                            }
                        }
                    </select>

                    <input type="hidden" id="hfcbTipoCombLiq" value="" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="btnElegir" value="Aceptar" />
                </td>

            </tr>
        </table>

    </div>
</div>

<div id="popupCancelar" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Cancelación de Envío</span></div>
    <div id="edicionObserv">
        <table class="table-form-vertical">
            <tr>
                <td class="tbform-label" style="">Motivo:</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="hfIdCancelarEnvio" value="0" />
                    <textarea id="txtMotivo" rows="5" maxlength="500" style="width:370px;"> </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="clear:both; height:20px"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <input type="button" id="btnAceptarCancelar" value="Enviar" />
                    <input type="button" id="btnCerrarCancelar" value="Cerrar" />
                </td>
            </tr>
        </table>
    </div>
</div>