@model COES.MVC.Intranet.Areas.Resarcimientos.Models.PeriodosModel
@{
    Layout = null;
    ViewBag.Title = "Default";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-periodo.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />
<div class="search-content" style="width:94%">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="clear"></div>
        <div class="field-group">
            <b>Fecha Modificada:</b> <input style="width:160px" type="text" disabled="disabled" value="@string.Format("{0:" + COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", (@Model.Perdfechaupdate != null ? Model.Perdfechaupdate : Model.Perdfechacreacion))">
            <b>Usuario que Modific&oacute;: </b><input type="text" disabled="disabled" value="@if(@Model.Perdusuarioupdate!=null){@Model.Perdusuarioupdate}else{@Model.Perdusuariocreacion}">

        </div>
    </div>
</div>


<div class="search-content" style="max-width:94%">
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:50px;">A&ntilde;o: </span>
            <div class="field-control">
                @Html.DropDownList("anio", ViewData["anio"] as List<SelectListItem>, new { @style = "width:100px" })
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width:50px;">Per&iacute;odo: </span>
            <div class="field-control">
                @Html.DropDownList("periodo", ViewData["periodo"] as List<SelectListItem>, new { @style = "width:100px" })
            </div>
        </div>
    </div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:50px;">Estado: </span>
            <div class="field-control">
                @Html.DropDownList("CboEstado", ViewData["CboEstado"] as List<SelectListItem>, new { @style = "width:100px" })
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="field-group">
        <center>
            <div>
                <input style="width: 100px; margin-left:150px;margin-top:15px" data-registro="@Model.Periodocodi" id="btnModificarPeriodo" type="button" value="Modificar" />
                <input style="width: 100px" id="btnCancelar" type="button" value="Cancelar" class="b-close" />
            </div>
        </center>
    </div>
</div>