@model List<COES.MVC.Intranet.Areas.Resarcimientos.Models.PeriodosModel>
@{
    ViewBag.Title = ".::Intranet SGOCOES COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-periodo.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/messaje-operation.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Período Semestral</div>
    <div class="content-botonera" style="margin-left:auto">
        <input id="btnNuevoPeriodo" type="button" value="Nuevo" title="Crear un Nuevo Per&iacute;odo" />
    </div>
</div>
<div class="content-hijo content-frame">
    <div class="field-group">
        <div class="field-group">
            <div class="field-wrap">

                <div>
                    <table border="0" class="pretty tabla-formulario">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th width="150px">Habilitar/Bloquear</th>
                                <th>Estado</th>
                                <th>Per&iacute;odo</th>
                                <th>Fecha Modificada</th>
                                <th>Usuario que Modific&oacute;</th>
                            </tr>
                        </thead>
                        <tbody id="contentPeriodo">
                            @if (Model != null)
                            {
                                foreach (var mp in Model)
                                {
                                    string @habil = "habilitado" + @mp.Periodocodi;
                                    string @perio = "periodo" + @mp.Periodocodi;

                                    <tr>
                                        <td><a data-registro="@mp.Periodocodi" class="btnEditarPeriodo btn-table" style="display:block;cursor:pointer" title="Editar Per&iacute;odo"><img src="~/Content/Images/btn-edit.png" /></a></td>
                                        <td><a class="btnEliminarPeriodo btn-table" data-registro="@mp.Periodocodi" data-periodo="@mp.Perdanio - @mp.Perdsemestre" style="display:block;cursor:pointer" title="Eliminar Periodo"><img src="~/Content/Images/btn-cancel.png" /></a></td>
                                        @if (@mp.Estado == "Habilitado")
                                        {
                                            <td><a data-registro="@mp.Periodocodi" data-periodo="@mp.Perdanio - @mp.Perdsemestre" class="btnHabilitarPeriodo btn-table" title="Estado Periodo" style="cursor:pointer"><img src="~/Content/Images/btn-ok.png" /></a></td>
                                        }
                                        else
                                        {
                                            <td><a data-registro="@mp.Periodocodi" data-periodo="@mp.Perdanio - @mp.Perdsemestre" class="btnHabilitarPeriodo btn-table" title="Estado Periodo" style="cursor:pointer"><img src="~/Content/Images/error.png" /></a></td>
                                        }

                                        <td align="center" class="texthabilitado" id="@habil">@mp.Estado</td>
                                        <td align="center" id="@perio">@mp.Perdanio - @mp.Perdsemestre</td>
                                        <td align="center">
                                            @string.Format("{0:" + COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull + "}", (@mp.Perdfechaupdate != null ? mp.Perdfechaupdate : mp.Perdfechacreacion))
                                        </td>
                                        <td align="center">
                                            @if (@mp.Perdusuarioupdate != null)
                                            {@mp.Perdusuarioupdate}
                                            else
                                            {@mp.Perdusuariocreacion}
                                    </td>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <script>
                        $('.tabla-formulario').dataTable({
                            "scrollY": "400px",
                            "scrollCollapse": true,
                            "paging": false
                        });
                    </script>

                </div>
            </div>
        </div>

        <div id="divBandeja" class="search-result">


        </div>
    </div>
</div>

<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>
<div id="MessagesClose">
    <div class="popup-title"><span>Mensaje de Operación</span></div>
    <div class="popup-text content-messajes-text">

    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>