@model COES.MVC.Intranet.Areas.Transferencias.Models.IngresoRetiroSCModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Periodo</th>
            <th>Versión</th>
            <th>Empresa</th>
            <th>Ingreso VTP</th>
            <th>Ingreso</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaIngresoRetiroSC)
        {
            <tr id="fila_@item.IngrscCodi">
                <td class="text_left">@item.PeriNombre</td>
                <td class="text_left">@item.IngrscVersion</td>
                <td class="text_left">@item.EmprNombre</td>
                <td style="text-align:right;">@item.IngrscImporteVtp.ToString("0.######")</td>
                <td style="text-align:right;">@item.IngrscImporte.ToString("0.######")</td>
                <td class="text_left">@item.IngrscUserName</td>
            </tr>
        }
    </tbody>
</table>
