@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

<div id="" style="margin-top: 10px;"></div>
<input type="hidden" id="hfInsPfrReccodi" value="@Model.IdRecalculo" />

<table style="margin-top: 10px; margin-left: 80px;" role="presentation">

    <tr>
        <td class="tbform-label">Costo de Racionamiento (S./MWh) (*):</td>

        <td>@Model.ValorActualCR</td>

    </tr>
    <tr>
        <td class="tbform-label">Canon de Agua (S./KWh) (*):</td>
        <td>@Model.ValorActualCA</td>
    </tr>
    <tr>
        <td class="tbform-label">Margen de Reserva (%) (*):</td>
        <td>@Model.ValorActualMR</td>
    </tr>
    <tr>
        <td>
            <input type="hidden" id="hfValorCR" value="@Model.ValorActualCR" />
            <input type="hidden" id="hfValorCA" value="@Model.ValorActualCA" />
            <input type="hidden" id="hfValorMR" value="@Model.ValorActualMR" />
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Recálculo de Potencia Firme (*):</td>
        <td>
            <select id="ins_recalculo_pf" name="" style="width:150px">

                @foreach (var item in Model.ListaRevisionesPF)
                {
                    <option value="@item.Pfrecacodi">@item.Pfrecanombre</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Recálculo de Indisponibilidades (Mes anterior) (*):</td>
        <td>
            <select id="ins_recalculo_ind_mes_anterrior" name="" style="width:150px">

                @foreach (var item in Model.ListaRevisionesIndMesAnterior)
                {
                    <option value="@item.Irecacodi">@item.Irecanombre</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="tbform-label">Recálculo de Transferencia (*):</td>
        <td>
            <select id="ins_recalculo_vtp" name="" style="width:150px">

                @foreach (var item in Model.ListaRecalculoTransferencia)
                {
                    <option value="@item.Recpotcodi">@item.Recpotnombre</option>
                }
            </select>
            
        </td>
    </tr>
    <tr>
        <td class="campo_obligatorio">   (*): Campos obligatorios</td>

    </tr>


</table>